<div class="row">
  <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 mb-sm-3">
    <div class="card">
      <div class="card-body">
        <!-- profile-sidebar pd-lg-r-25 -->
        <div class="">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <div class="avatar border rounded-circle avatar-xxl"><img src="{{_CustomerDetails.IconUrl}}"
                  class="rounded-circle" alt="">
              </div>
            </div><!-- col -->

            <div *ngIf="_CustomerDetails.OwnerAccounttypeCode=='appuser'" class="col-sm-8 col-md-8  mg-t-20 mg-sm-t-0 mg-lg-t-25 text-right">
              <h5 class="mg-b-2 tx-spacing--1"> <img width="80" src="assets/img/thankucash.svg" alt=""> </h5>
              <p class="text-secondary tx-12">Referred</p>
            </div>

          </div><!-- row -->

          <div class="row">
            <div class="col-sm-8 col-md-7 col-lg mg-t-20 mg-b-7 mg-sm-t-0 mg-lg-t-25">
              <h6 class="tx-20 tx-lg-17 tx-semibold mg-b-0 d-flex align-items-center" style="word-break: break-all;">
                {{_CustomerDetails.DisplayName}}&nbsp;{{_CustomerDetails.LastName ||
                "--"}}<span data-permission="updatecustomerprofile" class="text-primary tx-14 mg-l-10 pd-b-5 pnvalid"
                  (click)="Form_EditUser_Show()">
                  <i data-feather="edit"></i>
                </span>
              </h6>
              <div class="tx-color-01 tx-13 mg-b-0">{{_CustomerDetails.ContactNumber}}</div>
              <span class="text-lowercase mg-b-10" [ngClass]="_CustomerDetails.StatusB">{{ _CustomerDetails.StatusName
                || "--" }}</span>
              <!-- <div class="badge badge-primary tx-11 rounded-5 mg-r-10 pd-y-5 mg-b-15">Premium</div> -->

              <div class="d-flex mg-b-40">
                <div class="pnvalid" data-permission="updatecustomeraccountstatus">
                  <button class="btn  btn-xs btn-outline-danger tx-12 flex-fill mg-r-10"
                    *ngIf="_CustomerDetails.StatusName != 'Blocked'" (click)="BlockAccount()"> Block </button>
                </div>
                <div class="pnvalid" data-permission="updatecustomeraccountstatus">
                  <button class="btn btn-xs btn-outline-success tx-12  flex-fill mg-r-10"
                    *ngIf="_CustomerDetails.StatusName == 'Blocked'" (click)="UnblockBlockAccount()"> Unblock </button>
                </div>
                <div class="pnvalid" data-permission="updatecustomeraccountstatus">
                  <button class="btn btn-xs btn-outline-warning tx-12 flex-fill mg-l-10"
                    *ngIf="_CustomerDetails.StatusName != 'Suspended' " (click)="SusspendAccount()"> Suspend </button>
                </div>
                <div class="pnvalid" data-permission="updatecustomeraccountstatus">
                  <button class="btn btn-xs btn-outline-success tx-12 flex-fill mg-l-10"
                    *ngIf="_CustomerDetails.StatusName == 'Suspended' " (click)="UnblockBlockAccount()"> Make Active
                  </button>
                </div>
              </div>


              <!-- <div class="mg-b-30">
               
                <ul class="list-unstyled profile-info-list">
                  <li>
                   
                    <i data-feather="star" style="color: yellow;"></i>
                    <span class="tx-color-01 tx-13">Marked as Star</span>
                  </li>
                  <li>
                   
                    <i data-feather="eye"></i>
                    <span class="tx-color-01 tx-13">Mark as Under Surveillance</span>
                  </li>
                </ul>
              </div> -->


            <div class="mg-b-30">
                <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-15">email id</label>
                <ul class="list-unstyled profile-info-list">
                  <li><i data-feather="mail"></i> <span class="tx-color-01 tx-13">{{_CustomerDetails.EmailAddress ||
                      "--"}}</span>
                  </li>
                </ul>
              </div>
              <div class="mg-b-30">
                <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-15">Birthdate</label>
                <ul class="list-unstyled profile-info-list">
                  <li><i data-feather="calendar"></i> <span class="tx-color-01 tx-13">{{_CustomerDetails.DateOfBirthS ||
                      "--"}}</span>
                  </li>
                </ul>
              </div>
              <div class="mg-b-30">
                <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-15">Interested In</label>
                <ul class="list-unstyled profile-info-list">
                  <li *ngIf="_CustomerDetails.interestedin"> 
                    <div class="col-lg-12 Hm-media768 mg-b-20">
                      <div class="d-inline justify-content-between">
                        <div *ngFor="let ele of _CustomerDetails.interestedin">
                          <button class="d-flex align-items-center" type="button" style="background-color: #F8D7DA ;" 
                              class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 pd-r-10 pd-l-12 pd-y-5 text-warn text-sm mg-t-10">
                              <span class="tx-color-01 tx-13">{{ele.Title}}</span>
                                
                          </button>
                        </div>
                      </div>
                  </div>
                    
                  </li>
                  <li *ngIf="!_CustomerDetails.interestedin"> <span class="tx-color-01 tx-13">--
                    </span>
                </li>
                </ul>
              </div>
              <div class="mg-b-30">
                <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-15">Gender</label>
                <ul class="list-unstyled profile-info-list">
                  <li>
                    <span class="text-secondary tx-22" *ngIf="_CustomerDetails.GenderName == 'Female'"> <i
                        class="fas fa-venus"></i></span>
                    <span class="text-secondary tx-22" *ngIf="_CustomerDetails.GenderName == 'Male'"> <i
                        class="fas fa-mars"></i> </span>

                    <span class="tx-color-01 tx-13 mg-l-10">{{_CustomerDetails.GenderName || "--"}}</span>
                  </li>
                </ul>
              </div>
              <div class="mg-b-30">
                <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-15">Address </label>
                <ul class="list-unstyled profile-info-list">

                  <li class="">
                    <span class="" style="width: 24px !important; width: 24px !important;">
                      <i data-feather="map-pin"></i>
                    </span>
                    <span class="tx-color-01 tx-13 text-justify"
                      style="width:90%; word-wrap:break-word; display:inline-block;">
                      {{_CustomerDetails.Address || "--"}}
                    </span>
                  </li>
                 

                </ul>
              </div>
              <div class="mg-b-30">
                <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-15">Last
                  Transaction</label>
                <ul class="list-unstyled profile-info-list">
                  <li>
                    <i data-feather="calendar"></i>
                    <!-- <span class="tx-color-01 tx-13">{{_CustomerDetails.LastTransactionDate || "--"}}</span> -->
                    <span class="tx-color-01 tx-13 text-lowercase">{{_CustomerDetails.LastTransactionDate | date :["dd-MM-yyyy hh:mm a"] || "--" }}</span>
                  </li>
                </ul>
              </div>
              <div class="mg-b-30">
                <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-15">Added on
                </label>
                <ul class="list-unstyled profile-info-list">
                  <li><i data-feather="calendar"></i>
                    <!-- <span class="tx-color-01 tx-13">{{_CustomerDetails.CreateDateS}}</span> -->
                    <span class="tx-color-01 tx-13 text-lowercase">{{_CustomerDetails.CreateDate| date :["dd-MM-yyyy hh:mm a"] || "--" }}</span>
                  </li>
                </ul>
              </div>
              <div class="mg-b-30">
                <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-15">Onboard via
                </label>
                <ul class="list-unstyled profile-info-list">
                  <li> <i data-feather="plus-circle"></i> 
                    <b *ngIf="_CustomerDetails?.AppName == 'Merchant App'" class="tx-color-01 tx-13">Merchant App</b>
                    <b *ngIf="_CustomerDetails?.AppName == 'TUC - Web'" class="tx-color-01 tx-13"> Customer App</b>
                    <b *ngIf="!_CustomerDetails?.AppName" class="tx-color-01 tx-13">Merchant Panel</b>
                  </li>
                  <li><span class="tx-color-01 tx-15" style="margin-left: 11%;cursor: pointer;color:#5B46FB;text-transform: capitalize" (click)="merchantDeatils(_CustomerDetails)">{{_CustomerDetails?.CreatedByDisplayName}}</span></li>
                  <li *ngIf="_CustomerDetails.IsWelcomeSmsSent"><i data-feather="message-square"></i>
                    <span class="tx-color-01 tx-13">Welcome SMS Sent</span>
                  </li>
                  <li *ngIf="_CustomerDetails.IsWelcomeSmsDelivered"><i data-feather="message-square"></i> <span
                      class="tx-color-01 tx-13">Welcome SMS Delivered</span>
                  </li>
                </ul>
              </div>


            </div>

          </div>
        </div><!-- profile-sidebar -->
      </div>
    </div>
  </div>
  <div class="card border-0 col-md-8 col-lg-8 col-xl-8 col-sm-12 border pd-x-0 ">
    <!-- <div class="card p-0 mg-b-10" *ngIf="(!_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled) && _AccountBalance.IsLoaded"> -->
    <div class="p-0 mg-b-10">
      <div class="row">
        <div class="col">
          <div class="bd-b-0 pd-x-20 pd-b-20 pd-t-10">
            <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist"
              [routerLinkActive]="['active']">

              <!-- *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled == false" -->
              <div class="d-flex flex-wrap ">
                <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                  <a class="nav-link" id="Topup-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.Accounts.CustomerOverview}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Overview</a>
                </li>
               
                <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                  <a class="nav-link" id="Topup-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.Accounts.WalletInfo}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Wallet Information</a>
                </li>

                <!-- <li class="nav-item pt-1 "><a class="nav-link " href="#" data-toggle="tab" data-target="#tab-2"
                  (click)="tabSwitched('usage')">Usage Report</a></li> -->

                  <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                    <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                        routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.Referal}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                        aria-controls="Stores" aria-selected="false">Referral (TUC App - Refer & Earn)</a>
                </li>

                <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                  <a class="nav-link" id="Stores-tab6" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.BnplConfigurations}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    aria-controls="Stores" aria-selected="false">BNPL Configurations</a>
                </li>
               

                <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                  <a class="nav-link" id="Topup-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.Accounts.Cashout}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Cashout</a>
                </li>

              </div>

            </ul>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="Form_TopUp_Content" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Credit Reward Wallet</h5>
        </div>
        <div class="modal-body  p-lg">

          <div class="mb-3 b-b pb-3">
            <!-- <h6 class="mg-b-5">Available Balance</h6>  -->
            <!-- <h5  *ngIf="TopUpHistoryList_Config.Data[0]"> <span class="text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>  {{_AccountBalance.Balnace}}  </h5>  -->

            <div class="mb-2">
              Enter Amount
            </div>
            <div class="input-group text-warn mb-3">
              <span class="input-group-prepend ">
                <span class="input-group-text text-warn"><span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> </span>
              </span>
              <input type="text" maxlength="7" class="form-control text-warn" placeholder="Amount to credit"
                (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_AccountBalanceCreditAmount">

              <div class="text-secondary mg-t-5">This amount will be credited in your wallet, you can further use it to
                give rewards to your customers.</div>
            </div>

          </div>
       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ "Common.Close" | translate }}
          </button>
          <button
            *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000 || _AccountBalanceCreditAmount > 1000000)"
            class="btn btn-primary " disabled>Confirm</button>
          <button *ngIf="_AccountBalanceCreditAmount >= 1000 && _AccountBalanceCreditAmount <= 1000000"
            class="btn btn-success" angular4-paystack [key]="_HelperService.AppConfig.PayStackKey"
            [email]="_HelperService.User.EmailAddress" [amount]="_AccountBalanceCreditAmount * 100"
            [class]="'btn btn-primary'" [ref]="_TransactionReference" (close)="paymentCancel()"
            (callback)="paymentDone($event)" data-dismiss="modal">Confirm</button>

        </div>


      </div>
    </div>
  </div>
  <div id="Account_Edit_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true"
    style="overflow-y: scroll !important;">
    <div class="modal-dialog modal-dialog-centered dropdown modal-lg">
      <div class="modal-content">
        <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
          <div class="modal-header">
            <h5 class="modal-title">Update customer</h5>
          </div>
          <div class="modal-body  p-lg">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">

                    <label class="tx-13 ">First Name<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                      <input type="text" placeholder="First Name" name="FirstName" minlength="1" maxlength="100"
                        class="form-control" [formControl]="Form_EditUser.controls['FirstName']"
                        [(ngModel)]="_CustomerDetails.FirstName"
                        [ngClass]="{'is-invalid':!Form_EditUser.controls['FirstName'].valid && Form_EditUser.controls['FirstName'].touched}">
                    </div>

                    <label class="text-danger" for="FirstName"
                      *ngIf="Form_EditUser.controls['FirstName'].hasError('required') && Form_EditUser.controls['FirstName'].touched">
                      First Name Required
                    </label>
                  
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="tx-13 ">Last Name<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                      <input type="text" placeholder="Last Name" name="LastName" minlength="1" maxlength="100"
                        class="form-control" [formControl]="Form_EditUser.controls['LastName']"
                        [(ngModel)]="_CustomerDetails.LastName"
                        [ngClass]="{'is-invalid':!Form_EditUser.controls['LastName'].valid && Form_EditUser.controls['LastName'].touched}">
                    </div>

                    <label class="text-danger" for="LastName"
                      *ngIf="Form_EditUser.controls['LastName'].hasError('required') && Form_EditUser.controls['LastName'].touched">
                      Last name required
                    </label>

                  </div>


                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="tx-13 ">Email Address <span class="text-danger"> * </span> </label>
                    <div class="controls">
                      <input type="text" placeholder="Email Address" name="EmailAddress" minlength="1" maxlength="100"
                        class="form-control" [formControl]="Form_EditUser.controls['EmailAddress']"
                        [(ngModel)]="_CustomerDetails.EmailAddress"
                        [ngClass]="{'is-invalid':!Form_EditUser.controls['EmailAddress'].valid && Form_EditUser.controls['EmailAddress'].touched}">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
                      </label>
                    </div>
                    <div class="radio float-left mr-3">
                      <label class="ui-check"><input type="radio" name="gender"
                          [value]="_HelperService.AppConfig.Gender.Male" [(ngModel)]="_CustomerDetails.GenderCode"
                          [formControl]="Form_EditUser.controls['GenderCode']">
                        <i class="dark-white"></i>
                        {{ 'System.Users.Male' | translate }}</label>
                    </div>
                    <div class="radio float-left  mr-3"><label class="ui-check"><input type="radio" name="gender"
                          [value]="_HelperService.AppConfig.Gender.Female" [(ngModel)]="_CustomerDetails.GenderCode"
                          [formControl]="Form_EditUser.controls['GenderCode']">
                        <i class="dark-white"></i>
                        {{ 'System.Users.Female' | translate }}</label></div>

                    <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                          [value]="_HelperService.AppConfig.Gender.Other" [(ngModel)]="_CustomerDetails.GenderCode"
                          [formControl]="Form_EditUser.controls['GenderCode']">
                        <i class="dark-white"></i>
                        {{ 'System.Users.Other' | translate }}</label></div>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="tx-13 ">Address<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                      <textarea type="text" rows="5" [(ngModel)]="_CustomerDetails.Address"
                        [formControl]="Form_EditUser.controls['Address']" placeholder="Address" name="Address"
                        minlength="1" maxlength="100" class="form-control"> </textarea>
                    </div>
               
                  </div>
                </div>
              </div>
              
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_EditUser_Close()">
              {{ "Common.Close" | translate }}
            </button>
            <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_EditUser.value.OperationType = 'new'"
              [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
              <span *ngIf="!_HelperService.IsFormProcessing">
                {{ "Common.Update" | translate }}
              </span>
              <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                {{ "Common.PleaseWait" | translate }}...
              </span>
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>



<!-- code -->
