<!-- acquirer--merchant--sales -->
<!-- <ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>

  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Reward History
    </a></li>
</ol> -->
<h4 class="mg-b-12 tx-spacing--1"> Reward History </h4>
<div class="card">
  <div class="card-header">
    <div class=" d-sm-flex">

      <div class="media">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <span class="tx-20"> <i class="fas fa-money-bill-alt"></i></span>
        </div>
        <div class="media-body">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Sale amount </h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{OverviewData.InvoiceAmount | number:
            "1.2-2" }}
          </h4>
        </div>
      </div>
      <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <span class="tx-20"> <i class="fas fa-money-bill-alt"></i></span>
        </div>
        <div class="media-body">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Reward Amount
          </h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{OverviewData.RewardAmount | number:
            "1.2-2" }}
          </h4>
        </div>
      </div>
      <div class=" media  mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
          <i data-feather="shopping-cart"></i>
        </div>
        <div class="media-body bd-pink">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
            Reward Transactions</h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">{{OverviewData.Transactions| number: "1.0-0"}}
          </h4>
        </div>
      </div>

    </div>
  </div>
  <div class="box-header px-3 pd-t-15 pd-b-7 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TUTr_TToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>

    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>
            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
              (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <!-- <div *ngFor="let TItem of TUTr_Config.SortExpressionOption"
                           (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                           {{TItem.Name}}
                       </div> -->
            <!-- <div class="mt-2">
                           <button type="button" class="btn btn-primary btn-sm mr-2"
                               (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.SortApply)">Apply</button>
 
                           <button type="button" class="btn btn-light btn-sm "
                               (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortReset)">
                               Reset</button>
                       </div> -->
            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu pd-0 tx-13">
          <form class="wd-400 ">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
              Filters
            </h6>
            <div class="pd-25" style="overflow: auto; height: 80vh;" *ngIf="ResetFilterControls">
              <div>
                <div class="form-group">
                  <label>Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Status</label>
                  <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                    [data]="TUTr_Config.StatusOptions"
                    (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                  </select2>
                </div>
              </div>
              <!-- <div>
                <div class="form-group">
                  <label>Merchant</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="TUTr_Filter_Merchant_Option"
                      (valueChanged)="TUTr_Filter_Merchants_Change($event)">
                    </select2>
                  </div>
                </div>
              </div> -->
              <div>
                <div class="form-group">
                  <label>Store</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                      (valueChanged)="TUTr_Filter_Stores_Change($event)">
                    </select2>
                  </div>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Cashier</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="TUTr_Filter_Cashier_Option"
                      (valueChanged)="TUTr_Filter_Cashiers_Change($event)">
                    </select2>
                  </div>
                </div>
              </div>
              <!-- <div>
                <div class="form-group">
                  <label>POS</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="TUTr_Filter_Terminal_Option"
                      (valueChanged)="TUTr_Filter_Terminals_Change($event)">
                    </select2>
                  </div>
                </div>
              </div> -->
              <div>
                <div class="form-group">
                  <label>Transaction Type</label>
                  <select2 class="full-width" [options]="TUTr_Filter_TransactionType_Option"
                    (valueChanged)="TUTr_Filter_TransactionTypes_Change($event)">
                  </select2>
                </div>
              </div>
              <!-- <div>
                <div class="form-group">
                  <label>Card Brand</label>
                  <select2 class="full-width" [options]="TUTr_Filter_CardBrand_Option"
                    (valueChanged)="TUTr_Filter_CardBrands_Change($event)">
                  </select2>
                </div>
              </div> -->
              <!-- <div>
                <div class="form-group">
                  <label>Bank</label>

                  <select2 class="full-width" [options]="TUTr_Filter_Bank_Option"
                    (valueChanged)="TUTr_Filter_Banks_Change($event)">
                  </select2>
                </div>
              </div> -->
              <div class="">
                <div class="form-group">
                  <label for=""> Provider</label>
                  <select2 class="full-width" [options]="TUTr_Filter_Provider_Option"
                    (valueChanged)="TUTr_Filter_Providers_Change($event)">
                  </select2>
                </div>
              </div>
              <!-- <div class="form-group">
                <ng5-slider [value]="TUTr_InvoiceRangeMinAmount" [highValue]="TUTr_InvoiceRangeMaxAmount"
                  [options]="_HelperService.AppConfig.RangeInvoiceAmountOptions"
                  (userChangeEnd)="TUTr_InvoiceRange_OnChange($event)">
                </ng5-slider>
              </div> -->

              <!-- <div class="mg-b-70">
                <ng5-slider [value]="TUTr_RewardRangeMinAmount" [highValue]="TUTr_RewardRangeMaxAmount"
                  [options]="_HelperService.AppConfig.RangeRewardAmountOptions"
                  (userChangeEnd)="TUTr_RewardRange_OnChange($event)">
                </ng5-slider>
              </div> -->

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="controls">
                      <label for="InvoiceRangeMaxAmount">Min Sale Amount</label>
                      <input type="number" name="InvoiceRangeMinAmount" maxlength="256" class="form-control"
                        [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                        (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="controls">
                      <label for="InvoiceRangeMaxAmount">Max Sale Amount</label>
                      <input type="number" name="InvoiceRangeMaxAmount" maxlength="256" class="form-control"
                        [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                        (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mg-b-70">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="controls">
                      <label for="RewardRangeMinAmount">Min Reward Amount</label>
                      <input type="number" name="RewardRangeMinAmount" maxlength="256" class="form-control"
                        [(ngModel)]="TUTr_RewardRangeMinAmount"
                        (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="controls">
                      <label for="RewardRangeMaxAmount">Max Reward Amount</label>
                      <input type="number" name="RewardRangeMaxAmount" maxlength="256" class="form-control"
                        [(ngModel)]="TUTr_RewardRangeMaxAmount"
                        (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                    </div>
                  </div>
                </div>
              </div>



            </div>

            <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
              style="position: fixed; bottom:0%; margin-top: -2.5em ;">
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
            </div>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
      <a class="nav-link ml-2 RefreshColor cursor-pointer RefreshColorOne"
        (click)="TUTr_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
          data-feather="download"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='TransactionDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      <!-- {{TItem.data[0].TerminalId?TItem.data[0].TerminalId:TItem.data[0].Name}} -->
      {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:TItem.data[0].Name?TItem.data[0].Name:TItem.data[0].TerminalId}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
  !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
      Sale Range
      [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" + _HelperService.FilterSnap.SalesRange.SalesMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>



    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
  !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RewardMin==0 && _HelperService.FilterSnap.SalesRange.RewardMax==10000000)" (click)="RemoveFilterComponent('RewardRange')">
      Reward
      Range [{{_HelperService.FilterSnap.SalesRange.RewardMin + "--" + _HelperService.FilterSnap.SalesRange.RewardMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
  </div>

  <div class="card-body p-0 table-responsive">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
      <thead>
        <tr>
          <th class="">Status</th>
          <th class="td-date">Date & Ref</th>
          <th>Customer</th>
          <!-- <th>Transaction type</th> -->
          <th class="text-right">Sale Amount(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
          </th>
          <th class="td-amount text-right">Reward Amount(<span
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
          <th class="td-amount text-right">User Reward(<span
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
          <th class="td-amount text-right">TUC COM(<span
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
          <th class="">Store</th>
          <th class="">Cashier</th>
          <th>POS</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="ShowOffCanvas(TItem)" style="cursor: pointer;" *ngFor="
               let TItem of (TUTr_Config.Data
                 | paginate
                   : {
                       id: 'TUTr_Paginator',
                       itemsPerPage: TUTr_Config.PageRecordLimit,
                       currentPage: TUTr_Config.ActivePage,
                       totalItems: TUTr_Config.TotalRecords
                     })
             ">
          <td>
            <div class="">
              <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
            </div>
          </td>

          <td class="td-date">
            <div>{{ TItem.TransactionDateD || "--" }}
              <!-- <span class="">{{ TItem.TransactionDateT || "--" }}</span> -->
            </div>
            <div>{{ TItem.TransactionDateT || "--" }}</div>
            <div class="tx-12 text-secondary">
              <span class="">{{ TItem.ReferenceNumber || "--" }}</span>
            </div>
          </td>
          <td class="cursor-pointer" (click)="RouteCustomer(TItem)">
            <div class="route-hover"> {{ TItem.UserDisplayName || "--" }}</div>
            <span class="tx-12 text-secondary">
              {{ TItem.UserMobileNumber || "--" }}

            </span>
          </td>
          <td>
            <div class="text-right">
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> {{ TItem.InvoiceAmount}}
              <div class="tx-12 text-secondary">{{ TItem.TypeName || "--" }}</div>
            </div>
          </td>
          <td class="text-right">
            <div>
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{ TItem.RewardAmount | number: "1.2-2" || "0" }}
            </div>
          </td>
          <td class="text-right">
            <div>
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{ TItem.UserAmount | number: "1.2-2" || "0" }}
            </div>
          </td>
          <td class="text-right text-primary">
            <div>
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{ TItem.CommissionAmount | number: "1.2-2" || "0" }}
            </div>
          </td>
          <td class="cursor-pointer" (click)="StoreRoute(TItem)">
            <div class="route-hover">{{ TItem.StoreDisplayName || "--" }}</div>
            <div class="tx-12 text-muted">
              {{ TItem.Address | truncateText:40 || "--" }}
            </div>
          </td>


          <td class="cursor-pointer" (click)="CashierRoute(TItem)">
            <div class="route-hover">{{ TItem.CashierDisplayName || "--" }}</div>
            <div class="tx-12 text-muted">
              {{ TItem.CashierCode || "--" }}
            </div>
          </td>


          <td class="cursor-pointer" (click)="Terminal(TItem)">
            <div class="tx-bold route-hover">{{ TItem.TerminalId || "--" }}
            </div>
            <div class="tx-12 text-muted">
              {{ TItem.AcquirerDisplayName || "--" }}
              <span>- {{ TItem.ProviderDisplayName || "--" }}</span>
            </div>
          </td>





          <!-- 
            Fetch the parameter’s “TerminalId” and “TerminalReferenceId”.
           -->
          <!-- <td class="cursor-pointer" (click)="Terminal(TItem)">
            <div class="tx-bold route-hover">{{ TItem.TerminalId || "--" }}
            </div>
            <div class="tx-12 text-muted">
              {{ TItem.TerminalReferenceId || "--" }}
              <span>- {{ TItem.ProviderDisplayName || "--" }}</span>
            </div>
          </td> -->




        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TUTr_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
        (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
        (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>


<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas
  style="width: 480px !important; overflow-y:auto !important ;">
  <div class="off-canvas-content">
    <div class="card  bd-b-0">
      <div class="card-header bd-0">

        <div class="row mg-t-10">
          <div class="col-md-4 float-left tx-24 tx-bold">Details </div>

          <div class="col-md-8 text-right">
            <!-- <span class="btn tx-10">  <img height="20" width="20" src="assets/img/smsimg/delivered.svg" alt="Image alt text"
                        title="Logo Title Text 1" /> SMS Sent </span> -->

            <span *ngIf="smsStatuscode=='Sent'" class="btn cursor-pointer text-success p-0 tx-12"
              style="position: absolute; z-index: 3;right:150px;" data-toggle="tooltip" title="smsDatetime">
              <i class="fa fa-envelope-o" aria-hidden="true"></i> Sent
            </span>
            <span *ngIf="smsStatuscode=='Delivered'" class="btn cursor-pointer text-primary p-0 tx-12"
              style="position: absolute; z-index: 3;right:70px;" data-toggle="tooltip" title="smsDatetime">
              <i class="fa fa-envelope-o" aria-hidden="true"></i> Delivered
            </span>
            <span *ngIf="smsStatuscode=='Failed'" class="btn cursor-pointer text-danger p-0 tx-12"
              style="position: absolute; z-index: 3;right:8px;" data-toggle="tooltip"
              title="{{_HelperService.GetDateS(smsDatetime)}}">
              <i class="fa fa-envelope-o" aria-hidden="true"></i> Failed
            </span>

            <span *ngIf="smsStatuscode=='Unauthorized'" class="btn cursor-pointer  p-0 tx-12"
              style="position: absolute; z-index: 3;right:8px;" data-toggle="tooltip"
              title="{{_HelperService.GetDateS(smsDatetime)}} | {{_HelperService.GetTimeS(smsDatetime)}}">
              <i class="fa fa-envelope-o" aria-hidden="true"></i> Unauthorized
            </span>

          </div>
        </div>
        <ul class="nav nav-line" id="myTab" role="tablist">

          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#StoreManager" role="tab"
              aria-controls="StoreManager" aria-selected="true">Transaction Invoice</a>
          </li>
        </ul>
      </div>

      <div class="card-body  p-lg pd-l-15">
        <div class="tab-content pd-x-20 bd-t-20 " id="myTabContent">
          <div class="tab-pane fade show active" id="StoreManager" role="tabpanel" aria-labelledby="home-tab">
            <div class="card mt-n3" style="padding: 10px;">
              <div style="border-bottom: 1px dashed #C0CCDA;">
                <div class="text-center">
                  <h3 class=" tx-14 mg-b-8 mg-t-10 lh-1">
                    {{CustomerData.SubParentDisplayName || "--"}}
                  </h3>

                </div>
                <div class="text-center">
                  <h3 class=" tx-12 mg-b-8 mg-t-10 lh-1 text-secondary">
                    {{CustomerData.ParentDisplayName || "--"}}
                  </h3>

                </div>

                <div class="px-3 mg-b-10">
                  <div class="row mg-b-5">
                    <div class="col-md-7 text-primary">&nbsp;{{CustomerData.ParentMobileNumber || "--"}}</div>
                    <div class="col-md-0 "></div>
                    <div class="col-md-5 text-primary text-right">
                      {{_HelperService.GetDateS(CustomerData.TransactionDate)}}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-7 text-primary">&nbsp;{{CustomerData.ParentEmailAddress || "--"}}</div>
                    <div class="col-md-0 "></div>
                    <div class="col-md-5 text-primary text-right">
                      {{_HelperService.GetTimeS(CustomerData.TransactionDate)}}</div>
                  </div>
                </div>




              </div>
              <div class="text-center mg-t-10">
                <h5 class="tx-14 text-success">** {{CustomerData.StatusName}}&nbsp;Transaction **</h5>
              </div>
              <div class="px-3">
                <div class="row mg-t-10">
                  <div class="col-md-5 float-left text-secondary tx-14">Terminal</div>
                  <div class="col-md-1">:</div>
                  <div class="col-md-6 text-right">
                    <h5 class="tx-14">{{CustomerData.TerminalId || "--"}}</h5>
                  </div>
                </div>

                <div class="row mg-t-10">
                  <div class="col-md-5 float-left text-secondary">Merchant Id</div>
                  <div class="col-md-1">:</div>
                  <div class="col-md-6 text-right">
                    <h5 class="tx-14">{{CustomerData.ParentId || "--"}}</h5>
                  </div>
                </div>



                <div class="row mg-t-10">
                  <div class="col-md-5 float-left text-secondary">Ref ID</div>
                  <div class="col-md-1">:</div>
                  <div class="col-md-6 text-right">
                    <h5 class="tx-14">{{CustomerData.ReferenceNumber || "--"}}</h5>
                  </div>
                </div>
                <div class="row mg-t-10">
                  <div class="col-md-5 float-left text-secondary">Customer</div>
                  <div class="col-md-1">:</div>
                  <div class="col-md-6 text-right">
                    <h5 class="tx-14">{{CustomerData.UserMobileNumber ||"--" }}</h5>
                    <div class=" text-right text-secondary tx-12 mt-n2">{{CustomerData.UserDisplayName ||"--" }}</div>
                  </div>
                </div>

                <div class="row mg-t-10">
                  <div class="col-md-5 float-left text-secondary">Transaction Type</div>
                  <div class="col-md-1">:</div>
                  <div class="col-md-6 text-right">
                    <h5 class="tx-14">{{CustomerData.TypeName || "--"}}</h5>
                  </div>
                </div>

                <div class="row mg-t-10">
                  <div class="col-md-5 float-left text-secondary">Card Type</div>
                  <div class="col-md-1">:</div>
                  <div class="col-md-6 text-right">
                    <h5 class="tx-14">{{CustomerData.AcquirerDisplayName || "--"}}</h5>
                  </div>
                </div>

                <div class="row mg-t-10">
                  <div class="col-md-5 float-left text-secondary">Card No</div>
                  <div class="col-md-1">:</div>
                  <div class="col-md-6 text-right">
                    <h5 class="tx-14">{{CustomerData.CardNumber || "--"}}</h5>
                  </div>
                </div>

                <div class="row mg-t-10">
                  <div class="col-md-5 float-left text-secondary">Cashier</div>
                  <div class="col-md-1">:</div>
                  <div class="col-md-6 text-right">
                    <h5 class="tx-14">{{CustomerData.CashierId ||"--" }}</h5>
                    <div class=" text-right text-secondary tx-12 mt-n2">{{CustomerData.CashierDisplayName }}</div>
                  </div>
                </div>
                <hr>

                <div class="row mg-t-20">
                  <div class="col-md-6 float-left">
                    <h5 class="tx-14">Amount Breakup</h5>
                  </div>
                </div>


                <div class="row mg-t-10">
                  <div class="col-md-5 float-left text-secondary">Sale amount</div>
                  <div class="col-md-1">:</div>
                  <div class="col-md-6 text-right tx-14"> <span class=" text-sm"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>&nbsp;{{CustomerData.InvoiceAmount
                    || "--"}}</div>
                </div>

                <div class="row mg-t-10">
                  <div class="col-md-5 float-left text-secondary">User Reward</div>
                  <div class="col-md-1">:</div>
                  <div class="col-md-6 text-right tx-14"> <span class=" text-sm"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>&nbsp;{{CustomerData.RedeemAmount
                    || "--"}}</div>
                </div>

                <div class="row mg-t-10">
                  <div class="col-md-5 float-left text-secondary">Reward Amount</div>
                  <div class="col-md-1">:</div>
                  <div class="col-md-6 text-right tx-14"> <span class=" text-sm"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>&nbsp;{{CustomerData.RewardAmount
                    || "--"}}</div>
                </div>

                <div class="row mg-t-10">
                  <div class="col-md-5 float-left">
                    <h5 class="tx-14 text-uppercase">Total</h5>
                  </div>
                  <div class="col-md-1">:</div>
                  <div class="col-md-6 text-right tx-14"><span class=" text-sm"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>&nbsp;{{CustomerData.InvoiceAmount
                    || "--"}}</div>
                </div>
                <div class="text-center mg-t-20">
                  <h5 class="tx-12 text-secondary">Powered by ITEX</h5>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-secondary mr-n3 float-right" style="margin-left: 10px;"
                (click)="unclick()"> Close </button>
              <button type="button" class="btn btn-primary float-right" (click)="openRewardDialogue()"  [disabled]="CustomerData.StatusName=='Cancelled'">
                Cancel Reward </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Form_Cancel_Reward_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form role="form">
        <div class="modal-header">
          <h5 class="modal-title">Cancel Reward</h5>
        </div>
        <div class="modal-body  p-lg">
          <div>
            <label>Reason <span class="text-danger">*</span></label>
            <textarea type="text" name="reason" placeholder="Enter Reason" required class="form-control"
              [(ngModel)]="cancelReason"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mg-l-5" data-dismiss="modal" (click)="Cancel_dialogue_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="cancelReward()">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>