<div class="shadow-none">

    <!-- <div class="form-group mg-t-15 mg-b-15 wd-200">
        <label>Date</label>
        <input type="text" class="form-control  form-daterangepicker full-width" name="daterangeInput" daterangepicker
            [options]="_HelperService.AppConfig.DatePickerOptions" (click)="_HelperService.StopClickPropogation()"
            (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    </div> -->

    <!-- <div class="row row-xs mg-b-10">
        <div class="col-sm-6 col-lg-3">
            <div class="card card-body shadow-none ht-100p" id="SaleAmount">
                <div class="row">
                    <div class="col-lg-9">
                        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">TOTAL SMS SENT</h6>
                    </div>
                    <div class="col-lg-3">
                        <img height="20" width="20" src="assets/img/smsimg/total.svg" alt="Image alt text"
                            title="Logo Title Text 1" />
                    </div>
                </div>

                <div class="d-flex d-lg-block d-xl-flex align-items-end">
                    <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
                        {{this.SmsOverview.Total || "0"}}
                    </h3>
            
                </div>
                <p class="tx-12 text-secondary mg-b-0 "> From {{CampaignOverview.Running || "0"}} Running Campaigns</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
            <div class="card card-body shadow-none ht-100p" id="Transactions">

                <div class="row">
                    <div class="col-lg-9">
                        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">SMS DELIVERY RATE
                        </h6>
                    </div>
                    <div class="col-lg-3">
                        <img height="20" width="20" src="assets/img/smsimg/delivered.svg" alt="Image alt text"
                            title="Logo Title Text 1" />
                    </div>
                </div>


                <div class="d-flex d-lg-block d-xl-flex align-items-end">
                    <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
                        {{ this.SmsOverviewPer.Delivered || "0" }}%</h3>
                   
                </div>
                <p class="tx-12 text-secondary mg-b-0 "> Total {{SmsOverview.Delivered || "0"}} <strong>SMS</strong>
                    Delivered Successfully</p>


            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
            <div class="card card-body shadow-none ht-100p" id="CustomerVisits">

                <div class="row">
                    <div class="col-lg-9">
                        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">FAILED RATE</h6>
                    </div>
                    <div class="col-lg-3">
                        <img height="20" width="20" src="assets/img/smsimg/failed.svg" alt="Image alt text"
                            title="Logo Title Text 1" />
                    </div>
                </div>


                <div class="d-flex d-lg-block d-xl-flex align-items-end">
                    <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1">

                        {{ this.SmsOverviewPer.Failed || "0" }}%</h3>
                </div>
                <p class="tx-12 text-secondary mg-b-0 ">Total {{SmsOverview.Failed || "0"}} <strong> SMS</strong> Failed
                </p>


            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
            <div class="card card-body shadow-none ht-100p" id="RewardPercentage">

                <div class="row">
                    <div class="col-lg-9">
                        <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">Pending RATE</h6>
                    </div>
                    <div class="col-lg-3">
                        <img height="20" width="20" src="assets/img/smsimg/painding.svg" alt="Image alt text"
                            title="Logo Title Text 1" />
                    </div>
                </div>


                <div class="d-flex d-lg-block d-xl-flex align-items-end">
                    <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1">
                        {{this.SmsOverviewPer.Pending || "0" }}%</h3>

                </div>
                <p class="tx-12 text-secondary mg-b-0 ">Total {{SmsOverview.Pending || "0"}} <strong> SMS</strong> are
                    Pending</p>
            </div>
        </div>
    </div> -->

    <div class="row row-xs">
        <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12 pd-l-20" id="CustomerHourly">
            <div class="card">
                <div
                    class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
                    <div>
                        <h6 class="mg-b-5 tx-14">Delivery Rate</h6>
                    </div>
                </div><!-- card-header -->

                <div class="card-body pd-x-25 pd-y-20">

                    <div class="row align-items-sm-end">
                        <div class="col-lg-2 col-xl-2"></div>
                        <div class="col-lg-8 col-xl-8" *ngIf="SmsOverview.Total != 0">
                            <canvas *ngIf="showSMSChart" baseChart style="height: 250px;"
                                [datasets]="datapieType.datasets" [chartType]="pieChartType" [options]="pieChartOptions"
                                [legend]="false" [colors]="donutColors">

                            </canvas>

                        </div>

                        <div class="col-lg-2 col-xl-22"></div>



                        <div class="col-lg-12 col-xl-12 ht-200 d-flex align-items-center justify-content-center"
                            *ngIf="SmsOverview.Total == 0">
                            <div class="">
                                <div
                                    class="wd-100 wd-md-100 ht-100 ht-md-100 bd bd-2 bd-muted bg-transparent tx-gray-300 tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                                    <img height="30" width="30" src="../../../../assets//images//message-square.svg"
                                        alt="">
                                </div>
                                <div class="pt-3 text-center">
                                    <span class="tx-medium tx-14 text-secondary"> No SMS sent yet in this time
                                        frame.</span><br>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- card-body -->
                <div class="card-footer pd-20">
                    <div class="row" style="margin-top: -10px;">
                        <div class="col-3" style="border-right: 1px solid #e5e9f2;padding: 11px;">
                            <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">Total SMS
                                Sent</p>
                            <div class="d-flex align-items-center">
                                <h5 class="tx-bold tx-rubik text-secondary mg-b-0">
                                    {{SmsOverview.Total || "0"}}

                                    <!-- <small class="tx-color-03 tx-11"> Total no. of transactions done in this period by POS
                          terminal</small> -->

                                </h5>
                            </div>
                        </div><!-- col -->
                        <div class="col-3" style="border-right: 1px solid #e5e9f2;padding: 11px;">
                            <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Delivered</p>
                            <div class="d-flex align-items-center">
                                <h5 class="tx-bold text-primary tx-rubik mg-b-0" >
                                    {{SmsOverview.Delivered || "0"}}

                                </h5>
                            </div>
                        </div><!-- col -->
                        <div class="col-3" style="border-right: 1px solid #e5e9f2;padding: 11px;">
                            <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Failed</p>
                            <div class="d-flex align-items-center">
                                <h5 class="tx-bold tx-rubik  mg-b-0" style="color:#DC3545;">
                                    {{SmsOverview.Failed || "0"}}


                                </h5>
                            </div>
                        </div><!-- col -->
                        <div class="col-3" style="padding: 11px;">
                            <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Pending</p>
                            <div class="d-flex align-items-center">
                                <h5 class="tx-bold tx-rubik tx-MasterCard mg-b-0" style="color:#FFC20A;">
                                    {{SmsOverview.Pending || "0"}}


                                </h5>
                            </div>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- card-footer -->
            </div><!-- card -->

        </div>


    </div>