<!-- acquirer--stores--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li>
  
    <li class="breadcrumb-item"><a class="cursor-pointer text-primary"  routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Payments.Airtime}}"> VAS -All Services</a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">VAS Details
        </a></li>
</ol>
<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header pd-b-10 bd-b-0" id="headingOne">

            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl" [hidden]="!isLoaded"><img [style.border-color]="_CashierDetails.StatusC"
                                (error)="_HelperService.defaultImage($event)" src="{{this._HelperService.IconUrl }}"
                                class="rounded-circle bd bd-2 " alt=""> </div>

                                <div class="placeholder-media wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                                    <div class="line"></div>
                                    </div>
                    </div>
                </div>

                <div class="col-sm-12  col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media  Hm-textCenterMd" [hidden]="!isLoaded">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-spacing--1 tx-medium text-capitalize  mg-b-2">
                                {{this._HelperService.VasProductName || "--" }}

                               
                            </h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline  mg-b-5">
                                <h2 class="tx-14 tx-lg-14 tx-dark tx-normal lh-2 mg-b-0">
                                    <span
                                        class="cursor-pointer link-02 text-uppercase">{{this._HelperService.VasProductCategoryName || "--"}}</span>
                                </h2>
                            </div>

                            <div> 
                                
                                <span  class="badge badge-success"> {{this._HelperService.StatusName || "--"}} </span>
                            
                            </div>
                        </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="placeholder-paragraph wd-100p wd-sm-55p wd-md-45p pd-b-10" [hidden]="isLoaded">
                        <div class="line"></div>
                    </div>
                </div>
                <div class="col-lg-6    Hm-media768 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class="tx-normal tx-24  tx-rubik  mg-b-5 mg-r-5 lh-1">
                                                {{this._HelperService.VasRewardPer || "--"}}%</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0 ">  Reward Percentage</p>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class="tx-normal tx-24 tx-rubik  mg-b-5 mg-r-5 lh-1 ">
                                                {{this._HelperService.VasTucCommission|| "--"}}%</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0"> TUC Commission</p>

                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <div class="manageButton mg-t-0 pd-t-0 pnvalid" data-permission="updatevassettings">
                                  

                                    <button type="button" (click)="ShowOffCanvas()" 
                                       
                                        class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Edit
                                        </button>
                                </div>

                               

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>
<div class="card bd-b-0 pd-x-20 pd-b-20 pd-t-10 mt-3 RouteCard" style="border-bottom: 0px !important;">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist">
        <div class="d-flex flex-wrap">
            <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="vasdetailstransaction">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Payments.SaleHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Transactions</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="vasdetailspackages">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Payments.Packages}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Packages</a>
            </li>

           
        </div>

        <div class="row  d-flex no-gutters pd-r-10">
            <div class=" col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class=" order-1">
                    <input type="text" style="height: 30px;" class="form-control tx-13 form-daterangepicker"
                        name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
                        (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>


            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" style="height: 30px;" data-toggle="buttons"
                *ngIf="_HelperService.ShowDateRange">
                <label class="btn btn-xs pb-0 mb-0 tx-13   d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label class="btn btn-xs  pb-0 mb-0 tx-13 d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label class="btn pb-0 mb-0 btn-xs tx-13  active  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div>

        </div>

    </ul>
</div>

<router-outlet></router-outlet>
<div class="off-canvas off-canvas-overlay off-canvas-right" #offCanvas style="width: 480px !important;">
    <div class="off-canvas-content">

        <div id="Form_EditUser_Content" class="off-canvas-body">
            <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
                <div class="card bd-b-0">
                    <div class="card-header d-flex  justify-content-between bd-0">
                        <h3 class="tx-roboto tx-bold tx-lg-24 tx-sm-8 pd-l-0"> Edit VAS Product </h3>
                        <div class="d-flex align-items-center tx-28">
                            <a class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
                        </div>
                     
                    </div>
                    <div class="card-body  p-lg pd-l-15">
                        <div class=" bd-t-20 " id="myTabContent">
                            <div class="fade show active" id="Business" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <label>{{ "System.Users.Name" | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                </div>

                                            </div>
                                            <div class="controls">
                                                <input type="text" name="Name" placeholder=" Name" required
                                                    maxlength="256" class="form-control"
                                                    [formControl]="Form_EditUser.controls['Name']"
                                                    [(ngModel)]="_HelperService.VasProductName" [ngClass]="{
                                  'is-invalid':
                                    !Form_EditUser.controls['Name'].valid &&
                                    Form_EditUser.controls['Name'].touched
                                }" />
                                            </div>
                                            <label class="" *ngIf="
                                Form_EditUser.controls['Name'].hasError('required') &&
                                Form_EditUser.controls['Name'].touched
                              ">{{
                                "System.Users.Name_ER_Required" | translate
                              }}</label>
                                            <label class="text-danger" for="Name" *ngIf="
                                Form_EditUser.controls['Name'].hasError(
                                  'minlength'
                                ) ||
                                Form_EditUser.controls['Name'].hasError('maxlength')
                              ">{{ "System.Users.Name_ER_Length" | translate }}</label>
                                        </div>
                                        <div class="form-group">
                                            <label>Reward Percentage<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" placeholder="Reward Percentage" name="RewardPercentage"
                                                    minlength="1" maxlength="100" class="form-control"
                                                    (keypress)="_HelperService.PreventText($event)"
                                                    [formControl]="Form_EditUser.controls['RewardPercentage']"
                                                    [(ngModel)]="_HelperService.VasRewardPer"

                                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['RewardPercentage'].valid && Form_EditUser.controls['RewardPercentage'].touched}">
                                            </div>
                                            <label class="text-danger" for="RewardPercentage"
                                                *ngIf="Form_EditUser.controls['RewardPercentage'].hasError('required') && Form_EditUser.controls['RewardPercentage'].touched">
                                                enter reward percentage
                                            </label>
                                            <label class="text-danger" for="RewardPercentage"
                                                *ngIf="Form_EditUser.controls['RewardPercentage'].hasError('min') || Form_EditUser.controls['RewardPercentage'].hasError('max')">
                                                reward percentage must be between 0 to 100
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>User Reward Percentage<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" placeholder="User Reward Percentage" name="UserRewardPercentage"
                                                    minlength="1" maxlength="100" class="form-control"
                                                    (keypress)="_HelperService.PreventText($event)"
                                                    [formControl]="Form_EditUser.controls['UserRewardPercentage']"
                                                    [(ngModel)]="_HelperService.UserRewardPercentage"
                                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['UserRewardPercentage'].valid && Form_EditUser.controls['UserRewardPercentage'].touched}">
                                            </div>
                                            <label class="text-danger" for="UserRewardPercentage"
                                                *ngIf="Form_EditUser.controls['UserRewardPercentage'].hasError('required') && Form_EditUser.controls['UserRewardPercentage'].touched">
                                                enter user reward percentage
                                            </label>
                                            <label class="text-danger" for="UserRewardPercentage"
                                                *ngIf="Form_EditUser.controls['UserRewardPercentage'].hasError('min') || Form_EditUser.controls['UserRewardPercentage'].hasError('max')">
                                                User reward percentage must be between 0 to 100
                                            </label>
                                        </div>
        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between pd-l-35">
                       
                        <div class="">
                            <button type="button" class="btn btn-secondary mr-2" (click)="unclick()"> Close </button>
                            <button type="submit" class="btn btn-primary"
                                (click)="Form_EditUser.value.OperationType = 'new'"
                                [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                                <span [hidden]="_HelperService.IsFormProcessing">
                                    {{ "Common.Save" | translate }}
                                </span>
                                <span [hidden]="!_HelperService.IsFormProcessing">
                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                    {{ "Common.PleaseWait" | translate }}...
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3" *ngIf="_HelperService._Icon_Cropper_BaseImage">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                            translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade BlockPos" id="BlockCashier" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Block Store?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p *ngIf="_CashierDetails.StatusCode != 'default.blocked'" type="button">Do you really want to Block
                    <span>{{_CashierDetails.DisplayName}} ?</span></p>
                <p *ngIf="_CashierDetails.StatusCode == 'default.blocked'" type="button"> Do you really want to Unblock
                    <span>{{_CashierDetails.DisplayName}} ?</span> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button *ngIf="_CashierDetails.StatusCode != 'default.blocked'" type="button" (click)="Block()"
                    class="btn btn-danger">Block</button>
                <button *ngIf="_CashierDetails.StatusCode == 'default.blocked'" type="button" (click)="UnBlock()"
                    class="btn btn-primary">Unblock</button>


            </div>
        </div>
    </div>
</div>