<!-- acquirer--merchants--list -->

<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
      <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="cursor-pointer text-primary" [routerLinkActive]="['active']" (click)="_HelperService.NavigateBack()">
        Merchants Plan</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
      Merchants Plan</a></li>
</ol>

<div class="card pd-20">
  <div class="tx-22 tx-medium"> Trebet Superstore </div>
  <div class="mg-t-20">
  <div class="tx-16 tx-medium"> Current Subscription Pricing & Plans </div>
  <div class="tx-12"> billed monthly for all active plan (Excluding Free trials) </div>
</div>
  <div class="mg-t-10"> 
    <div class="tx-20"> Premium Plan </div>
    <div class="tx-12">
      <div> <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 99,000,00/Month </div>

    </div>

    <div class="mg-y-20">  <button class="btn  btn-outline-primary"> Upgrade Plan  </button> </div>
  </div>


  <div class="bd-t">  
<div class="tx-16 tx-medium mg-t-15 mg-b-10">  Invoices  </div>
<table class="table">
  <thead>
    <tr >
      <th scope="col" class="text-secondary" >Date</th>
      <th scope="col" class="text-secondary">Service</th>
      <th scope="col" class="text-secondary">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
  </div>


</div>