<div class="row" *ngIf="isOpen && _GetoverviewSummary.NewOrders >0">
  <div class="col-md-12 d-flex" style="background-color: #F8D7DA;padding-top: 13px;padding-bottom: 13px;">
    <div class="col-md-10 tx-danger tx-16">
      <span class="tx-semibold"> <img src="../../../../../assets/img/fast.svg" style="padding-right: 10px;">{{_GetoverviewSummary.NewOrders || "0"}}  new orders
        are arrived </span> 
        <!-- <span>(2 mins ago) </span> -->
    </div>
    <div class="col-md-2" style="float: right; text-align: right; cursor: pointer;">
      <span class="tx-danger" (click)="close()">x</span>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-9" style="padding-right: 0px;padding-left: 0px;">
        <ol class="breadcrumb df-breadcrumbs mg-b-10" style="padding-top: 15px;">
            <li class="breadcrumb-item" [routerLinkActive]="['active']">
                <a class="text-primary" [routerLinkActive]="['active']">
                    overview
                </a>
            </li>
        </ol>

        <div class=" d-flex">
            <div class="col-md-3" style="padding-left: 0px;">
                <div class="form-group  mb-0 pb-0 wd-200  mg-r-5 position-relative" id="deliveroverviewdate">

                    <input type="text" autocomplete="off" class="form-control form-daterangepicker full-width" 
                    name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsFn('#deliveroverviewdate')" 
                    (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)"
                    />

                </div>
            </div>
            <!-- <div class="col-md-3" style="padding-left: 0px;margin-left: -10px;">
        <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
          (valueChanged)="TUTr_Filter_Stores_Change($event)">
        </select2>
      </div> -->
            <!-- <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
        <div class="btn-group mg-t-20 mg-sm-t-0" style="float: right;">
          <button class="btn btn-xs btn-white btn-uppercase">Week</button>
          <button class="btn btn-xs btn-white btn-uppercase">Month</button>
          <button class="btn btn-xs btn-white btn-uppercase">Day</button>
        </div>
      </div> -->
        </div>

        <div id="overview" class="pd-t-10" style="padding-right: 10px;">

            <div class="row row-xs mg-b-10 ">
                <div class="col-sm-6 col-lg-4 mg-t-15  mg-lg-t-0">
                    <div class="card card-body shadow-none ht-100p">
                        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">SALE AMOUNT</h6>
                        <div class="row d-flex d-lg-block d-xl-flex align-items-center">
                            <div class="col-md-9">
                                <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
                                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{deliveryOverviewdata.TotalOredersAmount | number: "1.2-2" || "0"}}
                                </h3>
                            </div>
                            <!-- <div class="col-md-3" style="float: right; padding-left: 0px;"> <span class="tx-11 tx-success"><i
                    data-feather="arrow-up" style="color: #10B759;width: 16px;"> </i> 10% </span>
              </div> -->
                        </div>
                        <p class="tx-12 text-secondary mg-b-0">Total sale amount in selected duration</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 ">
                    <div class="card card-body shadow-none ht-100p">
                        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">DELIVERY ORDERS FOR DEALS</h6>
                        <div class="row d-flex d-lg-block d-xl-flex align-items-center">
                            <div class="col-md-6">
                                <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
                                    {{deliveryOverviewdata.TotalDeliveredOrders || "0"}}
                                </h3>
                            </div>
                            <!-- <div class="col-md-6" style="float: right;"> <span class="tx-11 tx-danger"><i data-feather="arrow-down"
                    style="color: #DC3545;width: 16px;"> </i> 10% </span>
              </div> -->
                        </div>
                        <p class="tx-12 text-secondary mg-b-0"> Generated <span class="tx-dark">
                N{{deliveryOverviewdata.DeliveredOredersAmount | number: "1.2-2" || "0"}}
                sales</span> </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mg-t-15  mg-sm-t-0">
                    <div class="card card-body shadow-none ht-100p">
                        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">PICKUP ORDERS FOR DEALS</h6>
                        <div class="d-flex d-lg-block d-xl-flex align-items-end">
                            <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
                                {{deliveryOverviewdata.TotalPickUpOrders}} </h3>
                        </div>
                        <p class="tx-12 text-secondary mg-b-0"> Generated <span class="tx-dark">
                N{{deliveryOverviewdata.PickUpOredersAmount | number: "1.2-2" || "0"}}
                sales</span> </p>
                    </div>
                </div>

            </div>


            <div class="row row-xs mg-b-20">
                <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
                    <div class="card">
                        <div class="card-header pd-t-20 d-sm-flex d-flex align-items-start justify-content-between">
                            <div class="col-md-6" style="padding-left: 0px;">
                                <h6 class="mg-b-5 "> Sales and Revenue Report</h6>
                                <div class="text-secondary tx-11">
                                    Show average peak time of day in week
                                    <span style="color:#1B2E4B">
                    {{CurrentRange.CompareStartDate |
                    date :["dd LLL yy"]}} to {{CurrentRange.ActualStartDate | date :["dd
                    LLL yy"]}}</span> in terms of sales amount
                                </div>
                            </div>
                        </div>
                        <div class="card-body pd-lg-25">
                            <div class="row">

                                <div class="col-lg-7 col-xl-8 ht-100p" style="padding-left: 5px;" *ngIf="this.SalelineChartData[0].data.length != 0">
                                    <canvas *ngIf="showSaleChart" baseChart #DataPlot="base-chart" [datasets]="SalelineChartData" [labels]="SalelineChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="SalelineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                                        [chartType]="_HelperService.ChartConfig.LineChart.Type">
                  </canvas>
                                </div>

                                <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.SalelineChartData[0].data.length == 0">
                                    <div style="height:200px" class="text-center m-auto  text-muted">
                                        <div>
                                            <div>
                                                <div class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                                                    <!-- <i class="fas fa-file tx-50"></i> -->
                                                    <img src="../../../../../assets/images/walk.svg" alt="">
                                                </div>
                                                <div class="pt-3">
                                                    <span class="text-dark tx-bold tx-14 "> No deals sold out in this timeframe </span><br>
                                                    <!-- <span class="tx-muted  ">No transactions took place during the time frame you selected</span> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card-body -->
                    </div>
                    <!-- card -->
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3" style="padding-left: 0px; border: 1px solid #C0CCDA ; background-color:#E5E9F2;margin-bottom: 23px;">
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12" style="padding-top: 10px;">
                <span class="tx-semibold tx-14" style="padding-left: 13px;">
          {{dealOverview.Running || "0"}} Ongoing Deals
        </span>
            </div>
        </div>

        <div class="card mg-t-20 mg-b-10" style="margin-left: 10px;" *ngFor="let item of DealsData">
            <div class="row">
                <div class="col-md-12">
                    <img [src]="item.ImageUrl" style="    width: 95%;
          height: 100px;
          margin-left: 14px;
          margin-top: 13px;
          padding-right: 13px;">
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 5px;">
                <span class="text-secondary tx-12 tx-semibold"> <i data-feather="calendar" style="height: 15px;"></i>
          {{item.StartDate | date : 'dd MMM'}}
          to
          {{item.EndDate | date : 'dd MMM'}}
        </span>
            </div>
            <div class="col-md-12 d-flex" style="margin-top: 20px;">
                <div class="col-md-10" style="padding-left: 4px;">
                    <span class=" tx-14 tx-semibold tag"> {{item.Title}}</span>
                </div>
                <div class="col-md-2 tx-14 tx-semibold">
                    <i data-feather="arrow-right" style="height: 14px;" (click)="navigateToDeals()"></i>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 5px;padding-left: 21px;">
                <span class="tx-12 tx-semibold">
          <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> {{item.SellingPrice}}
                <span class="text-secondary" style="padding-left: 5px"> <span
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> {{item.ActualPrice}}
                </span>
                </span>
            </div>
            <div class="col-md-12 d-flex" style="margin-top: 20px; margin-bottom: 5px;">
                <div class="col-md-7" style="padding-left: 4px; padding-right: 0px;">
                    <span class=" tx-12 tx-semibold" style="color:#5B47FB"> {{item.TotalPurchase}} sold / {{item.TotalAvailable}}
            remaining</span>
                </div>
                <div class="col-md-5" style="padding-right: 0px;">
                    <span class=" tx-12 tx-semibold" style="color:#5B47FB"> <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{item.SellingPrice * item.TotalPurchase}}
            sale</span>
                </div>
            </div>
        </div>

        <div class="card" style="margin-left: 10px;">
            <div class="row">
                <div class="col-md-12 d-flex" style="padding-left: 20px;padding-top: 8px;padding-bottom: 8px;">
                    <div class="col-md-10">
                        <span class="tx-semibold tx-14"> {{dealOverview.Upcoming || "0"}} upcoming deal</span>
                    </div>
                    <div class="col-md-2">
                        <i data-feather="arrow-right" style="height: 14px;" (click)="navigateToDeals()"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 5px; margin-bottom: 5px;">
                <span class="text-secondary tx-12 tx-semibold"> <i data-feather="calendar" style="height: 15px;"></i>
          {{monthStartDate | date : 'dd MMM'}} to {{monthEndDate | date : 'dd MMM'}}</span>
            </div>
        </div>
    </div>
</div>