<!-- acquirer--merchants--details -->
<form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
    <div class="card">

        <!-- <div class="card-header">
                        <h5 class="modal-title">Update Profile</h5>
                    </div> -->
        <div class="card-body  p-lg">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 mg-b-20 ">
                        <input-file *ngIf="ShowImagePicker"
                            iconLink="https://storage.googleapis.com/cdn.thankucash.com/2020/12/fc549331ae8045c1bdbadc33333514d2.png"
                            (deletedFile)="removeImage()" class="d-flex wd-20p m-auto rounded-circle" #inputfile 
                            inputId="input-file">
                        </input-file>
                       
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12 mg-y-15  text-secondary tx-uppercase tx-12 tx-medium">
                        Personal Information
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">

                            <label class="tx-13 ">First Name<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="First Name" name="FirstName" minlength="1"
                                    maxlength="100" class="form-control"
                                    [formControl]="Form_EditUser.controls['FirstName']"
                                    [(ngModel)]="_AdminDetails.FirstName"
                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['FirstName'].valid && Form_EditUser.controls['FirstName'].touched}">
                            </div>

                            <label class="text-danger" for="FirstName"
                                *ngIf="Form_EditUser.controls['FirstName'].hasError('required') && Form_EditUser.controls['FirstName'].touched">
                                First Name Required
                            </label>
                            <!-- <label class="text-danger" for="RewardPercentage"
                                        *ngIf="Form_EditUser.controls['Value'].hasError('min') || Form_EditUser.controls['Value'].hasError('max')">
                                        reward percentage must be between 0 to 100
                                    </label> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="tx-13 ">Last Name<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Last Name" name="LastName" minlength="1" maxlength="100"
                                    class="form-control" [formControl]="Form_EditUser.controls['LastName']"
                                    [(ngModel)]="_AdminDetails.LastName"
                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['LastName'].valid && Form_EditUser.controls['LastName'].touched}">
                            </div>

                            <label class="text-danger" for="LastName"
                                *ngIf="Form_EditUser.controls['LastName'].hasError('required') && Form_EditUser.controls['LastName'].touched">
                                Last name required
                            </label>
                            <!-- <label class="text-danger" for="LastName"
                                        *ngIf="Form_EditUser.controls['LastName'].hasError('min') || Form_EditUser.controls['LastName'].hasError('max')">
                                        reward percentage must be between 0 to 100
                                    </label> -->
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="tx-13 ">Display Name<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Display Name" name="DisplayName" minlength="1"
                                    maxlength="100" class="form-control"
                                    [formControl]="Form_EditUser.controls['DisplayName']"
                                    [(ngModel)]="_AdminDetails.DisplayName"
                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['DisplayName'].valid && Form_EditUser.controls['DisplayName'].touched}">
                            </div>

                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_EditUser.controls['DisplayName'].hasError('required') && Form_EditUser.controls['DisplayName'].touched">
                                Display Name Required
                            </label>
                        </div>
                        <div class="form-group">
                            <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="radio float-left mr-3">
                                <label class="ui-check"><input type="radio" name="gender"
                                        [value]="_HelperService.AppConfig.Gender.Male"
                                        [(ngModel)]="_AdminDetails.GenderCode"
                                        [formControl]="Form_EditUser.controls['GenderCode']">
                                    <i class="dark-white"></i>
                                    {{ 'System.Users.Male' | translate }}</label>
                            </div>
                            <div class="radio float-left  mr-3"><label class="ui-check"><input type="radio"
                                        name="gender" [value]="_HelperService.AppConfig.Gender.Female"
                                        [(ngModel)]="_AdminDetails.GenderCode"
                                        [formControl]="Form_EditUser.controls['GenderCode']">
                                    <i class="dark-white"></i>
                                    {{ 'System.Users.Female' | translate }}</label></div>
                            <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                                        [value]="_HelperService.AppConfig.Gender.Other"
                                        [(ngModel)]="_AdminDetails.GenderCode"
                                        [formControl]="Form_EditUser.controls['GenderCode']">
                                    <i class="dark-white"></i>
                                    {{ 'System.Users.Other' | translate }}</label></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="tx-13 ">Date Of Birth</label>
                            <div class="controls">
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                    daterangepicker [options]="DateOfBirthPickerOptions"
                                    (selected)="DOB_ToggleOption($event)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mg-y-15 text-secondary tx-12 tx-uppercase tx-medium">
                        Contact Details
                    </div>
                    <div class="col-md-6">
                        <!-- <div class="form-group">
                            
                            <label class="tx-13 ">Contact Number<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                    </div>
                                    <input type="number" placeholder="Mobile Number" name="ContactNumber" minlength="1"
                                    maxlength="100" class="form-control"
                                    [formControl]="Form_EditUser.controls['ContactNumber']"
                                    [(ngModel)]="_AdminDetails.MobileNumber"
                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['ContactNumber'].valid && Form_EditUser.controls['ContactNumber'].touched}">
                                    </div>

                         
                            </div>

                            <label class="text-danger" for="ContactNumber"
                                *ngIf="Form_EditUser.controls['ContactNumber'].hasError('required') && Form_EditUser.controls['ContactNumber'].touched">
                                Contact Number Required
                            </label>
                        </div> -->
                        <div class="form-group">
                            <label>Phone Number<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                    </div>
                                    <input type="text" name="ContactNumber" minlength="8"
                                        maxlength="14" class="form-control contact-textbox-height"
                                        (keypress)="_HelperService.PreventText($event)"
                                        [(ngModel)]="_AdminDetails.MobileNumber"
                                        [formControl]="Form_EditUser.controls['ContactNumber']"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['ContactNumber'].valid && Form_EditUser.controls['ContactNumber'].touched}">
                                </div>
                            </div>
                            <label class="text-danger" for="ContactNumber"
                                *ngIf="Form_EditUser.controls['ContactNumber'].hasError('required') && Form_EditUser.controls['ContactNumber'].touched">
                                Enter phone number</label>
                            <label class="text-danger" for="ContactNumber"
                                *ngIf="Form_EditUser.controls['ContactNumber'].hasError('minlength') || Form_EditUser.controls['ContactNumber'].hasError('maxlength')">
                                Phone number must be between 8 to 14 numbers
                            </label>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label>Email Address<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Email Id" name="EmailAddress"
                                    maxlength="256" class="form-control"
                                    [formControl]="Form_EditUser.controls['EmailAddress']"
                                    [(ngModel)]="_AdminDetails.EmailAddress"
                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['EmailAddress'].valid && Form_EditUser.controls['EmailAddress'].touched}">
                            </div>
                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_EditUser.controls['EmailAddress'].hasError('required') && Form_EditUser.controls['EmailAddress'].touched">
                                Enter  email address
                            </label>

                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_EditUser.controls['EmailAddress'].hasError('email') && Form_EditUser.controls['EmailAddress'].touched">
                                Enter valid  email address
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="tx-13 ">Address <span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Address" name="Address" minlength="1" maxlength="100"
                                    class="form-control" [(ngModel)]="_AdminDetails.Address" 
                                    [formControl]="Form_EditUser.controls['Address']"
                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['Address'].valid && Form_EditUser.controls['Address'].touched}"
                                    >
                            </div>
                            <label class="text-danger" for="Address"
                            *ngIf="Form_EditUser.controls['Address'].hasError('required') && Form_EditUser.controls['Address'].touched">{{
                                                      'System.Users.Address_ER_Required' | translate }}</label>
                        <label class="text-danger" for="Address"
                            *ngIf="Form_EditUser.controls['Address'].hasError('minlength') || Form_EditUser.controls['Address'].hasError('maxlength')">{{
                                                      'System.Users.Address_ER_Length' | translate }}</label>
                            <!-- <label class="text-danger" for="Address" *ngIf="_AdminDetails.Address==null">
                                Address Required
                            </label> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                   

                    <div class="col-md-6">
                        <div class="form-group">
                            <div>
                                <label>{{ "System.Users.AccountStatus" | translate
                                }}<span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="radio float-left mr-3">
                                <label class="ui-check"><input type="radio" name="statusoptions"
                                        [value]="_HelperService.AppConfig.Status.Active"
                                        [(ngModel)]="_AdminDetails.StatusCode"
                                        [formControl]="Form_EditUser.controls['StatusCode']" />
                                    <i class="dark-white"></i>
                                    {{ "Common.Active" | translate }}</label>
                            </div>
                            <div class="radio  mr-3">
                                <label class="ui-check"><input type="radio" name="statusoptions"
                                        [value]="_HelperService.AppConfig.Status.Inactive"
                                        [(ngModel)]="_AdminDetails.StatusCode"
                                        [formControl]="Form_EditUser.controls['StatusCode']" />
                                    <i class="dark-white"></i>
                                    {{ "Common.Inactive" | translate }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                      
                    </div>
                    <!-- <div class="col-md-12 mg-b-10">
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">Locate Address<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" name="GAddress" maxlength="256" class="form-control"
                                    ngx-google-places-autocomplete #places="ngx-places"
                                    (onAddressChange)="Form_AddUser_AddressChange($event)">
                            </div>
                            <label class="text-warn">You can click on map to mark exact location of store </label>
                        </div>
                        <div class="agm">
                            <agm-map style="height:255px;" [zoom]="12" [latitude]="Form_AddUser_Latitude"
                                [styles]="_HelperService.darkStyle" [longitude]="Form_AddUser_Longitude"
                                (mapClick)="Form_AddUser_PlaceMarkerClick($event)" [streetViewControl]="false">
                                <agm-marker [latitude]="Form_AddUser_Latitude" [longitude]="Form_AddUser_Longitude">
                                </agm-marker>
                            </agm-map>
                        </div>
                    </div> -->

                    <!-- City -->
                    <!-- <div class="col-md-6">

                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">City<span class="text-danger">*</span></label>
                            <div class="controls">
                                <input type="text" placeholder="City" name="City" maxlength="25" class="form-control"
                                    [formControl]="Form_AddUser.controls['CityName']"
                                    [(ngModel)]='_CurrentAddress.administrative_area_level_2'
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['CityName'].valid && Form_AddUser.controls['CityName'].touched}">
                            </div>
                            <div class="text-xs text-muted _500"> </div>
                            <label class="text-danger" for="CityName"
                                *ngIf="Form_AddUser.controls['CityName'].hasError('required') && Form_AddUser.controls['CityName'].touched">
                                Enter city name
                            </label>
                            <label class="text-danger" for="CityName"
                                *ngIf="Form_AddUser.controls['CityName'].hasError('minlength') || Form_AddUser.controls['CityName'].hasError('maxlength')">
                                City name must be between 2 - 128 character</label>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">State<span class="text-danger">*</span></label>
                            <div class="controls">

                                <input type="text" placeholder="State" name="City" maxlength="25" class="form-control"
                                    [formControl]="Form_AddUser.controls['StateName']"
                                    [(ngModel)]='_CurrentAddress.administrative_area_level_1'
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['StateName'].valid && Form_AddUser.controls['StateName'].touched}">
                            </div>
                            <div class="text-xs text-muted _500"> </div>
                            <label class="text-danger" for="StateName"
                                *ngIf="Form_AddUser.controls['StateName'].hasError('required') && Form_AddUser.controls['StateName'].touched">
                                Enter state name
                            </label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['StateName'].hasError('minlength') || Form_AddUser.controls['StateName'].hasError('maxlength')">
                                State name must be between 2 - 128 character</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">Country<span class="text-danger">*</span></label>
                            <div class="controls">

                                <input type="text" placeholder="Country" name="Country" maxlength="25"
                                    class="form-control" [formControl]="Form_AddUser.controls['CountryName']"
                                    [(ngModel)]='_CurrentAddress.country'
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['CountryName'].valid && Form_AddUser.controls['CountryName'].touched}">
                            </div>
                            <div class="text-xs text-muted _500"> </div>
                            <label class="text-danger" for="CountryName"
                                *ngIf="Form_AddUser.controls['CountryName'].hasError('required') && Form_AddUser.controls['CountryName'].touched">
                                Enter Country name
                            </label>
                            <label class="text-danger" for="CountryName"
                                *ngIf="Form_AddUser.controls['CountryName'].hasError('minlength') || Form_AddUser.controls['CountryName'].hasError('maxlength')">
                                Country name must be between 2 - 128 character</label>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">Detailed Address <span class="text-muted"> (Street
                                    Name, Building Name, Floor Number Etc) </span> <span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <textarea name="Address" maxlength="256" placeholder="Address" class="form-control"
                                    rows="3" [formControl]="Form_AddUser.controls['Address']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}"></textarea>
                            </div>
                            <label class="text-danger" for="Address"
                                *ngIf="Form_AddUser.controls['Address'].hasError('required') && Form_AddUser.controls['Address'].touched">{{
                                                                  'System.Users.Address_ER_Required' | translate }}</label>
                            <label class="text-danger" for="Address"
                                *ngIf="Form_AddUser.controls['Address'].hasError('minlength') || Form_AddUser.controls['Address'].hasError('maxlength')">{{
                                                                  'System.Users.Address_ER_Length' | translate }}</label>
                        </div>
                    </div> -->

                </div>

            </div>
        </div>

        <div class="card-footer">
            <!-- <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                            (click)="Form_EditUser_Close()">
                            {{ "Common.Close" | translate }}
                        </button> -->
            <button  type="submit" class="btn btn-primary  float-right"
                (click)="Form_EditUser.value.OperationType = 'new'"
                [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                <span *ngIf="!_HelperService.IsFormProcessing">
                    {{ "Common.Update" | translate }}
                </span>
                <span *ngIf="_HelperService.IsFormProcessing">
                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                    {{ "Common.PleaseWait" | translate }}...
                </span>
            </button>
        </div>

    </div>
</form>
<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                               >
                            </image-cropper>
                            <!-- (loadImageFailed)="_HelperService.Icon_Crop_Failed()" -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                            translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>