<div class="row">
  <div class="col-md-12">
    <div class="">
      <ul class="nav nav-line   pd-t-10" id="myTab" role="tablist">

        <li class="nav-item cursor-pointer">
          <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Payments.Airtime}}"
            role="tab" aria-controls="home" aria-selected="true">Airtime</a>
        </li>
        <li class="nav-item cursor-pointer pnvalid" data-permission="viewvaselectricity">
          <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Payments.Electricity}}"
            role="tab" aria-controls="home" aria-selected="true">Electricity</a>
        </li>
        <li class="nav-item cursor-pointer pnvalid" data-permission="viewvastollgate">
          <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Payments.TollGate}}"
            role="tab" aria-controls="home" aria-selected="true">Toll gate</a>
        </li>
        <li class="nav-item cursor-pointer pnvalid" data-permission="viewvastvrecharge">
          <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Payments.TvRecharge}}"
            role="tab" aria-controls="home" aria-selected="true">TV Recharges</a>
        </li>

  
      </ul>

      <router-outlet></router-outlet>
    </div><!-- media-body -->

  </div>

</div>