<!-- <div class="row">
    <div class="col-md-12">
        &nbsp;
        <div class="form-group mr-2 mb-2">
          
        </div>
    </div>

</div> -->



<!-- <div class="nav-active-border b-warn bottom card mb-3">
    <div class="nav nav-md">
      
        <a class="nav-link active px-2 py-3" data-toggle="tab" data-target="#toverview"
            (click)="TUOrderList_ListTypeChange(1)">
            <div class=" white d-flex align-items-center text-warning">
                <span class="ml-2 mr-3">
                    <i class="fas fa-sync text-lg"></i>
                </span>
                <span class="text-left mr-2">
                    <b class="text-sm  d-block">Processing </b>
                    <div class="text-muted mb-1 text-xs">Confirmed & Preparing orders</div>
                </span>
            </div>
        </a>

        <a class="nav-link px-2 py-3" data-toggle="tab" data-target="#toverview"
            (click)="TUOrderList_ListTypeChange(2)">
            <div class=" white d-flex align-items-center text-success">
                <span class="ml-2 mr-3">
                    <i class="fas fa-people-carry text-lg text-success"></i>
                </span>
                <span class="text-left mr-2">
                    <b class="text-sm  d-block"> Ready To Pickup </b>
                    <div class="text-muted mb-1 text-xs"> Order Ready To Pickup</div>
                </span>
            </div>
        </a>
        <a class="nav-link px-2 py-3" data-toggle="tab" data-target="#toverview"
            (click)="TUOrderList_ListTypeChange(3)">
            <div class=" white d-flex align-items-center text-primary">
                <span class="ml-2 mr-3">
                    <i class="fas fa-shipping-fast text-lg"></i>
                </span>
                <span class="text-left mr-2">
                    <b class="text-sm  d-block">Out for Delivery </b>
                    <div class="text-muted mb-1 text-xs"> Order Out for Delivery  </div>
                </span>
            </div>
        </a>
        <a class="nav-link px-2 py-3" data-toggle="tab" data-target="#toverview"
            (click)="TUOrderList_ListTypeChange(4)">
            <div class=" white d-flex align-items-center text-danger">
                <span class="ml-2 mr-3">
                    <i class="fas fa-exclamation-triangle text-lg"></i>
                </span>
                <span class="text-left mr-2">
                    <b class="text-sm  d-block">Delivery Failed </b>
                    <div class="text-muted mb-1 text-xs">Failed Delivery Orders</div>
                </span>
            </div>
        </a>

        <a class="nav-link px-2 py-3" data-toggle="tab" data-target="#toverview"
            (click)="TUOrderList_ListTypeChange(5)">
            <div class=" white d-flex align-items-center text-success">
                <span class="ml-2 mr-3">
                    <i class="fas fa-check-circle text-lg"></i>
                </span>
                <span class="text-left mr-2">
                    <b class="text-sm  d-block">Delivered </b>
                    <div class="text-muted mb-1 text-xs">Delivered Orders</div>
                </span>
            </div>
        </a>
        
        <a class="nav-link px-2 py-3" data-toggle="tab" data-target="#toverview"
            (click)="TUOrderList_ListTypeChange(6)">
            <div class=" white d-flex align-items-center ">
                <span class="ml-2 mr-3">
                    <i class="fas fa-shopping-cart text-lg"></i>
                </span>
                <span class="text-left mr-2">
                    <b class="text-sm  d-block">All Orders </b>
                    <div class="text-muted mb-1 text-xs">All orders</div>
                </span>
            </div>
        </a>
    </div>
</div> -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li>
    
            <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary">Orders</a></li>
   
  </ol>

<ul class="nav nav-line flex-row" id="myTab" role="tablist">
    <li class="nav-item">
      <a  class="nav-link active" id="home-tab" data-toggle="tab" href="#New" role="tab" aria-controls="home" aria-selected="true" (click)="TUOrderList_ListTypeChange(1)">New <span class="badge bg-teal tx-white"> {{OverviewData.Confirmed}} </span></a>
    </li>
    <li class="nav-item">
      <a  class="nav-link" id="profile-tab" data-toggle="tab" href="#Processing" role="tab" aria-controls="profile" aria-selected="false" (click)="TUOrderList_ListTypeChange(2)">Processing <span class="badge bg-teal tx-white"> {{OverviewData.Preparing}} </span>  </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#pick" role="tab" aria-controls="contact" aria-selected="false" (click)="TUOrderList_ListTypeChange(3)">Ready to pick <span class="badge bg-teal tx-white"> {{OverviewData.New}} </span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Failed" role="tab" aria-controls="contact" aria-selected="false" (click)="TUOrderList_ListTypeChange(4)">  Failed <span class="badge bg-danger tx-white"> {{OverviewData.DeliveryFailed}} </span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Cancelled" role="tab" aria-controls="contact" aria-selected="false" (click)="TUOrderList_ListTypeChange(5)">Cancelled<span class="badge bg-teal tx-white"> {{OverviewData.Cancelled}} </span></a>
      </li> 
      <!-- <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Return" role="tab" aria-controls="contact" aria-selected="false" (click)="TUOrderList_ListTypeChange(6)"> Return</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#All" role="tab" aria-controls="contact" aria-selected="false" (click)="TUOrderList_ListTypeChange(6)"> All Orders<span class="badge bg-teal tx-white"> {{OverviewData.Total}} </span></a>
      </li>
  </ul>

  <div class="card mg-t-15">
    <div class="card-header">
        <h6 class="pb-0 mb-0"> {{ TUOrdersList_Config.Title }} {{ StoreName }} </h6>
    </div>

    <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
        <div class="form-inline ">
          <div class="input-group input-group-sm mr-3">
            <input type="text" class="form-control" [value]="TUOrdersList_Config.SearchParameter" maxlength="100"
              class="form-control" placeholder="{{ 'Common.Search' | translate }}"
              (keyup)="TUOrdersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
            <div class="input-group-append">
              <button class="btn btn-outline-light" type="button"
                (click)="TUOrdersList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                  data-feather="search"></i> </button>
            </div>
          </div>
    
    
        </div>
    </div>

    <div class="card-body p-0">
        <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }} + cursor-pointer">
            <thead>
                <tr>
                    <th class="">Order Id</th>
                    <th class="td-date">Placed On</th>
                    <th>Customer Details</th>
                    <th>Delivery Address</th>
                    <th>Store</th>
                    <th>Ambassador</th>
                    <!-- <th class="">Status</th> -->
                    <th class="text-center">Items</th>
                    <th class="td-amount"> Amount</th>
                    <th class="td-amount" *ngIf="ListType == 6">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="TUOrdersList_RowSelected(TItem)"
                    *ngFor="let TItem of (TUOrdersList_Config.Data| paginate : { id: 'TUOrdersList_Paginator', itemsPerPage: TUOrdersList_Config.PageRecordLimit, currentPage: TUOrdersList_Config.ActivePage,totalItems: TUOrdersList_Config.TotalRecords}) ">
                    <td class="text-blue"> #{{ TItem.OrderId || "--"}}
                    </td>
                    <td class="td-date">
                        {{ TItem.CreateDate || "--" }}
                    </td>
                    <td>
                        <span class="text-gray tx-semibold"> {{ TItem.CustomerDisplayName || "--"}} </span>
                        <br>
                        <span class="text-secondary">{{ TItem.CustomerMobileNumber || "--"}} </span>
                    </td>
                    <td class="">
                        {{ TItem.DeliveryAddress || "--"}}
                    </td>
                    <td>
                        <span class="text-gray tx-semibold"> {{ TItem.DealerLocationName || "--" | truncateText:30 }} </span>
                        <br>

                        <span class="text-secondary tx-12" >{{ TItem.DealerLocationAddress || "--" | truncateText:30  }} </span>



                    </td>

                    <td>
                        <span class="text-gray font-weight-bold"> {{ TItem.AgentDisplayName || "--"}} </span>
                        <br>
                        <span class="text-secondary">{{ TItem.AgentMobileNumber || "--"}} </span>
                    </td>
                   
                    <!-- <td class="td-amount text-left">
                        <div class="form-group mr-2 mb-2"
                            *ngIf="TItem.StatusCode != 'orderstatus.new' && TItem.StatusCode != 'orderstatus.pendingconfirmation'">
                            <select2 class="full-width" [options]="_DataHelperService.S2_Status_Option"
                                [data]="this._HelperService.AppConfig.StatusList.updateorderstatusm"
                                (valueChanged)="UpdateStatus($event,TItem)">
                            </select2>
                        </div>
                        <div
                            *ngIf="TItem.StatusCode == 'orderstatus.new' || TItem.StatusCode == 'orderstatus.pendingconfirmation'">
                            Payment pending
                        </div>
                    </td> -->
                    <td class="text-center">
                        {{ TItem.TotalItem || "--"}}

                    </td>
                    <td class="td-amount text-right">
                        <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{ TItem.TotalAmount | number: "1.2-2" || "--"}}
                    </td>

                    <td>
                        <span class="{{TItem.StatusBadge}} float-right py-1 px-2" *ngIf="ListType == 6"> {{TItem.StatusName}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="  p-4">
            <span class="mr-1">
                {{ "Common.Showing" | translate }}
                <span class="bold">{{ TUOrdersList_Config.ShowingStart }}
                    {{ "Common.To" | translate }}
                    {{ TUOrdersList_Config.ShowingEnd }}
                </span>
                {{ "Common.Of" | translate }} {{ TUOrdersList_Config.TotalRecords }}
            </span>
            |
            <span class="ml-1">
                {{ "Common.Show" | translate }}
                <select class=" w-64 " [(ngModel)]="TUOrdersList_Config.PageRecordLimit"
                    (ngModelChange)="TUOrdersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                    <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                        {{ TItem }}
                    </option>
                </select>
                {{ "Common.Entries" | translate }}
            </span>
            <span class="float-right">
                <pagination-controls id="TUOrdersList_Paginator" (pageChange)="
                                                  TUOrdersList_ToggleOption(
                                                    $event,
                                                    _HelperService.AppConfig.ListToggleOption.Page
                                                  )
                                                " nextLabel="{{ 'Common.Next' | translate }}"
                    previousLabel="{{ 'Common.Previous' | translate }}">
                </pagination-controls>
            </span>
        </div>
    </div>
</div>



<div id="Form_UpdateStock" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update State</h5>
            </div>
            <div class="modal-body ">
                <div class="">
                    <div class="text-muted text-center">Select State</div>
                    <div class="  text-warning mb-2 text-xs text-center">Select new state for order </div>
                    <div class="form-group mr-2 mb-2">
                        <select2 class="full-width" [options]="_DataHelperService.S2_Status_Option"
                            [data]="TUOrdersList_Config.StatusOptions" [value]="TUOrdersList_Config.Status">
                        </select2>
                    </div>
                </div>

            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-primary warn" (click)="Stock_Update()"
                    [disabled]="_HelperService.IsFormProcessing">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        {{ 'Common.Save' | translate }}
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate }}...
                    </span>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ "Common.Close" | translate }}
                </button>
            </div> -->
        </div>
    </div>
</div>


<div class="modal fade" id="CatForm_Edit_Content" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-right w-xxxl white b-l" style="width:600px;">
        <div class="row">

            <div class="col-md-12 ">
                <div class="card mb-0">
                    <div class="card-header b-b">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="mb-1"> {{OrderItemList_Config.Title}} </h3>
                                <span class="text-muted"> Store Name </span>

                            </div>
                            <div class="col-md-6">
                                <div class="float-right">
                                    <span class=""> Order Ref# : {{ _OrderDetail.OrderId || "--" }}</span><br>
                                    <span class=""> Order Date : {{ _OrderDetail.CreateDate || "--" }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card-tool">
                    <ul class="nav nav-xs">
                        <li title="{{ 'Common.FilterT' | translate }}" class="nav-item"
                            (click)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.ToggleFilter)">
                            <a class="nav-link"><i class=" {{ 'Common.FilterI' | translate }}"></i></a></li>
                        <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item"
                            (click)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Csv)"><a
                                class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a></li>
                        <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item"
                            (click)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                            <a class="nav-link"><i class="{{ 'Common.RefreshI' | translate }}"></i></a></li>
                    </ul>
                </div> -->
                    <div class="row p-0 m-0">
                        <div class="col-md-12 card-header py-2">
                            <h3> Customer Details <span class="float-right"> <Button class="btn btn-xs btn-Ordered">
                                        Ordered</Button> </span> </h3>
                        </div>

                        <div class="col-md-6">
                            <div class="row no-gutters">
                                <div class="col-2">Name</div>
                                <div class="col-1 text-center">:</div>
                                <div class="col-9 font-weight-bold text-gray">
                                    {{ _OrderDetail.CustomerDisplayName || "--" }}</div>

                            </div>

                            <div class="row no-gutters mt-2">
                                <div class="col-2">Mobile</div>
                                <div class="col-1 text-center">:</div>
                                <div class="col-9">{{ _OrderDetail.CustomerMobileNumber || "--" }}</div>

                            </div>
                            <div class="row no-gutters mt-2">
                                <div class="col-2">Address</div>
                                <div class="col-1 text-center">:</div>
                                <div class="col-9">{{ _OrderDetail.DealerLocationAddress || "--" }}</div>

                            </div>



                        </div>
                        <div class="col-md-6 pl-0">
                            <agm-map style="height:150px;" [zoom]="14" [latitude]="_HelperService._UserAccount.Latitude"
                                [longitude]="_HelperService._UserAccount.Longitude">
                                <agm-marker [latitude]="_HelperService._UserAccount.Latitude"
                                    [longitude]="_HelperService._UserAccount.Longitude"></agm-marker>
                            </agm-map>

                        </div>
                    </div>
                    <!-- <div class="card-header light lt b-b">
                    <div class="media">
                    
                        <div class="media-body mb-0 text-ellipses">
                            <div class="_600 text-gray">Order Reference</div>
                            <h6 class="mb-1 text-dark text-ellipses" title="{{ _OInvoiceDetails.UserAccountDisplayName }}">
                                <b>{{ _TUOrder.ReferenceKey || "--" }}</b>
                            </h6>
                        </div>
                        <span class="float-right">
                            <div class="text-success db-title-count-xl"><span class=" text-sm "><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span></span>
                                {{_TUOrder.SellingPrice}} </div>
                        </span>
                    </div>
                </div> -->
                    <div class="card-header light lt" *ngIf="OrderItemList_Config.ToggleFilter">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="input-group">
                                    <input type="text" [value]="OrderItemList_Config.SearchParameter" maxlength="100"
                                        class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                                        (keyup)="InvoiceList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                                    <div class="input-group-append"><button class="btn white" type="button"
                                            (click)="InvoiceList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                                            'Common.Go' | translate }}</button></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group  ">
                                    <input type="text" class="form-control  form-daterangepicker full-width"
                                        name="daterangeInput" daterangepicker
                                        [options]="_HelperService.AppConfig.DateRangeOptions"
                                        (selected)="InvoiceList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group  ">
                                    <select2 [options]="_DataHelperService.S2_Sort_Option" class="full-width"
                                        [data]="OrderItemList_Config.SortExpressionOption"
                                        [value]="OrderItemList_Config.SortExpression"
                                        (valueChanged)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
                                    </select2>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group  ">
                                    <select2 [options]="_DataHelperService.S2_Status_Option" class="full-width"
                                        [data]="OrderItemList_Config.StatusOptions"
                                        [value]="OrderItemList_Config.Status"
                                        (valueChanged)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                    </select2>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group   ">
                                    <select2 [options]="InvoiceList_Filter_TransactionType_Option" class="full-width"
                                        (valueChanged)="InvoiceList_Filter_TransactionTypes_Change($event)">
                                    </select2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body p-0">
                        <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }} + cursor-pointer">
                            <thead>
                                <tr>
                                    <th>#</th>

                                    <th>Product</th>
                                    <th class="td-amount">Qty</th>
                                    <th class="td-amount">Price</th>
                                    <th class="float-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let TItem of _OrderDetail.OrderItems
                            | paginate: { id: 'MerchantsList',itemsPerPage: OrderItemList_Config.PageRecordLimit, currentPage: OrderItemList_Config.ActivePage,
                            totalItems: OrderItemList_Config.TotalRecords }">
                                    <td>
                                        <span class="">
                                            {{ TItem.ReferenceId || "--"}}
                                        </span>
                                    </td>

                                    <td>
                                        <span class="">
                                            {{ TItem.ProductName || "--"}}

                                        </span>
                                    </td>
                                    <td class="td-amount">
                                        {{ TItem.Quantity || "--"}}

                                    </td>
                                    <td class="td-amount">
                                        <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        {{ TItem.UnitPrice || "--"}}

                                    </td>
                                    <td class="td-amount">
                                        <div class="text-warn"> <span
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                            {{TItem.TotalAmount | number:'1.2-2' }}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="  p-2 light">
                        <div class="mb-2 text-center">
                            {{ 'Common.Showing' | translate }}
                            <span class="bold">{{OrderItemList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                                {{OrderItemList_Config.ShowingEnd}}
                            </span> {{ 'Common.Of' | translate }} {{OrderItemList_Config.TotalRecords}}
                        </div>
                        <div class="text-center">
                            <pagination-controls id="MerchantsList"
                                (pageChange)="InvoiceList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                                nextLabel="{{ 'Common.Next' | translate }}"
                                previousLabel="{{ 'Common.Previous' | translate }}">
                            </pagination-controls>
                        </div>
                    </div> -->
                    </div>
                    <div class="card-footer pr-2  b-b b-t">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">Amount</div>
                                    <div class="col-md-6 text-right">
                                        <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        {{_OrderDetail.Amount}}</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">Charges</div>
                                    <div class="col-md-6 text-right">
                                        <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        {{_OrderDetail.Charge}}</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">Delivery Charges</div>
                                    <div class="col-md-6 text-right">
                                        <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        {{_OrderDetail.DeliveryCharge}}</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4"> Other Charges</div>
                                    <div class="col-md-6 text-right ">
                                        <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        {{_OrderDetail.OtherCharge}}</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4 ">Discount Amount</div>
                                    <div class="col-md-6 text-right">
                                        <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        {{_OrderDetail.DiscountAmount}}</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4 font-weight-bold ">Total Amount</div>
                                    <div class="col-md-6 font-weight-bold text-right  text-success">
                                        <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        {{_OrderDetail.TotalAmount}}</div>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="card-footer pr-1  b-b b-t">
                        <div class="d-flex justify-content-between">

                            <div class="text-left">
                                <button type="button" (click)="Cancel_Order()" class="btn btn-outline-primary  mr-2">
                                    <span>
                                        Cancel Order
                                    </span>
                                </button>
                                <button type="button" (click)="UpdateStock_Open()" class="btn text-white btn-warning">
                                    <span>
                                        Ready To Ship
                                    </span>
                                </button>
                            </div>

                            <div class="close button">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="Cancel_Order" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancel Order</h5>
            </div>
            <div class="modal-body ">

                <p> <span class="font-weight-bold"> Are you sure , You want to cancel order? </span> Once Canceled,
                    Refund process will initiated automatically after 24 hours. Press Yes, to cancel order, Press No to
                    close this popup. </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ "Common.No" | translate }}
                </button>

                <button type="button" class="btn btn-primary success" (click)="Cancel_Order()"
                    [disabled]="_HelperService.IsFormProcessing">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        {{ 'Common.Yes' | translate }}
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate }}...
                    </span>
                </button>

            </div>
        </div>
    </div>
</div>