<div class="content mg-t-50  content-auth">
    <div class="container-fluid">
        <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
            <div class="row">
                <div class="col-md-6">
                    <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
                        <div class="wd-100p">
                            <img src="../../../assets/img/logoinverse.png" class="wd-200 mg-t-15 mb-4">
                            <div class="">
                                <form [formGroup]="_Form_Otp" (ngSubmit)="_Verify_Otp(_Form_Otp.value)" role="form">
                                    <div class="form-group"
                                        [ngClass]="{'text-danger':!_Form_Otp.controls['otp'].valid && _Form_Otp.controls['otp'].touched}">
                                    </div>
                                </form>
                            </div>
                            <div class="">
                                <form [formGroup]="_Form_Login" (ngSubmit)="_Form_Login_Process(_Form_Login.value)"
                                    role="form">
                                    <div class="form-group"
                                        [ngClass]="{'text-danger':!_Form_Login.controls['password'].valid && _Form_Login.controls['password'].touched}">
                                        <div class="d-flex justify-content-between ">
                                            <label class="mg-b-0-f">{{ 'Login.CreatePassword' | translate }}</label>
                                        </div>
                                        <input type="password" name="password" maxlength="50" class="form-control"
                                            [formControl]="_Form_Login.controls['password']">
                                    </div>
                                    <div>
                                    </div>

                                    <div class="form-group mg-t-15"
                                        [ngClass]="{'text-danger':!_Form_Login.controls['newpassword'].valid && _Form_Login.controls['newpassword'].touched}">
                                        <div class="d-flex justify-content-between">
                                            <label class="mg-b-0-f">Confirm Password</label>
                                        </div>
                                        <input type="password" name="newpassword" required maxlength="50"
                                            class="form-control" [formControl]="_Form_Login.controls['newpassword']">
                                        <div>
                                        </div>
                                        <div>

                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-brand-02"
                                        [disabled]="!_Form_Login.valid || _Form_Login_Processing">
                                        <span *ngIf="!_Form_Login_Processing">
                                            Reset Password
                                        </span>
                                        <span *ngIf="_Form_Login_Processing">
                                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                            {{ 'Common.PleaseWait' | translate }}...
                                        </span>
                                    </button>

                                </form>

                            </div>
                            <div class="row ">
                                <div class=" text-center col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-t-100 text-muted">
                                    © Copyright <a target="_blank" class="text-primary"
                                        href="http://connectedanalytics.xyz">Connected
                                        Analytics Inc.</a> 2021 |
                                    All Right
                                    Reserved
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media-body align-items-center d-none d-lg-flex">
                        <div class=" mx-wd-600" style="transform: scale(-1,1);">
                            <img src="../../../assets/img/Merchant.svg" class="mg-b-15 img-fluid" alt="">
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>