<!-- acquirer--merchant--sales -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      SuperCash - Transactions</a></li>
</ol>



<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="tx-medium">
      SuperCash
    </div>
    <div class="pnvalid" data-permission="addsupercashrequests">
      <button type="button" class="btn btn-xs  btn-primary " (click)="Form_Add_Show()"> Add SuperCash </button>
    </div>
  </div>
  <!-- <div class="card-header">
    <div class=" d-sm-flex">
      <div class=" media">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
          <i data-feather="shopping-cart"></i>
        </div>
        <div class="media-body bd-pink">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
            Transactions</h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">{{OverviewData.Transactions| number: "1.0-0"}}
          </h4>
        </div>
      </div>
      <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <span class="tx-20"> <i class="fas fa-money-bill-alt"></i></span>
        </div>
        <div class="media-body">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Transfer Amount</h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{OverviewData.Amount | number:
            "1.2-2" }}
          </h4>
        </div>
      </div>
    </div>
  </div> -->
  <div class="box-header px-3 pd-t-15 pd-b-5 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TUTr_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>

    </div>

    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
        _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()">
        <i data-feather="plus-circle"></i> </button>

    </div>
    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>
            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
              (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <!-- <div *ngFor="let TItem of TUTr_Config.SortExpressionOption"
                            (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </div> -->
            <!-- <div class="mt-2">
                            <button type="button" class="btn btn-primary btn-sm mr-2"
                                (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.SortApply)">Apply</button>
  
                            <button type="button" class="btn btn-light btn-sm "
                                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortReset)">
                                Reset</button>
                        </div> -->
            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu pd-0 tx-13">
          <form class="wd-400 ">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
              Filters
            </h6>
            <div class="pd-25" style="overflow: auto; height: 80vh;" *ngIf="ResetFilterControls">
              <div>
                <div class="form-group">
                  <label>Create Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions" (click)="openDatepicker($event)"
                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Status</label>
                  <!-- <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                    [data]="TUTr_Config.StatusOptions"
                    (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                  </select2> -->


                  <select2 class="wd-100p" [value]="_DataHelperService.statusValue"
                  [data]="_DataHelperService.TUTr_Filter_StatusOptions"
                  (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)"
                  [options]="_DataHelperService.Status_Option">
                </select2>




                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Customer</label>
                  <div class="form-group">
                    <!-- <select2 class="full-width" [options]="TUTr_Filter_UserAccount_Option" class="wd-100p"
                        (valueChanged)="TUTr_Filter_UserAccounts_Change($event)">
                      </select2> -->

                    <select2 class="full-width" [options]="TUTr_Filter_Merchant_Option"
                      (valueChanged)="TUTr_Filter_Merchants_Change($event)">
                    </select2>


                  </div>
                </div>
              </div>


              <!-- <div class="mg-b-70">
                  <div class="form-group">
                    <ng5-slider [value]="TUTr_InvoiceRangeMinAmount" [highValue]="TUTr_InvoiceRangeMaxAmount"
                      [options]="_HelperService.AppConfig.RangeInvoiceAmountOptions"
                      (userChangeEnd)="TUTr_InvoiceRange_OnChange($event)">
                    </ng5-slider>
                  </div>
                </div> -->

              <div class="mg-b-70">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="InvoiceRangeMaxAmount">Min Sale Amount</label>
                        <input type="number" name="InvoiceRangeMinAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                          (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="InvoiceRangeMaxAmount">Max Sale Amount</label>
                        <input type="number" name="InvoiceRangeMaxAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                          (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
              style="position: fixed; bottom:0%; margin-top: -2.5em ;">
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
            </div>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-5">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:TItem.data[0].Name}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
  </div>

  <div class="pt-0 pd-l-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
      Sales Range
      [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" + _HelperService.FilterSnap.SalesRange.SalesMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
  </div>

  <div class="card-body pd-b-0 mt-n2">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }} cursor-pointer ">
      <thead>
        <tr>
          <th>Create Date</th>
          <th>Customer</th>
          <th>Mobile Number</th>
          <th class="">Amount(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
          <th>Done By</th>
          <th class="wd-300">Comment</th>
          <th> Status</th>


        </tr>
      </thead>
      <tbody>
        <tr (click)="TUTr_RowSelected(TItem)" *ngFor="
               let TItem of (TUTr_Config.Data
                 | paginate
                   : {
                       id: 'TUTr_Paginator',
                       itemsPerPage: TUTr_Config.PageRecordLimit,
                       currentPage: TUTr_Config.ActivePage,
                       totalItems: TUTr_Config.TotalRecords
                     })
             ">
          <!-- <td>
            <div class="">
              <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
            </div>
          </td> -->

          <td>
            <div>{{ TItem.CreateDateD || "--" }}</div>
            <div>{{ TItem.CreateDateT || "--" }}</div>
          </td>

          <td class="cursor-pointer" (click)="RouteCustomer(TItem)">
            <div class="cursor-pointer route-hover">
              <span class="">{{ TItem.AccountDisplayName || "--" }}</span>
            </div>
          </td>


          <!-- (click)="RouteCustomer(TItem)" -->
          <td>
            <div class="cursor-pointer" (click)="RouteCustomer(TItem)">
              <span class="cursor-pointer route-hover"> {{ TItem.AccountMobileNumber || "--" }}</span>
              <div class="tx-12 text-secondary">{{ TItem.EmailAddress || "--" }}</div>
            </div>
          </td>

          <td class="">
            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
            {{ TItem.Amount || "0" |number:"1.2-2"}}
          </td>



          <td (click)="RouteAdmin(TItem)" class="cursor-pointer route-hover">
            {{ TItem.CreatedByDisplayName || "--" }}
            <!-- <div class="tx-12 text-secondary"> {{ TItem.ReferenceNumber || "--" }} </div> -->
          </td>

          <td class="">

            <!-- <div>{{ TItem.Comment || "--" }}</div> -->
            <!-- <div>{{ TItem.Comment | slice:0:50|| "--" }}</div> -->
            <div style="overflow-wrap: anywhere;">{{ TItem.Comment || "--" }}</div>
            <!-- <div style="width: 100px;">{{ TItem.Comment || "--" }}</div> -->
            <!-- <div class="tx-12 text-secondary"> {{ TItem.ReferenceNumber || "--" }} </div> -->

          </td>

          <td>
            <span class="text-lowercase" [ngClass]="TItem.StatusBadge">
              {{ TItem.StatusName || "--" }}
            </span>
          </td>



        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TUTr_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
        (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
        (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas
  style="width: 480px !important; overflow-y:auto !important ;">
  <div class="off-canvas-content">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div>
          <h3 class="pb-0 mb-0 tx-20">Cashout Details </h3>
        </div>



        <div> <span class="{{_CoreUsage.StatusB}}"> {{_CoreUsage.StatusName || "--"}}</span> </div>
      </div>
      <div class="card-body">
        <div class="mg-t-15 tx-medium mg-b-10"> Customer Details </div>

        <div class="row mg-t-15">
          <div class="col-md-4 float-left text-secondary">Customer</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">
            <div class="tx-medium">{{_CoreUsage.AccountDisplayName || "--"}}</div>
            <div class="tx-regular"> {{_CoreUsage.AccountMobileNumber || "--"}} </div>

          </div>
        </div>
        <div class="mg-t-15 tx-medium mg-b-10"> Transfer Details </div>

        <div class="row">
          <div class="col-md-4 float-left text-secondary">StartDate</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{_CoreUsage.StartDate || "--"}}</div>
        </div>

        <div class="row mg-t-15">
          <div class="col-md-4 float-left text-secondary">EndDate</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{_CoreUsage.EndDate || "--"}}</div>
        </div>


        <div class="mg-t-15 tx-medium mg-b-10"> Bank Details </div>

        <div class="row mg-t-15">
          <div class="col-md-4 float-left text-secondary">Bank Name</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{_CoreUsage.BankName || "--"}}</div>
        </div>

        <div class="row mg-t-15">
          <div class="col-md-4 float-left text-secondary">Account Number</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{_CoreUsage.BankAccountNumber || "--"}}</div>
        </div>

        <div class="row mg-t-15">
          <div class="col-md-4 float-left text-secondary">Source</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{_CoreUsage.StartDate || "--"}}</div>
        </div>
        <div class="mg-t-15 tx-medium mg-b-10"> Transaction Details </div>
        <div class="row">
          <div class="col-md-4 float-left text-secondary">Amount</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right tx-medium"> <span class=" text-sm p-0"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_CoreUsage.Amount || "--"}}</div>
        </div>
        <div class="row mg-t-15 ">
          <div class="col-md-4 float-left text-secondary">Charge</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right"> <span class=" text-sm p-0"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_CoreUsage.Charge || "--"}}</div>
        </div>
        <div class="row mg-t-15 ">
          <div class="col-md-4 float-left text-secondary">Total Amount</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right"> <span class=" text-sm p-0"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_CoreUsage.TotalAmount || "--"}}</div>
        </div>
        <div class="row mg-t-15 ">
          <div class="col-md-4 float-left text-secondary">Payment Reference</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{_CoreUsage.ReferenceNumber || "--"}}</div>
        </div>
        <div class="mg-t-15 tx-medium mg-b-10"> Cashout Request Details </div>

        <div class="row mg-t-15 ">
          <div class="col-md-4 float-left text-secondary">Requested On</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{_CoreUsage.CreateDate || "--"}}


          </div>
        </div>

        <div class="row mg-t-15 ">
          <div class="col-md-4 float-left text-secondary">Requested By</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{_CoreUsage.CreatedByDisplayName || "--"}}</div>
        </div>

        <div class="row mg-t-15 ">
          <div class="col-md-4 float-left text-secondary">Respond On</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{_CoreUsage.ModifyDate || "--"}}
            <div> <span class="{{_CoreUsage.StatusB}}"> {{_CoreUsage.StatusName || "--"}}</span> </div>
          </div>
        </div>

        <div class="row mg-t-15 ">
          <div class="col-md-4 float-left text-secondary">Respond By</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{_CoreUsage.ModifyByDisplayName || "--"}}</div>
        </div>

        <div class="row mg-t-15 ">
          <div class="col-md-4 float-left text-secondary">Comment</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{_CoreUsage.SystemComment || "--"}}</div>
        </div>

      </div>
      <div class="card-footer d-flex justify-content-between">
        <div>
          <button type="button" class="btn btn-success" *ngIf="_CoreUsage.StatusName == 'Initialized'"
            (click)="Approve()"> Approve </button>
          <button type="button" class="btn btn-danger mg-l-5 float-right" *ngIf="_CoreUsage.StatusName == 'Initialized'"
            (click)="Reject()"> Reject </button>

        </div>
        <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>

      </div>
    </div>


  </div>
</div>
<div class="modal fade" id="Form_Add_Content" role="dialog" data-backdrop="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Reward Customer</h5>
      </div>
      <form [formGroup]="Form_Add" (ngSubmit)="Form_Add_Process(Form_Add.value)" role="form">
        <div class="modal-body b-b">
          <!-- <div class="form-group">
            <label>Reference Number
              <span class="text-danger" *ngIf="Form_Add.controls['ReferenceNumber'].hasError('required')">*</span>
            </label>
            <input type="text" name="ReferenceNumber" maxlength="256" class="form-control"
              [formControl]="Form_Add.controls['ReferenceNumber']"
              [ngClass]="{'is-invalid':!Form_Add.controls['ReferenceNumber'].valid && Form_Add.controls['ReferenceNumber'].touched}">
            <label class="text-danger" for="ReferenceNumber"
              *ngIf="Form_Add.controls['ReferenceNumber'].hasError('required') && Form_Add.controls['ReferenceNumber'].touched">
              ReferenceNumber Required</label>
          </div> -->


          <div class="form-group ">
            <label>Select Customer</label>
            <select2 name="S2GetBranches" class="full-width" [options]="GetBranches_Option"
              (valueChanged)="GetBranches_ListChange($event)"></select2>
          </div>

          <div class="form-group">
            <label>Amount</label>
            <span class="text-danger">*</span>
            <input type="number" name="Amount" maxlength="256" class="form-control"
              [formControl]="Form_Add.controls['Amount']"
              [ngClass]="{'is-invalid':!Form_Add.controls['Amount'].valid && Form_Add.controls['Amount'].touched}">
            <label class="text-danger" for="Amount"
              *ngIf="Form_Add.controls['Amount'].hasError('required') && Form_Add.controls['Amount'].touched">
              Enter Amount</label>
          </div>


          <div class="form-group">
            <label>Comment</label>
            <span class="text-danger">*</span>
            <textarea name="Comment" maxlength="256" class="form-control" [formControl]="Form_Add.controls['Comment']"
              [ngClass]="{'is-invalid':!Form_Add.controls['Comment'].valid && Form_Add.controls['Comment'].touched}">
              </textarea>
            <label class="text-danger" for="Comment"
              *ngIf="Form_Add.controls['Comment'].hasError('required') && Form_Add.controls['Comment'].touched">
              Comment required</label>
          </div>


        </div>
        <div class="modal-footer p-3 text-right b-b">
          <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_Add_Close()">{{
            'Common.Close'
            | translate }}</button>
          <button type="submit" class="btn btn-primary" (click)="Form_Add.value.OperationType='close'"
            [disabled]="!Form_Add.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              Save
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
              }}...
            </span>
          </button>




        </div>
      </form>
    </div>
  </div>
</div>