<!-- acquirer--merchants--list -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Image Gallery</a></li>
</ol>



<div class="card ">
  <div class="card-header d-flex justify-content-between">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <span class="tx-semibold mg-t-10">Image Gallery<span class="text-muted tx-normal">
            ({{ImageGallery_Config.TotalRecords}})</span></span>
      </div>
    </div>

    <div class="btn btn-primary " (click)="Form_Add_Show()"> Upload Image </div>
  </div>
  

  <div class="card-body pd-10">
    <div class="row no-gutters">
      <div class="col-md-3 no-gutters"  *ngFor="
      let item of (ImageGallery_Config.Data | paginate: {
              id: 'ImageGallery_Paginator',
              itemsPerPage: ImageGallery_Config.PageRecordLimit,
              currentPage: ImageGallery_Config.ActivePage,
              totalItems: ImageGallery_Config.TotalRecords
            });index as i"  [gallery]="'anotherLightbox'" [lightbox]="i"  >
        <div class=" container mg-10">
          <div class=" card ht-200">
            <img class="ht-200"   [src]="item.IconUrl">




          </div>
        </div>

      </div>
    </div>
  
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{ImageGallery_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{ImageGallery_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{ImageGallery_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="ImageGallery_Config.PageRecordLimit"
        (ngModelChange)="ImageGallery_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="ImageGallery_Paginator" class="pagination pagination-space"
        (pageChange)="ImageGallery_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div class="modal fade" id="Form_Add_Content" role="dialog" tabindex="-1" data-backdrop="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'System.Helpers.UploadImage' | translate }}</h5>
      </div>
      <form [formGroup]="Form_Add" (ngSubmit)="Form_Add_Process(Form_Add.value)" role="form">
        <div class="modal-body b-b">
          <div class="mb-4">
          
            <div class="mb-3 d-flex align-items-center justify-content-center">
              <input-file class=" d-flex justify-content-center wd-20p m-auto rounded-50" placeholder="" #inputfile>
                <i data-feather="airplay"> </i>
              </input-file>
            </div>
            <div *ngIf="_HelperService._Icon_Cropper_Image != ''">
              <span class="float-right">
                <button type="button" class="btn btn-sm btn-success" (click)="_HelperService.Icon_Crop_Loaded()">
                  <i class="fa fa-fw  fa-edit "></i> {{ 'Common.EditPicture' | translate }}
                </button>
                <button type="button" class="btn btn-sm btn-warning" (click)="_HelperService.Icon_Crop_Clear()">
                  <i class="fa fa-fw  fa-sync "></i> {{ 'Common.ClearPicture' | translate }}
                </button>
              </span>
              <img [src]="_HelperService._Icon_Cropper_Image" class="avatar w-96 b-a" />
            </div>
          </div>

          <div class="form-group mr-3">
            <div class="radio float-left mr-3">
              <label class="ui-check"><input type="checkbox" name="SelectValue" [value]="1" [checked]="SelectValue"
                  (change)="CheckValue()">
                <i class="dark-white"></i>
                {{ 'System.Helpers.Public' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="light p-3 text-right b-b">


          <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_Add_Close()">{{
            'Common.Close'
            | translate }}</button>

          <button type="submit" class="btn btn-primary  " (click)="Form_Add.value.OperationType='close'"
            [disabled]="!Form_Add.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ 'Common.Save' | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
              }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="m-3">
              <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage"
                format="_HelperService.AppConfig.ImageGallery_Cropper_Options.Format"
                [maintainAspectRatio]="_HelperService.AppConfig.ImageGallery_Cropper_Options.MaintainAspectRatio"
                [resizeToWidth]="_HelperService.AppConfig.ImageGallery_Cropper_Options.ResizeToWidth"
                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                (imageLoaded)="_HelperService.Icon_Crop_Loaded()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
              </image-cropper>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
            <div class="p-3">
              <div class="mb-2">
                Image Preview
              </div>
              <div class="mb-2">
                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
              </div>
              <div>
                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                  translate }}</button>
                <button type="button" class="btn btn-warning " (click)="_HelperService.Icon_Crop_Clear()">{{
                  'Common.PictureClearAndClose' |
                  translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

