<div class="card row" style="  background-color: #F5F5FA !important;;">
    <div class="card-header col-lg-12 col-sm-12 col-md-12 col-xs-12 bg-white pd-y-25">
        <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'"><img
                src="../../../assets/img/interswitch.png" class="w-xmd">
        </div>
        <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'"><img
                src="../../../assets/img/logoinverse.png" class="w-xmd">
        </div>
    </div>
    <div class="col-lg-12">
        <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
            <li role="presentation" class="active"><a aria-controls="discover" role="tab" data-toggle="tab"><i
                        class="fa fa-check" aria-hidden="true"></i>
                    <p>About Business</p>
                </a></li>
            <li role="presentation" class="active"><a aria-controls="strategy" role="tab" data-toggle="tab"><i
                        class="fa fa-check" aria-hidden="true"></i>
                    <p>Business Location</p>
                </a></li>
            <li role="presentation"><a aria-controls="optimization" role="tab" data-toggle="tab"><i class="fa fa-check"
                        aria-hidden="true"></i>
                    <p>Verify Number</p>
                </a></li>
           
            <li role="presentation"><a aria-controls="reporting" role="tab" data-toggle="tab"><i class="fa fa-check"
                        aria-hidden="true"></i>
                    <p>All Set</p>
                </a></li>
        </ul>
    </div>
    <div style="display: block; height: 73vh !important; 
    position: relative;
    overflow: hidden;">
 
        <div class="mx-auto w-xl w-auto-xs animate fadeIn " style="width: 70%;">
            <div class="card row bg-white" style="border-radius: 4px !important;">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 b-a r-2x pb-3">
                    <div class="row">
                        
                        <div class="col-12">
                            <div class="m-4">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                        <h4 class="_400 text-center">Please Verify Your Mobile Number</h4>
                                        <div class="text-muted text-center">
                                            OTP has been sent on your registered mobile number and email ID. You can
                                            change the mobile number
                                        </div>

                                        <div class="form-group mx-auto w-50 text-left  mg-t-50">
                                            <label class="block w-50">OTP has Been Sent On</label>

                                            <input type="text" name="MobileNumber" minlength="8" maxlength="14"
                                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                                [(ngModel)]="PhoneNumber">
                                            <!-- <div class="text-purple _500 mt-2"> {{MobileNumber1Message}}</div> -->
                                        </div>

                                        <div class="form-group text-left mx-auto  w-50 ">


                                            <label for=""> OTP </label>

                                            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:4}">
                                            </ng-otp-input>
                                            <!-- <input type="text" value="" class="form-control " name="Otp"
                                                [(ngModel)]="Otp"> -->
                                        </div>
                                        <div class="mg-b-20">
                                            didn't recieve OTP? <span class="tx-semibold tx-14 text-primary"> <a
                                                    type="button" class="cursor-pointer" (click)=ResendCode()> RESEND
                                                    NOW </a></span>
                                        </div>


                                        <div class="mb-3  w-50 mx-auto">
                                            <button type="button" (click)="VerifyCode()"
                                                class="btn btn-primary full-width mb-3">
                                                <span *ngIf="!Form_AddUser_Processing">
                                                    Verify Number
                                                </span>
                                                <span *ngIf="Form_AddUser_Processing">
                                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                    Verifing Number
                                                </span>
                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>