<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']">
    <a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
      [routerLinkActive]="['active']">
      Dashboard
    </a>
  </li>
  <li class="breadcrumb-item active cursor-pointer" [routerLinkActive]="['active']">
    <a class="text-primary" (click)="_HelperService.NavigateBack()">
      Administration
    </a>
  </li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']">
    <a class="" [routerLinkActive]="['active']">
      Change Log Feature
    </a>
  </li>

</ol>












<div class="card ">
  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between align-items-center ">
        <span class="tx-semibold mg-t-10">Log Features<span class="text-muted tx-normal">
            ({{RequestHistory_Config.TotalRecords}})</span>
          <div class="tx-12 tx-normal text-secondary"> Log Features</div>
        </span>
        <button class="btn btn-xs  btn-primary" (click)="Form_Add_Show()"> Add Log Feature </button>
      </div>
    </div>
  </div>

  <div class="box-header px-3 pd-t-15 pd-b-7  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="RequestHistory_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">
            <i data-feather="search"></i>
          </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()">
        <i data-feather="plus-circle"></i>
      </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="RequestHistory_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i data-feather="align-left" class="tx-20"></i>
        </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
              Sort
              <div class="float-right tx-20"
                *ngIf="RequestHistory_Config.Sort.SortOrder == 'desc' && RequestHistory_Config.Sort.SortDefaultColumn == 'CreateDate'"
                (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>


              <div class="float-right tx-20" *ngIf="RequestHistory_Config.Sort.SortOrder == 'asc'"
                (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>


            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of RequestHistory_Config.Sort.SortOptions"
              (click)="RequestHistory_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset
            </button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">
              Apply
            </button>
          </form>
        </div>
      </div>

      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="RequestHistory_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
          <i data-feather="filter"></i>
        </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
              Filters
            </h6>

            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="RequestHistory_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="RequestHistory_Config.StatusOptions"
                  (valueChanged)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>

            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset
            </button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">
              Apply
            </button>
          </form>
        </div>
      </div>

      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
        <i data-feather="refresh-cw"></i>
      </a>
    </nav>

  </div>
  <div class="pt-0 pd-l-15 pd-b-8">

    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
        <i class="fas fa-times"></i>
      </span>
    </div>

    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span>
        {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}
      </span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
        <i class="fas fa-times"></i>
      </span>
    </div>

    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
        <i class="fas fa-times"></i> </span>
    </div>

    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
        <i class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary" *ngFor="let TItem of RequestHistory_Config.Filters">
      {{TItem.Title}}
    </span>

  </div>

  <div class="card-body p-0 table-responsive">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>

          <th class="text-right">
            Status
          </th>
          <th class="">
            Title
          </th>
          <th class="">
            Location
          </th>
          <th class="">
            Log
          </th>

          <th class="">
            Comment
          </th>
          <th class="">
            Version
          </th>
          <th class="">
            Release Date
          </th>

          <th class="">
            Action
          </th>
        </tr>
      </thead>


      <tbody>
        
        <tr class="cursor-pointer" (click)="RequestHistory_RowSelected(TItem)"
          *ngFor="let TItem of RequestHistory_Config.Data  | paginate: { id: 'RequestHistory_Paginator',itemsPerPage: RequestHistory_Config.PageRecordLimit, currentPage: RequestHistory_Config.ActivePage,  totalItems: RequestHistory_Config.TotalRecords }">

          <td>
            <div class="tx-14 tx-semibold">
              <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span>
            </div>
          </td>
          <td class="">
            <div class="tx-14">{{TItem.Title || "--"}}
            </div>
          </td>

          <td class="text-muted">
            <div class="tx-12 text-secondary">{{TItem.LocationName || "--"}}
            </div>
          </td>
          <td class="text-muted">
            <div class="tx-12 text-secondary">{{TItem.Log | truncateText:10 || "--"}}
            </div>
          </td>
          <td class="text-muted">
            <div class="tx-12 text-secondary">{{TItem.Comment || "--"}}
            </div>
          </td>
          <td class="text-muted">
            <div class="tx-12 text-secondary">{{TItem.VersionName || "--"}}
            </div>
          </td>
          <td class="text-muted">
            <div class="tx-12 text-secondary">{{TItem.ReleaseDate | date :["dd-MM-yyyy"] || "--"}}</div>
            <div class="tx-12 text-secondary text-lowercase">{{TItem.ReleaseDate | date :["hh:mm a"] || "--"}}</div>
          </td>

          <td class="text-muted">
            <div class=" text-primary" (click)="EditFeature(TItem)">Edit
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>



  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{RequestHistory_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{RequestHistory_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{RequestHistory_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="RequestHistory_Config.PageRecordLimit"
        (ngModelChange)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="RequestHistory_Paginator" class="pagination pagination-space"
        (pageChange)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>

</div>







<!-- form add modal start -->
<div class="modal fade" id="Form_Add_Content" role="dialog" tabindex="-1" data-backdrop="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Log Feature</h5>
      </div>
      <form [formGroup]="Form_Add" (ngSubmit)="Form_Add_Process(Form_Add.value)" role="form">
        <div class="modal-body b-b">

          <!-- title -->
          <div class="form-group">
            <label for="title">Title</label>
            <span class="text-danger">*</span>
            <input type="text" name="Title" id="" maxlength="256" class="form-control"
              [formControl]="Form_Add.controls['Title']"
              [ngClass]="{'is-invalid':!Form_Add.controls['Title'].valid && Form_Add.controls['Title'].touched}">
            <label class="text-danger" for="Title"
              *ngIf="Form_Add.controls['Title'].hasError('required') && Form_Add.controls['Title'].touched"> Enter
              Title</label>
          </div>

          <!-- location -->
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" name="LocationName" id="" class="form-control"
              [formControl]="Form_Add.controls['LocationName']">
          </div>

          <!-- Log -->
          <div class="form-group">
            <label for="location">Log</label>
            <input type="text" name="Log" id="" class="form-control" [formControl]="Form_Add.controls['Log']">
          </div>

          <!-- Comment -->
          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea name="Comment" id="" rows="3" minlength="2" maxlength="256"
              placeholder="You can write comment here..." class="form-control"
              [formControl]="Form_Add.controls['Comment']"></textarea>
          </div>

          <!-- release date -->
          <div class="form-group">
            <label for="releasedate">Release Date</label>
            <input type="text" class="form-control " name="daterangeInput" daterangepicker
              [options]="_DealConfig.StartDateConfig" [formControl]="Form_Add.controls['ReleaseDate']"
              (selected)="ScheduleLogReleaseDate($event)" />
          </div>

          <!-- Version Name -->
          <div class="form-group">
            <label for="location">Version</label>
            <input type="text" name="VersionName" id="" class="form-control"
              [formControl]="Form_Add.controls['VersionName']">
          </div>

          <!-- Status -->
          <div class="form-group">
            <div class="radio float-left mr-3">
              <label class="ui-check"><input type="radio" name="statusoptions" [value]="'default.active'"
                  [formControl]="Form_Add.controls['StatusId']">
                <i class="dark-white"></i>
                {{ 'Common.Active' | translate }}</label>
            </div>
            <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
                  [value]="'default.inactive'" [formControl]="Form_Add.controls['StatusId']">
                <i class="dark-white"></i>
                {{ 'Common.Inactive' | translate }}</label></div>
          </div>

        </div>

        <div class="light p-3 text-right b-b">
          <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_Add_Close()">
            {{'Common.Close'| translate }}
          </button>
          <button type="submit" class="btn btn-primary" (click)="Form_Add.value.OperationType='new'"
            [disabled]="!Form_Add.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ 'Common.Save' | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ 'Common.PleaseWait' | translate}}
            </span>
          </button>
        </div>


      </form>
    </div>
  </div>
</div>
<!-- form add modal end -->



<!-- form edit modal start -->
<div class="modal fade" id="Form_Edit_Content" role="dialog" tabindex="-1" data-backdrop="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Feature</h5>
      </div>
      <form [formGroup]="Form_Edit" (ngSubmit)="Form_Edit_Process(Form_Edit.value)" role="form">

        <div class="modal-body b-b">

          <!-- title -->
          <div class="form-group">
            <label for="title">Title</label>
            <span class="text-danger">*</span>
            <input type="text" name="Title" id="" maxlength="256" class="form-control" [(ngModel)]="_CoreUsage.Title"
              [formControl]="Form_Edit.controls['Title']"
              [ngClass]="{'is-invalid':!Form_Edit.controls['Title'].valid && Form_Edit.controls['Title'].touched}"
              [(ngModel)]="_CoreUsage.Title">
            <label class="text-danger" for="Title"
              *ngIf="Form_Edit.controls['Title'].hasError('required') && Form_Edit.controls['Title'].touched">
              Enter Title
            </label>
          </div>

          <!-- location -->
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" name="LocationName" id="" class="form-control"
              [formControl]="Form_Edit.controls['LocationName']" [(ngModel)]="_CoreUsage.LocationName">
          </div>

          <!-- Log -->
          <div class="form-group">
            <label for="location">Log</label>
            <input type="text" name="Log" id="" class="form-control" [formControl]="Form_Edit.controls['Log']"
              [(ngModel)]="_CoreUsage.Log">
            <!-- [(ngModel)]="_CoreUsage.Log" -->
          </div>

          <!-- Comment -->
          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea name="Comment" id="" rows="3" minlength="2" maxlength="256"
              placeholder="You can write comment here..." class="form-control"
              [formControl]="Form_Edit.controls['Comment']" [(ngModel)]="_CoreUsage.Comment">
            </textarea>
          </div>

          <!-- release date -->
          <div class="form-group">
            <label for="releasedate">Release Date</label>
            <input type="text" class="form-control " name="daterangeInput" daterangepicker
              [options]="_DealConfig.StartDateConfig" [formControl]="Form_Edit.controls['ReleaseDate']"
              (selected)="ManageScheduleLogReleaseDate($event)" />
          </div>

          <!-- Version Name -->
          <div class="form-group">
            <label for="location">Version</label>
            <!-- <span class="text-danger">*</span> -->
            <input type="text" name="VersionName" id="" class="form-control"
              [formControl]="Form_Edit.controls['VersionName']" [(ngModel)]="_CoreUsage.VersionName">
          </div>

          <!-- Status -->
          <div class="form-group">
            <div class="radio float-left mr-3">
              <label class="ui-check">
                <input type="radio" name="statusoptions" [value]="'default.active'"
                  [formControl]="Form_Edit.controls['StatusId']">
                <i class="dark-white"></i>
                {{ 'Common.Active' | translate }}
              </label>
            </div>
            <div class="radio  mr-3"><label class="ui-check">
                <input type="radio" name="statusoptions" [value]="'default.inactive'"
                  [formControl]="Form_Edit.controls['StatusId']">
                <i class="dark-white"></i>
                {{ 'Common.Inactive' | translate }}
              </label>
            </div>
          </div>

        </div>

        <!-- <div class="light p-3 text-right b-b ">

          <button type="button" class="btn btn-danger mr-2" data-dismiss="modal" (click)="DeleteLogRequest()">
            Delete
           </button>


          <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_Edit_Close()">
            {{'Common.Close'| translate }}
          </button>

          <button type="submit" class="btn btn-primary" (click)="Form_Edit.value.OperationType='edit'"
            [disabled]="!Form_Edit.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ 'Common.Update' | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ 'Common.PleaseWait' | translate}}
            </span>
          </button>

        </div> -->



        <div class="card-footer d-flex justify-content-between pd-l-15">
          <button type="button" class="btn btn-danger mr-2" data-dismiss="modal" (click)="DeleteLogRequest()">
            Delete
           </button>
        
          <div class="">

            <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_Edit_Close()">
              {{'Common.Close'| translate }}
            </button>
            <button type="submit" class="btn btn-primary" (click)="Form_Edit.value.OperationType='edit'"
            [disabled]="!Form_Edit.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ 'Common.Update' | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ 'Common.PleaseWait' | translate}}
            </span>
          </button>
          </div>
        </div>

        



      </form>
    </div>
  </div>
</div>
<!-- form edit modal end -->