<!-- acquirer--merchants--list -->

<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active cursor-pointer" [routerLinkActive]="['active']"><a class="text-primary"
      (click)="_HelperService.NavigateBack()">
      Administration</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Sms Notification</a></li>
</ol>

<div class="card ">
  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between align-items-center ">
        <span class="tx-semibold mg-t-10"> Sms Notification<span class="text-muted tx-normal">
            ({{RequestHistory_Config.TotalRecords}})</span>
          <!-- <div class="tx-12 tx-normal text-secondary"> Admin Features</div> -->

        </span>
      
      </div>
    </div>
  </div>


  <!-- <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> {{RequestHistory_Config.Title}} </div>
  </div> -->
  <div class="box-header px-3 pd-t-15 pd-b-7 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="RequestHistory_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="RequestHistory_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="RequestHistory_Config.Sort.SortOrder == 'desc'"
                (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="RequestHistory_Config.Sort.SortOrder == 'asc'"
                (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>
            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of RequestHistory_Config.Sort.SortOptions"
              (click)="RequestHistory_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="RequestHistory_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="RequestHistory_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
              
                <select2 name="S2GetRoles" class="full-width" [data]="smsnotification" [options]="GetRoles_Option"
                  (valueChanged)="GetRoles_ListChange($event)">
                </select2>
              </div>
            </div>

         
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='DeliveryDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
   
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of RequestHistory_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0 table-responsive">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th class="text-center">
            Status
          </th>

          <th class="tx-normal">
            Source
          </th>
          <th class="">
            Mobile Number
          </th>

          <th class="wd-300">
            Message
          </th>
          <th class="">
            Send Date
          </th>

          <th class="">
            Delivery Date
          </th>

        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="RequestHistory_RowSelected(TItem)"
          *ngFor="let TItem of RequestHistory_Config.Data  | paginate: { id: 'RequestHistory_Paginator',itemsPerPage: RequestHistory_Config.PageRecordLimit, currentPage: RequestHistory_Config.ActivePage,  totalItems: RequestHistory_Config.TotalRecords }">
          <td class="text-center">
            <span class="">{{TItem.StatusName || "--"}}</span>

          </td>
          <td>
            <div class="tx-14 tx-semibold ">{{TItem.SourceName || "--"}}</div>

          </td>
          <td class="">
            <div class="tx-14">{{TItem.MobileNumber || "--"}}
            </div>

          </td>
          <td class="wd-300">
            {{TItem.Message || "--"}}
          </td>

          <td class="">
            <div>{{TItem.SendDate | date :["dd-MM-yyyy hh:mm"] }}</div>
            <!-- {{TItem.SendDate | date :["dd-MM-yyyy hh:mm"] }} -->
          </td>
          <td class="">
            <div>{{(TItem.DeliveryDate | date :["dd-MM-yyyy hh:mm"]) || "--" }}</div>
            <!-- <span class=" ">{{(TItem.DeliveryDate | date :["dd-MM-yyyy hh:mm"])  || "--" }}</span> -->
          </td>



        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{RequestHistory_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{RequestHistory_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{RequestHistory_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="RequestHistory_Config.PageRecordLimit"
        (ngModelChange)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="RequestHistory_Paginator" class="pagination pagination-space"
        (pageChange)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas
  style="width: 480px !important; overflow-y:auto !important ;">
  <div class="off-canvas-content">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h3 class="pb-0 mb-0 tx-20"> <i class="pr-1 {{_CoreUsage.StatusI}}"></i>{{CurrentData.SourceName || "--" }}
        </h3>
        <div>{{CurrentData.StatusName || "--" }}</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 float-left text-secondary">Source</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CurrentData.SourceName || "--"}}</div>
        </div>
        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Mobile Number</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CurrentData.MobileNumber || "--"}}</div>
        </div>
        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Sms Cost</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CurrentData.Amount || "--"}}</div>
        </div>

        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Reference Number</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CurrentData.ReferenceNumber || "--"}}</div>
        </div>

        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Send Date</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{(CurrentData.SendDate | date :["dd-MM-yyyy hh:mm"]) || "--"}}</div>
        </div>

        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Delivery Date</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{(CurrentData.DeliveryDate | date :["dd-MM-yyyy hh:mm"]) || "--"}}</div>
        </div>
        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Message</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CurrentData.Message || "--"}}</div>
        </div>

      </div>

      <div class="card-footer">
        <button class="btn btn-secondary float-right" (click)="unclick()"> Close </button>
      </div>
    </div>


  </div>
</div>
<div class="modal fade" id="Form_Add_Content" role="dialog" tabindex="-1" data-backdrop="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'System.Helpers.TitleAdd' | translate }}</h5>
      </div>
      <form [formGroup]="Form_Add" (ngSubmit)="Form_Add_Process(Form_Add.value)" role="form">
        <div class="modal-body b-b">
          <div class="form-group">
            <label>{{'System.Helpers.Name' | translate }}
              <span class="text-danger" *ngIf="Form_Add.controls['Name'].hasError('required')">*</span>
            </label>
            <input type="text" name="Name" maxlength="256" class="form-control"
              [formControl]="Form_Add.controls['Name']"
              [ngClass]="{'is-invalid':!Form_Add.controls['Name'].valid && Form_Add.controls['Name'].touched}">
            <label class="text-danger" for="Name"
              *ngIf="Form_Add.controls['Name'].hasError('required') && Form_Add.controls['Name'].touched">{{
              'System.Helpers.Name_ER_Required' | translate }}</label>
          </div>
          <div class="form-group">
            <label>{{'System.Helpers.SystemName' | translate }}
              <span class="text-danger" *ngIf="Form_Add.controls['SystemName'].hasError('required')">*</span>
            </label>
            <input type="text" name="SystemName" maxlength="256" class="form-control"
              [formControl]="Form_Add.controls['SystemName']"
              [ngClass]="{'is-invalid':!Form_Add.controls['SystemName'].valid && Form_Add.controls['SystemName'].touched}">
            <label class="text-danger" for="SystemName"
              *ngIf="Form_Add.controls['SystemName'].hasError('required') && Form_Add.controls['SystemName'].touched">{{
              'System.Helpers.SystemName_ER_Required' | translate }}</label>
          </div>
          <div class="form-group">
            <label>{{'System.Helpers.Value' | translate }}
              <span class="text-danger" *ngIf="Form_Add.controls['Value'].hasError('required')">*</span>
            </label>
            <input type="text" name="Value" maxlength="256" class="form-control"
              [formControl]="Form_Add.controls['Value']"
              [ngClass]="{'is-invalid':!Form_Add.controls['Value'].valid && Form_Add.controls['Value'].touched}">
            <label class="text-danger" for="Value"
              *ngIf="Form_Add.controls['Value'].hasError('required') && Form_Add.controls['Value'].touched">{{
              'System.Helpers.Value_ER_Required' | translate }}</label>
          </div>
          <div class="form-group">
            <div class="radio float-left mr-3">
              <label class="ui-check"><input type="radio" name="statusoptions" [value]="'default.active'"
                  [formControl]="Form_Add.controls['StatusCode']">
                <i class="dark-white"></i>
                {{ 'Common.Active' | translate }}</label>
            </div>
            <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
                  [value]="'default.inactive'" [formControl]="Form_Add.controls['StatusCode']">
                <i class="dark-white"></i>
                {{ 'Common.Inactive' | translate }}</label></div>
          </div>

        </div>

        <div class="light p-3 text-right b-b">
          <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_Add_Close()">{{
            'Common.Close'
            | translate }}</button>
          <button type="submit" class="btn btn-primary" (click)="Form_Add.value.OperationType='close'"
            [disabled]="!Form_Add.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ 'Common.Save' | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
              }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>