<!-- acquirer--merchants--list -->
<!-- <ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Customer Group</a></li>
</ol> -->

<!-- <div class="d-sm-flex justify-content-between pd-b-5 bd-b">
  <span class="tx-medium tx-21 mg-t-5">
    <span class="text-muted">
      <a class="cursor-pointer" (click)="_HelperService.NavigateBack()"><i data-feather="chevron-left"></i></a>
    </span>
    Customer Groups / {{_HelperService.AppConfig.ActiveOwnerDisplayName}}</span>
</div> -->

<div class="card">
  <div class="card-header d-flex justify-content-between">

    <div class=" tx-medium">
      {{CustomersList_Config.Title}}
    </div>
    <div class="text-secondary">
      ({{CustomersList_Config.TotalRecords}}  Customers)
    </div>
  </div>
  <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="CustomersList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="CustomersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="CustomersList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
        class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
        class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="CustomersList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="CustomersList_Config.Sort.SortOrder == 'desc'"
                (click)="CustomersList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="CustomersList_Config.Sort.SortOrder == 'asc'"
                (click)="CustomersList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of CustomersList_Config.Sort.SortOptions"
              (click)="CustomersList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>
            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="CustomersList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>




        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Send Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="CustomersList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <!-- <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="CustomersList_Config.StatusOptions"
                  (valueChanged)="CustomersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div> -->

            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="CustomersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
      <!-- <a class="nav-link ml-2 RefreshColor"
          (click)="CustomersList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
            data-feather="download"></i> </a> -->
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div> -->
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of CustomersList_Config.Filters">{{TItem.Title}}</span>

  </div>
  <!-- <div class="card-header d-flex bd-t bd-b-0 mg-l-10">
    <div class="form-check mg-r-20">
      <input class="form-check-input" type="checkbox" [checked]="IsDeleteAll" value="" id="DeleteAll"
        (click)="checkAll('chk')" checked>
      <label class="form-check-label" for="flexCheckChecked">
        Delete All
      </label>
    </div>
    <div class="text-secondary cursor-pointer">
      <a (click)="DeleteConfiguration()"> <i class="far fa-trash-alt mg-r-10"></i> Delete from list </a>
    </div>
  </div> -->

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th>

          </th>
          <th>
            Customer
          </th>
          <th>
            Contact Number
          </th>
          <th>
            Group Name
          </th>

          <th class="text-right">
            Send Date
          </th>



        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer"
          *ngFor="let TItem of CustomersList_Config.Data  | paginate: { id: 'CustomersList_Paginator',itemsPerPage: CustomersList_Config.PageRecordLimit, currentPage: CustomersList_Config.ActivePage,  totalItems: CustomersList_Config.TotalRecords }">

          <td class="text-center">
            <div class="tx-14" class="text-lowercase">
              <span class="cursor-pointer badge" style="background-color: #7987A11A; color: #7987a1;"
                data-toggle="tooltip" title="Not Send Yet" *ngIf="TItem.StatusCode == 'unsent'"> <img height="20"
                  width="20" src="../../../../../assets/img/upcoming.png" alt="" srcset=""> </span>
              <span class="cursor-pointer badge" style="background-color: #7987A11A; color: #7987a1;"
                data-toggle="tooltip" title="Sent" *ngIf="TItem.StatusCode == 'sent'"> <img height="20" width="20"
                  src="../../../../../assets/img/SMSstatus/sent.svg" alt="" srcset=""> </span>
              <span class="cursor-pointer badge badge-primary" style="background-color: #0168FA1A; color: #0168fa;"
                data-toggle="tooltip" title="Delivered" *ngIf="TItem.StatusCode == 'delivered'"> <img height="20"
                  width="20" src="../../../../../assets/img/SMSstatus/delivered.svg" alt="" srcset=""> </span>
              <span class="cursor-pointer" data-toggle="tooltip" style="background-color: #FFC20A33;" title="Pending"
                *ngIf="TItem.StatusCode == 'pending'"> <img height="20" width="20"
                  src="../../../../../assets/img/SMSstatus/pending.svg" alt="" srcset=""> </span>
              <span class="cursor-pointer" style="background-color: #DC35451A;" data-toggle="tooltip" title="failed"
                *ngIf="TItem.StatusCode == 'failed'"> <img height="20" width="20"
                  src="../../../../../assets/img/SMSstatus/failed.svg" alt="" srcset=""> </span>
              <span class="cursor-pointer" style="background-color: #DC35451A;" data-toggle="tooltip"
                title="Undeliverable" *ngIf="TItem.StatusCode == 'undeliverable'"> <img height="20" width="20"
                  src="../../../../../assets/img/SMSstatus/undeliverable.svg" alt="" srcset=""> </span>
              <span class="cursor-pointer" style="background-color: #7987A11A;" data-toggle="tooltip" title="Sending"
                *ngIf="TItem.StatusCode == 'sending'"> <img height="20" width="20"
                  src="../../../../../assets/img/SMSstatus/sending.svg" alt="" srcset=""> </span>
              <!-- <span *ngIf="TItem.StatusCode != 'unsent'"> {{TItem.StatusName || "0"}} </span> -->
            </div>


          </td>

          <td class="text-center  align-items-center">
            <div class="d-flex">
              <div class="text-left">
                <div class="tx-14 tx-medium ">{{TItem.Name || "--"}}</div>

              </div>
            </div>
          </td>
          <td>
            <div class="  ">{{TItem.MobileNumber || "--"}}</div>
          </td>

          <td>
            <div class="  ">{{TItem.GroupName || "--"}}</div>
            <!-- <div class=" tx-12 text-secondary  ">{{TItem.CreateDateT || "--"}}</div> -->

          </td>

          <td class="text-right ">
            <div class="pd-r-20"> {{TItem.SendDateD || "--"}} </div>
            <div class="text-secondary tx-12 pd-r-20"> {{TItem.SendDateT || "--"}} </div>
          </td>



        </tr>
      </tbody>

    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{CustomersList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{CustomersList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{CustomersList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="CustomersList_Config.PageRecordLimit"
        (ngModelChange)="CustomersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="CustomersList_Paginator" class="pagination pagination-space"
        (pageChange)="CustomersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>
<!-- <div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div> -->