<!-- acquirer--merchants--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
            Merchants</a></li>
</ol>

<div class="d-sm-flex justify-content-between">
    <span class="tx-semibold tx-lg-24 mg-t-10">
        <span class="text-muted">
            <a class="cursor-pointer" (click)="_HelperService.NavigateBack()"><i data-feather="chevron-left"></i></a>
        </span>
        {{_MerchantDetails.DisplayName}}</span>
</div>

<div class="bd-b-0 pd-b-15 pd-t-10">

    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist" [routerLinkActive]="['active']">

        <div class="d-flex flex-wrap ">
            <li class="nav-item cursor-pointer">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.RewardPercentage}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Merchant Details</a>
            </li>

            <li class="nav-item cursor-pointer pnvalid" data-permission="merchantdetailsDashboard">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Merchant.Dashboard}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Dashboard</a>
            </li>

            <li class="nav-item pnvalid" data-permission="merchantdetailsBusinessAnalystics">
                <a class="nav-link" href="#" data-toggle="dropdown">Business Analytics
                    <i data-feather="chevron-down" class="wd-15 ht-15"></i>
                </a>
                <div class="dropdown-menu tx-13 pd-10 pd-x-20" id="SubAccountsList_rdropdown">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="tx-semibold" style="cursor: not-allowed !important;">
                    <div class="row">
                        <i style="height: 15px;width: 12px;" class="mg-t-3" data-feather="pie-chart"></i>&nbsp;
                        <span class="mg-l-2">Reports</span>
                    </div>
                </a>
            </li>

            <li class="nav-item ml-0 pl-0 pnvalid" data-permission="mbasalessummary" [routerLinkActive]="['active']"><a
                    (click)="CloseRowModal()"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.MyBuisness.SalesSummary}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    [routerLinkActive]="['active']" class="nav-link">
                    <span class="mg-l-3">Sales Summary</span></a></li>
            <li class="nav-item ml-0 pl-0 pnvalid" data-permission="mbasalestrend" [routerLinkActive]="['active']"><a
                    (click)="CloseRowModal()"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.MyBuisness.SalesTrends}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    [routerLinkActive]="['active']" class="nav-link">
                    <span class="mg-l-3">Sales Trends</span></a></li>

            <li class="nav-item ml-0 pl-0 pnvalid" data-permission="mbatransaction" [routerLinkActive]="['active']"><a
                    (click)="CloseRowModal()"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Merchant.SalesHistory}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    [routerLinkActive]="['active']" class="nav-link">
                    <div class="row">
                        <i style="height: 14px;width: 14px;" class="mg-t-3" data-feather="smartphone"></i>&nbsp;
                        <span class="mg-l-2">Transaction</span>
                    </div>
                </a>
            </li>

            <li class="nav-item ml-0 pl-0 pnvalid" data-permission="mbasuspicioustransaction"
                [routerLinkActive]="['active']"><a (click)="CloseRowModal()"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.PendingTransaction}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    [routerLinkActive]="['active']" class="nav-link">
                    <!-- <i style="width: 14px;height: 14px;" data-feather="smartphone"></i> -->
                    <span class="mg-l-4"> Suspicious Transaction</span>
                </a>
            </li>

        </div>
        </li>




        <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']"
            data-permission="merchantdetailsLoyaltyAnalystics">
            <a class="nav-link" href="#" data-toggle="dropdown">Loyalty Analytics
                <i data-feather="chevron-down" class="wd-15 ht-15"></i>
            </a>
            <div class="dropdown-menu tx-13 pd-x-20 pd-10" id="SubAccountsList_rdropdown1">
        <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="mlaoverview"><a
                (click)="CloseRowModal1()"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Overview}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                [routerLinkActive]="['active']" class="nav-link">
                <i style="height: 14px;width: 14px;" data-feather="codesandbox"></i>
                <span class="mg-l-5">Overview</span>
            </a>
        </li>
        <li class="nav-item ml-0 pl-0 pnvalid" data-permission="mlavisits" [routerLinkActive]="['active']"><a
                (click)="CloseRowModal1()"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Visits}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                [routerLinkActive]="['active']" class="nav-link">
                <i style="height: 14px; width: 14px;" data-feather="eye"></i>
                <span class="mg-l-5">Visits</span>
            </a>
        </li>
        <li class="nav-item ml-0 pl-0 pnvalid" data-permission="mlacustomersummary" [routerLinkActive]="['active']"><a
                (click)="CloseRowModal1()"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Customers}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                [routerLinkActive]="['active']" class="nav-link">
                <i style="height: 14px; width: 14px;" data-feather="users"></i>
                <span class="mg-l-5">Customers Summary</span>
            </a></li>
        <!-- <li class="nav-item ml-0 pl-0" [routerLinkActive]="['active']"><a
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Campaign}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                [routerLinkActive]="['active']" class="nav-link"><i data-feather="grid"></i>
                <span>Loyality Campaign</span></a></li> -->

        <li class="nav-item ml-0 pl-0" [routerLinkActive]="['active']">
            <a class="tx-semibold" style="cursor: not-allowed !important;">
                <i style="height: 14px; width: 14px;" data-feather="gift"></i>
                <span class="mg-l-5">Rewards & Redeems</span>
            </a>
        </li>

        <li class="nav-item ml-0 pl-0 pnvalid" data-permission="mlarewardhistory" [routerLinkActive]="['active']"><a
                (click)="CloseRowModal1()"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.RewardHistory}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                [routerLinkActive]="['active']" class="nav-link">
                <span style="margin-left: 19px;">Rewards History</span></a>
        </li>
        <li class="nav-item ml-0 pl-0 pnvalid" data-permission="mlapendingrewardhistory"
            [routerLinkActive]="['active']"><a (click)="CloseRowModal1()"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.PendingRewardHistory}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                [routerLinkActive]="['active']" class="nav-link">
                <span style="margin-left: 19px;">Pending Rewards History</span></a>
        </li>
        <li class="nav-item ml-0 pl-0 pnvalid" data-permission="mlaredeemhistory" [routerLinkActive]="['active']"><a
                (click)="CloseRowModal1()"
                routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.RedeemHistory}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                [routerLinkActive]="['active']" class="nav-link">
                <span style="margin-left: 19px;">Redeem History</span></a>
        </li>
        <li class="nav-item ml-0 pl-0 pnvalid" data-permission="mlarewardclaimhistory" [routerLinkActive]="['active']">
            <a (click)="CloseRowModal1()"
                routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.RewardClaimHistory}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                [routerLinkActive]="['active']" class="nav-link">
                <span style="margin-left: 19px;">Reward Claim History</span></a>
        </li>

</div>
</li>

<li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']"
    data-permission="merchantdetailsAddOnFeature">
    <a class="nav-link" href="#" data-toggle="dropdown">Add-On Feature
        <i data-feather="chevron-down" class="wd-15 ht-15"></i>
    </a>
    <div class="dropdown-menu tx-13 pd-10 pd-x-20" id="SubAccountsList_rdropdown2">

<li class="nav-label tx-semibold" style="cursor: not-allowed !important;">
    <i style="height: 14px;width: 14px;" data-feather="message-square"></i>&nbsp;
    <span>SMS Campaign</span>
</li>

<li class="nav-item ml-0 pl-0 pnvalid" data-permission="maodsmscampaign" [routerLinkActive]="['active']"><a
        (click)="CloseRowModal2()"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.MDSMSCampaigns}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        [routerLinkActive]="['active']" class="nav-link">
        <span style="margin-left: 19px;">SMS Campaign</span>
    </a>
</li>
<li class="nav-item ml-0 pl-0 pnvalid" data-permission="maodcustomergroup" [routerLinkActive]="['active']"><a
        (click)="CloseRowModal2()"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelSMS.CustomerGroup}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        [routerLinkActive]="['active']" class="nav-link">
        <span style="margin-left: 19px;">Customer Group</span>
    </a>
</li>
<li class="nav-label tx-semibold" style="cursor: not-allowed !important;">
    <i style="height: 14px;width: 14px;" data-feather="gift"></i>&nbsp;
    <span>Gift Cards</span>
</li>
<li class="nav-item ml-0 pl-0 pnvalid" data-permission="maodgiftcardhome" [routerLinkActive]="['active']"><a
        (click)="CloseRowModal2()"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Merchant.GiftCards}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        [routerLinkActive]="['active']" class="nav-link">
        <span style="margin-left: 19px;">Overview</span>
    </a>
</li>
<li class="nav-item ml-0 pl-0 pnvalid" data-permission="maodgiftcardtransaction" [routerLinkActive]="['active']"><a
        (click)="CloseRowModal2()"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Merchant.GiftCardsHistory}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        [routerLinkActive]="['active']" class="nav-link">
        <span style="margin-left: 19px;">Transactions</span>
    </a>
</li>


<li class="nav-item ml-0 pl-0 pnvalid" data-permission="maodgiftcardproducts" [routerLinkActive]="['active']"><a
        (click)="CloseRowModal2()"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Product.Products}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        [routerLinkActive]="['active']" class="nav-link">
        <i style="height: 16px;width: 16px;" data-feather="package"></i>&nbsp;
        <span>Products</span>
    </a>
</li>

<li class="nav-item ml-0 pl-0 pnvalid" data-permission="maodambassadors" [routerLinkActive]="['active']"><a
        (click)="CloseRowModal2()"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Product.Ambassadors}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        [routerLinkActive]="['active']" class="nav-link">
        <i style="height: 14px;width: 14px;" data-feather="gift"></i>&nbsp;
        <span>Ambassadors</span>
    </a>
</li>


<li class="nav-item ml-0 pl-0" [routerLinkActive]="['active']">
    <a class="tx-semibold" style="cursor: not-allowed !important;">
        <i style="height: 14px;width: 14px;" data-feather="truck"></i>&nbsp;
        <span>Orders</span>
    </a>
</li>

<li class="nav-item ml-0 pl-0 pnvalid" data-permission="maodorderhistory" [routerLinkActive]="['active']">
    <!-- <a  routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Product.Order}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        [routerLinkActive]="['active']" class="nav-link">
        <span>Order History</span></a> -->
    <a (click)="CloseRowModal2()"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Product.TucOrder}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        [routerLinkActive]="['active']" class="nav-link">
        <!-- <i style="height: 14px;width: 14px;" data-feather="truck"></i>&nbsp; -->
        &nbsp;&nbsp;&nbsp;
        <span>Order History</span>
    </a>
</li>


</div>
</li>

<li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="merchantdetailsBankRecon">
    <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
        routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Bank}}/{{ _HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ _HelperService.AppConfig.ActiveMerchantReferenceId}}"
        aria-controls="Stores" aria-selected="false">Bank Reconciliation</a>
</li>



<li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']"
    data-permission="merchantdetailsAccSettings">
    <a class="nav-link" href="#" data-toggle="dropdown">Accounts & Settings
        <i data-feather="chevron-down" class="wd-15 ht-15"></i>
    </a>
    <div class="dropdown-menu tx-13 pd-10 pd-x-20" id="SubAccountsList_rdropdown3">
<li class="nav-item ml-0 pl-0 pnvalid" data-permission="macstores" [routerLinkActive]="['active']"><a
        (click)="CloseRowModal3()"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.Stores}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        [routerLinkActive]="['active']" class="nav-link">
        <i style="height: 14px;width: 14px;" data-feather="map-pin"></i>&nbsp;
        <span>Stores</span>
    </a></li>
<li class="nav-item ml-0 pl-0 pnvalid" data-permission="macterminals" [routerLinkActive]="['active']"><a
        (click)="CloseRowModal3()"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.Terminals}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        [routerLinkActive]="['active']" class="nav-link">
        <i style="height: 14px;width: 14px;" data-feather="smartphone"></i>&nbsp;
        <span>POS Terminals</span>
    </a></li>
<li class="nav-item ml-0 pl-0 pnvalid" data-permission="maccashiers" [routerLinkActive]="['active']"><a
        (click)="CloseRowModal3()"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.Cashiers}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        [routerLinkActive]="['active']" class="nav-link">
        <i style="height: 14px; width: 14px;" data-feather="users"></i>&nbsp;
        <span>Cashiers</span>
    </a></li>

</div>
</li>
<li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="merchantdetailsDeals">
    <a class="nav-link" href="#" data-toggle="dropdown">Deals
        <i data-feather="chevron-down" class="wd-15 ht-15"></i>
    </a>
    <div class="dropdown-menu tx-13 pd-10 pd-x-20" id="SubAccountsList_rdropdown3">
<li class="nav-item ml-0 pl-0 pnvalid" data-permission="mdoverview" [routerLinkActive]="['active']"><a
        (click)="CloseRowModal3()"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.MerchantDeals.MDealOverview}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        [routerLinkActive]="['active']" class="nav-link">
        <i style="height: 14px;width: 14px;" data-feather="codesandbox"></i>
        <span> Overview</span>
    </a></li>
<li class="nav-item ml-0 pl-0 pnvalid" data-permission="mddeals" [routerLinkActive]="['active']"><a
        (click)="CloseRowModal3()"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.MerchantDeals.MDeals}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        [routerLinkActive]="['active']" class="nav-link">
        <i style="height: 14px;width: 14px;" data-feather="tag"></i>&nbsp;
        <span>Deals</span>
    </a></li>


</div>
</li>
<li class="nav-item cursor-pointer">
    <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Merchant.Downloads}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
        role="tab" aria-controls="home" aria-selected="true">Downloads</a>
</li>
</div>



</ul>
</div>

<div class="row no-gutters mg-b-15">
    <div class="col-md-9 d-flex align-items-center">
        <span class="tx-medium tx-20" *ngIf="_HelperService.showAddNewPosBtn"> All Terminal </span>
        <span class="tx-medium tx-20" *ngIf="_HelperService.showAddNewStoreBtn"> All Stores </span>
        <span class="tx-medium tx-20" *ngIf="_HelperService.showAddNewCashierBtn"> All Cashiers </span>

    </div>
    <div class="col-md-3 ">
        <div class="pnvalid" data-permission="terminaladd">
            <button *ngIf="_HelperService.showAddNewPosBtn" class="btn btn-primary rounded-pill tx-12 py-1 float-right"
                (click)="Form_AddUser_Show()" style="height: 30px;"> Add New POS </button>
        </div>
        <div class="pnvalid" data-permission="storeadd">
            <button *ngIf="_HelperService.showAddNewStoreBtn"
                class="btn btn-primary rounded-pill tx-12 py-1 float-right" (click)="Form_AddStore_Show()"
                style="height: 30px;"> Add New Store </button>
        </div>

        <div class="pnvalid" data-permission="cashieradd">
            <button *ngIf="_HelperService.showAddNewCashierBtn"
                class="btn btn-primary rounded-pill tx-12 py-1 float-right" (click)="Form_AddCashier_Show()"
                style="height: 30px;"> Add New Cashier </button>
        </div>


    </div>
</div>

<div id="Form_AddUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
    style="overflow-y: scroll !important;">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">New Terminal Setup</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <label class="">Upload Receipt<span class="text-danger">*</span>
                            </label>

                        </div>
                        <div>
                            <span class="d-flex align-items-end"> <a (click)="ShowHelpImage('receipt')"
                                    class="text-primary"> Need Help? </a> </span>
                        </div>

                    </div>
                    <div>

                        <input-file #terminal inputId="input-file" placeholder="">
                        </input-file>

                    </div>
                    <div class="text-danger mb-2">Make sure you are adding correct Terminal Id </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <div>
                                <label>{{ "System.Users.TerminalId" | translate }}<span class="text-danger">*</span>
                                </label>
                            </div>
                            <div>
                                <span> <a (click)="ShowHelpImage('terminal')" class="text-primary"> Need Help? </a>
                                </span>
                            </div>
                        </div>
                        <div class="controls">
                            <input type="text" name="TerminalId" placeholder="Terminal Id" required maxlength="25"
                                class="form-control" [formControl]="Form_AddUser.controls['TerminalId']" [ngClass]="{
              'is-invalid':
                !Form_AddUser.controls['TerminalId'].valid &&
                Form_AddUser.controls['TerminalId'].touched
            }" />
                        </div>
                        <label class="text-danger" for="TerminalId" *ngIf="
            Form_AddUser.controls['TerminalId'].hasError('required') &&
            Form_AddUser.controls['TerminalId'].touched
          ">{{
                            "System.Users.Terminal_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="TerminalId" *ngIf="
            Form_AddUser.controls['TerminalId'].hasError(
              'minlength'
            ) ||
            Form_AddUser.controls['TerminalId'].hasError('maxlength')
          ">{{ "System.Users.Terminal_ER_Length" | translate }}</label>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <div>
                                <label>{{ "System.Users.SerialNumber" | translate
                                    }}
                                </label>
                            </div>
                            <div>
                                <span> <a (click)="ShowHelpImage('serial')" class="text-primary"> Need Help? </a>
                                </span>
                            </div>
                        </div>

                        <div class="controls">
                            <input type="text" name="SerialNumber" placeholder="Serial Number" required maxlength="25"
                                class="form-control" [formControl]="Form_AddUser.controls['SerialNumber']" />
                        </div>
                    </div>
                    <div class="form-group pd-b-0" *ngIf="!_HelperService.ToggleField && !ToggleStoreSelect">
                        <label for=""> Select Store <span class="text-danger"> * </span> </label>
                        <select2 class="full-width" [options]="TUTr_Filter_Store_Option"  *ngIf="isSelectStore"
                            (valueChanged)="TUTr_Filter_Stores_Change($event)">
                        </select2>
                    </div>
                    <div class="form-group  pd-b-0" *ngIf="!_HelperService.ToggleField">
                        <label for=""> POS Terminal Provider <span class="text-danger"> * </span></label>

                        <select2 class="full-width" [options]="TUTr_Filter_Provider_Option"  *ngIf="isSelectTerminal"
                            (valueChanged)="TUTr_Filter_Providers_Change($event)">
                        </select2>
                    </div>
                    <div class="form-group pd-b-0" *ngIf="!_HelperService.ToggleField">
                        <label for=""> Select Bank <span class="text-danger"> * </span></label>

                        <select2 class="full-width" [options]="TUTr_Filter_Bank_Option" *ngIf="isSelectBank"
                            (valueChanged)="TUTr_Filter_Banks_Change($event)">
                        </select2>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="button" class="btn btn-primary float-right" (click)="_ShowGeneralPreview()"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="Form_AddCashier_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
    style="overflow-y: scroll !important;">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddCashier" (ngSubmit)="Form_AddCashier_Process(Form_AddCashier.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Cashier</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>{{ "System.Users.FirstName" | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="controls">
                                    <input type="text" name="FirstName" placeholder="First Name" required
                                        maxlength="128" class="form-control"
                                        [formControl]="Form_AddCashier.controls['FirstName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCashier.controls['FirstName'].valid &&
                        Form_AddCashier.controls['FirstName'].touched
                    }" />
                                </div>
                                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCashier.controls['FirstName'].hasError('required') &&
                    Form_AddCashier.controls['FirstName'].touched
                  ">{{
                                    "System.Users.FirstName_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCashier.controls['FirstName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCashier.controls['FirstName'].hasError('maxlength')
                  ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>{{ "System.Users.LastName" | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="controls">
                                    <input type="text" name="LastName" placeholder="Last Name" required maxlength="128"
                                        class="form-control" [formControl]="Form_AddCashier.controls['LastName']"
                                        [ngClass]="{
                      'is-invalid':
                        !Form_AddCashier.controls['LastName'].valid &&
                        Form_AddCashier.controls['LastName'].touched
                    }" />
                                </div>
                                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCashier.controls['LastName'].hasError('required') &&
                    Form_AddCashier.controls['LastName'].touched
                  ">{{
                                    "System.Users.LastName_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCashier.controls['LastName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCashier.controls['LastName'].hasError('maxlength')
                  ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ "System.Users.EmailAddress" | translate
                            }}<span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128"
                                class="form-control" [formControl]="Form_AddCashier.controls['EmailAddress']" [ngClass]="{
                          'is-invalid':
                            !Form_AddCashier.controls['EmailAddress'].valid &&
                           Form_AddCashier.controls['EmailAddress'].touched
                        }" />
                        </div>
                        <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCashier.controls['EmailAddress'].hasError('required') &&
                       Form_AddCashier.controls['EmailAddress'].touched
                      ">{{
                            "System.Users.EmailAddress_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCashier.controls['EmailAddress'].touched &&
                        !Form_AddCashier.controls['EmailAddress'].valid && 
                        !Form_AddCashier.controls['EmailAddress'].hasError('required')
                      ">Enter valid email Address</label>
                    </div>
                    <div class="form-group">
                        <label>{{ "System.Users.ContactNumber" | translate
                            }}<span class="text-danger">*</span>
                        </label>
                        <div class="controls input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                            </div>
                            <input type="text" placeholder="Contact Number" name="ContactNumber" maxlength="14"
                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                [formControl]="Form_AddCashier.controls['ContactNumber']" [ngClass]="{
                        'is-invalid':
                          !Form_AddCashier.controls['ContactNumber'].valid &&
                         Form_AddCashier.controls['ContactNumber'].touched
                      }" />
                        </div>
                        <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddCashier.controls['ContactNumber'].hasError('required') &&
                     Form_AddCashier.controls['ContactNumber'].touched
                    ">{{
                            "System.Users.ContactNumber_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddCashier.controls['ContactNumber'].hasError(
                        'minlength'
                      ) ||
                     Form_AddCashier.controls['ContactNumber'].hasError('maxlength')
                    ">{{ "System.Users.ContactNumber_ER_14_Length" | translate }}</label>
                    </div>

                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <div>
                                <label>{{ "System.Users.EmployeeCode" | translate }}
                                </label>
                            </div>

                        </div>
                        <div class="controls">
                            <input type="text" name="EmployeeCode" placeholder="Employee Code" maxlength="25"
                                class="form-control" [formControl]="Form_AddCashier.controls['EmployeeCode']" />
                        </div>


                    </div>

                    <div class="form-group mr-2 mb-2" *ngIf="!_HelperService.ToggleField">
                        <label for=" "> {{'System.Users.Store' | translate }}<span class="text-danger">*</span> </label>
                        <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                            (valueChanged)="TUTr_Filter_Stores_Change($event)">
                        </select2>
                    </div>


                    <div class="form-group">
                        <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Male"
                                    [formControl]="Form_AddCashier.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Male' | translate }}</label>
                        </div>
                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Female"
                                    [formControl]="Form_AddCashier.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Female' | translate }}</label></div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label>Profile Picture
                            </label>
                        </div>
                        <div class="col-md-12">
                            <input-file #cashier inputId="input-file" placeholder="">
                            </input-file>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="Form_AddCashier_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="button" class="btn btn-primary float-right" (click)="_ShowCashier()"
                        [disabled]="!Form_AddCashier.valid || _HelperService.IsFormProcessing">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="Form_AddStore_Content" class="modal fade" data-backdrop="true" aria-hidden="true" 
    style="overflow: auto !important;">
    <div class="modal-dialog  modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="Form_AddStore" (ngSubmit)="Form_AddStore_Process(Form_AddStore.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Store / Location</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ "System.Menu.StoreName" | translate
                                    }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="Name" maxlength="128" class="form-control"
                                        placeholder="Store Name" [formControl]="Form_AddStore.controls['Name']"
                                        [ngClass]="{
                                      'is-invalid':
                                        !Form_AddStore.controls['Name'].valid &&
                                        Form_AddStore.controls['Name'].touched
                                    }" />
                                </div>
                                <label class="text-danger" for="Name" *ngIf="
                                    Form_AddStore.controls['Name'].hasError('required') &&
                                    Form_AddStore.controls['Name'].touched
                                  ">{{
                                    "System.Users.Name_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="Name" *ngIf="
                                    Form_AddStore.controls['Name'].hasError(
                                      'minlength'
                                    ) ||
                                    Form_AddStore.controls['Name'].hasError('maxlength')
                                  ">Store name must be between 4 - 256 characters</label>
                            </div>
                            <div class="form-group">
                                <label>{{ "System.Menu.StoreNickName" | translate
                                    }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="DisplayName" maxlength="128" class="form-control"
                                        placeholder="Store Nick Name"
                                        [formControl]="Form_AddStore.controls['DisplayName']" [ngClass]="{
                                    'is-invalid':
                                      !Form_AddStore.controls['DisplayName'].valid &&
                                      Form_AddStore.controls['DisplayName'].touched
                                  }" />
                                </div>
                                <label class="text-danger" for="DisplayName" *ngIf="
                                  Form_AddStore.controls['DisplayName'].hasError('required') &&
                                  Form_AddStore.controls['DisplayName'].touched
                                ">Enter store nick name</label>
                                <label class="text-danger" for="DisplayName" *ngIf="
                                  Form_AddStore.controls['DisplayName'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_AddStore.controls['DisplayName'].hasError('maxlength')
                                ">Store nick name must be between 2 - 25 characters</label>
                            </div>
                            <div class="form-group">
                                <label>{{ "System.Users.EmailAddress" | translate
                                    }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="EmailAddress" maxlength="128" class="form-control"
                                        placeholder="Email Address"
                                        [formControl]="Form_AddStore.controls['EmailAddress']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['EmailAddress'].valid &&
                                    Form_AddStore.controls['EmailAddress'].touched
                                }" />
                                </div>
                                <label class="text-danger" for="EmailAddress" *ngIf="
                                Form_AddStore.controls['EmailAddress'].hasError('required') &&
                                Form_AddStore.controls['EmailAddress'].touched
                              ">{{
                                    "System.Users.EmailAddress_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="EmailAddress" *ngIf="
                                Form_AddStore.controls['EmailAddress'].touched &&
                                !Form_AddStore.controls['EmailAddress'].valid && 
                                !Form_AddStore.controls['EmailAddress'].hasError('required')
                              ">Enter valid email Address</label>
                            </div>
                            <div class="form-group">
                                <label>{{ "System.Users.ContactNumber" | translate
                                    }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                    </div>
                                    <input type="text" name="ContactNumber" maxlength="14" class="form-control"
                                        placeholder="Contact Number" (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddStore.controls['ContactNumber']" [ngClass]="{
                                'is-invalid':
                                  !Form_AddStore.controls['ContactNumber'].valid &&
                                  Form_AddStore.controls['ContactNumber'].touched
                              }" />
                                </div>
                                <label class="text-danger" for="ContactNumber" *ngIf="
                              Form_AddStore.controls['ContactNumber'].hasError('required') &&
                              Form_AddStore.controls['ContactNumber'].touched
                            ">{{
                                    "System.Users.ContactNumber_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="ContactNumber" *ngIf="
                              Form_AddStore.controls['ContactNumber'].hasError(
                                'minlength'
                              ) ||
                              Form_AddStore.controls['ContactNumber'].hasError('maxlength')
                            ">{{ "System.Users.ContactNumber_ER_14_Length" | translate }}</label>
                            </div>
                            <!-- <div class="form-group">
                                <label> Store Manager First Name<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="FirstName" maxlength="128" class="form-control"
                                        placeholder="First Name" [formControl]="Form_AddStore.controls['FirstName']"
                                        [ngClass]="{
                                    'is-invalid':
                                      !Form_AddStore.controls['FirstName'].valid &&
                                      Form_AddStore.controls['FirstName'].touched
                                  }" />
                                </div>
                                <label class="text-danger" for="FirstName" *ngIf="
                                  Form_AddStore.controls['FirstName'].hasError('required') &&
                                  Form_AddStore.controls['FirstName'].touched
                                ">Enter first name</label>
                                <label class="text-danger" for="FirstName" *ngIf="
                                  Form_AddStore.controls['FirstName'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_AddStore.controls['FirstName'].hasError('maxlength')
                                ">First name must be between 2 - 128 characters</label>
                            </div>
                            <div class="form-group">
                                <label>Store Manager Last Name<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="LastName" maxlength="128" class="form-control"
                                        placeholder="Last Name" [formControl]="Form_AddStore.controls['LastName']"
                                        [ngClass]="{
                                    'is-invalid':
                                      !Form_AddStore.controls['LastName'].valid &&
                                      Form_AddStore.controls['LastName'].touched
                                  }" />
                                </div>
                                <label class="text-danger" for="LastName" *ngIf="
                                  Form_AddStore.controls['LastName'].hasError('required') &&
                                  Form_AddStore.controls['LastName'].touched
                                ">Enter Last name</label>
                                <label class="text-danger" for="LastName" *ngIf="
                                  Form_AddStore.controls['LastName'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_AddStore.controls['LastName'].hasError('maxlength')
                                ">Last name must be between 2 - 128 characters</label>
                            </div> -->
                            <div class="form-group" *ngIf="!ShowManager">
                                <label>Store Manager<span class="text-danger"></span>
                                </label>
                                <div class="controls">
                                    <span class="input-group-text">Please wait ...</span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="ShowManager">
                                <label>Store Manager<span class="text-danger"></span>
                                </label>
                                <select2 class="full-width" [value]="SelectedStoreManager"
                                    [data]="StoreManager_Data" [options]="S2StoreManager_Option"
                                    (valueChanged)="StoreManagerSelected($event)">
                                </select2>
                            </div>
                            <div class="form-group">
                                <label>Store Manager's Email Id<span class="text-danger"></span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="EmailAddress" maxlength="128" class="form-control"
                                        placeholder="Enter Email Address" disabled
                                        [formControl]="Form_AddStore.controls['MEmailAddress']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['MEmailAddress'].valid &&
                                    Form_AddStore.controls['MEmailAddress'].touched
                                }" />
                                </div>
                                <label class="text-danger" for="EmailAddress" *ngIf="
                                Form_AddStore.controls['MEmailAddress'].hasError('required') &&
                                Form_AddStore.controls['MEmailAddress'].touched
                              ">{{
                                    "System.Users.EmailAddress_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="EmailAddress" *ngIf="
                                Form_AddStore.controls['MEmailAddress'].touched &&
                                !Form_AddStore.controls['MEmailAddress'].valid && 
                                !Form_AddStore.controls['MEmailAddress'].hasError('required')
                              ">Enter valid email Address</label>
                            </div>
                            <div class="form-group">
                                <label>Store Manager's Phone Number<span class="text-danger"></span>
                                </label>
                                <div class="controls input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                    </div>
                                    <input type="text" name="MobileNumber" maxlength="14" class="form-control"
                                        placeholder="Mobile Number" disabled (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddStore.controls['MobileNumber']" [ngClass]="{
                                'is-invalid':
                                  !Form_AddStore.controls['MobileNumber'].valid &&
                                  Form_AddStore.controls['MobileNumber'].touched
                              }" />
                                </div>
                                <label class="text-danger" for="MobileNumber" *ngIf="
                              Form_AddStore.controls['MobileNumber'].hasError('required') &&
                              Form_AddStore.controls['MobileNumber'].touched
                            ">{{
                                    "System.Users.MobileNumber_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="MobileNumber" *ngIf="
                              Form_AddStore.controls['MobileNumber'].hasError(
                                'minlength'
                              ) ||
                              Form_AddStore.controls['MobileNumber'].hasError('maxlength')
                            ">{{ "System.Users.MobileNumber_ER_Length" | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Business Categories<span class="text-danger">*</span>
                                </label>
                                <!-- <select2 class="full-width" *ngIf="ShowCategorySelector"
                                    [options]="_HelperService.Select2Options_Multiple"
                                    [value]="SelectedBusinessCategories" [data]="S2BusinessCategories"
                                    (valueChanged)="CategoriesSelected($event)">
                                    <option value="" disabled selected hidden>Business Categories</option>
                                </select2> -->

                                <select2 class="full-width" *ngIf="ShowCategorySelector"
                                    [options]="_HelperService.Select2Options_Multiple"
                                    [value]="SelectedBusinessCategories" [data]="S2BusinessCategories"
                                    (valueChanged)="CategoriesSelected($event)">
                                </select2>
                            </div>
                            <div class="col-md-12" >
                                <h3 class="tx-medium tx-14">Business Location</h3>
                                <hcx-addressmanager [data]="_Address" [config]="_AddressConfig"
                                    (OnAddressSet)="AddressChange($event)">
                                </hcx-addressmanager>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="Form_AddStore_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="button" class="btn btn-primary float-right" (click)="_ShowGeneralStore()"
                        [disabled]="!Form_AddStore.valid || _HelperService.IsFormProcessing">
                        Save
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>
<div id="Form_AddHelp_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <div class="modal-body  p-lg d-flex justify-content-center">
                <img [src]="HelpImageUrl" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="OpenModel()">
                    {{ "Common.Close" | translate }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3" *ngIf="_HelperService._Icon_Cropper_BaseImage">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success mr-2" data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning " (click)="resetImage()"
                                   >{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="_PreviewGeneral" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content" *ngIf="Form_AddUser">
            <div class="modal-header">
                <h5 class="modal-title">Please verify and add POS Terminal</h5>
            </div>
            <div class="modal-body  p-y-20 pd-x-30">
                <div class="media bd-b pd-b-15" style="border-width: thin !important;">
                    <div class="mg-r-10 mg-md-r-10">
                        <img [src]="_HelperService._Icon_Cropper_Image" (error)="onImgError($event)"
                            class="wd-40 wd-md-50 ht-40 ht-md-50 rounded-5" />
                    </div>
                    <div class="media-body">
                        <h6 class="tx-16 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                            {{Form_AddUser.controls['TerminalId'].value}}</h6>
                        <h4 class="tx-14 text-secondary mg-b-0">{{Form_AddUser.controls['PtspName'].value}} -
                            {{Form_AddUser.controls['BankName'].value}} </h4>
                    </div>
                </div>
                <div class="row mg-t-30">
                    <div class="col-md-4 text-secondary">TID</div>
                    <div class="col-md-1 text-secondary">:</div>
                    <div class="col-md-7">{{Form_AddUser.controls['TerminalId'].value || "--"}}</div>
                    <div class="col-md-4 text-secondary">Store</div>
                    <div class="col-md-1 text-secondary">:</div>
                    <div class="col-md-7">
                        <div> {{Form_AddUser.controls['StoreName'].value || "--"}}</div>
                    </div>
                    <div class="col-md-4 text-secondary">Provider</div>
                    <div class="col-md-1 text-secondary">:</div>
                    <div class="col-md-7">{{Form_AddUser.controls['PtspName'].value || "--"}}</div>
                    <div class="col-md-4 text-secondary">Bank</div>
                    <div class="col-md-1 text-secondary">:</div>
                    <div class="col-md-7">{{Form_AddUser.controls['BankName'].value || "--"}}</div>


                </div>

                <div class="media text-danger mg-t-30">
                    <div class="wd-40  ht-40  text-danger mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded"
                        style="background-color: #F6CBCF !important;">
                        <i data-feather="alert-triangle"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="text-danger tx-13 pd-t-5">Remember, once you add this POS Terminal, you can't undo
                            action or edit details, please make sure all details are appropriate.</h6>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ "Common.Close" | translate }}
                </button>
                <button type="button" class="btn btn-primary mr-2" (click)="Form_AddUser_Process()">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        {{ "Common.Save" | translate }}
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                        {{ "Common.PleaseWait" | translate }}...
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="_PreviewCashier" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content" *ngIf="Form_AddCashier">
            <div class="modal-header">
                <h5 class="modal-title">Please verify and add Cashier</h5>
            </div>
            <div class="modal-body  p-y-20 pd-x-30">
                <div class="media bd-b pd-b-15" style="border-width: thin !important;">
                    <div class="mg-r-10 mg-md-r-10">
                        <img [src]="_HelperService._Icon_Cropper_Image" (error)="_HelperService.defaultImage($event)"
                            class="wd-40 wd-md-50 ht-40 ht-md-50 rounded-5" />
                    </div>
                    <div class="media-body">
                        <h6 class="tx-16 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                            {{Form_AddCashier.controls['FirstName'].value}}
                            {{Form_AddCashier.controls['LastName'].value}} </h6>
                        <h4 class="tx-14 text-secondary mg-b-0">{{Form_AddCashier.controls['StoreName'].value}} </h4>
                    </div>
                </div>
                <div class="row mg-t-30">
                    <div class="col-md-4 text-secondary">Name</div>
                    <div class="col-md-1 text-secondary">:</div>
                    <div class="col-md-7">{{Form_AddCashier.controls['FirstName'].value}}
                        {{Form_AddCashier.controls['LastName'].value}} </div>
                    <div class="col-md-4 text-secondary">Store</div>
                    <div class="col-md-1 text-secondary">:</div>
                    <div class="col-md-7">
                        <div> {{Form_AddCashier.controls['StoreName'].value || "--"}}</div>

                    </div>
                    <div class="col-md-4 text-secondary">Employee Code</div>
                    <div class="col-md-1 text-secondary">:</div>
                    <div class="col-md-7">
                        <div> {{Form_AddCashier.controls['EmployeeCode'].value || "--"}}</div>

                    </div>
                    <div class="col-md-4 text-secondary">Email</div>
                    <div class="col-md-1 text-secondary">:</div>
                    <div class="col-md-7">
                        <div> {{Form_AddCashier.controls['EmailAddress'].value || "--"}}</div>

                    </div>


                    <div class="col-md-4 text-secondary">Contact Number</div>
                    <div class="col-md-1 text-secondary">:</div>
                    <div class="col-md-7">
                        <div> {{Form_AddCashier.controls['ContactNumber'].value || "--"}}</div>

                    </div>
                </div>

                <!-- <div class="media text-danger mg-t-30">
                    <div class="wd-40  ht-40  text-danger mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded"
                        style="background-color: #F6CBCF !important;">
                        <i data-feather="alert-triangle"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="text-danger tx-13 pd-t-5">Remember, once you add this cashier, you can't undo action
                            or edit details, please make sure all details are appropriate.</h6>
                    </div>
                </div> -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ "Common.Close" | translate }}
                </button>
                <button type="button" class="btn btn-primary mr-2" (click)="Form_AddCashier_Process()">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        {{ "Common.Save" | translate }}
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                        {{ "Common.PleaseWait" | translate }}...
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="_PreviewStore" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content" *ngIf="Form_AddStore">
            <div class="modal-header">

                <h5 class="modal-title mg-l-10">Please verify and add store </h5>
            </div>
            <div class="modal-body  p-y-20 pd-x-30">
                <div class="media bd-b pd-b-15" style="border-width: thin !important;">
                    <!-- <div class="mg-r-10 mg-md-r-10">
              <img [src]="_HelperService._Icon_Cropper_Image" class="wd-40 wd-md-50 ht-40 ht-md-50 rounded-5" />
            </div> -->
                    <div class="media-body">
                        <h6 class="tx-16 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                            {{Form_AddStore.controls['Name'].value}}
                        </h6>
                        <h4 class="tx-14 text-secondary mg-b-0">{{Form_AddStore.controls['EmailAddress'].value}}</h4>
                    </div>
                </div>
                <div class="row mg-t-30">
                    <div class="col-md-4 text-secondary">Name</div>
                    <div class="col-md-1 text-secondary">:</div>
                    <div class="col-md-7">{{Form_AddStore.controls['Name'].value}}
                    </div>


                    <div class="col-md-4 text-secondary">Email</div>
                    <div class="col-md-1 text-secondary">:</div>
                    <div class="col-md-7">
                        <div> {{Form_AddStore.controls['EmailAddress'].value || "--"}}</div>

                    </div>


                    <div class="col-md-4 text-secondary">Contact Number</div>
                    <div class="col-md-1 text-secondary">:</div>
                    <div class="col-md-7">
                        <div> {{Form_AddStore.controls['ContactNumber'].value || "--"}}</div>

                    </div>

                </div>

                <!-- <div class="media text-danger mg-t-30">
                    <div class="wd-40  ht-40  text-danger mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded"
                        style="background-color: #F6CBCF !important;">
                        <i data-feather="alert-triangle"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="text-danger tx-13 pd-t-5">Remember, once you add this store, you can't undo action or
                            edit
                            details, please make sure all details are appropriate.</h6>
                    </div>
                </div> -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ "Common.Close" | translate }}
                </button>
                <button type="button" class="btn btn-primary mr-2" (click)="Form_AddStore_Process()">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        {{ "Common.Save" | translate }}
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                        {{ "Common.PleaseWait" | translate }}...
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="card mb-3 bg bd mt-3">
    <div class="navbar navbar-expand-lg  mt-2">
        <li class="d-lg-none d-flex align-items-center">
            <a href="#" class="mx-2" data-toggle="collapse" data-target="#navbarToggler"><svg
                    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512">
                    <path d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z"></path>
                </svg></a>
        </li>
        <div class="collapse navbar-collapse order-lg-1  " id="navbarToggler">
            <ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLinkActive]="['active']"
                        routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Merchant.Dashboard}}/{{ _HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ _HelperService.AppConfig.ActiveMerchantReferenceId}}">
                        <span class="nav-text">{{"System.Menu.Dashboard" | translate}}</span>
                    </a>
                </li>

                <li class="nav-item dropdown" [routerLinkActive]="['active']">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sale </a>
                    <div class="dropdown-menu mt-2 w pt-2 mt-2 animate fadeIn">
                        <a [routerLinkActive]="['active']" class="dropdown-item"
                            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Merchant.SalesHistory}}/{{ _HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ _HelperService.AppConfig.ActiveMerchantReferenceId}}">
                            Sales History</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->
<router-outlet></router-outlet>