<!-- acquirer--merchants--list -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Referral</a></li>
</ol>
<div class="card ">
  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <span class="tx-semibold mg-t-10">All Campaigns<span class="text-muted tx-normal">
            ({{AcquirerList_Config.TotalRecords}})</span></span>
        <button class="btn tx-12 btn-primary pnvalid" (click)="GotoAddBank()" data-permission="referalcampaignadd"> Create
          Campaign </button>
      </div>
    </div>
  </div>
  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <div class=" media cursor-pointer" (click)="MerchantsList_ListTypeChange(1)">
          <div type="button"
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="target"></i>
          </div>
          <div class="media-body bd-pink ">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              Active</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Active}}</h4>
          </div>
        </div>





        <div type="" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40 cursor-pointer"
          (click)="MerchantsList_ListTypeChange(4)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="target"></i>
          </div>
          <div class="media-body ">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Expired</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Expired}}</h4>
          </div>
        </div>


        <div type="" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40 cursor-pointer"
          (click)="MerchantsList_ListTypeChange(5)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <i data-feather="target"></i>
          </div>
          <div class="media-body ">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              All</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Total}}</h4>

          </div>
        </div>

        <div type="" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        </div>
      </div>
    </div>
  </div>


  <div class="box-header px-3 pd-t-15 pd-b-5  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="AcquirerList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="AcquirerList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="AcquirerList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
        class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
        class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="AcquirerList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <!-- sort start -->
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
              Sort
              <div class="float-right tx-20" *ngIf="AcquirerList_Config.Sort.SortOrder == 'desc'"
                (click)="AcquirerList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>

              <div class="float-right tx-20" *ngIf="AcquirerList_Config.Sort.SortOrder == 'asc'"
                (click)="AcquirerList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>

            </h6>
            <!-- sort end -->


            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of AcquirerList_Config.Sort.SortOptions"
              (click)="AcquirerList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="AcquirerList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group position-relative" id="referalCampaigndatepicker">
                <label>Added On</label>
                <input type="text" class="form-control " name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptionsFn('#referalCampaigndatepicker')" 
                  (selected)="AcquirerList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="AcquirerList_Config.StatusOptions"
                  (valueChanged)="AcquirerList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>



            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor cursor-pointer RefreshColorOne"
        (click)="AcquirerList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>

      <!-- <a class="nav-link ml-2 RefreshColor cursor-pointer"
        (click)="AcquirerList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
          data-feather="download"></i> </a> -->
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of AcquirerList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <!-- <th class="text-center" *ngIf="ColumnConfig[0].Value">
          </th> -->
          <th></th>
          <th class=“wd-400”>
            Campaign and type
          </th>
          <th>
            Promo Code
          </th>
          <th class="text-center" style="width: 13%;" *ngIf="ColumnConfig[1].Value">
            Benefit Amount(<span class="tx-10" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
          </th>
          <th class="text-center" *ngIf="ColumnConfig[1].Value">
            Code Qty
          </th>
          <th class="text-center" *ngIf="ColumnConfig[2].Value">
            Codes Used
          </th>
          <th class="text-center" *ngIf="ColumnConfig[5].Value">
            Created by
          </th>

          <th class="text-center" *ngIf="ColumnConfig[5].Value">
            Schedule
          </th>



          <!-- <th *ngIf="ColumnConfig[6].Value">
            Added On
          </th> -->

          <th class="d-flex">
            <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;"
              data-toggle="tooltip" title="Edit Your Column" (click)="OpenEditColModal()">
              <!-- <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i> -->
            </span>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="AcquirerList_RowSelected(TItem)"
          *ngFor="let TItem of AcquirerList_Config.Data  | paginate: { id: 'AcquirerList_Paginator',itemsPerPage: AcquirerList_Config.PageRecordLimit, currentPage: AcquirerList_Config.ActivePage,  totalItems: AcquirerList_Config.TotalRecords }">

          <td style="width: 2%;" *ngIf="TItem.StatusCode=='default.active'">
            <span class="dot"></span>
          </td>
          <td style="width: 2%;" *ngIf="TItem.StatusCode=='default.inactive'">
            <span class="dot1"></span>
          </td>
          <td style="width: 20%; overflow-wrap: anywhere;">
            <div class="tx-14 tx-semibold ">{{TItem.Title || "--"}}</div>
            <div class="tx-12 text-secondary" *ngIf="TItem.AccountTypeName=='Merchant'"><span class="badge"
                style="background:#5B47FB34">For Merchant</span>
            </div>
            <div class="tx-12 text-secondary" *ngIf="TItem.AccountTypeName=='App user'"><span class="badge"
                style="background:#5B47FB34 ;">For Customer</span>
            </div>
          </td>
          <td>
            <div class="tx-14 text-primary">{{TItem.PromoCode || "--"}}</div>
            <div class="tx-12 text-secondary" *ngIf="TItem.MaximumLimitPerUser==1">{{TItem.MaximumLimitPerUser}} TIME
              USE/CUSTOMER</div>
            <div class="tx-12 text-secondary" *ngIf="TItem.MaximumLimitPerUser!=1">{{TItem.MaximumLimitPerUser}} TIME
              USE/CUSTOMER</div>
          </td>
          <td class="text-right tx-semibold" style="width: 10%;" *ngIf="ColumnConfig[1].Value">
            <span> {{TItem.PromoCodeValue || "--"}}</span>
          </td>
          <td class="text-right" *ngIf="ColumnConfig[1].Value">
            <div> {{TItem.MaximumLimit || "--"}}</div>
            <div class="tx-12"> (<span class="tx-10"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{(TItem.PromoCodeValue*TItem.MaximumLimit)}})
            </div>
          </td>
          <td class="text-right" *ngIf="ColumnConfig[2].Value">
            <div class="tx-14 text-lowercase">{{TItem.TotalUsed || "--" }}</div>
            <div class="tx-12" *ngIf="TItem.TotalUsed > 0"> (<span class="tx-10"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{(TItem.PromoCodeValue*TItem.TotalUsed)}})
            </div>
          </td>
          <td class="text-center" *ngIf="ColumnConfig[2].Value">
            <div class="tx-14 text-lowercase">{{TItem.CreatedByDisplayName || "--" }}</div>
          </td>
          <td class="text-lowercase" *ngIf="ColumnConfig[5].Value">
            <div class="tx-12">
              {{TItem.StartDate | date: 'dd-MM-yyyy hh:mm a'}}
            </div>
            <div class="tx-12">
              {{TItem.EndDate | date: 'dd-MM-yyyy hh:mm a'}}
            </div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{AcquirerList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{AcquirerList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{AcquirerList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="AcquirerList_Config.PageRecordLimit"
        (ngModelChange)="AcquirerList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="AcquirerList_Paginator" class="pagination pagination-space"
        (pageChange)="AcquirerList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<!-- <div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div> -->