<div class="row">
    <div class="col-md-12">
        <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value,false)" role="form">
            <div class="card">
                <div class="card-header tx-medium d-flex justify-content-between">
                    <h5 class="mb-1 pt-2">Create New Deal</h5>
                    <!-- <p class="mb-4 tx-13 text-secondary">Enter deal information below</p> -->
                    <div class="d-flex justify-content-between">

                    </div>
                </div>
                <div class="card-body">
                    <div class="tx-13 mt-1 text-secondary">
                        Platform fees will be calculated on selected category
                    </div>
                    
                    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="radio float-left mr-3" [ngClass]="{'d-none': dealTypeVal == '1'}">
                                    <label class="ui-check"><input type="radio" name="dealType" value="dealtype.product"
                                            [value]="'dealtype.product'" [(ngModel)]="dealType"
                                            [ngModelOptions]="{standalone: true}" required>
                                        <i class="dark-white"></i>
                                        Product Deal
                                    </label>
                                </div>
                                <div class="radio float-left mr-3" [ngClass]="{'d-none': dealTypeVal == '0'}">
                                    <label class="ui-check"><input type="radio" name="dealType" value="dealtype.service"
                                            [value]="'dealtype.service'" [(ngModel)]="dealType"
                                            [ngModelOptions]="{standalone: true}">
                                        <i class="dark-white"></i>
                                        Service Deal
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="S2GetCategories"> Select Category </label><span class="text-danger">
                                            *
                                        </span>
                                        <select2 name="S2GetCategories" class="full-width" [data]="_S2Categories_Data" (valueChanged)="GetDealCategories_Selected($event)" [value]="selectedCategory" [options]="options"></select2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="d-flex ">
                                            <div>
                                                <label>Original Price
                                                </label><span class="text-danger"> * </span>
                                            </div>
                                            <div>
                                                <span><i class="fa fa-info-circle text-secondary mg-l-10"
                                                        aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                                        title="Deal value is original price of Product/Service"></i></span>
                                            </div>
                                        </div>
                                        <div class="controls">
                                            <div class="input-group ">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <span class="ml-2 mr-2"
                                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                                    </span>
                                                </div>
                                                <input type="text" min="1" name="ActualPrice" maxlength="256" (keypress)="_HelperService.PreventText($event)" (keypress)="_HelperService.PreventText($event)" (keyup)="ProcessAmounts()" class="form-control" [formControl]="Form_AddUser.controls['ActualPrice']"
                                                    [(ngModel)]="_AmountDistribution.ActualPrice" [ngClass]="{'is-invalid':!Form_AddUser.controls['ActualPrice'].valid && Form_AddUser.controls['ActualPrice'].touched}">
                                            </div>
                                        </div>
                                        <label class="text-danger" for="ActualPrice" *ngIf="Form_AddUser.controls['ActualPrice'].hasError('required') && Form_AddUser.controls['ActualPrice'].touched">
                                            Original price required</label>
                                        <label class="text-danger" for="ActualPrice" *ngIf="Form_AddUser.controls['ActualPrice'].hasError('min')">Original price
                                            must be greater than 0</label>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="d-flex justify-content-between">
                                            <label>Selling Price <span class="text-danger"> * </span>
                                            </label>
                                        </div>
                                        <div class="controls">
                                            <div class="input-group ">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <span class="ml-2 mr-2"
                                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                                    </span>
                                                </div>
                                                <input type="text" min="0" name="SellingPrice" maxlength="256" class="form-control" (keypress)="_HelperService.PreventText($event)" (keyup)="ProcessAmounts()" [formControl]="Form_AddUser.controls['SellingPrice']" [(ngModel)]="_AmountDistribution.SellingPrice"
                                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['SellingPrice'].valid && Form_AddUser.controls['SellingPrice'].touched}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        ({{_AmountDistribution.SellingPricePercentage | number: "1.2-2"
                                                        ||
                                                        "--"}}%) off
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="text-danger" for="SellingPrice" *ngIf="Form_AddUser.controls['SellingPrice'].hasError('required') && Form_AddUser.controls['SellingPrice'].touched">
                                            Selling price required</label>
                                        <!-- <label class="text-danger" for="DiscountAmount"
                                            *ngIf="_AmountDistribution.ActualPrice != undefined && _AmountDistribution.SellingPrice != undefined && _AmountDistribution.SellingPrice > _AmountDistribution.ActualPrice">
                                            Selling price must be less than or equal to original price</label> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bd bg-gray-50 pd-y-15 pd-x-15 pd-sm-x-20">
                                <h6 class="tx-14 mb-2">Deal Amount Distributions</h6>
                                <ul class="list-unstyled mb-0">

                                    <li class="d-flex justify-content-between mb-2">
                                        <span class="tx-13 tx-color-03">Customer Will Pay
                                        </span>
                                        <span><span class="tx-10 tx-color-03"
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_AmountDistribution.SellingPrice | number: "1.2-2" || "--"}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between mb-2 border-bottom pb-3">
                                        <span class="tx-13 tx-color-03">Platform Fees
                                            ({{_AmountDistribution.TUCPercentage | number: "1.2-2" || "--"}}%)
                                        </span>
                                        <span><span class="tx-10 tx-color-03"
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_AmountDistribution.TUCAmount | number: "1.2-2" || "--"}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <span class="tx-13 tx-color-03">Payable To Merchant
                                            ({{_AmountDistribution.MerchantPercentage | number: "1.2-2" || "--"}}%)
                                        </span>
                                        <span><span class="tx-10 tx-color-03"
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_AmountDistribution.MerchantAmount | number: "1.2-2" || "--"}}</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-8 ">
                            <div class="form-group">
                                <label>Deal Title <span class="text-danger"> * </span>
                                </label>
                                <span class="tx-13 mt-1 text-secondary"> Enter content for deal title.</span>
                                <div class="controls">
                                    <input type="text" name="TitleContent" maxlength="128" class="form-control" [formControl]="Form_AddUser.controls['TitleContent']" (keyup)="ProcessTitle()" [(ngModel)]="_Titles.OriginalTitle" [ngClass]="{'is-invalid':!Form_AddUser.controls['TitleContent'].valid && Form_AddUser.controls['TitleContent'].touched}">
                                </div>

                                <label class="text-danger" for="TitleContent" *ngIf="Form_AddUser.controls['TitleContent'].hasError('required') && Form_AddUser.controls['TitleContent'].touched">
                                    Enter content for deal title.</label>
                                <label class="text-danger" for="TitleContent" *ngIf="Form_AddUser.controls['TitleContent'].hasError('minlength') || Form_AddUser.controls['TitleContent'].hasError('maxlength')">
                                    Deal Title must be between 2 - 128 characters </label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group " *ngIf="Form_AddUser!=undefined">
                                <div> <label>Select Deal Title to Show across platform (Web and Mobile)<span
                                            class="text-danger"> * </span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="ui-check tx-16 mg-b-5 pb-0"><input type="radio" name="statusoptions"
                                            [(ngModel)]="_DealConfig.SelectedTitle" [value]="1"
                                            [formControl]="Form_AddUser.controls['TitleTypeId']">
                                        <i class="dark-white"></i>
                                        <span id="titleone" class="pl-1" [innerHtml]="_Titles.Title1">
                                        </span>
                                    </label>
                                </div>
                                <div class="radio"><label id="titletwo" class="ui-check tx-16  mg-b-5 pb-0"><input
                                            [(ngModel)]="_DealConfig.SelectedTitle" type="radio" name="statusoptions"
                                            [value]="2" [formControl]="Form_AddUser.controls['TitleTypeId']">
                                        <i class="dark-white"></i>
                                        <span id="titletwo" class="pl-1" [innerHtml]="_Titles.Title2">
                                        </span>
                                    </label>
                                </div>
                                <div class="radio"><label id="titlthree" class="ui-check tx-16  mg-b-5 pb-0"><input
                                            [(ngModel)]="_DealConfig.SelectedTitle" type="radio" name="statusoptions"
                                            [value]="3" [formControl]="Form_AddUser.controls['TitleTypeId']">
                                        <i class="dark-white"></i>
                                        <span id="titlethree" class="pl-1" [innerHtml]="_Titles.Title3">
                                        </span>
                                    </label></div>
                            </div>
                        </div>
                        <div class="col-md-8 ">
                            <div class="form-group">
                                <label>{{'System.AddAcquirer.Description' | translate }} <span class="text-danger"> *
                                    </span>
                                </label>
                                <div class="controls">
                                    <ckeditor [editor]="Editor" [config]="ckConfig" [formControl]="Form_AddUser.controls['Description']">
                                    </ckeditor>
                                    <!-- <textarea type="text" rows="3" name="Description" maxlength="1024" class="form-control" [formControl]="Form_AddUser.controls['Description']" (keypress)="_HelperService.PreventSpecialCharacter($event)" [ngClass]="{'is-invalid':!Form_AddUser.controls['Description'].valid && Form_AddUser.controls['Description'].touched}"> </textarea> -->
                                </div>
                                <label class="text-danger" for="Description" *ngIf="Form_AddUser.controls['Description'].hasError('required') && Form_AddUser.controls['Description'].touched">Enter
                                    deal description</label>
                                <label class="text-danger" for="Description" *ngIf="Form_AddUser.controls['Description'].hasError('minlength') || Form_AddUser.controls['Description'].hasError('maxlength')">Minimum
                                    80 characters are required for deal description </label>
                            </div>
                        </div>
                        <div class="col-md-8 ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group position-relative" id="adddeal_startdate">
                                        <label for="  "> Start Date <span class="text-danger"> * </span></label>
                                        <div class="controls">
                                            <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_DealConfig.StartDateConfig" readonly [formControl]="Form_AddUser.controls['StartDate']" (selected)="ScheduleStartDateRangeChange($event)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group position-relative" id="adddeal_enddate">
                                        <label for=""> End Date <span class="text-danger"> * </span></label>
                                        <div class="controls">
                                            <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_DealConfig.EndDateConfig" [disabled]="_DealConfig.StartDate == null" readonly [formControl]="Form_AddUser.controls['EndDate']" (selected)="ScheduleEndDateRangeChange($event)"
                                            />
                                        </div>
                                        <!-- <label class="text-danger" for="daterangeInput" *ngIf="IsStartDateAfterEnd">
                                            Schedule End Date Must Be After Schedule Start</label> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3" *ngIf="_DealConfig.DealImages.length <= 7">
                        <div class="col-lg-12">
                            <input-file fileAccept="image/*" sizeLimit="400" fileLimit="1" placeholder="Select banner for deal" [(ngModel)]="SelectedImage" [formControl]="Form_AddUser.controls['TImage']" (acceptedFile)="onImageAccept($event)" >
                            </input-file>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" *ngFor="let item of _DealConfig.DealImages; let i = index">
                            <div class="card card-file">
                                <div *ngIf="i == 0" class="marker marker-ribbon marker-success pos-absolute t-10 l-0">Primary Image
                                </div>
                                <img [src]="item.ImageContent.OriginalContent" class="img-fluid">
                                <div class="card-body p-2">

                                    <button type="button" (click)="RemoveImage(item)" class="btn btn-xs btn-block btn-outline-danger">Remove Image</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="dealType === 'dealtype.product'" class="bd bg-gray-50 pd-20 mg-b-10">
                        <h5>Set Delivery</h5>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="col-md-6 d-flex" style="padding-left: 6px;">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input class="form-check-input" type="checkbox" id="storePickup" [(ngModel)]="isStorePickup" [ngModelOptions]="{standalone: true}">
                                            <label class="form-check-label" for="storePickup">
                                                Store Pick up
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-check-input" type="checkbox" id="DeliverToAddess" [(ngModel)]="isDeliverToAddress" [ngModelOptions]="{standalone: true}">
                                            <label class="form-check-label" for="DeliverToAddess">
                                                Deliver to address
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="float: right;">
                                        <span class="tx-semibold">
                                            {{Package}}
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div *ngIf="isDeliverToAddress">
                            <div class="row d-flex" style="margin-top: 15px;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <label>Weight
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="input-group ">

                                                        <input type="number" onkeypress="return /[0-9]/i.test(event.key)" name="Weight" class="form-control" placeholder="Weight" (keyup)="ProcessTitle()" [formControl]="Form_AddDeal.controls['Weight']" [ngClass]="{'is-invalid':!Form_AddDeal.controls['Weight'].valid &&Form_AddDeal.controls['Weight'].touched}"
                                                        />
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">kg</span>
                                                        </div>

                                                    </div>
                                                    <div class="text-danger" for="Weight" *ngIf="Form_AddDeal.controls['Weight'].hasError('required') && Form_AddDeal.controls['Weight'].touched">
                                                        Enter content for Weight.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Product Details For packaging
                                                </label>
                                                <span class="text-danger">*</span>
                                                <div class="controls">
                                                    <input type="text" name="Description" class="form-control" placeholder="Enter Details" [formControl]="Form_AddDeal.controls['Description']" />
                                                    <label class="text-danger" for="Description" *ngIf="Form_AddDeal.controls['Description'].hasError('required') && Form_AddDeal.controls['Description'].touched">
                                                        Enter content for Product description.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h5 class="mb-1">Deal Code availability & Usage </h5>
                        <p class="mb-4 tx-13 text-secondary">Set deal usage policy , terms and conditions</p>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="d-flex">
                                    <div>
                                        <label>Max code purchase
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span><i class="fa fa-info-circle text-secondary mg-l-10" aria-hidden="true"
                                                data-toggle="tooltip" data-placement="top"
                                                title="Max Deal vouchers available to sale"></i></span>
                                    </div>
                                </div>
                                <div class="controls">
                                    <input type="number" min="0" name="MaximumUnitSale" maxlength="256" class="form-control" [formControl]="Form_AddUser.controls['MaximumUnitSale']" [ngClass]="{'is-invalid':!Form_AddUser.controls['MaximumUnitSale'].valid && Form_AddUser.controls['MaximumUnitSale'].touched}">
                                </div>
                                <label class="text-danger" for="MaximumUnitSale" *ngIf="Form_AddUser.controls['MaximumUnitSale'].hasError('required') && Form_AddUser.controls['MaximumUnitSale'].touched">Enter
                                    maximum deal code purchase </label>
                                <label class="text-danger" for="MaximumUnitSale" *ngIf="Form_AddUser.controls['MaximumUnitSale'].hasError('min')">Maximum deal code
                                    must be greater than 0 </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="d-flex">
                                    <div>
                                        <label>Max code purchase / customer
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span><i class="fa fa-info-circle text-secondary mg-l-10" aria-hidden="true"
                                                data-toggle="tooltip" data-placement="top"
                                                title="Max Deals/Person allowed to sale"></i></span>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="input-group ">
                                        <input type="number" min="0" name="MaximumUnitSalePerPerson" maxlength="256" class="form-control" [formControl]="Form_AddUser.controls['MaximumUnitSalePerPerson']" [ngClass]="{'is-invalid':!Form_AddUser.controls['MaximumUnitSalePerPerson'].valid && Form_AddUser.controls['MaximumUnitSalePerPerson'].touched}">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                / person
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <label class="text-danger" for="MaximumUnitSalePerPerson" *ngIf="Form_AddUser.controls['MaximumUnitSalePerPerson'].hasError('required') && Form_AddUser.controls['MaximumUnitSalePerPerson'].touched">
                                    Enter maximum purchase / person</label>
                                <label class="text-danger" for="MaximumUnitSalePerPerson" *ngIf="Form_AddUser.controls['MaximumUnitSalePerPerson'].hasError('min')">
                                    Maximum purchase / person must be greater than 0</label>
                            </div>
                        </div>
                        <div class="col-lg-12" *ngIf="Form_AddUser.controls['MaximumUnitSalePerPerson'].value > Form_AddUser.controls['MaximumUnitSale'].value">
                            <label class="text-danger" for="MaximumUnitSalePerPerson">
                                Deals per person should be less than total deals available </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div> <label>Customer can redeem this deal within<span class="text-danger"> * </span>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 border-right">
                                        <div class="radio  text-center"><label class="ui-check"><input type="radio"
                                                    name="CodeUsageTypeCode" [value]="'dealenddate'"
                                                    [(ngModel)]="_DealConfig.DealCodeValidityTypeCode"
                                                    [formControl]="Form_AddUser.controls['CodeUsageTypeCode']">
                                                <i class="dark-white"></i>
                                                <div>
                                                    Deals End Date
                                                </div>
                                                <div>
                                                    <p class="tx-13 text-secondary">Customer deal code will expire on
                                                        deal end date</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 border-right">
                                        <div class="radio   text-center"><label class="ui-check"><input type="radio"
                                                    name="CodeUsageTypeCode" [value]="'hour'"
                                                    [(ngModel)]="_DealConfig.DealCodeValidityTypeCode"
                                                    [formControl]="Form_AddUser.controls['CodeUsageTypeCode']">
                                                <i class="dark-white"></i>
                                                <div> Hours After Purchase</div>
                                                <div>
                                                    <p class="tx-13 text-secondary">Customer deal code will expire after
                                                        hours of purchase</p>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="form-group" *ngIf="_DealConfig.DealCodeValidityTypeCode == 'hour'">
                                            <label class=" tx-13 text-secondary"> Select Hours <span
                                                    class="text-danger"> * </span></label>
                                            <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="_DealConfig.SelectedDealCodeHours">
                                                <option *ngFor="let item of Hours; let i = index" [value]="item">
                                                    {{item}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 border-right">
                                        <div class="radio  text-center">
                                            <label class="ui-check"><input type="radio" name="CodeUsageTypeCode"
                                                    [value]="'daysafterpurchase'"
                                                    [(ngModel)]="_DealConfig.DealCodeValidityTypeCode"
                                                    [formControl]="Form_AddUser.controls['CodeUsageTypeCode']">
                                                <i class="dark-white"></i>
                                                <div>Days After Purchase</div>
                                                <div>
                                                    <p class="tx-13 text-secondary">Customer deal code will expire after
                                                        days of purchase</p>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="form-group" *ngIf="_DealConfig.DealCodeValidityTypeCode == 'daysafterpurchase'">
                                            <label class=" tx-13 text-secondary"> Select Days <span class="text-danger">
                                                    * </span></label>
                                            <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="_DealConfig.SelectedDealCodeDays">
                                                <option *ngFor="let item of Days; let i = index" [value]="item">
                                                    {{item}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3" *ngIf="_DealConfig.EndDate != undefined  || _DealConfig.EndDate !=  null">
                                        <div class="radio  text-center"><label class="ui-check"><input type="radio"
                                                    name="CodeUsageTypeCode" [value]="'date'"
                                                    [(ngModel)]="_DealConfig.DealCodeValidityTypeCode"
                                                    [formControl]="Form_AddUser.controls['CodeUsageTypeCode']">
                                                <i class="dark-white"></i>
                                                <div>Expire On Particular date</div>
                                                <div>
                                                    <p class="tx-13 text-secondary">Customer deal code will expire set
                                                        code expiry date</p>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="form-group position-relative" *ngIf="_DealConfig.DealCodeValidityTypeCode == 'date'" id="dealexpireCode_date">
                                            <label class=" tx-13 text-secondary"> Select date <span class="text-danger">
                                                    * </span></label>
                                            <div class="controls">
                                                <input type="text" class="form-control " name="daterangeInput" readonly (selected)="ScheduleCodeEndDateRangeChange($event)" daterangepicker [options]="_DealConfig.DealCodeEndDateConfig" [formControl]="Form_AddUser.controls['CodeValidityEndDate']" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>Term & Conditions
                                </label>
                                <div class="controls">
                                    <textarea type="text" rows="4" name="Terms" maxlength="512" class="form-control" [formControl]="Form_AddUser.controls['Terms']" [ngClass]="{'is-invalid':!Form_AddUser.controls['Terms'].valid && Form_AddUser.controls['Terms'].touched}"> </textarea>
                                </div>
                                <label class="text-danger" for="Terms" *ngIf="Form_AddUser.controls['Terms'].hasError('required') && Form_AddUser.controls['Terms'].touched">
                                    Enter Terms and Conditions</label>
                                <label class="text-danger" for="Terms" *ngIf="Form_AddUser.controls['Terms'].hasError('minlength') || Form_AddUser.controls['Terms'].hasError('maxlength')">
                                    Enter Valid Terms and Conditions</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_AddUser_Close()">{{
                        'Common.Close'
                        | translate }}</button>
                    <div>
                        <button type="button" class="btn btn-secondary mr-2" (click)="Form_AddUser_Process(Form_AddUser.value,true)" [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing ">
                            <!-- <span *ngIf="!_HelperService.IsFormProcessing">
                                Save as draft
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                translate
                                }}...
                            </span>isSaveinDraft -->
                            <span *ngIf="!isSaveinDraft">
                                Save as draft
                            </span>
                            <span *ngIf="isSaveinDraft">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                translate
                                }}...
                            </span>
                        </button>
                        <button type="submit" class="btn btn-primary" [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing  ">
                            <!-- <span *ngIf="!_HelperService.IsFormProcessing">
                                Publish Deal
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                translate
                                }}...
                            </span> -->
                            <span *ngIf="!isPublishDeal">
                                Publish Deal
                            </span>
                            <span *ngIf="isPublishDeal">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                translate
                                }}...
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




<div class="modal" id="_Icon_Cropper_Modal_Deal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3" *ngIf="_ImageManager.ActiveImage != undefined && _ImageManager.ActiveImage != null">
                            <image-cropper [imageFileChanged]="_ImageManager.ActiveImage.file" [aspectRatio]="600/500" [format]="_ImageManager.Option.Format" [maintainAspectRatio]="_ImageManager.Option.MaintainAspectRatio" [cropperMinWidth]="_ImageManager.Option.MinimumWidth" [cropperMinHeight]="_ImageManager.Option.MinimumHeight"
                                [resizeToWidth]="_ImageManager.Option.ResizeToWidth" (imageCroppedBase64)="Icon_B64Cropped($event)" (imageLoaded)="Icon_Crop_Loaded()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " (click)="Icon_B64CroppedDone()" data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning " (click)="Icon_Crop_Clear()">{{
                                    'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>