<!-- acquirer--merchants--list -->

<div  class="card">
<div class="card-header">
<ul class="nav nav-line d-flex" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Daily Reconciliation</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li> -->
 
</ul>
</div>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="card ">
      <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
        <div class="form-inline ">
          <div class="input-group input-group-sm mr-3">
            <input type="text" class="form-control" [value]="StoresList_Config.SearchParameter" maxlength="100"
              class="form-control" placeholder="{{ 'Common.Search' | translate }}"
              (keyup)="StoresList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
            <div class="input-group-append">
              <button class="btn btn-outline-light" type="button"
                (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                  data-feather="search"></i> </button>
            </div>
          </div>
    
    
        </div>
        <div class="d-flex ml-auto">
          <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
            class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
            <i data-feather="minus-circle"></i>
          </button>
    
          <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
            <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
              [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
              (valueChanged)="Active_FilterValueChanged( $event )">
            </select2>
          </div>
          <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
          _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
            class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
              data-feather="plus-circle"></i> </button>
    
        </div>
    
        <nav class="nav nav-with-icon tx-20">
          <div class="dropdown dropleft">
            <a href="" class="nav-link mr-2" id="StoresList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
            <div class="dropdown-menu tx-13">
              <form class="wd-250 pd-15">
    
    
                <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                  <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'desc'"
                    (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                    <i class="fas fa-sort-alpha-down-alt"></i>
                  </div>
                  <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'asc'"
                    (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                    <i class="fas fa-sort-alpha-up-alt"></i>
                  </div>
                </h6>
    
                <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                  *ngFor="let TItem of StoresList_Config.Sort.SortOptions"
                  (click)="StoresList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                  {{TItem.Name}}
                </a>
    
                <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                  (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                  Reset</button>
                <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                  (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
              </form>
            </div>
          </div>
          <div class="dropdown dropleft">
            <a href="" class="nav-link" id="StoresList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
              (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
            <div class="dropdown-menu tx-13">
              <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                </h6>
                <div>
                  <div class="form-group">
                    <label>Date</label>
                    <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                      [options]="_HelperService.AppConfig.DateRangeOptions"
                      (selected)="StoresList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                  </div>
                </div>
                <div>
                  <div class="form-group">
                    <label>Status</label>
                    <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                      [data]="StoresList_Config.StatusOptions"
                      (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                    </select2>
                  </div>
                </div>
    
                <button type="button" class="btn btn-light btn-sm mr-2"
                  (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                  Reset</button>
                <button type="button" class="btn btn-primary btn-sm "
                  (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
              </form>
            </div>
          </div>
          <a class="nav-link ml-2 RefreshColor  RefreshColorOne cursor-pointer"
            (click)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
              data-feather="refresh-cw"></i> </a>
        </nav>
      </div>
      <div class="pt-0 pd-l-15 pd-b-15">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
          {{_HelperService.FilterSnap.StatusName}}
          <span (click)="RemoveFilterComponent('Status')"
            class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
              class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
          <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
          <span (click)="RemoveFilterComponent('Sort')"
            class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
              class="fas fa-times"></i> </span>
        </div>
       
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          [hidden]="!_HelperService.FilterSnap.StartTime">
          {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
          <span (click)="RemoveFilterComponent('Time')"
            class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
              class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
          {{TItem.data[0].DisplayName}}
          <span (click)="RemoveFilterComponent('Other',i)"
            class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
              class="fas fa-times"></i> </span>
        </div>
    
        <span class="badge badge-pill badge-primary" *ngFor="let TItem of StoresList_Config.Filters">{{TItem.Title}}</span>
    
      </div>
    
      <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
          <thead>
            <tr>
              <th class="text-center" *ngIf="ColumnConfig[0].Value">
              </th>
              <th>
               Date
              </th>
              <th class="" *ngIf="ColumnConfig[1].Value">
                Daily Sales
              </th>
              <th class="" *ngIf="ColumnConfig[2].Value">
                Reward
              </th>
              <th class="" *ngIf="ColumnConfig[5].Value">
                To User
              </th>
              <th class="text-center" *ngIf="ColumnConfig[3].Value">
                TUC Com
              </th>
              <th class="text-center" *ngIf="ColumnConfig[4].Value">
                Redeem
              </th>
    
              <th *ngIf="ColumnConfig[6].Value">
               Final Reconciliation
              </th>
    
              
    
            </tr>
          </thead>
          <tbody>
            <tr class="cursor-pointer" (click)="StoresList_RowSelected(TItem)"
              *ngFor="let TItem of StoresList_Config.Data  | paginate: { id: 'StoresList_Paginator',itemsPerPage: StoresList_Config.PageRecordLimit, currentPage: StoresList_Config.ActivePage,  totalItems: StoresList_Config.TotalRecords }">
              <td class="text-center" *ngIf="ColumnConfig[0].Value">
                <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span>
              </td>
              <td>
                <div class="tx-14 tx-semibold ">{{TItem.DisplayName  || "--"}}</div>
    
              </td>
              <td class="" *ngIf="ColumnConfig[1].Value">
                {{TItem.Address | truncateText:40  || "--"}}
              </td>
              <td class="" *ngIf="ColumnConfig[2].Value">
                <div class="tx-14 tx-verve">{{TItem.ContactNumber  || "--"}}
                </div>
                <small class="text-muted tx-12">
                  {{TItem.EmailAddress  || "--"}}
                </small>
    
              </td>
              <td class="text-muted" *ngIf="ColumnConfig[5].Value">
                {{TItem.ManagerName  || "--"}}
              </td>
    
              <td class="text-center" *ngIf="ColumnConfig[3].Value">
                {{TItem.Cashiers}}
              </td>
    
              <td class="text-center" *ngIf="ColumnConfig[4].Value">
                {{TItem.Terminals}}
              </td>
    
              <td class="text-muted" *ngIf="ColumnConfig[6].Value">
                {{TItem.CreateDateD  || "--"}}
                <div>
                {{TItem.CreateDateT  || "--"}}

                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer pd-20">
        <span class="mr-3">
          {{ 'Common.Showing' | translate }}
          <span class="bold">{{StoresList_Config.ShowingStart}} {{ 'Common.To' | translate }}
            {{StoresList_Config.ShowingEnd}}
          </span> {{ 'Common.Of' | translate }} {{StoresList_Config.TotalRecords}}
        </span>
        <span>
          {{ 'Common.Show' | translate }}
          <select class="wd-50 " [(ngModel)]="StoresList_Config.PageRecordLimit"
            (ngModelChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
            <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
              {{TItem}}
            </option>
          </select>
        </span>
        <span class="float-right">
          <pagination-controls id="StoresList_Paginator" class="pagination pagination-space"
            (pageChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
            nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
          </pagination-controls>
        </span>
      </div>
    </div>
  </div>
  

</div>

</div>




