<!-- acquirer--merchants--details -->
<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
    <button class="btn btn-primary" type="button" (click)="Impersonate()">Impersonate</button>
</div>

<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item"><a class="cursor-pointer text-primary"
            (click)="_Router.navigateByUrl('console/customers/allcustomers')">All Customers</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
            Customers</a></li>
</ol>

<div class="d-sm-flex justify-content-between">
    <span class="tx-semibold tx-lg-24 mg-t-10">
        <span class="text-muted">
            <a class="cursor-pointer" (click)="_HelperService.NavigateBack()"><i data-feather="chevron-left"></i></a>
        </span>
        <!-- {{_CustomerDetails.DisplayName}} -->
       <span *ngIf="_HelperService.customerDisplayName"> {{_HelperService.customerDisplayName}}</span> 
       <span *ngIf="!_HelperService.customerDisplayName"> {{_CustomerDetails.DisplayName}}</span> 
        <!-- {{_HelperService.customerReferenceKey}}
        {{_HelperService.customerReferenceId}} -->
    </span>
</div>

<div class="bd-b-0 pd-b-20 pd-t-10">
<!-- style="width: 100%; overflow-x: auto" -->
    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist" [routerLinkActive]="['active']" >

        <div class="d-flex flex-wrap">
            <!-- <li class="nav-item cursor-pointer">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.Accounts.WalletInfo}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Customer Details</a>
            </li> -->
            <li class="nav-item cursor-pointer">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.Accounts.CustomerOverview}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                role="tab" aria-controls="home" aria-selected="true">Customer Details</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="customerdtlsrewardhistory">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.RewardHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Reward History</a>
            </li>

            <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="customerdtlsredeemhistory">
                <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.RedeemHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    aria-controls="Stores" aria-selected="false">Redeem History</a>
            </li>

            <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="customerdtlsclaimhistory">
                <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.ClaimHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    aria-controls="Stores" aria-selected="false">Claim History</a>
            </li>

            <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="customerdtlspurchasehistory">
                <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.PurchaseHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    aria-controls="Stores" aria-selected="false">Purchase History</a>
            </li>

            <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="customerdtlsvashistory">
                <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.VasHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    aria-controls="Stores" aria-selected="false">VAS History</a>
            </li>


            <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="customerdtlsdealhistory">
                <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.DealHistory.PurchaseHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    aria-controls="Stores" aria-selected="false">Deal History</a>
            </li>

            <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="customerdtlsgiftcardhistory">
                <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.GiftCardHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    aria-controls="Stores" aria-selected="false">Gift Cards</a>
            </li>
        


            <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="customerdtlsbuypointshistory">
                <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.BuyPointHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    aria-controls="Stores" aria-selected="false">Buy Points</a>
            </li>

            <!-- <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.Referal}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    aria-controls="Stores" aria-selected="false">Referal</a>
            </li> -->

            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.LoanHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    aria-controls="Stores" aria-selected="false">Loan History</a>
            </li>

        </div>

       

    </ul>
</div>


<router-outlet></router-outlet>

