
<form [formGroup]="FormEditRole" (ngSubmit)="FormEditRole_Process(FormEditRole.value)" role="form">
  <div class="card mb-0">
          <div class="card-header">
                  <div class="tx-medium tx-22">Edit Role</div>
          </div>
  
          <div class="row pd-x-15 pd-y-25">
                  <div class="col-md-12">
                          <div>
                                  <div class="tx-medium tx-22">Role Information</div>
                                  <div class="tx-14 text-secondary">Please enter merchants initial information to create
                                          merchant account</div>
                          </div>
                  </div>
                  <div class="col-md-4">
                          <div class="form-group">
  
                                  <label class="tx-13 ">Role title<span class="text-danger">*</span>
                                  </label>
                                  <div class="controls">
                                    <input type="text" placeholder="Role title" name="Name" minlength="1" maxlength="100"
                                    *ngIf="DepartmentName" class="form-control" [formControl]=" FormEditRole.controls['Name']"
                                    [(ngModel)]="RoleData.Name"
                                    [ngClass]="{'is-invalid':! FormEditRole.controls['Name'].valid &&  FormEditRole.controls['Name'].touched}">
                                  </div>
                                  <label class="text-danger" for="Name"
                                    *ngIf=" FormEditRole.controls['Name'].hasError('required') &&  FormEditRole.controls['Name'].touched">
                                    Name Required
                                  </label>
  
                          </div>
                  </div>
                  <div class="col-md-4">
                          <div class="form-group">
                                  <label>Add Department<span class="text-danger">*</span></label>
                                  <select2 [options]="GetDepartments_Option" class="wd-100p"  *ngIf="DepartmentName" [value]="RoleData.DepartmentKey"
                                          (valueChanged)="GetDepartments_ListChange($event)">
                                  </select2>
                          </div>
                  </div>
                  <div class="col-md-4">
                          <div class="form-group">
                                  <div> <label>{{'Common.Status' | translate }}<span class="text-danger">*</span>
                                          </label>
                                  </div>
                                  <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="radio" name="gender"
                                      [value]="_HelperService.AppConfig.Status.Active" [(ngModel)]="RoleData.StatusCode"
                                      [formControl]=" FormEditRole.controls['StatusCode']">
                                    <i class="dark-white"></i>
                                    {{ 'Common.Active' | translate }}</label>
                                  </div>
                                  <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Status.Inactive" [(ngModel)]="RoleData.StatusCode"
                                    [formControl]=" FormEditRole.controls['StatusCode']">
                                  <i class="dark-white"></i>
                                  {{ 'Common.Inactive' | translate }}</label>
                                  </div>
  
                          </div>
                  </div>
  
          </div>
  
          <div class="card-body p-0">
                  <div class="col-md-12">
                          <div>
                                  <div class="tx-medium tx-22">Feature Access Management</div>
                                  <div class="tx-14 text-secondary">Please allow features access to this role here</div>
  
                          </div>
  
                  </div>                
  
                  <table class="table">
                        <tr>
                                <td class="p-0 bd-0">
                                        <table>
                                                <tr>
                                                        <th style="width:250px;">Feature </th>
                                                        <th style="width:250px;"> View </th>
                                                        <th style="width:250px;"> Create </th>
                                                        <th style="width:250px;"> Edit </th>
                                                        <th style="width:250px;">Delete </th>
                                                </tr>
                                        </table>
                                </td>                           
                        </tr>

                        <tbody>
                        <ng-container  *ngFor="let group of datalst; let i= index" formArrayName="Features">
                           <ng-container [formGroupName]="i">
                                <tr>
                                        <td style="border:0px;">
                                                <table>
                                                        <tbody>
                                                                <tr>
                                                                        <td data-toggle="collapse" [attr.data-target]="'#' + 'CollapseId'+group.ReferenceId"
                                                                        class="accordion-toggle parenttd cursor-pointer">                                                                      
                                                                                <svg  *ngIf="group.Child.length>0" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>     
                                                                                <svg *ngIf="group.Child.length==0" fill="none" height="15" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="15" xmlns="http://www.w3.org/2000/svg"><polyline points="6 9 12 15 18 9"></polyline></svg> {{group.Name}}                                                                
                                                                        </td>
                                                                        <td class="parenttd">
                                                                                <div class="custom-control custom-checkbox">
                                                                                           <input type="checkbox" class="custom-control-input" (click)="ParentSelectUnSelectView(FormEditRole.value.Features,group.ReferenceId)" id="view_{{group.ReferenceId}}" formControlName="isView">
                                                                                           <label class="custom-control-label" for="view_{{group.ReferenceId}}"></label>
                                                                                   
                                                                                   </div>
                                                                           </td>
                                                                           <td class="parenttd">
                                                                                   <div
                                                                                           class="custom-control custom-checkbox">
                                                                                           <input  type="checkbox" id="add_{{group.ReferenceId}}"  class="custom-control-input" (click)="ParentSelectUnSelectCreate(FormEditRole.value.Features,group.ReferenceId)" formControlName="isAdd">
                                                                                           <label class="custom-control-label" for="add_{{group.ReferenceId}}"></label>
                                                                                          
                                                                                   </div>
                                                                           </td>
                                                                           <td class="parenttd">
                                                                                   <div
                                                                                           class="custom-control custom-checkbox">
                                                                                           <input type="checkbox"  class="custom-control-input" id="edit_{{group.ReferenceId}}" (click)="ParentSelectUnSelectEdit(FormEditRole.value.Features,group.ReferenceId)" formControlName="isEdit">
                                                                                           <label class="custom-control-label" for="edit_{{group.ReferenceId}}"></label>
                                                                                         
                                                                                   </div>
                                                                           </td>
                                                                           <td class="parenttd">
                                                                                   <div
                                                                                           class="custom-control custom-checkbox">
                                                                                           <input type="checkbox"  class="custom-control-input" id="delete_{{group.ReferenceId}}" (click)="ParentSelectUnSelectDelete(FormEditRole.value.Features,group.ReferenceId)" formControlName="isDelete">
                                                                                           <label class="custom-control-label" for="delete_{{group.ReferenceId}}"></label>                                                                                              
                                                                          
                                                                                   </div>
                                                                           </td>
                                                                </tr>        
                                                </tbody>
                                                </table>
                                        </td>
                                </tr>   
                                <ng-container  *ngFor="let subgroup of group.Child; let j= index" formArrayName="details">
                                        <ng-container [formGroupName]="j">
                                        <tr>                                             
                                                <td colspan="12" style="border:0px;" class="hiddenRow">
                                                        <div class="accordian-body collapse" [id]="'CollapseId'+group.ReferenceId">
                                                                <table class="table no-border no-hover  mb-0">
                                                                        <tbody>
                                                                                <tr>
                                                                                        <td class="subparenttd"  data-toggle="collapse" [attr.data-target]="'#' + 'CollapseId'+subgroup.ReferenceId"
                                                                                        class="accordion-toggle cursor-pointer subparenttd">
                                                                                                <svg  *ngIf="subgroup.Child.length>0" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg> 
                                                                                                <svg *ngIf="subgroup.Child.length==0" fill="none" height="15" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="15" xmlns="http://www.w3.org/2000/svg"><polyline points="6 9 12 15 18 9"></polyline></svg> {{subgroup.Name}}                                                                
                                                                                        </td>
                                                                                        <td class="subparenttd">
                                                                                                <div
                                                                                                        class="custom-control custom-checkbox">
                                                                                                        <input type="checkbox"  class=" custom-control-input" id="view_{{subgroup.ReferenceId}}" (click)="SelectUnSelectView(FormEditRole.value.Features,subgroup.ReferenceId)" formControlName="isView">
                                                                                                        <label class="custom-control-label" for="view_{{subgroup.ReferenceId}}"></label>
                                                                                                
                                                                                                </div>
                                                                                        </td>
                                                                                       
                                                                                   <td class="subparenttd">
                                                                                   <div
                                                                                           class="customcustomerchild custom-control custom-checkbox">
                                                                                           <input type="checkbox" *ngIf="subgroup.isTab" disabled class=" custom-control-input" (click)="SelectUnSelectCreate(FormEditRole.value.Features,subgroup.ReferenceId)" id="add_{{subgroup.ReferenceId}}"  formControlName="isAdd">
                                                                                           <input type="checkbox" *ngIf="!subgroup.isTab"  class=" custom-control-input" (click)="SelectUnSelectCreate(FormEditRole.value.Features,subgroup.ReferenceId)" id="add_{{subgroup.ReferenceId}}"  formControlName="isAdd">
                                                                                           <label class="custom-control-label" for="add_{{subgroup.ReferenceId}}"></label>
                                                                                   </div>
                                                                           </td>
                                                                           <td class="subparenttd">
                                                                                   <div
                                                                                           class="customcustomerchild custom-control custom-checkbox">
                                                                                           <input type="checkbox"  *ngIf="subgroup.isTab" disabled  class=" custom-control-input" id="edit_{{subgroup.ReferenceId}}" (click)="SelectUnSelectEdit(FormEditRole.value.Features,subgroup.ReferenceId)" formControlName="isEdit">
                                                                                           <input type="checkbox"  *ngIf="!subgroup.isTab"  class=" custom-control-input" id="edit_{{subgroup.ReferenceId}}" (click)="SelectUnSelectEdit(FormEditRole.value.Features,subgroup.ReferenceId)" formControlName="isEdit">
                                                                                           <label class="custom-control-label" for="edit_{{subgroup.ReferenceId}}"></label>
                                                                                   </div>
                                                                           </td>
                                                                           <td class="subparenttd">
                                                                                   <div
                                                                                           class="customcustomerchild custom-control custom-checkbox">
                                                                                           <input type="checkbox"  *ngIf="subgroup.isTab" disabled  class=" custom-control-input" (click)="SelectUnSelectDelete(FormEditRole.value.Features,subgroup.ReferenceId)" id="delete_{{subgroup.ReferenceId}}"  formControlName="isDelete">
                                                                                           <input type="checkbox"  *ngIf="!subgroup.isTab"  class=" custom-control-input" (click)="SelectUnSelectDelete(FormEditRole.value.Features,subgroup.ReferenceId)" id="delete_{{subgroup.ReferenceId}}"  formControlName="isDelete">
                                                                                           <label class="custom-control-label" for="delete_{{subgroup.ReferenceId}}"></label>
                                                                                   </div>
                                                                           </td>
                                                                                </tr>
        
                                                                        </tbody>
                                                                </table>
                                                        </div>
                                                </td>
                                
                                        </tr>
                                        <tr  *ngFor="let innersubgroup of subgroup.Child; let k= index" formArrayName="details">   
                                        <ng-container [formGroupName]="k">    
                                                <tr>                                 
                                                <td colspan="12" style="border:0px;" class="hiddenRow">
                                                        <div class="accordian-body collapse" [id]="'CollapseId'+subgroup.ReferenceId">
                                                                <table class="table no-border no-hover  mb-0">
                                                                        <tbody>
                                                                                <tr 
                                                                                        class="cursor-pointer"
                                                                                        >
                                                                                        <td class="childtd"  data-toggle="collapse" [attr.data-target]="'#' + 'CollapseId'+innersubgroup.ReferenceId"
                                                                                        class="accordion-toggle cursor-pointer subparenttd">
                                                                                                <svg  *ngIf="innersubgroup.Child.length>0" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg> 
                                                                                                <svg *ngIf="innersubgroup.Child.length==0" fill="none" height="15" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="15" xmlns="http://www.w3.org/2000/svg"><polyline points="6 9 12 15 18 9"></polyline></svg> {{innersubgroup.Name}}                                                                
                                                                                        </td>
                                                                                        <td class="childtd">
                                                                                                <div
                                                                                                        class="custom-control custom-checkbox" style="padding-left: 3rem;">
                                                                                                        <input type="checkbox"  class=" custom-control-input" id="view_{{innersubgroup.ReferenceId}}"  (click)="ChildSelectUnSelectView(FormEditRole.value.Features,innersubgroup.ReferenceId)" formControlName="isView">
                                                                                                        <label class="custom-control-label" for="view_{{innersubgroup.ReferenceId}}"></label>
                                                                                                
                                                                                                </div>
                                                                                        </td>
                                                                                        <td class="childtd">
                                                                                           <div  
                                                                                                   class="custom-control custom-checkbox" style="padding-left: 3.7rem;">
                                                                                                   <input type="checkbox" *ngIf="innersubgroup.isTab" disabled class=" custom-control-input" id="add_{{innersubgroup.ReferenceId}}" (click)="ChildSelectUnSelectCreate(FormEditRole.value.Features,innersubgroup.ReferenceId)" formControlName="isAdd">
                                                                                                   <input type="checkbox" *ngIf="!innersubgroup.isTab"  class=" custom-control-input" id="add_{{innersubgroup.ReferenceId}}" (click)="ChildSelectUnSelectCreate(FormEditRole.value.Features,innersubgroup.ReferenceId)"  formControlName="isAdd">
                                                                                                   <label class="custom-control-label" for="add_{{innersubgroup.ReferenceId}}"></label>
                                                                                           </div>
                                                                                   </td>
                                                                                   <td class="childtd">
                                                                                           <div
                                                                                                   class="custom-control custom-checkbox"style="padding-left: 5.3rem;">
                                                                                                   <input type="checkbox" *ngIf="innersubgroup.isTab" disabled  class=" custom-control-input" id="edit_{{innersubgroup.ReferenceId}}" (click)="ChildSelectUnSelectEdit(FormEditRole.value.Features,innersubgroup.ReferenceId)"  formControlName="isEdit">
                                                                                                   <input type="checkbox" *ngIf="!innersubgroup.isTab"   class=" custom-control-input" id="edit_{{innersubgroup.ReferenceId}}" (click)="ChildSelectUnSelectEdit(FormEditRole.value.Features,innersubgroup.ReferenceId)"  formControlName="isEdit">
                                                                                                   <label class="custom-control-label" for="edit_{{innersubgroup.ReferenceId}}"></label>
                                                                                           </div>
                                                                                   </td>
                                                                                   <td class="childtd">
                                                                                           <div
                                                                                                   class="custom-control custom-checkbox"style="padding-left: 6.5rem;">
                                                                                                   <input type="checkbox" *ngIf="innersubgroup.isTab" disabled class=" custom-control-input"  id="delete_{{innersubgroup.ReferenceId}}" (click)="ChildSelectUnSelectDelete(FormEditRole.value.Features,innersubgroup.ReferenceId)" formControlName="isDelete">
                                                                                                   <input type="checkbox" *ngIf="!innersubgroup.isTab"  class=" custom-control-input"  id="delete_{{innersubgroup.ReferenceId}}" (click)="ChildSelectUnSelectDelete(FormEditRole.value.Features,innersubgroup.ReferenceId)" formControlName="isDelete">
                                                                                                   <label class="custom-control-label" for="delete_{{innersubgroup.ReferenceId}}"></label>
                                                                                           </div>
                                                                                   </td>
                                                                                </tr>
        
                                                                        </tbody>
                                                                </table>
                                                        </div>
                                                </td>   
                                                </tr> 
                                                <tr  *ngFor="let igroup of innersubgroup.Child; let w= index" formArrayName="details">   
                                                        <ng-container [formGroupName]="w">  
                                                                <td colspan="12" style="border:0px;" class="hiddenRow">
                                                                        <div class="accordian-body collapse" [id]="'CollapseId'+innersubgroup.ReferenceId">
                                                                                <table class="table no-border no-hover  mb-0">
                                                                                        <tbody>
                                                                                                <tr 
                                                                                                        class="cursor-pointer"
                                                                                                        >
                                                                                                        <td class="ichildtd">
                                                                                                                <svg  fill="none" height="15" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="15" xmlns="http://www.w3.org/2000/svg"><polyline points="6 9 12 15 18 9"></polyline></svg> {{igroup.Name}}
                                                                                                        </td>
                                                                                                        <td class="ichildtd">
                                                                                                                <div
                                                                                                                        class="custom-control custom-checkbox">
                                                                                                                        <input type="checkbox"  class=" custom-control-input" id="view_{{igroup.ReferenceId}}"  formControlName="isView">
                                                                                                                        <label class="custom-control-label" for="view_{{igroup.ReferenceId}}"></label>
                                                                                                                
                                                                                                                </div>
                                                                                                        </td>
                                                                                                        <td class="ichildtd">
                                                                                                           <div  
                                                                                                                   class="custom-control custom-checkbox" style="padding-left: 3.7rem;">
                                                                                                                   <input type="checkbox" *ngIf="igroup.isTab" disabled class=" custom-control-input" id="add_{{igroup.ReferenceId}}"  formControlName="isAdd">
                                                                                                                   <input type="checkbox" *ngIf="!igroup.isTab"  class=" custom-control-input" id="add_{{igroup.ReferenceId}}"  formControlName="isAdd">
                                                                                                                   <label class="custom-control-label" for="add_{{igroup.ReferenceId}}"></label>
                                                                                                           </div>
                                                                                                   </td>
                                                                                                   <td class="ichildtd">
                                                                                                           <div
                                                                                                                   class="custom-control custom-checkbox" style="padding-left: 5.3rem;">
                                                                                                                   <input type="checkbox" *ngIf="igroup.isTab" disabled  class=" custom-control-input" id="edit_{{igroup.ReferenceId}}"  formControlName="isEdit">
                                                                                                                   <input type="checkbox" *ngIf="!igroup.isTab"   class=" custom-control-input" id="edit_{{igroup.ReferenceId}}"  formControlName="isEdit">
                                                                                                                   <label class="custom-control-label" for="edit_{{igroup.ReferenceId}}"></label>
                                                                                                           </div>
                                                                                                   </td>
                                                                                                   <td class="ichildtd">
                                                                                                           <div
                                                                                                                   class="custom-control custom-checkbox" style="padding-left: 6.5rem;">
                                                                                                                   <input type="checkbox" *ngIf="igroup.isTab" disabled class=" custom-control-input"  id="delete_{{igroup.ReferenceId}}"  formControlName="isDelete">
                                                                                                                   <input type="checkbox" *ngIf="!igroup.isTab"  class=" custom-control-input"  id="delete_{{igroup.ReferenceId}}"  formControlName="isDelete">
                                                                                                                   <label class="custom-control-label" for="delete_{{igroup.ReferenceId}}"></label>
                                                                                                           </div>
                                                                                                   </td>
                                                                                                </tr>
                        
                                                                                        </tbody>
                                                                                </table>
                                                                        </div>
                                                                </td>      
                                                        </ng-container>                                                    
                                                </tr>                                                                               
                                        </ng-container>                                                    
                                        </tr>
                                        </ng-container>
                                </ng-container>                                                                            
                           </ng-container>
                        </ng-container>
                        </tbody>

                </table>
  
          </div>
          <div class="light p-3 text-right bd-t">
  
                  <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                      (click)="FormEditRole_Close()">{{
                      'Common.Close'
                      | translate }}</button>
  
                      <button type="submit" class="btn btn-primary warn mr-2" (click)=" FormEditRole.value.OperationType = 'new'"
                      [disabled]="(!FormEditRole.valid) || _HelperService.IsFormProcessing">
                      <span *ngIf="!_HelperService.IsFormProcessing">
                        {{ "Common.Update" | translate }}
                      </span>
                      <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                        {{ "Common.PleaseWait" | translate }}...
                      </span>
                    </button>
  
          </div>
        
  </div>
  </form>