<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class=" ">
        <div class="row">


            <div class="col-md-12">
                <div class="card bd-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd-l-5">

                            <form [formGroup]="Form_UpdateUser"
                                (ngSubmit)="Form_UpdateUser_Process(Form_UpdateUser.value)" role="form">
                                <div class="card">
                                    <div class="card-header b-b b-2x">
                                        <h3 class="tx-14 pb-0 mb-0"> Configurations</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label> Customer Registration Welcome Sms
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="custimportonboardmessage"
                                                            maxlength="100" class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['custimportonboardmessage']"
                                                            [(ngModel)]="_UserAccount.custimportonboardmessage"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['custimportonboardmessage'].valid && Form_UpdateUser.controls['custimportonboardmessage'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="custimportonboardmessage"
                                                        *ngIf="Form_UpdateUser.controls['custimportonboardmessage'].hasError('required') && Form_UpdateUser.controls['custimportonboardmessage'].touched">{{
                                                        'System.AddAcquirer.WelcomeSmsContent_ER_Required' | translate
                                                        }}</label>
                                                    <label class="text-danger" for="custimportonboardmessage"
                                                        *ngIf="Form_UpdateUser.controls['custimportonboardmessage'].hasError('pattern') && Form_UpdateUser.controls['custimportonboardmessage'].touched">{{
                                                        'System.AddAcquirer.WelcomeSmsContent_ER_Invalid' | translate
                                                        }}</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-header b-b b-2x b-t">
                                        <h3 class="text-warn tx-14 pb-0 mb-0">Infobip Sms Configuration</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Sender id
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="infobip_senderid" maxlength="25"
                                                            class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['infobip_senderid']"
                                                            [(ngModel)]="_UserAccount.infobip_senderid"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['infobip_senderid'].valid && Form_UpdateUser.controls['infobip_senderid'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="infobip_senderid"
                                                        *ngIf="Form_UpdateUser.controls['infobip_senderid'].hasError('required') && Form_UpdateUser.controls['infobip_senderid'].touched">{{
                                                        'System.AddAcquirer.SenderId_ER_Required' | translate
                                                        }}</label>
                                                    <label class="text-danger" for="infobip_senderid"
                                                        *ngIf="Form_UpdateUser.controls['infobip_senderid'].hasError('minlength') || Form_UpdateUser.controls['infobip_senderid'].hasError('maxlength')">{{
                                                        'System.AddAcquirer.SenderId_ER_Length' | translate
                                                        }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Api Key
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="infobip_key" maxlength="256"
                                                            class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['infobip_key']"
                                                            [(ngModel)]="_UserAccount.infobip_key"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['infobip_key'].valid && Form_UpdateUser.controls['infobip_key'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="infobip_key"
                                                        *ngIf="Form_UpdateUser.controls['infobip_key'].hasError('required') && Form_UpdateUser.controls['infobip_key'].touched">{{
                                                        'System.AddAcquirer.ApiKey_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="infobip_key"
                                                        *ngIf="Form_UpdateUser.controls['infobip_key'].hasError('minlength') || Form_UpdateUser.controls['infobip_key'].hasError('maxlength')">{{
                                                        'System.AddAcquirer.ApiKeyER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Api Url
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="infobip_url" maxlength="256"
                                                            class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['infobip_url']"
                                                            [(ngModel)]="_UserAccount.infobip_url"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['infobip_url'].valid && Form_UpdateUser.controls['infobip_url'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="infobip_url"
                                                        *ngIf="Form_UpdateUser.controls['infobip_url'].hasError('required') && Form_UpdateUser.controls['infobip_url'].touched">{{
                                                        'System.AddAcquirer.infobip_url_ER_Required' | translate
                                                        }}</label>
                                                    <label class="text-danger" for="infobip_url"
                                                        *ngIf="Form_UpdateUser.controls['infobip_url'].hasError('minlength') || Form_UpdateUser.controls['infobip_url'].hasError('maxlength')">{{
                                                        'System.AddAcquirer.infobip_url_Length' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary  mr-2 float-right"
                                            (click)="Form_UpdateUser.value.OperationType='new'"
                                            [disabled]="!Form_UpdateUser.valid || _HelperService.IsFormProcessing">
                                            <span *ngIf="!_HelperService.IsFormProcessing">
                                                {{ 'Common.Update' | translate }}
                                            </span>
                                            <span *ngIf="_HelperService.IsFormProcessing">
                                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{
                                                'Common.PleaseWait' | translate
                                                }}...
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                </div><!-- media-body -->

            </div>

        </div>





    </div><!-- media -->
</div>


<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageChangedEvent]="_HelperService._Icon_Cropper_ChangedEvent"
                                [aspectRatio]="1/1" format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCropped)="_HelperService.Icon_Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Change Picture
                            </div>
                            <div class="mb-3">
                                <input type="file" (change)="_HelperService.Icon_Change($event)" />
                            </div>
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>

                                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>