<div class="container">


    <div class="row row-xs mg-b-10">
        <div class="col-lg-7 col-xl-7 col-sm-10 col-md-7 mg-t-10 mg-lg-t-0">
            <div class="card ht-100p">

                <span class="mt-4 ml-4 "> Acitivity Timeline</span>


                <div class="box-header px-3 pd-t-15 pd-b-7  d-flex align-items-center justify-content-between">
                    <div class="row ml-3">
                        <div class="form-inline ">
                            <div class="input-group input-group-sm mr-5">
                                <input type="text" class="form-control" maxlength="100" class="form-control"
                                    placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-light" type="button"><i data-feather="search"></i>
                                    </button>
                                </div>
                            </div>

                        </div>

                        <div class="form-inline  my-auto shadow-none mg-l-65 ">
                            <button type="button" class="btn btn-white">
                                <i data-feather="calendar"></i>
                            </button>

                        </div> &nbsp;
                        <div class="form-group my-auto shadow-none ml-2 ">
                            <select2 name="itemId0" class="wd-30 select2">
                            </select2>


                        </div>
                    </div>
                </div>

                <div class="timeline p-4 block mb-4">
                    <div class="tl-item active" *ngFor="let ele of timeLine">
                        <div class="tl-date  mt-1">{{ele.Date}}</div>
                        <div class="tl-dot b-warning"></div>
                        <div class="card card-background ml-4">
                            <!-- <div class="tl-content">
                                <div class="">{{ele.Title}}</div>
                                <div class="tl-date text-muted mt-1">{{ele.Date}}</div>
                            </div> -->
                            <div class="mb-3">
                                <ul class="list-group list-group-flush tx-14">
                                    <li class="list-group-item-analitics d-flex tx-dark">
                                        <div class="tl-content">
                                            <img class="br" src="{{ele.imgsrc}}"
                                                class="img wd-40 ht-40 rounded-10 bd bd-2 border-secondary">
                                        </div>
                                        <div class="pd-l-10">
                                            <p class="mg-b-0">{{ele.Title || "--"}}</p>
                                            <small class="mg-b-0 tx-12 text-secondary">Last Balance On
                                                {{ele.SubTitle}}</small>

                                        </div>
                                    </li>

                                </ul>
                            </div>



                            <div class="row d-flex justify-content-between mb-0">
                                <div class="col-md-4 border-right"> Spent- {{ele.spentAmount}}</div>
                                <div class="col-md-4 border-right"> {{ele.tAmount}}</div>
                                <div class="col-md-4">test</div>
                            </div>
                            <!-- <div class=" d-flex tx-dark mb-0 ml-0">
                                <div class="col-md-4 border-right"> Spent- {{ele.spentAmount}}</div>
                                  <div class="col-md-4 border-right"> {{ele.tAmount}}</div>
                                  <div class="col-md-4">test</div>
                            </div> -->
                        </div>
                    </div>

                </div>


            </div>

        </div>

        <div class="col-lg-5 col-xl-5 col-sm-10 col-md-5 mg-t-10 mg-lg-t-0">

            <div class="card p-0 mg-b-20">
                <div class="row row-xs mg-b-10">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mt-4 ml-4 "> Fevourites Category</p>
                            </div>
                            <div class="col-md-4" *ngFor="let img of favCategory">
                                <div class="card">
                                    <img src="{{img.imgsrc}}">
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

            <div class="card p-0 mg-b-10">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mt-4 ml-4 "> Frequently Visit At</p>
                            </div>
                            <!-- <div class="col-md-4" *ngFor="let img of favCategory">
                                <div class="card">
                                    <img src="{{img.imgsrc}}">
                                </div>
                            </div> -->
                            <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12 mg-t-10 mg-lg-t-0">
                                <ul class="list-group list-group-flush tx-14" *ngFor="let TItem of favCategory">
                                    <li class="list-group-item d-flex tx-dark">
                                        <div>
                                            <img class="br" src="{{TItem.imgsrc}}"
                                                class="img wd-40 ht-40 rounded-10 bd bd-2 border-secondary">
                                        </div>
                                        <div class="pd-l-10">
                                            <p class="mg-b-0">{{TItem.DisplayName || "--"}}</p>
                                            <small class="mg-b-0 tx-12 text-secondary">Last Balance On
                                                {{TItem.SubTitle}}</small>

                                        </div>
                                        <div class="mg-l-auto d-flex align-self-center">
                                            <nav class="nav nav-icon-only">
                                                <h5 class="tx-normal tx-rubik mg-b-0 lh-1">
                                                </h5>
                                                <div class="tx-12  text-danger">

                                                    <span class="Word-break">{{TItem.TotalVisit || "0" | number: "1.2-2"
                                                        }}</span>

                                                    <br>
                                                    <div class="tx-12  text-secondary">Visit</div>
                                                </div>


                                                <!-- <a class="nav-link d-none d-sm-block"><i class="fas fa-chevron-right text-secondary text-secondary"></i> </a> -->
                                            </nav>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card p-0 ">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mt-4 ml-4 "> Most Transition For</p>
                            </div>
                            <div class="col-md-4" *ngFor="let ele of transitionData">
                                <button class="btn btn-primary rounded-pill tx-12 m-1"> {{ele.Title}}</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>