<div class="row row-xs mg-y-10">
  <div class="col-sm-4 col-lg-4 ">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">total rewards earned</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik  mg-b-8 mg-r-5 lh-1">
          {{_AccountSalesOverview.Transactions| number: "1.0-1" || "--"}}</h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-success">1.2% <i
                  class="icon ion-md-arrow-up"></i></span></p> -->

      </div>


      <p class="tx-12 tx-color-03 mg-b-0 text-capitalize"> Rewards earned in <span class="tx-color-01">1244
          Transactions</span> </p>
    </div>
  </div><!-- col -->
  <div class="col-sm-4 col-lg-4 mg-t-10  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">total redeemed amount</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik mg-b-8 mg-r-5 lh-1">
          <span class=" text-sm"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountSalesOverview.InvoiceAmount || "0" | number: "1.2-2" }}
        </h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                  class="icon ion-md-arrow-down"></i></span></p> -->

      </div>
      <p class="tx-12 tx-color-03 mg-b-0 text-capitalize"> Amount redeemed in <span class="tx-color-01">1244
          Transactions</span>
      </p>
    </div>
  </div><!-- col -->
  <div class="col-sm-4 col-lg-4 mg-t-10  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8"> total tuc+claim amount </h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-rubik  mg-b-8 mg-r-5 lh-1">
          <span class=" text-sm"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountCustomerOverview.RewardAmount  || "0" | number: "1.2-2"}}
        </h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                  class="icon ion-md-arrow-down"></i></span></p> -->

      </div>


      <p class="tx-12 tx-color-03 mg-b-0"> Amount claimed in <span class="tx-color-01">1244 Transactions</span> </p>


    </div>
  </div><!-- col -->
</div>

<div class="row row-xs">
  <div class="col-sm-12 col-lg-12">

    <div class="card p-0">
      <div class="row">
        <div class="col">
          <div class="card  bd-b-0">
            <ul class="nav nav-line  mg-x-15 pd-t-10" id="myTab" role="tablist">

              <li class="nav-item pt-1 "><a class="nav-link active" href="#" data-toggle="tab"
                  data-target="#tab-1">Reward Trend</a></li>
              <li class="nav-item pt-1 "><a class="nav-link" href="#" data-toggle="tab" data-target="#tab-2">Redeem
                  Trend</a></li>
              <li class="nav-item pt-1 "><a class="nav-link" href="#" data-toggle="tab" data-target="#tab-3">Claim
                  Trend</a></li>

            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show  bd-0  active" role="tabpanel" id="tab-1">
                <div class="card bd-0">
                  <div
                    class="card-header bd-0 pd-x-15 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
                    <div>
                      <h6 class="mg-b-5 tx-18">N 243303</h6>
                      <p class="tx-11 text-secondary mg-b-0">Total rewarded amount in this time span
                      </p>
                    </div>
                  </div><!-- card-header -->
                  <div class="card-body bd-0 pd-x-10">
                    <canvas class="" baseChart #DataPlot="base-chart" [datasets]="barChartData"
                      [options]="BarChartOptions" [colors]="barChartColors" [plugins]="BarChartOptions.Plugins"
                      [chartType]="_HelperService.ChartConfig.BarChart.Type">
                    </canvas>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" role="tabpanel" role="tabpanel" id="tab-2">
                <div class="card bd-0">
                  <div
                    class="card-header bd-0 pd-x-15 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
                    <div>
                      <h6 class="mg-b-5 tx-18">N 243303</h6>
                      <p class="tx-11 text-secondary mg-b-0">Total redeemed amount in this time span
                      </p>
                    </div>
                  </div><!-- card-header -->
                  <div class="card-body bd-0 pd-x-10">
                    <canvas class="" baseChart #DataPlot="base-chart" [datasets]="barChartData"
                      [options]="BarChartOptions" [colors]="barChartColors" [plugins]="BarChartOptions.Plugins"
                      [chartType]="_HelperService.ChartConfig.BarChart.Type">
                    </canvas>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" role="tabpanel" id="tab-3">
                <div class="card bd-0">
                  <div
                    class="card-header bd-0 pd-x-15 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
                    <div>
                      <h6 class="mg-b-5 tx-18">N 243303</h6>
                      <p class="tx-11 text-secondary mg-b-0">Total claimed amount in this time span
                      </p>
                    </div>
                  </div><!-- card-header -->
                  <div class="card-body bd-0 pd-x-10">
                    <canvas class="" baseChart #DataPlot="base-chart" [datasets]="barChartData"
                      [options]="BarChartOptions" [colors]="barChartColors" [plugins]="BarChartOptions.Plugins"
                      [chartType]="_HelperService.ChartConfig.BarChart.Type">
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>