<!-- acquirer--campaigns--list -->
<!-- <ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Overview}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
      [routerLinkActive]="['active']">Loyality
    </a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Campaigns
    </a></li>
</ol> -->

<div class=" d-flex justify-content-between mg-b-10">
  <div>
    <div class="">
      <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
        (valueChanged)="TUTr_Filter_Stores_Change($event)">
      </select2>
    </div>
  </div>

  <div>
    <button class="btn tx-12 btn-primary rounded-50" (click)="Form_AddUser_Show()"> Add New Campaign </button>

  </div>
</div>

<div class="bg-success pd-15 wd-100p mg-b-10 rounded-5">
 <span class="tx-white tx-14"> Two campaigns are running currently. </span>
</div>

<div class="card">
  <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> {{ CampaignsList_Config.Title}} </div>
  </div>
  <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]=" CampaignsList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)=" CampaignsList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)=" CampaignsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" [disabled]='(_HelperService.FilterSnap.id == -1)'
        (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
      [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
        (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id=" CampaignsList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf=" CampaignsList_Config.Sort.SortOrder == 'desc'"
                (click)=" CampaignsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf=" CampaignsList_Config.Sort.SortOrder == 'asc'"
                (click)=" CampaignsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of  CampaignsList_Config.Sort.SortOptions"
              (click)=" CampaignsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id=" CampaignsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)=" CampaignsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]=" CampaignsList_Config.StatusOptions"
                  (valueChanged)=" CampaignsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>

            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)=" CampaignsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
      (click)="RemoveFilterComponent('Status')">
      {{_HelperService.FilterSnap.StatusName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
      (click)="RemoveFilterComponent('Sort')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
      (click)="RemoveFilterComponent('Other',i)">
      {{TItem.data[0].DisplayName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary" *ngFor="let TItem of  CampaignsList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th class="text-center" *ngIf="ColumnConfig[0].Value">
          </th>
          <th>
            Campaign Name
          </th>
          <th class="" *ngIf="ColumnConfig[1].Value">
            Date
          </th>
          <th class="" *ngIf="ColumnConfig[2].Value">
            Reward %
          </th>
          <th class="" *ngIf="ColumnConfig[5].Value">
            Time Span
          </th>
          <th class="text-center" *ngIf="ColumnConfig[3].Value">
            Campaign Type
          </th>
          <th class="text-center" *ngIf="ColumnConfig[4].Value">
            Sale Amount
          </th>

          <th *ngIf="ColumnConfig[6].Value">
            Rewarded Amount
          </th>
          <th class="text-center" *ngIf="ColumnConfig[7].Value">
            Visits
          </th>

          <th class="d-flex">
            <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;"
              data-toggle="tooltip" title="Edit Your Column" (click)="OpenEditColModal()">
              <!-- <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i> -->
            </span>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)=" CampaignsList_RowSelected(TItem)"
          *ngFor="let TItem of  CampaignsList_Config.Data  | paginate: { id: ' CampaignsList_Paginator',itemsPerPage:  CampaignsList_Config.PageRecordLimit, currentPage:  CampaignsList_Config.ActivePage,  totalItems:  CampaignsList_Config.TotalRecords }">
          <td class="text-center" *ngIf="ColumnConfig[0].Value">
            <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span>
          </td>
          <td>
            <div class="tx-14 tx-semibold ">{{TItem.DisplayName  || "--"}}</div>

          </td>
          <td class="" *ngIf="ColumnConfig[1].Value">
            {{TItem.Address | truncateText:40  || "--"}}
          </td>
          <td class="" *ngIf="ColumnConfig[2].Value">
            <div class="tx-14 tx-verve">{{TItem.ContactNumber  || "--"}}
            </div>
            <small class="text-muted tx-12">
              {{TItem.EmailAddress  || "--"}}
            </small>

          </td>
          <td class="text-muted" *ngIf="ColumnConfig[5].Value">
            {{TItem.ManagerName  || "--"}}
          </td>

          <td class="text-center" *ngIf="ColumnConfig[3].Value">
            {{TItem.Cashiers}}
          </td>

          <td class="text-center" *ngIf="ColumnConfig[4].Value">
            {{TItem.Terminals}}
          </td>

          <td class="text-muted" *ngIf="ColumnConfig[6].Value">
            {{TItem.CreateDateD  || "--"}}
            <div>
            {{TItem.CreateDateT  || "--"}}

            </div>
          </td>
          <td class="text-center" *ngIf="ColumnConfig[6].Value">
          1232
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{ CampaignsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{ CampaignsList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{ CampaignsList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-40 " [(ngModel)]=" CampaignsList_Config.PageRecordLimit"
        (ngModelChange)=" CampaignsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id=" CampaignsList_Paginator" class="pagination pagination-space"
        (pageChange)=" CampaignsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>
<div id="Form_AddUser_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Create New Campaign</h5>
        </div>
        <div class="modal-body  p-lg">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.FirstName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>

                </div>
                <div class="controls">
                  <input type="text" name="FirstName" placeholder="First Name" required maxlength="25"
                    class="form-control" [formControl]="Form_AddUser.controls['FirstName']" [ngClass]="{
    'is-invalid':
      !Form_AddUser.controls['FirstName'].valid &&
      Form_AddUser.controls['FirstName'].touched
  }" />
                </div>
                <label class="text-danger" for="FirstName" *ngIf="
  Form_AddUser.controls['FirstName'].hasError('required') &&
  Form_AddUser.controls['FirstName'].touched
">{{
  "System.Users.FirstName_ER_Required" | translate
}}</label>
                <label class="text-danger" for="FirstName" *ngIf="
  Form_AddUser.controls['FirstName'].hasError(
    'minlength'
  ) ||
  Form_AddUser.controls['FirstName'].hasError('maxlength')
">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center text-secondary">

              Name your campaign in Max 25 words

            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <input-file #campaign inputId="input-file" placeholder="">
              </input-file>
            </div>
            <div class="col-md-6 d-flex align-items-center text-secondary">
              Upload Banner for your campaign
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mg-b-2 mt-3">
                <label> <span class="tx-14"> Campaign Description </span>
                  <span class="text-danger">*</span>

                </label>
                <div class="controls">
                  <textarea name="Description" placeholder=" Campaign Description" maxlength="256" class="form-control"
                    rows="3" [formControl]="Form_AddUser.controls['Description']"
                    [ngClass]="{'is-invalid':!Form_AddUser.controls['Description'].valid && Form_AddUser.controls['Description'].touched}"></textarea>
                </div>
                <label class="text-danger" for="Description"
                  *ngIf="Form_AddUser.controls['Description'].hasError('required') && Form_AddUser.controls['Description'].touched">{{
                                                          'System.Users.Description_ER_Required' | translate }}</label>
                <label class="text-danger" for="Description"
                  *ngIf="Form_AddUser.controls['Description'].hasError('minlength') || Form_AddUser.controls['Description'].hasError('maxlength')">{{
                                                          'System.Users.Description_ER_Length' | translate }}</label>
              </div>

            </div>
            <div class="col-md-6 d-flex align-items-center text-secondary">
              Describe your campaign in detail
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group pt-3">

                <label class="tx-13 "> Reward Percentage<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" placeholder="Reward Percentage" name="RewardPercentage" minlength="1"
                    maxlength="100" class="form-control" (keypress)="_HelperService.PreventText($event)"
                    [formControl]="Form_AddUser.controls['RewardPercentage']"
                    [ngClass]="{'is-invalid':!Form_AddUser.controls['RewardPercentage'].valid && Form_AddUser.controls['RewardPercentage'].touched}">
                </div>
                <label class="text-danger" for="RewardPercentage"
                  *ngIf="Form_AddUser.controls['RewardPercentage'].hasError('required') && Form_AddUser.controls['RewardPercentage'].touched">
                  enter reward percentage
                </label>
                <label class="text-danger" for="RewardPercentage"
                  *ngIf="Form_AddUser.controls['RewardPercentage'].hasError('min') || Form_AddUser.controls['RewardPercentage'].hasError('max')">
                  reward percentage must be between 0 to 100
                </label>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center text-secondary">
              Set reward %
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="">
                <label for=""> Select Store</label>
                <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                  (valueChanged)="TUTr_Filter_Stores_Change($event)">
                </select2>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center text-secondary">
              Select stores where you want to run campaign
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-group">
                <div> <label>Campaign Type<span class="text-danger">*</span>
                  </label>
                </div>
                <div class="radio float-left mr-3">
                  <label class="ui-check"><input type="radio" name="campaign"
                      [value]="_HelperService.AppConfig.Campaign.OneDay"
                      [formControl]="Form_AddUser.controls['CampaignType']">
                    <i class="dark-white"></i>
                    {{ 'System.Users.OneDay' | translate }}</label>
                </div>

                <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="campaign"
                      [value]="_HelperService.AppConfig.Campaign.HourlyCampaign"
                      [formControl]="Form_AddUser.controls['CampaignType']">
                    <i class="dark-white"></i>
                    {{ 'System.Users.HourlyCampaign' | translate }}</label></div>

                <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="campaign"
                      [value]="_HelperService.AppConfig.Campaign.WeeklyCampaign"
                      [formControl]="Form_AddUser.controls['CampaignType']">
                    <i class="dark-white"></i>
                    {{ 'System.Users.WeeklyCampaign' | translate }}</label></div>

                <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="campaign"
                      [value]="_HelperService.AppConfig.Campaign.CustomCampaign"
                      [formControl]="Form_AddUser.controls['CampaignType']">
                    <i class="dark-white"></i>
                    {{ 'System.Users.CustomCampaign' | translate }}</label></div>
              </div>

            </div>
            <div class="col-md-6 d-flex align-items-center text-secondary">
              Select campaign type
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddUser.value.OperationType = 'new'"
            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Save" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="m-3">
              <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                (imageLoaded)="_HelperService.Icon_Crop_Loaded()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
              </image-cropper>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
            <div class="p-3">
              <div class="mb-2">
                Image Preview
              </div>
              <div class="mb-2">
                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
              </div>
              <div>
                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                                    translate }}</button>
                <button type="button" class="btn btn-warning " (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                            translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div> -->