<div class="card d-flex justify-content-center" style="height: 600px;">
    <button class="btn tx-12 btn-primary" (click)="ActivateBankLoyalty()" style="width: 100px;margin-left: 50%">
        Activate
    </button>
</div>