<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Customers </a></li>
</ol>

<div class="card  bd-b-0 pd-x-20 pd-b-20 pd-t-10 mt-3">
  <ul class="nav nav-line d-flex" id="myTab5" role="tablist" [routerLinkActive]="['active']">

    <!-- <div class="d-flex flex-wrap "> -->
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" id="Topup-tab5" data-toggle="tab" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.AllCustomers}}" role="tab"
          aria-controls="home" aria-selected="true">All Customers</a>
      </li>
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.TucCustomers}}" role="tab"
          aria-controls="home" aria-selected="true">ThankUCash Customers</a>
      </li>
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.MerchantCustomers}}"
          role="tab" aria-controls="home" aria-selected="true">Merchant Customers</a>
      </li>
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.AppDownloads}}"
          role="tab" aria-controls="home" aria-selected="true">App Customers</a>
      </li>
      <button *ngIf="_HelperService.CustomerAnalytics" data-permission="viewcustomeranalytics" class="btn btn-primary py-1 float-right ml-auto pnvalid"  style="height: 30px;" (click) = "ViewAnalytics()">  View Analytics <i data-feather="arrow-up-right"> </i> </button>
      <button *ngIf="_HelperService.DownloadAnalytics" class="btn btn-primary py-1 float-right ml-auto"  style="height: 30px;" (click) = "ViewDownloadAnalytics()">  View Analytics <i data-feather="arrow-up-right"> </i> </button>

    <!-- </div> -->

  </ul>
</div>

<router-outlet></router-outlet>