<!-- acquirer--merchant--sales -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
            Dashboard</a></li>

    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">Promotions
        </a></li>
</ol>

<div class="card">
    <div class="card-header">
        <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between">
                <span class="tx-semibold mg-t-5">Deal Promotions<span class="text-muted tx-normal">
                        ({{TUTr_Config.TotalRecords}})</span></span>
                <button class="btn tx-12 btn-primary pnvalid" data-permission="dealpromotionadd" (click)="VarifyDealCode()">
                    Create Promotion </button>
                <!-- <button class="btn tx-12 btn-primary" (click)="VarifyDealdetails()"> Varify Deal details </button> -->
            </div>
        </div>
    </div>
    <div class="box-header px-3 pd-t-15 pd-b-7 d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}" (keyup)="TUTr_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                            data-feather="search"></i> </button>
                </div>
            </div>
        </div>

        <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i> </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2" [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]" (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
                    data-feather="plus-circle"></i> </button>

        </div>
        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'" (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'" (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>
                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of TUTr_Config.Sort.SortOptions" (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>
                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm mg-t-20" (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu pd-0 tx-13">
                    <form class="wd-400 ">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
                            Filters
                        </h6>
                        <div class="pd-25" style="overflow: auto; height: 40vh;" *ngIf="ResetFilterControls">
                            <div>
                                <div class="form-group position-relative" id="deal_promtion_date">
                                    <label>Start Date</label>
                                    <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsFn('#deal_promtion_date')" (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)"
                                    />
                                </div>
                            </div>



                            <div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select2 class="wd-100p" [value]="_DataHelperService.statusValue" [data]="TUTr_Config.StatusOptions" (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)" [options]="_DataHelperService.S2_Status_Option"></select2>
                                </div>
                            </div>

                        </div>

                        <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0" style="position: fixed; bottom:0%; margin-top: -2.5em ;">
                            <button type="button" class="btn btn-light btn-sm mr-2" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                Reset</button>
                            <button type="button" class="btn btn-primary btn-sm " (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer" (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i data-feather="refresh-cw"></i> </a>
        </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-8">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5" [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
            {{_HelperService.FilterSnap.StatusName}}
            <span (click)="RemoveFilterComponent('Status')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5" [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" +
                _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span (click)="RemoveFilterComponent('Sort')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5" [hidden]="!_HelperService.FilterSnap.StartTime">
            {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5" *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:TItem.data[0].Name}}
            <span (click)="RemoveFilterComponent('Other',i)" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
            Sales Range [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" + _HelperService.FilterSnap.SalesRange.SalesMax}}]
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
    </div>



    <div class="card-body p-0 table-responsive">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th class="">Banner</th>
                    <th class="wd-250"> Website link / url</th>
                    <th class="td-date">Locations</th>
                    <th class="td-date">Start Date</th>
                    <th class="td-date">End Date</th>
                    <th class="td-date">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="
               let TItem of (TUTr_Config.Data
                 | paginate
                   : {
                       id: 'TUTr_Paginator',
                       itemsPerPage: TUTr_Config.PageRecordLimit,
                       currentPage: TUTr_Config.ActivePage,
                       totalItems: TUTr_Config.TotalRecords
                     })
             ">
                    <td class="d-flex align-items-center">
                        <!-- <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span> -->
                        <img class="br" *ngIf="TItem.StatusCode === 'default.active' || TItem.StatusCode === 'default.inactive'" (error)="_HelperService.defaultImage($event)" src="{{TItem.ImageUrl}}" class="img mx-wd-150 bd bd-2 rounded fa" style="height: 80px;" [style.border-color]="TItem.StatusC">
                        <img class="br" *ngIf="TItem.StatusCode=='default.blocked'" (error)="_HelperService.defaultImage($event)" src="{{TItem.ImageUrl}}" class="img mx-wd-150 bd bd-2 rounded" style="height: 80px;" [style.border-color]="TItem.StatusC">
                    </td>
                    <td class="">
                        <div>

                            <a *ngIf="TItem.Url !=null" (click)="UrlClick(TItem.Url)" target="_blank" style="overflow-wrap: anywhere;" class="wd-200 route-hover cursor-pointer">{{
                                TItem.Url||"--"}}
                            </a>
                            <span class="route-hover cursor-pointer" (click)="RouteDeal(TItem)" style="overflow-wrap: anywhere;">
                                {{ TItem.DealTitle }}
                            </span>

                        </div>
                    </td>


                    <td class="">
                        {{TItem.Locations || "--"}}
                    </td>
                    <td class="">
                        <div class="tx-14">{{TItem.StartDatePart.Date || "--"}}
                        </div>
                        <div class="text-secondary tx-12" *ngIf="TItem && TItem.StartDate">
                            {{TItem.StartDatePart.Time || "--"}}
                        </div>
                    </td>
                    <td class="">
                        <div class="tx-14">{{TItem.EndDatePart.Date || "--"}}
                        </div>
                        <div class="text-secondary tx-12" *ngIf="TItem && TItem.StartDate">
                            {{TItem.EndDatePart.Time || "--"}}
                        </div>
                    </td>

                    <td class="">

                        <!--*ngIf="TItem.StatusCode=='default.active'" -->
                        <div class="text-secondary tx-13 wd-100" *ngIf="isStartStopPromotion && TItem.StatusCode=='default.active' && (TItem.EndDate| date: 'dd-MM-yyyy') > (currentdate1)">
                            <span class="text-danger cursor-pointer" (click)="StopAsPromote(TItem)"><i
                                    class="fas fa-volume-mute"></i>
                                Stop Promotion</span>
                        </div>

                        <div class="text-secondary tx-13 wd-100" *ngIf="isStartStopPromotion && TItem.StatusCode=='default.inactive' && (TItem.EndDate| date: 'dd-MM-yyyy') > (currentdate1)">
                            <span class="text-primary cursor-pointer" (click)="StartAsPromote(TItem)"><i
                                    class="fas fa-bullhorn"></i>
                                Start Promotion</span>
                        </div>
                        <div class="text-secondary tx-13 wd-100" *ngIf="(TItem.EndDate| date: 'dd-MM-yyyy') <= (currentdate1) && isUpdate">
                            <span class="text-primary cursor-pointer" (click)="ManageAsPromote(TItem)"><i
                                    class="fas fa-edit"></i>
                                Edit</span>
                        </div>
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
            {{ 'Common.Showing' | translate }}
            <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{TUTr_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
        </span>
        <span>
            {{ 'Common.Show' | translate }}
            <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
                (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right">
            <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
                (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>
</div>


<div id="Form_Varify_deal_code" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- <form [formGroup]="Form_Promote" (ngSubmit)="Form_Promote_Process(Form_Promote.value)" role="form"> -->
            <div class="modal-header">
                <h5 class="modal-title">Create Deal Promotion</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Enter Promotional Link (Website link / url)</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="Url" [formControl]="Form_Promote.controls['Url']" [ngClass]="{'is-invalid':!Form_Promote.controls['Url'].valid && Form_Promote.controls['Url'].touched}" />
                            </div>
                            <label class="text-danger" for="Url" *ngIf="Form_Promote.controls['Url'].hasError('required') && Form_Promote.controls['Url'].touched">{{
                                'System.AddAcquirer.WebsiteUrl_ER_Required' | translate }}</label>
                            <label class="text-danger" for="Url" *ngIf="Form_Promote.controls['Url'].hasError('pattern') && Form_Promote.controls['Url'].touched">Enter
                                Valid Url</label>
                        </div>
                        <div class="form-group position-relative" id="addpromotion_startdate">
                            <label for="  "> Start Date</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_DealConfig.StartDateConfig" [formControl]="Form_Promote.controls['StartDate']" (selected)="ScheduleStartDateRangeChange($event)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group position-relative" id="addpromotion_enddate">
                            <label for="  "> End Date</label>
                            <div class="controls">


                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_DealConfig.EndDateConfig" [disabled]="_DealConfig.StartDate == null" readonly [formControl]="Form_Promote.controls['EndDate']" (selected)="ScheduleEndDateRangeChange($event)"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="  "> Location</label>
                            <div class="controls">
                                <select2 class="full-width" *ngIf="ShowCategorySelector" [options]="_HelperService.Select2Options_Multiple_Location" [value]="SelectedCategories" [data]="S2BusinessCategories" (valueChanged)="CategoriesSelected($event)">
                                </select2>
                            </div>
                        </div>
                    </div>


                </div>

                <div>

                </div>

                <div class="row mb-3" *ngIf="_DealConfig.DealImages.length <= 1">

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Upload Banner Image<span class="text-danger">*</span></label>


                            <input-file fileAccept="image/*" sizeLimit="400" fileLimit="1" [formControl]="Form_Promote.controls['ImageContent']" (deletedFile)="removeImage($event)" (acceptedFile)="onImageAccept1($event)">
                            </input-file>
                        </div>
                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary" (click)="Form_Promote_Process()"> Save</button> -->

                <button type="button" class="btn btn-primary mr-2" (click)="Form_Promote_Process()" [disabled]=" _HelperService.IsFormProcessing ">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        Save
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                        translate
                        }}...
                    </span>
                </button>
            </div>


        </div>
    </div>
</div>


<div id="Form_Deal_Code_Details" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 700px;">
            <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Deal Code Details</h5>
                </div>
                <div class="modal-body  p-lg">



                    <span *ngIf="_SubAccountDetails.StatusCode=='dealcode.unused'" style="margin-left: 377px; background: 0% 0% no-repeat padding-box;
          border-radius: 15px;" class="badge justify-content-center tx-dark tx-12    {{SelectStatusunused?  'bg-success text-white' :'bg-gray-300' }} ">
                        {{_SubAccountDetails.StatusName}}
                    </span>
                    <span *ngIf="_SubAccountDetails.StatusCode=='dealcode.used'" style="margin-left: 377px; background: 0% 0% no-repeat padding-box;
          border-radius: 15px;" class="badge justify-content-center tx-dark tx-12   {{SelectStatusredeem?  'bg-warning text-white' :'bg-gray-300' }} ">
                        {{_SubAccountDetails.StatusName}}
                    </span>
                    <span *ngIf="_SubAccountDetails.StatusCode=='dealcode.expired'" style="margin-left: 377px; background: 0% 0% no-repeat padding-box;
          border-radius: 15px;" class="badge justify-content-center tx-dark tx-12   {{SelectStatusExpired?  'bg-danger text-white' :'bg-gray-300' }} ">
                        {{_SubAccountDetails.StatusName}}
                    </span>
                    <div class="wd-140 wd-md-150 ht-140 ht-md-50  tx-muted tx-16 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <p class="text-center fs-4 py-3 mb-0 redeem-code">{{_SubAccountDetails.ItemCode}}</p>
                    </div>


                    <div *ngIf="_SubAccountDetails.StatusCode=='dealcode.used'" class="wd-140 wd-md-350 ht-140 ht-md-50  tx-muted tx-16 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <span class="mg-t-10 text-align-center tx-12">This deal code of <span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"> </span> {{_SubAccountDetails.Amount}} is not redeemed yet </span>
                    </div>

                    <div *ngIf="_SubAccountDetails.StatusCode=='dealcode.unused'" class="wd-140 wd-md-350 ht-140 ht-md-50  tx-muted tx-16 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <span class="mg-t-10 text-align-center tx-12">This deal code of <span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"> </span> {{_SubAccountDetails.Amount}} is not used yet </span>
                    </div>

                    <div *ngIf="_SubAccountDetails.StatusCode=='dealcode.expired'" class="wd-140 wd-md-350 ht-140 ht-md-50  tx-muted tx-16 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <span class="mg-t-10 text-align-center tx-12">This deal code of <span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"> </span> {{_SubAccountDetails.Amount}} is Expired on {{_HelperService.GetDateS(_SubAccountDetails.ExpiaryDate)}} </span>
                    </div>


                    <div class="row" style="padding: 17px;" *ngIf="_SubAccountDetails.StatusCode=='dealcode.used'">

                        <div class=col-md-4 style="border-right: 1px solid #C0CCDA;">
                            <div class="row">
                                <div class=col-md-3>
                                    <img src="{{_SubAccountDetails.Deal.ImageUrl}}" style="height: 38px; width: 42px;" alt="" class="img rounded m-auto">
                                </div>
                                <div class=col-md-9>
                                    <span class="text-secondary tx-10">REDEEMED AT</span><br>
                                    <span class="tx-12">{{_SubAccountDetails.RedeemLocationName || "Not
                                        Available"}}</span>

                                </div>
                            </div>
                        </div>


                        <div class=col-md-4 style="border-right: 1px solid #C0CCDA;">
                            <div class="row">
                                <div class=col-md-3>
                                    <div class="deal-details"><i class="fa fa-calendar-o dealfeather" aria-hidden="true"></i></div>
                                </div>
                                <div class=col-md-9>
                                    <div> <span class="text-secondary tx-10">REDEEMED ON</span></div>
                                    <div> <span class="tx-12 mg-l-1">{{_HelperService.GetDateS(_SubAccountDetails.RedeemDate)+"
                                            |
                                            "+_HelperService.GetTimeS(_SubAccountDetails.RedeemDate)}}</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class=col-md-4>
                            <div class="row">
                                <div class=col-md-3>
                                    <div class="deal-details"><i class="fa fa-user-o dealfeather" aria-hidden="true"></i></div>
                                </div>
                                <div class=col-md-9>
                                    <span class="text-secondary tx-10">CASHIER</span><br>
                                    <span class="tx-12">{{_SubAccountDetails.CashierName||"--"}} |
                                        {{_SubAccountDetails.CashierCode||"--"}}</span>

                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row " style="padding: 17px;" *ngIf="_SubAccountDetails.StatusCode=='dealcode.unused'">
                        <div class=col-md-3></div>
                        <div class=col-md-6>
                            <div class="row">
                                <div class=col-md-2>
                                    <img src="{{_SubAccountDetails.Merchant.IconUrl}}" style="height: 40px;width: 40px;" alt="" class="img rounded m-auto">
                                </div>
                                <div class=col-md-10>
                                    <div class=""> <span class="text-secondary tx-12">Merchant Name</span><br>
                                        <span class="tx-12">{{_SubAccountDetails.Merchant.DisplayName}}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class=col-md-3></div>


                    </div>



                    <div class="row " style="padding: 17px;" *ngIf="_SubAccountDetails.StatusCode=='dealcode.expired'">

                        <div class=col-md-4></div>
                        <div class=col-md-6>
                            <div class="row">
                                <div class=col-md-2>
                                    <img src="{{_SubAccountDetails.Merchant.IconUrl}}" style="height: 40px;width: 40px;" alt="" class="img rounded m-auto">
                                </div>
                                <div class=col-md-10>
                                    <div class=""> <span class="text-secondary tx-12">Merchant Name</span><br>
                                        <span class="tx-12">{{_SubAccountDetails.Merchant.DisplayName}}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class=col-md-3></div>


                    </div>

                    <div class="row  mg-t-10" style="padding: 17px;">

                        <div class=col-md-6>

                            <div style="border: 1px solid #C0CCDA; border-radius: 7px; padding: 10px;height: 190px;">
                                <div style=" padding: 10px;">
                                    <div class="row">
                                        <span class="tx-10 mg-l-10">DEAL DETAILS</span>
                                    </div>
                                    <div class="row mg-t-10">
                                        <div class="row">
                                            <div class=col-md-3>
                                                <div class="mg-l-10"><img src="{{_SubAccountDetails.Deal.ImageUrl}}" style="height: 30px;border: 1px solid #C0CCDA;" alt="" class="img rounded m-auto"></div>
                                            </div>

                                            <div class=col-md-9>
                                                <div><span class="tx-12 text-uppercase " style="color:#1B2E4B">
                                                        {{_SubAccountDetails.Deal.Title}} </span></div> <br>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mg-t-10 mg-l-5">
                                        <div class="row">
                                            <div><i class="iconclass" data-feather="calendar"></i><span class="tx-12 mg-l-10">Started on-
                                                    {{_HelperService.GetDateS(_SubAccountDetails.PurchaseDate)}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div><i class="iconclass" data-feather="calendar"></i><span class="tx-12 mg-l-10">Ended on-
                                                    {{_HelperService.GetDateS(_SubAccountDetails.ExpiaryDate)}}</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class=col-md-6>
                            <div style="border: 1px solid #C0CCDA; border-radius: 7px; padding: 10px;height: 190px;">
                                <div style="padding: 10px;">
                                    <div class="row">
                                        <span class="tx-10 mg-l-10">CUSTOMER DETAILS</span>
                                    </div>
                                    <div class="row mg-t-10">
                                        <div class=col-md-2>
                                            <img class="img wd-40 ht-40 rounded-circle bd bd-2" src="{{_SubAccountDetails.Customer.IconUrl}}" style="height: 37px;border-color: #10B759;" alt="">
                                        </div>
                                        <div class=col-md-10>
                                            <div><span class="text-secondary tx-12 ">{{_SubAccountDetails.Customer.Name}}</span>
                                            </div><br>


                                        </div>
                                    </div>

                                    <div class="mg-t-20 ">
                                        <div class="row mg-l-10">
                                            <div><i class="iconclass" data-feather="phone"></i><span class="tx-12 mg-l-5">+
                                                    {{_SubAccountDetails.Customer.MobileNumber}}</span></div>
                                        </div>

                                        <div class="row mg-l-10">
                                            <div><i class="iconclass" data-feather="mail"></i><span class="tx-12 mg-l-5">{{_SubAccountDetails.Customer.CustomerEmailAddress||"
                                                    --"}}</span></div>
                                        </div>



                                        <!-- <div class="row">  <div><i style="width:15px" data-feather="mail"></i><span class="tx-10 mg-l-10">{{__SubAccountDetails.Customer.email}}</span></div> </div> -->

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="wd-140  wd-md-350 ht-140 ht-md-50 tx-uppercase tx-muted tx-16 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <span class="mg-t-50 text-align-center tx-12 text-danger">Expiry date of code -
                            {{_HelperService.GetDateS(_SubAccountDetails.ExpiaryDate)}} </span>
                    </div>

                </div>
                <div class="modal-footer mg-t-10  ">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_EditUser_Close()">
                        Close
                    </button>





                </div>
            </form>
        </div>
    </div>
</div>





<div class="modal fade" id="ManagePromoteDeal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="height: 800px;">
            <div class="modal-header">
                <h5 class="modal-title">Manage Promotion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Form_ManagePromote_Close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12" *ngIf="Selectedurl!=undefined">
                        <div class="form-group">
                            <label>URL<span class="text-danger">*</span></label>
                            <div class="controls">
                                <input type="text" class="form-control " name="Url" [(ngModel)]="Selectedurl" [formControl]="Form_ManagePromote.controls['Url']" />
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12" *ngIf="DealTitle!=undefined">
                        <div class="form-group">
                            <label>Deal Title<span class="text-danger">*</span></label>
                            <div class="controls">
                                <input type="text" class="form-control " name="DealTitle" [(ngModel)]="DealTitle" [formControl]="Form_ManagePromote.controls['DealTitle']" />
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="  "> Start Date</label>
                            <input type="text" class="form-control " name="daterangeInput" [(ngModel)]="currentdate" readonly [formControl]="Form_ManagePromote.controls['StartDate']" />
                            <!-- <input type="text" class="form-control " name="daterangeInput"
                  daterangepicker [options]="_DealConfig.StartDateConfig" readonly
                  [formControl]="Form_ManagePromote.controls['StartDate']"
                  (selected)="ManageStartDateRangeChange($event)" /> -->
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="  "> End Date</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_DealConfig.EndDateConfig" [disabled]="_DealConfig.StartDate == null" readonly [formControl]="Form_ManagePromote.controls['EndDate']" (selected)="ManageEndDateRangeChange($event)"
                                />
                            </div>
                        </div>
                    </div>
                    <!-- Start select Location -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="  "> Location</label>
                            <div class="controls">
                                <select2 class="full-width" [options]="_HelperService.Select2Options_Multiple_Location" [value]="SelectedCategories" [data]="S2BusinessCategories" (valueChanged)="CategoriesSelected($event)">
                                </select2>
                                <div class="col-lg-12 Hm-media768">
                                    <div class="d-inline justify-content-between" *ngFor="let catagory of selectedCategoriesArray; let i = index">
                                        <button class="d-flex align-items-center" type="button" class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-0 pd-r-10 pd-l-12 pd-y-5 text-warn text-sm float-left mg-t-10">{{catagory}}
                                            <a class="mg-l-5" (click)="removeCategory(i)"> <span><i
                                                        class="fas fa-times"></i> </span> </a>
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <label class="text-danger" for="CategoriesSelected" *ngIf="selectCategoryError">

                            {{
                            "Select Category" | translate
                            }}</label>
                    </div>

                    <!-- End select Location -->
                </div>

                <div class="row">

                    <div class="col-md-6 col-sm-12" *ngIf="_DealConfig.DealImages.length <= 1">
                        <div>


                            <input-file fileAccept="image/*" sizeLimit="400" fileLimit="1" placeholder="Upload Banner Image" [formControl]="Form_Promote.controls['ImageContent']" (deletedFile)="removeImage($event)" (acceptedFile)="onImageAccept1($event)">
                            </input-file>
                        </div>
                    </div>

                    <!-- <div class="col-md-6 col-sm-12" style="margin-top: 111px;margin-left: -70px;" -->
                    <div class="col-md-6 col-sm-12" style="margin-top: 20px" *ngIf="_DealConfig.DealImages.length <= 1">
                        <div class="card card-file" style="border: none;">
                            <img [src]="Selectedimage" class="img-fluid">
                            <div class="card-body p-2">

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_ManagePromote_Close()">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="selectCategoryError" (click)="Form_ManagePromote_Process()"> Save</button>
            </div>

        </div>
    </div>
</div>



<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3" *ngIf="_ImageManager.ActiveImage != undefined && _ImageManager.ActiveImage != null">
                            <image-cropper [imageFileChanged]="_ImageManager.ActiveImage.file" [aspectRatio]="2 / 1" [format]="_HelperService.AppConfig.Icon_Cropper_Options.Format" [maintainAspectRatio]="_ImageManager.Option.MaintainAspectRatio" [cropperMinWidth]="_ImageManager.Option.MinimumWidth"
                                [cropperMinHeight]="_ImageManager.Option.MinimumHeight" [resizeToWidth]="_ImageManager.Option.ResizeToWidth" (imageCroppedBase64)="Icon_B64Cropped($event)" (imageLoaded)="_HelperService.Icon_Crop_Loaded()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " (click)="Icon_B64CroppedDone()" data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button> &nbsp;
                                <button type="button" class="btn btn-warning " (click)="Icon_Crop_Clear()">{{
                                    'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>