<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
            Create New Campaign</a></li>
</ol>
<form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            Create New SMS Campaign


            <div>
                <button type="button" class="btn btn-secondary mr-2" (click)="ReturnCampaignList()">
                    <span>
                        Close
                    </span>
                    <!-- <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                translate
                }}...
            </span> -->
                </button>

                <button *ngIf="_Configuration.StatusCode == 'draft' " type="submit" class="btn btn-primary"
                    (click)="Form_EditUser.value.OperationType='new'" [disabled]="!Form_EditUser.valid">
                    <span>
                        Edit Campaign
                    </span>
                    <!-- <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                translate
                }}...
            </span> -->
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card-body">

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="S2GetCategorie2s" class="text-secondary"> Merchant </label><span
                                    class="text-danger"> *
                                </span>

                                <input type="text" min="1" name="Title" maxlength="25"
                                    class="form-control text-secondary" disabled placeholder="Merchant Name"
                                    [(ngModel)]="_Configuration.AccountDisplayName"
                                    [ngModelOptions]="{standalone: true}">
                                <!-- <select2 name="S2GetCategorie2s" class="full-width" [options]="GetOwners_Option"
                                    (valueChanged)="GetOwners_ListChange($event)"></select2> -->
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="d-flex">
                                    <div>
                                        <label>Campaign Title
                                        </label><span class="text-danger"> * </span>
                                    </div>

                                </div>

                                <div class="controls">
                                    <input type="text" min="1" name="Title" maxlength="25" class="form-control"
                                        [formControl]="Form_EditUser.controls['Title']" placeholder="Campaign Title"
                                        [(ngModel)]="_Configuration.Title"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['Title'].valid && Form_EditUser.controls['Title'].touched}">
                                </div>
                                <label class="text-danger" for="Title"
                                    *ngIf="Form_EditUser.controls['Title'].hasError('required') && Form_EditUser.controls['Title'].touched">
                                    Title Required</label>
                                <label class="text-danger" for="Title"
                                    *ngIf="Form_EditUser.controls['Title'].hasError('min')"> Title must be between 2 -
                                    25
                                    characters</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" *ngIf="SenderName">
                                <label for="S2Get2Categories"> Sender </label><span class="text-danger"> *
                                </span>
                                <select2 name="S2GetCategorie2s" class="full-width" [options]="GetMerchants_Option"
                                    (valueChanged)="GetMerchants_ListChange($event)"></select2>
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>SMS Content <span class="text-danger"> * </span>
                                </label>
                                <div class="controls">
                                    <textarea type="text" rows="4" name="Message" maxlength="750" placeholder="Message"
                                        class="form-control" [formControl]="Form_EditUser.controls['Message']"
                                        [(ngModel)]="_Configuration.Message" (keyup)="countmessagesize()"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['Message'].valid && Form_EditUser.controls['Message'].touched}"> </textarea>
                                </div>
                                <label class="text-danger" for="Message"
                                    *ngIf="Form_EditUser.controls['Message'].hasError('required') && Form_EditUser.controls['Message'].touched">{{
                                    'System.AddAcquirer.Message_ER_Required' | translate }}</label>
                                <label class="text-danger" for="Message"
                                    *ngIf="Form_EditUser.controls['Message'].hasError('minlength') || Form_EditUser.controls['Message'].hasError('maxlength')">{{
                                    'System.AddAcquirer.Message_ER_Length' | translate }}</label>

                                    <label class="text-secondary mg-t-10" for="Message" *ngIf="SmsCount == 1">
                                        {{MessageLength || "140"}} characters, i.e {{SmsCount}} SMS (Remember! This will be
                                        cost for {{SmsCount}} SMS pages)
                                    </label>
                                    <label class="text-warning mg-t-10" for="Message" *ngIf="SmsCount > 1">{{MessageLength
                                        || "0"}} characters, i.e {{SmsCount}} SMS (Remember! This will be cost for
                                        {{SmsCount}} SMS pages) </label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="" class="tx-medium"> Configure Target Recipients </label>
                            <div class="form-group ">
                                <label for="" class="text-secondary" *ngIf="GroupTypeCustomer == 'group'"> You can
                                    select targets by groups or individually.
                                </label>
                                <label for="" class="text-secondary" *ngIf="GroupTypeCustomer != 'group'"> You can
                                    select targets by groups, individually, from TUC customer base or you can upload
                                    external file
                                </label>

                                <div class="row mg-t-15">
                                    <div class="col-md-4">
                                        <div class="card  text-center ht-100p full-width rounded-10 tx-12 align-items-center pd-y-20  cursor-pointer"
                                            [ngClass]="{'bg-card  text-primary bd-primary':GroupTypeCustomer == 'group', 'bg-white  text-secondary bd-secondary': GroupTypeCustomer != 'group' }"
                                            style=" border-radius: 5px !important;" id="group"
                                            (click)="ShowHideButton('group')" name='group'>
                                            <div> <i class="fas fa-users tx-18"></i></div>
                                            <div class="mg-t-5">Select Customer Groups</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card text-center ht-100p   full-width rounded-10 tx-12 align-items-center pd-y-20 cursor-pointer"
                                            [ngClass]="{'bg-card  text-primary bd-primary':GroupTypeCustomer == 'custom', 'bg-white  text-secondary bd-secondary':GroupTypeCustomer != 'custom' }"
                                            style=" border-radius: 5px !important;" id="list"
                                            (click)="ShowHideButton('custom')" name='list'>
                                            <div> <i class="fas fa-list tx-18"></i></div>
                                            <div class="mg-t-5"> Select from Customer list </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-3">
                                        <div class="card text-center ht-100p  full-width rounded-10 tx-12 align-items-center pd-y-20 cursor-pointer"
                                            [ngClass]="{'bg-card  text-primary bd-primary':GroupTypeCustomer == 'custbase', 'bg-white  text-secondary bd-secondary':GroupTypeCustomer != 'custbase' }"
                                            style=" border-radius: 5px !important;" id="custbase"
                                            (click)="ShowHideButton('custbase')" name='custbase'>
                                            <div> <i class="fas fa-users tx-18"></i></div>
                                            <div class="mg-t-5"> TUC Customer base </div>
                                        </div>
                                    </div> -->
                                    <div class="col-md-4">
                                        <div class="card text-center ht-100p full-width rounded-10 tx-12 align-items-center pd-y-20 cursor-pointer"
                                            [ngClass]="{'bg-card  text-primary bd-primary':GroupTypeCustomer == 'external', 'bg-white  text-secondary bd-secondary':GroupTypeCustomer != 'external' }"
                                            style=" border-radius: 5px !important;" id="external"
                                            (click)="ShowHideButton('external')" name='external'>
                                            <div><i class="fas fa-file-csv tx-18"></i></div>
                                            <div class="mg-t-5"> Upload CSV File </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-12" *ngIf="GroupTypeCustomer == 'group'">
                            <!-- <div class="col-md-12 mg-t-15">

                                <div class="form-group">

                                    <div class="form-group">
                                        <div> <label>Select Group Type<span class="text-danger">*</span>
                                            </label>
                                        </div>
                                        <div class="radio float-left mg-r-25">
                                            <label class="ui-check"><input type="radio" [(ngModel)]="group"
                                                    [ngModelOptions]="{standalone: true}" class="mg-r-5" name="Group"
                                                    (click)="SelectGroupType('group')" [value]=0>
                                                <i class="dark-white"></i>
                                                Your Groups</label>
                                        </div>
                                        <div class="radio  float-left mg-r-25"><label class="ui-check"><input class="mg-r-5"
                                                type="radio" name="Group" [(ngModel)]="group"
                                                (click)="SelectGroupType('tuc')" [ngModelOptions]="{standalone: true}"
                                                [value]=1>
                                            <i class="dark-white"></i>
                                            Suggested Groups</label></div>
                                        <div class="radio float-left mg-r-25"><label class="ui-checkg-r-10"><input
                                                    class="mg-r-5" type="radio" [(ngModel)]="group"
                                                    (click)="SelectGroupType('external')"
                                                    [ngModelOptions]="{standalone: true}" name="Group" [value]=2>
                                                <i class="dark-white"></i>
                                                Upload New</label>
                                        </div>

                                    </div>

                                </div>

                            </div> -->

                            <div class="col-md-12" class="pd-y-15"> These are your customized customer groups created
                                from your customer directory </div>
                            <div class="col-md-6 pl-0">
                                <div class="form-group">
                                    <label for="CustomerGroup"> Select Customer Group </label><span class="text-danger">
                                        *
                                    </span>
                                    <select2  name="S2GetMerchants" class="full-width"
                                        [options]="GetGroups_Option" (valueChanged)="GetGroups_ListChange($event)">
                                    </select2>


                                    <div class="mg-t-5">
                                        {{AllCustomers}} customers available
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6"></div>



                        </div>
                        <div class="col-md-12" *ngIf="GroupTypeCustomer == 'custom'">
                            <!-- <div class="col-md-12" class="pd-y-15"> Customers available-
                                {{Customers_Config.TotalRecords}}
                            </div> -->

                            <div class="row">
                                <div class="col-md-6" (click)="CustomType('List')">
                                    <div class="form-group">
                                        <label *ngIf="CustomTypeData != 'Filter'" for="CustomerGroup"> Search & Select
                                            Customers <span class="text-danger">*</span> </label>
                                        <label class="text-secondary" *ngIf="CustomTypeData == 'Filter'"
                                            for="CustomerGroup"> Search & Select Customers <span
                                                class="text-danger">*</span> </label>

                                        <select2 *ngIf="SelectType" name="S2GetMerchants"
                                            class="full-width select2" [options]="GetCustomers_Option"
                                            (valueChanged)="GetCustomer_ListChange($event)"></select2>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- <div class="col-md-12 mg-t-15" *ngIf="GroupTypeCustomer == 'custbase'">
                            <div class="col-md-6 pl-0">
                                <div>

                                    <div class="form-group">
                                        <label for="CustomerGroup"> Select Customers </label><span class="text-danger">
                                            *
                                        </span>
                                        <select2 name="S2GetMerchants" class="full-width"
                                            [options]="GetCustomers_Option"
                                            (valueChanged)="GetCustomer_ListChange($event)"></select2>


                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6"></div>

                        </div> -->
                        <div class="col-md-12" *ngIf="GroupTypeCustomer == 'external'">
                            <div class="full-width">

                                <div class="container d-flex justify-content-start pl-0  full-width mb-0 pd-b-10">
                                    <div class="d-flex flex-column align-items-center justify-content-start full-width">
                                        <input type="file" id="myFile" size="50" (change)="addfile($event)"
                                            multiple="false" class="cursor-pointer btn  CdragDrop full-width"
                                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                            style="padding:35px !important;" />
                                    </div>
                                </div>
                                <div class=""> <a class="text-primary 12"
                                        href="../../../../assets/uploads/UploadCustomer.xlsx" target="_blank"> <img
                                            class="mg-r-5" height="18" width="18" src="../../../../assets/download.svg"
                                            alt="" srcset=""> Download
                                        Sample File </a> </div>
                            </div>
                        </div>




                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="d-flex">
                                    <div>
                                        <label>How many SMS do you want to send?
                                        </label><span class="text-danger"> * </span>
                                    </div>

                                </div>

                                <div class="controls">
                                    <input type="text" min="1" name="TotalItem" maxlength="25" class="form-control"
                                        [formControl]="Form_EditUser.controls['TotalItem']" placeholder="Number Of SMS"
                                        [(ngModel)]="_Configuration.TotalItem"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['TotalItem'].valid && Form_EditUser.controls['TotalItem'].touched}">
                                </div>
                                <!-- <label class="text-danger" for="TotalItem"
                                    *ngIf="Form_EditUser.controls['TotalItem'].hasError('required') && Form_EditUser.controls['TotalItem'].touched">
                                    TotalItem Required</label>
                                <label class="text-danger" for="TotalItem"
                                    *ngIf="Form_EditUser.controls['TotalItem'].hasError('min')"> ma </label> -->
                            </div>
                        </div>
                        <div class="col-md-6"></div>

                    </div>

                    <div class="row bd-t mg-t-25">
                        <div class="col-md-12 pd-t-40">

                            <div class="form-group">

                                <div class="form-group">
                                    <div> <label>Schedule Campaign<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="radio float-left mg-r-25">
                                        <label class="ui-check"><input type="radio" [(ngModel)]="ScheduleC"
                                                class="mg-r-5" name="CouponValidity"
                                                [ngModelOptions]="{standalone: true}" [value]=9>
                                            <i class="dark-white"></i>
                                            Start sending at</label>
                                    </div>
                                    <!-- <div class="radio  float-left mg-r-25"><label class="ui-check"><input class="mg-r-5"
                                                type="radio" [(ngModel)]="ScheduleC" name="ScheduleC" [value]=10
                                                [ngModelOptions]="{standalone: true}">
                                            <i class="dark-white"></i>
                                            Send Now</label></div> -->


                                </div>

                            </div>



                        </div>
                        <div class="col-md-6 mg-t-15" *ngIf="ScheduleC == 9">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="  "> Start Date <span class="text-danger">*</span> </label>
                                    <div class="controls">
                                        <input type="text" class="form-control " name="daterangeInput" daterangepicker
                                            readonly [options]="_HelperService.AppConfig.DateFuterPickerOptionsTime"
                                            [formControl]="Form_EditUser.controls['SendDate']"
                                            [(ngModel)]="_Configuration.SendDateFormate"
                                            (selected)="ScheduleStartDateRangeChange($event)" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- <div class="row bd-t mg-t-25">
                        <div class="col-md-6">
                            <label for=""> Advanced Settings <span class="text-danger"> * </span></label>
                            <div class="form-group">

                                <div class="d-flex">
                                    <div>
                                        <label class="text-secondary">Add short Link
                                        </label>
                                    </div>
                                </div>

                                <div class="controls">
                                    <input type="number" min="1" name="ActualPrice" maxlength="25" class="form-control"
                                        [formControl]="Form_EditUser.controls['ActualPrice']"
                                        (keyup)="CheckValue('ActualPrice')"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['ActualPrice'].valid && Form_EditUser.controls['ActualPrice'].touched}">
                                </div>
                                <label class="text-danger" for="ActualPrice"
                                    *ngIf="Form_EditUser.controls['ActualPrice'].hasError('required') && Form_EditUser.controls['ActualPrice'].touched">
                                    Deal Value Required</label>
                                <label class="text-danger" for="ActualPrice"
                                    *ngIf="Form_EditUser.controls['ActualPrice'].hasError('min')">Deal Value Should Not
                                    Be
                                    0</label>
                            </div>
                        </div>
                    </div> -->


                </div>

            </div>
            <div class="col-md-4">
                <div class="card-body ht-100p">
                    <div class=" bg-ui-01 pd-15">

                        <label class="tx-medium" for=""> SMS Preview </label>

                        <div class="mg-t-15"> {{Form_EditUser.controls['Title'].value}} </div>

                        <div class="bd bg-white pd-15 mg-t-15">
                            {{Form_EditUser.controls['Message'].value}}
                        </div>

                        <div class="mg-t-15 d-flex justify-content-between">
                            <div class="text-secondary"> Send On : </div>

                            <div class="">
                                {{_HelperService.GetDateTimeS(_Configuration.SendDate)}}
                            </div>

                        </div>

                        <div class="mg-t-15 d-flex justify-content-between">
                            <div class="text-secondary"> Send To : </div>

                            <div class="">
                                <div class="mg-b-5 text-secondary"> My Custom Groups </div>
                                <!-- <div class="" *ngFor="let conditions of GroupsList">
                                    <button type="button" disabled
                                        class="btn btn-xs b-a r-2x bd bd-gray-500  rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left Word-break">{{conditions.Title}}</button>
                                </div> -->


                                <div class="d-flex  mt-3" *ngIf="GroupsList && GroupsList.length>0">
                                    <div class="profile-skillset flex-fill">
                                        <button disabled class="btn btn-xs b-a r-2x bd bd-gray-500  rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left Word-break">{{GroupsList[0].Title || "--"}}</button>
                                      
                                    </div>
                                </div>
    
                                <label *ngIf="GroupsList && GroupsList.length>0"
                                    class="text-primary cursor-pointer" (click)="ShowAllLocations()">+
                                    {{GroupsList.length-1}} More
                                    Groups</label>

                            </div>


                        </div>

                        <div class="mg-t-45">
                            <hr class="pd-t-15">
                            <label class="tx-medium" for=""> Credit Summary </label>
                            <div class="mg-t-15 d-flex justify-content-between">
                                <div class="text-secondary"> Standard rate : </div>
                                <div class="">
                                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 4 / SMS
                                    page
                                </div>
                            </div>

                            <div class="mg-t-15 d-flex justify-content-between">
                                <div class="text-secondary"> SMS Pages required :</div>
                                <div class="">
                                    {{SmsCount}}
                                </div>

                            </div>

                            <div class="mg-t-15 d-flex justify-content-between">
                                <div class="text-secondary"> Customer selected :</div>

                                <div class="">
                                    {{ SmsCount * Form_EditUser.controls['TotalItem'].value}}
                                </div>

                              


                            </div>




                            <div class="mg-t-15 d-flex justify-content-between">
                                <div class="text-secondary">
                                    <div> SMS paid to be : </div>
                                    <div>(Customers x pages)</div>
                                </div>
                                <div class=""
                                    *ngIf="Form_EditUser.controls['TotalItem'].value == 0  ||  Form_EditUser.controls['TotalItem'].value == null   ||  Form_EditUser.controls['TotalItem'].value == undefined">
                                    <!-- {{SmsCount || "0" }} -->
                                    0
                                </div>

                                <div class=""
                                    *ngIf=" Form_EditUser.controls['TotalItem'].value != 0  &&  Form_EditUser.controls['TotalItem'].value != null   &&  Form_EditUser.controls['TotalItem'].value != undefined ">
                                    {{(SmsCount * Form_EditUser.controls['TotalItem'].value) || "0" }}
                                </div>

                            </div>

                            <div class="mg-t-15 d-flex justify-content-between">
                                <div class="text-secondary"> Credits Required :</div>

                                <div class=""
                                    *ngIf="Form_EditUser.controls['TotalItem'].value == 0  ||  Form_EditUser.controls['TotalItem'].value == null   ||  Form_EditUser.controls['TotalItem'].value == undefined">
                                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                    <!-- {{SmsPricing || "0"}} -->
                                    0
                                </div>

                                <div class=""
                                    *ngIf=" Form_EditUser.controls['TotalItem'].value != 0  &&  Form_EditUser.controls['TotalItem'].value != null   &&  Form_EditUser.controls['TotalItem'].value != undefined ">
                                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                    {{(SmsCount * Form_EditUser.controls['TotalItem'].value) * 4 }}
                                </div>

                            </div>
                           
                        </div>

                    </div>

                </div>

            </div>


        </div>
        <div class="card-footer d-flex justify-content-end">

            <button type="button" class="btn btn-secondary mr-2 float-right" data-dismiss="modal" (click)="ReturnCampaignList()">{{
                'Common.Close'
                | translate }}</button>
            <div class="float-right">

                <button *ngIf="_Configuration.StatusCode == 'draft' " type="submit" class="btn btn-primary"
                    (click)="Form_EditUser.value.OperationType='new'" [disabled]="!Form_EditUser.valid">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        Edit Campaign
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                        translate
                        }}...
                    </span>
                </button>

            </div>
        </div>
    </div>
</form>
<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="2/1"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.DealIcon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.DealIcon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.DealIcon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.DealIcon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" height="200" width="200"
                                    class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deal Already Exists</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pd-y-30">
                <div class="tx-14"> Deal With same Title already exists, you can reschedule same deal </div>
                <div class="mg-t-5 tx-14"> Do you want to edit same deal ? </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- <button class="btn btn-primary" (click)='printform()'>Print Form Now</button> -->


<div class="modal fade" id="AllGroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">All Groups</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pd-20  mg-t-0" style="overflow-y: auto !important;">
                 <div class="" *ngFor="let conditions of GroupsList">
                                    <button type="button" disabled
                                        class="btn btn-xs b-a r-2x bd bd-gray-500  rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left Word-break">{{conditions.Title}}</button>
                                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>