<!-- <div class="card"> -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">

  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Analytics
    </a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">Today's
      Overview
    </a></li>
</ol>

<div class="row  row-xs mg-b-20 mg-lg-b-12 d-flex  justify-content-between align-items-center">
  <div class="">

    <!-- <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style1 mg-b-14">
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav> -->

    <h4 class="mg-b-0 tx-spacing--1"> Todays Overview - <span> {{TodayDate  | date }} </span></h4>

  </div>

  <!-- <div>
    <button class="btn btn-primary" (click)="MerchantList()"> Track Wallets <i data-feather="chevron-right"></i>
    </button>
  </div> -->

</div>
<div class="row row-xs mg-y-10">
  <div class="col-sm-6 col-lg-3 ">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Rewards Distributed</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
          <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
          {{LoyalityOverview.RewardAmount || "0" | number: "1.2-2"}}
        </h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-secondary mg-b-0"> Total Rewards Distributed</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Redeemed amount</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
          <span class=" text-sm mg-r-2"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{LoyalityOverview.RedeemAmount || "0" | number: "1.2-2"}}
        </h3>

      </div>
      <p class="tx-12 text-secondary mg-b-0"> Total Rewards Distributed</p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Transactions</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          {{LoyalityOverview.Transaction  ||"0"}}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Total transactions done by all merchants</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active Merchants</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          {{SalesOverview.ActiveMerchants ||"0"}}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Total Active Merchants</p>
    </div>
  </div><!-- col -->
</div>
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-2">
  <div class="d-flex justify-content-between ">
    <div class="form-group  mb-0 pb-0 wd-200">
      <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
        [options]="_HelperService.AppConfig.DateRangeOptionsCustom"
        (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    </div>



  </div>

</div> -->

<div class="row row-xs mg-b-10">
  <!-- <div class="col-lg-7 col-xl-7 col-sm-12 col-md-12">
    <div class="card">
      <div
        class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
        <div>
          <h6 class="mg-b-5 tx-14">Today’s Customers Hourly Visits</h6>
        </div>

      </div>

      <div class="card-body pd-x-25 pd-t-0">
        <div class="row pd-b-15">
          <div class="col-sm-6">
            <h3 *ngIf='_Visits.HeigestSales' class="tx-normal tx-rubik tx-spacing--2 mg-b-5">
              {{_Visits.HeigestSales.HourAmPm}} -
              {{_Visits.HeigestSales.HourAmPmNext}}
            </h3>
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-5 text-success">Heavy Traffic
              hour</h6>
            <p class="mg-b-0 tx-12 tx-color-03">Rush hour of the day, <b class="tx-dark">
                {{_Visits.HeigestSales.TotalCustomer||'0'}} </b> customer visited
            </p>
          </div>
          <div class="col-sm-6 mg-t-20 mg-sm-t-0">
            <h3 *ngIf='_Visits.LowestSales' class="tx-normal tx-rubik tx-spacing--2 mg-b-5">
              {{_Visits.LowestSales.HourAmPm}} -
              {{_Visits.LowestSales.HourAmPmNext}}
            </h3>
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-5 text-danger">Low Traffic Hour
            </h6>
            <p class="mg-b-0 tx-12 tx-color-03">Minimum rush time of the day, <b
                class="tx-dark">{{_Visits.LowestSales.TotalCustomer||'0'}} </b>customers visited</p>
          </div>
        </div>
        <div class="row align-items-sm-end">
          <div class="col-lg-12 col-xl-12 ht-100p">
            <canvas *ngIf="showVisitsChart" class="chart-six" baseChart #DataPlot="base-chart"
              [datasets]="VisitslineChartData" [labels]="VisitslineChartLabels"
              [options]="_HelperService.ChartConfig.BarChart.Options" [colors]="lineChartColors"
              [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.BarChart.Type">
            </canvas>
          </div>

        </div>
      </div>
    </div>
   
  </div> -->
  <!-- <div class="col-lg-5 col-xl-5 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0 ">
    <div class="card ht-100p">
      <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
        <h5 class="mg-b-5 tx-14 ">Highlights of last 30 days <br>
        </h5>
      </div>
      <ul class="list-group list-group-flush tx-14">
        <li routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Customers}}"
          class="list-group-item d-flex pd-sm-x-20 pd-y-20 cursor-pointer tx-dark">
          <div class="pd-l-10">
            <p class="mg-b-0">Total Customers</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <h5 class="tx-normal tx-rubik mg-b-0 lh-1"> 9498479
              </h5>

              <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>
            </nav>
          </div>
        </li>
        <li routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Visits}}"
          class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
          <div class="pd-l-10">
            <p class=" mg-b-0">Visit By New Customers</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <h5 class="tx-normal tx-rubik mg-b-0  lh-1">47947
              </h5>

              <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>
            </nav>
          </div>
        </li>
        <li routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Visits}}"
          class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
          <div class="pd-l-10">
            <p class="mg-b-0">Visit By Loyal Customers</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <h5 class="tx-normal tx-rubik mg-b-0 lh-1">478684
              </h5>

              <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>

            </nav>
          </div>
        </li>
        <li routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Visits}}"
          class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
          <div class="pd-l-10">
            <p class=" mg-b-0">Avg. Spending / Visit</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <h5 class="tx-normal tx-rubik mg-b-0 lh-1"> <span
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>7386836
              </h5>

              <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>

            </nav>
          </div>
        </li>
        <li routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Visits}}"
          class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
          <div class="pd-l-10">
            <p class=" mg-b-0">Avg. Visits / Customer</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
      
              <h5 class="tx-normal tx-rubik mg-b-0  lh-1">
                38683</h5>

              <a class="nav-link d-none d-sm-block"> <i data-feather="chevron-right"></i> </a>

            </nav>
          </div>
        </li>

      </ul>

    </div>
  </div> -->
</div>


<div class="row row-xs mg-b-10">
  <div class="col-lg-4 col-xl-4 col-sm-12 col-md-4 mg-t-10 mg-lg-t-0">
    <div class="card ht-100p">
      <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
        <h5 class="mg-b-5 tx-14 ">Low Wallet Balance Merchant <br>
        </h5>
      </div>
      <ul class="list-group list-group-flush tx-14" *ngFor="let TItem of LowBalance">
        <li (click)="MerchantRoute(TItem)" class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
          <div>
            <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
              class="img wd-40 ht-40 rounded-10 bd bd-2 border-secondary">
          </div>
          <div class="pd-l-10">
            <p class="mg-b-0">{{TItem.DisplayName || "--"}}</p>
            <small class="mg-b-0 tx-12 text-secondary">Last Balance On {{TItem.Date | date :["dd-mm-yyyy"]}}</small>

          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <h5 class="tx-normal tx-rubik mg-b-0 lh-1">
              </h5>
              <div class="tx-12  text-danger"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <span
                  class="Word-break">{{TItem.Balance || "0" | number: "1.2-2"  }}</span>
                <br>
                <div class="tx-12  text-secondary">Current Balance</div>
              </div>


              <!-- <a class="nav-link d-none d-sm-block"><i class="fas fa-chevron-right text-secondary text-secondary"></i> </a> -->
            </nav>
          </div>
        </li>

      </ul>

    </div><!-- card -->
  </div>

  <div class="col-lg-4 col-xl-4 col-sm-12 col-md-4 mg-lg-t-0 mg-t-10">
    <div class="card ht-100p">
      <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
        <h5 class="mg-b-5 tx-14 ">Newly Added Merchants <br>
        </h5>
      </div>
      <ul class="list-group list-group-flush tx-14" *ngFor="let TItem of NewMerchants">
        <li (click)="MerchantRoute(TItem)" class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
          <div>
            <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
              class="img wd-40 ht-40 rounded-10 bd bd-2 border-secondary">
          </div>
          <div class="pd-l-10">
            <p class="mg-b-0">{{TItem.DisplayName || "--"}}</p>
            <small class="mg-b-0 tx-12 text-secondary">Registered On {{TItem.Date | date :["dd-mm-yyyy hh:mm"]}}</small>

          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <h5 class="tx-normal tx-rubik mg-b-0 lh-1">
              </h5>

            </nav>
          </div>
        </li>

      </ul>

    </div><!-- card -->
  </div>

  <div class="col-lg-4 col-xl-4 col-sm-12 col-md-4 mg-lg-t-0 mg-t-10">
    <div class="card ht-100p">
      <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
        <h5 class="mg-b-5 tx-14 "> Newly Added POS <br>
        </h5>
      </div>
      <ul class="list-group list-group-flush tx-14" *ngFor="let TItem of NewPos">
        <li (click)="TerminalRoute(TItem)" class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
          <div>
            <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
              class="img wd-40 ht-40 rounded-10 bd bd-2 border-secondary">
          </div>
          <div class="pd-l-10">
            <p class="mg-b-0">{{TItem.TerminalId || "--"}}</p>
            <small class="mg-b-0 tx-12 text-secondary">Registered On {{TItem.Date | date :["dd-mm-yyyy hh:mm"]}}</small>

          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
             
              <p class="tx-secondary tx-12 Word-break">{{TItem.ProviderDisplayName || "--"}} -
                {{TItem.AcquirerDisplayName || "--"}} </p>
            </nav>
          </div>
        </li>

      </ul>

    </div>
  </div>
</div>

<div class="row row-xs">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-4 mg-t-10 mg-lg-t-0">
    <div class="card">
      <div class="card-header">
        POS Activity
        <div class="text-secondary tx-12"> Today’s POS Activity </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <div>
              <canvas height="110" baseChart #RewardPlot="base-chart" [colors]="_HelperService._UserOverviewPlot.Colors"
                [datasets]="_HelperService._TerminalStatusCountArray" [labels]="StoreLabel"
                [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
              
                [options]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions"></canvas>
            </div>

          </div>
          <div class="col-md-3 ">
            <div class="text-success tx-18 mt-3 tx-rubik">
              {{ _HelperService._TerminalStatusCount.Active  | number: "1.0-1" || "--" }} </div>
            <div class="tx-12"> ACTIVE POS </div>

            <div class="tx-MasterCard tx-18 mt-3 tx-rubik">
              {{ _HelperService._TerminalStatusCount.Idle  | number: "1.0-1" || "--" }} </div>
            <div class="tx-12"> IDLE POS </div>

            <div class="text-danger tx-18 mt-3 tx-rubik">
              {{ _HelperService._TerminalStatusCount.Dead  | number: "1.0-1" || "--" }} </div>
            <div class="tx-12"> DEAD POS </div>

            <div class=" text-secondary  tx-18 mt-3 tx-rubik">
              {{ _HelperService._TerminalStatusCount.Unused  | number: "1.0-1" || "--" }} </div>
            <div class="tx-12"> IN-ACTIVE POS </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>
<!-- </div> -->


<!-- <div class="chart-container">
  <ngx-highchart [options]="options" (load)="chart = $event.chart"></ngx-highchart>
</div> -->

<!-- <div class="row mg-t-15">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header bd-0 tx-20 tx-semibold">
        Current Merchants onboarding Status
      </div>
      <div class="card-body">
        <div class="funnel">
          <div class="" #container style="transform: rotateZ(-90deg); background-color: #00000000!important; position: relative;">
          </div>
        </div>

      </div>
    </div>
  </div>
</div> -->