<div class="d-flex flex fixed-height" id="SideContainer" [style.height.px]="_HelperService.ContainerHeight">
    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex  ">
            <div class="box mb-2 ">
                <div class="box-body py-2 px-3">
                    <div>
                        <div>
                            <img src="../../assets/img/logoinverse.png" class="w-xmd" style=" margin-top:-10px" alt=".">

                            <span class="text-lg _500 pl-1 text-uppercase" style="color: #442364">
                                |




                                {{_HelperService.UserAccount.DisplayName}}

                                <span class="text-dark _600  text-xs"> LIVE ANALYTICS <span style="    font-size: 14px;"
                                        class="text-success _500">{{timeLeft || '--'}}</span></span>
                            </span>


                            <span class="float-right">
                                <span class=" text-primary _500 text-lg">
                                    {{ now | date:'HH:mm:ss'}}
                                </span>
                                <span class="_500">{{todaysdate || '--'}} </span>
                            </span>


                        </div>
                    </div>
                </div>
            </div>
            <div class="scrollable hover pl-4 pr-4">
                <div class="row">
                    <div class="col-6 col-lg-3  pl-1 pr-1">
                        <div class="box fadeIn animated  p-2 mb-2">
                            <div><span class="text-warn">Customers</span>
                            </div>
                            <div class="py-1 text-center text-lg  ">
                                {{_AccountOverview.AppUsers | number:'1.0-1' ||"--"}}
                            </div>
                            <div class="d-flex">
                                <span *ngIf="_AccountOverview.AppUsers == _AccountOverviewNext.AppUsers"
                                    class="text-warning">
                                    <i class="fa fa-arrow-circle-up text-sm  " aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.AppUsers > _AccountOverviewNext.AppUsers"
                                    class=" text-success  ">
                                    <i class="fa fa-arrow-circle-up   text-sm" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.AppUsers < _AccountOverviewNext.AppUsers"
                                    class="text-danger">
                                    <i class="fa fa-arrow-circle-down text-sm  " aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.AppUsers > _AccountOverviewNext.AppUsers"
                                    class="  text-success ">
                                    +{{_AccountOverviewDiff.AppUsers | number:'1.0-1' ||"--"}}
                                </span>
                                <span *ngIf="_AccountOverview.AppUsers < _AccountOverviewNext.AppUsers"
                                    class="  text-danger">
                                    {{_AccountOverviewDiff.AppUsers | number:'1.0-1' ||"--"}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3  pl-1 pr-1">
                        <div class="box fadeIn animated  p-2 mb-2">
                            <div><span class="text-warn">Unique Customers</span>
                            </div>
                            <div class="py-1 text-center text-lg  ">
                                {{_AccountOverview.UniqueAppUsers | number:'1.0-1' ||"--"}}
                            </div>
                            <div class="d-flex">
                                <span *ngIf="_AccountOverview.UniqueAppUsers == _AccountOverviewNext.UniqueAppUsers"
                                    class="text-warning">
                                    <i class="fa fa-arrow-circle-up text-sm  " aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.UniqueAppUsers > _AccountOverviewNext.UniqueAppUsers"
                                    class=" text-success  ">
                                    <i class="fa fa-arrow-circle-up   text-sm" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.UniqueAppUsers < _AccountOverviewNext.UniqueAppUsers"
                                    class="text-danger">
                                    <i class="fa fa-arrow-circle-down text-sm  " aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.UniqueAppUsers > _AccountOverviewNext.UniqueAppUsers"
                                    class="  text-success ">
                                    +{{_AccountOverviewDiff.UniqueAppUsers | number:'1.0-1' ||"--"}}
                                </span>
                                <span *ngIf="_AccountOverview.UniqueAppUsers < _AccountOverviewNext.UniqueAppUsers"
                                    class="  text-danger">
                                    {{_AccountOverviewDiff.UniqueAppUsers | number:'1.0-1' ||"--"}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3  pl-1 pr-1">
                        <div class="box fadeIn animated  p-2 mb-2">
                            <div><span class="text-warn">Repeating Customers</span>
                            </div>
                            <div class="py-1 text-center text-lg  ">
                                {{_AccountOverview.RepeatingAppUsers | number:'1.0-1' ||"--"}}
                            </div>
                            <div class="d-flex">
                                <span
                                    *ngIf="_AccountOverview.RepeatingAppUsers == _AccountOverviewNext.RepeatingAppUsers"
                                    class="text-warning">
                                    <i class="fa fa-arrow-circle-up text-sm  " aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.RepeatingAppUsers > _AccountOverviewNext.RepeatingAppUsers"
                                    class=" text-success  ">
                                    <i class="fa fa-arrow-circle-up   text-sm" aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.RepeatingAppUsers < _AccountOverviewNext.RepeatingAppUsers"
                                    class="text-danger">
                                    <i class="fa fa-arrow-circle-down text-sm  " aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.RepeatingAppUsers > _AccountOverviewNext.RepeatingAppUsers"
                                    class="  text-success ">
                                    +{{_AccountOverviewDiff.RepeatingAppUsers | number:'1.0-1' ||"--"}}
                                </span>
                                <span
                                    *ngIf="_AccountOverview.RepeatingAppUsers < _AccountOverviewNext.RepeatingAppUsers"
                                    class="  text-danger">
                                    {{_AccountOverviewDiff.RepeatingAppUsers | number:'1.0-1' ||"--"}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3  pl-1 pr-1">
                        <div class="box fadeIn animated  p-2 mb-2">
                            <div><span class="text-warn"> Visits</span>
                            </div>
                            <div class="py-1 text-center text-lg  ">
                                {{_AccountOverview.Transactions | number:'1.0-1' ||"--"}}
                            </div>
                            <div class="d-flex">
                                <span *ngIf="_AccountOverview.Transactions == _AccountOverviewNext.Transactions"
                                    class="text-warning">
                                    <i class="fa fa-arrow-circle-up text-sm  " aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.Transactions > _AccountOverviewNext.Transactions"
                                    class=" text-success  ">
                                    <i class="fa fa-arrow-circle-up   text-sm" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.Transactions < _AccountOverviewNext.Transactions"
                                    class="text-danger">
                                    <i class="fa fa-arrow-circle-down text-sm  " aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.Transactions > _AccountOverviewNext.Transactions"
                                    class="  text-success ">
                                    +{{_AccountOverviewDiff.Transactions | number:'1.0-1' ||"--"}}
                                </span>
                                <span *ngIf="_AccountOverview.Transactions < _AccountOverviewNext.Transactions"
                                    class="  text-danger">
                                    {{_AccountOverviewDiff.Transactions | number:'1.0-1' ||"--"}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3  pl-1 pr-1">
                        <div class="box fadeIn animated  p-2 mb-2">
                            <div><span class="text-warn"> Sale</span>
                            </div>
                            <div class="py-1 text-center text-lg  ">
                                <span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.PurchaseAmount
                                | number:'1.2-2' ||"--"}}
                            </div>
                            <div class="d-flex">
                                <span *ngIf="_AccountOverview.PurchaseAmount == _AccountOverviewNext.PurchaseAmount"
                                    class="text-warning">
                                    <i class="fa fa-arrow-circle-up text-sm  " aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.PurchaseAmount > _AccountOverviewNext.PurchaseAmount"
                                    class=" text-success  ">
                                    <i class="fa fa-arrow-circle-up   text-sm" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.PurchaseAmount < _AccountOverviewNext.PurchaseAmount"
                                    class="text-danger">
                                    <i class="fa fa-arrow-circle-down text-sm  " aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.PurchaseAmount > _AccountOverviewNext.PurchaseAmount"
                                    class="  text-success ">
                                    +<span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.PurchaseAmount
                                    | number:'1.2-2'||"--"}}
                                </span>
                                <span *ngIf="_AccountOverview.PurchaseAmount < _AccountOverviewNext.PurchaseAmount"
                                    class="  text-danger">
                                    <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.PurchaseAmount
                                    | number:'1.2-2' ||"--"}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3  pl-1 pr-1">
                        <div class="box fadeIn animated  p-2 mb-2">
                            <div><span class="text-warn"> Card Payments</span>
                            </div>
                            <div class="py-1 text-center text-lg  ">
                                <span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.CardRewardPurchaseAmount
                                | number:'1.2-2' ||"--"}}
                            </div>
                            <div class="d-flex">
                                <span
                                    *ngIf="_AccountOverview.CardRewardPurchaseAmount == _AccountOverviewNext.CardRewardPurchaseAmount"
                                    class="text-warning">
                                    <i class="fa fa-arrow-circle-up text-sm  " aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.CardRewardPurchaseAmount > _AccountOverviewNext.CardRewardPurchaseAmount"
                                    class=" text-success  ">
                                    <i class="fa fa-arrow-circle-up   text-sm" aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.CardRewardPurchaseAmount < _AccountOverviewNext.CardRewardPurchaseAmount"
                                    class="text-danger">
                                    <i class="fa fa-arrow-circle-down text-sm  " aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.CardRewardPurchaseAmount > _AccountOverviewNext.CardRewardPurchaseAmount"
                                    class="  text-success ">
                                    +<span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.CardRewardPurchaseAmount
                                    | number:'1.2-2' ||"--"}}
                                </span>
                                <span
                                    *ngIf="_AccountOverview.CardRewardPurchaseAmount < _AccountOverviewNext.CardRewardPurchaseAmount"
                                    class="  text-danger">
                                    <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.CardRewardPurchaseAmount
                                    | number:'1.2-2' ||"--"}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3  pl-1 pr-1">
                        <div class="box fadeIn animated  p-2 mb-2">
                            <div><span class="text-warn"> Cash Payments</span>
                            </div>
                            <div class="py-1 text-center text-lg  ">
                                <span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.CashRewardPurchaseAmount
                                | number:'1.2-2' ||"--"}}
                            </div>
                            <div class="d-flex">
                                <span
                                    *ngIf="_AccountOverview.CashRewardPurchaseAmount == _AccountOverviewNext.CashRewardPurchaseAmount"
                                    class="text-warning">
                                    <i class="fa fa-arrow-circle-up text-sm  " aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.CashRewardPurchaseAmount > _AccountOverviewNext.CashRewardPurchaseAmount"
                                    class=" text-success  ">
                                    <i class="fa fa-arrow-circle-up   text-sm" aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.CashRewardPurchaseAmount < _AccountOverviewNext.CashRewardPurchaseAmount"
                                    class="text-danger">
                                    <i class="fa fa-arrow-circle-down text-sm  " aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.CashRewardPurchaseAmount > _AccountOverviewNext.CashRewardPurchaseAmount"
                                    class="  text-success ">
                                    +<span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.CashRewardPurchaseAmount
                                    | number:'1.2-2' ||"--"}}
                                </span>
                                <span
                                    *ngIf="_AccountOverview.CashRewardPurchaseAmount < _AccountOverviewNext.CashRewardPurchaseAmount"
                                    class="  text-danger">
                                    <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.CashRewardPurchaseAmount
                                    | number:'1.2-2' ||"--"}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3  pl-1 pr-1">
                        <div class="box fadeIn animated  p-2 mb-2">
                            <div><span class="text-warn"> Commission Earnings</span>
                            </div>
                            <div class="py-1 text-center text-lg  ">
                                <span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.IssuerCommissionAmount
                                | number:'1.2-2' ||"--"}}
                            </div>
                            <div class="d-flex">
                                <span
                                    *ngIf="_AccountOverview.IssuerCommissionAmount == _AccountOverviewNext.IssuerCommissionAmount"
                                    class="text-warning">
                                    <i class="fa fa-arrow-circle-up text-sm  " aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.IssuerCommissionAmount > _AccountOverviewNext.IssuerCommissionAmount"
                                    class=" text-success  ">
                                    <i class="fa fa-arrow-circle-up   text-sm" aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.IssuerCommissionAmount < _AccountOverviewNext.IssuerCommissionAmount"
                                    class="text-danger">
                                    <i class="fa fa-arrow-circle-down text-sm  " aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.IssuerCommissionAmount > _AccountOverviewNext.IssuerCommissionAmount"
                                    class="  text-success ">
                                    +<span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.IssuerCommissionAmount
                                    | number:'1.2-2' ||"--"}}
                                </span>
                                <span
                                    *ngIf="_AccountOverview.IssuerCommissionAmount < _AccountOverviewNext.IssuerCommissionAmount"
                                    class="  text-danger">
                                    <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.IssuerCommissionAmount
                                    | number:'1.2-2' ||"--"}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3  pl-1 pr-1">
                        <div class="box fadeIn animated  p-2 mb-2">
                            <div><span class="text-warn">TUC Rewards</span>
                            </div>
                            <div class="py-1 text-center text-lg  ">
                                <span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.RewardAmount
                                | number:'1.2-2' ||"--"}}
                            </div>
                            <div class="d-flex">
                                <span *ngIf="_AccountOverview.RewardAmount == _AccountOverviewNext.RewardAmount"
                                    class="text-warning">
                                    <i class="fa fa-arrow-circle-up text-sm  " aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.RewardAmount > _AccountOverviewNext.RewardAmount"
                                    class=" text-success  ">
                                    <i class="fa fa-arrow-circle-up   text-sm" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.RewardAmount < _AccountOverviewNext.RewardAmount"
                                    class="text-danger">
                                    <i class="fa fa-arrow-circle-down text-sm  " aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.RewardAmount > _AccountOverviewNext.RewardAmount"
                                    class="  text-success ">
                                    +<span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.RewardAmount
                                    | number:'1.2-2' ||"--"}}
                                </span>
                                <span *ngIf="_AccountOverview.RewardAmount < _AccountOverviewNext.RewardAmount"
                                    class="  text-danger">
                                    <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.RewardAmount
                                    | number:'1.2-2' ||"--"}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3  pl-1 pr-1">
                        <div class="box fadeIn animated  p-2 mb-2">
                            <div><span class="text-warn">TUC+ Rewards</span>
                            </div>
                            <div class="py-1 text-center text-lg  ">
                                <span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.TUCPlusRewardAmount
                                | number:'1.2-2' ||"--"}}
                            </div>
                            <div class="d-flex">
                                <span
                                    *ngIf="_AccountOverview.TUCPlusRewardAmount == _AccountOverviewNext.TUCPlusRewardAmount"
                                    class="text-warning">
                                    <i class="fa fa-arrow-circle-up text-sm  " aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.TUCPlusRewardAmount > _AccountOverviewNext.TUCPlusRewardAmount"
                                    class=" text-success  ">
                                    <i class="fa fa-arrow-circle-up   text-sm" aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.TUCPlusRewardAmount < _AccountOverviewNext.TUCPlusRewardAmount"
                                    class="text-danger">
                                    <i class="fa fa-arrow-circle-down text-sm  " aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.TUCPlusRewardAmount > _AccountOverviewNext.TUCPlusRewardAmount"
                                    class="  text-success ">
                                    +<span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.TUCPlusRewardAmount
                                    | number:'1.2-2' ||"--"}}
                                </span>
                                <span
                                    *ngIf="_AccountOverview.TUCPlusRewardAmount < _AccountOverviewNext.TUCPlusRewardAmount"
                                    class="  text-danger">
                                    <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.TUCPlusRewardAmount
                                    | number:'1.2-2' ||"--"}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3  pl-1 pr-1">
                        <div class="box fadeIn animated  p-2 mb-2">
                            <div><span class="text-warn">TUC+ Reward Claims</span>
                            </div>
                            <div class="py-1 text-center text-lg  ">
                                <span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.TUCPlusRewardClaimedAmount
                                | number:'1.0-1' ||"--"}}
                            </div>
                            <div class="d-flex">
                                <span
                                    *ngIf="_AccountOverview.TUCPlusRewardClaimedAmount == _AccountOverviewNext.TUCPlusRewardClaimedAmount"
                                    class="text-warning">
                                    <i class="fa fa-arrow-circle-up text-sm  " aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.TUCPlusRewardClaimedAmount > _AccountOverviewNext.TUCPlusRewardClaimedAmount"
                                    class=" text-success  ">
                                    <i class="fa fa-arrow-circle-up   text-sm" aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.TUCPlusRewardClaimedAmount < _AccountOverviewNext.TUCPlusRewardClaimedAmount"
                                    class="text-danger">
                                    <i class="fa fa-arrow-circle-down text-sm  " aria-hidden="true"></i>
                                </span>
                                <span
                                    *ngIf="_AccountOverview.TUCPlusRewardClaimedAmount > _AccountOverviewNext.TUCPlusRewardClaimedAmount"
                                    class="  text-success ">
                                    +<span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.TUCPlusRewardClaimedAmount
                                    | number:'1.0-1' ||"--"}}
                                </span>
                                <span
                                    *ngIf="_AccountOverview.TUCPlusRewardClaimedAmount < _AccountOverviewNext.TUCPlusRewardClaimedAmount"
                                    class="  text-danger">
                                    <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.TUCPlusRewardClaimedAmount
                                    | number:'1.0-1' ||"--"}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3  pl-1 pr-1">
                        <div class="box fadeIn animated  p-2 mb-2">
                            <div><span class="text-warn">Redeem</span>
                            </div>
                            <div class="py-1 text-center text-lg  ">
                                <span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.RedeemAmount
                                | number:'1.2-2' ||"--"}}
                            </div>
                            <div class="d-flex">
                                <span *ngIf="_AccountOverview.RedeemAmount == _AccountOverviewNext.RedeemAmount"
                                    class="text-warning">
                                    <i class="fa fa-arrow-circle-up text-sm  " aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.RedeemAmount > _AccountOverviewNext.RedeemAmount"
                                    class=" text-success  ">
                                    <i class="fa fa-arrow-circle-up   text-sm" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.RedeemAmount < _AccountOverviewNext.RedeemAmount"
                                    class="text-danger">
                                    <i class="fa fa-arrow-circle-down text-sm  " aria-hidden="true"></i>
                                </span>
                                <span *ngIf="_AccountOverview.RedeemAmount > _AccountOverviewNext.RedeemAmount"
                                    class="  text-success ">
                                    +<span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.RedeemAmount
                                    | number:'1.2-2' ||"--"}}
                                </span>
                                <span *ngIf="_AccountOverview.RedeemAmount < _AccountOverviewNext.RedeemAmount"
                                    class="  text-danger">
                                    <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverviewDiff.RedeemAmount
                                    | number:'1.2-2' ||"--"}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6  pl-1 pr-1">
                        <div class="box mb-2 fadeIn animated "
                            *ngIf="_HelperService._UserOverviewPlot.HourlyVisitData != undefined && _HelperService._UserOverviewPlot.HourlyVisitData.length > 0">
                            <div class="box-body pb-0 pl-1 pr-1 pt-3">
                                <canvas height="129" baseChart #RewardPlot="base-chart"
                                    [colors]="_HelperService._UserOverviewPlot.Colors"
                                    [datasets]="_HelperService._UserOverviewPlot.HourlyVisitData"
                                    [labels]="_HelperService._UserOverviewPlot.HourlyVisitLabel"
                                    [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                                    [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptions"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-21 col-xs-12 ">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-21 col-xs-12  pl-1 pr-1"
                                *ngFor="let TItem of StoreSalesList_Config.Data ; let i = index">
                                <div class="box fadeIn animated  p-2 mb-2 mb-2" *ngIf="i < 4">
                                    <div class="  w-100 ">
                                        <div class="_500 pb-1">{{TItem.DisplayName || "--"}} </div>
                                        <div class=" pb-1">
                                            <span class="text-success _500 text-sm">
                                                <span
                                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                            <span class="text-success _500 ">
                                                {{TItem.Purchase | number:'1.2-2' || "--"}}</span>
                                            <span class="text-xs _500 text-uppercase float-right">{{TItem.Transactions
                                                || "--"}}
                                                Visits</span>
                                        </div>
                                        <div class=" pb-1  text-xs _500">
                                            LAST TR {{TItem.LastTransactionDate || "--"}}
                                        </div>
                                        <div class="text-muted text-sm"> rew <span
                                                class="text-dark">{{TItem.RewardAmount | number:'1.2-2' ||
                                                "--"}}</span><span class="float-right">
                                                red
                                                <span class="text-dark">
                                                    {{TItem.RewardAmount | number:'1.2-2' || "--"}}</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6  pl-1 pr-1"
                        *ngFor="let TItem of StoreSalesList_Config.Data | slice:4 ; let i = index">

                        <div class="box fadeIn animated  p-2 mb-2 mb-2">
                            <div class="  w-100 ">
                                <div class="_500 pb-1">{{TItem.DisplayName || "--"}} </div>
                                <div class=" pb-1">
                                    <span class="text-success _500 text-sm">
                                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                    <span class="text-success _500 ">
                                        {{TItem.Purchase | number:'1.2-2' || "--"}}</span>
                                    <span class="text-xs _500 text-uppercase float-right">{{TItem.Transactions || "--"}}
                                        Visits</span>
                                </div>
                                <div class=" pb-1  text-xs _500">
                                    LAST TR {{TItem.LastTransactionDate || "--"}}
                                </div>
                                <div class="text-muted text-sm"> rew <span class="text-dark">{{TItem.RewardAmount |
                                        number:'1.2-2' || "--"}}</span><span class="float-right">
                                        red
                                        <span class="text-dark">
                                            {{TItem.RewardAmount | number:'1.2-2' || "--"}}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  pl-1 pr-1">
                        <div class="box fadeIn animated  ">
                            <div class="box-header pb-0">
                                <h3 class="text-warn">Recent Rewards</h3>
                            </div>
                            <div class="p-3" style="    max-height: 200px;   height: 200px;    overflow: auto;">
                                <div class="streamline streamline-xs">
                                    <div class="sl-item b-warn" *ngFor="let TItem of TURewardMerchant_Config.Data">
                                        <div class="sl-content"><span
                                                class="sl-date text-primary">{{TItem.TransactionDate}}
                                                <span class="badge purple float-right">
                                                    {{TItem.TypeName || "--"}}
                                                </span>
                                            </span>
                                            <div>
                                                <div class="_500">
                                                    {{TItem.UserAccountDisplayName || "--"}}
                                                </div>
                                                <div class="f-s-11 _500 text-muted">
                                                    {{TItem.SubParentDisplayName || "--"}}
                                                </div>
                                                <div class="text-ellipses f-s-11 mb-1 _500">
                                                    REW : <span class="text-warning">
                                                        {{TItem.RewardAmount | number:'1.2-2' || "--"}}</span>
                                                    <span class="float-right  ">
                                                        SALE :
                                                        <span class="text-success">
                                                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount
                                                                                        | number:'1.2-2' || "--"}}</span>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pl-1 pr-1"
                        *ngIf="_HelperService._UserOverviewPlot.HourlyVisitData.length > 0">
                        <div class="box fadeIn animated  mb-2 ">
                            <div class="box-body p-0">
                                <div class="p-2 pt-3">
                                    <canvas height="130" baseChart #RewardPlot="base-chart"
                                        [colors]="_HelperService._UserOverviewPlot.Colors"
                                        [datasets]="_HelperService._UserOverviewPlot.HourlyVisitData"
                                        [labels]="_HelperService._UserOverviewPlot.HourlyVisitLabel"
                                        [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                                        [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptions"></canvas>
                                </div>
                                <div class="pl-3" *ngIf="_HelperService._UserOverviewPlot.HourlyVisitData.length == 0 ">
                                    <div class="text-warning">
                                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                        {{ 'Common.PleaseWait' | translate }} ...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 pl-1 pr-1"
                        *ngIf="_Overview.AcquirerAmountDistribution != undefined && _Overview.AcquirerAmountDistribution.length > 0">
                        <div class="box fadeIn animated  fadein">
                            <div class="box-header pb-0">
                                <h3 class="text-warn">Bank Collections</h3>
                            </div>
                            <div class="box-body p-3">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-2 pr-2 pl-2"
                                        *ngFor="let TItem of _Overview.AcquirerAmountDistribution">
                                        <div style="padding: 10px;
                                                            background: #f7f7f7;
                                                            border-radius: 10px;">
                                            <div class="float-left">
                                                <span class="w-20 avatar circle warn mr-2">
                                                    <img src="{{TItem.IconUrl}}">
                                                </span>
                                            </div>
                                            <div>
                                                <div class="text-primary text-ellipses mb-2">
                                                    {{TItem.DisplayName || "--"}}
                                                </div>

                                                <div class="f-s-11">
                                                    {{TItem.Terminals || "--"}} Terminals
                                                </div>
                                                <div>
                                                    <span class="text-success">
                                                        <span
                                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.PurchaseAmount  | number:'1.2-2' || "--"}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 pl-1 pr-1">
                        <div class="box fadeIn animated  ">
                            <div class="box-body p-0">
                                <div class="row no-gutters">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div
                                            *ngIf="_Overview.StoresOverview != undefined &&  _Overview.StoresOverview.length > 0">
                                            <agm-map [styles]="_HelperService.JData" [zoom]="11"
                                                [latitude]="_Overview.StoresOverview[0].Latitude"
                                                [longitude]="_Overview.StoresOverview[0].Longitude">
                                                <agm-overlay
                                                    *ngFor="let TItem of _Overview.StoresOverview ; let i = index"
                                                    [latitude]="TItem.Latitude" [longitude]="TItem.Longitude">
                                                    <div *ngIf="i == 0" style="   margin-left: 20px; width: auto;
                                    height: auto;
                                    padding: 5px 5px;
                                    background-color: #fff;
                                    color: #20ab68;
                                    border-radius: 6px;
                                    border: 1px solid #20ab68;">
                                                        {{TItem.DisplayName || "--"}}
                                                        <br>
                                                        {{TItem.Transactions || "0"}} visitors
                                                    </div>
                                                    <div *ngIf="i != 0" style="   margin-left: 20px; width: auto;
                                            height: auto;
                                            padding: 5px 5px;
                                            background-color: #fff;
                                            color: #907eec;
                                            border-radius: 6px;
                                            border: 1px solid #907eec;">
                                                        {{TItem.DisplayName || "--"}}
                                                        <br>
                                                        {{TItem.Transactions || "0"}} visitors

                                                    </div>
                                                    <agm-info-window #infoWindow>
                                                        <div class="box mb-0">
                                                            <div class="box-body p-3 ">
                                                                <div class="text-primary" style="    font-weight: 500;
                                                        margin-bottom: 5px;">
                                                                    {{TItem.DisplayName || "--"}}
                                                                </div>
                                                                <div class=" f-s-11 mb-3" style="font-weight:400">
                                                                    {{TItem.Address || "--"}}
                                                                </div>
                                                                <div class="  mb-2" style="    font-size: 11px;
                                                        text-transform: uppercase;
                                                        font-weight: 500;">
                                                                    Terminals : <span
                                                                        style="font-weight:bold">{{TItem.Terminals || "--"}}</span>
                                                                </div>
                                                                <div class="  mb-2" style="    font-size: 11px;
                                                        text-transform: uppercase;
                                                        font-weight: 500;">
                                                                    Store Visitors : <span
                                                                        style="font-weight:bold">{{TItem.Transactions || "--"}}</span>
                                                                </div>
                                                                <div class="  mb-2" style="    font-size: 11px;
                                                        text-transform: uppercase;
                                                        font-weight: 500;">
                                                                    Total Purchase : <span
                                                                        style="font-weight:bold"><span
                                                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.Purchase  | number:'1.2-2' || "--"}}</span>
                                                                </div>
                                                                <div>
                                                                    <button type="button"
                                                                        class="btn btn-primary btn-sm warn b-warn"
                                                                        (click)="StoresList_RowSelected(TItem)">View
                                                                        Details</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </agm-info-window>
                                                </agm-overlay>
                                                <agm-marker
                                                    *ngFor="let TItem of _Overview.StoresOverview ; let i = index"
                                                    [latitude]="TItem.Latitude" [longitude]="TItem.Longitude"
                                                    [iconUrl]="_HelperService.IconData">
                                                    <agm-info-window #infoWindow>
                                                        <div class="box mb-0">
                                                            <div class="box-body p-3 ">
                                                                <div class="text-primary" style="    font-weight: 500;
                                                    margin-bottom: 5px;">
                                                                    {{TItem.DisplayName || "--"}}
                                                                </div>
                                                                <div class=" f-s-11 mb-3" style="font-weight:400">
                                                                    {{TItem.Address || "--"}}
                                                                </div>
                                                                <div class="  mb-2" style="    font-size: 11px;
                                                    text-transform: uppercase;
                                                    font-weight: 500;">
                                                                    Terminals : <span
                                                                        style="font-weight:bold">{{TItem.Terminals || "--"}}</span>
                                                                </div>
                                                                <div class="  mb-2" style="    font-size: 11px;
                                                    text-transform: uppercase;
                                                    font-weight: 500;">
                                                                    Store Visitors : <span
                                                                        style="font-weight:bold">{{TItem.Transactions || "--"}}</span>
                                                                </div>
                                                                <div class="  mb-2" style="    font-size: 11px;
                                                    text-transform: uppercase;
                                                    font-weight: 500;">
                                                                    Total Purchase : <span
                                                                        style="font-weight:bold"><span
                                                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.Purchase  | number:'1.2-2' || "--"}}</span>
                                                                </div>
                                                                <div>
                                                                    <button type="button"
                                                                        class="btn btn-primary btn-sm warn b-warn"
                                                                        (click)="StoresList_RowSelected(TItem)">View
                                                                        Details</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </agm-info-window>
                                                </agm-marker>
                                            </agm-map>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="fade aside aside-lg b-l b-r" id="content-aside" *ngIf="_HelperService.ShowAsidePanel">
        <div class="modal-dialog d-flex flex-column w-lg h-100 white  lt">
            <div class="scrollable hover">

                <div class="p-2">
                    <div class="box-header px-1">
                        <h3 class="text-warn">TERMINALS ACTIVITY</h3>
                    </div>
                    <div *ngFor="let TItem of _AccountOverview.PosOverview">
                        <div class="box light fadeIn animated  p-2 mb-2 mb-2">
                            <div class="  w-100 ">
                                <div class="_500 pb-1"> <span class="text-warn">{{TItem.DisplayName || "--"}}</span>
                                    <span class="text-xs _500 text-uppercase float-right">{{TItem.Terminals || "--"}}
                                        Terminals</span>
                                </div>
                                <div class=" text-sm _600">
                                    <span class="text-xxs"> ACTIVE </span>
                                    <span class="text-success">{{TItem.ActiveTerminals|| "0"}}</span>
                                    <span class="float-right">
                                        <span class="text-xxs "> IDLE </span>
                                        <span class="text-danger"> {{TItem.IdleTerminals || "0"}}</span>
                                    </span>
                                </div>
                                <div class=" ">
                                    <span class="text-xxs _600"> LAST TR : </span>
                                    <span class="text-success text-xs _500 ">
                                        {{TItem.LastTransactionLocation || "--"}}</span>
                                </div>
                                <div class=" pb-1  text-xs _500">
                                    {{TItem.LastTransactionDate || "--"}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-header px-1">
                        <h3 class="text-warn">RECENT PAYMENTS</h3>
                    </div>
                    <div *ngFor="let TItem of TURewardMerchant_Config.Data
                    | paginate: { id: 'TURewardMerchant',itemsPerPage: TURewardMerchant_Config.PageRecordLimit, currentPage: TURewardMerchant_Config.ActivePage,
                    totalItems: TURewardMerchant_Config.TotalRecords }">

                        <div class="d-flex mb-2">
                            <div class="light p-2 py-2 w-100 r-2x">
                                <div class="_500 pb-1">{{TItem.UserAccountMobileNumber || "--"}} </div>
                                <div class="text-muted text-xs _500">
                                    {{TItem.SubParentDisplayName || "--"}}
                                    <span class="float-right text-xs ">
                                        {{TItem.CreatedByDisplayName || "--"}}
                                    </span>
                                </div>
                                <div class="">
                                    <span class="text-success _500 text-sm">
                                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                    <span class="text-success _500 text-sm">
                                        {{TItem.InvoiceAmount | number:'1.2-2' || "--"}}</span>
                                    <span class="text-xs _500 text-uppercase float-right">{{TItem.TypeName ||
                                        "--"}}</span>
                                </div>
                                <div class="text-muted text-sm"> reward <span class="text-dark">{{TItem.RewardAmount |
                                        number:'1.2-2' || "--"}}</span><span class="float-right">
                                        <span class="text-dark">
                                            {{TItem.TransactionDateT || "--"}}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  <div class="scrollable hover">
                <div class="p-2 light b-b _500 warn">
                    STORES
                </div>
                <div class="b-b" style="max-height:320px;overflow:auto">
                    <div class="shadow-app" (click)="StoresList_RowSelected(TItem)"
                        *ngFor="let TItem of TUStoresSale_Config.Data" style="background-color: #fff;
                                border-radius: 3px;
                                margin: 10px;
                                padding: 10px;">
                        <div>
                            <div class="text-ellipses _500">
                                {{TItem.DisplayName || "--"}}
                            </div>
                            <div class="text-ellipses f-s-11 mb-1 _500">
                                <span class="text-muted"> VISITS : </span>

                                <span class="text-warning"> {{TItem.Transactions || "--"}}</span>
                                <span class="float-right  ">
                                    <span class="text-muted"> SALE : </span>

                                    <span class="text-warn">
                                        <span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.PurchaseAmount  | number:'1.2-2' || "--"}}</span>
                                </span>
                            </div>
                            <div class="text-danger text-uppercase f-s-11 mb-1 _500"
                                *ngIf="TItem.LastTransactionDate =='0001-01-01T00:00:00'">
                                No Transactions
                            </div>
                            <div class="  f-s-11 _500" *ngIf="TItem.LastTransactionDate !='0001-01-01T00:00:00'">
                                <span class="text-success">{{TItem.LastTransactionDateS || "--"}} -
                                    {{TItem.LastTransactionDate || "--"}} ago</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="p-2 light b-b _500 warn">
                    TERMINALS
                </div>
                <div class="b-b" style="max-height:300px;overflow:auto">
                    <div class="shadow-app" (click)="StoresList_RowSelected(TItem)"
                        *ngFor="let TItem of _Overview.TerminalsOverview" style="background-color: #fff;
                                    border-radius: 3px;
                                    margin: 10px;
                                    padding: 10px;">
                        <div>
                            <div class="text-ellipses f-s-11 _500">
                                {{TItem.DisplayName || "--"}}|<span
                                    class="text-muted f-s-11 text-uppercase">{{TItem.PtspName || "--"}}|
                                    {{TItem.AcquirerName}}</span>
                            </div>
                            <div class="text-ellipses f-s-11   _500">
                                <span class="text-warn"> {{TItem.StoreDisplayName}} </span>

                            </div>
                            <div class="text-ellipses f-s-11 _500 ">
                                <span class="f-s-11 _500" *ngIf="TItem.LastTransactionDate !='0001-01-01T00:00:00'">
                                    <span class="text-success">{{TItem.LastTransactionDateS || "--"}} -
                                        {{TItem.LastTransactionDate || "--"}} ago</span>
                                </span>
                            </div>
                            <div class="text-danger text-uppercase f-s-11 mb-1 _500"
                                *ngIf="TItem.LastTransactionDate =='0001-01-01T00:00:00'">
                                No Transactions
                            </div>


                        </div>
                    </div>
                </div>

            </div> -->

        </div>
    </div>
</div>