<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="cursor-pointer"  (click)="_HelperService.NavigateBack()" [routerLinkActive]="['active']">
            Invoices</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
            Invoices Details</a></li>
</ol>

<div id="InvoiceContainer">
<div class="content bd-b">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h4 class="mg-b-5">Invoice #{{_OInvoiceDetails.InvoiceNumber || "--"}}</h4>
          <p class="mg-b-0 tx-color-03">Issued on {{_OInvoiceDetails.InvoiceDate || "--"}}</p>
        </div>
        <div class="mg-t-20 mg-sm-t-0">
          <button class="btn btn-white" (click)="StartDownload()"><i data-feather="printer" class="mg-r-5"></i> Print</button>
          <!-- <button class="btn btn-white mg-l-5"><i data-feather="mail" class="mg-r-5"></i> Email</button>
          <button class="btn btn-primary mg-l-5"><i data-feather="credit-card" class="mg-r-5"></i> Pay</button> -->
        </div>
      </div>
    </div><!-- container -->
  </div><!-- content -->

  <div class="content tx-13">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
      <div class="row">
        <div class="col-sm-6">
          <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed From</label>
          <h6 class="tx-15 mg-b-10">{{_OInvoiceDetails.FromName || "--"}}</h6>
          <p class="mg-b-0">{{_OInvoiceDetails.FromAddress || "--"}}</p>
          <p class="mg-b-0">Tel No: {{_OInvoiceDetails.FromContactNumber || "--"}}</p>
          <p class="mg-b-0">Email: {{_OInvoiceDetails.FromEmailAddress || "--"}}</p>
        </div><!-- col -->
        <div class="col-sm-6 tx-right d-none d-md-block">
          <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Invoice Number</label>
          <h1 class="tx-normal tx-color-04 mg-b-10 tx-spacing--2">#{{_OInvoiceDetails.InvoiceNumber || "--"}}</h1>
        </div><!-- col -->
        <div class="col-sm-6 col-lg-8 mg-t-40 mg-sm-t-0 mg-md-t-40">
          <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed To</label>
          <h6 class="tx-15 mg-b-10 cursor-pointer route-hover" (click)="MerchantRoute(_OInvoiceDetails)" > {{_OInvoiceDetails.ToName || "--"}}</h6>
          <p class="mg-b-0">{{_OInvoiceDetails.ToAddress || "--"}}</p>
          <p class="mg-b-0">{{_OInvoiceDetails.ToContactNumber || "--"}}</p>
          <p class="mg-b-0">{{_OInvoiceDetails.ToEmailAddress || "--"}}</p>
        </div><!-- col -->
  
      </div><!-- row -->

      <div class="table-responsive mg-t-40">
        <table class="table table-invoice bd-b">
          <thead>
            <tr>
              <th class="wd-20p">Reference Id</th>
              <th class="wd-40p d-none d-sm-table-cell">Description</th>
              <th class="tx-center">QNTY</th>
              <!-- <th class="tx-right">Unit Price</th> -->
              <th class="tx-right">Amount(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let TItem of _OInvoiceDetails.Items">
              <td class="tx-nowrap">{{TItem.ReferenceId || "0"}}</td>
              <td class="d-none d-sm-table-cell tx-color-03">{{TItem.Name || "0"}}</td>
              <td class="tx-center">{{TItem.TotalItem || "0"}}</td>
              <!-- <td class="tx-right">$150.00</td> -->
              <td class="tx-right"> <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{TItem.TotalAmount || "0"}}</td>
            </tr>
            <tr>
                <td colspan="3" class="text-right">Subtotal</td>
                <td class="text-right">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{_OInvoiceDetails.Amount | number:'1.2-2'}}
                </td>
            </tr>
            <tr>
                <td colspan="3" class="text-right no-border">Discounts</td>
                <td class="text-right">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{_OInvoiceDetails.DiscountAmount | number:'1.2-2'}}
                </td>
            </tr>
            <tr>
                <td colspan="3" class="text-right no-border">Charges
                </td>
                <td class="text-right">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{_OInvoiceDetails.Charge | number:'1.2-2'}}
                </td>
            </tr>
            <tr>
                <td colspan="3" class="text-right"><strong>Total</strong></td>
                <td class="text-right"><strong>
                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_OInvoiceDetails.TotalAmount | number:'1.2-2'}}
                    </strong></td>
            </tr>
          </tbody>
        </table>
      </div>

  
    </div><!-- container -->
  </div><!-- content -->
</div>


<!-- <div class="row">
    <div class="col-md-12 d-flex justify-content-between  bd-b pd-b-15 pd-x-0">
        <div>
            <div class="tx-21"> Invoice #{{_OInvoiceDetails.InvoiceNumber || "--"}} </div>
            <div class="text-secondary"> Issued on {{_OInvoiceDetails.InvoiceDate || "--"}} </div>
        </div>
        <div> <button class="btn btn-primary btn-xs" (click)="StartDownload()"> Print </button> </div>
    </div>

    <div class="col-md-12 d-flex justify-content-between mg-t-35 pd-x-0">
        <div>
            <div class="text-secondary">Billed From</div>
            <div class="mg-t-10 tx-medium ">{{_OInvoiceDetails.FromName || "--"}}</div>
            <div class="mg-t-10"> {{_OInvoiceDetails.FromAddress || "--"}} </div>
            <div class="mg-t-10 tx-13 tx-medium"> Email: <span>{{_OInvoiceDetails.FromEmailAddress || "--"}}</span>
            </div>
            <div class="mg-t-10 tx-13 tx-medium"> Phn: <span>{{_OInvoiceDetails.FromContactNumber || "--"}}</span></div>

        </div>
        <div class="tx-secondary">
            <div> Invoice number</div>
            <div class="tx-22"> #{{_OInvoiceDetails.InvoiceNumber || "--"}} </div>
        </div>
    </div>

    <div class="col-md-12 d-flex justify-content-between mg-t-35 pd-x-0">
        <div>
            <div class="text-secondary">Billed To</div>
            <div class="mg-t-10 tx-medium">{{_OInvoiceDetails.ToName || "--"}}</div>
            <div class="mg-t-10"> {{_OInvoiceDetails.ToAddress || "--"}} </div>
            <div class="mg-t-10 tx-13 tx-medium"> Email: <span>{{_OInvoiceDetails.ToEmailAddress || "--"}}</span></div>
            <div class="mg-t-10 tx-13 tx-medium"> Phn: <span>{{_OInvoiceDetails.TotalAmount || "--"}}</span></div>
        </div>
    </div>



</div>

<div class="row mg-t-50">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table  white">
                <thead>
                    <tr>
                        <th style="width: 60px">#</th>
                        <th>Description</th>
                        <th class="text-right" style="width: 140px">Qty</th>
                        

                        <th class="text-right" style="width: 110px">Total</th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let TItem of _OInvoiceDetails.Items">
                        <td>{{TItem.ReferenceId || "0"}}</td>
                        <td>{{TItem.Name || "--"}}</td>
                        
                        <td class="text-right">{{TItem.TotalItem || "0"}}</td>

                        <td class="text-right">
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{TItem.TotalAmount | number:'1.2-2'}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right"><strong>Subtotal</strong></td>
                        <td class="text-right">
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{_OInvoiceDetails.Amount | number:'1.2-2'}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right no-border"><strong>Discounts</strong></td>
                        <td class="text-right">
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{_OInvoiceDetails.DiscountAmount | number:'1.2-2'}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right no-border"><strong>Charges</strong>
                        </td>
                        <td class="text-right">
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{_OInvoiceDetails.Charge | number:'1.2-2'}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right"><strong>Total</strong></td>
                        <td class="text-right"><strong>
                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                {{_OInvoiceDetails.TotalAmount | number:'1.2-2'}}
                            </strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->