<!-- acquirer--merchants--list -->


<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
      Flash Deals</a></li>
</ol>

<div class="card ">
    <div class="card-header tx-medium">
        Flash Deals
    </div>

    <div class="box-header px-3 pd-t-15 pd-b-7  d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="DealsList_Config.SearchParameter" maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}" (keyup)="DealsList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" (click)="DealsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
                </div>
            </div>


        </div>
        <div class="d-flex ml-auto">
            <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2" [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]" (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

        </div>

        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="DealsList_sdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">


                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="DealsList_Config.Sort.SortOrder == 'desc'" (click)="DealsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="DealsList_Config.Sort.SortOrder == 'asc'" (click)="DealsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of DealsList_Config.Sort.SortOptions" (click)="DealsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
                        <button type="button" class="btn btn-primary btn-sm  mg-t-20" (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="DealsList_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <div class="form-group position-relative" id="deal_flashdeals_date">
                                <label>Date</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsFn('#deal_flashdeals_date')" (selected)="DealsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)"
                                />
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <select2 class="wd-100p" [value]="_DataHelperService.statusValue" [data]="DealsList_Config.StatusOptions" (valueChanged)="DealsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)" [options]="_DataHelperService.S2_Status_Option"></select2>
                            </div>
                        </div>

                        <button type="button" class="btn btn-light btn-sm mr-2" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
                        <button type="button" class="btn btn-primary btn-sm " (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer" (click)="DealsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i data-feather="refresh-cw"></i> </a>
        </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-8">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
            {{_HelperService.FilterSnap.StatusName}}
            <span (click)="RemoveFilterComponent('Status')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span (click)="RemoveFilterComponent('Sort')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>

        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.StartTime">
            {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].DisplayName}}
            <span (click)="RemoveFilterComponent('Other',i)" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary" *ngFor="let TItem of DealsList_Config.Filters">{{TItem.Title}}</span>

    </div>

    <div class="card-body p-0 table-responsive">
        <table class="table  mb-0">
            <thead>
                <tr>
                    <th>
                        Banner
                    </th>
                    <th class="" *ngIf="ColumnConfig[1].Value">
                        Title
                    </th>
                    <th class="" *ngIf="ColumnConfig[2].Value">
                        Merchant
                    </th>
                    <th class="" *ngIf="ColumnConfig[5].Value">
                        Started On
                    </th>
                    <th class="text-center" *ngIf="ColumnConfig[3].Value">
                        EndOn
                    </th>
                    <th class="text-right"> Payable To Merchant(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>) </th>

                    <!-- <th class="text-center" *ngIf="ColumnConfig[4].Value">
            Deals Availability
          </th> -->
                    <th class="text-center" *ngIf="ColumnConfig[4].Value">
                        Maximum Unit Sale
                    </th>

                    <th class="text-center" *ngIf="ColumnConfig[6].Value">
                        Deals Sold
                    </th>

                    <th class="d-flex">
                        <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;" data-toggle="tooltip" title="Edit Your Column" (click)="OpenEditColModal()">
              <!-- <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i> -->
            </span>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" *ngFor="let TItem of DealsList_Config.Data  | paginate: { id: 'DealsList_Paginator',itemsPerPage: DealsList_Config.PageRecordLimit, currentPage: DealsList_Config.ActivePage,  totalItems: DealsList_Config.TotalRecords }; let i = index">
                    <td class="d-flex align-items-center" (click)="DealsList_RowSelected(TItem);" *ngIf="ColumnConfig[0].Value">
                        <!-- <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span> -->

                        <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.ImageUrl}}" class="img wd-200 ht-100  bd bd-2" [style.border-color]="TItem.StatusC">

                        <i *ngIf="(TItem.IsFlashDeal)" style="
              position: relative;
              left: -196px;
              top: -43px;
          " class="fas fa-bolt tx-24 tx-MasterCard"></i>
                    </td>
                    <td (click)="DealsList_RowSelected(TItem);">
                        <div class="tx-14 tx-semibold wd-200">{{TItem.Title || "--"}}</div>
                        <div class="tx-12 wd-200" style="text-overflow: ellipsis;margin-top:25px">
                            <span class="text-secondary"> <i class="far fa-eye"></i> Viewed By</span>&nbsp; <span style="font-weight: 500;">{{TItem.CustomerView ||
                "0"}} Customers</span>
                        </div>

                        <!-- <div class="text-secondary tx-12 wd-200">
              {{TItem.Description  || "--"}}
            </div> -->

                    </td>
                    <td class="cursor-pointer route-hover" *ngIf="ColumnConfig[1].Value" (click)="MerchantRoute(TItem);">


                        <div class=" tx-14 wd-150" style="text-overflow: ellipsis;color: black;" (click)="MerchantRoute(TItem);">
                            {{TItem.AccountDisplayName || "--"}}
                        </div>

                        <div class="text-primary tx-14 wd-150" style="text-overflow: ellipsis;">
                            @ all stores
                        </div>


                    </td>
                    <td class="wd-100" *ngIf="ColumnConfig[2].Value" (click)="DealsList_RowSelected(TItem);">
                        <div class="tx-14">{{TItem.StartDateS || "--"}}
                        </div>
                        <div class="text-secondary tx-12" *ngIf="TItem && TItem.StartDate">
                            {{TItem.StartTime || "--"}}
                        </div>
                    </td>
                    <td class="wd-100" *ngIf="ColumnConfig[5].Value" (click)="DealsList_RowSelected(TItem);">
                        <div>{{TItem.EndDateS || "--"}}</div>
                        <div class="text-secondary tx-12" *ngIf="TItem && TItem.EndDate">
                            {{TItem.EndTime || "--"}}
                        </div>
                        <!-- {{TItem.Schedule.length!=0?TItem.Schedule['StartHour']:'00:00'}} -->
                    </td>

                    <td class="text-right"> <span [innerHtml]="_HelperService.AppConfig.Currency"></span>{{TItem.MerchantAmount | number: "1.2-2" || "--"}} </td>

                    <td class="text-center" *ngIf="ColumnConfig[3].Value" (click)="DealsList_RowSelected(TItem);">
                        {{TItem.MaximumUnitSale - TItem.TotalPurchase}}/{{TItem.MaximumUnitSale || "--"}}
                    </td>

                    <td class="text-center" *ngIf="ColumnConfig[3].Value" (click)="DealsList_RowSelected(TItem);">
                        {{TItem.TotalPurchase || "--"}}
                    </td>

                    <td class="">
                        <div>
                            <div class="dropdown dropleft">
                                <!-- (click)="SubAccountsList_RowSelected(TItem)" -->
                                <a href="" class="nav-link pt-0 mt-0" id="SubAccountsList_rdropdown_{{i}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                                <div class="dropdown-menu tx-13">
                                    <form class="wd-250  pd-15">
                                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">More Actions
                                        </h6>
                                        <a [hidden]="TItem.StatusCode!='deal.draft'" *ngIf="isUpdate" class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="Update_RowSelected(TItem);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-edit"></i></span>Update
                                        </a>
                                        <a [hidden]="TItem.StatusCode =='deal.draft'" *ngIf="isView" class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="DealsList_RowSelected(TItem);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-info-circle"></i></span>Details
                                        </a>

                                        <a *ngIf="TItem.StatusCode == 'deal.draft' && isDelete" class="dropdown-item cursor-pointer  {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="DeleteDeal(TItem);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-edit"></i></span>Delete Deal
                                        </a>

                                        <a *ngIf="isMarkUnMark" class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="UnMarkAsFlash(TItem);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-bolt"></i></span>Unmark from flash
                                        </a>

                                        <a *ngIf="TItem.StatusCode == 'deal.approvalpending' && isUpdateStatus" class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="StatusUpdate(TItem,2);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-edit"></i></span>Update To Approved
                                        </a>
                                        <a *ngIf="isUpdateStatus && TItem.StatusCode == 'deal.draft' || TItem.StatusCode == 'deal.approved' || TItem.StatusCode == 'deal.paused'" class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                                            (click)="StatusUpdate(TItem,3);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-edit"></i></span>Update To Published
                                        </a>
                                        <a *ngIf="isUpdateStatus && TItem.StatusCode == 'deal.published'" class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="StatusUpdate(TItem , 4);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-edit"></i></span>Update To Paused
                                        </a>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{DealsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{DealsList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{DealsList_Config.TotalRecords}}
        </span>
        <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="DealsList_Config.PageRecordLimit"
        (ngModelChange)="DealsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
        <span class="float-right">
      <pagination-controls id="DealsList_Paginator" class="pagination pagination-space"
        (pageChange)="DealsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
    </div>
</div>