 .line {
   width: 2px;
   background-color: lightgrey !important;
 }

 .lead {
   font-size: 1.1rem;
 }

 ::ng-deep .success::before {
   border: 2px solid #54B363 !important;
 }

 ::ng-deep .pending::before{
   border: 2px solid #7987A1 !important;
 }
