<!-- 
  <div class="stepper d-flex flex-column mt-5 ml-2">
    <div class="d-flex mb-1">
      <div class="d-flex flex-column pr-4 align-items-center">
        <div class="rounded-circle py-2 px-3 bg-primary text-white mb-1"><i class="fas fa-disc"></i></div>
        <div class="line h-100"></div>
      </div>
      <div>
        <h5 class="text-dark">Loan Request raised</h5>
        <p class="lead text-muted pb-3"><i class="fas fa-check-circle"></i> N 25,000 credited to TUC as first part</p>
        <p class="lead text-muted pb-3">08-02-2021 | 10:30pm</p>
      </div>
    </div>
    <div class="d-flex mb-1">
      <div class="d-flex flex-column pr-4 align-items-center">
        <div class="rounded-circle py-2 px-3 bg-primary text-white mb-1"><i class="fas fa-disc"></i></div>
        <div class="line h-100"></div>
      </div>
      <div>
        <h5 class="text-dark">Approved and Loan code credited successfully to customer</h5>
        <p class="lead text-muted pb-3"><i class="fas fa-check-circle"></i> N 100,000 credited in TUC account</p>
        <p class="lead text-muted pb-3">08-02-2021 | 10:30pm</p>
      </div>
    </div>
    <div class="d-flex mb-1">
      <div class="d-flex flex-column pr-4 align-items-center">
        <div class="rounded-circle py-2 px-3 bg-primary text-white mb-1"><i class="fas fa-disc"></i></div>
        <div class="line h-100"></div>
      </div>
      <div>
        <h5 class="text-dark">Loan card successfully redeemed at merchant</h5>
        <p class="lead text-muted pb-3">08-02-2021 | 10:30pm</p>
      </div>
    </div>
    <div class="d-flex mb-1">
      <div class="d-flex flex-column pr-4 align-items-center">
        <div class="rounded-circle py-2 px-3 bg-primary text-white mb-1"><i class="fas fa-disc"></i></div>
        <div class="line h-100"></div>
      </div>
      <div>
        <h5 class="text-dark">TUC settled N 100,000 with merchant</h5>
        <p class="lead text-muted pb-3">08-02-2021 | 10:30pm</p>
      </div>
    </div>
    <div class="d-flex mb-1">
      <div class="d-flex flex-column pr-4 align-items-center">
        <div class="rounded-circle py-2 px-3 bg-primary text-white mb-1"><i class="fas fa-disc"></i></div>
        <div class="line h-100"></div>
      </div>
      <div>
        <h5 class="text-dark">2nd Repayment- N 31,000 paid</h5>
        <p class="lead text-muted pb-3">08-02-2021 | 10:30pm</p>
      </div>
    </div>
    <div class="d-flex mb-1">
      <div class="d-flex flex-column pr-4 align-items-center">
        <div class="rounded-circle py-2 px-3 bg-gray-600 text-white mb-1"><i class="fas fa-disc"></i></div>
        <div class="line h-100"></div>
      </div>
      <div>
        <h5 class="text-muted">3rd Repayment- N 31,000 paid</h5>
        <p class="lead text-muted pb-3">08-02-2021 | 10:30pm</p>
      </div>
    </div>
    <div class="d-flex mb-1">
      <div class="d-flex flex-column pr-4 align-items-center">
        <div class="rounded-circle py-2 px-3 bg-gray-600 text-white mb-1"><i class="fas fa-disc"></i></div>
        <div class="line h-100 d-none"></div>
      </div>
      <div>
        <h5 class="text-muted">4th Repayment- N 31,000 paid</h5>
        <p class="lead text-muted pb-3">08-02-2021 | 10:30pm</p>
      </div>
    </div>
  </div> -->
<!-- <div class="row">

</div> -->
<div class="content">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div>
      <span class="tx-semibold tx-16">Activity Timeline</span>
    </div>

    <div class="media d-block d-lg-flex mg-t-20">
      <div class="media-body">
        <div class="timeline-group tx-13" *ngIf="timelineData?.Data && timelineData?.Data.length > 0">
          <div class="timeline-item" *ngFor="let item of timelineData?.Data">
            <div class="timeline-body" [ngClass]="item.IsCompleted ? 'success' : 'pending'">
              <p class="mg-b-0 tx-12 " [ngClass]="item.IsCompleted ? 'tx-semibold' : 'text-secondary'">
                {{item.Description}}</p>
              <p *ngIf="item.otherDetails" class="tx-12" [ngClass]="item.IsCompleted ? 'tx-normal' : 'text-secondary'">
                {{item.otherDetails}}</p>
              <p class="x-12 text-secondary" *ngIf="item.date">
                {{item.date | date:"dd-MM-yyyy" }} | {{item.date | date:"hh:mm a" }}</p>
            </div><!-- timeline-body -->
          </div><!-- timeline-item -->
        </div><!-- timeline-group -->
        <div *ngIf="timelineData?.Data?.length == 0 || !timelineData.Data ">
          <p>No data found</p>
        </div>
      </div><!-- media-body -->
    </div><!-- media -->
  </div><!-- container -->
</div><!-- content -->