<!-- Customer--Deal--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.DealsOverview}}"
            [routerLinkActive]="['active']">
            Overview</a></li>

    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            [routerLinkActive]="['active']">PendingPickups
        </a></li>
</ol>
<div class="card bd-b-0 pd-20 mt-3">
    <ul class="nav nav-line" id="myTab5" role="tablist">

        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" id="Terminal-tab5" [routerLinkActive]="['active']" data-toggle="tab" role="tab"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.AllPickups.PendingPickup}}"
                aria-controls="pickups" aria-selected="false">
                Pending Pickups
            </a>
        </li>
        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.AllPickups.CancelledPickup}}"
                aria-controls="Stores" aria-selected="false">
                Cancelled
            </a>
        </li>
        <!-- <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.AllPickups.ReturnedRequest}}"
                aria-controls="Stores" aria-selected="false">
                Returned Requested
            </a>
        </li> -->

    </ul>
</div>
<router-outlet></router-outlet>