<div class="row row-xs">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <div class="card ht-100p">
      <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
        <div>
          <h6 class="mg-b-5 "> App Downloads</h6>
          <div class="tx-12 text-secondary"> New App Downloads </div>

          <!-- TODO Insert Actual Date Picker -->
        </div>
        <div class="btn-group mg-t-20 mg-sm-t-0">
          <button class="btn btn-xs btn-white btn-uppercase" (click)="changeToWeek()">Week</button>
          <button class="btn btn-xs btn-white btn-uppercase" (click)="changeToMonth()">Month</button>
          <button class="btn btn-xs btn-white btn-uppercase" (click)="changeToYear()">Year</button>
        </div>
        <!-- <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
          <li class="list-inline-item d-flex align-items-center">
            <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
            <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
              {{_Sale.ActualStartDate | date :["dd LLL"]}}</span>
          </li>
          <li class="list-inline-item d-flex align-items-center mg-l-5">
            <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
            <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Sale.CompareStartDate | date :["dd
              LLL"]}}</span>
          </li>

        </ul> -->
      </div><!-- card-header -->
      <div class="card-body pd-lg-25">
        <div class="row ">
          <div style="
            display: block;
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  right: 50%; /* or: left: 50%; */
 " *ngIf="LoadingChart" class="text-center m-auto text-muted" style="top: 50% !important; left: 50% !important;">
            <div class="spinner-border"></div>
          </div>
          <div class="col-lg-12 col-xl-12 ht-100p" *ngIf="this.SalelineChartData[0].data.length != 0">
            <canvas *ngIf="showSaleChart" baseChart #DataPlot="base-chart" [datasets]="SalelineChartData"
              [labels]="SalelineChartLabels" [options]="_HelperService.ChartConfig.BarChart.Options"
              [colors]="SalelineChartColors" [plugins]="_HelperService.ChartConfig.BarChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.BarChart.Type">
            </canvas>
          </div>

          <div *ngIf="!LoadingChart">
            <div class="col-lg-12 col-xl-12 ht-100p" *ngIf="this.SalelineChartData[0].data.length == 0">
              <div style="height:200px" class="text-center m-auto  text-muted">
                <div>
                  <div>
                    <div
                      class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                      <img src="../../../../../assets/images/walk.svg" alt="">
                    </div>
                    <div class="pt-3">
                      <span class="text-dark tx-bold tx-14 "> No rewards given in this timeframe </span><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div><!-- card-body -->
    </div><!-- card -->
  </div>
</div>

<!-- </div> -->