<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" routerLink=""
      [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active"><a class="" [routerLinkActive]="['active']">
      Buy now,Pay later-Settlements</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Invoice</a></li>
</ol>
<div class="card" id="invoice">
  <div class="content">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <div class="d-flex">

            <h4 class="mg-b-5"> <a class="cursor-pointer " (click)="_HelperService.NavigateBack()" style="padding-top: 1px;
              color: #4285F4;padding-right: 3px;"> 
              <span style="font-size: 25px;"> < </span> </a> Invoice #{{_SettlmentDetails.InvoiceNumber}}</h4>
          </div>
          <p class="mg-b-0 tx-color-03">Issued on {{_SettlmentDetails.CreateDate |date:'mediumDate' || "--"}}
          </p>
        </div>
        <div class="mg-t-20 mg-sm-t-0">
          <button class="btn btn-white" (click)="htmltoPDF()"><i data-feather="printer" class="mg-r-5"></i>
            Print</button>
          <button class="btn btn-white mg-l-5" (click)="sendEmail()"><i data-feather="mail" class="mg-r-5"></i> Email</button>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-top: -25px; margin-bottom: -10px;">
  <div class="content tx-13" id="content">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
      <div class="row">
        <div class="col-sm-6">
          <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed From</label>
          <h6 class="tx-15 mg-b-10">{{_SettlmentDetails.ProviderName || "--"}}</h6>
          <p class="mg-b-0">{{ _SettlmentDetails.ProviderAddress || "--"}}</p>
          <!-- <p class="mg-b-0">Tel No: {{ _SettlmentDetails.ProviderMobileNumber }}</p> -->
          <p class="mg-b-0">Email: {{_SettlmentDetails.ProviderEmailAddress || "--"}}</p>
        </div><!-- col -->
        <div class="col-sm-6 tx-right d-none d-md-block">
          <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Invoice Number</label>
          <h1 class="tx-normal tx-color-04 mg-b-10 tx-spacing--2">#{{_SettlmentDetails.InvoiceNumber}}</h1>
        </div><!-- col -->
        <div class="col-sm-6 col-lg-8 mg-t-40 mg-sm-t-0 mg-md-t-40">
          <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed To</label>
          <h6 class="tx-15 mg-b-10">{{_SettlmentDetails.MerchantAccountName || "--"}}</h6>
          <p class="mg-b-0">{{ _SettlmentDetails.MerchantAccountAddress || "--"}}</p>
          <!-- <p class="mg-b-0">Tel No: {{ _SettlmentDetails.MerchantAccountMobileNumber }}</p> -->
          <p class="mg-b-0">Email: {{_SettlmentDetails.MerchantAccountEmailAddress || "--"}}</p>
        </div><!-- col -->
      </div><!-- row -->

      <div class="table-responsive mg-t-40">
        <table class="table table-invoice bd-b">
          <thead>
            <tr>
              <th style="width: 60%;padding: 0.75rem 0;">Service</th>
              <th style="width:20%"></th>
              <th style="width:20%; padding-right: 25px;" class="text-right">Amount</th>
              <!-- <th class="text-right">Amount</th> -->
            </tr>
          </thead>
          <tbody>
            <tr style="height: 85px;">
              <td style="width: 60%; padding-top:20px;">
                <div>BNPL Loan {{_SettlmentDetails.LoanId || "--"}}</div>
                <div class="text-muted">Redeemed on :{{_SettlmentDetails.LoanRedeemDate | date :'dd-MM-yyyy'|| "--"}}
                </div>
                <div>Loan Amount :  {{_SettlmentDetails.LoanAmount || 0}}</div>
              </td>
              <td style="width:20% ;padding-top:20px;"></td>
              <td style="width:20% ;padding-right :25px" class="text-right">{{_SettlmentDetails.Amount || "0"}}</td>
              <!-- <td class="tx-right" style="padding-right: 25px;padding-top:20px;"> ₦ {{_SettlmentDetails.LoanAmount || "--"}}</td> -->
            </tr>
            <tr style="height: 85px;">
              <td style="width:60%"></td>
              <td style="width:20%">
                <!-- <div>Sub total</div> -->
                <div>TUC Processing Fees</div>
              </td>
              <td class="tx-right" style="padding-right: 25px;">
                <!-- <div>₦ {{_SettlmentDetails.subTotal || "--"}}</div> -->
                <div><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_SettlmentDetails.TUCFees || "--"}}</div>
              </td>
            </tr>
            <tr>
              <td style="width:60%"></td>
              <td style="width:20%" class="tx-semibold">Total</td>
              <td class="tx-right tx-semibold" style="padding-right: 25px;"><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_SettlmentDetails.TUCFees || "--"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>