<div class="card-body">

  <div class="mb-3 bg-ui-01 p-3">
    <div class="tx-dark _500">BNPL</div>
    <div class="text-secondary">
      Enable or disable BNPL
    </div>
    <!-- <div class=" text-warning mb-2 text-xs">Default options is disabled
    </div> -->
    <div class="col-md-10 col-sm-10 col-xs-12 p-0">
      <div class="form-group">
        <div class="radio float-left mr-3">
          <label class="ui-check"><input type="radio" name="thankucashbnpl" value="1" [value]="'1'"
              [(ngModel)]="_Configurations.BNPL_Config">
            <i class="dark-white"></i> Enable</label>
        </div>
        <div class="radio  float-left mr-3"><label class="ui-check"><input type="radio" name="thankucashbnpl" value="0"
              [value]="'0'" [(ngModel)]="_Configurations.BNPL_Config">
            <i class="dark-white"></i> Disable</label></div>
      </div>
      <button class="btn btn-white text-warn" type="button" style="margin-top: -7px;"
        (click)="BNPLEnable_Disable()">Update</button>
    </div>
  </div>
</div>