<div class="card bd-t-0 px-3 pb-3 pt-0">

  <div class="row row-xs mg-b-10">
      <div class="col-sm-6 col-lg-3 ">
          <div class="card card-body shadow-none ht-100p">
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                  <h3 class="tx-rubik  mg-b-8 mg-r-5 lh-1">
                      {{_AccountOverview.TotalSale | number: "1.2-2" || "--"}}</h3>
                  <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-success">1.2% <i
                class="icon ion-md-arrow-up"></i></span></p> -->

              </div>
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">TRANSACTIONS</h6>

              <p class="tx-12 tx-color-03 mg-b-0"> Total transactions on all pos during selected period </p>
          </div>
      </div><!-- col -->
      <div class="col-sm-6 col-lg-3 mg-t-10  mg-sm-t-0">
          <div class="card card-body shadow-none ht-100p">
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                  <h3 class="tx-rubik mg-b-8 mg-r-5 lh-1">
                      <span class=" text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.TotalSale | number: "1.2-2" || "--"}}
                  </h3>
                  <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->

              </div>
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">TOTAL SALE</h6>

              <p class="tx-12 tx-color-03 mg-b-0"> Total transaction amount on all terminals during selected period
              </p>


          </div>
      </div><!-- col -->
      <div class="col-sm-6 col-lg-3 mg-t-10  mg-lg-t-0">
          <div class="card card-body shadow-none ht-100p">
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                  <h3 class=" tx-rubik  mg-b-8 mg-r-5 lh-1">
                      {{_AccountOverview.TotalSale | number: "1.2-2" || "--"}} </h3>
                  <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->

              </div>
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">AVG TRANSACTIONS</h6>

              <p class="tx-12 tx-color-03 mg-b-0"> Average transaction count per POS at all locations</p>


          </div>
      </div><!-- col -->
      <div class="col-sm-6 col-lg-3 mg-t-10  mg-lg-t-0">
          <div class="card card-body shadow-none ht-100p">
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                  <h3 class=" tx-rubik  mg-b-8 mg-r-5 lh-1">
                      <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.TotalSale | number: "1.2-2" || "--"}}
                  </h3>
                  <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->

              </div>
              <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">AVG. TRANSACTIONS AMT</h6>

              <p class="tx-12 tx-color-03 mg-b-0"> Average transaction amount per POS in all POS</p>
          </div>
      </div><!-- col -->
  </div>

  <div class="row row-xs">
      <div class="col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
          <div>
            <h6 class="mg-b-5">Sales and Reward metrics</h6>
            <p class="tx-11 text-secondary mg-b-0">Sales and visits by this Customer
            </p>
          </div>
          <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0 mg-10">
            <li class="list-inline-item d-flex align-items-center text-center">
              <div class="text-success"> <i data-feather="git-commit"></i><br>
                <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">SALE BY RETURNING</div>
              </div>
  
            </li>
            <li class="list-inline-item d-flex align-items-center text-center">
              <div class="text-secondary"> <i data-feather="git-commit"></i><br>
                <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">Reward Amount</div>
              </div>
  
  
          </ul>
          <!-- btn-group -->
        </div><!-- card-header -->
          <div class="card-body">
            <canvas class="" baseChart #DataPlot="base-chart" [datasets]="barChartData"
            [options]="BarChartOptions" [colors]="barChartColors"
             [plugins]="BarChartOptions.Plugins" [chartType]="_HelperService.ChartConfig.BarChart.Type">
           </canvas>
          </div>
        </div>
      </div>
      </div>


</div>