<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
            Deals</a></li>

</ol>


<div class="d-flex justify-content-between" *ngIf="DisableRejectedDiv && enabledealview">
    <span class="  text-danger pd-y-10 pd-x-15 bd tx-medium" style="border-bottom-left-radius: 5px!important; border-top-left-radius: 5px!important; border-right: 0px !important; background-color: #FCEBED !important; ">
        {{_GetoverviewSummary.Rejected}} Deals are rejected, please review these deals</span>
    <div class="input-group-prepend" style="margin-right: 700px;">
        <a style=" background-color: white !important; border-bottom-right-radius: 5px !important; border-top-right-radius: 5px !important; border-bottom-left-radius: 0px!important; border-top-left-radius: 0px!important;" (click)="DealsList_Setup1()" class="input-group-text text-primary cursor-pointer">View Deals</a>
    </div>
</div>
<br>

<div class=" d-flex justify-content-between">
    <div class="mg-b-10 full-width">
        <ul class="nav nav-line flex-row flex-grow" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab3" data-toggle="tab" href="#Published" role="tab" aria-controls="home3" aria-selected="true" (click)="DealerList_ListTypeChange(3)">Running <span
                        class="badge  tx-dark tx-11 mg-l-5   {{SelectStatusRunning?  'bg-success text-white' :'bg-gray-300' }} ">
                        {{_GetoverviewSummary.Running || "0"}}
                    </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="home-tab2" data-toggle="tab" href="#approved" role="tab" aria-controls="home2" aria-selected="true" (click)="DealerList_ListTypeChange(2)">Upcoming<span
                        class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusUpcoming?  'bg-teal text-white' :'bg-gray-300' }}">
                        {{_GetoverviewSummary.Upcoming || "0"}}
                    </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="home-tab4" data-toggle="tab" href="#Paused" role="tab" aria-controls="home4" aria-selected="true" (click)="DealerList_ListTypeChange(4)">Paused <span
                        class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusPaused?  'bg-warning text-white' :'' }}">
                        {{_GetoverviewSummary.Paused || "0"}}
                    </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab5" data-toggle="tab" href="#Drafts" role="tab" aria-controls="contact3" aria-selected="false" (click)="DealerList_ListTypeChange(5)">Drafts<span
                        class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusDraft?  'bg-dark text-white' :''}}">
                        {{_GetoverviewSummary.Draft || "0"}} </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="home-tab23" data-toggle="tab" href="#Expired" role="tab" aria-controls="home12" aria-selected="true" (click)="DealerList_ListTypeChange(6) ">Expired <span
                        class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusExpired?  'bg-light ' :'' }}">
                        {{_GetoverviewSummary.Expired || "0"}}
                    </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="profile-tab1" data-toggle="tab" href="#Pending" role="tab" aria-controls="profile" aria-selected="false" (click)="DealerList_ListTypeChange(1)">Approval
                    Pending <span
                        class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusApprovalpending?  'bg-danger text-white' :'' }}">
                        {{_GetoverviewSummary.ApprovalPending || "0"}}
                    </span> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab44" data-toggle="tab" href="#All" role="tab" aria-controls="contact88" aria-selected="false" (click)="DealerList_ListTypeChange(0)">All<span
                        class="badge bg-gray-300 tx-dark tx-11 mg-l-5">{{_GetoverviewSummary.Total || "0"}}</span></a>
            </li>
            <li class="nav-item ml-auto pnvalid" data-permission="dealadd">
                <a class="nav-link btn btn-primary tx-13  ht-30  d-flex  align-items-center cursor-pointer text-white px-2" (click)="AddNewDeal()">
                    Create New Deal
                </a>
            </li>

        </ul>
        <!-- <div> <button class="btn btn-primary btn-xs mg-5" (click)="AddNewDeal()"> Create New Deal </button></div> -->
    </div>
</div>

<div class="card ">
    <div class="box-header px-3 pd-t-15 pd-b-7 d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="DealsList_Config.SearchParameter" maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}" (keyup)="DealsList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" (click)="DealsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">
                        <i data-feather="search"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="d-flex ml-auto">
            <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i>
            </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2" [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]" (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

        </div>
        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="DealsList_sdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">


                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="DealsList_Config.Sort.SortOrder == 'desc'" (click)="DealsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="DealsList_Config.Sort.SortOrder == 'asc'" (click)="DealsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of DealsList_Config.Sort.SortOptions" (click)="DealsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>

                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm  mg-t-20" (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>



            <!-- all filters (main) start -->
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="DealsList_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-300  pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <div class="form-group position-relative" id="date_rangeoptionss">
                                <label>Start Date</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions" (selected)="DealsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div>
                        </div>

                        <div>
                            <div class="form-group" *ngIf="DisableRejectedDiv && enabledealview">
                                <label>Status</label>
                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p" [data]="DealsList_Config.StatusOptions" (valueChanged)="DealsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2>
                            </div>
                            <div class="form-group">
                                <label>Merchant</label>
                                <div class="form-group">
                                    <select2 class="full-width" [options]="TUTr_Filter_Merchant_Option" (valueChanged)="TUTr_Filter_Merchants_Change($event)">
                                    </select2>
                                </div>
                            </div>
                        </div>


                        <!-- flash deals start -->
                        <div class="row mg-b-10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div>
                                        <label>Flash Deals</label>
                                    </div>
                                    <div class="radio float-left mg-r-25">
                                        <label class="ui-check">
                                            <input type="radio" name="CouponValidity" value='false'
                                                [(ngModel)]="flashOptionCurrent" (change)="FlashList_ToggleOption()">
                                            <i class="dark-white"></i>All
                                        </label>
                                    </div>
                                    <div class="radio  float-left mg-r-25">
                                        <label class="ui-check">
                                            <input type="radio" name="CouponValidity" value='true'
                                                [(ngModel)]="flashOptionCurrent" (change)="FlashList_ToggleOption()">
                                            <i class="dark-white"></i>
                                            Flash Deals</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- flash deals end -->

                        <!-- Avail Deal Min start -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="controls">
                                        <label for="InvoiceRangeMaxAmount">Avail Deal Min</label>
                                        <input type="number" name="InvoiceRangeMinAmount" maxlength="256" class="form-control" [(ngModel)]="Deal_AvailableRangeMinAmount" min="0" (keyup)="DealsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="controls">
                                        <label for="InvoiceRangeMaxAmount">Avail Deal Max</label>
                                        <input type="number" name="InvoiceRangeMaxAmount" maxlength="256" class="form-control" [(ngModel)]="Deal_AvailableRangeMaxAmount" min="0" (keyup)="DealsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Avail Deal Min start -->


                        <!-- sold deal Min start -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="controls">
                                        <label for="InvoiceRangeMaxAmount">Sold Deal Min</label>
                                        <input type="number" name="InvoiceRangeMinAmount" maxlength="256" class="form-control" [(ngModel)]="Deal_SoldRangeMinAmount" min="0" (keyup)="DealsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="controls">
                                        <label for="InvoiceRangeMaxAmount">Sold Deal Max</label>
                                        <input type="number" name="InvoiceRangeMaxAmount" maxlength="256" class="form-control" [(ngModel)]="Deal_SoldRangeMaxAmount" min="0" (keyup)="DealsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- sold deal Min start -->

                        <button type="button" class="btn btn-light btn-sm mr-2" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm " (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                </div>
            </div>
            <!-- all filters (main) end -->


            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer" (click)="DealsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                <i data-feather="refresh-cw"></i>
            </a>
        </nav>
    </div>







    <div class="pt-0 pd-l-15 pd-b-8">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
            {{_HelperService.FilterSnap.StatusName}}
            <span (click)="RemoveFilterComponent('Status')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" +
                _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span (click)="RemoveFilterComponent('Sort')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>

        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.StartTime">
            {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].DisplayName}}
            <span (click)="RemoveFilterComponent('Other',i)" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary" *ngFor="let TItem of DealsList_Config.Filters">{{TItem.Title}}</span>

    </div>
    <div class="pt-0 pd-l-15 pd-b-5">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.DealMin == 0 && _HelperService.FilterSnap.SalesRange.DealMax == 10000000)" (click)="RemoveFilterComponent('Deals')">
            Deals [{{_HelperService.FilterSnap.SalesRange.DealMin + "--" + _HelperService.FilterSnap.SalesRange.DealMax}}]
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.DealPurchaseMin == 0 && _HelperService.FilterSnap.SalesRange.DealPurchaseMax == 10000000)" (click)="RemoveFilterComponent('SoldDeals')">
            Sold Deals [{{_HelperService.FilterSnap.SalesRange.DealPurchaseMin + "--" + _HelperService.FilterSnap.SalesRange.DealPurchaseMax}}]

            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
    </div>

    <div class="card-body p-0 table-responsive">
        <table class="table  mb-0">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Banner
                    </th>
                    <th class="" *ngIf="ColumnConfig[1].Value">
                        Title
                    </th>
                    <th class="" *ngIf="ColumnConfig[2].Value">
                        Merchant
                    </th>
                    <th class="" *ngIf="ColumnConfig[5].Value">
                        Started On
                    </th>
                    <th class="" *ngIf="ColumnConfig[3].Value">
                        EndsOn
                    </th>
                    <th class="text-right"> Payable To Merchant(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
                    <th class="text-center" *ngIf="ColumnConfig[4].Value">
                        Deals Availability
                    </th>

                    <th class="text-center" *ngIf="ListType != 2">
                        Deals Sold
                    </th>

                    <th class="text-center" *ngIf="ListType == 1">
                        Action
                    </th>

                    <th class="d-flex">
                        <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;" data-toggle="tooltip" title="Edit Your Column" (click)="OpenEditColModal()">
                        </span>
                    </th>

                </tr>
            </thead>

            <tbody>
                <tr class="cursor-pointer" *ngFor="let TItem of DealsList_Config.Data  | paginate: { id: 'DealsList_Paginator',itemsPerPage: DealsList_Config.PageRecordLimit, currentPage: DealsList_Config.ActivePage,  totalItems: DealsList_Config.TotalRecords }; let i = index">

                    <td>

                        <a style="border-radius: 28px;background: #d6dddd;margin-top: 7px;" class="nav-link  d-flex  align-items-center text-white px-2" *ngIf="!(TItem.IsFlashDeal) && TItem.StatusCode == 'deal.published'" (click)="MarkAsFlash(TItem);CloseRowModal(i)">
                            <i style=" left: -196px;color: #FFFFFF !important; " class="fas fa-bolt"></i>
                        </a>

                        <a style="border-radius: 28px;background: #EE9800;margin-top: 7px;" class="nav-link  d-flex  align-items-center text-white px-2" *ngIf="(TItem.IsFlashDeal) && TItem.StatusCode == 'deal.published'" (click)="UnMarkAsFlash(TItem);CloseRowModal(i)">
                            <i style=" left: -196px;color: #FFFFFF !important; " class="fas fa-bolt"></i>
                        </a>


                        <a style="border-radius: 24px;background: #d6dddd;width: 32px;margin-top: 7px;" class="nav-link  mg-t-5 d-flex  align-items-center text-white px-2" *ngIf="!(TItem.IsDealPromoted) && TItem.StatusCode == 'deal.published'" (click)="MarkAsPromote(TItem);CloseRowModal(i)">
                            <i style="left: -196px;color: #FFFFFF !important;" class="fas fa-bullhorn"></i>
                        </a>

                        <a style="border-radius: 24px;background: #00CCCC;width: 32px;margin-top: 7px;" class="nav-link  mg-t-5 d-flex  align-items-center text-white px-2" *ngIf="(TItem.IsDealPromoted) && TItem.StatusCode == 'deal.published' && (TItem.IsDealPromotedActive)"
                            (click)="ManageAsPromote(TItem)">
                            <i style="left: -196px;color: #FFFFFF !important;" class="fas fa-bullhorn"></i>
                        </a>

                        <a style="border-radius: 24px;background: #d6dddd;width: 32px;margin-top: 7px;" class="nav-link  mg-t-5 d-flex  align-items-center text-white px-2" *ngIf="(TItem.IsDealPromoted) && TItem.StatusCode == 'deal.published' && !(TItem.IsDealPromotedActive)"
                            (click)="ManageAsPromote(TItem)">
                            <i style="left: -196px;color: #FFFFFF !important;" class="fas fa-bullhorn"></i>
                        </a>


                    </td>
                    <td class="d-flex align-items-center" *ngIf="ColumnConfig[0].Value">
                        <img class="br" *ngIf="TItem.StatusCode!='deal.expired'" (error)="_HelperService.defaultImage($event)" src="{{TItem.ImageUrl}}" class="img mx-wd-150 bd bd-2 rounded" style="height: 80px;" [style.border-color]="TItem.StatusC">
                        <img class="br" *ngIf="TItem.StatusCode=='deal.expired'" (error)="_HelperService.defaultImage($event)" src="{{TItem.ImageUrl}}" class="img mx-wd-150 bd bd-2 rounded" style="height: 80px;border-color: red;">
                    </td>
                    <td (click)="DealsList_RowSelected(TItem);">
                        <div class="tx-14 tx-semibold wd-200" [innerHtml]="TItem.Title"></div>
                        <div>
                            <label class="text-bold" style="color: #5B47FB;">
                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{TItem.SellingPrice ||"--"}}
                            </label>&nbsp;

                            <label class="text-bold" style="margin-bottom: 0px;"> 
                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                <s> {{TItem.ActualPrice||"--"}}</s>
                             </label>
                        </div>
                        <div>
                            <span class="badge badge-info" *ngIf="TItem.DealTypeName != undefined && TItem.DealTypeCode == 'dealtype.service'">{{TItem.DealTypeName}}</span>
                            <span class="badge badge-primary" *ngIf="TItem.DealTypeName != undefined && TItem.DealTypeCode == 'dealtype.product'">{{TItem.DealTypeName}}</span> &nbsp;
                            <span class="badge badge-secondary" *ngIf="TItem.DeliveryTypeName != undefined">{{TItem.DeliveryTypeName}}</span>
                        </div>

                        <!-- <div class="tx-12 wd-150" style="text-overflow: ellipsis;margin-top:12px">
              <span class="text-secondary"> <i class="far fa-eye"></i> Viewed By</span>&nbsp; <span
                style="font-weight: 500;">{{TItem.Views ||
                "0"}} Customers</span>
            </div> -->

                    </td>


                    <td class="cursor-pointer route-hover" *ngIf="ColumnConfig[1].Value">
                        <div class=" tx-14 " style="text-overflow: ellipsis;color: black;" (click)="MerchantRoute(TItem);">
                            {{TItem.AccountDisplayName || "--"}}
                        </div>

                        <!-- <div class="text-primary tx-14 wd-150" style="text-overflow: ellipsis;">
              @ all stores
            </div> -->

                    </td>
                    <td class="wd-100" *ngIf="ColumnConfig[2].Value" (click)="DealsList_RowSelected(TItem);">
                        <div class="tx-14">{{TItem.StartDatePart.Date || "--"}}
                        </div>
                        <div class="text-secondary tx-12" *ngIf="TItem && TItem.StartDatePart">
                            {{TItem.StartDatePart.Time || "--"}}
                        </div>
                    </td>

                    <td class="wd-100" *ngIf="ColumnConfig[5].Value" (click)="DealsList_RowSelected(TItem);">
                        <div class="tx-14">{{TItem.EndDatePart.Date || "--"}}</div>
                        <div class="text-secondary tx-12" *ngIf="TItem && TItem.EndDatePart">
                            {{TItem.EndDatePart.Time || "--"}}
                        </div>
                    </td>


                    <td class="text-right"> <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> {{TItem.MerchantAmount | number: "1.2-2" || "--"}} </td>

                    <td class="text-center" *ngIf="ColumnConfig[3].Value" (click)="DealsList_RowSelected(TItem);">
                        {{TItem.TotalAvailable || "0"}}/{{TItem.MaximumUnitSale || "0"}}
                    </td>
                    <td class="text-center" *ngIf="ListType != 2" (click)="DealsList_RowSelected(TItem);">
                        {{TItem.TotalPurchase || "0"}}
                    </td>
                    <td class="text-center" *ngIf="ListType == 1">
                        <button type="button" style="width: 85px;" class="btn btn-outline-primary float-right mg-r-5" (click)="Deal_Approve_popup(TItem)">
                            Approve
                        </button>

                        <button type="button" style="width: 85px;" class="btn btn-outline-danger float-right mg-r-5 mg-t-10" (click)="Deal_deny(TItem)">
                            Deny
                        </button>
                    </td>

                    <td class="">
                        <div>
                            <div class="dropdown dropleft">

                                <a href="" class="nav-link" id="SubAccountsList_rdropdown_{{i}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                                <div class="dropdown-menu tx-13">
                                    <form class="wd-250  pd-15">
                                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                                            More Actions
                                        </h6>
                                        <a [hidden]="TItem.StatusCode!='deal.draft'" class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="Update_RowSelected(TItem);CloseRowModal(i)">
                                            <span class="pd-r-10">
                                                <i class=" fas fa-edit"></i>
                                            </span> Update/Publish Draft
                                        </a>

                                        <a [hidden]="TItem.StatusCode =='deal.draft'" *ngIf="isView" class="dropdown-item cursor-pointer  {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="DealsList_RowSelected(TItem);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-info-circle"></i></span> Details
                                        </a>

                                        <a [hidden]="!(TItem.StatusCode =='deal.paused')" *ngIf="isPauseResume" class="dropdown-item cursor-pointer  {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="StatusUpdate(TItem,3);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-play"></i></span> Resume Deal
                                        </a>

                                        <a [hidden]="!(TItem.StatusCode =='deal.published')" *ngIf="isExtendDeal" class="dropdown-item cursor-pointer  {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="GetDealDetails(TItem,'schedule');CloseRowModal(i)">
                                            <span class="pd-r-10"><i class="fas fa-calendar-week"></i></span> Extend Deal
                                        </a>

                                        <a [hidden]="!(TItem.StatusCode =='deal.published')" *ngIf="isAddCoupon" class="dropdown-item cursor-pointer pnvalid {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="GetDealDetails(TItem,'coupons');CloseRowModal(i)">
                                            <span class="pd-r-10"><i class="fas fa-plus"></i></span> Add More Coupon
                                        </a>

                                        <a *ngIf="TItem.StatusCode == 'deal.draft'" class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="DeleteDeal(TItem);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-trash"></i></span>Delete Draft
                                        </a>
                                        <a *ngIf="!(TItem.IsFlashDeal) && TItem.StatusCode == 'deal.published' && isMarkUnMark " class="dropdown-item cursor-pointer  {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="MarkAsFlash(TItem);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-bolt"></i></span> Mark as flash deal
                                        </a>




                                        <a *ngIf="(TItem.IsFlashDeal) && isMarkUnMark" class="dropdown-item cursor-pointer  {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="UnMarkAsFlash(TItem);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-bolt"></i></span>Unmark flash deal
                                        </a>

                                        <a *ngIf="TItem.StatusCode == 'deal.published' && isPauseResume" class="dropdown-item cursor-pointer  {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="StatusUpdate(TItem , 4);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-pause"></i></span> Pause Deal
                                        </a>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
            {{ 'Common.Showing' | translate }}
            <span class="bold">{{DealsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{DealsList_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{DealsList_Config.TotalRecords}}
        </span>
        <span>
            {{ 'Common.Show' | translate }}
            <select class="wd-50 " [(ngModel)]="DealsList_Config.PageRecordLimit"
                (ngModelChange)="DealsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right">
            <pagination-controls id="DealsList_Paginator" class="pagination pagination-space"
                (pageChange)="DealsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>
</div>





<div class="modal fade" id="Deal_deny" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="height: 360px;">
            <div class="modal-header">
                <h5 class="modal-title">Do you really want to deny this request?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body  ht-460">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Write comment<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <textarea type="text" placeholder="Please write reasons to deny this request ,It will help the merchant to create appropriate deal" name="comment" minlength="4" maxlength="500" class="form-control" [formControl]="Form_AddUser.controls['comment']" [ngClass]="{'is-invalid':!Form_AddUser.controls['comment'].valid && Form_AddUser.controls['comment'].touched}"></textarea>
                            </div>
                            <label class="text-danger" for="comment" *ngIf="Form_AddUser.controls['comment'].hasError('required') && Form_AddUser.controls['comment'].touched">
                                Enter Comment
                            </label>
                            <label class="text-danger" for="comment" *ngIf="Form_AddUser.controls['comment'].hasError('minlength') || Form_AddUser.controls['comment'].hasError('maxlength')">
                                Comment must be between 4 to 500 characters
                            </label>
                        </div>
                    </div>
                    <!-- <div class="col-md-12"></div> -->
                </div>
            </div>
            <span class="tx-12 mg-b-20" style="margin-left:15px;"><i class="text-danger" style="height:17px"
                    data-feather="alert-triangle"></i>&nbsp; If you deny this deal request , merchant will failed to
                publish this
                deal</span>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" [disabled]="!Form_AddUser.valid" (click)="deal_deny_confirm()">
                    Deny deal</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Deal_approve1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="height: 260px;">
            <div class="modal-header">
                <h5 class="modal-title">Do you want to approve this deal request?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body  ht-460">
                <div class="row ">
                    <div class="col-md-12 mg-t-10">

                        <label>If you approve this request, merchant will able to publish this deal on scheduled date
                            and time
                        </label>

                    </div>
                    <!-- <div class="col-md-12"></div> -->
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="Deal_Approve()">
                    Approve deal</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>




<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3" *ngIf="_ImageManager.ActiveImage != undefined && _ImageManager.ActiveImage != null">
                            <image-cropper [imageFileChanged]="_ImageManager.ActiveImage.file" [aspectRatio]="2 / 1" [format]="jpeg" [maintainAspectRatio]="_ImageManager.Option.MaintainAspectRatio" [cropperMinWidth]="_ImageManager.Option.MinimumWidth" [cropperMinHeight]="_ImageManager.Option.MinimumHeight"
                                [resizeToWidth]="_ImageManager.Option.ResizeToWidth" (imageCroppedBase64)="Icon_B64Cropped($event)" (imageLoaded)="_HelperService.Icon_Crop_Loaded()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " (click)="Icon_B64CroppedDone()" data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning " (click)="Icon_Crop_Clear()">{{
                                    'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="PromoteDeal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Do you want to promote this deal on website?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div><label class=" tx-14">{{_DealDetails.Title}}</label></div>
                        <div class="form-group">
                            <label for="  "> Start Date</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [formControl]="Form_Promote.controls['StartDate']" [options]="_DealPromotionConfig.StartDateConfig" readonly (selected)="DealPromotionScheduleStartDateRangeChange($event)"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="  "> End Date</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [formControl]="Form_Promote.controls['EndDate']" [options]="_DealPromotionConfig.EndDateConfig" readonly (selected)="DealPromotionScheduleEndDateRangeChange($event)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="  "> Location</label>
                            <div class="controls">
                                <select2 class="full-width" *ngIf="AShowCategorySelector" [options]="_HelperService.Select2Options_Multiple_Location" [value]="SelectedBusinessCategories" [data]="S2BusinessCategories" (valueChanged)="CategoriesSelected($event)">
                                </select2>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <label for="  ">Upload Banner Image</label>
                        <input-file fileAccept="image/*" sizeLimit="400" fileLimit="1" [formControl]="Form_Promote.controls['ImageContent']" (deletedFile)="removeImage()" (acceptedFile)="onImageAccept1($event)">
                        </input-file>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_Promote_Deal_Close()">Close</button>
                <button type="button" class="btn btn-primary" (click)="Form_Promote_Process()"> Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ManagePromoteDeal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Promotion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Form_ManagePromote_Close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ht-500">
                <div class="row">
                    <div class="col-md-12" *ngIf="Selectedurl!=undefined">
                        <div class="form-group">
                            <label>URL<span class="text-danger">*</span></label>
                            <div class="controls">
                                <input type="text" class="form-control " name="Url" [(ngModel)]="Selectedurl" [formControl]="Form_ManagePromote.controls['Url']" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="DealTitle!=undefined">
                        <div class="form-group">
                            <label>Deal Title<span class="text-danger">*</span></label>
                            <div class="controls">
                                <input type="text" class="form-control " name="DealTitle" [(ngModel)]="DealTitle" [formControl]="Form_ManagePromote.controls['DealTitle']" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="  "> Start Date</label>
                            <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_DealPromotionConfig.StartDateConfig" [disabled]="_DealPromotionConfig.StartDate == null" [formControl]="Form_ManagePromote.controls['StartDate']" (selected)="ManageStartDateRangeChange($event)"
                            />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label> End Date</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_DealPromotionConfig.EndDateConfig" [disabled]="_DealPromotionConfig.EndDate == null" [formControl]="Form_ManagePromote.controls['EndDate']" (selected)="ManageEndDateRangeChange($event)"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="  "> Location</label>
                            <div class="controls">
                                <select2 class="full-width" *ngIf="ShowCategorySelector" [options]="_HelperService.Select2Options_Multiple_Location" [value]="ESelectedBusinessCategories" [data]="S2BusinessCategories" (valueChanged)="ECategoriesSelected($event)">
                                </select2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Banner Image
                            </label>
                            <div>
                                <input-file fileAccept="image/*" sizeLimit="400" fileLimit="1" [formControl]="Form_Promote.controls['ImageContent']" (deletedFile)="removeImage()" (acceptedFile)="onImageAccept1($event)">
                                </input-file>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 py-4" *ngIf="!checkpromoteimage">
                        <div class="form-group">
                            <label>
                            </label>
                            <div class="card card-file" style="height: 166px;width: 148px;">
                                <img [src]="Selectedimage" class="img-fluid" style="width: 131px;height: 119px;">
                                <div class="card-body p-2">
                                    <button type="button" (click)="removeImage()" class="btn btn-xs btn-block btn-outline-danger">Remove
                                        Image</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 py-4" *ngIf="checkpromoteimage">
                        <div class="form-group">
                            <label>
                            </label>
                            <div class="card card-file" style="height: 162px;width: 148px; border: none;">
                                <img [src]="Selectedimage" class="img-fluid" style="width: 147px;height: 157px;">
                                <div class="card-body p-2">
                                    <!-- <button type="button" (click)="removeImage()" class="btn btn-xs btn-block btn-outline-danger">Remove
                    Image</button> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between pd-l-15">
                <button *ngIf="DealStatus=='default.active'" type="button" (click)="OnOffPromoteDeal()" class="btn  btn-danger  ">Stop Promotion
                </button>
                <button *ngIf="DealStatus=='default.inactive'" type="button" (click)="OnOffPromoteDeal()" class="btn  btn-primary">Start Promotion
                </button>
                <div class="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_ManagePromote_Close()">Close</button>&nbsp;
                    <button type="button" class="btn btn-primary" (click)="Form_ManagePromote_Process()"> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddCoupons" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Coupon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ht-200">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="tx-secondary" for="  "> New Coupon Count</label>
                            <div class="controls">
                                <input type="number" min="1" max="5000" class="form-control " [(ngModel)]="CouponCount" (keyup)="checkcount()" name="count" />
                                <label class="text-danger" for="ContactNumber" *ngIf="coupancount">Enter
                                    Maximum 5000 coupons only</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="coupancount" (click)="EditStock()">
                    Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AllLocation" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Redeem Locations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ht-500 pd-x-20 pd-t-0 mg-t-0" style="overflow-y: auto !important;">
                <div class="bd-b pd-y-15" *ngFor="let TItem of _DealDetails.Locations">
                    <div class="tx-14 tx-dark tx-semibold"> {{ TItem.DisplayName || "--"}} </div>
                    <div class="tx-14 text-secondary"> {{ TItem.Address || "--" }} </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="FlashDeal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mark As Flash</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ht-300">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="  "> Start Date</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_FlashDealConfig.StartDateConfig" readonly [(ngModel)]="_FlashDealConfig.StartDateS" (selected)="FlashDealScheduleStartDateRangeChange($event)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="  "> End Date</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_FlashDealConfig.EndDateConfig" readonly [(ngModel)]="_FlashDealConfig.EndDateS" (selected)="FlashDealScheduleEndDateRangeChange($event)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="SaveFlash()"> Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditSchedule" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Extend Deal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body  ht-260">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="tx-secondary"> Start Date</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_DealDetailsConfig.StartDateConfig" readonly [(ngModel)]="_DealDetailsConfig.StartDateS" (selected)="ExtendScheduleStartDateRangeChange($event)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for=""> End Date </label>
                            <span class="text-danger"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_DealDetailsConfig.EndDateConfig" readonly [(ngModel)]="_DealDetailsConfig.EndDateS" (selected)="ExtendScheduleEndDateRangeChange($event)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="ExtendSchedule()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>