<!-- acquirer--merchants--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']"> Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">User
            Admin Management</a></li>
</ol>
<div id="accordion">
    <!-- <div class="card shadow-none gredientBorder">
        <div class="card-header pb-0 bd-b-0" id="headingOne">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl" [hidden]="!isLoaded"><img
                                [style.border-color]="_AdminDetails.StatusC"
                                (error)="_HelperService.defaultImage($event)" src="{{_AdminDetails.IconUrl }}"
                                class="rounded-circle bd bd-2" alt=""> </div>
                        <div class="placeholder-media wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 bd-b bd-2 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media  Hm-textCenterMd" [hidden]="!isLoaded">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-spacing--1 tx-medium text-capitalize  mg-b-2">
                                {{ _AdminDetails.DisplayName || "--"}}

                                <span class="{{_AdminDetails.StatusB}} mg-l-5">
                                    {{_AdminDetails.StatusName || "--"}} </span>
                            </h6>
                            <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-dark tx-normal  lh-2 mg-b-0 d-flex">
                                    
                                    <span>{{_AdminDetails.RoleName || "--"}}</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="placeholder-paragraph wd-100p wd-sm-55p wd-md-45p pd-b-10" [hidden]="isLoaded">
                        <div class="line"></div>
                    </div>
                </div>
                <div class="col-lg-6   bd-b bd-2 Hm-media768 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                 
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                   

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-outline-primary mg-b-20
                                    rounded-50 float-right" (click)="Form_EditUser_Show()"> Edit Account </button>
                                </div>
                              

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-0 pb-0">
                <div class="row">

                    <div class="col-lg-1 d-flex justify-content-center">
                        <span *ngIf="_AdminDetails.GenderName == 'Female'" class="text-primary"> <i
                                class="fas fa-venus tx-20 mg-r-2"></i>{{_AdminDetails.GenderName || "--"}}</span>
                        <span *ngIf="_AdminDetails.GenderName == 'Male'" class="text-primary"> <i
                                class="fas fa-mars tx-20 mg-r-2"></i>{{_AdminDetails.GenderName || "--"}}</span>

                    </div>
                    <div class="col-lg-11">
                        <div class="row row pd-y-15">
                            <div class="col-sm-12 col-md-4 col-lg-4 bd-r">
                                <ul class="list-unstyled profile-info-list">
                                    <li class="tx-color-03"><i data-feather="phone"></i> <span class="tx-color-03">
                                            <span class="tx-color-03 mr-2"> Mobile No. </span>
                                            <span class="text-primary">
                                                {{_AdminDetails.MobileNumber || "--"}} </span></span></li>
                                    <li class="tx-color-03"><i data-feather="mail"></i> <a class="tx-color-03"> <span
                                                class="text-primary"> <span class="tx-color-03 mr-2"> Email ID </span>
                                                {{_AdminDetails.EmailAddress || "--"}} </span></a></li>

                                </ul>

                            </div>

                            <div class="col-sm-12 col-md-4 col-lg-4 Hm-media768 bd-r">

                                <ul class="list-unstyled profile-info-list">

                                    <li class="tx-color-03"><i data-feather="user"></i> <a> <span
                                                class="text-secondary mr-2"> Added on </span>
                                            <span class="tx-verve"> {{_AdminDetails.CreateDateS || "--"}} </span>
                                        </a>
                                    </li>


                                    <li class="tx-color-03">
                                        <span *ngIf="_AdminDetails.GenderName == 'Female'" class="">
                                            <i class="fas fa-venus tx-20 mg-r-20"></i>
                                        </span>

                                        <span
                                            *ngIf="_AdminDetails.GenderName == 'Male' || _AdminDetails.GenderName == undefined"
                                            class=""> <i data-feather="user"></i>
                                        </span>

                                        <a class="tx-color-03">
                                            <span class="text-secondary mr-2"> Added by </span>
                                            <span class="tx-verve">{{_AdminDetails.CreatedByDisplayName || "--"}}</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 Hm-media768">

                                <ul class="list-unstyled profile-info-list">
                                    <li class="tx-color-03"> <span class="text-secondary">
                                            <span class="mr-2">Last updated on</span>
                                            <span class="tx-verve">
                                                {{_AdminDetails.ModifyDateS || "--"}}</span></span></li>
                                    <li class="tx-color-03"> <a class="text-secondary"> <span class="mr-2"> Updated by
                                            </span>
                                            <span class="tx-verve">
                                                {{_AdminDetails.ModifyByDisplayName || "--"}}</span></a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            


            </div>
        </div>
    </div> -->

    <div class="card  bd-b-0 pd-x-20 pd-b-20 pd-t-10 mt-3">
        <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist" [routerLinkActive]="['active']">

            <div class="d-flex flex-wrap ">
                <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="viewusers">
                    <a class="nav-link" id="Stores-tab5" data-toggle="tab" [routerLinkActive]="['active']" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AdminUsers}}" role="tab" aria-controls="home" aria-selected="true"> Team</a>
                </li>
                <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="viewroles">
                    <a class="nav-link" id="POS-tab5" data-toggle="tab" [routerLinkActive]="['active']" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AdminRoles}}" role="tab" aria-controls="home" aria-selected="true"> Roles</a>
                </li>
                <!-- <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                    <a class="nav-link" id="Cashier-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Credentials}}" role="tab"
                        aria-controls="home" aria-selected="true">Password & Security</a>
                </li> -->
            </div>

            <div class="row  d-flex no-gutters">
                <!-- <button class="btn btn-primary rounded-pill tx-12 py-1 mg-r-5" (click)="AddBulkTerminal()"
            *ngIf="_HelperService.showAddNewPosBtn" style="height: 30px;"> Bulk terminal </button> -->
                <ng-container *ngIf="_HelperService.showAddNewUserBtn">
                    <button class="btn btn-primary rounded-pill tx-12 py-1 pnvalid" [ngClass]="{'pvalid': _HelperService.showAddNewUserBtn}" data-permission="adduser" (click)="Form_AddUser_Show()" style="height: 30px;"> Add New User </button>
                </ng-container>
                <ng-container *ngIf="_HelperService.showAddNewRoleBtn">
                    <button class="btn btn-primary rounded-pill tx-12 py-1 pnvalid" [ngClass]="{'pvalid': _HelperService.showAddNewRoleBtn}" data-permission="addrole" (click)="AddRole()" style="height: 30px;"> Add New Role </button>
                </ng-container>
                <!-- <button class="btn btn-primary rounded-pill tx-12 py-1" (click)="AddRole()"
                    *ngIf="_HelperService.showAddNewRoleBtn" style="height: 30px;"> Add New Role </button> -->
                <!-- <div class=" col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class="  mg-r-10 order-1">
                    <input type="text" class="form-control tx-13 form-daterangepicker" style="height: 30px;"
                        name="daterangeInput" daterangepicker
                        [options]="_HelperService.AppConfig.DatePickerOptionsForToday"
                        (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>

            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" data-toggle="buttons" style="height: 30px;"
                *ngIf="_HelperService.ShowDateRange">
                <label
                    class="btn btn-xs pb-0 mb-0 tx-13    d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label
                    class="btn btn-xs  pb-0 mb-0 tx-13  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label
                    class="btn pb-0 mb-0 btn-xs tx-13  active d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div> -->
            </div>
        </ul>
    </div>
    <!-- <div class="card mb-3 bg bd mt-3">
    <div class="navbar navbar-expand-lg  mt-2">
        <li class="d-lg-none d-flex align-items-center">
            <a href="#" class="mx-2" data-toggle="collapse" data-target="#navbarToggler"><svg
                    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512">
                    <path d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z"></path>
                </svg></a>
        </li>
        <div class="collapse navbar-collapse order-lg-1  " id="navbarToggler">
            <ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLinkActive]="['active']"
                        routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchant.Dashboard}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}">
                        <span class="nav-text">{{"System.Menu.Dashboard" | translate}}</span>
                    </a>
                </li>

                <li class="nav-item dropdown" [routerLinkActive]="['active']">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sale </a>
                    <div class="dropdown-menu mt-2 w pt-2 mt-2 animate fadeIn">
                        <a [routerLinkActive]="['active']" class="dropdown-item"
                            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchant.SalesHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}">
                            Sales History</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->
    <router-outlet></router-outlet>


    <div id="Account_Edit_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered dropdown ">
            <div class="modal-content">
                <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Profile</h5>
                    </div>
                    <div class="modal-body  p-lg">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label class="tx-13 ">First Name<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" placeholder="First Name" name="FirstName" minlength="1" maxlength="100" class="form-control" [formControl]="Form_EditUser.controls['FirstName']" [(ngModel)]="_AdminDetails.FirstName" [ngClass]="{'is-invalid':!Form_EditUser.controls['FirstName'].valid && Form_EditUser.controls['FirstName'].touched}">
                                        </div>

                                        <label class="text-danger" for="FirstName" *ngIf="Form_EditUser.controls['FirstName'].hasError('required') && Form_EditUser.controls['FirstName'].touched">
                                            First Name Required
                                        </label>
                                        <!-- <label class="text-danger" for="RewardPercentage"
                                        *ngIf="Form_EditUser.controls['Value'].hasError('min') || Form_EditUser.controls['Value'].hasError('max')">
                                        reward percentage must be between 0 to 100
                                    </label> -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="tx-13 ">Last Name<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" placeholder="Last Name" name="LastName" minlength="1" maxlength="100" class="form-control" [formControl]="Form_EditUser.controls['LastName']" [(ngModel)]="_AdminDetails.LastName" [ngClass]="{'is-invalid':!Form_EditUser.controls['LastName'].valid && Form_EditUser.controls['LastName'].touched}">
                                        </div>

                                        <label class="text-danger" for="LastName" *ngIf="Form_EditUser.controls['LastName'].hasError('required') && Form_EditUser.controls['LastName'].touched">
                                            Last name required
                                        </label>
                                        <!-- <label class="text-danger" for="LastName"
                                        *ngIf="Form_EditUser.controls['LastName'].hasError('min') || Form_EditUser.controls['LastName'].hasError('max')">
                                        reward percentage must be between 0 to 100
                                    </label> -->
                                    </div>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="tx-13 ">Contact Number<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" placeholder="Mobile Number" name="MobileNumber" minlength="1" maxlength="100" class="form-control" [formControl]="Form_EditUser.controls['MobileNumber']" [(ngModel)]="_AdminDetails.MobileNumber" [ngClass]="{'is-invalid':!Form_EditUser.controls['MobileNumber'].valid && Form_EditUser.controls['MobileNumber'].touched}">
                                        </div>

                                        <label class="text-danger" for="MobileNumber" *ngIf="Form_EditUser.controls['MobileNumber'].hasError('required') && Form_EditUser.controls['MobileNumber'].touched">
                                            Contact Number Required
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="tx-13 ">Email Address</label>
                                        <div class="controls">
                                            <input type="text" placeholder="Email Address" name="EmailAddress" minlength="1" maxlength="100" class="form-control" [(ngModel)]="_AdminDetails.EmailAddress" [formControl]="Form_EditUser.controls['EmailAddress']" [ngClass]="{'is-invalid':!Form_EditUser.controls['EmailAddress'].valid && Form_EditUser.controls['EmailAddress'].touched}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div> <label>{{'System.Users.Gender' | translate }}<span
                                                    class="text-danger">*</span>
                                            </label>
                                        </div>
                                        <div class="radio float-left mr-3">
                                            <label class="ui-check"><input type="radio" name="gender"
                                                    [value]="_HelperService.AppConfig.Gender.Male"
                                                    [(ngModel)]="_AdminDetails.GenderCode"
                                                    [formControl]="Form_EditUser.controls['GenderCode']">
                                                <i class="dark-white"></i>
                                                {{ 'System.Users.Male' | translate }}</label>
                                        </div>
                                        <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                                                    name="gender" [value]="_HelperService.AppConfig.Gender.Female"
                                                    [(ngModel)]="_AdminDetails.GenderCode"
                                                    [formControl]="Form_EditUser.controls['GenderCode']">
                                                <i class="dark-white"></i>
                                                {{ 'System.Users.Female' | translate }}</label></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div>
                                            <label>{{ "System.Users.AccountStatus" | translate
                                                }}<span class="text-danger">*</span>
                                            </label>
                                        </div>
                                        <div class="radio float-left mr-3">
                                            <label class="ui-check"><input type="radio" name="statusoptions"
                                                    [value]="_HelperService.AppConfig.Status.Active"
                                                    [(ngModel)]="_AdminDetails.StatusCode"
                                                    [formControl]="Form_EditUser.controls['StatusCode']" />
                                                <i class="dark-white"></i>
                                                {{ "Common.Active" | translate }}</label>
                                        </div>
                                        <div class="radio  mr-3">
                                            <label class="ui-check"><input type="radio" name="statusoptions"
                                                    [value]="_HelperService.AppConfig.Status.Inactive"
                                                    [(ngModel)]="_AdminDetails.StatusCode"
                                                    [formControl]="Form_EditUser.controls['StatusCode']" />
                                                <i class="dark-white"></i>
                                                {{ "Common.Inactive" | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_EditUser_Close()">
                            {{ "Common.Close" | translate }}
                        </button>
                        <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_EditUser.value.OperationType = 'new'" [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                {{ "Common.Update" | translate }}
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                {{ "Common.PleaseWait" | translate }}...
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="Add_User_Content" class="modal fade " data-backdrop="true" aria-hidden="true" style="overflow-y: auto !important ;">
        <div class="modal-lg modal-dialog modal-dialog-centered dropdown ">
            <div class="modal-content">
                <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                    <div class="modal-header">
                        <h5 class="modal-title ml-3">Add Admin User</h5>
                    </div>
                    <div class="modal-body  p-lg">
                        <div class="col-md-12">
                            <div class="modal-header pd-y-8  px-0 tx-uppercase tx-14 bd-2">
                                Personal Information
                            </div>
                            <div class="row">
                                <div class="col-md-12 mg-b-10 ">
                                    <input-file (deletedFile)="removeImage()" class="d-flex wd-20p m-auto rounded-50" inputId="input-file" placeholder="" #inputfile>
                                        <i data-feather="airplay"> </i>
                                    </input-file>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label class="tx-13 ">First Name<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" placeholder="First Name" name="FirstName" minlength="1"
                                                maxlength="100" class="form-control"  
                                                onkeypress="return /[a-z]/i.test(event.key)"
                                                [formControl]="Form_AddUser.controls['FirstName']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['FirstName'].valid && Form_AddUser.controls['FirstName'].touched}">
                                        </div>

                                        <label class="text-danger" for="FirstName" *ngIf="Form_AddUser.controls['FirstName'].hasError('required') && Form_AddUser.controls['FirstName'].touched">
                                            First Name Required
                                        </label>
                                        <label class="text-danger" for="FirstName" *ngIf="Form_AddUser.controls['FirstName'].hasError('pattern')">
                                           Only Characters are allowed
                                        </label>
                                        <!-- <label class="text-danger" for="RewardPercentage"
                                        *ngIf="Form_AddUser.controls['Value'].hasError('min') || Form_AddUser.controls['Value'].hasError('max')">
                                        reward percentage must be between 0 to 100
                                    </label> -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="tx-13 ">Last Name<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" placeholder="Last Name" name="LastName" minlength="1"
                                                maxlength="100" class="form-control"  
                                                onkeypress="return /[a-z]/i.test(event.key)"

                                                [formControl]="Form_AddUser.controls['LastName']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['LastName'].valid && Form_AddUser.controls['LastName'].touched}">
                                        </div>

                                        <label class="text-danger" for="LastName" *ngIf="Form_AddUser.controls['LastName'].hasError('required') && Form_AddUser.controls['LastName'].touched">
                                            Last name required
                                        </label>
                                        <label class="text-danger" for="LastName" *ngIf="Form_AddUser.controls['LastName'].hasError('pattern')">
                                            Only Characters are allowed
                                         </label>
                                        <!-- <label class="text-danger" for="LastName"
                                        *ngIf="Form_AddUser.controls['LastName'].hasError('min') || Form_AddUser.controls['LastName'].hasError('max')">
                                        reward percentage must be between 0 to 100
                                    </label> -->
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group position-relative" id="addadminuser_dateofbirth">
                                        <label class="tx-13 ">Date Of Birth</label>
                                        <div class="input-group" name="daterangeInput" daterangepicker [options]="DateOfBirthPickerOptions" (selected)="DOB_ToggleOption($event)">
                                            <span class="form-control uneditable-input">
                                                {{ selectedDateOfBirth ==='' ? 'MM/DD/YYYY' : selectedDateOfBirth |
                                                date:'dd-MM-yyyy' }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div> <label>{{'System.Users.Gender' | translate }}<span
                                                    class="text-danger">*</span>
                                            </label>
                                        </div>
                                        <div class="radio float-left mr-3">
                                            <label class="ui-check"><input type="radio" name="gender"
                                                    [value]="_HelperService.AppConfig.Gender.Male"
                                                    [(ngModel)]="_AdminDetails.GenderCode"
                                                    [formControl]="Form_AddUser.controls['GenderCode']">
                                                <i class="dark-white"></i>
                                                {{ 'System.Users.Male' | translate }}</label>
                                        </div>
                                        <div class="radio float-left  mr-3"><label class="ui-check"><input type="radio"
                                                    name="gender" [value]="_HelperService.AppConfig.Gender.Female"
                                                    [(ngModel)]="_AdminDetails.GenderCode"
                                                    [formControl]="Form_AddUser.controls['GenderCode']">
                                                <i class="dark-white"></i>
                                                {{ 'System.Users.Female' | translate }}</label></div>

                                        <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                                                    name="gender" [value]="_HelperService.AppConfig.Gender.Other"
                                                    [(ngModel)]="_AdminDetails.GenderCode"
                                                    [formControl]="Form_EditUser.controls['GenderCode']">
                                                <i class="dark-white"></i>
                                                {{ 'System.Users.Other' | translate }}</label></div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-header pd-y-8 px-0  tx-uppercase tx-14 mg-b-15 bd-2">
                                Contact Information
                            </div>

                            <div class="row pd-0">
                                <div class="col-md-6 pd-0">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="tx-13 ">Email Address</label>
                                            <div class="controls">
                                                <input type="text" placeholder="Email Address" name="EmailAddress" minlength="1" maxlength="100" class="form-control" [formControl]="Form_AddUser.controls['EmailAddress']" [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="tx-13 ">Contact Number<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <!-- <div class='row'>
                                                    <div class="col-md-3 pd-r-0 text-gray">
                                                        <input type="text" placeholder="" name="Code" minlength="1"
                                                            maxlength="100" class="form-control"
                                                            [(ngModel)] = "this._HelperService.CountryCode"
                                                            [formControl]="Form_AddUser.controls['Code']"
                                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['Code'].valid && Form_AddUser.controls['Code'].touched}">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text" placeholder="Mobile Number"
                                                            name="MobileNumber" minlength="1" maxlength="100"
                                                            class="form-control"
                                                            [formControl]="Form_AddUser.controls['MobileNumber']"
                                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                                    </div>
                                                </div> -->

                                                <div class="input-group">
                                                    <div class="input-group-prepend" style="height: 38px;">
                                                        <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                                    </div>
                                                    <input type="text" placeholder="Contact Number" name="MobileNumber" minlength="8" maxlength="14" class="form-control contact-textbox-height" (keypress)="_HelperService.PreventText($event)" [formControl]="Form_AddUser.controls['MobileNumber']" [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                                </div>
                                            </div>
                                            <label class="text-danger" for="MobileNumber" *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">
                                                Contact Number Required
                                            </label>
                                            <label class="text-danger" for="MobileNumber"
                                                *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')">
                                                Contact number must be between 8 - 14 number
                                            </label>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6 pd-0">
                                    <div class="form-group">
                                        <label class="tx-13 ">Address<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <textarea type="text" rows="5" [formControl]="Form_AddUser.controls['Address']" placeholder="Address" name="Address" minlength="1" maxlength="100" class="form-control"> </textarea>
                                        </div>
                                        <!-- <label class="text-danger" for="Address" *ngIf="_AdminDetails.Address==null">
                                            Address Required
                                        </label> -->
                                    </div>
                                </div>
                            </div>
                            <div class="modal-header pd-y-8 px-0 tx-uppercase tx-14 mg-b-15 bd-2">
                                Role and reporting
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Assign Roles<span class="text-danger">*</span></label>
                                        <select2 [options]="GetRoles_Option" class="wd-100p" (valueChanged)="GetRoles_ListChange($event)">
                                        </select2>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Assign Reporting Manager</label>
                                        <select2 [options]="GetReporting_Option" class="wd-100p" (valueChanged)="GetReporting_ListChange($event)">
                                        </select2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <div class="controls">
                                            <span class="input-group-text">{{_HelperService.UserCountry.CountryName || "--"}}</span>
                                        </div>
                                        <!-- <select2 name="S2Country" class="full-width" [data]="countryList_Config" (valueChanged)="selectCountry($event)" [value]="selectedCountry" [options]="countryListOptions"></select2> -->
                                    </div>
                                </div>
                                <!-- <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Time Zone</label>

                                        <select2 name="S2timeZones" class="full-width" [data]="s2TimeZoneList" (valueChanged)="selectTimeZone($event)" [value]="selectedTimeZone" [options]="options"></select2>
                                    </div>
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div>
                                            <label>{{ "System.Users.AccountStatus" | translate
                                                }}<span class="text-danger">*</span>
                                            </label>
                                        </div>
                                        <div class="radio float-left mr-3">
                                            <label class="ui-check"><input type="radio" name="statusoptions"
                                                    [value]="_HelperService.AppConfig.Status.Active"
                                                    [(ngModel)]="_AdminDetails.StatusCode"
                                                    [formControl]="Form_AddUser.controls['StatusCode']" />
                                                <i class="dark-white"></i>
                                                {{ "Common.Active" | translate }}</label>
                                        </div>
                                        <div class="radio  mr-3">
                                            <label class="ui-check"><input type="radio" name="statusoptions"
                                                    [value]="_HelperService.AppConfig.Status.Inactive"
                                                    [(ngModel)]="_AdminDetails.StatusCode"
                                                    [formControl]="Form_AddUser.controls['StatusCode']" />
                                                <i class="dark-white"></i>
                                                {{ "Common.Inactive" | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
                            {{ "Common.Close" | translate }}
                        </button>
                        <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddUser.value.OperationType = 'new'" [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                {{ "Common.Save" | translate }}
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                {{ "Common.PleaseWait" | translate }}...
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="Add_Role_Content" class="modal fade " data-backdrop="true" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered dropdown ">
            <div class="modal-content">
                <form [formGroup]="FormAddRole" (ngSubmit)="FormAddRole_Process(FormAddRole.value)" role="form">
                    <div class="modal-header">

                        <h5 class="modal-title ml-3">Add New Admin Role</h5>
                    </div>
                    <div class="modal-body  p-lg">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <label class="tx-13 ">Role title<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" placeholder="Role title" name="Name" minlength="1" maxlength="100" class="form-control" [formControl]="FormAddRole.controls['Name']" [ngClass]="{'is-invalid':!FormAddRole.controls['Name'].valid && FormAddRole.controls['Name'].touched}">
                                        </div>
                                        <label class="text-danger" for="Name" *ngIf="FormAddRole.controls['Name'].hasError('required') && FormAddRole.controls['Name'].touched">
                                            Name Required
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Add Department<span class="text-danger">*</span></label>
                                        <select2 [options]="GetDepartments_Option" class="wd-100p" (valueChanged)="GetDepartments_ListChange($event)">
                                        </select2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Select Feature Access<span class="text-danger">*</span></label>
                                        <select2 [options]="GetFeatures_Option" class="wd-100p" (valueChanged)="GetFeatures_ListChange($event)">
                                        </select2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div> <label>{{'Common.Status' | translate }}<span class="text-danger">*</span>
                                            </label>
                                        </div>
                                        <div class="radio float-left mr-3">
                                            <label class="ui-check"><input type="radio" name="gender"
                                                    [value]="_HelperService.AppConfig.Status.Active"
                                                    [formControl]="FormAddRole.controls['StatusCode']">
                                                <i class="dark-white"></i>
                                                {{ 'Common.Active' | translate }}</label>
                                        </div>
                                        <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                                                    name="gender" [value]="_HelperService.AppConfig.Status.Inactive"
                                                    [formControl]="FormAddRole.controls['StatusCode']">
                                                <i class="dark-white"></i>
                                                {{ 'Common.Inactive' | translate }}</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="FormAddRole_Close()">
                            {{ "Common.Close" | translate }}
                        </button>
                        <button type="submit" class="btn btn-primary warn mr-2" (click)="FormAddRole.value.OperationType = 'new'" [disabled]="!FormAddRole.valid || _HelperService.IsFormProcessing || !SelectFeature">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                {{ "Common.Add" | translate }}
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                {{ "Common.PleaseWait" | translate }}...
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="m-3">
                                <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9" format="_HelperService.AppConfig.Icon_Cropper_Options.Format" [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio" [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                    [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight" [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth" (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                    (imageLoaded)="_HelperService.Icon_Crop_Loaded()">
                                </image-cropper>
                                <!-- (loadImageFailed)="_HelperService.Icon_Crop_Failed()" -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                            <div class="p-3">
                                <div class="mb-2">
                                    Image Preview
                                </div>
                                <div class="mb-2">
                                    <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success " data-dismiss="modal">{{
                                        'Common.PictureDone' |
                                        translate }}</button>
                                    <button type="button" class="btn btn-warning ml-2" (click)="resetImage()">{{ 'Common.PictureClearAndClose' |
                                        translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>