<body class="app-filemgr">
  <div class="content ht-100v pd-0">
    <div class="content-header">
      <svg *ngIf="!isSidebaropen" (click)="openSideBar()" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" class="feather feather-menu">
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
      <div class="content-search">
        <i data-feather="search"></i>
        <input type="search" class="form-control" placeholder="Search files" [(ngModel)]="searchTerm"
          (input)="search(searchTerm)">
      </div>
    </div><!-- content-header -->

    <div class="content-body pd-0">
      <div class="filemgr-wrapper filemgr-wrapper-two">
        <div class="filemgr-sidebar"
          [ngClass]="{'d-none': !isSidebaropen && !isSidebarVisible,'visible-sidebar':isSidebarVisible}">
          <div class="filemgr-sidebar-header">
            <div class="dropdown dropdown-icon flex-fill">
              <button class="btn btn-xs btn-block btn-white" data-toggle="dropdown">New <i
                  data-feather="chevron-down"></i></button>
              <div class="dropdown-menu dropdown-custom tx-13">
                <div class="dropdown-item" (click)="openNewFolderDialog()"><i
                    data-feather="folder"></i><span>Folder</span></div>
              </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
            <div class="dropdown dropdown-icon flex-fill mg-l-10">
              <button class="btn btn-xs btn-block btn-primary" data-toggle="dropdown">Upload <i
                  data-feather="chevron-down"></i></button>
              <div class="dropdown-menu dropdown-custom tx-13">
                <div class="dropdown-item" (click)="OpenImageEditorDialog()"><i
                    data-feather="file"></i><span>File</span></div>
              </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
          </div><!-- filemgr-sidebar-header -->
          <div class="filemgr-sidebar-body">
            <div class="pd-t-20 pd-b-10 pd-x-10">
              <label class="tx-sans tx-uppercase tx-medium tx-10 tx-spacing-1 tx-color-03 pd-l-10">My Drive</label>
              <nav class="nav nav-sidebar tx-13">
                <div class="nav-link active pointer"><i data-feather="folder"></i> <span>All Files</span></div>
              </nav>
            </div>
            <div class="pd-10">
              <!-- <label class="tx-sans tx-uppercase tx-medium tx-10 tx-spacing-1 tx-color-03 pd-l-10">File Library</label>
              <nav class="nav nav-sidebar tx-13">
                <div class="nav-link pointer"><i data-feather="image"></i> <span>Images</span></div>
                <div class="nav-link pointer"><i data-feather="video"></i> <span>Videos</span></div>
              </nav> -->
            </div>
          </div><!-- filemgr-sidebar-body -->
        </div><!-- filemgr-sidebar -->

        <div class="filemgr-content">
          <div class="filemgr-content-header">
            <mat-icon *ngIf="pathHistory.length > 1" class="pointer" (click)="navigateUp()">arrow_back</mat-icon>
            <h4 class="mg-b-0">{{currentPath ? this.currentPath : "All Files"}}</h4>
          </div><!-- filemgr-content-header -->
          <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
              <div class="filemgr-content-body">
                <div *ngIf="isLoading" class="spinner-border spinner" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="pd-20 pd-lg-15 pd-xl-15">
                  <label
                    class="d-block tx-medium tx-10 tx-uppercase tx-sans tx-spacing-1 tx-color-03 mg-b-15">Folders</label>
                  <div class="row row-xs">
                    <div *ngFor="let element of folderArr">
                      <div class="mg-sm-t-10">
                        <div class="media media-folder pointer">
                          <svg (click)="navigateDown(element)" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"
                            _ngcontent-fpy-c3="">
                            <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z">
                            </path>
                          </svg>
                          <div class="media-body" (click)="navigateDown(element)">
                            <h6 class="foldername">
                              <div class="link-02">{{element.name}}</div>
                            </h6>
                            <span class="folder-info">8 files, 76.3mb</span>
                          </div>
                          <div class="dropdown-file">
                            <a href="" class="dropdown-link" data-toggle="dropdown">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-more-vertical" _ngcontent-saj-c3="">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="12" cy="5" r="1"></circle>
                                <circle cx="12" cy="19" r="1"></circle>
                              </svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <div class="dropdown-item delete" (click)="deleteFolder(element)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round" class="feather feather-trash" _ngcontent-bko-c3="">
                                  <polyline points="3 6 5 6 21 6"></polyline>
                                  <path
                                    d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                  </path>
                                </svg>
                                Delete
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="mg-y-40 bd-0">
                  <div class="d-flex justify-content-between">
                    <div>
                      <label
                        class="d-block tx-medium tx-10 tx-uppercase tx-sans tx-spacing-1 tx-color-03 mg-b-15">Files</label>
                    </div>
                    <div>
                    </div>
                  </div>
                  <div class="row row-xs">
                    <div *ngFor="let element of fileArr | searchFilter: searchTerm" class="mg-t-10">
                      <div class="card card-file pointer" (click)="selectedImage(element)"
                        [ngClass]="{'selected-card': element.reference == elemRef }">
                        <div class="dropdown-file">
                          <a href="" class="dropdown-link" data-toggle="dropdown">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-more-vertical" _ngcontent-saj-c3="">
                              <circle cx="12" cy="12" r="1"></circle>
                              <circle cx="12" cy="5" r="1"></circle>
                              <circle cx="12" cy="19" r="1"></circle>
                            </svg>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-item download" (click)="downloadFile(element)">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-download" _ngcontent-bko-c3="">
                                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                                <polyline points="7 10 12 15 17 10"></polyline>
                                <line x1="12" y1="15" x2="12" y2="3"></line>
                              </svg>
                              Download
                            </div>
                            <div class="dropdown-item delete" (click)="deleteFile(element)">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-trash" _ngcontent-bko-c3="">
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path
                                  d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                </path>
                              </svg>
                              Delete
                            </div>
                          </div>
                        </div><!-- dropdown -->
                        <div class="card-file-thumb tx-primary">
                          <!-- <i class="far fa-file-word"></i> -->
                          <img [src]="element.thumbnail ? element.thumbnail : element.url" class="thumbnail">
                        </div>
                        <div class="card-body">
                          <h6></h6>
                          <p>{{element.name}}</p>
                          <!-- <span>{{element.formatedsize}}</span> -->
                        </div>
                      </div>
                    </div><!-- col -->
                    <!-- <div class="d-none d-xl-block wd-100p ht-10"></div> -->
                  </div>
                </div>
              </div><!-- filemgr-content-body -->
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <div class="filemgr-content-body image-info">
                <div *ngIf="isSelected">
                  <img class="img-info-icon" [src]=selectedImg.url>
                  <div class="file-lbl">
                    <p>FILE INFO</p>
                  </div>
                  <div class="file-info">
                    <table class="table table-borderless">
                      <thead>
                      <tbody>
                        <tr>
                          <td>Type</td>
                          <td>{{selectedImg.type}}</td>
                        </tr>
                        <tr>
                          <td>Resolution</td>
                          <td>{{selectedImg.resolution}}</td>
                        </tr>
                        <tr>
                          <td>Size</td>
                          <td>{{selectedImg.size}}</td>
                        </tr>
                        <tr>
                          <td>URL</td>
                          <td><a href={{selectedImg.url}} target="_blank">Go to URL</a></td>
                        </tr>
                        <tr>
                          <td>Date added</td>
                          <td>{{selectedImg.createDate | date:'mediumDate'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <hr />
                  <div>
                    <div class="actions-lbl">
                      <p>TAGS</p>
                    </div>
                    <div class="card tag-container">
                      <mat-form-field appearance="none" class="example-chip-list">
                        <mat-chip-list #chipList>
                          <mat-chip *ngFor="let tag of tagsData" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(tag)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input placeholder="" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="actions-lbl">
                    <p>ACTIONS</p>
                  </div>
                  <div>
                    <div class="edit-action pointer" (click)="editImage(selectedImg.url)">
                      <img height="20px" width="20px"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAA+klEQVRYhe2XMQ6CMBSGvwijrhzAQXRy9gCy6uKBjNdAVxMP4RncYHN3MobRBIfSpDEir6ZYTfgT8kr4037w3msKdJIpABIg8gWwAUogcz1xT+iLqzj2BdCaOgDvAKExDoA1MHrhmxnjg2DeAtU5ZxuYBNVqrq6tZFEzBScgtyFu0EBiMlNwASYOFi5tzNIiHAIpsLTGcaQd6s1uAq+uAUmxir9Av4qivNrI+z7QAfwlQNMOqLWqeZ5jnKykAMUHoHWKgam+Cd8YTekjmYs2zICjg3l+VylwBRa+AO6odO0l5jbaMHiKXwewUhsA+lDj/CdGqgiYI0xBpweq7T5CgsYi1AAAAABJRU5ErkJggg==" />
                      <span class="action-name">Edit</span>
                    </div>
                    <div class="img-action pointer" (click)="renameImage(selectedImg)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-edit" _ngcontent-bko-c3="">
                        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                      </svg>
                      <span class="action-name">Rename</span>
                    </div>
                    <div class="img-action pointer" (click)="deleteFile(selectedImg)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-trash" _ngcontent-bko-c3="">
                        <polyline points="3 6 5 6 21 6"></polyline>
                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                        </path>
                      </svg>
                      <span class="action-name">Delete</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- filemgr-content -->
      </div><!-- filemgr-wrapper -->
    </div>

    <div id="footer">
      <!-- <hr/> -->
      <span class="text-danger size-error" *ngIf="displayErrormsg">Image size must be 700x500</span>
      <button mat-raised-button class="savebtn" (click)="choosenImage()"
        [disabled]="displayErrormsg || !isSelected">Choose
        Image</button>
      <button mat-raised-button [mat-dialog-close]="false" class="closebtn">Close</button>
    </div>
  </div><!-- content -->
</body>