<!-- <div class="card"> -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">

  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Analytics
    </a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">Analytics
    </a></li>
</ol>
<div class="d-sm-flex align-items-center justify-content-between mb-2">
  <div class="d-flex justify-content-between ">
    <div class="form-group  mb-0 pb-0 wd-200">
      <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
        [options]="_HelperService.AppConfig.DateRangeOptionsCustom"
        (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    </div>
  </div>
</div>

<div class="row row-xs mg-y-10">
  <div class="col-sm-6 col-lg-3 ">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Sales by vas</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
          <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
          {{LoyalityOverview.InvoiceAmount || "0" | number: "1.2-2"}}
        </h3>
        
      </div>
      <p class="tx-12 text-secondary mg-b-0"> Total Sales achieved by VAS</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Revenue achieved</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
          <span class=" text-sm mg-r-2"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{LoyalityOverview.CommissionAmount || "0" | number: "1.2-2"}}
        </h3>

      </div>
      <p class="tx-12 text-secondary mg-b-0"> Total Revenue achieved by VAS</p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Rewards Distributed</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{LoyalityOverview.RewardAmount || "0" | number: "1.2-2"}}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Total Rewards Distributed</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          {{LoyalityOverview.Customers ||"0"}}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Total customers purchased VAS</p>
    </div>
  </div><!-- col -->
</div>

<div class="row row-xs">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-4 mg-t-10 mg-lg-t-0">
    <div class="card">
      <div class="card-header">
       <div class="tx-medium"> Sales by all VAS </div>
        <div class="text-secondary tx-12"> Sales Segmentation by all VAS</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <div>
              <canvas height="110" baseChart #RewardPlot="base-chart" [colors]="_HelperService._UserOverviewPlot.VasColors"
                [datasets]="_SaleByVas" [labels]="StoreLabel"
                [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                [options]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions"></canvas>
            </div>

          </div>
          <div class="col-md-3 ">
            <div class="tx-MasterCard tx-18 mt-3 tx-rubik">
              <span class="" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{ this.Lcctopup.InvoiceAmount  | number: "1.0-1" || "--" }} </div>
            <div class="tx-12">  Toll gate ({{this.Lcctopup.Transactions || "0"}} Transactions)</div>

            <div class="tx-verve tx-18 mt-3 tx-rubik">
              <span class="" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{this.Airtime.InvoiceAmount  | number: "1.0-1" || "--" }} </div>
            <div class="tx-12">  Airtime ({{this.Airtime.Transactions || "0"}} Transactions)</div>

            <div class="tx-indigo tx-18 mt-3 tx-rubik">
              <span class="" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{ this.Tv.InvoiceAmount  | number: "1.0-1" || "--" }} </div>
            <div class="tx-12">  TV ({{this.Tv.Transactions || "0"}} Transactions)</div>

            <div class=" text-primary  tx-18 mt-3 tx-rubik">
              <span class="" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{ this.Electricity.InvoiceAmount | number: "1.0-1" || "--" }} </div>
            <div class="tx-12"> Electricity ({{this.Electricity.Transactions || "0"}} Transactions)</div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>

<div class="row row-xs mg-t-15">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-4 mg-t-10 mg-lg-t-0">
    <div class="card">
      <div class="card-header">
      <div class="tx-medium">  Customers using VAS </div>
        <div class="text-secondary tx-12"> Customers Segmentation by all VAS</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <div>
              <canvas height="110" baseChart #RewardPlot="base-chart" [colors]="_HelperService._UserOverviewPlot.VasColors"
                [datasets]="_CustomerUsingVas" [labels]="StoreLabel"
                [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                [options]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions"></canvas>
            </div>

          </div>
          <div class="col-md-3 ">
            <div class="tx-MasterCard tx-18 mt-3 tx-rubik">
              {{  this.Lcctopup.Customers || "0" }} </div>
            <div class="tx-12"> Toll  gate </div>

            <div class="tx-verve tx-18 mt-3 tx-rubik">
              {{  this.Airtime.Customers || "0" }} </div>
            <div class="tx-12"> Airtime </div>

            <div class="tx-indigo tx-18 mt-3 tx-rubik">
              {{  this.Tv.Customers || "0" }} </div>
            <div class="tx-12"> Tv </div>

            <div class=" text-primary  tx-18 mt-3 tx-rubik">
              {{  this.Electricity.Customers   || "0" }} </div>
            <div class="tx-12"> Electricity </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>
<!-- </div> -->

