<!-- acquirer--merchants--list -->

<div class="card ">
  <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> {{TUProdVList_Config.Title}} </div>
    <div [className]="_HelperService._Assets.Box.headerTitleRight">
      <nav class="nav nav-icon-only mg-l-auto">
        <button class="btn tx-12 btn-primary" (click)="SaveNewVaroentOpen()"> Add New </button>
      </nav>
    </div>
  </div>
  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <div class=" media">
          <div type="button"
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body bd-pink">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              In-Stock Products </h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.InStock || "--"}}</h4>

          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Out-of-Stock Products</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.OutOfStock || "--"}}</h4>

          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-MasterCard tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Low-In Stock</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.LowStock || "--"}}</h4>

          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-verve tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Unavailable Product</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.UnavailableProduct || "--"}}</h4>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">

    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TUProdVList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TUProdVList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TUProdVList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" [disabled]='(_HelperService.FilterSnap.id == -1)'
        (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
      [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
        (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="TUProdVList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="TUProdVList_Config.Sort.SortOrder == 'desc'"
                (click)="TUProdVList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="TUProdVList_Config.Sort.SortOrder == 'asc'"
                (click)="TUProdVList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of TUProdVList_Config.Sort.SortOptions"
              (click)="TUProdVList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="TUProdVList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="TUProdVList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="TUProdVList_Config.StatusOptions"
                  (valueChanged)="TUProdVList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>
            <div>


            </div>
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="TUProdVList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
          <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
          (click)="TUProdVList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
            data-feather="download"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
      (click)="RemoveFilterComponent('Status')">
      {{_HelperService.FilterSnap.StatusName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
      (click)="RemoveFilterComponent('Sort')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
      (click)="RemoveFilterComponent('Other',i)">
      {{TItem.data[0].DisplayName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div> -->

    <span class="badge badge-pill badge-primary" *ngFor="let TItem of TUProdVList_Config.Filters">{{TItem.Title}}</span>

  </div>
  <div class="box-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th>Sku</th>
          <th>Name</th>
          <th>Price</th>
          <th>Available Stock</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" *ngFor="let TItem of TUProdVList_Config.Data
                                                          | paginate: { id: 'MerchantsList',itemsPerPage: TUProdVList_Config.PageRecordLimit, currentPage: TUProdVList_Config.ActivePage,
                                                          totalItems: TUProdVList_Config.TotalRecords }">
          <!-- <td class="td-status p-1">
            <img class="br" src="{{TItem.UserAccountIconUrl}}" class="grid-icon" [style.border-color]="TItem.StatusC">
          </td> -->
          <td>
            {{TItem.Sku || "--"}}
          </td>
          <td>
            {{TItem.Name || "--"}}
          </td>
          <td>
            <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            {{TItem.SellingPrice  || "--"}}
          </td>
          <td>
            {{TItem.TotalStock  || "--"}}
          </td>
          <td>
            <span class="{{TItem.StatusBadge}}"> {{TItem.StatusName}}</span>
          </td>
          <td>
            <button class="btn btn-xs btn-primary mg-r-5" (click)="TUProdVList_RowSelectedManageInventory(TItem)">Manage
              Inventory</button>
            <button class="btn btn-xs btn-primary" (click)="TUProdVList_RowSelectedUpdateDetails(TItem)">Edit details</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="  p-4">
      <span class="mr-1">
        {{ 'Common.Showing' | translate }}
        <span class="bold">{{TUProdVList_Config.ShowingStart}} {{ 'Common.To' | translate }}
          {{TUProdVList_Config.ShowingEnd}}
        </span> {{ 'Common.Of' | translate }} {{TUProdVList_Config.TotalRecords}}
      </span>
      |
      <span class="ml-1">
        {{ 'Common.Show' | translate }}
        <select class=" w-64 " [(ngModel)]="TUProdVList_Config.PageRecordLimit"
          (ngModelChange)="TUProdVList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
          <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
            {{TItem}}
          </option>
        </select> {{ 'Common.Entries' | translate }}
      </span>
      <span class="float-right">
        <pagination-controls id="MerchantsList"
          (pageChange)="TUProdVList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
          nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
        </pagination-controls>
      </span>
    </div>
  </div>

</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalVarientUpdate" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 650px;">
    <div class="modal-content">
      <div class="modal-header  b-b b-2x b-t">
        <h3 class="text-warn">Update Variant Information</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Variant Name<span class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" name="Sku" class="form-control" [(ngModel)]="SelectedVarient.Name">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Product SKU (Stock No. e.g 00009, 100002)<span class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" name="Sku" class="form-control" [(ngModel)]="SelectedVarient.Sku">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label>Per Unit Original Price<span class="text-danger">*</span>
              </label>
              <div class="controls">
                <div class="input-group ">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      N
                    </span>
                  </div>
                  <input class="form-control" type="number" [(ngModel)]="SelectedVarient.ActualPrice"
                    (keypress)="_HelperService.PreventText($event)" placeholder="Put only numbers" type="number"
                    name="SellingPrice" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label>Per Unit Selling Price <span class="text-danger">*</span>
              </label>
              <div class="controls">
                <div class="input-group ">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      N
                    </span>
                  </div>
                  <input class="form-control" type="number" max="9999999" [(ngModel)]="SelectedVarient.SellingPrice"
                    (keypress)="_HelperService.PreventText($event)" placeholder="Put only numbers" type="number"
                    name="SellingPrice" maxlength="9999999" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input-file #cashier inputId="input-file" placeholder="">
            </input-file>
          </div>
        </div>

      </div>
      <div class="modal-footer py-3 pr-1 b b-t b-t-3x mt-auto">


        <button type="button" data-dismiss="modal" class="btn btn-secondary b-warn text-warn btn float-right mr-2">
          <span>
            Close
          </span>
        </button>

        <button type="button" class="btn btn-primary mr-2" (click)="UpdateVarient()"
          [disabled]="_HelperService.IsFormProcessing">
          <span *ngIf="!_HelperService.IsFormProcessing">
            Update Details
          </span>
          <span *ngIf="_HelperService.IsFormProcessing">
            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                  }}...
          </span>
        </button>
        <button class="btn btn-success"
          *ngIf="SelectedVarient.StatusCode == 'product.inactive' || SelectedVarient.StatusCode == 'product.outofstock' || SelectedVarient.StatusCode == 'product.notavailable'"
          (click)="UpdateProductVarientStatus('product.active')">Enable Variant</button>
        <button class="btn btn-danger" *ngIf="SelectedVarient.StatusCode == 'product.active'"
          (click)="UpdateProductVarientStatus('product.notavailable')">Disable Variant</button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalVarientDetails" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="card-header ">
        <h3 class="text-warn">Manage Inventory</h3>
      </div>

      <div style="height: 500px; overflow-y: auto !important;" class="scroll-y">
        <table class="table table-bordered mb-0">
          <thead>
            <tr>
              <th>
                <div class="text-semibold"> Location</div>
              </th>
              <th>
                <div class="mb-1">
                  Current Stock
                </div>
              </th>
              <th>
                <div class="mb-1">
                  Stock
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let TItem of _ProductVarientLocation">
              <td>
                <div class="tx-semibold tx-14">
                  {{TItem.DisplayName}}
                </div>
                <div class="text-secondary tx-12">
                  <small> {{TItem.Address | truncateText:30 }}</small>
                </div>
              </td>
              <td>
                <div>
                  {{TItem.Quantity}}
                </div>
              </td>
              <td>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <select class="form-control input-c" [(ngModel)]="StockUpdateType">
                      <option value="add" [ngValue]="add">Add</option>
                      <option value="remove" [ngValue]="remove">Remove</option>
                    </select>
                  </div>
                  <input type="number" name="ActualPrice" max="9999999" class="form-control"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="TItem.NewQuantity"
                    (keypress)="_HelperService.PreventText($event)">
                  <div class="input-group-append"><button class="btn white" (click)="UpdateVarientStock(TItem)"
                      type="button">Update</button></div>
                </div>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="py-3 pr-1 b b-t b-t-3x mt-auto">
        <button type="button" data-dismiss="modal" class="btn btn-secondary b-warn text-warn btn float-right mr-2">
          <span>
            Close
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalNewVarient" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 650px;">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="text-warn">New Variant </h6>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Variant Name<span class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" name="Sku" class="form-control" [(ngModel)]="NewVarient.Name">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Product SKU (Stock No. e.g 00009, 100002)<span class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" name="Sku" class="form-control" [(ngModel)]="NewVarient.Sku">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label>Per Unit Original Price<span class="text-danger">*</span>
              </label>
              <div class="controls">
                <div class="input-group ">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      N
                    </span>
                  </div>
                  <input class="form-control" type="number" [(ngModel)]="NewVarient.ActualPrice"
                    (keypress)="_HelperService.PreventText($event)" placeholder="Put only numbers" type="number"
                    name="SellingPrice" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label>Per Unit Selling Price <span class="text-danger">*</span>
              </label>
              <div class="controls">
                <div class="input-group ">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      N
                    </span>
                  </div>
                  <input class="form-control" type="number" max="9999999" [(ngModel)]="NewVarient.SellingPrice"
                    (keypress)="_HelperService.PreventText($event)" placeholder="Put only numbers" type="number"
                    name="SellingPrice" maxlength="9999999" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <input-file #terminal inputId="input-file" placeholder="">
            </input-file>
          </div>
        </div>
        <!-- image picker -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary mr-2" (click)="SaveNewVarient()"
            [disabled]="_HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              Add New Variant
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                  }}...
            </span>
          </button>
          <button type="button" data-dismiss="modal" class="btn btn-secondary b-warn text-warn btn float-right mr-2">
            <span>
              Close
            </span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="m-3">
              <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                (imageLoaded)="_HelperService.Icon_Crop_Loaded()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
              </image-cropper>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
            <div class="p-3">
              <div class="mb-2">
                Image Preview
              </div>
              <div class="mb-2">
                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
              </div>
              <div>
                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                                  translate }}</button>
                <button type="button" class="btn btn-warning " (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                          translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->