.table-condensed thead tr:nth-child(2),
.table-condensed tbody {
  display: none !important
}


::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #0168FA;
}

.label-text {
  position: absolute;
  top: 103px;
  left: 1px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 0.7rem;
  padding-top: 1.5rem;
}

.style {
  display: block;
  width: 400px;
  height: 200px;
}

.label-user {
  position: absolute;
  top: 60px;
  left: 1px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 1.7rem;
  padding-top: 1.5rem;
  color: #C0CCDA 0% 0% no-repeat padding-box;
}

.label-data {
  position: absolute;
  top: 121px;
  left: 1px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 1rem;
  padding-top: 1.5rem;
}

.label-Totaldisbursedloans {
  position: absolute;
  top: 67px;
  left: -1px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 0.7rem;
  padding-top: 1.5rem;
}

.label-disbursedloans {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 0.7rem;
  padding-top: 1.5rem;
}

.label-disbursedloansdata {
  position: absolute;
  top: 97px;
  left: -1px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 0.9rem;
  padding-top: 1.5rem;
}

.label-totaldisbursedamount {
  position: absolute;
  top: 67px;
  left: -1px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 0.7rem;
  padding-top: 1.5rem;
}

.label-disbursedamount {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 0.7rem;
  padding-top: 1.5rem;
}

.label-disbursedamountdata {
  position: absolute;
  top: 97px;
  left: -1px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 0.9rem;
  padding-top: 1.5rem;
}

.label-totalinterestamount {
  position: absolute;
  top: 67px;
  left: -1px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 0.7rem;
  padding-top: 1.5rem;
}

.label-interestamount {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 0.7rem;
  padding-top: 1.5rem;
}

.label-interestamountdata {
  position: absolute;
  top: 97px;
  left: -1px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 0.9rem;
  padding-top: 1.5rem;
}

.yellow {
  color: #FFC20A;
}

.blue {
  color: #0168FA;
}


.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 15px;
  min-width: 40px;
  color: #E5E9F2;
  border-color: #C0CCDA;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

@media (min-width: 1024px) {
  .disbursement {
    display: flex !important;
  }
}


@media (max-width: 1024px) {
  .label-totalinterestamount {
    top: 40px;
  }

  .label-interestamount {
    top: 53px;
  }

  .label-interestamountdata {
    top: 65px;
  }

  .label-Totaldisbursedloans {
    top: 40px;
  }

  .label-disbursedloans {
    top: 53px;
  }

  .label-disbursedloansdata {
    top: 65px;
  }

  .label-totaldisbursedamount {
    top: 40px;
  }

  .label-disbursedamount {
    top: 53px;
  }

  .label-disbursedamountdata {
    top: 65px;
  }




}

@media (min-width: 1024px) {
  .distribution {
    display: flex;
  }

  .input-wrapper {
    padding-left: 4px;
    padding-top: 2px;
  }

  .provider {
    padding-top: 7px;
  }

  .label-user {
    top: 45px;
  }

  .label-text {
    top: 85px;
  }

  .label-text {
    top: 85px;
  }

  .label-data {
    top: 98px;
  }
}

@media (max-width: 768px) {
  .input-wrapper {
    padding-top: 10px;
  }

  .label-totalinterestamount {
    top: 40px;
  }

  .label-interestamount {
    top: 53px;
  }

  .label-interestamountdata {
    top: 65px;
  }

  .label-Totaldisbursedloans {
    top: 40px;
  }

  .label-disbursedloans {
    top: 53px;
  }

  .label-disbursedloansdata {
    top: 65px;
  }

  .label-totaldisbursedamount {
    top: 40px;
  }

  .label-disbursedamount {
    top: 53px;
  }

  .label-disbursedamountdata {
    top: 65px;
  }



}

/* @media (min-width: 2560px) {
  .input-wrapper {
    padding-left: 2px ;
  }
} */

.lastmonth::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0168FA;
  font-weight: 500 !important;
}

.nodata {
  padding-top: 40px;
  padding-bottom: 28px;
}