<div class="pd-x-10">
  <ol class="breadcrumb df-breadcrumbs mg-b-10">

    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
        [routerLinkActive]="['active']">Dashboard
      </a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
        But now,Pay later-Overview
      </a></li>
  </ol>
</div>




<div class="pd-x-10">
  <div class="row  row-xs mg-lg-b-12 d-flex  justify-content-between align-items-center">
    <div class="">
      <div class="form-group  mb-0 pb-0 wd-200">
        <div class="">
          <div class="input-group">
            <!-- <div class="input-group-append">
              <input type="text" autocomplete="off" class="form-control form-daterangepicker full-width"
                name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
                (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
            </div> -->

            <div class="form-group  mb-0 pb-0 wd-200">
              <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput"
                daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsCustomnew"
                (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)"
                (click)="ShowDatePicker()" />
            </div>
            <!-- <i data-feather="calendar" class="text-muted ml-n5 mt-2" style="height: 19x;width: 19px;"></i> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <i data-feather="calendar"></i> -->

    <div class="cursor-pointer">
      <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
        <li class="list-inline-item d-flex align-items-center">
          <!-- <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span> -->
          <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
            This month - </span>
          <span class="  tx-13 tx-bold">{{DateSelected | date :"LLL yyyy"}}</span>
        </li>
      </ul>
    </div>


  </div>
</div>

<div id="customer" class="pd-x-10 pd-t-10">
  <div class="row row-xs mg-b-10">
    <div class="col-sm-6 col-lg-3 cursor-pointer">
      <div class="card card-body shadow-none ht-100p" (click)="goToRequestPage()">
        <h6 class="tx-uppercase tx-11 tx-spacing-1  tx-semibold mg-b-8"
          style="font: normal normal bold 11px/15px Roboto;" (click)="GoToLoanReqpage()">TOTAL LOAN REQUESTS
          RAISED
        </h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break" (click)="GoToLoanReqpage()">
            {{overviewData?.TotalLoanRequests}} >
          </h3>

        </div>
        <p class="tx-12 text-secondary mg-b-0"> Number of loans requests</p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0 cursor-pointer">
      <div class="card card-body shadow-none ht-100p" (click)="gotoActiveLoanPage()">
        <h6 class="tx-uppercase tx-11 tx-spacing-1  tx-semibold mg-b-8 "
          style="font: normal normal bold 11px/15px Roboto;" (click)="GoToActLoanPage()">TOTAL ACTIVE LOANS
        </h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1" (click)="GoToActLoanPage()">
            {{overviewData?.TotalActiveLoans}} > </h3>

        </div>
        <p class="tx-12 text-secondary mg-b-0">Active loans in this period</p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0 cursor-pointer">
      <div class="card card-body shadow-none ht-100p" (click)="gotoMerchantSettlements()">
        <h6 class="tx-uppercase tx-11 tx-spacing-1  tx-semibold mg-b-8"
          style="font: normal normal bold 11px/15px Roboto;" (click)="GoToMerchantSettle()">PENDING MERCHANTS
          SETTLEMENTS
        </h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break" (click)="GoToMerchantSettle()">
            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            {{overviewData?.PendingMerchantSettlements |
            number:'1.2-2'}} >
          </h3>
        </div>
        <p class="tx-12 text-secondary mg-b-0">Review and settle this amount</p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0 cursor-pointer">
      <div class="card card-body shadow-none ht-100p">
        <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-semibold mg-b-8 "
          style="font: normal normal bold 11px/15px Roboto;">TUC REVENUE (
          INTEREST +
          FEES)</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            {{overviewData?.Revenue | number:'1.2-2'}}
          </h3>
        </div>
        <p class="tx-12 text-secondary mg-b-0">TUC revenue by BNPL in this period</p>
      </div>
    </div>
  </div>

  <div class="row row-xs">

    <div class="col-lg-5 col-xl-5 col-sm-12 col-md-5 mg-t-10 mg-lg-t-0">
      <div class="card ht-100p">
        <div
          class="card-header distribution align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
          <div>
            <div>
              <h5 class="mg-b-0 tx-14 "> Disbursement & its distribution
              </h5>
            </div>
            <div class="text-secondary tx-11">
              Total amount disbursed and its distribution
            </div>
          </div>

          <div class="col-md-5 tx-right">
            <!-- <form class="container"> -->
            <!-- <i class="fa-solid fa-calendar icon" style="padding-left: 10px;"></i>
            <input [(ngModel)]="DisbursementDistributionDate" autocomplete="off"
              class="form-control input-field monthpicker" name="date" style="width:150px ;" bsDatepicker
              [bsConfig]="{dateInputFormat: 'MM/YYYY'}" (onShown)="onOpenCalendar($event)"
              (ngModelChange)="DateChangedForDisbursementDistribution($event, _HelperService.AppConfig.ListToggleOption.Date)"
              placeholder="This month"> -->
            <!-- </form> -->
            <span *ngIf="selectedMonth == currentMonth" class="tx-14 tx-bold text-primary">
              This month </span>
            <span *ngIf=" selectedMonth !== currentMonth" class="tx-14 tx-bold text-primary">{{DateSelected | date :"LLL
              yyyy"}}</span>
          </div>

        </div>
        <div class="card-body d-flex align-items-center justify-content-center">
          <div class="row" *ngIf="disbursementDistributionChartData && disbursementDistributionChartData.length >0">
            <div class="col-md-12">
              <canvas #disbursementDistributionChart height="200" baseChart
                [colors]="loanDisbursementDistributionChartColors"
                [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
                [options]="_HelperService.ChartConfig.DoughnetChart.Options"
                [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false"
                [data]="disbursementDistributionChartData" [labels]="['TUC Fees','Merchant Settlement']">></canvas>
            </div>
          </div>

          <div
            *ngIf="!disbursementDistributionChartData || (disbursementDistributionChartData && disbursementDistributionChartData.length == 0)">
            <div class="text-center m-auto  text-muted">
              <div>
                <div>
                  <div
                    class="wd-140 wd-md-100 ht-140 ht-md-100 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                    <!-- <i class="fas fa-file tx-50"></i> -->
                    <img src="../../../assets/img/file.svg" alt="">
                  </div>
                  <div class="pt-3">
                    <span class="text-dark tx-bold tx-14 "> No Data available in this time frame</span><br>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="pd-20 justify-content-between text-center">
          <div class="tx-12 tx-bold text-secondary tx-uppercase">Total Disbursed Loans</div>
          <div class="tx-18"> <span
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{disbursementData?.TotalDisbursed ||
            0}}</div>
        </div>
        <div class="pd-25 d-flex justify-content-between">
          <div>
            <div class="tx-12 tx-bold tx-uppercase"> TUC FEES</div>
            <div class="tx-18" style="color:#B11A83"> <span 
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{disbursementData?.TUCFees || 0}}
            </div>
          </div>

          <div>
            <div class="tx-12 tx-bold tx-uppercase"> MERCHANT SETTLEMENT</div>
            <div class="tx-18 text-primary"> <span 
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{disbursementData?.MerchantSettlement || 0}}</div>
          </div>
        </div><!-- card-footer -->
      </div>
    </div>
    <div class="col-lg-7 col-xl-7 col-sm-12 col-md-7 mg-t-10 mg-lg-t-0">
      <div class="card ht-100p">
        <div
          class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
          <div>
            <div>
              <h5 class="mg-b-0 tx-14 "> Repayment Status
              </h5>
            </div>
            <div class="text-secondary tx-11">
              Current repayment status
            </div>
          </div>

          <div class="tx-right">
            <!-- <div class="form-group  mb-0 pb-0 wd-200 input-icons input-wrapper">
              <i class="fa-solid fa-calendar icon"></i>
              <input [(ngModel)]="repaymentStatusDate" autocomplete="off" class="form-control input-field monthpicker"
                name="date" style="width:150px ;" bsDatepicker [bsConfig]="{dateInputFormat: 'MM/YYYY'}"
                (onShown)="onOpenCalendar($event)"
                (ngModelChange)="DateChangedForRepaymentStatus($event, _HelperService.AppConfig.ListToggleOption.Date)"
                placeholder="This month">
            </div> -->
            <span *ngIf="selectedMonth == currentMonth" class="tx-14 tx-bold text-primary">
              This month </span>
            <span *ngIf=" selectedMonth !== currentMonth" class="tx-14 tx-bold text-primary">{{DateSelected | date :"LLL
              yyyy"}}</span>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active ht-100p" id="home" role="tabpanel" aria-labelledby="home-tab"
                  *ngIf="repaymentStatusData.length>0">
                  <canvas height="110" baseChart #RewardPlot="base-chart" [colors]="colors"
                    [datasets]="repaymentStatusData" [labels]=""
                    [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                    [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                    [options]="_HelperService._UserOverviewPlot.ChartTypeBarHOptionsForRepayment"
                    [legend]="barChartLegend">
                  </canvas>


                  <!-- [options]="_HelperService.ChartConfig.LineChart.Options"
                    [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                  [chartType]="_HelperService.ChartConfig.LineChart.Type"
                   -->

                  <div class="pd-20  d-flex justify-content-between">

                    <div>
                      <div>
                        <span class="tx-18 tx-verve">
                          {{repaymentStatusOverview.OverDueCount}}
                        </span>
                        <span class="tx-10">
                          (<span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                          {{repaymentStatusOverview.OverDueAmount | number:'1.2-2'}})
                        </span>
                      </div>
                      <div class="tx-10"> OVERDUES </div>

                    </div>
                    <div>
                      <div>
                        <span class="tx-18 text-success">
                          {{repaymentStatusOverview.PaidCount}}
                        </span>
                        <span class="tx-10">
                          (<span 
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                          {{repaymentStatusOverview.PaidAmount | number:'1.2-2'}})
                        </span>
                      </div>
                      <div class="tx-10">PAID </div>
                    </div>
                    <div>
                      <div>
                        <span class="tx-18 tx-teal">
                          {{repaymentStatusOverview.UpComingCount}}
                        </span>
                        <span class="tx-10">
                          (<span 
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                          {{repaymentStatusOverview.UpComingAmount | number:'1.2-2'}})
                        </span>
                      </div>
                      <div class="tx-10">UPCOMING </div>
                    </div>
                  </div>
                </div>

              </div>


            </div>


          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="row row-xs mg-t-10">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12 mg-t-10 mg-lg-t-0">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div>
            <h5 class="mg-b-0 tx-14 "> Loan Disbursement statistics by provider
            </h5>

            <div class="text-secondary tx-12"> Number of loan disbursed- Principal amount, Interest amount distribution
            </div>
          </div>

          <div class="tx-right">
            <!-- <div class="form-group  mb-0 pb-0 wd-200 input-icons provider">
              <i class="fa-solid fa-calendar icon"></i>
              <input [(ngModel)]="loanDisbursementDate" autocomplete="off" class="form-control input-field monthpicker"
                name="date" style="width:150px ;" bsDatepicker [bsConfig]="{dateInputFormat: 'MM/YYYY'}"
                (onShown)="onOpenCalendar($event)"
                (ngModelChange)="DateChangedForLoanDisbursement($event, _HelperService.AppConfig.ListToggleOption.Date)"
                placeholder="This month">
            </div> -->

            <span *ngIf="selectedMonth == currentMonth" class="tx-14 tx-bold text-primary">
              This month </span>
            <span *ngIf=" selectedMonth !== currentMonth" class="tx-14 tx-bold text-primary">{{DateSelected | date :"LLL
              yyyy"}}</span>
          </div>
        </div>
        <div class="disbursement mg-t-20 m-b-20 col-md-12 col-lg-12"
          *ngIf="loanDisbursementChartData.length > 0 || principalAmountDisbursementData.length > 0 || intrestAmountData.length > 0">
          <div class="col-xm-12 col-md-12 col-lg-4">
            <div *ngIf="loanDisbursementChartData.length >0">
              <canvas id="disbursedloansid" class="style" height="180" baseChart
                [colors]="loanDisbursementByProviderChartColors"
                [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
                [options]="_HelperService.ChartConfig.DoughnetChart.Options"
                [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false" [data]="loanDisbursementChartData"
                [labels]="['Evolve Credit','ThankUcash']"></canvas>

              <!-- <div class="absolute-center text-center">
                <p class="text-uppercase mb-0 tx-11 text-secondary  label-Totaldisbursedloans">TOTAL</p>
                <p class="text-uppercase mb-0 tx-11 text-secondary label-disbursedloans">DISBURSED LOANS</p>
                <p class="mt-0 tx-12 label-disbursedloansdata"> {{loanDisbursementByProviderData.TotalDisbursedLoans ||
                  0}}</p>
              </div> -->
            </div>

            <div *ngIf="loanDisbursementChartData.length == 0">
              <div class="row nodata">
                <div class="text-center m-auto  text-muted">
                  <div>
                    <div>
                      <div
                        class="wd-140 wd-md-100 ht-140 ht-md-100 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <img src="../../../assets/img/file.svg" alt="">
                      </div>
                      <div class="pt-3">
                        <span class="text-dark tx-bold tx-14 "> No Data available</span><br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div>
              <div class="text-center mg-t-20 mg-b-20">
                Total Number of Loans disbursed
              </div>

              <div class="justify-content-between text-center pd-b-15">
                <div class="tx-12 tx-bold text-secondary tx-uppercase">Total Disbursed Loans</div>
                <div class="tx-18"> {{loanDisbursementByProviderData.TotalDisbursedLoans || 0}}</div>
              </div>

              <div class="row d-flex align-items-center mg-b-20">
                <div class="col-md-6 text-center">
                  <div class="tx-bold tx-18">
                    {{loanDisbursementByProviderData.TotalDisbursedLoansByEC || 0}}
                  </div>
                  <div class="d-flex align-items-center justify-content-center">
                    <div style="height:12px;width:12px;border-radius:3px;background-color:#5B53BA;">
                    </div>
                    <span class="pd-l-5">
                      <img style="width: 80px;" src="../../../assets/img/Group 6117.png">
                    </span>
                  </div>
                </div>
                <div class="col-md-6 text-center">
                  <div class="tx-bold tx-18">
                    {{loanDisbursementByProviderData.TotalDisbursedLoansByTUC || 0}}
                  </div>
                  <div class="d-flex align-items-center justify-content-center">
                    <div style="height:12px;width:12px;border-radius:3px;background-color:#B11A83;">
                    </div>
                    <span class="pd-l-5">
                      <img style="width: 65px;" src="../../../assets/img/logoinverse.png">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xm-12 col-md-12 col-lg-4">
            <div *ngIf="principalAmountDisbursementData.length > 0">
              <canvas id="disbursedamtid" height="180" baseChart [colors]="loanDisbursementByProviderChartColors"
                [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
                [options]="_HelperService.ChartConfig.DoughnetChart.Options"
                [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false" [data]="principalAmountDisbursementData"
                [labels]="['Evolve Credit','ThankUcash']"></canvas>

              <!-- <div class="absolute-center text-center">
                <p class="text-uppercase mb-0 tx-11 text-secondary label-totaldisbursedamount">TOTAL</p>
                <p class="text-uppercase mb-0 tx-11 text-secondary label-disbursedamount">DISBURSED AMT</p>
                <p class="mt-0 tx-12 label-disbursedamountdata"> ₦{{loanDisbursementByProviderData.TotalDisbursedAmount
                  || 0}}</p>
              </div> -->
            </div>

            <div *ngIf="principalAmountDisbursementData.length == 0">
              <div class="row nodata">
                <div class="text-center m-auto  text-muted">
                  <div>
                    <div>
                      <div
                        class="wd-140 wd-md-100 ht-140 ht-md-100 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <img src="../../../assets/img/file.svg" alt="">
                      </div>
                      <div class="pt-3">
                        <span class="text-dark tx-bold tx-14 "> No Data available</span><br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div>
              <div class="text-center mg-t-20 mg-b-20">
                Principal Amount disbursed by Providers
              </div>

              <div class="justify-content-between text-center pd-b-15">
                <div class="tx-12 tx-bold text-secondary tx-uppercase">Total Disbursed AMT</div>
                <div class="tx-18"> {{loanDisbursementByProviderData.TotalDisbursedAmount || 0}}</div>
              </div>


              <div class="row d-flex align-items-center mg-b-20">
                <div class="col-md-6 text-center">
                  <div class="tx-bold tx-18">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{loanDisbursementByProviderData.TotalDisbursedAmountByEC || 0}}
                  </div>
                  <div class="d-flex align-items-center justify-content-center">
                    <div style="height:12px;width:12px;border-radius:3px;background-color:#5B53BA;">
                    </div>
                    <span class="pd-l-5">
                      <img style="width: 80px;" src="../../../assets/img/Group 6117.png">
                    </span>
                  </div>
                </div>
                <div class="col-md-6 text-center">
                  <div class="tx-bold tx-18">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{loanDisbursementByProviderData.TotalDisbursedAmountByTUC || 0}}
                  </div>
                  <div class="d-flex align-items-center justify-content-center">
                    <div style="height:12px;width:12px;border-radius:3px;background-color:#B11A83;">
                    </div>
                    <span class="pd-l-5">
                      <img style="width: 65px;" src="../../../assets/img/logoinverse.png">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xm-12 col-md-12 col-lg-4">
            <div *ngIf="intrestAmountData.length >0">
              <canvas id="interestid" class="style" height="180" baseChart
                [colors]="loanDisbursementByProviderChartColors"
                [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
                [options]="_HelperService.ChartConfig.DoughnetChart.Options"
                [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false" [data]="intrestAmountData"
                [labels]="['Evolve Credit','ThankUcash']"></canvas>

              <!-- <div class="absolute-center text-center">
                <p class="text-uppercase mb-0 tx-11 text-secondary label-totalinterestamount">TOTAL</p>
                <p class="text-uppercase mb-0 tx-11 text-secondary label-interestamount">INTEREST AMT</p>
                <p class="mt-0 tx-12 label-interestamountdata"> ₦{{loanDisbursementByProviderData.TotalInterestAmount ||
                  0}}</p>
              </div> -->

            </div>
            <div *ngIf="intrestAmountData.length == 0">
              <div class="row nodata">
                <div class="text-center m-auto  text-muted">
                  <div>
                    <div>
                      <div
                        class="wd-140 wd-md-100 ht-140 ht-md-100 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <img src="../../../assets/img/file.svg" alt="">
                      </div>
                      <div class="pt-3">
                        <span class="text-dark tx-bold tx-14 "> No Data available</span><br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="text-center mg-t-20 mg-b-20">
                Interest Amount achieved
              </div>

              <div class="justify-content-between text-center pd-b-15">
                <div class="tx-12 tx-bold text-secondary tx-uppercase">Total INTEREST AMT</div>
                <div class="tx-18"> {{loanDisbursementByProviderData.TotalInterestAmount | number:'1.2-2' || 0}}</div>
              </div>

              <div class="row d-flex align-items-center mg-b-20">
                <div class="col-md-6 text-center">
                  <div class="tx-bold tx-18">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{loanDisbursementByProviderData.TotalInterestByEC | number:'1.2-2' || 0}}
                  </div>
                  <div class="d-flex align-items-center justify-content-center">
                    <div style="height:12px;width:12px;border-radius:3px;background-color:#5B53BA;">
                    </div>
                    <span class="pd-l-5">
                      <img style="width: 80px;" src="../../../assets/img/Group 6117.png">
                    </span>
                  </div>
                </div>
                <div class="col-md-6 text-center">
                  <div class="tx-bold tx-18">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{loanDisbursementByProviderData.TotalInterestByTUC | number:'1.2-2' || 0}}
                  </div>
                  <div class="d-flex align-items-center justify-content-center">
                    <div style="height:12px;width:12px;border-radius:3px;background-color:#B11A83;">
                    </div>
                    <span class="pd-l-5">
                      <img style="width: 65px;" src="../../../assets/img/logoinverse.png">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="loanDisbursementChartData.length == 0 &&  principalAmountDisbursementData.length == 0  &&  intrestAmountData.length == 0">
          <div class="row" style=" padding-top: 20px;padding-bottom: 30px;">
            <div class="text-center m-auto  text-muted">
              <div>
                <div>
                  <div
                    class="wd-140 wd-md-100 ht-140 ht-md-100 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                    <img src="../../../assets/img/file.svg" alt="">
                  </div>
                  <div class="pt-3">
                    <span class="text-dark tx-bold tx-14 "> No Data available in this time frame</span><br>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row d-flex" style="opacity: 1;">
            <div class="col-xm-12 col-md-12 col-lg-4" style="opacity: 0.5;">
              <div>
                <div class="text-center mg-t-20 mg-b-20">
                  Total Number of Loans disbursed
                </div>

                <div class="row d-flex align-items-center mg-b-20">
                  <div class="col-md-6 text-center">
                    <div class="tx-bold tx-18">
                      00
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                      <div style="height:12px;width:12px;border-radius:3px;background-color:#5B53BA;">
                      </div>
                      <span class="pd-l-5">
                        <img style="width: 80px;" src="../../../assets/img/Group 6117.png">
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 text-center">
                    <div class="tx-bold tx-18">
                      00
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                      <div style="height:12px;width:12px;border-radius:3px;background-color:#B11A83;">
                      </div>
                      <span class="pd-l-5">
                        <img style="width: 65px;" src="../../../assets/img/logoinverse.png">
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xm-12 col-md-12 col-lg-4" style="opacity: 0.5;">
              <div>
                <div class="text-center mg-t-20 mg-b-20">
                  Principal Amount disbursed by Providers
                </div>


                <div class="row d-flex align-items-center mg-b-20">
                  <div class="col-md-6 text-center">
                    <div class="tx-bold tx-18">
                      <span                         [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 00
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                      <div style="height:12px;width:12px;border-radius:3px;background-color:#5B53BA;">
                      </div>
                      <span class="pd-l-5">
                        <img style="width: 80px;" src="../../../assets/img/Group 6117.png">
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 text-center">
                    <div class="tx-bold tx-18">
                      <span                         [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 00
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                      <div style="height:12px;width:12px;border-radius:3px;background-color:#B11A83;">
                      </div>
                      <span class="pd-l-5">
                        <img style="width: 65px;" src="../../../assets/img/logoinverse.png">
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xm-12 col-md-12 col-lg-4" style="opacity: 0.5;">
              <div>
                <div class="text-center mg-t-20 mg-b-20">
                  Interest Amount achieved
                </div>

                <div class="row d-flex align-items-center mg-b-20">
                  <div class="col-md-6 text-center">
                    <div class="tx-bold tx-18">
                      <span                         [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 00
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                      <div style="height:12px;width:12px;border-radius:3px;background-color:#5B53BA;">
                      </div>
                      <span class="pd-l-5">
                        <img style="width: 80px;" src="../../../assets/img/Group 6117.png">
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 text-center">
                    <div class="tx-bold tx-18">
                      <span                         [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 00
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                      <div style="height:12px;width:12px;border-radius:3px;background-color:#B11A83;">
                      </div>
                      <span class="pd-l-5">
                        <img style="width: 65px;" src="../../../assets/img/logoinverse.png">
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-xs mg-t-10">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12 mg-t-10 mg-lg-t-0">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div>
            <h5 class="mg-b-0 tx-14 "> Disbursement by month </h5>
            <div class="d-flex">
              <div class="tx-12 justify-content-between mg-t-10" style="color: #1B2E4B;">{{currentDate | date
                :"LLLL"}}
                compared to
              </div>
              <div class="form-group  mb-0 pb-0 wd-200">
                <!-- <input type="text" autocomplete="off" class="form-control form-daterangepicker full-width"
                  name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
                  (selected)="DateChangedForDisbursementByMonth($event, _HelperService.AppConfig.ListToggleOption.Date)" /> -->
                <div class="input-group lastmonth" style="font-size: 13px; overflow: hidden;">
                  <div class="input-group-append">
                    <input [(ngModel)]="DisbursementBylastMonth" autocomplete="off" class="form-control" name="date"
                      style="width:150px; border: 0px;margin: 0; outline: none; 
                      color: #0168FA; " bsDatepicker [bsConfig]="{dateInputFormat: 'MMM YYYY'}"
                      (onShown)="onOpenCalendar($event)"
                      (ngModelChange)="DateChangedForDisbursementByMonth($event, _HelperService.AppConfig.ListToggleOption.Date)"
                      placeholder="LAST MONTH" [maxDate]="maxDate">
                  </div>
                  <i class="mt-2 text-primary" style="margin-left: -62px !important; padding-bottom: 4px !important;"
                    data-feather="chevron-down"></i>
                </div>


              </div>
            </div>
          </div>

          <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0" style="margin-right: 50px;">
            <li class=" list-inline-item d-flex align-items-center " style="margin-right:50px;">
              <span class=" d-block wd-15 ht-15 bg-primary rounded mg-r-5"></span>
              <span class="tx-sans   tx-uppercase tx-semibold tx-14">
                {{currentDate | date :"LLLL"}}</span>
            </li>
            <li class="list-inline-item d-flex align-items-center ">
              <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
              <span class="tx-sans  tx-14 tx-uppercase tx-semibold">{{lastMonthDate | date
                :"LLLL"}}</span>
            </li>
          </ul>


        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9" *ngIf="SalelineChartData.length>0">
              <div>
                <canvas baseChart #DataPlot="base-chart" [datasets]="SalelineChartData" [labels]="SalelineChartLabels"
                  [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="SalelineChartColors"
                  [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                  [chartType]="_HelperService.ChartConfig.LineChart.Type">
                </canvas>
              </div>
            </div>

            <div class="col-md-9" *ngIf="SalelineChartData.length == 0">
              <div class="row" style=" padding-top: 87px;padding-bottom: 30px;">
                <div class="text-center m-auto  text-muted">
                  <div>
                    <div>
                      <div
                        class="wd-140 wd-md-100 ht-140 ht-md-100 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <img src="../../../assets/img/file.svg" alt="">
                      </div>
                      <div class="pt-3">
                        <span class="text-dark tx-bold tx-14 "> No Data available</span><br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->

            <!--  -->
            <div class="col-md-3">
              <div class="d-flex  mg-t-10 ">
                <img src="../../../assets/icons8-down-arrow-32.png"
                  style="position: absolute;width: 5%; margin: 10px 34px;">
                <div style="height: 43px;width:43px;color:white;background-color: #DC3545;border-radius: 5px;
                display: flex;justify-content: center; align-items: center; margin-top: 15px; margin-right: 15px;">
                  {{disbursementByMonthData?.Differencepercent}}%
                </div>
                <div class="text-danger tx-18 mt-3 tx-rubik">
                  <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                  {{disbursementByMonthData?.Difference}}
                  <div class="tx-10" style="color: #5F6D88;"> TOTAL DIFFERENCE </div>

                </div>
              </div>

              <div *ngIf="disbursementByMonthData?.DataSummary && disbursementByMonthData?.DataSummary.length >0">
                <div class="d-flex mg-t-75 mg-sm-t-30 mg-lg-t-65"
                  *ngFor="let item of disbursementByMonthData?.DataSummary">

                  <div class="tx-uppercase " [ngClass]="(item.MonthNo === currentMonth)?'blue':'yellow'"
                    style="height: 43px;width:43px;border-radius: 5px;
                display: flex;justify-content: center; align-items: center; margin-top: 15px; margin-right: 15px;border-color: #C0CCDA; border:1px solid #C0CCDA">
                    {{item.Title}}
                  </div>
                  <div class="tx-18 mt-3">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{item.TotalLoanAmount}}

                    <div class="tx-10" style="color: #5F6D88;"> DISBURSEMENT AMT
                      ({{item.Title}})</div>
                  </div>
                </div>
              </div>

              <!-- <div class="d-flex mg-t-75 mg-sm-t-30 mg-lg-t-65"
                *ngIf="disbursementByMonthData?.DataSummary && disbursementByMonthData?.DataSummary.length >0">
                <div class="tx-uppercase "
                  style="height: 43px;width:43px;color:#FFC20A;border-radius: 5px;
                display: flex;justify-content: center; align-items: center; margin-top: 15px; margin-right: 15px;border-color: #C0CCDA; border:1px solid #C0CCDA">
                  {{disbursementByMonthData?.DataSummary[1]?.Title}}

                </div>
                <div class="tx-18 mt-3">
                  ₦ {{disbursementByMonthData?.DataSummary[1]?.TotalLoanAmount}}

                  <div class="tx-10" style="color: #5F6D88;"> DISBURSEMENT AMT
                    ({{disbursementByMonthData?.DataSummary[1]?.Title}})</div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-xs mg-t-10">

    <div class="col-lg-5 col-xl-5 col-sm-12 col-md-5 mg-t-10 mg-lg-t-0">
      <div class="card ht-100p">
        <div
          class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
          <div>
            <div>
              <h5 class="mg-b-0 tx-14 tx-semibold "> Total Eligible Customers till today
              </h5>
            </div>
            <div class="text-secondary tx-11">
              Number of eligible customer who are using credit
            </div>
          </div>
          <!-- <div class="text-secondary">
            <span class="cursor-pointer" data-toggle="tooltip" data-placement="top"
              title="This shows Customer Registration count by various referral"> <i data-feather="info"></i> </span>
          </div> -->
        </div>
        <div class="card-body d-flex align-items-center justify-content-center">


          <div class="row">
            <div class="col-md-12">
              <div *ngIf="totalEligibleCustomerChartData.length>0">

                <canvas id="canvasid" class="style" width="380px" height="200" baseChart
                  [colors]="eligibleCustomerChartColor" [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
                  [options]="_HelperService.ChartConfig.DoughnetChart.Options"
                  [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false"
                  [data]="totalEligibleCustomerChartData" [labels]="['Used Credit','Non Used']">
                </canvas>
                <!-- <div class="absolute-center text-center">
                  <span class="text-muted label-user"><i class="fa fa-users fa-md" style="color:#C0CCDA "
                      aria-hidden="true"></i></span>
                  <p class="text-uppercase mb-0 tx-11 text-secondary label-text">ELIGIBLE CUSTOMERS</p>
                  <p class="mt-0 tx-12 label-data"> {{totalEligibleCustomers?.TotalCustomers || 0}}</p>
                </div> -->

                <div class="text-center mg-t-20 mg-b-20">
                  Total Number of eligible customer
                </div>

                <div class="justify-content-between text-center pd-b-15">
                  <div class="tx-12 tx-bold text-secondary tx-uppercase">ELIGIBLE CUSTOMERS</div>
                  <div class="tx-18"> {{totalEligibleCustomers.TotalCustomers || 0}}</div>
                </div>


                <div class="row d-flex align-items-center mg-b-20">
                  <div class="col-md-6 text-center">
                    <div>
                      <span class="tx-bold tx-18"> {{totalEligibleCustomers?.UsedCredit || 0}}</span>
                      <span class="cursor-pointer" (click)="gotoEligibleCustomer()"> ></span>
                    </div>

                    <div class=" align-items-center justify-content-center">
                      <span class="pd-l-5 creditlabel">
                        Used Credits
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 text-center">
                    <div>
                      <span class="tx-bold tx-18"> {{totalEligibleCustomers?.UnUsedCredit || 0}}</span>
                      <span class="cursor-pointer" (click)="gotoEligibleCustomer()"> ></span>
                    </div>
                    <div class=" align-items-center justify-content-center">
                      <span class="creditlabel">
                        Non used credit yet
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="totalEligibleCustomerChartData.length == 0">
                <div class="text-center m-auto  text-muted">
                  <div>
                    <div>
                      <div
                        class="wd-140 wd-md-100 ht-140 ht-md-100 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <!-- <i class="fas fa-file tx-50"></i> -->
                        <img src="../../../assets/img/Icon feather-user-x.svg" alt="">
                      </div>
                      <div class="pt-3">
                        <span class="text-dark tx-bold tx-14 "> No eligible Customers found in this Time
                          Frame</span><br>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mg-t-20 mg-b-20" style="opacity: 0.5;">
                  Total Number of eligible customer
                </div>
                <div class="row d-flex align-items-center mg-b-20" style="opacity: 0.5;">
                  <div class="col-md-6 text-center">
                    <div>
                      <span class="tx-bold tx-18"> 00</span>
                      <span> ></span>
                    </div>

                    <div class=" align-items-center justify-content-center">
                      <span class="pd-l-5 creditlabel">
                        Used Credits
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 text-center">
                    <div>
                      <span class="tx-bold tx-18"> 00</span>
                      <span> ></span>
                    </div>
                    <div class=" align-items-center justify-content-center">
                      <span class="creditlabel">
                        Non used credit yet
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>




          </div>
          <!-- <div class="row">
            <div class="text-center  text-muted col-md-12 ht-200 d-flex align-items-center justify-content-center">
              <div class="spinner-border"></div>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>