<div class="row row-xs mg-b-20" id="salesReward">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
                <div>
                    <h6 class="mg-b-5 ">Gift Cards Rewarded Report</h6>
                </div>
            </div>
            <div class="card-body pd-lg-25">
                <div>
                    <canvas baseChart
                    [data]="barChartData"
                    [options]="_HelperService.ChartConfig.BarChart.Options"
                    [plugins]="_HelperService.ChartConfig.BarChart.Options.plugins"
                    [chartType]="_HelperService.ChartConfig.BarChart.Type">
                  </canvas>
                    <!-- <canvas *ngIf="showYearlyChart" class="chart-six" baseChart #DataPlot="base-chart"
                        [datasets]="YearlylineChartData" [labels]="YearlylineChartLabels"
                        [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="lineChartColors"
                        [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                        [chartType]="_HelperService.ChartConfig.BarChart.Type">
                    </canvas> -->
                </div>
                <div>
                    <div style="height:200px" class="text-center m-auto  text-muted">
                        <div>
                            <div>
                                <div
                                    class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                                    <img src="../../../../../assets/images/walk.svg" alt="">
                                </div>
                                <div class="pt-3">
                                    <span class="text-dark tx-bold tx-14 "> No Transactions in this time
                                        frame.</span><br>
                                    <span class="tx-muted  ">No transactions took place during the time frame you
                                        selected</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>