<!-- <div class="card"> -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>

    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">Deals Overview
    </a></li>
</ol>
<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <div class="d-flex justify-content-between ">
        <div class="form-group  mb-0 pb-0 wd-200">
            <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsCustom" (click)="openDatepicker($event)" (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)"
            />
        </div>
    </div>
</div>

<div class="row row-xs mg-y-10 ">
    <div class="col-sm-6 col-lg-3 ">
        <div class="card card-body shadow-none ht-100p">
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Deals Sold</h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
                    {{_Sale.ActualSalesTotal ||"0"}}
                </h3>
                <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
            </div>
            <p class="tx-12 text-secondary mg-b-0"> Total sold deals</p>
        </div>
    </div>
    <!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
        <div class="card card-body shadow-none ht-100p">
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Sold Deals Amount</h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
                    <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_Sale.ActualSalesAmount || "0"}}
                </h3>
            </div>
            <p class="tx-12 text-secondary mg-b-0"> Amount Earned by sold deals</p>


        </div>
    </div>
    <!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
        <div class="card card-body shadow-none ht-100p">
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Redeemed Deals</h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
                    {{_Redeem.ActualUsedTotal ||"0"}}
                </h3>
            </div>
            <p class="tx-12 text-secondary mg-b-0">Total Redeemed Deals</p>
        </div>
    </div>
    <!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
        <div class="card card-body shadow-none ht-100p">
            <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Redeemed Deals Amount</h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
                    <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_Redeem.ActualUsedAmount ||"0"}}
                </h3>
            </div>
            <p class="tx-12 text-secondary mg-b-0">Amount Earned By Redeemed deals</p>
        </div>
    </div>
    <!-- col -->
</div>
<div class="row row-xs mg-b-20">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
                <div>
                    <h6 class="mg-b-5 ">Deal Sales Report</h6>

                    <!-- TODO Insert Actual Date Picker -->
                </div>

                <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
                    <li class="list-inline-item d-flex align-items-center">
                        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
                        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
              {{CurrentRange.ActualStartDate | date :["dd LLL yy"]}}</span>
                    </li>
                    <li class="list-inline-item d-flex align-items-center mg-l-5">
                        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
                        <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{CurrentRange.CompareStartDate | date :["dd
              LLL yy"]}}</span>
                    </li>

                </ul>
            </div>
            <!-- card-header -->
            <div class="card-body pd-lg-25">
                <div class="row ">
                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.SalelineChartData[0].data.length != 0">
                        <canvas *ngIf="showSaleChart" baseChart #DataPlot="base-chart" [datasets]="SalelineChartData" [labels]="SalelineChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="SalelineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                            [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>
                    </div>

                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.SalelineChartData[0].data.length == 0">
                        <div style="height:200px" class="text-center m-auto  text-muted">
                            <div>
                                <div>
                                    <div class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                                        <!-- <i class="fas fa-file tx-50"></i> -->
                                        <img src="../../../../../assets/images/walk.svg" alt="">
                                    </div>
                                    <div class="pt-3">
                                        <span class="text-dark tx-bold tx-14 "> No deals sold out in this timeframe </span><br>
                                        <!-- <span class="tx-muted  ">No transactions took place during the time frame you selected</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0">
                        <div class="row mg-b-10">

                            <div class="col-sm-6 col-lg-12 ">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{CurrentRange.ActualStartDate | date :["dd"]}}
                                            <div>
                                                {{CurrentRange.ActualStartDate | date :["LLL"]}}</div>
                                        </div>


                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Sold Deals Amount <span class="tx-dark  tx-uppercase">
                        ({{CurrentRange.ActualStartDate | date :["dd LLL yy"]}})
                      </span> </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Sale.ActualSalesAmount | number: "1.2-2" ||"--"}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-30 mg-lg-t-65">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{CurrentRange.CompareStartDate | date :["dd"]}}
                                            <div>
                                                {{CurrentRange.CompareStartDate | date :["LLL"]}}</div>
                                        </div>

                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Sold Deals Amount <span class="tx-dark  tx-uppercase">
                        ({{CurrentRange.CompareStartDate | date :["dd LLL yy"]}})
                      </span> </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Sale.CompareSalesAmount | number: "1.2-2" ||"--"}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-0 mg-lg-t-65">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 {{(getAbsolute(_Sale.ActualSalesAmount  - _Sale.CompareSalesAmount)<0)?'bg-danger':'bg-success'}} tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        {{computePerc(_Sale)}}
                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Total Difference <span *ngIf="computeFlag(_Sale)==-1"> <i
                          class="fas fa-arrow-circle-down tx-16 tx-danger mg-l-5"></i></span>

                                            <span *ngIf="computeFlag(_Sale)==1"> <i
                          class="fas fa-arrow-circle-up tx-16 tx-success mg-l-5"></i></span>
                                        </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{getAbs(_Sale.ActualSalesAmount - _Sale.CompareSalesAmount) | number: "1.2-2" ||"--"}}
                                        </h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- row -->

                    </div>
                </div>
            </div>
            <!-- card-body -->
        </div>
        <!-- card -->
    </div>


</div>
<div class="row row-xs mg-b-20">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
                <div>
                    <h6 class="mg-b-5 ">Deal Redeem Report</h6>
                    <!-- TODO Insert Actual Date Picker -->
                </div>

                <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
                    <li class="list-inline-item d-flex align-items-center">
                        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
                        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
              {{CurrentRange.ActualStartDate | date :["dd LLL yy"]}}</span>
                    </li>
                    <li class="list-inline-item d-flex align-items-center mg-l-5">
                        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
                        <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{CurrentRange.CompareStartDate | date :["dd
              LLL yy"]}}</span>
                    </li>

                </ul>
            </div>
            <!-- card-header -->
            <div class="card-body pd-lg-25">
                <div class="row ">
                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.RedeemlineChartData[0].data.length != 0">
                        <canvas *ngIf="showRedeemChart" baseChart #DataPlot="base-chart" [datasets]="RedeemlineChartData" [labels]="RedeemlineChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="RedeemlineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                            [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>
                    </div>

                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.RedeemlineChartData[0].data.length == 0">
                        <div style="height:200px" class="text-center m-auto  text-muted">
                            <div>
                                <div>
                                    <div class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                                        <!-- <i class="fas fa-file tx-50"></i> -->
                                        <img src="../../../../../assets/images/walk.svg" alt="">
                                    </div>
                                    <div class="pt-3">
                                        <span class="text-dark tx-bold tx-14 "> No deals sold out in this timeframe </span><br>
                                        <!-- <span class="tx-muted  ">No transactions took place during the time frame you selected</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0">
                        <div class="row mg-b-10">

                            <div class="col-sm-6 col-lg-12">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{CurrentRange.ActualStartDate | date :["dd"]}}
                                            <div>
                                                {{CurrentRange.ActualStartDate | date :["LLL"]}}</div>
                                        </div>


                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Redeemed Deals Amount <span class="tx-dark  tx-uppercase">
                        ({{CurrentRange.ActualStartDate | date :["dd LLL yy"]}})
                      </span> </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Redeem.ActualUsedAmount | number: "1.2-2" ||"--"}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-30 mg-lg-t-65">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{CurrentRange.CompareStartDate | date :["dd"]}}
                                            <div>
                                                {{CurrentRange.CompareStartDate | date :["LLL"]}}</div>
                                        </div>

                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Redeemed Deals Amount <span class="tx-dark  tx-uppercase">
                        ({{CurrentRange.CompareStartDate | date :["dd LLL yy"]}})
                      </span> </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Redeem.CompareUsedAmount | number: "1.2-2" ||"--"}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12  mg-t-65 mg-sm-t-0 mg-lg-t-65">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 {{(getAbsolute(_Redeem.ActualSalesAmount  - _Redeem.CompareSalesAmount)<0)?'bg-danger':'bg-success'}} tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        {{computePerc(_Redeem)}}
                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Total Difference <span *ngIf="computeFlag(_Redeem)==-1"> <i
                          class="fas fa-arrow-circle-down tx-16 tx-danger mg-l-5"></i></span>

                                            <span *ngIf="computeFlag(_Redeem)==1"> <i
                          class="fas fa-arrow-circle-up tx-16 tx-success mg-l-5"></i></span>
                                        </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{getAbs(_Redeem.ActualUsedAmount - _Redeem.CompareUsedAmount) | number: "1.2-2" ||"--"}}
                                        </h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- row -->

                    </div>
                </div>
            </div>
            <!-- card-body -->
        </div>
        <!-- card -->
    </div>


</div>
<div class="row row-xs mg-b-20">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
                <div>
                    <h6 class="mg-b-5 ">Revenue from deals</h6>
                    <!-- TODO Insert Actual Date Picker -->
                </div>

                <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
                    <li class="list-inline-item d-flex align-items-center">
                        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
                        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
              {{CurrentRange.ActualStartDate | date :["dd LLL yy"]}}</span>
                    </li>
                    <li class="list-inline-item d-flex align-items-center mg-l-5">
                        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
                        <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{CurrentRange.CompareStartDate | date :["dd
              LLL yy"]}}</span>
                    </li>

                </ul>
            </div>
            <!-- card-header -->
            <div class="card-body pd-lg-25">
                <div class="row ">
                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.RevenuelineChartData[0].data.length != 0">
                        <canvas *ngIf="showRevenueChart" baseChart #DataPlot="base-chart" [datasets]="RevenuelineChartData" [labels]="RevenuebarChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="RevenuelineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                            [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>
                    </div>

                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.RevenuelineChartData[0].data.length == 0">
                        <div style="height:200px" class="text-center m-auto  text-muted">
                            <div>
                                <div>
                                    <div class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                                        <!-- <i class="fas fa-file tx-50"></i> -->
                                        <img src="../../../../../assets/images/walk.svg" alt="">
                                    </div>
                                    <div class="pt-3">
                                        <span class="text-dark tx-bold tx-14 "> No deals sold out in this timeframe .</span><br>
                                        <!-- <span class="tx-muted  ">No transactions took place during the time frame you selected</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0">
                        <div class="row mg-b-10">

                            <div class="col-sm-6 col-lg-12">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{CurrentRange.ActualStartDate | date :["dd"]}}
                                            <div>
                                                {{CurrentRange.ActualStartDate | date :["LLL"]}}</div>
                                        </div>


                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Total Revenue <span class="tx-dark  tx-uppercase">
                        ({{CurrentRange.ActualStartDate | date :["dd LLL yy"]}})
                      </span> </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Revenue.ActualCommissionAmount | number: "1.2-2" ||"--"}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-30 mg-lg-t-65">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{CurrentRange.CompareStartDate | date :["dd"]}}
                                            <div>
                                                {{CurrentRange.CompareStartDate | date :["LLL"]}}</div>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Total Revenue <span class="tx-dark  tx-uppercase">
                        ({{CurrentRange.CompareStartDate | date :["dd LLL yy"]}})
                      </span> </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Revenue.CompareCommissionAmount | number: "1.2-2" ||"--"}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12  mg-t-65 mg-sm-t-0 mg-lg-t-65">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 {{(getAbsolute(_Revenue.ActualSalesAmount  - _Revenue.CompareSalesAmount)<0)?'bg-danger':'bg-success'}} tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        {{computePerc(_Revenue)}}
                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Total Difference <span *ngIf="computeFlag(_Revenue)==-1"> <i
                          class="fas fa-arrow-circle-down tx-16 tx-danger mg-l-5"></i></span>

                                            <span *ngIf="computeFlag(_Revenue)==1"> <i
                          class="fas fa-arrow-circle-up tx-16 tx-success mg-l-5"></i></span>
                                        </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{getAbs(_Revenue.ActualCommissionAmount - _Revenue.CompareCommissionAmount) | number: "1.2-2" ||"--"}}
                                        </h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- row -->

                    </div>
                </div>
            </div>
            <!-- card-body -->
        </div>
        <!-- card -->
    </div>


</div>
<!-- </div> -->