
      <div class="col-md-12 pnvalid" data-permission="viewacquirer">
        <div class="card ">
          <div class="card-header">
            <div class=" no-gutters">
              <div class="d-sm-flex justify-content-between">
                <span class="tx-semibold mg-t-10">Customer Details
               

                </span>
              </div>
            </div>
          </div>


          <div class="box-header px-3 pd-t-15 pd-b-7  d-flex align-items-center justify-content-between">
            <div class="form-inline ">
              <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="RequestHistory_Config.SearchParameter" maxlength="100"
                  class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                  (keyup)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button"
                    (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                      data-feather="search"></i> </button>
                </div>
              </div>


            </div>
          

                      
            <nav class="nav nav-with-icon tx-20">
              <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="RequestHistory_sdropdown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
              
             
                          <div class="dropdown-menu tx-13">
                            <form class="wd-250 pd-15">
                  
                  
                              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                                <div class="float-right tx-20" *ngIf="RequestHistory_Config.Sort.SortOrder == 'desc'"
                                  (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                  <i class="fas fa-sort-alpha-down-alt"></i>
                                </div>
                                <div class="float-right tx-20" *ngIf="RequestHistory_Config.Sort.SortOrder == 'asc'"
                                  (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                  <i class="fas fa-sort-alpha-up-alt"></i>
                                </div>
                              </h6>
                  
                              <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                                *ngFor="let TItem of RequestHistory_Config.Sort.SortOptions"
                                (click)="RequestHistory_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                                {{TItem.Name}}
                              </a>
                  
                              <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                Reset</button>
                              <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                            </form>
                          </div>          
                         </div>
              <div class="dropdown dropleft">
                <a href="" class="nav-link" id="RequestHistory_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                    </h6>
                    <div>
                      <div class="form-group">
                        <label>Start Date</label>
                        <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                          daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                          (selected)="RequestHistory_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                      </div>
                    </div>
                   

                    <button type="button" class="btn btn-light btn-sm mr-2"
                      (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                      Reset</button>
                    <button type="button" class="btn btn-primary btn-sm "
                      (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                  </form>
                </div>
              </div>
              <a class="nav-link ml-2 RefreshColor RefreshColorOne  cursor-pointer"
                (click)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                  data-feather="refresh-cw"></i> </a>
            </nav>
          </div>
          <div class="pt-0 pd-l-15 pd-b-8">
            <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
              [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
              {{_HelperService.FilterSnap.StatusName}}
              <span (click)="RemoveFilterComponent('Status')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                  class="fas fa-times"></i> </span>
            </div>

           
          <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
          [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='StartDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
          <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
          <span (click)="RemoveFilterComponent('Sort1')"
            class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
              class="fas fa-times"></i> </span>
        </div>

            <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
              [hidden]="!_HelperService.FilterSnap.StartTime">
              {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
              _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
              <span (click)="RemoveFilterComponent('Time')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                  class="fas fa-times"></i> </span>
            </div>
            <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
              *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
              {{TItem.data[0].DisplayName}}
              <span (click)="RemoveFilterComponent('Other',i)"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                  class="fas fa-times"></i> </span>
            </div>

            <span class="badge badge-pill badge-primary"
              *ngFor="let TItem of RequestHistory_Config.Filters">{{TItem.Title}}</span>

          </div>

          <div class="card-body p-0 table-responsive">
            <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
              <thead>
                <tr>
                 
                  <th class="text-center">
                   Customer
                  </th>

                  <th class="text-center">
                    Used On
                  </th>

                  <th class="">
                  Used Via
                  </th>
                 

                </tr>
              </thead>
              <tbody>
                <tr class="cursor-pointer" (click)="Customers_RowSelected(TItem)"
                  *ngFor="let TItem of RequestHistory_Config.Data  | paginate: { id: 'RequestHistory_Paginator',itemsPerPage: RequestHistory_Config.PageRecordLimit, currentPage: RequestHistory_Config.ActivePage,  totalItems: RequestHistory_Config.TotalRecords }">


                  <td class="text-center">
                    <div class="tx-semibold">{{TItem.AccountName || "--"}}
                    </div>
                    <div class="text-secondary">+{{TItem.AccountMobileNumber.slice(0,3) || "--"}} {{TItem.AccountMobileNumber.slice(3) || "--"}}
                    </div>
                  </td>

                  <td class="text-center">
                    <div class="">{{TItem.UseDate | date :["dd-MM-yyyy hh:mm a"] || "--"}}
                    </div>
                  </td>

                  <td class="text-center">
                    <div class="">{{TItem.UsedBy || "--"}}
                    </div>
                  </td>


                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer pd-20">
            <span class="mr-3">
              {{ 'Common.Showing' | translate }}
              <span class="bold">{{RequestHistory_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{RequestHistory_Config.ShowingEnd}}
              </span> {{ 'Common.Of' | translate }} {{RequestHistory_Config.TotalRecords}}
            </span>
            <span>
              {{ 'Common.Show' | translate }}
              <select class="wd-50 " [(ngModel)]="RequestHistory_Config.PageRecordLimit"
                (ngModelChange)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                  {{TItem}}
                </option>
              </select>
            </span>
            <span class="float-right">
              <pagination-controls id="RequestHistory_Paginator" class="pagination pagination-space"
                (pageChange)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
              </pagination-controls>
            </span>
          </div>
        </div>

      </div> 
