

<div class="card bd-t-0">
  <div class="" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Wallet History</h5>
       
      </div>
      <div class="modal-body">
        <div class=" ">
          <div class="box-header px-3  pd-b-15  d-flex align-items-center justify-content-between">
            <div class="form-inline ">
              <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="TopUpHistoryList_Config.SearchParameter"
                  maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                  (keyup)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button"
                    (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                      data-feather="search"></i> </button>
                </div>
              </div>
            </div>
            <div class="d-flex ml-auto">
              <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i> </button>
        
              <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                  [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                  (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
              </div>
              <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
              _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
                  data-feather="plus-circle"></i> </button>
        
            </div>
            <nav class="nav nav-with-icon tx-20">
              <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="TopUpHistoryList_sdropdown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250 pd-15">


                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                      <div class="float-right tx-20" *ngIf="TopUpHistoryList_Config.Sort.SortOrder == 'desc'"
                        (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                        <i class="fas fa-sort-alpha-down-alt"></i>
                      </div>
                      <div class="float-right tx-20" *ngIf="TopUpHistoryList_Config.Sort.SortOrder == 'asc'"
                        (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                      </div>
                    </h6>

                    <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      *ngFor="let TItem of TopUpHistoryList_Config.Sort.SortOptions"
                      (click)="TopUpHistoryList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                      {{TItem.Name}}
                    </a>

                    <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                      (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                      Reset</button>
                    <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                      (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                  </form>
                </div>
              </div>
              <div class="dropdown dropleft">
                <a href="" class="nav-link" id="TopUpHistoryList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                    </h6>
                    <div>
                      <div class="form-group position-relative" id="wallet_top_up_merchant_deal">
                        <label>Date</label>
                        <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                        daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsFn('#wallet_top_up_merchant_deal')"
                          (selected)="TopUpHistoryList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                      </div>
                    </div>
                    <!-- <div>
                            <div class="form-group">
                              <label>Status</label>
                              <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                [data]="TopUpHistoryList_Config.StatusOptions"
                                (valueChanged)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                              </select2>
                            </div>
                          </div> -->

                    <button type="button" class="btn btn-light btn-sm mr-2"
                      (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                      Reset</button>
                    <button type="button" class="btn btn-primary btn-sm "
                      (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                  </form>
                </div>
              </div>
              <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
                (click)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                  data-feather="refresh-cw"></i> </a>
            </nav>
           
          </div>
          <div class="pt-0 pd-l-15 pd-b-5">
            <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
            [hidden]="(!_HelperService.FilterSnap.StartTime) || (_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) == '01-01-2017 05:30')">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + " " + "To" + " " +
            _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')"
              class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                class="fas fa-times"></i> </span>
          </div>
          </div>


          <div class="card-body p-0 table-responsive">
            <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
              <thead>
                <tr>
                  <th class="">
                    Date
                  </th>
                  <th>
                    Amount(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
                  </th>
                  <th class="">
                    Reference Number
                  </th>
                  <th> Created By </th>
                  <th> Payment Source </th>
                



                </tr>
              </thead>
              <tbody>
                <!-- <tr disabled (click)="TopUpHistoryList_RowSelected(TItem)" -->
                  <tr disabled 
                  *ngFor="let TItem of (TopUpHistoryList_Config.Data  | paginate: { id: 'TopUpHistoryList_Paginator',itemsPerPage: TopUpHistoryList_Config.PageRecordLimit, currentPage: TopUpHistoryList_Config.ActivePage,  totalItems: TopUpHistoryList_Config.TotalRecords })">
                  <td>
                    <div class="tx-14">{{TItem.TransactionDateD || "--"}}</div>
                    <div class="tx-14">{{TItem.TransactionDateT || "--"}}</div>
                  </td>
                  <td class="">
                    <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{TItem.Amount || "--"}}
                  </td>
                  <td class="text-muted">
                    {{TItem.ReferenceNumber || "--"}}
                  </td>
                  <td> {{TItem.CreatedByDisplayName || "--"}} </td>
                  <td> {{TItem.PaymentMethodName || "--"}}</td>
                  
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer pd-20">
            <span class="mr-3">
              {{ 'Common.Showing' | translate }}
              <span class="bold">{{TopUpHistoryList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{TopUpHistoryList_Config.ShowingEnd}}
              </span> {{ 'Common.Of' | translate }} {{TopUpHistoryList_Config.TotalRecords}}
            </span>
            <span>
              {{ 'Common.Show' | translate }}
              <select class="wd-40 " [(ngModel)]="TopUpHistoryList_Config.PageRecordLimit"
                (ngModelChange)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                  {{TItem}}
                </option>
              </select>
            </span>
            <span class="float-right">
              <pagination-controls id="TopUpHistoryList_Paginator" class="pagination pagination-space"
                (pageChange)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
              </pagination-controls>
            </span>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div> -->
    </div>
  </div>
 
 
</div>




