<!-- <div class="card"> -->

<div class="pd-x-10">

  <ol class="breadcrumb df-breadcrumbs mg-b-10">

    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
        [routerLinkActive]="['active']">Analytics
      </a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">Growth and
        Revenue
      </a></li>
  </ol>
</div>

<div class="pd-x-10">
  <div class="d-flex  justify-content-between mb-2">
    <div class="">
      <div class="form-group  mb-0 pb-0 wd-200">
        <input type="text" autocomplete="off" class="form-control form-daterangepicker full-width" name="daterangeInput"
          daterangepicker [options]="_HelperService.AppConfig.GrowthRevenueDateRangeOptionsCustom"
          (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
      </div>


    </div>
    <div>
      <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
        <li class="list-inline-item d-flex align-items-center">
          <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
          <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
            {{_Sale.ActualStartDate | date :["dd LLL yyyy"]}} - {{_Sale.ActualEndDate | date :["dd LLL yyyy"]}}</span>
        </li>
        <li class="btn btn-white cursor-pointer" (click)="StartDownload()"> <i data-feather="printer"
            class="mg-r-5"></i> Print </li>
        <!-- <li class="list-inline-item d-flex align-items-center mg-l-5">
        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
        <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Sale.CompareStartDate | date :["dd
          LLL yyyy"]}} -  {{_Sale.CompareEndDate | date :["dd
          LLL yyyy"]}}</span>
      </li> -->

      </ul>
    </div>

  </div>
</div>

<div id="revenue" class="pd-x-10 pd-t-10">

  <div class="row row-xs mg-b-10 ">
    <div class="col-sm-6 col-lg-3 ">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Revenue achieved</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
            <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_GetoverviewSummary.CommissionAmount
            |
            number: "1.2-2"}}
          </h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
        </div>
        <p class="tx-12 text-secondary mg-b-0"> Total Revenue achieved</p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0 cursor-pointer" (click)="TransactionList()">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Transactions</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
            {{_GetoverviewSummary.Transactions}} <span> <a class="text-primary mg-l-10 tx-14 "><i
                  style="height:  20 px !important ; height: 20px !important; padding-left: 0 px !important;"
                  data-feather="chevron-right"> </i> </a></span> </h3>

        </div>
        <p class="tx-12 text-secondary mg-b-0"> Total transactions done</p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0 cursor-pointer" (click)="RewardList()">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Rewards Distributed</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
            <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_GetoverviewSummary.RewardAmount ||
            "0" |
            number: "1.2-2" }} <span> <a class="text-primary mg-l-10 tx-14 "><i
                  style="height:  20 px !important ; height: 20px !important; padding-left: 0 px !important;"
                  data-feather="chevron-right"> </i> </a> </span>
          </h3>
        </div>
        <p class="tx-12 text-secondary mg-b-0">Total Rewards Distributed</p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0 cursor-pointer" (click)="ReedeemList()">
      <div class="card card-body shadow-none ht-100p">
        <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Redeemed amount</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
            <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_GetoverviewSummary.RedeemAmount |
            number:
            "1.2-2"}} <span> <a class="text-primary mg-l-10 tx-14 "><i
                  style="height:  20 px !important ; height: 20px !important; padding-left: 0 px !important;"
                  data-feather="chevron-right"> </i> </a> </span>
          </h3>
        </div>
        <p class="tx-12 text-secondary mg-b-0"> Total Redeemed amount</p>
      </div>
    </div><!-- col -->
  </div>
  <!-- </div> -->

  <revenuereport></revenuereport>
  <salesreport></salesreport>
  <transactionreport></transactionreport>
  <rewardreport></rewardreport>
  <redeemreport></redeemreport>
</div>