<h4 class="mg-b-12 tx-spacing--1">SMS Campaign </h4>
<div class="card ">
  <div class="card-header">
    <div class=" d-flex justify-content-between">
      <div class="mg-b-10 full-width">
        <ul class="nav nav-line flex-row flex-grow" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab3" data-toggle="tab" href="#Running" role="tab" aria-controls="home3"
              aria-selected="true" (click)="DealerList_ListTypeChange(3)">Running <span
                class="badge  tx-dark tx-11 mg-l-5   {{SelectStatusRunning?  'bg-primary text-white' :'bg-gray-300' }} ">
                {{_GetoverviewSummary.Running || "0"}}
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="home-tab2" data-toggle="tab" href="#Sent" role="tab" aria-controls="home2"
              aria-selected="true" (click)="DealerList_ListTypeChange(2)">Completed <span
                class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusUpcoming?  'bg-success text-white' :'bg-gray-300' }}">
                {{_GetoverviewSummary.Completed || "0"}}
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="home-tab4" data-toggle="tab" href="#Upcoming" role="tab" aria-controls="home4"
              aria-selected="true" (click)="DealerList_ListTypeChange(4)">Upcoming <span
                class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusPaused?  'bg-warning text-white' :'' }}">
                {{_GetoverviewSummary.Upcoming || "0"}}
              </span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" id="contact-tab5" data-toggle="tab" href="#Approvalp" role="tab" aria-controls="contact3"
              aria-selected="false" (click)="DealerList_ListTypeChange(5)">Approval Pending<span
                class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusDraft?  'bg-dark text-white' :''}}">
                {{_GetoverviewSummary.Draft || "0"}} </span></a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link " id="home-tab23" data-toggle="tab" href="#Rejected" role="tab" aria-controls="home12"
              aria-selected="true" (click)="DealerList_ListTypeChange(6) ">Rejected <span
                class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusExpired?  'bg-light ' :'' }}">
                {{_GetoverviewSummary.Expired || "0"}}
              </span></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link " id="profile-tab1" data-toggle="tab" href="#Drafts" role="tab" aria-controls="profile"
              aria-selected="false" (click)="DealerList_ListTypeChange(1)">Drafts <span
                class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusApprovalpending?  'bg-dark text-white' :'' }}">
                {{_GetoverviewSummary.Draft || "0"}}
              </span> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab44" data-toggle="tab" href="#All" role="tab" aria-controls="contact88"
              aria-selected="false" (click)="DealerList_ListTypeChange(0)">All<span
                class="badge bg-gray-300 tx-dark tx-11 mg-l-5">{{_GetoverviewSummary.Total || "0"}}</span></a>
          </li>
          <!-- <li class="nav-item ml-auto">
            <a class="nav-link btn btn-primary tx-13  ht-30  d-flex  align-items-center cursor-pointer text-white px-2"
              (click)="AddNewDeal()">
              Create Campaign
            </a>
          </li> -->
        </ul>

        <!-- <div> <button class="btn btn-primary btn-xs mg-5" (click)="AddNewDeal()"> Create New Deal </button></div> -->

      </div>
    </div>
  </div>
  <div class="box-header px-3 pd-t-15 pd-b-7  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="CampaignList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="CampaignList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="CampaignList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
        class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
        class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="CampaignList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="CampaignList_Config.Sort.SortOrder == 'desc'"
                (click)="CampaignList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="CampaignList_Config.Sort.SortOrder == 'asc'"
                (click)="CampaignList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of CampaignList_Config.Sort.SortOptions"
              (click)="CampaignList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="CampaignList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Created On</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="CampaignList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="CampaignList_Config.StatusOptions"
                  (valueChanged)="CampaignList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>


            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="CampaignList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div> -->
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of CampaignList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <!-- <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.DealMin == 0 && _HelperService.FilterSnap.SalesRange.DealMax == 10000000)" (click)="RemoveFilterComponent('Deals')">
      Deals
      [{{_HelperService.FilterSnap.SalesRange.DealMin + "--" + _HelperService.FilterSnap.SalesRange.DealMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.DealPurchaseMin == 0 && _HelperService.FilterSnap.SalesRange.DealPurchaseMax == 10000000)"
      (click)="RemoveFilterComponent('SoldDeals')">
      Sold Deals [{{_HelperService.FilterSnap.SalesRange.DealPurchaseMin + "--" +
      _HelperService.FilterSnap.SalesRange.DealPurchaseMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
  </div> -->

  <div class="card-body p-0 table-responsive">
    <table class="table  mb-0">
      <thead>
        <tr>
          <th style="max-width: 300px !important;">
            Message
          </th>

          <!-- <th>
            Merchant
          </th> -->
          <th class="" *ngIf="ListType == 2 || ListType == 3 || ListType == 0">
            Sent on
          </th>
          <th class="">
            Created on
          </th>
          <th class="" *ngIf="ListType == 4 || ListType == 0">
            Schedule on
          </th>

          <th class="text-center">
            To
          </th>
          <th class="text-left">
            SMS Budget
          </th>
          <th class="">
            Delivery Status
          </th>

          <th class="">

          </th>

        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer"
          *ngFor="let TItem of CampaignList_Config.Data  | paginate: { id: 'CampaignList_Paginator',itemsPerPage: CampaignList_Config.PageRecordLimit, currentPage: CampaignList_Config.ActivePage,  totalItems: CampaignList_Config.TotalRecords }; let i = index">
          <td style="max-width: 300px !important;" class=" route-hover" (click)="CampaignList_RowDetail(TItem)">
            <div> {{TItem.Title || "--"}} </div>
            <div class="tx-12">
              <span class="text-secondary mg-r-5"> Sender Id - </span> <span class="tx-black"> {{TItem.SenderId || "--"
                }} </span>
            </div>
            <div class="tx-12 text-secondary"> {{TItem.Message | truncateText:140 || "--"}} </div>

          </td>
          <!-- <td>
            <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.AccountIconUrl}}"
              class="img wd-40 ht-40 rounded-5 bd bd-2" [style.border-color]="TItem.StatusC">
            {{TItem.AccountDisplayName}}
          </td> -->
          
          <td *ngIf="ListType == 2 || ListType == 3 ||  ListType == 0">
            <div class="tx-14 tx-semibold">{{TItem.SendDateD || "--"}}</div>
            <div class="tx-12 text-secondary"> {{TItem.SendDateT || "--"}} </div>
          </td>

          <td>
            <div class="tx-14 tx-semibold">{{TItem.CreateDateD || "--"}}</div>
            <div class="tx-12 text-secondary"> {{TItem.CreateDateT || "--"}} </div>
          </td>

          <td *ngIf="ListType == 4 || ListType == 0">
            <div class="tx-14 tx-semibold">{{TItem.SendDateD || "--"}}</div>
            <div class="tx-12 text-secondary"> {{TItem.SendDateT || "--"}} </div>
          </td>

          <td class="d-flex justify-content-center">
            <div *ngIf="TItem.Groups">
              <div class="" *ngFor="let group of TItem.Groups">
                <button type="button" disabled
                  class="btn btn-xs b-a r-2x bd bd-gray-500  rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left Word-break">{{group.GroupName}}</button>
              </div>
            </div>

          </td>
          <td class="text-left">
            <div class="">{{(TItem.Budget/4) || "0"}} Messages </div>
            <div class="tx-12"><span class="mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{TItem.Budget || "--"}} Credits
            </div>
            <div class="tx-12 text-secondary">(<span class="mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>4/Msg)</div>

          </td>

          <td class="" *ngIf="ListType != 4">
            <div class="d-flex justify-content-between mg-t-5"> <span>Sent </span> <span
                style="  background-color:  #E5E9F2 !important" class="badge text-secondary tx-11"> {{TItem.Sent ||
                "0"}} </span> </div>
            <div class="d-flex justify-content-between mg-t-5"> <span>Delivered </span> <span
                style="  background-color:  #0168FA1A !important" class="badge text-primary tx-11"> {{TItem.Delivered ||
                "0"}} </span> </div>
            <div class="d-flex justify-content-between mg-t-5"> <span>Pending </span> <span
                style="  background-color:  #FFC20A33 !important" class="badge text-warning tx-11"> {{TItem.Pending ||
                "0"}} </span> </div>
            <div class="d-flex justify-content-between mg-t-5"> <span>Failed </span> <span
                style="  background-color:  #DC35451A !important" class="badge text-danger tx-11"> {{TItem.Failed ||
                "0"}} </span></div>

          </td>


          <td *ngIf="ListType == 0 && ListType == 3"></td>
          <td class="" *ngIf="ListType != 0  && ListType != 3  ">
            <div>
              <div class="dropdown dropleft">
                <!-- (click)="SubAccountsList_RowSelected(TItem)" -->
                <a href="" class="nav-link" id="SubAccountsList_rdropdown_{{i}}" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15">
                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">More Actions
                    </h6>
                    <!-- <a *ngIf="TItem.StatusId == '717'"
                      class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="StatusUpdate(TItem,'cancelled');CloseRowModal(i)">
                      <span class="pd-r-10"><i class="fas fa-times-circle text-danger"></i></span>Stop Sending
                    </a> -->
                    <a *ngIf="TItem.StatusId == '722'"
                      class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="DuplicateCampaign(TItem);CloseRowModal(i)">
                      <span class="pd-r-10"><i class="far fa-copy"></i></span>Duplicate
                    </a>
                    <!-- <a *ngIf="TItem.StatusId == '717'"
                      class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="CampaignList_RowSelected(TItem);CloseRowModal(i)">
                      <span class="pd-r-10"><i class="far fa-copy"></i></span>Edit
                    </a> -->
                    <a *ngIf="TItem.StatusId == '717'"
                      class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="StatusUpdate(TItem,'cancelled','Cancel Campaign ?');CloseRowModal(i)">
                      <span class="pd-r-10"><i class="fas fa-times-circle text-danger"></i></span>Cancel
                    </a>
                    <a *ngIf="TItem.StatusId == '712'"
                      class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="CampaignList_RowSelected(TItem);CloseRowModal(i)">
                      <span class="pd-r-10"><i class="far fa-copy"></i></span>Edit & Create
                    </a>

                    <a *ngIf="TItem.StatusId == '712'"
                      class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="DeleteCampaign(TItem);CloseRowModal(i)">
                      <span class="pd-r-10"><i class="fas fa-trash-alt text-danger"></i></span>Delete Campaign
                    </a>



                  </form>
                </div>
              </div>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{CampaignList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{CampaignList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{CampaignList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="CampaignList_Config.PageRecordLimit"
        (ngModelChange)="CampaignList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="CampaignList_Paginator" class="pagination pagination-space"
        (pageChange)="CampaignList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>