<!-- acquirer--merchants--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class=""
            [routerLinkActive]="['active']">Account
            Setting</a></li>
</ol>
<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0" id="headingOne">
            <div class="row ">
                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl" [hidden]="!isLoaded"><img
                                [style.border-color]="_MerchantDetails.StatusC"
                                (error)="_HelperService.defaultImage($event)" src="{{_MerchantDetails.IconUrl}}"
                                class="rounded-circle bd bd-2" alt=""> </div>
                        <div class="placeholder-media wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                            <div class="line"></div>
                        </div>
                    </div><!-- media -->
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media Hm-textCenterMd" [hidden]="!isLoaded">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-spacing--1 tx-medium text-capitalize  mg-b-2">
                                {{_MerchantDetails.DisplayName || "--"}}</h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-dark tx-normal   lh-2 mg-b-5">
                                    <span class="mg-r-5 tx-teal"> <i style="height: 18px; width: 18px;;"
                                            data-feather="users"></i> </span> Merchant
                                    Id : <span class="tx-dark"> {{_MerchantDetails.AccountCode || "--"}} </span>
                                </h2>
                            </div>
                            <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-dark tx-normal   lh-2 mg-b-0 d-flex">
                                    <span class="text-danger mg-r-5"> <i style="height: 18px; width: 18px;;"
                                            data-feather="map-pin"></i> </span>
                                    <span>{{MerchantAddress.Address || "--"}}</span>
                                </h2>
                            </div>
                        </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="placeholder-paragraph wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                        <div class="line"></div>
                    </div>

                </div>
                <div class="col-lg-6 Hm-media768" id="StoresDetails">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class=" tx-40 tx-rubik   tx-verve mg-b-5 mg-r-5 lh-1">
                                                {{_MerchantDetails.Stores}}</h3>
                                        </div>
                                        <p class="tx-12 text-secondary mg-b-0 "> Stores</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class=" tx-40 tx-rubik   tx-teal mg-b-5 mg-r-5 lh-1 ">
                                                {{_MerchantDetails.Terminals}}</h3>
                                        </div>
                                        <p class="tx-12 text-secondary mg-b-0">Pos Terminal</p>

                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <div class="manageButton mg-t-0 pd-t-0">
                                    <button type="button" (click)="clicked()"
                                        class="btn btn-xs btn-transparent text-secondary bd bd-secondary rounded-pill">Edit
                                        Account</button>
                                </div>

                                <div class="collapseButton">
                                    <button (click)="ToogleExpandedView();HideStoreDetail()" class="btn  btn-link"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <div class="tx-15 tx-lg-18 lh-0 text-secondary"><i class="fas fa-chevron-down"
                                                [class.clicked]="ExpandedView"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-0">
                <div class="row">

                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-11">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <!-- <div style="z-index: 3 !important;" class="Hm-height   ht-100p" leaflet
                                    [leafletOptions]="_HelperService.lefletoptions"
                                    [leafletLayers]="_HelperService.layers"
                                    (leafletMapReady)="_HelperService.onMapReady($event,false)">
                                </div> -->
                                <agm-map class=" ht-100p" [zoom]="12" [latitude]="MerchantAddress.Latitude"
                                    [longitude]="MerchantAddress.Longitude" [styles]="_HelperService.darkStyle"
                                    [streetViewControl]="false">
                                    <agm-marker [latitude]="MerchantAddress.Latitude"
                                        [longitude]="MerchantAddress.Longitude">
                                    </agm-marker>
                                </agm-map>
                            </div>

                            <div class="col-sm-12 col-md-6  col-lg-6">
                                <div class="row">

                                    <div class=" col-sm-12 col-md-6  col-lg-6 Hm-media768">
                                        <label class="tx-12 tx-medium text-uppercase tx-color-01 mg-b-15">Business
                                            Contact Details
                                        </label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="text-secondary"><i data-feather="smartphone"></i> <a
                                                    class="text-secondary">{{_MerchantDetails.ContactNumber ||
                                                    "--"}}</a>
                                            </li>
                                            <li class="text-secondary "><i data-feather="mail"></i>
                                                <a class="Word-break">{{_MerchantDetails.EmailAddress || "--"}}</a>
                                            </li>
                                        </ul>
                                        <label class="tx-12 tx-medium text-uppercase tx-color-01 mg-b-15">Business Owner
                                        </label>
                                        <ul class="list-unstyled profile-info-list">

                                            <li class="text-secondary"><i data-feather="user"></i>
                                                <a class="Word-break">{{_MerchantDetails.OwnerName || "--"}}</a>
                                            </li>

                                        </ul>

                                    </div>
                                    <div class="col-sm-12 col-md-6  col-lg-6 Hm-media768">
                                        <label class="tx-12 tx-medium text-uppercase tx-color-01 mg-b-15">Contact
                                            Person</label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="text-secondary"><i data-feather="user"></i>
                                                <a class="Word-break">{{MerchantContactPerson.FirstName || "--"}}
                                                    {{MerchantContactPerson.LastName}}</a>
                                            </li>
                                            <li class="text-secondary"><i data-feather="smartphone"></i>
                                                <a>{{MerchantContactPerson.MobileNumber || "--"}}</a>
                                            </li>
                                            <li class="text-secondary"><i data-feather="mail"></i> <a
                                                    class="Word-break">
                                                    {{MerchantContactPerson.EmailAddress || "--"}}</a>
                                            </li>
                                        </ul>


                                    </div>
                                    <div class="col-lg-12 Hm-media768">
                                        <div class="d-inline justify-content-between"
                                            *ngFor="let catagories of _MerchantDetails['Categories']">
                                            <button type="button" disabled
                                                class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left">{{catagories.Name}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Hm-media768 d-block d-sm-none">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row flex-nowrap">

                            <div class="col-sm-6 col-md-6 col-lg-6">

                                <div class=" text-center stores">
                                    <div class="text-center">
                                        <h3 class="tx-40  tx-rubik  tx-verve mg-b-5 mg-r-5 lh-1">
                                            {{_MerchantDetails.Stores}}</h3>
                                    </div>
                                    <p class="tx-12 text-secondary mg-b-0 "> Stores</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class=" text-center Terminals">
                                    <div class="text-center">
                                        <h3 class="tx-40  tx-rubik  tx-teal mg-b-5 mg-r-5 lh-1 ">
                                            {{_MerchantDetails.Terminals}}</h3>
                                    </div>
                                    <p class="tx-12 text-secondary mg-b-0"> Pos Terminal</p>

                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                        <div class="row">
                            <div class="manageButton mg-t-0 pd-t-0">
                                <button type="button" (click)="clicked()"
                                    class="btn btn-xs btn-transparent text-secondary bd bd-secondary rounded-pill">Edit
                                    Account</button>
                            </div>

                            <div class="collapseButton">
                                <button (click)="ToogleExpandedView();ShowStoreDetail()" class="btn  btn-link"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    <div class="tx-15 tx-lg-18 lh-0 text-secondary">
                                        <i class="fas fa-chevron-down" [class.clicked]="ExpandedView"></i>
                                    </div>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="card shadow-none gredientBorder wd-200" >
   
</div> -->
<div class="card  bd-b-0 pd-x-20 pd-b-20 pd-t-10 mt-3">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist" [routerLinkActive]="['active']">

        <!-- <div class="d-flex flex-wrap ">
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="Stores-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.Stores}}" role="tab"
                    aria-controls="home" aria-selected="true">Stores</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="POS-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.Terminals}}"
                    role="tab" aria-controls="home" aria-selected="true">POS Terminals</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="Cashier-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.Cashiers}}"
                    role="tab" aria-controls="home" aria-selected="true">Cashiers</a>
            </li>
            <li *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled == false" class="nav-item cursor-pointer"
                [routerLinkActive]="['active']">
                <a class="nav-link" id="Topup-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.TopUp}}" role="tab"
                    aria-controls="home" aria-selected="true">Top-Up & Subscriptions</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.RewardPercentage}}"
                    role="tab" aria-controls="home" aria-selected="true">Reward Percentage</a>
            </li>
            <li *ngIf="_HelperService.UserAccount.AccountType == 'Merchant'" class="nav-item cursor-pointer"
                [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.SubAccounts}}"
                    role="tab" aria-controls="home" aria-selected="true">Sub Accounts</a>
            </li>

        </div> -->

        <div class="row  d-flex no-gutters">
            <!-- <button class="btn btn-primary rounded-pill tx-12 py-1 mg-r-5" (click)="AddBulkTerminal()"
            *ngIf="_HelperService.showAddNewPosBtn" style="height: 30px;"> Bulk terminal </button> -->
            <button class="btn btn-primary rounded-pill tx-12 py-1" (click)="Form_AddUser_Show()"
                *ngIf="_HelperService.showAddNewPosBtn" style="height: 30px;"> Add New POS </button>
            <button class="btn btn-primary rounded-pill tx-12 py-1" (click)="Form_AddStore_Show()"
                *ngIf="_HelperService.showAddNewStoreBtn" style="height: 30px;"> Add New Store </button>
            <button class="btn btn-primary rounded-pill tx-12 py-1" (click)="Form_AddCashier_Show()"
                *ngIf="_HelperService.showAddNewCashierBtn" style="height: 30px;"> Add New Cashier </button>
            <button class="btn btn-primary rounded-pill tx-12 py-1" (click)="Form_AddSubAccount_Show()"
                *ngIf="_HelperService.showAddNewSubAccBtn" style="height: 30px;"> Add New </button>

            <!-- <div class=" col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class="  mg-r-10 order-1">
                    <input type="text" class="form-control tx-13 form-daterangepicker" style="height: 30px;"
                        name="daterangeInput" daterangepicker
                        [options]="_HelperService.AppConfig.DatePickerOptionsForToday"
                        (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>

            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" data-toggle="buttons" style="height: 30px;"
                *ngIf="_HelperService.ShowDateRange">
                <label
                    class="btn btn-xs pb-0 mb-0 tx-13    d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label
                    class="btn btn-xs  pb-0 mb-0 tx-13  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label
                    class="btn pb-0 mb-0 btn-xs tx-13  active d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div> -->
        </div>

    </ul>
</div>
<!-- <div class="card mb-3 bg bd mt-3">
    <div class="navbar navbar-expand-lg  mt-2">
        <li class="d-lg-none d-flex align-items-center">
            <a href="#" class="mx-2" data-toggle="collapse" data-target="#navbarToggler"><svg
                    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512">
                    <path d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z"></path>
                </svg></a>
        </li>
        <div class="collapse navbar-collapse order-lg-1  " id="navbarToggler">
            <ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLinkActive]="['active']"
                        routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchant.Dashboard}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}">
                        <span class="nav-text">{{"System.Menu.Dashboard" | translate}}</span>
                    </a>
                </li>

                <li class="nav-item dropdown" [routerLinkActive]="['active']">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sale </a>
                    <div class="dropdown-menu mt-2 w pt-2 mt-2 animate fadeIn">
                        <a [routerLinkActive]="['active']" class="dropdown-item"
                            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchant.SalesHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}">
                            Sales History</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->
<router-outlet></router-outlet>

<div id="Form_AddUser_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true"
    style="overflow-y: scroll !important;">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">New Terminal Setup</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <label class="">Upload Receipt<span class="text-danger">*</span>
                            </label>

                        </div>
                        <div>
                            <span class="d-flex align-items-end"><i class="fa fa-question-circle" aria-hidden="true"
                                    (click)="ShowHelpImage('receipt')"></i></span>
                        </div>

                    </div>
                    <div>
                        <!-- <label>{{ 'System.Users.Icon' | translate }}

                            <span class="small muted">
                                -
                                {{_HelperService._FileSelect_Icon_Data.Width}}x{{_HelperService._FileSelect_Icon_Data.Height}}
                            </span>
                        </label> 
                         <ng2-file-input [id]="_HelperService._FileSelect_Icon" [multiple]="false"
                            (onAdded)="_HelperService.Icon_Change($event)"
                            extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                            [browse-text]="'Show file picker'" [removable]="false"></ng2-file-input> -->
                        <input-file #terminal inputId="input-file" placeholder="">
                        </input-file>
                    </div>
                    <div class="text-danger mb-2">Make sure you are adding correct terminal id </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <div>
                                <label>{{ "System.Users.TerminalId" | translate }}<span class="text-danger">*</span>
                                </label>
                            </div>
                            <div>
                                <span><i class="fa fa-question-circle" aria-hidden="true"
                                        (click)="ShowHelpImage('terminal')"></i></span>
                            </div>
                        </div>
                        <div class="controls">
                            <input type="text" name="TerminalId" placeholder="Terminal Id" required maxlength="25"
                                class="form-control" [formControl]="Form_AddUser.controls['TerminalId']" [ngClass]="{
              'is-invalid':
                !Form_AddUser.controls['TerminalId'].valid &&
                Form_AddUser.controls['TerminalId'].touched
            }" />
                        </div>
                        <label class="text-danger" for="TerminalId" *ngIf="
            Form_AddUser.controls['TerminalId'].hasError('required') &&
            Form_AddUser.controls['TerminalId'].touched
          ">{{
                            "System.Users.Terminal_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="TerminalId" *ngIf="
            Form_AddUser.controls['TerminalId'].hasError(
              'minlength'
            ) ||
            Form_AddUser.controls['TerminalId'].hasError('maxlength')
          ">{{ "System.Users.Terminal_ER_Length" | translate }}</label>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <div>
                                <label>{{ "System.Users.SerialNumber" | translate
                                    }}
                                </label>
                            </div>
                            <div>
                                <span><i class="fa fa-question-circle" aria-hidden="true"
                                        (click)="ShowHelpImage('serial')"></i></span>
                            </div>
                        </div>

                        <div class="controls">
                            <input type="text" name="SerialNumber" placeholder="Serial Number" required maxlength="25"
                                class="form-control" [formControl]="Form_AddUser.controls['SerialNumber']" />
                        </div>
                    </div>
                    <div class="form-group pd-b-0" *ngIf="!_HelperService.ToggleField && !ToggleStoreSelect">
                        <label for=""> Select Store</label>
                        <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                            (valueChanged)="TUTr_Filter_Stores_Change($event)">
                        </select2>
                    </div>
                    <div class="form-group  pd-b-0" *ngIf="!_HelperService.ToggleField">
                        <label for=""> POS Terminal Provider</label>

                        <select2 class="full-width" [options]="TUTr_Filter_Provider_Option"
                            (valueChanged)="TUTr_Filter_Providers_Change($event)">
                        </select2>
                    </div>
                    <div class="form-group pd-b-0" *ngIf="!_HelperService.ToggleField">
                        <label for=""> Select Bank</label>

                        <select2 class="full-width" [options]="TUTr_Filter_Bank_Option"
                            (valueChanged)="TUTr_Filter_Banks_Change($event)">
                        </select2>
                    </div>
                    <div class="form-group pd-b-0" *ngIf="!_HelperService.ToggleField">
                        <label for=""> Select Cashier</label>
                        <select2 class="full-width" [options]="TUTr_Filter_Cashier_Option"
                            (valueChanged)="TUTr_Filter_Cashiers_Change($event)">
                        </select2>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_AddUser.value.OperationType = 'new'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="Form_AddCashier_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true"
    style="overflow-y: scroll !important;">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddCashier" (ngSubmit)="Form_AddCashier_Process(Form_AddCashier.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Cashier</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>{{ "System.Users.FirstName" | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="controls">
                                    <input type="text" name="FirstName" placeholder="First Name" required
                                        maxlength="128" class="form-control"
                                        [formControl]="Form_AddCashier.controls['FirstName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCashier.controls['FirstName'].valid &&
                        Form_AddCashier.controls['FirstName'].touched
                    }" />
                                </div>
                                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCashier.controls['FirstName'].hasError('required') &&
                    Form_AddCashier.controls['FirstName'].touched
                  ">{{
                                    "System.Users.FirstName_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCashier.controls['FirstName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCashier.controls['FirstName'].hasError('maxlength')
                  ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>{{ "System.Users.LastName" | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="controls">
                                    <input type="text" name="LastName" placeholder="Last Name" required maxlength="128"
                                        class="form-control" [formControl]="Form_AddCashier.controls['LastName']"
                                        [ngClass]="{
                      'is-invalid':
                        !Form_AddCashier.controls['LastName'].valid &&
                        Form_AddCashier.controls['LastName'].touched
                    }" />
                                </div>
                                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCashier.controls['LastName'].hasError('required') &&
                    Form_AddCashier.controls['LastName'].touched
                  ">{{
                                    "System.Users.LastName_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCashier.controls['LastName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCashier.controls['LastName'].hasError('maxlength')
                  ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ "System.Users.EmailAddress" | translate
                            }}<span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128"
                                class="form-control" [formControl]="Form_AddCashier.controls['EmailAddress']" [ngClass]="{
                          'is-invalid':
                            !Form_AddCashier.controls['EmailAddress'].valid &&
                           Form_AddCashier.controls['EmailAddress'].touched
                        }" />
                        </div>
                        <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCashier.controls['EmailAddress'].hasError('required') &&
                       Form_AddCashier.controls['EmailAddress'].touched
                      ">{{
                            "System.Users.EmailAddress_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCashier.controls['EmailAddress'].touched &&
                        !Form_AddCashier.controls['EmailAddress'].valid && 
                        !Form_AddCashier.controls['EmailAddress'].hasError('required')
                      ">Enter valid email Address</label>
                    </div>
                    <div class="form-group">
                        <label>{{ "System.Users.ContactNumber" | translate
                            }}<span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <input type="text" placeholder="Contact Number" name="ContactNumber" maxlength="128"
                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                [formControl]="Form_AddCashier.controls['ContactNumber']" [ngClass]="{
                        'is-invalid':
                          !Form_AddCashier.controls['ContactNumber'].valid &&
                         Form_AddCashier.controls['ContactNumber'].touched
                      }" />
                        </div>
                        <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddCashier.controls['ContactNumber'].hasError('required') &&
                     Form_AddCashier.controls['ContactNumber'].touched
                    ">{{
                            "System.Users.ContactNumber_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddCashier.controls['ContactNumber'].hasError(
                        'minlength'
                      ) ||
                     Form_AddCashier.controls['ContactNumber'].hasError('maxlength')
                    ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
                    </div>

                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <div>
                                <label>{{ "System.Users.EmployeeCode" | translate }}
                                </label>
                            </div>

                        </div>
                        <div class="controls">
                            <input type="text" name="EmployeeCode" placeholder="Employee Code" maxlength="25"
                                class="form-control" [formControl]="Form_AddCashier.controls['EmployeeCode']" />
                        </div>


                    </div>

                    <div class="form-group mr-2 mb-2" *ngIf="!_HelperService.ToggleField && !ToggleStoreSelect">
                        <label for=" "> {{'System.Users.Store' | translate }}<span class="text-danger">*</span> </label>
                        <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                            (valueChanged)="TUTr_Filter_Stores_Change($event)">
                        </select2>
                    </div>


                    <div class="form-group">
                        <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Male"
                                    [formControl]="Form_AddCashier.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Male' | translate }}</label>
                        </div>
                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Female"
                                    [formControl]="Form_AddCashier.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Female' | translate }}</label></div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label>Profile Picture
                            </label>
                        </div>
                        <div class="col-md-12">
                            <input-file #cashier inputId="input-file" placeholder="">
                            </input-file>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="Form_AddCashier_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_AddCashier.value.OperationType = 'new'"
                        [disabled]="!Form_AddCashier.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="Form_AddSubAccount_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddSubAccount" (ngSubmit)="Form_AddSubAccount_Process(Form_AddSubAccount.value)"
                role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New SubAccount</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>{{ "System.Users.FirstName" | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="controls">
                                    <input type="text" name="FirstName" placeholder="First Name" required
                                        maxlength="128" class="form-control"
                                        [formControl]="Form_AddSubAccount.controls['FirstName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddSubAccount.controls['FirstName'].valid &&
                        Form_AddSubAccount.controls['FirstName'].touched
                    }" />
                                </div>
                                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddSubAccount.controls['FirstName'].hasError('required') &&
                    Form_AddSubAccount.controls['FirstName'].touched
                  ">{{
                                    "System.Users.FirstName_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddSubAccount.controls['FirstName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddSubAccount.controls['FirstName'].hasError('maxlength')
                  ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>{{ "System.Users.LastName" | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="controls">
                                    <input type="text" name="LastName" placeholder="Last Name" required maxlength="128"
                                        class="form-control" [formControl]="Form_AddSubAccount.controls['LastName']"
                                        [ngClass]="{
                      'is-invalid':
                        !Form_AddSubAccount.controls['LastName'].valid &&
                        Form_AddSubAccount.controls['LastName'].touched
                    }" />
                                </div>
                                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddSubAccount.controls['LastName'].hasError('required') &&
                    Form_AddSubAccount.controls['LastName'].touched
                  ">{{
                                    "System.Users.LastName_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddSubAccount.controls['LastName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddSubAccount.controls['LastName'].hasError('maxlength')
                  ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ "System.Users.EmailAddress" | translate
                            }}<span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128"
                                class="form-control" [formControl]="Form_AddSubAccount.controls['EmailAddress']"
                                [ngClass]="{
                          'is-invalid':
                            !Form_AddSubAccount.controls['EmailAddress'].valid &&
                           Form_AddSubAccount.controls['EmailAddress'].touched
                        }" />
                        </div>
                        <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddSubAccount.controls['EmailAddress'].hasError('required') &&
                       Form_AddSubAccount.controls['EmailAddress'].touched
                      ">{{
                            "System.Users.EmailAddress_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddSubAccount.controls['EmailAddress'].touched &&
                        !Form_AddSubAccount.controls['EmailAddress'].valid && 
                        !Form_AddSubAccount.controls['EmailAddress'].hasError('required')
                      ">Enter valid email Address</label>
                    </div>
                    <div class="form-group">
                        <label>{{ "System.Users.ContactNumber" | translate
                            }}<span class="text-danger">*</span>
                        </label>
                        <div class="controls input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                            </div>
                            <input type="text" placeholder="Contact Number" name="ContactNumber" maxlength="128"
                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                [formControl]="Form_AddSubAccount.controls['ContactNumber']" [ngClass]="{
                        'is-invalid':
                          !Form_AddSubAccount.controls['ContactNumber'].valid &&
                         Form_AddSubAccount.controls['ContactNumber'].touched
                      }" />
                        </div>
                        <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddSubAccount.controls['ContactNumber'].hasError('required') &&
                     Form_AddSubAccount.controls['ContactNumber'].touched
                    ">{{
                            "System.Users.ContactNumber_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddSubAccount.controls['ContactNumber'].hasError(
                        'minlength'
                      ) ||
                     Form_AddSubAccount.controls['ContactNumber'].hasError('maxlength')
                    ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
                    </div>
                    <div class="form-group">
                        <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Male"
                                    [formControl]="Form_AddSubAccount.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Male' | translate }}</label>
                        </div>
                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Female"
                                    [formControl]="Form_AddSubAccount.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Female' | translate }}</label></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="Form_AddSubAccount_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_AddSubAccount.value.OperationType = 'new'"
                        [disabled]="!Form_AddSubAccount.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="Form_AddHelp_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <div class="modal-body  p-lg d-flex justify-content-center">
                <img [src]="HelpImageUrl" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ "Common.Close" | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
<div id="Form_AddStore_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <form [formGroup]="Form_AddStore" (ngSubmit)="Form_AddStore_Process(Form_AddStore.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Store / Location</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ "System.Menu.StoreName" | translate
                                    }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="Name" maxlength="128" class="form-control"
                                        [formControl]="Form_AddStore.controls['Name']" [ngClass]="{
                                      'is-invalid':
                                        !Form_AddStore.controls['Name'].valid &&
                                        Form_AddStore.controls['Name'].touched
                                    }" />
                                </div>
                                <label class="text-danger" for="Name" *ngIf="
                                    Form_AddStore.controls['Name'].hasError('required') &&
                                    Form_AddStore.controls['Name'].touched
                                  ">{{
                                    "System.Users.Name_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="Name" *ngIf="
                                    Form_AddStore.controls['Name'].hasError(
                                      'minlength'
                                    ) ||
                                    Form_AddStore.controls['Name'].hasError('maxlength')
                                  ">store name must be between 4 - 256 characters</label>
                            </div>
                            <div class="form-group">
                                <label>{{ "System.Menu.StoreNickName" | translate
                                    }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="DisplayName" maxlength="128" class="form-control"
                                        [formControl]="Form_AddStore.controls['DisplayName']" [ngClass]="{
                                    'is-invalid':
                                      !Form_AddStore.controls['DisplayName'].valid &&
                                      Form_AddStore.controls['DisplayName'].touched
                                  }" />
                                </div>
                                <label class="text-danger" for="DisplayName" *ngIf="
                                  Form_AddStore.controls['DisplayName'].hasError('required') &&
                                  Form_AddStore.controls['DisplayName'].touched
                                ">enter store nick name</label>
                                <label class="text-danger" for="DisplayName" *ngIf="
                                  Form_AddStore.controls['DisplayName'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_AddStore.controls['DisplayName'].hasError('maxlength')
                                ">store nick name must be between 2 - 25 characters</label>
                            </div>
                            <div class="form-group">
                                <label>{{ "System.Users.EmailAddress" | translate
                                    }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="EmailAddress" maxlength="128" class="form-control"
                                        [formControl]="Form_AddStore.controls['EmailAddress']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['EmailAddress'].valid &&
                                    Form_AddStore.controls['EmailAddress'].touched
                                }" />
                                </div>
                                <label class="text-danger" for="EmailAddress" *ngIf="
                                Form_AddStore.controls['EmailAddress'].hasError('required') &&
                                Form_AddStore.controls['EmailAddress'].touched
                              ">{{
                                    "System.Users.EmailAddress_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="EmailAddress" *ngIf="
                                Form_AddStore.controls['EmailAddress'].touched &&
                                !Form_AddStore.controls['EmailAddress'].valid && 
                                !Form_AddStore.controls['EmailAddress'].hasError('required')
                              ">Enter valid email Address</label>
                            </div>
                            <div class="form-group">
                                <label>{{ "System.Users.ContactNumber" | translate
                                    }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="ContactNumber" maxlength="128" class="form-control"
                                        (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddStore.controls['ContactNumber']" [ngClass]="{
                                'is-invalid':
                                  !Form_AddStore.controls['ContactNumber'].valid &&
                                  Form_AddStore.controls['ContactNumber'].touched
                              }" />
                                </div>
                                <label class="text-danger" for="ContactNumber" *ngIf="
                              Form_AddStore.controls['ContactNumber'].hasError('required') &&
                              Form_AddStore.controls['ContactNumber'].touched
                            ">{{
                                    "System.Users.ContactNumber_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="ContactNumber" *ngIf="
                              Form_AddStore.controls['ContactNumber'].hasError(
                                'minlength'
                              ) ||
                              Form_AddStore.controls['ContactNumber'].hasError('maxlength')
                            ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
                            </div>
                            <div class="form-group">
                                <label> Store Manager First Name<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="FirstName" maxlength="128" class="form-control"
                                        [formControl]="Form_AddStore.controls['FirstName']" [ngClass]="{
                                    'is-invalid':
                                      !Form_AddStore.controls['FirstName'].valid &&
                                      Form_AddStore.controls['FirstName'].touched
                                  }" />
                                </div>
                                <label class="text-danger" for="FirstName" *ngIf="
                                  Form_AddStore.controls['FirstName'].hasError('required') &&
                                  Form_AddStore.controls['FirstName'].touched
                                ">Enter first name</label>
                                <label class="text-danger" for="FirstName" *ngIf="
                                  Form_AddStore.controls['FirstName'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_AddStore.controls['FirstName'].hasError('maxlength')
                                ">First name must be between 2 - 128 characters</label>
                            </div>
                            <div class="form-group">
                                <label>Store Manager Last Name<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="LastName" maxlength="128" class="form-control"
                                        [formControl]="Form_AddStore.controls['LastName']" [ngClass]="{
                                    'is-invalid':
                                      !Form_AddStore.controls['LastName'].valid &&
                                      Form_AddStore.controls['LastName'].touched
                                  }" />
                                </div>
                                <label class="text-danger" for="LastName" *ngIf="
                                  Form_AddStore.controls['LastName'].hasError('required') &&
                                  Form_AddStore.controls['LastName'].touched
                                ">enter Last name</label>
                                <label class="text-danger" for="LastName" *ngIf="
                                  Form_AddStore.controls['LastName'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_AddStore.controls['LastName'].hasError('maxlength')
                                ">Last name must be between 2 - 128 characters</label>
                            </div>
                            <div class="form-group">
                                <label>Store Manager's Email Id<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="EmailAddress" maxlength="128" class="form-control"
                                        [formControl]="Form_AddStore.controls['EmailAddress']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['EmailAddress'].valid &&
                                    Form_AddStore.controls['EmailAddress'].touched
                                }" />
                                </div>
                                <label class="text-danger" for="EmailAddress" *ngIf="
                                Form_AddStore.controls['EmailAddress'].hasError('required') &&
                                Form_AddStore.controls['EmailAddress'].touched
                              ">{{
                                    "System.Users.EmailAddress_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="EmailAddress" *ngIf="
                                Form_AddStore.controls['EmailAddress'].touched &&
                                !Form_AddStore.controls['EmailAddress'].valid && 
                                !Form_AddStore.controls['EmailAddress'].hasError('required')
                              ">Enter valid email Address</label>
                            </div>
                            <div class="form-group">
                                <label>Store Manager's Phone Number<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="MobileNumber" maxlength="128" class="form-control"
                                        (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddStore.controls['MobileNumber']" [ngClass]="{
                                'is-invalid':
                                  !Form_AddStore.controls['MobileNumber'].valid &&
                                  Form_AddStore.controls['MobileNumber'].touched
                              }" />
                                </div>
                                <label class="text-danger" for="MobileNumber" *ngIf="
                              Form_AddStore.controls['MobileNumber'].hasError('required') &&
                              Form_AddStore.controls['MobileNumber'].touched
                            ">{{
                                    "System.Users.MobileNumber_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="MobileNumber" *ngIf="
                              Form_AddStore.controls['MobileNumber'].hasError(
                                'minlength'
                              ) ||
                              Form_AddStore.controls['MobileNumber'].hasError('maxlength')
                            ">{{ "System.Users.MobileNumber_ER_Length" | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Business Categories<span class="text-danger">*</span>
                                </label>
                                <select2 class="full-width" *ngIf="ShowCategorySelector"
                                    [options]="_HelperService.Select2Options_Multiple"
                                    [value]="SelectedBusinessCategories" [data]="S2BusinessCategories"
                                    (valueChanged)="CategoriesSelected($event)">
                                </select2>
                            </div>

                            <div class="form-group">
                                <label>Select Location<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="GAddress" maxlength="256" class="form-control"
                                        ngx-google-places-autocomplete #places="ngx-places"
                                        (onAddressChange)="Form_AddStore_AddressChange($event)">
                                </div>

                            </div>
                            <div class="agm">
                                <agm-map style="width:360px; height: 200px;" [zoom]="12"
                                    [latitude]="Form_AddStore_Latitude" [styles]="_HelperService.darkStyle"
                                    [longitude]="Form_AddStore_Longitude"
                                    (mapClick)="Form_AddStore_PlaceMarkerClick($event)">
                                    <agm-marker [latitude]="Form_AddStore_Latitude"
                                        [longitude]="Form_AddStore_Longitude">
                                    </agm-marker>
                                </agm-map>
                            </div>
                            <div class="form-group mg-b-2 mt-3">
                                <label> <span class="tx-14"> Detailed Address </span>
                                    <span class="text-danger">*</span>
                                    <br> <span class="text-muted tx-10 pd-0 mg-0"> (Street Name, Building Name,
                                        Floor Number Etc) </span>
                                </label>
                                <div class="controls">
                                    <textarea name="MapAddress" maxlength="256" class="form-control" rows="3"
                                        [formControl]="Form_AddStore.controls['MapAddress']"
                                        [(ngModel)]="Form_AddStore_Address"
                                        [ngClass]="{'is-invalid':!Form_AddStore.controls['MapAddress'].valid && Form_AddStore.controls['MapAddress'].touched}"></textarea>
                                </div>
                                <label class="text-danger" for="MapAddress"
                                    *ngIf="Form_AddStore.controls['MapAddress'].hasError('required') && Form_AddStore.controls['MapAddress'].touched">{{
                                    'System.Users.Address_ER_Required' | translate }}</label>
                                <label class="text-danger" for="MapAddress"
                                    *ngIf="Form_AddStore.controls['MapAddress'].hasError('minlength') || Form_AddStore.controls['MapAddress'].hasError('maxlength')">{{
                                    'System.Users.Address_ER_Length' | translate }}</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="Form_AddStore_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_AddStorevalue.OperationType = 'new'"
                        [disabled]="!Form_AddStore.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>