<!-- acquirer--merchant-detail--overview -->
<div class="card bd-t-0 px-3 pb-3 pt-0">
  <div class="d-flex justify-content-end pd-b-20">
    <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
      <li class="list-inline-item d-flex align-items-center">
        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
          {{this._HelperService.DateRangeStart | date :["dd LLL yyyy"]}} - {{this._HelperService.DateRangeEnd | date :["dd LLL yyyy"]}}</span>
      </li>
    </ul>
  </div>
  <div class="row row-xs">
    <div class="col-sm-6 col-lg-3 ">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-primary mg-b-8 mg-r-5 lh-1">
            {{_AccountOverview.TotalTransactions | number: "1.0-1" || "--"}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-success">1.2% <i
                class="icon ion-md-arrow-up"></i></span></p> -->

        </div>
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">TRANSACTIONS</h6>

        <p class="tx-12 tx-color-03 mg-b-0"> Total transactions on all pos during selected period </p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-sm-t-0">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-teal tx-rubik mg-b-8 mg-r-5 lh-1">
            <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountOverview.TotalSale | number: "1.2-2" || "--"}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->

        </div>
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">TOTAL SALE</h6>

        <p class="tx-12 tx-color-03 mg-b-0"> Total transaction amount on all terminals during selected period</p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-verve mg-b-8 mg-r-5 lh-1">
            {{_AccountOverview.AverageTransactions
              | number: "1.2-2" || "--"}} </h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->

        </div>
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">AVG TRANSACTIONS</h6>

        <p class="tx-12 tx-color-03 mg-b-0"> Average transaction count per POS at all locations</p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-MasterCard mg-b-8 mg-r-5 lh-1">
            <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{
              _AccountOverview.AverageTransactionAmount
              | number: "1.2-2" || "--"
          }}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->

        </div>
        <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">AVG. TRANSACTIONS AMT</h6>

        <p class="tx-12 tx-color-03 mg-b-0"> Average transaction amount per POS in all POS</p>
      </div>
    </div><!-- col -->
  </div>

  <div class="row row-xs mg-t-10">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card ht-100p">
        <!-- <div class="card-header">
        <h6 class="mg-b-0">Sessions By Channel</h6>
      </div> -->
        <div class="card-body d-flex justify-content-center align-items-center">
          <div class="chart-seven" *ngIf=" _AccountOverview.TotalSale != 0">
            <canvas style="height: 250px;" baseChart [chartType]="'doughnut'" [datasets]="datapieType.datasets"
              [labels]="datapieType.labels" [options]="pieChartOptions" [colors]="doughnuttype" [legend]="true"
              (chartClick)="onChartClick($event)">
            </canvas>
          </div>

          <div class="chart-seven" *ngIf=" _AccountOverview.TotalSale == 0">
            <div
            class="wd-140 wd-md-150 ht-140 ht-md-150  tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
            <img src="../../../../../assets/img/placeholder.png" alt="">
          </div>
          </div>
        </div><!-- card-body -->
        <div class="card-footer pd-20">
          <div class="row">
            <div class="col-6">
              <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">CASH</p>
              <div class="d-flex align-items-center">
                <h5 class="tx-bold tx-rubik tx-teal mg-b-0"><span class=" text-sm"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountOverview.CashTransactionAmount | number: "1.2-2" || "--"}}
                  <br>

                  <small class="tx-color-04 tx-11">
                    {{_AccountOverview.CashTransPerTerm | number: "1.2-2" || "--"}}% Of
                    Total Transactions</small>

                </h5>
              </div>
            </div><!-- col -->
            <div class="col-6">
              <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">CARDS</p>
              <div class="d-flex align-items-center">
                <h5 class="tx-bold tx-rubik tx-verve mg-b-0"><span class=" text-sm"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountOverview.CardTransactionsAmount | number: "1.2-2" || "--"}}
                  <br>
                  <small class="tx-color-04 tx-11">
                    {{_AccountOverview.CardTransPerTerm| number: "1.2-2" || "--"}}% Of
                    Total Transactions</small>
                </h5>
              </div>
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- card-footer -->
      </div><!-- card -->
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 mg-t-15  mg-lg-t-0">
      <div class="card ht-100p">
        <!-- <div class="card-header">
        <h6 class="mg-b-0">Sessions By Channel</h6>
      </div> -->
        <div class="card-body d-flex justify-content-center align-items-center">
          <div class="chart-seven" *ngIf=" _AccountOverview.OwnerCardTransactions != 0">
            <canvas style="height: 250px;" baseChart [chartType]="'doughnut'" [datasets]="datapieCard.datasets"
              [labels]="datapieCard.labels" [options]="pieChartOptions" [colors]="doughnutcard" [legend]="false"
              (chartClick)="onChartClick($event)">
            </canvas>
          </div>
          <div class="chart-seven" *ngIf=" _AccountOverview.OwnerCardTransactions == 0">
            <div
            class="wd-140 wd-md-150 ht-140 ht-md-150  tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
            <img src="../../../../../assets/img/placeholder.png" alt="">
          </div>
          </div>

        </div><!-- card-body -->
        <div class="card-footer pd-20">
          <div class="row">
            <div class="col-6">
              <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
                {{_UserAccount.DisplayName}} CARDS</p>
              <div class="d-flex align-items-center" *ngIf="_AccountOverview.OwnerCardTotal">
                <h5 class="tx-bold tx-rubik tx-success mg-b-0"><span class=" text-sm"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountOverview.OwnerCardTotal.Amount | number: "1.2-2" || "--"}}
                  <br>

                  <small class="tx-color-04 tx-11">
                    {{_AccountOverview.OwnerCardTotal.TransactionsPerc| number: "1.2-2" || "--"}}% Of Total
                    Transactions</small>

                </h5>
              </div>
            </div><!-- col -->
            <div class="col-6">
              <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">OTHER BANK CARDS</p>
              <div class="d-flex align-items-center" *ngIf="_AccountOverview.OtherCardTotal">
                <h5 class="tx-bold tx-rubik tx-MasterCard mg-b-0"><span class=" text-sm"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                  {{_AccountOverview.OtherCardTotal.Amount | number: "1.2-2" || "--"}}<br>

                  <small
                    class="tx-color-04 tx-11">{{_AccountOverview.OtherCardTotal.TransactionsPerc| number: "1.2-2" || "--"}}%
                    Of Total Transactions</small>

                </h5>
              </div>
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- card-footer -->
      </div><!-- card -->

    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 mg-t-15  mg-lg-t-0">
      <div class="card ht-100p">

        <div class="card-body">
          <div class="row">


            <div class="col-12 mt-4 d-flex" *ngFor="let TItem of _AccountOverview.CardTypeSale">
              <div class="mr-3 d-flex align-items-center">
                <span class="tx-30"

                  [ngClass]="{'tx-MasterCard': TItem.Name  == 'Master Card',  'tx-teal': TItem.Name  == 'VISA',  'tx-verve': TItem.Name  == 'Verve'}">
                  <i class="{{TItem.Name  == 'Verve'? 'far':'fab'}}"
                  
                    [ngClass]="{'fa-cc-mastercard': TItem.Name  == 'Master Card', 'fa-credit-card': TItem.Name  == 'Verve','fa-cc-visa': TItem.Name  == 'VISA'}"></i>
                </span>
              </div>

              <div class="flex-fill">
                <p class="tx-10 tx-uppercase tx-semibold link-01tx-spacing-1 tx-nowrap mg-b-5">{{ TItem.Name || "--" }}
                </p>
                <div class="d-flex align-items-center bd-b">
                  <!-- <div class="wd-10 ht-10 rounded-circle bg-warning mg-r-5"></div> -->
                  <h5 class="tx-bold tx-rubik  tx-MasterCard mg-b-0 "
                    [ngClass]="{'tx-MasterCard': TItem.Name  == 'Mastercard',  'tx-teal': TItem.Name  == 'VISA',  'tx-verve': TItem.Name  == 'Verve'}">
                    <span class=" text-sm"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{TItem.Amount | number: "1.2-2" || "--"}}
                    <small class="tx-color-04 tx-11"><br> {{TItem.TransactionPer | number: "1.2-2" || "--"}} % Of Total
                      from
                      {{TItem.Transactions | number: "1.0-0" || "--"}} Transactions</small> </h5>
                </div>
              </div>
            </div><!-- col -->

            <div class="col-12 mt-4 d-flex">
              <div class="mr-3 d-flex align-items-center">
                <span class="tx-30 tx-primary">
                  <i class="fas fa-credit-card"></i>
                </span>
              </div>
              <div>
                <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Other Cards</p>
                <div class="d-flex align-items-center" *ngIf="_AccountOverview.OtherCards">
                  <!-- <div class="wd-10 ht-10 rounded-circle bg-primary mg-r-5"></div> -->
                  <h5 class="tx-bold tx-rubik tx-primary mg-b-0"><span class=" text-sm"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{_AccountOverview.OtherCards.Amount | number: "1.2-2" || "--"}} <br>
                    <small class="tx-color-04 tx-11">
                      {{_AccountOverview.OtherCards.TransactionPer| number: "1.2-2" || "--"}} % Of Total From
                      {{_AccountOverview.OtherCards.Transactions}} Transactions</small>
                  </h5>
                </div>
              </div>
            </div><!-- col -->
          </div><!-- row -->

        </div><!-- card-footer -->
      </div>


    </div>

  </div>


</div>