<!-- acquirer--merchants--list -->



<div class="card ">
    <div class="card-header d-flex justify-content-between">
      <div class=" no-gutters">
        <div class="d-sm-flex justify-content-between">
          <span class="tx-bold mg-t-10">City: <span  class="text-bold">{{city.DisplayName}}, {{state.Name}}, Nigeria</span>  </span>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" (click)="Form_AddApp_Show()"> Add New Area </button>
      </div>
    </div>
  
  
    <!-- <div [className]="_HelperService._Assets.Box.header">
      <div class="tx-14 tx-bold"> {{RequestHistory_Config.Title}} </div>
    </div> -->
    <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
      <div class="form-inline ">
        <div class="input-group input-group-sm mr-3">
          <input type="text" class="form-control" [value]="RequestHistory_Config.SearchParameter" maxlength="100"
            class="form-control" placeholder="{{ 'Common.Search' | translate }}"
            (keyup)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="button"
              (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                data-feather="search"></i> </button>
          </div>
        </div>
  
  
      </div>
      
    </div>
   
  
    <div class="card-body p-0 table-responsive" style="overflow-x:auto;">
      <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
        <thead>
          <tr>
            <!-- <th class="text-center" *ngIf="ColumnConfig[0].Value">
            </th> -->
  
            <th class="">
            </th>

            <th >
             Area Name
            </th>
            <th style="width: 400px;">
              City Name
             </th>
   
             <th class="">
              Created By
             </th>
 
             <th style="width: 180px;">Added on</th>
  
            <th class="action-buttons text-center">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="cursor-pointer" 
            *ngFor="let TItem of RequestHistory_Config.Data  | paginate: { id: 'RequestHistory_Paginator',itemsPerPage: RequestHistory_Config.PageRecordLimit, currentPage: RequestHistory_Config.ActivePage,  totalItems: RequestHistory_Config.TotalRecords }">
  
  
            <td class="">
              <span class=" full-width">
                <span class="badge badge-success" *ngIf="TItem.StatusName =='Active'"> {{TItem.StatusName || "--"}} </span>
                <span class="badge badge-danger" *ngIf="TItem.StatusName !=='Active'"> {{TItem.StatusName || "--"}} </span>
              </span>
            </td>

            <td class="">
              <div class="tx-14">{{TItem.Name || "--"}}
              </div>
  
  
            </td>
            <td class="">
              <div class="">{{TItem.CityName || "--"}}
              </div>
            </td>
            <td class="">
              {{TItem.CreatedByDisplayName || "--" }}
            </td>
            <td class="" style="vertical-align: middle;">{{TItem.CreateDate | date: 'dd-MM-yyyy hh:mm a'}}</td>
            <td style="display: flex;  justify-content: space-evenly;">
              <div class="text-primary cursor-pointer" (click)="Form_Edit_Show(TItem)"> <i class="fas fa-edit"></i> Edit</div>
              <div class="text-danger cursor-pointer" (click)="DeleteCity(TItem)"> <i class="fas fa-trash"></i> Delete</div>
            </td>
  
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer pd-20">
      <span class="mr-3">
        {{ 'Common.Showing' | translate }}
        <span class="bold">{{RequestHistory_Config.ShowingStart}} {{ 'Common.To' | translate }}
          {{RequestHistory_Config.ShowingEnd}}
        </span> {{ 'Common.Of' | translate }} {{RequestHistory_Config.TotalRecords}}
      </span>
      <span>
        {{ 'Common.Show' | translate }}
        <select class="wd-50 " [(ngModel)]="RequestHistory_Config.PageRecordLimit"
          (ngModelChange)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
          <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
            {{TItem}}
          </option>
        </select>
      </span>
      <span class="float-right">
        <pagination-controls id="RequestHistory_Paginator" class="pagination pagination-space"
          (pageChange)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
          nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
        </pagination-controls>
      </span>
    </div>
  </div>
  
  <div class="modal" id="EditCol" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Column</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group" *ngFor="let Col of TempColumnConfig">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
              <label class="form-check-label" for="">
                {{Col.Name}}
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas
    style="width: 480px !important; overflow-y:auto !important ;">
    <div class="off-canvas-content">
      <div class="card">
        <div class="card-header">
          <h3 class="pb-0 mb-0 tx-20">#{{_CoreUsage.ReferenceId || "--" }} -
            {{_CoreUsage.AppVersionName || "--"}} </h3>
        </div>
        <div class="card-body">
         
  
          <div class="">
            <div class="tx-14 text-secondary"> Request </div>
            <div class="bd text-secondary pd-5">
              {{_CoreUsage.Request || "--" }}
            </div>
  
            <div class="tx-14 text-secondary pd-t-25"> Response </div>
            <div class="bd  text-secondary pd-5">
              {{_CoreUsage.Response || "--" }}
            </div>
  
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>
  
        </div>
      </div>
  
  
    </div>
  </div>


  <div class="modal fade" id="Form_AddCity_Content" role="dialog" data-backdrop="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add New CityArea</h5>
        </div>
        <form [formGroup]="Form_AddApp" (ngSubmit)="Form_AddApp_Process(Form_AddApp.value)" role="form">
          <div class="modal-body b-b">
            <div class="form-group">
              <label>Enter Area Name
                <span class="text-danger">*</span>
              </label>
              <input type="text" name="Name" maxlength="256" class="form-control"
                [formControl]="Form_AddApp.controls['Name']"
                [ngClass]="{'is-invalid':!Form_AddApp.controls['Name'].valid && Form_AddApp.controls['Name'].touched}">
              <label class="text-danger" for="Name"
                *ngIf="Form_AddApp.controls['Name'].hasError('required') && Form_AddApp.controls['Name'].touched">Enter Area Name</label>
            </div>
            <div class="form-group">
              <label>Latitude 
                <span class="text-danger">*</span>
              </label>
              <input type="number" name="Latitude" maxlength="256" class="form-control" 
                [formControl]="Form_AddApp.controls['Latitude']" [(ngModel)]="_UserAccount.Latitude"
                [ngClass]="{'is-invalid':!Form_AddApp.controls['Latitude'].valid && Form_AddApp.controls['Latitude'].touched}">
              <label class="text-danger" for="Lat"
                *ngIf="Form_AddApp.controls['Latitude'].hasError('required') && Form_AddApp.controls['Latitude'].touched">Enter latitude</label>
            </div>

            <div class="form-group">
              <label>Longitude 
                <span class="text-danger">*</span>
              </label>
              <input type="number" name="Longitude" maxlength="256" class="form-control" 
                [formControl]="Form_AddApp.controls['Longitude']" [(ngModel)]="_UserAccount.Longitude"
                [ngClass]="{'is-invalid':!Form_AddApp.controls['Longitude'].valid && Form_AddApp.controls['Longitude'].touched}">
              <label class="text-danger" for="Longitude"
                *ngIf="Form_AddApp.controls['Longitude'].hasError('required') && Form_AddApp.controls['Longitude'].touched">Enter Longitude</label>
            </div>
  
            <div class="form-group">
              <div> <label>{{ 'System.AddAcquirer.AccountStatus' | translate }}<span
                          class="text-danger">*</span>
                  </label>
              </div>
              <div class="radio float-left mr-3">
                  <label class="ui-check"><input type="radio" name="statusoptions"
                          [value]="_HelperService.AppConfig.Status.Active"
                          [(ngModel)]="_UserAccount.StatusCode"
                          [formControl]="Form_AddApp.controls['StatusCode']">
                      <i class="dark-white"></i>
                      {{ 'Common.Active' | translate }}</label>
              </div>
              <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
                          [value]="_HelperService.AppConfig.Status.Inactive"
                          [(ngModel)]="_UserAccount.StatusCode"
                          [formControl]="Form_AddApp.controls['StatusCode']">
                      <i class="dark-white"></i>
                      {{ 'Common.Inactive' | translate }}</label></div>
          </div>
  
          <div class="note" style="  border: 1px solid red; padding: 7px;">
            <p>Note:  <span class="tx-semibold mg-t-10">How to get Longitude and Latitude?</span> </p>
            <p>Check the Longitude and Latitude for the city on <a href="https://www.latlong.net/" target=”_blank”>https://www.latlong.net/ </a>and add here</p>
          </div>
  
          </div>
  
          <div class="light p-3 text-right b-b">
            <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_AddApp_Close()">{{
              'Common.Close'
              | translate }}</button>
            <button type="submit" class="btn btn-primary mr-2" (click)="Form_AddApp.value.OperationType='close'"
              [disabled]="!Form_AddApp.valid || _HelperService.IsFormProcessing">
              <span *ngIf="!_HelperService.IsFormProcessing">
                {{ 'Common.Save' | translate }}
              </span>
              <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                }}...
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade" id="Form_EditCityarea_Content" role="dialog" data-backdrop="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit New City Area</h5>
        </div>
        <form [formGroup]="Form_Edit" (ngSubmit)="Form_Edit_Process(Form_Edit.value)" role="form">
          <div class="modal-body b-b">
            <div class="form-group">
              <label> CityArea Name
                <span class="text-danger">*</span>
              </label>
              <input type="text" name="Name" maxlength="256" class="form-control"
                [formControl]="Form_Edit.controls['Name']" [(ngModel)]="_UserAccount.Name"
                [ngClass]="{'is-invalid':!Form_Edit.controls['Name'].valid && Form_Edit.controls['Name'].touched}">
              <label class="text-danger" for="Name" 
                *ngIf="Form_Edit.controls['Name'].hasError('required') && Form_Edit.controls['Name'].touched">Enter Name</label>
            </div>
  
            <div class="form-group">
              <label>Enter Latitude 
                <span class="text-danger">*</span>
              </label>
              <input type="number" name="Latitude" maxlength="256" class="form-control" 
                [formControl]="Form_Edit.controls['Latitude']" [(ngModel)]="_UserAccount.Latitude"
                [ngClass]="{'is-invalid':!Form_Edit.controls['Latitude'].valid && Form_Edit.controls['Latitude'].touched}">
              <label class="text-danger" for="Lat"
                *ngIf="Form_Edit.controls['Latitude'].hasError('required') && Form_Edit.controls['Latitude'].touched">Enter Latitude</label>
            </div>

            <div class="form-group">
              <label>Enter Longitude 
                <span class="text-danger">*</span>
              </label>
              <input type="number" name="Longitude" maxlength="256" class="form-control" 
                [formControl]="Form_Edit.controls['Longitude']" [(ngModel)]="_UserAccount.Longitude"
                [ngClass]="{'is-invalid':!Form_Edit.controls['Longitude'].valid && Form_Edit.controls['Longitude'].touched}">
              <label class="text-danger" for="Longitude"
                *ngIf="Form_Edit.controls['Longitude'].hasError('required') && Form_Edit.controls['Longitude'].touched">Enter Longitude</label>
            </div>
  
              
            <div class="form-group">
              <div> <label>{{ 'System.AddAcquirer.AccountStatus' | translate }}<span
                          class="text-danger">*</span>
                  </label>
              </div>
              <div class="radio float-left mr-3">
                  <label class="ui-check"><input type="radio" name="statusoptions"
                          [value]="_HelperService.AppConfig.Status.Active"
                          [(ngModel)]="_UserAccount.StatusCode"
                          [formControl]="Form_Edit.controls['StatusCode']">
                      <i class="dark-white"></i>
                      {{ 'Common.Active' | translate }}</label>
              </div>
              <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
                          [value]="_HelperService.AppConfig.Status.Inactive"
                          [(ngModel)]="_UserAccount.StatusCode"
                          [formControl]="Form_Edit.controls['StatusCode']">
                      <i class="dark-white"></i>
                      {{ 'Common.Inactive' | translate }}</label></div>
          </div>
         
          
          <div class="note" style="  border: 1px solid red;padding: 7px;">
            <p>Note:  <span class="tx-semibold mg-t-10">How to get Longitude and Latitude?</span> </p>
            <p>Check the Longitude and Latitude for the city on <a href="https://www.latlong.net/" target=”_blank”>https://www.latlong.net/ </a>and add here</p>
          </div>
        </div>
  
          <div class="light p-3 text-right b-b">
            <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_Edit_Close()">{{
              'Common.Close'
              | translate }}</button>
            <button type="submit" class="btn btn-primary mr-2" (click)="Form_Edit.value.OperationType='edit'"
              [disabled]="!Form_Edit.valid || _HelperService.IsFormProcessing">
              <span>
                {{ 'Common.Save' | translate }}
              </span>
              <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                }}...
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>