<!-- acquirer--merchants--list -->

<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active cursor-pointer" [routerLinkActive]="['active']"><a class="text-primary"
      (click)="_HelperService.NavigateBack()">
      Administration</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Configuration</a></li>
</ol>
<div class="row ">
  <div class="col-md-12">
    <div class="no-gutters">
      <div class="d-sm-flex justify-content-between align-items-center bd-b pd-b-10">
        <span class="tx-semibold mg-t-10">Configurations<span class="text-muted tx-normal">
            ({{Configurations_Config.TotalRecords}})</span>
          <div class="tx-12 tx-normal text-secondary"> Manage user and system apps and keys for server requests</div>

        </span>
        <div class="form-inline ">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" [value]="Configurations_Config.SearchParameter" maxlength="100"
              class="form-control" placeholder="{{ 'Common.Search' | translate }}"
              (keyup)="Configurations_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
            <div class="input-group-append">
              <button class="btn btn-outline-light" type="button"
                (click)="Configurations_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                  data-feather="search"></i> </button>
            </div>

          </div>

          <button class="btn btn-primary btn-sm mg-l-5" (click)="Form_Add_Show() "
            data-permission="configurationmanageradd"> Add New </button>



        </div>
      </div>
    </div>
  </div>




</div>

<div class="row">
  <div class="col-md-4 mt-3"
    *ngFor="let TItem of Configurations_Config.Data  | paginate: { id: 'Configurations_Paginator',itemsPerPage: Configurations_Config.PageRecordLimit, currentPage: Configurations_Config.ActivePage,  totalItems: Configurations_Config.TotalRecords }">
    <div class="card text-center ht-100p">
      <div class="pd-15 ht-100p">
        <h4 class="tx-15 pb-0 mb-0"> {{TItem.Name || "--"}} </h4>
        <div class="tx-14 text-secondary"> {{TItem.SystemName || "--"}} </div>
        <span class="{{TItem.StatusBadge}} wd-50 m-auto mg-t-10"> {{TItem.StatusName}}</span>
        <div class="tx-18 mg-t-25 mg-b-15">
          {{TItem.Value || "--"}}

          <div class="tx-16 text-secondary"> Value </div>
        </div>

        <div class="d-flex justify-content-center">
          <div class="bd-r pd-r-10 cursor-pointer" (click)="ChangeValue(TItem)"
            data-permission="configurationmanagerupdatevalue"> <span class=" mg-r-5"> <i class="fas fa-edit"></i>
            </span>Change
            Value
          </div>
          <div class=" pd-l-10 cursor-pointer" (click)="OpenHistory(TItem)"> <span class=" mg-r-5"> <i
                class="fas fa-eye"></i></span>Changes
            History
          </div>

        </div>
      </div>
      <div class="card-footer pd-y-15 pd-x-15">
        <div class=" d-flex justify-content-between">
          <button class="btn btn-outline-danger full-width mg-r-8" (click)="DeleteConfiguration(TItem)"
            data-permission="configurationmanagerdelete"> Delete </button>
          <button class="btn btn-outline-primary full-width mg-l-8" (click)="Configurations_RowSelected(TItem)"
            data-permission="configurationmanagerupdate"> Update </button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="card-footer pd-20 bd-0">
  <span class="mr-3">
    {{ 'Common.Showing' | translate }}
    <span class="bold">{{Configurations_Config.ShowingStart}} {{ 'Common.To' | translate }}
      {{Configurations_Config.ShowingEnd}}
    </span> {{ 'Common.Of' | translate }} {{Configurations_Config.TotalRecords}}
  </span>
  <span>
    {{ 'Common.Show' | translate }}
    <select class="wd-50 " [(ngModel)]="Configurations_Config.PageRecordLimit"
      (ngModelChange)="Configurations_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
      <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
        {{TItem}}
      </option>
    </select>
  </span>
  <span class="float-right">
    <pagination-controls id="Configurations_Paginator" class="pagination pagination-space"
      (pageChange)="Configurations_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
      nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
    </pagination-controls>
  </span>
</div>

<div class="modal fade" id="Form_Edit_Content" role="dialog" tabindex="-1" data-backdrop="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mg-l-15"> Update Configuration</h5>
      </div>



      <div class="modal-body">
        <form [formGroup]="Form_Edit" (ngSubmit)="Form_Edit_Process(Form_Edit.value)" role="form">
          <div class="p-3 b-b">
            <div class="form-group">
              <label>Name
                <span class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" name="Name" maxlength="256" class="form-control" [(ngModel)]="_Configuration.Name"
                  [formControl]="Form_Edit.controls['Name']"
                  [ngClass]="{'is-invalid':!Form_Edit.controls['Name'].valid && Form_Edit.controls['Name'].touched}">
              </div>
              <label class="text-danger" for="Name"
                *ngIf="Form_Edit.controls['Name'].hasError('required') && Form_Edit.controls['Name'].touched">Enter
                configuration name</label>
            </div>
            <div class="form-group">
              <label>System Name
                <span class="text-danger">*</span>

              </label>
              <div class="controls">
                <input type="text" name="SystemName" maxlength="256" class="form-control"
                  [(ngModel)]="_Configuration.SystemName" [formControl]="Form_Edit.controls['SystemName']"
                  [ngClass]="{'is-invalid':!Form_Edit.controls['SystemName'].valid && Form_Edit.controls['SystemName'].touched}">
              </div>
              <label class="text-danger" for="SystemName"
                *ngIf="Form_Edit.controls['SystemName'].hasError('required') && Form_Edit.controls['SystemName'].touched">
                Enter configuration system name
              </label>
            </div>
            <div class="form-group">
              <label>Description
                <span class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" name="Description" maxlength="256" class="form-control"
                  [(ngModel)]="_Configuration.Description" [formControl]="Form_Edit.controls['Description']"
                  [ngClass]="{'is-invalid':!Form_Edit.controls['Description'].valid && Form_Edit.controls['Description'].touched}">
              </div>
              <label class="text-danger" for="Description"
                *ngIf="Form_Edit.controls['Description'].hasError('required') && Form_Edit.controls['Description'].touched">Enter
                configuration details</label>
            </div>
            <div class="form-group">
              <div>
                <label>Data Type


                </label>
              </div>
              <div>

                <!-- StatusCode -->
                <div class="radio float-left mr-3">
                  <label class="ui-check">
                    <input type="radio" name="datatypecode" [value]="_HelperService.AppConfig.SystemDataType.Text"
                      [(ngModel)]="_Configuration.DataTypeCode" [formControl]="Form_Edit.controls['DataTypeCode']"
                      (change)="InputTypeSelected('other')">
                    <i class="dark-white"></i>
                    Text
                  </label>
                </div>
                <div class="radio  float-left  mr-3">
                  <label class="ui-check">
                    <input type="radio" name="datatypecode" [value]="_HelperService.AppConfig.SystemDataType.Number"
                      [(ngModel)]="_Configuration.DataTypeCode" [formControl]="Form_Edit.controls['DataTypeCode']"
                      (change)="InputTypeSelected('other')">
                    <i class="dark-white"></i>
                    Number
                  </label>
                </div>

                <div class="radio  float-left  mr-3">
                  <label class="ui-check">
                    <input type="radio" name="datatypecode" [value]="_HelperService.AppConfig.SystemDataType.Number"
                      [(ngModel)]="_Configuration.DataTypeCode" [formControl]="Form_Edit.controls['DataTypeCode']"
                      (change)="InputTypeSelected('other')">
                    <i class="dark-white"></i>
                    Amount
                  </label>
                </div>

                <div class="radio  mr-3">
                  <label class="ui-check">
                    <input type="radio" name="datatypecode" [value]="_HelperService.AppConfig.SystemDataType.Boolean"
                      [(ngModel)]="_Configuration.DataTypeCode" [formControl]="Form_Edit.controls['DataTypeCode']"
                      (change)="InputTypeSelected('boolean')">
                    <i class="dark-white"></i>
                    Enable / Disable
                  </label>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" *ngIf="Form_Edit.controls['DataTypeCode'].value=='datatype.text'">
                  <label>Value<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="text" placeholder="Value" name="Value" maxlength="256" class="form-control"
                      [formControl]="Form_Edit.controls['Value']"
                      [ngClass]="{'is-invalid':!Form_Edit.controls['Value'].valid && Form_Edit.controls['Value'].touched}">
                  </div>
                  <label class="text-danger" for="Value"
                    *ngIf="Form_Edit.controls['Value'].hasError('required') && Form_Edit.controls['Value'].touched">
                    value required
                  </label>
                  <label class="text-danger" for="Value"
                    *ngIf="Form_Edit.controls['Value'].hasError('min') || Form_Edit.controls['Value'].hasError('max')">
                    value required
                  </label>
                </div>
                <div class="form-group" *ngIf="Form_Edit.controls['DataTypeCode'].value=='datatype.number'">
                  <label>Value<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="number" placeholder="Value" name="Value" maxlength="256" class="form-control"
                      [formControl]="Form_Edit.controls['Value']"
                      [ngClass]="{'is-invalid':!Form_Edit.controls['Value'].valid && Form_Edit.controls['Value'].touched}">
                  </div>
                  <label class="text-danger" for="Value"
                    *ngIf="Form_Edit.controls['Value'].hasError('required') && Form_Edit.controls['Value'].touched">
                    value required
                  </label>
                  <label class="text-danger" for="Value"
                    *ngIf="Form_Edit.controls['Value'].hasError('min') || Form_Edit.controls['Value'].hasError('max')">
                    value required
                  </label>
                </div>
                <div class="form-group" *ngIf="Form_Edit.controls['DataTypeCode'].value=='datatype.decimal'">
                  <label>Value<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="number" placeholder="Value" name="Value" maxlength="256" class="form-control"
                      [formControl]="Form_Edit.controls['Value']"
                      [ngClass]="{'is-invalid':!Form_Edit.controls['Value'].valid && Form_Edit.controls['Value'].touched}">
                  </div>
                  <label class="text-danger" for="Value"
                    *ngIf="Form_Edit.controls['Value'].hasError('required') && Form_Edit.controls['Value'].touched">
                    value required
                  </label>
                  <label class="text-danger" for="Value"
                    *ngIf="Form_Edit.controls['Value'].hasError('min') || Form_Edit.controls['Value'].hasError('max')">
                    value required
                  </label>
                </div>
                <div class="form-group" *ngIf="Form_Edit.controls['DataTypeCode'].value=='datatype.boolean'">
                  <label class='d-block'>
                    <small>Default Value</small><span class="text-danger">*</span>
                  </label>
                  <label class="ui-check mr-3"><input type="radio" name="statusopt" value='1'
                      [formControl]="Form_Edit.controls['Value']" checked>
                    <i class="dark-white"></i>
                    Enable</label>
                  <label class="ui-check"><input type="radio" name="statusopt" value='0'
                      [formControl]="Form_Edit.controls['Value']">
                    <i class="dark-white"></i>
                    Disable</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div>
                <label>Status</label>
              </div>
              <div class="radio float-left mr-3">
                <label class="ui-check"><input type="radio" name="statusoptions" [(ngModel)]="_Configuration.StatusCode"
                    [value]="'default.active'" [formControl]="Form_Edit.controls['StatusCode']">
                  <i class="dark-white"></i>
                  {{ 'Common.Active' | translate }}</label>
              </div>
              <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                    [(ngModel)]="_Configuration.StatusCode" name="statusoptions" [value]="'default.inactive'"
                    [formControl]="Form_Edit.controls['StatusCode']">
                  <i class="dark-white"></i>
                  {{ 'Common.Inactive' | translate }}</label></div>
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary mr-2" type="button" (click)="Form_Edit_Close()"> Close </button>

            <button type="submit" class="btn btn-primary" (click)="Form_Edit.value.OperationType='new'"
              [disabled]="!Form_Edit.valid || _HelperService.IsFormProcessing">
              <span *ngIf="!_HelperService.IsFormProcessing">
                {{ 'Common.Update' | translate }}
              </span>
              <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                translate
                }}...
              </span>
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="Form_Add_Content" role="dialog" tabindex="-1" data-backdrop="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mg-l-20"> Add Configuration</h5>
      </div>



      <div class="modal-body">
        <form [formGroup]="Form_Add" (ngSubmit)="Form_Add_Process(Form_Add.value)" role="form">
          <div class="p-3 b-b">
            <div class="form-group">
              <label>Name
                <span class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" name="Name" maxlength="256" class="form-control"
                  [formControl]="Form_Add.controls['Name']"
                  [ngClass]="{'is-invalid':! Form_Add.controls['Name'].valid && Form_Add.controls['Name'].touched}">
              </div>
              <label class="text-danger" for="Name"
                *ngIf=" Form_Add.controls['Name'].hasError('required') && Form_Add.controls['Name'].touched">Enter
                configuration name</label>
            </div>




            <div class="form-group">
              <label for="accounttypecode">Account Type Code</label>
              <span class="text-danger">*</span>
              <div class="controls">
                <select class="form-control select_width input-group-prepend" formControlName="AccountTypeCode"
                  name="AccountTypeCode" (change)="changeISD($event)">
                  <option value="{{code.Value}}" *ngFor="let code of AccountTypeCodes">{{code.Name}}</option>
                </select>
              </div>
            </div>


            <div class="form-group">
              <label>Value Helper Code </label>
              <div class="controls">
                <input type="text" name="ValueHelperCode" maxlength="256" class="form-control"
                  [formControl]="Form_Add.controls['ValueHelperCode']"
                  [ngClass]="{'is-invalid':! Form_Add.controls['ValueHelperCode'].valid && Form_Add.controls['ValueHelperCode'].touched}">
              </div>
              <!-- optoinal null -->
              <!-- <label class="text-danger" for="ValueHelperCode"
                *ngIf=" Form_Add.controls['ValueHelperCode'].hasError('required') && Form_Add.controls['ValueHelperCode'].touched">
                Enter value helper code
              </label> -->
            </div>



            <div class="form-group">
              <label>System Name
                <span class="text-danger">*</span>

              </label>
              <div class="controls">
                <input type="text" name="SystemName" maxlength="256" class="form-control"
                  [formControl]="Form_Add.controls['SystemName']"
                  [ngClass]="{'is-invalid':! Form_Add.controls['SystemName'].valid && Form_Add.controls['SystemName'].touched}">
              </div>
              <label class="text-danger" for="SystemName"
                *ngIf=" Form_Add.controls['SystemName'].hasError('required') && Form_Add.controls['SystemName'].touched">
                Enter configuration system name
              </label>
            </div>


            <div class="form-group">
              <label>Description
                <span class="text-danger" *ngIf=" Form_Add.controls['Description'].hasError('required')">*</span>

              </label>
              <div class="controls">
                <input type="text" name="Description" maxlength="256" class="form-control"
                  [formControl]="Form_Add.controls['Description']"
                  [ngClass]="{'is-invalid':! Form_Add.controls['Description'].valid && Form_Add.controls['Description'].touched}">
              </div>
              <label class="text-danger" for="Description"
                *ngIf=" Form_Add.controls['Description'].hasError('required') && Form_Add.controls['Description'].touched">Enter
                configuration details</label>
            </div>



            <div class="form-group">
              <div>
                <label>Data Type
                  <!-- <span class="text-danger"
                          *ngIf="Form_Add.controls['Description'].hasError('required')">*</span> -->
                </label>
              </div>



              <div>


                <div class="radio float-left mr-3">
                  <label class="ui-check">
                    <input type="radio" name="datatypecode" [value]="_HelperService.AppConfig.SystemDataType.Text"
                      [formControl]="Form_Add.controls['DataTypeCode']" (change)="InputTypeSelected('other')">
                    <i class="dark-white"></i>
                    Text</label>
                </div>


                <div class="radio  float-left  mr-3"><label class="ui-check"><input type="radio" name="datatypecode"
                      [value]="_HelperService.AppConfig.SystemDataType.Number"
                      [formControl]="Form_Add.controls['DataTypeCode']" (change)="InputTypeSelected('other')">
                    <i class="dark-white"></i>
                    Number</label>
                </div>

                <div class="radio  float-left  mr-3"><label class="ui-check"><input type="radio" name="datatypecode"
                      [value]="_HelperService.AppConfig.SystemDataType.Decimal"
                      [formControl]="Form_Add.controls['DataTypeCode']" (change)="InputTypeSelected('other')">
                    <i class="dark-white"></i>
                    Amount</label>
                </div>

                <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="datatypecode"
                      [value]="_HelperService.AppConfig.SystemDataType.Boolean"
                      [formControl]="Form_Add.controls['DataTypeCode']" (change)="InputTypeSelected('boolean')">
                    <i class="dark-white"></i>
                    Enable / Disable</label>
                </div>

              </div>

            </div>







            <div class="row">
              <div class="col-md-12">
                <div class="form-group" *ngIf="Form_Add.controls['DataTypeCode'].value=='datatype.text'">
                  <label>Value<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="text" placeholder="Value" name="Value" maxlength="256" class="form-control"
                      [formControl]="Form_Add.controls['Value']"
                      [ngClass]="{'is-invalid':!Form_Add.controls['Value'].valid && Form_Add.controls['Value'].touched}">
                  </div>
                  <label class="text-danger" for="Value"
                    *ngIf="Form_Add.controls['Value'].hasError('required') && Form_Add.controls['Value'].touched">
                    value required
                  </label>
                  <label class="text-danger" for="Value"
                    *ngIf="Form_Add.controls['Value'].hasError('min') || Form_Add.controls['Value'].hasError('max')">
                    value required
                  </label>
                </div>
                <div class="form-group" *ngIf="Form_Add.controls['DataTypeCode'].value=='datatype.number'">
                  <label>Value<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="number" placeholder="Value" name="Value" maxlength="256" class="form-control"
                      [formControl]="Form_Add.controls['Value']"
                      [ngClass]="{'is-invalid':!Form_Add.controls['Value'].valid && Form_Add.controls['Value'].touched}">
                  </div>
                  <label class="text-danger" for="Value"
                    *ngIf="Form_Add.controls['Value'].hasError('required') && Form_Add.controls['Value'].touched">
                    value required
                  </label>
                  <label class="text-danger" for="Value"
                    *ngIf="Form_Add.controls['Value'].hasError('min') || Form_Add.controls['Value'].hasError('max')">
                    value required
                  </label>
                </div>
                <div class="form-group" *ngIf="Form_Add.controls['DataTypeCode'].value=='datatype.decimal'">
                  <label>Value<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="number" placeholder="Value" name="Value" maxlength="256" class="form-control"
                      [formControl]="Form_Add.controls['Value']"
                      [ngClass]="{'is-invalid':!Form_Add.controls['Value'].valid && Form_Add.controls['Value'].touched}">
                  </div>
                  <label class="text-danger" for="Value"
                    *ngIf="Form_Add.controls['Value'].hasError('required') && Form_Add.controls['Value'].touched">
                    value required
                  </label>
                  <label class="text-danger" for="Value"
                    *ngIf="Form_Add.controls['Value'].hasError('min') || Form_Add.controls['Value'].hasError('max')">
                    value required
                  </label>
                </div>
                <div class="form-group" *ngIf="Form_Add.controls['DataTypeCode'].value=='datatype.boolean'">
                  <label class='d-block'>
                    <small>Default Value</small><span class="text-danger">*</span>
                  </label>
                  <label class="ui-check mr-3"><input type="radio" name="statusopt" value='1'
                      [formControl]="Form_Add.controls['Value']" checked>
                    <i class="dark-white"></i>
                    Enable</label>
                  <label class="ui-check"><input type="radio" name="statusopt" value='0'
                      [formControl]="Form_Add.controls['Value']">
                    <i class="dark-white"></i>
                    Disable</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label>Status</label>
              </div>
              <div class="radio float-left mr-3">
                <label class="ui-check"><input type="radio" name="statusoptions" [value]="'default.active'"
                    [formControl]="Form_Add.controls['StatusCode']">
                  <i class="dark-white"></i>
                  {{ 'Common.Active' | translate }}</label>
              </div>
              <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
                    [value]="'default.inactive'" [formControl]="Form_Add.controls['StatusCode']">
                  <i class="dark-white"></i>
                  {{ 'Common.Inactive' | translate }}</label></div>
            </div>


          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary mr-2" type="button" (click)=" Form_Add_Close()"> Close </button>

            <button type="submit" class="btn btn-primary" (click)=" Form_Add.value.OperationType='new'"
              [disabled]="! Form_Add.valid || _HelperService.IsFormProcessing">
              <span *ngIf="!_HelperService.IsFormProcessing">
                {{ 'Common.Save' | translate }}
              </span>
              <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                translate
                }}...
              </span>
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="Change_Value_Content" role="dialog" tabindex="-1" data-backdrop="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mg-l-15"> Update Configuration</h5>
      </div>

      <div class="modal-body">
        <div class="p-3 ">

          <div class="form-group"
            *ngIf="_Configuration.DataTypeCode != _HelperService.AppConfig.SystemDataType.Boolean">
            <label>Value
              <span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="Name" maxlength="256" class="form-control"
                [(ngModel)]="_Configuration.Value">
            </div>
          </div>

          <div class="form-group"
            *ngIf="_Configuration.DataTypeCode == _HelperService.AppConfig.SystemDataType.Boolean">
            <div>
              <label>Value
                <span class="text-danger">*</span>
              </label>
            </div>
            <div class="radio float-left mr-3">
              <label class="ui-check">
                <input type="radio" name="configoption" [value]="'1'" [(ngModel)]="_Configuration.Value">
                <i class="dark-white"></i>
                Enable | Yes
              </label>
            </div>

            <div class="radio  float-left  mr-3">
              <label class="ui-check">
                <input type="radio" name="configoption" [value]="'0'" [(ngModel)]="_Configuration.Value">
                <i class="dark-white"></i>
                Disable | No
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>Comment
              <span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="Name" maxlength="256" class="form-control" [(ngModel)]="Comment">
            </div>
          </div>
        </div>

        <div class="modal-footer ">

          <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"> Close </button>

          <button type="button" class="btn btn-primary" (click)="UpdateConfigurationValue()"
            [disabled]="_HelperService.IsFormProcessing || !_Configuration.Value || !Comment">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ 'Common.Update' | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
              translate
              }}...
            </span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="History_Content" role="dialog" tabindex="-1" data-backdrop="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Change History </h5>
      </div>

      <div class="modal-body">
        <div class="card md-0">
          <div class="box-header px-3 pd-t-15 pd-b-7  d-flex align-items-center justify-content-between">
            <div class="form-inline">
              <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]=" TListVChange_Config.SearchParameter" maxlength="100"
                  class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                  (keyup)=" TListVChange_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button"
                    (click)=" TListVChange_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                      data-feather="search"></i> </button>
                </div>
              </div>
            </div>
            <div class="d-flex ml-auto">
              <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i> </button>

              <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                  [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                  (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
              </div>
              <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
              _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
                (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

            </div>

            <nav class="nav nav-with-icon tx-20">
              <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="TListVChange_sdropdown" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250 pd-15">

                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                      <div class="float-right tx-20" *ngIf="TListVChange_Config.Sort.SortOrder == 'desc'"
                        (click)="TListVChange_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                        <i class="fas fa-sort-alpha-down-alt"></i>
                      </div>
                      <div class="float-right tx-20" *ngIf="TListVChange_Config.Sort.SortOrder == 'asc'"
                        (click)="TListVChange_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                      </div>
                    </h6>
                    <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      *ngFor="let TItem of  TListVChange_Config.Sort.SortOptions"
                      (click)=" TListVChange_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                      {{TItem.Name}}
                    </a>

                    <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                      (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                      Reset</button>
                    <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                      (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                  </form>
                </div>
              </div>
              <div class="dropdown dropleft">
                <a href="" class="nav-link" id="TListVChange_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                    </h6>
                    <div>
                      <div class="form-group">
                        <label>Change On</label>
                        <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                          daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                          (selected)=" TListVChange_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                      </div>
                    </div>
                    <div>
                      <div class="form-group">
                        <label>Status</label>
                        <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                          [data]=" TListVChange_Config.StatusOptions"
                          (valueChanged)=" TListVChange_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                        </select2>
                      </div>
                    </div>
                    <!-- <div>
                      <div class="form-group">
                        <label>Store</label>
                        <select2 [options]=" TListVChange_Filter_Stores_Option" class="wd-100p"
                          (valueChanged)=" TListVChange_Filter_Stores_Change($event)">
                        </select2>
                      </div>
                    </div> -->
                    <button type="button" class="btn btn-light btn-sm mr-2"
                      (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                      Reset</button>
                    <button type="button" class="btn btn-primary btn-sm "
                      (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                  </form>
                </div>
              </div>
              <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
                (click)=" TListVChange_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                  data-feather="refresh-cw"></i> </a>
            </nav>
          </div>
          <div class="pt-0 pd-l-15 pd-b-8">
            <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
              [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
              {{_HelperService.FilterSnap.StatusName}}
              <span (click)="RemoveFilterComponent('Status')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                  class="fas fa-times"></i> </span>
            </div>
            <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
              [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
              <span>
                {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
              <span (click)="RemoveFilterComponent('Sort')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                  class="fas fa-times"></i> </span>
            </div>

            <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
              [hidden]="!_HelperService.FilterSnap.StartTime">
              {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
              _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
              <span (click)="RemoveFilterComponent('Time')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                  class="fas fa-times"></i> </span>
            </div>
            <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
              *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
              {{TItem.data[0].DisplayName}}
              <span (click)="RemoveFilterComponent('Other',i)"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                  class="fas fa-times"></i> </span>
            </div>

            <span class="badge badge-pill badge-primary"
              *ngFor="let TItem of  TListVChange_Config.Filters">{{TItem.Title}}</span>

          </div>

          <div class="card-body p-0 table-responsive">
            <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
              <thead>
                <tr>
                  <th class="td-status">
                    <i class="{{ 'Common.StatusI' | translate }}"></i>
                  </th>
                  <th>
                    Value
                  </th>
                  <th class="td-date">
                    Change On
                  </th>

                  <th *ngFor="let TItem of TListVChange_Config.VisibleHeaders" class="{{TItem.Class}}">
                    {{TItem.DisplayName}}
                  </th>

                </tr>
              </thead>
              <tbody>
                <tr class="cursor-pointer" (click)="TListVChange_RowSelected(TItem)"
                  *ngFor="let TItem of TListVChange_Config.Data
                                                                        | paginate: { id: 'TListVChange_Paginator',itemsPerPage: TListVChange_Config.PageRecordLimit, currentPage: TListVChange_Config.ActivePage,
                                                                        totalItems: TListVChange_Config.TotalRecords }">
                  <th class="td-status">
                    <i class="{{TItem.StatusI || ''}}"></i>
                  </th>
                  <td>
                    <div>
                      <span *ngIf="_Configuration.DataTypeCode != undefined ">
                        <span
                          *ngIf="_Configuration.DataTypeCode == _HelperService.AppConfig.SystemDataType.Text || _Configuration.DataTypeCode == _HelperService.AppConfig.SystemDataType.Number || _Configuration.DataTypeCode == _HelperService.AppConfig.SystemDataType.Date">
                          {{TItem.Value}}
                        </span>
                        <span *ngIf="_Configuration.DataTypeCode == _HelperService.AppConfig.SystemDataType.Boolean">
                          <span class="_600 text-danger" *ngIf="TItem.Value == '0'">
                            Disabled / No
                          </span>
                          <span class="_600 text-success" *ngIf="TItem.Value == '1'">
                            Enabled / Yes
                          </span>
                        </span>
                      </span>
                    </div>

                  </td>
                  <td>
                    <div> {{TItem.CreateDate || "--"}}</div>
                    <div class="text-xs text-muted">
                      {{TItem.CreatedByDisplayName || "--"}}</div>
                  </td>

                  <td *ngFor="let HTItem of TListVChange_Config.VisibleHeaders" class="{{HTItem.Class}}"
                    title="{{TItem[HTItem.SystemName]}}">
                    <span *ngIf="HTItem.NavigateLink != undefined">
                      <span *ngIf="HTItem.NavigateLink != undefined && HTItem.NavigateField == undefined">
                        <a routerLink="{{HTItem.NavigateLink}}">
                          {{TItem[HTItem.SystemName] || "--"}}</a>
                      </span>
                      <span *ngIf="HTItem.NavigateField != undefined">
                        <a routerLink="{{HTItem.NavigateLink}}/{{TItem[HTItem.NavigateField]}}">
                          <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                            {{TItem[HTItem.SystemName] || "--"}}
                          </span>
                          <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                            {{TItem[HTItem.SystemName]|| "0"}}
                          </span>
                          <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                            {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                          </span>
                          <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                            {{TItem[HTItem.SystemName] || "--"}}
                          </span></a>
                      </span>
                    </span>
                    <span *ngIf="HTItem.NavigateLink == undefined">
                      <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                        {{TItem[HTItem.SystemName] || "--"}}
                      </span>
                      <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                        {{TItem[HTItem.SystemName]|| "0"}}
                      </span>
                      <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                        {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                      </span>
                      <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                        {{TItem[HTItem.SystemName] || "--"}}
                      </span>
                    </span>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer pd-20">
            <span class="mr-3">
              {{ 'Common.Showing' | translate }}
              <span class="bold">{{ TListVChange_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{ TListVChange_Config.ShowingEnd}}
              </span> {{ 'Common.Of' | translate }} {{ TListVChange_Config.TotalRecords}}
            </span>
            <span>
              {{ 'Common.Show' | translate }}
              <select class="wd-50 " [(ngModel)]=" TListVChange_Config.PageRecordLimit"
                (ngModelChange)=" TListVChange_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                  {{TItem}}
                </option>
              </select>
            </span>
            <span class="float-right">
              <pagination-controls id=" TListVChange_Paginator" class="pagination pagination-space"
                (pageChange)=" TListVChange_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
              </pagination-controls>
            </span>
          </div>
        </div>
      </div>

      <div class="modal-footer float-right">
        <button class="btn btn-secondary" (click)="closeHistory()"> Close </button>
      </div>

    </div>
  </div>
</div>