<!-- <div class="card">
    <div class="card-header b-b b-1x">
        <h3 class="tx-14 mb-0 pb-0 tx-dark">Account Features Accessibility & Settings</h3>
        <small class="text-secondary">Merchant visibility and operations settings </small>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="mb-3 bg-ui-01 p-3 b-a r-1x">
                    <div class="tx-dark _500">Gift Cards</div>
                    <div class="text-secondary tx-12 mb-3">
                        Enable or disable gift cards
                    </div>
                    <div>
                        <div class="form-group mb-2">
                            <div class="radio float-left mr-3 pt-2">
                                <label class="ui-check"><input type="radio" name="cagiftcards" value="1" [value]="'1'"
                                        [(ngModel)]="_Configurations.cagiftcards">
                                    <i class="dark-white"></i> Enable</label>
                            </div>
                            <div class="radio float-left mr-3 pt-2"><label class="ui-check"><input type="radio"
                                        name="cagiftcards" value="0" [value]="'0'"
                                        [(ngModel)]="_Configurations.cagiftcards">
                                    <i class="dark-white"></i> Disable</label></div>

                            <button class="btn btn-white" type="button"
                                (click)="MerchantGiftCardStatus_Update()">Update</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="mb-3 bg-ui-01 p-3 b-a r-1x">
                    <div class="tx-dark _500">Thank U Cash</div>
                    <div class="text-secondary mb-3">
                        Enable or disable thank u cash
                    </div>
                    <div>
                        <div class="form-group mb-2">
                            <div class="radio float-left mr-3 pt-2">
                                <label class="ui-check"><input type="radio" name="enablethankucash" value="1"
                                        [value]="'1'" [(ngModel)]="_Configurations.enablethankucash">
                                    <i class="dark-white"></i> Enable</label>
                            </div>
                            <div class="radio float-left mr-3 pt-2"><label class="ui-check"><input type="radio"
                                        name="enablethankucash" value="0" [value]="'0'"
                                        [(ngModel)]="_Configurations.enablethankucash">
                                    <i class="dark-white"></i> Disable</label></div>

                            <button class="btn btn-white text-warn" type="button"
                                (click)="MerchantTUCStatus_Update()">Update</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngIf="_Configurations.enablethankucash == '1'">
                <div class=" bg-ui-01 p-3 b-a r-1x card bd-0 ht-100p">
                    <div class="tx-dark _500"> TUC - Gift Points </div>
                    <div class="text-secondary mb-3">
                        Enable or disable thank u cash gift points
                    </div>
                    <div>
                        <div class="form-group mb-2">
                            <div class="radio float-left mr-3 pt-2">
                                <label class="ui-check"><input type="radio" name="cagiftpoints" value="1" [value]="'1'"
                                        [(ngModel)]="_Configurations.cagiftpoints">
                                    <i class="dark-white"></i> Enable</label>
                            </div>
                            <div class="radio float-left mr-3 pt-2"><label class="ui-check"><input type="radio"
                                        name="cagiftpoints" value="0" [value]="'0'"
                                        [(ngModel)]="_Configurations.cagiftpoints">
                                    <i class="dark-white"></i> Disable</label></div>

                            <button class="btn btn-white text-warn" type="button"
                                (click)="MerchantGiftPointStatus_Update()">Update</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngIf="_Configurations.enablethankucash == '1'">
                <div class="bg-ui-01 p-3 b-a r-1x card bd-0 ht-100p">
                    <div class="tx-dark _500">TUC App Visiblity</div>
                    <div class="text-secondary mb-3">
                        Hide or show merchant in app
                    </div>
                    <div>
                        <div class="form-group mb-2">
                            <div class="radio float-left mr-3 pt-2 ">
                                <label class="ui-check"><input type="radio" name="merchantappvisiblity" value="1"
                                        [value]="'1'" [(ngModel)]="_Configurations.merchantappvisiblity">
                                    <i class="dark-white"></i> Enable</label>
                            </div>
                            <div class="radio float-left mr-3 pt-2"><label class="ui-check"><input type="radio"
                                        name="merchantappvisiblity" value="0" [value]="'0'"
                                        [(ngModel)]="_Configurations.merchantappvisiblity">
                                    <i class="dark-white"></i> Disable</label></div>

                            <button class="btn btn-white text-warn" type="button"
                                (click)="AppVisiblityStatus_Update()">Update</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngIf="_Configurations.enablethankucash == '1'">
                <div class="bg-ui-01 p-3 b-a r-1x card bd-0 ht-100p">
                    <div class="tx-dark _500">Rewards</div>
                    <div class="text-secondary mb-3">
                        Enable or disable merchant rewards at locations
                    </div>
                    <div>
                        <div class="form-group mb-2">
                            <div class="radio float-left mr-3 pt-2">
                                <label class="ui-check"><input type="radio" name="merchantreward" value="1"
                                        [value]="'1'" [(ngModel)]="_Configurations.merchantreward">
                                    <i class="dark-white"></i> Enable</label>
                            </div>
                            <div class="radio float-left mr-3 pt-2"><label class="ui-check"><input type="radio"
                                        name="merchantreward" value="0" [value]="'0'"
                                        [(ngModel)]="_Configurations.merchantreward">
                                    <i class="dark-white"></i> Disable</label></div>

                            <button class="btn btn-white text-warn" type="button"
                                (click)="MerchantRewardsStatus_Update()">Update</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mg-t-15" *ngIf="_Configurations.enablethankucash == '1'">
                <div class=" bg-ui-01 p-3 b-a r-1x card bd-0 ht-100p">
                    <div class="tx-dark _500">Reward ThankUCash Customers Only</div>
                    <div class="text-secondary mb-3">
                        Enable : reward tuc customers , Disable : reward all
                    </div>
                    <div>
                        <div class="form-group mb-2">
                            <div class="radio float-left mr-3 pt-2">
                                <label class="ui-check"><input type="radio" name="tucuserrewardonly" value="1"
                                        [value]="'1'" [(ngModel)]="_Configurations.tucuserrewardonly">
                                    <i class="dark-white"></i> Enable</label>
                            </div>
                            <div class="radio float-left mr-3 pt-2"><label class="ui-check"><input type="radio"
                                        name="tucuserrewardonly" value="0" [value]="'0'"
                                        [(ngModel)]="_Configurations.tucuserrewardonly">
                                    <i class="dark-white"></i> Disable</label></div>

                            <button class="btn btn-white text-warn" type="button"
                                (click)="MerchantTucRewardToCustomerStatus_Update()">Update</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mg-t-15" *ngIf="_Configurations.enablethankucash == '1'">
                <div class="bg-ui-01 p-3 b-a r-1x card bd-0 ht-100p">
                    <div class="tx-dark _500">Redeem</div>
                    <div class="text-secondary mb-3">
                        Enable or disable merchant redeem at locations
                    </div>
                    <div>
                        <div class="form-group mb-2">
                            <div class="radio float-left mr-3 pt-2">
                                <label class="ui-check"><input type="radio" name="merchantredeem" value="1"
                                        [value]="'1'" [(ngModel)]="_Configurations.merchantredeem">
                                    <i class="dark-white"></i> Enable</label>
                            </div>
                            <div class="radio float-left mr-3 pt-2"><label class="ui-check"><input type="radio"
                                        name="merchantredeem" value="0" [value]="'0'"
                                        [(ngModel)]="_Configurations.merchantredeem">
                                    <i class="dark-white"></i> Disable</label></div>

                            <button class="btn btn-white text-warn" type="button"
                                (click)="MerchantRedeemStatus_Update()">Update</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="card">
    <div class="card-header b-1x bd-t-0">
        <h3 class="tx-14 mb-0 pb-0 tx-dark">Rewards Configuration</h3>
        <small class="text-secondary">Merchant rewards configuration</small>
    </div>
    <div class="card-body">
        <!-- <div class="mb-3 bg-ui-01 p-3">
            <div class="tx-dark _500">Reward Percentage</div>
            <div class="text-secondary">Reward percentage per transaction. For allowing only transactions without
                rewarding to user set percentage to 0</div>
            <div class="  text-warning mb-2 text-xs">Reward percentage must be between 0 to 100 </div>
            <div class="col-md-6 col-sm-6 col-xs-12 p-0">
                <div class="input-group text-warn">
                    <span class="input-group-prepend ">
                        <span class="input-group-text text-warn"> Reward %</span>
                    </span>
                    <input type="text" maxlength="4" class="form-control text-warn"
                        [(ngModel)]="_Configurations.RewardPercentage">
                    <span class="input-group-append">
                        <button class="btn btn-white" type="button" (click)="RewardPercentage_Update()">Update</button>
                    </span>
                </div>
            </div>
        </div> -->
        <div class="mb-3 bg-ui-01 p-3">
            <div class="tx-dark _500">User reward Percentage</div>
            <div class="text-secondary">User reward percentage per transaction. </div>
            <div class="  text-warning mb-2 text-xs">Reward percentage must be between 0 to 100 </div>
            <div class="col-md-6 col-sm-6 col-xs-12 p-0">
                <div class="input-group text-warn">
                    <span class="input-group-prepend ">
                        <span class="input-group-text text-warn">User reward %</span>
                    </span>
                    <input type="text" maxlength="4" class="form-control text-warn"
                        [(ngModel)]="_Configurations.userrewardpercentage">
                    <span class="input-group-append">
                        <button class="btn btn-white" type="button"
                            (click)="UserRewardPercentage_Update()">Update</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="mb-3 bg-ui-01 p-3">
            <div class="tx-dark _500">Maximum Rewards Invoice Amount</div>
            <div class="text-secondary">Maximum invoice limit for calculating reward amount. If reward amount is greater
                than set limit, reward amount will be calculated on maximum limit set.
            </div>
            <div class=" text-warning mb-2 text-xs">You can set limit as 0 for accepting any invoice amount
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 p-0">
                <div class="input-group text-warn">
                    <span class="input-group-prepend ">
                        <span class="input-group-text text-warn"> <span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span></span>
                    </span>
                    <input type="text" maxlength="3" class="form-control text-warn"
                        (keypress)="_HelperService.PreventText($event)"
                        [(ngModel)]="_Configurations.RewardMaximumInvoiceAmount">
                    <span class="input-group-append">
                        <button class="btn btn-white" type="button"
                            (click)="MaximumRewardInvoiceAmount_Update()">Update</button>
                    </span>
                </div>
            </div>
        </div>
        <!-- <div class="mb-3 bg-ui-01 p-3">
            <div class="tx-dark _500">Rewards Wallet Type</div>
            <div class="text-secondary">Merchant reward deduction from account
            </div>
            <div class=" text-warning mb-2 text-xs">Default options is prepay
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 p-0">
                <div class="form-group">
                    <div class="radio float-left mr-3">
                        <label class="ui-check"><input type="radio" name="rewardwallettype" (click)="GetBalance()"
                                value="rewarddeductiontype.prepay" [value]="'rewarddeductiontype.prepay'"
                                [(ngModel)]="_Configurations.RewardDeductionTypeCode">
                            <i class="dark-white"></i> Prepay</label>
                    </div>
                    <div class="radio  float-left mr-3"><label class="ui-check"><input type="radio"
                                (click)="GetBalance()" name="rewardwallettype" value="rewarddeductiontype.postpay"
                                [value]="'rewarddeductiontype.postpay'"
                                [(ngModel)]="_Configurations.RewardDeductionTypeCode">
                            <i class="dark-white"></i> Post Pay</label></div>
                    <div class="radio float-left mr-3"><label class="ui-check"><input type="radio"
                                (click)="GetBalance()" name="rewardwallettype"
                                value="rewarddeductiontype.prepayandpostpay"
                                [value]="'rewarddeductiontype.prepayandpostpay'"
                                [(ngModel)]="_Configurations.RewardDeductionTypeCode">
                            <i class="dark-white"></i>
                            Prepay + Postpay</label></div>
                </div>
                <button class="btn btn-white text-warn" type="button"
                    (click)="PaymentCollectionMethod_Update()">Update</button>
            </div>
        </div> -->
        <div class="mb-3 bg-ui-01 p-3"
            *ngIf="_Configurations.RewardDeductionTypeCode == 'rewarddeductiontype.prepay' || _Configurations.RewardDeductionTypeCode == 'rewarddeductiontype.postpay'  || _Configurations.RewardDeductionTypeCode == 'rewarddeductiontype.prepayandpostpay'">
            <div class="tx-dark _500">Rewards Wallet Balance</div>
            <div class="text-secondary">Merchant rewards will be deducted from the balance
            </div>
            <div class=" text-warning mb-2 text-xs">Credit/ view merchant reward balance
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                <div class="tx-dark _500">Account Current Reward Balance</div>
                <div class="mb-2 text-uppercase text-success _600">
                    Available : <span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountBalance.Balance |
                    number:'1.2-2'}}
                </div>
                <div class="mb-2 text-secondary">
                    Credited : <span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountBalance.Credit |
                    number:'1.2-2'}}
                </div>
                <div class="mb-3 text-secondary">
                    Used : <span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountBalance.Debit |
                    number:'1.2-2'}}
                </div>
            </div>


            <!--changed md-8 ro md-9 <div class="col-md-8 col-sm-10 col-xs-12 p-0 mb-3"> -->
            <div class="col-md-9 col-sm-10 col-xs-12 p-0 mb-3">
                <div class="input-group text-warn mb-3">
                    <span class="input-group-prepend ">
                        <span class="input-group-text text-warn">AMOUNT TO CREDIT<span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom" class="ml-2"></span> </span>
                    </span>
                    <input type="text" maxlength="7" class="form-control text-warn" placeholder="Amount to credit"
                        (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_AccountBalanceCreditAmount">

                </div>
                <div class="input-group text-warn">
                    <span class="input-group-prepend ">
                        <span class="input-group-text text-warn">PAYMENT REFERENCE<i class="fa fa-receipt ml-2"></i>
                        </span>
                    </span>
                    <input type="text" maxlength="50" placeholder="payment reference no" class="form-control text-warn"
                        [(ngModel)]="_AccountBalanceCreditReference">

                    <span class="input-group-append">
                        <button class="btn btn-white" type="button" (click)="CreditAmount()">Credit Account</button>
                    </span>
                </div>
            </div>

        </div>
        <div class="mb-3 bg-ui-01 p-3">
            <div class="tx-dark _500">Rewards wallet maximum negative balance</div>
            <div class="text-secondary">Maximum reward amount deduction from wallet for merchant
                System will stop giving out rewards after this limit reached.
            </div>
            <div class=" text-warning mb-2 text-xs">This value is not applicable for direct debit merchants
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 p-0">
                <div class="input-group text-warn">
                    <span class="input-group-prepend ">
                        <span class="input-group-text text-warn"> <span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span></span>
                    </span>
                    <input type="text" maxlength="3" class="form-control text-warn"
                        (keypress)="_HelperService.PreventText($event)"
                        [(ngModel)]="_Configurations.MaximumRewardDeductionAmount">
                    <span class="input-group-append">
                        <button class="btn btn-white" type="button"
                            (click)="RewardWalletMaxDeductionAmt_Update()">Update</button>
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="card-header b-b b-1x bd-t">
        <h3 class="tx-14 mb-0 pb-0 tx-dark">ThankUCash Plus Configuration</h3>
        <small class="text-secondary">Merchant thankucash plus configuration</small>
    </div>
    <div class="card-body">
        <div class="mb-3 bg-ui-01 p-3">
            <div class="tx-dark _500">Thank U Cash Plus</div>
            <div class="text-secondary">
                Enable or disable ThankUCash Plus
            </div>
            <div class=" text-warning mb-2 text-xs">Default options is disabled
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 p-0">
                <div class="form-group">
                    <div class="radio float-left mr-3">
                        <label class="ui-check"><input type="radio" name="thankucashplusstatus" value="1" [value]="'1'"
                                [(ngModel)]="_Configurations.ThankUPlus">
                            <i class="dark-white"></i> Enable</label>
                    </div>
                    <div class="radio  float-left mr-3"><label class="ui-check"><input type="radio"
                                name="thankucashplusstatus" value="0" [value]="'0'"
                                [(ngModel)]="_Configurations.ThankUPlus">
                            <i class="dark-white"></i> Disable</label></div>
                </div>
                <button class="btn btn-white text-warn" type="button"
                    (click)="ThankUCashPlusStatus_Update()">Update</button>
            </div>
        </div>
        <div class="mb-3 bg-ui-01 p-3">
            <div class="tx-dark _500">Thank U Cash Plus Reward Criteria</div>
            <div class="text-secondary">
                Setup reward criteria for ThankUCash Plus Customers
            </div>
            <div class=" text-warning mb-2 text-xs">Default options is Minimum invoice amount 
            </div>
            <div class="radio float-left mr-3">
                <label class="ui-check"><input type="radio" name="tucpluscriteriaoption"
                        value="rewardcriteriatype.mininvoice" [value]="'rewardcriteriatype.mininvoice'"
                        [(ngModel)]="_Configurations.ThankUPlusCriteriaTypeCode">
                    <i class="dark-white"></i> Minimum invoice amount</label>
            </div>
            <div class="radio  float-left mr-3"><label class="ui-check"><input type="radio" name="tucpluscriteriaoption"
                        value="rewardcriteriatype.multipleofamount" [value]="'rewardcriteriatype.multipleofamount'"
                        [(ngModel)]="_Configurations.ThankUPlusCriteriaTypeCode">
                    <i class="dark-white"></i> Multiple of invoice amount</label></div>

            <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                <div class="form-group">
                    <!-- <div class="radio float-left mr-3">
                <label class="ui-check"><input  type="radio" name="tucpluscriteriaoption"
                        value="rewardcriteriatype.mininvoice" [value]="'rewardcriteriatype.mininvoice'"
                        [(ngModel)]="_Configurations.ThankUPlusCriteriaTypeCode">
                    <i class="dark-white"></i> Minimum invoice amount</label>
            </div> -->
                    <!-- <div class="radio  float-left mr-3"><label class="ui-check"><input  type="radio"
                        name="tucpluscriteriaoption" value="rewardcriteriatype.multipleofamount"
                        [value]="'rewardcriteriatype.multipleofamount'"
                        [(ngModel)]="_Configurations.ThankUPlusCriteriaTypeCode">
                    <i class="dark-white"></i> Multiple of invoice amount</label></div>
                </div> -->
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 p-0">
                    <div class="input-group text-warn">
                        <span class="input-group-prepend ">
                            <span class="input-group-text text-warn"> <span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span></span>
                        </span>
                        <input type="text" maxlength="10" class="form-control text-warn"
                            (keypress)="_HelperService.PreventText($event)"
                            [(ngModel)]="_Configurations.ThankUPlusCriteriaValue">
                        <span class="input-group-append">
                            <button class="btn btn-white" type="button"
                                (click)="TUCPlusRewardCriteria_Update()">Update</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mb-3 bg-ui-01 py-3">
                <div class="tx-dark _500">Minimum Transfer Amount</div>
                <div class="text-secondary">Minimum transfer amount for conversion from ThankUCash Plus to ThankUCash
                </div>
                <div class=" text-warning mb-2 text-xs">You can set limit as 0 for direct transfer
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 p-0">
                    <div class="input-group text-warn">
                        <span class="input-group-prepend ">
                            <span class="input-group-text text-warn"> <span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span></span>
                        </span>
                        <input type="text" maxlength="10" class="form-control text-warn"
                            (keypress)="_HelperService.PreventText($event)"
                            [(ngModel)]="_Configurations.ThankUPlusMinimumTransferAmount">
                        <span class="input-group-append">
                            <button class="btn btn-white" type="button"
                                (click)="TUCPlusMinTransferAmount_Update()">Update</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card-header b-b b-1x bd-t">
        <h3 class="tx-14 mb-0 pb-0 tx-dark">Settlements Configuration</h3>
        <small class="text-secondary">Merchant settlements configuration</small>
    </div>
    <div class="card-body">
        <div class="mb-3 bg-ui-01 p-3">
            <div class="tx-dark _500">Settlement Schedule</div>
            <div class="text-secondary">
                Merchant payment settlement schedule
            </div>
            <div class=" text-warning mb-2 text-xs">Default options is daily
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 p-0">
                <div class="form-group">
                    <div class="radio float-left mr-3">
                        <label class="ui-check"><input type="radio" name="settlmentsheduletype"
                                value="settlementshedule.daily" [value]="'settlementshedule.daily'"
                                [(ngModel)]="_Configurations.SettlmentSheduleCode">
                            <i class="dark-white"></i> Daily</label>
                    </div>
                    <div class="radio  float-left mr-3"><label class="ui-check"><input type="radio"
                                name="settlmentsheduletype" value="settlementshedule.weekly"
                                [value]="'settlementshedule.weekly'" [(ngModel)]="_Configurations.SettlmentSheduleCode">
                            <i class="dark-white"></i> Weekly</label></div>
                    <div class="radio float-left mr-3"><label class="ui-check"><input type="radio"
                                name="settlmentsheduletype" value="settlementshedule.monthly"
                                [value]="'settlementshedule.monthly'"
                                [(ngModel)]="_Configurations.SettlmentSheduleCode">
                            <i class="dark-white"></i>
                            Monthly </label></div>
                </div>
                <button class="btn btn-white text-warn" type="button"
                    (click)="SettlementShedule_Update()">Update</button>
            </div>
        </div>
        <div class="mb-3 bg-ui-01 p-3">
            <div class="tx-dark _500">Minimum Settlement Amount</div>
            <div class="text-secondary">Minimum settlement amount to settle in merchant bank account at settlement
                shedule
                reached.
            </div>
            <div class=" text-warning mb-2 text-xs">You can set limit as 0 for no limit.
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 p-0">
                <div class="input-group text-warn">
                    <span class="input-group-prepend ">
                        <span class="input-group-text text-warn"> <span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span></span>
                    </span>
                    <input type="text" maxlength="3" class="form-control text-warn"
                        (keypress)="_HelperService.PreventText($event)"
                        [(ngModel)]="_Configurations.MinimumSettlementAmount">
                    <span class="input-group-append">
                        <button class="btn btn-white" type="button"
                            (click)="MinimumSettlementAmount_Update()">Update</button>
                    </span>
                </div>
            </div>
        </div>
    </div> -->
        <!-- <div class="card-header b-b b-1x bd-t">
        <h3 class="tx-14 mb-0 pb-0 tx-dark">Security</h3>
        <small class="text-secondary">Merchant transactions and account security options</small>
    </div>
    <div class="card-body">
        <div class="mb-3 bg-ui-01 p-3">
            <div class="tx-dark _500">Maximum Total Allowed Transactions Per day Per Merchant</div>
            <div class="text-secondary">Maximum Total Allowed Transactions Per day</div>
            <div class="  text-warning mb-2 text-xs">You must set value greater than 0</div>
            <div class="col-md-6 col-sm-6 col-xs-12 p-0">
                <div class="input-group text-warn">
                    <span class="input-group-prepend">
                        <span class="input-group-text text-warn"> Transaction / Day</span>
                    </span>
                    <input type="text" maxlength="10" class="form-control text-warn"
                        (keypress)="_HelperService.PreventText($event)"
                        [(ngModel)]="_Configurations.securitymaximumtransactionperdaycap">
                    <span class="input-group-append">
                        <button class="btn btn-white" type="button"
                            (click)="TotalTransactionPerDay_Update()">Update</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="mb-3 bg-ui-01 p-3">
            <div class="tx-dark _500">Maximum Total Invoice Amount Per Day Per Merchant </div>
            <div class="text-secondary">Maximum Total Invoice Amount Per Day
            </div>
            <div class=" text-warning mb-2 text-xs">You must set value greater than 0
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 p-0">
                <div class="input-group text-warn">
                    <span class="input-group-prepend ">
                        <span class="input-group-text text-warn"> <span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span></span>
                    </span>
                    <input type="text" maxlength="10" class="form-control text-warn"
                        (keypress)="_HelperService.PreventText($event)"
                        [(ngModel)]="_Configurations.securitymaximuminvoiceamountperdaycap">
                    <span class="input-group-append">
                        <button class="btn btn-white" type="button"
                            (click)="MaximumInvoiceAmountPerDay_Update()">Update</button>
                    </span>
                </div>
            </div>
        </div>
    </div> -->
    </div>