<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary "
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>

  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Loans & repayments - Active Loans</a></li>
</ol>

<div class="row mg-t-30 d-flex">
  <div class="col-md-3">
    <a class="cursor-pointer" (click)="_HelperService.NavigateBack()"><i class="cursor-pointer"
        style="width: 20px; height: 20px;color: #4285F4;" data-feather="chevron-left"></i></a>
    <!-- 
    <i  (click)="_HelperService.NavigateBack()"
      data-feather="chevron-left"> </i> -->
    <span class="tx-16 tx-medium">
      Loan ID L0{{loanDetails?.ReferenceId}}
      <span class="badge text-white bg-success tx-semibold" style="padding-left: 12px;padding-right: 12px;margin-left: 10px;
        padding-top: 6px;
        padding-bottom: 6px;
    ">
        {{loanDetails?.StatusName == "Running" ? 'ACTIVE' : loanDetails?.StatusName | uppercase}}
      </span>
    </span>


  </div>
  <div class="col-md-3  border-right" style="text-align: end;">
    <span class="text-secondary tx-13"> <i style="width: 16px; height: 16px;" data-feather="calendar"></i> Requested
    </span> <span class="text-lowercase">{{loanDetails?.RequestedOn | date:"dd-MM-yyyy hh:mm a"}} </span>
  </div>
  <div class="col-md-3">
    <span class="text-secondary tx-13"> <i style="height: 16px; width: 16px;" data-feather="calendar"></i> Approved
    </span> <span class="text-lowercase">{{loanDetails?.CustomerDetail?.ApprovedOn | date:"dd-MM-yyyy hh:mm a"}}</span>
  </div>
  <div class="col-md-3 d-flex justify-content-end">
    <span class="tx-13"> <a class="cursor-pointer RefreshColorOne text-primary" (click)="openDialog()">View Activity
        Details > </a>
    </span>
  </div>
</div>


<div class="row mg-t-30">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-body pd-20 pb-0 customScroll">
        <div class="">
          <span class="mg-r-10 tx-medium"> Provided By :</span>
          <span class="pd-r-5">
            <img [src]="loanDetails?.ProviderDetail?.ProviderIconUrl" style="width:18px;height: 18px;">
          </span>
          <span>
            {{loanDetails?.ProviderDetail?.ProviderName}}
          </span>
        </div>

        <ul class="list-unstyled media-list mg-t-15 mg-b-0">
          <li class="media align-items-center">
            <div class="row container">

              <div class="col-md-6 pd-0">
                <h4 class="tx-semibold tx-22">
                  <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{loanDetails?.ProviderDetail?.PrincipalAmount}}
                </h4>
                <div class="text-secondary tx-semibold tx-12">
                  Principal Amount
                </div>
              </div>
              <div class="col-md-6 bd-l pd-0" style="text-align: right; top: -3px;">
                <span><span class="tx-semibold tx-22"> {{loanDetails?.ProviderDetail?.InterestRate}} </span></span>
                <span class="tx-15 tx-semibold">
                  % (<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{loanDetails?.ProviderDetail?.InterestAmount | number:'1.2-2'}})
                </span>
                <div class="text-secondary tx-semibold tx-12" style="text-align: center;
                padding-right: 14px;">
                  Interest Rate
                </div>
              </div>
            </div>
          </li>

        </ul>

        <div class="pd-y-20 d-flex align-items-center bd-t">

          <ul class="list-unstyled media-list mg-b-1s">
            <div class="tx-semibold pd-b-5 text-secondary tx-14">
              Used at
            </div>
            <li class="media align-items-center">
              <a>
                <div class="avatar"><img [src]="loanDetails?.ProviderDetail?.MerchantIconURL" alt=""></div>
              </a>
              <div class="media-body pd-l-15">
                <p class="tx-medium mg-b-2 tx-13"><a>{{loanDetails?.ProviderDetail?.MerchantName
                    }}</a></p>
                <span class="tx-12 text-muted tx-11">{{loanDetails?.ProviderDetail?.MerchantAddress || "--" }} </span>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="card  mg-t-20">
      <div class="card-body pd-20 pb-0 customScroll">

        <!-- <ul class="list-unstyled media-list mg-t-15 mg-b-0">
          <li class="media align-items-center"> -->
        <div class="row pd-0 d-flex">

          <div class="col-lg-4 col-md-12 pd-0">
            <div style="height: 135px; width: 200px;padding-top: 20px;">
              <canvas style="display: block;width: 210px;height: 110px;" *ngIf="loanDetails?.PlanDetail" baseChart
                [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                [colors]="doughnutChartColors" [options]="doughnutChartOptions">
              </canvas>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 pr-0" style="text-align:left;padding-left: 55px;">
            <span>
              <div style="height: 15px;width: 15px;border-radius:2px;color:#6FD49B"></div>
              <span class="tx-semibold tx-16"> Pay in {{loanDetails?.PlanDetail?.TotalInstallments}}
              </span>
            </span>
            <span class="tx-12 text-muted">
              (For {{loanDetails?.PlanDetail?.Duration}} months)
            </span>
            <div class="d-flex">
              <div style="height: 15px; width: 15px; background-color: #10B75999; border-radius:3px;margin-top: 3px;">
              </div>
              <span class="tx-12" style="padding-left: 10px;">Initial Payment : <span class="tx-14">
                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{loanDetails?.PlanDetail?.IntialAmount}}</span></span>

            </div>
            <div class="pd-t-15">
              <span class="tx-semibold tx-22"><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{
                loanDetails?.PlanDetail?.RepaymentAmount}}</span><span class="text-muted  tx-12">/ month</span>
            </div>
          </div>
        </div>
        <!-- </li>

        </ul> -->

        <div class="align-items-center" style="padding-top: 0px; padding-bottom: 20px;">
          <div class=" pd-b-5 tx-14 align-items-center" style="text-align :center">
            <span class="text-secondary tx-12"> Final amount </span>
            <span class="tx-12"><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{loanDetails?.PlanDetail?.FinalAmount}}</span>
          </div>

          <div class="align-items-center text-success" style="background-color: #CFF1DE; text-align: center ; height:32px; width:152px;border-radius :3px;border-color: #10B75967;
              padding-top: 6px;border: 1px solid;margin: 0 auto;">
            <span class="text-success tx-11">
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{loanDetails?.PlanDetail?.PaidAmount}} paid till date
            </span>
          </div>

        </div>
      </div>
    </div>

    <div class="card mg-t-15 ">
      <div class="card-body pd-20 pb-0 customScroll">
        <div class="d-flex">
          <div class="col-md-6">
            <span class="mg-r-25 tx-semibold"> Customer Details </span>
          </div>
          <div class="col-md-6 text-right mg-l-10">
            <span class="badge badge-warning text-white pd-y-5 pd-x-10 tx-10"> <span
                class="tx-warning bg-white pd-1 rounded-5"> <i class="fas fa-crown"></i> </span> Gold level </span>
          </div>
        </div>

        <ul class="list-unstyled media-list mg-y-15">
          <li class="media ">
            <a class="align-items-center">
              <div class="avatar"><img [src]="loanDetails?.CustomerDetail?.IconURL" class="rounded-circle" alt=""></div>
            </a>
            <div class="media-body pd-l-15">
              <div class="row" (click)="customerDetails(loanDetails?.CustomerDetail)">
                <div class="col-md-10 tx-13">
                  <p class="tx-medium mg-b-2"><a class="link-01">{{loanDetails?.CustomerDetail?.CustomerName}}</a>
                  </p>
                  <span class="">+{{loanDetails?.CustomerDetail?.MobileNumber}}</span>
                </div>
                <div class="col-md-2">
                  <p class="text-right my-1 py-1"><i class="cursor-pointer"
                      style="width: 18px; height: 18px;color: black;" data-feather="chevron-right"></i></p>
                </div>
              </div>
            </div>
          </li>

        </ul>


        <div class="pd-y-20 align-items-center bd-t bd-b pd-x-20">
          <div class="row">
            <span class="badge badge-light mg-r-15 text-secondary"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            <span class="tx-medium text-secondary mg-r-10 tx-13"> Credit Limit : </span>
            <span class="tx-13">
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{loanDetails?.CustomerDetail?.CreditLimit}}
            </span>
          </div>

          <div class="row ">
            <span class="tx-10 text-muted" style="padding-left: 34px;">APPROVED ON :
              {{loanDetails?.CustomerDetail?.ApprovedOn | date : 'd MMM, y' }}</span>
          </div>
        </div>

        <div class="mg-y-20">
          <label class="tx-medium  tx-spacing-1 mg-b-10 text-secondary"> Contact Details
          </label>
          <ul class="list-unstyled profile-info-list">
            <li><i data-feather="phone"></i> <span
                class="tx-color-01 tx-13">+{{loanDetails?.CustomerDetail?.ContactNumber}}</span>
            </li>
            <li><i data-feather="mail"></i> <span
                class="tx-color-01 tx-13">{{loanDetails?.CustomerDetail?.ContactEmail}}</span>
            </li>
          </ul>
        </div>

        <div class="mg-t-20 pd-b-40">
          <label class="tx-medium  tx-spacing-1 mg-b-10 text-secondary">More Loans from this Customer
          </label>
          <div class="row" *ngFor="let loan of loanDetails?.CustomerDetail?.CustomerOtherLoans">
            <i></i>
            <div class="col-md-6 cursor-pointer" (click)="openDetails(loan)"> <span class="tx-medium tx-13">
                Loan ID </span>
              <span class="tx-13">L0{{loan.ReferenceId}}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="col-md-8">
    <div class="card card-dashboard-table customScroll" style="overflow-y: auto;">
      <div class="card-header d-flex justify-content-between bd-b-0">
        <div class="tx-medium">Repayments Timeline</div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>

            <tr>
              <!-- <th>&nbsp;</th> -->
              <th class="tx-12"><i class="pd-r-5 text-danger fa-solid fa-circle "></i>DUE DATE</th>
              <th class="tx-12"><i class="pd-r-5 text-success fa-solid fa-circle "></i>PAID ON</th>
              <th colspan="3" class="tx-12">REPAYMENT BY CUSTOMER </th>
              <th colspan="2" class="tx-12">INTEREST DISTRIBUTION</th>
            </tr>
            <tr>

              <th colspan="2" class="tx-12">&nbsp;</th>
              <th class="tx-12">Principal</th>
              <th class="tx-12">Interest</th>
              <th class="tx-12">Total</th>
              <th class="tx-12">To TUC</th>
              <th class="tx-12"><span class="pd-r-3">
                  <img [src]="loanDetails?.ProviderDetail?.ProviderIconUrl" style="width:18px;height: 18px;">
                </span>To Provider</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of loanDetails?.RepaymentTimeLine; let i=index;"
              [ngClass]="(item.Status=='Pending')?'text-secondary':'tx-semibold'">
              <td style="padding: 20px;" class="tx-12">
                <span *ngIf="i !==0 ">
                  {{item.DueDate | date : 'd MMM, y' }}
                </span>
                <span *ngIf="i==0" class="tx-semibold">
                  First Part
                  <span>
                    <i class="fa fa-circle-info mg-l-10 text-secondary" aria-hidden="true" data-toggle="tooltip"
                      data-placement="top"
                      title="This downpayment amount paid by customer while requesting loan amount"></i>
                  </span>
                </span>
              </td>
              <td style="padding: 20px;" class="tx-12"><i
                  class="pd-r-5 text-success fa-solid fa-circle"></i>{{item.PaymentDate |date
                : 'd MMM, y' }}</td>
              <td style="padding: 20px;" class="tx-12">{{item.PrincipalAmount == 0 ? '00': item.PrincipalAmount }}</td>
              <td style="padding: 20px;" class="tx-12"
                [ngClass]="(i=== 0  && item.Status=='Successful' && item.Interest == 0)?'text-secondary':'tx-semibold'">
                {{item.Interest == 0 ? '00' :item.Interest}}</td>
              <td style="padding: 20px;" class="tx-12">{{item.Total == 0 ? '00': item.Total}}</td>
              <td style="padding: 20px;" class="tx-12"
                [ngClass]="(i=== 0  && item.Status=='Successful' && item.ToTUC == 0)?'text-secondary':'tx-semibold'">
                {{item.ToTUC == 0 ? '00' : item.ToTUC }}<span *ngIf="i == 0 && item.info"><i
                    class="fa fa-circle-info mg-l-10 text-secondary" aria-hidden="true" data-toggle="tooltip"
                    data-placement="top" [title]="item.info"></i></span></td>
              <td style="padding: 20px;" class="tx-12"
                [ngClass]="(i=== 0  && item.Status=='Successful' && item.ToTUC == 0)?'text-secondary':'tx-semibold'">
                {{item.ToProvider == 0? '00' : item.ToProvider}}</td>
            </tr>
            <tr class="bg-light tx-semibold">
              <td style="padding: 20px;" class="tx-12"></td>
              <td style="padding: 20px;" class="tx-12"></td>
              <td style="padding: 20px;" class="tx-12">{{totalPrincipleAmount | number:'1.2-2'}}</td>
              <td style="padding: 20px;" class="tx-12">{{totalIntrest | number:'1.2-2'}}</td>
              <td style="padding: 20px;" class="tx-12">{{overallTotal | number:'1.2-2'}}</td>
              <td style="padding: 20px;" class="tx-12">{{tucTotal | number:'1.2-2'}}</td>
              <td style="padding: 20px;" class="tx-12">{{providerTotal | number:'1.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card card-dashboard-table customScroll mg-t-15" style="overflow-y: auto;">
      <div class="card-header d-flex justify-content-between bd-b-0">
        <div class="tx-medium">Loan Disbursement Timeline</div>
        <div class="text-primary" style="padding-right: 26px;">
          <span class="pd-r-5">
            <img [src]="loanDetails?.LoanDisbursmentTimeLine?.ProviderIconUrl" style="width:18px;height: 18px;">
          </span>
          {{loanDetails?.LoanDisbursmentTimeLine?.ProviderName}}
        </div>
      </div>
      <div class="card-body  pd-b-0 mt-n2 table-responsive">
        <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
          <thead class="">

            <tr class="tablerowfield">
              <th class="text-secondary tx-12">Date</th>
              <th class="text-secondary tx-12 text-right">PROVIDER TO TUC</th>
              <th class="text-secondary tx-12 text-right">TUC PROCESSING FEES</th>
              <th class="text-secondary tx-12 text-right" style="padding-right:0">TUC TO MERCHANT
                <i *ngIf=" loanDetails && loanDetails.LoanDisbursmentTimeLine && loanDetails.LoanDisbursmentTimeLine.info"
                  class="fa fa-circle-info mg-l-10 text-secondary" aria-hidden="true" data-toggle="tooltip"
                  data-placement="top" [title]="loanDetails.LoanDisbursmentTimeLine.info"></i>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="loanDetails?.LoanDisbursmentTimeLine">
            <tr class="">
              <td class="tx-semibold tx-12">
                <div>{{loanDetails?.LoanDisbursmentTimeLine?.Date | date :"d MMM, y"}}</div>
                <!-- <div class="badge bg-success">
                  <span class="" style="color: #CFF1DE;">{{loanDetails?.LoanDisbursmentTimeLine?.Status}}</span>
                </div>  -->
                <div *ngIf="loanDetails?.LoanDisbursmentTimeLine?.Status === 'Successful'">
                  <div class="badge  text-white tx-11  bg-success">Paid</div>
                </div>
              </td>
              <td class="text-right tx-semibold tx-12"><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{loanDetails?.LoanDisbursmentTimeLine?.ProviderToTUC}}</td>
              <td class="text-right tx-semibold tx-12"><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{loanDetails?.LoanDisbursmentTimeLine.TUCFees}}</td>
              <td class="text-right tx-semibold tx-12" style="padding-right: 25px;">
                <div>
                  <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{loanDetails?.LoanDisbursmentTimeLine.TUCToMerchant}}
                </div>
                <div>
                  <!-- {{loanDetails?.LoanDisbursmentTimeLine.TUCToMerchantDate | date :"dd-MM-yyyy"}} style="padding-right: 30px;" -->
                  {{loanDetails?.LoanDisbursmentTimeLine.TUCToMerchantDate | date : 'd MMM, y'}}
                </div>
              </td>
            </tr>

            <tr class="bg-light">
              <td class="py-3 text-secondary">TOTAL</td>
              <td class="py-3 text-right"> <span class="text-success mg-r-5"><i class="fa-solid fa-circle-check"
                    style="height: 18px; width: 18px;" data-feather="check-circle"></i></span><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                {{loanDetails?.LoanDisbursmentTimeLine?.ProviderToTUC}}</td>
              <td class="py-3 text-right"> <span class="text-success mg-r-5"><i class="fa-solid fa-circle-check"
                    style="height: 18px; width: 18px;" data-feather="check-circle"></i></span><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                {{loanDetails?.LoanDisbursmentTimeLine.TUCFees}}</td>
              <td class="py-3 text-right" style="padding-right: 25px;"> <span class="text-success mg-r-5"><i
                    class="fa-solid fa-circle-check" style="height: 18px; width: 18px;"
                    data-feather="check-circle"></i></span><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                {{loanDetails?.LoanDisbursmentTimeLine.TUCToMerchant}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row mg-t-30">
  <div class="col-md-4 pd-0">
   
  </div>
  <div class="col-md-8 ">
    
  </div>
</div>

<div class="row mg-t-20">
  <div class="col-md-4 p-0 ">
    <div class="card ht-60p">
      <div class="card-body pd-20 pb-0 customScroll" style=" height: 400px; overflow-y: auto;">

        <ul class="list-unstyled media-list mg-t-15 mg-b-0">
          <li class="media align-items-center">
            <div class="row container">

              <div class="col-md-6">

              </div>
              <div class="col-md-6" style="text-align:left">
                <span>
                  <div style="height: 15px;width: 15px;border-radius:2px;color:#6FD49B"></div>
                  <span class="tx-semibold tx-18"> Pay in {{loanDetails?.PlanDetail?.TotalInstallments}}
                  </span>
                </span>
                <span class="tx-12 tx-muted">
                  (For {{loanDetails?.PlanDetail?.Duration}} months)
                </span>
                <div>
                  <span></span> <span class="tx-12">Initial Payment : <span class="tx-14">
                      {{loanDetails?.PlanDetail?.IntialAmount}}</span></span>
                </div>
                <div class="pd-t-15">
                  <span class="tx-semibold tx-22">₦ {{
                    loanDetails?.PlanDetail?.RepaymentAmount}}</span><span class="tx-muted  tx-10">/ month</span>
                </div>
              </div>
            </div>
          </li>

        </ul>

        <div class="pd-y-20  align-items-center" style="text-align: center">

          <div class=" pd-b-5 tx-14 align-items-center">
            <span class="text-secondary tx-12"> Final amount </span>
            <span>₦ {{loanDetails?.PlanDetail?.FinalAmount}}</span>
          </div>

          <div class="align-items-center text-success" style="background-color: #CFF1DE; text-align: center">
            <span class="text-success">
              {{loanDetails?.PlanDetail?.PaidInstallment}} * {{loanDetails?.PlanDetail?.RepaymentAmount}} paid till
              date
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 ">
   
  </div>

</div>

<div class="row mg-t-30">
  <div class="col-md-4 pd-0">
    <div class="card  ht-100p ">
      <div class="card-body pd-20 pb-0 customScroll" style=" height: 400px; overflow-y: auto;">
        <div class="">
          <span class="mg-r-25"> Customer Details </span> <span
            class="badge badge-warning text-white pd-y-5 pd-x-10 tx-10"> <span
              class="tx-warning bg-white pd-1 rounded-5"> <i class="fas fa-crown"></i> </span> Gold level </span>
        </div>

        <ul class="list-unstyled media-list mg-y-15">
          <li class="media align-items-center">
            <a href="">
              <div class="avatar"><img [src]="loanDetails?.CustomerDetail?.IconURL" class="rounded-circle" alt=""></div>
            </a>
            <div class="media-body pd-l-15">
              <p class="tx-medium mg-b-2"><a href="" class="link-01">{{loanDetails?.CustomerDetail?.CustomerName}}</a>
              </p>
              <span class="tx-12">{{loanDetails?.CustomerDetail?.MobileNumber}}</span>
            </div>
          </li>

        </ul>


        <div class="pd-y-20 align-items-center bd-t bd-b pd-x-20">
          <div class="row">
            <span class="badge badge-light mg-r-15 text-secondary"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            <span class="tx-medium text-secondary mg-r-10"> Credit Limit : </span>
            <span>
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{loanDetails?.CustomerDetail?.CreditLimit}}
            </span>
          </div>

          <div class="row">
            <span class="tx-10 text-muted" style="padding-left: 32pxs;">APPROVED ON :
              {{loanDetails.CustomerDetail?.ApprovedOn | date : 'd MMM, y' }}</span>
          </div>
        </div>

        <div class="mg-y-20">
          <label class="tx-medium  tx-spacing-1 mg-b-10 text-secondary"> Contact Details
          </label>
          <ul class="list-unstyled profile-info-list">
            <li><i data-feather="user"></i> <span
                class="tx-color-01 tx-13">{{loanDetails.CustomerDetail?.ContactNumber}}</span>
            </li>
            <li><i data-feather="mail"></i> <span
                class="tx-color-01 tx-13">{{loanDetails.CustomerDetail?.ContactEmail}}</span>
            </li>
          </ul>
        </div>

        <div class="mg-t-20 pd-b-40">
          <label class="tx-medium  tx-spacing-1 mg-b-10 text-secondary">More Loans from this Customer
          </label>
          <div class="row" *ngFor="let loan of loanDetails.CustomerDetail?.CustomerOtherLoans">
            <i></i>
            <div class="col-md-6 bd-r  "> <span class="tx-medium tx-12"> Loan Id </span>
              <span>{{loan.ReferenceId}}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div> -->