<!-- acquirer--merchant--sales -->
<!-- <ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>

  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Loans & repayments - Active Loans
    </a></li>
</ol> -->

<div class="card">
  <!-- <div class="card-header d-flex justify-content-between">
    <div class="tx-medium">Active Loans</div>

    <div class="tx-12 text-secondary d-flex align-items-center"> <img class="mg-r-5" height="18" width="18"
        src="../../../../assets/img/credit-card.png" alt="" srcset=""> Loans
      redeemed by customer at merchant and actively paying repayments</div>

  </div> -->
  <div class="card-header">
    <div class=" d-sm-flex">
      <div class=" media">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
          <!-- <i data-feather="credit-card"></i> -->
          <img src="../../../assets/img/tax.svg">
        </div>
        <div class="media-body">
          <h6 class="tx-sans  tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
            ACTIVE LOANS</h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            {{overviewData?.ActiveLoans?.Loans || "0"}}
          </h4>
        </div>
      </div>
      <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-80">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <span style="font-size: 25px;">
            <!-- <i class="fas fa-money-bill-alt"></i> -->
            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
          </span>

        </div>
        <div class="media-body">
          <h6 class="tx-sans  tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
            <!-- Active amount -->
            ACTIVE PRINCIPAL AMOUNT
          </h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            {{(overviewData?.ActiveLoans?.PrincipalAmount | number:"1.2-2") || "0"}}
          </h4>
        </div>
      </div>
      <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-80">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <img src="../../../../../assets/img/Icon awesome-percent.svg" alt="">
        </div>
        <div class="media-body">
          <h6 class="tx-sans  tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
            <!-- Active Interest amount -->
            TOTAL INTEREST AMT
          </h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            {{(overviewData?.ActiveLoans?.InterestAmount | number:"1.2-2") || "0"}}
          </h4>
        </div>
      </div>
      <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-80">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <span style="font-size: 25px;" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
        </div>
        <div class="media-body">
          <h6 class="tx-sans  tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
            TUC COMMISSION</h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            {{(overviewData?.ActiveLoans?.TUCAmount | number:"1.2-2") || "0"}}
          </h4>
        </div>
      </div>

    </div>

  </div>
  <div class="box-header px-3 pd-t-15 pd-b-7 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TUTr_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>

    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>
            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
              (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <!-- <div *ngFor="let TItem of TUTr_Config.SortExpressionOption"
                           (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                           {{TItem.Name}}
                       </div> -->
            <!-- <div class="mt-2">
                           <button type="button" class="btn btn-primary btn-sm mr-2"
                               (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.SortApply)">Apply</button>
 
                           <button type="button" class="btn btn-light btn-sm "
                               (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortReset)">
                               Reset</button>
                       </div> -->
            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu pd-0 tx-13">
          <form class="wd-400 ">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
              Filters
            </h6>
            <div class="pd-25" style="overflow: auto; height: 80vh;" *ngIf="ResetFilterControls">

              <div class="row">
                <div class="col-md-6">
                  <label for="loanAmountRange">Loan Amount Range</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="controls">
                      <label for="loanAmountMin">Min</label>
                      <input type="number" name="loanAmountMin" class="form-control" [(ngModel)]="loanAmountMin"
                        (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="controls">
                      <label for="loanAmountMax">Max</label>
                      <input type="number" name="loanAmountMax" class="form-control" [(ngModel)]="loanAmountMax"
                        (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div class="form-group">
                  <label>Merchant</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="TUTr_Filter_Merchant_Option"
                      (valueChanged)="TUTr_Filter_Merchants_Change($event)">
                    </select2>
                  </div>
                </div>
              </div>

              <div>
                <div class="form-group">
                  <label>Provider</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="TUTr_Filter_Provider_Option"
                      (valueChanged)="TUTr_Filter_Providers_Change($event)">
                    </select2>
                  </div>
                </div>
              </div>
              <div>

                <!-- <div class="">
                <div class="form-group">
                  <label> Provider</label>
                  <select2 class="full-width" [options]="TUTr_Filter_Provider_Option"
                  (valueChanged)="TUTr_Filter_Providers_Change($event)">
                  </select2>
                </div>
              </div> -->
                <div class="form-group">
                  <label>Start Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>
              </div>

              <div>
                <div class="form-group">
                  <label>Closure Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput1" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)"
                    (click)="ShowDatePicker()" />
                </div>
              </div>

            </div>

            <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
              style="position: fixed; bottom:0%; margin-top: -2.5em ;">
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
            </div>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.loanAmountMin==0 && _HelperService.FilterSnap.SalesRange.loanAmountMax==10000000)" (click)="RemoveFilterComponent('LoanAmount')">
      Loan Amount
      [{{_HelperService.FilterSnap.SalesRange.loanAmountMin + "--" +
      _HelperService.FilterSnap.SalesRange.loanAmountMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='ReferenceId' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:(TItem.data[0].Name ? TItem.data[0].Name :
      TItem.data[0].ProviderName)}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
  </div>

  <div class="card-body table-responsive pd-b-0 mt-n2">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
      <thead>
        <tr>
          <th class="">Loan ID</th>
          <th>Customer Details</th>
          <th class>Merchant</th>
          <th>Provider</th>
          <th>Loan(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>)</th>
          <th class="text-right">Total Int(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>)</th>
          <th class="text-right">Paid Bal(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>)</th>
          <th class="text-right">Repay.(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>)</th>
          <th class="td-date">Next Repay.</th>
          <th class="td-date">Start & Closure</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="TUTr_RowSelected(TItem)" *ngFor="
               let TItem of (listData.Data
                 | paginate
                   : {
                       id: 'TUTr_Paginator',
                       itemsPerPage: TUTr_Config.PageRecordLimit,
                       currentPage: TUTr_Config.ActivePage,
                       totalItems: TUTr_Config.TotalRecords
                     })
             " class="cursor-pointer">
          <td class="">
            <div class="">
              <span class="">L0{{ TItem.ReferenceId || "--" }}</span>
            </div>
            <div class="badge text-white bg-success tx-uppercase">
              <span class="">{{ TItem.Status || "--" }}</span>
            </div>
            <!-- <div *ngIf="TItem.Status === 'Running'">
              <div class="badge text-white bg-success">ACTIVE</div>
            </div>
            <div *ngIf="TItem.Status === 'Approved'">
              <div class="badge text-white bg-success">APPROVED</div>
            </div> -->
          </td>

          <td>
            <div class="tx-semibold">{{ TItem.CustomerDisplayName || "--" }}
            </div>
            <div>{{ TItem.CustomerNumber || "--" }}
            </div>

          </td>
          <td>
            <div class="tx-semibold">
              {{ TItem.MerchantDisplayName || "--" }}
            </div>
            <div>
              {{ TItem.MerchantAddress || "--" | slice:0:15}}...
            </div>
          </td>
          <td style="width: 125px;">
            <span class="pd-r-5">
              <img [src]="TItem.ProviderIconUrl" style="width:18px;height: 18px;">
            </span>{{TItem.ProviderName}}
          </td>

          <td>
            <div>
              {{ TItem.LoanAmount | number: "1.2-2" || "--"}}
            </div>
            <div>
              Pay in {{TItem.TotalInstallments}}
            </div>
          </td>

          <td class="text-right">
            <div>
              {{ TItem.TotalInterest | number:"1.2-2"}}
            </div>
            <div>
              {{TItem.InterestRate || "--"}}%
            </div>
          </td>

          <td class="text-right">
            <div> {{ TItem.TotalPaidAmount | number:"1.2-2"}}
            </div>
            <div class="tx-muted">
              {{TItem.TotalAmount || "--"}}
            </div>
          </td>

          <td class="text-right">
            <div>{{TItem.Repayment | number: "1.2-2" || "--"}}
            </div>
            <div *ngIf="TItem.TotalInstallments">
              <span class="pd-r-5 text-success"> <i class="fa-solid fa-circle-check"></i></span>
              <span> {{TItem.PaidInstallments || 0}} / {{ TItem.TotalInstallments}} paid </span>
            </div>
          </td>

          <td>
            <div>{{ TItem.NextRepayment | date:"dd-MM-yyyy" || "--" }}
            </div>
            <div class="tx-12 text-muted" *ngIf="TItem.days && TItem.days > 0">in {{TItem.days}} days
            </div>
          </td>

          <td>
            <div class="text-muted">
              {{ TItem.StartDate | date:"dd-MM-yyyy" || "--" }}
            </div>
            <div>
              {{ TItem.EndDate | date:"dd-MM-yyyy" || "--" }}
            </div>
          </td>



        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TUTr_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
        (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
        (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>