<!-- acquirer--merchant--sales -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']">
        <a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard
        </a>
    </li>

    <li class="breadcrumb-item" [routerLinkActive]="['active']">
        <a class="" [routerLinkActive]="['active']">Sold History</a>
    </li>
</ol>

<div class="card">
    <div class="card-header">
        <div class=" no-gutters">
            <!-- <div class="d-sm-flex">
        <span class="tx-semibold mg-t-5">Sold History<span class="text-muted tx-normal">
            ({{TUTr_Config.TotalRecords}})</span></span>
          </div>
            <div class="float-right">
        <button class="btn tx-12 text-danger" style="border: 1px solid red;" (click)="ExpiaryDealCode()"> Mark deal code expire </button>
        <button class="btn tx-12 btn-primary" (click)="VarifyDealCode()"> Verify Deal Code </button>
       
      </div> -->

            <div [className]="_HelperService._Assets.Box.header" style="border-bottom: none;padding: 0px;;">
                <div class="tx-14 tx-semibold">Sold History ({{TUTr_Config.TotalRecords}}) </div>
                <div class="float-right">
                    <button class="btn tx-12 mr-2  btn-secondary" (click)="UpdateDealCode()">
                        Update Deal Code
                    </button>
                    <button class="btn tx-12 btn-primary" (click)="VarifyDealCode()">
                        Verify Deal Code
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-header">
        <div class=" d-sm-flex">
            <div class=" media">
                <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    <i data-feather="tag"></i>
                </div>
                <div class="media-body bd-pink">
                    <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Sold Deals
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">{{OverviewData.Transactions| number:
                        "1.0-0"}}
                    </h4>
                </div>
            </div>
            <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
                    <span class="tx-20"> <i class="fas fa-money-bill-alt"></i></span>
                </div>
                <div class="media-body">
                    <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Sold
                        Deals Amount</h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                        <span class=" text-sm"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{OverviewData.Amount |
                        number: "1.2-2" }}
                    </h4>
                </div>
            </div>

        </div>
    </div>

    <div class="box-header px-3 pd-t-15 pd-b-7 d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100"
                    class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="TUTr_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button"
                        (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                            data-feather="search"></i>
                    </button>
                </div>
            </div>

        </div>

        <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i>
            </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                    (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()">
                <i data-feather="plus-circle"></i>
            </button>

        </div>
        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">

                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'"
                                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'"
                                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                            *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
                            (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>

                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset
                        </button>
                        <button type="button" class="btn btn-primary btn-sm mg-t-20"
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu pd-0 tx-13">
                    <form class="wd-400 ">
                        <h6
                            class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
                            Filters
                        </h6>
                        <div class="pd-25" style="overflow: auto; height: 80vh;" *ngIf="ResetFilterControls">
                            <div>
                                <div class="form-group position-relative" id="admin_deal_soldhistory">
                                    <label>Date</label>
                                    <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                        daterangepicker
                                        [options]="_HelperService.AppConfig.DateRangeOptionsFn('#admin_deal_soldhistory')"
                                        (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select2 class="wd-100p" [value]="_DataHelperService.statusValue"
                                        [data]="TUTr_Config.StatusOptions"
                                        (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)"
                                        [options]="_DataHelperService.S2_Status_Option"></select2>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label>Merchant</label>
                                    <div class="form-group">
                                        <select2 class="full-width" [options]="TUTr_Filter_Merchant_Option"
                                            (valueChanged)="TUTr_Filter_Merchants_Change($event)">
                                        </select2>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="form-group">
                                    <label>Partner</label>
                                    <div class="form-group">
                                        <select2 class="full-width" [options]="TUTr_Filter_Partner_Option"
                                            (valueChanged)="TUTr_Filter_Partners_Change($event)">
                                        </select2>
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <div class="form-group">
                                    <label for="">Delivery Company</label>
                                    <select2 class="full-width" [options]="TUTr_Filter_Carrier_Option"
                                        (valueChanged)="TUTr_Filter_Carriers_Change($event)">
                                    </select2>
                                </div>
                            </div>

                            <div class="mg-b-70">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label for="InvoiceRangeMaxAmount">Min Sale Amount</label>
                                                <input type="number" name="InvoiceRangeMinAmount" maxlength="256"
                                                    class="form-control" [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                                                    (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)"
                                                    oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label for="InvoiceRangeMaxAmount">Max Sale Amount</label>
                                                <input type="number" name="InvoiceRangeMaxAmount" maxlength="256"
                                                    class="form-control" [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                                                    (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)"
                                                    oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
                            style="position: fixed; bottom:0%; margin-top: -2.5em ;">
                            <button type="button" class="btn btn-light btn-sm mr-2"
                                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                Reset
                            </button>
                            <button type="button" class="btn btn-primary btn-sm "
                                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer" (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i data-feather="refresh-cw"></i> </a>
            <a class="nav-link ml-2 RefreshColor cursor-pointer RefreshColorOne"(click)="TUTr_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv,true)"><i data-feather="download"></i></a>
        </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-8">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
            [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
            {{_HelperService.FilterSnap.StatusName}}
            <span (click)="RemoveFilterComponent('Status')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
            [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" +_HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span (click)="RemoveFilterComponent('Sort')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
            [hidden]="!_HelperService.FilterSnap.StartTime">
            {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
            _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
            *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:TItem.data[0].Name}}
            <span (click)="RemoveFilterComponent('Other',i)"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
            Sales Range [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" +
            _HelperService.FilterSnap.SalesRange.SalesMax}}]
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">
            {{TItem.Title}}
        </span>
    </div>



    <div class="card-body p-0 table-responsive">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th class="">Status</th>
                    <th>Deal Title</th>
                    <th>Merchant</th>
                    <th>Customer</th>
                    <!-- <th class="td-number">Ref Id</th> -->
                    <th class="td-date">Purchased On</th>
                    <th class="td-date">Valid Till</th>
                    <th class="text-center"> Payable To Merchant(<span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>) </th>
                    <th>Delivery Company</th>
                    <th>Partner</th>
                    <th>Quantity</th>
                    <th class="text-center">Amount(<span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="
               let TItem of TUTr_Config.Data
                 | paginate
                   : {
                       id: 'TUTr_Paginator',
                       itemsPerPage: TUTr_Config.PageRecordLimit,
                       currentPage: TUTr_Config.ActivePage,
                       totalItems: TUTr_Config.TotalRecords
                     }
             ">
                    <td class="d-flex align-items-center">
                        <div class="">
                            <span class="" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }} </span>
                        </div>
                        <span *ngIf="TItem.ToAccountId  != TItem.AccountId  && TItem.ToAccountId  != null"
                            class="tx-verve tx-12 d-flex align-items-center mg-l-5">
                            <img height="18" src="assets/img/1.svg" alt="" srcset="">
                        </span>
                    </td>

                    <td class="" (click)="RouteDeal(TItem)">
                        <div>
                            <span class="route-hover cursor-pointer wd-170">{{ TItem.Title || "--" }}</span>
                        </div>
                    </td>

                    <td class="route-hover cursor-pointer" (click)="MerchantRoute(TItem)">
                        {{ TItem.MerchantDisplayName || "--" }}
                    </td>

                    <td (click)="RouteCustomer(TItem)">
                        <div class="tx-14  route-hover cursor-pointer">{{TItem.AccountMobileNumber || "--"}}</div>
                        <div class="text-secondary tx-12 ">
                            {{TItem.AccountDisplayName || "--"}}
                        </div>
                    </td>

                    <td class="">
                        <div>
                            <span class="">{{ TItem.StartDateS || "--" }}</span>
                        </div>
                        <div class="text-secondary tx-12 wd-100">
                            {{TItem.StartTime || "--"}}
                        </div>
                    </td>

                    <td class="">
                        <div>
                            <span class="">{{ TItem.EndDateS || "--" }}</span>
                        </div>
                        <div class="text-secondary tx-12 wd-100">
                            {{TItem.EndTime || "--"}}
                        </div>
                    </td>

                    <td class="text-center">
                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{TItem.PaybleAmount
                        |number: "1.2-2" || "--"}}
                    </td>
                    <td class="text-center">
                        {{TItem.CarrierName || "--"}}
                    </td>
                    <td>
                        <div class="text-center tx-12 ">
                            {{TItem.PartnerDisplayName || "--"}}
                         </div>
                    </td>
                    <td>
                        <div class="text-center tx-12 ">
                            {{TItem.Quantity || "--"}}
                        </div>
                    </td>

                    <td class="tx-semibold text-center wd-150">
                        <div>
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> {{ TItem.DealCodeAmount
                            || "0"| number: "1.2-2"}}
                        </div>
                    </td>

                    <td class="cursor-pointer route-hover" (click)="TUTr_RowSelected(TItem);">
                        <span> <i class="fas fa-chevron-right"></i> </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
            {{ 'Common.Showing' | translate }}
            <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{TUTr_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
        </span>
        <span>
            {{ 'Common.Show' | translate }}
            <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
                (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right">
            <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
                (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>
</div>

<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas
    style="width: 480px !important; overflow-y:auto !important ;">
    <div class="off-canvas-content">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <h3 class="pb-0 mb-0 tx-20">Details</h3>
                </div>
                <!-- <div> <span class=""> {{_CoreUsage.StatusName || "--"}}</span> </div> -->
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">


                    <div class="mg-t-15 tx-medium mg-b-10"> {{_CoreUsage.Title || "--"}} </div>

                    <div class="d-flex">
                        <span class="{{_CoreUsage.StatusB}}"> {{_CoreUsage.StatusName ||"--"}}</span>
                        <span
                            *ngIf="_CoreUsage.ToAccountId  != _CoreUsage.AccountId  && _CoreUsage.ToAccountId  != null"
                            class="tx-verve tx-12 d-flex align-items-center mg-l-5">
                            <img height="18" src="assets/img/1.svg" alt="" srcset="">
                        </span>

                    </div>

                </div>
                
                <div class="row mg-t-15" *ngIf="_CoreUsage.Quantity != null && _CoreUsage.StatusName=='Unused'">
                    <div class="col-md-4 float-left text-secondary">Quantity</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-3">
                        <div class="input-group input-group-sm" >
                            <div class="input-group-prepend" *ngIf="_CoreUsage.Quantity >1">
                                <span class="input-group-text bg-white cursor-pointer px-3">
                                    <i class="fa fa-minus" (click)="subQuantity()"></i></span>
                            </div>
                            <input type="text" class="form-control bg-white text-center" aria-label="quantity"
                                style="border-color:#ced4da;width: 30px;" [(ngModel)]="CountDeal" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 float-right">
                        <button class="btn btn-primary btn-sm" (click)="CancelDealQuantity()" *ngIf="_CoreUsage.Quantity >1">
                            Update
                        </button>
                    </div>
                </div>
               



                <div class="row mg-t-15">
                    <div class="col-md-4 float-left text-secondary">Sold On</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">
                        <div class="text-lowercase">{{_CoreUsage.DealPurchaseDate || "--"}}</div>
                        <!-- <div class="tx-regular"> {{_CoreUsage.AccountMobileNumber || "--"}} </div> -->

                    </div>
                </div>
                <!-- <div class="mg-t-15 tx-medium mg-b-10"> Transfer Details </div> -->

                <div class="row mg-t-15">
                    <div class="col-md-4 float-left text-secondary">Expires On</div>
                    <div class="col-md-1">:</div>
                    <!-- <div class="col-md-7 text-right">{{_CoreUsage.EndDate || "--"}}</div> -->
                    <div class="col-md-7 text-right text-lowercase">
                        {{_CoreUsage.EndDate || "--"}}
                    </div>
                </div>

                <div class="row mg-t-15">
                    <div class="col-md-4 float-left text-secondary">Customer</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">
                        {{_CoreUsage.AccountDisplayName || "--"}}
                        <div> {{_CoreUsage.AccountMobileNumber || "--"}}</div>
                    </div>
                </div>
                <div class="row mg-t-15">
                    <div class="col-md-4 float-left text-secondary">Customer Address</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">
                        {{_CoreUsage.AccountAddress || "--"}}

                    </div>
                </div>

                <!-- <div class="mg-t-15 tx-medium mg-b-10"> Bank Details </div> -->
                <div class="row mg-t-15">
                    <div class="col-md-4 float-left text-secondary">Shared To</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{_CoreUsage.ToAccountDisplayName || "--"}}
                        <div> {{_CoreUsage.ToAccountMobileNumber || "--"}}</div>
                    </div>
                </div>
                <!-- <div class="mg-t-15 tx-medium mg-b-10"> Transaction Details </div> -->
                <div class="mg-t-25" *ngIf="_CoreUsage.StatusCode == 'dealcode.used'">
                    <div class="row">
                        <div class="col-md-4 float-left text-secondary">Merchant</div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-7 text-right tx-medium">
                            <img class="bd bd-2 mg-r-5" height="30" width="30"
                                (error)="_HelperService.defaultImage($event)" src="{{_CoreUsage.MerchantIconUrl}}"
                                alt=""> {{_CoreUsage.MerchantDisplayName || "--"}}
                            <div class="tx-normal text-success"> Used at {{_CoreUsage.LastUseLocationDisplayName}}</div>

                        </div>
                    </div>
                    <div class="row mg-t-15 ">
                        <div class="col-md-4 float-left text-secondary">Cashier</div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-7 text-right">{{_CoreUsage.CashierDisplayName || "--"}}
                            <div>{{_CoreUsage.CashierId || "--"}} </div>
                        </div>
                    </div>

                    <div class="row mg-t-15 ">
                        <div class="col-md-4 float-left text-secondary">Terminal</div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-7 text-right">{{_CoreUsage.TerminalId || "--"}}
                            <div> {{_CoreUsage.ProviderDisplayName || "--"}} </div>
                        </div>
                    </div>
                    <div class="row mg-t-15 ">
                        <div class="col-md-4 float-left text-secondary">Source</div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-7 text-right">{{_CoreUsage.LastUseLocationSourceName || "--"}}</div>
                    </div>
                </div>

                <div class="mg-t-15 tx-medium mg-b-10"> Amount Details </div>
                <div class="row mg-t-15 ">
                    <div class="col-md-4 float-left text-secondary">Amount</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right"> <span class=" text-sm"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_CoreUsage.DealCodeAmount
                        || "0"}}
                    </div>
                </div>
                <div class="row mg-t-25 ">
                    <div class="col-md-4 float-left text-secondary">Payable to merchant</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right"> <span class=" text-sm"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_CoreUsage.PaybleAmount
                        || "0"}}
                    </div>
                </div>

                <div class="mg-t-15 tx-medium mg-b-10"> Transaction Details </div>

                <div class="row mg-t-15 ">
                    <div class="col-md-4 float-left text-secondary">Payment Ref ID
                        <!-- <div class="tx-12 text-secondary"> (For admin Use Only) </div> -->
                    </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{_CoreUsage.PaymentReference || "--"}}</div>
                </div>

            </div>

            <div class="card-body ">
                <div class="row mg-t-5 ">
                    <div class="col-md-4 float-left">Deal Type</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">
                        <div>
                            <span class="badge badge-info"
                                *ngIf="_CoreUsage.DealTypeName != undefined && _CoreUsage.DealTypeCode == 'dealtype.service'">
                                {{_CoreUsage.DealTypeName}}
                            </span>
                            <span class="badge badge-primary"
                                *ngIf="_CoreUsage.DealTypeName != undefined && _CoreUsage.DealTypeCode == 'dealtype.product'">
                                {{_CoreUsage.DealTypeName}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row mg-t-15 " *ngIf="_CoreUsage.DealTypeCode == 'dealtype.product'">
                    <div class="col-md-4 float-left text-secondary">Order ID</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">
                        {{_CoreUsage.ReferenceId || "0"}}
                    </div>
                </div>

                <div class="row mg-t-15 mg-b-10" *ngIf="_CoreUsage.DealTypeCode == 'dealtype.product'">
                    <div class="col-md-4 float-left text-secondary">Delivery Type</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">
                        <span class="badge badge-secondary"
                            *ngIf="_CoreUsage.DeliveryTypeName != undefined">{{_CoreUsage.DeliveryTypeName}}</span>
                    </div>
                </div>
                <div class="row d-flex justify-content-end">
                    <span class="badge badge-info"
                        *ngIf="_CoreUsage.DealTypeCode == 'dealtype.product' && _CoreUsage.StatusCode=='dealcode.used' ">
                        This order has been Delivered
                    </span>
                    <span class="badge badge-danger"
                        *ngIf="_CoreUsage.DealTypeCode == 'dealtype.product' && _CoreUsage.StatusCode=='dealcode.blocked' ">
                        This order has been cancelled or blocked
                    </span>
                    <span class="badge badge-danger"
                        *ngIf="_CoreUsage.DealTypeCode == 'dealtype.product' && _CoreUsage.StatusCode=='dealcode.expired' ">
                        This order has been expired
                    </span>
                </div>

                <div class="row mg-t-15 d-flex justify-content-end"
                    *ngIf="_CoreUsage.DealTypeCode == 'dealtype.product' && _CoreUsage.StatusCode=='dealcode.unused' ">
                    <button type="button" class="btn btn-sm btn-primary" (click)="DeliverProduct()">Mark as
                        Delivered
                    </button>
                </div>

            </div>
            <div class="card-footer d-flex justify-content-between mg-t-15 mb-0">
                <div class="d-flex justify-content-start"></div>
                <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>
            </div>

        </div>

    </div>
</div>


<div id="Form_Varify_deal_code" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title ml-3">Verify Deal Code</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12">
                        <span>Please enter 11-digit deal for verification</span>
                        <div class="row mg-t-10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Enter 11- digit deal code
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="Name" maxlength="11" class="form-control"
                                            [formControl]="Form_EditUser.controls['Name']"
                                            [ngClass]="{'is-invalid':!Form_EditUser.controls['Name'].valid &&Form_EditUser.controls['Name'].touched}" />
                                    </div>
                                    <label class="text-danger" for="Name"
                                        *ngIf="Form_EditUser.controls['Name'].hasError('required') &&Form_EditUser.controls['Name'].touched">Deal
                                        code is required</label>
                                    <label class="text-danger" for="Name"
                                        *ngIf="Form_EditUser.controls['Name'].hasError('minlength')  || Form_EditUser.controls['Name'].hasError('maxlength')">Enter
                                        Valid 11 digit deal code</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mg-t-75 ">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_EditUser_Close()">
                        {{ "Common.Cancel" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="Form_EditUser.value.OperationType = 'new'"
                        [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            Verify Code
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="Form_Update_deal_code" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="Form_Update" (ngSubmit)="Form_Update_Process(Form_Update.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title ml-3">You can update any deal code status </h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12">
                        <span>Please enter 11-digit deal code for update</span>
                        <div class="row mg-t-10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Enter 11- digit deal code
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="Name" maxlength="11" class="form-control"
                                            placeholder="Enter Deal Code" [formControl]="Form_Update.controls['Name']"
                                            [ngClass]="{'is-invalid':!Form_Update.controls['Name'].valid &&Form_Update.controls['Name'].touched}" />
                                    </div>
                                    <label class="text-danger" for="Name" *ngIf="Form_Update.controls['Name'].hasError('required') 
                                    &&Form_Update.controls['Name'].touched">
                                        Deal code is required
                                    </label>
                                    <label class="text-danger" for="Name"
                                        *ngIf="Form_Update.controls['Name'].hasError('minlength')  || Form_Update.controls['Name'].hasError('maxlength')">
                                        Enter Valid 11 digit deal code
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mg-t-10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Select Status
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select2 class="wd-100p" [value]="_DataHelperService.statusValue"
                                        [data]="_HelperService.AppConfig.StatusList.SoldHistoryDealCode"
                                        (valueChanged)="typeFilterToApply( $event, _HelperService.AppConfig.ListToggleOption.Status)"
                                        [options]="_DataHelperService.S3_Status_Option" *ngIf="ResetStatusValue">
                                    </select2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer mg-t-75 ">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_Update_Close()">
                        {{ "Common.Cancel" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="Form_Update.value.OperationType = 'new'"
                        [disabled]="!Form_Update.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            Update
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


<div id="Form_Deal_Code_Details" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 700px;">
            <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Deal Code Details</h5>
                </div>
                <div class="modal-body  p-lg">

                    <span *ngIf="_SubAccountDetails.StatusCode=='dealcode.blocked'"
                        style="margin-left: 377px; background: 0% 0% no-repeat padding-box;border-radius: 15px;"
                        class="badge justify-content-center tx-dark tx-12    {{SelectStatusBloacked?  'bg-danger text-white' :'bg-gray-300' }} ">
                        {{_SubAccountDetails.StatusName}}
                    </span>
                    <span *ngIf="_SubAccountDetails.StatusCode=='dealcode.unused'"
                        style="margin-left: 377px; background: 0% 0% no-repeat padding-box;border-radius: 15px;"
                        class="badge justify-content-center tx-dark tx-12    {{SelectStatusunused?  'bg-success text-white' :'bg-gray-300' }} ">
                        {{_SubAccountDetails.StatusName}}
                    </span>
                    <span *ngIf="_SubAccountDetails.StatusCode=='dealcode.used'"
                        style="margin-left: 377px; background: 0% 0% no-repeat padding-box;border-radius: 15px;"
                        class="badge justify-content-center tx-dark tx-12   {{SelectStatusredeem?  'bg-warning text-white' :'bg-gray-300' }} ">
                        {{_SubAccountDetails.StatusName}}
                    </span>
                    <span *ngIf="_SubAccountDetails.StatusCode=='dealcode.expired'"
                        style="margin-left: 377px; background: 0% 0% no-repeat padding-box;border-radius: 15px;"
                        class="badge justify-content-center tx-dark tx-12   {{SelectStatusExpired?  'bg-danger text-white' :'bg-gray-300' }} ">
                        {{_SubAccountDetails.StatusName}}
                    </span>
                    <div
                        class="wd-140 wd-md-150 ht-140 ht-md-50  tx-muted tx-16 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <p class="text-center fs-4 py-3 mb-0 redeem-code">{{_SubAccountDetails.ItemCode}}</p>
                    </div>


                    <div *ngIf="_SubAccountDetails.StatusCode=='dealcode.used'"
                        class="wd-140 wd-md-350 ht-140 ht-md-50  tx-muted tx-16 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <span class="mg-t-10 text-align-center tx-12">
                            This deal code of
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"> </span>
                            {{_SubAccountDetails.Amount}} is not redeemed yet
                        </span>
                    </div>

                    <div *ngIf="_SubAccountDetails.StatusCode=='dealcode.unused'"
                        class="wd-140 wd-md-350 ht-140 ht-md-50  tx-muted tx-16 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <span class="mg-t-10 text-align-center tx-12">
                            This deal code of
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"> </span>
                            {{_SubAccountDetails.Amount}} is not used yet
                        </span>
                    </div>

                    <div *ngIf="_SubAccountDetails.StatusCode=='dealcode.expired'"
                        class="wd-140 wd-md-350 ht-140 ht-md-50  tx-muted tx-16 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <span class="mg-t-10 text-align-center tx-12">
                            This deal code of
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"> </span>
                            {{_SubAccountDetails.Amount}} is Expired on
                            {{_HelperService.GetDateS(_SubAccountDetails.ExpiaryDate)}} </span>
                    </div>

                    <div class="row" style="padding: 17px;" *ngIf="_SubAccountDetails.StatusCode=='dealcode.used'">

                        <div class=col-md-4 style="border-right: 1px solid #C0CCDA;">
                            <div class="row">
                                <div class=col-md-3>
                                    <img src="{{_SubAccountDetails.Deal.ImageUrl}}" style="height: 38px; width: 42px;"
                                        alt="" class="img rounded m-auto">
                                </div>
                                <div class=col-md-9>
                                    <span class="text-secondary tx-10">REDEEMED AT</span><br>
                                    <span class="tx-12">
                                        {{_SubAccountDetails.RedeemLocationName ||"NotAvailable"}}</span>
                                </div>
                            </div>
                        </div>


                        <div class=col-md-4 style="border-right: 1px solid #C0CCDA;">
                            <div class="row">
                                <div class=col-md-3>
                                    <div class="deal-details"><i class="fa fa-calendar-o dealfeather"
                                            aria-hidden="true"></i></div>
                                </div>
                                <div class=col-md-9>
                                    <div> <span class="text-secondary tx-10">REDEEMED ON</span></div>
                                    <div> <span class="tx-12 mg-l-1">
                                            {{_HelperService.GetDateS(_SubAccountDetails.RedeemDate)+"|"+_HelperService.GetTimeS(_SubAccountDetails.RedeemDate)}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=col-md-4>
                            <div class="row">
                                <div class=col-md-3>
                                    <div class="deal-details"><i class="fa fa-user-o dealfeather"
                                            aria-hidden="true"></i></div>
                                </div>
                                <div class=col-md-9>
                                    <span class="text-secondary tx-10">CASHIER</span><br>
                                    <span class="tx-12">{{_SubAccountDetails.CashierName||"--"}} |
                                        {{_SubAccountDetails.CashierCode||"--"}}</span>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row " style="padding: 17px;" *ngIf="_SubAccountDetails.StatusCode=='dealcode.unused'">
                        <div class=col-md-3></div>
                        <div class=col-md-6>
                            <div class="row">
                                <div class=col-md-2>
                                    <img src="{{_SubAccountDetails.Merchant.IconUrl}}" style="height: 40px;width: 40px;"
                                        alt="" class="img rounded m-auto">
                                </div>
                                <div class=col-md-10>
                                    <div class=""> <span class="text-secondary tx-12">Merchant Name</span><br>
                                        <span class="tx-12">{{_SubAccountDetails.Merchant.DisplayName}}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class=col-md-3></div>

                    </div>

                    <div class="row " style="padding: 17px;" *ngIf="_SubAccountDetails.StatusCode=='dealcode.expired'">

                        <div class=col-md-4></div>
                        <div class=col-md-6>
                            <div class="row">
                                <div class=col-md-2>
                                    <img src="{{_SubAccountDetails.Merchant.IconUrl}}" style="height: 40px;width: 40px;"
                                        alt="" class="img rounded m-auto">
                                </div>
                                <div class=col-md-10>
                                    <div class=""> <span class="text-secondary tx-12">Merchant Name</span><br>
                                        <span class="tx-12">{{_SubAccountDetails.Merchant.DisplayName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=col-md-3></div>
                    </div>

                    <div class="row  mg-t-10" style="padding: 17px;">

                        <div class=col-md-6>

                            <div style="border: 1px solid #C0CCDA; border-radius: 7px; padding: 10px;height: 210px;">
                                <div style=" padding: 10px;">
                                    <div class="row">
                                        <span class="tx-10 mg-l-10">DEAL DETAILS</span>
                                    </div>
                                    <div class="row mg-t-10">
                                        <div class="row">
                                            <div class=col-md-3>
                                                <div class="mg-l-10"><img src="{{_SubAccountDetails.Deal.ImageUrl}}"
                                                        style="height: 30px;border: 1px solid #C0CCDA;" alt=""
                                                        class="img rounded m-auto"></div>
                                            </div>

                                            <div class=col-md-9>
                                                <div>
                                                    <span class="tx-12 text-uppercase " style="color:#1B2E4B">
                                                        {{_SubAccountDetails.Deal.Title}}
                                                    </span>
                                                </div>
                                                <!-- <br> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mg-t-10 mg-l-5">
                                        <div class="row">
                                            <div>
                                                <i class="iconclass" data-feather="calendar"></i>
                                                <span class="tx-12 mg-l-10">
                                                    Started on :
                                                    {{_HelperService.GetDateS(_SubAccountDetails.PurchaseDate)}}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div>
                                                <i class="iconclass" data-feather="calendar"></i>
                                                <span class="tx-12 mg-l-10">
                                                    Ended on :
                                                    {{_HelperService.GetDateS(_SubAccountDetails.ExpiaryDate)}}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="">
                                                <span class="tx-12 mg-l-30">
                                                    Quantity :
                                                    {{_SubAccountDetails.Quantity}}
                                                </span>
                                            </div>

                                        </div>
                                        <div class="row pb-2">
                                            <div class="">
                                                <span class="tx-12 mg-l-30">
                                                    Total Amount :
                                                    <span class=" text-sm mg-r-5"
                                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_SubAccountDetails.DealCodeAmount
                                                    || '--'}}
                                                </span>
                                            </div>
                                            <div class="">
                                                <span class="tx-12 mg-l-30">
                                                    Amount :
                                                    <span class=" text-sm mg-r-5"
                                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_SubAccountDetails.Amount}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=col-md-6>
                            <div style="border: 1px solid #C0CCDA; border-radius: 7px; padding: 10px;height: 210px;">
                                <div style="padding: 10px;">
                                    <div class="row">
                                        <span class="tx-10 mg-l-10">CUSTOMER DETAILS</span>
                                    </div>
                                    <div class="row mg-t-10">
                                        <div class=col-md-2>
                                            <img class="img wd-40 ht-40 rounded-circle bd bd-2"
                                                src="{{_SubAccountDetails.Customer.IconUrl}}"
                                                style="height: 37px;border-color: #10B759;" alt="">
                                        </div>
                                        <div class=col-md-10>
                                            <div><span
                                                    class="text-secondary tx-12 ">{{_SubAccountDetails.Customer.Name}}</span>
                                            </div>
                                            <!-- <br> -->
                                        </div>
                                    </div>

                                    <div class="mg-t-20 ">
                                        <div class="row mg-l-10">
                                            <div>
                                                <i class="iconclass" data-feather="phone"></i>
                                                <span
                                                    class="tx-12 mg-l-5">+{{_SubAccountDetails.Customer.MobileNumber}}</span>
                                            </div>
                                        </div>

                                        <div class="row mg-l-10">
                                            <div>
                                                <i class="iconclass" data-feather="mail"></i>
                                                <span class="tx-12 mg-l-5">
                                                    {{_SubAccountDetails.Customer.EmailAddress||"--"}}</span>
                                            </div>
                                        </div>
                                        <!-- <div class="row">  <div><i style="width:15px" data-feather="mail"></i><span class="tx-10 mg-l-10">{{__SubAccountDetails.Customer.email}}</span></div> </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="wd-140  wd-md-350 ht-140 ht-md-50 tx-uppercase tx-muted tx-16 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <span class="mg-t-50 text-align-center tx-12 text-danger">Expiry date of code -
                            {{_HelperService.GetDateS(_SubAccountDetails.ExpiaryDate)}}
                        </span>
                    </div>

                </div>
                <div class="modal-footer mg-t-10  ">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_EditUser_Close()">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>