<!-- acquirer--campaign--details -->
<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0" id="headingOne">

            <div class="row ">

                <div class="col-sm-12 col-md-12 col-lg-1 text-center">
                    <div class="badge badge-success" [ngClass]="_CampaignDetails.StatusB">
                        {{_CampaignDetails.StatusName}} </div>
                    <div class="tx-teal tx-18 tx-semibold mg-t-5"> {{_DateDiff.days}} Days {{_DateDiff.hours}} Hours
                    </div>
                    <div class="text-muted tx-14"> Duration </div>

                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media  Hm-textCenterMd">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-semibold text-capitalize  mg-b-2">
                                {{_CampaignDetails.Name}}</h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal   lh-2 mg-b-5">
                                    Start Date : {{_CampaignDetails.StartDateS}}</h2>
                            </div>
                            <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal   lh-2 mg-b-0">
                                    End Date : {{_CampaignDetails.EndDate | date :["dd-MM-yyyy"]}}
                                </h2>
                            </div>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div>
                <div class="col-lg-6 Hm-media768 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class=" tx-26  tx-teal mg-b-5 mg-r-5 lh-1">
                                                {{_CampaignDetails.TypeName | campaignText}} </h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0 "> Campaign Type</p>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class="tx-26 tx-rubik tx-verve mg-b-5 mg-r-5 lh-1 ">
                                                {{_CampaignDetails.SubTypeValue}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0"> Reward</p>

                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <div class="manageButton mg-t-0 pd-t-0">
                                    <button (click)="Form_EditUser_Show()" type="button" data-permission="acqcampaignupdate"
                                        class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill pnvalid">Manage
                                        Account</button>
                                </div>

                               

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>


</div>

<div class="card bd-b-0 pd-x-20 pd-b-20 pd-t-10 mt-3">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist">

        <div class="d-flex flex-wrap">
            
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="contact-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Campaigns.Sales}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="contact" aria-selected="false">Transaction</a>
            </li>

           
        </div>

    </ul>
</div>

<router-outlet></router-outlet>
<div id="Form_EditUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title tx-14">Manage Campaign</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="row">
                        <div class="col-md-12">

                            <ul class="list-inline mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
                                <li class="list-inline-item d-flex align-items-center">
                                    <span class="d-block wd-15 ht-16 bg-success rounded-50 mg-r-5"></span>
                                    <span class="tx-sans  tx-14 tx-bold">{{_CampaignDetails.Name}}</span>
                                </li>
                                <li>
                                <li class="list-inline-item d-flex align-items-center">
                                    <span class="d-block-none wd-15 ht-16 bg-white rounded-50 mg-r-5"></span>
                                    <span class="tx-sans  tx-color-03 tx-semibold tx-14">Campaign Type:
                                        {{_CampaignDetails.TypeName}} </span>
                                </li>
                                <li class="list-inline-item d-flex align-items-center">
                                    <span class="d-block-none wd-15 ht-16 bg-white rounded-50 mg-r-5"></span>
                                    <span class="tx-sans  tx-color-03 tx-semibold tx-14">Reward type:
                                        {{_CampaignDetails.SubTypeName}}</span>
                                </li>
                                <li class="list-inline-item d-flex align-items-center">
                                    <span class="d-block-none wd-15 ht-16 bg-white rounded-50 mg-r-5"></span>
                                    <span class="tx-sans  tx-color-03 tx-semibold tx-14">Reward
                                        Amount:{{_CampaignDetails.SubTypeValue}}</span>
                                </li>

                            </ul>
                            <div class="custom-control custom-checkbox mt-3">
                               
                                <input type="radio" class="custom-control-input" id="b1" name="isExtendActive"
                                    [checked]="isExtendActive" (change)="ToogleExtend()">
                                <label class="custom-control-label tx-sans  tx-14 tx-bold" for="b1">Extend
                                    campaign</label>
                            </div>

                            <div class="mt-3" *ngIf="isExtendActive">
                                <div class="form-group">
                                    <label class="tx-sans  text-muted tx-14">End Date</label>
                                    <input type="text"  [(ngModel)]="this._CampaignDetails.EndDateS" [ngModelOptions]="{standalone: true}"    class="form-control  form-daterangepicker" name="daterangeInput"
                                        daterangepicker [options]="_HelperService.AppConfig.DateFuterPickerOptions"
                                        (selected)="Date_Toogle($event)" />
                                    <span class=" mt-3 tx-color-03"> If you want, you can extend
                                        this campaign. Just
                                        update End date for this campaign</span>
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox mt-3">
                               
                                <input type="radio" class="custom-control-input" id="b2" name="isCloseCamp"
                                    [checked]="isCloseCamp" (change)="ToogleCloseCamp()">
                                <label class="custom-control-label tx-sans  tx-14 tx-bold" for="b2">Close
                                    Campaign</label> <br>
                                <span class="mt-2 tx-color-03" *ngIf="isCloseCamp"> If you close this campaign, you
                                    will not able to Resume
                                    this campaign in future.Do you really want to close this campaign permanently?
                                </span>
                            </div>
                            <div class="custom-control custom-checkbox mt-3 mb-5 ">
                               
                                <input type="radio" class="custom-control-input" id="b3" name="isPauseCamp"
                                    [checked]="isPauseCamp" (change)="TooglePauseCamp()">
                                <label class="custom-control-label tx-sans  tx-14 tx-bold" for="b3">Pause
                                    Campaign</label> <br>
                                <span class="mt-2 tx-color-03" *ngIf="isPauseCamp"> Campaign will pause, you can resume
                                    it also,whenever you
                                    want. </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="Form_EditUser_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_EditUser.value.OperationType = 'new'"
                        [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                    
                </div>
            </form>
        </div>
    </div>
</div>