<!-- <div class="card"> -->

<div class="pd-x-10"> 
  <ol class="breadcrumb df-breadcrumbs mg-b-10">

    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
        [routerLinkActive]="['active']">Analytics
      </a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">Analytics - Today’s Overview
      </a></li>
  </ol>
</div>
<div  class="pd-x-10">

<div class="d-sm-flex align-items-center justify-content-between">
  <div class="tx-22 tx-bold">  Overview </div>
  <div class="d-flex justify-content-between ">
    <div class="form-group  mb-0 pb-0 wd-200  mg-r-5">
      <input type="text" autocomplete="off" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
        [options]="_HelperService.AppConfig.DatePickerOptions" (click)="openDatepicker($event)"
        (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />


    </div>
    <div class="cursor-pointer">
      <button class="btn btn-white" (click)="htmltoPDF()"><i data-feather="printer" class=""></i> Print</button>

    </div>
  </div>
</div>
</div>
<div id="analytics" class="pd-x-10 pd-t-10">

<div class="row row-xs mg-b-10 ">
  <div class="col-sm-6 col-lg-3 ">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Daily Active Customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
          {{_GetoverviewSummary.DailyActiveCustomers || "0"}}
        </h3>

      </div>
      <p class="tx-12 text-secondary mg-b-0"> among <span class="tx-dark"> {{_GetoverviewSummary.TotalCustomers ||
          "--"}} </span> total customers</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Weekly Active Customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
          {{_GetoverviewSummary.WeeklyActiveCustomers || "0" }} </h3>

      </div>
      <p class="tx-12 text-secondary mg-b-0"> among <span class="tx-dark"> {{_GetoverviewSummary.TotalCustomers ||
          "--"}} </span> total customers</p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Monthly Active Customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          {{_GetoverviewSummary.MonthlyActiveCustomers || "0" | number: "1.0-0"}}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">among <span class="tx-dark"> {{_GetoverviewSummary.TotalCustomers || "--" | number: "1.0-0"}}
        </span> total customers</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Total customers </h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          {{_GetoverviewSummary.TotalCustomers || "0"}}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Total Customers </p>
    </div>
  </div><!-- col -->
</div>
<!-- </div> -->
<tucustomersoverviews></tucustomersoverviews>

<div class="row row-xs mg-y-10 ">
  <div class="col-sm-6 col-lg-6">
    <redeemreport></redeemreport>
  </div>

  <div class="col-sm-6 col-lg-6">
    <rewardreport></rewardreport>
  </div>
</div>

<div class="row row-xs mg-y-10">
  <div class="col-sm-6 col-lg-3 ">
    <div class="card card-body shadow-none ht-100p">
      <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active Merchants In This Month</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          {{SalesOverview.ActiveMerchants ||"0"}}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Total Active Merchants</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Sales in month</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
          <span class=" text-sm mg-r-2"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{LoyalityOverview.TransactionInvoiceAmount || "0" |
          number: "1.2-2"}}
        </h3>

      </div>
      <p class="tx-12 text-secondary mg-b-0"> Total sales of day by  <b class="tx-dark">  {{LoyalityOverview.Transaction ||"0"}} Transactions </b></p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Revenue Achieved in month</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{LoyalityOverview.RewardCommissionAmount ||"0"  | number: "1.2-2"}}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Total Revenue of day</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Reward Distributed</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
          <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
          {{LoyalityOverview.RewardAmount || "0" | number: "1.2-2"}}
        </h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-secondary mg-b-0"> Total Rewards Distributed</p>
    </div>
  </div><!-- col -->
</div>

<transactionreport></transactionreport>
<revenuereport></revenuereport>

</div>

<!-- <rewardreport></rewardreport>
<redeemreport></redeemreport> -->