<div class="row">
  <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg">
              <div class="avatar avatar-xxl"><img [style.border-color]="_MerchantDetails.StatusC"
                  src="{{ _MerchantDetails.IconUrl }}" class="rounded-10 bd bd-2" alt=""></div>
            </div><!-- col -->
          </div><!-- row -->

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mg-t-20 mg-b-7 mg-sm-t-0 mg-lg-t-25">
              <h6 class="tx-20 tx-lg-17 tx-semibold mg-b-4">
                {{_MerchantDetails.DisplayName || "--"}}<span class="tx-color-03 tx-14 tx-normal">
                </span>
              </h6>
              <div>
                <span class="text-lowercase mg-b-10" [ngClass]="_MerchantDetails.StatusB">{{
                  _MerchantDetails.StatusName || "--" }}</span>
                <!-- <span class=" mg-b-10 badge tx-indigo mg-l-10 tx-uppercase" style="background-color: #C1B9FE !important;" >Prepaid</span> -->
              </div>
              <!-- <div class="badge badge-primary tx-11 rounded-5 mg-r-10 pd-y-5 mg-b-15">Premium</div> -->
              <div class="d-md-flex d-lg-flex Hm-mg-y align-items-baseline">
                <h2 class="tx-12 tx-lg-12 tx-uppercase tx-color-03 tx-normal lh-2 mg-b-5">
                  Merchant Id : <span class="tx-normal tx-color-01"> {{_MerchantDetails.AccountCode || "--"}} </span>
                </h2>
              </div>
              <div class="d-md-flex d-lg-flex Hm-mg-y align-items-baseline">
                <h2 class="tx-12 tx-lg-12 tx-uppercase tx-color-03 tx-normal lh-2">
                  <!-- <span class="mg-r-5 tx-teal"> <i style="height: 18px; width: 18px;;" data-feather="users"></i> </span> -->
                  Account Code : <span class="tx-normal tx-color-01"> {{_MerchantDetails.AccountCode || "--"}} </span>
                </h2>


              </div>
              <div class="d-md-flex d-lg-flex Hm-mg-y align-items-baseline mg-b-25">
                <h2 class="tx-12 tx-lg-12 tx-uppercase tx-color-03 tx-normal lh-2">
                  <!-- <span class="mg-r-5 tx-teal"> <i style="height: 18px; width: 18px;;" data-feather="users"></i> </span> -->
                  Merchant Type : <span class="tx-normal tx-color-01"> {{_MerchantDetails.MerchantType || "--"}} </span>
                </h2>
              </div>
              <div class="mg-b-40 d-flex justify-content-start">

                <button class="pnvalid" data-permission="merchantdelete" class="btn btn-outline-danger tx-12 mg-r-10"
                  *ngIf="_MerchantDetails.StatusName != 'Blocked'" (click)="BlockAccount()"> Block </button>
                <button class="pnvalid" data-permission="merchantdelete" class="btn btn-outline-success tx-12 mg-r-10"
                  *ngIf="_MerchantDetails.StatusName == 'Blocked'" (click)="UnblockBlockAccount()"> Unblock </button>


                <button class="pnvalid" data-permission="merchantupdate" class="btn btn-primary tx-12"
                  (click)="EditMerchant()"> Edit Merchant </button>
              </div>
              <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline ">
                <div class="col-sm-4 col-md-4 col-lg-4 pd-l-0">
                  <div class=" text-left stores cursor-pointer " (click)="StoreRoute()">
                    <div class="text-left">
                      <h3 class="tx-bold tx-20 tx-rubik mg-b-2 mg-r-5 lh-1 d-flex align-items-center">
                        {{_MerchantDetails.Stores||0.0}} <span class="mg-l-10"> <i
                            style="height: 18 px !important; width: 18px !important;" data-feather="chevron-right"> </i>
                        </span> </h3>
                    </div>
                    <p class="tx-11 tx-uppercase tx-color-03 mg-b-0 route-hover"> Stores</p>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 pd-l-0 d-flex justify-content-between">
                  <div class=" text-left Terminals cursor-pointer" (click)="CashierRoute()">
                    <div class="text-left">
                      <h3 class="tx-bold tx-20 tx-rubik mg-b-2 mg-r-5 lh-1 d-flex align-items-center">
                        {{_MerchantDetails.Cashiers ||0.0}} <span class="mg-l-10"> <i
                            style="height: 18 px !important; width: 18px !important;" data-feather="chevron-right"> </i>
                        </span> </h3>
                    </div>
                    <p class="tx-11 tx-uppercase tx-color-03 mg-b-0 route-hover">Cashiers</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 pd-l-0">
                  <div class=" text-left Terminals cursor-pointer " (click)="TerminalRoute()">
                    <div class="text-left">
                      <h3 class="tx-bold tx-20 tx-rubik mg-b-2 mg-r-5 lh-1 d-flex align-items-center">
                        {{_MerchantDetails.Terminals ||0.0}} <span class="mg-l-10"> <i
                            style="height: 18 px !important; width: 18px !important;" data-feather="chevron-right"> </i>
                        </span> </h3>
                    </div>
                    <p class="tx-11 tx-uppercase tx-color-03 mg-b-0 route-hover">POS Terminals</p>
                  </div>
                </div>


              </div>

              <div class="mg-b-30">
                <div class="col-sm-6 col-md-6 col-lg-6 pd-l-0">
                  <div class=" text-left Terminals">
                    <div class="text-left">
                      <h3 class="tx-bold tx-20 tx-rubik mg-b-2 mg-r-5 lh-1 d-flex align-items-center">
                        {{_MerchantDetails.RewardPercentage ||0.0}} %<span class="mg-l-10">
                          <!-- <i style="height: 18 px !important; width: 18px !important;" data-feather="chevron-right"> </i> -->

                        </span> </h3>
                    </div>
                    <p class="tx-11 tx-uppercase tx-color-03 mg-b-0">Reward %</p>
                  </div>
                </div>
              </div>



              <div class="mg-y-30">
                <label class="tx-sans tx-10 tx-bold tx-uppercase tx-spacing-1 mg-b-10">RelationShip Manager
                </label>
                <ul class="list-unstyled profile-info-list">
                  <!-- <li><i data-feather="home"></i> <span
  class="tx-color-03">{{_HelperService._UserAccount.CountryKey}}</span></li> -->
                  <li><i data-feather="user"></i> <span class="tx-color-01 tx-13">
                      {{_MerchantDetails.Name||"--" }}</span>
                    <!-- {{_MerchantDetails.RMName||"--" }}</span> -->
                  </li>
                  <li><i data-feather="phone"></i> <span class="tx-color-01 tx-13">
                      {{_ContactPerson.MobileNumber||"--"}}</span>
                    <!-- {{_ContactPerson.RMMobileNumber||"--"}}</span> -->
                  </li>
                </ul>
              </div>



              <div class="mg-b-30">
                <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Owner Name</label>
                <ul class="list-unstyled profile-info-list">
                  <li><i data-feather="user"></i> <span class="tx-color-01 tx-13">{{_MerchantDetails.OwnerName
                      || "--"}}</span></li>

                </ul>
              </div>




              <div class="d-flex justify-content-between mg-t-40">
                <div>
                  <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-20">Contact
                    Details</label>
                </div>

                <div>


                  <button style="outline: none;" *ngIf="!VarAccordion1" (click)="VarAccordion1F()" type="button"
                    class="btn btn-transparent btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0" data-toggle="collapse"
                    href="#Schedule" role="button" aria-expanded="false" aria-controls="Schedule">
                    <i class="fas fa-chevron-up"></i>
                  </button>

                  <button *ngIf="VarAccordion1" (click)="VarAccordion1F()" type="button"
                    class="btn btn-transparent btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0" data-toggle="collapse"
                    href="#Schedule" role="button" aria-expanded="false" aria-controls="Schedule">
                    <i class="fas fa-chevron-down"></i>
                  </button>

                </div>
              </div>

              <div class="collapse multi-collapse show" id="Schedule">

                <div class="mg-t-10">

                  <ul class="list-unstyled profile-info-list">
                    <!-- <li><i data-feather="home"></i> <span
  class="tx-color-03">{{_HelperService._UserAccount.CountryKey}}</span></li> -->
                    <li><i data-feather="phone"></i> <span class="tx-color-01 tx-13">{{_ContactPerson.MobileNumber ||
                        "--"}}</span>
                    </li>
                    <!-- <li> <i data-feather="mail"></i> <span class="tx-color-01 tx-13">{{_MerchantDetails.EmailAddress ||
  "--"}}</span>
  </li> -->

                    <li> <i data-feather="mail"></i> <span class="tx-color-01 tx-13"
                        style="word-break: break-all;">{{_ContactPerson.EmailAddress ||
                        "--"}}</span>
                    </li>
                    <li class=""> <span class="" style="width: 24px !important; width: 24px !important;"><i
                          data-feather="map-pin"></i> </span> <span class="tx-color-01 tx-13 mg-l-10"
                        style="width:90%; word-wrap:break-word; display:inline-block;">{{_Address.Address
                        || "--"}}</span>
                    </li>
                    <!-- <li><i data-feather="name"></i> <a>{{_HelperService._UserAccount.CreatedByDisplayName}}</a></li> -->
                  </ul>
                </div>
              </div>


              <div class="d-flex justify-content-between mg-t-40">
                <div>
                  <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-20">Business
                    Details</label>
                </div>

                <div>


                  <button style="outline: none;" *ngIf="!VarAccordion1Business1" (click)="VarAccordion1Business()"
                    type="button" class="btn btn-transparent btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0"
                    data-toggle="collapse" href="#Business" role="button" aria-expanded="false"
                    aria-controls="Business">
                    <i class="fas fa-chevron-up"></i>
                  </button>

                  <button *ngIf="VarAccordion1Business1" (click)="VarAccordion1Business()" type="button"
                    class="btn btn-transparent btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0" data-toggle="collapse"
                    href="#Business" role="button" aria-expanded="false" aria-controls="Business">
                    <i class="fas fa-chevron-down"></i>
                  </button>

                </div>
              </div>

              <div class="collapse multi-collapse show" id="Business">
                <div class="mg-t-10">

                  <ul class="list-unstyled profile-info-list">
                    <div class="mg-b-30">
                      <ul class="list-unstyled profile-info-list">
                        <!-- <li><i data-feather="home"></i> <span
  class="tx-color-03">{{_HelperService._UserAccount.CountryKey}}</span></li> -->
                        <li><i data-feather="user"></i> <span class="tx-color-01 tx-13"
                            style="word-break: break-all;">{{_HelperService._UserAccount.EmailAddress
                            ||
                            "--" }}</span>
                        </li>
                        <li><i data-feather="phone"></i> <span
                            class="tx-color-01 tx-13">{{_HelperService._UserAccount.ContactNumber
                            ||
                            "--"}}</span>
                        </li>
                        <!-- <li><i data-feather="briefcase"></i> <span
  class="tx-color-01 tx-13">{{_MerchantDetails.Address.Address}}</span>
  </li> -->
                        <!-- <li><i data-feather="name"></i> <a>{{_HelperService._UserAccount.CreatedByDisplayName}}</a></li> -->
                      </ul>
                    </div>
                    <div class="mg-b-30">
                      <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Contact
                        Person</label>
                      <ul class="list-unstyled profile-info-list">
                        <!-- <li><i data-feather="home"></i> <span
  class="tx-color-03">{{_HelperService._UserAccount.CountryKey}}</span></li> -->
                        <li><i data-feather="user"></i> <span class="tx-color-01 tx-13">{{_ContactPerson.FirstName ||
                            "--"}}
                            {{_ContactPerson.LastName || "--"}}</span></li>
                        <li><i data-feather="phone"></i> <span class="tx-color-01 tx-13">{{_ContactPerson.MobileNumber
                            ||
                            "--"}}</span></li>


                        <!-- <li><i data-feather="name"></i> <a>{{_HelperService._UserAccount.CreatedByDisplayName}}</a></li> -->
                      </ul>
                    </div>
                  </ul>

                  <div class="mg-b-30">
                    <label
                      class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Categories</label>
                    <ul class="list-unstyled profile-info-list">
                      <div class="d-inline m-auto" *ngFor="let catagories of _MerchantDetails['Categories']">
                        <!-- <div class="badge btn-outline-primary rounded-5 mg-r-10 pd-y-5"></div> -->
                        <div class="badge btn btn-outline-primary tx-12 mg-r-10 mg-b-5"> {{catagories.Name || "--"}}
                        </div>
                      </div>
                    </ul>
                  </div>



                  <div class="mg-b-30">
                    <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Referral
                      Code</label>
                    <ul class="list-unstyled profile-info-list">
                      <li><i data-feather="users"></i> <span class="tx-color-01 tx-13">{{_MerchantDetails.ReferralCode
                          || "--"}}</span></li>

                    </ul>
                  </div>


                  <!-- <div class="mg-b-30">
  <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Reward Deduction Type</label>
  <ul class="list-unstyled profile-info-list">
  <li><i data-feather="user"></i> <span class="tx-color-01 tx-13">{{_MerchantDetails.RewardDeductionType
  || "--"}}</span></li>
 
  </ul>
  </div> -->


                  <div class="mg-b-30">
                    <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Added On</label>
                    <ul class="list-unstyled profile-info-list">
                      <li><i data-feather="calendar"></i>
                        <!-- <span class="tx-color-01 tx-13">{{_MerchantDetails.CreateDate || "--"}}</span> -->
                        <span class="tx-color-01 tx-13 text-lowercase">{{_MerchantDetails.CreateDateD || "--"
                          }}</span>&nbsp;
                        <span class="tx-color-01 tx-13 text-lowercase">{{_MerchantDetails.CreateDateT || "--" }}</span>
                      </li>

                      <li><i data-feather="user"></i> <span
                          class="tx-color-01 tx-13">{{_MerchantDetails.CreatedByDisplayName || "--"}}</span></li>
                    </ul>
                  </div>




                  <div class="mg-b-30">
                    <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Updated
                      On</label>
                    <ul class="list-unstyled profile-info-list">
                      <li><i data-feather="calendar"></i>
                        <span class="tx-color-01 tx-13 text-lowercase">
                          <!-- {{_MerchantDetails.ModifyDateS || "--"}} -->
                          {{_MerchantDetails.ModifyDateS | date :["dd-MM-yyyy hh:mm a"] || "--" }}
                        </span>

                      </li>

                      <li><i data-feather="user"></i> <span
                          class="tx-color-01 tx-13">{{_MerchantDetails.ModifyByDisplayName || "--"}}</span></li>
                    </ul>
                  </div>

                  <div class="">
                    <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">About</label>
                    <ul class="list-unstyled profile-info-list tx-13">
                      <p>{{_MerchantDetails.Description || "--"}}</p>
                    </ul>
                  </div>
                </div>
              </div>



            </div>

          </div>
        </div><!-- profile-sidebar -->
      </div>
    </div>
  </div>
  <div class="col-md-8 col-lg-8 col-xl-8 col-sm-12">
    <!-- <div class="card p-0 mg-b-10" *ngIf="(!_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled) && _AccountBalance.IsLoaded"> -->
    <div class="card p-0 mg-b-20">
      <div class="row row-xs mg-b-10">
        <div class="col-lg-7 col-xl-7 col-sm-12 col-md-12 ">
          <div class=" text-center">
            <div *ngIf="_ShowGauge"
              class="bd-b-0 pd-t-08 pd-lg-t-10 pd-l-08 pd-r-10 pd-lg-l-10 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between"
              id="linear-gauge">
              <!-- 
                class="bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-r-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between"
               -->
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-xl-2 col-sm-12 col-md-12 d-flex align-items-center">
          <!-- <div class="">
            <h3 class="tx-normal tx-14 tx-rubik mg-b-0 mg-r-5 lh-1"
              *ngIf="_AccountBalance.Balance && _AccountBalance.Balance > 0">
              <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_AccountBalance.Balance| number:"1.2-2"|| '0.0'}}
            </h3>
            <h3 class="tx-normal tx-14 tx-rubik mg-b-0 mg-r-5 lh-1"
              *ngIf="_AccountBalance.Balance && _AccountBalance.Balance < 0">
              <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              0
            </h3>
            <div class="tx-11 tx-color-03">
              Available Balance
            </div>
          </div> -->
          <div>
            <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1"><span class=" text-sm "
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_AccountBalance.Balance| number:"1.2-2"|| '0.0'}}
            </h3>

            <div>
              Available Balance
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-sm-12 col-md-12 d-flex align-items-center">
          <button class="btn btn-primary mg-l-auto mg-r-25" (click)="OpenPaymentOptions()"> Top-Up Account </button>
        </div>
      </div>
    </div>

    <div class="card p-0 mg-b-10">
      <div class="row">
        <div class="col">
          <div class="card bd-b-0 pd-x-20 pd-b-20 pd-t-10">
            <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist"
              [routerLinkActive]="['active']">

              <div class="d-flex flex-wrap ">
                <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                  <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.RewardPercentage}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Reward Percentage</a>
                </li>
                <!--removed class pnvalid from li class-->
                <li data-permission="viewaccountsubscriptions"
                  *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled == false" class="nav-item cursor-pointer "
                  [routerLinkActive]="['active']">
                  <a class="nav-link" id="Topup-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.TopUp}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Top-Up & Subscriptions</a>
                </li>
                <!--removed class pnvalid from li class-->
                <li data-permission="viewaccountsubscriptions"
                  *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled == false" class="nav-item cursor-pointer "
                  [routerLinkActive]="['active']">
                  <a class="nav-link" id="Wallate5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.Wallate}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Wallet</a>
                </li>
                <!--removed class pnvalid from li class-->
                <li data-permission="viewaccountsubscriptions"
                  *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled == false" class="nav-item cursor-pointer "
                  [routerLinkActive]="['active']">
                  <a class="nav-link" id="Cashout5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.Cashout}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Cashout</a>
                </li>

                <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                  <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.SubAccounts}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Sub Accounts</a>
                </li>

                <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                  <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Merchant.Configurations}}/{{ _HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ _HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    aria-controls="Stores" aria-selected="false">Configuration</a>
                </li>

                <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                  <a class="nav-link" id="Stores-tab6" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Merchant.BnplConfigurations}}/{{ _HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ _HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    aria-controls="Stores" aria-selected="false">BNPL Configurations</a>
                </li>

                <!-- <li *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled == false" class="nav-item cursor-pointer"
                [routerLinkActive]="['active']">
                <a class="nav-link" id="Topup-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                  routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.TopUp}}" role="tab"
                  aria-controls="home" aria-selected="true">Top-Up & Subscriptions</a>
              </li>
              <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                  routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.RewardPercentage}}"
                  role="tab" aria-controls="home" aria-selected="true">Reward Percentage</a>
              </li>
              <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                  routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.SubAccounts}}"
                  role="tab" aria-controls="home" aria-selected="true">Sub Accounts</a>
              </li> -->
              </div>

              <div class="row d-flex no-gutters">
                <button class="btn btn-primary rounded-pill tx-12 py-1" (click)="Form_AddSubAccount_Show()"
                  *ngIf="_HelperService.showAddNewSubAccBtn" style="height: 30px;"> Add New Sub Account</button>
              </div>
            </ul>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <div id="Form_AddSubAccount_Content" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <form [formGroup]="Form_AddSubAccount" (ngSubmit)="Form_AddSubAccount_Process(Form_AddSubAccount.value)"
          role="form">
          <div class="modal-header">
            <h5 class="modal-title">Add New SubAccount</h5>
          </div>
          <div class="modal-body p-lg">
            <div class="row">


              <div class="col-md-6">
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <div>
                      <label>{{ "System.Users.FirstName" | translate }}<span class="text-danger">*</span>
                      </label>
                    </div>

                  </div>
                  <div class="controls">
                    <input type="text" name="FirstName" placeholder="First Name" required maxlength="128"
                      class="form-control" [formControl]="Form_AddSubAccount.controls['FirstName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddSubAccount.controls['FirstName'].valid &&
                        Form_AddSubAccount.controls['FirstName'].touched
                    }" />
                  </div>
                  <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddSubAccount.controls['FirstName'].hasError('required') &&
                    Form_AddSubAccount.controls['FirstName'].touched
                  ">{{
                    "System.Users.FirstName_ER_Required" | translate
                    }}</label>
                  <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddSubAccount.controls['FirstName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddSubAccount.controls['FirstName'].hasError('maxlength')
                  ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <div>
                      <label>{{ "System.Users.LastName" | translate }}<span class="text-danger">*</span>
                      </label>
                    </div>

                  </div>
                  <div class="controls">
                    <input type="text" name="LastName" placeholder="Last Name" required maxlength="128"
                      class="form-control" [formControl]="Form_AddSubAccount.controls['LastName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddSubAccount.controls['LastName'].valid &&
                        Form_AddSubAccount.controls['LastName'].touched
                    }" />
                  </div>
                  <label class="text-danger" for="LastName" *ngIf="
                    Form_AddSubAccount.controls['LastName'].hasError('required') &&
                    Form_AddSubAccount.controls['LastName'].touched
                  ">{{
                    "System.Users.LastName_ER_Required" | translate
                    }}</label>
                  <label class="text-danger" for="LastName" *ngIf="
                    Form_AddSubAccount.controls['LastName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddSubAccount.controls['LastName'].hasError('maxlength')
                  ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>{{ "System.Users.EmailAddress" | translate
                }}<span class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128" class="form-control"
                  [formControl]="Form_AddSubAccount.controls['EmailAddress']" [ngClass]="{
                          'is-invalid':
                            !Form_AddSubAccount.controls['EmailAddress'].valid &&
                           Form_AddSubAccount.controls['EmailAddress'].touched
                        }" />
              </div>
              <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddSubAccount.controls['EmailAddress'].hasError('required') &&
                       Form_AddSubAccount.controls['EmailAddress'].touched
                      ">{{
                "System.Users.EmailAddress_ER_Required" | translate
                }}</label>
              <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddSubAccount.controls['EmailAddress'].touched &&
                        !Form_AddSubAccount.controls['EmailAddress'].valid && 
                        !Form_AddSubAccount.controls['EmailAddress'].hasError('required')
                      ">Enter valid email Address</label>
            </div>
            <div class="form-group">
              <label>{{ "System.Users.ContactNumber" | translate
                }}<span class="text-danger">*</span>
              </label>
              <div class="controls input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                </div>
                <input type="text" placeholder="Contact Number" name="ContactNumber" maxlength="128"
                  class="form-control" (keypress)="_HelperService.PreventText($event)"
                  [formControl]="Form_AddSubAccount.controls['ContactNumber']" [ngClass]="{
                        'is-invalid':
                          !Form_AddSubAccount.controls['ContactNumber'].valid &&
                         Form_AddSubAccount.controls['ContactNumber'].touched
                      }" />
              </div>
              <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddSubAccount.controls['ContactNumber'].hasError('required') &&
                     Form_AddSubAccount.controls['ContactNumber'].touched
                    ">{{
                "System.Users.ContactNumber_ER_Required" | translate
                }}</label>
              <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddSubAccount.controls['ContactNumber'].hasError(
                        'minlength'
                      ) ||
                     Form_AddSubAccount.controls['ContactNumber'].hasError('maxlength')
                    ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
            </div>


            <div class="form-group">
              <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
                </label>
              </div>
              <div class="radio float-left mr-3">
                <label class="ui-check"><input type="radio" name="gender" [value]="_HelperService.AppConfig.Gender.Male"
                    [formControl]="Form_AddSubAccount.controls['GenderCode']">
                  <i class="dark-white"></i>
                  {{ 'System.Users.Male' | translate }}</label>
              </div>
              <div class="radio mr-3"><label class="ui-check"><input type="radio" name="gender"
                    [value]="_HelperService.AppConfig.Gender.Female"
                    [formControl]="Form_AddSubAccount.controls['GenderCode']">
                  <i class="dark-white"></i>
                  {{ 'System.Users.Female' | translate }}</label></div>
            </div>


            <div class="form-group" *ngIf="isRoleSelect">
              <label>{{ 'System.Users.Role' | translate }}<span class="text-danger">*</span>
              </label>
              <select2 name="S2GetRoles" class="full-width" [data]="_Roles" [options]="GetRoles_Option"
                (valueChanged)="GetRoles_ListChange($event)" [value]="selectedRole">
              </select2>

            </div>
            <div class="mb-3 d-flex align-items-center justify-content-center">
              <input-file *ngIf="ResetImagePlaceholder" class=" d-flex justify-content-center wd-20p m-auto rounded-50"
                #inputfile_test inputId="input-file" placeholder="">
              </input-file>
            </div>

            <div class="form-group pd-b-0" *ngIf="ToggleStoreSelect">
              <label for=""> Select Store <span class="text-danger"> * </span> </label>
              <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                (valueChanged)="TUTr_Filter_Stores_Change($event)">
              </select2>
            </div>

            <!-- <div class="row mb-3">
 
  <div class="col-lg-12">
  <div class="form-group">
  <label>Upload Image<span class="text-danger">*</span></label>
  <input-file (deletedFile)="removeImage()" class="d-flex wd-20p rounded-50"
  inputId="input-file" placeholder="" #inputfile>
  <i data-feather="airplay"> </i>
  </input-file>
  </div>
  </div>
 
 
 
  </div> -->


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddSubAccount_Close()">
              {{ "Common.Close" | translate }}
            </button>
            <button type="submit" class="btn btn-primary warn mr-2"
              (click)="Form_AddSubAccount.value.OperationType = 'new'"
              [disabled]="!Form_AddSubAccount.valid || _HelperService.IsFormProcessing">
              <span *ngIf="!_HelperService.IsFormProcessing">
                {{ "Common.Save" | translate }}
              </span>
              <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                {{ "Common.PleaseWait" | translate }}...
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="Form_TopUp_Content" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Top-Up</h5>
        </div>
        <div class="modal-body p-lg">

          <div class="mb-3 b-b pb-3">
            <!-- <h6 class="mg-b-5">Available Balance</h6> -->
            <!-- <h5 *ngIf="TopUpHistoryList_Config.Data[0]"> <span class="text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> {{_AccountBalance.Balnace}} </h5> -->

            <div class="mb-2">
              Enter Amount <span class="text-danger"> * </span>
            </div>
            <div class="input-group text-warn mb-3">
              <span class="input-group-prepend ">
                <span class="input-group-text text-warn"><span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> </span>
              </span>
              <input type="text" maxlength="7" class="form-control text-warn" placeholder="Amount to credit"
                (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_AccountBalanceCreditAmount">


              <div class="text-secondary mg-t-5">This amount will be credited in your wallet, you can further use it
                to
                give rewards to your customers.</div>
            </div>


            <div class="mb-2">
              Payment reference<span class="text-danger"> * </span>
            </div>

            <input type="text" maxlength="25" class="form-control text-warn" placeholder="Payment Reference"
              [(ngModel)]="PaymentReference">
          </div>
          <!-- <div>
                  <div class="text-center mb-2 text-uppercase text-xs _500">Direct Bank Transfer</div>
                  <div class="mb-2">After transfering amount email us at <span
                          class="text-primary">hello@thankucash.com</span> or <br>
                      call us on <span class="text-primary">+ 234 809 042 6105</span> with the payment reference
                      number</div>
                  <div class="mb-2">ACC Name : <span class="text-black">Connected Analytics Limited</span> </div>
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2019/5/c9fdcacd17ca410ab1986a3637c653a1.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">GT Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 0413463556</span> </div>
                              </div>
                          </div>
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2020/1/696e1639b2dd4db5bfd6b03b565331c5.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">Zenith Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 1015752687</span> </div>
                              </div>
                          </div>

                      
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2019/7/c26886ade0fd4596a8d9feae22c924f0.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">Sterling Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 0069091710</span> </div>
                              </div>
                          </div>
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2019/3/fceab7c366ec43cdbc085e4d1ab0516d.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">Providus Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 1300213860</span> </div>
                              </div>
                          </div>
                    
                      </div>
                  </div>



              </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ "Common.Close" | translate }}
          </button>

          <div>
            <button *ngIf="!_HelperService.IsFormProcessing" (click)="CreditAmount()"
              class="btn btn-primary">Confirm</button>

            <!-- <button type="button" class="btn btn-success" *ngIf="_HelperService.IsFormProcessing"> -->
            <button type="button" class="btn btn-primary" *ngIf="_HelperService.IsFormProcessing">
              <span>
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                {{ "Common.PleaseWait" | translate }}...
              </span>
            </button>





          </div>


        </div>


      </div>
    </div>
  </div>

  <div class="modal" id="_Icon_Cropper_Modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="m-3">
                <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                  format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                  [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                  [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                  [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                  [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                  (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                  (imageLoaded)="_HelperService.Icon_Crop_Loaded()">
                </image-cropper>
                <!-- (loadImageFailed)="_HelperService.Icon_Crop_Failed()" -->
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
              <div class="p-3">
                <div class="mb-2">
                  Image Preview
                </div>
                <div class="mb-2">
                  <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                </div>
                <div>
                  <button type="button" class="btn btn-success mr-2 " data-dismiss="modal">{{ 'Common.PictureDone' |
                    translate }}</button>
                  <button type="button" class="btn btn-warning " (click)="resetImage()">{{
                    'Common.PictureClearAndClose' |
                    translate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>