<div class="row row-xs mg-t-15 ">
  <div class="col-sm-6 col-lg-6 ">

    <div class="card card-header">
      <span class="tx-rubik">ThankUCash Wallet
        <img class="float-right" *ngIf=" _HelperService.CheckMode == 'light'" src="../../assets/img/thankucash.svg"
          height="15px" width="100px" alt="." />
        <img class="float-right" *ngIf=" _HelperService.CheckMode == 'dark'" src="../../assets/img/thankucash_white.svg"
          height="15px" width="100px" alt="." />
      </span>
    </div>
    <div class="card card-body shadow-none">
      <p class="tx-12 text-secondary mg-b-8 tx-uppercase"> available balance</p>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
          <span class="text-sm mg-r-5"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{BalanceData.ThankUCash.Balance | number: "1.2-2" ||"--"}}
        </h3>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-6 mg-t-15  mg-sm-t-0">
    <div class="card card-header">
      <span class="tx-rubik">ThankUCash Plus Wallet</span>
    </div>
    <div class="card card-body shadow-none">
      <p class="tx-12 text-secondary mg-b-8 tx-uppercase"> available balance</p>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
          <span class="text-sm mg-r-5"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{BalanceData.ThankUCashPlus.Balance | number: "1.2-2" ||"--"}}
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="row row-xs mg-t-15 ">
  <div class="col-sm-6 col-lg-6 ">

    <div class="card card-header">
      <span class="tx-rubik">TUC Gift Points Wallet
       <!--- <img class="float-right" *ngIf=" _HelperService.CheckMode == 'light'" src="../../assets/img/thankucash.svg"
          height="15px" width="100px" alt="." />--->
          <img class="float-right" *ngIf=" _HelperService.CheckMode == 'light'" src="../../../../../assets/img/tuc-gift-points.svg"
          height="15px" width="100px" alt="." />
        <img class="float-right" *ngIf=" _HelperService.CheckMode == 'dark'" src="../../assets/img/thankucash_white.svg"
          height="15px" width="100px" alt="." />
      </span>
    </div>
    <div class="card card-body shadow-none">
      <p class="tx-12 text-secondary mg-b-8 tx-uppercase"> available balance</p>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
          <span class="text-sm mg-r-5"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{BalanceData.GiftPoint.Balance | number: "1.2-2" ||"--"}}
        </h3>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-6 mg-t-15  mg-sm-t-0">
    <div class="card card-header">
      <span class="tx-rubik">TUC Gift Card Wallet</span>
    </div>
    <div class="card card-body shadow-none">
      <p class="tx-12 text-secondary mg-b-8 tx-uppercase"> available balance</p>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
          <span class="text-sm mg-r-5"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{BalanceData.GiftCard.Balance | number: "1.2-2" ||"--"}}
        </h3>
      </div>
    </div>
  </div>
</div>


 <div class="row row-xs mg-t-50 "> 
  <div class="col-md-12">
    <div class="card ">
      <div class="card-body border-bottom px-2">
        <h6>Wallet Activity</h6>
      </div>
      <div class="card-body p-0 ht-300 scroll "  style="overflow-y: auto;">
    <table class="table table-borderless">
      <thead  class="border-bottom" style="position: sticky;top: 0 ; background-color: white;">
        <tr >
       
          <!-- <th scope="col"></th> -->
          <th scope="col">Credit/Debit</th>
          <th scope="col">Source/Usage</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      
      <tbody >
        <tr class="cursor-pointer"  *ngFor="let ele of TUTr_Config_test">

          <tr *ngFor="
          let TItem of (TUTr_Config_test.Data
            | paginate
              : {
                  id: 'TUTr_Paginator',
                  itemsPerPage: TUTr_Config_test.PageRecordLimit,
                  currentPage: TUTr_Config_test.ActivePage,
                  totalItems: TUTr_Config_test.TotalRecords
                })
        ">
        <!-- <td><img src="{{TItem.ParentIconUrl}}" class="avatar-sm rounded-circle bd bd-2 bd-success"> </td> -->
         
         <td>
           <i class="fa fa-briefcase" aria-hidden="true" style="color:green;font-size: 15px;"></i>
           &nbsp;

           <span >{{TItem.TotalAmount|| "--"}}</span> 
          </td>
          

          
          <td>
            <div class="tx-semibold tx-14">

              {{TItem.SourceName || "--"}}<i style="width: 14px;  height: 14px;" data-feather="chevron-right"> </i>
            
              
            </div>
            <!-- <div class="tx-12 tx-muted">
              {{TItem.Usages|| "--"}}
            </div> -->
          </td>
          <td>{{TItem.TransactionDate || "--"}}</td>
        </tr>
       
      </tbody>
    </table>
  </div>


<div class="card-footer pd-20">
  <span class="mr-3">
    {{ 'Common.Showing' | translate }}
    <span class="bold">{{TUTr_Config_test.ShowingStart}} {{ 'Common.To' | translate }}
      {{TUTr_Config_test.ShowingEnd}}
    </span> {{ 'Common.Of' | translate }} {{TUTr_Config_test.TotalRecords}}
  </span>
  <span>
    {{ 'Common.Show' | translate }}
    <select class="wd-50 " [(ngModel)]="TUTr_Config_test.PageRecordLimit"
      (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
      <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
        {{TItem}}
      </option>
    </select>
  </span>
  <span class="float-right">
    <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
      (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
      nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
    </pagination-controls>
  </span>
</div>
</div>
  </div>
</div>  