<div class="content bg-white">
    <div class="container d-flex justify-content-center ht-100p">
        <div class="mx-wd-300 wd-sm-450 ht-100p d-flex flex-column align-items-center justify-content-center">
            <div class="wd-80p wd-sm-300 mg-b-15" style="transform: scale(-1,1);"><img
                    src="../../../assets/img/Merchant.svg" class="img-fluid" alt=""></div>

            <h4 class="tx-20 tx-sm-24" *ngIf="!_ResetRequest_Success">Forget Password?</h4>
            <p class="tx-color-03 mg-b-30 tx-center" *ngIf="!_ResetRequest_Success">Enter your username or email address
                and we will send you a
                link to
                reset your password.
            </p>
            <div class="wd-350 align-items-center justify-content-center lex-column flex-sm-row mg-b-40"
                *ngIf="!_ResetRequest_Success">
                <form [formGroup]="_Form_Reset" (ngSubmit)="_Form_Reset_Process(_Form_Reset.value)" role="form">
                    <div class="form-group"
                        [ngClass]="{'has-error':!_Form_Reset.controls['username'].valid && _Form_Reset.controls['username'].touched}">
                        <div class="d-flex ">
                            <input type="text" class="form-control" [formControl]="_Form_Reset.controls['username']"
                                placeholder="Enter username or email address">
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-brand-02 btn-block mg-t-10 mg-sm-t-0"
                            [disabled]="!_Form_Reset.valid || _Form_Reset_Processing">
                            <span *ngIf="!_Form_Reset_Processing">Reset Password</span>
                            <span *ngIf="_Form_Reset_Processing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                {{ 'Common.PleaseWait' | translate }}...
                            </span>
                        </button>
                    </div>
                    <div class="text-center tx-13 mg-t-20">
                        <a href="/account/login" class="">I Remember My Password</a>
                    </div>
                </form>
            </div>

            <div *ngIf="_ResetRequest_Success">
                <h4 class="tx-20 tx-sm-24 text-center">Reset Request Sent</h4>
                <p class="tx-color-03 mg-b-30 tx-center">Password reset request sent to your email. Click the link in
                    email to reset Password.
                </p>
            </div>

            <div class=" text-center col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5 text-muted">
                © Copyright <a target="_blank" class="text-primary" href="http://connectedanalytics.xyz">Connected
                    Analytics Inc.</a> 2021 |
                All Right
                Reserved
            </div>
        </div>
    </div>
</div>