<div class="media pd-y-20 bd-b">
    <div class="">
      <div class=" d-sm-flex">
        <div class=" media">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather= "shopping-bag" ></i>
          </div>
          <div class="media-body bd-pink">
            
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">{{_GetoverviewSummary.TotalCancelledOrders}} <span class="tx-18">Orders Cancelled</span>
            </h4>
            <h6 class="tx-sans tx-10 mg-t-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              You can view all cancelled Pickups here</h6>
          </div>
        </div>
        <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <span class="tx-20"> <i class="fas fa-money-bill-alt"></i></span>
          </div>
          <div class="media-body">
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              <span class=" text-sm"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_GetoverviewSummary.CancelledOredersAmount | number: "1.2-2"
              }}
            </h4>
            <h6 class="tx-sans tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Total amount against cancelled pickups
            </h6>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <div class="media pd-y-20 bd-b d-flex align-items-center">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TUTr_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
          (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search,null)"><i
            data-feather="search"></i> </button>
        </div>
      </div>
    </div>
  
    <div class="btn-group mg-t-20 mg-sm-t-0">
      <button class="btn btn-xs btn-white" disabled>Sort By</button>
      <button class="cursor-pointer btn btn-xs btn-white " [disabled]="!togglebutton"
        *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
        (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort, LatestOrder)">
        Latest First
   </button> 
   <button class="btn btn-xs btn-white"
    class=" cursor-pointer btn btn-xs btn-white" [disabled]="togglebutton"
    *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
    (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort,OldestOrder)">
    Older First
    </button>
    </div>

   <div>
      <div class="dropdown dropright">
        
          <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
      
        <div class="dropdown-menu pd-0 tx-13">
          <form class="wd-400 ">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
              Filters
            </h6>
            <div class="pd-25" style="overflow: auto; height: 80vh;" *ngIf="ResetFilterControls">
              <div>
                <div class="form-group position-relative" id="cancel_date_delivery">
                  <label>Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptionsFn('#cancel_date_delivery')"
                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date, null)" />
                </div>
              </div>
             
              <div>
                <div class="form-group">
                  <label>Store</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                      (valueChanged)="TUTr_Filter_Stores_Change($event)">
                    </select2>
                  </div>
                </div>
              </div>
              
              <div class="mg-b-50">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="TUTr_OrderMinAmount">Min Sale Amount</label>
                        <input type="number" min=0 name="TUTr_OrderMinAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_OrderMinAmount"
                          (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange,null)">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="TUTr_OrderMaxAmount">Max Sale Amount</label>
                        <input type="number" min=0 name="TUTr_OrderMaxAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_OrderMaxAmount"
                          (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange,null)">
                      </div>
                    </div>
                  </div>
                </div>

              </div>


            </div>

            <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
              style="position: fixed; bottom:0%; margin-top: -2.5em ;">
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
            </div>
          </form>
        </div>
      </div>
   </div>
      
   <div class="pt-0 pd-l-15 pd-b-8">
  
    <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='desc')"
          (click)="RemoveFilterComponent('Sort')">
          <span>
              {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
          <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                  class="fas fa-times"></i> </span>
      </div> -->
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
      Order Range
      [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" + _HelperService.FilterSnap.SalesRange.SalesMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
  </div> 
  </div>
  
  <div class="card" *ngFor= "let TItem of (TUTr_Config.Data
  | paginate
    : {
        id: 'TUTr_Paginator',
        itemsPerPage: TUTr_Config.PageRecordLimit,
        currentPage: TUTr_Config.ActivePage,
        totalItems: TUTr_Config.TotalRecords
      })
  " style="margin-bottom: 25px;">
    <div class="card-header bg-gray-200 tx-dark">
      <div class="row ">
        <div class="col-md-3 tx-12 tx-semibold">Order Details</div>
        <div class="col-md-3 tx-12 tx-semibold">Store & Customer Details</div>
        <div class="col-md-3 tx-12 tx-semibold">Products</div>
        <div class="col-md-3 text-right tx-12 tx-semibold">Amount Breakup</div>
      </div>
    </div>
  
  
    <!-- <div style="height: 500px!important; overflow-y: auto;"> -->
    <div class="mg-b-10">
      <div class="card-body bg-white">
        <div class="row">
          <div class="col-md-3">
            <div class="tx-semibold tx-12">
              ORDER ID: {{TItem.ReferenceId}}
            </div>
            <div class="tx-12 tx-semibold  text-secondary" style="padding-top: 10px;">
              <i data-feather="calendar" style="height: 16px;margin-right: 8px;"></i>
              <span cclass="tx-12 tx-semibold  text-secondary">Placed On
              </span>
  
            </div>
            <div class="tx-12 tx-semibold" style="padding-left: 32px;">{{TItem.CreateDate ||"--" }} <span
                class="text-secondary tx-semibold"> | <span class="tx-danger tx-semibold">  </span> </span>
            </div>
            <div class="tx-12 tx-semibold  text-secondary" style="padding-top: 10px;">
              <i data-feather="truck" style="height: 16px;margin-right: 8px;"></i>
              <span cclass="tx-12 tx-semibold  text-secondary">Expected Delivery
              </span>
            </div>
            <div class="tx-12 tx-semibold" style="padding-left: 32px;">{{TItem.DeliveryDate ||"--"}}</div>
          </div>
          <div class="col-md-3">
            <!-- <div>
              <div class="d-flex">
                <div class="mg-r-15">
                  <img class="br" [src]="TItem.MerchantIconUrl" class="img wd-40 ht-40 bd bd-2">
                </div>
                <div>
                  <div class="tx-12 tx-semibold">
                    {{TItem.StoreDisplayName}}
                  </div>
                  <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                    {{TItem.StoreMobileNumber}}
                  </div>
                </div>
              </div>
              <div style="margin-left: 55px;" class="tx-12">{{TItem.StoreAddress}}</div>
            </div> -->
            <div style="padding-top: 10px;">
              <div class="d-flex">
                <div class="mg-r-15">
                  <img class="br" [src]="TItem.CustomerIconUrl" class="img wd-40 ht-40 rounded-circle bd bd-2">
                </div>
                <div>
                  <div class="tx-12 tx-semibold">
                    {{TItem.CustomerDisplayName}}
                  </div>
                  <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                    {{TItem.CustomerMobileNumber}}
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
  
            <div class="d-flex">
              <div class="mg-r-15">
                <img class="br" [src]="TItem.DealIconUrl" class="img wd-40 ht-40  bd bd-2" />
              </div>
              <div>
                <div class="tx-12 tx-semibold">
                  {{TItem.DealTitle}}
                </div>
                <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                  <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{TItem.DealPrice}}/ Unit
                </div>
                <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                  1 Qty
                </div>
              </div>
            </div>
            <!-- <div class="tx-12" style="padding-top: 7px;"><a class="text-primary cursor-pointer tx-semibold"> +2 more
                products ></a></div> -->
          </div>
  
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-12">
                <div class="neworder table">
                  <tbody style="float: right;">
                    <tr>
                      <td>Sub-total</td>
                      <td class="text-right"><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{TItem.SubTotalAmount}}</td>
                    </tr>
                    <tr>
                      <td >Deal Price</td>
                      <td class="text-right"><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{TItem.DealPrice}}</td>
                    </tr>
                    <tr>
                      <td >Shipping Charges</td>
                      <td class="text-right"><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{TItem.RateAmount}}</td>
                    </tr>
                    <tr>
                      <td >Total Amount </td>
                      <td class="text-right"><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{TItem.TotalAmount}}</td>
                    </tr>
                  </tbody>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12 tx-12 text-right" style="padding-top: 7px;"><a
                  class="text-primary cursor-pointer tx-semibold">Invoice
                  #{{TItem.InvoiceNumber}} ></a></div>
            </div>
          </div>
        </div>
  
      </div>
      <div class="card-footer">
        <div class="row" style="float: right">
          <button type="button" class="btn btn-outline-primary tx-14" style="float: right;margin-right: 13px"> View
            Order
          </button>
        </div>
      </div>
    </div>
  </div>