<!-- acquirer--customers--list -->
<!-- <ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Overview}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
      [routerLinkActive]="['active']">Loyality
    </a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Customer Summary
    </a></li>
</ol> -->

<h4 class="mg-b-12 tx-spacing--1"> Customers summary </h4>

<div class="row row-xs mg-b-10">
  <div class="col-sm-6 col-lg-3 ">
    <div class="card card-body shadow-none ht-100p cursor-pointer"
      (click)="ToogleType(_HelperService.AppConfig.CustomerTypes.all)">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">All customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1">
          {{OverviewData.Total| number: "1.0-0"}}</h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-secondary mg-b-0"> Total Customers</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p cursor-pointer "
      (click)="ToogleType(_HelperService.AppConfig.CustomerTypes.new)">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">New Customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
          {{OverviewData.New| number: "1.0-0"}}</h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-secondary mg-b-0">Newly registered customers</p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none cursor-pointer ht-100p"
      (click)="ToogleType(_HelperService.AppConfig.CustomerTypes.loyal)">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">loyal customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1">
          {{OverviewData.Repeating| number: "1.0-0"}} </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Customers who visits frequently</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body cursor-pointer shadow-none ht-100p"
      (click)="ToogleType(_HelperService.AppConfig.CustomerTypes.lost)">
      <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Lost customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1">
          {{OverviewData.Lost| number: "1.0-0"}}</h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Customers who hasn't visited over one month</p>
    </div>
  </div><!-- col -->
</div>
<div class="card ">
  <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> {{ Customers_Config.Title}} </div>
  </div>
  <div class="box-header px-3 pd-t-15 pd-b-7  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="Customers_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="Customers_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="Customers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="Customers_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="Customers_Config.Sort.SortOrder == 'desc'"
                (click)="Customers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="Customers_Config.Sort.SortOrder == 'asc'"
                (click)="Customers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of Customers_Config.Sort.SortOptions"
              (click)="Customers_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="Customers_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-400  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group position-relative" id="merchant_customer_summary">
                <label>Last Visit</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptionsFn('#merchant_customer_summary')"
                  (selected)="Customers_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="Customers_Config.StatusOptions"
                  (valueChanged)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="InvoiceRangeMaxAmount">Min Sale Amount</label>
                    <input type="number" name="InvoiceRangeMinAmount" maxlength="256" class="form-control"
                      [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                      (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="InvoiceRangeMaxAmount">Max Sale Amount</label>
                    <input type="number" name="InvoiceRangeMaxAmount" maxlength="256" class="form-control"
                      [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                      (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="RedeemRangeMinAmount">Min Redeem Amount</label>
                    <input type="number" name="RedeemRangeMinAmount" maxlength="256" class="form-control"
                      [(ngModel)]="TUTr_RedeemRangeMinAmount"
                      (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="RedeemRangeMaxAmount">Max Redeem Amount</label>
                    <input type="number" name="RedeemRangeMaxAmount" maxlength="256" class="form-control"
                      [(ngModel)]="TUTr_RedeemRangeMaxAmount"
                      (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                  </div>
                </div>
              </div>
            </div>




            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="RewardRangeMinAmount">Min Reward Amount</label>
                    <input type="number" name="RewardRangeMinAmount" maxlength="256" class="form-control"
                      [(ngModel)]="TUTr_RewardRangeMinAmount"
                      (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="RewardRangeMaxAmount">Max Reward Amount</label>
                    <input type="number" name="RewardRangeMaxAmount" maxlength="256" class="form-control"
                      [(ngModel)]="TUTr_RewardRangeMaxAmount"
                      (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                  </div>
                </div>
              </div>
            </div>



            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer "
        (click)="Customers_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
          data-feather="download"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
      (click)="RemoveFilterComponent('Status')">
      {{_HelperService.FilterSnap.StatusName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
      (click)="RemoveFilterComponent('Sort')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
      (click)="RemoveFilterComponent('Other',i)">
      {{TItem.data[0].DisplayName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary" *ngFor="let TItem of Customers_Config.Filters">{{TItem.Title}}</span>

  </div>


  <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
      Balance Range
      [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" + _HelperService.FilterSnap.SalesRange.SalesMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RewardMin==0 && _HelperService.FilterSnap.SalesRange.RewardMax==10000000)" (click)="RemoveFilterComponent('RewardRange')">
      Reward
      Range [{{_HelperService.FilterSnap.SalesRange.RewardMin + "--" + _HelperService.FilterSnap.SalesRange.RewardMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RedeemMin==0 && _HelperService.FilterSnap.SalesRange.RedeemMax==10000000)" (click)="RemoveFilterComponent('RedeemRange')">
      Redeem
      Range [{{_HelperService.FilterSnap.SalesRange.RedeemMin + "--" + _HelperService.FilterSnap.SalesRange.RedeemMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
  </div>




  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th class="text-center" *ngIf="ColumnConfig[0].Value">
          </th>
          <th>
            Customer Name
          </th>
          <th class="" *ngIf="ColumnConfig[1].Value">
            Contact
          </th>
          <th class="" *ngIf="ColumnConfig[2].Value">
            Total Spent
          </th>
          <th class="" *ngIf="ColumnConfig[3].Value">
            Rewards Earned
          </th>
          <th class="text-center" *ngIf="ColumnConfig[4].Value">
            Redeemed
          </th>
          <th class="text-center" *ngIf="ColumnConfig[5].Value">
            Visits
          </th>
          <th *ngIf="ColumnConfig[6].Value">
            Last Visit
          </th>
          <!-- <th class="text-center" *ngIf="ColumnConfig[7].Value">
            Type
          </th> -->
          <th class="d-flex">
            <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;"
              data-toggle="tooltip" title="Edit Your Column" (click)="OpenEditColModal()">
              <!-- <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i> -->
            </span>
          </th>


        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="Customers_RowSelected(TItem)"
          *ngFor="let TItem of Customers_Config.Data  | paginate: { id: 'Customers_Paginator',itemsPerPage: Customers_Config.PageRecordLimit, currentPage: Customers_Config.ActivePage,  totalItems: Customers_Config.TotalRecords }">
          <!-- <td class="text-center" *ngIf="ColumnConfig[0].Value">
            <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span>
          </td> -->
          <td class="text-center" *ngIf="ColumnConfig[0].Value">
            <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
              class="img wd-40 ht-40 rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
          </td>
          <td>
            <div class="tx-14 tx-semibold ">{{TItem.DisplayName || "--"}}</div>

          </td>
          <td class="" *ngIf="ColumnConfig[1].Value">
            <div>
              {{TItem.MobileNumber || "--"}}
            </div>
            <small class="text-muted tx-12">
              {{TItem.EmailAddress || "--"}}
            </small>
          </td>
          <td class="" *ngIf="ColumnConfig[2].Value">
            <div class="tx-14"> <span class=" text-sm"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{TItem.TotalInvoiceAmount|| "0" | number: "1.2-2"}}
            </div>
          </td>
          <td class="" *ngIf="ColumnConfig[3].Value">
            <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            {{TItem.TucRewardAmount || "0" | number: "1.2-2"}}
          </td>

          <td class="text-center" *ngIf="ColumnConfig[4].Value">
            <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            {{TItem.RedeemAmount || "0" | number: "1.2-2"}}
          </td>

          <td class="text-center" *ngIf="ColumnConfig[5].Value">
            {{TItem.TotalTransaction || "--"}}
          </td>

          <td class="text-muted" *ngIf="ColumnConfig[6].Value">
            {{TItem.LastActivityDate | date :"dd-MM-yyyy hh:mm a" || "--"}}
          </td>
          <!-- <td class="text-center" *ngIf="ColumnConfig[7].Value">
            <span class="d-block wd-15 text-center ht-15 rounded-circle ml-auto"
              [style.background-color]="TItem.StatusC"></span>
          </td> -->
          <td></td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{Customers_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{Customers_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{Customers_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-40 " [(ngModel)]="Customers_Config.PageRecordLimit"
        (ngModelChange)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="Customers_Paginator" class="pagination pagination-space"
        (pageChange)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>