<div class="shadow-none">
  <!-- 
    <div class="row">
        <div class="col-6">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-14">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>


        </div>

    </div> -->

  <div class="form-group mg-t-15 mg-b-15 wd-200">
    <label>Date</label>
    <input type="text" class="form-control  form-daterangepicker full-width" name="daterangeInput" daterangepicker
      [options]="_HelperService.AppConfig.DatePickerOptions" (click)="_HelperService.StopClickPropogation()"
      (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
  </div>

  <div class="row row-xs mg-b-10">
    <div class="col-sm-6 col-lg-3">
      <div class="card card-body shadow-none ht-100p" id="SaleAmount">
        <div class="row">
          <div class="col-lg-9">
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">TOTAL SMS SENT</h6>
          </div>
          <div class="col-lg-3">
            <img height="20" width="20" src="assets/img/smsimg/total.svg" alt="Image alt text"
              title="Logo Title Text 1" />
          </div>
          <!-- <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">TOTAL SMS SENT</h6> -->
        </div>

        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
            {{this.SmsOverview.Total || "0"}}
          </h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                  class="icon ion-md-arrow-down"></i></span></p> -->
        </div>
        <p class="tx-12 text-secondary mg-b-0 "> From {{CampaignOverview.Running || "0"}} Running Campaigns</p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
      <div class="card card-body shadow-none ht-100p" id="Transactions">

        <div class="row">
          <div class="col-lg-9">
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">SMS DELIVERY RATE
            </h6>
          </div>
          <div class="col-lg-3">
            <img height="20" width="20" src="assets/img/smsimg/delivered.svg" alt="Image alt text"
              title="Logo Title Text 1" />
          </div>
          <!-- <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">TOTAL SMS SENT</h6> -->
        </div>


        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
            {{ this.SmsOverviewPer.Delivered || "0" }}%</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                  class="icon ion-md-arrow-down"></i></span></p> -->
        </div>
        <p class="tx-12 text-secondary mg-b-0 "> Total {{SmsOverview.Delivered || "0"}} <strong>SMS</strong>
          Delivered Successfully</p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p" id="CustomerVisits">

        <div class="row">
          <div class="col-lg-9">
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">FAILED RATE</h6>
          </div>
          <div class="col-lg-3">
            <img height="20" width="20" src="assets/img/smsimg/failed.svg" alt="Image alt text"
              title="Logo Title Text 1" />
          </div>
          <!-- <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">TOTAL SMS SENT</h6> -->
        </div>


        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1">

            {{ this.SmsOverviewPer.Failed || "0" }}%</h3>
        </div>
        <p class="tx-12 text-secondary mg-b-0 ">Total {{SmsOverview.Failed || "0"}} <strong> SMS</strong> Failed
        </p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p" id="RewardPercentage">

        <div class="row">
          <div class="col-lg-9">
            <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">Pending RATE</h6>
          </div>
          <div class="col-lg-3">
            <img height="20" width="20" src="assets/img/smsimg/painding.svg" alt="Image alt text"
              title="Logo Title Text 1" />
          </div>
          <!-- <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">TOTAL SMS SENT</h6> -->
        </div>


        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1">
            {{this.SmsOverviewPer.Pending || "0" }}%</h3>

        </div>
        <p class="tx-12 text-secondary mg-b-0 ">Total {{SmsOverview.Pending || "0"}} <strong> SMS</strong> are
          Pending</p>
      </div>
    </div><!-- col -->
  </div>

  <div class="row row-xs mg-b-10">
    <div class="col-lg-5 col-xl-5 col-sm-12 col-md-12" id="CustomerHourly">
      <div class="card">
        <div
          class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
          <div>
            <h6 class="mg-b-5 tx-14">Delivery Rate</h6>
          </div>
        </div><!-- card-header -->

        <div class="card-body pd-x-25 pd-t-0">

          <div class="row align-items-sm-end">
            <div class="col-lg-12 col-xl-12 ht-100p" *ngIf="SmsOverview.Total != 0">
              <canvas *ngIf="showSMSChart" baseChart style="height: 250px;" [datasets]="datapieType.datasets"
                [chartType]="pieChartType" [options]="pieChartOptions" [legend]="false" [colors]="donutColors">

              </canvas>

            </div>


            <div class="col-lg-12 col-xl-12 ht-200 d-flex align-items-center justify-content-center"
              *ngIf="SmsOverview.Total == 0">
              <div class="">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bd bd-2 bd-muted bg-transparent tx-gray-300 tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                  <img height="30" width="30" src="../../../../assets//images//message-square.svg" alt="">
                </div>
                <div class="pt-3 text-center">
                  <span class="tx-medium tx-14 text-secondary"> No SMS sent yet in this time
                    frame.</span><br>
                </div>
              </div>

            </div>
          </div>
        </div><!-- card-body -->
        <div class="card-footer pd-20">
          <div class="row" style="margin-top: -10px;">
            <div class="col-3" style="border-right: 1px solid #e5e9f2;padding: 11px;">
              <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">Total SMS
                Sent</p>
              <div class="d-flex align-items-center">
                <h5 class="tx-bold tx-rubik tx-teal mg-b-0" style="color:#7987a1;">
                  {{SmsOverview.Total || "0"}}

                  <!-- <small class="tx-color-03 tx-11"> Total no. of transactions done in this period by POS
                          terminal</small> -->

                </h5>
              </div>
            </div><!-- col -->
            <div class="col-3" style="border-right: 1px solid #e5e9f2;padding: 11px;">
              <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Delivered</p>
              <div class="d-flex align-items-center">
                <h5 class="tx-bold tx-rubik mg-b-0" style="color:#0168FA;">
                  {{SmsOverview.Delivered || "0"}}

                </h5>
              </div>
            </div><!-- col -->
            <div class="col-3" style="border-right: 1px solid #e5e9f2;padding: 11px;">
              <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Failed</p>
              <div class="d-flex align-items-center">
                <h5 class="tx-bold tx-rubik  mg-b-0" style="color:#DC3545;">
                  {{SmsOverview.Failed || "0"}}


                </h5>
              </div>
            </div><!-- col -->
            <div class="col-3" style="padding: 11px;">
              <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Pending</p>
              <div class="d-flex align-items-center">
                <h5 class="tx-bold tx-rubik tx-MasterCard mg-b-0" style="color:#FFC20A;">
                  {{SmsOverview.Pending || "0"}}


                </h5>
              </div>
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- card-footer -->
      </div><!-- card -->

    </div>


  </div>

  <!-- <div class="row row-xs mg-b-10">
        <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
          <div class="card">
            <div
              class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
              <div>
                <h6 class="mg-b-0">SMS Report</h6>
                <p class="tx-11 text-secondary mg-b-0">SMS delivery report
                </p>
              </div>
              <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0 mg-10">
                <li class="list-inline-item d-flex align-items-center text-center">
                  <div class="text-success cursor-pointer" (click)="Toogle_Dataset_Visibility('Returning Sales')">
                    <br>
                    <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">SALE BY Loyal</div>
                  </div>
                </li>
                <li class="list-inline-item d-flex align-items-center text-center">
                  <div class="tx-MasterCard cursor-pointer" (click)="Toogle_Dataset_Visibility('New Sales')">
                    <br>
                    <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">SALE BY NEW</div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-body pd-lg-25">
              <div class="row ">
                <div class="col-lg-9 col-xl-9">
      
                  <canvas *ngIf="showSalesLoalityChart" baseChart #DataPlot="base-chart" [datasets]="lineChartData"
                    [labels]="MonthlybarChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options"
                    [colors]="lineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                    [chartType]="_HelperService.ChartConfig.LineChart.Type">
                  </canvas>
      
                </div>
      
                <div class="col-lg-3 col-xl-3  mg-t-30 mg-lg-t-0">
                  <div class="row mg-b-15">
                    <div class="col-sm-6 col-lg-12">
                      <div class="text-primary tx-18"> <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{(_AccountOverview.NewCustomerInvoiceAmount+_AccountOverview.RepeatingCustomerInvoiceAmount) | number:'1.0-0'}}
      
                      </div>
                      <div class="text-secondary tx-uppercase tx-10"> Total SALE amount </div>
      
      
                    </div>
                    <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
                      <div class=" mg-b-5">
                        <div class="text-success tx-18"> <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                          {{_AccountOverview.RepeatingCustomerInvoiceAmount| number:'1.0-0'}} </div>
                        <div class="text-secondary tx-uppercase tx-10"> SaLE by Loyal CUSTOMERS </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-12 mg-t-30">
                      <div class="mg-b-5">
                        <div class="tx-MasterCard tx-18"> <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_AccountOverview.NewCustomerInvoiceAmount| number:'1.0-0'}}
                        </div>
                        <div class="text-secondary tx-uppercase tx-10"> SALE BY NEW customers </div>
                      </div>
      
                    </div>
                  </div>
      
                </div>
              </div>
            </div>
            <div class="card-body pd-lg-25" *ngIf="CampaignOverview.Running != 0">
              <div style="height:200px" class="text-center m-auto  text-muted">
                <div>
                  <div>
                    <div
                      class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                      <img src="../../../../../assets/images/walk.svg" alt="">
                    </div>
                    <div class="pt-3">
                      <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                      <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->