<!-- Customer--Deal--details -->


<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" routerLink=""
      [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Reports & Invoices</a></li>
</ol>

<div class="card bd-b-0 pd-20 mt-3">
  <div class="d-sm-flex justify-content-between">

    <ul class="nav nav-line" id="myTab5" role="tablist">
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']" routerLink=""
          aria-controls="Stores" aria-selected="false"> Reconciliations Report </a>
      </li>
      <li class="nav-item cursor-pointer">
        <a class="nav-link" id="Terminal-tab5" data-toggle="tab" role="tab" routerLink="" aria-controls="Terminal"
          aria-selected="false">Repayments Report</a>
      </li>
    </ul>
    <div [className]="_HelperService._Assets.Box.headerTitleRight">
      <nav class="nav nav-icon-only mg-l-auto">
        <button class="btn tx-12 btn-primary download-button"> <i data-feather="file-text"></i> Download
          Report</button>
      </nav>
    </div>
  </div>
</div>
<router-outlet></router-outlet>