<!-- acquirer--merchants--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
            PSSP</a></li>
</ol>

<div class="d-sm-flex justify-content-between">
    <span class="tx-semibold tx-lg-24 mg-t-5">
        <span class="text-muted">
            <a class="cursor-pointer" (click)="_HelperService.NavigateBack()"><i data-feather="chevron-left"></i></a>
        </span>
        {{_MerchantDetails.DisplayName}}</span>
</div>

<div class="bd-b-0 pd-b-20 pd-t-10">

    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist" [routerLinkActive]="['active']">

        <div class="d-flex flex-wrap ">
            <li class="nav-item cursor-pointer" >
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PSSPPanel.PsspAccount}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">PSSP Details</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="pssprewardhistory">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PSSPPanel.Reward}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Reward History</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="psspredeemhistory">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PSSPPanel.Redeemed}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Redeemed History</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="pssprewardclaimhistory">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PSSPPanel.Claim}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Reward Claim History</a>
            </li>

            <li class="nav-item cursor-pointer pnvalid" data-permission="psspsaleshistory">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PSSPPanel.SalesHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Sales History</a>
            </li>






        </div>

        

    </ul>
</div>


<router-outlet></router-outlet>