<div class="m-3">
  <div class="row row-xs ">
    <div class="col-sm-6 col-lg-6">
      <div class="card card-body cccard cccard-purple ht-100p" id="SaleAmount">
        <h6>Amount by sold deals</h6>
        <h3>
          <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
          {{((_GetPurchaseoverviewSummary.TotalAmount | number: "1.2-2") || "00")}}
        </h3>
        <p class=" text-secondary"> Amount earned by sold deals</p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div class="card card-body cccard cccard-green ht-100p" id="SaleAmount">
        <h6>Amount by Redeemed deals</h6>
        <h3>
          <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
          {{(_GetPurchaseoverviewSummary.UsedAmount | number: "1.2-2")|| "--"}}
        </h3>
        <p class=" text-secondary">Amount earned by redeemed deals</p>
      </div>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show  bd-0  active" role="tabpanel" id="tab-1">
      <div class="card">
        <div class="card-header">
          Deals Status
        </div>
        <div class="card-body">
          <canvas *ngIf="showDailyChart" height="100" baseChart [colors]="_HelperService.ChartConfig.SalesTypeColors"
            [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
            [options]="_HelperService.ChartConfig.DoughnetChart.HalfDoughnetOptions"
            [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false" [data]="Piedata"
            [labels]="Piechartlable"></canvas>

          <div class="d-flex justify-content-between mg-t-30">
            <div class="">
              <h4 class="d-flex tx-14"><span class="d-block wd-15 ht-15 bg-secondary rounded mg-r-5"></span>
                Available deals</h4>

              <div class="tx-24 tx-bold"> 
                {{_GetPurchaseoverviewSummary.MaxLimit - _GetPurchaseoverviewSummary.Total }}
              </div>

            </div>
            <div class="">
              <h4 class="d-flex tx-14"><span class="d-block wd-15 ht-15 bg-teal rounded mg-r-5"></span>
                Sold deals</h4>

              <div class="tx-24 tx-bold">
                {{_GetPurchaseoverviewSummary.Total || "0" }} 
              </div>


            </div>
            <div class="">
              <h4 class="d-flex tx-14"><span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5"></span>
                Redeemed deals</h4>
              <div class="tx-24 tx-bold"> 
                {{_GetPurchaseoverviewSummary.Used || "0" }}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>