
<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas
  style="width: 480px !important; overflow-y:auto !important ;">
  <div class="off-canvas-content">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div>
          <h3 class="pb-0 mb-0 tx-20"> Details </h3>
        </div>



        <div> <span class="{{_CoreUsage.StatusB}}"> {{_CoreUsage.StatusName || "--"}}</span> </div>
      </div>
      <ul class="nav nav-line  d-flex pd-t-20 mg-x-20" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true"> Transaction invoice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Reward Transaction </a>
        </li>

      </ul>
      <div class="card-body">

        <div class="tab-content bd" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="text-center pd-20 bd-t-0 bd-x-0 bd-1" style="border-style: dotted !important; border-color: #7987a1!important ">
              <div class="tx-14 tx-regular"> {{_CoreUsage.SubParentDisplayName || "--"}}  </div>
              <div class="text-secondary"> {{_CoreUsage.SubParentAddress || "--"}} </div>
              <div class="text-primary"> {{_CoreUsage.SubParentMobileNumber || "--"}} - {{_CoreUsage.SubParentEmailAddress || "--"}}  </div>
               <div>{{_CoreUsage.CreateDate || "--"}}   </div>
            </div>
            <div>
            <div class="text-center pd-20">

              <div class="tx-medium"> ** APPROVED ** </div> 
              <div class="tx-regular tx-12 tx-uppercase">  ** Merchant copy ** </div>



            </div>
            <div class="pd-20"> 
             <div class="row">
               <div class="col-md-4 text-left text-secondary">Terminal</div>
               <div class="col-md-1 text-secondary"> : </div>
               <div class="col-md-7 text-right">{{_CoreUsage.CreatedByDisplayName || "--"}}
                <div>
                  {{_CoreUsage.ProviderDisplayName || "--"}}  - {{_CoreUsage.BankDisplayName || "--"}}
                </div>

               </div>

             </div>  
             <div class="row mg-t-8">
              <div class="col-md-4 text-left text-secondary">Merchant ID</div>
              <div class="col-md-1 text-secondary"> : </div>

              <div class="col-md-7 text-right">{{_CoreUsage.ParentId || "--"}}</div>

            </div>  
            <div class="row mg-t-8">
              <div class="col-md-4 text-left text-secondary">Ref ID</div>
              <div class="col-md-1 text-secondary"> : </div>
              <div class="col-md-7 text-right">{{_CoreUsage.ReferenceId || "--"}}</div>
            </div>  
            <div class="row mg-t-8">
              <div class="col-md-4 text-left text-secondary">Phone No</div>
              <div class="col-md-1 text-secondary"> : </div>
              <div class="col-md-7 text-right">{{_CoreUsage.ParentContactNumber || "--"}}</div>
            </div>  
            <div class="row mg-t-8">
              <div class="col-md-4 text-left text-secondary">Card No.</div>
              <div class="col-md-1 text-secondary"> : </div>
              <div class="col-md-7 text-right">{{_CoreUsage.AccountNumber || "--"}}</div>
            </div>  
            <div class="row mg-t-8">
              <div class="col-md-4 text-left text-secondary">Card Type</div>
              <div class="col-md-1 text-secondary"> : </div>
              <div class="col-md-7 text-right"> {{_CoreUsage.CardBankName || "--"}}</div>
            </div>  
            <div class="row mg-t-8">
              <div class="col-md-4 text-left text-secondary">Cashier</div>
              <div class="col-md-1 text-secondary"> : </div>
              <div class="col-md-7 text-right">{{_CoreUsage.CashierDisplayName || "--"}}
                <div class="text-secondary">{{_CoreUsage.CashierId || "--"}}  </div>
              </div>
            </div>  
            <div class="mg-y-10">  Amount Details </div>

            <div class="row ">
              <div class="col-md-4 text-left text-secondary">Sale amount</div>
              <div class="col-md-1 text-secondary"> : </div>
              <div class="col-md-7 text-right">{{_CoreUsage.CreatedByDisplayName || "--"}}</div>
            </div>  
            <div class="row mg-t-8">
              <div class="col-md-4 text-left text-secondary">TUC Redeem</div>
              <div class="col-md-1 text-secondary"> : </div>
              <div class="col-md-7 text-right">{{_CoreUsage.CreatedByDisplayName || "--"}}</div>
            </div>  
            <div class="row mg-t-8">
              <div class="col-md-4 text-left text-secondary">TUC Rewards</div>
              <div class="col-md-1 text-secondary "> : </div>
              <div class="col-md-7 text-right">{{_CoreUsage.CreatedByDisplayName || "--"}}</div>
            </div> 
             
            <div class="row mg-t-8">
              <div class="col-md-4 text-left tx-medium tx-uppercase">Total</div>
              <!-- <div class="col-md-1 text-secondary">  </div> -->
              <div class="col-md-8 text-right tx-bold"><span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> {{_CoreUsage.ReferenceInvoiceAmount || "--"}}</div>
            </div> 
            </div>
          </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="pd-20">
             <div class="text-secondary"> Reward Distribution  </div>

             <div class="row mg-t-15">
               <div class="col-md-5 text-secondary">Reward Amount</div>
               <div class="col-md-1 text-secondary">:</div>
               <div class="col-md-6">{{_CoreUsage.StatusName || "--"}}</div>

             </div>
             <div class="row mg-t-20">
              <div class="col-md-5 text-secondary">To Customer</div>
              <div class="col-md-1 text-secondary">:</div>
              <div class="col-md-6">{{_CoreUsage.StatusName || "--"}}</div>

            </div>
            <div class="row mg-t-20">
              <div class="col-md-5 text-secondary">TUC Commission</div>
              <div class="col-md-1 text-secondary">:</div>
              <div class="col-md-6">{{_CoreUsage.StatusName || "--"}}</div>

            </div>
            <div class="row mg-t-20">
              <div class="col-md-5 text-secondary">PTSP Commission</div>
              <div class="col-md-1 text-secondary">:</div>
              <div class="col-md-6">{{_CoreUsage.StatusName || "--"}}</div>

            </div>
            <div class="mg-t-10"> ITEX  </div>
            <div class="row mg-t-15">
              <div class="col-md-5 "><span class="text-secondary"> Bank Commission</span>
                <div class="mg-t-10"> Sterling Bank </div>
              </div>
              <div class="col-md-1 text-secondary">:</div>
              <div class="col-md-6">{{_CoreUsage.StatusName || "--"}}</div>

            </div>
            <div class="row">
              <div class="col-md-5 mg-t-20"><span class="text-secondary"> Bank Commission</span>
                <div class="mg-t-10"> Customer- John Doe</div>
              </div>
              <div class="col-md-1 text-secondary">:</div>
              <div class="col-md-6">{{_CoreUsage.StatusName || "--"}}</div>

            </div>
            </div>
          </div>

        </div>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <div>
          <button type="button" class="btn btn-success" *ngIf="_CoreUsage.StatusName == 'Initialized'"
            (click)="Approve()"> Approve </button>
          <button type="button" class="btn btn-danger mg-l-5 float-right" *ngIf="_CoreUsage.StatusName == 'Initialized'"
            (click)="Reject()"> Reject </button>

        </div>
        <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>

      </div>
    </div>


  </div>
</div>