<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']">
        <a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard
        </a>
    </li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']">
        <a class="" [routerLinkActive]="['active']">
            REFERRAL
        </a>
    </li>
</ol>

<div class="card">

    <div class="card-header d-flex justify-content-between">
        <div class="tx-medium">
            Referral
        </div>
        <div>
            <button class="btn btn-xs btn-primary" (click)="GoToRefBonus()">
                View Referral Bonus
            </button>
        </div>
    </div>

    <div class="card-header">
        <div class="d-sm-flex">
            <div class="media">
                <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    <i class="fas fa-money-bill-alt"></i>
                </div>
                <div class="media-body bd-pink">
                    <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        TOTAL AMOUNT GENERATED
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                        <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{OverviewData.TotalReferralAmount| number:"1.0-0"}}
                    </h4>
                </div>
            </div>
            <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
                    <span class="tx-20"> <i class='fas fa-user-friends'></i></span>
                </div>
                <div class="media-body">
                    <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                        TOTAL NUMER OF REFERRALS
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                        {{OverviewData.TotalReferrals| number:"1.0-0"}}
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="box-header px-3 pd-t-15 pd-b-5  d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="RefList_Config.SearchParameter" maxlength="100"
                    class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="RefList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button"
                        (click)="RefList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">
                        <i data-feather="search"></i>
                    </button>
                </div>
            </div>


        </div>
        <div class="d-flex ml-auto">
            <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
                class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i>
            </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                    (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
            _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
                class="btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                (click)="Save_NewFilter()">
                <i data-feather="plus-circle"></i>
            </button>

        </div>

        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="RefList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i data-feather="align-left" class="tx-20"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                            Sort
                            <div class="float-right tx-20" *ngIf="RefList_Config.Sort.SortOrder == 'desc'"
                                (click)="RefList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="RefList_Config.Sort.SortOrder == 'asc'"
                                (click)="RefList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                            *ngFor="let TItem of RefList_Config.Sort.SortOptions"
                            (click)="RefList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>

                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset
                        </button>
                        <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">
                            Apply
                        </button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="RefList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                    <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                            Filters
                        </h6>
                        <div class="mg-b-70">

                            <div>
                                    <div class="form-group position-relative" id="refdatescroll">
                                        <label>Create Date</label>
                                        <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                            daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsFn('#refdatescroll')"
                                            (selected)="RefList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                                    </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label for="TURef_ReferralRangeMinAmount">Min Amount</label>
                                            <input type="number" name="TURef_ReferralRangeMinAmount" maxlength="256"
                                                class="form-control" [(ngModel)]="TURef_ReferralRangeMinAmount"
                                                oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                                (keyup)="RefList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label for="TURef_ReferralRangeMaxAmount">Max Amount</label>
                                            <input type="number" name="TURef_ReferralRangeMaxAmount" maxlength="256"
                                                class="form-control" [(ngModel)]="TURef_ReferralRangeMaxAmount"
                                                oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                                (keyup)="RefList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-light btn-sm mr-2"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset
                        </button>
                        <button type="button" class="btn btn-primary btn-sm "
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">
                            Apply
                        </button>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor cursor-pointer RefreshColorOne"
                (click)="RefList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                <i data-feather="refresh-cw"></i>
            </a>
            <a class="nav-link ml-2 RefreshColor cursor-pointer RefreshColorOne"
                (click)="RefList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)">
                <i data-feather="download"></i>
            </a>
        </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-10">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
            {{_HelperService.FilterSnap.StatusName}}
            <span (click)="RemoveFilterComponent('Status')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" +_HelperService.FilterSnap.Sort.SortOrder}}
            </span>
            <span (click)="RemoveFilterComponent('Sort')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>

        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.StartTime">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--"
            +_HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].DisplayName}}
            <span (click)="RemoveFilterComponent('Other',i)"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)"
            (click)="RemoveFilterComponent('SalesRange')">
            Bonus Range
            [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" +_HelperService.FilterSnap.SalesRange.SalesMax}}]
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>

        <span class="badge badge-pill badge-primary" *ngFor="let TItem of RefList_Config.Filters">
            {{TItem.Title}}
        </span>

    </div>

    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Referred By</th>
                    <th>Date Used</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let TItem of RefList_Config.Data  | paginate:
                {      id: 'RefList_Paginator',
                       itemsPerPage: RefList_Config.PageRecordLimit, 
                       currentPage: RefList_Config.ActivePage,  
                       totalItems: RefList_Config.TotalRecords }">

                    <td>{{TItem.DisplayName}}</td>
                    <td>{{TItem.OwnerDisplayName}}</td>
                    <td>
                        <div>
                            {{TItem.ReferralUsedDate | date :["dd-MM-yyyy"] || "--"}}
                        </div>
                        <div class="text-lowercase">
                            {{TItem.ReferralUsedDate | date :["hh:mm a"] || "--"}}
                        </div>
                    </td>

                    <td>
                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{TItem.ReferralAmount}}
                    </td>

                </tr>
            </tbody>

        </table>
    </div>

    <div class="card-footer pd-20">
        <span class="mr-3">
            {{ 'Common.Showing' | translate }}
            <span class="bold">
                {{RefList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{RefList_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{RefList_Config.TotalRecords}}
        </span>
        <span>
            {{ 'Common.Show' | translate }}
            <select class="wd-50 " [(ngModel)]="RefList_Config.PageRecordLimit"
                (ngModelChange)="RefList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right">
            <pagination-controls id="RefList_Paginator" class="pagination pagination-space"
                (pageChange)="RefList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>


</div>