<!-- <div class="card">
  <div class="card-header">
    Add Product Group/Product 
  </div>
</div> -->
<form [formGroup]="Form_AddProduct" (ngSubmit)="Form_AddProduct_Process(Form_AddProduct.value)" role="form">

  <div class="card">
    <div class="card-header  b-b b-2x">
      <h6 class="pd-b-0 mg-b-0"> Ambassador Information</h6>
      <small class="text-secondary">Enter Ambassador information below</small>
    </div>
    <div class="card-body">
      <!-- <div class="row">
        <div class="col-md-12">
          <label class="d-block mb-0"> Ambassador Profile
          </label>
          <input type="file" fileAccept="image/*" (change)="onFileChange4($event)" />
          <input-file inputId="input-file" fileAccept="image/*" (change)="onFileChange4($event)" placeholder="">
          <i data-feather="airplay">  </i>
          </input-file>
        </div>
      </div> -->
      <div class="row mg-t-15">
        <div class="col-md-6">
          <div class="form-group">
            <label>First Name<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="FirstName" maxlength="256" class="form-control"
                [formControl]="Form_AddProduct.controls['FirstName']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['FirstName'].valid && Form_AddProduct.controls['FirstName'].touched}">
            </div>
            <label class="text-danger" for="FirstName"
              *ngIf="Form_AddProduct.controls['FirstName'].hasError('required') && Form_AddProduct.controls['FirstName'].touched">FirstName
              Required</label>
            <label class="text-danger" for="FirstName"
              *ngIf="Form_AddProduct.controls['FirstName'].hasError('minlength') || Form_AddProduct.controls['FirstName'].hasError('maxlength')">First
              name must be between 4 - 128 characters</label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Last Name<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="LastName" maxlength="256" class="form-control"
                [formControl]="Form_AddProduct.controls['LastName']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['LastName'].valid && Form_AddProduct.controls['LastName'].touched}">
            </div>
            <label class="text-danger" for="LastName"
              *ngIf="Form_AddProduct.controls['LastName'].hasError('required') && Form_AddProduct.controls['LastName'].touched">Last
              Name</label>
            <label class="text-danger" for="LastName"
              *ngIf="Form_AddProduct.controls['LastName'].hasError('minlength') || Form_AddProduct.controls['LastName'].hasError('maxlength')">Last
              name must be between 4 - 128 characters</label>
          </div>
        </div>


        <!-- <div class="col-md-6">
          <div class="form-group">
            <label>Category
              <span class="text-danger">*</span>
            </label>
            <select2 name="CategoryKey" class="full-width" [options]="GetProductCategories_Option"
              [value]="Form_AddProduct.controls['CategoryKey']"
              (valueChanged)="GetProductCategories_ListChange($event)"></select2>
            <label class="text-danger" for="CategoryKey"
              *ngIf="Form_AddProduct.controls['CategoryKey'].hasError('required') && Form_AddProduct.controls['CategoryKey'].touched">{{
'System.Helpers.HelperCode_ER_Required' | translate }}</label>
          </div>
        </div> -->
      </div>

      <div class="row mg-t-15">
        <div class="col-md-6">
          <div class="form-group">
            <label>Mobile Number<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="number" name="MobileNumber" class="form-control"
                [formControl]="Form_AddProduct.controls['MobileNumber']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['MobileNumber'].valid && Form_AddProduct.controls['MobileNumber'].touched}">
            </div>
            <label class="text-danger" for="FName"
              *ngIf="Form_AddProduct.controls['MobileNumber'].hasError('required') && Form_AddProduct.controls['MobileNumber'].touched">Mobile
              Number Required</label>
            <label class="text-danger" for="MobileNumber"
              *ngIf="Form_AddProduct.controls['MobileNumber'].hasError('minlength') || Form_AddProduct.controls['MobileNumber'].hasError('maxlength')">Contact
              number must be between 10 - 14 number</label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Email Address<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="EmailAddress" class="form-control"
                [formControl]="Form_AddProduct.controls['EmailAddress']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['EmailAddress'].valid && Form_AddProduct.controls['EmailAddress'].touched}">
            </div>
            <label class="text-danger" for="EmailAddress"
              *ngIf="Form_AddProduct.controls['EmailAddress'].hasError('required') && Form_AddProduct.controls['EmailAddress'].touched">Email
              Address Required</label>
            <label class="text-danger" for="EmailAddress"
              *ngIf="Form_AddProduct.controls['EmailAddress'].hasError('minlength') || Form_AddProduct.controls['EmailAddress'].hasError('maxlength')">Enter
              Valid Email Address</label>
          </div>
        </div>


        <!-- <div class="col-md-6">
          <div class="form-group">
            <label>Category
              <span class="text-danger">*</span>
            </label>
            <select2 name="CategoryKey" class="full-width" [options]="GetProductCategories_Option"
              [value]="Form_AddProduct.controls['CategoryKey']"
              (valueChanged)="GetProductCategories_ListChange($event)"></select2>
            <label class="text-danger" for="CategoryKey"
              *ngIf="Form_AddProduct.controls['CategoryKey'].hasError('required') && Form_AddProduct.controls['CategoryKey'].touched">{{
'System.Helpers.HelperCode_ER_Required' | translate }}</label>
          </div>
        </div> -->
      </div>


      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Detailed Home Address
              <span class="text-danger">*</span>
            </label>
            <div class="controls">
              <textarea type="text" name="Address" maxlength="1000" rows="4" class="form-control"
                [formControl]="Form_AddProduct.controls['Address']"></textarea>
            </div>
            <label class="text-danger" for="Address"
              *ngIf="Form_AddProduct.controls['Address'].hasError('required') && Form_AddProduct.controls['Address'].touched">
              Enter Address details</label>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Upload Documents
            </label>
            <div class="row col-md-12">
              <div class="form-group">
                <label>Passport Size photograph</label>
                <div class=" controls mb-3">
                  <input type="file" fileAccept="image/*" (change)="onFileChange4($event)" />
                </div>
              </div>
            </div>

            <div class="row col-md-12">
              <div class="form-group">
                <label>Valid Id (Passport/ VoterId/ Driving Licence) </label>
                <div class=" controls mb-3">
                  <input type="file" fileAccept="image/*" (change)="onFileChange4($event)" />
                </div>
              </div>
            </div>
            <div class="row col-md-12">
              <div class="form-group">
                <label>Utility Bill </label>
                <div class=" controls mb-3">
                  <input type="file" fileAccept="image/*" (change)="onFileChange4($event)" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>vehicle Details
              <span class="text-danger">*</span>
            </label>
            <div class="controls">
              <textarea type="text" name="VehicleNumber" maxlength="1000" rows="4" class="form-control"
                [formControl]="Form_AddProduct.controls['VehicleNumber']"></textarea>
            </div>
            <label class="text-danger" for="VehicleNumber"
              *ngIf="Form_AddProduct.controls['VehicleNumber'].hasError('required') && Form_AddProduct.controls['VehicleNumber'].touched">
              Enter vehicle details</label>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>FaceBook URL

            </label>
            <div class="controls">
              <input type="text" name="FacebookUrl" maxlength="256" class="form-control"
                [formControl]="Form_AddProduct.controls['FacebookUrl']">
            </div>
            <!-- <label class="text-danger" for="FacebookUrl"
              *ngIf="Form_AddProduct.controls['FacebookUrl'].hasError('required') && Form_AddProduct.controls['FacebookUrl'].touched">
              Enter product details</label> -->
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Instagram/LinkedIn URL
              <span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="LinkedInUrl" maxlength="256" class="form-control"
                [formControl]="Form_AddProduct.controls['LinkedInUrl']">
            </div>
            <!-- <label class="text-danger" for="LinkedInUrl"
              *ngIf="Form_AddProduct.controls['LinkedInUrl'].hasError('required') && Form_AddProduct.controls['LinkedInUrl'].touched">
              Enter product details</label> -->
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col-md-12">
          <label>Reference 1<span class="text-danger">*</span>
          </label>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Name<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="Reference1Name" class="form-control"
                [formControl]="Form_AddProduct.controls['Reference1Name']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['Reference1Name'].valid && Form_AddProduct.controls['Reference1Name'].touched}">
            </div>
            <!-- <label class="text-danger" for="Reference1Name"
              *ngIf="Form_AddProduct.controls['Reference1Name'].hasError('required') && Form_AddProduct.controls['Reference1Name'].touched">
              Product SKU is required</label>
            <label class="text-danger" for="Reference1Name"
              *ngIf="Form_AddProduct.controls['Reference1Name'].hasError('minlength') || Form_AddProduct.controls['Reference1Name'].hasError('maxlength')">
              Enter valid SKU</label> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Contact Number<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="number" name="Reference1ContactNumber" maxlength="128" class="form-control"
                [formControl]="Form_AddProduct.controls['Reference1ContactNumber']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['Reference1ContactNumber'].valid && Form_AddProduct.controls['Reference1ContactNumber'].touched}">
            </div>
            <!-- <label class="text-danger" for="Reference1ContactNumber"
              *ngIf="Form_AddProduct.controls['Reference1ContactNumber'].hasError('required') && Form_AddProduct.controls['Reference1ContactNumber'].touched">Enter
              variant name</label>
            <label class="text-danger" for="Reference1ContactNumber"
              *ngIf="Form_AddProduct.controls['Reference1ContactNumber'].hasError('minlength') || Form_AddProduct.controls['Reference1ContactNumber'].hasError('maxlength')">Enter
              valid variant name</label> -->
          </div>
        </div>

      </div>

      <div class="row">
          <div class="col-md-12">
            <label>Reference 2<span class="text-danger">*</span>
            </label>
          </div>

        <!-- just added a cmt ..no changes in code -->
        <!-- reopend now it fixed -->
        <div class="col-md-6">
          <div class="form-group">
            <label>Name<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="Reference2Name" class="form-control"
                [formControl]="Form_AddProduct.controls['Reference2Name']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['Reference2Name'].valid && Form_AddProduct.controls['Reference2Name'].touched}">
            </div>
            <!-- <label class="text-danger" for="Reference2Name"
              *ngIf="Form_AddProduct.controls['Reference2Name'].hasError('required') && Form_AddProduct.controls['Reference2Name'].touched">
              Product SKU is required</label>
            <label class="text-danger" for="Reference2Name"
              *ngIf="Form_AddProduct.controls['Reference2Name'].hasError('minlength') || Form_AddProduct.controls['Reference2Name'].hasError('maxlength')">
              Enter valid SKU</label> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Contact Number<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="number" name="Reference2ContactNumber" maxlength="128" class="form-control"
                [formControl]="Form_AddProduct.controls['Reference2ContactNumber']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['Reference2ContactNumber'].valid && Form_AddProduct.controls['Reference2ContactNumber'].touched}">
            </div>
            <!-- <label class="text-danger" for="Reference1ContactNumber"
              *ngIf="Form_AddProduct.controls['Reference1ContactNumber'].hasError('required') && Form_AddProduct.controls['Reference1ContactNumber'].touched">Enter
              variant name</label>
            <label class="text-danger" for="Reference1ContactNumber"
              *ngIf="Form_AddProduct.controls['Reference1ContactNumber'].hasError('minlength') || Form_AddProduct.controls['Reference1ContactNumber'].hasError('maxlength')">Enter
              valid variant name</label> -->
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <label>Bank Information<span class="text-danger">*</span>
          </label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Bank Name<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="BankName" class="form-control"
                [formControl]="Form_AddProduct.controls['BankName']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['BankName'].valid && Form_AddProduct.controls['BankName'].touched}">
            </div>
            <label class="text-danger" for="BankName"
              *ngIf="Form_AddProduct.controls['BankName'].hasError('required') && Form_AddProduct.controls['BankName'].touched">
              Bank Name is required</label>
            <label class="text-danger" for="BankName"
              *ngIf="Form_AddProduct.controls['BankName'].hasError('minlength') || Form_AddProduct.controls['BankName'].hasError('maxlength')">
              Enter valid Bank Name</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Bank Account Number<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="number" name="BankAccountNumber" maxlength="128" class="form-control"
                [formControl]="Form_AddProduct.controls['BankAccountNumber']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['BankAccountNumber'].valid && Form_AddProduct.controls['BankAccountNumber'].touched}">
            </div>
            <label class="text-danger" for="BankAccountNumber"
              *ngIf="Form_AddProduct.controls['BankAccountNumber'].hasError('required') && Form_AddProduct.controls['BankAccountNumber'].touched">Enter
              Account Number</label>
            <label class="text-danger" for="BankAccountNumber"
              *ngIf="Form_AddProduct.controls['BankAccountNumber'].hasError('minlength') || Form_AddProduct.controls['BankAccountNumber'].hasError('maxlength')">Enter
              valid Account Number</label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Bank Account Name<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="BankAccountName" maxlength="128" class="form-control"
                [formControl]="Form_AddProduct.controls['BankAccountName']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['BankAccountName'].valid && Form_AddProduct.controls['BankAccountName'].touched}">
            </div>
            <label class="text-danger" for="BankAccountName"
              *ngIf="Form_AddProduct.controls['BankAccountName'].hasError('required') && Form_AddProduct.controls['BankAccountName'].touched">Enter
              Bank Account name</label>
            <label class="text-danger" for="BankAccountName"
              *ngIf="Form_AddProduct.controls['BankAccountName'].hasError('minlength') || Form_AddProduct.controls['BankAccountName'].hasError('maxlength')">Enter
              valid Bank Account Name</label>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <label>Bank Code Number<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="BankCode" maxlength="128" class="form-control"
                [formControl]="Form_AddProduct.controls['BankCode']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['BankCode'].valid && Form_AddProduct.controls['BankCode'].touched}">
            </div>
            <label class="text-danger" for="BankCode"
              *ngIf="Form_AddProduct.controls['BankCode'].hasError('required') && Form_AddProduct.controls['BankCode'].touched">Enter
              Bank code</label>
            <label class="text-danger" for="BankCode"
              *ngIf="Form_AddProduct.controls['BankCode'].hasError('minlength') || Form_AddProduct.controls['BankCode'].hasError('maxlength')">Enter
              valid Bank code</label>
          </div>
        </div>

      </div>




      <!-- <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Per Unit Original Price<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                  </span>
                </div>
                <input class="form-control" type="number" (keypress)="_HelperService.PreventText($event)"
                  placeholder="Put only numbers" type="number" name="SellingPrice" class="form-control"
                  [formControl]="Form_AddProduct.controls['ActualPrice']"
                  [ngClass]="{'is-invalid':!Form_AddProduct.controls['ActualPrice'].valid && Form_AddProduct.controls['ActualPrice'].touched}">
              </div>
            </div>
            <label class="text-danger" for="ActualPrice"
              *ngIf="Form_AddProduct.controls['ActualPrice'].hasError('required') && Form_AddProduct.controls['ActualPrice'].touched">{{
    'System.AddProduct.Actualprice_ER_Required' | translate }}</label>
            <label class="text-danger" for="ActualPrice"
              *ngIf="Form_AddProduct.controls['ActualPrice'].hasError('min') || Form_AddProduct.controls['ActualPrice'].hasError('max')">{{
    'System.AddProduct.Actualprice_ER_Length' | translate }}</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Per Unit Selling Price <span class="text-danger">*</span>
            </label>
            <div class="controls">
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                  </span>
                </div>
                <input class="form-control" type="number" max="9999999" (keypress)="_HelperService.PreventText($event)"
                  placeholder="Put only numbers" type="number" name="SellingPrice" maxlength="9999999"
                  class="form-control" [formControl]="Form_AddProduct.controls['SellingPrice']"
                  [ngClass]="{'is-invalid':!Form_AddProduct.controls['SellingPrice'].valid && Form_AddProduct.controls['SellingPrice'].touched}">
              </div>
            </div>

            <label class="text-danger" for="SellingPrice"
              *ngIf="Form_AddProduct.controls['SellingPrice'].hasError('required') && Form_AddProduct.controls['SellingPrice'].touched">{{
    'System.AddProduct.Sellingprice_ER_Required' | translate }}</label>
            <label class="text-danger" for="SellingPrice"
              *ngIf="Form_AddProduct.controls['SellingPrice'].hasError('min') || Form_AddProduct.controls['SellingPrice'].hasError('max')">{{
    'System.AddProduct.Sellingprice_ER_Length' | translate }}</label>
          </div>
        </div>
      </div> -->


      <div class="card-footer p-3 ">

        <div class=" d-flex justify-content-end">
          <button type="submit" class="btn btn-primary mr-2" (click)="Form_AddProduct.value.StatusCode='product.active'"
            [disabled]="!Form_AddProduct.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ 'Save' | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
              }}...
            </span>
          </button>

          <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="Form_AddProduct_Close()">{{
            'Common.Close'
            | translate }}</button>
        </div>
      </div>


    </div>
  </div>

</form>




<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="m-3">
              <image-cropper [imageChangedEvent]="imageChangedEvent"
                [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)" (imageCropped)="imageCropped($event)"
                (imageLoaded)="_HelperService.Icon_Crop_Loaded()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
              </image-cropper>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
            <div class="p-3">
              <div class="mb-2">
                Image Preview
              </div>
              <div class="mb-2">
                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
              </div>
              <div>
                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                  translate }}</button>
                <button type="button" class="btn btn-warning " (click)="_HelperService.Icon_Crop_Clear()">{{
                  'Common.PictureClearAndClose' |
                  translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal " id="_Icon_Cropper_Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="m-3">
              <!-- <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                                    format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                    [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                    [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                    [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                    [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                    (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                    (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                    (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                                </image-cropper> -->
              <!--   [imageBase64]="_HelperService._Icon_Cropper_BaseImage" -->
              <image-cropper [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                [aspectRatio]="9 / 9" [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                (imageCropped)="imageCropped($event)" (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                (cropperReady)="cropperReady()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
              </image-cropper>


            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
            <div class="p-3">
              <div class="mb-2">
                Image Preview
              </div>
              <div class="mb-2">
                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
              </div>
              <div>
                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                  'Common.PictureDone' |
                  translate }}</button>
                <button type="button" class="btn btn-warning " (click)="_HelperService.Icon_Crop_Clear()">{{
                  'Common.PictureClearAndClose' |
                  translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>