<!-- acquirer--branches--detail--dashboard -->
<div class="card shadow-none p-3">
  <div class="row row-xs mb-3 ">
    <div class="col-sm-6 col-lg-3 ">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-primary mg-b-8 mg-r-5 lh-1">
            {{_HelperService._UserCounts.TotalMerchant | number: "1.0-1" || "--"}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-success">1.2% <i class="icon ion-md-arrow-up"></i></span></p> -->

        </div>
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active Merchants</h6>

        <p class="tx-12 tx-color-03 mg-b-0"> Total active merchant of <span class="tx-color-02 tx-bold"> 130 </span>
          registered merchant</p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-sm-t-0">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-teal tx-rubik mg-b-8 mg-r-5 lh-1">
            {{_HelperService._UserCounts.TotalStore | number: "1.0-1" || "--"}}</h3>
          <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-success">1.2% <i
                class="icon ion-md-arrow-up"></i></span></p>

        </div>
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active POS Terminals</h6>

        <p class="tx-12 tx-color-03 mg-b-0"> Total active POS of <span class="tx-color-02 tx-bold"> 18000 </span>
          registered pos terminals</p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-verve mg-b-8 mg-r-5 lh-1">
            {{_HelperService._UserCounts.TotalTerminal | number: "1.0-1" || "--"}} </h3>
          <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-success">1.2% <i
                class="icon ion-md-arrow-up"></i></span></p>

        </div>
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">TOTAL SALE AMOUNT</h6>

        <p class="tx-12 tx-color-03 mg-b-0"> Total active stores of <span class="tx-color-02 tx-bold"> 156 </span>
          registered merchant</p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-MasterCard mg-b-8 mg-r-5 lh-1">
            {{_HelperService._UserCounts.TotalPtsp | number: "1.0-1" || "--"}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-danger">1.2% <i class="icon ion-md-arrow-down"></i></span></p> -->

        </div>
        <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Targets achieved</h6>

        <p class="tx-12 tx-color-03 mg-b-0"> Currently onboard POS terminals providers</p>
      </div>
    </div><!-- col -->
  </div>

  <div class="row row-xs">
    <div class="col-lg-9 col-xl-9 col-sm-12 col-md-12">
      <div class="card">
        <div
          class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
          <div>
            <h6 class="mg-b-5 tx-bold">POS Activity details</h6>
            <p class="tx-11 tx-color-03 mg-b-0">This matrix explains how many POS terminals are active and running
            </p>
          </div>
          
          <!-- btn-group -->
        </div><!-- card-header -->
        <div class="card-body pd-lg-25">
          <div class="row align-items-sm-end">
            <div class="col-lg-7 col-xl-8">
              <!-- <div class="chart-six">
                  <div #flotChart2 style="height: 300px;"></div>
                </div> -->
              <canvas class="chart-six" baseChart #DataPlot="base-chart" [datasets]="barChartData"
                [labels]="barChartLabels" [options]="Options" [colors]="barChartColors" [plugins]="Options.Plugins"
                [chartType]="_HelperService.ChartConfig.BarChart.Type">
              </canvas>
            </div>
            <div class="col-lg-5 col-xl-4 mg-t-30 mg-lg-t-0">
              <div class="row">
                <div class="col-sm-6 col-lg-12">
                  <div class="d-flex align-items-center justify-content-between mg-b-5">

                    <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Idle POS</h6>
                    <span class="tx-10 tx-color-04">{{ _AccountOverview.IdleTerminalsPerc | number: "1.0-1" || "--" }}%
                      Active POS</span>
                  </div>
                  <div class="d-flex align-items-end justify-content-between mg-b-5">
                    <h5 class="tx-bold tx-rubik lh-2 mg-b-0">
                      {{ _AccountOverview.IdleTerminals | number: "1.0-1" || "--" }}</h5>
                    <h6 class="tx-normal tx-rubik tx-color-03 lh-2 mg-b-0">
                      {{ _AccountOverview.Terminals | number: "1.0-1" || "--" }}</h6>
                  </div>
                  <div class="progress ht-4 mg-b-0">
                    <div class="progress-bar bg-teal" [ngStyle]="{'width': _AccountOverview.IdleTerminalsPerc+'%'}"
                      role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
                  <div class="d-flex justify-content-between mg-b-5">
                    <div class="leftdiv">
                      <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Active POS</h6>
                      <h5 class="tx-bold tx-rubik lh-2 mg-b-0 mg-t-5">
                        {{ _AccountOverview.ActiveTerminals | number: "1.0-1" || "--" }}</h5>

                    </div>

                    <div class="rightdiv mg-t-0 pd-t-0 d-flex align-items-start">
                      <span class="tx-10 tx-color-04 lh-8">{{ _AccountOverview.ActiveTerminalsPerc | number: "1.0-1" ||
                        "--" }}%
                        idle POS are not <br> seen activity in
                        <span class="text-body tx-bold"> 4 hours</span>
                      </span>

                    </div>
                  </div>

                  <div class="progress ht-4 mg-b-0">
                    <div class="progress-bar bg-warning" [ngStyle]="{'width': _AccountOverview.ActiveTerminalsPerc+'%'}"
                      role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-30">
                  <div class="d-flex justify-content-between mg-b-5">
                    <div class="leftdiv">
                      <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Dead POS</h6>
                      <h5 class="tx-bold tx-rubik lh-2 mg-b-0 mg-t-5">
                        {{ _AccountOverview.DeadTerminals| number: "1.0-1" || "--"}}</h5>

                    </div>

                    <div class="rightdiv mg-t-0 pd-t-0 d-flex align-items-start">
                      <span class="tx-10 tx-color-04 lh-8">{{ _AccountOverview.DeadTerminalsPerc | number: "1.0-1" ||
                        "--" }}%
                        POS are not <br> seen activity in <span class="text-body tx-bold"> 7 Days </span> </span>

                    </div>
                  </div>
                  <div class="progress ht-4 mg-b-0">
                    <div class="progress-bar bg-deadpos" [ngStyle]="{'width': _AccountOverview.DeadTerminalsPerc+'%'}"
                      role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-30">
                  <div class="d-flex justify-content-between mg-b-5">
                    <div class="leftdiv">
                      <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Inactive POS</h6>
                      <h5 class="tx-bold tx-rubik lh-2 mg-b-0 mg-t-5">
                        {{ _AccountOverview.UnusedTerminals | number: "1.0-1" || "--" }}</h5>

                    </div>

                    <div class="rightdiv mg-t-0 pd-t-0 d-flex align-items-start">
                      <span class="tx-10 tx-color-04 lh-8">{{ _AccountOverview.UnusedTerminalsPerc | number: "1.0-1" ||
                        "--" }}%
                        POS are not <br> provisioned yet </span>

                    </div>
                  </div>
                  <div class="progress ht-4 mg-b-0">
                    <div class="progress-bar bg-primary" [ngStyle]="{'width': _AccountOverview.UnusedTerminalsPerc+'%'}"
                      role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div><!-- row -->

            </div>
          </div>
        </div><!-- card-body -->
      </div><!-- card -->
    </div>

    <div class="col-lg-3 col-xl-3 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0">
      <div class="card ht-100p">
        <div class="card-header d-flex align-items-center justify-content-between bd-b-0">
          <h5 class="mg-b-5 tx-bold">POS Alerts <br>
            <p class="tx-11 tx-normal  tx-color-03 mg-b-0">These POS need urgent attention .</p>
          </h5>
          <div class="d-flex align-items-center tx-18">
            <a href="" class="link-03 lh-0 cursor-pointer"><i class="icon ion-md-refresh link-03"></i></a>
            <a href="" class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
          </div>
        </div>
        <div class="PosAlert">
          <ul class="list-group list-group-flush tx-13" *ngFor="let TItem of TerminalsList_Config.Data">
            <li class="list-group-item d-flex pd-sm-x-20">
              <div class="avatar"><span class="avatar-initial rounded-circle bg-white">
                  <img class="br" src="{{TItem.ProviderIconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2"
                    [style.border-color]="TItem.StatusC">

                </span></div>
              <div class="pd-l-10">
                <p class="tx-bold tx-14 mg-b-0 tx-alertpos">{{TItem.TerminalId}}</p>
                <small class="tx-11 tx-color-03 mg-b-0">Last Transaction On 01 April 2020 </small>
                <br> <small class="tx-11 tx-color-03 mg-b-0 "><span class="tx-color-02 tx-medium"> Enyo Retail </span>,
                  Lekki Peninsula </small>

                <br> <small class="tx-11 tx-normal tx-teal mg-b-0"> +2348745321112</small>
              </div>

            </li>


          </ul>
        </div>
      </div><!-- card -->
    </div>
  </div>
</div>