<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
            <div class="card">
                <div class="card-header">
                    <h3 class="tx-dark pb-0 mb-0 tx-14">POS Terminal Provider (PTSP) Information</h3><small
                        class="text-secondary">Provide
                        PTSP
                        information for
                        account setup </small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'System.AddAcquirer.DisplayName' | translate }}<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="DisplayName" maxlength="25" class="form-control"
                                        [formControl]="Form_AddUser.controls['DisplayName']" placeholder="Display Name"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['DisplayName'].valid && Form_AddUser.controls['DisplayName'].touched}">
                                </div>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="Form_AddUser.controls['DisplayName'].hasError('required') && Form_AddUser.controls['DisplayName'].touched">{{
                                    'System.AddAcquirer.DisplayName_ER_Required' | translate }}</label>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="Form_AddUser.controls['DisplayName'].hasError('minlength') || Form_AddUser.controls['DisplayName'].hasError('maxlength')">{{
                                    'System.AddAcquirer.DisplayName_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.AddAcquirer.Name' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="Name" maxlength="256" class="form-control"
                                        [formControl]="Form_AddUser.controls['Name']" placeholder="Enter Name"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                                </div>
                                <label class="text-danger" for="Name"
                                    *ngIf="Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">{{
                                    'System.AddAcquirer.Name_ER_Required' | translate }}</label>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="Form_AddUser.controls['Name'].hasError('minlength') || Form_AddUser.controls['Name'].hasError('maxlength')">{{
                                    'System.AddAcquirer.Name_ER_Length' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'System.AddAcquirer.ContactNumber' | translate }}<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="controls input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                    </div>
                                    <input type="text" name="ContactNumber" minlength="8" maxlength="14"
                                        class="form-control" (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddUser.controls['ContactNumber']"
                                        placeholder="Contact Number"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['ContactNumber'].valid && Form_AddUser.controls['ContactNumber'].touched}">
                                </div>
                                <label class="text-danger" for="ContactNumber"
                                    *ngIf="Form_AddUser.controls['ContactNumber'].hasError('required') && Form_AddUser.controls['ContactNumber'].touched">{{
                                    'System.AddAcquirer.ContactNumber_ER_Required' | translate }}</label>
                                <label class="text-danger" for="ContactNumber"
                                    *ngIf="Form_AddUser.controls['ContactNumber'].hasError('minlength') || Form_AddUser.controls['ContactNumber'].hasError('maxlength')">{{
                                    'System.AddAcquirer.ContactNumber_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.AddAcquirer.EmailAddress' | translate }}<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                                        [formControl]="Form_AddUser.controls['EmailAddress']"
                                        placeholder="Email Address"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                                </div>
                                <label class="text-danger" for="EmailAddress"
                                    *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">{{
                                    'System.AddAcquirer.EmailAddress_ER_Required' | translate }}</label>

                                <label class="text-danger" for="EmailAddress"
                                    *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">{{
                                    'System.AddAcquirer.EmailAddress_ER_Invalid' | translate }}</label>
                            </div>
                        </div>
                    </div>


                    <!-- newly added start city -->
                    <!-- LOC M - Start -->
                    
                     <!-- LOC M - Start -->
                     <div class="row">
                        <div class="col-md-6">
                            <h3 class="tx-medium tx-14">Business Location</h3>
                            <hcx-addressmanager [data]="_Address" (OnAddressSet)="AddressChange($event)">
                            </hcx-addressmanager>
                        </div>
                    </div>
                    <!-- LOC M - END -->
                    <!-- LOC M - END -->
                    <!-- newly added end city-->




                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.AddAcquirer.WebsiteUrl' | translate }}
                                </label>
                                <div class="controls">
                                    <input type="text" name="WebsiteUrl" maxlength="1024" class="form-control"
                                        [formControl]="Form_AddUser.controls['WebsiteUrl']" placeholder="Website"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['WebsiteUrl'].valid && Form_AddUser.controls['WebsiteUrl'].touched}">
                                </div>
                                <label class="text-danger" for="WebsiteUrl"
                                    *ngIf="Form_AddUser.controls['WebsiteUrl'].hasError('required') && Form_AddUser.controls['WebsiteUrl'].touched">{{
                                    'System.AddAcquirer.WebsiteUrl_ER_Required' | translate }}</label>
                                <label class="text-danger" for="WebsiteUrl"
                                    *ngIf="Form_AddUser.controls['WebsiteUrl'].hasError('pattern') && Form_AddUser.controls['WebsiteUrl'].touched">{{
                                    'System.AddAcquirer.WebsiteUrl_ER_Invalid' | translate }}</label>
                            </div>
                            <div class="form-group">
                                <label>Referral Code
                                </label>
                                <div class="controls">
                                    <input type="text" name="ReferralCode" maxlength="25" class="form-control"
                                        [formControl]="Form_AddUser.controls['ReferralCode']"
                                        placeholder="Referral Code"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['ReferralCode'].valid && Form_AddUser.controls['ReferralCode'].touched}">
                                </div>
                                
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label>{{'System.AddAcquirer.Description' | translate }}
                                </label>
                                <div class="controls">
                                    <input type="text" name="Description" maxlength="256" class="form-control"
                                        [formControl]="Form_AddUser.controls['Description']" placeholder="Description"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Description'].valid && Form_AddUser.controls['Description'].touched}">
                                </div>
                                <label class="text-danger" for="Description"
                                    *ngIf="Form_AddUser.controls['Description'].hasError('required') && Form_AddUser.controls['Description'].touched">{{
                                    'System.AddAcquirer.Description_ER_Required' | translate }}</label>
                                <label class="text-danger" for="Description"
                                    *ngIf="Form_AddUser.controls['Description'].hasError('minlength') || Form_AddUser.controls['Description'].hasError('maxlength')">{{
                                    'System.AddAcquirer.Description_ER_Length' | translate }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <h3 class="tx-dark pb-0 mb-0 tx-14">POS Terminal Provider (PTSP) Contact Information</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'System.AddAcquirer.FirstName' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="FirstName" maxlength="128" class="form-control"
                                        [formControl]="Form_AddUser.controls['FirstName']" placeholder="First Name"
                                        onkeypress="return /[a-z]/i.test(event.key)"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['FirstName'].valid && Form_AddUser.controls['FirstName'].touched}">
                                </div>
                                <label class="text-danger" for="FirstName"
                                    *ngIf="Form_AddUser.controls['FirstName'].hasError('required') && Form_AddUser.controls['FirstName'].touched">{{
                                    'System.AddAcquirer.FirstName_ER_Required' | translate }}</label>
                                <label class="text-danger" for="FirstName"
                                    *ngIf="Form_AddUser.controls['FirstName'].hasError('minlength') || Form_AddUser.controls['FirstName'].hasError('maxlength')">{{
                                    'System.AddAcquirer.FirstName_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.AddAcquirer.LastName' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="LastName" maxlength="128" class="form-control"
                                        [formControl]="Form_AddUser.controls['LastName']" placeholder="Last Name"
                                        onkeypress="return /[a-z]/i.test(event.key)"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['LastName'].valid && Form_AddUser.controls['LastName'].touched}">
                                </div>
                                <label class="text-danger" for="LastName"
                                    *ngIf="Form_AddUser.controls['LastName'].hasError('required') && Form_AddUser.controls['LastName'].touched">{{
                                    'System.AddAcquirer.LastName_ER_Required' | translate }}</label>
                                <label class="text-danger" for="LastName"
                                    *ngIf="Form_AddUser.controls['LastName'].hasError('minlength') || Form_AddUser.controls['LastName'].hasError('maxlength')">{{
                                    'System.AddAcquirer.LastName_ER_Length' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'System.AddAcquirer.MobileNumber' | translate }}<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="controls input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                    </div>
                                    <input type="text" name="MobileNumber" minlength="8" maxlength="14"
                                        class="form-control" (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddUser.controls['MobileNumber']"
                                        placeholder="Mobile Number"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                </div>
                                <label class="text-danger" for="MobileNumber"
                                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">{{
                                    'System.AddAcquirer.MobileNumber_ER_Required' | translate }}</label>
                                <label class="text-danger" for="MobileNumber"
                                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')">{{
                                    'System.AddAcquirer.MobileNumber_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.AddAcquirer.SecondaryEmailAddress' | translate }}<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="SecondaryEmailAddress" maxlength="512" class="form-control"
                                        [formControl]="Form_AddUser.controls['SecondaryEmailAddress']"
                                        placeholder="Email address"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['SecondaryEmailAddress'].valid && Form_AddUser.controls['SecondaryEmailAddress'].touched}">
                                </div>
                                <label class="text-danger" for="SecondaryEmailAddress"
                                    *ngIf="Form_AddUser.controls['SecondaryEmailAddress'].hasError('required') && Form_AddUser.controls['SecondaryEmailAddress'].touched">{{
                                    'System.AddAcquirer.SecondaryEmailAddress_ER_Required' | translate }}</label>
                                <label class="text-danger" for="SecondaryEmailAddress"
                                    *ngIf="Form_AddUser.controls['SecondaryEmailAddress'].hasError('email') && Form_AddUser.controls['SecondaryEmailAddress'].touched">{{
                                    'System.AddAcquirer.SecondaryEmailAddress_ER_Invalid' | translate }}</label>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="card-header ">
                    <h3 class="tx-dark pb-0 mb-0 tx-14">POS Terminal Provider (PTSP) Account Credentials</h3>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'System.AddAcquirer.UserName' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="UserName" maxlength="256" class="form-control"
                                        [formControl]="Form_AddUser.controls['UserName']" placeholder="User Name"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['UserName'].valid && Form_AddUser.controls['UserName'].touched}">
                                </div>
                                <label class="text-danger" for="UserName"
                                    *ngIf="Form_AddUser.controls['UserName'].hasError('required') && Form_AddUser.controls['UserName'].touched">{{
                                    'System.AddAcquirer.UserName_ER_Required' | translate }}</label>

                                <label class="text-danger" for="UserName"
                                    *ngIf="Form_AddUser.controls['UserName'].hasError('minlength') || Form_AddUser.controls['UserName'].hasError('maxlength')">{{
                                    'System.AddAcquirer.UserName_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.AddAcquirer.Password' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <input type="text" name="Password" maxlength="20"
                                        [(ngModel)]="_HelperService.RandomPassword" class="form-control"
                                        [formControl]="Form_AddUser.controls['Password']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}">

                                    <div class="input-group-append"><button class="btn btn-white" type="button"
                                            (click)="_HelperService.GeneratePassoword()"><i
                                                class="{{ 'Common.RefreshI' | translate }}"></i></button></div>
                                </div>

                                <label class="text-danger" for="Password"
                                    *ngIf="Form_AddUser.controls['Password'].hasError('required') && Form_AddUser.controls['Password'].touched">{{
                                    'System.AddAcquirer.Password_ER_Required' | translate }}</label>
                                <label class="text-danger" for="Password"
                                    *ngIf="Form_AddUser.controls['Password'].hasError('pattern') ||Form_AddUser.controls['Password'].hasError('minlength') || Form_AddUser.controls['Password'].hasError('maxlength')">{{
                                    'System.AddAcquirer.Password_ER_Length' | translate }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label>{{ 'System.AddAcquirer.Icon' | translate }}
                            <span class="small muted">
                                -
                                {{_HelperService._Icon_Cropper_Data.Width}}x{{_HelperService._Icon_Cropper_Data.Height}}
                            </span>
                        </label>
                        <div class="mb-3">
                            <!-- <input type="file" (change)="_HelperService.Icon_Change($event)" /> -->
                            <input-file (deletedFile)="removeImage()" class="d-flex wd-20p  rounded-50"
                                inputId="input-file" placeholder="" #inputfile>
                                <i data-feather="airplay"> </i>
                            </input-file>
                        </div>
                        <div *ngIf="_HelperService._Icon_Cropper_Image != ''">
                            <span class="float-right">
                                <button type="button" class="btn btn-sm btn-success mr-2"
                                    (click)="_HelperService.Icon_Crop_Loaded()">
                                    <i class="fa fa-fw  fa-edit "></i> {{ 'Common.EditPicture' | translate }}
                                </button>
                                <button type="button" class="btn btn-sm btn-warning"
                                    (click)="resetImage()">
                                    <i class="fa fa-fw  fa-sync "></i> {{ 'Common.ClearPicture' | translate }}
                                </button>
                            </span>
                            <img [src]="_HelperService._Icon_Cropper_Image" class="avatar w-96 b-a" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div> <label>{{ 'System.AddAcquirer.AccountStatus' | translate }}<span
                                    class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="statusoptions"
                                    [value]="_HelperService.AppConfig.Status.Active"
                                    [formControl]="Form_AddUser.controls['StatusCode']">
                                <i class="dark-white"></i>
                                {{ 'Common.Active' | translate }}</label>
                        </div>
                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
                                    [value]="_HelperService.AppConfig.Status.Inactive"
                                    [formControl]="Form_AddUser.controls['StatusCode']">
                                <i class="dark-white"></i>
                                {{ 'Common.Inactive' | translate }}</label></div>
                    </div>
                </div>
                <div class="light p-3 text-right  bd-t">

                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_AddUser_Close()">{{
                        'Common.Close'
                        | translate }}</button>

                    <button type="submit" class="btn btn-primary" (click)="Form_AddUser.value.OperationType='new'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.OnBoard' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                            }}...
                        </span>
                    </button>


                </div>
            </div>
        </form>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 hidden-xs ">

    </div>
</div>


<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                               >
                            </image-cropper>
                            <!-- (loadImageFailed)="_HelperService.Icon_Crop_Failed()" -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success mr-2 " data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="resetClose()">{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- newly added city start -->

<!-- LOC M - Start -->
<!-- <div class="modal fade" id="ModalLocationManager" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content tx-14">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel4">Location Manager</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Locate Address<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" name="GAddress" maxlength="256" class="form-control"
                                    ngx-google-places-autocomplete #places="ngx-places"
                                    [ngModel]="_DataHelperService._LocManager.MapAddress"
                                    (onAddressChange)="_DataHelperService.LocManager_AddressChange($event)">
                            </div>
                        </div>
                        <div class="agm">
                            <agm-map style="height:320px;" [zoom]="12"
                                [latitude]="_DataHelperService._LocManager.Latitude"
                                [longitude]="_DataHelperService._LocManager.Longitude" [streetViewControl]="false">
                                <agm-marker [latitude]="_DataHelperService._LocManager.Latitude"
                                    [longitude]="_DataHelperService._LocManager.Longitude">
                                </agm-marker>
                            </agm-map>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group mt-3">
                            <label>Detailed Address<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <textarea name="Address" maxlength="256" placeholder="Address" class="form-control"
                                    [(ngModel)]="_DataHelperService._LocManager.Address" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label>Country</label>
                            <div class="controls">
                                <span class="input-group-text">{{_HelperService.UserCountrycode}}</span>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="_DataHelperService._LocManager.ShowState">
                            <label>State<span class="text-danger">*</span>
                            </label>
                            <select2 class="full-width" name="loc_manager_state"
                                [value]="_DataHelperService._LocManager.StateId"
                                [data]="_DataHelperService._LocManager_S2States_Data"
                                (valueChanged)="_DataHelperService.Loc_Manager_StateSelected($event)">
                            </select2>
                        </div>
                        <div class="form-group" *ngIf="_DataHelperService._LocManager.ShowCity">
                            <label>City<span class="text-danger">*</span>
                            </label>
                            <select2 name="loc_manager_city" class="full-width"
                                [value]="_DataHelperService._LocManager.CityId"
                                [options]="_DataHelperService.Loc_Manager_City_Option"
                                (valueChanged)="_DataHelperService.Loc_Manager_City_Change($event)">
                            </select2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary tx-13"
                    (click)="_DataHelperService.Loc_Manager_SetAddress_Cancel()">Cancel</button>
                <button type="button" class="btn btn-primary tx-13"
                    (click)="_DataHelperService.Loc_Manager_SetAddress()">Set
                    Address</button>
            </div>
        </div>
    </div>
</div> -->
<!-- LOC M - END -->
<!-- newly added city end-->