<!-- acquirer--merchants--list -->



<div class="card ">
    <div class="card-header d-flex justify-content-between">
      <div class=" no-gutters">
        <div class="d-sm-flex justify-content-between">
          <span class="tx-semibold mg-t-10">Get Countries<span class="text-muted tx-normal"></span>
         
  
          </span>
        </div>
      </div>
      
    </div>
  
  
  
    <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
      <div class="form-inline ">
        <div class="input-group input-group-sm mr-3">
          <input type="text" class="form-control" [value]="MerchantsList_Config.SearchParameter" maxlength="100"
            class="form-control" placeholder="{{ 'Common.Search' | translate }}"
            (keyup)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="button"
              (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                data-feather="search"></i> </button>
          </div>
        </div>
  
  
      </div>
    
  
    
    </div>
   

<div class="card ">


  <div class="card-body p-0">
      <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
          <thead>
              <tr>
                 
                  <th class="tx-normal">
                      Name
                  </th>
                 
                  <th class="text-center">
                     Created By
                  </th>
                 
              </tr>
          </thead>
          <tbody>
              <tr class="cursor-pointer" (click)="MerchantsList_RowSelected(TItem)"
                  *ngFor="let TItem of MerchantsList_Config.Data  | paginate: { id: 'MerchantsList_Paginator',itemsPerPage: MerchantsList_Config.PageRecordLimit, currentPage: MerchantsList_Config.ActivePage,  totalItems: MerchantsList_Config.TotalRecords }">
                
                  <td>
                      <div class="tx-14 tx-semibold ">{{TItem.Name || "--"}}</div>
                    
                  </td>
                  <td class="text-center">

                      <div class="tx-14">{{TItem.CreatedByDisplayName || "--"}}
                      </div>
                     
                  </td>
                  
              </tr>
          </tbody>
      </table>
  </div>
  <div class="card-footer pd-20">
      <span class="mr-3">
          {{ 'Common.Showing' | translate }}
          <span class="bold">{{MerchantsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
              {{MerchantsList_Config.ShowingEnd}}
          </span> {{ 'Common.Of' | translate }} {{MerchantsList_Config.TotalRecords}}
      </span>
      <span>
          {{ 'Common.Show' | translate }}
          <select class="wd-50 " [(ngModel)]="MerchantsList_Config.PageRecordLimit"
              (ngModelChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
              <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                  {{TItem}}
              </option>
          </select>
      </span>
      <span class="float-right">
          <pagination-controls id="MerchantsList_Paginator" class="pagination pagination-space"
              (pageChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
              nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
          </pagination-controls>
      </span>
  </div>
</div>

