<!-- Start Breadcrumb menu -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
            Merchant Settlements</a></li>
</ol>
<!-- End Breadcrumb menu -->

<!--  Start Card -->
<div class="card">
    <!--  Start Card header-->
    <div class="card-header">
        <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between">
                <span class="tx-semibold mg-t-10">Merchant Settlements</span>
                <div [className]="_HelperService._Assets.Box.headerTitleRight">
                    <nav class="nav nav-icon-only mg-l-auto">
                        <button class="btn tx-12 btn-primary download-button" (click)="downloadRepot()"> <i
                                data-feather="file-text"></i> Download
                            Report</button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--  End Card header-->

    <!--  Start  Box Count-->
    <div class="card-header">
        <div class=" no-gutters">
            <div class="d-sm-flex">
                <div class=" media cursor-pointer" (click)="Settlement_ListTypeChange(1)">
                    <div type="button"
                        class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                        <img src="../../../assets/img/refresh.svg">
                    </div>
                    <div class="media-body bd-pink ">
                        <h6
                            class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                            Total Reconciliations</h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                            {{OverviewData?.TotalSettlements}}</h4>

                    </div>
                </div>

                <div class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40 cursor-pointer"
                    (click)="Settlement_ListTypeChange(2)">
                    <div type="button"
                        class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                        <span style="font-size: 25px;" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    </div>
                    <div class="media-body ">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                            Reconciliation Amount
                        </h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{OverviewData?.TotalSettlementAmount}}
                        </h4>
                    </div>
                </div>

                <div class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40 cursor-pointer"
                    (click)="Settlement_ListTypeChange(3)">
                    <div type="button"
                        class="wd-40 wd-md-50 ht-40 ht-md-50 tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded "
                        style="background-color: #5B47FB;">
                        <span style="font-size: 25px;" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    </div>
                    <div class="media-body ">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                            TUC Fees</h6>
                        <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{OverviewData?.TotalTUCFees}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  End  Box Count-->

    <!-- Start Filter Section -->
    <div class="box-header px-3 pd-t-15 pd-b-8 d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input class="form-control" [value]="SettlementList_Config.SearchParameter" type="search"
                    maxlength="150"
                    (keyup)="TUTr_ToggleOptionSearch($event, _HelperService.AppConfig.ListToggleOption.Search)"
                    placeholder="{{ 'Common.Search' | translate }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button"
                        (click)="TUTr_ToggleOption($event.target.value, _HelperService.AppConfig.ListToggleOption.Search)">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i>
            </button>

            <div class="form-group my-auto shadow-none ml-auto ">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]=" "
                    (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
            _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
                (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i>
            </button>

        </div>

        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="Settlementlist_sdropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">


                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="SettlementList_Config.Sort.SortOrder == 'desc'"
                                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="SettlementList_Config.Sort.SortOrder == 'asc'"
                                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                            *ngFor="let TItem of SettlementList_Config.Sort.SortOptions"
                            (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>

                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="Settlementlist_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu pd-0 tx-13">
                    <form class="wd-400 ">
                        <h6
                            class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
                            Filters
                        </h6>
                        <div class="pd-25" style="overflow: auto; height: 80vh;" *ngIf="ResetFilterControls">

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="loanAmountRange">Settlment Range</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label for="CreditLimitMin">Min</label>
                                            <input type="number" name="SettlmentRangeMin" class="form-control"
                                                [(ngModel)]="SettlmentRangeMin"
                                                (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label for="SettlmentRangeMax">Max</label>
                                            <input type="number" name="CreditLimitMax" class="form-control"
                                                [(ngModel)]="SettlmentRangeMax"
                                                (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label> Filter by Merchant</label>
                                <div class="form-group">
                                    <select2 class="full-width" [options]="TUTr_Filter_Merchant_Option"
                                        (valueChanged)="TUTr_Filter_Merchants_Change($event)">
                                    </select2>
                                </div>
                            </div>

                            <div class="form-group">
                                <label> Filter by Provider</label>
                                <div class="form-group">
                                    <select2 [options]="TUTr_Filter_Provider_Option" class="wd-100p"
                                        (valueChanged)="TUTr_Filter_Providers_Change($event)">
                                    </select2>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label>Filter by Settelement date</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                    daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div>
                        </div>

                        <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
                            style="position: fixed; bottom:0%; margin-top: -2.5em ;">
                            <button type="button" class="btn btn-light btn-sm mr-2"
                                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                Reset
                            </button>
                            <button type="button" class="btn btn-primary btn-sm "
                                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">
                                Apply
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
                (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                    data-feather="refresh-cw"></i> </a>
        </nav>
    </div>

    <!-- Start Filter Section -->

    <div class="pt-0 pd-l-15 pd-b-15">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
            {{_HelperService.FilterSnap.StatusName}}
            <span (click)="RemoveFilterComponent('Status')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='LoanId' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" +
                _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span (click)="RemoveFilterComponent('Sort')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>

        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
            [hidden]="!_HelperService.FilterSnap.StartTime">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
            _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:(TItem.data[0].Name ? TItem.data[0].Name :
            TItem.data[0].ProviderName)}}
            <!--  -->
            <span (click)="RemoveFilterComponent('Other',i)"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="
        !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SettlmentRangeMin==0 && _HelperService.FilterSnap.SalesRange.SettlmentRangeMax==10000000)"
            (click)="RemoveFilterComponent('SettlementAmountRange')">
            Settlement Amount
            [{{_HelperService.FilterSnap.SalesRange.SettlmentRangeMin + "--" +
            _HelperService.FilterSnap.SalesRange.SettlmentRangeMax}}]
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary"
            *ngFor="let TItem of SettlementList_Config.Filters">{{TItem.Title}}</span>

    </div>

    <!-- Start Table section -->
    <div class="card-body  pd-b-0 mt-n2 table-responsive">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Merchant</th>
                    <th>Loan ID</th>
                    <th>Customer</th>
                    <th>Redeemed on</th>
                    <th> Settlement on</th>
                    <th class="text-right">Loan Amt (<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
                    <th class="text-right">TUC Fees (<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
                    <th class="text-right">Settle. Amt (<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
                </tr>
            </thead>
            <tbody>

                <tr class="cursor-pointer" (click)="SettlementList_RowSelected(TItem)" *ngFor="let TItem of listData.Data  | paginate: 
                    {
                         id: 'SettlmentList_Paginator',
                    itemsPerPage: SettlementList_Config.PageRecordLimit,
                    currentPage: SettlementList_Config.ActivePage,
                    totalItems: SettlementList_Config.TotalRecords
                    }" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.BNPL.Invoice}}">
                    <td class="tx-semibold text-primary">
                        RE0{{TItem.ReferenceId || "--"}}
                        <!-- <div>
                            <span class="badge text-white tx-11 bg-success">
                                {{TItem.StatusName || "--" | uppercase }}
                            </span>
                        </div> -->
                        <div *ngIf="TItem.StatusName === 'Processing'">
                            <div class="badge  text-white tx-11  bg-gray-500"> PROCESSING</div>
                        </div>
                        <div *ngIf="TItem.StatusName === 'Initialized'">
                            <div class="badge  text-white tx-11  bg-gray-500"> INITIALIZED</div>
                        </div>
                        <div *ngIf="TItem.StatusName === 'Successful'">
                            <div class="badge  text-white tx-11  bg-success">SUCCESS</div>
                        </div>
                        <div *ngIf="TItem.StatusName === 'Pending'">
                            <div class="badge  text-white tx-11  bg-warning">PENDING</div>
                        </div>
                    </td>
                    <td class="d-flex">
                        <img class="br" src="{{TItem.MerchantIconUrl}}" class="img wd-40 ht-40 bd bd-2">
                        <div style="padding-left: 10px;">
                            <div class="tx-14 tx-semibold">{{ TItem.MerchantAccountName || "--"}}
                            </div>
                            <div class="text-muted tx-12">
                                {{ TItem.MerchantAccountAddress || "--" | slice:0:15}}...
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="text-primary tx-semibold"> L0{{TItem.LoanId || "--"}}</div>
                        <div>
                            <span><img src="{{TItem.ProviderIconUrl}}"
                                    style="width:18px;height: 18px;"></span>{{TItem.ProviderName || "--"}}
                        </div>
                    </td>
                    <td>
                        <div>
                            {{TItem.CustomerName}}
                        </div>
                        <div>
                            {{TItem.CustomerMobileNumber}}
                        </div>
                    </td>
                    <td>
                        <div>

                        </div>
                        <span class="tx-semibold">
                            {{TItem.LoanRedeemDate|date:'dd-MM-yyyy' || "--"}}
                        </span>
                        <div class="text-uppercase">
                            {{TItem.LoanRedeemDate| date :'hh:mm a' || "--"}}
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="tx-semibold">
                                {{TItem.SettlementDate | date:'dd-MM-yyyy' || "--"}}
                            </span>
                        </div>

                        <div class="text-uppercase">
                            {{TItem.SettlementDate | date :'hh:mm a' || "--"}}
                        </div>
                    </td>
                    <td class="text-right">
                        {{TItem.LoanAmount | number: "1.2-2" || "0"}}
                    </td>
                    <td class="tx-14 text-right" style="color: #5B47FB;">
                        {{TItem.TUCFees | number: "1.2-2" || "0"}}
                    </td>
                    <td class="text-right tx-semibold" style="padding-right: 28px;">
                        {{TItem.SettlementAmount | number:"1.2-2" || "0"}}</td>
                </tr>

            </tbody>
        </table>

        <!-- Start Table Footer -->
        <div class="card-footer pd-20">
            <span class="mr-3">
                {{ 'Common.Showing' | translate }}
                <span class="bold">{{SettlementList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                    {{SettlementList_Config.ShowingEnd}}
                </span> {{ 'Common.Of' | translate }} {{SettlementList_Config.TotalRecords}}
            </span>
            <span>
                {{ 'Common.Show' | translate }}
                <select class="wd-50 " [(ngModel)]="SettlementList_Config.PageRecordLimit"
                    (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                    <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                        {{TItem}}
                    </option>
                </select>
            </span>
            <span class="float-right">
                <pagination-controls id="SettlmentList_Paginator" class="pagination pagination-space"
                    (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                    nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
                </pagination-controls>
            </span>
        </div>
        <!-- end Table Footer -->
    </div>
    <!-- End Table section -->
</div>