<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
  <div class=" ">
    <div class="row">
      <div class="col-md-4 pnvalid" data-permission="referalcampaignview">
        <div class="card pd-15 ht-100p">
          <div class="">
          
            <div class="col-sm-12 col-md-12 col-lg mg-t-20 mg-sm-t-0">
              <!-- <div class="textover tx-14">{{_UserAccount.Title || '--'}}</div> -->
              <h5 class="mg-b-2 tx-spacing--1 text-primary" style="word-break: break-all;" (click)="Editcampaign()">
                {{_UserAccount.Title || '--'}}<i data-feather="chevron-right"></i></h5>
              <div>
                <span class="py-3">
                  {{_UserAccount.AccountTypeName || "--"}} - {{_UserAccount.ConditionName || "--"}}
                </span>

              </div>


              <div class="py-2">
                <span *ngIf="_UserAccount.StatusCode=='default.active'">
                  <span class="badge badge-success">Active</span>
                </span>

                <span *ngIf="_UserAccount.StatusCode=='default.inactive'">
                  <span class="badge badge-danger">Expired</span>
                </span>
              </div>



              <!-- <span class="text-lowercase mg-b-10" [ngClass]="_UserAccount.StatusB">{{
                  _UserAccount.Code || "--" }}</span> -->

              <div class="tx-muted tx-16 bd-gray-300 m-auto  rounded-circle py-2" style="
                  width: 100%;">
                <p class="text-center fs-4 py-3 mb-0 redeem-code2 ">{{_UserAccount.Code || "--" }}</p>
              </div>
              <!-- <div
                  class="tx-muted tx-14 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle py-2">
                  <p class="text-center fs-4 py-3 mb-0 redeem-code1 ">{{_UserAccount.Code || "--" }}</p>
                 </div> -->



              <div>
                <div class="tx-10 text-secondary" *ngIf="_UserAccount.MaximumLimitPerUser==1">
                  {{_UserAccount.MaximumLimitPerUser}} TIME USE/CUSTOMER</div>
                <div class="tx-10 text-secondary" *ngIf="_UserAccount.MaximumLimitPerUser!=1">
                  {{_UserAccount.MaximumLimitPerUser}} TIME USE/CUSTOMER</div>
              </div>

              

            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10 py-2 border-bottom">
              <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Campaign
                Details</label>

              <div class="row">
                <div class="col-md-8">
                  <div class="text-secondary tx-13"><i style="width: 15px;" data-feather="calendar"></i> Starts On:
                  </div>
                </div>
                <div class="col-md-4">
                  <a class="tx-13">{{_UserAccount.StartDate | date: 'dd-MM-yyyy' ||
                    "--"}}</a>
                </div>
              </div>

              <div class="row py-2">
                <div class="col-md-8">
                  <div class="text-secondary tx-13"> <i style="width: 15px;" data-feather="calendar"></i> Ends On:
                  </div>
                </div>
                <div class="col-md-4">
                  <a class="tx-13">{{_UserAccount.EndDate | date: 'dd-MM-yyyy' ||
                    "--"}}</a>
                </div>
              </div>

              <div class="" style="margin-top: -7px; margin-bottom: 14px;">
                <span class="mg-l-2 text-primary" (click)="UpdateDate(_UserAccount)">
                  <i class="fas fa-plus-circle mg-r-5 "></i>Extend Date
                </span>
              </div>


             
            </div>


            <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10 py-2 ">
              

              <div class="row">
                <div class="col-md-9">
                  <div class=" tx-13">Benefit amount: </div>
                  <div class="text-secondary tx-13">(To Merchant) </div>
                </div>
                <div class="col-md-3">
                  <a class="tx-13 text-center"><span class="tx-10"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_UserAccount.PromoCodeValue
                    || "--"}}</a>
                </div>
              </div>

              <div class="row py-2">
                <div class="col-md-9">
                  <div class=" tx-13">Code Quantity added: </div>
                  <div class="text-secondary tx-13">(For Campaign) </div>
                </div>
                <div class="col-md-3">
                  <a class="tx-13">&nbsp;&nbsp;{{_UserAccount.MaximumLimit || "--"}}</a>
                </div>
              </div>

              <div class="" style=" margin-bottom: 14px;">
                <span class="mg-l-2 text-primary" (click)="UpdateCode(_UserAccount)">
                  <i class="fas fa-plus-circle mg-r-5 "></i>Add More Codes
                </span>
              </div>

              <div class="row py-1">
                <div class="col-md-9">
                  <div class="tx-13">Total Budget: </div>
                  <div class="text-secondary tx-13">(For Campaign) </div>
                </div>
                <div class="col-md-3">
                  <a class="tx-13"><span class="tx-10"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_UserAccount.Budget ||
                    "--"}}</a>
                </div>
              </div>


            </div>



       
            <div class="pd-10 mg-t-25">
              <div class="row">
                <div class="col-md-6 text-secondary tx-12">Created By</div>
                <div class="col-md-6 text-secondary tx-12">Updated By</div>
              </div>

              <div class="row">
                <div class="col-md-6 tx-10">{{_UserAccount.CreatedByDisplayName || '--'}}</div>
                <div class="col-md-6 tx-10">{{_UserAccount.ModifyByDisplayName || '--'}}</div>
              </div>

              <div class="row">
                <div class="col-md-6 text-secondary tx-10">{{_UserAccount.CreateDate | date :["dd-MM-yyyy hh:mm a"]
                  || "--" }}</div>
                <div class="col-md-6 text-secondary tx-10">{{_UserAccount.ModifyDateS | date :["dd-MM-yyyy hh:mm a"]
                  || "--" }}</div>
              </div>
            </div>


          </div>

        </div>
      </div>

      <div class="col-md-8">
        <div class="card">
          <ul class="nav nav-line  mg-x-15 pd-t-10" id="myTab" role="tablist">
            <li class="nav-item pt-1 "><a class="nav-link active" href="#" data-toggle="tab" data-target="#tab-2"
                (click)="tabSwitched('version')">Usage History</a>
            </li>
            <li class="nav-item pt-1 "><a class="nav-link " href="#" data-toggle="tab" data-target="#tab-1"
                (click)="tabSwitched('usage')">Usage Report</a></li>


          </ul>


          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show  bd-0  " role="tabpanel" id="tab-1">
                <!-- <div class="card"> -->
              

                <div class="row row-xs mg-y-10 mg-l-10">
                  <div class="col-sm-6 col-lg-5">
                    <div class="card card-body shadow-none ht-100p" id="SaleAmount">
                      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">Code Used</h6>
                      <div class="d-flex d-lg-block d-xl-flex align-items-end">
                    

                        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
                          <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                          {{_GetoverviewSummary.Used || "00"}}
                        </h3>
                      
                      </div>
                      <p class="tx-12 text-secondary mg-b-0 text-capitalize"> Total code used amoung
                        {{_UserAccount.MaximumLimit}}</p>
                    </div>
                  </div><!-- col -->
                  <div class="col-sm-6 col-lg-5 mg-t-15  mg-sm-t-0">
                    <div class="card card-body shadow-none ht-100p" id="Transactions">
                      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">BUDGET CLAIMED</h6>
                      <div class="d-flex d-lg-block d-xl-flex align-items-end">
                       

                        <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
                          <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                          {{(_GetoverviewSummary.UsedAmount | number: "1.0-1" )|| "--"}}
                        </h3>
                       
                      </div>
                      <p class="tx-12 text-secondary mg-b-0 text-capitalize">Total budget claimed under promotions</p>


                    </div>
                  </div><!-- col -->

                </div>



                <div class="card-body">
                  <div class="card pd-10">
                    <div class="card-header">
                      Code Claim Status
                    </div>
                    <canvas height="100" baseChart [colors]="_HelperService.ChartConfig.SalesTypeColors"
                      [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
                      [options]="_HelperService.ChartConfig.DoughnetChart.HalfDoughnetOptions"
                      [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false" [data]="Piedata"
                      [labels]="Piechartlable"></canvas>




                    <div class="d-flex justify-content-between mg-t-30">
                      <div class="">
                        <h4 class="d-flex tx-12"><span class="d-block wd-15 ht-15 bg-secondary rounded mg-r-5"></span>
                          UNUSED CODES</h4>

                        <div class="tx-24 tx-bold"> {{_UserAccount.MaximumLimit - _GetoverviewSummary.Used }}
                        </div>

                      </div>
                      <div class="">
                        <h4 class="d-flex tx-12"><span class="d-block wd-15 ht-15 bg-teal rounded mg-r-5"></span>
                          USED CODES</h4>

                        <div class="tx-24 tx-bold">
                          {{_GetoverviewSummary.Used || "0" }} </div>


                      </div>
                      <div class="">
                        <h4 class="d-flex tx-12"><span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5"></span>
                          TOTAL CODE QTY</h4>
                        <div class="tx-24 tx-bold"> {{_UserAccount.MaximumLimit || "0" }}
                        </div>
                      </div>

                    </div>

                  </div>
                </div>


                <!-- </div> -->

             </div>

              <div class="tab-pane fade show  bd-0 active" role="tabpanel" id="tab-2">
                <div class="col-md-12 pnvalid" data-permission="referalcampaignview">
                  <div class="card ">
                    <div class="card-header">
                      <div class=" no-gutters">
                        <div class="d-sm-flex justify-content-between">
                          <span class="tx-semibold mg-t-10">Customer Details


                          </span>
                        </div>
                      </div>
                    </div>


                    <div class="box-header px-3 pd-t-15 pd-b-7  d-flex align-items-center justify-content-between">
                      <div class="form-inline ">
                        <div class="input-group input-group-sm mr-3">
                          <input type="text" class="form-control" [value]="RequestHistory_Config.SearchParameter"
                            maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                            (keyup)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                          <div class="input-group-append">
                            <button class="btn btn-outline-light" type="button"
                              (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                                data-feather="search"></i> </button>
                          </div>
                        </div>


                      </div>

                      <div class="d-flex ml-auto">
                        <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                            [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
                            <i data-feather="minus-circle"></i> </button>
            
                        <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                            <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                                [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                                (valueChanged)="Active_FilterValueChanged( $event )">
                            </select2>
                        </div>
                        <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                            [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
                    _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()">
                            <i data-feather="plus-circle"></i> </button>
            
                    </div>

                      <nav class="nav nav-with-icon tx-20">
                        <div class="dropdown dropleft">
                          <a href="" class="nav-link mr-2" id="RequestHistory_sdropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i>
                          </a>


                          <div class="dropdown-menu tx-13">
                            <form class="wd-250 pd-15">


                              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                                Sort
                                <div class="float-right tx-20" *ngIf="RequestHistory_Config.Sort.SortOrder == 'desc'"
                                  (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                  <i class="fas fa-sort-alpha-down-alt"></i>
                                </div>
                                <div class="float-right tx-20" *ngIf="RequestHistory_Config.Sort.SortOrder == 'asc'"
                                  (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                  <i class="fas fa-sort-alpha-up-alt"></i>
                                </div>
                              </h6>

                              <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                                *ngFor="let TItem of RequestHistory_Config.Sort.SortOptions"
                                (click)="RequestHistory_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                                {{TItem.Name}}
                              </a>

                              <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                Reset</button>
                              <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                            </form>
                          </div>
                        </div>
                        <div class="dropdown dropleft">
                          <a href="" class="nav-link" id="RequestHistory_fdropdown" data-toggle="dropdown"
                            aria-haspopup="true" (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                            <i data-feather="filter"></i>
                          </a>
                          <div class="dropdown-menu tx-13">
                            <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                                Filters
                              </h6>
                              <div>
                                <div class="form-group position-relative" id="detailsCampaigndatepicker">
                                  <label>Start Date</label>
                                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                    daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsFn('#detailsCampaigndatepicker')"
                                    (selected)="RequestHistory_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                                </div>
                              </div>


                              <button type="button" class="btn btn-light btn-sm mr-2"
                                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                Reset</button>
                              <button type="button" class="btn btn-primary btn-sm "
                                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                            </form>
                          </div>
                        </div>
                        <a class="nav-link ml-2 RefreshColor"
                          (click)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                          <i data-feather="refresh-cw"></i> </a>
                      </nav>
                    </div>
                    <div class="pt-0 pd-l-15 pd-b-8">
                      <div
                        class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                        [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
                        {{_HelperService.FilterSnap.StatusName}}
                        <span (click)="RemoveFilterComponent('Status')"
                          class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                            class="fas fa-times"></i> </span>
                      </div>


                      <div
                        class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
                        [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='StartDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
                        <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" +
                          _HelperService.FilterSnap.Sort.SortOrder}}</span>
                        <span (click)="RemoveFilterComponent('Sort1')"
                          class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                            class="fas fa-times"></i> </span>
                      </div>

                      <div
                        class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                        [hidden]="!_HelperService.FilterSnap.StartTime">
                        {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
                        _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
                        <span (click)="RemoveFilterComponent('Time')"
                          class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                            class="fas fa-times"></i> </span>
                      </div>
                      <div
                        class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                        *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
                        {{TItem.data[0].DisplayName}}
                        <span (click)="RemoveFilterComponent('Other',i)"
                          class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                            class="fas fa-times"></i> </span>
                      </div>

                      <span class="badge badge-pill badge-primary"
                        *ngFor="let TItem of RequestHistory_Config.Filters">{{TItem.Title}}</span>

                    </div>

                    <div class="card-body p-0 table-responsive">
                      <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
                        <thead>
                          <tr>

                            <th class="">
                              Customer
                            </th>

                            <th class="">
                              Used On
                            </th>

                            <th class="">
                              Used Via
                            </th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr class="cursor-pointer" (click)="Customers_RowSelected(TItem)"
                            *ngFor="let TItem of RequestHistory_Config.Data  | paginate: { id: 'RequestHistory_Paginator',itemsPerPage: RequestHistory_Config.PageRecordLimit, currentPage: RequestHistory_Config.ActivePage,  totalItems: RequestHistory_Config.TotalRecords }">


                            <td class="">
                              <div class="tx-semibold">{{TItem.AccountName || "--"}}
                              </div>
                              <div class="text-secondary">+{{TItem.AccountMobileNumber.slice(0,3) || "--"}}
                                {{TItem.AccountMobileNumber.slice(3) || "--"}}
                              </div>
                            </td>

                            <td class="">
                              <div class="">{{TItem.UseDate | date :["dd-MM-yyyy hh:mm a"] || "--"}}
                              </div>
                            </td>

                            <td class="">
                              <div class="">{{TItem.UsedBy || "--"}}
                              </div>
                            </td>


                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer pd-20">
                      <span class="mr-3">
                        {{ 'Common.Showing' | translate }}
                        <span class="bold">{{RequestHistory_Config.ShowingStart}} {{ 'Common.To' | translate }}
                          {{RequestHistory_Config.ShowingEnd}}
                        </span> {{ 'Common.Of' | translate }} {{RequestHistory_Config.TotalRecords}}
                      </span>
                      <span>
                        {{ 'Common.Show' | translate }}
                        <select class="wd-50 " [(ngModel)]="RequestHistory_Config.PageRecordLimit"
                          (ngModelChange)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                          <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                            {{TItem}}
                          </option>
                        </select>
                      </span>
                      <span class="float-right">
                        <pagination-controls id="RequestHistory_Paginator" class="pagination pagination-space"
                          (pageChange)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                          nextLabel="{{ 'Common.Next' | translate }}"
                          previousLabel="{{ 'Common.Previous' | translate }}">
                        </pagination-controls>
                      </span>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div><!-- media-body -->

      </div>

    </div>

  </div><!-- media -->
</div>



<div class="modal fade" id="Editcampaign" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content" style="height: 1275px; width: 750px;">

      <div class="modal-header">
        <h5 class="modal-title">Manage Promo Code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="Form_AddUser_Close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ht-500">

        <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
          <div class="card">
            <div class="card-header">
              <h3 class="tx-dark pb-0 mb-0 tx-14">Update Promotional Code Campaign</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12" style="padding: 0px;">
                  <!-- <div class="col-md-12">
                    <div> <label>Basic Details </label>
                      <p class="text-secondary">Please add basic details of campaign here</p>

                    </div>
                  </div> -->

                  <div class="col-md-12">
                    <div class="form-group">
                      <div> <label>I am creating campaign for
                        </label>
                      </div>


                      <div class="radio float-left mr-3"><label class="ui-check"><input type="radio"
                            name="AccountTypeId"  [(ngModel)]="_UserAccount.AccountTypeId"  [value]="109" [formControl]="Form_AddUser.controls['AccountTypeId']" disabled>
                          <i class="dark-white"></i>
                          Customer</label></div>


                      <div class="radio  mr-3">
                        <label class="ui-check"><input type="radio" name="AccountTypeId" [(ngModel)]="_UserAccount.AccountTypeId" [value]="108" disabled
                            [formControl]="Form_AddUser.controls['AccountTypeId']">
                          <i class="dark-white"></i>
                          Merchant</label>
                      </div>




                    </div>
                  </div>


                  <div class="col-md-12 mg-b-12"  >
                    <div class="form-group">
                      <label>Select Target Audience for this campaign
                      </label>
                    

                      <select2 name="S2GetApps" class="full-width" [options]="GetMerchants_Option"
                        (valueChanged)="GetApp_ListChange($event)"></select2>
                        


                      <!-- <label class="tx-12 text-secondary">For which user category do you want to run this
                        campaign</label> -->

                        <div class="col-lg-12 Hm-media768  mg-b-60">
                          <div class="d-inline justify-content-between">
                            <button class="d-flex align-items-center" type="button"
                              class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2  pd-l-12 pd-y-5 text-warn text-sm float-left mg-t-10">{{targetAudience}}
          
                            </button>
                          </div>
                        </div>
                    </div>
                  </div>
                  <hr>


                </div>


              </div>
            </div>


            <div class="card-header" style="border: none;margin-top: -23px;">
              <h3 class="tx-dark pb-0 mb-0 tx-14">Update Campaign Setup and Schedule</h3>
              <!-- <label class="tx-12 text-secondary">Set up your campaign here</label> -->
            </div>
            <div class="card-body" style="margin-top: -26px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Campaign Title <span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                          <input type="text" name="Title" maxlength="128" class="form-control"
                            (click)="ProcessAmounts()" [(ngModel)]="_UserAccount.Title" placeholder="Enter Title Here"
                            [formControl]="Form_AddUser.controls['Title']"
                            [ngClass]="{'is-invalid':!Form_AddUser.controls['Title'].valid && Form_AddUser.controls['Title'].touched}">
                        </div>
                        <label class="text-danger" for="Title"
                          *ngIf="Form_AddUser.controls['Title'].hasError('required') && Form_AddUser.controls['Title'].touched">Enter
                          Title</label>
                        <label class="text-danger" for="Title"
                          *ngIf="Form_AddUser.controls['Title'].hasError('minlength') || Form_AddUser.controls['Title'].hasError('maxlength')">Title
                          must be between 2 - 128 characters</label>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Start Date<span class="text-danger">*</span>
                        </label>
                        <div class="controls input-group">
                          <input type="text" class="form-control " name="daterangeInput" daterangepicker
                            [options]="_DealConfig.StartDateConfig" [formControl]="Form_AddUser.controls['StartDate']"
                            (selected)="ScheduleStartDateRangeChange($event)" />
                        </div>

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>End Date<span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                          <input type="text" class="form-control " name="daterangeInput" daterangepicker
                            [options]="_DealConfig.EndDateConfig" [disabled]="_DealConfig.EndDate == null"
                            [formControl]="Form_AddUser.controls['EndDate']"
                            (selected)="ScheduleEndDateRangeChange($event)" />
                        </div>

                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Campaign Description <span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                          <textarea type="text" name="Description" maxlength="256" class="form-control"
                            placeholder="Description" [(ngModel)]="_UserAccount.Description" [formControl]="Form_AddUser.controls['Description']"
                            [ngClass]="{'is-invalid':!Form_AddUser.controls['Description'].valid && Form_AddUser.controls['Description'].touched}"></textarea>
                        </div>
                        <label class="text-danger" for="Description"
                          *ngIf="Form_AddUser.controls['Description'].hasError('required') && Form_AddUser.controls['Description'].touched">Enter
                          Description</label>
                        <label class="text-danger" for="Description"
                          *ngIf="Form_AddUser.controls['Description'].hasError('minlength') || Form_AddUser.controls['Description'].hasError('maxlength')">Description
                          must be between 2 - 256 characters</label>
                      </div>
                    </div>

                  </div>
                  <hr>
                </div>
              </div>
            </div>


            <div class="card-header" style="border: none;margin-top: -26px;">
              <h3 class="tx-dark pb-0 mb-0 tx-14">Update Campaign Code settings and conditions</h3>
              <!-- <label class="text-secondary tx-12">Set up your code and conditions for code - This code will be used by
                customers/Merchants</label> -->
            </div>
            <div class="card-body" style="margin-top: -26px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Set Promo code<span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                          <input type="text" name="PromoCode" maxlength="12" class="form-control" readonly
                            placeholder="Ex- Happyhours" [(ngModel)]="_UserAccount.Code" [formControl]="Form_AddUser.controls['PromoCode']"
                            [ngClass]="{'is-invalid':!Form_AddUser.controls['PromoCode'].valid && Form_AddUser.controls['PromoCode'].touched}">
                        </div>
                        <label class="text-danger" for="PromoCode"
                          *ngIf="Form_AddUser.controls['PromoCode'].hasError('required') && Form_AddUser.controls['PromoCode'].touched">Enter
                          Promo code</label>
                        <label class="text-danger" for="PromoCode"
                          *ngIf="Form_AddUser.controls['PromoCode'].hasError('minlength') || Form_AddUser.controls['PromoCode'].hasError('maxlength')">Code
                          must be between 6 - 12 characters</label>
                      </div>
                    </div>



                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Set Benefit Amount on this code <span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <span class="ml-2 mr-2"
                                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                              </span>
                            </div>
                            <input type="text" name="PromoCodeValue" maxlength="12" class="form-control" [(ngModel)]="_UserAccount.PromoCodeValue"
                              (keypress)="_HelperService.PreventText($event)" placeholder="Ex-N 100" (keyup)="ProcessAmounts()"
                              [formControl]="Form_AddUser.controls['PromoCodeValue']"
                              [ngClass]="{'is-invalid':!Form_AddUser.controls['PromoCodeValue'].valid && Form_AddUser.controls['PromoCodeValue'].touched}">
                          </div>
                        </div>
                        <label class="text-danger" for="PromoCodeValue"
                          *ngIf="Form_AddUser.controls['PromoCodeValue'].hasError('required') && Form_AddUser.controls['PromoCodeValue'].touched">
                          Amount required</label>
                        <label class="text-danger" for="PromoCodeValue"
                          *ngIf="Form_AddUser.controls['PromoCodeValue'].hasError('min')">Amount
                          must be greater than 0</label>
                      </div>

                    </div>

                  </div>
                  <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" style="margin-bottom: 2px;">
                      <label>Code Qty available for this campaign <span class="text-danger">*</span>
                      </label>
                      <div class="controls">
                        <div class="input-group">

                          <input type="text" name="MaximumLimit" maxlength="12" class="form-control" [(ngModel)]="_UserAccount.MaximumLimit"
                            (keypress)="_HelperService.PreventText($event)" placeholder="100 Codes"
                            (keyup)="ProcessAmounts()" [formControl]="Form_AddUser.controls['MaximumLimit']"
                            [ngClass]="{'is-invalid':!Form_AddUser.controls['MaximumLimit'].valid && Form_AddUser.controls['MaximumLimit'].touched}">


                        </div>
                      </div>
                      <label class="text-danger" for="MaximumLimit"
                        *ngIf="Form_AddUser.controls['MaximumLimit'].hasError('required') && Form_AddUser.controls['MaximumLimit'].touched">
                        Enter Code Limit</label>
                      <label class="text-danger" for="MaximumLimit"
                        *ngIf="Form_AddUser.controls['MaximumLimit'].hasError('min')">Limit must br greater than
                        0</label>
                    </div>
                    <label class="text-secondary tx-12">After reaching this limit of code usage campaign will
                      stop</label>
                  </div>
</div>



                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="tx-14" style="color: #008194; background: #00CCCC27;border-radius: 2px">Your
                          Total Budget for this campaign will be <span class="ml-2 mr-2"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{budgetAmount}}
                        </label>

                      </div>

                    </div>
                  </div>


                </div>
              </div>
            </div>


            <div class="card-header" style="margin-top: -26px; border:none">
              <h3 class="tx-dark pb-0 mb-0 tx-14">This code usage type is (Code use per person)</h3>
            </div>
            <div class="card-body" style="margin-top: -26px;border: none;">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="form-group" style="margin-bottom: 0px;">

                      <div class="radio float-left mr-3">
                        <label class="ui-check"><input type="radio" name="CodeUsageValidity" (click)="CodeUsage(1)"
                          [checked]="IsSingleCode">
                          <i class="dark-white"></i>
                          One time use/ Customer</label>
                      </div>
                      <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="CodeUsageValidity"
                             (click)="CodeUsage(2)"   
                             [checked]="IsMultipleCode" >
                          <i class="dark-white"></i>
                          Multiple time use/ Customer</label></div>

                    </div>
                    <label class="tx-12 text-secondary mg-b-20">As this campaign is referral campaign, so its one time
                      use code only</label>
                  </div>

                  <div class="col-md-6" *ngIf="IsMultipleCode">
                    <div class="form-group">
                      <div class="controls">
                        <div class="input-group">
                          <input type="text" name="MaximumLimitPerUser" maxlength="12" class="form-control" [(ngModel)]="_UserAccount.MaximumLimitPerUser"
                            (keypress)="_HelperService.PreventText($event)" placeholder="2 code/Customer"
                            [formControl]="Form_AddUser.controls['MaximumLimitPerUser']"
                            [ngClass]="{'is-invalid':!Form_AddUser.controls['MaximumLimitPerUser'].valid && Form_AddUser.controls['MaximumLimitPerUser'].touched}">
                        </div>
                      </div>
                      <label class="text-danger" for="MaximumLimitPerUser"
                        *ngIf="Form_AddUser.controls['MaximumLimitPerUser'].hasError('required') && Form_AddUser.controls['MaximumLimitPerUser'].touched">Enter
                        Promo code limit/customer</label>
                      <label class="text-danger" for="MaximumLimitPerUser"
                        *ngIf="Form_AddUser.controls['MaximumLimitPerUser'].hasError('minlength') || Form_AddUser.controls['MaximumLimitPerUser'].hasError('maxlength')">Limit
                        must be greater than 0</label>
                    </div>
                  </div>

                </div>



              </div>

              <div class="light p-3 text-right bd-t">

                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                  (click)="Form_AddUser_Close()">{{
                  'Common.Close'
                  | translate }}</button>

                <button type="submit" class="btn btn-primary" (click)="Form_AddUser.value.OperationType='new'"
                 >
                  <span *ngIf="!_HelperService.IsFormProcessing">
                    Save
                  </span>
                  <span *ngIf="_HelperService.IsFormProcessing">
                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                    }}...
                  </span>
                </button>

              </div>
            </div>
          </div>
        </form>
        <!-- [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing" -->
        <!-- <div class="modal-footer">

     
    
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="Form_ManagePromote_Close()">Close</button>
          <button type="button" class="btn btn-primary" (click)="Form_ManagePromote_Process()"> Save</button>
        </div> -->

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="EditSchedule" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Extend Promocode Date</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body ht-260">
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label class="tx-secondary" for="  "> Start Date</label>
                          <div class="controls">
                              <input type="text" class="form-control "  [formControl]="Form_AddUser.controls['StartDate']"
                                  name="daterangeInput" readonly />
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for=""> End Date<span class="text-danger">*</span> </label>
                          <div class="controls">
                            <input type="text" class="form-control " name="daterangeInput" daterangepicker
                              [options]="_DealConfig.EndDateConfig" [disabled]="_DealConfig.EndDate == null"
                              [formControl]="Form_AddUser.controls['EndDate']"
                              (selected)="UpdateEndDateRangeChange($event)" />
                          </div>


                          <!-- <div class="controls">
                              <input type="text" class="form-control " name="daterangeInput" daterangepicker readonly
                                  [options]="_HelperService.AppConfig.DateFuterPickerOptions"
                                
                                  (selected)="UpdateEndDateRangeChange($event)" />
                          </div> -->
                      </div>
                  </div>

              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"
                  
                  (click)="UpdatePromoteSchedule()">
                  Save</button>
          </div>
      </div>
  </div>
</div>


<div class="modal fade" id="AddCoupons" tabindex="-1" role="dialog">
<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Promocodes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body ht-300">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="tx-secondary" for="  "> PromoCode Count To Add</label>
                        <div class="controls">
                            <input type="number" min="1" max="5000" class="form-control " (keyup)="checkcount()"
                                [(ngModel)]="CouponCount" name="count" />
                            <label class="text-danger" for="ContactNumber" *ngIf="coupancount">Enter
                                Maximum 5000 coupons only</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" [disabled]="coupancount" (click)="UpdatePromoteCodes()">
                Save</button>
        </div>
    </div>
</div>
</div>


