 <!--Start Overview by tuc Class-->
 
 <div class="row row-xs mg-t-15 ">

  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12 mg-t-10 mg-lg-t-0">
    <div class="card ht-100p">
      <div class="card-header d-flex justify-content-between">
        <div> Frequent Categories
          <div class="tx-12 text-secondary">
            This. Customer purchase frequently in following categories
           </div>
        </div>
        
        <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
          
          <li class="text-center  mg-r-25">
            <span class="d-block m-auto wd-15 ht-15 bg-MasterCard rounded"></span>
            <div class="tx-sans  tx-13  tx-medium tx-color-03"> Food </div>
          </li>
          <li class="text-center  mg-r-25">
            <span class="d-block  m-auto wd-15 ht-15 rounded" style="background-color: #00cccc;"></span>
            <div class="tx-sans    tx-medium tx-color-03 tx-13">
                Electronics</div>
          </li>
          <li class="text-center mg-r-25">
            <span class="d-block m-auto wd-15 ht-15 bg-danger rounded"></span>
            <div class="tx-sans  tx-13  tx-medium tx-color-03"> Fashion </div>
          </li>
          <li class="text-center ">
            <span class="d-block m-auto wd-15 ht-15 bg-primary rounded"></span>
            <div class="tx-sans  tx-13  tx-medium tx-color-03"> Bar </div>
          </li>

        </ul>
      </div>
      <div class="card-body">


        <div class="row" >
          <!-- <div >
            <span
              class="wd-120 wd-md-120 ht-120 ht-md-120 bd bd-2 bd-secondary bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
              <img height="60" width="60" src="assets/img/users.svg" alt="" srcset=""> </span>
            <div class="text-secondary mg-t-5"> No data found </div>
          </div> -->

          <div class="col-md-12" >
            <div >
              <canvas height="110" baseChart #RewardPlot="base-chart"
                [colors]="_HelperService._UserOverviewPlot.RewardColors" [datasets]="CustomerTUC_Class"
             [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                  [plugins]="_HelperService._UserOverviewPlot.Cust_TUCChartTypeBarHOptions.plugins"
                  [options]="_HelperService._UserOverviewPlot.Cust_TUCChartTypeBarHOptions"></canvas>
            </div>
          </div>


        
        </div>
        <!-- <div class="row" *ngIf="CustomerReferrals">
          <div class="text-center  text-muted col-md-12 ht-200 d-flex align-items-center justify-content-center">
            <div class="spinner-border"></div>
          </div>
        </div> -->

      </div>
      <div class="card-footer">
        <div class="col-md-12 d-flex justify-content-between">

            <div class="tx-MasterCard  tx-18 mt-3 tx-rubik"> {{this.TUC_class.Food | number: "1.0-1" || "--" }}
                <div class="tx-12 text-secondary">
                    Food
                 </div>
              </div>

              <div class=" tx-18 mt-3 tx-rubik" style="color: #00cccc;"> {{this.TUC_class.Electronics | number: "1.0-1" || "--" }}
                <div class="tx-12 text-secondary">
                    Electronics
                 </div>
              </div>

              <div class="text-danger tx-18 mt-3 tx-rubik"> {{ this.TUC_class.Fashion | number: "1.0-1" || "--" }} 
                <div class="tx-12 text-secondary">
                    Fashion
                 </div>
              </div>

              <div class=" text-primary  tx-18 mt-3 tx-rubik">  {{ this.TUC_class.Bar| number: "1.0-1" || "--" }} 
                <div class="tx-12 text-secondary">
                    Bar
                 </div>
              </div>
            
            
          </div>
      </div>
      <!-- <div class="card-footer">
        <div class="col-md-12 d-flex justify-content-between">

            <div class="tx-MasterCard  tx-18 mt-3 tx-rubik"> {{this.TUC_class?.Food ? this.TUC_class.Food : 0 | number: "1.0-1"}}
                <div class="tx-12 text-secondary">
                    Food
                 </div>
              </div>

              <div class=" tx-18 mt-3 tx-rubik" style="color: #00cccc;">{{this.TUC_class?.Electronics ? this.TUC_class.Electronics : 0 | number: "1.0-1"}} 
                <div class="tx-12 text-secondary">
                    Electronics
                 </div>
              </div>

              <div class="text-danger tx-18 mt-3 tx-rubik">{{this.TUC_class?.Fashion ? this.TUC_class.Fashion : 0 | number: "1.0-1"}} 
                <div class="tx-12 text-secondary">
                    Fashion
                 </div>
              </div>

              <div class=" text-primary  tx-18 mt-3 tx-rubik">{{this.TUC_class?.Bar ? this.TUC_class.Bar : 0 | number: "1.0-1"}} 
                <div class="tx-12 text-secondary">
                    Bar
                 </div>
              </div>
            
            
          </div>
      </div> -->
     
    </div>
  </div>
 
</div>


<!-- start frequently visited places -->
<div class="row row-xs mg-t-10">
  <div class="col-md-12">


    <div class="card ht-100p">
      <div class="card-header">
        <div> Frequently Visited Places</div>

      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <!-- [restriction]="countryRestriction" -->
            <div class="agm">
              <agm-map style="height: 350px !important;" [latitude]='lat' [longitude]='long' [zoom]='zoom'
                [styles]="_HelperService.darkStyle"  
                [disableDefaultUI]="false">
                <agm-marker *ngFor="let marker of visitedPlaces ; let i = index" [latitude]="marker.Latitude"
                  [longitude]="marker.Longitude"
                  [iconUrl]="{
                    url:  '../../../../../assets/img/Pin.svg',
                    scaledSize: {
                        width: 25,
                        height: 40
                    }
                }"
                (mouseOver)="onMouseOver(infoWindow, $event)" 
                (mouseOut)="onMouseOut(infoWindow, $event)" >
                  <agm-info-window #infoWindow>
                    
                    <div class="card" style="overflow:hidden;">
                      <img class="card-img-top" src="{{marker.IconUrl}}" alt="Card image " style="height:50px ;">
                      <div class="card-body " style="padding: 5px;" >
                        <h5 class="card-title mb-0 ">{{ marker.DisplayName }}</h5>
                        
                       
                      </div>
                    </div>
                  </agm-info-window>
                </agm-marker>



              </agm-map>
            </div>

          </div>


        </div>

      </div>

    </div>
  </div>

</div>
<!-- end frequently visited places -->

<!--Start Card VS Cash Chart-->
<div class="row row-xs mg-t-10">
<div class="col-md-12">
  <div class="card ht-100p">
    <div
      class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">

      <h5 class="mg-b-0 tx-14 "> Card Vs Cash Users
      </h5>
      <!-- <div class="text-secondary tx-12"> Today’s POS Activity </div> -->
    </div>
    <div class="card-body d-flex align-items-center justify-content-center">


      <div class="row">
        <div *ngIf="LoadingChart"
          class="text-center  text-muted col-md-12 ht-200 d-flex align-items-center justify-content-center">
          <div class="spinner-border"></div>
        </div>
        <div *ngIf="!LoadingChart && PaymentModes.length == 0">
          <span
            class="wd-120 wd-md-120 ht-120 ht-md-120 bd bd-2 bd-secondary bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
            <img height="60" width="60" src="assets/img/users.svg" alt="" srcset=""> </span>
          <div class="text-secondary mg-t-5">No Card Vs Cash Users found</div>
        </div>
        <div class="col-md-12" *ngIf="!LoadingChart && PaymentModes.length > 0">
          <div *ngIf="showDailyChart">
            <canvas height="200" baseChart [colors]="_HelperService.ChartConfig.CardCashUserTypeColors"
              [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
              [options]="_HelperService.ChartConfig.DoughnetChart.Options"
              [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false" [data]="PaymentModes"
              [labels]="PaymentModelabel"></canvas>
         
              <!-- [data]="PaymentModes" -->
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer pd-20 d-flex justify-content-between">
      <div>
        <div class="tx-12 tx-bold tx-uppercase"> Card Users</div>
        <div class="tx-18 tx-MasterCard"> {{this.PaymentsMode.CardTransactions || "0"}}</div>
        <small class=" tx-11"> <span class="text-secondary"> Total </span> <b>{{this.PaymentsMode.CashTransactions +
            this.PaymentsMode.CardTransactions}}</b> <span class="text-secondary"> Transactions </span> </small>

      </div>

      <div>
        <div class="tx-12 tx-bold tx-uppercase"> Cash Users</div>
        <div class="tx-18 text-primary"> {{this.PaymentsMode.CashTransactions || "0"}}</div>
        <small class="tx-11"> <span class="text-secondary"> Total </span><b> {{this.PaymentsMode.CashTransactions +
            this.PaymentsMode.CardTransactions}} </b> <span class="text-secondary"> Transactions</span></small>

      </div>
    </div><!-- card-footer -->
  </div>

</div>
</div>
<!--End Card VS Cash Chart-->
<!--End Overview -->