<div class="row">
    <div class="col-md-10 offset-md-1">
        <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value,false)" role="form">
            <div class="card">
                <div class="card-header tx-medium d-flex justify-content-between">
                    <h5>Create New Deal
                    </h5>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                            (click)="Form_AddUser_Close()">{{
                            'Common.Close'
                            | translate }}</button>
                        <div>

                            <!-- <button type="button" class="btn btn-secondary mr-2"
                            (click)="Form_AddUser_Process(Form_AddUser.value,true)"
                            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing || IsStartDateAfterEnd || IsNoDaySelected">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                Save as draft
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                translate
                                }}...
                            </span>
                        </button> -->

                            <button type="submit" class="btn btn-primary"
                                (click)="Form_AddUser.value.OperationType='new'"
                                [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing || IsStartDateAfterEnd || IsNoDaySelected">
                                <span *ngIf="!_HelperService.IsFormProcessing">
                                    Publish Deal
                                </span>
                                <span *ngIf="_HelperService.IsFormProcessing">
                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                    translate
                                    }}...
                                </span>
                            </button>

                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="S2GetMerchants"> Select Merchant </label><span class="text-danger"> *
                                </span>
                                <select2 name="S2GetMerchants" class="full-width" [options]="GetMerchants_Option"
                                    (valueChanged)="GetMerchants_ListChange($event)"></select2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="S2GetCategories"> Select Categories </label><span class="text-danger"> *
                                </span>
                                <select2 name="S2GetCategories" class="full-width" [data]="_S2Categories_Data"
                                    (valueChanged)="GetDealCategories_Selected($event)"></select2>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex ">
                                    <div>
                                        <label>Original Price
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span><i class="fa fa-info-circle text-secondary mg-l-10" aria-hidden="true"
                                                data-toggle="tooltip" data-placement="top"
                                                title="Deal value is original price of Product/Service"></i></span>
                                    </div>
                                </div>
                                <div class="controls">
                                    <!-- (keyup)="CheckValue('ActualPrice'); Demo();" -->
                                    <input type="number" min="1" name="ActualPrice" maxlength="256" class="form-control"
                                        [formControl]="Form_AddUser.controls['ActualPrice']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['ActualPrice'].valid && Form_AddUser.controls['ActualPrice'].touched}">
                                </div>
                                <label class="text-danger" for="ActualPrice"
                                    *ngIf="Form_AddUser.controls['ActualPrice'].hasError('required') && Form_AddUser.controls['ActualPrice'].touched">
                                    Deal Value Required</label>
                                <label class="text-danger" for="ActualPrice"
                                    *ngIf="Form_AddUser.controls['ActualPrice'].hasError('min')">Deal Value Should Not
                                    Be
                                    0</label>
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>Selling Price
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                </div>
                                <div class="controls">
                                    <input type="number" min="0" name="CommissionAmount" maxlength="256"
                                        class="form-control"
                                        (keyup)="Demo();CheckValue('CommissionAmount');CheckPrice();"
                                        [formControl]="Form_AddUser.controls['CommissionAmount']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['CommissionAmount'].valid && Form_AddUser.controls['CommissionAmount'].touched}">
                                </div>
                                <label class="text-danger" for="CommissionAmount"
                                    *ngIf="Form_AddUser.controls['CommissionAmount'].hasError('required') && Form_AddUser.controls['CommissionAmount'].touched">
                                    Selling price Required</label>
                                <label class="text-danger" for="DiscountAmount" *ngIf="actualpricecheck">
                                    Selling price not greater than Original Price</label>
                                <label class="text-secondary">Customer gets discount of :{{custsellingpricedis}}
                                    ({{custsellingpricedisper| number:'1.2-2'}}%) </label>
                            </div>
                            <div class="form-group" style="display: none;">
                                <div class="d-flex ">
                                    <div>
                                        <label>TUC Platform fees
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                </div>
                                <div class="controls">
                                    <input disabled type="text" min="1" name="Amount" maxlength="256"
                                        class="form-control" [(ngModel)]="merchantamt"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                                <label class="text-danger" for="DiscountAmount" *ngIf="catfees1">
                                    Please Select categeory first</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-3 bg-light">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex justify-content-between mb-2">
                                        <span>Selling Price
                                        </span>
                                        <span> <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                            <!-- {{_AmountDistribution.SellingPrice | number: "1.2-2" || "--"}} -->
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-between mb-2">
                                        <span>Customer Will Pay
                                        </span>
                                        <span><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                            <!-- {{_AmountDistribution.SellingPrice
                                            | number: "1.2-2" || "--"}} -->
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-between mb-3 border-bottom pb-3">
                                        <span>Platform Fees
                                            ({{catfees | number: "1.2-2" || "--"}}%)
                                        </span>
                                        <span><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                            <!-- {{_AmountDistribution.TUCAmount
                                            | number: "1.2-2" || "--"}} -->
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <span>Payable To Merchant
                                            <!-- ({{_AmountDistribution.MerchantPercentage | number: "1.2-2" || "--"}}%) -->
                                        </span>
                                        <span><span
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{paybletomerchant
                                            | number: "1.2-2" || "--"}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>Deal Title
                                </label><span class="text-danger"> * </span>
                                <div class="controls">
                                    <input type="text" name="TitleContent" maxlength="128" class="form-control"
                                        [formControl]="Form_AddUser.controls['TitleContent']"
                                        (keyup)="CheckValue('TitleContent')"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['TitleContent'].valid && Form_AddUser.controls['TitleContent'].touched}">
                                </div>
                                <label class="text-danger" for="TitleContent"
                                    *ngIf="Form_AddUser.controls['TitleContent'].hasError('required') && Form_AddUser.controls['TitleContent'].touched">
                                    Enter Deal Title</label>
                                <label class="text-danger" for="TitleContent"
                                    *ngIf="Form_AddUser.controls['TitleContent'].hasError('minlength') || Form_AddUser.controls['TitleContent'].hasError('maxlength')">
                                    Deal Title must be between 2 - 128 characters </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group " *ngIf="Form_AddUser!=undefined">
                                <div> <label>Select Deal Title
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="ui-check tx-16 mg-b-5 pb-0"><input type="radio" name="statusoptions"
                                            (change)="changetitle()" value=1
                                            [formControl]="Form_AddUser.controls['DealTitle']">
                                        <i class="dark-white"></i>
                                        <span id="titleone">
                                            <span class="mg-l-5"
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                            {{Form_AddUser.controls['ActualPrice'].value}}
                                            {{Form_AddUser.controls['TitleContent'].value|| ""}} for


                                            <span class="mg-l-5"
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                            {{ Form_AddUser.controls['CommissionAmount'].value | number:'1.2-2'|| 00}}
                                            at
                                            {{SelectedMerchant.DisplayName}}
                                        </span>
                                    </label>
                                </div>
                                <div class="text-danger mg-b-10"
                                    *ngIf="DealNameExist1&& MerchantNameCheck && DealTitleNameCheck && DiscountAmountCheck && ActualPriceCheck ">
                                    Already Deal Available <a class="cursor-pointer text-primary"
                                        (click)="RouteDealDetails(0)"> Edit Deal <i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                                <div class="text-success mg-b-10"
                                    *ngIf="!DealNameExist1 && MerchantNameCheck && DealTitleNameCheck && DiscountAmountCheck && ActualPriceCheck">
                                    Deal Available </div>
                                <div class="radio"><label id="titletwo" class="ui-check tx-16  mg-b-5 pb-0"><input
                                            type="radio" (change)="changetitle()" name="statusoptions" value=2
                                            [formControl]="Form_AddUser.controls['DealTitle']">
                                        <i class="dark-white"></i>

                                        <span *ngIf="NiraOrPercent.DiscountAmount==0"> <span class="mg-l-5"
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                            {{custsellingpricedis}}</span>
                                        <span *ngIf="NiraOrPercent.DiscountAmount==1"> <span class="mg-l-5"
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                            {{custsellingpricedis}}</span>
                                        off on
                                        {{Form_AddUser.controls['TitleContent'].value|| 00}} at
                                        {{SelectedMerchant.DisplayName}}</label>
                                </div>
                                <div class="text-danger mg-b-10"
                                    *ngIf="DealNameExist2 && MerchantNameCheck && DealTitleNameCheck && DiscountAmountCheck && ActualPriceCheck">
                                    Already Deal Available <a class="cursor-pointer text-primary  mg-l-10"
                                        (click)="RouteDealDetails(1)"> Edit Deal <i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                                <div class="text-success mg-b-10"
                                    *ngIf="!DealNameExist2 && MerchantNameCheck && DealTitleNameCheck && DiscountAmountCheck && ActualPriceCheck">
                                    Deal Available </div>





                                <div class="radio"><label id="titlthree" class="ui-check tx-16  mg-b-5 pb-0"><input
                                            type="radio" (change)="changetitle()" name="statusoptions" value=3
                                            [formControl]="Form_AddUser.controls['DealTitle']">
                                        <i class="dark-white"></i>
                                        <span *ngIf="NiraOrPercent.DiscountAmount==1">
                                            {{custsellingpricedisper| number:'1.2-2'}}</span>
                                        <span *ngIf="NiraOrPercent.DiscountAmount==0">
                                            {{custsellingpricedisper| number:'1.2-2'}}</span>

                                        % off on
                                        {{Form_AddUser.controls['TitleContent'].value|| 00}} at
                                        {{SelectedMerchant.DisplayName}} </label></div>
                                <div class="text-danger"
                                    *ngIf="DealNameExist3 && MerchantNameCheck && DealTitleNameCheck && DiscountAmountCheck && ActualPriceCheck">
                                    Already Deal Available <a class="cursor-pointer text-primary"
                                        (click)="RouteDealDetails(2)"> Edit Deal <i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                                <div class="text-success"
                                    *ngIf="!DealNameExist3 && MerchantNameCheck && DealTitleNameCheck && DiscountAmountCheck && ActualPriceCheck">
                                    Deal Available </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{'System.AddAcquirer.Description' | translate }}
                                </label>
                                <div class="controls">
                                    <textarea type="text" rows="3" name="Description" maxlength="1024"
                                        class="form-control" [formControl]="Form_AddUser.controls['Description']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Description'].valid && Form_AddUser.controls['Description'].touched}"> </textarea>
                                </div>
                                <label class="text-danger" for="Description"
                                    *ngIf="Form_AddUser.controls['Description'].hasError('required') && Form_AddUser.controls['Description'].touched">{{
                                    'System.AddAcquirer.Description_ER_Required' | translate }}</label>
                                <label class="text-danger" for="Description"
                                    *ngIf="Form_AddUser.controls['Description'].hasError('minlength') || Form_AddUser.controls['Description'].hasError('maxlength')">{{
                                    'System.AddAcquirer.Description_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-12 mg-b-10">
                            <label for="" class="tx-medium"> Deal's Banner </label><br>
                            <div class="row">
                                <div class="col-md-6"> <label for="" class="tx-medium mg-r-10"
                                        (click)="removeallimages()"> <i data-feather="trash" style="height: 18px;"> </i>
                                        Remove All</label></div>
                            </div>
                            <fieldset class="form-group">
                                <div class="custom-file fileInputProfileWrap">
                                    <input type="file" fileLimit="2" accept="image/*" min="1" max="3"
                                        (deletedFile)="removeImage()" (change)="onFileChange4($event)"
                                        class="fileInputProfile">
                                    <div class="img-space">

                                        <ng-container *ngIf="isImageSaved; else elseTemplate">
                                            <img [src]="cardImageBase64" />
                                        </ng-container>
                                        <ng-template #elseTemplate>
                                            <img src="./../../assets/plus1.png" class="img-responsive" style="height: 30px;
                                            width: 32px;
                                            margin-top: 61px;">
                                            <label class="text-secondary" style=" margin-left: 23px;
                                            font-size: 12px;">Size - 800 X 400</label>
                                        </ng-template>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div *ngFor='let url of images1; let i = index;let obj of item.images'>
                                    <img [src]="url" height="150" width="200px" style="margin: 3px;">
                                    <br>
                                    <button class="btn  imgbtn"
                                        (click)="RemoveElementFromStringArray(images1[i],images[i])"><i
                                            class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 py-3">
                            <div class="form-group">
                                <label for="  "> Start Date <span class="text-danger"> * </span></label>
                                <div class="controls">
                                    <input type="text" class="form-control " name="daterangeInput" daterangepicker
                                        [options]="_HelperService.AppConfig.DateFuterPickerOptions"
                                        [formControl]="Form_AddUser.controls['StartDate']"
                                        (selected)="ScheduleStartDateRangeChange($event)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 py-3">
                            <div class="form-group">
                                <label for=""> End Date <span class="text-danger"> * </span></label>
                                <div class="controls">
                                    <input type="text" class="form-control " name="daterangeInput" daterangepicker
                                        [options]="_HelperService.AppConfig.DateFuterPickerOptions"
                                        [formControl]="Form_AddUser.controls['EndDate']"
                                        (selected)="ScheduleEndDateRangeChange($event)" />
                                </div>
                                <label class="text-danger" for="daterangeInput" *ngIf="IsStartDateAfterEnd">
                                    Schedule End Date Must Be After Schedule Start</label>
                            </div>
                        </div>

                        <div class="col-md-12 mg-t-10" style="display: none;">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1"
                                        name="isActive" [checked]="IsRunAllTime" (change)="RunAllTimeToogle()">
                                    <label class="custom-control-label" for="customCheck1">Run All Time</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" [hidden]="IsRunAllTime">
                            <div>
                                <label>Deal Runs From <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="form-group d-flex align-items-center">

                                <timepicker [(ngModel)]="DealTimings.Start" [showSpinners]="false"
                                    [ngModelOptions]="{standalone: true}"></timepicker>
                                TO
                                <timepicker [(ngModel)]="DealTimings.End" [showSpinners]="false"
                                    [ngModelOptions]="{standalone: true}"></timepicker>
                            </div>
                        </div>

                        <div class="col-md-12" [hidden]="IsRunAllTime">

                            <div class="form-group">
                                <div> <label>Deal Runs on
                                    </label>
                                </div>
                                <div class=" d-flex align-items-center">
                                    <div class="radio" *ngFor="let item of WeekDays; let i = index">
                                        <label class="ui-check mg-r-25 d-flex align-items-center"><input type="checkbox"
                                                name="statusoptions" [checked]="WeekDays[i].selected"
                                                (click)="toogleWeekDay(i)">
                                            <i class="dark-white"></i> <span class="mg-l-10"> {{WeekDays[i].name}}
                                            </span></label>
                                    </div>
                                </div>
                                <label class="text-danger" for="daterangeInput" *ngIf="IsNoDaySelected">
                                    Select Atleast One Day Of Week</label>
                            </div>
                        </div>

                    </div>



                    <div class="mt-4">
                        <h5 class="mb-1">Deal Purchase & Code Settings </h5>
                        <p class="mb-4 tx-13 text-secondary">Set deal usage policy , terms and conditions</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex">
                                    <div>
                                        <label>Max deals Available
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span><i class="fa fa-info-circle text-secondary mg-l-10" aria-hidden="true"
                                                data-toggle="tooltip" data-placement="top"
                                                title="Max Deal vouchers available to sale"></i></span>
                                    </div>
                                </div>
                                <div class="controls">
                                    <input type="number" min="0" name="MaximumUnitSale" maxlength="256"
                                        class="form-control" [formControl]="Form_AddUser.controls['MaximumUnitSale']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['MaximumUnitSale'].valid && Form_AddUser.controls['MaximumUnitSale'].touched}">
                                </div>
                                <label class="text-danger" for="MaximumUnitSale"
                                    *ngIf="Form_AddUser.controls['MaximumUnitSale'].hasError('required') && Form_AddUser.controls['MaximumUnitSale'].touched">Enter
                                    Max Deals</label>
                                <label class="text-danger" for="MaximumUnitSale"
                                    *ngIf="Form_AddUser.controls['MaximumUnitSale'].hasError('min')">Max Deals
                                    Should Not Be 0</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex">
                                    <div>
                                        <label>Max deals/Person
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span><i class="fa fa-info-circle text-secondary mg-l-10" aria-hidden="true"
                                                data-toggle="tooltip" data-placement="top"
                                                title="Max Deals/Person allowed to sale"></i></span>
                                    </div>
                                </div>

                                <div class="controls">
                                    <div class="input-group ">
                                        <input type="number" min="0" name="MaximumUnitSalePerPerson" maxlength="256"
                                            class="form-control" (keyup)="CheckDealCoupons1();"
                                            [formControl]="Form_AddUser.controls['MaximumUnitSalePerPerson']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['MaximumUnitSalePerPerson'].valid && Form_AddUser.controls['MaximumUnitSalePerPerson'].touched}">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                / person
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <label class="text-danger" for="MaximumUnitSalePerPerson"
                                    *ngIf="Form_AddUser.controls['MaximumUnitSalePerPerson'].hasError('required') && Form_AddUser.controls['MaximumUnitSalePerPerson'].touched">
                                    Enter Maximum Unit Sale Per Person</label>
                                <label class="text-danger" for="MaximumUnitSalePerPerson"
                                    *ngIf="Form_AddUser.controls['MaximumUnitSalePerPerson'].hasError('min')">
                                    Maximum Unit Sale Per Person Should not be 0</label>

                                <label class="text-danger" for="DiscountAmount" *ngIf="maxdealcheckperson">
                                    Deal Per Person not greater than available deal</label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="display: none;">

                        <div class="col-md-12 py-3">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2"
                                        name="isActive2" [checked]="IsValidAllTime" (change)="ValidAllTimeToogle()">
                                    <label class="custom-control-label" for="customCheck2">Redeem all time
                                        <span class="mg-l-2"><i class="fa fa-info-circle text-secondary"
                                                aria-hidden="true" data-toggle="tooltip" data-placement="top" title="It is Deal Redemption time , customer can either redeem deal at anytime or in particular time
                                                "></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" [hidden]="IsValidAllTime">
                            <div>
                                <label>Redeem only in this time <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="form-group d-flex align-items-center">

                                <timepicker [(ngModel)]="ValidTimings.Start" [showSpinners]="false"
                                    [ngModelOptions]="{standalone: true}"></timepicker>
                                TO
                                <timepicker [(ngModel)]="ValidTimings.End" [showSpinners]="false"
                                    [ngModelOptions]="{standalone: true}"></timepicker>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="tx-semibold "> <label>Deal Location
                                </label>
                            </div>
                            <div class="col-md-12 pd-l-0 mt-3">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="allstores"
                                            name="allstores" [checked]="IsAllStores" (change)="AllStoresToogle()">
                                        <label class="custom-control-label" for="allstores">All Stores</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [hidden]="IsAllStores">
                                <label for="  "> Select Stores </label>
                                <select2 name="S2GetMerchants" class="full-width" [options]="GetStores_Option"
                                    (valueChanged)="GetStores_ListChange($event)"></select2>
                            </div>
                        </div>

                    </div>

                    <div class="row">



                        <div class="col-md-12">
                            <div class="form-group">
                                <div> <label class="tx-semibold ">Dealcode Validity Type
                                    </label>
                                </div>
                                <div class="radio float-left mg-r-25">
                                    <label class="ui-check"><input type="radio" name="CouponValidity" value=0
                                            [formControl]="Form_AddUser.controls['CouponValidity']">
                                        <i class="dark-white"></i>
                                        Days After Purchase</label>
                                </div>
                                <div class="radio  float-left mg-r-25"><label class="ui-check"><input type="radio"
                                            name="CouponValidity" value=1
                                            [formControl]="Form_AddUser.controls['CouponValidity']">
                                        <i class="dark-white"></i>
                                        Hours After Purchase</label></div>
                                <div class="radio float-left mg-r-25"><label class="ui-check"><input type="radio"
                                            name="CouponValidity" value=2
                                            [formControl]="Form_AddUser.controls['CouponValidity']">
                                        <i class="dark-white"></i>
                                        Deals End Date</label>
                                </div>
                                <div class="radio float-left"><label class="ui-check"><input type="radio"
                                            name="CouponValidity" value=3
                                            [formControl]="Form_AddUser.controls['CouponValidity']">
                                        <i class="dark-white"></i>
                                        Expire On Particular date</label></div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group" *ngIf="Form_AddUser.controls['CouponValidity'].value == 3">
                                <div class="controls">
                                    <input type="text" class="form-control " name="expiredate" daterangepicker readonly
                                        [options]="_HelperService.AppConfig.DateFuterPickerOptions"
                                        (selected)="ChangeExpiryDate($event)" />
                                </div>
                            </div>
                            <div class="form-group" *ngIf="Form_AddUser.controls['CouponValidity'].value == 1">
                                <div class="controls">
                                    <input type="number" min="0" class="form-control " name="expirehour"
                                        [(ngModel)]="Expiry.Hours" [ngModelOptions]="{standalone: true}" />
                                </div>
                            </div>
                            <div class="form-group" *ngIf="Form_AddUser.controls['CouponValidity'].value == 2">
                                <div class="controls">
                                    <input type="text" readonly class="form-control " placeholder="Select End Date"
                                        [(ngModel)]="EndDatevalue" [ngModelOptions]="{standalone: true}" />
                                </div>
                            </div>
                            <div class="form-group" *ngIf="Form_AddUser.controls['CouponValidity'].value == 0">
                                <div class="controls">
                                    <input type="number" min="0" class="form-control " name="expirydays"
                                        [(ngModel)]="Expiry.Days" [ngModelOptions]="{standalone: true}" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5">
                        <h5 class="mb-1">Usage Policies / Terms & Conditions</h5>
                        <p class="mb-4 tx-13 text-secondary">Set deal usage policy , terms and conditions</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Term & Conditions
                                </label><span class="text-danger"> * </span>
                                <div class="controls">
                                    <textarea type="text" rows="4" name="Terms" maxlength="512" class="form-control"
                                        [formControl]="Form_AddUser.controls['Terms']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Terms'].valid && Form_AddUser.controls['Terms'].touched}"> </textarea>
                                </div>
                                <label class="text-danger" for="Terms"
                                    *ngIf="Form_AddUser.controls['Terms'].hasError('required') && Form_AddUser.controls['Terms'].touched">
                                    Enter Terms and Conditions</label>
                                <label class="text-danger" for="Terms"
                                    *ngIf="Form_AddUser.controls['Terms'].hasError('minlength') || Form_AddUser.controls['Terms'].hasError('maxlength')">
                                    Enter Valid Terms and Conditions</label>
                            </div>
                        </div>
                    </div>







                    <div class="row">




                        <div class="col-md-12 mg-t-25" style="display: none;">
                            <div class="form-group mg-b-0">
                                <label for="" class="tx-semibold "> App Notification Settings Type </label>

                                <div class="custom-control custom-checkbox ">
                                    <input type="checkbox" class="custom-control-input" id="SendNotification"
                                        name="SendNotification" [checked]="SendNotification"
                                        (change)="SendNotificationToggle()">
                                    <label class="custom-control-label" for="SendNotification">Push notification on app
                                        immediately</label>
                                </div>

                                <div class="mg-t-10 text-muted">
                                    Check this box if want to send notification on app
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_AddUser_Close()">{{
                        'Common.Close'
                        | translate }}</button>
                    <div>

                        <button type="button" class="btn btn-secondary mr-2"
                            (click)="Form_AddUser_Process(Form_AddUser.value,true)"
                            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing || IsStartDateAfterEnd || IsNoDaySelected">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                Save as draft
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                translate
                                }}...
                            </span>
                        </button>

                        <button type="submit" class="btn btn-primary" (click)="Form_AddUser.value.OperationType='new'"
                            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing || IsStartDateAfterEnd || IsNoDaySelected">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                Publish Deal
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                translate
                                }}...
                            </span>
                        </button>

                    </div>


                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="2/1"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.DealIcon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.DealIcon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.DealIcon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.DealIcon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img height="200" width="200" [src]="_HelperService._Icon_Cropper_Image"
                                    class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deal Already Exists</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pd-y-30">
                <div class="tx-14"> Deal With same Title already exists, you can reschedule same deal </div>
                <div class="mg-t-5 tx-14"> Do you want to edit same deal ? </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="RouteEditDealDetails()">Edit Same Deal</button>
            </div>
        </div>
    </div>
</div>