.image-wrap {
    padding: 10px;
    border: solid 1px #e0e0e0;
    display: inline-block;
}

.img-space {
    border: dashed 1px #d3d3d3;
    border-radius: 8px;
    background-color: #f2f2f2;
    height: auto;
    width: 100%;
    padding: 10px;
    min-height:175px;
}

.img-space img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.fileInputProfileWrap {
    width: 20%;
    height: auto;
}

.fileInputProfile {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
}
.fileInputProfile[disabled] + .img-space{
    pointer-events: none;
    cursor: not-allowed!important;
}


.container1 .btn {
    position: absolute;
    top: 85%;
    left: 23%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f4f5f8;
    color: #0a0a0a;
    font-size: 11px;
    padding: 5px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container1 {
    position: relative;
    width: 100%;
    max-width: 400px;
  }

  .imgbtn{
    background-color: #f4f5f8;
    color: #0a0a0a;
    font-size: 11px;
    padding: 5px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
