<div class="row">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
        <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
                routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
                [routerLinkActive]="['active']"> Dashboard</a></li>
        <li class="breadcrumb-item cursor-pointer" [routerLinkActive]="['active']"><a
                (click)="_HelperService.NavigateBack()" [routerLinkActive]="['active']">Order</a></li>
        <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary">Order Details</a></li>

    </ol>
    
    <div class="col-md-12 pd-l-0 mg-b-15">
        <div class="card ">
            <div [className]="_HelperService._Assets.Box.header">
                <div class="tx-14 tx-bold d-flex">
                    <div style="margin-left: -10px">
                        <a (click)="_HelperService.NavigateBack()">
                            <span class="tx-primary cursor-pointer"> <i data-feather="chevron-left"> </i> </span>
                        </a> ORDER
                        ID {{_OrderDetail.ReferenceId}} <span class="{{_OrderDetail.StatusB}} mg-l-10">
                            {{_OrderDetail.StatusName || "--"}} </span>
                    </div>
                    <div class="mg-l-20 border-left" style="padding-left: 20px;">
                        <div>
                            <i data-feather="calendar" class="text-secondary" style="height: 15px;"></i>
                            <span>
                                <span class="mg-l-5 tx-12 text-secondary tx-semibold">Order Placed on </span>
                            </span>
                        </div>
                        <div class="tx-12 tx-semibold" style="margin-left: 30px;">
                            {{_OrderDetail.CreateDate | date : 'dd-MM-yyyy hh:mm a' || "--"}}
                        </div>
                    </div>
                    <div class="mg-l-20 border-left" style="padding-left: 20px ;">
                        <div>
                            <img src="../../../../../assets/img/fast-grey.svg" class="text-secondary"
                                style="height: 12px;">
                            <span style="padding-left: 3px;">
                                <span class="mg-l-5 tx-12 text-secondary tx-semibold">Expected Delivery </span>
                            </span>
                        </div>
                        <div class="tx-12 tx-semibold" style="margin-left: 25px;">
                            {{_OrderDetail.DeliveryDate | date : 'dd-MM-yyyy' || "--"}}
                        </div>
                    </div>
                </div>
            </div>

            <div [className]="_HelperService._Assets.Box.headerTitleRight">
                <nav class="nav nav-icon-only mg-l-auto">
                    <button type="button" *ngIf="_OrderDetail.StatusCode == 'orderstatus.new'"
                        class="btn btn-sm btn-primary" data-toggle="modal" (click)="OpenConfimationModal()"> Confirm Order
                    </button>
                </nav>
            </div>
        </div>
    </div>

    <div class="col-md-7 p-0 ">
        <div class="card">
            <div class="card-header bd-b-0">
                <h5> Summary </h5>
            </div>

            <div>
                <table class="table">
                    <!-- <thead>
                        <tr class="text-lsm ">
                            <th> </th>
                            <th>#</th>
                            <th>Product</th>
                            <th class="text-center">Qty</th>
                            <th class="td-amount">Price</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        <tr>

                            <td class="td-status">
                                <img src="{{_OrderDetail.DealIconUrl}}" class="ht-40 wd-40">
                            </td>
                            <td class="text-lsm text-secondary">
                                <span class="text-lsm">
                                    {{ _OrderDetail.DealTitle || "--"}}
                                </span>
                            </td>

                            <td>
                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                <span class="text-lsm">
                                    {{ _OrderDetail.DealPrice || "--"}}

                                </span>
                            </td>
                            <td class="text-center text-lsm">
                                {{ _OrderDetail.ItemCount || "--"}}

                            </td>
                            <!-- <td class="td-amount text-lsm">
                                <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{ _OrderDetail.UnitPrice || "--"}}

                            </td> -->
                            <td class="td-amount">
                                <div class="text-lsm"> <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                    {{((_OrderDetail.DealPrice)*_OrderDetail.ItemCount) | number:'1.2-2' }}
                                </div>
                            </td>
                        </tr>

                        <!-- <tr>
                            <td colspan="5" class="text-right">
                                <strong>Amount</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.Amount | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right ">
                                <strong>Charges</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.Charge | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right ">
                                <strong>Delivery Charges</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.DeliveryCharge | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right ">
                                <strong>Other Charges</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.OtherCharge | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <strong>Discount Amount</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.DiscountAmount | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <strong>Total</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.TotalAmount | number:'1.2-2' }} </td>
                        </tr> -->


                    </tbody>
                </table>
            </div>


        </div>

        <div class="card mg-t-15">
            <div class="card-header bd-b-0">
                <h5> Payment Summary </h5>
            </div>
            <div class="row pd-x-20 pd-b-15">
                <div class="col-md-4 ">
                    <div>Deal Price</div>
                    <div class="mg-t-10">Quantity</div>
                    <div class="mg-t-10">Sub Total</div>
                    <div class="mg-t-10">Shipping Charges</div>
                    <!-- <div class="mg-t-10">Tax</div> -->
                    <!-- <div class="mg-t-10  bg-gray-200">Total paid by Customer</div> -->
                </div>


                <div class="col-md-8 text-right">
                    <div> 
                        <span class="mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_OrderDetail.DealPrice| number:'1.2-2'}}
                    </div>
                    <div class="mg-t-10"> 
                        <span class="mg-r-2" ></span>
                        {{_OrderDetail.ItemCount|| '--'}}
                    </div>
                    <div class="mg-t-10"> 
                        <span class="mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_OrderDetail.SubTotalAmount| number:'1.2-2'}}
                    </div>
                    <div class="mg-t-10"> 
                        <span class="mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_OrderDetail.RateAmount|number:'1.2-2'}}
                    </div>
                    <!-- <div class="mg-t-10"> <span class="mg-r-2"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_OrderDetail.InsuranceAmount | number:'1.2-2'}}
                    </div> -->
                </div>

            </div>

            <div class="col-md-12 bg-gray-200 d-flex" style="padding-top: 10px;padding-bottom: 10px;">
                <div class="col-md-8 tx-semibold" style="padding-left: 5px;">
                    Total Paid by Customer
                </div>
                <div class="col-md-4 tx-semibold"
                    style="float: right;padding-left: 0px;text-align: end;padding-right: 0px;">
                    <span class="mg-r-2"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_OrderDetail.TotalAmount|number:'1.2-2'}}
                </div>
            </div>
        </div>



        <div class="card mg-t-15">
            <div class="card-header pd-b-0 pd-x-20 bd-b-0">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <h6 class="mg-b-2">Activities</h6>
                    <!-- <p class="tx-12 tx-color-03 mg-b-0">Last activity: 2 hours ago</p> -->
                </div>
            </div><!-- card-header -->
            <!-- <div class="timeline-group tx-13" >
                <div class="timeline-item mg-b-15"  *ngFor="let Activity of Trackshipment_Details">
                  <div class="timeline-time">{{Activity.created_at}}</div>
                  <div class="timeline-body">
                    <h6 class="mg-b-0">{{Activity.description}}</h6>
                    <h4>{{Activity.location}}</h4>
                  </div>
                </div>
             
                
              </div> -->

            <div class="timeline-group tx-13" *ngIf="Trackshipment_Details && Trackshipment_Details?.length > 0">
                <div class="timeline-item" *ngFor="let Activity of Trackshipment_Details">
                    <div class="timeline-body">
                        <p class="mg-b-0 tx-12 ">
                            {{Activity.description}}</p>
                        <!-- <p *ngIf="item.location" class="tx-12">
                            {{Activity.location}}</p> -->
                        <p class="x-12 text-secondary" *ngIf="item.created_at">
                            {{Activity.created_at | date:"dd-MM-yyyy" }} | {{item.created_at |
                            date:"hh:mm a" }}
                        </p>
                    </div><!-- timeline-body -->
                </div><!-- timeline-item -->
            </div><!-- timeline-group -->

        </div>

    </div>

    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <h5> Customer</h5>
                <div class="d-flex pd-5">
                    <img src="{{_OrderDetail.CustomerIconUrl}}" alt=""
                        class="img wd-40 ht-40 rounded-circle bd bd-2 pd-1">
                    <div class="mg-l-20 tx-13 tx-medium text-secondary"> {{_OrderDetail.CustomerDisplayName || "--"}}
                    </div>
                </div>
            </div>

            <div>

                <div class="card-body">

                    <div class="mg-t-5 ">
                        <h5>Contact Info </h5>
                        <div class="mg-b-5">
                            <div class="text-secondary"> <i data-feather="phone" class="mg-r-10 istyles"
                                    > </i> {{_OrderDetail.CustomerMobileNumber ||"--"}}
                            </div>
                        </div>
                        <div class="">
                            <div class="text-secondary"><i data-feather="mail" class="mg-r-10 istyles"
                                    ></i> {{_OrderDetail.CustomerEmailAddress ||"--"}}
                            </div>
                        </div>
                    </div>
                    <hr>

                    <h5>Shipping Address </h5>
                    <div class="mg-b-5 text-secondary">
                        <div class=""> {{_OrderDetail.ToAddress}}</div>
                    </div>

                    <hr>

                    <h5>Billing address </h5>
                    <div class="mg-b-5 text-secondary">
                        <div class=""> {{_OrderDetail.ToAddress}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mg-t-15">
            <div class="card-header">
                <h5> Store </h5>
                <div>
                    <div class="">
                        <div class="tx-13 tx-medium"> {{_OrderDetail.MerchantDisplayName || "--"}} </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5>Contact Info </h5>
                <div class="text-secondary">
                    <div>
                        <div class="mb-2">
                            <span class="_500 text-ellipses"> <i data-feather="phone" class="mg-r-10 istyles"
                                    ></i>
                                {{_OrderDetail.MerchantMobileNumber || "--"}}
                            </span>
                        </div>

                    </div>
                </div>
                <div class="text-secondary"><i data-feather="mail" class="mg-r-10 istyles"
                        ></i>
                    <span class="_500 text-ellipses"> {{_OrderDetail.MerchantEmailAddress || "--"}} </span>
                </div>
            </div>
            <div class=" card-footer">
                <h5> Address </h5>
                <div class="mg-b-5 text-secondary">
                    <div class=""> {{_OrderDetail.FromAddress}}</div>
                </div>

            </div>


        </div>




    </div>

</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmation of Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="radio  mr-3">
                    Are you sure about confirm the Order
                </div>


                <!-- <div class="form-group" *ngIf="commnetvar">
                    <label for=""> Comment: </label>

                    <textarea maxlength="256" class="form-control" name="Comment" id="" rows="3" [(ngModel)]="Comment"
                        required>


                    </textarea>
                
                </div> -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" type="submit" class="btn btn-primary" (click)="UpdateStatus()">Yes</button>
            </div>
        </div>
    </div>
</div>