<!-- acquirer--customers--list -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']">
    <a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
      [routerLinkActive]="['active']">
      Dashboard</a>
  </li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']">
    <a class="" [routerLinkActive]="['active']">
      Wallet History</a>
  </li>
  <!-- <li class="breadcrumb-item active" [routerLinkActive]="['active']">
    <a class="" [routerLinkActive]="['active']">
      Customer History</a>
  </li> -->


</ol>
<div class="card ">
  <div class="card-header tx-medium">
    Customer Wallet History
  </div>  
  
    <div class="box-header px-3 pd-t-15 pd-b-8  d-flex align-items-center justify-content-between">
      <div class="form-inline ">
        <div class="input-group input-group-sm mr-3">
          <input type="text" class="form-control" [value]="Customers_Config.SearchParameter" maxlength="100"
            class="form-control" placeholder="{{ 'Common.Search' | translate }}"
            (keyup)="Customers_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="button"
              (click)="Customers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                data-feather="search"></i> </button>
          </div>
        </div>
  
  
      </div>
      <div class="d-flex ml-auto">
        <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
          [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
          <i data-feather="minus-circle"></i> </button>
  
        <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
          <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
            [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
            (valueChanged)="Active_FilterValueChanged( $event )">
          </select2>
        </div>
        <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
          [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
        _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
            data-feather="plus-circle"></i> </button>
  
      </div>
  
      <nav class="nav nav-with-icon tx-20">
        <div class="dropdown dropleft">
          <a href="" class="nav-link mr-2" id="Customers_sdropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
          <div class="dropdown-menu tx-13">
            <form class="wd-250 pd-15">
  
  
              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                <div class="float-right tx-20" *ngIf="Customers_Config.Sort.SortOrder == 'desc'"
                  (click)="Customers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                  <i class="fas fa-sort-alpha-down-alt"></i>
                </div>
                <div class="float-right tx-20" *ngIf="Customers_Config.Sort.SortOrder == 'asc'"
                  (click)="Customers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                  <i class="fas fa-sort-alpha-up-alt"></i>
                </div>
              </h6>
  
              <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                *ngFor="let TItem of Customers_Config.Sort.SortOptions"
                (click)="Customers_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                {{TItem.Name}}
              </a>
  
              <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
            </form>
          </div>
        </div>
        <div class="dropdown dropleft">
          <a href="" class="nav-link" id="Customers_fdropdown" data-toggle="dropdown" aria-haspopup="true"
            (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
          <div class="dropdown-menu pd-0 tx-13">
            <form class="wd-400" *ngIf="ResetFilterControls">
              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
                Filters
              </h6>
              <div class="pd-25" style="overflow: auto; height: 75vh;">
                <div>
                  <div class="form-group">
                    <label>Added</label>
                    <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                      [options]="_HelperService.AppConfig.DateRangeOptions" (click)="openDatepicker($event)"
                      (selected)="Customers_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                  </div>
                </div>
                <div>
                  <div class="form-group">
                    <label>Status</label>
                    <!-- <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                      [data]="Customers_Config.StatusOptions"
                      (valueChanged)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                    </select2> -->
                    <select2 class="wd-100p" [value]="_DataHelperService.statusValue"
                    [data]="_DataHelperService.TUTr_Filter_StatusOptions"
                    (valueChanged)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)"
                    [options]="_DataHelperService.Status_Option">
                  </select2>
  
  
                  </div>
                  <div class="form-group">
                    <label>Source Of Registration</label>
                    <select2 [options]="Customers_Filter_Owners_Option" class="wd-100p"
                      (valueChanged)="Customers_Filter_Owners_Change($event)">
                    </select2>
                  </div>
                </div>
  
  
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="InvoiceRangeMaxAmount">Min TUC Balance</label>
                        <input type="number" min="0" name="InvoiceRangeMinAmount" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                          (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="InvoiceRangeMaxAmount">Max TUC Balance</label>
                        <input type="number" min="0" name="InvoiceRangeMaxAmount" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                          (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="RewardRangeMinAmount">Min Reward Amount</label>
                        <input type="number" name="RewardRangeMinAmount" min="0" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_RewardRangeMinAmount"
                          (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="RewardRangeMaxAmount">Max Reward Amount</label>
                        <input type="number" name="RewardRangeMaxAmount" min="0" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_RewardRangeMaxAmount"
                          (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="mg-b-70">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="controls">
                          <label for="RedeemRangeMinAmount">Min Redeem Amount</label>
                          <input type="number" name="RedeemRangeMinAmount" min="0" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" maxlength="256" class="form-control"
                            [(ngModel)]="TUTr_RedeemRangeMinAmount"
                            (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="controls">
                          <label for="RedeemRangeMaxAmount">Max Redeem Amount</label>
                          <input type="number" name="RedeemRangeMaxAmount" min="0" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" maxlength="256" class="form-control"
                            [(ngModel)]="TUTr_RedeemRangeMaxAmount"
                            (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
                style="position: fixed; bottom:0%; margin-top: -2.5em ;">
                <button type="button" class="btn btn-light btn-sm mr-2"
                  (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                  Reset</button>
                <button type="button" class="btn btn-primary btn-sm "
                  (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
              </div>
            </form>
          </div>
        </div>
        <a class="nav-link ml-2 RefreshColor cursor-pointer  RefreshColorOne "
          (click)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
            data-feather="refresh-cw"></i> </a>
        <a class="nav-link ml-2 RefreshColor cursor-pointer  RefreshColorOne"
          (click)="Customers_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
            data-feather="download"></i> </a>
      </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-0">
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
        (click)="RemoveFilterComponent('Status')">
        {{_HelperService.FilterSnap.StatusName}}
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
        (click)="RemoveFilterComponent('Sort')">
        <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
        {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
        _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
        (click)="RemoveFilterComponent('Other',i)">
        {{TItem.data[0].DisplayName}}
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
  
      <span class="badge badge-pill badge-primary" *ngFor="let TItem of Customers_Config.Filters">{{TItem.Title}}</span>
  
    </div>
  
    <div class="pt-0 pd-l-15 pd-b-15">
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="
      !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
        Balance Range
        [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" + _HelperService.FilterSnap.SalesRange.SalesMax}}]
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="
      !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RewardMin==0 && _HelperService.FilterSnap.SalesRange.RewardMax==10000000)" (click)="RemoveFilterComponent('RewardRange')">
        Reward
        Range [{{_HelperService.FilterSnap.SalesRange.RewardMin + "--" + _HelperService.FilterSnap.SalesRange.RewardMax}}]
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="
      !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RedeemMin==0 && _HelperService.FilterSnap.SalesRange.RedeemMax==10000000)" (click)="RemoveFilterComponent('RedeemRange')">
        Redeem
        Range [{{_HelperService.FilterSnap.SalesRange.RedeemMin + "--" + _HelperService.FilterSnap.SalesRange.RedeemMax}}]
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
    </div>
  
    <div class="card-body p-0 mt-n2">
      <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
        <thead>
          <tr>
            <th class="text-center" *ngIf="ColumnConfig[0].Value">
            </th>
            <th>
              Customer Details
            </th>
            <th>
              Mobile Number
            </th>
            <th class="" *ngIf="ColumnConfig[1].Value">
              Purchase (<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
            </th>
            <!-- <th class="" *ngIf="ColumnConfig[2].Value">
              TUC+ <i class="fa fa-gift" aria-hidden="true"></i>
            </th>
            <th class="" *ngIf="ColumnConfig[3].Value">
              TUC+ Bal
            </th> -->
            <th class="text-right" *ngIf="ColumnConfig[4].Value">
              Reward (<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
  
            </th>
            <th class="text-right" *ngIf="ColumnConfig[5].Value">
              Redeem(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
            </th>
            <th class="text-right" *ngIf="ColumnConfig[6].Value">
              TUC Balance(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
            </th>
            <th class="text-right">
              Last Tr
            </th>
  
            <th class="text-right">
              Added
            </th>
  
  
  
  
  
  
          </tr>
        </thead>
        <tbody>
          <tr class="cursor-pointer mg-y-5" (click)="Customers_RowSelected(TItem)"
            *ngFor="let TItem of Customers_Config.Data  | paginate: { id: 'Customers_Paginator',itemsPerPage: Customers_Config.PageRecordLimit, currentPage: Customers_Config.ActivePage,  totalItems: Customers_Config.TotalRecords }">
            <!-- <td class="text-center" *ngIf="ColumnConfig[0].Value">
              <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span>
            </td> -->
            <td class="text-center" *ngIf="ColumnConfig[0].Value">
              <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
                class="img wd-40 ht-40 rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
            </td>
            <td>
              <div class="tx-14 tx-semibold ">{{TItem.DisplayName || "--"}}</div>
              <small class="tx-12">
                {{TItem.EmailAddress || "--"}}
              </small>
            </td>
            <td>
              {{TItem.MobileNumber || "--"}}
  
            </td>
            <td class="text-right" *ngIf="ColumnConfig[1].Value">
              <div>
                {{TItem.TotalInvoiceAmount}}
              </div>
  
              <div class="tx-12 text-secondary"> Tr. {{TItem.TotalTransaction || "0"}} </div>
            </td>
  
  
            <td class="text-right" *ngIf="ColumnConfig[4].Value">
              <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{TItem.TucRewardAmount || "0" | number: "1.2-2"}}
              <div class="tx-12 text-secondary"> Tr. {{TItem.TucRewardTransaction || "0"}} </div>
            </td>
  
            <td class="text-right " *ngIf="ColumnConfig[5].Value">
              <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
  
              {{TItem.RedeemAmount || "0" | number: "1.2-2"}}
              <div class="tx-12 text-secondary"> Tr. {{TItem.RedeemTransaction || "0"}} </div>
            </td>
  
            <td class=" text-right" *ngIf="ColumnConfig[6].Value">
              <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{TItem.MainBalance || "0" | number: "1.2-2"}}
            </td>
  
  
            <td class="text-right">
              <div class="tx-14 text-muted text-lowercase">
                <!-- {{TItem.LastTransactionDate | date :["dd-MM-yyyy"] || "--" }} -->
                {{TItem.LastTransactionDate  }}
              </div>
              <!-- <div class="tx-14 text-muted text-lowercase">
                {{TItem.LastTransactionDate | date :["hh:mm a"] || "--" }}
              </div> -->
            </td>
  
            <td class="text-secondary text-right">
              <div>{{TItem.CreateDateD || "--"}}</div>
              <div>{{TItem.CreateDateT || "--"}}</div>
  
              <div *ngIf="TItem.RegistrationSourceCode!='regsource.app'">
                <span class="badge  text-white tx-11 mg-l-5 bg-gray-600" >
                  {{TItem.RegistrationSourceName || "--"}}
                </span>
              </div>
  
                <!-- <span class="badge  text-white tx-11 mg-l-5 bg-gray-600" *ngIf="TItem.RegistrationSourceName=='regsource.app' && OwnerAccountTypeId = '109'">
                  {{TItem.RegistrationSourceName || "--"}}-{{TItem.OwnerDisplayName || "--"}}
                </span> -->
  
                <div *ngIf="TItem.RegistrationSourceCode=='regsource.app'"> 
               
  
                  <span class="badge  text-white tx-11 mg-l-5 bg-gray-600"   data-toggle="tooltip" data-placement="top"
                  title="{{TItem.OwnerDisplayName}} " >
                    {{TItem.RegistrationSourceName || "--"}}-{{TItem.OwnerDisplayName| slice:0:10 || "--"}}..
                  </span> 
  
  
              </div>
  
  
            </td>
  
  
  
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer pd-20">
      <span class="mr-3">
        {{ 'Common.Showing' | translate }}
        <span class="bold">{{Customers_Config.ShowingStart}} {{ 'Common.To' | translate }}
          {{Customers_Config.ShowingEnd}}
        </span> {{ 'Common.Of' | translate }} {{Customers_Config.TotalRecords}}
      </span>
      <span>
        {{ 'Common.Show' | translate }}
        <select class="wd-40 " [(ngModel)]="Customers_Config.PageRecordLimit"
          (ngModelChange)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
          <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
            {{TItem}}
          </option>
        </select>
      </span>
      <span class="float-right">
        <pagination-controls id="Customers_Paginator" class="pagination pagination-space"
          (pageChange)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
          nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
        </pagination-controls>
      </span>
    </div>
  </div>