<div class="box mb-0">
    <div class="box-header b-b">
        <h3> {{ TURedeem_Config.Title }}</h3>
    </div>
    <div class="box-tool">
        <ul class="nav nav-xs">
            <li title="{{ 'Common.FilterT' | translate }}" class="nav-item"
                (click)="TURedeem_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.ToggleFilter)"><a
                    class="nav-link"><i class=" {{ 'Common.FilterI' | translate }}"></i></a></li>

            <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item" (click)="
                      TURedeem_ToggleOption(
                        $event,
                        _HelperService.AppConfig.ListToggleOption.Csv
                      )
                    ">
                <a class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a>
            </li>
            <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item"
                (click)="TURedeem_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.Refresh)">
                <a class="nav-link"><i class="{{ 'Common.RefreshI' | translate }}"></i></a>
            </li>
        </ul>
    </div>
    <div class="box-header light lt">
        <div class="form-inline ">
            <div class="input-group  mr-2">
                <input type="text" maxlength="100" [(ngModel)]="TURedeem_Config.SearchParameter" class="form-control"
                    placeholder="{{ 'Common.Search' | translate }}" />
                <div class="input-group-append">
                    <button class="btn white" type="button" (click)="
                    TURedeem_ToggleOption(
                      null,
                      _HelperService.AppConfig.ListToggleOption.Search
                    )
                  ">
                        {{ "Common.Go" | translate }}
                    </button>
                </div>
            </div>
            <div class="form-group mr-2 ">
                <input type="text" class="form-control form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions" (selected)="
                TURedeem_ToggleOption_Date(
                  $event,
                  _HelperService.AppConfig.ListToggleOption.Date
                )
              " />
            </div>
            <div class="form-group mr-2">
                <select2 [options]="_HelperService.S2_Sort_Option" [data]="TURedeem_Config.SortExpressionOption"
                    [value]="TURedeem_Config.SortExpression"
                    (valueChanged)="TURedeem_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
                </select2>
            </div>
            <div class="form-group mr-2">
                <select2 [options]="_DataHelperService.S2_Status_Option" [data]="TURedeem_Config.StatusOptions"
                    [value]="TURedeem_Config.Status"
                    (valueChanged)="TURedeem_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
            </div>
        </div>
        <div class="mt-2" *ngIf="TURedeem_Config.ToggleFilter">
            <div class="form-inline ">
                <div class="form-group mr-2 mb-2">
                    <select2 [options]="TURedeem_Filter_TransactionType_Option"
                        (valueChanged)="TURedeem_Filter_TransactionTypes_Change($event)">
                    </select2>
                </div>
                <div class="form-group mr-2 mb-2">
                    <select2 [options]="TURedeem_Filter_Store_Option"
                        (valueChanged)="TURedeem_Filter_Stores_Change($event)">
                    </select2>
                </div>
                <div class="form-group mr-2 mb-2">
                    <select2 [options]="TURedeem_Filter_Bank_Option"
                        (valueChanged)="TURedeem_Filter_Banks_Change($event)">
                    </select2>
                </div>
                <div class="form-group mr-2 mb-2">
                    <select2 [options]="TURedeem_Filter_Provider_Option"
                        (valueChanged)="TURedeem_Filter_Providers_Change($event)">
                    </select2>
                </div>
                <div class="form-group mr-2 mb-2">
                    <select2 [options]="TURedeem_Filter_Issuer_Option"
                        (valueChanged)="TURedeem_Filter_Issuers_Change($event)">
                    </select2>
                </div>
            </div>
            <div>

            </div>
          
        </div>
    </div>
    <div class="box-body p-0">
        <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
            <thead>
                <tr>
                    <th>Type</th>
                    <th class="td-amount">Sale</th>
                    <th class="td-amount">Reward</th>
                    <th class="td-date">Date</th>
                    <th>Merchant</th>
                    <th>Done By</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="
                  let TItem of (TURedeem_Config.Data
                    | paginate
                      : {
                          id: 'TURewardMerchant',
                          itemsPerPage: TURedeem_Config.PageRecordLimit,
                          currentPage: TURedeem_Config.ActivePage,
                          totalItems: TURedeem_Config.TotalRecords
                        })
                ">


                    <td>
                        <div class="text-xs _500 text-uppercase">
                            {{ TItem.TypeName || "--" }}
                        </div>
                    </td>
                    <td class="td-amount _600 text-warning">
                        <div>
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{ TItem.InvoiceAmount | number: "1.2-2" || "--" }}
                        </div>

                    </td>
                    <td class="td-amount _600 ">
                        <div>{{ TItem.UserAmount | number: "1.2-2" || "--" }}</div>

                    </td>
                    <td class="td-date">
                        <div>{{ TItem.TransactionDateD || "--" }}</div>
                        <div class="text-xs _500 ">
                            <span class="text-muted float-left w-60">{{ TItem.TransactionDateT || "--" }}</span>
                            <span class="text-lowercase _500 "
                                [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
                        </div>
                    </td>
                    <td>
                        <div>{{ TItem.ParentDisplayName || "--" }}</div>
                        <div class="text-xs _500 text-muted">
                            {{ TItem.SubParentDisplayName || "--" }}
                        </div>
                    </td>

                    <td>
                        <div>{{ TItem.CreatedByDisplayName || "--" }}
                        </div>
                        <div class="text-xs _500 text-muted">
                            {{ TItem.AcquirerDisplayName || "--" }}
                            <span>- {{ TItem.ProviderDisplayName || "--" }}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="  p-4">
            <span class="mr-1">
                {{ "Common.Showing" | translate }}
                <span class="bold">{{ TURedeem_Config.ShowingStart }}
                    {{ "Common.To" | translate }}
                    {{ TURedeem_Config.ShowingEnd }}
                </span>
                {{ "Common.Of" | translate }} {{ TURedeem_Config.TotalRecords }}
            </span>
            |
            <span class="ml-1">
                {{ "Common.Show" | translate }}
                <select class=" w-64 " [(ngModel)]="TURedeem_Config.PageRecordLimit" (ngModelChange)="
                  TURedeem_ToggleOption(
                    $event,
                    _HelperService.AppConfig.ListToggleOption.Limit
                  )
                ">
                    <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                        {{ TItem }}
                    </option>
                </select>
                {{ "Common.Entries" | translate }}
            </span>
            <span class="float-right">
                <pagination-controls id="TURewardMerchant" (pageChange)="
                  TURedeem_ToggleOption(
                    $event,
                    _HelperService.AppConfig.ListToggleOption.Page
                  )
                " nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
                </pagination-controls>
            </span>
        </div>
    </div>
</div>