<!-- acquirer--merchants--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a (click)="_HelperService.NavigateBack()"
            class="cursor-pointer text-primary" [routerLinkActive]="['active']">User Admin Management
        </a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">User
            Admin Details
        </a></li>
</ol>

<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class=" ">
        <div class="row">
            <div class="col-md-4 ">
                <div class="card pd-25 ht-100p">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="avatar avatar-xxl" *ngIf="_AdminDetails.StatusName == 'Active'">
                                <img src="{{_AdminDetails.IconUrl}}" class="rounded-10" alt="">
                            </div>
                            <div class="avatar avatar-xxl avatar-offline" *ngIf="_AdminDetails.StatusName != 'Active'">
                                <img (error)="_HelperService.defaultImage($event)" src="{{_AdminDetails.IconUrl}}"
                                    class="rounded-10" alt="">
                            </div>

                        </div><!-- col -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-20 mg-sm-t-0 mg-lg-t-25">
                            <h5 class="mg-b-2 tx-spacing--1">{{_AdminDetails.DisplayName || '--'}}</h5>
                            <p class="tx-color-03 mg-b-5">{{_AdminDetails.MobileNumber || '--'}}</p>
                            <span class="badge badge-primary tx-uppercase"> {{_AdminDetails.RoleName || '--'}} </span>
                        </div><!-- col -->


                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-20">
                            <button class="btn btn-outline-secondary  tx-12 mg-r-10"
                                *ngIf="_AdminDetails.StatusName != 'Suspended' &&  _AdminDetails.StatusName != 'Inactive'"
                                (click)="BlockAccount()"> In-Active </button>
                            <button class="btn btn-outline-success tx-12 mg-r-10"
                                *ngIf="_AdminDetails.StatusName == 'Suspended' || _AdminDetails.StatusName == 'Inactive'"
                                (click)="UnblockBlockAccount()"> Active </button>

                            <button class="btn btn-primary btn-sm" (click)="Form_EditUser_Show()"> Edit Profile
                            </button>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-20">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Last
                                Activity On
                            </label>
                            <ul class="list-unstyled profile-info-list">

                                <li> <i data-feather="calendar"></i>
                                    <a class="text-lowercase"> {{_AdminDetails.LastActivityDate| date :["dd-MM-yyyy
                                        hh:mm a"] || "--" }}</a>
                                    <!-- <a>{{_AdminDetails.LastActivityDate || "--"}}</a> -->
                                </li>



                            </ul>
                        </div><!-- col -->

                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Email Id
                            </label>
                            <ul class="list-unstyled profile-info-list">

                                <li> <i data-feather="mail"></i> <a>{{_AdminDetails.EmailAddress || "--"}}</a>
                                </li>



                            </ul>
                        </div><!-- col -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Gender
                            </label>
                            <ul class="list-unstyled profile-info-list">
                                <li>

                                    <span *ngIf="_AdminDetails.GenderName == 'Female'" class="mg-r-15 text-secondary">
                                        <i class="fas fa-venus tx-20 mg-r-2"></i></span>
                                    <span *ngIf="_AdminDetails.GenderName == 'Male'" class="mg-r-15 text-secondary"> <i
                                            class="fas fa-mars tx-20 mg-r-2"></i></span>
                                    <a>{{_AdminDetails.GenderName || '--'}}</a>
                                </li>



                            </ul>
                        </div><!-- col -->

                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Date of
                                Birth
                            </label>
                            <ul class="list-unstyled profile-info-list">

                                <li> <i data-feather="calendar"></i> <a>{{_AdminDetails.DateOfBirthS || "--"}}</a>
                                </li>



                            </ul>
                        </div><!-- col -->

                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Reporting
                                to
                            </label>
                            <ul class="list-unstyled profile-info-list">

                                <li> <i data-feather="user"></i> <a>{{_AdminDetails.OwnerDisplayName || "--"}}</a>
                                </li>



                            </ul>
                        </div><!-- col -->

                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Address
                            </label>
                            <ul class="list-unstyled profile-info-list">

                                <!-- <li> <i data-feather="map-pin"></i> <a>{{_AdminDetails.Address || "--"}}</a>
                                </li> -->

                                <li class=""> <span class="" style="width: 24px !important; width: 24px !important;"><i
                                            data-feather="map-pin"></i> </span> <span class="tx-color-01 tx-13 mg-l-10"
                                        style="width:90%; word-wrap:break-word; display:inline-block;">{{_Address.Address
                                        || "--"}}</span>
                                </li>

                            </ul>
                        </div><!-- col -->

                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label
                                class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Registered
                                On
                            </label>
                            <ul class="list-unstyled profile-info-list">
                                <li> <i data-feather="calendar"></i>
                                    <a class="text-lowercase">{{_AdminDetails.CreateDateS  || "--" }}</a>
                                    <!-- <a>{{_AdminDetails.CreateDateS || '--'}}</a> -->
                                </li>
                                <li> <i data-feather="user"></i>
                                    <a>{{_AdminDetails.CreatedByDisplayName || '--'}}</a>
                                </li>

                            </ul>
                        </div><!-- col -->
                        <!-- <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Added
                                by
                            </label>
                            <ul class="list-unstyled profile-info-list">
                                <li> <i data-feather="calendar"></i>
                                    <a>{{_AdminDetails.CreatedByDisplayName || '--'}}</a>
                                </li>

                            </ul>
                        </div> -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Updated
                                On
                            </label>
                            <ul class="list-unstyled profile-info-list">
                                <li> <i data-feather="calendar"></i>
                                    <a class="text-lowercase">{{_AdminDetails.ModifyDateS | date :["dd-MM-yyyy hh:mm a"]
                                        || "--" }}</a>
                                    <!-- <a>{{_AdminDetails.ModifyDateS || '--'}}</a> -->
                                </li>
                                <li> <i data-feather="user"></i>
                                    <a>{{_AdminDetails.ModifyByDisplayName || '--'}}</a>
                                </li>

                            </ul>
                        </div><!-- col -->
                        <!-- <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Updated
                                By
                            </label>
                            <ul class="list-unstyled profile-info-list">
                               

                            </ul>
                        </div> -->
                    </div><!-- row -->

                </div><!-- profile-sidebar -->
            </div>

            <div class="col-md-8">
                <div class="card ">
                    <ul class="nav nav-line  mg-x-15 pd-t-10" id="myTab" role="tablist">
                        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                            <!-- <a class="nav-link" id="Stores-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loginhistory/_AdminDetails.ReferenceKey/_AdminDetails.ReferenceId}}"
                                role="tab" aria-controls="home" aria-selected="true"> Login History</a> -->

                            <a class="nav-link" id="Stores-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                                (click)="MerchantsList_RowSelected()" role="tab" aria-controls="home"
                                aria-selected="true"> Login History</a>
                        </li>
                        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                            <a class="nav-link" id="Stores-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                                role="tab" aria-controls="home" aria-selected="true"> Login History</a>
                        </li>
                        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                            <a class="nav-link" id="Stores-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PassWordSecurity}}"
                                role="tab" aria-controls="home" aria-selected="true"> Login History</a>
                        </li>


                    </ul>

                    <router-outlet></router-outlet>

                </div><!-- media-body -->

            </div>

        </div>





    </div><!-- media -->
</div>


<div id="Account_Edit_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
    style="overflow-y: scroll !important;">
    <div class="modal-dialog modal-dialog-centered dropdown modal-lg">
        <div class="modal-content">
            <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Update Admin User</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12">
                        <div class="modal-header pd-y-8  px-0 tx-uppercase tx-14 bd-2">
                            Personal Information
                        </div>

                        <div class="row">
                            <div class="col-md-12 mg-b-10 ">
                                <input-file (deletedFile)="removeImage()" class="d-flex wd-20p m-auto rounded-50"
                                    inputId="input-file" placeholder="" #inputfile>
                                    <i data-feather="airplay"> </i>
                                </input-file>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label class="tx-13 ">First Name<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" placeholder="First Name" name="FirstName" minlength="1"
                                            maxlength="100" class="form-control"
                                            [formControl]="Form_EditUser.controls['FirstName']"
                                            [(ngModel)]="_AdminDetails.FirstName"
                                            [ngClass]="{'is-invalid':!Form_EditUser.controls['FirstName'].valid && Form_EditUser.controls['FirstName'].touched}">
                                    </div>

                                    <label class="text-danger" for="FirstName"
                                        *ngIf="Form_EditUser.controls['FirstName'].hasError('required') && Form_EditUser.controls['FirstName'].touched">
                                        First Name Required
                                    </label>
                                    <!-- <label class="text-danger" for="RewardPercentage"
                                        *ngIf="Form_EditUser.controls['Value'].hasError('min') || Form_EditUser.controls['Value'].hasError('max')">
                                        reward percentage must be between 0 to 100
                                    </label> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="tx-13 ">Last Name<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" placeholder="Last Name" name="LastName" minlength="1"
                                            maxlength="100" class="form-control"
                                            [formControl]="Form_EditUser.controls['LastName']"
                                            [(ngModel)]="_AdminDetails.LastName"
                                            [ngClass]="{'is-invalid':!Form_EditUser.controls['LastName'].valid && Form_EditUser.controls['LastName'].touched}">
                                    </div>

                                    <label class="text-danger" for="LastName"
                                        *ngIf="Form_EditUser.controls['LastName'].hasError('required') && Form_EditUser.controls['LastName'].touched">
                                        Last name required
                                    </label>
                                    <!-- <label class="text-danger" for="LastName"
                                        *ngIf="Form_EditUser.controls['LastName'].hasError('min') || Form_EditUser.controls['LastName'].hasError('max')">
                                        reward percentage must be between 0 to 100
                                    </label> -->
                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="tx-13 ">Date Of Birth</label>
                                    <div class="controls">
                                        <input type="text" class="form-control  form-daterangepicker"
                                            name="daterangeInput" daterangepicker [options]="DateOfBirthPickerOptions"
                                            (selected)="DOB_ToggleOption($event)" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div> <label>{{'System.Users.Gender' | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="radio float-left mr-3">
                                        <label class="ui-check"><input type="radio" name="gender"
                                                [value]="_HelperService.AppConfig.Gender.Male"
                                                [(ngModel)]="_AdminDetails.GenderCode"
                                                [formControl]="Form_EditUser.controls['GenderCode']">
                                            <i class="dark-white"></i>
                                            {{ 'System.Users.Male' | translate }}</label>
                                    </div>
                                    <div class="radio float-left  mr-3"><label class="ui-check"><input type="radio"
                                                name="gender" [value]="_HelperService.AppConfig.Gender.Female"
                                                [(ngModel)]="_AdminDetails.GenderCode"
                                                [formControl]="Form_EditUser.controls['GenderCode']">
                                            <i class="dark-white"></i>
                                            {{ 'System.Users.Female' | translate }}</label></div>

                                    <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                                                [value]="_HelperService.AppConfig.Gender.Other"
                                                [(ngModel)]="_AdminDetails.GenderCode"
                                                [formControl]="Form_EditUser.controls['GenderCode']">
                                            <i class="dark-white"></i>
                                            {{ 'System.Users.Other' | translate }}</label></div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-header pd-y-8 px-0  tx-uppercase tx-14 mg-b-15 bd-2">
                            Contact Information
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="tx-13 ">Email Address</label>
                                        <div class="controls">
                                            <input type="text" placeholder="Email Address" name="EmailAddress"
                                                minlength="1" maxlength="100" class="form-control"
                                                [formControl]="Form_EditUser.controls['EmailAddress']"
                                                [(ngModel)]="_AdminDetails.EmailAddress"
                                                [ngClass]="{'is-invalid':!Form_EditUser.controls['EmailAddress'].valid && Form_EditUser.controls['EmailAddress'].touched}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="tx-13 ">Contact Number<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <div class='row'>
                                                <div class="col-md-3 pd-r-0 text-gray">
                                                    <input type="text" placeholder="" name="Code" minlength="1"
                                                        maxlength="100" class="form-control"
                                                        [(ngModel)]="this._HelperService.CountryCode"
                                                        [formControl]="Form_EditUser.controls['Code']"
                                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['Code'].valid && Form_EditUser.controls['Code'].touched}">
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" placeholder="Mobile Number" name="MobileNumber"
                                                        minlength="1" maxlength="100" class="form-control"
                                                        [formControl]="Form_EditUser.controls['MobileNumber']"
                                                        [(ngModel)]="_AdminDetails.MobileNumber"
                                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['MobileNumber'].valid && Form_EditUser.controls['MobileNumber'].touched}">
                                                </div>
                                            </div>
                                        </div>
                                        <label class="text-danger" for="MobileNumber"
                                            *ngIf="Form_EditUser.controls['MobileNumber'].hasError('required') && Form_EditUser.controls['MobileNumber'].touched">
                                            Contact Number Required
                                        </label>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="tx-13 ">Address<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <textarea type="text" rows="5" [(ngModel)]="_AdminDetails.Address"
                                            [formControl]="Form_EditUser.controls['Address']" placeholder="Address"
                                            name="Address" minlength="1" maxlength="100"
                                            class="form-control"> </textarea>
                                    </div>
                                    <!-- <label class="text-danger" for="Address" *ngIf="_AdminDetails.Address==null">
                                            Address Required
                                        </label> -->
                                </div>
                            </div>
                        </div>
                        <div class="modal-header pd-y-8 px-0 tx-uppercase tx-14 mg-b-15 bd-2">
                            Role and reporting
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Assign Roles<span class="text-danger">*</span></label>
                                    <select2 [options]="GetRoles_Option" class="wd-100p" *ngIf="OwnerDisplayName"
                                        (valueChanged)="GetRoles_ListChange($event)">
                                    </select2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Assign Reporting Manager<span class="text-danger">*</span></label>
                                    <select2 [options]="GetReporting_Option" class="wd-100p" *ngIf="OwnerDisplayName"
                                        (valueChanged)="GetReporting_ListChange($event)">
                                    </select2>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div>
                                        <label>{{ "System.Users.AccountStatus" | translate
                                            }}<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="radio float-left mr-3">
                                        <label class="ui-check"><input type="radio" name="statusoptions"
                                                [value]="_HelperService.AppConfig.Status.Active"
                                                [(ngModel)]="_AdminDetails.StatusCode"
                                                [formControl]="Form_EditUser.controls['StatusCode']" />
                                            <i class="dark-white"></i>
                                            {{ "Common.Active" | translate }}</label>
                                    </div>
                                    <div class="radio  mr-3">
                                        <label class="ui-check"><input type="radio" name="statusoptions"
                                                [value]="_HelperService.AppConfig.Status.Inactive"
                                                [(ngModel)]="_AdminDetails.StatusCode"
                                                [formControl]="Form_EditUser.controls['StatusCode']" />
                                            <i class="dark-white"></i>
                                            {{ "Common.Inactive" | translate }}</label>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="Form_EditUser_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_EditUser.value.OperationType = 'new'"
                        [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Update" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
<div id="Add_User_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-lg modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Admin User</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 mg-b-10 ">
                                <input-file class="d-flex wd-20p m-auto rounded-50" inputId="input-file" placeholder="">
                                    <i data-feather="airplay"> </i>
                                </input-file>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label class="tx-13 ">First Name<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" placeholder="First Name" name="FirstName" minlength="1"
                                            maxlength="100" class="form-control"
                                            [formControl]="Form_AddUser.controls['FirstName']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['FirstName'].valid && Form_AddUser.controls['FirstName'].touched}">
                                    </div>

                                    <label class="text-danger" for="FirstName"
                                        *ngIf="Form_AddUser.controls['FirstName'].hasError('required') && Form_AddUser.controls['FirstName'].touched">
                                        First Name Required
                                    </label>
                                    <!-- <label class="text-danger" for="RewardPercentage"
                                        *ngIf="Form_AddUser.controls['Value'].hasError('min') || Form_AddUser.controls['Value'].hasError('max')">
                                        reward percentage must be between 0 to 100
                                    </label> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="tx-13 ">Last Name<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" placeholder="Last Name" name="LastName" minlength="1"
                                            maxlength="100" class="form-control"
                                            [formControl]="Form_AddUser.controls['LastName']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['LastName'].valid && Form_AddUser.controls['LastName'].touched}">
                                    </div>

                                    <label class="text-danger" for="LastName"
                                        *ngIf="Form_AddUser.controls['LastName'].hasError('required') && Form_AddUser.controls['LastName'].touched">
                                        Last name required
                                    </label>
                                    <!-- <label class="text-danger" for="LastName"
                                        *ngIf="Form_AddUser.controls['LastName'].hasError('min') || Form_AddUser.controls['LastName'].hasError('max')">
                                        reward percentage must be between 0 to 100
                                    </label> -->
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="tx-13 ">Email Address</label>
                                    <div class="controls">
                                        <input type="text" placeholder="Email Address" name="EmailAddress" minlength="1"
                                            maxlength="100" class="form-control"
                                            [formControl]="Form_AddUser.controls['EmailAddress']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="tx-13 ">Contact Number<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <div class='row'>
                                            <div class="col-md-3 pd-r-0 text-gray">
                                                <input type="text" placeholder="" name="Code" minlength="1"
                                                    maxlength="100" class="form-control"
                                                    [(ngModel)]="this._HelperService.CountryCode"
                                                    [formControl]="Form_AddUser.controls['Code']"
                                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['Code'].valid && Form_AddUser.controls['Code'].touched}">
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="Mobile Number" name="MobileNumber"
                                                    minlength="1" maxlength="100" class="form-control"
                                                    [formControl]="Form_AddUser.controls['MobileNumber']"
                                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                            </div>
                                        </div>
                                    </div>
                                    <label class="text-danger" for="MobileNumber"
                                        *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">
                                        Contact Number Required
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Assign Roles<span class="text-danger">*</span></label>
                                    <select2 [options]="GetRoles_Option" class="wd-100p"
                                        (valueChanged)="GetRoles_ListChange($event)">
                                    </select2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Assign Reporting Manager<span class="text-danger">*</span></label>
                                    <select2 [options]="GetRoles_Option" class="wd-100p"
                                        (valueChanged)="GetRoles_ListChange($event)">
                                    </select2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div> <label>{{'System.Users.Gender' | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="radio float-left mr-3">
                                        <label class="ui-check"><input type="radio" name="gender"
                                                [value]="_HelperService.AppConfig.Gender.Male"
                                                [(ngModel)]="_AdminDetails.GenderCode"
                                                [formControl]="Form_AddUser.controls['GenderCode']">
                                            <i class="dark-white"></i>
                                            {{ 'System.Users.Male' | translate }}</label>
                                    </div>
                                    <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                                                [value]="_HelperService.AppConfig.Gender.Female"
                                                [(ngModel)]="_AdminDetails.GenderCode"
                                                [formControl]="Form_AddUser.controls['GenderCode']">
                                            <i class="dark-white"></i>
                                            {{ 'System.Users.Female' | translate }}</label></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div>
                                        <label>{{ "System.Users.AccountStatus" | translate
                                            }}<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="radio float-left mr-3">
                                        <label class="ui-check"><input type="radio" name="statusoptions"
                                                [value]="_HelperService.AppConfig.Status.Active"
                                                [(ngModel)]="_AdminDetails.StatusCode"
                                                [formControl]="Form_AddUser.controls['StatusCode']" />
                                            <i class="dark-white"></i>
                                            {{ "Common.Active" | translate }}</label>
                                    </div>
                                    <div class="radio  mr-3">
                                        <label class="ui-check"><input type="radio" name="statusoptions"
                                                [value]="_HelperService.AppConfig.Status.Inactive"
                                                [(ngModel)]="_AdminDetails.StatusCode"
                                                [formControl]="Form_AddUser.controls['StatusCode']" />
                                            <i class="dark-white"></i>
                                            {{ "Common.Inactive" | translate }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_AddUser.value.OperationType = 'new'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Update" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="Add_Role_Content" class="modal fade " data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="FormAddRole" (ngSubmit)="FormAddRole_Process(FormAddRole.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Admin Role</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label class="tx-13 ">Role title<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" placeholder="Role title" name="Name" minlength="1"
                                            maxlength="100" class="form-control"
                                            [formControl]="FormAddRole.controls['Name']"
                                            [ngClass]="{'is-invalid':!FormAddRole.controls['Name'].valid && FormAddRole.controls['Name'].touched}">
                                    </div>
                                    <label class="text-danger" for="Name"
                                        *ngIf="FormAddRole.controls['Name'].hasError('required') && FormAddRole.controls['Name'].touched">
                                        Name Required
                                    </label>
                                    <!-- <label class="text-danger" for="RewardPercentage"
                                        *ngIf="Form_AddUser.controls['Value'].hasError('min') || Form_AddUser.controls['Value'].hasError('max')">
                                        reward percentage must be between 0 to 100
                                    </label> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Add Department<span class="text-danger">*</span></label>
                                        <select2 [options]="GetRoles_Option" class="wd-100p"
                                            (valueChanged)="GetRoles_ListChange($event)">
                                        </select2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Select Feature Access<span class="text-danger">*</span></label>
                                        <select2 [options]="GetRoles_Option" class="wd-100p"
                                            (valueChanged)="GetRoles_ListChange($event)">
                                        </select2>
                                    </div>
                                </div>
                            </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div> <label>{{'Common.Status' | translate }}<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="radio float-left mr-3">
                                        <label class="ui-check"><input type="radio" name="gender"
                                                [value]="_HelperService.AppConfig.Status.Active"
                                                [formControl]="FormAddRole.controls['StatusCode']">
                                            <i class="dark-white"></i>
                                            {{ 'Common.Active' | translate }}</label>
                                    </div>
                                    <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                                                [value]="_HelperService.AppConfig.Status.Inactive"
                                                [formControl]="FormAddRole.controls['StatusCode']">
                                            <i class="dark-white"></i>
                                            {{ 'Common.Inactive' | translate }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="FormAddRole_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="FormAddRole.value.OperationType = 'new'"
                        [disabled]="!FormAddRole.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Update" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>