<!-- acquirer--merchants--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
            Provider</a></li>
</ol>

<div class="d-sm-flex justify-content-between">
    <span class="tx-semibold tx-lg-24 mg-t-5">
        <span class="text-muted">
            <a class="cursor-pointer" (click)="_HelperService.NavigateBack()"><i data-feather="chevron-left"></i></a>
        </span>
        {{_MerchantDetails.DisplayName}}</span>
</div>
<div class="bd-b-0 pd-b-20 pd-t-10">

    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist" [routerLinkActive]="['active']">

        <div class="d-flex flex-wrap ">
            <li class="nav-item cursor-pointer">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PTSPPanel.PtspAccount}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Provider Details</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="ptspoverview">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PTSPPanel.Dashboard}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="ptspmerchant">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PTSPPanel.Merchants}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Merchant</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="ptspterminal">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PTSPPanel.Terminals}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Terminal</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="ptspstores">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PTSPPanel.Stores}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Stores</a>
            </li>

       
      
        <li class="nav-item cursor-pointer pnvalid" data-permission="ptspreportanalysis" [routerLinkActive]="['active']">
            <a class="nav-link" href="#" data-toggle="dropdown">Report & Analysis<i data-feather="chevron-down"
                    class="wd-15 ht-15"></i></a>
            <div class="dropdown-menu tx-13">
        <li class="nav-item pd-l-25 pnvalid" data-permission="ptspactivity" [routerLinkActive]="['active']"><a
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PTSPPanel.Activity}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                [routerLinkActive]="['active']" class="nav-link">
                <span>Activity</span></a></li>

        <li class="nav-item pnvalid" data-permission="ptsptransaction" [routerLinkActive]="['active']"><a
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PTSPPanel.SalesHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                [routerLinkActive]="['active']" class="nav-link">
                <span>Transaction</span></a></li>

                <!-- <li class="nav-item" [routerLinkActive]="['active']"><a
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PTSPPanel.CommissionHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    [routerLinkActive]="['active']" class="nav-link">
                    <span>Commission History</span></a></li> -->

</div>
</li>

<li class="nav-item cursor-pointer pnvalid" data-permission="ptspcommhistory">
    <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PTSPPanel.CommissionHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
        role="tab" aria-controls="home" aria-selected="true">Commission History</a>
</li>

</div>



</ul>
</div>


<router-outlet></router-outlet>