<div class="row">
    <div class="col-md-10">
        <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value,false)" role="form">
            <div class="card">
                <div class="card-header">
                    <img class="br" (error)="_HelperService.defaultImage($event)" src="{{_DealDetails.ImageUrl}}"
                        class="img wd-100 ht-50 float-right bd-2"> <span class="">
                        <h5>{{_DealDetails.Title}}</h5>
                    </span>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="S2GetMerchants"> Select Merchant </label> <span class="text-danger"> *
                                </span>
                                <select2 *ngIf="showPickers" name="S2GetMerchants" class="full-width"
                                    [options]="GetMerchants_Option" (valueChanged)="GetMerchants_ListChange($event)">
                                </select2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="S2GetCategories"> Select Categories </label> <span class="text-danger"> *
                                </span>
                                <select2 *ngIf="showPickers" name="S2GetCategories" class="full-width"
                                    [options]="GetCategories_Option" (valueChanged)="GetCategories_ListChange($event)">
                                </select2>
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>{{'System.AddAcquirer.Description' | translate }}
                                </label>
                                <div class="controls">
                                    <textarea type="text" rows="3" name="Description" maxlength="1256"
                                        [(ngModel)]="_DealDetails.Description" class="form-control"
                                        [formControl]="Form_EditUser.controls['Description']"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['Description'].valid && Form_EditUser.controls['Description'].touched}"> </textarea>
                                </div>
                                <label class="text-danger" for="Description"
                                    *ngIf="Form_EditUser.controls['Description'].hasError('required') && Form_EditUser.controls['Description'].touched">{{
                                            'System.AddAcquirer.Description_ER_Required' | translate }}</label>
                                <label class="text-danger" for="Description"
                                    *ngIf="Form_EditUser.controls['Description'].hasError('minlength') || Form_EditUser.controls['Description'].hasError('maxlength')">{{
                                            'System.AddAcquirer.Description_ER_Length' | translate }}</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>Deal Value
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip"
                                                data-placement="top"
                                                title="Deal value is original price of Product/Service"></i></span>
                                    </div>
                                </div>
                                <div class="controls">
                                    <input type="number" min="0" name="ActualPrice" maxlength="256" class="form-control"
                                        [formControl]="Form_EditUser.controls['ActualPrice']"
                                        [(ngModel)]="_DealDetails.ActualPrice"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['ActualPrice'].valid && Form_EditUser.controls['ActualPrice'].touched}">
                                </div>
                                <label class="text-danger" for="ActualPrice"
                                    *ngIf="Form_EditUser.controls['ActualPrice'].hasError('required') && Form_EditUser.controls['ActualPrice'].touched">
                                    Deal Value Required</label>
                                <!-- <label class="text-danger" for="ActualPrice"
                                    *ngIf="Form_EditUser.controls['ActualPrice'].hasError('minlength') || Form_EditUser.controls['ActualPrice'].hasError('maxlength')">{{
                                                'System.AddAcquirer.Description_ER_Length' | translate }}</label> -->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>Customer Discount
                                        </label><span class="text-danger"> * </span><i class="fa fa-info-circle mg-l-10"
                                            aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Total discount offered to customer.
                                    "></i>
                                    </div>
                                    <div>
                                        <div class="radio">
                                            <label class="ui-check tx-16 float-right"><input type="radio"
                                                    [ngModelOptions]="{standalone: true}" name="statusopt" value=0
                                                    [(ngModel)]="NiraOrPercent.DiscountAmount">
                                                <i class="dark-white mg-x-3"></i>%</label>
                                            <label class="ui-check tx-16 float-right mg-r-10"><input type="radio"
                                                    [ngModelOptions]="{standalone: true}" name="statusopt" value=1
                                                    [(ngModel)]="NiraOrPercent.DiscountAmount">
                                                <i class="dark-white mg-x-3"></i><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <input type="number" min="0" name="DiscountAmount" maxlength="256"
                                        class="form-control" [formControl]="Form_EditUser.controls['DiscountAmount']"
                                        [(ngModel)]="_DealDetails.DiscountAmount"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['DiscountAmount'].valid && Form_EditUser.controls['DiscountAmount'].touched}">
                                </div>
                                <label class="text-danger" for="DiscountAmount"
                                    *ngIf="Form_EditUser.controls['DiscountAmount'].hasError('required') && Form_EditUser.controls['DiscountAmount'].touched">
                                    Enter Discount</label>
                                <!-- <label class="text-danger" for="DiscountAmount"
                                    *ngIf="Form_EditUser.controls['DiscountAmount'].hasError('minlength') || Form_EditUser.controls['DiscountAmount'].hasError('maxlength')">
                                    Enter valid Discount</label> -->
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>Commission
                                        </label><span class="text-danger"> * </span><i class="fa fa-info-circle mg-l-10"
                                            aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                            title="ThankUCash Commission amount"></i>
                                    </div>
                                    <div>
                                        <div class="radio">
                                            <label class="ui-check tx-16 float-right"><input type="radio"
                                                    [ngModelOptions]="{standalone: true}" name="commission" value=0
                                                    [(ngModel)]="NiraOrPercent.CommissionAmount">
                                                <i class="dark-white mg-x-3"></i>%</label>
                                            <label class="ui-check tx-16 float-right mg-r-10"><input type="radio"
                                                    [ngModelOptions]="{standalone: true}" name="commission" value=1
                                                    [(ngModel)]="NiraOrPercent.CommissionAmount">
                                                <i class="dark-white mg-x-3"></i><span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <input type="number" min="0" name="CommissionAmount" maxlength="256"
                                        class="form-control" [formControl]="Form_EditUser.controls['CommissionAmount']"
                                        [(ngModel)]="_DealDetails.CommissionAmount"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['CommissionAmount'].valid && Form_EditUser.controls['CommissionAmount'].touched}">
                                </div>
                                <label class="text-danger" for="CommissionAmount"
                                    *ngIf="Form_EditUser.controls['CommissionAmount'].hasError('required') && Form_EditUser.controls['CommissionAmount'].touched">
                                    Enter Commission Amount</label>
                                <!-- <label class="text-danger" for="CommissionAmount"
                                    *ngIf="Form_EditUser.controls['CommissionAmount'].hasError('minlength') || Form_EditUser.controls['CommissionAmount'].hasError('maxlength')">
                                    Enter Amount</label> -->
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>Customer Pays
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip"
                                                data-placement="top"
                                                title="Total amount customer payable to purchase this deal"></i></span>
                                    </div>
                                </div>
                                <div class="controls">
                                    <input type="number" min="0" name="Amount" maxlength="256"
                                        class="form-control" [formControl]="Form_EditUser.controls['Amount']"
                                        [(ngModel)]="_DealDetails.Amount"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['Amount'].valid && Form_EditUser.controls['Amount'].touched}">
                                </div>
                                <label class="text-danger" for="Amount"
                                    *ngIf="Form_EditUser.controls['Amount'].hasError('required') && Form_EditUser.controls['Amount'].touched">
                                    Amount Required
                                </label>
                                <!-- <label class="text-danger" for="Description"
                                    *ngIf="Form_EditUser.controls['SellingPrice'].hasError('minlength') || Form_EditUser.controls['SellingPrice'].hasError('maxlength')">{{
                                                'System.AddAcquirer.Description_ER_Length' | translate }}</label> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 px-0">
                        <div class="form-group">
                            <label>Deal Title
                            </label> <span class="text-danger"> * </span>
                            <div class="controls">
                                <input type="text" name="Title" maxlength="256" class="form-control"
                                    [formControl]="Form_EditUser.controls['Title']" [(ngModel)]="_DealDetails.Title"
                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['Title'].valid && Form_EditUser.controls['Title'].touched}">
                            </div>
                            <label class="text-danger" for="Title"
                                *ngIf="Form_EditUser.controls['Title'].hasError('required') && Form_EditUser.controls['Title'].touched">
                                Enter Title</label>
                            <label class="text-danger" for="Title"
                                *ngIf="Form_EditUser.controls['Title'].hasError('minlength') || Form_EditUser.controls['Title'].hasError('maxlength')">
                                Enter Valid Title</label>
                        </div>
                    </div>


                    <!-- <div class="col-md-12 px-0">
                        <div class="form-group" *ngIf="Form_EditUser!=undefined">
                            <div> <label>Set Your Deal Title
                                </label>
                            </div>
                            <div class="radio">
                                <label class="ui-check tx-16"><input type="radio" name="statusoptions" value=0
                                        [formControl]="Form_EditUser.controls['DealTitle']">
                                    <i class="dark-white"></i>
                                    {{Form_EditUser.controls['ActualPrice'].value}}
                                    {{Form_EditUser.controls['Title'].value|| 00}} for
                                    {{Form_EditUser.controls['SellingPrice'].value|| 00}} at
                                    {{SelectedMerchant.DisplayName}}
                                </label>
                            </div>
                            <div class="radio"><label class="ui-check"><input type="radio" name="statusoptions" value=1
                                        [formControl]="Form_EditUser.controls['DealTitle']">
                                    <i class="dark-white"></i>
                                    {{Form_EditUser.controls['DiscountAmount'].value}} off on
                                    {{Form_EditUser.controls['Title'].value|| 00}}</label>
                            </div>
                            <div class="radio"><label class="ui-check"><input type="radio" name="statusoptions" value=2
                                        [formControl]="Form_EditUser.controls['DealTitle']">
                                    <i class="dark-white"></i>
                                    {{Form_EditUser.controls['DiscountAmount'].value/Form_EditUser.controls['ActualPrice'].value
                                *100}} % off on
                                    {{Form_EditUser.controls['Title'].value|| 00}}</label></div>
                        </div>
                    </div> -->


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>Max deals Available
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip"
                                                data-placement="top"
                                                title="Max Deal vouchers available to sell"></i></span>
                                    </div>
                                </div>
                                <div class="controls">
                                    <input type="number" min="0" name="MaximumUnitSale" maxlength="256"
                                        class="form-control" [formControl]="Form_EditUser.controls['MaximumUnitSale']"
                                        [(ngModel)]="_DealDetails.MaximumUnitSale"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['MaximumUnitSale'].valid && Form_EditUser.controls['MaximumUnitSale'].touched}">
                                </div>
                                <label class="text-danger" for="MaximumUnitSale"
                                    *ngIf="Form_EditUser.controls['MaximumUnitSale'].hasError('required') && Form_EditUser.controls['MaximumUnitSale'].touched">MaximumUnitSale</label>
                                <label class="text-danger" for="MaximumUnitSale"
                                    *ngIf="Form_EditUser.controls['MaximumUnitSale'].hasError('minlength') || Form_EditUser.controls['MaximumUnitSale'].hasError('maxlength')">MaximumUnitSale</label>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>Max Deal/Day
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip"
                                                data-placement="top"
                                                title="Number of Max deals/day allowed to sell"></i></span>
                                    </div>
                                </div>
                                <div class="controls">
                                    <input type="number" min="0" name="MaximumUnitSalePerDay" maxlength="256"
                                        class="form-control" [(ngModel)]="_DealDetails.MaximumUnitSalePerDay"
                                        [formControl]="Form_EditUser.controls['MaximumUnitSalePerDay']"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['MaximumUnitSalePerDay'].valid && Form_EditUser.controls['MaximumUnitSalePerDay'].touched}">
                                </div>
                                <label class="text-danger" for="MaximumUnitSalePerDay"
                                    *ngIf="Form_EditUser.controls['MaximumUnitSalePerDay'].hasError('required') && Form_EditUser.controls['MaximumUnitSalePerDay'].touched">
                                    Maximum Sale Per Day</label>
                                <label class="text-danger" for="MaximumUnitSalePerDay"
                                    *ngIf="Form_EditUser.controls['MaximumUnitSalePerDay'].hasError('minlength') || Form_EditUser.controls['MaximumUnitSalePerDay'].hasError('maxlength')">
                                    Maximum Sale Per Day</label>
                            </div>
                        </div>

                    </div>

                    <!-- <div class="col-md-12">
                        <label for=""> Select Deal Title </label>
                    </div> -->


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>Max deals Per Person
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip"
                                                data-placement="top"
                                                title="Max Deals/Person allowed to sell"></i></span>
                                    </div>
                                </div>
                                <div class="controls">
                                    <input type="number" min="0" name="MaximumUnitSalePerPerson" maxlength="256"
                                        class="form-control" [(ngModel)]="_DealDetails.MaximumUnitSalePerPerson"
                                        [formControl]="Form_EditUser.controls['MaximumUnitSalePerPerson']"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['MaximumUnitSalePerPerson'].valid && Form_EditUser.controls['MaximumUnitSalePerPerson'].touched}">
                                </div>
                                <label class="text-danger" for="MaximumUnitSalePerPerson"
                                    *ngIf="Form_EditUser.controls['MaximumUnitSalePerPerson'].hasError('required') && Form_EditUser.controls['MaximumUnitSalePerPerson'].touched">
                                    Maximum Sale Per Day</label>
                                <label class="text-danger" for="MaximumUnitSalePerPerson"
                                    *ngIf="Form_EditUser.controls['MaximumUnitSalePerPerson'].hasError('minlength') || Form_EditUser.controls['MaximumUnitSalePerPerson'].hasError('maxlength')">
                                    Maximum Sale Per Day</label>

                            </div>

                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="col-md-12 mg-b-10">
                            <input-file (deletedFile)="removeImage()" class=" wd-20p  rounded-50" inputId="input-file"
                                placeholder="">
                                <i data-feather="airplay"> </i>
                            </input-file>
                        </div>
                        <div class="col-md-6">

                            <div class="col-md-12 px-0 mg-t-25">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="allstores"
                                            name="allstores" [checked]="IsAllStores" (change)="AllStoresToogle()">
                                        <label class="custom-control-label" for="allstores">All Stores</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" [hidden]="IsAllStores">
                                <label for="  "> Select Stores </label>
                                <select2 name="S2GetMerchants" class="full-width" [options]="GetStores_Option"
                                    (valueChanged)="GetStores_ListChange($event)"></select2>
                            </div>

                        </div>
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-12">
                            <div class="form-group mg-b-0">
                                <label for="" class="tx-semibold "> Schedule & Setting </label>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="  "> Start Date</label>
                                <div class="controls">
                                    <input type="text" class="form-control " name="daterangeInput" daterangepicker
                                        readonly [options]="_HelperService.AppConfig.DateFuterPickerOptions"
                                        [formControl]="Form_EditUser.controls['StartDate']"
                                        [(ngModel)]="_DealDetails.StartDate"
                                        (selected)="ScheduleStartDateRangeChange($event)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""> End Date </label>
                                <div class="controls">
                                    <input type="text" class="form-control " name="daterangeInput" daterangepicker
                                        readonly [options]="_HelperService.AppConfig.DateFuterPickerOptions"
                                        [formControl]="Form_EditUser.controls['EndDate']"
                                        [(ngModel)]="_DealDetails.EndDate"
                                        (selected)="ScheduleEndDateRangeChange($event)" />
                                </div>
                            </div>
                        </div>



                        <div class="col-md-12 mg-t-10">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1"
                                        name="isActive" [checked]="IsRunAllTime" (change)="RunAllTimeToogle()">
                                    <label class="custom-control-label" for="customCheck1">Run All Time</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" [hidden]="IsRunAllTime">
                            <div>
                                <label>Deal Runs From <span class="text-danger"> * </span>
                                </label>
                            </div>
                            <div class="form-group d-flex align-items-center">

                                <timepicker [(ngModel)]="DealTimings.Start" [showSpinners]="false"
                                    [ngModelOptions]="{standalone: true}"></timepicker>
                                TO
                                <timepicker [(ngModel)]="DealTimings.End" [showSpinners]="false"
                                    [ngModelOptions]="{standalone: true}"></timepicker>
                            </div>
                        </div>

                        <div class="col-md-12  ">
                            <div class="form-group mg-b-0">
                                <label for="" class="tx-semibold "> Usage Policies </label>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="form-group">
                                <div> <label>Redeem On
                                    </label>
                                </div>
                                <div class=" d-flex align-items-center">
                                    <div class="radio" *ngFor="let item of WeekDays; let i = index">
                                        <label class="ui-check mg-r-25 d-flex align-items-center"><input type="checkbox"
                                                name="statusoptions" [checked]="WeekDays[i].selected"
                                                (click)="toogleWeekDay(i)">
                                            <i class="dark-white"></i> <span class="mg-l-10"> {{WeekDays[i].name}}
                                            </span></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2"
                                        name="isActive2" [checked]="IsValidAllTime" (change)="ValidAllTimeToogle()">
                                    <label class="custom-control-label" for="customCheck2">Redeem All Time
                                        <span class="mg-l-2"><i class="fa fa-info-circle" aria-hidden="true"
                                                data-toggle="tooltip" data-placement="top" title="It is Deal Redemption time , customer can either redeem deal at anytime or in particular time
                                            "></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" [hidden]="IsValidAllTime">
                            <div>
                                <label>Redeem only in this time <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="form-group d-flex align-items-center">

                                <timepicker [(ngModel)]="ValidTimings.Start" [showSpinners]="false"
                                    [ngModelOptions]="{standalone: true}"></timepicker>
                                TO
                                <timepicker [(ngModel)]="ValidTimings.End" [showSpinners]="false"
                                    [ngModelOptions]="{standalone: true}"></timepicker>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div> <label>Deal Validity Type<span class="text-danger">*</span>
                                    </label>
                                </div>
                                <div class="radio float-left mg-r-25">
                                    <label class="ui-check"><input type="radio" name="CouponValidity" value=0
                                            [formControl]="Form_EditUser.controls['CouponValidity']">
                                        <i class="dark-white"></i>
                                        Days After Purchase</label>
                                </div>
                                <div class="radio  float-left mg-r-25"><label class="ui-check"><input type="radio"
                                            name="CouponValidity" value=1
                                            [formControl]="Form_EditUser.controls['CouponValidity']">
                                        <i class="dark-white"></i>
                                        Hours After Purchase</label></div>
                                <div class="radio float-left mg-r-25"><label class="ui-check"><input type="radio"
                                            name="CouponValidity" value=2
                                            [formControl]="Form_EditUser.controls['CouponValidity']">
                                        <i class="dark-white"></i>
                                        Deals End Date</label>
                                </div>
                                <div class="radio float-left"><label class="ui-check"><input type="radio"
                                            name="CouponValidity" value=3
                                            [formControl]="Form_EditUser.controls['CouponValidity']">
                                        <i class="dark-white"></i>
                                        Expire On Particular date</label></div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group" *ngIf="Form_EditUser.controls['CouponValidity'].value == 3">
                                <div class="controls">
                                    <input type="text" class="form-control " name="expiredate" daterangepicker readonly
                                        [options]="_HelperService.AppConfig.DateFuterPickerOptions"
                                        (selected)="ChangeExpiryDate($event)" />
                                </div>
                            </div>
                            <div class="form-group" *ngIf="Form_EditUser.controls['CouponValidity'].value == 1">
                                <div class="controls">
                                    <input type="number" min="0" class="form-control " name="expirehour"
                                        [(ngModel)]="Expiry.Hours" [ngModelOptions]="{standalone: true}" />
                                </div>
                            </div>
                            <div class="form-group" *ngIf="Form_EditUser.controls['CouponValidity'].value == 0">
                                <div class="controls">
                                    <input type="number" min="0" class="form-control " name="expirydays"
                                        [(ngModel)]="Expiry.Days" [ngModelOptions]="{standalone: true}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mg-t-25">
                            <div class="form-group">
                                <label>Term & Conditions
                                </label> <span class="text-danger"> * </span>
                                <div class="controls">
                                    <textarea type="text" rows="4" name="Terms" maxlength="256" class="form-control"
                                        [formControl]="Form_EditUser.controls['Terms']" [(ngModel)]="_DealDetails.Terms"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['Terms'].valid && Form_EditUser.controls['Terms'].touched}"> </textarea>
                                </div>
                                <label class="text-danger" for="Terms"
                                    *ngIf="Form_EditUser.controls['Terms'].hasError('required') && Form_EditUser.controls['Terms'].touched">
                                    Enter Terms and Conditions</label>
                                <label class="text-danger" for="Terms"
                                    *ngIf="Form_EditUser.controls['Terms'].hasError('minlength') || Form_EditUser.controls['Terms'].hasError('maxlength')">
                                    Enter Terms and Conditions</label>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="card-footer">
                    <div>



                        <button type="submit" class="float-right btn btn-primary"
                            (click)="Form_EditUser.value.OperationType='new'"
                            [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                Publish Deal
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                        }}...
                            </span>
                        </button>
                        <button type="button" class="float-right btn btn-secondary mr-2"
                            (click)="Form_EditUser_Process(Form_EditUser.value,true)">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                Update Draft
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                }}...
                            </span>
                        </button>

                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="Form_EditUser_Close()">{{
                            'Common.Close'
                            | translate }}
                    </button>

                    <!-- <button type="submit" class="float-right btn btn-primary" (click)="Form_EditUser.value.OperationType='new'"
                        [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.Save' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                        }}...
                        </span>
                    </button> -->




                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="2/1"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.DealIcon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.DealIcon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.DealIcon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.DealIcon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                            translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <button class="btn btn-primary" (click)='printform()'>Print Form Now</button> -->

<!-- <timepicker [(ngModel)]="mytime" [showSpinners]="false"></timepicker> -->