.colorbl {
    color: #4285F4
}

.f-25 {
    font-size: 25px;
}

.pt-1 {
    padding-top: 1px;
}

.pr-3 {
    padding-right: 3px;
}

.pt-3 {
    padding-top: 3px;
}

.mtn-25 {
    margin-top: -25px;
}

.mbn-10 {
    margin-bottom: -10px;
}

.wd-40p {
    width: 40%;
}

.wd-20p {
    width: 20%;
}

.wd-60p {
    width: 60%;
}

.wd-25p {
    width: 25%;
}

.pd-15rem {
    padding: 0.75rem 0;
}

.h-85 {
    height: 85px;
}

.pt-20 {
    padding-top: 20px;
}

.pr-25 {
    padding-top: 25px;
}
.ml-n10{
    margin-left: -10px;
}