<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']">
        <a class="text-primary" routerLink="" [routerLinkActive]="['active']">
            Overview
        </a>
    </li>
    <li class="breadcrumb-item active">
        <a class="cursor-pointer" [routerLinkActive]="['active']" (click)="_HelperService.NavigateBack()">
            Ongoing orders
        </a>
    </li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']">
        <a class="" [routerLinkActive]="['active']">
            Invoice
        </a>
    </li>
</ol>

<div class="">
    <div class="content">
        <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <div class="">
                        <h4 class="mg-b-5 ml-n10">
                            <span>
                                <a (click)="_HelperService.NavigateBack()"
                                    class="text-muted cursor-pointer pt-1 colorbl">
                                    <i data-feather="chevron-left"></i>
                                </a>
                            </span>
                            Invoice {{_InvoiceDetail.InvoiceNumber}}
                        </h4>
                    </div>
                    <p class="mg-b-0 tx-color-03">Issued on {{_InvoiceDetail.IssuedDate}}</p>
                </div>
                <div class="mg-t-20 mg-sm-t-0">
                    <button class="btn btn-white" printSectionId="print-section" ngxPrint>
                        <i data-feather="printer" class="mg-r-5"></i>
                        Print
                    </button>
                    <button class="btn btn-white mg-l-5" (click)="IsEmail()">
                        <i data-feather="mail" class="mg-r-5"></i>
                        Email
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr class="mtn-25 mbn-10">
    <div id="print-section">


        <div class="content tx-13" id="content">
            <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed From</label>
                        <h6 class="tx-15 mg-b-10">{{_InvoiceDetail.CustomerDetails.Name}}</h6>
                        <p class="mg-b-0">{{_InvoiceDetail.CustomerDetails.Address}}</p>
                        <p class="mg-b-0">Email: {{_InvoiceDetail.CustomerDetails.EmailAddress}}</p>
                    </div>
                    <div class="col-sm-6 tx-right d-none d-md-block">
                        <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">
                            Invoice Number
                        </label>
                        <h1 class="tx-normal tx-color-04 mg-b-10 tx-spacing--2">{{_InvoiceDetail.InvoiceNumber}}</h1>
                    </div>
                    <div class="col-sm-6 col-lg-8 mg-t-40 mg-sm-t-0 mg-md-t-40">
                        <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed To</label>
                        <h6 class="tx-15 mg-b-10">{{_InvoiceDetail.MerchantDetails.Name}}</h6>
                        <p class="mg-b-0">{{_InvoiceDetail.MerchantDetails.Address}}</p>
                        <p class="mg-b-0">Email: {{_InvoiceDetail.MerchantDetails.EmailAddress}}</p>
                    </div>

                    <div class="table-responsive mg-t-40">
                        <table class="table table-invoice bd-b">
                            <thead>
                                <tr>
                                    <th class="wd-40p pd-15rem">Product</th>
                                    <th class="wd-20p">Qty</th>
                                    <th class="wd-20p">Unit Price</th>
                                    <th class="wd-25p text-right">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-bottom border-top" *ngFor="let item of _InvoiceDetail.Products">
                                    <td class="wd-40p pt-20">
                                        <div>{{item.ProductTitle}}</div>
                                    </td>
                                    <td class="wd-20p pt-20">{{item.Quantity}} </td>
                                    <td class="wd-20p">
                                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                        {{item.ItemAmount}}
                                    </td>
                                    <td class="wd-25p tx-right pr-25 pt-20">
                                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol">
                                        </span>
                                        {{item.ItemAmount}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="container mg-t-10">
            <div class="row">
                <div class="col-md-2 offset-md-10">
                    <div class="row">

                        <div class="col-6">
                            <div>Sub-Total</div>
                            <div>Tax(5%)</div>
                            <div>Discount</div>
                            <div>Delivery</div>
                            <div>Total</div>
                        </div>
                        <div class="col-6">
                            <div>
                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                {{_InvoiceDetail.PaymentDetails.SubTotalAmount}}
                            </div>
                            <div>
                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                {{_InvoiceDetail.PaymentDetails.ComissionAmount}}
                            </div>
                            <div>
                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                {{_InvoiceDetail.PaymentDetails.DiscountAmount}}
                            </div>
                            <div>
                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                {{_InvoiceDetail.PaymentDetails.DeliveryCharges}}
                            </div>
                            <div>
                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                {{_InvoiceDetail.PaymentDetails.TotalAmount}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="Form_Email_Address" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="Form_Email" (ngSubmit)="Form_Email_Process(Form_Email.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title ml-3">Delivery DealDay Invoice</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12">
                        <span>Please enter the email to send the details</span>
                        <div class="row mg-t-10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Send To:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="email" name="bussinessEmail" class="form-control"
                                            placeholder="Enter Email Address"
                                            [formControl]="Form_Email.controls['bussinessEmail']"
                                            [ngClass]="{'is-invalid':!Form_Email.controls['bussinessEmail'].valid &&Form_Email.controls['bussinessEmail'].touched}" />
                                    </div>
                                    <label class="text-danger" for="bussinessEmail" *ngIf="Form_Email.controls['bussinessEmail'].hasError('required') 
                                    &&Form_Email.controls['bussinessEmail'].touched">
                                        Email is required
                                    </label>
                                    <label class="text-danger" for="bussinessEmail"
                                        *ngIf="Form_Email.controls['bussinessEmail'].hasError('minlength')  || Form_Email.controls['bussinessEmail'].hasError('maxlength')">
                                        Enter Valid email address
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer mg-t-75 ">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_Email_Close()">
                        {{ "Common.Cancel" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="Form_Email.value.OperationType = 'new'"
                        [disabled]="!Form_Email.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            Send
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>