<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg">
              <div class="avatar avatar-xxl"><img [style.border-color]="_MerchantDetails.StatusC"
                  src="{{ _MerchantDetails.IconUrl }}" class="rounded-10 bd bd-2" alt=""></div>
            </div><!-- col -->
          </div><!-- row -->

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mg-t-20 mg-b-7 mg-sm-t-0 mg-lg-t-25">
              <h6 class="tx-20 tx-lg-17 tx-semibold mg-b-4">
                {{_MerchantDetails.DisplayName || "--"}}<span class="tx-color-03 tx-14 tx-normal">
                </span>
              </h6>
              <div>
                <span class="text-lowercase mg-b-10" [ngClass]="_MerchantDetails.StatusB">{{
                  _MerchantDetails.StatusName || "--" }}</span>
                <span class=" mg-b-10  badge tx-indigo mg-l-10 tx-uppercase"
                  style="background-color: #C1B9FE !important;">Prepaid</span>
              </div>
              <!-- <div class="badge badge-primary tx-11 rounded-5 mg-r-10 pd-y-5 mg-b-15">Premium</div> -->
              <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline">
                <h2 class="tx-12 tx-lg-12 tx-uppercase tx-color-03 tx-normal lh-2 mg-b-5">
                  Merchant Id : <span class="tx-normal tx-color-01"> {{_MerchantDetails.AccountCode || "--"}} </span>
                </h2>
              </div>
              <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline mg-b-25">
                <h2 class="tx-12 tx-lg-12 tx-uppercase tx-color-03 tx-normal lh-2">
                  <!-- <span class="mg-r-5 tx-teal"> <i style="height: 18px; width: 18px;;" data-feather="users"></i> </span> -->
                  Account Code : <span class="tx-normal tx-color-01"> {{_MerchantDetails.AccountCode || "--"}} </span>
                </h2>


              </div>
              <!-- <div class="mg-b-40 d-flex justify-content-start">

                <button class="pnvalid" data-permission="merchantdelete" class="btn btn-outline-danger tx-12 mg-r-10" *ngIf="_MerchantDetails.StatusName != 'Blocked'"
                  (click)="BlockAccount()"> Block </button>
                <button class="pnvalid"  data-permission="merchantdelete" class="btn btn-outline-success tx-12 mg-r-10" *ngIf="_MerchantDetails.StatusName == 'Blocked'"
                  (click)="UnblockBlockAccount()"> Unblock </button>


                <button class="pnvalid" data-permission="merchantupdate" class="btn btn-primary tx-12" (click)="EditMerchant()"> Edit Merchant </button>
              </div> -->
              <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline ">
                <div class="col-sm-4 col-md-4 col-lg-4 pd-l-0">
                  <div class=" text-left stores cursor-pointer " (click)="StoreRoute()">
                    <div class="text-left">
                      <h3 class="tx-bold tx-20 tx-rubik mg-b-2 mg-r-5 lh-1 d-flex align-items-center">
                        {{_MerchantDetails.Stores||0.0}} <span class="mg-l-10"> <i
                            style="height: 18 px !important; width: 18px !important;" data-feather="chevron-right"> </i>
                        </span> </h3>
                    </div>
                    <p class="tx-11 tx-uppercase tx-color-03 mg-b-0 route-hover"> Stores</p>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 pd-l-0 d-flex justify-content-between">
                  <div class=" text-left Terminals cursor-pointer" (click)="CashierRoute()">
                    <div class="text-left">
                      <h3 class="tx-bold tx-20 tx-rubik mg-b-2 mg-r-5 lh-1  d-flex align-items-center">
                        {{_MerchantDetails.Cashiers ||0.0}} <span class="mg-l-10"> <i
                            style="height: 18 px !important; width: 18px !important;" data-feather="chevron-right"> </i>
                        </span> </h3>
                    </div>
                    <p class="tx-11 tx-uppercase tx-color-03 mg-b-0 route-hover">Cashiers</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 pd-l-0">
                  <div class=" text-left Terminals cursor-pointer " (click)="TerminalRoute()">
                    <div class="text-left">
                      <h3 class="tx-bold tx-20 tx-rubik mg-b-2 mg-r-5 lh-1 d-flex align-items-center">
                        {{_MerchantDetails.Terminals ||0.0}} <span class="mg-l-10"> <i
                            style="height: 18 px !important; width: 18px !important;" data-feather="chevron-right"> </i>
                        </span> </h3>
                    </div>
                    <p class="tx-11 tx-uppercase tx-color-03 mg-b-0 route-hover">POS Terminals</p>
                  </div>
                </div>
              </div>

              <!-- <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline mg-t-10">
                <div class="col-sm-6 col-md-6 col-lg-6 pd-l-0">
                  <div class=" text-left stores ">
                    <div class="text-left">
                      <h3 class="tx-bold tx-20 tx-rubik mg-b-2 mg-r-5 lh-1">
                        {{_MerchantDetails.RewardPercentage ||0.0}}</h3>
                    </div>
                    <p class="tx-12 tx-uppercase tx-color-03 mg-b-0 "> Reward %</p>
                  </div>
                </div>

              </div> -->

              <div class="mg-y-30">
                <label class="tx-sans tx-10 tx-bold tx-uppercase  tx-spacing-1 mg-b-10">RelationShip Manager
                </label>
                <ul class="list-unstyled profile-info-list">
                  <!-- <li><i data-feather="home"></i> <span
                    class="tx-color-03">{{_HelperService._UserAccount.CountryKey}}</span></li> -->
                  <li><i data-feather="user"></i> <span class="tx-color-01 tx-13">{{_MerchantDetails.RMName
                      ||
                      "--" }}</span>
                  </li>
                  <li><i data-feather="phone"></i> <span class="tx-color-01 tx-13">{{_ContactPerson.RMMobileNumber
                      ||
                      "--"}}</span>
                  </li>
                  <!-- <li><i data-feather="briefcase"></i> <span
                    class="tx-color-01 tx-13">{{_MerchantDetails.Address.Address}}</span>
                </li> -->
                  <!-- <li><i data-feather="name"></i> <a>{{_HelperService._UserAccount.CreatedByDisplayName}}</a></li> -->
                </ul>
              </div>


              <div class="d-flex justify-content-between mg-t-40">
                <div>
                  <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-20">Contact
                    Details</label>
                </div>

                <div>


                  <button style="outline: none;" *ngIf="!VarAccordion1" (click)="VarAccordion1F()" type="button"
                    class="btn btn-transparent  btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0"
                    data-toggle="collapse" href="#Schedule" role="button" aria-expanded="false"
                    aria-controls="Schedule">
                    <i class="fas fa-chevron-up"></i>
                  </button>

                  <button *ngIf="VarAccordion1" (click)="VarAccordion1F()" type="button"
                    class="btn btn-transparent btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0" data-toggle="collapse"
                    href="#Schedule" role="button" aria-expanded="false" aria-controls="Schedule">
                    <i class="fas fa-chevron-down"></i>
                  </button>

                </div>
              </div>

              <div class="collapse multi-collapse show" id="Schedule">

                <div class="mg-t-10">

                  <ul class="list-unstyled profile-info-list">
                    <!-- <li><i data-feather="home"></i> <span
                      class="tx-color-03">{{_HelperService._UserAccount.CountryKey}}</span></li> -->
                    <li><i data-feather="phone"></i> <span class="tx-color-01 tx-13">{{_ContactPerson.MobileNumber ||
                        "--"}}</span>
                    </li>
                    <li> <i data-feather="mail"></i> <span class="tx-color-01 tx-13">{{_MerchantDetails.EmailAddress ||
                        "--"}}</span>
                    </li>

                    <li class=""> <span class="" style="width: 24px !important; width: 24px !important;"><i
                          data-feather="map-pin"></i> </span> <span class="tx-color-01 tx-13 mg-l-10">{{_Address.Address
                        || "--"}}</span>
                    </li>
                    <!-- <li><i data-feather="name"></i> <a>{{_HelperService._UserAccount.CreatedByDisplayName}}</a></li> -->
                  </ul>
                </div>
              </div>


              <div class="d-flex justify-content-between mg-t-40">
                <div>
                  <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-20">Business
                    Details</label>
                </div>

                <div>


                  <button style="outline: none;" *ngIf="!VarAccordion1Business1" (click)="VarAccordion1Business()"
                    type="button" class="btn btn-transparent  btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0"
                    data-toggle="collapse" href="#Business" role="button" aria-expanded="false"
                    aria-controls="Business">
                    <i class="fas fa-chevron-up"></i>
                  </button>

                  <button *ngIf="VarAccordion1Business1" (click)="VarAccordion1Business()" type="button"
                    class="btn btn-transparent btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0" data-toggle="collapse"
                    href="#Business" role="button" aria-expanded="false" aria-controls="Business">
                    <i class="fas fa-chevron-down"></i>
                  </button>

                </div>
              </div>

              <div class="collapse multi-collapse show" id="Business">
                <div class="mg-t-10">

                  <ul class="list-unstyled profile-info-list">
                    <div class="mg-b-30">
                      <ul class="list-unstyled profile-info-list">
                        <!-- <li><i data-feather="home"></i> <span
                          class="tx-color-03">{{_HelperService._UserAccount.CountryKey}}</span></li> -->
                        <li><i data-feather="user"></i> <span
                            class="tx-color-01 tx-13">{{_HelperService._UserAccount.EmailAddress
                            ||
                            "--" }}</span>
                        </li>
                        <li><i data-feather="phone"></i> <span
                            class="tx-color-01 tx-13">{{_HelperService._UserAccount.ContactNumber
                            ||
                            "--"}}</span>
                        </li>
                        <!-- <li><i data-feather="briefcase"></i> <span
                          class="tx-color-01 tx-13">{{_MerchantDetails.Address.Address}}</span>
                      </li> -->
                        <!-- <li><i data-feather="name"></i> <a>{{_HelperService._UserAccount.CreatedByDisplayName}}</a></li> -->
                      </ul>
                    </div>
                    <div class="mg-b-30">
                      <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Contact
                        Person</label>
                      <ul class="list-unstyled profile-info-list">
                        <!-- <li><i data-feather="home"></i> <span
                          class="tx-color-03">{{_HelperService._UserAccount.CountryKey}}</span></li> -->
                        <li><i data-feather="user"></i> <span class="tx-color-01 tx-13">{{_ContactPerson.FirstName ||
                            "--"}}
                            {{_ContactPerson.LastName || "--"}}</span></li>
                        <li><i data-feather="phone"></i> <span class="tx-color-01 tx-13">{{_ContactPerson.MobileNumber
                            ||
                            "--"}}</span></li>
                        <!-- <li><i data-feather="name"></i> <a>{{_HelperService._UserAccount.CreatedByDisplayName}}</a></li> -->
                      </ul>
                    </div>
                  </ul>

                  <div class="mg-b-30">
                    <label
                      class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Categories</label>
                    <ul class="list-unstyled profile-info-list">
                      <div class="d-inline m-auto" *ngFor="let catagories of _MerchantDetails['Categories']">
                        <!-- <div class="badge btn-outline-primary rounded-5 mg-r-10 pd-y-5"></div> -->
                        <div class="badge btn btn-outline-primary tx-12 mg-r-10 mg-b-5"> {{catagories.Name || "--"}}
                        </div>
                      </div>
                    </ul>
                  </div>

                  <div class="mg-b-30">
                    <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Referral
                      Code</label>
                    <ul class="list-unstyled profile-info-list">
                      <li><i data-feather="users"></i> <span class="tx-color-01 tx-13">{{_MerchantDetails.ReferralCode
                          || "--"}}</span></li>

                    </ul>
                  </div>

                  <!-- <div class="mg-b-30">
                    <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Reward Deduction Type</label>
                    <ul class="list-unstyled profile-info-list">
                      <li><i data-feather="user"></i> <span class="tx-color-01 tx-13">{{_MerchantDetails.RewardDeductionType
                          || "--"}}</span></li>

                    </ul>
                  </div> -->


                  <div class="mg-b-30">
                    <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Added On</label>
                    <ul class="list-unstyled profile-info-list">
                      <li><i data-feather="calendar"></i>
                        <span class="tx-color-01 tx-13 text-lowercase">{{_MerchantDetails.CreateDateS| date
                          :["dd-MM-yyyy hh:mm a"] || "--" }}</span>
                        <!-- <span class="tx-color-01 tx-13">{{_MerchantDetails.CreateDateS|| "--"}}</span> -->
                      </li>

                      <li><i data-feather="user"></i> <span
                          class="tx-color-01 tx-13">{{_MerchantDetails.CreatedByDisplayName || "--"}}</span></li>
                    </ul>
                  </div>



                  <div class="mg-b-30">
                    <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Updated
                      On</label>
                    <ul class="list-unstyled profile-info-list">
                      <li><i data-feather="calendar"></i>
                        <span class="tx-color-01 tx-13 text-lowercase">{{_MerchantDetails.ModifyDateS| date
                          :["dd-MM-yyyy hh:mm a"] || "--" }}</span>
                        <!-- <span class="tx-color-01 tx-13">{{_MerchantDetails.ModifyDateS|| "--"}}</span> -->
                      </li>

                      <li><i data-feather="user"></i> <span
                          class="tx-color-01 tx-13">{{_MerchantDetails.ModifyByDisplayName || "--"}}</span></li>
                    </ul>
                  </div>

                  <div class="">
                    <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">About</label>
                    <ul class="list-unstyled profile-info-list tx-13">
                      <p>{{_MerchantDetails.Description || "--"}}</p>
                    </ul>
                  </div>
                </div>
              </div>



            </div>

          </div>
        </div><!-- profile-sidebar -->
      </div>
    </div>
  </div>
  <div class="col-md-8">

    <div class="card p-0 mg-b-10">
      <div class="row">
        <div class="col">
          <div class="card  bd-b-0 pd-x-20 pd-b-20 pd-t-10">
            <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist"
              [routerLinkActive]="['active']">

              <div class="d-flex flex-wrap ">
                <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="smsmerchantcredithistory">
                  <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelSMS.MerchantCredits}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Credit History</a>
                </li>

                <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="smsmerchantcustomergroup">
                  <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelSMS.MerchantGroups}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Customer Groups</a>
                </li>

              </div>


            </ul>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>