<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg">
              <div class="avatar avatar-xxl"><img  [style.border-color]="_MerchantDetails.StatusC" src="{{ _MerchantDetails.IconUrl }}" class="rounded-10 bd bd-2"
                  alt=""></div>
            </div><!-- col -->
          </div><!-- row -->

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mg-t-20 mg-b-7 mg-sm-t-0 mg-lg-t-25">
              <h6 class="tx-20 tx-lg-17 tx-semibold mg-b-4">
                {{_MerchantDetails.Name || "--"}}<span class="tx-color-03 tx-14 tx-normal">
                </span>
              </h6>
              <div>
                <span class="text-lowercase mg-b-10" [ngClass]="_MerchantDetails.StatusB">{{
                  _MerchantDetails.StatusName || "--" }}</span> 
                   <!-- <span class=" mg-b-10  badge tx-indigo mg-l-10 tx-uppercase" style="background-color: #C1B9FE !important;" >Prepaid</span> -->
              </div>
    
              <div class="mg-b-40 d-flex justify-content-start">

                <button class="pnvalid" data-permission="merchantdelete" class="btn btn-outline-secondary tx-12 mg-r-10" *ngIf="_MerchantDetails.StatusName == 'Inactive'"
                  (click)="BlockAccount()"> Make Active </button>
                <button class="pnvalid"  data-permission="merchantdelete" class="btn btn-outline-secondary tx-12 mg-r-10" *ngIf="_MerchantDetails.StatusName == 'Active'"
                  (click)="UnblockBlockAccount()"> Make Inactive </button>


                <button class="pnvalid" data-permission="merchantupdate" class="btn btn-primary tx-12" (click)="EditMerchant()"> Edit Categeory </button>
              </div>
              <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline ">
                <div class="col-sm-6 col-md-6 col-lg-6 pd-l-0">
                  <div class=" text-left stores cursor-pointer " (click)="StoreRoute()">
                    <div class="text-left">
                      <h3 class="tx-bold tx-20 tx-rubik mg-b-2 mg-r-5 lh-1 d-flex align-items-center">
                        00 <span class="mg-l-10">  <i style="height: 18 px !important; width: 18px !important;" data-feather="chevron-right"> </i> </span> </h3>
                    </div>
                    <p class="tx-11 tx-uppercase tx-color-03 mg-b-0 route-hover"> Merchants</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 pd-l-0 d-flex justify-content-between">
                  <div class=" text-left Terminals cursor-pointer" (click)="CashierRoute()">
                    <div class="text-left">
                      <h3 class="tx-bold tx-20 tx-rubik mg-b-2 mg-r-5 lh-1  d-flex align-items-center">
                       00  <span class="mg-l-10">  <i style="height: 18 px !important; width: 18px !important;" data-feather="chevron-right"> </i> </span> </h3>
                    </div>
                    <p class="tx-11 tx-uppercase tx-color-03 mg-b-0 route-hover">Deals</p>
                  </div>
                </div>
              
              </div>

              <div class="collapse multi-collapse show" id="Business">
                <div class="mg-t-10">
                

                  <div class="mg-b-30">
                    <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Added On</label>
                    <ul class="list-unstyled profile-info-list">
                      <li><i data-feather="calendar"></i> <span class="tx-color-01 tx-13">{{_MerchantDetails.CreateDateS
                          || "--"}}</span></li>

                      <li><i data-feather="user"></i> <span
                          class="tx-color-01 tx-13">{{_MerchantDetails.CreatedByDisplayName || "--"}}</span></li>
                    </ul>
                  </div>
                   <div class="mg-b-30">
                    <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-03 tx-spacing-1 mg-b-10">Updated On</label>
                    <ul class="list-unstyled profile-info-list">
                      <li><i data-feather="calendar"></i> <span class="tx-color-01 tx-13">{{_MerchantDetails.ModifyDateS
                          || "--"}}</span></li>

                      <li><i data-feather="user"></i> <span
                          class="tx-color-01 tx-13">{{_MerchantDetails.ModifyByDisplayName || "--"}}</span></li>
                    </ul>
                  </div>

                </div>
              </div>



            </div>

          </div>
        </div><!-- profile-sidebar -->
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <!-- <div class="card p-0 mg-b-10" *ngIf="(!_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled) && _AccountBalance.IsLoaded"> -->
   

    <div class="card p-0 mg-b-10">
      <div class="row">
        <div class="col">
          <div class="card  bd-b-0 pd-x-20 pd-b-20 pd-t-10">
            <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist"
              [routerLinkActive]="['active']">

              <div class="d-flex flex-wrap ">
                <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                  <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Accounts.RewardPercentage}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Subcategories</a>
                </li>
               
              </div>

              <div class="row  d-flex no-gutters">
                <a class="text-primary tx-12 py-1" (click)="Form_AddSubAccount_Show()"
                  style="height: 30px;"> + Add SubCategeory</a>
              </div>
            </ul>
          </div>
          <!-- <router-outlet></router-outlet> -->

          <div class="card-body p-0">
            <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
              <thead>
                <tr>
                  <!-- <th class="text-center" *ngIf="ColumnConfig[0].Value">
                  </th> -->
                  <th class="text-center">
                  </th>
                 
                  <th class="tx-normal">
                  Title
                  </th>

                  <th class="text-center">
                    Added On
                   </th>
                
                  <th class="text-center">
                   Action
                  </th>
                 
                </tr>
              </thead>
              <tbody>
                <tr class="cursor-pointer" (click)="GetSubcategoryDetails(TItem)"
                *ngFor="let TItem of MerchnatCategories_Config.Data  | paginate: { id: 'MerchnatCategories_Paginator',itemsPerPage: MerchnatCategories_Config.PageRecordLimit, currentPage: MerchnatCategories_Config.ActivePage,  totalItems: MerchnatCategories_Config.TotalRecords }">
                  <td class="text-center">
                    <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
                      class="img wd-40 ht-40 rounded-10 bd bd-2" [style.border-color]="TItem.StatusC">
                  </td>
                  <td>
                    <div class="tx-14 tx-semibold ">{{TItem.Name || "--"}}</div>
                  
                  </td>

                 
                 
                  <!-- <td class="text-right">
                    <div class="tx-14 text-muted">{{(TItem.LastActivityDate) || "--"}}
                    </div>
        
                  </td> -->
                  <td class="text-muted text-center">
                    {{TItem.CreateDateD || "--"}}
                    <div class="tx-12 text-secondary"> {{TItem.CreateDateT || "--"}} </div>
        
                  </td>

                  <td (click)="Form_Add_Show(TItem)">
                    <div class="tx-14 tx-medium text-primary ">   <span class="pd-r-10"><i class="fas fa-edit"></i></span> Manage subcategory</div>
                  
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="Form_AddSubAccount_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
      <div class="modal-content">
        <form [formGroup]="Form_AddSubAccount" (ngSubmit)="Form_AddSubAccount_Process(Form_AddSubAccount.value)"
          role="form">
          <div class="modal-header">
            <h5 class="modal-title">Add SubCategeory</h5>
          </div>
          <div class="modal-body  p-lg">
            <div class="row">
          
            
              <div class="col-md-12">
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <div>
                      <label>Title<span class="text-danger">*</span>
                      </label>
                    </div>

                  </div>
                  <div class="controls">
                    <input type="text" name="Name" placeholder="Name" required maxlength="128"
                      class="form-control" [formControl]="Form_AddSubAccount.controls['Name']" [ngClass]="{
                      'is-invalid':
                        !Form_AddSubAccount.controls['Name'].valid &&
                        Form_AddSubAccount.controls['Name'].touched
                    }" />
                  </div>
                  <label class="text-danger" for="Name" *ngIf="
                    Form_AddSubAccount.controls['Name'].hasError('required') &&
                    Form_AddSubAccount.controls['Name'].touched
                  ">Title Required</label>
                  <label class="text-danger" for="Name" *ngIf="
                    Form_AddSubAccount.controls['Name'].hasError(
                      'minlength'
                    ) ||
                    Form_AddSubAccount.controls['Name'].hasError('maxlength')
                  ">Title must be 2 to 128 characters</label>
                </div>

              </div>
              
            </div>
           
         


            <div class="mb-4">
              <label for="">Image ({{_HelperService._Icon_Cropper_Data.Width}}x{{_HelperService._Icon_Cropper_Data.Height}}) </label>
            
              <div class="mb-3">
               <input type="file" (change)="fileChangeEvent($event)" />
              </div>
            
           
            
            </div>



            <div class="form-group">
              <div> <label>Status<span class="text-danger">*</span>
                </label>
              </div>
              <div class="form-group">
                <div class="radio float-left mr-3">
                  <label class="ui-check"><input type="radio" name="StatusCode"
                      [(ngModel)]="_HelperService._CoreCommon.StatusCode" [value]="'default.active'"
                      [formControl]="Form_AddSubAccount.controls['StatusCode']">
                    <i class="dark-white"></i>
                    {{ 'Common.Active' | translate }}</label>
                </div>
                <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                      [(ngModel)]="_HelperService._CoreCommon.StatusCode" name="statusoptions"
                      [value]="'default.inactive'" [formControl]="Form_AddSubAccount.controls['StatusCode']">
                    <i class="dark-white"></i>
                    {{ 'Common.Inactive' | translate }}</label></div>
              </div>
            </div>

           
          
            

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddSubAccount_Close()">
              {{ "Common.Close" | translate }}
            </button>
            <button type="submit" class="btn btn-primary warn mr-2"
              (click)="Form_AddSubAccount.value.OperationType = 'new'"
              [disabled]="!Form_AddSubAccount.valid || _HelperService.IsFormProcessing">
              <span *ngIf="!_HelperService.IsFormProcessing">
                {{ "Common.Save" | translate }}
              </span>
              <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                {{ "Common.PleaseWait" | translate }}...
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>



  <div class="modal fade" id="Form_Add_Content" role="dialog" tabindex="-1" data-backdrop="true" style="overflow-y: scroll !important;">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 122%;">
        <div class="modal-header">
          <h5 class="modal-title">Manage SubCategeory</h5>
        </div>
      
          <div class="modal-body b-b">
    
    <section>
      <div class="form-group">
        <label>{{'System.Helpers.Name' | translate }}
          <span class="text-danger" *ngIf="Form_Add.controls['Name'].hasError('required')">*</span>
        </label>
        <input type="text" name="Name" maxlength="256" class="form-control"
          [formControl]="Form_Add.controls['Name']"    [(ngModel)]="_Dealsubcatgory.Name"
          [ngClass]="{'is-invalid':!Form_Add.controls['Name'].valid && Form_Add.controls['Name'].touched}">
        <label class="text-danger" for="Name"
          *ngIf="Form_Add.controls['Name'].hasError('required') && Form_Add.controls['Name'].touched">{{
                          'System.Helpers.Name_ER_Required' | translate }}</label>
      </div>
  
  
  <div class="mb-4">
    <label for="">Image ({{_HelperService._Icon_Cropper_Data.Width}}x{{_HelperService._Icon_Cropper_Data.Height}}) </label>
  
    <div class="mb-3">
     <input type="file" (change)="fileChangeEvent($event)" />
    </div>
  
  
  
  </div>
      <div class="form-group">
        <div class="radio float-left mr-3">
          <label class="ui-check"><input type="radio" name="statusoptions" [value]="'default.active'"
              [formControl]="Form_Add.controls['StatusCode']">
            <i class="dark-white"></i>
            {{ 'Common.Active' | translate }}</label>
        </div>
        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
              [value]="'default.inactive'" [formControl]="Form_Add.controls['StatusCode']">
            <i class="dark-white"></i>
            {{ 'Common.Inactive' | translate }}</label></div>
      </div>
   
    <div class="modal-footer p-3 text-right b-b">
      <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_Add_Close()">{{
        'Common.Close'
        | translate }}</button>
  
        <button type="button" class="btn btn-primary float-right" (click)="UpdateSubcategeory(Form_Add.value)"
                          [disabled]="!Form_Add.valid || _HelperService.IsFormProcessing">
                        Save
                      </button>
  
    </div>
    </section>
  
    </div>
        
      </div>
    </div> 
    </div>



    <div class="modal fade" id="Form_managecat" role="dialog" tabindex="-1" data-backdrop="true" style="overflow-y: scroll !important;">
      <div class="modal-dialog">
        <div class="modal-content" style="width: 122%;">
          <div class="modal-header">
            <h5 class="modal-title">Manage Categeory</h5>
          </div>
        
            <div class="modal-body b-b">
      
      <section>
        <div class="form-group">
          <label>{{'System.Helpers.Name' | translate }}
            <span class="text-danger" *ngIf="Form_Add.controls['Name'].hasError('required')">*</span>
          </label>
          <input type="text" name="Name" maxlength="256" class="form-control"
            [formControl]="Form_Add.controls['Name']"    [(ngModel)]="_MerchantDetails.Name"
            [ngClass]="{'is-invalid':!Form_Add.controls['Name'].valid && Form_Add.controls['Name'].touched}" >
          <label class="text-danger" for="Name"
            *ngIf="Form_Add.controls['Name'].hasError('required') && Form_Add.controls['Name'].touched">{{
                            'System.Helpers.Name_ER_Required' | translate }}</label>
        </div>
    
    
    <div class="mb-4">
      <label for="">Image ({{_HelperService._Icon_Cropper_Data.Width}}x{{_HelperService._Icon_Cropper_Data.Height}}) </label>
    
      <div class="mb-3">
       <input type="file" (change)="fileChangeEvent($event)" />
      </div>
    
      
    
    </div>
        <div class="form-group">
          <div class="radio float-left mr-3">
            <label class="ui-check"><input type="radio" name="StatusCode" [value]="'default.active'"
                 [(ngModel)]="_MerchantDetails.StatusCode">
              <i class="dark-white"></i>
              {{ 'Common.Active' | translate }}</label>
          </div>
          <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="StatusCode" [(ngModel)]="_MerchantDetails.StatusCode"
                [value]="'default.inactive'">
              <i class="dark-white"></i>
              {{ 'Common.Inactive' | translate }}</label></div>
        </div>
     
      <div class="modal-footer p-3 text-right b-b">
        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_Add_Close()">{{
          'Common.Close'
          | translate }}</button>
    
          <button type="button" class="btn btn-primary float-right" (click)="Updatecategeory(Form_Add.value)"
                            [disabled]="!Form_Add.valid || _HelperService.IsFormProcessing">
                          Save
                        </button>
    
      </div>
      </section>
    
      </div>
          
        </div>
      </div> 
      </div>



    <div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="m-3">
                <image-cropper   [imageChangedEvent]="imageChangedEvent"
    
                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                [aspectRatio]="9 / 9"
                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                </image-cropper>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
              <div class="p-3">
                <div class="mb-2">
                  Image Preview
                </div>
                <div class="mb-2">
                  <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                </div>
                <div>
                  <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                                      translate }}</button>
                  <button type="button" class="btn btn-warning " (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                              translate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

