<div class="row">
<div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
  <div class="card ht-100p">
    <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
     
      <h5 class="mg-b-0 tx-14 ">  Gender Wise Segmentation
      </h5>
      <!-- <div class="text-secondary tx-12"> Today’s POS Activity </div> -->
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div>
            <canvas height="200" baseChart [colors]="_HelperService.ChartConfig.GenderTypeColors"
              [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
              [options]="_HelperService.ChartConfig.DoughnetChart.Options"
              [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false" [data]="GenderSegment"
              [labels]="GenderLabel"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer pd-20">
      <div class="row">
        <div class="col-4" *ngFor="let gender of GenderRange">
          <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">{{gender.Title || "--"}}
          </p>
          <div class="d-flex align-items-center">
            <h5 [ngClass]="gender.text" class="tx-medium mg-b-0">{{[((gender.Count/GenderTotal)*100)| number: "1.0-0"] || "--"}}%
              <br>

              <small class="tx-color-04 tx-11"> Total {{gender.Visits || "--"}} Visits</small>

            </h5>
          </div>
        </div><!-- col -->

      </div><!-- row -->
    </div><!-- card-footer -->
  </div>
</div>
</div>