<!-- acquirer--merchants--list -->
<ul class="nav nav-line flex-row" id="myTab" role="tablist">
  <li class="nav-item">
    <a  class="nav-link active" id="home-tab" data-toggle="tab" href="#New" role="tab" aria-controls="home" aria-selected="true" (click)="TUOrderList_ListTypeChange(1)">New <span class="badge bg-teal tx-white"> {{OverviewData.Confirmed}} </span></a>
  </li>
  <li class="nav-item">
    <a  class="nav-link" id="profile-tab" data-toggle="tab" href="#Processing" role="tab" aria-controls="profile" aria-selected="false" (click)="TUOrderList_ListTypeChange(2)">Processing <span class="badge bg-teal tx-white"> {{OverviewData.Preparing}} </span>  </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#pick" role="tab" aria-controls="contact" aria-selected="false" (click)="TUOrderList_ListTypeChange(3)">Ready to pick <span class="badge bg-teal tx-white"> {{OverviewData.New}} </span></a>
  </li>
  <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Failed" role="tab" aria-controls="contact" aria-selected="false" (click)="TUOrderList_ListTypeChange(4)">  Failed <span class="badge bg-danger tx-white"> {{OverviewData.DeliveryFailed}} </span></a>
    </li>
     <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Cancelled" role="tab" aria-controls="contact" aria-selected="false" (click)="TUOrderList_ListTypeChange(5)">Cancelled<span class="badge bg-teal tx-white"> {{OverviewData.Cancelled}} </span></a>
    </li> 
    <!-- <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Return" role="tab" aria-controls="contact" aria-selected="false" (click)="TUOrderList_ListTypeChange(6)"> Return</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#All" role="tab" aria-controls="contact" aria-selected="false" (click)="TUOrderList_ListTypeChange(6)"> All Orders<span class="badge bg-teal tx-white"> {{OverviewData.Total}} </span></a>
    </li>
</ul>
<div class="card ">
  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <span class="tx-semibold mg-t-10">All Orders<span class="text-muted tx-normal">
            ({{TUOrdersList_Config.TotalRecords}})</span></span>
      </div>
    </div>
  </div>

  <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TUOrdersList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TUOrdersList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TUOrdersList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>
    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="TUOrdersList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="TUOrdersList_Config.Sort.SortOrder == 'desc'"
                (click)="TUOrdersList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="TUOrdersList_Config.Sort.SortOrder == 'asc'"
                (click)="TUOrdersList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of TUOrdersList_Config.Sort.SortOptions"
              (click)="TUOrdersList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="TUOrdersList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="DateRangeOptions"
                  (selected)="TUOrdersList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="TUOrdersList_Config.StatusOptions"
                  (valueChanged)="TUOrdersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>

              <div class="form-group ">
                <label>Merchant</label>

                <select2 [options]="TUOrdersList_Filter_Owners_Option" class="wd-100p"
                  (valueChanged)="TUOrdersList_Filter_Owners_Change($event)">
                </select2>
              </div>

              <!-- <div class="form-group">
                <label>Categories</label>
                <select2 [options]="CategoriesList_Filter_Owners_Option" class="wd-100p"
                  (valueChanged)="CategoriesList_Filter_Owners_Change($event)">
                </select2>
              </div> -->

            </div>

            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="TUOrdersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
          <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
          (click)="TUOrdersList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
            data-feather="download"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div> -->
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of TUOrdersList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
            <th class="">Order Id</th>
            <th class="td-date">Placed On</th>
            <th>Customer Details</th>
            <th>Delivery Address</th>
            <th>Store</th>
            <th>Ambassador</th>
            <!-- <th class="">Status</th> -->
            <th class="text-center">Items</th>
            <th class="td-amount"> Amount</th>
            <th class="td-amount" *ngIf="ListType == 6">Status</th>
        </tr>
    </thead>
    <tbody>
      <tr (click)="TUOrdersList_RowSelected(TItem)"
          *ngFor="let TItem of (TUOrdersList_Config.Data| paginate : { id: 'TUOrdersList_Paginator', itemsPerPage: TUOrdersList_Config.PageRecordLimit, currentPage: TUOrdersList_Config.ActivePage,totalItems: TUOrdersList_Config.TotalRecords}) ">
          <td class="text-blue"> #{{ TItem.OrderId || "--"}}
          </td>
          <td class="td-date">
              {{ TItem.CreateDate || "--" }}
          </td>
          <td>
              <span class="text-gray tx-semibold"> {{ TItem.CustomerDisplayName || "--"}} </span>
              <br>
              <span class="text-secondary">{{ TItem.CustomerMobileNumber || "--"}} </span>
          </td>
          <td class="">
              {{ TItem.DeliveryAddress || "--"}}
          </td>
          <td>
              <span class="text-gray tx-semibold"> {{ TItem.DealerLocationName || "--" | truncateText:30 }} </span>
              <br>

              <span class="text-secondary tx-12" >{{ TItem.DealerLocationAddress || "--" | truncateText:30  }} </span>



          </td>

          <td>
              <span class="text-gray font-weight-bold"> {{ TItem.AgentDisplayName || "--"}} </span>
              <br>
              <span class="text-secondary">{{ TItem.AgentMobileNumber || "--"}} </span>
          </td>
         
          <!-- <td class="td-amount text-left">
              <div class="form-group mr-2 mb-2"
                  *ngIf="TItem.StatusCode != 'orderstatus.new' && TItem.StatusCode != 'orderstatus.pendingconfirmation'">
                  <select2 class="full-width" [options]="_DataHelperService.S2_Status_Option"
                      [data]="this._HelperService.AppConfig.StatusList.updateorderstatusm"
                      (valueChanged)="UpdateStatus($event,TItem)">
                  </select2>
              </div>
              <div
                  *ngIf="TItem.StatusCode == 'orderstatus.new' || TItem.StatusCode == 'orderstatus.pendingconfirmation'">
                  Payment pending
              </div>
          </td> -->
          <td class="text-center">
              {{ TItem.TotalItem || "--"}}

          </td>
          <td class="td-amount text-right">
              <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{ TItem.TotalAmount | number: "1.2-2" || "--"}}
          </td>

          <td>
              <span class="{{TItem.StatusBadge}} float-right py-1 px-2" *ngIf="ListType == 6"> {{TItem.StatusName}}</span>
          </td>
      </tr>
  </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TUOrdersList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TUOrdersList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TUOrdersList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TUOrdersList_Config.PageRecordLimit"
        (ngModelChange)="TUOrdersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="TUOrdersList_Paginator" class="pagination pagination-space"
        (pageChange)="TUOrdersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div>