<div class="row">
    <div class="col-md-10">
        <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value,false)" role="form">
            <div class="card">
                <div class="card-header">
                    <img class="br" (error)="_HelperService.defaultImage($event)" src="{{_DealDetails.ImageUrl}}"
                        class="img wd-100 ht-50 float-right bd-2"> <span class="">
                        <h5>{{_DealDetails.Title}}</h5>
                    </span>
                </div>

                <div class="card-body">
                    <div style="font-size: 14px;"> <label class="tx-semibold ">Basic Details</label><br>
                        <label class="text-secondary">Please select merchant and deal category</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="S2GetMerchants"> Select Merchant </label> <span class="text-danger"> *
                                </span>
                                <select2 *ngIf="showPickers" name="S2GetMerchants" class="full-width"
                                    [options]="GetMerchants_Option" (valueChanged)="GetMerchants_ListChange($event)">
                                </select2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="S2GetCategories"> Select Categories </label> <span class="text-danger"> *
                                </span>
                                <select2 *ngIf="showPickers" name="S2GetCategories" class="full-width"
                                    [options]="GetCategories_Option" (valueChanged)="GetCategories_ListChange($event)">
                                </select2>
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>{{'System.AddAcquirer.Description' | translate }}
                                </label>
                                <div class="controls">
                                    <textarea type="text" rows="3" name="Description" maxlength="1024"
                                        [(ngModel)]="_DealDetails.Description" class="form-control" class="form-control"
                                        [formControl]="Form_EditUser.controls['Description']"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['Description'].valid && Form_EditUser.controls['Description'].touched}"> </textarea>
                                </div>
                                <label class="text-danger" for="Description"
                                    *ngIf="Form_EditUser.controls['Description'].hasError('required') && Form_EditUser.controls['Description'].touched">{{
                                    'System.AddAcquirer.Description_ER_Required' | translate }}</label>
                                <label class="text-danger" for="Description"
                                    *ngIf="Form_EditUser.controls['Description'].hasError('minlength') || Form_EditUser.controls['Description'].hasError('maxlength')">{{
                                    'System.AddAcquirer.Description_ER_Length' | translate }}</label>
                            </div>
                        </div>

                        <div class="col-md-12 " style="font-size: 14px;"> <label class="tx-semibold ">Pricing
                                details</label><br>
                            <label class="text-secondary">Please enter original prices and discount price here</label>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="d-flex ">
                                    <div>
                                        <label>Original Price
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span class="text-secondary"><i class="fa fa-info-circle mg-l-10"
                                                aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                                title="Deal value is original price of Product/Service"></i></span>
                                    </div>
                                </div>

                                <div class="controls">
                                    <input type="number" min="1" name="ActualPrice" maxlength="256" class="form-control"
                                        [formControl]="Form_EditUser.controls['ActualPrice']"
                                        [(ngModel)]="_DealDetails.ActualPrice" (keyup)="Demo(); CheckPrice();"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['ActualPrice'].valid && Form_EditUser.controls['ActualPrice'].touched}">
                                </div>
                                <label class="text-danger" for="ActualPrice"
                                    *ngIf="Form_EditUser.controls['ActualPrice'].hasError('required') && Form_EditUser.controls['ActualPrice'].touched">
                                    Deal Value Required</label>
                                <label class="text-danger" for="ActualPrice"
                                    *ngIf="Form_EditUser.controls['ActualPrice'].hasError('min')">Deal Value Should Not
                                    Be
                                    0</label>
                            </div>

                        </div>

                        <div class="col-md-6"></div>





                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="d-flex ">
                                    <div>
                                        <label>Selling Price
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span class="text-secondary"><i class="fa fa-info-circle mg-l-10"
                                                aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                                title="Deal value is original price of Product/Service"></i></span>
                                    </div>
                                </div>

                                <div class="controls">
                                    <!-- <input type="number" min="1" name="Amount" maxlength="256" class="form-control"
                                        [formControl]="Form_EditUser.controls['Amount']"
                                        [(ngModel)]="_DealDetails.Amount"  (keyup)="Demo(); CheckPrice();"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['Amount'].valid && Form_EditUser.controls['Amount'].touched}"> -->

                                    <input type="number" min="1" name="SellingPrice" maxlength="256"
                                        class="form-control" [formControl]="Form_EditUser.controls['SellingPrice']"
                                        [(ngModel)]="_DealDetails.SellingPrice" (keyup)="Demo(); CheckPrice();"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['SellingPrice'].valid && Form_EditUser.controls['SellingPrice'].touched}">
                                </div>
                                <label class="text-danger" for="SellingPrice"
                                    *ngIf="Form_EditUser.controls['SellingPrice'].hasError('required') && Form_EditUser.controls['SellingPrice'].touched">
                                    Deal Value Required</label>
                                <label class="text-danger" for="SellingPrice"
                                    *ngIf="Form_EditUser.controls['SellingPrice'].hasError('min')">Deal Value Should Not
                                    Be
                                    0</label>

                                <label class="text-secondary">Customer gets discount of :{{custsellingpricedis}}
                                    ({{custsellingpricedisper| number:'1.2-2'}}%) </label>
                            </div>

                        </div>




                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex ">
                                    <div>
                                        <label>TUC Platform fees
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <!-- <span><i class="fa fa-info-circle text-secondary mg-l-10" aria-hidden="true"
                                                data-toggle="tooltip" data-placement="top"
                                                title="Total amount customer payable to purchase this deal"></i></span> -->
                                    </div>
                                </div>
                                <div class="controls">
                                    <input type="number" min="0" name="CommissionAmount" maxlength="256"
                                        [(ngModel)]="_DealDetails.CommissionAmount" class="form-control"
                                        [formControl]="Form_EditUser.controls['CommissionAmount']"
                                        (keyup)="CheckcommissionPrice()"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['CommissionAmount'].valid && Form_EditUser.controls['CommissionAmount'].touched}">
                                </div>
                                <label class="text-danger" for="CommissionAmount"
                                    *ngIf="Form_EditUser.controls['CommissionAmount'].hasError('required') && Form_EditUser.controls['CommissionAmount'].touched">
                                    Commission Required</label>
                                <!-- <label class="text-danger" for="Amount"
                                    *ngIf="Form_AddUser.controls['Amount'].hasError('required') && Form_AddUser.controls['Amount'].touched">
                                    Amount Required
                                </label> -->

                                <!-- <label class="text-danger" for="DiscountAmount" *ngIf="catfees1">
                                    Please Select categeory first</label> -->

                                <label class="text-secondary">Merchant Settlement amount:5 %</label>
                                <!-- <label class="text-danger" for="Description"
                                    *ngIf="Form_AddUser.controls['SellingPrice'].hasError('minlength') || Form_AddUser.controls['SellingPrice'].hasError('maxlength')">{{
                                                'System.AddAcquirer.Description_ER_Length' | translate }}</label> -->
                            </div>

                        </div>

                    </div>
                    <div class="col-md-12 px-0">


                        <div class="col-md-12 px-0">
                            <div class="form-group">
                                <label>Deal Title
                                </label><span class="text-danger"> * </span>
                                <div class="controls">
                                    <input type="text" name="TitleContent" maxlength="128" class="form-control"
                                        [formControl]="Form_EditUser.controls['TitleContent']"
                                        [(ngModel)]="_DealDetails.TitleContent"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['TitleContent'].valid && Form_EditUser.controls['TitleContent'].touched}">
                                </div>
                                <label class="text-danger" for="TitleContent"
                                    *ngIf="Form_EditUser.controls['TitleContent'].hasError('required') && Form_EditUser.controls['TitleContent'].touched">
                                    Enter Deal Title</label>
                                <label class="text-danger" for="TitleContent"
                                    *ngIf="Form_EditUser.controls['TitleContent'].hasError('minlength') || Form_EditUser.controls['TitleContent'].hasError('maxlength')">
                                    Deal Title must be between 2 - 128 characters </label>
                            </div>
                        </div>


                        <div class="form-group  mg-t-30" *ngIf="Form_EditUser!=undefined">
                            <div> <label>Set Your Deal Titledup
                                </label>
                            </div>
                            <div class="radio">
                                <label class="ui-check tx-16"><input type="radio" name="statusoptions" value=1
                                        [checked]="_DealDetails.TitleTypeId === 1"
                                        [formControl]="Form_EditUser.controls['DealTitle']">
                                    <i class="dark-white"></i>
                                    <span id="titleone">
                                        <span class="mg-l-5"
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        {{Form_EditUser.controls['ActualPrice'].value}}
                                        {{Form_EditUser.controls['TitleContent'].value|| ""}} for
                                        <span class="mg-l-5"
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        {{Form_EditUser.controls['SellingPrice'].value|| 00}} at
                                        {{_DealDetails.AccountDisplayName}}
                                    </span>
                                </label>
                            </div>
                            <div class="radio"><label id="titletwo" class="ui-check tx-16"><input type="radio"
                                        [checked]="_DealDetails.TitleTypeId === 2" name="statusoptions" value=2
                                        [formControl]="Form_EditUser.controls['DealTitle']">
                                    <i class="dark-white"></i>



                                    <span *ngIf="NiraOrPercent.DiscountAmount==0"> <span class="mg-l-5"
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        {{custsellingpricedis}}</span>
                                    <span *ngIf="NiraOrPercent.DiscountAmount==1"> <span class="mg-l-5"
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        {{custsellingpricedis}}</span>


                                    off on
                                    {{Form_EditUser.controls['TitleContent'].value|| 00}} at
                                    {{_DealDetails.AccountDisplayName}}</label>
                            </div>
                            <div class="radio"><label id="titlthree" class="ui-check tx-16"><input type="radio"
                                        [checked]="_DealDetails.TitleTypeId === 3" name="statusoptions" value=3
                                        [formControl]="Form_EditUser.controls['DealTitle']">
                                    <i class="dark-white"></i>


                                    <span *ngIf="NiraOrPercent.DiscountAmount==1">
                                        {{custsellingpricedisper| number:'1.2-2'}}</span>
                                    <span *ngIf="NiraOrPercent.DiscountAmount==0">
                                        {{custsellingpricedisper| number:'1.2-2'}}</span>

                                    % off on
                                    {{Form_EditUser.controls['TitleContent'].value|| 00}} at
                                    {{_DealDetails.AccountDisplayName}}</label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex">
                                    <div>
                                        <label>Max deals Available
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span class="text-secondary"><i class="fa fa-info-circle mg-l-10"
                                                aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                                title="Max Deal vouchers available to sell"></i></span>
                                    </div>
                                </div>
                                <div class="controls">
                                    <input type="number" min="0" name="MaximumUnitSale" maxlength="256"
                                        [(ngModel)]="_DealDetails.MaximumUnitSale" class="form-control"
                                        [formControl]="Form_EditUser.controls['MaximumUnitSale']"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['MaximumUnitSale'].valid && Form_EditUser.controls['MaximumUnitSale'].touched}">
                                </div>
                                <label class="text-danger" for="MaximumUnitSale"
                                    *ngIf="Form_EditUser.controls['MaximumUnitSale'].hasError('required') && Form_EditUser.controls['MaximumUnitSale'].touched">Enter
                                    Max Deals</label>
                                <label class="text-danger" for="MaximumUnitSale"
                                    *ngIf="Form_EditUser.controls['MaximumUnitSale'].hasError('min')">Max Deals
                                    Should Not Be 0</label>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex">
                                    <div>
                                        <label>Max Deal/Day
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span class="text-secondary"><i class="fa fa-info-circle mg-l-10"
                                                aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                                title="Number of Max deals/day allowed to sell"></i></span>
                                    </div>
                                </div>
                                <div class="controls">
                                    <input type="number" min="0" name="MaximumUnitSalePerDay" maxlength="256"
                                        class="form-control" (keyup)="CheckDealCoupons();"
                                        [(ngModel)]="_DealDetails.MaximumUnitSalePerDay"
                                        [formControl]="Form_EditUser.controls['MaximumUnitSalePerDay']"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['MaximumUnitSalePerDay'].valid && Form_EditUser.controls['MaximumUnitSalePerDay'].touched}">
                                </div>
                                <label class="text-danger" for="MaximumUnitSalePerDay"
                                    *ngIf="Form_EditUser.controls['MaximumUnitSalePerDay'].hasError('required') && Form_EditUser.controls['MaximumUnitSalePerDay'].touched">
                                    Enter Maximum Unit Sale Per Day</label>
                                <label class="text-danger" for="MaximumUnitSalePerDay"
                                    *ngIf="Form_EditUser.controls['MaximumUnitSalePerDay'].hasError('min')">
                                    Maximum Unit Sale Per Day Should Not be 0</label>

                                <label class="text-danger" for="DiscountAmount" *ngIf="maxdealcheck">
                                    Deal Per day not greater than available deal</label>


                            </div>
                        </div>

                    </div>




                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex">
                                    <div>
                                        <label>Max deals Per Person
                                        </label><span class="text-danger"> * </span>
                                    </div>
                                    <div>
                                        <span class="text-secondary"><i class="fa fa-info-circle mg-l-10"
                                                aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                                title="Max Deals/Person allowed to sell"></i></span>
                                    </div>
                                </div>

                                <div class="controls">
                                    <input type="number" min="0" name="MaximumUnitSalePerPerson" maxlength="256"
                                        class="form-control" (keyup)="CheckDealCoupons1();"
                                        [(ngModel)]="_DealDetails.MaximumUnitSalePerPerson"
                                        [formControl]="Form_EditUser.controls['MaximumUnitSalePerPerson']"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['MaximumUnitSalePerPerson'].valid && Form_EditUser.controls['MaximumUnitSalePerPerson'].touched}">
                                </div>
                                <label class="text-danger" for="MaximumUnitSalePerPerson"
                                    *ngIf="Form_EditUser.controls['MaximumUnitSalePerPerson'].hasError('required') && Form_EditUser.controls['MaximumUnitSalePerPerson'].touched">
                                    Enter Maximum Unit Sale Per Person</label>
                                <label class="text-danger" for="MaximumUnitSalePerPerson"
                                    *ngIf="Form_EditUser.controls['MaximumUnitSalePerPerson'].hasError('min')">
                                    Maximum Unit Sale Per Person Should not be 0</label>

                                <label class="text-danger" for="DiscountAmount" *ngIf="maxdealcheckperson">
                                    Deal Per Person not greater than available deal</label>
                            </div>

                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="col-md-12 mg-b-10">
                            <input-file (deletedFile)="removeImage()" class=" wd-20p  rounded-50" inputId="input-file"
                                placeholder="">
                                <i data-feather="airplay"> </i>
                            </input-file>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 pd-l-0 mt-3">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="allstores"
                                            name="allstores" [checked]="IsAllStores" (change)="AllStoresToogle()">
                                        <label class="custom-control-label" for="allstores">All Stores</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [hidden]="IsAllStores">
                                <label for="  "> Select Stores </label>
                                <select2 name="S2GetMerchants" class="full-width" [options]="GetStores_Option"
                                    (valueChanged)="GetStores_ListChange($event)"></select2>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-12 mg-t-25">
                            <div class="form-group mg-b-0">
                                <label for="" class="tx-semibold "> Schedule & Setting </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="  "> Start Date</label>
                                <div class="controls">
                                    <input type="text" class="form-control " name="daterangeInput" daterangepicker
                                        readonly [options]="_HelperService.AppConfig.DateFuterPickerOptions"
                                        [formControl]="Form_EditUser.controls['StartDate']"
                                        (selected)="ScheduleStartDateRangeChange($event)" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""> End Date </label>
                                <div class="controls">


                                    <input type="text" class="form-control " name="daterangeInput" daterangepicker
                                        readonly [options]="_HelperService.AppConfig.DateFuterPickerOptions"
                                        [formControl]="Form_EditUser.controls['EndDate']"
                                        (selected)="ScheduleEndDateRangeChange($event)" />
                                </div>
                                <label class="text-danger" for="daterangeInput" *ngIf="IsStartDateAfterEnd">
                                    Schedule End Date Must Be After Schedule Start</label>
                            </div>
                        </div>



                        <div class="col-md-12 mg-t-10">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1"
                                        name="isActive" [checked]="IsRunAllTime" (change)="RunAllTimeToogle()">
                                    <label class="custom-control-label" for="customCheck1">Run All Time</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" [hidden]="IsRunAllTime">
                            <div>
                                <label>Deal Runs From <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="form-group d-flex align-items-center">

                                <timepicker [(ngModel)]="DealTimings.Start" [showSpinners]="false"
                                    [ngModelOptions]="{standalone: true}"></timepicker>
                                TO
                                <timepicker [(ngModel)]="DealTimings.End" [showSpinners]="false"
                                    [ngModelOptions]="{standalone: true}"></timepicker>
                            </div>
                        </div>



                        <div class="col-md-12">
                            <div class="form-group mg-b-0">
                                <label for="" class="tx-semibold "> Usage Policies </label>
                            </div>
                        </div>


                        <div class="col-md-12">

                            <div class="form-group">
                                <div> <label>Redeem On
                                    </label>
                                </div>
                                <div class=" d-flex align-items-center">
                                    <div class="radio" *ngFor="let item of WeekDays; let i = index">
                                        <label class="ui-check mg-r-25 d-flex align-items-center"><input type="checkbox"
                                                name="statusoptions" [checked]="WeekDays[i].selected"
                                                (click)="toogleWeekDay(i)">
                                            <i class="dark-white"></i> <span class="mg-l-10"> {{WeekDays[i].name}}
                                            </span></label>
                                    </div>
                                </div>
                                <label class="text-danger" for="daterangeInput" *ngIf="IsNoDaySelected">
                                    Select Atleast One Day Of Week</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2"
                                        name="isActive2" [checked]="IsValidAllTime" (change)="ValidAllTimeToogle()">
                                    <label class="custom-control-label" for="customCheck2">Redeem all time
                                        <span class="mg-l-2 text-secondary"><i class="fa fa-info-circle"
                                                aria-hidden="true" data-toggle="tooltip" data-placement="top" title="It is Deal Redemption time , customer can either redeem deal at anytime or in particular time
                                            "></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" [hidden]="IsValidAllTime">
                            <div>
                                <label>Redeem only in this time <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="form-group d-flex align-items-center">

                                <timepicker [(ngModel)]="ValidTimings.Start" [showSpinners]="false"
                                    [ngModelOptions]="{standalone: true}"></timepicker>
                                TO
                                <timepicker [(ngModel)]="ValidTimings.End" [showSpinners]="false"
                                    [ngModelOptions]="{standalone: true}"></timepicker>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <div> <label>Deal Validity Type<span class="text-danger">*</span>
                                    </label>
                                </div>
                                <div class="radio float-left mg-r-25">
                                    <label class="ui-check"><input type="radio" name="CouponValidity" value=0
                                            [formControl]="Form_EditUser.controls['CouponValidity']">
                                        <i class="dark-white"></i>
                                        Days After Purchase</label>
                                </div>
                                <div class="radio  float-left mg-r-25"><label class="ui-check"><input type="radio"
                                            name="CouponValidity" value=1
                                            [formControl]="Form_EditUser.controls['CouponValidity']">
                                        <i class="dark-white"></i>
                                        Hours After Purchase</label></div>
                                <div class="radio float-left mg-r-25"><label class="ui-check"><input type="radio"
                                            name="CouponValidity" value=2
                                            [formControl]="Form_EditUser.controls['CouponValidity']">
                                        <i class="dark-white"></i>
                                        Deals End Date</label>
                                </div>
                                <div class="radio float-left"><label class="ui-check"><input type="radio"
                                            name="CouponValidity" value=3
                                            [formControl]="Form_EditUser.controls['CouponValidity']">
                                        <i class="dark-white"></i>
                                        Expire On Particular date</label></div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group" *ngIf="Form_EditUser.controls['CouponValidity'].value == 3">
                                <div class="controls">
                                    <input type="text" class="form-control " name="expiredate" daterangepicker readonly
                                        [options]="_HelperService.AppConfig.DateFuterPickerOptions"
                                        (selected)="ChangeExpiryDate($event)" />
                                </div>
                            </div>
                            <div class="form-group" *ngIf="Form_EditUser.controls['CouponValidity'].value == 1">
                                <div class="controls">
                                    <input type="number" min="0" class="form-control " name="expirehour"
                                        [(ngModel)]="Expiry.Hours" [ngModelOptions]="{standalone: true}" />
                                </div>
                            </div>
                            <div class="form-group" *ngIf="Form_EditUser.controls['CouponValidity'].value == 0">
                                <div class="controls">
                                    <input type="number" min="0" class="form-control " name="expirydays"
                                        [(ngModel)]="Expiry.Days" [ngModelOptions]="{standalone: true}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mg-t-25">
                            <div class="form-group">
                                <label>Term & Conditions
                                </label><span class="text-danger"> * </span>
                                <div class="controls">
                                    <textarea type="text" rows="4" name="Terms" maxlength="512" class="form-control"
                                        [formControl]="Form_EditUser.controls['Terms']" [(ngModel)]="_DealDetails.Terms"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['Terms'].valid && Form_EditUser.controls['Terms'].touched}"> </textarea>
                                </div>
                                <label class="text-danger" for="Terms"
                                    *ngIf="Form_EditUser.controls['Terms'].hasError('required') && Form_EditUser.controls['Terms'].touched">
                                    Enter Terms and Conditions</label>
                                <label class="text-danger" for="Terms"
                                    *ngIf="Form_EditUser.controls['Terms'].hasError('minlength') || Form_EditUser.controls['Terms'].hasError('maxlength')">
                                    Enter Valid Terms and Conditions</label>
                            </div>
                        </div>




                    </div>
                </div>

                <div class="card-footer">
                    <div>



                        <button type="submit" class="float-right btn btn-primary"
                            (click)="Form_EditUser.value.OperationType='new'"
                            [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing || IsStartDateAfterEnd || IsNoDaySelected">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                Publish Deal
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                translate
                                }}...
                            </span>
                        </button>
                        <button type="button" class="float-right btn btn-secondary mr-2"
                            (click)="Form_EditUser_Process(Form_EditUser.value,true)"
                            [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing || IsStartDateAfterEnd || IsNoDaySelected">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                Update Draft
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                translate
                                }}...
                            </span>
                        </button>

                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="Form_EditUser_Close()">{{
                        'Common.Close'
                        | translate }}
                    </button>






                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="2/1"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.DealIcon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.DealIcon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.DealIcon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.DealIcon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" style="height: 100%; width: 100%;"
                                    class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <button class="btn btn-primary" (click)='printform()'>Print Form Now</button> -->

<!-- <timepicker [(ngModel)]="mytime" [showSpinners]="false"></timepicker> -->