<!-- Customer--Deal--details -->


<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
            Loans & repayments - Loan Activities</a></li>
</ol>

<div class="card bd-b-0 pd-x-20 mt-3">
    <ul class="nav nav-line" id="myTab5" role="tablist">


        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']" (click)="defaultClick(1)">
            <a class="nav-link " id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loans.LoanActive}}"
                aria-controls="Stores" aria-selected="false" style="margin: 6px 45px 0 0;"> Active Loans </a>
            <!-- <span class="mg-l-5"  data-toggle="tooltip"
                title="These loans are approved by provide and credited amount to TUC account"> <i style="height: 18px; width: 18px;" data-feather="info"></i> </span>  -->
        </li>
        <li class="default-loan nav-item cursor-pointer" [routerLinkActive]="['active']" (click)="defaultClick(2)">
            <a class="nav-link mg-r-5" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                [ngClass]="{'item-selected':isPropActive===true}"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loans.Defaults}}"
                aria-controls="Stores" aria-selected="false" style="margin: 6px 45px 0 0;"><i
                    style="height: 13px; width: 13px;" data-feather="alert-triangle"></i>
                Defaults ({{overviewData?.DefaultLoansOverView?.TotalLoans || "0"}})

            </a>
        </li>
        <!-- <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loans.Rejected}}"
                aria-controls="Stores" aria-selected="false" style="margin: 6px 45px 0 0;"> Rejected</a>
        </li>
        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loans.Failed}}"
                aria-controls="Stores" aria-selected="false" style="margin: 6px 45px 0 0;"> Failed</a>
        </li>
        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loans.Processing}}"
                aria-controls="Stores" aria-selected="false" style="margin: 6px 45px 0 0;"> Processing</a>
        </li>  -->
        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']" (click)="defaultClick(3)">
            <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loans.Processing}}"
                aria-controls="Stores" aria-selected="false" style="margin: 6px 45px 0 0;"> Closed Loans</a>
        </li>
        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']" (click)="defaultClick(4)">
            <a class="nav-link" id="Stores-tab6" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loans.LoanAll}}"
                aria-controls="Stores" aria-selected="false" style="margin: 6px 45px 0 0;"> All loans</a>
        </li>



    </ul>
</div>
<router-outlet></router-outlet>