<!-- <form [formGroup]="Form_EditPassword" (ngSubmit)="Form_EditPassword_Process(Form_EditPassword.value)" role="form"> -->
<div class="card">

  <div class="card-body">
    <div class="tx-16 mg-b-15"> Username and Password </div>
    <div class="tx-16 tx-medium"> {{_CashierDetails.UserName || "--"}} </div>
    <div class="tx-16 tx-medium" *ngIf="!ShowPasswordDiv"> ********* </div>
    <div class="tx-16 tx-medium" *ngIf="ShowPasswordDiv"> {{_CashierDetails.Password || "--"}}  </div>


    <!-- <div class="controls">
        <input type="text"  name="UserName" minlength="1" maxlength="100"
          class="form-control" [(ngModel)]="_CashierDetails.UserName">
      </div> -->
    <div class="d-flex mg-t-15">
      <button *ngIf="!ShowPasswordDiv" type="button" class="btn btn-outline-primary mg-r-10" (click)="ShowPassword()"> Show Password </button>
      <button *ngIf="ShowPasswordDiv" type="button" class="btn btn-outline-primary mg-r-10" (click)="ShowPassword()"> Hide Password </button>

      <button type="button" class="btn btn-outline-primary " (click)="ResetPassword()"> Reset Password </button>

    </div>
    <!-- <label  for=" " class="mg-t-15 mb-0">  Password </label>
    <div *ngIf="ShowPasswordDiv" class="tx-18 text-secondary  tx-medium"> {{_CashierDetails.Password || "--"}} </div> -->



  </div>




</div>

<!-- </form> -->