<!-- acquirer--merchants--list -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      SMS Promotions- SMS Credit history</a></li>
</ol>
<div class="card">
  <!-- <div class="pd-15">
    <div class="tx-16 tx-medium">SMS Credit balance</div>
    <div class="tx-12 text-secondary">Available Balance</div>
    <div class="mg-t-5 tx-20 tx-medium">{{_AccountBalance.Sms || "0"}} sms</div>
    <div class="mg-t-15"> 
      <button class="btn btn-outline-primary" (click)="OpenPaymentOptions()"> Add Credits </button>
    </div>
  </div> -->
  <div class="card-header tx-medium">
    {{CreditsList_Config.Title}}
  </div>
  <div class="box-header px-3 pd-t-15 pd-b-7  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="CreditsList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="CreditsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="CreditsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
        class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
        class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="CreditsList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="CreditsList_Config.Sort.SortOrder == 'desc'"
                (click)="CreditsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="CreditsList_Config.Sort.SortOrder == 'asc'"
                (click)="CreditsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of CreditsList_Config.Sort.SortOptions"
              (click)="CreditsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>
            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="CreditsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>




        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Added On</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="CreditsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group" *ngIf="ResetFilterControls">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="CreditsList_Config.StatusOptions"
                  (valueChanged)="CreditsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>
            <div>
              <div class="form-group" *ngIf="ResetFilterControls">
                <label>Merchant</label>
                <div class="form-group">
                  <select2 class="full-width" [options]="CreditsList_Filter_Owners_Option"
                    (valueChanged)="CreditsList_Filter_Owners_Change($event)">
                  </select2>
                </div>
              </div>
            </div>


            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="CreditsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>

    </nav>
  </div>

  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of CreditsList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr class="pd-x-10">

          <th>
            Merchant
          </th>

          <th>
            Date
          </th>
          <th class="text-center">
            SMS Credits
          </th>
          <th class="text-center">
            Amount
          </th>
          <th class="text-center">
            Paid via
          </th>
          <th class="text-center">
            Added By
          </th>



        </tr>
      </thead>
      <tbody>
        <tr (click)="CreditsList_RowSelected(TItem)"
          *ngFor="let TItem of CreditsList_Config.Data  | paginate: { id: 'CreditsList_Paginator',itemsPerPage: CreditsList_Config.PageRecordLimit, currentPage: CreditsList_Config.ActivePage,  totalItems: CreditsList_Config.TotalRecords }">



          <td class="cursor-pointer">

            <div class=" d-flex">
              <img class="br" src="{{TItem.AccountIconUrl}}" class="img wd-40 ht-40 rounded-5 bd bd-2 mg-r-5"
                [style.border-color]="TItem.StatusC">

              <div> {{ TItem.AccountDisplayName || "--" }} </div>

            </div>

            <!-- <div class="tx-12 text-secondary"> {{ (TItem.Address | truncateText:40 ) || "--" }} </div> -->
          </td>


          <td class="text-center d-flex align-items-center">

            <div class="text-left mg-l-15">
              <div class="tx-14 tx-medium ">{{TItem.CreateDateD || "--"}}</div>
              <div class="tx-12  ">{{TItem.CreateDateT || "--"}}</div>
            </div>




          </td>
          <td class="text-center">
            {{TItem.Amount/4 || "0"}}
          </td>
          <td class="text-center">
            <div class="tx-14">{{TItem.Amount || "0"}}
            </div>

          </td>
          <td class="text-center">
            {{TItem.PaymentMethodName || "0"}}
          </td>


          <td class="text-center">
            <div> {{TItem.CreatedByDisplayName || "0"}} </div>
            <div class="tx-12 text-secondary"> {{TItem.CreateDateD || "0"}} {{TItem.CreateDateT || "0"}} </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{CreditsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{CreditsList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{CreditsList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="CreditsList_Config.PageRecordLimit"
        (ngModelChange)="CreditsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="CreditsList_Paginator" class="pagination pagination-space"
        (pageChange)="CreditsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>
<!-- <div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div> -->


<div id="Form_AddUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buy SMS Credits</h5>
      </div>
      <div class="modal-body  p-lg">
        <div class="row">
          <div class="col-md-8">
            <div class="mb-3 b-b pb-3">

              <div class="">
                <div class="tx-medium">What are SMS Credits?</div>
                <div class="tx-12 pd-t-5">
                  SMS Credits are the way of purchasing messages on the platform. It is a worldwide unification system
                  to facilitate the purchase of SMS messages since they do not have the same price in all countries.
                </div>

              </div>

              <div class="mb-2 pd-t-20">
                How many SMS do you want to send? <span class="text-danger"> * </span>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="input-group text-warn mb-3">

                    <input type="text" maxlength="10" class="form-control text-warn" placeholder="Sms to send"
                      (keypress)="_HelperService.PreventText($event)" (keyup)="Smspricing(SmsCount)"
                      [(ngModel)]="SmsCount"> <br>

                    <!-- <div class="text-danger mg-t-5"
                      *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000)">
                      Enter amount must be equal or greater than <span class=" text-sm mg-r-2"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000</div>
        
                    <div class="text-danger mg-t-5" *ngIf="_AccountBalanceCreditAmount > 1000000">
                      Enter amount must be equal or lower than <span class=" text-sm mg-r-2"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000000</div> -->

                  </div>

                </div>
                <div class="col-md-4"></div>


              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="pd-15 bg-ui-01">
              <div>Payment Summary</div>
              <div class="tx-12">You are buying SMS Credits to send 100 SMS</div>

              <div class="mg-t-15 d-flex justify-content-between pd-b-25">
                <div class="">100 SMS Credits</div>
                <div class="">
                  <div class="text-right"><span class="mg-r-5"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountBalanceCreditAmount}}
                  </div>
                  <div class="tx-12 text-right">(₦ 4/SMS)</div>
                </div>
              </div>

              <div class="ht-250 bd-t bd-b"> </div>


              <div class="pd-t-25">
                <div>
                  <div class="form-check mg-r-20">
                    <input class="form-check-input" type="checkbox" [checked]="IsUseWallet" value="" id="IsUseWallet"
                      (click)="UseWallet()" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Paying from wallet balance
                    </label>
                  </div>
                </div>

                <div class="mg-t-15 d-flex justify-content-between">
                  <div class="">Total</div>
                  <div class="">
                    <div class="text-right tx-18 tx-medium"><span class="mg-r-5"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountBalanceCreditAmount}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ "Common.Close" | translate }}
        </button>
        <button *ngIf="!SmsValue" class="btn btn-primary " disabled>Confirm</button>
        <!-- *ngIf="_AccountBalanceCreditAmount >= 1000 && _AccountBalanceCreditAmount <= 1000000" -->
        <button *ngIf="SmsValue" class="btn btn-success" angular4-paystack [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" [amount]="_AccountBalanceCreditAmount * 100"
          [class]="'btn btn-primary'" [ref]="_TransactionReference" (close)="paymentCancel()"
          (callback)="paymentDone($event)" data-dismiss="modal">Confirm</button>

      </div>
    </div>

  </div>
</div>