<!-- <div class="card"> -->
  <div class="pd-x-10">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
  
      <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
          [routerLinkActive]="['active']">Analytics
        </a></li>
      <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">Customer
          Analytics
        </a></li>
    </ol>
  </div>
  
  <div class="pd-x-10">
    <div class="row  row-xs mg-lg-b-12 d-flex  justify-content-between align-items-center">
      <div class="">
  
  
  
        <div class="form-group  mb-0 pb-0 wd-200">
          <input type="text" autocomplete="off" class="form-control form-daterangepicker full-width" name="daterangeInput"
            daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsCustom"
            (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
        </div>
  
      </div>
  
  
  
      <div class="cursor-pointer">
        <!-- <button class="btn btn-primary" (click)="MerchantList()"> Track Wallets <i data-feather="chevron-right"></i>
      </button> -->
  
        <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
          <li class="list-inline-item d-flex align-items-center">
            <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
            <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
              {{_Sale.ActualStartDate | date :["dd LLL yyyy"]}} - {{_Sale.ActualEndDate | date :["dd LLL yyyy"]}}</span>
          </li>
          <li class="btn btn-white cursor-pointer" (click)="htmltoPDF()"> <i data-feather="printer" class="mg-r-5"></i>
            Print </li>
  
        </ul>
        <!-- <button class="btn btn-white" (click)="htmltoPDF()"><i data-feather="printer" class=""></i> Print</button> -->
  
      </div>
  
    </div>
  </div>
  <div id="customer" class="pd-x-10 pd-t-10">
  
    <div class="row row-xs mg-b-10">
      <div class="col-sm-6 col-lg-3 ">
        <div class="card card-body shadow-none ht-100p">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 text-secondary tx-semibold mg-b-8">Total Customers</h6>
          <div class="d-flex d-lg-block d-xl-flex align-items-end">
            <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
              {{CustActivity.Total ||"0"}} <span> <a (click)="RouteCustomerList()"
                  class="text-primary mg-l-10 tx-14 cursor-pointer"> View<i
                    style="height:  20 px !important ; height: 20px !important; padding-left: 0 px !important;"
                    data-feather="chevron-right"> </i> </a> </span>
            </h3>
  
          </div>
          <p class="tx-12 text-secondary mg-b-0"> Total customers</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
        <div class="card card-body shadow-none ht-100p">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 text-secondary tx-semibold mg-b-8">Active Customers</h6>
          <div class="d-flex d-lg-block d-xl-flex align-items-end">
            <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
              {{CustActivity.Active || "0"}} <span> <a (click)="RouteCustomerList()"
                  class="text-primary mg-l-10 tx-14 cursor-pointer"> View <i
                    style="height:  20 px !important ; height: 20px !important;padding-left: 0 px !important; "
                    data-feather="chevron-right"> </i> </a> </span> </h3>
  
          </div>
          <p class="tx-12 text-secondary mg-b-0"> Total active Customers</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
        <div class="card card-body shadow-none ht-100p">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 text-secondary tx-semibold mg-b-8">Idle Customers</h6>
          <div class="d-flex d-lg-block d-xl-flex align-items-end">
            <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
              {{CustActivity.Idle ||"0"}} <span> <a (click)="RouteCustomerList()"
                  class="text-primary mg-l-10 tx-14 cursor-pointer"> View <i
                    style="height:  20 px !important ; height: 20px !important;padding-left: 0 px !important; "
                    data-feather="chevron-right"> </i> </a> </span>
            </h3>
          </div>
          <p class="tx-12 text-secondary mg-b-0">No activity in last 15 days</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
        <div class="card card-body shadow-none ht-100p">
          <h6 class=" tx-uppercase tx-11 tx-spacing-1 text-secondary tx-semibold mg-b-8">LOST Customers</h6>
          <div class="d-flex d-lg-block d-xl-flex align-items-end">
            <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
              {{CustActivity.Dead ||"0"}} <span> <a (click)="RouteCustomerList()"
                  class="text-primary mg-l-10 tx-14 cursor-pointer"> View <i
                    style="height:  20 px !important ; height: 20px !important;padding-left: 0 px !important; "
                    data-feather="chevron-right"> </i> </a> </span>
            </h3>
          </div>
          <p class="tx-12 text-secondary mg-b-0">No activity in last 30 days</p>
        </div>
      </div>
    </div>
  
    <div class="row row-xs mg-b-10">
      <div class="col-sm-6 col-lg-3 ">
        <div class="card card-body shadow-none ht-100p">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 text-secondary tx-semibold mg-b-8">Total App Installs</h6>
          <div class="d-flex d-lg-block d-xl-flex align-items-end">
            <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
              {{CustActivity.AppDownloads.Total ||"0"}}
            </h3>
          </div>
          <p class="tx-12 text-secondary mg-b-0"> Total customers</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 ">
        <div class="card card-body shadow-none ht-100p">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 text-secondary tx-semibold mg-b-8">Active App Customers</h6>
          <div class="d-flex d-lg-block d-xl-flex align-items-end">
            <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
              {{CustActivity.AppDownloads.Active ||"0"}}
            </h3>
          </div>
          <p class="tx-12 text-secondary mg-b-0"> Active customers on app </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 ">
        <div class="card card-body shadow-none ht-100p">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 text-secondary tx-semibold mg-b-8">Idle App Customers</h6>
          <div class="d-flex d-lg-block d-xl-flex align-items-end">
            <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
              {{CustActivity.AppDownloads.Idle ||"0"}}
            </h3>
          </div>
          <p class="tx-12 text-secondary mg-b-0"> No activity in last 15 days </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 ">
        <div class="card card-body shadow-none ht-100p">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 text-secondary tx-semibold mg-b-8">Dead App Customers</h6>
          <div class="d-flex d-lg-block d-xl-flex align-items-end">
            <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
              {{CustActivity.AppDownloads.Dead ||"0"}}
            </h3>
          </div>
          <p class="tx-12 text-secondary mg-b-0"> No activity in more than 15 days </p>
        </div>
      </div>
    </div>
  
    <div class="row row-xs mg-b-10">
      <div class="col-lg-8 col-xl-8 col-sm-12 col-md-8 mg-t-10 mg-lg-t-0">
        <div class="card ht-100p">
          <div class="card-header">
            <div> Customers by Top Categories</div>
            <div class="tx-12 text-secondary">
              Number of Customers Top 4 categories
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <canvas height="110" baseChart #RewardPlot="base-chart"
                  [colors]="_HelperService._UserOverviewPlot.RewardColors" [datasets]="MerchantCategotries"
                  [labels]="SalesLabels" [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                  [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                  [options]="_HelperService._UserOverviewPlot.CustomerHOptions"></canvas>
                <div class="pd-20  d-flex justify-content-between">
  
                  <div>
                    <div class="tx-18 tx-MasterCard">{{CategoryElement1?.Count || "--"}}</div>
                    <div class="tx-12 tx-uppercase">{{CategoryElement1?.Name || "--"}}</div>
                  </div>
        
                  <div>
                    <div class="tx-18 tx-teal">{{CategoryElement2?.Count || "--"}}</div>
                    <div class="tx-12 tx-uppercase">{{CategoryElement2?.Name || "--"}}</div>
                  </div>
        
                  <div>
                    <div class="tx-18 tx-verve">{{CategoryElement3?.Count || "--"}}</div>
                    <div class="tx-12 tx-uppercase">{{CategoryElement3?.Name || "--"}}</div>
                  </div>
        
                  <div>
                    <div class="tx-18 text-primary">{{CategoryElement4?.Count || "--"}}</div>
                    <div class="tx-12 tx-uppercase">{{CategoryElement4?.Name || "--"}}</div>
                  </div>
  
                </div>
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div>
  
      <div class="col-lg-4 col-xl-4 col-sm-12 col-md-4 mg-t-10 mg-lg-t-0">
        <div class="card ht-100p">
          <div
            class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
  
            <h5 class="mg-b-0 tx-14 "> Total Customers Vs App Users
            </h5>
            <!-- <div class="text-secondary tx-12"> Today’s POS Activity </div> -->
          </div>
          <div class="card-body d-flex align-items-center justify-content-center">
            <div class="row" *ngIf="!CustomerChart">
              <div *ngIf=" TotalUserCust == 0">
                <span
                  class="wd-120 wd-md-120 ht-120 ht-md-120 bd bd-2 bd-secondary bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                  <img height="60" width="60" src="assets/img/users.svg" alt="" srcset=""> </span>
                <div class="text-secondary mg-t-5"> No customers found </div>
              </div>
  
  
              <div class="col-md-12" *ngIf="TotalUserCust != 0">
                <div *ngIf="showDailyChart">
                  <canvas height="200" baseChart [colors]="_HelperService.ChartConfig.AppUserTypeColors"
                    [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
                    [options]="_HelperService.ChartConfig.DoughnetChart.Options"
                    [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false" [data]="TotalAppUsers"
                    [labels]="AppUsers"></canvas>
                </div>
                <div class="text-center m-auto pd-t-15">
                  <div class="tx-12 tx-bold tx-uppercase"> Total Customer</div>
                  <div class="tx-18 text-primary"> {{(this.TotalUsers.AppUsers + this.TotalUsers.NonAppUsers) || "0" }}
                  </div>
                </div>
  
              </div>
            </div>
  
            <div class="row" *ngIf="CustomerChart">
              <div class="text-center  text-muted col-md-12 ht-200 d-flex align-items-center justify-content-center">
                <div class="spinner-border"></div>
              </div>
            </div>
  
  
          </div>
          <div class="card-footer pd-20 d-flex justify-content-between">
  
  
            <div>
              <div class="tx-12 tx-bold tx-uppercase"> App Users</div>
              <div class="tx-18" style="color: #B11A83 !important;"> {{this.TotalUsers.AppUsers || "0"}}</div>
  
            </div>
  
            <div>
              <div class="tx-12 tx-bold tx-uppercase"> POS User</div>
              <div class="tx-18" style="color: #C0CCDA !important;"> {{this.TotalUsers.NonAppUsers || "0"}}</div>
  
            </div>
          </div><!-- card-footer -->
        </div>
      </div>
    </div>
    <div class="row row-xs mg-b-10">
      <div class="col-lg-8 col-xl-8 col-sm-12 col-md-8 mg-lg-t-0 mg-t-10">
        <div class="card ht-100p">
          <div class="card-header pd-t-20 pd-lg-t-20 pd-l-20 pd-lg-l-20">
            <ul class="nav nav-line  d-flex" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#allcutomers" role="tab"
                  aria-controls="allcutomers" aria-selected="true">All Customers
  
                </a>
              </li>
  
  
            </ul>
  
          </div>
  
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active ht-100p" id="allcutomers" role="tabpanel"
              aria-labelledby="allcutomers-tab">
              <div>
                <div class="card-body d-flex align-items-center justify-content-center">
                  <div class="row">
                    <div *ngIf="LoadingChart"
                      class="text-center  text-muted col-md-12 ht-200 d-flex align-items-center justify-content-center">
                      <div class="spinner-border"></div>
                    </div>
                    <div class="col-md-12" *ngIf="!LoadingChart">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="tx-13 tx-bold pd-b-20"> Gender </div>
  
                          <div>
                            <canvas height="200" baseChart [colors]="_HelperService.ChartConfig.GenderTypeColors"
                              [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
                              [options]="_HelperService.ChartConfig.DoughnetChart.Options"
                              [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false" [data]="GenderSegment"
                              [labels]="GenderLabel"></canvas>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="tx-13 tx-bold pd-b-20"> Age Group </div>
                          <div *ngIf="showDailyChart">
                            <canvas height="200" baseChart [colors]="_HelperService._UserOverviewPlot.AgeSaleColors"
                              [datasets]="SbarChartData" [labels]="SbarChartLabels" [options]="barChartOptions"
                              [plugins]="barChartPlugins" [legend]="SbarChartLegend" [chartType]="SbarChartType">
                            </canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer pd-20">
                  <div class="row">
                    <div class="col-3" *ngFor="let gender of GenderRange">
                      <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
                        {{gender.Title ||"--"}}
                      </p>
                      <div class="d-flex align-items-center">
                        <h5 [ngClass]="gender.text" class="tx-medium mg-b-0">
                          {{ ((gender.Count/(GenderRange[0].Count + GenderRange[1].Count ))*100) | number :"1.0-2" || '--'}}
                          <!-- {{[((gender.Count/(GenderRange[0].Count + GenderRange[1].Count ))*100)| number:"1.0-2"]|| "--"}}% -->
                          <br>
                          <small class="text-secondary tx-11"> Total {{gender.Visits || "0"}} Visits</small>
  
                        </h5>
                      </div>
                    </div><!-- col -->
  
                    <div class="col-6">
                      <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">Active APP
                        CUSTOMERS
                      </p>
                      <div class="d-flex align-items-center">
                        <h5 class="tx-medium mg-b-0 text-success">{{this.TotalUsers.AppUsers || "0"}}
                          <br>
  
                          <small class="text-secondary tx-11"> Total <b> {{this.TotalUsers.Total || "0"}}</b>
                            Customers</small>
  
                        </h5>
                      </div>
                    </div>
  
                  </div><!-- row -->
                </div><!-- card-footer -->
              </div>
            </div>
  
            <div class="tab-pane fade ht-100p" id="appusers" role="appusers" aria-labelledby="appusers-tab">
              .....
            </div>
          </div>
  
  
        </div>
      </div>
  
  
  
  
      <div class="col-lg-4 col-xl-4 col-sm-12 col-md-4 mg-t-10 mg-lg-t-0">
        <div class="card ht-100p">
          <div
            class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
  
            <h5 class="mg-b-0 tx-14 "> Card Vs Cash Users
            </h5>
            <!-- <div class="text-secondary tx-12"> Today’s POS Activity </div> -->
          </div>
          <div class="card-body d-flex align-items-center justify-content-center">
  
  
            <div class="row">
              <div *ngIf="LoadingChart"
                class="text-center  text-muted col-md-12 ht-200 d-flex align-items-center justify-content-center">
                <div class="spinner-border"></div>
              </div>
              <div *ngIf="!LoadingChart && PaymentModes.length == 0">
                <span
                  class="wd-120 wd-md-120 ht-120 ht-md-120 bd bd-2 bd-secondary bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                  <img height="60" width="60" src="assets/img/users.svg" alt="" srcset=""> </span>
                <div class="text-secondary mg-t-5">No Card Vs Cash Users found</div>
              </div>
              <div class="col-md-12" *ngIf="!LoadingChart && PaymentModes.length > 0">
                <div *ngIf="showDailyChart">
                  <canvas height="200" baseChart [colors]="_HelperService.ChartConfig.CardCashUserTypeColors"
                    [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
                    [options]="_HelperService.ChartConfig.DoughnetChart.Options"
                    [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false" [data]="PaymentModes"
                    [labels]="PaymentModelabel"></canvas>
               
                    <!-- [data]="PaymentModes" -->
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer pd-20 d-flex justify-content-between">
            <div>
              <div class="tx-12 tx-bold tx-uppercase"> Card Users</div>
              <div class="tx-18 tx-MasterCard"> {{this.PaymentsMode.CardTransactions || "0"}}</div>
              <small class=" tx-11"> <span class="text-secondary"> Total </span> <b>{{this.PaymentsMode.CashTransactions +
                  this.PaymentsMode.CardTransactions}}</b> <span class="text-secondary"> Transactions </span> </small>
  
            </div>
  
            <div>
              <div class="tx-12 tx-bold tx-uppercase"> Cash Users</div>
              <div class="tx-18 text-primary"> {{this.PaymentsMode.CashTransactions || "0"}}</div>
              <small class="tx-11"> <span class="text-secondary"> Total </span><b> {{this.PaymentsMode.CashTransactions +
                  this.PaymentsMode.CardTransactions}} </b> <span class="text-secondary"> Transactions</span></small>
  
            </div>
          </div><!-- card-footer -->
        </div>
  
      </div>
    </div>
  
  
    <div class="row row-xs">
  
      <div class="col-lg-5 col-xl-5 col-sm-12 col-md-5 mg-t-10 mg-lg-t-0">
        <div class="card ht-100p">
          <div
            class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
  
            <h5 class="mg-b-0 tx-14 "> Segmentation by Referrals
            </h5>
  
            <div class="text-secondary">
              <span class="cursor-pointer" data-toggle="tooltip" data-placement="top"
                title="This shows Customer Registration count by various referral"> <i data-feather="info"></i> </span>
            </div>
            <!-- <div class="text-secondary tx-12"> Today’s POS Activity </div> -->
          </div>
          <div class="card-body d-flex align-items-center justify-content-center">
  
  
            <div class="row" *ngIf="!CustomerReferrals">
              <div *ngIf="TotalReferalsWise == 0">
                <span
                  class="wd-120 wd-md-120 ht-120 ht-md-120 bd bd-2 bd-secondary bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                  <img height="60" width="60" src="assets/img/users.svg" alt="" srcset=""> </span>
                <div class="text-secondary mg-t-5"> No referrals found </div>
              </div>
  
              <div class="col-md-12" *ngIf=" TotalReferalsWise != 0">
                <div *ngIf="showDailyChart">
                  <canvas height="200" baseChart [colors]="_HelperService.ChartConfig.CustRefralTypeColors"
                    [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
                    [options]="_HelperService.ChartConfig.DoughnetChart.Options"
                    [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false" [data]="TotalReferalsUsers"
                    [labels]="ReferalLabel"></canvas>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="CustomerReferrals">
              <div class="text-center  text-muted col-md-12 ht-200 d-flex align-items-center justify-content-center">
                <div class="spinner-border"></div>
              </div>
            </div>
  
          </div>
          <div class="card-footer pd-20 d-flex justify-content-between">
            <div>
              <div class="tx-12 tx-bold tx-uppercase"> By customers</div>
              <div class="tx-18 text-primary"> {{this.ReferalsWise.Customers || "0"}}</div>
  
            </div>
  
            <div>
              <div class="tx-12 tx-bold tx-uppercase"> Merchants</div>
              <div class="tx-18 tx-verve"> {{this.ReferalsWise.Merchants || "0"}}</div>
  
            </div>
  
            <div>
              <div class="tx-12 tx-bold tx-uppercase"> Banks, Partners & PTSp</div>
              <div class="tx-18 tx-MasterCard"> {{this.ReferalsWise.Partners || "0"}}</div>
  
            </div>
          </div><!-- card-footer -->
        </div>
      </div>
      <div class="col-lg-7 col-xl-7 col-sm-12 col-md-7 mg-t-10 mg-lg-t-0">
        <div class="card ht-100p">
          <div class="card-header">
            <ul class="nav nav-line  d-flex" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                  aria-selected="true">Customers by spent range
  
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                  aria-selected="false">Customers by Reward earning range
                </a>
              </li>
  
            </ul>
          </div>
  
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active ht-100p" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <canvas height="110" baseChart #RewardPlot="base-chart"
                      [colors]="_HelperService._UserOverviewPlot.SaleColors" [datasets]="DataSales" [labels]="SalesLabels"
                      [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                      [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                      [options]="_HelperService._UserOverviewPlot.CustomerHOptions"></canvas>
  
                    <div class="pd-20  d-flex justify-content-between">
  
                      <div>
                        <div class="tx-18 text-success">{{SaleElement1.Count || "0"}}</div>
                        <div class="tx-12"> Less Than {{SaleElement1.Title || "0"}} </div>
  
                      </div>
                      <div>
                        <div class="tx-18 tx-teal">{{SaleElement2.Count || "0"}}</div>
                        <div class="tx-12">{{SaleElement2.Title || "0"}} </div>
  
                      </div>
                      <div>
                        <div class="tx-18 tx-verve">{{SaleElement3.Count || "0"}}</div>
                        <div class="tx-12">{{SaleElement3.Title || "0"}} </div>
  
                      </div>
                      <div>
                        <div class="tx-18 text-primary">{{SaleElement4.Count || "0"}}</div>
                        <div class="tx-12"> More Than {{SaleElement4.Title || "0"}} </div>
  
                      </div>
  
                    </div>
                  </div>
                  <div class="tab-pane fade ht-100p" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <canvas height="110" baseChart #RewardPlot="base-chart"
                      [colors]="_HelperService._UserOverviewPlot.SaleColors" [datasets]="DataReward"
                      [labels]="RewardLabels" [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                      [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                      [options]="_HelperService._UserOverviewPlot.CustomerHOptions"></canvas>
  
                    <div class="pd-20  d-flex justify-content-between">
  
                      <div>
                        <div class="tx-18 text-success">{{RewardElement1.Count || "0"}}</div>
                        <div class="tx-12">Less Than {{RewardElement1.Title || "0"}}</div>
  
                      </div>
                      <div>
                        <div class="tx-18 tx-teal">{{RewardElement2.Count || "0"}}</div>
                        <div class="tx-12">{{RewardElement4.Title || "0"}}</div>
  
                      </div>
                      <div>
                        <div class="tx-18 tx-verve">{{RewardElement3.Count || "0"}}</div>
                        <div class="tx-12">{{RewardElement4.Title || "0"}} </div>
  
                      </div>
                      <div>
                        <div class="tx-18 text-primary">{{RewardElement4.Count || "0"}}</div>
                        <div class="tx-12"> More Than {{RewardElement4.Title || "0"}}</div>
  
                      </div>
  
                    </div>
                  </div>
  
                </div>
  
  
              </div>
  
  
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
    <!-- </div> -->
  
  
  </div>