<!-- acquirer--merchants--list -->

<!-- <ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Customer Group</a></li>
</ol> -->

<!-- <div class="row ">
  <div class="col-md-12">
    <div class="no-gutters">
      <div class="d-sm-flex justify-content-between align-items-center bd-b pd-b-10">
        <div class=" mg-t-10">
          <h4> Customers Group <span class="text-muted">
              ({{Configurations_Config.TotalRecords}})</span> </h4>
          <div class="tx-12 mg-t-10  ">Upload your own customer list OR you can create custom groups from your existing
            customer
            list based on filters</div>
          <div class="tx-12 text-secondary mg-t-5">(For example, Top Spenders, Regular Customers etc)</div>

        </div>
        <div class="form-inline ">
  

          <button class="btn btn-primary btn-sm mg-l-5" (click)="Form_Add_Show() "> Create Group </button>



        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="card-body p-x-20 table-responsive">
  <table class="table  mb-0">
    <thead>
      <tr>
        <th style="max-width: 300px !important;">
          Title
        </th>

        <th class="text-center">
          Customers
        </th>

        <th class="">
          Created On
        </th>

        <th class="">

        </th>

      </tr>
    </thead>
    <tbody>
      <tr class="cursor-pointer"
        *ngFor="let TItem of Configurations_Config.Data  | paginate: { id: 'Configurations_Paginator',itemsPerPage: Configurations_Config.PageRecordLimit, currentPage: Configurations_Config.ActivePage,  totalItems: Configurations_Config.TotalRecords }; let i = index">
        <td style="max-width: 300px !important;"  (click)="Configurations_RowSelected(TItem)">
          <div> {{TItem.Title || "--"}} </div>

        </td>

        <td class="text-center"> {{TItem.ItemCount || "--"}} </td>

        <td>
          <div class="tx-14 tx-semibold">{{TItem.CreateDateD || "--"}}</div>

          <div class="tx-12 text-secondary"> {{TItem.CreateDateT || "--"}} </div>

        </td>

        <td class="">
          <div>
            <div class="dropdown dropleft">
              <a href="" class="nav-link" id="SubAccountsList_rdropdown_{{i}}" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
              <div class="dropdown-menu tx-13">
                <form class="wd-250  pd-15">
                  <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">More Actions
                  </h6>
                  <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                    (click)="DeleteConfiguration(TItem);CloseRowModal(i)">
                    <span class="pd-r-10"><i class="fas fa-times-circle text-danger"></i></span>Delete Group
                  </a>

                </form>
              </div>
            </div>
          </div>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<div class="card-footer pd-20 bd-0">
  <span class="mr-3">
    {{ 'Common.Showing' | translate }}
    <span class="bold">{{Configurations_Config.ShowingStart}} {{ 'Common.To' | translate }}
      {{Configurations_Config.ShowingEnd}}
    </span> {{ 'Common.Of' | translate }} {{Configurations_Config.TotalRecords}}
  </span>
  <span>
    {{ 'Common.Show' | translate }}
    <select class="wd-50 " [(ngModel)]="Configurations_Config.PageRecordLimit"
      (ngModelChange)="Configurations_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
      <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
        {{TItem}}
      </option>
    </select>
  </span>
  <span class="float-right">
    <pagination-controls id="Configurations_Paginator" class="pagination pagination-space"
      (pageChange)="Configurations_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
      nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
    </pagination-controls>
  </span>
</div>


<div class="modal fade" id="Form_Add_Content" role="dialog" data-backdrop="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Create New Customer Group</h5>
      </div>

      <form [formGroup]="Form_Add" (ngSubmit)="Form_Add_Process(Form_Add.value)" role="form">
        <div class="modal-body pd-b-50" *ngIf="ResetFilterControls">
          <!-- <div class="p-3 b-b"> -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Customer Group Title
                  <span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="Title" maxlength="30" class="form-control"
                    [formControl]="Form_Add.controls['Title']"
                    [ngClass]="{'is-invalid':! Form_Add.controls['Title'].valid && Form_Add.controls['Title'].touched}">
                </div>
                <label class="text-danger" for="Title"
                  *ngIf=" Form_Add.controls['Title'].hasError('required') && Form_Add.controls['Title'].touched">Enter
                  Title Required</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-secondary">
                Name your campaign in Max 30 words
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Add Customer List
                  <span class="text-danger">*</span>
                  <div class="mg-t-15">
                    <input class="mg-r-5" type="radio" [(ngModel)]="type" (click)="CheckType('tuc')" [value]="1"
                      name="type" checked [ngModelOptions]="{standalone: true}">
                    <label class="tx-14" for="Monthly">Select from existing Customers</label>
                  </div>

                  <div class="">
                    <input class="mg-r-5" type="radio" [(ngModel)]="type" (click)="CheckType('external')" [value]="2"
                      name="type" [ngModelOptions]="{standalone: true}">
                    <label class="tx-14" for="Monthly">Upload Document</label>
                  </div>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-secondary">Add Customer List</div>
              <div class="tx-12 text-secondary">
                You can create list from existing customers available Or you can upload document (.xls)
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">

              <div *ngIf="type == 1">
                <div class="form-group">
                  <label>Apply Filter <span class="text-danger">*</span></label>
                  <div class="form-group" id="Customers_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                    <!-- <input *ngIf="ResetFilterControls" type="text" placeholder="All Customers"
                      [(ngModel)]="Customers_Config.TotalCustomer + ' ' + Customer" readonly
                      [ngModelOptions]="{standalone: true}" class="form-control"> -->
                
                  </div>

                  <div class="pt-0 pd-b-15" *ngIf="ResetFilterControls">

                    <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
                      {{_HelperService.FilterSnap.StatusName}}
                      <span (click)="RemoveFilterComponent('Status')"
                        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span>
                    </div> -->

                    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                      [hidden]="!_HelperService.FilterSnap.StartTime">
                      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
                      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
                      <span (click)="RemoveFilterComponent('Time')"
                        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span>
                    </div>

                    <div
                      class="badge badge-transparent pd-y-10 mg-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                      [hidden]="
                      !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)"
                      (click)="RemoveFilterComponent('SalesRange')">
                      Sales Range
                      [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" +
                      _HelperService.FilterSnap.SalesRange.SalesMax}}]
                      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span>
                    </div>
                    <div
                      class="badge badge-transparent pd-y-10  mg-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                      [hidden]="
                      !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RewardMin==0 && _HelperService.FilterSnap.SalesRange.RewardMax==10000000)"
                      (click)="RemoveFilterComponent('RewardRange')">
                      Reward
                      Range [{{_HelperService.FilterSnap.SalesRange.RewardMin + "--" +
                      _HelperService.FilterSnap.SalesRange.RewardMax}}]
                      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span>
                    </div>
                    <div
                      class="badge badge-transparent pd-y-10  mg-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                      [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RedeemMin==0 && _HelperService.FilterSnap.SalesRange.RedeemMax==10000000)"
                      (click)="RemoveFilterComponent('RedeemRange')">
                      Redeem
                      Range [{{_HelperService.FilterSnap.SalesRange.RedeemMin + "--" +
                      _HelperService.FilterSnap.SalesRange.RedeemMax}}]
                      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span>
                    </div>
                  </div>
                  <div class="dropdown-menu tx-13">
                    <form class="wd-400  pd-15" *ngIf="ResetFilterControls">
                      <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                      </h6>
                      <div>
                        <div class="form-group">
                          <label>Added On</label>
                          <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                            daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                            (selected)="Customers_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                        </div>
                      </div>
                      <!-- <div>
                        <div class="form-group">
                          <label>Status</label>
                          <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                            [data]="Customers_Config.StatusOptions"
                            (valueChanged)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                          </select2>
                        </div>
                      </div> -->


                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="InvoiceRangeMaxAmount">Min Sale Amount</label>
                              <input type="number" min=0 name="InvoiceRangeMinAmount" maxlength="256"
                                class="form-control" [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="InvoiceRangeMaxAmount">Max Sale Amount</label>
                              <input type="number" min=0 name="InvoiceRangeMaxAmount" maxlength="256"
                                class="form-control" [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RewardRangeMinAmount">Min Reward Amount</label>
                              <input type="number" min="0" name="RewardRangeMinAmount" maxlength="256"
                                class="form-control" [(ngModel)]="TUTr_RewardRangeMinAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RewardRangeMaxAmount">Max Reward Amount</label>
                              <input type="number" min="0" name="RewardRangeMaxAmount" maxlength="256"
                                class="form-control" [(ngModel)]="TUTr_RewardRangeMaxAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mg-b-70">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RedeemRangeMinAmount">Min Redeem Amount</label>
                              <input type="number" min="0" name="RedeemRangeMinAmount" maxlength="256"
                                class="form-control" [(ngModel)]="TUTr_RedeemRangeMinAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RedeemRangeMaxAmount">Max Redeem Amount</label>
                              <input type="number" min="0" name="RedeemRangeMaxAmount" maxlength="256"
                                class="form-control" [(ngModel)]="TUTr_RedeemRangeMaxAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                      </div>

                      <button type="button" class="btn btn-light btn-sm mr-2"
                        (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                        Reset</button>
                      <button type="button" class="btn btn-primary btn-sm "
                        (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                  </div>
                </div>
              </div>

              <div *ngIf="type == 2">
                <div class="modal-body" *ngIf="ResetFilterControls">
                  <div class="container d-flex justify-content-center">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <!-- <span class="tx-50 tx-success"><i class="far fa-file-excel"></i></span> -->
                      <input type="file" id="myFile" size="50" (change)="addfile($event)" multiple="false"
                        class="cursor-pointer btn  dragDrop"
                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                        style="padding:35px !important;" />
                      <!-- <button (click)="onUpload()" class=" btn btn-brand-02  wd-200 mt-3"> Upload File </button> -->
                    </div>
                  </div>

                </div>
              </div>
              <!-- </div> -->

            </div>
            <div class="col-md-6">
              <div class="text-secondary">
                Upload Your customer list here
              </div>

            </div>
          </div>


          <!-- </div> -->
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary mr-2" type="button" (click)=" Form_Add_Close()"> Close </button>

          <button type="submit" class="btn btn-primary" (click)=" Form_Add.value.OperationType='new'"
            [disabled]="! Form_Add.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ 'Common.Save' | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
              translate
              }}...
            </span>
          </button>
        </div>
      </form>


    </div>
  </div>
</div>

<div class="modal fade" id="Form_Edit_Content" role="dialog" data-backdrop="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Edit Customer Group</h5>
      </div>

      <form [formGroup]="Form_Edit" (ngSubmit)="Form_Edit_Process(Form_Edit.value)" role="form">
        <div class="modal-body pd-b-50">
          <!-- <div class="p-3 b-b"> -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Customer Group Title
                  <span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="Title" maxlength="30" class="form-control"
                    [formControl]="Form_Edit.controls['Title']" [(ngModel)]="this._Configuration.Title"
                    [ngClass]="{'is-invalid':! Form_Edit.controls['Title'].valid && Form_Edit.controls['Title'].touched}">
                </div>
                <label class="text-danger" for="Title"
                  *ngIf=" Form_Edit.controls['Title'].hasError('required') && Form_Edit.controls['Title'].touched">Enter
                  Title Required</label>
              </div>
            </div>
            <div class="col-md-6">
              <!-- <div class="text-secondary">
                Name your campaign in Max 30 words
              </div> -->
            </div>

          </div>

       
          <div class="row">
            <div class="col-md-6">
              <div class="" *ngFor="let conditions of FilterConditions">
                <button type="button" disabled
                  class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left">{{conditions.Value}}</button>
              </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6">




              <div>
                <div class="form-group">
                  <label>Change Filter <span class="text-danger">*</span></label>
                  <div class="form-group" id="Customers_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                    <input type="text" placeholder="All Customers" [(ngModel)]="this._Configuration.ItemCount" readonly
                      [ngModelOptions]="{standalone: true}" class="form-control">

                  </div>

                  <div class="pt-0 pd-b-15">

                    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
                      {{_HelperService.FilterSnap.StatusName}}
                      <span (click)="RemoveFilterComponent('Status')"
                        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span>
                    </div>

                    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                      [hidden]="!_HelperService.FilterSnap.StartTime">
                      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
                      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
                      <span (click)="RemoveFilterComponent('Time')"
                        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span>
                    </div>

                    <div
                      class="badge badge-transparent pd-y-10 mg-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                      [hidden]="
                      !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)"
                      (click)="RemoveFilterComponent('SalesRange')">
                      Sales Range
                      [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" +
                      _HelperService.FilterSnap.SalesRange.SalesMax}}]
                      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span>
                    </div>
                    <div
                      class="badge badge-transparent pd-y-10  mg-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                      [hidden]="
                      !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RewardMin==0 && _HelperService.FilterSnap.SalesRange.RewardMax==10000000)"
                      (click)="RemoveFilterComponent('RewardRange')">
                      Reward
                      Range [{{_HelperService.FilterSnap.SalesRange.RewardMin + "--" +
                      _HelperService.FilterSnap.SalesRange.RewardMax}}]
                      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span>
                    </div>
                    <div
                      class="badge badge-transparent pd-y-10  mg-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                      [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RedeemMin==0 && _HelperService.FilterSnap.SalesRange.RedeemMax==10000000)"
                      (click)="RemoveFilterComponent('RedeemRange')">
                      Redeem
                      Range [{{_HelperService.FilterSnap.SalesRange.RedeemMin + "--" +
                      _HelperService.FilterSnap.SalesRange.RedeemMax}}]
                      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span>
                    </div>
                  </div>
                  <div class="dropdown-menu tx-13">
                    <form class="wd-400  pd-15" *ngIf="ResetFilterControls">
                      <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                      </h6>
                      <div>
                        <div class="form-group">
                          <label>Added On</label>
                          <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                            daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                            (selected)="Customers_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                        </div>
                      </div>
                      <!-- <div>
                        <div class="form-group">
                          <label>Status</label>
                          <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                            [data]="Customers_Config.StatusOptions"
                            (valueChanged)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                          </select2>
                        </div>
                      </div> -->
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="InvoiceRangeMaxAmount">Min Sale Amount</label>
                              <input type="number" min=0 name="InvoiceRangeMinAmount" maxlength="256"
                                class="form-control" [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="InvoiceRangeMaxAmount">Max Sale Amount</label>
                              <input type="number" min=0 name="InvoiceRangeMaxAmount" maxlength="256"
                                class="form-control" [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RewardRangeMinAmount">Min Reward Amount</label>
                              <input type="number" min="0" name="RewardRangeMinAmount" maxlength="256"
                                class="form-control" [(ngModel)]="TUTr_RewardRangeMinAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RewardRangeMaxAmount">Max Reward Amount</label>
                              <input type="number" min="0" name="RewardRangeMaxAmount" maxlength="256"
                                class="form-control" [(ngModel)]="TUTr_RewardRangeMaxAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mg-b-70">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RedeemRangeMinAmount">Min Redeem Amount</label>
                              <input type="number" min="0" name="RedeemRangeMinAmount" maxlength="256"
                                class="form-control" [(ngModel)]="TUTr_RedeemRangeMinAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RedeemRangeMaxAmount">Max Redeem Amount</label>
                              <input type="number" min="0" name="RedeemRangeMaxAmount" maxlength="256"
                                class="form-control" [(ngModel)]="TUTr_RedeemRangeMaxAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                      </div>

                      <button type="button" class="btn btn-light btn-sm mr-2"
                        (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                        Reset</button>
                      <button type="button" class="btn btn-primary btn-sm "
                        (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                  </div>
                </div>
              </div>

              <!-- <div *ngIf="type == 2">
                <div class="modal-body" *ngIf="ResetFilterControls">
                  <div class="container d-flex justify-content-center">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <input type="file" id="myFile" size="50" (change)="addfile($event)" multiple="false"
                        class="cursor-pointer btn  dragDrop"
                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                        style="padding:35px !important;" />
                    </div>
                  </div>

                </div>
              </div> -->
              <!-- </div> -->

            </div>
            <div class="col-md-6">
              <!-- <div class="text-secondary">
                Upload Your customer list here
              </div> -->

            </div>
          </div>


          <!-- </div> -->
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary mr-2" type="button" (click)=" Form_Edit_Close()"> Close </button>

          <button type="submit" class="btn btn-primary" (click)=" Form_Edit.value.OperationType='new'"
            [disabled]="! Form_Edit.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ 'Common.Save' | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
              translate
              }}...
            </span>
          </button>
        </div>
      </form>


    </div>
  </div>
</div>