<!-- acquirer--merchants--list -->

<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active cursor-pointer" [routerLinkActive]="['active']"><a class="text-primary"
      (click)="_HelperService.NavigateBack()">
      Administration</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      User Session</a></li>
</ol>

<div class="card ">
  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <span class="tx-semibold mg-t-10">User Sessions<span class="text-muted tx-normal">
            ({{ UserSession_Config.TotalRecords}})</span>
          <div class="tx-12 tx-normal text-secondary"> User Login sessions in system or App</div>

        </span>
      </div>
    </div>
  </div>


  <!-- <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> {{ UserSession_Config.Title}} </div>
  </div> -->
  <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]=" UserSession_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)=" UserSession_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)=" UserSession_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="UserSession_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">

            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="UserSession_Config.Sort.SortOrder == 'desc'"
                (click)="UserSession_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="UserSession_Config.Sort.SortOrder == 'asc'"
                (click)="UserSession_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>
            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of  UserSession_Config.Sort.SortOptions"
              (click)=" UserSession_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="UserSession_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Last Activity</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)=" UserSession_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]=" UserSession_Config.StatusOptions"
                  (valueChanged)=" UserSession_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>
            <div>
              <!-- <div class="form-group">
                <label>User</label>
                <select2 [options]=" UserSession_Filter_Stores_Option" class="wd-100p"
                  (valueChanged)=" UserSession_Filter_Stores_Change($event)">
                </select2>
              </div> -->
            </div>
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)=" UserSession_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-10">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='LastActivityDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
  
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of  UserSession_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0 table-responsive">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <!-- <th class="text-center" *ngIf="ColumnConfig[0].Value">
          </th> -->
          <th class="text-center">
          </th>
          <th class="">
            User
          </th>
          <th class="">
            Account
          </th>
          <th class="">
            Login
          </th>
          <th class="">
            Logout
          </th>
          <th class="">
            App
          </th>

          <th class="">
            Version
          </th>
          <th class="text-center">
            IP Address
          </th>
          <th class="text-center">
            Last Activity
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)=" UserSession_RowSelected(TItem)"
          *ngFor="let TItem of  UserSession_Config.Data  | paginate: { id: ' UserSession_Paginator',itemsPerPage:  UserSession_Config.PageRecordLimit, currentPage:  UserSession_Config.ActivePage,  totalItems:  UserSession_Config.TotalRecords }">
          <td class="text-center">
            <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span>

          </td>
          <td>
            <div class="tx-14 tx-semibold ">{{TItem.UserAccountDisplayName || "--"}}</div>

          </td>
          <td class="">
            <div class="tx-14">{{TItem.UserAccountTypeName || "--"}}
            </div>

          </td>
          <td class="text-lowercase">
            <!-- <div>{{(TItem.LoginDate | date :["dd-MM-yyyy"]) || "--"}}</div>
            <div class="text-lowercase">{{(TItem.LoginDate | date :["hh:mm a"]) || "--"}}</div> -->
            <!-- <div>{{TItem.LoginDate  || "--"}}</div> -->
            <div>{{TItem.LoginDate_D  || "--"}}</div> 
            <div>{{TItem.LoginDate_T  || "--"}}</div> 
          </td>
          <td class="text-lowercase">
            <!-- <div>{{(TItem.LogoutDate | date :["dd-MM-yyyy"]) || "--"}}</div>
            <div class="text-lowercase">{{(TItem.LogoutDate | date :["hh:mm a"]) || "--"}}</div> -->
            <!-- {{(TItem.LogoutDate | date :["dd-MM-yyyy hh:mm a"]) || "--"}} -->

            <!-- <div>{{TItem.LogoutDate || "--" }}</div> -->
            <div>{{TItem.LogoutDate_D || "--" }}</div>
            <div>{{TItem.LogoutDate_T || "--" }}</div>
          </td>
          <td class="">
            {{TItem.AppName || "--"}}
          </td>
          <td class="">
            <span class="full-width">{{TItem.AppVersioName || "--"}}</span>
          </td>
          <td class="">
            <span class="full-width">{{TItem.IpAddress || "--"}}</span>
          </td>
          <td class="text-lowercase">
            <div>{{(TItem.LastActivityDate | date :["dd-MM-yyyy"]) || "--" }}</div>
            <div class="text-lowercase">{{(TItem.LastActivityDate | date :["hh:mm a"]) || "--" }}</div>
            <!-- <span class="full-width">{{(TItem.LastActivityDate | date :["dd-MM-yyyy hh:mm a"]) || "--" }}</span> -->
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{ UserSession_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{ UserSession_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{ UserSession_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]=" UserSession_Config.PageRecordLimit"
        (ngModelChange)=" UserSession_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id=" UserSession_Paginator" class="pagination pagination-space"
        (pageChange)=" UserSession_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div>


<div class="off-canvas off-canvas-overlay off-canvas-right  mn-wd-30p" #offCanvas style="width: 480px !important;">
  <div class="off-canvas-content">
    <div class="card">
      <div class="card-header">
        <h3> {{_VRequest.MobileNumber || "--"}} </h3>
      </div>

      <div class="card-header">
        <h5> Verification Code </h5>
        <h3> {{_VRequest.AccessCode || "--"}} </h3>
      </div>

      <div class="card-body">
        <div class="tx-dark"> Request Details </div>
        <div class="text-secondary">
          <div class="row">
            <div class="col-md-4 pd-t-15"> Request Time </div>
            <div class="col-md-1 pd-t-15"> : </div>
            <div class="col-md-7 pd-t-15 tx-dark">{{_VRequest.RequestDate || "--"}}</div>

          </div>

        </div>
        <div class="text-secondary">
          <div class="row">
            <div class="col-md-4 pd-t-15"> Expiry Date</div>
            <div class="col-md-1 pd-t-15"> : </div>
            <div class="col-md-7 pd-t-15 tx-dark">{{_VRequest.ExpiaryDate || "--"}}</div>
          </div>
        </div>
        <div class="text-secondary">
          <div class="row">
            <div class="col-md-4 pd-t-15">IP address</div>
            <div class="col-md-1 pd-t-15"> : </div>
            <div class="col-md-7 pd-t-15 tx-dark"> {{_VRequest.RequestIpAddress || "--"}} </div>

          </div>
        </div>
      </div>

      <div class="card-body bd-t">
        <div class="tx-dark"> Request Details </div>
        <div class="text-secondary">
          <div class="row">
            <div class="col-md-4 pd-t-15"> Verification Time</div>
            <div class="col-md-1 pd-t-15"> : </div>
            <div class="col-md-7 pd-t-15 tx-dark">{{_VRequest.VerifyDate || "--"}}</div>

          </div>

        </div>
        <div class="text-secondary">
          <div class="row">
            <div class="col-md-4 pd-t-15"> Attempts</div>
            <div class="col-md-1 pd-t-15"> : </div>
            <div class="col-md-7 pd-t-15 tx-dark">{{_VRequest.VerifyAttemptCount || "--"}}</div>

          </div>
        </div>
        <div class="text-secondary">
          <div class="row">
            <div class="col-md-4 pd-t-15">IP address</div>
            <div class="col-md-1 pd-t-15"> : </div>
            <div class="col-md-7 pd-t-15 tx-dark"> {{_VRequest.VerifyIpAddress || "--"}} </div>

          </div>
        </div>
      </div>


      <div class="card-footer">
        <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>

      </div>




    </div>

  </div>
</div>