<div class=" h-v d-flex flex align-items-center white " style="  display: block; 
position: relative;
overflow: hidden;">
    <!-- <div class="auroral-agrabah"></div>
    <div class="auroral-stars"></div> -->
    <div class="mx-auto w-xl w-auto-xs animate fadeIn" style="width:70%;">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="mg-t-50" *ngIf="_HelperService.AppConfig.Host == 'interswitch.thankucash.com'"><img
                        src="../../../assets/img/interswitch.png" class="w-xmd">
                </div>
                <div class="mg-t-50" *ngIf="_HelperService.AppConfig.Host != 'interswitch.thankucash.com'"><img
                        src="../../../assets/img/logoinverse.png" class="w-xmd">
                </div>
                <div class="mg-t-50 mg-b-30">
                    <h4 class="_400">Register for your Account</h4>
                    <div>Already have an account? <span class="text-uppercase _600 text-primary">
                            <a routerLink="{{_HelperService.AppConfig.Pages.System.Login}}">
                                LOGIN
                            </a>
                        </span></div>
                </div>
                <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                    <div class="form-group"
                        [ngClass]="{'has-error':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                        <label class="block w-100">Enter your business name</label>

                        <input type="text" required name="Name" maxlength="256" class="form-control"
                            [formControl]="Form_AddUser.controls['Name']"
                            [ngClass]="{'is-invalid':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                        <div>
                            <label class="text-danger text-xs _600" for="Name"
                                *ngIf="Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">Enter
                                your business name</label>
                            <label class="text-danger text-xs _600" for="DisplayName"
                                *ngIf="Form_AddUser.controls['Name'].hasError('minlength') || Form_AddUser.controls['Name'].hasError('maxlength')">Enter
                                your valid business name</label>
                        </div>
                    </div>
                    <div class="form-group"
                        [ngClass]="{'has-error':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                        <label class="block w-100">Enter email address</label>

                        <input type="text" required name="EmailAddress" maxlength="256" class="form-control"
                            [formControl]="Form_AddUser.controls['EmailAddress']"
                            [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                        <div>
                            <label class="text-danger text-xs _600" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">{{ 'System.AddMerchant.EmailAddress_ER_Required' | translate }}</label>

                            <label class="text-danger text-xs _600" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">{{ 'System.AddMerchant.EmailAddress_ER_Invalid' | translate }}</label>
                        </div>

                    </div>
                    <div class="form-group"
                        [ngClass]="{'has-error':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">

                        <label class="block w-100">Enter mobile number</label>

                        <input type="text" name="MobileNumber" minlength="8" maxlength="14" class="form-control"
                            (keypress)="_HelperService.PreventText($event)" value="234"
                            [formControl]="Form_AddUser.controls['MobileNumber']"
                            [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                        <div>
                            <label class="text-danger text-xs _600" for="MobileNumber"
                                *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">{{ 'System.AddMerchant.MobileNumber_ER_Required' | translate }}</label>
                            <label class="text-danger text-xs _600" for="MobileNumber"
                                *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')">{{  'System.AddMerchant.MobileNumber_ER_Length' | translate }}</label>
                        </div>
                    </div>
                    <div class="form-group"
                        [ngClass]="{'has-error':!Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}">
                        <label class="block w-100">Create your password</label>

                        <input type="password" name="Password" maxlength="20" class="form-control"
                            [formControl]="Form_AddUser.controls['Password']"
                            [ngClass]="{ 'is-invalid': !Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}" />
                        <div>
                            <label class="text-danger text-xs _600" for="Password"
                                *ngIf=" Form_AddUser.controls['Password'].hasError('required') &&  Form_AddUser.controls['Password'].touched">{{ "System.Users.Password_ER_Required" | translate }}</label>
                            <label class="text-danger text-xs _600" for="Password"
                                *ngIf="  Form_AddUser.controls['Password'].hasError('pattern') ||   Form_AddUser.controls['Password'].hasError('minlength') ||  Form_AddUser.controls['Password'].hasError('maxlength') ">{{ "System.Users.Password_ER_Length" | translate }}</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <re-captcha (resolved)="resolved($event)" siteKey="6LeW6rQZAAAAAL5MvjorAMRfyO7iS1p98kyJ4Md8">
                        </re-captcha>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary full-width"
                            [disabled]="!Form_AddUser.valid || Form_AddUser_Processing">
                            <span *ngIf="!Form_AddUser_Processing">
                                Register
                            </span>
                           
                        </button>
                        <div class="mt-2 text-xs text-muted">
                            By clicking the “Register” button, you agree to ThankUCash’s terms of acceptable use
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 hidden-xs pt-5 pl-5 d-flex align-items-center">
                <img src="../../../../assets/img/onboarding_merchant.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>