<!-- acquirer--merchants--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
            Acquirer</a></li>
</ol>

<div class="d-sm-flex justify-content-between">
    <span class="tx-semibold tx-lg-24 mg-t-5">
        <span class="text-muted">
            <a class="cursor-pointer" (click)="_HelperService.NavigateBack()"><i data-feather="chevron-left"></i></a>
        </span>
        {{_MerchantDetails.DisplayName}}</span>
</div>

<div class="bd-b-0 pd-b-20 pd-t-10">

    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist" [routerLinkActive]="['active']">

        <div class="d-flex flex-wrap ">
            <li class="nav-item cursor-pointer">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.AcquirerAccount}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Acquirer Details</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="acqoverview">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Dashboard}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="acqoverview" >
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']" *ngIf="!_HelperService.isProgramDetails"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.BankLoyalty}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Bank Loyalty</a>
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']" *ngIf="_HelperService.isProgramDetails"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.BankLoyaltyOverview}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Bank Loyalty</a>
            </li>

            <li class="nav-item cursor-pointer pnvalid" data-permission="acqmerchant">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Merchants}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Merchant</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="acqterminal">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Terminals}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Terminal</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="acqstores">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Stores}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Stores</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="acqbankmanagement">
                <a class="nav-link" href="#" data-toggle="dropdown">Bank Management<i data-feather="chevron-down"
                        class="wd-15 ht-15"></i></a>
                <div class="dropdown-menu tx-13">
            <li class="nav-item pd-l-25 pnvalid" [routerLinkActive]="['active']" data-permission="viewbranches"><a
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Accounts.Branch}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    [routerLinkActive]="['active']" class="nav-link">
                    <span>Bank</span></a></li>

            <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="viewmanagers"><a
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Accounts.Managers}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    [routerLinkActive]="['active']" class="nav-link">
                    <span>Manager</span></a></li>

        </div>
        </li>
        <li class="nav-item cursor-pointer pnvalid" data-permission="acqviewcampaign">
            <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Campaigns.Campaigns}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                role="tab" aria-controls="home" aria-selected="true">Campaigns</a>
        </li>
        <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="acqreportanalysis">
            <a class="nav-link" href="#" data-toggle="dropdown">Report & Analysis<i data-feather="chevron-down"
                    class="wd-15 ht-15"></i></a>
            <div class="dropdown-menu tx-13">
        <li class="nav-item pd-l-25 pnvalid" [routerLinkActive]="['active']" data-permission="acqactivity"><a
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Activity}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                [routerLinkActive]="['active']" class="nav-link">
                <span>Activity</span></a></li>

        <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="acqtransaction"><a
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.SalesHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                [routerLinkActive]="['active']" class="nav-link">
                <span>Transaction</span></a></li>

</div>
</li>

<li class="nav-item cursor-pointer pnvalid" data-permission="viewacqsubaccount">
    <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Subadmins}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
        role="tab" aria-controls="home" aria-selected="true">Sub Account</a>
</li>


<li class="nav-item cursor-pointer pnvalid" data-permission="acqconfiguration">
    <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Configurations}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
        role="tab" aria-controls="home" aria-selected="true">Configurations</a>
</li>
</div>



</ul>
</div>


<router-outlet></router-outlet>