<!-- acquirer--branches--addnew -->

<form [formGroup]="Form_AddUser" class="body-font" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
    <div class="tx-13 card mg-b-25">
        <div id="wizard1">

            <h3 class="tx-roboto tx-21 text-dark">Add General Details</h3>
            <section>
                <p class="tx-color-03 tx-14 tx-roboto"> Fill following details to create branch</p>


                <div class="row row-sm">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">{{'System.Menu.BranchName' | translate }}<span
                                    class="text-danger">*</span> </label>
                            <div class="controls">
                                <input type="text" placeholder="Branch Name" name="Name" maxlength="256"
                                    class="form-control" [formControl]="Form_AddUser.controls['Name']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                            </div>
                            <label class="text-danger" for="Name"
                                *ngIf="Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">
                                Enter branch name
                            </label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['Name'].hasError('minlength') || Form_AddUser.controls['Name'].hasError('maxlength')">
                                Branch name must be between 4 - 256 characters </label>

                        </div>
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">{{'System.Menu.BranchShortName' | translate }}<span
                                    class="text-danger">*</span></label>
                            <div class="controls">

                                <input type="text" placeholder="Branch Short Name" name="DisplayName" maxlength="25"
                                    class="form-control" [formControl]="Form_AddUser.controls['DisplayName']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['DisplayName'].valid && Form_AddUser.controls['DisplayName'].touched}">
                            </div>
                            <div class="text-xs text-muted _500"> </div>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['DisplayName'].hasError('required') && Form_AddUser.controls['DisplayName'].touched">
                                Enter branch short name
                            </label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['DisplayName'].hasError('minlength') || Form_AddUser.controls['DisplayName'].hasError('maxlength')">
                                Branch short name must be between 2 - 25 characters</label>
                        </div>
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark"> {{'System.Menu.BranchCode' | translate}}<span
                                    class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Branch Code" name="BranchCode" minlength="6"
                                    maxlength="18" class="form-control" (keypress)="_HelperService.PreventText($event)"
                                    [formControl]="Form_AddUser.controls['BranchCode']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['BranchCode'].valid && Form_AddUser.controls['BranchCode'].touched}">
                            </div>
                            <label class="text-danger" for="BranchCode"
                                *ngIf="Form_AddUser.controls['BranchCode'].hasError('required') && Form_AddUser.controls['BranchCode'].touched">
                                Enter branch code
                            </label>
                            <label class="text-danger" for="BranchCode"
                                *ngIf="Form_AddUser.controls['BranchCode'].hasError('minlength') || Form_AddUser.controls['BranchCode'].hasError('maxlength')">
                                Branch code must be between 6 - 18 number </label>
                        </div>
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark"> {{'System.Users.MobileNumber' | translate }}<span
                                    class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="height: 37px;">
                                        <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                    </div>
                                    <input type="text" placeholder="Phone Number" name="PhoneNumber" minlength="8"
                                        maxlength="14" class="form-control contact-textbox-height"
                                        (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddUser.controls['PhoneNumber']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['PhoneNumber'].valid && Form_AddUser.controls['PhoneNumber'].touched}">
                                </div>
                            </div>
                            <label class="text-danger" for="PhoneNumber"
                                *ngIf="Form_AddUser.controls['PhoneNumber'].hasError('required') && Form_AddUser.controls['PhoneNumber'].touched">Enter
                                Branch contact number</label>
                            <label class="text-danger" for="PhoneNumber"
                                *ngIf="Form_AddUser.controls['PhoneNumber'].hasError('minlength') || Form_AddUser.controls['PhoneNumber'].hasError('maxlength')">
                                Branch contact number must be between 8 - 14 number </label>

                        </div>
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">
                                {{'System.Users.EmailAddress' | translate }}<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Email Id" name="EmailAddress" maxlength="256"
                                    class="form-control" [formControl]="Form_AddUser.controls['EmailAddress']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                            </div>
                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">
                                Enter branch email address
                            </label>

                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">
                                {{'System.AddAcquirer.BranchEmail' | translate }} </label>
                        </div>
                    </div>

                </div>
            </section>

            <h3 class="tx-roboto tx-21 text-dark">Add Address Details</h3>
            <section>
                <p class="tx-color-03 tx-14 tx-roboto"> Fill following address details to create new branch</p>

                <div class="row row-sm">

                    <div class="col-sm-6">
                        <h3 class="tx-medium tx-14">Business Location</h3>
                        <hcx-addressmanager [data]="_Address" (OnAddressSet)="AddressChange($event)">
                        </hcx-addressmanager>
                    </div>

                  
                </div>
            </section>

            <h3 class="tx-roboto tx-21 text-dark">Assign Manager</h3>
            <section>
                <p class="tx-color-03 tx-14 tx-roboto"> Assign existing manager to this branch or you can add new
                    manager</p>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="isActive"
                            [checked]="isActive" (change)="toogleIsActive()">
                        <label class="custom-control-label" for="customCheck1">Add New Manager</label>
                    </div>
                </div>
                <div class="row row-sm">
                    <div class="col-sm-6" *ngIf="!isActive">
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">Select Manager<span class="text-danger">*</span>
                            </label>
                            <select2 name="S2GetManagers" class="full-width" [options]="GetMangers_Option"
                                (valueChanged)="GetMangers_ListChange($event)"></select2>
                        </div>

                         </div>
                    <div class="col-sm-6" *ngIf="isActive">
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">{{'System.Users.ManagerName' | translate}}<span
                                    class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Manager Name" name="Name" minlength="4" maxlength="128"
                                    class="form-control" [formControl]="MForm_AddUser.controls['Name']"
                                    [ngClass]="{'is-invalid':!MForm_AddUser.controls['Name'].valid && MForm_AddUser.controls['Name'].touched}">
                            </div>
                            <label class="text-danger" for="Name"
                                *ngIf="MForm_AddUser.controls['Name'].hasError('required') && MForm_AddUser.controls['Name'].touched">
                                Enter manager name
                            </label>
                            <label class="text-danger" for="Name"
                                *ngIf="MForm_AddUser.controls['Name'].hasError('pattern') &&
                                !(MForm_AddUser.controls['Name'].hasError('minlength') || MForm_AddUser.controls['Name'].hasError('maxlength'))">
                                Only characters are allowed
                            </label>
                            <label class="text-danger" for="Name"
                                *ngIf="MForm_AddUser.controls['Name'].hasError('minlength') || MForm_AddUser.controls['Name'].hasError('maxlength')">
                                Manager name must be between 4 - 256 characters </label>
                        </div>
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">
                                {{'System.Users.MobileNumber' | translate}}<span class="text-danger">*</span>
                            </label>
                            <div class="controls input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                </div>
                                <input type="text" placeholder="Manager Mobile Number" name="MobileNumber"
                                    minlength="8" maxlength="14" class="form-control"
                                    (keypress)="_HelperService.PreventText($event)"
                                    [formControl]="MForm_AddUser.controls['MobileNumber']"
                                    [ngClass]="{'is-invalid':!MForm_AddUser.controls['MobileNumber'].valid && MForm_AddUser.controls['MobileNumber'].touched}">
                            </div>
                            <label class="text-danger" for="MobileNumber"
                                *ngIf="MForm_AddUser.controls['MobileNumber'].hasError('required') && MForm_AddUser.controls['MobileNumber'].touched">
                                Enter mobile number
                            </label>
                            <label class="text-danger" for="MobileNumber"
                                *ngIf="MForm_AddUser.controls['MobileNumber'].hasError('minlength') || MForm_AddUser.controls['MobileNumber'].hasError('maxlength')">
                                Mobile number must be between 8 - 14 number</label>
                        </div>
                        <div class="form-group ">
                            <label class="tx-roboto tx-12 text-dark">
                                {{'System.Users.EmailAddress' | translate }}<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Email Id" name="EmailAddress" maxlength="256"
                                    class="form-control" [formControl]="MForm_AddUser.controls['EmailAddress']"
                                    [ngClass]="{'is-invalid':!MForm_AddUser.controls['EmailAddress'].valid && MForm_AddUser.controls['EmailAddress'].touched}">
                            </div>
                            <label class="text-danger" for="EmailAddress"
                                *ngIf="MForm_AddUser.controls['EmailAddress'].hasError('required') && MForm_AddUser.controls['EmailAddress'].touched">
                                Enter email address
                            </label>

                            <label class="text-danger" for="EmailAddress"
                                *ngIf="MForm_AddUser.controls['EmailAddress'].hasError('email') && MForm_AddUser.controls['EmailAddress'].touched">
                                {{'System.AddAcquirer.EmailAddress_ER_Invalid' | translate }} </label>
                        </div>
                      
                        <div class="form-group" *ngIf="_ShowReportingM">
                            <label class="tx-roboto tx-12 text-dark">Assign Reporting Manager<span
                                    class="text-danger">*</span>
                            </label>
                            <select2 class="full-width" [options]="AssignManger_Option"
                                (valueChanged)="AssignManger_ListChange($event)">
                            </select2>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>