<!-- acquirer--merchants--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
        Referral</a></li>
</ol>

<div class="d-sm-flex justify-content-between">
    <span class="tx-semibold tx-lg-24 mg-t-5">
        <span class="text-muted">
            <a class="cursor-pointer" (click)="_HelperService.NavigateBack()"><i data-feather="chevron-left"></i></a>
        </span>
        {{_MerchantDetails.Title}}</span>
</div>

<router-outlet></router-outlet>