<!-- 1.navigation heading -->

<!-- acquirer--merchants--list -->
<!-- <ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="text-primary"
            (click)="_HelperService.NavigateBack()" [routerLinkActive]="['active']">
            System Admin Management</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
            App & Keys</a></li>
</ol> -->


<!-- acquirer--merchants--list -->
<!-- <ol class="breadcrumb df-breadcrumbs mg-b-10">

    <li class="breadcrumb-item" [routerLinkActive]="['active']">
        <a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.NewApi}}"
            [routerLinkActive]="['active']">
            Dashboard
        </a>
    </li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']">
        <a class="text-primary" [routerLinkActive]="['active']">
            System Admin Management</a>
    </li>
    <li class=" breadcrumb-item active" [routerLinkActive]="['active']">
        <a class="" [routerLinkActive]="['active']">New API</a>
    </li>
</ol> -->


<ol class="breadcrumb df-breadcrumbs mg-b-10">

    <li class="breadcrumb-item">
        <a class="text-primary">
            Dashboard
        </a>
    </li>

    <li class="breadcrumb-item active">
        <a class="text-primary">
            System Admin Management</a>
    </li>

    <li class=" breadcrumb-item active">
        <a class="">New API</a>
    </li>

</ol>











<div class="card ">
    <div class="card-header d-flex justify-content-between">
        <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between">
                <span class="tx-semibold mg-t-10">All Apps
                    <span class="text-muted tx-normal">
                        <!-- ({{Applist_Config.TotalRecords}}) -->
                    </span>
                </span>
            </div>
        </div>
        <div class="pnvalid" data-permission="appandkeymanageradd">
            <button type="submit" class="btn btn-primary" (click)="Form_AddApp_Show()"> Add Modal </button>
        </div>
    </div>




    <!-- <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
      <div class="form-inline ">
        <div class="input-group input-group-sm mr-3">
          <input type="text" class="form-control" [value]="Applist_Config.SearchParameter" maxlength="100"
            class="form-control" placeholder="{{ 'Common.Search' | translate }}"
            (keyup)="Applist_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="button"
              (click)="Applist_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                data-feather="search"></i> </button>
          </div>
        </div>
  
  
      </div>
      <div class="d-flex ml-auto">
        <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
          class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
          <i data-feather="minus-circle"></i>
        </button>
  
        <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
          <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
            [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
            (valueChanged)="Active_FilterValueChanged( $event )">
          </select2>
        </div>
        <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
        _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
          class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
            data-feather="plus-circle"></i> </button>
  
      </div>
  
      <nav class="nav nav-with-icon tx-20">
        <div class="dropdown dropleft">
          <a href="" class="nav-link mr-2" id="Applist_sdropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
          <div class="dropdown-menu tx-13">
            <form class="wd-250 pd-15">
  
  
              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                <div class="float-right tx-20" *ngIf="Applist_Config.Sort.SortOrder == 'desc'"
                  (click)="Applist_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                  <i class="fas fa-sort-alpha-down-alt"></i>
                </div>
                <div class="float-right tx-20" *ngIf="Applist_Config.Sort.SortOrder == 'asc'"
                  (click)="Applist_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                  <i class="fas fa-sort-alpha-up-alt"></i>
                </div>
              </h6>
  
              <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                *ngFor="let TItem of Applist_Config.Sort.SortOptions"
                (click)="Applist_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                {{TItem.Name}}
              </a>
  
              <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
            </form>
          </div>
        </div>
        <div class="dropdown dropleft">
          <a href="" class="nav-link" id="Applist_fdropdown" data-toggle="dropdown" aria-haspopup="true"
            (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
          <div class="dropdown-menu tx-13">
            <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
              </h6>
              <div>
                <div class="form-group">
                  <label>Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="Applist_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Status</label>
                  <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                    [data]="Applist_Config.StatusOptions"
                    (valueChanged)="Applist_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                  </select2>
                </div>
              </div>
  
  
  
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
            </form>
          </div>
        </div>
        <a class="nav-link ml-2 RefreshColor"
          (click)="Applist_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
            data-feather="refresh-cw"></i> </a>
      </nav>
    </div> -->



    <!-- <div class="pt-0 pd-l-15 pd-b-15">
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
        {{_HelperService.FilterSnap.StatusName}}
        <span (click)="RemoveFilterComponent('Status')"
          class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
        <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
        <span (click)="RemoveFilterComponent('Sort')"
          class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="!_HelperService.FilterSnap.StartTime">
        {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
        _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
        <span (click)="RemoveFilterComponent('Time')"
          class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
        {{TItem.data[0].DisplayName}}
        <span (click)="RemoveFilterComponent('Other',i)"
          class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
  
      <span class="badge badge-pill badge-primary" *ngFor="let TItem of Applist_Config.Filters">{{TItem.Title}}</span>
  
    </div>
   -->
    <div class="card-body p-0">
        <!-- <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}"> -->
        <table>
            <!-- <thead>
          <tr>
            <th class="text-center" *ngIf="ColumnConfig[0].Value">
            </th>
            <th>
              APP & Owner
            </th>
            <th class="text-center" *ngIf="ColumnConfig[1].Value">
              App
            </th>
            <th class="text-center" *ngIf="ColumnConfig[2].Value">
              Version
            </th>
            <th class="text-center" *ngIf="ColumnConfig[5].Value">
              Total Requests
            </th>
            <th class="" *ngIf="ColumnConfig[5].Value">
              Last Request
            </th>
  
            <th class="text-center" *ngIf="ColumnConfig[3].Value">
              Response Status
            </th>
  
            <th class="">
              Added
            </th>
          </tr>
        </thead> -->


            <!-- <tbody>
          <tr class="cursor-pointer" (click)="Applist_RowSelected(TItem)"
            *ngFor="let TItem of Applist_Config.Data  | paginate: { id: 'Applist_Paginator',itemsPerPage: Applist_Config.PageRecordLimit, currentPage: Applist_Config.ActivePage,  totalItems: Applist_Config.TotalRecords }">
            <td class="text-center" *ngIf="ColumnConfig[0].Value">
              <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
                class="img wd-40 ht-40 rounded-5 bd bd-2" [style.border-color]="TItem.StatusC">
            </td>
            <td>
              <div class="tx-14  ">{{TItem.Name || "--"}}</div>
              <div class="tx-12  ">{{TItem.AccountDisplayName || "--"}}</div>
  
  
            </td>
  
            <td class="text-center" *ngIf="ColumnConfig[2].Value">
              <div class="tx-14">{{TItem.Name || "--"}}
              </div>
  
  
            </td>
            <td class="text-center" *ngIf="ColumnConfig[5].Value">
              {{TItem.ActiveVersion || "--"}}
            </td>
            <td class="text-center" *ngIf="ColumnConfig[5].Value">
              {{TItem.TotalRequest }}
            </td>
  
            <td class="" *ngIf="ColumnConfig[3].Value">
              <span class=""> {{ _HelperService.GetDateTimeS(TItem.LastRequestDateTime) || "--"}}</span>
            </td>
  
  
            <td class="text-center" *ngIf="ColumnConfig[6].Value">
              <div class="">
                <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
              </div>
            </td>
  
            <td> {{ TItem.CreateDate || "--" }} </td>  
          </tr>
        </tbody> -->

        </table>
    </div>


    <!-- <div class="card-footer pd-20">
      <span class="mr-3">
        {{ 'Common.Showing' | translate }}
        <span class="bold">{{Applist_Config.ShowingStart}} {{ 'Common.To' | translate }}
          {{Applist_Config.ShowingEnd}}
        </span> {{ 'Common.Of' | translate }} {{Applist_Config.TotalRecords}}
      </span>
      <span>
        {{ 'Common.Show' | translate }}
        <select class="wd-50 " [(ngModel)]="Applist_Config.PageRecordLimit"
          (ngModelChange)="Applist_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
          <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
            {{TItem}}
          </option>
        </select>
      </span>
      <span class="float-right">
        <pagination-controls id="Applist_Paginator" class="pagination pagination-space"
          (pageChange)="Applist_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
          nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
        </pagination-controls>
      </span>
    </div> -->
</div>












<!-- modal open add form -->




<div class="modal fade" id="Form_AddApp_Content" role="dialog" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Form_AddNewApp </h5>
            </div>
            <!-- <form [formGroup]="Form_AddNewApp" (ngSubmit)="Form_AddNewApp_Process(Form_AddNewApp.value)" role="form"> -->
            <form role="form">
                <div class="modal-body b-b">
                    <div class="form-group">
                        <label>{{'System.Helpers.Name' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" name="Name" maxlength="256" class="form-control"
                            [formControl]="Form_AddNewApp.controls['Name']"
                            [ngClass]="{'is-invalid':!Form_AddNewApp.controls['Name'].valid && Form_AddNewApp.controls['Name'].touched}">
                        <!-- validations -->
                        <label class="text-danger" for="Name"
                            *ngIf="Form_AddNewApp.controls['Name'].hasError('required') && Form_AddNewApp.controls['Name'].touched">
                            {{'System.Helpers.Name_ER_Required' | translate }}
                        </label>

                    </div>
                    
                    <div class="form-group">
                        <label>{{'System.Helpers.Name' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" name="Name" maxlength="256" class="form-control"
                            [formControl]="Form_AddNewApp.controls['Name']"
                            [ngClass]="{'is-invalid':!Form_AddNewApp.controls['Name'].valid && Form_AddNewApp.controls['Name'].touched}">
                        <!-- validations -->
                        <label class="text-danger" for="Name"
                            *ngIf="Form_AddNewApp.controls['Name'].hasError('required') && Form_AddNewApp.controls['Name'].touched">
                            {{'System.Helpers.Name_ER_Required' | translate }}
                        </label>

                    </div>


                    <!-- <div class="form-group">
                        <label>{{'System.Helpers.Name' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" name="Name" maxlength="256" class="form-control"
                            [formControl]="Form_AddApp.controls['Name']"
                            [ngClass]="{'is-invalid':!Form_AddApp.controls['Name'].valid && Form_AddApp.controls['Name'].touched}">

                        <label class="text-danger" for="Name"
                            *ngIf="Form_AddApp.controls['Name'].hasError('required') && Form_AddApp.controls['Name'].touched">
                            {{'System.Helpers.Name_ER_Required' | translate }}
                        </label>
                    </div> -->

                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ 'Common.UserAccount' | translate }}
                                </label>
                                <select2 name="AddUserAccount" class="full-width"
                                    [options]="GetAddAppUserAccounts_Option"
                                    (valueChanged)="GetAddAppUserAccounts_ListChange($event)"></select2>
                                <label class="text-danger" for="AddUserAccount"
                                    *ngIf="Form_AddApp.controls['AccountKey'].hasError('required') && Form_AddApp.controls['AccountKey'].touched">{{
                                    'System.Helpers.UserAccountKey_ER_Required' | translate }}</label>
                            </div>
                        </div>
                    </div> -->



                    <!-- <div class="row">

                        <div class="col-md-12">

                            <div class="form-group">
                                <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="radio" name="statusoptions"
                                            [value]="'default.active'"
                                            [formControl]="Form_AddApp.controls['StatusCode']">
                                        <i class="dark-white"></i>
                                        {{ 'Common.Active' | translate }}</label>
                                </div>
                                <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                                            name="statusoptions" [value]="'default.inactive'"
                                            [formControl]="Form_AddApp.controls['StatusCode']">
                                        <i class="dark-white"></i>
                                        {{ 'Common.Inactive' | translate }}</label></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mr-3">
                                <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="checkbox" name="logrequest" [value]="1"
                                            [checked]="SelectValue" (change)="CheckValue()">
                                        <i class="dark-white"></i>
                                        Enable Log Incoming Request</label>
                                </div>
                            </div>

                        </div>

                    </div> -->

                </div>

                <!-- <div class="light p-3 text-right b-b">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_AddApp_Close()">
                        {{'Common.Close'| translate }}</button>
                    <button type="submit" class="btn btn-primary mr-2" (click)="Form_AddApp.value.OperationType='close'"
                        [disabled]="!Form_AddApp.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.Save' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ 'Common.PleaseWait' | translate}}...
                        </span>
                    </button>
                </div> -->



            </form>
        </div>
    </div>
</div>