<!-- acquirer--merchants--list -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Overview</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Order History</a></li>
</ol>
<div class="card ">
    <div class="card-header">
        <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between">
                <span class="tx-semibold mg-t-10">Order History</span>
                <div [className]="_HelperService._Assets.Box.headerTitleRight" style="margin-left: auto; float: right; margin-top: -6px;">
                    <button class="btn tx-12 btn-primary download-button" (click)=downloadReport()> <i
              data-feather="file-text"></i> Download Report</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-header">
        <div class=" d-sm-flex">
            <div class=" media">
                <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    <i data-feather="shopping-cart"></i>
                </div>
                <div class="media-body">
                    <h6 class=" tx-12 tx-spacing-1 tx-nowrap mg-b-5 mg-md-b-8">
                        Total Orders
                        <!-- -<span class="text-primary">{{orderHistoryOverview.TotalOrders || "0"}}</span> -->
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                        {{orderHistoryOverview.TotalOrderss || "0"}}</h4>
                </div>
            </div>
            <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
                    <i class="fas fa-money-bill-alt"></i>
                </div>
                <div class="media-body">
                    <h6 class=" tx-12 tx-spacing-1 mg-b-5 mg-md-b-8">
                        Sale Amount
                        <!-- - <span class="text-success">{{orderHistoryOverview.TotalDeliveredOrders || "0"}}</span> -->
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{orderHistoryOverview.TotalOrdersAmountt | number: "1.2-2" || "0"}}
                    </h4>
                </div>
            </div>
            <!-- <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <i data-feather="shopping-cart"></i>
        </div>
        <div class="media-body">
          <h6 class=" tx-12 tx-spacing-1 mg-b-5 mg-md-b-8">
            Return orders- <span class="text-danger">{{orderHistoryOverview.TotalCancelledOrders || "0"}}</span> </h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            N{{orderHistoryOverview.CancelledOredersAmount| number: "1.2-2" || "0"}}
          </h4>
        </div>
      </div> -->
        </div>
    </div>

    <div class="box-header px-3 pd-t-15 pd-b-10 d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}" (keyup)="TUTr_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" ><i
              data-feather="search"></i> </button>
                </div>
            </div>
        </div>

        <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2" [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]" (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()">
        <i data-feather="plus-circle"></i> </button>

        </div>

        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'" (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'" (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>
                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of TUTr_Config.Sort.SortOptions" (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>
                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
                        <button type="button" class="btn btn-primary btn-sm mg-t-20" (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu pd-0 tx-13">
                    <form class="wd-400 ">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
                            Filters
                        </h6>
                        <div class="pd-25" style="overflow: auto; height: 80vh;" *ngIf="ResetFilterControls">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for=" Amount">Amount range</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label for="totalAmountMin">Min</label>
                                                <input type="number" name="totalAmountMin" maxlength="256" class="form-control" [(ngModel)]="totalAmountMin" (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label for="totalAmountMax">Max</label>
                                                <input type="number" name="totalAmountMax" maxlength="256" class="form-control" [(ngModel)]="totalAmountMax" (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="form-group position-relative" id="orderhistory_date_ui">
                                    <label>Placed Date</label>
                                    <input type="text" class="form-control  form-daterangepicker" 
                                    name="daterangeInput" daterangepicker 
                                    [options]="_HelperService.AppConfig.DateRangeOptionsFn('#orderhistory_date_ui')" 
                                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                                </div>
                            </div>
                        </div>

                        <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0" style="position: fixed; bottom:0%; margin-top: -2.5em ; padding-left: 25px;">
                            <button type="button" class="btn btn-light btn-sm mr-2" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
                            <button type="button" class="btn btn-primary btn-sm " (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor cursor-pointer" (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i data-feather="refresh-cw"></i> </a>
        </nav>
    </div>

    <div class="pt-0 pd-l-15 pd-b-15">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5" [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
            {{_HelperService.FilterSnap.StatusName}}
            <span (click)="RemoveFilterComponent('Status')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span>
        {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span (click)="RemoveFilterComponent('Sort')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5" [hidden]="!_HelperService.FilterSnap.StartTime">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="
!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.TotalAmountMin==0 && _HelperService.FilterSnap.SalesRange.TotalAmountMax==10000000)" (click)="RemoveFilterComponent('AmountRange')">
            Amount [{{_HelperService.FilterSnap.SalesRange.TotalAmountMin + "--" + _HelperService.FilterSnap.SalesRange.TotalAmountMax}}]
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>

        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5" *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].TerminalId?TItem.data[0].TerminalId:TItem.data[0].Name}}
            <span (click)="RemoveFilterComponent('Other',i)" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
    </div>

    <div class="card-body p-0" style="overflow-x:auto;">
        <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Invoice ID</th>
                    <th>Placed on</th>
                    <th>Delivery on</th>
                    <th>carrier</th>
                    <th>Customer</th>
                    <th>items</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="
         let TItem of (orderHistoryList.Data
           | paginate
             : {
                 id: 'TUTr_Paginator',
                 itemsPerPage: TUTr_Config.PageRecordLimit,
                 currentPage: TUTr_Config.ActivePage,
                 totalItems: TUTr_Config.TotalRecords
               })" class=" cursor-pointer">

                    <td>
                        <div class="text-primary tx-semibold"> Order Id: {{TItem.OrderId || "--"}}</div>
                        <div *ngIf="TItem.StatusId == 486" class="badge bg-success text-white">New</div>
                        <div *ngIf="TItem.StatusId == 487" class="badge bg-success text-white">Pending Confirmation</div>
                        <div *ngIf="TItem.StatusId == 488" class="badge bg-success text-white">Confirmed</div>
                        <div *ngIf="TItem.StatusId == 489" class="badge bg-success text-white">Prepairing</div>
                        <div *ngIf="TItem.StatusId == 491" class="badge bg-success text-white">Ready</div>
                        <div *ngIf="TItem.StatusId == 492" class="badge bg-success text-white">Ready To Pickup</div>
                        <div *ngIf="TItem.StatusId == 493" class="badge bg-success text-white">Out For Delivery</div>
                        <div *ngIf="TItem.StatusId == 494" class="badge bg-danger text-white">Delivery Failed</div>
                        <div *ngIf="TItem.StatusId == 495" class="badge bg-danger text-white">Calcelled By Uer</div>
                        <div *ngIf="TItem.StatusId == 511" class="badge bg-danger text-white">Calcelled By Merchant</div>
                        <div *ngIf="TItem.StatusId == 512" class="badge bg-success text-white">Delivered</div>
                        <div *ngIf="TItem.StatusId == 804" class="badge bg-success text-white">Pickuped</div>
                        <div *ngIf="TItem.StatusId == 805" class="badge bg-success text-white">Processed At Facility</div>
                        <div *ngIf="TItem.StatusId == 806" class="badge bg-success text-white">Departed To Facility</div>
                        <div *ngIf="TItem.StatusId == 807" class="badge bg-success text-white">Arrived At Facility</div>
                        <div *ngIf="TItem.StatusId == 808" class="badge bg-success text-white">Departed From Facility</div>
                    </td>
                    <td>
                        <div class="text-primary tx-semibold"> INV : {{TItem.InvoiceNumber || "--"}}</div>
                    </td>

                    <td>
                        <div class="tx-semibold">{{TItem.CreateDateD || "--"}} </div>
                        <div class="tx-12">{{TItem.CreateDateT || "--"}}</div>
                    </td>
                    <td>
                        <div class="tx-semibold">{{TItem.DeliveryDateD || "--" }} </div>
                        <div class="tx-12">{{TItem.DeliveryDateT || "--" }}</div> 
                    </td>

                    <td>
                        <div class="tx-semibold">{{TItem.CarrierName || "--"}} </div>
                        <div>#{{TItem.CarrierMobileNumber}}</div>
                    </td>

                    <td>
                        <div class="tx-semibold">{{TItem.CustomerDisplayName }} </div>
                        <div class="tx-semibold">{{TItem.CustomerMobileNumber}}</div>
                    </td>

                    <td>
                        {{TItem.ItemCount}}
                    </td>

                    <td class="tx-semibold">
                        <!-- <span class="tx-12" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> -->
                        <!-- ₦ {{TItem.TotalAmount | number: "1.2-2" }} -->
                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{TItem.SubTotalAmount | number: "1.2-2" }}
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer pd-20">
        <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TUTr_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
        </span>
        <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
        (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
        <span class="float-right">
      <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
        (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
    </div>

</div>