<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']">
        <a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
            Dashboard
        </a>
    </li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']">
        <a class="" [routerLinkActive]="['active']">
            Deal Merchant
        </a>
    </li>
</ol>

<div class="card ">
    <div class="card-header d-flex justify-content-between">
        <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between">
                <span class="tx-semibold mg-t-10">All Deal Merchants
                    <span class="text-muted tx-normal">
                        ({{DealMerchantList_Config.TotalRecords}})
                    </span>
                </span>
            </div>
        </div>
    </div>



    <div class="box-header px-3 pd-t-15 pd-b-5  d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="DealMerchantList_Config.SearchParameter" maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}" (keyup)="DealMerchantList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" (click)="DealMerchantList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">
                        <i data-feather="search"></i>
                    </button>
                </div>
            </div>


        </div>
        <div class="d-flex ml-auto">
            <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i>
            </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2" [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]" (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
            _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()">
                <i data-feather="plus-circle"></i>
            </button>

        </div>

        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="DealMerchantList_sdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i data-feather="align-left" class="tx-20"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">


                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                            Sort
                            <div class="float-right tx-20" *ngIf="DealMerchantList_Config.Sort.SortOrder == 'desc'" (click)="DealMerchantList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="DealMerchantList_Config.Sort.SortOrder == 'asc'" (click)="DealMerchantList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of DealMerchantList_Config.Sort.SortOptions" (click)="DealMerchantList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>

                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset
                        </button>
                        <button type="button" class="btn btn-primary btn-sm  mg-t-20" (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">
                            Apply
                        </button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="DealMerchantList_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                    <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                            Filters
                        </h6>
                        <!-- <div>
                            <div class="form-group">
                                <label>Added On</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                    daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                                    (selected)="DealMerchantList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div>
                        </div> -->
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <!-- <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                    [data]="DealMerchantList_Config.StatusOptions"
                                    (valueChanged)="DealMerchantList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2> -->
                                <select2 class="wd-100p" [value]="_DataHelperService.statusValue" [data]="DealMerchantList_Config.StatusOptions" (valueChanged)="DealMerchantList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)" [options]="_DataHelperService.S2_Status_Option">
                                </select2>
                            </div>

                        </div>



                        <button type="button" class="btn btn-light btn-sm mr-2" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset
                        </button>
                        <button type="button" class="btn btn-primary btn-sm " (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">
                            Apply
                        </button>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor" (click)="DealMerchantList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                <i data-feather="refresh-cw"></i>
            </a>
            <!-- <a class="nav-link ml-2 RefreshColor cursor-pointer" (click)="DealMerchantList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)">
                <i data-feather="download"></i>
            </a> -->
        </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-10">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
            {{_HelperService.FilterSnap.StatusName}}
            <span (click)="RemoveFilterComponent('Status')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" +_HelperService.FilterSnap.Sort.SortOrder}}
            </span>
            <span (click)="RemoveFilterComponent('Sort')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>

        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.StartTime">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +_HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].DisplayName}}
            <span (click)="RemoveFilterComponent('Other',i)" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>

        <span class="badge badge-pill badge-primary" *ngFor="let TItem of DealMerchantList_Config.Filters">
            {{TItem.Title}}
        </span>

    </div>

    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th class="text-center" *ngIf="ColumnConfig[0].Value">
                    </th>
                    <th>
                        Merchant Name
                    </th>
                    <th class="text-right" *ngIf="ColumnConfig[1].Value">
                        Total Deals
                    </th>
                    <th class="text-right" *ngIf="ColumnConfig[2].Value">
                        Running Deals
                    </th>
                    <th class="text-right" *ngIf="ColumnConfig[5].Value">
                        Upcoming Deals
                    </th>
                    <th class="text-right" *ngIf="ColumnConfig[5].Value">
                        Sold Deals
                    </th>
                    <th class="text-right" *ngIf="ColumnConfig[3].Value">
                        Redeemed Deals
                    </th>

                    <th class="d-flex">
                        <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;" data-toggle="tooltip" title="Edit Your Column" (click)="OpenEditColModal()">
                        </span>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" *ngFor="let TItem of DealMerchantList_Config.Data  | paginate:
                 {      id: 'DealMerchantList_Paginator',
                        itemsPerPage: DealMerchantList_Config.PageRecordLimit, 
                        currentPage: DealMerchantList_Config.ActivePage,  
                        totalItems: DealMerchantList_Config.TotalRecords }">
                    <td class="text-center" *ngIf="ColumnConfig[0].Value">
                        <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
                    </td>
                    <td>
                        <div class="tx-14 tx-semibold">
                            {{TItem.DisplayName || "--"}}
                        </div>
                    </td>
                    <td>
                        <div class="tx-14 tx-semibold text-right">{{TItem.TotalDeals || "--"}}</div>
                    </td>
                    <td>
                        <div class="tx-14 tx-semibold text-right">{{TItem.RunningDeals || "--"}}</div>
                    </td>
                    <td>
                        <div class="tx-14 tx-semibold text-right">{{TItem.UpcomingDeals || "--"}}</div>
                    </td>
                    <td>
                        <div class="tx-14 tx-semibold text-right">{{TItem.SoldDeals || "--"}}</div>
                    </td>
                    <td>
                        <div class="tx-14 tx-semibold text-right">{{TItem.RedeemedDeals || "--"}}</div>
                    </td>
                    <td></td>
                </tr>
            </tbody>


        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
            {{ 'Common.Showing' | translate }}
            <span class="bold">
                {{DealMerchantList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{DealMerchantList_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{DealMerchantList_Config.TotalRecords}}
        </span>
        <span>
            {{ 'Common.Show' | translate }}
            <select class="wd-50 " [(ngModel)]="DealMerchantList_Config.PageRecordLimit"
                (ngModelChange)="DealMerchantList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right">
            <pagination-controls id="DealMerchantList_Paginator" class="pagination pagination-space"
                (pageChange)="DealMerchantList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>
</div>