<div class="card-deck h-100">
  <div class="card pd-15">
    <div class="card pd-15">
      <div>
        <div class="tx-16"> Current Reward Percentage </div>
        <div class="tx-12 text-secondary tx-normal"> Your current reward percentage and its distribution
        </div>
        <div class="row  mg-b-10" *ngIf="_LoyaltyConfig.Reward.TucCommissionSource == 'Reward Amount'">>
          <div class="col-md-6 " style="border-right: 1px solid #C2CCD9;">
            <div class="form-group">
              <label class="">Customer Reward &nbsp;

              </label><br>
              <span class="tx-20 tx-medium">
                {{((_LoyaltyConfig.Reward.UserPercentage/100) *
                _LoyaltyConfig.Reward.RewardPercentage).toFixed(2)}}%
                <!-- {{_LoyaltyConfig.Reward.RewardPercentage.toFixed(2)}}% -->
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="">TUC Platform fees </label><br>
              <span class="tx-20 tx-medium">{{ _LoyaltyConfig.Reward.RewardPercentage || "0"}}%</span>
            </div>
          </div>
        </div>
        <div class="row  mg-b-10" *ngIf="_LoyaltyConfig.Reward.TucCommissionSource == 'Invoice Amount'">
          <div class="col-md-6 " style="border-right: 1px solid #C2CCD9;">
            <div class="form-group">
              <label class="">Customer Reward &nbsp;
              </label><br>
              <span class="tx-20 tx-medium">
                {{_LoyaltyConfig.Reward.RewardPercentage.toFixed(2)}}%
              </span>
              <button class="btn btn-outline-primary btn-xs mg-l-10 " (click)="Form_AddUser_Show()"> Change</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="">TUC Platform fees </label><br>
              <span class="tx-20 tx-medium">{{_LoyaltyConfig.Reward.SystemPercentage.toFixed(2) ||
                "0"}}%</span>
              <button class="btn btn-outline-primary btn-xs mg-l-10 " (click)="Form_SetCommission_Show()">
                Change</button>
            </div>
          </div>
        </div>
        <div class="border border-1">
          <div class="pd-t-20 bd-t">

            <div class="tx-16 pd-l-10">
              Update History
            </div>
            <div class="tx-12 text-secondary tx-normal pd-l-10">
              Reward percentage update history till now
            </div>
            <div class="mg-t-15 table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="text-secondary tx-12">Date</th>
                    <th scope="col" class="text-secondary tx-12 text-center">Reward Percentage</th>
                    <th scope="col" class="text-secondary tx-12">Updated By</th>
                    <th scope="col" class="text-secondary tx-12">Comment</th>
                  </tr>
                </thead>
                <tbody  *ngFor="let TItem of RewardHistoryList_Config.Data  | paginate: { id: 'PartnerList_Paginator',itemsPerPage: RewardHistoryList_Config.PageRecordLimit, currentPage: RewardHistoryList_Config.ActivePage,  totalItems: RewardHistoryList_Config.TotalRecords }">
                  <tr *ngIf="TItem.Value">
                  
                    <th scope="row" class="tx-12">{{TItem.StartDateS || "--"}}</th>
                    <td class="tx-12 text-center">{{TItem.Value || "--"}}%</td>
                    <th scope="row" class="tx-12">{{TItem.CreatedByDisplayName || "--"}}</th>
                    <th scope="row" class="tx-12">{{TItem.Comment || "--" }}</th>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="card-footer pd-20">
              <span class="mr-3">
                {{ 'Common.Showing' | translate }}
                <span class="bold">{{RewardHistoryList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                  {{RewardHistoryList_Config.ShowingEnd}}
                </span> {{ 'Common.Of' | translate }} {{RewardHistoryList_Config.TotalRecords}}
              </span>
              <span>
                {{ 'Common.Show' | translate }}
                <select class="wd-50 " [(ngModel)]="RewardHistoryList_Config.PageRecordLimit"
                  (ngModelChange)="RewardHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                  <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                  </option>
                </select>
              </span>
              <span class="float-right">
                <pagination-controls id="PartnerList_Paginator" class="pagination pagination-space"
                  (pageChange)="RewardHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                  nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
                </pagination-controls>
              </span>
            </div>

          </div>
        </div>



      </div>
    </div>






    <div id="Form_AddUser_Content1" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered dropdown " style="max-width: 560 !important;">
        <div class="modal-content">
          <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
            <div class="modal-header pd-x-30 ">
              <h5 class="modal-title">Set Reward Percentage</h5>
            </div>
            <div class="modal-body  p-lg">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="tx-13 ">Change Reward Percentage<span class="text-danger">*</span>
                      </label>
                      <div class="controls">
                        <input type="text" name="RewardPercentage"  placeholder="Reward Percentage" minlength="1" maxlength="100" class="form-control"
                          [formControl]="Form_AddUser.controls['Value']"
                          [ngClass]="{'is-invalid':!Form_AddUser.controls['Value'].valid && Form_AddUser.controls['Value'].touched}">
                      </div>
                      <label class="text-danger" for="RewardPercentage"
                        *ngIf="Form_AddUser.controls['Value'].hasError('required') && Form_AddUser.controls['Value'].touched">
                        Enter reward percentage
                      </label>
                      <label class="text-danger" for="RewardPercentage"
                        *ngIf="Form_AddUser.controls['Value'].hasError('min') || Form_AddUser.controls['Value'].hasError('max')">
                        reward percentage must be between 0 to 100
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="tx-13 ">Comment<span class="text-danger">*</span>
                      </label>
                      <div class="controls">
                        <textarea name="Comment" placeholder="You can write reasons to change reward percentage,It will help you to maintain history" minlength="2" maxlength="256" class="form-control" rows="3"
                          [formControl]="Form_AddUser.controls['Comment']"
                          [ngClass]="{'is-invalid':!Form_AddUser.controls['Comment'].valid && Form_AddUser.controls['Comment'].touched}"></textarea>
                      </div>
                      <label class="text-danger" for="Comment"
                        *ngIf="Form_AddUser.controls['Comment'].hasError('required') && Form_AddUser.controls['Comment'].touched">
                        Enter comment
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
                {{ "Common.Close" | translate }}
              </button>
              <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddUser.value.OperationType = 'new'"
                [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                <span *ngIf="!_HelperService.IsFormProcessing">
                  {{ "Common.Confirm" | translate }}
                </span>
                <span *ngIf="_HelperService.IsFormProcessing">
                  <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                  {{ "Common.PleaseWait" | translate }}...
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="Form_SetCommission_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered dropdown " style="max-width: 560 !important;">
        <div class="modal-content">
          <form [formGroup]="Form_SetCommission" (ngSubmit)="Form_SetCommission_Process(Form_SetCommission.value)"
            role="form">
            <div class="modal-header pd-x-30 ">
              <h5 class="modal-title">Set Commission Percentage</h5>
            </div>
            <div class="modal-body  p-lg">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="tx-13 ">Change Commission Percentage<span class="text-danger">*</span>
                      </label>
                      <div class="controls">
                        <input type="text" name="RewardPercentage" placeholder="Commission Percentage" minlength="1" maxlength="100" class="form-control"
                          [formControl]="Form_SetCommission.controls['Value']"
                          [ngClass]="{'is-invalid':!Form_SetCommission.controls['Value'].valid && Form_SetCommission.controls['Value'].touched}">
                      </div>
                      <label class="text-danger" for="RewardPercentage"
                        *ngIf="Form_SetCommission.controls['Value'].hasError('required') && Form_SetCommission.controls['Value'].touched">
                        Enter commission percentage
                      </label>
                      <label class="text-danger" for="RewardPercentage"
                        *ngIf="Form_SetCommission.controls['Value'].hasError('min') || Form_SetCommission.controls['Value'].hasError('max')">
                        commission percentage must be between 0 to 100
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="tx-13 ">Comment<span class="text-danger">*</span>
                      </label>
                      <div class="controls">
                        <textarea name="Comment" minlength="2" maxlength="256" placeholder="You can write reasons to change commission percentage,It will help you to maintain history" class="form-control" rows="3"
                          [formControl]="Form_SetCommission.controls['Comment']"
                          [ngClass]="{'is-invalid':!Form_SetCommission.controls['Comment'].valid && Form_SetCommission.controls['Comment'].touched}"></textarea>
                      </div>
                      <label class="text-danger" for="Comment"
                        *ngIf="Form_SetCommission.controls['Comment'].hasError('required') && Form_SetCommission.controls['Comment'].touched">
                        Enter comment
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_SetCommission_Close()">
                {{ "Common.Close" | translate }}
              </button>
              <button type="submit" class="btn btn-primary warn mr-2"
                (click)="Form_SetCommission.value.OperationType = 'new'"
                [disabled]="!Form_SetCommission.valid || _HelperService.IsFormProcessing">
                <span *ngIf="!_HelperService.IsFormProcessing">
                  {{ "Common.Confirm" | translate }}
                </span>
                <span *ngIf="_HelperService.IsFormProcessing">
                  <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                  {{ "Common.PleaseWait" | translate }}...
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>