<!-- <div class="card"> -->
<!-- <ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">Reports
    </a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Sales Summary
    </a></li>
</ol> -->
<h4 class="mg-b-12 tx-spacing--1"> Reports > <span> Sales Summary</span></h4>
<div class="d-sm-flex align-items-center justify-content-between mb-2">
  
  <div class="d-flex justify-content-between ">
    <div class="form-group  mb-0 pb-0 wd-200">
      <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
        [options]="_HelperService.AppConfig.DatePickerOptions"
        (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    </div>
    <div class="mg-l-5 wd-200">
      <select2 class="full-width" [options]="TUTr_Filter_Store_Option" (valueChanged)="TUTr_Filter_Stores_Change($event)">
      </select2>
    </div>
  </div>
  <div class="d-flex justify-content-between mg-t-10  mg-md-t-0">
    <!-- <button
      class="btn btn-sm pd-x-15  btn-uppercase {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
        data-feather="mail" class="wd-10 mg-r-5"></i>
      Email</button>
    <button
      class="btn btn-sm pd-x-15  btn-uppercase mg-l-5 {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
        data-feather="upload" class="wd-10 mg-r-5"></i>
      Export</button> -->
      <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
        <li class="list-inline-item d-flex align-items-center">
          <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
          <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
            {{this._Weekly.ActualStartDate | date :["dd LLL"]}}</span>
        </li>
        <li class="list-inline-item d-flex align-items-center mg-l-5">
          <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
          <span
            class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{this._Weekly.ActualEndDate | date :["dd LLL"]}}</span>
        </li>
  
      </ul>
  </div>
</div>

<div class="row row-xs mg-y-10 ">
  <div class="col-sm-6 col-lg-3 ">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Sale amount</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
          <span class="mg-r-2 text-sm"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_SalesSummary.InvoiceAmount | number: "1.2-2" ||"--"}}
        </h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-secondary mg-b-0"> Total sale amount</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Transactions</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
          {{_SalesSummary.Transactions}} </h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-secondary mg-b-0"> Total number of transactions</p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Card Sale</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          <span class="text-sm"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_SalesSummary.CardInvoiceAmount | number: "1.2-2" ||"--"}}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Amount against <b class="tx-dark">{{_SalesSummary.CardTransaction}} </b>
        Card transactions</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Cash sale</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          <span class=" text-sm"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_SalesSummary.CashInvoiceAmount | number: "1.2-2" ||"--"}}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Amount against <b class="tx-dark"> {{_SalesSummary.CashTransaction}}
        </b> cash transactions</p>
    </div>
  </div><!-- col -->
</div>
<div class="row row-xs mg-t-10">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card ht-100p">
      <div class="card-header">
        <h6 class="mg-b-5">Customers Traffic Time</h6>
        <p class="tx-13 tx-color-03 mg-b-0"> Shows  peak time of day  <span class="tx-dark tx-medium">
            {{_Daily.ActualStartDate | date :["dd LLL"]}}</span> in
          terms of visits</p>
      </div>
      <div class="card-body" *ngIf="this.DailylineChartData[0].data.length != 0">
        <canvas *ngIf="showDailyChart" height="200px" baseChart #DataPlot="base-chart" [datasets]="DailylineChartData"
          [labels]="DailylineChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options"
          [colors]="DailylineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
          [chartType]="_HelperService.ChartConfig.LineChart.Type">
        </canvas>
      </div><!-- card-body -->
      <div class="card-body" *ngIf="this.DailylineChartData[0].data.length == 0">
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-file tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- card -->

  </div>
  <div class="col-lg-6 col-md-12 col-sm-12  mg-t-10  mg-sm-t-0">
    <div class="card ht-100p">
      <div class="card-header">
        <h6 class="mg-b-5">Day of Week (in Terms of Sale)</h6>
        <p class="tx-13 tx-color-03 mg-b-0">Shows day of the week <span class="tx-dark tx-medium">
            {{_Weekly.ActualStartDate | date :["dd LLL"]}} - {{_Weekly.ActualEndDate | date :["dd LLL"]}}</span>
          in
          terms of sales amount
        </p>
      </div>
      <div class="card-body d-flex justify-content-center align-items-center"
        *ngIf="this.WeeklyBarChartData[0].data.length != 0">

        <canvas *ngIf="showWeeklyBarChart" class="" height="170px" baseChart #DataPlot="base-chart"
          [datasets]="WeeklyBarChartData" [labels]="WeeklyBarChartLabels" [options]="_HelperService.ChartConfig.BarChart.Options"
          [colors]="Weekly1BarChartColors" [plugins]="Options.Plugins"
          [chartType]="_HelperService.ChartConfig.BarChart.Type">
        </canvas>

      </div><!-- card-body -->
      <div class="card-body" *ngIf="this.WeeklyBarChartData[0].data.length == 0">
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-file tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer pd-20">
        <div class="row">
          <div class="col-6">

            <div class="d-flex align-items-center">
              <h5 class=" tx-rubik  mg-b-0"><span class=" text-sm mg-r-5"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_WeeklyBar.LowestSales?_WeeklyBar.LowestSales.TotalInvoiceAmount:0| number:'1.0-0'}}
                <br>

                <small class="text-secondary tx-11 d-flex align-items-center mg-t-5  text-uppercase">
                  <span class="d-inline-block wd-15 ht-15 bg-verve rounded  mg-r-5"></span> Least sale day</small>

              </h5>
            </div>
          </div><!-- col -->
          <div class="col-6 align-items-right">

            <div class="d-flex align-items-right float-right">
              <h5 class=" tx-rubik mg-b-0"><span class=" text-sm"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_WeeklyBar.HeigestSales?_WeeklyBar.HeigestSales.TotalInvoiceAmount:0| number:'1.0-0'}}
                <br>
                <small class="text-secondary tx-11 d-flex align-items-center mg-t-5 text-uppercase">
                  <span class="d-inline-block wd-15 ht-15 bg-success   rounded mg-r-5"></span>Best Sale day</small>
              </h5>
            </div>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- card-footer -->
    </div><!-- card -->
  </div>
</div>

<div class="row row-xs mg-t-10">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card ht-100p">
      <div class="card-header">
        <h6 class="mg-b-5">Weekly Sales Report</h6>
        <p class="tx-13 tx-color-03 mg-b-0"> Sales trend in between <span class="tx-dark tx-medium">
            {{_Weekly.ActualStartDate | date :["dd LLL"]}} - {{_Weekly.ActualEndDate | date :["dd LLL"]}}
          </span>compared with <span class="tx-12 text-primary  text-uppercase ">
            <a href="" class="tx-bold" id="WeekSalesTrend_dropdown" data-toggle="dropdown" aria-haspopup="true"
              (click)="_HelperService.StopClickPropogation()" aria-expanded="false">{{lastweektext}}
              <i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i>
            </a>
            <div class="dropdown-menu tx-13">
              <form class="wd-250  pd-15">
                <a class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                  (click)="CloseRowModal(1)">
                  <span class=" text-primary pd-r-10">Same week, Last Month</span>
                </a>
                <a (click)="ShowHideCalendar(this._HelperService.AppConfig.DatePickerTypes.week)"
                  class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} ">
                  <span class="pd-r-10 text-primary">Choose any Week</span>
                </a>
                <div class="form-group">
                  <div [hidden]="hideWeeklyPicker" id="weeklydate"></div>
                </div>
              </form>
            </div>
          </span>
        </p>
        <!-- <input type="text" class="form-control form-daterangepicker" name="daterangeInput" daterangepicker
          [options]="_HelperService.AppConfig.DatePickerOptions"
          (selected)="WeelyDateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />

        <button (click)="Toogle_Dataset_Visibility('Series A')">DataSet A</button>
        <button (click)="Toogle_Dataset_Visibility('Series B')">DataSet B</button> -->
      </div>
      <div class="card-body" *ngIf="this.WeeklylineChartData[0].data.length != 0">
        <canvas *ngIf="showWeeklyChart"   baseChart #DataPlot="base-chart" [datasets]="WeeklylineChartData"
          [labels]="WeeklylineChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options"
          [colors]="lineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
          [chartType]="_HelperService.ChartConfig.LineChart.Type">
        </canvas>
      </div><!-- card-body -->
      <div class="card-body" *ngIf="this.WeeklylineChartData[0].data.length == 0">
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-file tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- card -->
  </div>
</div>
<!-- </div> -->