<!-- acquirer--merchants--list -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Cashiers</a></li>
</ol>

<div class="card ">
  <div class="card-header d-flex justify-content-between">
    <!-- <div class="tx-medium">All Cashier</div> -->
    <div class="d-sm-flex justify-content-between">
      <span class="tx-semibold mg-t-10">All Cashier<span class="text-muted tx-normal">
          ({{CashiersList_Config.TotalRecords}})</span></span>
    </div>
    <div class="pnvalid" data-permission="cashieradd"> <Button class="btn btn-primary btn-xs" (click)="Form_AddCashier_Show()"> Add Cashier</Button></div>
  </div>

  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <div class=" media">
          <div type="button" (click)="CashiersList_ListTypeChange(5)"
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="user"></i>
          </div>
          <div class="media-body bd-pink">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              ALL</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Total}}</h4>

          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="CashiersList_ListTypeChange(1)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <i data-feather="user-check"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Active</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Active}}</h4>

          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="CashiersList_ListTypeChange(3)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="user-x"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Blocked</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Blocked}}</h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        </div>
      </div>
    </div>
  </div>

  <!-- <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> {{CashiersList_Config.Title}} </div>
  </div> -->
  <div class="box-header px-3 pd-t-15 pd-b-5 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="CashiersList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="CashiersList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="CashiersList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="CashiersList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="CashiersList_Config.Sort.SortOrder == 'desc'"
                (click)="CashiersList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="CashiersList_Config.Sort.SortOrder == 'asc'"
                (click)="CashiersList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of CashiersList_Config.Sort.SortOptions"
              (click)="CashiersList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="CashiersList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Added On</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="CashiersList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <!-- <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="CashiersList_Config.StatusOptions"
                  (valueChanged)="CashiersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2> -->

                <select2 class="wd-100p" [value]="_DataHelperService.statusValue"
                  [data]="_DataHelperService.TUTr_Filter_StatusOptions"
                  (valueChanged)="CashiersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)"
                  [options]="_DataHelperService.Status_Option">
                </select2>


              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Store</label>
                <select2 [options]="CashiersList_Filter_Stores_Option" class="wd-100p"
                  (valueChanged)="CashiersList_Filter_Stores_Change($event)">
                </select2>
              </div>
            </div>
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor cursor-pointer RefreshColorOne"
        (click)="CashiersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
      <a class="nav-link ml-2 RefreshColor cursor-pointer RefreshColorOne"
        (click)="CashiersList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
          data-feather="download"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-10">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div> -->
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of CashiersList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <!-- <th class="text-center" *ngIf="ColumnConfig[0].Value">
          </th> -->
          <th class="text-center">
          </th>
          <th>
            Name & Gender
          </th>
          <th class="text-center">
            Cashier ID
          </th>
          <th class="text-center">
            Employee ID
          </th>
          <th class="">
            Contact
          </th>
          <th>
            Store
          </th>
          <th> Sale Amount </th>
          <th class="text-center">
            Transaction
          </th>
          <th class="">
            Added On
          </th>

        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="CashiersList_RowSelected(TItem)"
          *ngFor="let TItem of CashiersList_Config.Data  | paginate: { id: 'CashiersList_Paginator',itemsPerPage: CashiersList_Config.PageRecordLimit, currentPage: CashiersList_Config.ActivePage,  totalItems: CashiersList_Config.TotalRecords }">
          <td class="text-center">
            <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
              class="img wd-40 ht-40 rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
          </td>
          <td>
            <div class="tx-14 tx-semibold ">{{TItem.Name || "--"}}</div>
            <small class="tx-12 text-muted">
              {{TItem.GenderName || "--"}}
            </small>
          </td>
          <td class="text-center">
            {{TItem.CashierId || "--"}}
          </td>
          <td class="text-center">
            {{TItem.EmployeeId || "--"}}
          </td>
          <td class="">
            <div class="tx-14 tx-verve">{{TItem.ContactNumber || "--"}}
            </div>
            <small class="text-muted tx-12 Word-break">
              {{TItem.EmailAddress || "--"}}
            </small>
          </td>
          <td class="" (click)="StoreRoute(TItem)">
            <div class="tx-14 cursor-pointer route-hover">{{TItem.StoreDisplayName|| "--"}}
            </div>
            <small class="text-muted tx-12">
              {{TItem.StoreAddress | truncateText:40|| "--"}}
            </small>
          </td>
          <td> {{TItem.SaleAmount || "--"}} </td>
          <!-- <td> 
            {{TItem.MainBalance || "--"}} 
          </td> -->
          <td class="text-center">
            {{TItem.Transactions}}
          </td>
          <td class="">
            <div>{{TItem.CreateDateD || "--"}}</div>

            <!-- {{TItem.CreateDateD || "--"}} -->
            <div class="tx-12 text-secondary"> {{TItem.CreateDateT || "--"}} </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{CashiersList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{CashiersList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{CashiersList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="CashiersList_Config.PageRecordLimit"
        (ngModelChange)="CashiersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="CashiersList_Paginator" class="pagination pagination-space"
        (pageChange)="CashiersList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="Form_AddCashier_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_AddCashier" (ngSubmit)="Form_AddCashier_Process(Form_AddCashier.value)" role="form">
        <div *ngIf="isAddCashier" class="modal-header">
          <h5 class="modal-title">Add New Cashier</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.FirstName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>

                </div>
                <div class="controls">
                  <input type="text" name="FirstName" placeholder="First Name" required maxlength="128"
                    class="form-control" [formControl]="Form_AddCashier.controls['FirstName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCashier.controls['FirstName'].valid &&
                        Form_AddCashier.controls['FirstName'].touched
                    }" />
                </div>
                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCashier.controls['FirstName'].hasError('required') &&
                    Form_AddCashier.controls['FirstName'].touched
                  ">{{
                  "System.Users.FirstName_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCashier.controls['FirstName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCashier.controls['FirstName'].hasError('maxlength')
                  ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.LastName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>

                </div>
                <div class="controls">
                  <input type="text" name="LastName" placeholder="Last Name" required maxlength="128"
                    class="form-control" [formControl]="Form_AddCashier.controls['LastName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCashier.controls['LastName'].valid &&
                        Form_AddCashier.controls['LastName'].touched
                    }" />
                </div>
                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCashier.controls['LastName'].hasError('required') &&
                    Form_AddCashier.controls['LastName'].touched
                  ">{{
                  "System.Users.LastName_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCashier.controls['LastName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCashier.controls['LastName'].hasError('maxlength')
                  ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.EmailAddress" | translate
              }}<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128" class="form-control"
                [formControl]="Form_AddCashier.controls['EmailAddress']" [ngClass]="{
                          'is-invalid':
                            !Form_AddCashier.controls['EmailAddress'].valid &&
                           Form_AddCashier.controls['EmailAddress'].touched
                        }" />
            </div>
            <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCashier.controls['EmailAddress'].hasError('required') &&
                       Form_AddCashier.controls['EmailAddress'].touched
                      ">{{
              "System.Users.EmailAddress_ER_Required" | translate
              }}</label>
            <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCashier.controls['EmailAddress'].touched &&
                        !Form_AddCashier.controls['EmailAddress'].valid && 
                        !Form_AddCashier.controls['EmailAddress'].hasError('required')
                      ">Enter valid email Address</label>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.ContactNumber" | translate
              }}<span class="text-danger">*</span>
            </label>
            <div class="controls input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
              </div>
              <input type="text" placeholder="Contact Number" name="ContactNumber" maxlength="128" class="form-control"
                (keypress)="_HelperService.PreventText($event)"
                [formControl]="Form_AddCashier.controls['ContactNumber']" [ngClass]="{
                        'is-invalid':
                          !Form_AddCashier.controls['ContactNumber'].valid &&
                         Form_AddCashier.controls['ContactNumber'].touched
                      }" />
            </div>
            <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddCashier.controls['ContactNumber'].hasError('required') &&
                     Form_AddCashier.controls['ContactNumber'].touched
                    ">{{
              "System.Users.ContactNumber_ER_Required" | translate
              }}</label>
            <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddCashier.controls['ContactNumber'].hasError(
                        'minlength'
                      ) ||
                     Form_AddCashier.controls['ContactNumber'].hasError('maxlength')
                    ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
          </div>

          <div class="form-group">
            <div class="d-flex justify-content-between">
              <div>
                <label>{{ "System.Users.EmployeeCode" | translate }}
                </label>
              </div>

            </div>
            <div class="controls">
              <input type="text" name="EmployeeCode" placeholder="Employee Code" maxlength="25" class="form-control"
                [formControl]="Form_AddCashier.controls['EmployeeCode']" />
            </div>


          </div>

          <!-- <div class="form-group mr-2 mb-2" *ngIf="!_HelperService.ToggleField && !ToggleStoreSelect">
                        <label for=" "> {{'System.Users.Store' | translate }}<span class="text-danger">*</span> </label>
                        <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                            (valueChanged)="TUTr_Filter_Stores_Change($event)">
                        </select2>
                    </div> -->

          <div class="form-group pd-b-0">
            <label for=""> Select Merchant <span class="text-danger"> * </span> </label>
            <select2 class="full-width" [options]="TUTr_Filter_Merchant_Option" *ngIf="isMerchant"
              (valueChanged)="TUTr_Filter_Merchant_Change($event)">
            </select2>
          </div>
          <div class="form-group pd-b-0" *ngIf="ToggleStoreSelect">
            <label for=""> Select Store <span class="text-danger"> * </span> </label>
            <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
              (valueChanged)="TUTr_Filter_Stores_Change($event)">
            </select2>
          </div>
          <div class="form-group">
            <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
              </label>
            </div>
            <div class="radio float-left mr-3">
              <label class="ui-check"><input type="radio" name="gender" [value]="_HelperService.AppConfig.Gender.Male"
                  [formControl]="Form_AddCashier.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Male' | translate }}</label>
            </div>
            <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                  [value]="_HelperService.AppConfig.Gender.Female"
                  [formControl]="Form_AddCashier.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Female' | translate }}</label></div>
          </div>

          <div class="form-group">
            <div>
              <label>Profile Picture
              </label>
            </div>
            <div class="col-md-12">
              <input-file #cashier inputId="input-file" placeholder="">
              </input-file>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddCashier_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="button" class="btn btn-primary float-right" (click)="_ShowGeneralPreview()"
            [disabled]="!Form_AddCashier.valid || _HelperService.IsFormProcessing">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="_PreviewCashier" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content" *ngIf="Form_AddCashier">
      <div class="modal-header">
        <h5 class="modal-title">Please verify and add Cashier1 </h5>
      </div>
      <div class="modal-body  p-y-20 pd-x-30">
        <div class="media bd-b pd-b-15" style="border-width: thin !important;">
          <div class="mg-r-10 mg-md-r-10">
            <img [src]="_HelperService._Icon_Cropper_Image"  (error)="_HelperService.defaultImage($event)" class="wd-40 wd-md-50 ht-40 ht-md-50 rounded-5" />
          </div>
          <div class="media-body">
            <h6 class="tx-16 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">{{Form_AddCashier.controls['FirstName'].value}}
              {{Form_AddCashier.controls['LastName'].value}} </h6>
            <h4 class="tx-14 text-secondary mg-b-0">{{Form_AddCashier.controls['MerchantName'].value}} -
              {{Form_AddCashier.controls['StoreName'].value}} </h4>
          </div>
        </div>
        <div class="row mg-t-30">
          <div class="col-md-4 text-secondary">Name</div>
          <div class="col-md-1 text-secondary">:</div>
          <div class="col-md-7">{{Form_AddCashier.controls['FirstName'].value}}
            {{Form_AddCashier.controls['LastName'].value}} </div>
          <div class="col-md-4 text-secondary">Merchant</div>
          <div class="col-md-1 text-secondary">:</div>
          <div class="col-md-7">
            <div> {{Form_AddCashier.controls['MerchantName'].value || "--"}}</div>

          </div>
          <div class="col-md-4 text-secondary">Store</div>
          <div class="col-md-1 text-secondary">:</div>
          <div class="col-md-7">
            <div> {{Form_AddCashier.controls['StoreName'].value || "--"}}</div>

          </div>
          <div class="col-md-4 text-secondary">Employee Code</div>
          <div class="col-md-1 text-secondary">:</div>
          <div class="col-md-7">
            <div> {{Form_AddCashier.controls['EmployeeCode'].value || "--"}}</div>

          </div>
          <div class="col-md-4 text-secondary">Email</div>
          <div class="col-md-1 text-secondary">:</div>
          <div class="col-md-7 text-break">
            <div> {{Form_AddCashier.controls['EmailAddress'].value || "--"}}</div>

          </div>


          <div class="col-md-4 text-secondary">Contact Number</div>
          <div class="col-md-1 text-secondary">:</div>
          <div class="col-md-7">
            <div> {{Form_AddCashier.controls['ContactNumber'].value || "--"}}</div>

          </div>

        </div>

        <!-- <div class="media text-danger mg-t-30">
          <div
            class="wd-40  ht-40  text-danger mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded"
            style="background-color: #F6CBCF !important;">
            <i data-feather="alert-triangle"></i>
          </div>
          <div class="media-body">
            <h6 class="text-danger tx-13 pd-t-5">Remember, once you add this cashier, you can't undo action or edit
              details, please make sure all details are appropriate.</h6>
          </div>
        </div> -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ "Common.Close" | translate }}
        </button>
        <button type="button" class="btn btn-primary mr-2" (click)="Form_AddCashier_Process()">
          <span *ngIf="!_HelperService.IsFormProcessing">
            {{ "Common.Save" | translate }}
          </span>
          <span *ngIf="_HelperService.IsFormProcessing">
            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
            {{ "Common.PleaseWait" | translate }}...
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="m-3" *ngIf="_HelperService._Icon_Cropper_BaseImage">
              <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                (imageLoaded)="_HelperService.Icon_Crop_Loaded()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
              </image-cropper>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
            <div class="p-3">
              <div class="mb-2">
                Image Preview
              </div>
              <div class="mb-2">
                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
              </div>
              <div>
                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                  'Common.PictureDone' |
                  translate }}</button>
                <button type="button" class="btn btn-warning ml-2" (click)="resetImage()">{{
                  'Common.PictureClearAndClose' |
                  translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>