<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']">
        <a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard
        </a>
    </li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']">
        <a class="cursor-pointer" [routerLinkActive]="['active']" (click)="BackReferral()">
            REFERRAL 
        </a>
    </li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']">
        <a class="" [routerLinkActive]="['active']">
            REFERRAL BONUS
        </a>
    </li>
</ol>

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="tx-medium">
            Referral Bonus ({{RefBonusList_Config.TotalRecords}})
        </div>
        <div>
            <button class="btn btn-xs btn-primary" (click)="Form_Add_Show()"> Create New </button>
        </div>
    </div>

    <div class="box-header px-3 pd-t-15 pd-b-5  d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="RefBonusList_Config.SearchParameter" maxlength="100"
                    class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="RefBonusList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button"
                        (click)="RefBonusList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">
                        <i data-feather="search"></i>
                    </button>
                </div>
            </div>


        </div>
        <div class="d-flex ml-auto">
            <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
                class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i>
            </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                    (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
            _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
                class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                (click)="Save_NewFilter()">
                <i data-feather="plus-circle"></i>
            </button>

        </div>

        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="RefBonusList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i data-feather="align-left" class="tx-20"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                            Sort
                            <div class="float-right tx-20" *ngIf="RefBonusList_Config.Sort.SortOrder == 'desc'"
                                (click)="RefBonusList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="RefBonusList_Config.Sort.SortOrder == 'asc'"
                                (click)="RefBonusList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                            *ngFor="let TItem of RefBonusList_Config.Sort.SortOptions"
                            (click)="RefBonusList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>

                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset
                        </button>
                        <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">
                            Apply
                        </button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="RefBonusList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                    <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                            Filters
                        </h6>
                        <div class="mg-b-70">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label for="TURef_ReferralRangeMinAmount">Min Amount</label>
                                            <input type="number" name="TURef_ReferralRangeMinAmount" maxlength="256"
                                                class="form-control" [(ngModel)]="TURef_ReferralRangeMinAmount"
                                                oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                                (keyup)="RefBonusList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label for="TURef_ReferralRangeMaxAmount">Max Amount</label>
                                            <input type="number" name="TURef_ReferralRangeMaxAmount" maxlength="256"
                                                class="form-control" [(ngModel)]="TURef_ReferralRangeMaxAmount"
                                                oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                                (keyup)="RefBonusList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-light btn-sm mr-2"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset
                        </button>
                        <button type="button" class="btn btn-primary btn-sm "
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">
                            Apply
                        </button>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor cursor-pointer RefreshColorOne"
                (click)="RefBonusList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                <i data-feather="refresh-cw"></i>
            </a>
            <a class="nav-link ml-2 RefreshColor cursor-pointer RefreshColorOne"
                (click)="RefBonusList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)">
                <i data-feather="download"></i>
            </a>
        </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-10">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
            {{_HelperService.FilterSnap.StatusName}}
            <span (click)="RemoveFilterComponent('Status')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" +_HelperService.FilterSnap.Sort.SortOrder}}
            </span>
            <span (click)="RemoveFilterComponent('Sort')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>

        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.StartTime">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--"
            +_HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].DisplayName}}
            <span (click)="RemoveFilterComponent('Other',i)"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)"
            (click)="RemoveFilterComponent('SalesRange')">
            Bonus Range
            [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" +_HelperService.FilterSnap.SalesRange.SalesMax}}]
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>

        <span class="badge badge-pill badge-primary" *ngFor="let TItem of RefBonusList_Config.Filters">
            {{TItem.Title}}
        </span>

    </div>

    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <!-- <th>Referral ID</th> -->
                    <th>Bonus Amount(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
                    <th>Create Date</th>
                    <!-- <th>Actions</th>  -->
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let TItem of RefBonusList_Config.Data  | paginate:
                {      id: 'RefBonusList_Paginator',
                       itemsPerPage: RefBonusList_Config.PageRecordLimit, 
                       currentPage: RefBonusList_Config.ActivePage,  
                       totalItems: RefBonusList_Config.TotalRecords }">
                    <!-- <td>
                        <div>
                            All Users
                        </div>
                    </td> -->

                    <td class="">
                        <div class="router-hover">
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.Amount}}
                        </div>
                    </td>

                    <td>
                        <div class="">
                            {{TItem.DateSetD}}
                        </div>
                        <div class="">
                            {{TItem.DateSetT}}
                        </div>
                    </td>

                    <!-- <td>
                        <div>
                            <button class="btn btn-xs btn-primary" (click)="Selected(TItem)">Edit</button>
                            
                        </div>
                    </td> -->

                </tr>
            </tbody>

        </table>
    </div>

    <div class="card-footer pd-20">
        <span class="mr-3">
            {{ 'Common.Showing' | translate }}
            <span class="bold">
                {{RefBonusList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{RefBonusList_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{RefBonusList_Config.TotalRecords}}
        </span>
        <span>
            {{ 'Common.Show' | translate }}
            <select class="wd-50 " [(ngModel)]="RefBonusList_Config.PageRecordLimit"
                (ngModelChange)="RefBonusList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right">
            <pagination-controls id="RefBonusList_Paginator" class="pagination pagination-space"
                (pageChange)="RefBonusList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>

</div>


<div class="modal fade" id="Form_Add_Content" role="dialog" data-backdrop="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header" style="border: none;">
                <h5 class="modal-title">Create Referral Bonus</h5>
                <span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </span>
            </div>
            <div class="ml-3">
                <p>Set discount price for referral ID created</p>
            </div>

            <div class="card-body">
                <form [formGroup]="Form_Add" (ngSubmit)="Form_Add_Process(Form_Add.value)" role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="radio float-left mr-3">
                                    <label class="ui-check">
                                        <input type="radio" name="bonustype" checked required>
                                        <i class="dark-white"></i>
                                        For all users
                                    </label>
                                </div>
                                <!-- <div class="radio float-left mr-3">
                                    <label class="ui-check">
                                        <input type="radio" name="bonustype" value="bonustype.individual"
                                            [value]="'bonustype.individual'" [(ngModel)]="bonustype"
                                            [ngModelOptions]="{standalone: true}" required>
                                        <i class="dark-white"></i>
                                        For Individual
                                    </label>
                                </div> -->

                            </div>
                        </div>
                    </div>

                    <!-- <div class="row" *ngIf="bonustype==='bonustype.individual'">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Referral ID
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="Description" maxlength="256" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Referral Bonus
                                    <span class="text-danger">*</span>

                                </label>
                                <div class="controls">
                                    <input type="number" name="Amount" maxlength="256" class="form-control"
                                        [formControl]="Form_Add.controls['Amount']"
                                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                        [ngClass]="{'is-invalid':! Form_Add.controls['Amount'].valid && Form_Add.controls['Amount'].touched}">
                                </div>
                                <label class="text-danger" for="Amount"
                                    *ngIf=" Form_Add.controls['Amount'].hasError('required') && Form_Add.controls['Amount'].touched">
                                    Enter Valid Amount
                                </label>
                            </div>
                        </div>


                    </div>

                    <div class="mg-b-10">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="InvoiceRangeMaxAmount">Set by percentage</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" aria-label="Username"
                                        aria-describedby="basic-addon1" [formControl]="Form_Add.controls['Percentage']">
                                    <span class="input-group-text" id="basic-addon1">%</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">off</span>
                                    <input type="text" class="form-control" aria-label="Username"
                                        aria-describedby="basic-addon1" [formControl]="Form_Add.controls['Reward']">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block"
                            (click)="Form_Add.value.OperationType = 'new'"
                            [disabled]="!Form_Add.valid || _HelperService.IsFormProcessing">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                Submit
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                {{ "Common.PleaseWait" | translate }}...
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Form_Edit_Content" role="dialog" data-backdrop="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header" style="border: none;">
                <h5 class="modal-title">Edit Referral Bonus</h5>
                <span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </span>
            </div>
            <div class="ml-3">
                <p>Set discount price for referral ID created</p>
            </div>

            <div class="card-body">
                <form [formGroup]="Form_Edit" (ngSubmit)="Form_Edit_Process(Form_Edit.value)" role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="radio float-left mr-3">
                                    <label class="ui-check">
                                        <input type="radio" name="bonustype" checked required>
                                        <i class="dark-white"></i>
                                        For all users
                                    </label>
                                </div>
                                <!-- <div class="radio float-left mr-3">
                                    <label class="ui-check">
                                        <input type="radio" name="bonustype" value="bonustype.individual"
                                            [value]="'bonustype.individual'" [(ngModel)]="bonustype"
                                            [ngModelOptions]="{standalone: true}" required>
                                        <i class="dark-white"></i>
                                        For Individual
                                    </label>
                                </div> -->

                            </div>
                        </div>
                    </div>

                    <!-- <div class="row" *ngIf="bonustype==='bonustype.individual'">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Referral ID
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="Description" maxlength="256" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Referral Bonus
                                    <span class="text-danger">*</span>

                                </label>
                                <div class="controls">
                                    <input type="number" name="Amount" maxlength="256" class="form-control"
                                        [formControl]="Form_Edit.controls['Amount']"
                                        [(ngModel)]="_Details.Amount"
                                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                        [ngClass]="{'is-invalid':! Form_Edit.controls['Amount'].valid && Form_Edit.controls['Amount'].touched}">
                                </div>
                                <label class="text-danger" for="Amount"
                                    *ngIf=" Form_Edit.controls['Amount'].hasError('required') && Form_Edit.controls['Amount'].touched">
                                    Enter Valid Amount
                                </label>
                            </div>
                        </div>


                    </div>

                    <div class="mg-b-10">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="InvoiceRangeMaxAmount">Set by percentage</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" aria-label="Username"
                                        aria-describedby="basic-addon1" [formControl]="Form_Edit.controls['Percentage']">
                                    <span class="input-group-text" id="basic-addon1">%</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">off</span>
                                    <input type="text" class="form-control" aria-label="Username"
                                        aria-describedby="basic-addon1" [formControl]="Form_Edit.controls['Reward']">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block"
                            (click)="Form_Edit.value.OperationType = 'new'"
                            [disabled]="!Form_Edit.valid || _HelperService.IsFormProcessing">
                            <span *ngIf="!_HelperService.IsFormProcessing">
                                Update
                            </span>
                            <span *ngIf="_HelperService.IsFormProcessing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                {{ "Common.PleaseWait" | translate }}...
                            </span>
                        </button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>