<!-- acquirer--terminals--detail -->

<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0" id="headingOne">

            <div class="row ">
                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl"><img  [style.border-color]="_TerminalDetails.StatusC" (error)="_HelperService.defaultImage($event)"
                                src="{{'https://s3.eu-west-2.amazonaws.com/cdn.thankucash.com/' +  _TerminalDetails.ProviderIconUrl}}"
                                class="rounded-circle bd bd-2" alt=""> </div>
                    </div><!-- media -->
                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media  Hm-textCenterMd">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-bold text-capitalize  mg-b-2">
                                {{_TerminalDetails.TerminalId || "--"}}</h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal  lh-2 mg-b-5">
                                    <span class="mg-r-5 text-secondary"> <i style="height: 18px; width: 18px;;"
                                            data-feather="shopping-cart"></i> </span> <span
                                        class="cursor-pointer text-primary"
                                        (click)="_FilterHelperService.StoreDetail_Selected(_TerminalDetails)">{{_TerminalDetails.StoreName || "--"}}
                                         </span> , <span
                                        (click)="_FilterHelperService.MerchantDetail_Selected(_TerminalDetails)"
                                         class="cursor-pointer text-primary">
                                            {{_TerminalDetails.MerchantName || "--"}} </span>
                                </h2>
                            </div>
                            <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal   lh-2 mg-b-0 d-flex">
                                    <span class="text-secondary mg-r-5"> <i style="height: 18px; width: 18px;;"
                                            data-feather="map-pin"></i> </span> <span class="text-break">
                                        {{_TerminalDetails.StoreAddress}}</span></h2>
                            </div>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div>
                <div class="col-lg-6 Hm-media768 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap d-flex justify-content-center">

                                <div class=" mg-t-0 pd-t-0 text-center">
                                    <h3 class="tx-bold tx-30  tx-rubik tx-teal mg-r-5 pb-0 mb-0 lh-1 pb-1">
                                        {{_TerminalDetails.TotalTransactionAmount || "0"}}
                                        <br> <small class="tx-12 tx-color-03 mt-0 pt-0"> Total Sales Amount</small>
                                    </h3>

                                </div>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <div data-permission="terminalupdate" class="manageButton mg-t-0 pd-t-0 ">
                                    <button *ngIf="_TerminalDetails.StatusCode != 'default.blocked' " type="button"
                                        (click)="BlockPos()" class="btn btn-xs btn-outline-danger  rounded-pill">Block
                                        POS
                                    </button>

                                    <button data-permission="terminalupdate" type="button"
                                        *ngIf="_TerminalDetails.StatusCode == 'default.blocked' " (click)="BlockPos()"
                                        class="btn btn-xs btn-outline-dark  rounded-pill">Unblock
                                        POS

                                    </button>
                                </div>

                                <div class="collapseButton">
                                    <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                        (click)="changeSlide() ; HideDetail()" class="btn  btn-link"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                                [class.clicked]="slideOpen"></i>
                                        </div>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-0">
                <div class="row">

                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-11">
                        <div class="row">


                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <agm-map class="Hm-height ht-100p" [zoom]="14" [styles]="_HelperService.darkStyle"
                                    [latitude]="_HelperService._UserAccount.Latitude"
                                    [longitude]="_HelperService._UserAccount.Longitude">
                                    <agm-marker [latitude]="_HelperService._UserAccount.Latitude"
                                        [longitude]="_HelperService._UserAccount.Longitude"></agm-marker>
                                </agm-map>
                               
                            </div>

                            <div class="col-sm-12 col-md-6  col-lg-6">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6  col-lg-6 Hm-media768">
                                        <label class="tx-14 tx-bold text-capitalize Hm-HeaderColor  mg-b-15">Store
                                            Details
                                        </label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="tx-color-03"><i data-feather="user"></i> <span
                                                    *ngIf="_TerminalDetails.ContactPerson"
                                                    class="tx-color-03">{{_TerminalDetails.ContactPerson.Name}}</span>
                                            </li>
                                            <li class="tx-color-03"><i data-feather="smartphone"></i> <a
                                                    *ngIf="_TerminalDetails.ContactPerson">{{_TerminalDetails.ContactPerson.MobileNumber}}</a>
                                            </li>
                                            <li class="tx-color-03"><i data-feather="mail"></i> <a
                                                    *ngIf="_TerminalDetails.ContactPerson">{{_TerminalDetails.ContactPerson.EmailAddress}}</a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="col-sm-12 col-md-6  col-lg-6 Hm-media768">
                                        <label
                                            class="tx-14 tx-bold text-capitalize Hm-HeaderColor  mg-b-15">Relationship
                                            Manager</label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="tx-color-03"><i data-feather="user"></i> <span
                                                    *ngIf="_TerminalDetails.Rm"
                                                    class="tx-color-03">{{_TerminalDetails.Rm.Name}}</span></li>
                                            <li class="tx-color-03"><i data-feather="smartphone"></i> <a
                                                    *ngIf="_TerminalDetails.Rm"
                                                    class="tx-color-03">{{_TerminalDetails.Rm.Name}}</a></li>
                                            <li class="tx-color-03"><i data-feather="mail"></i> <a
                                                    *ngIf="_TerminalDetails.Rm">{{_TerminalDetails.Rm.Name}}</a>
                                            </li>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row Hm-media768 d-block d-sm-none">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row flex-nowrap d-flex justify-content-center">


                            <div class=" mg-t-0 pd-t-0 text-center">
                                <h3 class="tx-bold tx-30  tx-rubik tx-teal mg-r-5 pb-0 mb-0 lh-1 pb-1">
                                    {{_TerminalDetails.TotalTransactionAmount || "0"}}
                                    <br> <small class="tx-12 tx-color-03 mt-0 pt-0"> Total Sales Amount</small>
                                </h3>

                            </div>



                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                        <div class="row">
                            <div class="manageButton mg-t-0 pd-t-0">
                                <button type="button" (click)="BlockPos()"
                                    class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Block
                                    POS
                                </button>
                            </div>

                            <div class="collapseButton">
                                <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                    (click)="changeSlide() ; ShowDetail()" class="btn  btn-link" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                            [class.clicked]="slideOpen"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>

<div class="card bd-b-0 pd-x-20 pd-b-20 pd-t-10 mt-3">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist">

        <div class="d-flex flex-wrap">

            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Terminal.Dashboard}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="profile-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Terminal.SalesHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="profile" aria-selected="false">Transaction</a>
            </li>

        </div>

        <div class="row  d-flex no-gutters pd-r-10">



            <div class=" col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class=" order-1">
                    <input type="text" style="height: 30px;" class="form-control tx-13 form-daterangepicker"
                        name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DatePickerOptionsForToday"
                        (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>

            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" data-toggle="buttons" style="height: 30px;"
                *ngIf="_HelperService.ShowDateRange">
                <label class="btn btn-xs pb-0 mb-0 tx-13   d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white'}}"
                    (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label class="btn btn-xs  pb-0 mb-0 tx-13 d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white'}}"
                    (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label class="btn pb-0 mb-0 btn-xs tx-13 active  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white'}}"
                    (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div>

        </div>
    </ul>
</div>

<router-outlet></router-outlet>

<div class="modal fade BlockPos" id="BlockPos" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Block POS Terminal?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to Block this POS Terminal?.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button *ngIf="_TerminalDetails.StatusCode != 'default.blocked'" type="button" (click)="Block()"
                class="btn btn-danger">Block POS</button>
            <button *ngIf="_TerminalDetails.StatusCode == 'default.blocked'" type="button" (click)="UnBlock()"
                class="btn btn-primary">Unblock POS</button>

            </div>
        </div>
    </div>
</div>