<!-- acquirer--merchants--details -->
<form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
    <div class="card">
        <div class="card-body  p-lg">
            <div class="card-header">
                <h5 class="card-title">Add Admin User</h5>
            </div>
            <div class="card-body  p-lg">
                <div class="col-md-12">
                    <div class="card-header pd-y-8  px-0 tx-uppercase tx-14 bd-2">
                        Personal Information
                    </div>
                    <div class="row">
                        <div class="col-md-12 mg-b-10 ">
                            <input-file (deletedFile)="removeImage()" class="d-flex wd-20p m-auto rounded-50"
                                inputId="input-file" placeholder="" #inputfile>
                                <i data-feather="airplay"> </i>
                            </input-file>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <label class="tx-13 ">First Name<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" placeholder="First Name" name="FirstName" minlength="1"
                                        maxlength="100" class="form-control"
                                        [formControl]="Form_EditUser.controls['FirstName']"
                                        [(ngModel)]="_AdminDetails.FirstName"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['FirstName'].valid && Form_EditUser.controls['FirstName'].touched}">
                                </div>

                                <label class="text-danger" for="FirstName"
                                    *ngIf="Form_EditUser.controls['FirstName'].hasError('required') && Form_EditUser.controls['FirstName'].touched">
                                    First Name Required
                                </label>
                                <!-- <label class="text-danger" for="RewardPercentage"
                                    *ngIf="Form_EditUser.controls['Value'].hasError('min') || Form_EditUser.controls['Value'].hasError('max')">
                                    reward percentage must be between 0 to 100
                                </label> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="tx-13 ">Last Name<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" placeholder="Last Name" name="LastName" minlength="1"
                                        maxlength="100" class="form-control"
                                        [formControl]="Form_EditUser.controls['LastName']"
                                        [(ngModel)]="_AdminDetails.LastName"
                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['LastName'].valid && Form_EditUser.controls['LastName'].touched}">
                                </div>

                                <label class="text-danger" for="LastName"
                                    *ngIf="Form_EditUser.controls['LastName'].hasError('required') && Form_EditUser.controls['LastName'].touched">
                                    Last name required
                                </label>
                                <!-- <label class="text-danger" for="LastName"
                                    *ngIf="Form_EditUser.controls['LastName'].hasError('min') || Form_EditUser.controls['LastName'].hasError('max')">
                                    reward percentage must be between 0 to 100
                                </label> -->
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="tx-13 ">Date Of Birth</label>
                                <div class="controls">
                                    <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                        daterangepicker [options]="DateOfBirthPickerOptions"
                                        (selected)="DOB_ToggleOption($event)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
                                    </label>
                                </div>
                                <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="radio" name="gender"
                                            [value]="_HelperService.AppConfig.Gender.Male"
                                            [(ngModel)]="_AdminDetails.GenderCode"
                                            [formControl]="Form_EditUser.controls['GenderCode']">
                                        <i class="dark-white"></i>
                                        {{ 'System.Users.Male' | translate }}</label>
                                </div>
                                <div class="radio float-left  mr-3"><label class="ui-check"><input type="radio"
                                            name="gender" [value]="_HelperService.AppConfig.Gender.Female"
                                            [(ngModel)]="_AdminDetails.GenderCode"
                                            [formControl]="Form_EditUser.controls['GenderCode']">
                                        <i class="dark-white"></i>
                                        {{ 'System.Users.Female' | translate }}</label></div>

                                <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                                            [value]="_HelperService.AppConfig.Gender.Other"
                                            [(ngModel)]="_AdminDetails.GenderCode"
                                            [formControl]="Form_EditUser.controls['GenderCode']">
                                        <i class="dark-white"></i>
                                        {{ 'System.Users.Other' | translate }}</label></div>
                            </div>
                        </div>
                    </div>

                    <div class="card-header pd-y-8 px-0  tx-uppercase tx-14 mg-b-15 bd-2">
                        Contact Information
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="tx-13 ">Email Address <span class="text-danger">*</span> </label>
                                    <div class="controls">
                                        <input type="text" placeholder="Email Address" name="EmailAddress" minlength="1"
                                            maxlength="100" class="form-control"
                                            [formControl]="Form_EditUser.controls['EmailAddress']"
                                            [(ngModel)]="_AdminDetails.EmailAddress"
                                            [ngClass]="{'is-invalid':!Form_EditUser.controls['EmailAddress'].valid && Form_EditUser.controls['EmailAddress'].touched}">

                                        <label class="text-danger" for="EmailAddress"
                                            *ngIf="Form_EditUser.controls['EmailAddress'].hasError('required') && Form_EditUser.controls['EmailAddress'].touched">
                                            Enter email address
                                        </label>

                                        <label class="text-danger" for="EmailAddress"
                                            *ngIf="Form_EditUser.controls['EmailAddress'].hasError('email') && Form_EditUser.controls['EmailAddress'].touched">
                                            Enter valid business email address
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="tx-13 ">Contact Number<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <div class='row'>
                                            <div class="col-md-3 pd-r-0 text-gray">
                                                <input type="text" placeholder="" name="Code" minlength="1"
                                                    maxlength="100" class="form-control"
                                                    [(ngModel)]="this._HelperService.CountryCode"
                                                    [formControl]="Form_EditUser.controls['Code']"
                                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['Code'].valid && Form_EditUser.controls['Code'].touched}">
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="Mobile Number" name="MobileNumber"
                                                    minlength="1" maxlength="100" class="form-control"
                                                    [formControl]="Form_EditUser.controls['MobileNumber']"
                                                    [(ngModel)]="_AdminDetails.MobileNumber"
                                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['MobileNumber'].valid && Form_EditUser.controls['MobileNumber'].touched}">
                                            </div>
                                        </div>
                                    </div>
                                    <label class="text-danger" for="MobileNumber"
                                        *ngIf="Form_EditUser.controls['MobileNumber'].hasError('required') && Form_EditUser.controls['MobileNumber'].touched">
                                        Contact Number Required
                                    </label>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="tx-13 ">Address<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <textarea type="text" rows="5" [(ngModel)]="_AdminDetails.Address"
                                        [formControl]="Form_EditUser.controls['Address']" placeholder="Address"
                                        name="Address" minlength="1" maxlength="100" class="form-control"> </textarea>
                                </div>
                                <!-- <label class="text-danger" for="Address" *ngIf="_AdminDetails.Address==null">
                                        Address Required
                                    </label> -->
                            </div>
                        </div>
                    </div>
                    <div class="card-header pd-y-8 px-0 tx-uppercase tx-14 mg-b-15 bd-2">
                        Role and reporting
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Assign Roles<span class="text-danger">*</span></label>
                                <select2 [options]="GetRoles_Option" class="wd-100p" *ngIf="OwnerDisplayName"
                                    (valueChanged)="GetRoles_ListChange($event)">
                                </select2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Assign Reporting Manager<span class="text-danger">*</span></label>
                                <select2 [options]="GetReporting_Option" class="wd-100p" *ngIf="OwnerDisplayName"
                                    (valueChanged)="GetReporting_ListChange($event)">
                                </select2>card
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <div>
                                    <label>{{ "System.Users.AccountStatus" | translate}}
                                        <span class="text-danger">*</span>
                                    </label>
                                </div>
                                <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="radio" name="statusoptions"
                                            [value]="_HelperService.AppConfig.Status.Active"
                                            [(ngModel)]="_AdminDetails.StatusCode"
                                            [formControl]="Form_EditUser.controls['StatusCode']" />
                                        <i class="dark-white"></i>
                                        {{ "Common.Active" | translate }}</label>
                                </div>
                                <div class="radio  mr-3">
                                    <label class="ui-check"><input type="radio" name="statusoptions"
                                            [value]="_HelperService.AppConfig.Status.Inactive"
                                            [(ngModel)]="_AdminDetails.StatusCode"
                                            [formControl]="Form_EditUser.controls['StatusCode']" />
                                        <i class="dark-white"></i>
                                        {{ "Common.Inactive" | translate }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_EditUser_Close()">
                {{ "Common.Close" | translate }}
            </button>
            <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_EditUser.value.OperationType = 'new'"
                [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                <span *ngIf="!_HelperService.IsFormProcessing">
                    {{ "Common.Update" | translate }}
                </span>
                <span *ngIf="_HelperService.IsFormProcessing">
                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                    {{ "Common.PleaseWait" | translate }}...
                </span>
            </button>
        </div>

    </div>
</form>
<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>