<div class="card ">
  <div class="card-header">
    <div class="tx-14 tx-bold"> {{StoresList_Config.Title}} </div>

  </div>
  <div class="box-header px-3 pd-t-15 pd-b-7  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="StoresList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="StoresList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>

    </div>
    <!-- <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

    </div> -->
    <div class="d-flex ml-auto">
      <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
        class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
        class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>
    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="StoresList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="align-left"
            class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'desc'"
                (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'asc'"
                (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of StoresList_Config.Sort.SortOptions"
              (click)="StoresList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="StoresList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Active date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="StoresList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <!-- <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="StoresList_Config.StatusOptions" [value]="StoresList_Config.Status"
                  (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2> -->
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="StoresList_Config.StatusOptions"
                  (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Owner</label>
                <select2 [options]="StoresList_Filter_Owners_Option" class="wd-100p"
                  (valueChanged)="StoresList_Filter_Owners_Change($event)">
                </select2>
              </div>
            </div>
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>

          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor cursor-pointer RefreshColorOne"
        (click)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>

  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
      (click)="RemoveFilterComponent('Status')">
      {{_HelperService.FilterSnap.StatusName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
      (click)="RemoveFilterComponent('Sort')">
      <span>
        {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
      (click)="RemoveFilterComponent('Other',i)">
      {{TItem.data[0].DisplayName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <span class="badge badge-pill badge-primary" *ngFor="let TItem of StoresList_Config.Filters">{{TItem.Title}}</span>
  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th class="td-status" *ngIf="ColumnConfig[0].Value">
            <!-- <i class="{{ 'Common.StatusI' | translate }}"></i> -->
          </th>
          <th class="">
            Store Name
          </th>
          <th class="text-center" *ngIf="ColumnConfig[1].Value">
            City
          </th>
          <th class="" *ngIf="ColumnConfig[2].Value">
            Merchant
          </th>
          <th class="text-center" *ngIf="ColumnConfig[3].Value">
            R. %
          </th>
          <th class="text-center" *ngIf="ColumnConfig[4].Value">
            POS
          </th>
          <th class="text-center" *ngIf="ColumnConfig[5].Value">
            Active POS
          </th>
          <th class="text-center" *ngIf="ColumnConfig[6].Value">
            RM
          </th>
          <th class="td-date" *ngIf="ColumnConfig[7].Value">
            Active Date
          </th>

          <th class="d-flex">
            <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;"
              data-toggle="tooltip" title="Edit Your Column" (click)="EditColumnConfig()">
              <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i>
            </span>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="StoresList_RowSelected(TItem)" *ngFor="let TItem of StoresList_Config.Data
                                                | paginate: { id: 'StoresList_Paginator',itemsPerPage: StoresList_Config.PageRecordLimit, currentPage: StoresList_Config.ActivePage,
                                                totalItems: StoresList_Config.TotalRecords }">
          <td class="td-status text-center pl-0 ml-0" *ngIf="ColumnConfig[0].Value">
            <img src="{{TItem.IconUrl}}" class="avatar-sm rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
          </td>
          <td>
            <div class="">

              <div class="tx-14 tx-semibold"> {{TItem.DisplayName}}</div>
            </div>
            <div class="tx-12 text-muted">
              {{ TItem.Address | truncateText:40 }}
            </div>
          </td>

          <td *ngIf="ColumnConfig[1].Value">
            <div class="text-center">

              {{TItem.CityName || "--"}}
            </div>
          </td>

          <td *ngIf="ColumnConfig[2].Value">
            <div class="text-muted">

              {{TItem.MerchantDisplayName || "--"}}
            </div>
            <div class="text-muted tx-12">
              {{ TItem.MerchantEmailAddress || "--"}}
            </div>
          </td>

          <td *ngIf="ColumnConfig[3].Value">
            <div class="text-center">

              {{TItem.RewardPercentage || "--" }}
            </div>
          </td>

          <td *ngIf="ColumnConfig[4].Value">
            <div class="text-center">

              {{TItem.Terminals || "--"}}
            </div>
          </td>

          <td *ngIf="ColumnConfig[5].Value">
            <div class="text-primary text-center">

              {{TItem.ActiveTerminals || "--" }}
            </div>
          </td>

          <td *ngIf="ColumnConfig[6].Value">
            <div class="text-center">

              {{TItem.RmDisplayName || "--"}}
            </div>
          </td>

          <td *ngIf="ColumnConfig[7].Value">
            <div class="text-muted text-lowercase">
              {{TItem.CreateDateD }}
            </div>
            <div class="text-muted text-lowercase">
              {{TItem.CreateDateT }}
            </div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{StoresList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{StoresList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{StoresList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-40 " [(ngModel)]="StoresList_Config.PageRecordLimit"
        (ngModelChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="StoresList_Paginator" class="pagination pagination-space"
        (pageChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveColumnConfig()">Save</button>
      </div>
    </div>
  </div>
</div>