
<div class="card">
  <form [formGroup]="Form_EditUser" class="body-font" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)"
    role="form">
    <div class="card-header">
      <span class="tx-18 tx-roboto tx-bold"> Manage Account</span>
    </div>
    <div class="card-body">
      <div class="tx-color-03 tx-14 mg-b-15">
        <span class="">
          {{_BranchDetails.DisplayName}}, <br> <span> Branch Id :
            {{_BranchDetails.BranchCode}}
          </span>
        </span>
      </div>
      <div class="row">


        <div class="col-md-6">
          <div class="form-group">
            <label class="tx-roboto tx-12 text-dark">{{'System.Menu.BranchName' | translate }}<span
                class="text-danger">*</span> </label>
            <div class="controls">
              <input type="text" placeholder="Branch Short Name" name="DisplayName" maxlength="256" class="form-control"
                [(ngModel)]="_BranchDetails.DisplayName" [formControl]="Form_EditUser.controls['DisplayName']"
                [ngClass]="{'is-invalid':!Form_EditUser.controls['DisplayName'].valid && Form_EditUser.controls['DisplayName'].touched}">
            </div>
            <label class="text-danger" for="DisplayName"
              *ngIf="Form_EditUser.controls['DisplayName'].hasError('required') && Form_EditUser.controls['DisplayName'].touched">
              enter branch Name
            </label>
            <label class="text-danger" for="DisplayName"
              *ngIf="Form_EditUser.controls['DisplayName'].hasError('minlength') || Form_EditUser.controls['DisplayName'].hasError('maxlength')">
              branch Name must be between 2 to 25 characters
            </label>
          </div>
          <div class="form-group">
            <label class="tx-roboto tx-12 text-dark"> {{'System.Users.MobileNumber' | translate}}<span
                class="text-danger">*</span>
            </label>
            <div class="controls input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
              </div>
              <input type="text" placeholder="Mobile Number" name="MobileNumber" minlength="8" maxlength="14"
                class="form-control" (keypress)="_HelperService.PreventText($event)"
                [(ngModel)]="_BranchDetails.PhoneNumber" [formControl]="Form_EditUser.controls['PhoneNumber']"
                [ngClass]="{'is-invalid':!Form_EditUser.controls['PhoneNumber'].valid && Form_EditUser.controls['PhoneNumber'].touched}">
            </div>
            <label class="text-danger" for="PhoneNumber"
              *ngIf="Form_EditUser.controls['PhoneNumber'].hasError('required') && Form_EditUser.controls['PhoneNumber'].touched">
              enter contact Number
            </label>
            <label class="text-danger" for="PhoneNumber"
              *ngIf="Form_EditUser.controls['PhoneNumber'].hasError('minlength') || Form_EditUser.controls['PhoneNumber'].hasError('maxlength')">
              branch contact number must be between 8 - 14 number </label>
          </div>
          <div class="form-group">
            <label class="tx-roboto tx-12 text-dark">
              {{'System.Users.EmailAddress' | translate }}<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" placeholder="Email Id" name="EmailAddress" maxlength="256" class="form-control"
                [formControl]="Form_EditUser.controls['EmailAddress']" [(ngModel)]="_BranchDetails.EmailAddress"
                [ngClass]="{'is-invalid':!Form_EditUser.controls['EmailAddress'].valid && Form_EditUser.controls['EmailAddress'].touched}">
            </div>
            <label class="text-danger" for="EmailAddress"
              *ngIf="Form_EditUser.controls['EmailAddress'].hasError('required') && Form_EditUser.controls['EmailAddress'].touched">
              enter branch email address
            </label>

            <label class="text-danger" for="EmailAddress"
              *ngIf="Form_EditUser.controls['EmailAddress'].hasError('email') && Form_EditUser.controls['EmailAddress'].touched">
              {{'System.AddAcquirer.BranchEmail' | translate }} </label>

          </div>

          



          <div *ngIf="!isActive">
            <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
              <label class="tx-roboto tx-12 text-dark">Edit Manager<span class="text-danger">*</span>
              </label>
              <select2 name="S2GetManagers" class="full-width" [options]="GetMangers_Option"
                (valueChanged)="GetMangers_ListChange($event)"></select2>
            </div>
            


            
          </div>



        </div>


        <div class="col-md-6">
         
            <div class="row" *ngIf="_isAddressLoaded">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hcx-addressmanager [data]="_Address" [config]="_AddressConfig" (OnAddressSet)="AddressChange($event)">
                </hcx-addressmanager>
              

            </div>
          </div>

        </div>




      </div>
    </div>
    <div class="card-footer d-flex justify-content-between pd-l-35">
      <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="Form_EditUser_Block()">
        {{ "Common.Block" | translate }}
      </button> -->
      <button type="submit" class="btn btn-primary" (click)="Form_EditUser.value.OperationType = 'new'"
        [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing || !Form_EditUser.valid">
        <span *ngIf="!_HelperService.IsFormProcessing">
          {{ "Common.Save" | translate }}
        </span>
        <span *ngIf="_HelperService.IsFormProcessing">
          <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
          {{ "Common.PleaseWait" | translate }}...
        </span>
      </button>

       </div>
  </form>
</div>
