<div class="content content-fixed py-8 my-4   content-auth">
    <div class="container">
        <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
            <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60 mg-t-75">
                <div class="wd-100p">
                    <div class=""
                        *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com' && _HelperService.AppConfig.Host != 'sterling.thankucash.com'">
                        <a href="https://thankucash.com">
                            <img src="../../../assets/img/thankucashimg.svg" class="wd-200 mb-4">
                            <!-- <img src="../../../assets/img/logoinverse.png" class="wd-200 mb-4"> -->
                        </a>
                    </div>
                    <h3 class="tx-color-01 mg-b-5" style="position: relative; top: -0px;">Enter Login Code</h3>
                    <p class="tx-color-03 tx-16 mg-b-20">Enter 8 digit login code received on your
                        {{_Token.EmailAddress}} email address</p>
                    <form [formGroup]="_Form_Login" (ngSubmit)="_Form_Login_Process(_Form_Login.value)" role="form">
                        <div class="form-group"
                            [ngClass]="{'text-danger':!_Form_Login.controls['password'].valid && _Form_Login.controls['password'].touched}">
                            <div class="d-flex justify-content-between mg-b-5">
                                <label class="mg-b-0-f">Login code</label>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pd-r-15">
                                    <input *ngIf="ShowPassword" tabindex="2" type="password" name="password"
                                        maxlength="50" class="form-control"
                                        [formControl]="_Form_Login.controls['password']">
                                    <input *ngIf="!ShowPassword" tabindex="2" type="text" name="password" maxlength="50"
                                        class="form-control" [formControl]="_Form_Login.controls['password']">
                                </div>
                                <div class="px-0 input-group-append">
                                    <a *ngIf="ShowPassword"
                                        class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0"> <i
                                            class="fa fa-eye-slash fa-1x" aria-hidden="true"
                                            (click)="ToogleShowHidePassword()"></i></a>
                                    <a *ngIf="!ShowPassword"
                                        class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0"> <i
                                            class="fa fa-eye fa-1x" aria-hidden="true"
                                            (click)="ToogleShowHidePassword()"></i></a>
                                </div>
                            </div>
                        </div>
                        <div>
                        </div>
                        <button tabindex="3" type="submit" class="btn btn-brand-02 btn-block"
                            [disabled]="!_Form_Login.valid || _Form_Login_Processing">
                            <span *ngIf="!_Form_Login_Processing">
                                Continue
                            </span>
                            <span *ngIf="_Form_Login_Processing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                {{ 'Common.PleaseWait' | translate }}...
                            </span>
                        </button>
                        <div class="row">
                            <div class=" text-center col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5 text-muted">
                                © Copyright <a tabindex="5" target="_blank" class="text-primary"
                                    href="http://connectedanalytics.xyz">Connected
                                    Analytics Inc.</a> 2021 |
                                All Right
                                Reserved
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>