<!-- acquirer--stores--details -->
<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0" id="headingOne">

            <div class="row ">

                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl"><img (error)="_HelperService.defaultImage($event)"
                                src="{{'https://s3.eu-west-2.amazonaws.com/cdn.thankucash.com/' +  _StoreDetails.IconUrl }}" class="rounded-circle "
                                alt=""> </div>
                    </div><!-- media -->
                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media  Hm-textCenterMd">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-bold text-capitalize  mg-b-2">
                                {{_StoreDetails.DisplayName}}</h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline  mg-b-5">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal   lh-2 mg-b-0">
                                    <span class="mg-r-5 text-secondary"> <i style="height: 18px; width: 18px;;"
                                            data-feather="users"></i> </span>
                                    <span class="cursor-pointer">{{merchant_DisplayName}}</span>
                                </h2>
                            </div>
                            <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal  lh-2 mg-b-0 d-flex">
                                    <span class="text-secondary mg-r-5"> <i style="height: 18px; width: 18px;;"
                                            data-feather="map-pin"></i> </span> <span>{{_StoreDetails.Address}}</span>
                                </h2>
                            </div>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div>
                <div class="col-lg-6 Hm-media768 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class="tx-bold tx-40  tx-rubik tx-verve mg-b-5 mg-r-5 lh-1">
                                                {{_StoreDetails.RewardPercentage}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0 "> Rewards</p>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class="tx-bold tx-40 tx-rubik tx-teal mg-b-5 mg-r-5 lh-1 ">
                                                {{_StoreDetails.Terminals}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0"> POS Terminals</p>

                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <div class="manageButton mg-t-0 pd-t-0">
                                    <button type="button" (click)="ShowOffCanvas()"
                                        class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                        Account</button>
                                </div>

                                <div class="collapseButton">
                                    <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                        (click)="changeSlide() ; HideStoreDetail()" class="btn  btn-link"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                                [class.clicked]="slideOpen"></i>
                                        </div>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-0">
                <div class="row">

                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-11">
                        <div class="row">


                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <agm-map class="Hm-height ht-100p" [zoom]="14" [styles]="_HelperService.darkStyle"
                                    [latitude]="_StoreDetails.Latitude" [longitude]="_StoreDetails.Longitude">
                                    <agm-marker [latitude]="_StoreDetails.Latitude"
                                        [longitude]="_StoreDetails.Longitude"></agm-marker>
                                </agm-map>
                                <!-- <div class="Hm-height ht-100p" style="z-index: 3 !important;" leaflet
                                    [leafletOptions]="_HelperService.lefletoptions"
                                    [leafletLayers]="_HelperService.layers"
                                    (leafletMapReady)="_HelperService.onMapReady($event,false)">
                                </div> -->
                            </div>

                            <div class="col-sm-12 col-md-6  col-lg-6">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6  col-lg-6 Hm-media768">
                                        <label class="tx-14 tx-bold text-capitalize Hm-HeaderColor  mg-b-15">Contact
                                            Person</label>
                                        <ul class="list-unstyled profile-info-list">

                                            <li class="tx-color-03"><i data-feather="smartphone"></i> <a
                                                    *ngIf="_StoreDetails.ContactPerson">{{_StoreDetails.ContactNumber}}</a>
                                            </li>
                                            <li class="tx-color-03"><i data-feather="mail"></i> <a
                                                    *ngIf="_StoreDetails.ContactPerson">
                                                    {{_StoreDetails.EmailAddress}}</a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class=" col-sm-12 col-md-6  col-lg-6 Hm-media768">
                                        <label
                                            class="tx-14 tx-bold text-capitalize Hm-HeaderColor  mg-b-15">Relationship
                                            Manager</label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="tx-color-03"><i data-feather="user"></i> <span
                                                    *ngIf="_StoreDetails.Rm" class="tx-color-03">{{_StoreDetails.Rm.Name
                                                    || "--"}}</span></li>
                                            <li class="tx-color-03"><i data-feather="smartphone"></i> <a
                                                    *ngIf="_StoreDetails.Rm"
                                                    class="tx-color-03">{{_StoreDetails.Rm.MobileNumber || "--"}}</a>
                                            </li>
                                            <li class="tx-color-03"><i data-feather="mail"></i> <a
                                                    *ngIf="_StoreDetails.Rm">{{_StoreDetails.Rm.EmailAddress ||
                                                    "--"}}</a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="col-lg-12 Hm-media768">
                                        <div class="d-inline justify-content-between"
                                            *ngFor="let catagories of _StoreDetails['Categories']">
                                            <button type="button"
                                                class="btn btn-xs  tx-color-03 btn-transparent bd bd-primary rounded-pill mg-r-10">{{catagories.Name}}</button>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row Hm-media768 d-block d-sm-none">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row flex-nowrap">

                            <div class="col-sm-6 col-md-6 col-lg-6">

                                <div class=" text-center stores">
                                    <div class="text-center">
                                        <h3 class="tx-bold tx-40 tx-rubik  tx-verve mg-b-5 mg-r-5 lh-1">
                                            {{_StoreDetails.RewardPercentage}}</h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0 "> Rewards</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class=" text-center Terminals">
                                    <div class="text-center">
                                        <h3 class="tx-bold tx-40 tx-rubik  tx-teal mg-b-5 mg-r-5 lh-1 ">
                                            {{_StoreDetails.Terminals}}</h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0"> POS Terminals</p>

                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                        <div class="row">
                            <div class="manageButton mg-t-0 pd-t-0">
                                <button type="button" (click)="ShowOffCanvas()"
                                    class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                    Account</button>
                            </div>

                            <div class="collapseButton">
                                <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                    (click)="changeSlide() ; ShowStoreDetail()" class="btn  btn-link"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                            [class.clicked]="slideOpen"></i>
                                    </div>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>


</div>

<div class="card bd-b-0 pd-x-20 pd-b-20 pd-t-10 mt-3 RouteCard" style="border-bottom: 0px !important;">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist">
        <div class="d-flex flex-wrap">

            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.Store.Dashboard}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="profile-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.Store.SalesHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="profile" aria-selected="false">Transactions</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="contact-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.Store.Terminals}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="contact" aria-selected="false">Terminals</a>
            </li>

        </div>
        <!-- <li class="nav-item">
        <a class="nav-link" id="contact-tab5" data-toggle="tab" href="#contact5" role="tab" aria-controls="contact" aria-selected="false">Stores</a>
      </li>      <li class="nav-item">
        <a class="nav-link" id="contact-tab5" data-toggle="tab" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchant.SalesHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}" role="tab" aria-controls="contact" aria-selected="false">History</a>
      </li> -->
        <div class="row  d-flex no-gutters pd-r-10">
            <div class=" col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class=" order-1">
                    <input type="text" style="height: 30px;" class="form-control tx-13 form-daterangepicker"
                        name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
                        (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>


            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" style="height: 30px;" data-toggle="buttons"
                *ngIf="_HelperService.ShowDateRange">
                <label
                    class="btn btn-xs pb-0 mb-0 tx-13   d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label
                    class="btn btn-xs  pb-0 mb-0 tx-13 d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label
                    class="btn pb-0 mb-0 btn-xs tx-13  active  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div>

        </div>

    </ul>
</div>


<router-outlet></router-outlet>
<div class="off-canvas off-canvas-overlay off-canvas-right" #offCanvas style="width: 480px !important;">
    <div class="off-canvas-content">
        <!-- <div class="off-canvas-header text-danger text-right">
            <a (click)="unclick()"><i data-feather="x-circle" class="wd-25 ht-25"></i></a>
        </div> -->
        <div id="Form_EditUser_Content" class="off-canvas-body">
            <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
                <div class="card bd-b-0">
                    <div class="card-header bd-0">
                        <h3 class="tx-roboto tx-bold tx-lg-24 tx-sm-8 pd-l-0"> Manage Account </h3>
                        <ul class="nav nav-line" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Business" role="tab"
                                    aria-controls="home" aria-selected="true">Business Info</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Address" role="tab"
                                    aria-controls="contact" aria-selected="false">Address details</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body  p-lg pd-l-15">
                        <div class="tab-content pd-x-20 bd-t-20 " id="myTabContent">
                            <div class="tab-pane fade show active" id="Business" role="tabpanel"
                                aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Store Name<span class="text-danger">*</span></label>
                                            <div class="controls">

                                                <input type="text" placeholder="{{'System.Users.Name' | translate }}"
                                                    name="Name" maxlength="25" class="form-control"
                                                    [(ngModel)]="_StoreDetails.Name"
                                                    [formControl]="Form_EditUser.controls['Name']"
                                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['Name'].valid && Form_EditUser.controls['Name'].touched}">
                                            </div>
                                            <div class="text-xs text-muted _500"> </div>
                                            <label class="text-danger" for="Name"
                                                *ngIf="Form_EditUser.controls['Name'].hasError('required') && Form_EditUser.controls['Name'].touched">
                                                Enter store name
                                            </label>
                                            <label class="text-danger" for="Name"
                                                *ngIf="Form_EditUser.controls['Name'].hasError('minlength') || Form_EditUser.controls['Name'].hasError('maxlength')">Business
                                                store name must be between 2 - 25 characters</label>
                                        </div>
                                        <div class="form-group">
                                            <label>Store Nick Name<span class="text-danger">*</span> </label>
                                            <div class="controls">
                                                <input type="text" name="DisplayName" maxlength="256"
                                                    class="form-control"
                                                    [formControl]="Form_EditUser.controls['DisplayName']"
                                                    [(ngModel)]="_StoreDetails.DisplayName"
                                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['DisplayName'].valid && Form_EditUser.controls['DisplayName'].touched}">
                                            </div>
                                            <label class="text-danger" for="DisplayName"
                                                *ngIf="Form_EditUser.controls['DisplayName'].hasError('required') && Form_EditUser.controls['DisplayName'].touched">
                                                Enter store nick name
                                            </label>
                                            <label class="text-danger" for="DisplayName"
                                                *ngIf="Form_EditUser.controls['DisplayName'].hasError('minlength') || Form_EditUser.controls['DisplayName'].hasError('maxlength')">
                                                Enter store nick name must be between 4 - 256 characters</label>

                                        </div>

                                        <div class="form-group">
                                            <label>Phone Number<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span
                                                            class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                                    </div>
                                                    <input type="text" name="ContactNumber" minlength="8"
                                                        maxlength="14" class="form-control contact-textbox-height"
                                                        (keypress)="_HelperService.PreventText($event)"
                                                        [(ngModel)]="_StoreDetails.ContactNumber"
                                                        [formControl]="Form_EditUser.controls['ContactNumber']"
                                                        [ngClass]="{'is-invalid':!Form_EditUser.controls['ContactNumber'].valid && Form_EditUser.controls['ContactNumber'].touched}">
                                                </div>
                                            </div>
                                            <label class="text-danger" for="ContactNumber"
                                                *ngIf="Form_EditUser.controls['ContactNumber'].hasError('required') && Form_EditUser.controls['ContactNumber'].touched">
                                                Enter phone number</label>
                                            <label class="text-danger" for="ContactNumber"
                                                *ngIf="Form_EditUser.controls['ContactNumber'].hasError('minlength') || Form_EditUser.controls['ContactNumber'].hasError('maxlength')">
                                                Phone number must be between 8 to 14 numbers
                                            </label>

                                        </div>
                                        <div class="form-group">
                                            <label>Email ID<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="EmailAddress" maxlength="256"
                                                    class="form-control"
                                                    [formControl]="Form_EditUser.controls['EmailAddress']"
                                                    [(ngModel)]="_StoreDetails.EmailAddress"
                                                    [ngClass]="{'is-invalid':!Form_EditUser.controls['EmailAddress'].valid && Form_EditUser.controls['EmailAddress'].touched}">
                                            </div>
                                            <label class="text-danger" for="EmailAddress"
                                                *ngIf="Form_EditUser.controls['EmailAddress'].hasError('required') && Form_EditUser.controls['EmailAddress'].touched">
                                                Enter email address
                                            </label>

                                            <label class="text-danger" for="EmailAddress"
                                                *ngIf="Form_EditUser.controls['EmailAddress'].hasError('email') && Form_EditUser.controls['EmailAddress'].touched">
                                                Enter valid email address
                                            </label>

                                        </div>

                                        <div class="form-group">
                                            <label>{{ 'System.Menu.Branch' | translate }}<span
                                                    class="text-danger">*</span>
                                            </label>
                                            <select2 name="S2GetBranches" class="full-width"
                                                [options]="GetBranches_Option"
                                                (valueChanged)="GetBranches_ListChange($event)"></select2>
                                            <!-- <label class="text-danger" for="RoleKey"
                                                *ngIf="Form_AddUser.controls['RoleKey'].hasError('required') && Form_AddUser.controls['RoleKey'].touched">{{
                                                    'System.Users.EmailAddress_ER_Required' | translate }}</label> -->
                                        </div>
                                        <div class="form-group">
                                            <label>RM<span class="text-danger">*</span>
                                            </label>
                                            <select2 name="S2GetManagers" class="full-width"
                                                [options]="GetMangers_Option"
                                                (valueChanged)="GetMangers_ListChange($event)"></select2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Address" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="row">


                                    <div class="col-md-12">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row" *ngIf="_isAddressLoaded">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <hcx-addressmanager [data]="_Address" [config]="_AddressConfig"
                                                            (OnAddressSet)="AddressChange($event)">
                                                        </hcx-addressmanager>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between pd-l-35 full-width"
                        style="position: fixed; bottom:0%; margin-top: -2.5em ;">
                        <button type="button" *ngIf="_StoreDetails.StatusCode != 'default.blocked'"
                            class="btn btn-danger" data-dismiss="modal" (click)="BlockStore()">
                            {{ "Common.Block" | translate }}
                        </button>

                        <button type="button" *ngIf="_StoreDetails.StatusCode == 'default.blocked'"
                            class="btn btn-success" data-dismiss="modal" (click)="BlockStore()">
                            {{ "Common.UnBlock" | translate }}
                        </button>
                        <div>
                            <button type="button" class="btn btn-secondary mg-r-5" (click)="RemoveOffCanvas()"> Close
                            </button>
                            <button type="submit" class="btn btn-primary"
                                (click)="Form_EditUser.value.OperationType = 'new'"
                                [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                                <span [hidden]="_HelperService.IsFormProcessing">
                                    {{ "Common.Save" | translate }}
                                </span>
                                <span [hidden]="!_HelperService.IsFormProcessing">
                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                    {{ "Common.PleaseWait" | translate }}...
                                </span>
                            </button>
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade BlockPos" id="BlockPos" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="_StoreDetails.StatusCode != 'default.blocked'">Block Store?</h5>
                <h5 class="modal-title" *ngIf="_StoreDetails.StatusCode == 'default.blocked'">UnBlock Store?</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p *ngIf="_StoreDetails.StatusCode != 'default.blocked'" type="button">Do you really want to Block
                    <span>{{_StoreDetails.DisplayName}} ?</span>
                </p>
                <p *ngIf="_StoreDetails.StatusCode == 'default.blocked'" type="button"> Do you really want to Unblock
                    <span>{{_StoreDetails.DisplayName}} ?</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button *ngIf="_StoreDetails.StatusCode != 'default.blocked'" type="button" (click)="Block()"
                    class="btn btn-danger">Block</button>
                <button *ngIf="_StoreDetails.StatusCode == 'default.blocked'" type="button" (click)="UnBlock()"
                    class="btn btn-primary">Unblock</button>


            </div>
        </div>
    </div>
</div>