<!-- acquirer--stores--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="cursor-pointer text-primary"
            (click)="_Router.navigateByUrl('/console/terminals')">
            All Terminals
        </a></li>
    <!-- <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="cursor-pointer" (click)="_Router.navigateByUrl('/m/settings/stores')">Account
            Setting</a></li> -->
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">Terminal
            Details
        </a></li>
</ol>
<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0" id="headingOne">

            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">


                        <div class="avatar avatar-xl" [hidden]="!isLoaded"><img
                                [style.border-color]="_TerminalDetails.StatusC" style="border-radius: 5px;"
                                (error)="_HelperService.defaultImage($event)"
                                src="{{_TerminalDetails.ProviderIconUrl }}" class="bd bd-2" alt="">
                        </div>

                        <div class="placeholder-media wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 bd-b bd-2 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media  Hm-textCenterMd" [hidden]="!isLoaded">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-spacing--1 tx-medium text-capitalize  mg-b-2">
                                {{ _TerminalDetails.TerminalId || "--"}}

                                <span class="{{_TerminalDetails.StatusB}} mg-l-5">
                                    {{_TerminalDetails.StatusName || "--"}} </span>
                            </h6>
                            <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-dark tx-normal  lh-2 mg-b-0 d-flex">
                                    <span class="text-secondary mg-r-5"> <i style="height: 18px; width: 18px;;"
                                            data-feather="map-pin"></i> </span>
                                    <span>{{_TerminalDetails.StoreDisplayName || "--"}}</span>
                                </h2>
                            </div>
                        </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="placeholder-paragraph wd-100p wd-sm-55p wd-md-45p pd-b-10" [hidden]="isLoaded">
                        <div class="line"></div>
                    </div>

                </div>
                <div class="col-lg-6   bd-b bd-2 Hm-media768 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">

                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <div data-permission="terminalupdate" class="manageButton mg-t-0 pd-t-0 ">
                                    <button *ngIf="_TerminalDetails.StatusCode != 'default.blocked' " type="button"
                                        (click)="BlockPos()" class="btn btn-xs btn-outline-danger  rounded-pill">Block
                                        POS
                                    </button>

                                    <button data-permission="terminalupdate" type="button"
                                        *ngIf="_TerminalDetails.StatusCode == 'default.blocked' " (click)="BlockPos()"
                                        class="btn btn-xs btn-outline-dark  rounded-pill">Unblock
                                        POS

                                    </button>
                                </div>



                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse show pd-b-15" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-0 pb-0">
                <div class="row">



                    <div class="col-lg-1 text-center">
                        <div class="tx-12 tx-dark"> <span>{{_TerminalDetails.AcquirerDisplayName|| "--"}}</span></div>
                        <div class="tx-13 text-secondary">
                            <span>Bank</span>

                        </div>

                    </div>


                    <div class="col-lg-11">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-4 bd-r">
                                <div class="row">
                                    <div class="col-md-4 text-secondary">Serial No.</div>
                                    <div class="col-md-8 tx-primary">{{_TerminalDetails.SerialNumber|| "--"}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 text-secondary">Provider</div>
                                    <div class="col-md-8 tx-primary">{{_TerminalDetails.ProviderDisplayName || "--"}}
                                    </div>
                                </div>




                            </div>

                            <div class="col-sm-12 col-md-8 col-lg-8 Hm-media768">
                                <div class="row">
                                    <div class="col-md-4 text-secondary">Support Contact</div>
                                    <div class="col-md-8 tx-primary">
                                        {{_TerminalDetails.SupportContactContactNumber||"--"}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 text-secondary">Support Email</div>
                                    <div class="col-md-8 tx-primary">
                                        {{_TerminalDetails.SupportContactEmailAddress||"--"}}</div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>

<div class="card bd-b-0 pd-x-20 pd-b-20 pd-t-10 mt-3 RouteCard" style="border-bottom: 0px !important;">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab2" role="tablist">
        <div class="d-flex flex-wrap">


            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="profile-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Terminal.SalesHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{this._HelperService.AppConfig.ActiveReferenceId}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
                    role="tab" aria-controls="profile" aria-selected="false">Transactions</a>
            </li>


        </div>

        <div class="row  d-flex no-gutters pd-r-10">
            <div class=" col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class=" order-1">
                    <input type="text" style="height: 30px;" class="form-control tx-13 form-daterangepicker"
                        name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
                        (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>


            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" style="height: 30px;" data-toggle="buttons"
                *ngIf="_HelperService.ShowDateRange">
                <label
                    class="btn btn-xs pb-0 mb-0 tx-13   d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label
                    class="btn btn-xs  pb-0 mb-0 tx-13 d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label
                    class="btn pb-0 mb-0 btn-xs tx-13  active  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div>

        </div>

    </ul>
</div>

<router-outlet></router-outlet>

<div class="modal fade BlockPos" id="BlockPos" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="_TerminalDetails.StatusCode != 'default.blocked'">Block POS Terminal?
                </h5>
                <h5 class="modal-title" *ngIf="_TerminalDetails.StatusCode == 'default.blocked'">UnBlock POS Terminal?
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p *ngIf="_TerminalDetails.StatusCode != 'default.blocked'" type="button">Do you really want to Block
                    TID <span>{{_TerminalDetails.TerminalId}} </span> POS?</p>
                <p *ngIf="_TerminalDetails.StatusCode == 'default.blocked'" type="button"> Do you really want to Unblock
                    TID <span>{{_TerminalDetails.TerminalId}} </span> POS? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button *ngIf="_TerminalDetails.StatusCode != 'default.blocked'" type="button" (click)="Block()"
                    class="btn btn-danger">Block POS</button>
                <button *ngIf="_TerminalDetails.StatusCode == 'default.blocked'" type="button" (click)="UnBlock()"
                    class="btn btn-primary">Unblock POS</button>


            </div>
        </div>
    </div>
</div>