<ol class="breadcrumb df-breadcrumbs mg-b-20" *ngIf="!isMerchantGC">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
            Gift Card</a></li>
</ol>

<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <div class="d-flex justify-content-between ">
        <!-- <div class="form-group  mb-0 pb-0 wd-200">
            <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput"
                daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsForYear"
                (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
        </div> -->

        <div class="form-group  mb-0 pb-0 wd-200">
            <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput"
                daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsForYeargiftcard"
                (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
        </div>





    </div>
    <div class="d-flex justify-content-between mg-t-10  mg-md-t-0">
        <button class="btn btn-primary" (click)="Form_AddUser_Show()" *ngIf="isMerchantGC">
            GiftCard Giveaway </button>
        <!-- <button class="btn btn-primary" *ngIf="!isMerchantGC" (click)="giftCardRedirect()">
            <a  target="_blank" rel="noopener noreferrer"
                style="color: white; text-decoration: none; ">Give Gift Card </a>
        </button> -->

    </div>

</div>

<div class="row row-xs mg-b-10" *ngIf="!isMerchantGC">
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0 mg-b-10" *ngFor="let item of giftCardCounts; let i = index">
        <div class="card card-body shadow-none ht-100p">
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">
                {{item.title}}
            </h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1" *ngIf="item.type == 'amount'">
                    <span class="text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{item.value | number: "1.2-2" ||"--"}}
                </h3>
                <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1" *ngIf="item.type == 'number'">
                    {{item.value | number:'1.0-1' ||"--"}}
                </h3>
            </div>
            <p class="tx-12 text-secondary mg-b-0 text-capitalize">{{item.desc}}</p>
        </div>
    </div>
</div>

<div class="row row-xs mg-b-10" *ngIf="isMerchantGC">
    <div class="col-sm-6 col-lg-3 ">
        <div class="card card-body shadow-none ht-100p">

            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">Gift cards distribution amount
            </h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1"> <span class="text-sm mg-r-2"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Overview.TotalAmount |
                    number:
                    "1.2-2" ||"--"}}
                </h3>
                <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                    class="icon ion-md-arrow-down"></i></span></p> -->
            </div>
            <p class="tx-12 text-secondary mg-b-0 text-capitalize">Total Amount distributed by <b class="tx-dark">
                    {{_Overview.TotalGiftCardReceivers | number:'1.0-1' ||"--"}}
                    Gift Cards</b></p>

        </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
        <div class="card card-body shadow-none ht-100p">

            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">Gift cards redeemed amount </h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1"> <span class="text-sm mg-r-2"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Overview.RedeemAmount |
                    number:
                    "1.2-2" ||"--"}}
                </h3>
                <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                    class="icon ion-md-arrow-down"></i></span></p> -->
            </div>
            <p class="tx-12 text-secondary mg-b-0 text-capitalize">Total Amount redeemed by <b class="tx-dark">
                    {{_Overview.Used | number:'1.0-1' ||"--"}}
                    Gift Cards</b></p>


        </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
        <div class="card card-body shadow-none ht-100p">

            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">Customer earned gift card</h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1"> {{_Overview.TotalReceivers | number:'1.0-1' ||"--"}}
                </h3>
                <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                    class="icon ion-md-arrow-down"></i></span></p> -->
            </div>
            <p class="tx-12 text-secondary mg-b-0 text-capitalize">Total number of all customer earned gift card</p>


        </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
        <div class="card card-body shadow-none ht-100p">

            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">gift card wallet balance</h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
                    <span class="text-sm mg-r-2"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_Balance.Balance || '0' |
                    number:
                    "1.2-2" }}
                </h3>

            </div>
            <div>
                <span class="tx-12"> Tap here to <a class="text-primary cursor-pointer tx-medium"
                        (click)="OpenPaymentOptions()"> Credit Wallet </a></span>
            </div>

        </div>
    </div><!-- col -->

</div>
<div class="row row-xs mg-b-20" id="salesReward">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
                <div>
                    <h6 class="mg-b-5 ">Gift Cards Rewarded Report</h6>
                    <p class="tx-13 tx-color-03 mg-b-0">{{_RewardYearly.ActualStartDate | date :["yyyy"]}} Compared to
                        <span class="tx-12 text-primary  text-uppercase">
                            <a href="" class="tx-bold" id="YearSalesTrend_dropdown1" data-toggle="dropdown"
                                aria-haspopup="true" (click)="_HelperService.StopClickPropogation()"
                                aria-expanded="false">{{Rewardlastyeartext}}
                                <i style="height:18px!important; width: 18px !important;"
                                    data-feather="chevron-down"></i>
                            </a>
                            <div class="dropdown-menu tx-13">
                                <form class="wd-250  pd-15">

                                    <a class="pd-x-0 dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                                        (click)="CloseRowModal(4)">
                                        <span class="text-primary">Last Year</span>
                                    </a>
                                    <a (click)="ShowHideCalendar(_HelperService.AppConfig.DatePickerTypes.year)"
                                        class="pd-x-0 dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} ">
                                        <span class="text-primary">Choose any Year</span>
                                    </a>
                                    <div class="form-group">
                                        <div [hidden]="hideYearlyPicker" id="yearlydate1"></div>
                                    </div>
                                </form>
                            </div>
                        </span>
                    </p>
                </div>

                <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
                    <li class="list-inline-item d-flex align-items-center">
                        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
                        <span class="tx-sans  tx-uppercase tx-medium tx-color-03 tx-13">{{_RewardYearly.ActualStartDate
                            | date :["yyyy"]}}
                        </span>
                    </li>
                    <li class="list-inline-item d-flex align-items-center mg-l-5">
                        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
                        <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_RewardYearly.CompareStartDate
                            | date :["yyyy"]}}
                        </span>
                    </li>

                </ul>
            </div>
            <div class="card-body pd-lg-25">
                <div class="row ">
                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.YearlylineChartData[0].data.length != 0">
                        <canvas *ngIf="showYearlyChart" class="chart-six" baseChart #DataPlot="base-chart"
                            [datasets]="YearlylineChartData" [labels]="YearlylineChartLabels"
                            [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="lineChartColors"
                            [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                            [chartType]="_HelperService.ChartConfig.LineChart.Type">
                        </canvas>
                    </div>

                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.YearlylineChartData[0].data.length == 0">
                        <div style="height:200px" class="text-center m-auto  text-muted">
                            <div>
                                <div>
                                    <div
                                        class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                                        <img src="../../../../../assets/images/walk.svg" alt="">
                                    </div>
                                    <div class="pt-3">
                                        <span class="text-dark tx-bold tx-14 "> No Transactions in this time
                                            frame.</span><br>
                                        <span class="tx-muted  ">No transactions took place during the time frame you
                                            selected</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0">
                        <div class="row mg-b-10">

                            <div class="col-sm-6 col-lg-12">
                                <div class="media">
                                    <div
                                        class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{_RewardYearly.ActualStartDate | date :["yy"]}}</div>

                                    </div>
                                    <div class="media-body">
                                        <h6
                                            class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Gift cards Rewarded<span class="tx-dark  tx-uppercase">
                                                ({{_RewardYearly.ActualStartDate | date :["yyyy"]}} )
                                            </span></h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0 Word-break"><span
                                                class="text-sm"
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                            {{_RewardYearly.ActualSalesAmount | number: "1.2-2" ||"--"}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-30 mg-lg-t-65">
                                <div class="media">
                                    <div
                                        class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{_RewardYearly.CompareStartDate | date :["yy"]}}
                                        </div>

                                    </div>
                                    <div class="media-body">
                                        <h6
                                            class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Gift cards Rewarded<span class="tx-dark  tx-uppercase">
                                                ({{_RewardYearly.CompareStartDate | date :["yyyy"]}})
                                            </span></h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0 Word-break"><span
                                                class="text-sm"
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                            {{_RewardYearly.CompareSalesAmount| number: "1.2-2" ||"--" }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- row -->
                    </div>
                </div>
            </div><!-- card-body -->
        </div><!-- card -->
    </div>
</div>


<!-- </div> -->
<div id="Form_AddUser_ContentGC" class="modal fade" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Credit Reward Wallet</h5>
            </div>
            <div class="modal-body  p-lg">
                <div class="mb-3 b-b pb-3">


                    <div class="mb-2">
                        Enter Amount
                    </div>
                    <div class="input-group text-warn mb-3">
                        <span class="input-group-prepend ">
                            <span class="input-group-text text-warn"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> </span>
                        </span>
                        <input type="text" maxlength="7" class="form-control text-warn" placeholder="Amount to credit*"
                            (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_AccountBalanceCreditAmount">

                        <div class="text-secondary mg-t-5">This amount will be credited in your wallet, you can further
                            use it to
                            give rewards to your customers.</div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ "Common.Close" | translate }}
                </button>
                <button
                    *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1 || _AccountBalanceCreditAmount > 1000000)"
                    class="btn btn-primary " disabled>Confirm</button>

                <button
                    *ngIf="(_AccountBalanceCreditAmount != undefined && _AccountBalanceCreditAmount > 0 && _AccountBalanceCreditAmount < 1000001)"
                    class="btn btn-primary " (click)="CreditAmount()">Confirm</button>


            </div>
        </div>

    </div>
</div>

<div id="GiftAway" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title mg-l-15">Gift-Card Giveaway</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label>Customer's Phone Number<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <div class="input-group">
                                            <div class="input-group-prepend" style="height: 38px;">
                                                <span
                                                    class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                            </div>
                                            <input type="text" placeholder="Mobile Number" name="GiftMobileNumber"
                                                maxlength="14" class="form-control"
                                                (keypress)="_HelperService.PreventText($event)"
                                                [formControl]="Form_AddUser.controls['GiftMobileNumber']"
                                                [ngClass]="{ 'is-invalid':!Form_AddUser.controls['GiftMobileNumber'].valid  &&
                                                                    Form_AddUser.controls['GiftMobileNumber'].touched }" />

                                        </div>
                                    </div>
                                    <label class="text-danger" for="GiftMobileNumber" *ngIf="
                        Form_AddUser.controls['GiftMobileNumber'].hasError('required') &&
                      Form_AddUser.controls['GiftMobileNumber'].touched
                    ">{{
                                        "System.Users.MobileNumber_ER_Required" | translate
                                        }}</label>
                                    <label class="text-danger" for="GiftMobileNumber" *ngIf="
                        Form_AddUser.controls['GiftMobileNumber'].hasError(
                        'minlength'
                      ) ||
                      Form_AddUser.controls['GiftMobileNumber'].hasError('maxlength')
                    ">{{ "System.Users.MobileNumber_ER_Length" | translate }}</label>
                                </div>
                                <div class="form-group">
                                    <label>{{ "System.Users.Name" | translate
                                        }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" placeholder="Name" name="Name" maxlength="128"
                                            class="form-control" [formControl]="Form_AddUser.controls['Name']"
                                            [ngClass]="{
                            'is-invalid':
                              !Form_AddUser.controls['Name'].valid &&
                              Form_AddUser.controls['Name'].touched
                          }" />
                                    </div>
                                    <label class="text-danger" for="Name" *ngIf="
                      Form_AddUser.controls['Name'].hasError('required') &&
                          Form_AddUser.controls['Name'].touched
                        ">{{
                                        "System.Users.Name_ER_Required" | translate
                                        }}</label>
                                    <label class="text-danger" for="Name" *ngIf="
                      Form_AddUser.controls['Name'].hasError(
                            'minlength'
                          ) ||
                          Form_AddUser.controls['Name'].hasError('maxlength')
                        "> Name must be between 4 - 256 characters</label>
                                </div>
                                <div class="form-group">
                                    <label>Amount<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" placeholder="Amount" name="GiftAmount" maxlength="128"
                                            class="form-control" (keypress)="_HelperService.PreventText($event)"
                                            [formControl]="Form_AddUser.controls['GiftAmount']" [ngClass]="{
                    'is-invalid':
                      !Form_AddUser.controls['GiftAmount'].valid &&
                      Form_AddUser.controls['GiftAmount'].touched
                  }" />
                                    </div>
                                    <label class="text-danger" for="GiftAmount" *ngIf="
                    Form_AddUser.controls['GiftAmount'].hasError('required') &&
                  Form_AddUser.controls['GiftAmount'].touched
                ">Enter Amount</label>
                                    <label class="text-danger" for="GiftAmount" *ngIf="
                    Form_AddUser.controls['GiftAmount'].hasError(
                    'minlength'
                  ) ||
                  Form_AddUser.controls['GiftAmount'].hasError('maxlength')
                ">Enter Valid Amount</label>
                                </div>

                                <div class="form-group">

                                    <label class="tx-13 ">Write Message For Your Customer<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <!-- <input type="text" placeholder="Enter Comment" name="Comment" minlength="2" maxlength="256"
                            class="form-control" [formControl]="Form_AddUser.controls['Comment']"> -->
                                        <textarea name="Comment" minlength="2" maxlength="256"
                                            placeholder="You can write reasons to change reward percentage,It will help you to maintain history"
                                            class="form-control" rows="3"
                                            [formControl]="Form_AddUser.controls['Comment']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['Comment'].valid && Form_AddUser.controls['Comment'].touched}"></textarea>
                                    </div>

                                    <label class="text-danger" for="Comment"
                                        *ngIf="Form_AddUser.controls['Comment'].hasError('required') && Form_AddUser.controls['Comment'].touched">
                                        enter comment
                                    </label>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_AddUser.value.OperationType = 'new'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Update" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>