<div id="customer" class="pd-x-10 pd-t-10">

    <div class="row row-xs mg-b-10">
        <div class="col-sm-6 col-lg-6 col-md-4 mg-b-10" *ngFor="let rewards of rewardsEarned">
            <div class="card card-body shadow-none ht-100p">
                <h6 class="tx-uppercase tx-11 tx-spacing-1 text-secondary tx-semibold mg-b-8">Total Rewards Earned</h6>
                <div class="d-flex d-lg-block d-xl-flex align-items-end">
                    <h4 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
                        <span> {{rewards.rewards || "--"}}
                        </span>
                    </h4>
                </div>
                <p class="tx-12 text-secondary mg-b-0"> Rewards earned in {{rewards.Transactions || "--"}} Transation
                </p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 mg-b-10">
            <div class="card bd-b-0 ">
                <div class="card-header bd-0">
                    
                    <ul class="nav nav-line" id="myTab" role="tablist">
                       
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#Reward" role="tab"
                                aria-controls="contact" aria-selected="true">Rewards Trend</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#Redeem" role="tab"
                                aria-controls="contact" aria-selected="false">Reddems Trend</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab3" data-toggle="tab" href="#TUC_Clametrend" role="tab"
                                aria-controls="contact" aria-selected="false">TUC Claim Trend</a>
                        </li>
                        
                       
                    </ul>
                </div>
                <div class="card-body  p-lg pd-l-15">
                    <div class="tab-content pd-x-20 bd-t-20 " id="myTabContent">
                        
                        <div class="tab-pane fade show active" id="Reward" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <canvas id="canvas"></canvas>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Redeem" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <h5>Redeem</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="TUC_Clametrend" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                           <h5>TUC_Clametrend</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <!-- <div class="row row-xs mg-b-10">
        <div class="col-sm-12 col-lg-12 col-md-12 mg-b-10">
            <div class="card-body">
                <h5>Rewards Trend</h5>
            </div>

            <div class="card card-body shadow-none ht-100p">
                <canvas baseChart #DataPlot="base-chart" [datasets]="CustomerReward"
                    [colors]="_HelperService._UserOverviewPlot.RewardColors" [labels]="customerRewardLable"
                    [options]="_HelperService.ChartConfig.BarChart.Options"
                    [plugins]="_HelperService.ChartConfig.BarChart.Options.plugins"
                    [chartType]="_HelperService.ChartConfig.BarChart.Type">
                </canvas>
                <canvas id="canvas"></canvas>
            </div>
        </div>
    </div> -->

</div>