<div class="card-body">

  <div class="mb-3 bg-ui-01 p-3">
    <div class="tx-dark _500">BNPL</div>
    <div class="text-secondary">
      Enable or disable BNPL
    </div>
    <!-- <div class=" text-warning mb-2 text-xs">Default options is disabled </div> --> <!-- as discuss with omkar hide this sentence -->
    <div class="col-md-10 col-sm-10 col-xs-12 p-0">
      <div class="form-group">
        <div class="radio float-left mr-3">
          <label class="ui-check"><input type="radio" name="thankucashbnpl" value="1" [value]="'1'"
              [(ngModel)]="_Configurations.BNPL_Config">
            <i class="dark-white"></i> Enable</label>
        </div>
        <div class="radio  float-left mr-3"><label class="ui-check"><input type="radio" name="thankucashbnpl" value="0"
              [value]="'0'" [(ngModel)]="_Configurations.BNPL_Config">
            <i class="dark-white"></i> Disable</label></div>
      </div>
      <button class="btn btn-white text-warn" type="button" style="margin-top: -7px;"
        (click)="BNPLEnable_Disable()">Update</button>
    </div>
  </div>

  <div class="mb-3 bg-ui-01 p-3" *ngIf="isShow">
    <div class="tx-dark _500">BNPL Settlement Criteria</div>

    <!--Set Settlement Schedule-->
    <div class="text-secondary">
      Setup Settlement criteria for merchant
    </div>
    <div class=" text-warning mb-2 text-xs">Default options is '0' days after loan's get redeem
    </div>
    <!-- <div class="" style="width: 14%;">
    <input type="number" min="0" max="31" class="form-control " [(ngModel)]="DaysCount" (keyup)="checkcount()"
      name="count" />
    <label class="text-danger" for="ContactNumber" *ngIf="DayCount">
      Maximum 7 Days only</label>
    <span class="input-group-prepend ">
      <span class="input-group-text text-warn" style="margin-left: 90px; margin-top: -38px;">
        Days</span>
    </span>
  </div> -->
    <!-- <button class="btn btn-white text-warn" type="button" style="margin-top: -60px; margin-left: 148px;"
    (click)="Update_Merchant_Config()">Update</button> -->

    <div class="col-md-4 col-sm-6 col-xs-12 p-0 mg-b-25">
      <div class="input-group text-warn">
        <span class="input-group-prepend ">
          <span class="input-group-text text-warn">Days</span>
        </span>
        <input type="number" min="0" max="31" class="form-control " [(ngModel)]="DaysCount" (keyup)="checkcount()"
          name="count" />
        <span class="input-group-append">
          <button class="btn btn-white text-warn" type="button" (click)="Update_Merchant_Config()">Update</button>
        </span>
      </div>
      <label class="text-danger" for="ContactNumber" *ngIf="DayCount">
        Maximum 7 Days only</label>
    </div>
    <!--End-->

    <!--Settelement transfer criteria-->
    <div class="mb-3 bg-ui-01 py-3">
      <div class="tx-dark _500">Settlement Transfer Criteria</div>
      <div class="text-secondary">Setup transfer criteria for merchant
      </div>
      <div class=" text-warning mb-2 text-xs">Default option is BNPL wallet
      </div>
      <div class="col-md-10 col-sm-10 col-xs-12 p-0">
        <div class="form-group">
          <div class="radio float-left mr-3">
            <label class="ui-check"><input type="radio" name="thankucashbnplsettelement" value="transaction.source.bnpl"
                [value]="'transaction.source.bnpl'" [(ngModel)]="_Configurations.BNPLSettelementTransferCriteria">
              <i class="dark-white"></i> BNPL Wallet</label>
          </div>
          <div class="radio  float-left mr-3">
            <label class="ui-check"><input type="radio" name="thankucashbnplsettelement" value="transaction.source.bank"
                [value]="'transaction.source.bank'" [(ngModel)]="_Configurations.BNPLSettelementTransferCriteria"
                disabled>
              <i class="dark-white"></i> Bank (coming soon)</label>
          </div>
        </div>
        <button class="btn btn-white text-warn" type="button" style="margin-top: -7px;"
          (click)="Set_Transfer_Criteria()">Update</button>
      </div>
    </div>
    <!--End-->


    <div class="mb-3 bg-ui-01 py-3">
      <div class="tx-dark _500" style="margin-top: -24px;">Stop/Resume Settlement
      </div>
      <div class="text-warning">If any merchant has suspicious activity then you can cancel all the settlement’s of that
        merchant.
      </div>
      <div class=" text-warning mb-2 text-xs">If any settlement get's failed or cancelled because of any reason then you
        can resume it.
      </div>
      <div class="col-md-10 col-sm-10 col-xs-12 p-0">
        <div class="form-group">
          <div class="radio float-left mr-3">
            <label class="ui-check"><input type="radio" name="stopResumeSettlement" value="1" [value]="1"
                [(ngModel)]="_Configurations.IsMerchantSettelment">
              <i class="dark-white"></i> Resume Settlement</label>
          </div>
          <div class="radio  float-left mr-3">
            <label class="ui-check"><input type="radio" name="stopResumeSettlement" value="0" [value]="0"
                [(ngModel)]="_Configurations.IsMerchantSettelment">
              <i class="dark-white"></i> Stop Settlement</label>
          </div>
        </div>
        <button class="btn btn-white text-warn" type="button" style="margin-top: -7px;"
          (click)="updateSettlement()">Update</button>
      </div>
    </div>

  </div>

</div>