<div class="row">




    <!-- <div class="col-md-6 mg-t-15">
        <div class="card pd-20 ht-100p">
            <p class="tx-12 pb-0 mg-b-10 text-secondary"> CONFIGURATIONS & FEATURES </p>

            <div class="pd-b-10 bd-b">
                <div class="text-primary cursor-pointer"><a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.Configurations}}">
                        Configurations </a><span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">Systems level configurations for app and all panel
                </div>
            </div>


            <div class="pd-t-10">
                <div class="text-primary cursor-pointer"> <a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.Features}}">
                        Admin Features </a><span class="tx-12"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">Manage admin panel features assigned to system roles
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-md-6 mg-t-15">
        <div class="card pd-20 ht-100p">
            <p class="tx-12 pb-0 mg-b-10 text-secondary"> API MANAGEMENT </p>

            <div class="pd-b-10 bd-b">
                <div class="text-primary cursor-pointer"> <a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.RequestHistory}}">
                        API Request History </a> <span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">Server incoming request received from pos terminals and other sources
                </div>
            </div>


            <div class="pd-t-10">
                <div class="text-primary cursor-pointer"><a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.Apps}}">Apps
                        & Keys </a> <span class="tx-12"> <i style="height:16px!important; width: 16px !important;"
                            data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">Manage user and system apps and keys for server requests
                </div>
            </div>
        </div>
    </div> -->



    <div class="col-md-6 mg-t-15">
        <div class="card pd-20 ht-100p">
            <p class="tx-12 pb-0 mg-b-10 text-secondary"> USER ADMINISTRATIONS </p>

            <div class="bd-b pd-b-10 pnvalid" data-permission="customermobileverificationrequetview">
                <div class="text-primary cursor-pointer"> <a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.VerificationRequest}}">
                        User Mobile verification requests </a><span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">Mobile number verification requests received from apps or web panels
                </div>
            </div>

            <div class="pd-t-10">
                <div class="text-primary cursor-pointer pnvalid" data-permission="customerloginsessionview"> <a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.UserSession}}">
                        User Sessions </a> <span class="tx-14">
                        <i style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">User Login sessions in system or App
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 mg-t-15">
        <div class="card pd-20 ht-100p pnvalid" data-permission="customerappsliderview">
            <p class="tx-12 pb-0 mg-b-10 text-secondary tx-uppercase">Mobile app management </p>

            <div class=" pd-b-10">
                <div class="text-primary cursor-pointer"> <a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.AppSlider}}">
                        App slider </a>
                    <span class="tx-14">
                        <i style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">Thank U Cash mobile Android / iOS app home screen slider images
                </div>
                <hr>
            </div>

            <!-- <div class="pd-t-10">
                <div class="text-primary cursor-pointer">Donation manager <span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">Donate families
                </div>
            </div> -->


        </div>
    </div>

    <div class="col-md-6 mg-t-15">
        <div class="card pd-20 ht-100p">
            <p class="tx-12 pb-0 mg-b-10 text-secondary tx-uppercase"> Other Management </p>

            <div class="pd-t-10 pd-b-10 bd-b pnvalid" data-permission="businesscategoryview">
                <div class="text-primary cursor-pointer"><a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.RootCategories}}">
                        Root Categories </a><span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">Base categories and images
                </div>
            </div>

            <div class="pd-t-10 pd-b-10 bd-b pnvalid" data-permission="businesscategoryview">
                <div class="text-primary cursor-pointer"><a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.MerchantCategories}}">
                        Business Categories </a><span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">Merchant and stores categories and images
                </div>
            </div>

            <div class="pd-t-10 bd-b pd-b-10 pnvalid" data-permission="businesscategoryview">
                <div class="text-primary cursor-pointer"><a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.Detailscity}}">
                        Location Manager </a><span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">Manage Location
                </div>
            </div>

            <!-- <div class="pd-t-10 bd-b pd-b-10" data-permission="locationmanagerview">
                <div class="text-primary cursor-pointer"><a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.Detailscity}}">
                        Location Manager </a><span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">Manage Location
                </div>
            </div> -->
            <div class="pd-t-10 " data-permission="faqcategoryview">
                <div class="text-primary cursor-pointer"> <a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.FAQCategories}}">
                        FAQs </a><span class="tx-12">
                        <i style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">Manage FAQs of all panels
                </div>
            </div>
            
        </div>
    </div>

    <div class="col-md-6 mg-t-15">
        <div class="card pd-20 ht-100p">
            <p class="tx-12 pb-0 mg-b-10 text-secondary tx-uppercase">LOGO Management </p>

            <div class=" pd-b-10">
                <div class="text-primary cursor-pointer"> <a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.Logo}}">
                        Company Logo </a>
                    <span class="tx-14">
                        <i style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">Upload Logo from here
                </div>
                <hr>
            </div>


        </div>


    <!-- <div class="col-md-6 mg-t-15">
        <div class="card pd-20 ht-100p">
            <p class="tx-12 pb-0 mg-b-10 text-secondary tx-uppercase">Image Gallery </p>

            <div class=" pd-b-10">
                <div class="text-primary cursor-pointer"> <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.ImageGallery}}">  Upload  Image </a><span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">Thank U Cash Image Gallery
                </div>
            </div>

          
        </div>
    </div> -->
    <!-- <div class="col-md-6 mg-t-15">
        <div class="card pd-20 ht-100p">
            <p class="tx-12 pb-0 mg-b-10 text-secondary"> SYSTEM RESPONSES AND LOGS </p>

            <div class="pd-b-10 bd-b">
                <div class="text-primary cursor-pointer"> <a href=""
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.ResponseCode}}">
                        System Response Messages</a> <span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">Response messages sent to end users in all panels
                </div>
            </div>


            <div class="pd-t-10 pd-b-10  bd-b">
                <div class="text-primary cursor-pointer"> <a class="cursor-pointer"
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.SystemLog}}">
                        System Log </a> <span class="tx-12"> <i style="height:16px!important; width: 16px !important;"
                            data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">Server and app exceptions and manual notification logging requests
                    history
                </div>
            </div>


            <div class="pd-t-10">
                <div class="text-primary cursor-pointer">System Update History <span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">All changes uploaded to systems or app
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-md-6 mg-t-15">
        <div class="card pd-20 ht-100p">
            <p class="tx-12 pb-0 mg-b-10 text-secondary"> USER ADMINISTRATIONS </p>

            <div class="">
                <div class="text-primary cursor-pointer">User Mobile verification requests <span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span></div>
                <div class="tx-12 text-secondary">
                </div>
            </div>


        </div>
    </div> -->
</div>