<div class="row row-xs mg-b-20">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
        <div>
          <h6 class="mg-b-5 "> Transactions Report</h6>

          <!-- TODO Insert Actual Date Picker -->
        </div>

        <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
          <li class="list-inline-item d-flex align-items-center">
            <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
            <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
              {{_Sale.ActualStartDate | date :["dd LLL yyyy"]}} - {{_Sale.ActualEndDate | date :["dd LLL yyyy"]}}</span>
          </li>
          <li class="list-inline-item d-flex align-items-center mg-l-5">
            <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
            <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Sale.CompareStartDate | date :["dd
              LLL yyyy"]}} - {{_Sale.CompareEndDate | date :["dd
              LLL yyyy"]}}</span>
          </li>

        </ul>
      </div><!-- card-header -->
      <div class="card-body pd-lg-25">

        <div class="row ht-200" *ngIf="LoadingChart">
          <div style="
            display: block;
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  right: 50%; /* or: left: 50%; */
 " class="text-center m-auto text-muted" style="top: 50% !important; left: 50% !important;">
            <div class="spinner-border"></div>
          </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center" *ngIf="!LoadingChart">


          <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.SalelineChartData[0].data.length != 0">
            <canvas *ngIf="showSaleChart" baseChart #DataPlot="base-chart" [datasets]="SalelineChartData"
              [labels]="SalelineChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options"
              [colors]="SalelineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>
          </div>

          <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.SalelineChartData[0].data.length == 0">
            <div style="height:200px" class="text-center m-auto  text-muted">
              <div>
                <div>
                  <div
                    class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                    <img src="../../../../../assets/images/walk.svg" alt="">
                  </div>
                  <div class="pt-3">
                    <span class="text-dark tx-bold tx-14 "> No transaction took in this timeframe </span><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0">
            <div class="row mg-b-10">
              <div class="col-sm-6 col-lg-12">
                <div class="media">
                  <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 {{((_Sale.ActualSalesTotal  - _Sale.CompareSalesTotal)<0)?'bg-danger':'bg-success'}} tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    {{computeTPerc(_Sale)}}
                  </div>
                  <div class="media-body">
                    <h6
                      class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                      Total Difference <span *ngIf="computeTFlag(_Sale)==-1"> <i
                          class="fas fa-arrow-circle-down tx-16 tx-danger mg-l-5"></i></span>

                      <span *ngIf="computeTFlag(_Sale)==1"> <i
                          class="fas fa-arrow-circle-up tx-16 tx-success mg-l-5"></i></span>
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0">
                      <!-- <span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> -->
                      {{_HelperService.getAbsolute(_Sale.ActualSalesTotal - _Sale.CompareSalesTotal) | number: "1.0-0"
                      ||"--"}}
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-0 mg-lg-t-65">
                <div class="media">
                  <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    <div class="text-center"> {{_Sale.ActualStartDate | date :["dd"]}} <div>
                        {{_Sale.ActualStartDate | date :["LLL"]}}</div>
                    </div>


                  </div>
                  <div class="media-body">
                    <h6
                      class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                      Transactions <span class="tx-dark  tx-uppercase"> ({{_Sale.ActualStartDate | date :["dd LLL"]}})
                      </span> </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0">
                      <!-- <span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> -->
                      {{_Sale.ActualSalesTotal | number: "1.0-0" ||"--"}}
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-30 mg-lg-t-65">
                <div class="media">
                  <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    <div class="text-center"> {{_Sale.CompareStartDate | date :["dd"]}} <div>
                        {{_Sale.CompareStartDate | date :["LLL"]}}</div>
                    </div>

                  </div>
                  <div class="media-body">
                    <h6
                      class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                      Transactions <span class="tx-dark  tx-uppercase"> ({{_Sale.CompareStartDate | date :["dd LLL"]}})
                      </span> </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0">
                      <!-- <span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> -->
                      {{_Sale.CompareSalesTotal | number: "1.0-0" ||"--"}}
                    </h4>
                  </div>
                </div>
              </div>

            </div><!-- row -->

          </div>
        </div>
      </div><!-- card-body -->
    </div><!-- card -->
  </div>
</div>

<!-- </div> -->