
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="media d-block d-lg-flex ">
        <div class="row">
            <div class="col-md-3 pnvalid" data-permission="viewpssp">
                <div class="card pd-25 ht-100p">
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-lg">
                            <div class="avatar avatar-xxl"><img src="{{_UserAccount.IconUrl}}" class="rounded-10"
                                    alt=""></div>
                        </div><!-- col -->
                        <div class="col-sm-8 col-md-7 col-lg mg-t-20 mg-sm-t-0 mg-lg-t-25">
                            <h5 class="mg-b-2 tx-spacing--1">{{_UserAccount.DisplayName || '--'}}</h5>
                            <p class="tx-color-03 mg-b-0">{{_UserAccount.EmailAddress || '--'}}</p>
                            <span class="text-lowercase mg-b-20" [ngClass]="_UserAccount.StatusB">{{
                                _UserAccount.StatusName || "--" }}</span>
                            <div class="d-flex mg-b-25">
                                <button class="btn btn-outline-danger tx-12 mg-r-10"
                                    *ngIf="_UserAccount.StatusName != 'Blocked'" (click)="BlockAccount()"> Block
                                </button>
                                <button class="btn btn-outline-success tx-12 mg-r-10"
                                    *ngIf="_UserAccount.StatusName == 'Blocked'" (click)="UnblockBlockAccount()">
                                    Unblock </button>
                                <!-- <button class="btn btn-xs btn-outline-warning flex-fill mg-l-10">Suspend</button> -->
                            </div>



                            <!-- <div class="d-flex">
                                <div class="profile-skillset flex-fill">
                                    <h4><a class="link-01">{{_Overview.TotalMerchants}}</a></h4>
                                    <label>Merchants</label>
                                </div>
                              
                            </div> -->
                              <!-- <div class="profile-skillset flex-fill">
                                    <h4><a   class="link-01">2.8k</a></h4>
                                    <label>Rewards</label>
                                </div>
                                <div class="profile-skillset flex-fill">
                                    <h4><a   class="link-01">437</a></h4>
                                    <label>POS</label>
                                </div> -->
                        </div><!-- col -->

                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-30">
                            <label
                                class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Contact
                                Person</label>
                            <ul class="list-unstyled profile-info-list">

                                <li> <i data-feather="user"></i> <a>{{_ContactPerson.FirstName || "--"}}
                                        {{_ContactPerson.LastName || "--"}}</a></li>
                                <li> <i data-feather="phone"></i> <a>{{_ContactPerson.MobileNumber || "--"}}</a>
                                </li>


                            </ul>
                        </div><!-- col -->

                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-30">
                            <label
                                class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">UserName
                            </label>
                            <ul class="list-unstyled profile-info-list">
                                <li> <i data-feather="user"></i> <a>{{_UserAccount.UserName || '--'}}</a></li>

                            </ul>
                        </div><!-- col -->
                        <div class="col-sm--12 col-md--12 col-lg-12 mg-t-30">
                            <label
                                class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Referral
                                Code
                            </label>
                            <ul class="list-unstyled profile-info-list">
                                <li class="Word-break"> <i data-feather="user"></i> <a>{{_UserAccount.ReferralCode ||
                                        '--'}}</a></li>

                            </ul>
                        </div><!-- col -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-30">
                            <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Added
                                On
                            </label>
                            <ul class="list-unstyled profile-info-list">
                                <li>
                                    <i data-feather="calendar"></i>
                                    <!-- <a>{{_UserAccount.CreateDateS || '--'}}</a> -->
                                    <a class="text-lowercase">
                                        {{_UserAccount.CreateDateS || "--" }}</a>
                                </li>
                                <li> <i data-feather="user"></i> <a>{{_UserAccount.CreatedByDisplayName || '--'}}</a>
                                </li>

                            </ul>
                        </div><!-- col -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-30">
                            <label
                                class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Updated
                                On
                            </label>
                            <ul class="list-unstyled profile-info-list">
                                <li>
                                    <i data-feather="calendar"></i>
                                    <!-- <a>{{_UserAccount.ModifyDateS || '--'}}</a> -->
                                    <a class="text-lowercase">
                                        {{_UserAccount.ModifyDateS || "--" }}</a>
                                </li>
                                <li> <i data-feather="user"></i> <a>{{_UserAccount.ModifyByDisplayName || '--'}}</a>
                                </li>

                            </ul>
                        </div><!-- col -->
                    </div><!-- row -->

                </div><!-- profile-sidebar -->
            </div>
            <div class="col-md-9 pnvalid" data-permission="psspupdate">
                <div class="card bd-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd-l-5">

                            <form [formGroup]="Form_UpdateUser"
                                (ngSubmit)="Form_UpdateUser_Process(Form_UpdateUser.value)" role="form">
                                <div class="card">
                                    <div class="card-header b-b b-2x">
                                        <h3 class="text-warn tx-14 pb-0 mb-0">Online Payment Provider (PSSP) Information
                                        </h3><small class="text-gray">PSSP
                                            information for
                                            account setup </small>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'System.AddAcquirer.DisplayName' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="DisplayName" maxlength="25"
                                                            class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['DisplayName']"
                                                            [(ngModel)]="_UserAccount.DisplayName"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['DisplayName'].valid && Form_UpdateUser.controls['DisplayName'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="DisplayName"
                                                        *ngIf="Form_UpdateUser.controls['DisplayName'].hasError('required') && Form_UpdateUser.controls['DisplayName'].touched">{{
                                                        'System.AddAcquirer.DisplayName_ER_Required' | translate
                                                        }}</label>
                                                    <label class="text-danger" for="DisplayName"
                                                        *ngIf="Form_UpdateUser.controls['DisplayName'].hasError('minlength') || Form_UpdateUser.controls['DisplayName'].hasError('maxlength')">{{
                                                        'System.AddAcquirer.DisplayName_ER_Length' | translate
                                                        }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'System.AddAcquirer.Name' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="Name" maxlength="256"
                                                            class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['Name']"
                                                            [(ngModel)]="_UserAccount.Name"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Name'].valid && Form_UpdateUser.controls['Name'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="Name"
                                                        *ngIf="Form_UpdateUser.controls['Name'].hasError('required') && Form_UpdateUser.controls['Name'].touched">{{
                                                        'System.AddAcquirer.Name_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="DisplayName"
                                                        *ngIf="Form_UpdateUser.controls['Name'].hasError('minlength') || Form_UpdateUser.controls['Name'].hasError('maxlength')">{{
                                                        'System.AddAcquirer.Name_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'System.AddAcquirer.ContactNumber' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls input-group">
                                                        <div class="input-group-prepend">
                                                            <span
                                                                class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                                        </div>
                                                        <input type="text" name="ContactNumber" minlength="8"
                                                            maxlength="14" class="form-control"
                                                            (keypress)="_HelperService.PreventText($event)"
                                                            [formControl]="Form_UpdateUser.controls['ContactNumber']"
                                                            [(ngModel)]="_UserAccount.ContactNumber"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['ContactNumber'].valid && Form_UpdateUser.controls['ContactNumber'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="ContactNumber"
                                                        *ngIf="Form_UpdateUser.controls['ContactNumber'].hasError('required') && Form_UpdateUser.controls['ContactNumber'].touched">{{
                                                        'System.AddAcquirer.ContactNumber_ER_Required' | translate
                                                        }}</label>
                                                    <label class="text-danger" for="ContactNumber"
                                                        *ngIf="Form_UpdateUser.controls['ContactNumber'].hasError('minlength') || Form_UpdateUser.controls['ContactNumber'].hasError('maxlength')">{{
                                                        'System.AddAcquirer.ContactNumber_ER_Length' | translate
                                                        }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'System.AddAcquirer.EmailAddress' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="EmailAddress" maxlength="256"
                                                            class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['EmailAddress']"
                                                            [(ngModel)]="_UserAccount.EmailAddress"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['EmailAddress'].valid && Form_UpdateUser.controls['EmailAddress'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="EmailAddress"
                                                        *ngIf="Form_UpdateUser.controls['EmailAddress'].hasError('required') && Form_UpdateUser.controls['EmailAddress'].touched">{{
                                                        'System.AddAcquirer.EmailAddress_ER_Required' | translate
                                                        }}</label>

                                                    <label class="text-danger" for="EmailAddress"
                                                        *ngIf="Form_UpdateUser.controls['EmailAddress'].hasError('email') && Form_UpdateUser.controls['EmailAddress'].touched">{{
                                                        'System.AddAcquirer.EmailAddress_ER_Invalid' | translate
                                                        }}</label>
                                                </div>
                                            </div>
                                        </div>
                                      

                                        <div class="form-group">
                                            <label>{{ 'System.AddAcquirer.WebsiteUrl' | translate }}
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="WebsiteUrl" maxlength="1024"
                                                    class="form-control"
                                                    [formControl]="Form_UpdateUser.controls['WebsiteUrl']"
                                                    [(ngModel)]="_UserAccount.WebsiteUrl"
                                                    [ngClass]="{'is-invalid':!Form_UpdateUser.controls['WebsiteUrl'].valid && Form_UpdateUser.controls['WebsiteUrl'].touched}">
                                            </div>
                                            <label class="text-danger" for="WebsiteUrl"
                                                *ngIf="Form_UpdateUser.controls['WebsiteUrl'].hasError('required') && Form_UpdateUser.controls['WebsiteUrl'].touched">{{
                                                'System.AddAcquirer.WebsiteUrl_ER_Required' | translate }}</label>
                                            <label class="text-danger" for="WebsiteUrl"
                                                *ngIf="Form_UpdateUser.controls['WebsiteUrl'].hasError('pattern') && Form_UpdateUser.controls['WebsiteUrl'].touched">{{
                                                'System.AddAcquirer.WebsiteUrl_ER_Invalid' | translate }}</label>
                                        </div>
                                        <div class="form-group">
                                            <label>{{'System.AddAcquirer.Description' | translate }}
                                            </label>
                                            <div class="controls">
                                                <textarea name="Description" maxlength="256" class="form-control"
                                                    rows="3" [formControl]="Form_UpdateUser.controls['Description']"
                                                    [(ngModel)]="_UserAccount.Description"
                                                    [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Description'].valid && Form_UpdateUser.controls['Description'].touched}"></textarea>
                                            </div>
                                            <label class="text-danger" for="Description"
                                                *ngIf="Form_UpdateUser.controls['Description'].hasError('required') && Form_UpdateUser.controls['Description'].touched">{{
                                                'System.AddAcquirer.Description_ER_Required' | translate }}</label>
                                            <label class="text-danger" for="Description"
                                                *ngIf="Form_UpdateUser.controls['Description'].hasError('minlength') || Form_UpdateUser.controls['Description'].hasError('maxlength')">{{
                                                'System.AddAcquirer.Description_ER_Length' | translate }}</label>
                                        </div>

                                        <div class="row" *ngIf="_Address.CountryId > 0">
                                           
                                           
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h3 class="tx-medium tx-14">Business Location</h3>
                                                <hcx-addressmanager [data]="_Address"
                                                    (OnAddressSet)="AddressChange($event)"></hcx-addressmanager>
                                            </div>

                                              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-x">
                                                <agm-map class="Hm-height ht-100p" [zoom]="14"
                                                    [styles]="_HelperService.darkStyle"
                                                    [latitude]="_UserAccount.AddressComponent.Latitude"
                                                    [longitude]="_UserAccount.AddressComponent.Longitude">
                                                    <agm-marker [latitude]="_UserAccount.AddressComponent.Latitude"
                                                        [longitude]="_UserAccount.AddressComponent.Longitude">
                                                    </agm-marker>
                                                </agm-map>
                                            </div> -->


                                        </div>
                                        
                                    </div>
                                    <div class="card-header b-b b-2x b-t">
                                        <h3 class="text-warn tx-14 pb-0 mb-0">Online Payment Provider (PSSP) Contact
                                            Information</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'System.AddAcquirer.FirstName' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="FirstName" maxlength="128"
                                                            class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['FirstName']"
                                                            [(ngModel)]="_ContactPerson.FirstName"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['FirstName'].valid && Form_UpdateUser.controls['FirstName'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="FirstName"
                                                        *ngIf="Form_UpdateUser.controls['FirstName'].hasError('required') && Form_UpdateUser.controls['FirstName'].touched">{{
                                                        'System.AddAcquirer.FirstName_ER_Required' | translate
                                                        }}</label>
                                                    <label class="text-danger" for="FirstName"
                                                        *ngIf="Form_UpdateUser.controls['FirstName'].hasError('minlength') || Form_UpdateUser.controls['FirstName'].hasError('maxlength')">{{
                                                        'System.AddAcquirer.FirstName_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'System.AddAcquirer.LastName' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="LastName" maxlength="128"
                                                            class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['LastName']"
                                                            [(ngModel)]="_ContactPerson.LastName"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['LastName'].valid && Form_UpdateUser.controls['LastName'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="LastName"
                                                        *ngIf="Form_UpdateUser.controls['LastName'].hasError('required') && Form_UpdateUser.controls['LastName'].touched">{{
                                                        'System.AddAcquirer.LastName_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="LastName"
                                                        *ngIf="Form_UpdateUser.controls['LastName'].hasError('minlength') || Form_UpdateUser.controls['LastName'].hasError('maxlength')">{{
                                                        'System.AddAcquirer.LastName_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>




                                        <div class="row">
                                            <div class="col-md-6">
                                                
                                                 <div class="form-group">
                                                    <label>{{'System.AddAcquirer.ContactNumber' | translate }}-<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls input-group">
                                                        <div class="input-group-prepend">
                                                            <span
                                                                class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                                        </div>
                                                        <input type="text" name="MobileNumber" minlength="8"
                                                            maxlength="14" class="form-control"
                                                            (keypress)="_HelperService.PreventText($event)"
                                                            [formControl]="Form_UpdateUser.controls['MobileNumber']"
                                                            [(ngModel)]="_ContactPerson.MobileNumber"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['MobileNumber'].valid && Form_UpdateUser.controls['MobileNumber'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="MobileNumber"
                                                        *ngIf="Form_UpdateUser.controls['MobileNumber'].hasError('required') && Form_UpdateUser.controls['MobileNumber'].touched">{{
                                                        'System.AddAcquirer.ContactNumber_ER_Required' | translate
                                                        }}</label>
                                                    <label class="text-danger" for="MobileNumber"
                                                        *ngIf="Form_UpdateUser.controls['MobileNumber'].hasError('minlength') || Form_UpdateUser.controls['MobileNumber'].hasError('maxlength')">{{
                                                        'System.AddAcquirer.ContactNumber_ER_Length' | translate
                                                        }}</label>
                                                </div> 


                                                <!-- commented mobile number start -->
                                                 <!-- <div class="form-group">
                                                    <label>{{'System.AddAcquirer.MobileNumber' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls input-group">
                                                        <div class="input-group-prepend">
                                                            <span
                                                                class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                                        </div>
                                                        <input type="text" name="MobileNumber" minlength="8"
                                                            maxlength="14" class="form-control"
                                                            (keypress)="_HelperService.PreventText($event)"
                                                            [formControl]="Form_UpdateUser.controls['MobileNumber']"
                                                            [(ngModel)]="this.updateNumber"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['MobileNumber'].valid && Form_UpdateUser.controls['MobileNumber'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="MobileNumber"
                                                        *ngIf="Form_UpdateUser.controls['MobileNumber'].hasError('required') && Form_UpdateUser.controls['MobileNumber'].touched">{{
                                                        'System.AddAcquirer.MobileNumber_ER_Required' | translate
                                                        }}</label>
                                                    <label class="text-danger" for="MobileNumber"
                                                        *ngIf="Form_UpdateUser.controls['MobileNumber'].hasError('minlength') || Form_UpdateUser.controls['MobileNumber'].hasError('maxlength')">{{
                                                        'System.AddAcquirer.MobileNumber_ER_Length' | translate
                                                        }}</label>
                                                </div> -->

                                                <!-- commented mobile number end -->


                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'System.AddAcquirer.SecondaryEmailAddress' | translate
                                                        }}<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">

                                                        <input type="text" name="SecondaryEmailAddress" maxlength="512"
                                                            class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['SecondaryEmailAddress']"
                                                            [(ngModel)]="_ContactPerson.EmailAddress"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['SecondaryEmailAddress'].valid && Form_UpdateUser.controls['SecondaryEmailAddress'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="SecondaryEmailAddress"
                                                        *ngIf="Form_UpdateUser.controls['SecondaryEmailAddress'].hasError('required') && Form_UpdateUser.controls['SecondaryEmailAddress'].touched">{{
                                                        'System.AddAcquirer.SecondaryEmailAddress_ER_Required' |
                                                        translate }}</label>
                                                    <label class="text-danger" for="SecondaryEmailAddress"
                                                        *ngIf="Form_UpdateUser.controls['SecondaryEmailAddress'].hasError('email') && Form_UpdateUser.controls['SecondaryEmailAddress'].touched">{{
                                                        'System.AddAcquirer.SecondaryEmailAddress_ER_Invalid' |
                                                        translate }}</label>
                                                </div>
                                            </div>

                                        </div>





                                    </div>
                                    <div class="card-header b-b b-2x b-t">
                                        <h3 class="text-warn tx-14 pb-0 mb-0">Online Payment Provider (PSSP) Account
                                            Credentials</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'System.AddAcquirer.UserName' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="UserName" maxlength="256"
                                                            class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['UserName']"
                                                            [(ngModel)]="_UserAccount.UserName"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['UserName'].valid && Form_UpdateUser.controls['UserName'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="UserName"
                                                        *ngIf="Form_UpdateUser.controls['UserName'].hasError('required') && Form_UpdateUser.controls['UserName'].touched">{{
                                                        'System.AddAcquirer.UserName_ER_Required' | translate }}</label>

                                                    <label class="text-danger" for="UserName"
                                                        *ngIf="Form_UpdateUser.controls['UserName'].hasError('minlength') || Form_UpdateUser.controls['UserName'].hasError('maxlength')">{{
                                                        'System.AddAcquirer.UserName_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'System.AddAcquirer.Password' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="input-group">
                                                        <input type="text" name="Password" maxlength="20"
                                                            [(ngModel)]="_HelperService.RandomPassword"
                                                            class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['Password']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Password'].valid && Form_UpdateUser.controls['Password'].touched}">

                                                        <div class="input-group-append"><button class="btn white"
                                                                type="button"
                                                                (click)="_HelperService.GeneratePassoword()"><i
                                                                    class="{{ 'Common.RefreshI' | translate }}"></i></button>
                                                        </div>
                                                    </div>

                                                    <label class="text-danger" for="Password"
                                                        *ngIf="Form_UpdateUser.controls['Password'].hasError('required') && Form_UpdateUser.controls['Password'].touched">{{
                                                        'System.AddAcquirer.Password_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="Password"
                                                        *ngIf="Form_UpdateUser.controls['Password'].hasError('pattern') ||Form_UpdateUser.controls['Password'].hasError('minlength') || Form_UpdateUser.controls['Password'].hasError('maxlength')">{{
                                                        'System.AddAcquirer.Password_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4">
                                            <label>{{ 'System.AddAcquirer.Icon' | translate }}
                                                <span class="small muted">
                                                    -
                                                    {{_HelperService._Icon_Cropper_Data.Width}}x{{_HelperService._Icon_Cropper_Data.Height}}
                                                </span>
                                            </label>
                                            <div class="mb-3">
                                                <input type="file" (change)="_HelperService.Icon_Change($event)" />
                                            </div>
                                            <div *ngIf="_HelperService._Icon_Cropper_Image != ''">
                                                <span class="float-right">
                                                    <button type="button" class="btn btn-sm btn-success mg-r-5"
                                                        (click)="_HelperService.Icon_Crop_Loaded()">
                                                        <i class="fa fa-fw  fa-edit "></i>
                                                        {{ 'Common.EditPicture' | translate }}
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-warning"
                                                        (click)="_HelperService.Icon_Crop_Clear()">
                                                        <i class="fa fa-fw  fa-sync "></i>
                                                        {{ 'Common.ClearPicture' | translate }}
                                                    </button>
                                                </span>
                                                <img [src]="_HelperService._Icon_Cropper_Image"
                                                    class="avatar w-96 b-a" />
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div class="card-header b-b b-2x b-t">
                                        <h3 class="text-danger tx-14 pb-0 mb-0">Account Status</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div> <label>{{ 'System.AddAcquirer.AccountStatus' | translate }}<span
                                                        class="text-danger">*</span>
                                                </label>
                                            </div>
                                            <div class="radio float-left mr-3">
                                                <label class="ui-check"><input type="radio" name="statusoptions"
                                                        [value]="_HelperService.AppConfig.Status.Active"
                                                        [(ngModel)]="_UserAccount.StatusCode"
                                                        [formControl]="Form_UpdateUser.controls['StatusCode']">
                                                    <i class="dark-white"></i>
                                                    {{ 'Common.Active' | translate }}</label>
                                            </div>
                                            <div class="radio  float-left mr-3"><label class="ui-check"><input
                                                        type="radio" name="statusoptions"
                                                        [value]="_HelperService.AppConfig.Status.Suspended"
                                                        [(ngModel)]="_UserAccount.StatusCode"
                                                        [formControl]="Form_UpdateUser.controls['StatusCode']">
                                                    <i class="dark-white"></i>
                                                    {{ 'Common.Suspend' | translate }}</label></div>


                                            <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                                                        name="statusoptions"
                                                        [value]="_HelperService.AppConfig.Status.Blocked"
                                                        [(ngModel)]="_UserAccount.StatusCode"
                                                        [formControl]="Form_UpdateUser.controls['StatusCode']">
                                                    <i class="dark-white"></i>
                                                    {{ 'Common.Block' | translate }}</label></div>
                                        </div>
                                    </div> -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary mr-2 float-right"
                                            (click)="Form_UpdateUser.value.OperationType='new'"
                                            [disabled]="!Form_UpdateUser.valid || _HelperService.IsFormProcessing">
                                            <span *ngIf="!_HelperService.IsFormProcessing">
                                                {{ 'Common.Update' | translate }}
                                            </span>
                                            <span *ngIf="_HelperService.IsFormProcessing">
                                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{
                                                'Common.PleaseWait' | translate
                                                }}...
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 hidden-xs ">

                        </div>
                    </div>

                </div><!-- media-body -->

            </div>

        </div>





    </div><!-- media -->
</div>


<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageChangedEvent]="_HelperService._Icon_Cropper_ChangedEvent"
                                [aspectRatio]="1/1" format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCropped)="_HelperService.Icon_Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Change Picture
                            </div>
                            <div class="mb-3">
                                <input type="file" (change)="_HelperService.Icon_Change($event)" />
                            </div>
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>

                                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>