<!-- acquirer--merchants--list -->

<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active cursor-pointer" [routerLinkActive]="['active']"><a class="text-primary"
      (click)="_HelperService.NavigateBack()">
      Administration</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Push Notification</a></li>
</ol>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header tx-medium"> Add Push Notification </div>
      <div class="card-body">
        <form [formGroup]="Form_Add" (ngSubmit)="Form_Add_Process(Form_Add.value)" role="form">
          <div class="modal-body b-b">
            <div class="form-group">
              <label>Title
                <span class="text-danger" *ngIf="Form_Add.controls['Title'].hasError('required')">*</span>
              </label>
              <input type="text" name="Title" maxlength="256" class="form-control"
                [formControl]="Form_Add.controls['Title']"
                [ngClass]="{'is-invalid':!Form_Add.controls['Title'].valid && Form_Add.controls['Title'].touched}">
              <label class="text-danger" for="Title"
                *ngIf="Form_Add.controls['Title'].hasError('required') && Form_Add.controls['Title'].touched"> Enter
                Title</label>
            </div>
            <div class="form-group">
              <label>Message
                <span class="text-danger" *ngIf="Form_Add.controls['Message'].hasError('required')">*</span>
              </label>
              <input type="text" name="Message" maxlength="256" class="form-control"
                [formControl]="Form_Add.controls['Message']"
                [ngClass]="{'is-invalid':!Form_Add.controls['Message'].valid && Form_Add.controls['Message'].touched}">
              <label class="text-danger" for="Message"
                *ngIf="Form_Add.controls['Message'].hasError('required') && Form_Add.controls['Message'].touched">Enter
                Message</label>
            </div>
          
          </div>

          <div class="light p-3 text-right b-b">
            <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_Add_Close()">{{
              'Common.Close'
              | translate }}</button>
            <button type="submit" class="btn btn-primary" (click)="Form_Add.value.OperationType='close'"
              [disabled]="!Form_Add.valid || _HelperService.IsFormProcessing">
              <span *ngIf="!_HelperService.IsFormProcessing">
                Send
              </span>
              <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                }}...
              </span>
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>





<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas
  style="width: 480px !important; overflow-y:auto !important ;">
  <div class="off-canvas-content">
    <div class="card">
      <div class="card-header">
        <h3 class="pb-0 mb-0 tx-20"> <i class="pr-1 {{_CoreUsage.StatusI}}"></i>{{_CoreUsage.Name || "--" }}
        </h3>
      </div>
      <div class="card-body">
        <form [formGroup]="Form_Edit" (ngSubmit)="Form_Edit_Process(Form_Edit.value)" role="form">
          <div class="p-3 b-b">
            <div class="form-group">
              <label>{{'System.Helpers.Name' | translate }}
                <span class="text-danger" *ngIf="Form_Edit.controls['Name'].hasError('required')">*</span>
              </label>
              <div class="controls">
                <input type="text" name="Name" maxlength="256" class="form-control" [(ngModel)]="_CoreUsage.Name"
                  [formControl]="Form_Edit.controls['Name']"
                  [ngClass]="{'is-invalid':!Form_Edit.controls['Name'].valid && Form_Edit.controls['Name'].touched}">
              </div>
              <label class="text-danger" for="Name"
                *ngIf="Form_Edit.controls['Name'].hasError('required') && Form_Edit.controls['Name'].touched">{{
                'System.Helpers.Name_ER_Required' | translate }}</label>
            </div>
            <div class="form-group">
              <label>{{'System.Helpers.SystemName' | translate }}
                <span class="text-danger" *ngIf="Form_Edit.controls['SystemName'].hasError('required')">*</span>
              </label>
              <div class="controls">
                <input type="text" name="SystemName" maxlength="256" class="form-control"
                  [(ngModel)]="_CoreUsage.SystemName" [formControl]="Form_Edit.controls['SystemName']"
                  [ngClass]="{'is-invalid':!Form_Edit.controls['SystemName'].valid && Form_Edit.controls['SystemName'].touched}">
              </div>
              <label class="text-danger" for="SystemName"
                *ngIf="Form_Edit.controls['SystemName'].hasError('required') && Form_Edit.controls['SystemName'].touched">{{
                'System.Helpers.SystemName_ER_Required' | translate }}</label>
            </div>
            <div class="form-group">
              <label>{{'System.Helpers.Value' | translate }}
                <span class="text-danger" *ngIf="Form_Edit.controls['Value'].hasError('required')">*</span>
              </label>
              <div class="controls">
                <input type="text" name="Value" maxlength="256" class="form-control" [(ngModel)]="_CoreUsage.Value"
                  [formControl]="Form_Edit.controls['Value']"
                  [ngClass]="{'is-invalid':!Form_Edit.controls['Value'].valid && Form_Edit.controls['Value'].touched}">
              </div>
              <label class="text-danger" for="Value"
                *ngIf="Form_Edit.controls['Value'].hasError('required') && Form_Edit.controls['Value'].touched">{{
                'System.Helpers.Value_ER_Required' | translate }}</label>
            </div>
            <div class="form-group">
              <div class="radio float-left mr-3">
                <label class="ui-check"><input type="radio" name="statusoptions" [(ngModel)]="_CoreUsage.StatusCode"
                    [value]="'default.active'" [formControl]="Form_Edit.controls['StatusCode']">
                  <i class="dark-white"></i>
                  {{ 'Common.Active' | translate }}</label>
              </div>
              <div class="radio  mr-3"><label class="ui-check"><input type="radio" [(ngModel)]="_CoreUsage.StatusCode"
                    name="statusoptions" [value]="'default.inactive'" [formControl]="Form_Edit.controls['StatusCode']">
                  <i class="dark-white"></i>
                  {{ 'Common.Inactive' | translate }}</label></div>
            </div>
          </div>



          <div class="card-footer">
            <button type="button" class="btn btn-secondary mr-2 float-right" (click)="_HelperService.NavigateBack()"> Close </button>
            <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_Edit.value.OperationType='new'">
              <span>
                {{ 'Common.Update' | translate }}
              </span>
              <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                translate
                }}...
              </span>
            </button>
            <button type="button" class="btn btn-danger" (click)="Delete_Confirm()">
              <span *ngIf="!_HelperService.IsFormProcessing">
                {{ 'Common.Delete' | translate }}
              </span>
              <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                translate
                }}...
              </span>
            </button>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>
