<!-- acquirer--merchant--sales -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>

    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">App Promotions
    </a></li>
</ol>

<div class="card">
    <div class="card-header">
        <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between">
                <span class="tx-semibold mg-t-5">App Promotes<span class="text-muted tx-normal">
            ({{TUTr_Config.TotalRecords}})</span></span>
                <button class="btn tx-12 btn-primary pnvalid" data-permission="apppromotionadd" (click)="VarifyDealCode()">
          Create Promotion </button>
                <!-- <button class="btn tx-12 btn-primary" (click)="VarifyDealdetails()"> Varify Deal details </button> -->
            </div>
        </div>
    </div>
    <div class="box-header px-3 pd-t-15 pd-b-7 d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}" (keyup)="TUTr_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
                </div>
            </div>
        </div>

        <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2" [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]" (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

        </div>
        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'" (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'" (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>
                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of TUTr_Config.Sort.SortOptions" (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>
                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
                        <button type="button" class="btn btn-primary btn-sm mg-t-20" (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
                <div class="dropdown-menu pd-0 tx-13">
                    <form class="wd-400 ">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
                            Filters
                        </h6>
                        <div class="pd-25" style="overflow: auto; height: 40vh;" *ngIf="ResetFilterControls">
                            <div>
                                <div class="form-group position-relative" id="deal_apppromotion_date">
                                    <label>Expiry Date</label>
                                    <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsFn('#deal_apppromotion_date')" (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)"
                                    />
                                </div>
                            </div>

                            <!-- <div>
                <div class="form-group">
                  <label>Expiry Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.DateExpiry)" />
                </div>
              </div> -->

                            <div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select2 class="wd-100p" [value]="_DataHelperService.statusValue" [data]="TUTr_Config.StatusOptions" (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)" [options]="_DataHelperService.S2_Status_Option"></select2>
                                </div>
                            </div>

                        </div>

                        <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0" style="position: fixed; bottom:0%; margin-top: -2.5em ;">
                            <button type="button" class="btn btn-light btn-sm mr-2" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
                            <button type="button" class="btn btn-primary btn-sm " (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer" (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i data-feather="refresh-cw"></i> </a>
        </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-8">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5" [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
            {{_HelperService.FilterSnap.StatusName}}
            <span (click)="RemoveFilterComponent('Status')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5" [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span (click)="RemoveFilterComponent('Sort')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5" [hidden]="!_HelperService.FilterSnap.StartTime">
            {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5" *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:TItem.data[0].Name}}
            <span (click)="RemoveFilterComponent('Other',i)" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
            Sales Range [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" + _HelperService.FilterSnap.SalesRange.SalesMax}}]
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
    </div>



    <div class="card-body p-0 table-responsive">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th class="">Banner</th>
                    <th class="">Navigation Type</th>
                    <th class="wd-250"> Website link / url</th>
                    <!-- <th> Description</th> -->
                    <th class="td-date">Start Date</th>
                    <th class="td-date">End Date</th>
                    <th class="td-date">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="
               let TItem of (TUTr_Config.Data
                 | paginate
                   : {
                       id: 'TUTr_Paginator',
                       itemsPerPage: TUTr_Config.PageRecordLimit,
                       currentPage: TUTr_Config.ActivePage,
                       totalItems: TUTr_Config.TotalRecords
                     })
             ">
                    <td class="d-flex align-items-center">

                        <!-- <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span> -->

                        <img class="br" *ngIf="TItem.StatusCode=='default.active'" (error)="_HelperService.defaultImage($event)" src="{{TItem.ImageUrl}}" class="img mx-wd-150 bd bd-2 rounded" style="height: 80px;" [style.border-color]="TItem.StatusC">
                        <img class="br" *ngIf="TItem.StatusCode=='default.blocked'" (error)="_HelperService.defaultImage($event)" src="{{TItem.ImageUrl}}" class="img mx-wd-150 bd bd-2 rounded" style="height: 80px;" [style.border-color]="TItem.StatusC">
                    </td>
                    <td class="">
                        <div>
                            <span class="wd-20">{{ TItem.NavigationType}}

              </span>
                        </div>
                    </td>
                    <td class="">
                        <div *ngIf="TItem.NavigationType=='app'">
                            <a (click)="UrlClick(TItem.NavigateUrl)" target="_blank" class="wd-20" style="overflow-wrap: anywhere;">{{
                TItem.NavigateUrl ||"--"}}
              </a>
                            <!-- <span class="wd-200 route-hover cursor-pointer">{{ TItem.NavigateUrl ||"--"}}
              </span> -->
                        </div>

                        <div *ngIf="TItem.NavigationType=='url'">
                            <a (click)="UrlClick(TItem.NavigateUrl)" target="_blank" style="overflow-wrap: anywhere;" class="wd-40 route-hover cursor-pointer">{{
                TItem.NavigateUrl ||"--"}}
              </a>
                            <!-- <span class="wd-200 route-hover cursor-pointer">{{ TItem.NavigateUrl ||"--"}}
              </span> -->
                        </div>
                    </td>

                    <td class="">
                        <div>
                            {{ TItem.StartDatePart.Date }}
                            <!-- <span class="">{{ _HelperService.GetDateS(TItem.StartDate) || "--" }}</span> -->
                        </div>

                        <div class="text-secondary tx-12 wd-100">
                            {{ TItem.StartDatePart.Time }}
                        </div>
                    </td>

                    <td class="">
                        <div>
                            {{ TItem.EndDatePart.Date }}

                        </div>

                        <div class="text-secondary tx-12 wd-100">
                            {{ TItem.EndDatePart.Time }}
                        </div>
                    </td>

                    <td class="">
                        <div *ngIf="isUpdate">
                            <span class="text-primary route-hover cursor-pointer" (click)="ManageAsPromote(TItem)"><i
                  class="fas fa-edit"></i>Edit</span>
                        </div>
                        <div *ngIf="isDelete" class="text-secondary wd-100">
                            <span class="text-danger cursor-pointer" (click)="UnMarkAsPromote(TItem)"><i class="fas fa-trash-alt"></i>
                Delete</span>
                        </div>
                    </td>

                    <!-- <td class="cursor-pointer route-hover" (click)="TUTr_RowSelected(TItem);"> <span> <i
                class="fas fa-chevron-right"></i> </span> </td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TUTr_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
        </span>
        <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
        (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
        <span class="float-right">
      <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
        (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
    </div>
</div>

<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas style="width: 480px !important; overflow-y:auto !important ;">
    <div class="off-canvas-content">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <h3 class="pb-0 mb-0 tx-20">Details</h3>
                </div>



                <!-- <div> <span class=""> {{_CoreUsage.StatusName || "--"}}</span> </div> -->
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mg-t-15 tx-medium mg-b-10"> {{_CoreUsage.Title || "--"}} </div>

                    <div class="d-flex"> <span class="{{_CoreUsage.StatusB}}"> {{_CoreUsage.StatusName ||
              "--"}}</span>
                        <span *ngIf="_CoreUsage.ToAccountId  != _CoreUsage.AccountId  && _CoreUsage.ToAccountId  != null" class="tx-verve tx-12 d-flex align-items-center mg-l-5"><img height="18" src="assets/img/1.svg" alt=""
                srcset="">
            </span>

                    </div>

                </div>

                <div class="row mg-t-15">
                    <div class="col-md-4 float-left text-secondary">Sold On</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">
                        <div class=" ">{{_CoreUsage.CreateDate || "--"}}</div>
                        <!-- <div class="tx-regular"> {{_CoreUsage.AccountMobileNumber || "--"}} </div> -->

                    </div>
                </div>
                <!-- <div class="mg-t-15 tx-medium mg-b-10"> Transfer Details </div> -->

                <div class="row mg-t-15">
                    <div class="col-md-4 float-left text-secondary">Expires On</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{_CoreUsage.EndDate || "--"}}</div>
                </div>

                <div class="row mg-t-15">
                    <div class="col-md-4 float-left text-secondary">Customer</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{_CoreUsage.AccountDisplayName || "--"}}
                        <div> {{_CoreUsage.AccountMobileNumber || "--"}}</div>

                    </div>
                </div>


                <!-- <div class="mg-t-15 tx-medium mg-b-10"> Bank Details </div> -->
                <div class="row mg-t-15">
                    <div class="col-md-4 float-left text-secondary">Shared To</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{_CoreUsage.ToAccountDisplayName || "--"}}
                        <div> {{_CoreUsage.ToAccountMobileNumber || "--"}}</div>
                    </div>
                </div>
                <!-- <div class="mg-t-15 tx-medium mg-b-10"> Transaction Details </div> -->
                <div class="mg-t-25" *ngIf="_CoreUsage.StatusCode == 'dealcode.used'">
                    <div class="row">
                        <div class="col-md-4 float-left text-secondary">Merchant</div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-7 text-right tx-medium"> <img class="bd bd-2 mg-r-5" height="30" width="30" (error)="_HelperService.defaultImage($event)" src="{{_CoreUsage.MerchantIconUrl}}" alt=""> {{_CoreUsage.MerchantDisplayName || "--"}}
                            <div class="tx-normal text-success"> Used at {{_CoreUsage.LastUseLocationDisplayName}} </div>

                        </div>
                    </div>
                    <div class="row mg-t-15 ">
                        <div class="col-md-4 float-left text-secondary">Cashier</div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-7 text-right">{{_CoreUsage.CashierDisplayName || "--"}}
                            <div>{{_CoreUsage.CashierId || "--"}} </div>

                        </div>
                    </div>

                    <div class="row mg-t-15 ">
                        <div class="col-md-4 float-left text-secondary">Terminal</div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-7 text-right">{{_CoreUsage.TerminalId || "--"}}
                            <div> {{_CoreUsage.ProviderDisplayName || "--"}} </div>
                        </div>
                    </div>
                    <div class="row mg-t-15 ">
                        <div class="col-md-4 float-left text-secondary">Source</div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-7 text-right">{{_CoreUsage.LastUseLocationSourceName || "--"}}</div>
                    </div>
                </div>

                <div class="mg-t-15 tx-medium mg-b-10"> Amount Details </div>
                <div class="row mg-t-15 ">
                    <div class="col-md-4 float-left text-secondary">Amount</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right"> <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_CoreUsage.Amount || "0"}}</div>
                </div>
                <div class="row mg-t-25 ">
                    <div class="col-md-4 float-left text-secondary">Payable to merchant</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right"> <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_CoreUsage.MerchantAmount || "0"}}
                    </div>
                </div>

                <div class="mg-t-15 tx-medium mg-b-10"> Transaction Details </div>





                <div class="row mg-t-15 ">
                    <div class="col-md-4 float-left text-secondary">Payment Ref ID
                        <!-- <div class="tx-12 text-secondary"> (For admin Use Only) </div> -->

                    </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-right">{{_CoreUsage.PaymentReference || "--"}}</div>
                </div>

            </div>
            <div class="card-footer d-flex justify-content-between">
                <div class="d-flex justify-content-start">



                </div>
                <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>
            </div>
        </div>
    </div>
</div>
<div id="Form_Varify_deal_code" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="height: 730px;">
            <!-- <form [formGroup]="Form_Promote" (ngSubmit)="Form_Promote_Process(Form_Promote.value)" role="form"> -->
            <div class="modal-header">
                <h5 class="modal-title">Create App Promotion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body ht-500">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                            <label>Navigation Type<span class="text-danger">*</span>
              </label>
                            <select2 name="S2GetRoles" class="full-width" [data]="_NavigationType" [options]="GetNavigationType_Option" (valueChanged)="GetNavigationType_ListChange($event)">
                            </select2>
                        </div>
                        <div class="form-group" *ngIf="!Checkrole">
                            <label>Enter Promotional Link (Website link / url)</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="NavigateUrl" [formControl]="Form_Promote.controls['NavigateUrl']" [ngClass]="{'is-invalid':!Form_Promote.controls['NavigateUrl'].valid && Form_Promote.controls['NavigateUrl'].touched}" />
                            </div>
                            <!-- <label class="text-danger" for="NavigateUrl"
                *ngIf="Form_Promote.controls['NavigateUrl'].hasError('required') && Form_Promote.controls['NavigateUrl'].touched">{{
                'System.AddAcquirer.WebsiteUrl_ER_Required' | translate }}</label> -->
                            <label class="text-danger" for="NavigateUrl" *ngIf="Form_Promote.controls['NavigateUrl'].hasError('pattern') && Form_Promote.controls['NavigateUrl'].touched">Enter
                Valid Url</label>
                        </div>
                        <div class="form-group" *ngIf="Checkrole && !_HelperService.IsFormProcessing">
                            <label>Select Page
              </label>
                            <select2 name="S2GetApps" class="full-width" [data]="S2AppPages" [options]="GetApps_Option" (valueChanged)="GetApp_ListChange($event)">
                            </select2>
                        </div>
                        <div class="form-group">
                            <label for="  "> Start Date</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_DealConfig.StartDateConfig" readonly [formControl]="Form_Promote.controls['StartDate']" (selected)="ScheduleStartDateRangeChange($event)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="  "> End Date</label>
                            <div class="controls">


                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_DealConfig.EndDateConfig" [disabled]="_DealConfig.StartDate == null" [formControl]="Form_Promote.controls['EndDate']" (selected)="ScheduleEndDateRangeChange($event)"
                                />
                            </div>
                        </div>
                    </div>
                </div>


                <div>

                </div>
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <label>Upload Banner Image<span class="text-danger">*</span></label>
                        <input-file fileAccept="image/*" sizeLimit="400" fileLimit="1" [formControl]="Form_Promote.controls['ImageContent']" (deletedFile)="removeImage()" (acceptedFile)="onImageAccept1($event)">
                        </input-file>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="Form_Promote_Process()"> Save</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="ManagePromoteDeal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="height: 850px;">
            <div class="modal-header">
                <h5 class="modal-title">Manage Promotion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Form_ManagePromote_Close()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body ht-500">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                            <label>Navigation Type<span class="text-danger">*</span>
              </label>
                            <select2 name="S2GetRoles" class="full-width" [data]="_NavigationType" [options]="GetNavigationTypeManage_Transport" (valueChanged)="GetNavigationTypeManage_ListChange($event)">
                            </select2>
                            <div class="col-lg-12 Hm-media768">
                                <div class="d-inline justify-content-between">
                                    <button class="d-flex align-items-center" type="button" class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 pd-r-10 pd-l-12 pd-y-5 text-warn text-sm float-left mg-t-10">{{SelectedRole}}
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Checkmanagerole && SelectedRole=='app' -->
                    <div class="col-md-12" *ngIf="Checkmanagerole">
                        <div class="form-group">
                            <label>Select Page
              </label>
                            <!-- <select2 class="full-width" 
                [options]="_HelperService.Select2Options_app"   [value]="SelectedStateCategories"
                    [data]="_AppPage" (valueChanged)="GetApp_ListChange($event)">
                </select2> -->

                            <select2 name="S2GetApps" class="full-width" [data]="S2AppPages" [options]="GetManageApp_Option" (valueChanged)="GetAppmanage_ListChange($event)">
                            </select2>
                            <div class="col-lg-12 Hm-media768">
                                <div class="d-inline justify-content-between">
                                    <button class="d-flex align-items-center" type="button" class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-1 pd-r-10 pd-l-12 pd-y-2 text-warn text-sm float-left mg-t-10">{{Selectedurl}}
                  </button>
                                </div>
                            </div>

                        </div>


                    </div>


                    <div class="col-md-12" *ngIf="SelectedRole=='app' && !Checkmanagerole">
                        <div class="form-group">
                            <label>Select Page
              </label>


                            <select2 name="S2GetApps" class="full-width" [data]="S2AppPages" [options]="GetManageApp_Option" (valueChanged)="GetAppmanage_ListChange($event)">
                            </select2>
                            <div class="col-lg-12 Hm-media768">
                                <div class="d-inline justify-content-between">
                                    <button class="d-flex align-items-center" type="button" class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 pd-r-10 pd-l-12 pd-y-5 text-warn text-sm float-left mg-t-10">{{Selectedurl}}

                  </button>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="col-md-12" *ngIf="Checkmanagerole && SelectedRole=='url'">
                        <div class="form-group">
                            <label style="margin-top: 15px;">Enter Promotional Link (Website link / url) </label>
                            <div class="controls">
                                <input type="text" class="form-control " name="NavigateUrl" [(ngModel)]="Selectedurl" [formControl]="Form_ManagePromote.controls['NavigateUrl']" />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12" *ngIf="!Checkmanagerole && SelectedRole=='url'">
                        <div class="form-group">
                            <label style="margin-top: 20px;">Enter Promotional Link (Website link / url) </label>
                            <div class="controls">
                                <input type="text" class="form-control " name="NavigateUrl" [(ngModel)]="Selectedurl" [formControl]="Form_ManagePromote.controls['NavigateUrl']" />
                            </div>

                        </div>
                    </div>




                    <div class="col-md-12">
                        <div class="form-group">
                            <label style=" margin-top: 15px;" for="  "> Start Date</label>
                            <div class="controls">


                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_DealConfig.StartDateConfig" readonly [formControl]="Form_ManagePromote.controls['StartDate']" (selected)="ManageStartDateRangeChange($event)" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="  "> End Date</label>
                            <div class="controls">


                                <input type="text" class="form-control " name="daterangeInput" daterangepicker [options]="_DealConfig.EndDateConfig" [disabled]="_DealConfig.StartDate == null" readonly [formControl]="Form_ManagePromote.controls['EndDate']" (selected)="ManageEndDateRangeChange($event)"
                                />
                            </div>
                        </div>
                    </div>
                </div>





                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Banner Image
              </label>
                            <div>

                                <input-file fileAccept="image/*" sizeLimit="400" fileLimit="1" [formControl]="Form_Promote.controls['ImageContent']" (deletedFile)="removeImage()" (acceptedFile)="onImageAccept1($event)">
                                </input-file>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 py-3">
                        <div class="form-group">
                            <label>
              </label>
                            <div class="card card-file" style="height: 166px;width: 148px;">
                                <img [src]="Selectedimage" class="img-fluid" style="width: 131px;height: 119px;">
                                <div class="card-body p-2">

                                    <button type="button" (click)="removeImage()" class="btn btn-xs btn-block btn-outline-danger">Remove
                    Image</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <!-- <div class="modal-footer"> -->

                <div class="card-footer d-flex justify-content-between pd-l-15">
                    <button *ngIf="DealStatus=='default.active'" type="button" (click)="OnOffPromoteDeal()" class="btn  btn-danger  ">Stop Promotion
          </button>
                    <button *ngIf="DealStatus=='default.inactive'" type="button" (click)="OnOffPromoteDeal()" class="btn  btn-primary">Start Promotion
          </button>
                    <div class="">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_ManagePromote_Close()">Close</button> &nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" (click)="Form_ManagePromote_Process()"> Save</button>
                    </div>
                </div>


                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="Form_ManagePromote_Close()">Close</button>
          <button type="button" class="btn btn-primary" (click)="Form_ManagePromote_Process()"> Save</button> -->
                <!-- </div> -->

            </div>
        </div>
    </div>
</div>


<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3" *ngIf="_ImageManager.ActiveImage != undefined && _ImageManager.ActiveImage != null">
                            <image-cropper [imageFileChanged]="_ImageManager.ActiveImage.file" [aspectRatio]="2 / 1" [format]="jpeg" [maintainAspectRatio]="_ImageManager.Option.MaintainAspectRatio" [cropperMinWidth]="_ImageManager.Option.MinimumWidth" [cropperMinHeight]="_ImageManager.Option.MinimumHeight"
                                [resizeToWidth]="_ImageManager.Option.ResizeToWidth" (imageCroppedBase64)="Icon_B64Cropped($event)" (imageLoaded)="_HelperService.Icon_Crop_Loaded()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " (click)="Icon_B64CroppedDone()" data-dismiss="modal">{{
                  'Common.PictureDone' |
                  translate }}</button>
                                <button type="button" class="btn btn-warning " (click)="Icon_Crop_Clear()">{{
                  'Common.PictureClearAndClose' |
                  translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>