<div class="card bd-0 pd-t-0">

    <div class="card-body ">

        <form [formGroup]="Form_EditUserName" (ngSubmit)="Form_EditUserName_Process(Form_EditUserName.value)"
            role="form">
            <div class="card-header pl-0 pt-0">

                <div class="tx-16"> Update UserName </div>
                <!-- <div class="tx-14 text-secondary tx-normal"> Update UserName.
                </div> -->
            </div>

            <div class="row mg-t-10">
                <div class="col-md-6">
                    <label class="tx-13 ">UserName</label>
                    <div class="controls">
                        <input type="text" placeholder="User Name" name="UserName" minlength="2" maxlength="128"
                            class="form-control" [formControl]="Form_EditUserName.controls['UserName']"
                            [(ngModel)]="_AdminDetails.UserName"
                            [ngClass]="{'is-invalid':!Form_EditUserName.controls['UserName'].valid && Form_EditUserName.controls['UserName'].touched}">
                    </div>

                    <label class="text-danger" for="Password"
                        *ngIf="Form_EditUserName.controls['UserName'].hasError('required') && Form_EditUserName.controls['UserName'].touched">
                        Enter User Name
                    </label>

                    <label class="text-danger" for="Password"
                        *ngIf="Form_EditUserName.controls['UserName'].hasError('pattern') ||Form_EditUserName.controls['UserName'].hasError('minlength') || Form_EditUserName.controls['UserName'].hasError('maxlength')">
                        Enter valid User Name
                    </label>
                </div>
            </div>


            <div class="card-footer bd-0 ml-0 pl-0 ">
                <button type="submit" class="btn btn-primary"
                    [disabled]="!Form_EditUserName.valid || _Form_Login_Processing">
                    <span *ngIf="!_Form_Login_Processing">
                        Update
                    </span>
                    <span *ngIf="_Form_Login_Processing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                        {{ 'Common.PleaseWait' | translate }}...
                    </span>
                </button>

            </div>
        </form>

    </div>


</div>
<div class="card bd-0">
    <div class="card-header pt-0 bd-0">

        <div class="tx-16"> Reset Password And Reset Pin </div>
        <!-- <div class="tx-14 text-secondary tx-normal"> Reset Password And Reset Pin.
        </div> -->
    </div>
    <div class="card-body d-flex">
        <div class="wd-250 mr-2">

            <button type="button" class="btn btn-primary btn-xs" (click)="ResetPassword()"> Reset Password </button>
            <div class="mg-t-20">
            <label *ngIf="ShowPasswordDiv" for=" " class="mg-t-15 mb-0"> New Password </label>
            <div *ngIf="ShowPasswordDiv" class="tx-18 text-secondary  tx-medium"> {{Password.NewPassword || "--"}} </div>
        </div>

        </div>

        <div class="wd-250">

            <button type="button" class="btn btn-primary btn-xs" (click)="ResetPin()"> Reset Pin </button>
            <div class="mg-t-20">
                <label *ngIf="ShowPinDiv" for=" " class="mg-t-15 mb-0"> New Pin </label>
                <div *ngIf="ShowPinDiv" class="tx-18 text-secondary  tx-medium"> {{Pin.NewPin || "--"}} </div>
            </div>
           

        </div>
    </div>
</div>