<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<ol class="breadcrumb df-breadcrumbs mg-b-10">

  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Dashboard
    </a></li>

</ol>


<div class="row mg-b-20 mg-lg-b-12 pnvalid" *ngIf="isDateandRefresh">
  <div class="col-9">
    <h4 class="mg-b-0 tx-spacing--1"> Today's Overview - <span> {{TodayDate | date }} </span></h4>
  </div>

  <div class="col-3">
    <button (click)="RefershOverview()" class="btn btn-xs btn-outline-primary float-right"> Refresh Overview </button>
  </div>
  <!-- <div class="col-3 d-flex align-items-center vertical-align-bottom">
    <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
      (valueChanged)="TUTr_Filter_Stores_Change($event)">
    </select2>
  </div> -->
</div>

<div class="row row-xs mg-y-10">
  <div class="col-sm-6 col-lg-3 pnvalid" data-permission="dashboardmerchant">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active Merchants</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">

          {{SalesOverview.ActiveMerchants ||"0"}}
        </h3>

      </div>
      <p class="tx-12 text-secondary mg-b-0"> Among <span class="tx-dark"> {{SalesOverview.TotalMerchants ||"0"}}
        </span> Total Merchants</p>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0 pnvalid" data-permission="dashboardcustomer">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active Customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
          {{Counts.Active || "0" }}
        </h3>

      </div>
      <p class="tx-12 text-secondary mg-b-0"> Among <span class="tx-dark"> {{Counts.Total || "0" }}</span> total
        customers</p>


    </div>
  </div>
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0 pnvalid" data-permission="dashboardrewarddistributed">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Reward Distributed</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          <span class=" text-sm mg-r-2"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{LoyalityOverview.RewardAmount || "0" |
          number: "1.2-2"}}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Total Rewards Distributed</p>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0 pnvalid" data-permission="dashboardtransaction">
    <div class="card card-body shadow-none ht-100p">
      <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Transactions</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          {{LoyalityOverview.Transaction ||"0"}}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Total transactions done by all merchants</p>
    </div>
  </div>
</div>

<div class="row row-xs mg-y-10 pnvalid" data-permission="dashboardsalesreport">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div> Today’s Sales Report</div>
        <div class="text-primary"> <a class="cursor-pointer" (click)="RouteTransaction()"> Show Transactions <i
              data-feather="chevron-right"> </i>
          </a></div>

      </div>
      <div class="card-body pd-y-40 ">
        <div class="row">
          <div class="col-md-3 bd-r bd-2 bd-secondary">
            <div class="tx-11 tx-medium tx-uppercase">Sale amount</div>
            <div class="tx-24 "> <span class=" text-sm"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{OverviewData.InvoiceAmount || "0"
              |
              number: "1.2-2"}} </div>

          </div>
          <div class="col-md-3 bd-r bd-2 bd-secondary">
            <div class="tx-11 tx-medium tx-uppercase"> Successful Transactions</div>
            <div class="tx-24 text-success"> {{OverviewData.Transactions || "0"}} </div>

          </div>
          <div class="col-md-3 bd-r bd-2 bd-secondary">
            <div class="tx-11 tx-medium tx-uppercase"> Initialised Transactions</div>
            <div class="tx-24 text-warning"> {{OverviewData.initialised || "0"}} </div>

          </div>
          <div class="col-md-3">
            <div class="tx-11 tx-medium tx-uppercase"> Failed Transactions </div>
            <div class="tx-24 text-danger"> {{OverviewData.FailedTransactions || "0"}} </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mg-t-15 pnvalid" data-permission="dashboardbillersreport">
      <div class="card-header d-flex justify-content-between">
        <div> Today’s Billers Report <span class="text-secondary"> (Bills- Airtime, Recharge etc) </span> </div>
        <div class="text-primary"> <a class="cursor-pointer" (click)="RouteBillers()"> Show Transactions <i
              data-feather="chevron-right"> </i>
          </a></div>

      </div>
      <div class="card-body pd-y-40 ">
        <div class="row">
          <div class="col-md-3 bd-r bd-2 bd-secondary">
            <div class="tx-11 tx-medium tx-uppercase">Sale amount</div>
            <div class="tx-24 ">
              <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_BillerSummary.InvoiceAmount ||
              "0" |
              number: "1.2-2"}}
            </div>

          </div>
          <div class="col-md-3 bd-r bd-2 bd-secondary">
            <div class="tx-11 tx-medium tx-uppercase"> Successful Transactions</div>
            <div class="tx-24 text-success"> {{_BillerSummary.Transactions || "0"}} </div>

          </div>
          <div class="col-md-3 bd-r bd-2 bd-secondary">
            <div class="tx-11 tx-medium tx-uppercase"> Initialised Transactions</div>
            <div class="tx-24 text-warning"> {{_BillerSummary.initialised || "0"}} </div>

          </div>
          <div class="col-md-3">
            <div class="tx-11 tx-medium tx-uppercase"> Failed Transactions </div>
            <div class="tx-24 text-danger"> {{_BillerSummary.FailedTransactions || "0"}} </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="card mg-t-15">
      <div class="card-header">
        Current Merchants onboarding Status
      </div>
      <div class="card-body">
        <div class="funnel">
            <div class="" #container style="transform: rotateZ(-90deg); background-color: #00000000!important; position: relative;">
            </div>
          </div>

      </div>
    </div> -->

  </div>
</div>
<div class="row row-xs mg-y-10">
  <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0 pnvalid" data-permission="dashboardmerchant">
    <div class="card ht-100p">
      <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
        <h5 class="mg-b-5 tx-14 ">Low Wallet Balance Merchant<br> 
        </h5>

      </div>
      <div *ngIf="LowWalletData">
        <ul class="list-group list-group-flush tx-14">
          <li class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div class="placeholder-media wd-100p wd-sm-100p wd-md-100p">
              <div class="line"></div>
            </div>
          </li>
          <li class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div class="placeholder-media wd-100p wd-sm-100p wd-md-100p">
              <div class="line"></div>
            </div>
          </li>
          <li class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div class="placeholder-media wd-100p wd-sm-100p wd-md-100p">
              <div class="line"></div>
            </div>
          </li>
          <li class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div class="placeholder-media wd-100p wd-sm-100p wd-md-100p">
              <div class="line"></div>
            </div>
          </li>
          <li class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div class="placeholder-media wd-100p wd-sm-100p wd-md-100p">
              <div class="line"></div>
            </div>
          </li>

        </ul>
      </div>
      <div *ngIf="!LowWalletData">
        <div *ngIf="LowBalance[0] !=  0">
          <ul class="list-group list-group-flush tx-14" *ngFor="let TItem of LowBalance">
            <li (click)="MerchantRoute(TItem)" class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
              <div>
                <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
                  class="img wd-40 ht-40 rounded-5 bd bd-2 border-secondary">
              </div>
              <div class="pd-l-10">
                <p class="mg-b-0">{{TItem.DisplayName || "--"}}</p>
                <small class="mg-b-0 tx-12 text-secondary">Last Balance On {{TItem.Date | date :["dd-MM-yyyy"]}}</small>

              </div>
              <div class="mg-l-auto d-flex align-self-center">
                <nav class="nav nav-icon-only">
                  <h5 class="tx-normal tx-rubik mg-b-0 lh-1">
                  </h5>
                  <div class="tx-12  text-danger"> <span class=" text-sm mg-r-2"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <span
                      class="Word-break">{{TItem.Balance
                      || "0" | number: "1.2-2" }}</span>
                    <br>
                    <div class="tx-12  text-secondary">Current Balance</div>
                  </div>


                </nav>
              </div>
            </li>

          </ul>
        </div>
        <div class="d-flex justify-content-center align-items-center" *ngIf="LowBalance[0] == undefined">
          <div class="card bd-0 d-flex justify-content-center align-items-center mg-y-50">
            <div class="text-center m-auto  text-muted ">
              <div>
                <div>
                  <div
                    class="wd-100 wd-md-100 ht-100 ht-md-100 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                    <img height="30" width="30" src="./../../../../../assets/img/file.svg" alt="">
                  </div>
                  <div class="pt-3">
                    <span class="text-dark tx-bold tx-14 "> No transaction took in this timeframe </span><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0 pnvalid" data-permission="dashboardtransaction">
    <div class="card ht-100p">
      <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
        <h5 class="mg-b-5 tx-14 ">Heavy Transaction (Last 7 Days)<br>
        </h5>
      </div>
      <div *ngIf="_HelperService.DataLoad">
        <ul class="list-group list-group-flush tx-14">
          <li class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div class="placeholder-media wd-100p wd-sm-100p wd-md-100p">
              <div class="line"></div>
            </div>
          </li>
          <li class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div class="placeholder-media wd-100p wd-sm-100p wd-md-100p">
              <div class="line"></div>
            </div>
          </li>
          <li class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div class="placeholder-media wd-100p wd-sm-100p wd-md-100p">
              <div class="line"></div>
            </div>
          </li>
          <li class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div class="placeholder-media wd-100p wd-sm-100p wd-md-100p">
              <div class="line"></div>
            </div>
          </li>
          <li class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div class="placeholder-media wd-100p wd-sm-100p wd-md-100p">
              <div class="line"></div>
            </div>
          </li>

        </ul>
      </div>
      <div *ngIf="!_HelperService.DataLoad">
        <div *ngIf="this.TUTr_Config.Data.length != 0">
          <ul class="list-group list-group-flush tx-14" *ngFor="
          let TItem of TUTr_Config.Data
        ">
            <li (click)="RouteCustomer(TItem)" class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
              <div>
                <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.ParentIconUrl}}"
                  class="img wd-40 ht-40 rounded-5 bd bd-2 border-secondary">
              </div>
              <div class="pd-l-10">
                <p class="mg-b-0">{{TItem.UserDisplayName}}</p>
                <small class="mg-b-0 tx-12 text-secondary" *ngIf="!TItem.SubParentDisplayName">
                  {{TItem.ParentDisplayName ||
                  "--" }}</small>
                <small class="mg-b-0 tx-12 text-secondary"
                  *ngIf="TItem.SubParentDisplayName">{{TItem.SubParentDisplayName
                  || "--" }}</small>


              </div>
              <div class="mg-l-auto d-flex align-self-center">
                <nav class="nav nav-icon-only">
                  <h5 class="tx-normal tx-rubik mg-b-0 lh-1">
                  </h5>
                  <div class="tx-12  tx-MasterCard"> <span class=" text-sm mg-r-2"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <span
                      class="Word-break">{{TItem.InvoiceAmount || "0" }}</span>
                    <br>
                    <!-- <div class="tx-12  text-secondary">{{TItem.TransactionDate || "--" }}</div> -->
                    <div class="tx-12  text-secondary">{{TItem.TransactionDateD || "--" }} {{TItem.TransactionDateT ||
                      "--" }}</div>
                  </div>


                </nav>
              </div>
            </li>


          </ul>
        </div>
        <div *ngIf="this.TUTr_Config.Data.length == 0 ">
          <div class="card bd-0 d-flex justify-content-center align-items-center mg-y-50">
            <div class="text-center m-auto  text-muted ">
              <div>
                <div>
                  <div
                    class="wd-100 wd-md-100 ht-100 ht-md-100 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                    <img height="30" width="30" src="./../../../../../assets/img/file.svg" alt="">
                  </div>
                  <div class="pt-3">
                    <span class="text-dark tx-bold tx-14 "> No transaction took in this timeframe </span><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Setup Reward Campaign</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">

        <div>
          <img src="../../assets/images/Illustration.svg" alt="." />
        </div>

        <h3 class="mg-t-25"> Let's try Reward Campaign Now </h3>

        <div class="text-secondary mg-t-25">
          <div> On this christmas,give treat to your customers</div>
          <div>you can set customised reward campaigns</div>
        </div>

        <div class="mg-t-25">
          <button type="button" class="btn btn-primary"> Create Reward Campaign </button> <br>

          <div class="text-secondary cursor-pointer mg-t-10" data-dismiss="modal"> Skip For Now</div>
        </div>
      </div>
      <div class="modal-footer pd-25">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>