<!-- acquirer--merchants--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
            Partner</a></li>
</ol>

<div class="d-sm-flex justify-content-between">
    <span class="tx-semibold tx-lg-24 mg-t-5">
        <span class="text-muted">
            <a class="cursor-pointer" (click)="_HelperService.NavigateBack()"><i data-feather="chevron-left"></i></a>
        </span>
        {{_MerchantDetails.DisplayName}}</span>
</div>

<div class="bd-b-0 pd-b-20 pd-t-10">

    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist" [routerLinkActive]="['active']">

        <div class="d-flex flex-wrap ">
            <li class="nav-item cursor-pointer">
                <a class="nav-link" id="home-tab54" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.PartnerAccount}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home3" aria-selected="true">Partner Details</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="partneroverview">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.Dashboard}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="partnermerchant">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.Merchants}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Merchant</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="partnerterminal">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.Terminals}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Terminal</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="partnerstore">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.Stores}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Stores</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="partnercustomer">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.Customers}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Customers</a>
            </li>
            <li class="nav-item cursor-pointer pnvalid" data-permission="partnerreportanalysis" [routerLinkActive]="['active']">
                <a class="nav-link" href="#" data-toggle="dropdown">Report & Analysis<i data-feather="chevron-down"
                        class="wd-15 ht-15"></i></a>
                <div class="dropdown-menu tx-13">
            <li class="nav-item pd-l-25 pnvalid" data-permission="partneractivity" [routerLinkActive]="['active']"><a
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.Activity}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    [routerLinkActive]="['active']" class="nav-link">
                    <span>Activity</span></a></li>

            <li class="nav-item pnvalid" data-permission="partnertransaction" [routerLinkActive]="['active']"><a
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.SalesHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    [routerLinkActive]="['active']" class="nav-link">
                    <span>Transaction</span></a></li>
        </div>
        </li>
        <li class="nav-item cursor-pointer pnvalid" data-permission="partnersubaccounts">
            <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.SubAccounts}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                role="tab" aria-controls="home" aria-selected="true">Sub Accounts</a>
        </li>
        <li class="nav-item cursor-pointer pnvalid" data-permission="partnermerchantupload">
            <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.BulkMerchantUpload}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                role="tab" aria-controls="home" aria-selected="true">Bulk Merchant Upload</a>
        </li>

    <li class="nav-item cursor-pointer pnvalid" data-permission="partnercustomerupload">
            <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PartnerPanel.BulkCustomerUpload}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                role="tab" aria-controls="home" aria-selected="true">Bulk Customer Upload</a>
        </li> 


</div>


</ul>
</div>


<router-outlet></router-outlet>