<!-- acquirer--merchants--list -->

<!-- <ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Customer Group</a></li>
</ol> -->

<div class="row ">
  <div class="col-md-12">
    <div class="no-gutters">
      <div class="d-sm-flex justify-content-between align-items-center bd-b pd-b-10">
        <div class=" mg-t-10">
          <h4 class="mb-0 pb-0"> Customer Groups <span class="text-muted">
              ({{Configurations_Config.TotalRecords}})</span> </h4>
          <div class="tx-12 mg-t-5  ">Upload your own customer list OR you can create custom groups from your existing
            customer
            list based on filters</div>
          <div class="tx-12 text-secondary mg-t-5">(For example - Top Spenders, Regular Customers etc)</div>

        </div>
        <div class="form-inline ">
          <!-- <div class="input-group input-group-sm">
            <input type="text" class="form-control" [value]="Configurations_Config.SearchParameter" maxlength="100"
              class="form-control" placeholder="{{ 'Common.Search' | translate }}"
              (keyup)="Configurations_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
            <div class="input-group-append">
              <button class="btn btn-outline-light" type="button"
                (click)="Configurations_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                  data-feather="search"></i> </button>
            </div>

          </div> -->

          <button class="btn btn-primary btn-sm mg-l-5" (click)="Form_Add_Show() "> Create Group </button>



        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mt-3"
    *ngFor="let TItem of Configurations_Config.Data  | paginate: { id: 'Configurations_Paginator',itemsPerPage: Configurations_Config.PageRecordLimit, currentPage: Configurations_Config.ActivePage,  totalItems: Configurations_Config.TotalRecords }">
    <div class="card text-center ht-100p">
      <div class="pd-15 ht-100p">
        <h4 class="tx-15 pb-0 mb-0 text-capitalize"> {{TItem.Title || "--"}} </h4>
        <div class="d-flex justify-content-center pd-t-20">
          <div *ngIf="!TItem.FileName" class="bd-r bd-secondary pd-r-10 cursor-pointer"
            (click)="TList_GetDetails(TItem)"> <span class=" mg-r-5"> <i class="fas fa-edit"></i>
            </span>Edit
          </div>
          <div class=" pd-l-10 cursor-pointer text-danger" (click)="DeleteConfiguration(TItem)"> <span class=" mg-r-5">
              <i class="far fa-trash-alt"></i> </span>Delete </div>

        </div>
        <!-- <div class="tx-14 text-secondary"> {{TItem.SystemName || "--"}} </div> -->
        <!-- <span class="{{TItem.StatusBadge}} wd-50 m-auto mg-t-10"> {{TItem.StatusName}}</span> -->
        <div class="tx-18 mg-t-20">


          <div class="img-group img-group-sm mg-b-5">
            <img style="margin-left: -5px !important;" class="bd" *ngFor="let img of TItem.Items"
              (error)="_HelperService.defaultImage($event)" src="{{img.IconUrl}}"
              class="img wd-40 ht-40 rounded-circle bd" [style.border-color]="TItem.StatusC">
          </div>
          <div class="tx-16 text-secondary mg-t-10"
            *ngIf="TItem.StatusCode != 'creating' && TItem.StatusCode != 'deleting'"> {{TItem.ItemCount || "0"}}
            Customers </div>
          <div class="tx-16 text-secondary mg-t-10 d-flex align-items-center justify-content-center"
            *ngIf="TItem.StatusCode == 'creating'">
            <span>
              <img style="height: 40px; width: 50px;" src="../../../../assets/img/loader.gif" alt=""> Creating Group...
            </span>
          </div>

          <div class="tx-16 text-secondary mg-t-10 d-flex align-items-center justify-content-center"
            *ngIf="TItem.StatusCode == 'deleting'">
            <span>
              <img style="height: 40px; width: 50px;" src="../../../../assets/img/loader.gif" alt=""> Deleting Group...
            </span>
          </div>

          <div *ngIf="TItem.FileName" class="tx-16 text-secondary mg-t-5"> <span class="text-success mg-r-5"><i
                class="far fa-file-excel"></i></span> {{TItem.FileName || "--"}}</div>

        </div>


      </div>
      <div class="card-footer pd-y-15 pd-x-15">
        <div class=" d-flex justify-content-center  pd-x-30">
          <button class="btn btn-primary full-width " (click)="AllCutomers(TItem)"> View Customers
          </button>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="card-footer pd-20 bd-0">
  <span class="mr-3">
    {{ 'Common.Showing' | translate }}
    <span class="bold">{{Configurations_Config.ShowingStart}} {{ 'Common.To' | translate }}
      {{Configurations_Config.ShowingEnd}}
    </span> {{ 'Common.Of' | translate }} {{Configurations_Config.TotalRecords}}
  </span>
  <span>
    {{ 'Common.Show' | translate }}
    <select class="wd-50 " [(ngModel)]="Configurations_Config.PageRecordLimit"
      (ngModelChange)="Configurations_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Limit)">
      <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimitC">
        {{TItem}}
      </option>
    </select>
  </span>
  <span class="float-right">
    <pagination-controls id="Configurations_Paginator" class="pagination pagination-space"
      (pageChange)="Configurations_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
      nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
    </pagination-controls>
  </span>

  <div class="tx-12 mg-t-15 text-primary cursor-pointer" (click)="OpenHelp()"> <span class="mg-r-5"> <i
        style="height: 18px; width: 18px;" data-feather="help-circle"> </i> </span><span>What is Customer Group?</span>
    <span> How it will help you? </span>
  </div>
</div>


<div class="modal fade" id="Form_Add_Content" role="dialog" data-backdrop="true" style="overflow-y: scroll !important;">
  <div class="modal-dialog" style="max-width: 835px !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Create New Customer Group</h5>
      </div>

      <form [formGroup]="Form_Add" (ngSubmit)="Form_Add_Process(Form_Add.value)" role="form">
        <div class="modal-body pd-b-50 pd-x-30" *ngIf="ResetFilterControls">
          <!-- <div class="p-3 b-b"> -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Customer Group Title
                  <span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="Title" maxlength="30" class="form-control"
                    [formControl]="Form_Add.controls['Title']"
                    [ngClass]="{'is-invalid':! Form_Add.controls['Title'].valid && Form_Add.controls['Title'].touched}">
                </div>
                <label class="text-danger" for="Title"
                  *ngIf=" Form_Add.controls['Title'].hasError('required') && Form_Add.controls['Title'].touched">Enter
                  Title Required</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-secondary">
                Name your campaign in maximum 30 words
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <label for=""> Add Customers to this group <span class="text-danger">*</span> </label>
            </div>

            <div class="col-md-6">
              <div class="row mg-y-15">
                <div class=" col-md-6">
                  <div
                    class="card bd  tx-12  align-items-center pd-y-20 pd-x-20  mg-r-25 text-primary cursor-pointer full-width"
                    [ngClass]="{'bg-card  text-primary bd-primary':GroupTypeCustomer == 'group', 'bg-white  text-secondary bd-secondary': GroupTypeCustomer != 'group' }"
                    style=" border-radius: 5px !important;" id="group" (click)="ShowHideButton('group')" name='group'>
                    <div><i class="fas fa-list tx-18"></i></div>
                    <div class="mg-t-5">Add from customer list</div>
                  </div>
                </div>
                <div class=" col-md-6">
                  <div class="card   full-width rounded-10 tx-12 align-items-center pd-y-20 pd-x-20 cursor-pointer"
                    [ngClass]="{'bg-card  text-primary bd-primary':GroupTypeCustomer == 'external', 'bg-white  text-secondary bd-secondary':GroupTypeCustomer != 'external' }"
                    style=" border-radius: 5px !important;" id="external" (click)="ShowHideButton('external')"
                    name='external'>
                    <div><i class="fas fa-file-csv tx-18"></i></div>
                    <div class="mg-t-5"> Upload CSV File </div>
                  </div>
                </div>




              </div>
              <!-- <div class="d-flex ">
               
                
               
              </div> -->

            </div>
            <div class="col-md-6">
              <div *ngIf="GroupTypeCustomer == 'group'">
                <div class="text-secondary">Add Customer from ThankUCash customer base</div>
                <div class="tx-12 text-secondary">
                  Simply apply filters based on your requirements and create customer group
                </div>
              </div>

              <div *ngIf="GroupTypeCustomer == 'external'">
                <div class="text-secondary">Add Customer by uploading external file</div>
                <!-- <div class="tx-12 text-secondary">
                  You can create list from existing customers available Or you can upload document (.xls)
                </div> -->
              </div>
            </div>

          </div>


          <div class="row pd-t-20" *ngIf="GroupTypeCustomer == 'group'">
            <div class="col-md-12  pd-b-20">
              <div class="">Customers available - {{Customers_Config.TotalRecords}}</div>
              <div class="tx-12 text-secondary">Customise this customer list by simply applying filters as per your
                requirements</div>

            </div>

            <div class="col-md-6">

              <div>
                <div class="form-group pb-0 mb-0">
                  <div class="form-group  mg-b-10" id="Customers_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                    <input readonly *ngIf="ResetFilterControls" type="text" placeholder="All Customers"
                      [(ngModel)]="SpentRange" [ngModelOptions]="{standalone: true}"
                      class="form-control text-secondary bg-white">
                  </div>
                  <div *ngIf="applysale">
                    <div class="pt-0 pd-b-15 d-flex justify-content-between" *ngIf="ResetFilterControls">
                      <div class=" badge badge-light pd-x-10 pd-y-5 bd bd-1 bd-gray-500 rounded-50 "
                        [hidden]="
                      !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)">
                        Spent Range -
                        <span class="mg-r-5"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_HelperService.FilterSnap.SalesRange.SalesMin
                        + "--" +
                        _HelperService.FilterSnap.SalesRange.SalesMax}}
                        <!-- <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span> -->
                      </div>

                      <div class="text-danger tx-12 cursor-pointer"
                        [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)">
                        <a (click)="RemoveFilterComponent('SalesRange')"> <i
                            class="fas fa-times tx-10 mg-r-5"></i>Clear</a>
                      </div>

                    </div>
                  </div>
                  <div class="dropdown-menu tx-13">
                    <form class=" pd-15" *ngIf="ResetFilterControls">
                      <!-- <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filter
                      </h6> -->
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="InvoiceRangeMaxAmount">Min Sale Amount</label>
                              <input type="number" min=0 name="InvoiceRangeMinAmount" maxlength="256"
                                (keypress)="_HelperService.PreventAmount($event)" class="form-control"
                                [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="InvoiceRangeMaxAmount">Max Sale Amount</label>
                              <input type="number" min=0 name="InvoiceRangeMaxAmount" maxlength="256"
                                (keypress)="_HelperService.PreventAmount($event)" class="form-control"
                                [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- <button type="button" class="btn btn-light btn-sm mr-2"
                        (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                        Reset</button> -->
                      <button (click)="CloseFilter('Other')" type="button" class="btn btn-light btn-sm mr-2"
                        data-dismiss="modal">Close</button>
                      <button [disabled]="!FilterData" type="button" class="btn btn-primary btn-sm "
                        (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other','salerange')">Apply</button>
                    </form>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div>
                <div class="form-group pb-0 mb-0">
                  <div class="form-group mg-b-10" id="Customers1_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                    <input readonly *ngIf="ResetFilterControls" type="text" placeholder="All Customers"
                      [(ngModel)]="RewardRange" [ngModelOptions]="{standalone: true}"
                      class="form-control text-secondary bg-white">

                  </div>

                  <div *ngIf="applyreward">
                    <div class="pt-0 pd-b-15 d-flex justify-content-between" *ngIf="ResetFilterControls">

                      <div class="badge badge-light pd-x-10 pd-y-5 bd bd-1 bd-gray-500 rounded-50 "
                        [hidden]="
                      !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RewardMin==0 && _HelperService.FilterSnap.SalesRange.RewardMax==10000000)">
                        <span class="mg-r-5"> <i style="width: 14px; height: 14px;" data-feather="check-circle"></i>
                        </span> Reward
                        Range - <span class="mg-r-5"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_HelperService.FilterSnap.SalesRange.RewardMin
                        + "--" +
                        _HelperService.FilterSnap.SalesRange.RewardMax}}
                        <!-- <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span> -->
                      </div>
                      <div class="text-danger tx-12 cursor-pointer"
                        [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RewardMin==0 && _HelperService.FilterSnap.SalesRange.RewardMax==10000000)">
                        <a (click)="RemoveFilterComponent('RewardRange')"><i class="fas fa-times tx-10 mg-r-5"></i>
                          Clear</a>
                      </div>


                    </div>
                  </div>
                  <div class="dropdown-menu tx-13">
                    <form class=" pd-15" *ngIf="ResetFilterControls">
                      <!-- <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filter
                      </h6> -->

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RewardRangeMinAmount">Min Reward Amount</label>
                              <input type="number" min="0" name="RewardRangeMinAmount" maxlength="256"
                                (keypress)="_HelperService.PreventAmount($event)" class="form-control"
                                [(ngModel)]="TUTr_RewardRangeMinAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RewardRangeMaxAmount">Max Reward Amount</label>
                              <input type="number" min="0" name="RewardRangeMaxAmount" maxlength="256"
                                (keypress)="_HelperService.PreventAmount($event)" class="form-control"
                                [(ngModel)]="TUTr_RewardRangeMaxAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- <button type="button" class="btn btn-light btn-sm mr-2"
                        (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                        Reset</button> -->
                      <button (click)="CloseFilter('Reward')" type="button" class="btn btn-light btn-sm mr-2"
                        data-dismiss="modal">Close</button>

                      <button [disabled]="!FilterData" type="button" class="btn btn-primary btn-sm "
                        (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other','rewardrange')">Apply</button>
                    </form>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div>
                <div class="form-group pb-0 mb-0">
                  <div class="form-group mg-b-0" id="Customers2_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                    <input readonly *ngIf="ResetFilterControls" type="text" placeholder="All Customers"
                      [(ngModel)]="ReedemRange" [ngModelOptions]="{standalone: true}"
                      class="form-control text-secondary bg-white">

                  </div>

                  <div *ngIf="applyredeem">
                    <div class="pt-0 pd-b-15 mg-t-10 d-flex justify-content-between" *ngIf="ResetFilterControls">

                      <div class="badge badge-light pd-x-10 pd-y-5 bd bd-1 bd-gray-500 rounded-50 "
                        [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RedeemMin==0 && _HelperService.FilterSnap.SalesRange.RedeemMax==10000000)">
                        <span class="mg-r-5"> <i style="width: 14px; height: 14px;" data-feather="check-circle"></i>
                        </span> Redeem
                        Range - <span class="mg-r-5"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_HelperService.FilterSnap.SalesRange.RedeemMin
                        + "--" +
                        _HelperService.FilterSnap.SalesRange.RedeemMax}}
                        <!-- <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span> -->
                      </div>

                      <div class="text-danger tx-12 cursor-pointer"
                        [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RedeemMin==0 && _HelperService.FilterSnap.SalesRange.RedeemMax==10000000)">
                        <a (click)="RemoveFilterComponent('RedeemRange')"> <i class="fas fa-times tx-10 mg-r-5"></i>
                          Clear</a>
                      </div>


                    </div>
                  </div>
                  <div class="dropdown-menu tx-13">
                    <form class="pd-15" *ngIf="ResetFilterControls">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RedeemRangeMinAmount">Min Redeem Amount</label>
                              <input type="number" min="0" name="RedeemRangeMinAmount" maxlength="256"
                                (keypress)="_HelperService.PreventAmount($event)" class="form-control"
                                [(ngModel)]="TUTr_RedeemRangeMinAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group ">
                            <div class="controls">
                              <label for="RedeemRangeMaxAmount">Max Redeem Amount</label>
                              <input type="number" min="0" name="RedeemRangeMaxAmount" maxlength="256"
                                (keypress)="_HelperService.PreventAmount($event)" class="form-control"
                                [(ngModel)]="TUTr_RedeemRangeMaxAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <button type="button" class="btn btn-light btn-sm mr-2"
                        (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                        Reset</button> -->
                      <button (click)="CloseFilter('Redeem')" type="button" class="btn btn-light btn-sm mr-2"
                        data-dismiss="modal">Close</button>

                      <button [disabled]="!FilterData" type="button" class="btn btn-primary btn-sm "
                        (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other','redeemreward')">Apply</button>
                    </form>
                  </div>
                </div>
              </div>

            </div>
            <!-- <div class="col-md-6">
              <div>
                <div class="form-group mg-b-10">
                
                  <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                    [data]="Customers_Config.StatusOptions"
                    (valueChanged)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                  </select2>
                </div>
              </div>

              <div class="pt-0 pd-b-15 d-flex justify-content-between" *ngIf="ResetFilterControls">

                <div class="badge badge-light pd-x-10 pd-y-5 bd bd-1 bd-gray-500 rounded-50 "
                  [hidden]="(_HelperService.FilterSnap.Status==0)">
                  <span class="mg-r-5"> <i style="width: 14px; height: 14px;" data-feather="check-circle"></i> </span>
                  Status : <span class=""> {{_HelperService.FilterSnap.StatusName}} </span>
              
                </div>

                <div class="text-danger tx-12 cursor-pointer" [hidden]="(_HelperService.FilterSnap.Status==0)">
                  <a (click)="RemoveFilterComponent('Status')"> <i class="fas fa-times tx-10 mg-r-5"></i>Clear</a>
                </div>
              </div>




            </div> -->
            <div class="col-md-6">
              <div>
                <div class="form-group mg-b-10 CustomInput">
                  <!-- <label>Last visit</label> -->
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptionsRDate" placeholder="Last Transaction on"
                    autocomplete="off"
                    (selected)="Customers_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>

                <div class="pt-0 pd-b-15  d-flex justify-content-between" *ngIf="ResetFilterControls">

                  <div class="badge badge-light pd-x-10 pd-y-5 bd bd-1 bd-gray-500 rounded-50 "
                    [hidden]="!_HelperService.FilterSnap.StartTime">
                    <span class="mg-r-5"> <i style="width: 14px; height: 14px;" data-feather="check-circle"></i> </span>
                    Date range : {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
                    _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
                  </div>

                  <div class="text-danger tx-12 cursor-pointer" [hidden]="(!_HelperService.FilterSnap.StartTime)">
                    <a (click)="RemoveFilterComponent('Time')"> <i class="fas fa-times tx-10 mg-r-5"></i> Clear</a>
                  </div>




                </div>
              </div>
            </div>
          </div>

          <div class="row pd-t-20" *ngIf="GroupTypeCustomer == 'external'">
            <div class="col-md-6">
              <div class="" *ngIf="ResetFilterControls">
                <div class="container d-flex justify-content-start pd-l-0 mb-0 mb-2">
                  <div class="d-flex flex-column align-items-center justify-content-start">
                    <!-- <span class="tx-50 tx-success"><i class="far fa-file-excel"></i></span> -->
                    <input type="file" id="myFile" size="50" (change)="addfile($event)" multiple="false"
                      class="cursor-pointer btn  CdragDrop"
                      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                      style="padding:35px !important;" />
                    <!-- <button (click)="onUpload()" class=" btn btn-brand-02  wd-200 mt-3"> Upload File </button> -->
                  </div>
                </div>

              </div>
              <div class=""> <a class="text-primary 12" href="../../../../assets/uploads/UploadCustomer.xlsx"
                  target="_blank"> <img class="mg-r-5" height="18" width="18" src="../../../../assets/download.svg"
                    alt="" srcset=""> Download
                  Sample File </a> </div>
            </div>
            <div class="col-md-6"></div>


          </div>

          <!-- </div> -->
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary mr-2" type="button" (click)=" Form_Add_Close()"> Close </button>

          <button type="submit" class="btn btn-primary" (click)=" Form_Add.value.OperationType='new'"
            [disabled]="! Form_Add.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ 'Common.CreateGroup' | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
              translate
              }}...
            </span>
          </button>
        </div>
      </form>


    </div>
  </div>
</div>
<div class="modal fade" id="Form_Edit_Content" role="dialog" data-backdrop="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog" style="max-width: 835px !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Update Customer Group</h5>
      </div>

      <form [formGroup]="Form_Edit" (ngSubmit)="Form_Edit_Process(Form_Edit.value)" role="form">
        <div class="modal-body pd-b-50 pd-x-30" *ngIf="ResetFilterControls">
          <!-- <div class="p-3 b-b"> -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Customer Group Title
                  <span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="Title" maxlength="30" class="form-control"
                    [formControl]="Form_Edit.controls['Title']" [(ngModel)]="_Configuration.Title"
                    [ngClass]="{'is-invalid':! Form_Edit.controls['Title'].valid && Form_Edit.controls['Title'].touched}">
                </div>
                <label class="text-danger" for="Title"
                  *ngIf=" Form_Edit.controls['Title'].hasError('required') && Form_Edit.controls['Title'].touched">Enter
                  Title Required</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-secondary">
                Name your campaign in maximum 30 words
              </div>
            </div>

          </div>

          <!-- <div class="row">
            <div class="col-md-12">
              <label for=""> Add Customers to this group <span class="text-danger">*</span> </label>
            </div>

            <div class="col-md-6">
              <div class="row mg-y-15">
                <div class=" col-md-6">
                  <div
                    class="card bd  tx-12  align-items-center pd-y-20 pd-x-20  mg-r-25 text-primary cursor-pointer full-width"
                    [ngClass]="{'bg-card  text-primary bd-primary':GroupTypeCustomer == 'group', 'bg-white  text-secondary bd-secondary': GroupTypeCustomer != 'group' }"
                    style=" border-radius: 5px !important;" id="group" (click)="ShowHideButton('group')" name='group'>
                    <div><i class="fas fa-list tx-18"></i></div>
                    <div class="mg-t-5">Add from customer list</div>
                  </div>
                </div>
                <div class=" col-md-6">
                  <!- <div class="card   full-width rounded-10 tx-12 align-items-center pd-y-20 pd-x-20 cursor-pointer"
                    [ngClass]="{'bg-card  text-primary bd-primary':GroupTypeCustomer == 'external', 'bg-white  text-secondary bd-secondary':GroupTypeCustomer != 'external' }"
                    style=" border-radius: 5px !important;" id="external" (click)="ShowHideButton('external')"
                    name='external'>
                    <div><i class="fas fa-file-csv tx-18"></i></div>
                    <div class="mg-t-5"> Upload CSV File </div>
                  </div> ->
                </div>




              </div>
            </div>
            <div class="col-md-6">
              <div *ngIf="GroupTypeCustomer == 'group'">
                <div class="text-secondary">Add Customer from ThankUCash customer base</div>
                <div class="tx-12 text-secondary">
                  Simply apply filters based on your requirements and create customer group
                </div>
              </div>

              <div *ngIf="GroupTypeCustomer == 'external'">
                <div class="text-secondary">Add Customer by uploading external file</div>
                <!-<div class="tx-12 text-secondary">
                  You can create list from existing customers available Or you can upload document (.xls)
                </div> ->
              </div>
            </div>

          </div> -->

          <div class="row pd-t-20">
            <div class="col-md-12">
              <label for=""> Applied Filters </label>
            </div>
            <div class="col-md-12">
              <div *ngFor="let conditions of FilterConditions">
                <div class="row pd-b-3" style="color:blue" *ngIf="conditions.Name == 'Date Range'">
                  <div class="col-md-3"> <span> <i *ngIf="conditions.Name == 'Date Range'"
                        style="width: 14px; height: 14px;" data-feather="check-circle"></i></span> Date Range :</div>
                  <div *ngIf=" this.SplitString == 'null'  ||  this.SplitString == undefined" class="col-md-9">
                    {{_HelperService.GetDateS(startdata)}} - {{_HelperService.GetDateS(enddate)}} </div>
                  <div *ngIf=" this.SplitString != 'null'  &&  this.SplitString != undefined" class="col-md-9">
                    {{conditions.Value}}</div>

                </div>

                <div class="row pd-b-3" style="color:blue" *ngIf="conditions.Name == 'Invoice Range'">
                  <div class="col-md-3">Spent Range :</div>
                  <div class="col-md-8">{{conditions.Value}} </div>
                </div>


                <div class="row pd-b-3" style="color:blue" *ngIf="conditions.Name == 'Reward Range'">
                  <div class="col-md-3">Reward Range :</div>
                  <div class="col-md-8">{{conditions.Value}} </div>
                </div>


                <div class="row pd-b-3" style="color:blue" *ngIf="conditions.Name == 'Redeem Range'">
                  <div class="col-md-3">Redeem Range :</div>
                  <div class="col-md-8">{{conditions.Value}}</div>
                </div>


                <!-- 
                <div class="badge badge-light pd-x-10 pd-y-5 bd bd-1 bd-gray-500 rounded-50 mg-t-10"
                  *ngIf="conditions.Name == 'Date Range'"> Date Range : {{conditions.Value}} </div>
                <div class="badge badge-light pd-x-10 pd-y-5 bd bd-1 bd-gray-500 rounded-50 mg-t-10"
                  *ngIf="conditions.Name == 'Invoice Range'"> Sales Range : {{conditions.Value}} </div>
                <div class="badge badge-light pd-x-10 pd-y-5 bd bd-1 bd-gray-500 rounded-50 mg-t-10"
                  *ngIf="conditions.Name == 'Reward Range'"> Reward Range : {{conditions.Value}} </div>
                <div class="badge badge-light pd-x-10 pd-y-5 bd bd-1 bd-gray-500 rounded-50 mg-t-10"
                  *ngIf="conditions.Name == 'Redeem Range'"> Redeem Range : {{conditions.Value}} </div> -->

              </div>
            </div>

          </div>


          <div class="row pd-t-10">
            <div class="col-md-12">
              <label for=""> Customers Available - {{TotalCustomerCount}}</label>
            </div>
          </div>


          <div class="row pd-t-20" *ngIf="GroupTypeCustomer == 'group'">
            <!-- <div class="col-md-12  pd-b-20">
              <div class="">All Customers available - {{Customers_Config.TotalRecords}}</div>
              <div class="tx-12 text-secondary">Customise this customer list by simply applying filters as per your
                requirements</div>

            </div> -->

            <div class="col-md-6">

              <div>
                <div class="form-group pb-0 mb-0">
                  <div class="form-group  mg-b-10" id="Customers_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                    <input readonly *ngIf="ResetFilterControls" type="text" placeholder="All Customers"
                      [(ngModel)]="SpentRange" [ngModelOptions]="{standalone: true}"
                      class="form-control text-secondary bg-white">
                  </div>

                  <div class="pt-0 pd-b-15 d-flex justify-content-between" *ngIf="ResetFilterControls">
                    <div class=" badge badge-light pd-x-10 pd-y-5 bd bd-1 bd-gray-500 rounded-50 "
                      [hidden]="
                      !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)">
                      Spent Range -
                      {{_HelperService.FilterSnap.SalesRange.SalesMin + "--" +
                      _HelperService.FilterSnap.SalesRange.SalesMax}}
                      <!-- <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span> -->
                    </div>

                    <div class="text-danger tx-12 cursor-pointer"
                      [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)">
                      <a (click)="RemoveFilterComponent('SalesRange')"> <i
                          class="fas fa-times tx-10 mg-r-5"></i>Clear</a>
                    </div>

                  </div>
                  <div class="dropdown-menu tx-13">
                    <form class=" pd-15" *ngIf="ResetFilterControls">
                      <!-- <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filter
                      </h6> -->
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="InvoiceRangeMaxAmount">Min Sale Amount</label>
                              <input type="number" min=0 name="InvoiceRangeMinAmount" maxlength="256"
                                (keypress)="_HelperService.PreventAmount($event)" class="form-control"
                                [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="InvoiceRangeMaxAmount">Max Sale Amount</label>
                              <input type="number" min=0 name="InvoiceRangeMaxAmount" maxlength="256"
                                (keypress)="_HelperService.PreventAmount($event)" class="form-control"
                                [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- <button type="button" class="btn btn-light btn-sm mr-2"
                        (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                        Reset</button> -->
                      <button (click)="CloseFilter('Other')" type="button" class="btn btn-light btn-sm mr-2"
                        data-dismiss="modal">Close</button>
                      <button [disabled]="!FilterData" type="button" class="btn btn-primary btn-sm "
                        (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div>
                <div class="form-group pb-0 mb-0">
                  <div class="form-group mg-b-10" id="Customers1_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                    <input readonly *ngIf="ResetFilterControls" type="text" placeholder="All Customers"
                      [(ngModel)]="RewardRange" [ngModelOptions]="{standalone: true}"
                      class="form-control text-secondary bg-white">

                  </div>

                  <div class="pt-0 pd-b-15 d-flex justify-content-between" *ngIf="ResetFilterControls">

                    <div class="badge badge-light pd-x-10 pd-y-5 bd bd-1 bd-gray-500 rounded-50 "
                      [hidden]="
                      !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RewardMin==0 && _HelperService.FilterSnap.SalesRange.RewardMax==10000000)">
                      <span class="mg-r-5"> <i style="width: 14px; height: 14px;" data-feather="check-circle"></i>
                      </span> Reward
                      Range - {{_HelperService.FilterSnap.SalesRange.RewardMin + "--" +
                      _HelperService.FilterSnap.SalesRange.RewardMax}}
                      <!-- <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span> -->
                    </div>
                    <div class="text-danger tx-12 cursor-pointer"
                      [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RewardMin==0 && _HelperService.FilterSnap.SalesRange.RewardMax==10000000)">
                      <a (click)="RemoveFilterComponent('RewardRange')"><i class="fas fa-times tx-10 mg-r-5"></i>
                        Clear</a>
                    </div>


                  </div>
                  <div class="dropdown-menu tx-13">
                    <form class=" pd-15" *ngIf="ResetFilterControls">
                      <!-- <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filter
                      </h6> -->

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RewardRangeMinAmount">Min Reward Amount</label>
                              <input type="number" min="0" name="RewardRangeMinAmount" maxlength="256"
                                (keypress)="_HelperService.PreventAmount($event)" class="form-control"
                                [(ngModel)]="TUTr_RewardRangeMinAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RewardRangeMaxAmount">Max Reward Amount</label>
                              <input type="number" min="0" name="RewardRangeMaxAmount" maxlength="256"
                                (keypress)="_HelperService.PreventAmount($event)" class="form-control"
                                [(ngModel)]="TUTr_RewardRangeMaxAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- <button type="button" class="btn btn-light btn-sm mr-2"
                        (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                        Reset</button> -->
                      <button (click)="CloseFilter('Reward')" type="button" class="btn btn-light btn-sm mr-2"
                        data-dismiss="modal">Close</button>

                      <button [disabled]="!FilterData" type="button" class="btn btn-primary btn-sm "
                        (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div>
                <div class="form-group pb-0 mb-0">
                  <div class="form-group mg-b-0" id="Customers2_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                    <input readonly *ngIf="ResetFilterControls" type="text" placeholder="All Customers"
                      [(ngModel)]="ReedemRange" [ngModelOptions]="{standalone: true}"
                      class="form-control text-secondary bg-white">

                  </div>

                  <div class="pt-0 pd-b-15 mg-t-10 d-flex justify-content-between" *ngIf="ResetFilterControls">

                    <div class="badge badge-light pd-x-10 pd-y-5 bd bd-1 bd-gray-500 rounded-50 "
                      [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RedeemMin==0 && _HelperService.FilterSnap.SalesRange.RedeemMax==10000000)">
                      <span class="mg-r-5"> <i style="width: 14px; height: 14px;" data-feather="check-circle"></i>
                      </span> Redeem
                      Range - {{_HelperService.FilterSnap.SalesRange.RedeemMin + "--" +
                      _HelperService.FilterSnap.SalesRange.RedeemMax}}
                      <!-- <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                          class="fas fa-times"></i> </span> -->
                    </div>

                    <div class="text-danger tx-12 cursor-pointer"
                      [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RedeemMin==0 && _HelperService.FilterSnap.SalesRange.RedeemMax==10000000)">
                      <a (click)="RemoveFilterComponent('RedeemRange')"> <i class="fas fa-times tx-10 mg-r-5"></i>
                        Clear</a>
                    </div>


                  </div>
                  <div class="dropdown-menu tx-13">
                    <form class="pd-15" *ngIf="ResetFilterControls">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="RedeemRangeMinAmount">Min Redeem Amount</label>
                              <input type="number" min="0" name="RedeemRangeMinAmount" maxlength="256"
                                (keypress)="_HelperService.PreventAmount($event)" class="form-control"
                                [(ngModel)]="TUTr_RedeemRangeMinAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group ">
                            <div class="controls">
                              <label for="RedeemRangeMaxAmount">Max Redeem Amount</label>
                              <input type="number" min="0" name="RedeemRangeMaxAmount" maxlength="256"
                                (keypress)="_HelperService.PreventAmount($event)" class="form-control"
                                [(ngModel)]="TUTr_RedeemRangeMaxAmount"
                                (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <button (click)="CloseFilter('Redeem')" type="button" class="btn btn-light btn-sm mr-2"
                        data-dismiss="modal">Close</button>

                      <button [disabled]="!FilterData" type="button" class="btn btn-primary btn-sm "
                        (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-md-6">
              <div>
                <div class="form-group mg-b-10 CustomInput" style="position:relative">
                  <!-- <label>Last visit</label> -->
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptionsRDate" placeholder="Select Date"
                    autocomplete="off"
                    (selected)="Customers_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>

                <div class="pt-0 pd-b-15  d-flex justify-content-between" *ngIf="ResetFilterControls">

                  <div class="badge badge-light pd-x-10 pd-y-5 bd bd-1 bd-gray-500 rounded-50 "
                    [hidden]="!_HelperService.FilterSnap.StartTime">
                    <span class="mg-r-5"> <i style="width: 14px; height: 14px;" data-feather="check-circle"></i> </span>
                    Date range : {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
                    _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
                  </div>

                  <div class="text-danger tx-12 cursor-pointer" [hidden]="(!_HelperService.FilterSnap.StartTime)">
                    <a (click)="RemoveFilterComponent('Time')"> <i class="fas fa-times tx-10 mg-r-5"></i> Clear</a>
                  </div>




                </div>
              </div>
            </div>
          </div>



          <!-- </div> -->
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary mr-2" type="button" (click)=" Form_Edit_Close()"> Close </button>

          <button type="submit" class="btn btn-primary" (click)=" Form_Edit.value.OperationType='new'"
            [disabled]="! Form_Edit.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ 'Common.Update' | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
              translate
              }}...
            </span>

          </button>
        </div>
      </form>


    </div>
  </div>
</div>


<div id="HelpContent" class="modal fade" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">What is Customer Group?</h5>
      </div>
      <div class="modal-body pd-x-80 pd-y-30">
        <div class="text-center tx-indigo">
          <div>
            <img src="./../../../../assets/images/target.png" alt="" srcset="">
          </div>
          <div class="mg-t-15">
            Easily find and save, customised multiple Target Audience sectors from your customer list
          </div>
          <div>
            OR
          </div>
          <div>
            You can upload your own customer list
          </div>
        </div>

        <div class="mg-t-30">
          <label class="tx-medium" for="">What is Customer Group?</label>

          <div>
            It is particular customised target segment of customers from your customers list. You can create it by
            applying simple filters.You can easily assign these groups while Camping creation.
          </div>

          <div class="mg-t-20">Also, you can upload external customer list.</div>
        </div>

        <div class="mg-t-30">
          <label class="tx-medium" for="">How it helps?</label>

          <div>
            - If you create a customer group for particular campaign, you can use it later easily (with updated customer
            list).
          </div>

          <div class="mg-t-20">
            - No need to create or update same list again and again.
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ "Common.Close" | translate }}
        </button>


      </div>
    </div>

  </div>
</div>

<div id="Success" class="modal fade" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title">What is Customer Group?</h5>
      </div> -->
      <div class="modal-body  text-center pd-x-80 pd-y-30">

        <div class="text-success tx-60"> <i class="fas fa-check-circle"></i> </div>

        <div class="mg-t-15 tx-16">New Customers Group</div>
        <div class="mg-t-10 tx-22 tx-medium">Created Successfully</div>

        <div class="mg-t-30">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ "Common.Close" | translate }}
          </button>


        </div>

      </div>

    </div>

  </div>
</div>