<!-- acquirer--merchant--sales -->


<div class="card">
  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <span class="tx-semibold mg-t-10">Referrals by this customer<span class="text-muted tx-normal">
          ({{TUTr_Config.TotalRecords}})</span></span>


            <div class="box-header px-3 pd-t-15 pd-b-5 d-flex align-items-center justify-content-between">
              <!-- <div class="form-inline ">
                <div class="input-group input-group-sm mr-3">
                  <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100"
                    class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="TUTr_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                  <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button"
                      (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                        data-feather="search"></i> </button>
                  </div>
                </div>
          
          
              </div>
          
              <div class="d-flex ml-auto">
                <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                  [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
                  <i data-feather="minus-circle"></i> </button>
          
                <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                  <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                    (valueChanged)="Active_FilterValueChanged( $event )">
                  </select2>
                </div>
                <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                  [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
                _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
                    data-feather="plus-circle"></i> </button>
          
              </div> -->
          
              <nav class="nav nav-with-icon tx-20">
                <div class="dropdown dropleft">
                  <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                  <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                      <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                        <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'"
                          (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                          <i class="fas fa-sort-alpha-down-alt"></i>
                        </div>
                        <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'"
                          (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                          <i class="fas fa-sort-alpha-up-alt"></i>
                        </div>
                      </h6>
                      <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                        *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
                        (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                        {{TItem.Name}}
                      </a>
          
                      
                      <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                        (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                        Reset</button>
                      <button type="button" class="btn btn-primary btn-sm mg-t-20"
                        (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                  </div>
                </div>
                <div class="dropdown dropleft">
                  <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
                  <div class="dropdown-menu pd-0 tx-13">
                    <form class="wd-400" style="height: 350px;">
                      <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
                        Filters
                      </h6>
                      <div class="pd-25" style="overflow: auto; height: 80vh;" *ngIf="ResetFilterControls">
                        <div>
                          <div class="form-group position-relative" id="Referrals_by_this_customer" >
                            <label>Date</label>
                            <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                              [options]="_HelperService.AppConfig.DateRangeOptionsFn('#Referrals_by_this_customer')"
                              (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                          </div>
                        </div>
                        <div>
                          <div class="form-group">
                            <label>Status</label>
                            <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                              [data]="TUTr_Config.StatusOptions"
                              (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                            </select2>
                          </div>
                        </div>
                        
                     
          
                      </div>
          
                      <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
                        style="position: fixed; bottom:0%; margin-top: -2.5em ;">
                        <button type="button" class="btn btn-light btn-sm mr-2"
                          (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                          Reset</button>
                        <button type="button" class="btn btn-primary btn-sm "
                          (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- <a class="nav-link ml-2 RefreshColor"
                  (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                    data-feather="refresh-cw"></i> </a> -->
              </nav>
            </div>
      </div>
    </div>
  </div>
  
  <div class="pt-0 pd-l-15 pd-b-5">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status=='')">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort2')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:TItem.data[0].Name}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
  </div>

  <div class="pt-0 pd-l-15 pd-b-5">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
      Sales Range
      [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" + _HelperService.FilterSnap.SalesRange.SalesMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RedeemMin==0 && _HelperService.FilterSnap.SalesRange.RedeemMax==10000000)" (click)="RemoveFilterComponent('RedeemRange')">
      Redeem
      Range [{{_HelperService.FilterSnap.SalesRange.RedeemMin + "--" + _HelperService.FilterSnap.SalesRange.RedeemMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
  </div>

  <div class="card-body p-0">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
      <thead>
        <tr>
          <th class="text-center">
          </th>
          <th class="">Referral Customer</th>
          <th class="td-date">App Downloaded on</th>
          <!-- <th>Customer</th> -->
          <!-- <th>Transaction type</th> -->
          <th class="">Last Activity on APP
          </th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
               let TItem of (TUTr_Config.Data
                 | paginate
                   : {
                       id: 'TUTr_Paginator',
                       itemsPerPage: TUTr_Config.PageRecordLimit,
                       currentPage: TUTr_Config.ActivePage,
                       totalItems: TUTr_Config.TotalRecords
                     })
             ">
             <td class="text-center">
              <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
                class="img wd-40 ht-40 rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
            </td>

             <!-- <td class="text-center" *ngIf="ColumnConfig[0].Value">
              <img class="br" (error)="_HelperService.defaultImage($event)"  src="https://s3.eu-west-2.amazonaws.com/cdn.thankucash.com/defaults/defaulticon.png"
                class="img wd-40 ht-40 rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
            </td> -->

           

          <td>
            <div>{{ TItem.DisplayName || "--" }} </div>
            </td>
     
          <td>
            <div> {{ TItem.CreateDateD || "--" }}</div>
            <div class="tx-12 text-secondary">{{TItem.CreateDateT || "--" }}</div>
          </td>

          <td>
            <div>
            
              {{ TItem.LastActivityDateD || "--" }}
            </div>

            <div class="tx-12 text-secondary">
            
              {{ TItem.LastActivityDateT || "--" }}
            </div>
          </td>
         
         
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TUTr_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
        (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
        (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>