<!-- <div class="card"> -->
<div class="pd-x-10">
  <ol class="breadcrumb df-breadcrumbs mg-b-10">

    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
        [routerLinkActive]="['active']">Analytics
      </a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">Merchant
        Analytics
      </a></li>
  </ol>
</div>

<div class="pd-x-10">
  <div class="row  row-xs mg-lg-b-12 d-flex  justify-content-between align-items-center">
    <div class="">
      <div class="form-group  mb-0 pb-0 wd-200">
        <input type="text" autocomplete="off" class="form-control form-daterangepicker full-width" name="daterangeInput"
          daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsCustom"
          (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
      </div>

    </div>

    <div>
      <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
        <li class="list-inline-item d-flex align-items-center">
          <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
          <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
            {{_Sale.ActualStartDate | date :["dd LLL yyyy"]}} - {{_Sale.ActualEndDate | date :["dd LLL yyyy"]}}</span>
        </li>
        <li class="btn btn-white cursor-pointer" (click)="htmltoPDF()"> <i data-feather="printer" class="mg-r-5"></i>
          Print </li>
        <!-- <li class="list-inline-item d-flex align-items-center mg-l-5">
        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
        <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Sale.CompareStartDate | date :["dd
          LLL yyyy"]}} -  {{_Sale.CompareEndDate | date :["dd
          LLL yyyy"]}}</span>
      </li> -->

      </ul>
    </div>

  </div>
</div>
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-2">
  <div class="d-flex justify-content-between ">
    <div class="form-group  mb-0 pb-0 wd-200">
      <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
        [options]="_HelperService.AppConfig.DateRangeOptionsCustom"
        (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    </div>



  </div>

</div> -->
<div class="pd-x-10 pd-t-10">

  <div class="row row-xs mg-b-10">
    <div class="col-sm-6 col-lg-3 ">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active Merchants</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
            {{MerchantActivity.Active ||"0"}}
          </h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
        </div>
        <p class="tx-12 text-secondary mg-b-0"> Among <span class="tx-dark"> {{MerchantActivity.Total ||"0"}} </span>
          Total Merchants</p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Idle Merchants</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
            {{MerchantActivity.Idle || "0"}} </h3>

        </div>
        <p class="tx-12 text-secondary mg-b-0"> Merchants which aren’t giving rewards from <span class="tx-dark"> last
           15
            days </span></p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">LOST Merchants</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
            {{MerchantActivity.Dead ||"0"}}
          </h3>
        </div>
        <p class="tx-12 text-secondary mg-b-0">Merchants which aren’t giving rewards <span class="tx-dark">last 2
            months
          </span> </p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Newly Registered</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
            {{MerchantActivity.New ||"0"}}
          </h3>
        </div>
        <p class="tx-12 text-secondary mg-b-0">Merchants which newly registered</p>
      </div>
    </div><!-- col -->
  </div>


  <div class="row row-xs mg-t-10">
    <div class="col-md-8">


      <div class="card ht-100p">
        <div class="card-header">
          <ul class="nav nav-line  d-flex" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Merchants by Sales Range
                <div class="tx-12"> Number of merchants by sales range </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Merchants by Reward distribution Range
                <div class="tx-12"> Number of merchants by sales range </div>
              </a>
            </li>

          </ul>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active ht-100p" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <canvas height="110" baseChart #RewardPlot="base-chart"
                    [colors]="_HelperService._UserOverviewPlot.SaleColors" [datasets]="DataSales" [labels]="SalesLabels"
                    [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                    [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                    [options]="_HelperService._UserOverviewPlot.MerchantChartTypeBarHOptions"></canvas>

                  <div class="pd-20  d-flex justify-content-between">

                    <div>
                      <div class="tx-18 text-success">{{SaleElement1.Count || "0"}}</div>
                      <div class="tx-12">Less Than {{SaleElement1.Title || "0"}}</div>
                    </div>
                    <div>
                      <div class="tx-18 tx-teal">{{SaleElement2.Count || "0"}}</div>
                      <div class="tx-12"> {{SaleElement2.Title || "0"}}</div>
                    </div>
                    <div>
                      <div class="tx-18 tx-verve">{{SaleElement3.Count || "0"}}</div>
                      <div class="tx-12"> {{SaleElement3.Title || "0"}}</div>
                    </div>
                    <div>
                      <div class="tx-18 text-primary">{{SaleElement4.Count || "0"}}</div>
                      <div class="tx-12">More Than  {{SaleElement4.Title || "0"}}</div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade ht-100p" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <canvas height="110" baseChart #RewardPlot="base-chart"
                    [colors]="_HelperService._UserOverviewPlot.SaleColors" [datasets]="DataReward"
                    [labels]="RewardLabels" [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                    [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                    [options]="_HelperService._UserOverviewPlot.MerchantChartTypeBarHOptions"></canvas>

                  <div class="pd-20  d-flex justify-content-between">

                    <div>
                      <div class="tx-18 text-success">{{RewardElement1.Count || "0"}}</div>
                      <div class="tx-12"> Less Than {{RewardElement1.Title || "0"}}
                      </div>

                    </div>
                    <div>
                      <div class="tx-18 tx-teal">{{RewardElement2.Count || "0"}}</div>
                      <div class="tx-12">{{RewardElement2.Title || "0"}}
                      </div>

                    </div>
                    <div>
                      <div class="tx-18 tx-verve">{{RewardElement3.Count || "0"}}</div>
                      <div class="tx-12">{{RewardElement3.Title || "0"}}
                      </div>

                    </div>
                    <div>
                      <div class="tx-18 text-primary">{{RewardElement4.Count || "0"}}</div>
                      <div class="tx-12">More Than {{RewardElement4.Title || "0"}}</div>

                    </div>

                  </div>
                </div>

              </div>


            </div>


          </div>

        </div>

      </div>
    </div>
  

    <div class="col-md-4">
      <div class="card ht-100p">
        <div
          class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
          <h5 class="mg-b-5 tx-14 ">Top Merchant by Reward Distribution <br>
          </h5>
        </div>
        <ul class="list-group list-group-flush tx-14" *ngFor="let TItem of TopRewards">
          <li (click)="MerchantRoute(TItem)" class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div>
              <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
                class="img wd-40 ht-40 rounded-5 bd bd-2 ">
            </div>
            <div class="pd-l-10">
              <p class="mg-b-0">{{TItem.DisplayName || "--"}}</p>
              <small class="mg-b-0 tx-12 text-secondary">Registered On {{TItem.CreateDate | date :["dd-MM-yyyy"] ||
                "--"}}</small>

            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1 d-flex">
                  <span class=" text-sm mg-r-2"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{TItem.Amount | number: "1.2-2"
                  ||
                  "--"}} <span class="mg-l-5"> <i class="fas fa-chevron-right text-secondary"></i> </span>
                </h5>

              </nav>
            </div>
          </li>

        </ul>

      </div>
    </div>

  </div>


  <div class="row row-xs mg-t-10">
    <div class="col-md-8">


      <div class="card ht-100p">
        <div class="card-header">
          <div> Merchants by Top 4 Categories </div>
          <div class="tx-12 text-secondary">
            Number of merchants selling Top 4 categories
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <canvas height="110" baseChart #RewardPlot="base-chart"
                [colors]="_HelperService._UserOverviewPlot.RewardColors" [datasets]="MerchantCategotries"
                [labels]="SalesLabels" [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                [options]="_HelperService._UserOverviewPlot.MerchantChartTypeBarHOptions"></canvas>
              <div class="pd-20  d-flex justify-content-between">

                <div>
                  <div class="tx-18 tx-MasterCard">{{CategoryElement1.Count || "0"}}</div>
                  <div class="tx-12 tx-uppercase">{{CategoryElement1.Name || "--"}}</div>

                </div>
                <div>
                  <div class="tx-18 tx-teal">{{CategoryElement2.Count || "0"}}</div>
                  <div class="tx-12 tx-uppercase">{{CategoryElement2.Name || "--"}}</div>

                </div>
                <div>
                  <div class="tx-18 tx-verve">{{CategoryElement3.Count || "0"}}</div>
                  <div class="tx-12 tx-uppercase">{{CategoryElement3.Name || "--"}}</div>

                </div>
                <div>
                  <div class="tx-18 text-primary">{{CategoryElement4.Count || "0"}}</div>
                  <div class="tx-12 tx-uppercase">{{CategoryElement4.Name || "--"}}</div>

                </div>

              </div>



            </div>


          </div>

        </div>

      </div>
    </div>
  
    <div class="col-md-4">


      <div class="card ht-100p">
        <div
          class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
          <h5 class="mg-b-5 tx-14 ">Top Merchants By Visits <br>
          </h5>
        </div>
        <ul class="list-group list-group-flush tx-14" *ngFor="let TItem of MerchantsVisit">
          <li (click)="MerchantRoute(TItem)" class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div>
              <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
                class="img wd-40 ht-40 rounded-5 bd bd-2 ">
            </div>
            <div class="pd-l-10">
              <p class="mg-b-0">{{TItem.DisplayName || "--"}}</p>
              <small class="mg-b-0 tx-12 text-secondary">Registered On {{TItem.CreateDate | date :["dd-MM-yyyy"] ||
                "--"}}</small>

            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1 d-flex">
                  {{TItem.Count || "0"}}  <span class="mg-l-5"> <i class="fas fa-chevron-right text-secondary"></i>  </span>
                </h5>


              </nav>
            </div>
          </li>

        </ul>

      </div>

    </div>
    
  </div>


  <div class="row row-xs mg-t-10">
    <div class="col-md-8">


      <div class="card ht-100p">
        <div class="card-header">
          <div> Merchants By Location</div>

        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <div class="agm">
                <agm-map style="height: 350px !important;" [latitude]='lat' [longitude]='long' [zoom]='zoom'
                  [styles]="_HelperService.darkStyle">
                  <agm-marker *ngFor="let marker of StoresList_Config.Data ; let i = index" [latitude]="marker.Latitude"
                    [longitude]="marker.Longitude"
                    [iconUrl]="{
                      url:  '../../../../../assets/img/Pin.svg',
                      scaledSize: {
                          width: 25,
                          height: 40
                      }
                  }"
                
                  (mouseOver)="onMouseOver(infoWindow, $event)" 
                  (mouseOut)="onMouseOut(infoWindow, $event)">
                    <agm-info-window #infoWindow>
                      
                      <div class="card" style="overflow:hidden;">
                        <img class="card-img-top" src="{{marker.IconUrl}}" alt="Card image " style="height:50px ;">
                        <div class="card-body " style="padding: 5px;" >
                          <h5 class="card-title mb-0 ">{{ marker.DisplayName }}</h5>
                          
                         
                        </div>
                      </div>
                    </agm-info-window>
                  </agm-marker>



                </agm-map>
              </div>

            </div>


          </div>

        </div>

      </div>
    </div>
  


    <div class="col-md-4">
      <div class="card ht-100p">
        <div
          class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
          <h5 class="mg-b-5 tx-14 ">Top Merchant by Sales <br>
          </h5>
        </div>
        <ul class="list-group list-group-flush tx-14" *ngFor="let TItem of _GetoverviewSummary">
          <li (click)="MerchantRoute(TItem)" class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div>
              <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
                class="img wd-40 ht-40 rounded-10 bd bd-2 border-secondary">
            </div>
            <div class="pd-l-10">
              <p class="mg-b-0">{{TItem.DisplayName || "--"}}</p>
              <small class="mg-b-0 tx-12 text-secondary">Registered On {{TItem.CreateDate | date :["dd-MM-yyyy"] ||
                "--"}}</small>

            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1 d-flex">
                  <span class=" text-sm mg-r-2"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{TItem.InvoiceAmount | number:
                  "1.2-2"
                  || "--"}} <span class="mg-l-5"> <i class="fas fa-chevron-right text-secondary"></i>  </span>
                </h5>

                <!-- <a class="nav-link d-none d-sm-block"><i class="fas fa-chevron-right text-secondary text-secondary"></i> </a> -->
              </nav>
            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>


  <div class="row row-xs mg-t-10">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-4 mg-t-10 mg-lg-t-0">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div>
            POS Activity
            <div class="text-secondary tx-12"> Today’s POS Activity </div>
          </div>



          <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
            <li class="text-center  mg-r-25">
              <span class="d-block  m-auto wd-15 ht-15 bg-success rounded"></span>
              <div class="tx-sans    tx-medium tx-color-03 tx-13">
                Active</div>
            </li>
            <li class="text-center  mg-r-25">
              <span class="d-block m-auto wd-15 ht-15 bg-MasterCard rounded"></span>
              <div class="tx-sans  tx-13  tx-medium tx-color-03"> Idle </div>
            </li>
            <li class="text-center mg-r-25">
              <span class="d-block m-auto wd-15 ht-15 bg-danger rounded"></span>
              <div class="tx-sans  tx-13  tx-medium tx-color-03"> Dead </div>
            </li>
            <li class="text-center ">
              <span class="d-block m-auto wd-15 ht-15 bg-secondary rounded"></span>
              <div class="tx-sans  tx-13  tx-medium tx-color-03"> In-active </div>
            </li>

          </ul>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <div>
                <canvas height="110" baseChart #RewardPlot="base-chart"
                  [colors]="_HelperService._UserOverviewPlot.Colors"
                  [datasets]="_HelperService._TerminalStatusCountArray" [labels]="StoreLabel"
                  [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                  [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                  [options]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions"></canvas>

              </div>

            </div>
            <div class="col-md-3 ">
              <div class="text-success tx-18 mt-3 tx-rubik">
                {{ _HelperService._TerminalStatusCount.Active | number: "1.0-1" || "--" }} </div>
              <div class="tx-12"> ACTIVE POS </div>

              <div class="tx-MasterCard tx-18 mt-3 tx-rubik">
                {{ _HelperService._TerminalStatusCount.Idle | number: "1.0-1" || "--" }} </div>
              <div class="tx-12"> IDLE POS </div>

              <div class="text-danger tx-18 mt-3 tx-rubik">
                {{ _HelperService._TerminalStatusCount.Dead | number: "1.0-1" || "--" }} </div>
              <div class="tx-12"> DEAD POS </div>

              <div class=" text-secondary  tx-18 mt-3 tx-rubik">
                {{ _HelperService._TerminalStatusCount.Unused | number: "1.0-1" || "--" }} </div>
              <div class="tx-12"> IN-ACTIVE POS </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="ViewMerchantAnalytics" id="ViewMerchantAnalytics" class="pd-x-10 pd-t-10">

  <div class="row row-xs mg-b-10">
    <div class="col-sm-6 col-lg-3 ">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active Merchants</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
            {{MerchantActivity.Active ||"0"}}
          </h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->
        </div>
        <p class="tx-12 text-secondary mg-b-0"> Among <span class="tx-dark"> {{MerchantActivity.Total ||"0"}} </span>
          Total Merchants</p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Idle Merchants</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
            {{MerchantActivity.Idle || "0"}} </h3>

        </div>
        <p class="tx-12 text-secondary mg-b-0"> Merchants which aren’t giving rewards from <span class="tx-dark"> last
            --
            days </span></p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">LOST Merchants</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
            {{MerchantActivity.Dead ||"0"}}
          </h3>
        </div>
        <p class="tx-12 text-secondary mg-b-0">Merchants which aren’t giving rewards <span class="tx-dark">last --
            months
          </span> </p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Newly Registered</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
            {{MerchantActivity.New ||"0"}}
          </h3>
        </div>
        <p class="tx-12 text-secondary mg-b-0">Merchants which newly registered</p>
      </div>
    </div><!-- col -->
  </div>


  <div class="row row-xs mg-t-10">
    <div class="col-md-8">


      <div class="card ht-100p">
        <div class="card-header">
          <ul class="nav nav-line  d-flex" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Merchants by Sales Range
                <div class="tx-12"> Number of merchants by sales range </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Merchants by Reward distribution Range
                <div class="tx-12"> Number of merchants by sales range </div>
              </a>
            </li>

          </ul>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active ht-100p" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <canvas height="110" baseChart #RewardPlot="base-chart"
                    [colors]="_HelperService._UserOverviewPlot.SaleColors" [datasets]="DataSales" [labels]="SalesLabels"
                    [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                    [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                    [options]="_HelperService._UserOverviewPlot.MerchantChartTypeBarHOptions"></canvas>

                  <div class="pd-20  d-flex justify-content-between">

                    <div>
                      <div class="tx-18 text-success">{{SaleElement1.Count || "0"}}</div>
                      <div class="tx-12"><span class=" text-sm mg-r-2"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1M - <span
                          class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>2M
                      </div>

                    </div>
                    <div>
                      <div class="tx-18 tx-teal">{{SaleElement2.Count || "0"}}</div>
                      <div class="tx-12"><span class=" text-sm mg-r-2"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>2M - <span
                          class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>3M
                      </div>

                    </div>
                    <div>
                      <div class="tx-18 tx-verve">{{SaleElement3.Count || "0"}}</div>
                      <div class="tx-12"><span class=" text-sm mg-r-2"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>3M - <span
                          class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>4M
                      </div>

                    </div>
                    <div>
                      <div class="tx-18 text-primary">{{SaleElement4.Count || "0"}}</div>
                      <div class="tx-12">More Than <span class=" text-sm mg-r-2"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>4M</div>

                    </div>

                  </div>
                </div>
                <div class="tab-pane fade ht-100p" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <canvas height="110" baseChart #RewardPlot="base-chart"
                    [colors]="_HelperService._UserOverviewPlot.SaleColors" [datasets]="DataReward"
                    [labels]="RewardLabels" [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                    [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                    [options]="_HelperService._UserOverviewPlot.MerchantChartTypeBarHOptions"></canvas>

                  <div class="pd-20  d-flex justify-content-between">

                    <div>
                      <div class="tx-18 text-success">{{RewardElement1.Count || "0"}}</div>
                      <div class="tx-12"><span class=" text-sm mg-r-2"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1M - <span
                          class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>2M
                      </div>

                    </div>
                    <div>
                      <div class="tx-18 tx-teal">{{RewardElement2.Count || "0"}}</div>
                      <div class="tx-12"><span class=" text-sm mg-r-2"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>2M - <span
                          class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>3M
                      </div>

                    </div>
                    <div>
                      <div class="tx-18 tx-verve">{{RewardElement3.Count || "0"}}</div>
                      <div class="tx-12"><span class=" text-sm mg-r-2"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>3M - <span
                          class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>4M
                      </div>

                    </div>
                    <div>
                      <div class="tx-18 text-primary">{{RewardElement4.Count || "0"}}</div>
                      <div class="tx-12">More Than <span class=" text-sm mg-r-2"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>4M</div>

                    </div>

                  </div>
                </div>

              </div>


            </div>


          </div>

        </div>

      </div>
    </div>


    <div class="col-md-4">
      <div class="card ht-100p">
        <div
          class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
          <h5 class="mg-b-5 tx-14 ">Top Merchant by Reward Distribution <br>
          </h5>
        </div>
        <ul class="list-group list-group-flush tx-14" *ngFor="let TItem of TopRewards">
          <li (click)="MerchantRoute(TItem)" class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div>
              <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
                class="img wd-40 ht-40 rounded-5 bd bd-2 ">
            </div>
            <div class="pd-l-10">
              <p class="mg-b-0">{{TItem.DisplayName || "--"}}</p>
              <small class="mg-b-0 tx-12 text-secondary">Registered On {{TItem.CreateDate | date :["dd-MM-yyyy"] ||
                "--"}}</small>

            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1">
                  <span class=" text-sm mg-r-2"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{TItem.Amount | number: "1.2-2"
                  ||
                  "--"}}
                </h5>

              </nav>
            </div>
          </li>

        </ul>

      </div>
    </div>

  </div>


  <div class="row row-xs mg-t-10">
    <div class="col-md-8">


      <div class="card ht-100p">
        <div class="card-header">
          <div> Merchants by Top 4 Categories </div>
          <div class="tx-12 text-secondary">
            Number of merchants selling Top 4 categories
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <canvas height="110" baseChart #RewardPlot="base-chart"
                [colors]="_HelperService._UserOverviewPlot.RewardColors" [datasets]="MerchantCategotries"
                [labels]="SalesLabels" [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                [options]="_HelperService._UserOverviewPlot.MerchantChartTypeBarHOptions"></canvas>




              <div class="pd-20  d-flex justify-content-between">

                <div>
                  <div class="tx-18 tx-MasterCard">{{CategoryElement1.Count || "0"}}</div>
                  <div class="tx-12 tx-uppercase">{{CategoryElement1.Name || "0"}}</div>

                </div>
                <div>
                  <div class="tx-18 tx-teal">{{CategoryElement2.Count || "0"}}</div>
                  <div class="tx-12 tx-uppercase">{{CategoryElement2.Name || "0"}}</div>

                </div>
                <div>
                  <div class="tx-18 tx-verve">{{CategoryElement3.Count || "0"}}</div>
                  <div class="tx-12 tx-uppercase">{{CategoryElement3.Name || "0"}}</div>

                </div>
                <div>
                  <div class="tx-18 text-primary">{{CategoryElement4.Count || "0"}}</div>
                  <div class="tx-12 tx-uppercase">{{CategoryElement4.Name || "0"}}</div>

                </div>

              </div>



            </div>


          </div>

        </div>

      </div>
    </div>

    <div class="col-md-4">


      <div class="card ht-100p">
        <div
          class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
          <h5 class="mg-b-5 tx-14 ">Top Merchants By Visits <br>
          </h5>
        </div>
        <ul class="list-group list-group-flush tx-14" *ngFor="let TItem of MerchantsVisit">
          <li (click)="MerchantRoute(TItem)" class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div>
              <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
                class="img wd-40 ht-40 rounded-5 bd bd-2 ">
            </div>
            <div class="pd-l-10">
              <p class="mg-b-0">{{TItem.DisplayName || "--"}}</p>
              <small class="mg-b-0 tx-12 text-secondary">Registered On {{TItem.CreateDate | date :["dd-MM-yyyy"] ||
                "--"}}</small>

            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1">
                  {{TItem.Count || "0"}}
                </h5>


              </nav>
            </div>
          </li>

        </ul>

      </div>

    </div>

  </div>


  <div class="row row-xs mg-t-10">
    <div class="col-md-8">


      <div class="card ht-100p">
        <div class="card-header">
          POS Activity
          <div class="text-secondary tx-12"> Today’s POS Activity </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <div>
                <canvas height="150" baseChart #RewardPlot="base-chart"
                  [colors]="_HelperService._UserOverviewPlot.Colors"
                  [datasets]="_HelperService._TerminalStatusCountArray" [labels]="StoreLabel"
                  [chartType]="_HelperService._UserOverviewPlot.ChartTypeBarHorizontal"
                  [plugins]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions.plugins"
                  [options]="_HelperService._UserOverviewPlot.ChartTypeBarHOptions"></canvas>
              </div>

            </div>
            <div class="col-md-3 ">
              <div class="text-success tx-18 mt-3 tx-rubik">
                {{ _HelperService._TerminalStatusCount.Active | number: "1.0-1" || "--" }} </div>
              <div class="tx-12"> ACTIVE POS </div>

              <div class="tx-MasterCard tx-18 mt-3 tx-rubik">
                {{ _HelperService._TerminalStatusCount.Idle | number: "1.0-1" || "--" }} </div>
              <div class="tx-12"> IDLE POS </div>

              <div class="text-danger tx-18 mt-3 tx-rubik">
                {{ _HelperService._TerminalStatusCount.Dead | number: "1.0-1" || "--" }} </div>
              <div class="tx-12"> DEAD POS </div>

              <div class=" text-secondary  tx-18 mt-3 tx-rubik">
                {{ _HelperService._TerminalStatusCount.Unused | number: "1.0-1" || "--" }} </div>
              <div class="tx-12"> IN-ACTIVE POS </div>
            </div>

          </div>


        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card ht-100p">
        <div
          class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
          <h5 class="mg-b-5 tx-14 ">Top Merchant by Sales <br>
          </h5>
        </div>
        <ul class="list-group list-group-flush tx-14" *ngFor="let TItem of _GetoverviewSummary">
          <li (click)="MerchantRoute(TItem)" class="list-group-item d-flex pd-sm-x-20 pd-y-15 cursor-pointer tx-dark">
            <div>
              <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
                class="img wd-40 ht-40 rounded-10 bd bd-2 border-secondary">
            </div>
            <div class="pd-l-10">
              <p class="mg-b-0">{{TItem.DisplayName || "--"}}</p>
              <small class="mg-b-0 tx-12 text-secondary">Registered On {{TItem.CreateDate | date :["dd-MM-yyyy"] ||
                "--"}}</small>

            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1">
                  <span class=" text-sm mg-r-2"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{TItem.InvoiceAmount | number:
                  "1.2-2"
                  || "--"}}
                </h5>

                <!-- <a class="nav-link d-none d-sm-block"><i class="fas fa-chevron-right text-secondary text-secondary"></i> </a> -->
              </nav>
            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>

</div>
