<!-- acquirer--merchants--list -->

<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
      Merchants Plans</a></li>
</ol>

<div class="card ">
  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <span class="tx-semibold mg-t-10">Merchant Plans<span class="text-muted tx-normal">
            ({{MerchantsList_Config.TotalRecords}})</span></span>

      </div>
    </div>
  </div>
  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <!-- <div class=" media">
          <div type="button " (click)="MerchantsList_ListTypeChange(1)"
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="shopping-cart"></i>
          </div>
          <div class="media-body bd-pink">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              Free Plan Merchants</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{FreePlan.Customers || "--"}}</h4>
          </div>
        </div> -->

        <div type="button" (click)="MerchantsList_ListTypeChange(1)" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-0">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="credit-card"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Free Plan Merchants</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{FreePlanCount || "0"}}</h4>
          </div>
        </div>


        <div type="button" (click)="MerchantsList_ListTypeChange(2)" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-warning tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <!-- <i data-feather="shopping-cart"></i> -->
            <i class="fas fa-money-bill-alt fa-2xl"> </i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Basic Plan Merchants</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{BasicPlanCount || "0"}}</h4>
          </div>
        </div>
        <div type="button" (click)="MerchantsList_ListTypeChange(3)" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="shopping-cart"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Premium Plan Merchants</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{PremiumPlanCount || "0"}}</h4>
          </div>
        </div>

        <div type="" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        </div>
      </div>
    </div>
  </div>

  <!-- <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> {{MerchantsList_Config.Title}} </div>
  </div> -->
  <div class="box-header px-3 pd-t-15 pd-b-8  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="MerchantsList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="MerchantsList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="MerchantsList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'desc'"
                (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'asc'"
                (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of MerchantsList_Config.Sort.SortOptions"
              (click)="MerchantsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="MerchantsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group position-relative" id="merchantsubscriptionlist">
                <label>Last Upgrade Date</label>
                <!-- <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="DateRangeOptions" 
                  (selected)="MerchantsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" /> -->
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptionsFn('#merchantsubscriptionlist')" 
                  (selected)="MerchantsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              
              <div class="form-group">
                <label>Status</label>
                <!-- <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="MerchantsList_Config.StatusOptions"
                  (valueChanged)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2> -->

                <select2 class="wd-100p" [value]="_DataHelperService.statusValue"
                  [data]="_DataHelperService.TUTr_Filter_StatusOptions"
                  (valueChanged)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)"
                  [options]="_DataHelperService.Status_Option">
                </select2>
              </div>

              <div class="form-group">
                <label>Plan</label>
                <select2 [options]="_DataHelperService.S2_Plan_Option" class="wd-100p"
                  [data]="MerchantsList_Config.PlanOptions"
                  (valueChanged)="MerchantsList_Filter_Merchants_Change($event)">
                </select2>
              </div>

              

            </div>

            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='StartDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span *ngIf="_HelperService.FilterSnap.Sort.SortColumn != 'StartDate'">
        {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span *ngIf="_HelperService.FilterSnap.Sort.SortColumn == 'StartDate'"> Last Upgrade Date --
        {{_HelperService.FilterSnap.Sort.SortOrder}}</span>

      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
  
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
        <i class="fas fa-times"></i>
      </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      <!-- {{TItem.data[0].Name}} -->
      {{TItem.data[0].text}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of MerchantsList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <!-- <th class="text-center" *ngIf="ColumnConfig[0].Value">
          </th> -->
          <th class="text-center">
          </th>
          <th class="tx-normal">
            Merchant Name
          </th>

          <th class="">
            Current Plan
          </th>
          <th class="text-right">
            Amt/Month(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
          </th>
          <th class="">
            Next Renewal Date
          </th>

          <th class="">
            Last Upgrade Date
          </th>



        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="MerchantsList_RowSelected(TItem)"
          *ngFor="let TItem of MerchantsList_Config.Data  | paginate: { id: 'MerchantsList_Paginator',itemsPerPage: MerchantsList_Config.PageRecordLimit, currentPage: MerchantsList_Config.ActivePage,  totalItems: MerchantsList_Config.TotalRecords }">
          <td class="text-center">
            <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.AccountIconUrl}}"
              class="img wd-40 ht-40 rounded-5 bd bd-2" [style.border-color]="TItem.StatusC">
          </td>
          <td (click)="MerchantRoute(TItem)">
            <div class="tx-14 tx-semibold cursor-pointer route-hover">{{TItem.AccountDisplayName || "--"}}</div>
            
          </td>

          <td class="">
            {{TItem.Name || "--"}}
          </td>
          <td class="text-right">
            <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.ActualPrice ||
            "0"}}
          </td>
          <td class="">
            <div class="tx-14">{{TItem.RenewDate | date :["dd-MM-yyyy"] || "--" }}</div>
            <div class="text-lowercase tx-12">{{TItem.RenewDate | date :["hh:mm a"] || "--" }}</div>
            <!-- <span class="text-lowercase">{{TItem.RenewDate | date :["dd-MM-yyyy hh:mm a"] || "--" }}</span> -->
          <td class="">
            <div class="tx-14">{{ _HelperService.GetDateS(TItem.CreatedDate) ||"--/--/----"}} </div>
            <div class="tx-12">{{_HelperService.GetTimeS(TItem.CreatedDate) || "--:--"}}</div>
           
          </td>



        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{MerchantsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{MerchantsList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{MerchantsList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="MerchantsList_Config.PageRecordLimit"
        (ngModelChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="MerchantsList_Paginator" class="pagination pagination-space"
        (pageChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div>