<!-- acquirer--merchant--sales -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']">
    <a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
      [routerLinkActive]="['active']">
      Dashboard</a>
  </li>
  <li class="breadcrumb-item active cursor-pointer" [routerLinkActive]="['active']">
    <a class="" [routerLinkActive]="['active']" (click)="_Router.navigateByUrl('console/merchantwallethistory')">
      Wallet History</a>
  </li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']">
    <a class="" [routerLinkActive]="['active']">
      Merchant History</a>
  </li>


</ol>


<div class="card">
  <div class="card-header tx-medium">
    {{MerchantData.DisplayName}} Wallet History
  </div>
  <div class="card-header">
    <div class=" d-sm-flex">
      <div class=" media">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="48" height="48" rx="4" fill="#1C6CF1" />
            <!-- <g clip-path="url(#clip0_3_747)">
              <path
                d="M24 16C30.075 16 35 18.686 35 22V26C35 29.314 30.075 32 24 32C18.033 32 13.176 29.409 13.005 26.177L13 26V22C13 18.686 17.925 16 24 16ZM24 28C20.28 28 16.99 26.993 15 25.45V26C15 27.882 18.883 30 24 30C29.01 30 32.838 27.97 32.995 26.118L33 26L33.001 25.45C31.011 26.992 27.721 28 24 28ZM24 18C18.883 18 15 20.118 15 22C15 23.882 18.883 26 24 26C29.117 26 33 23.882 33 22C33 20.118 29.117 18 24 18Z"
                fill="white" />
            </g> -->
            <g clip-path="url(#clip0_3_758)">
              <path
                d="M17 21C17.2652 21 17.5196 21.1053 17.7071 21.2928C17.8946 21.4804 18 21.7347 18 22C19.5711 21.9976 21.097 22.5262 22.33 23.5H24.5C25.832 23.5 27.03 24.079 27.853 24.999L31 25C31.9453 24.9997 32.8712 25.2674 33.6705 25.772C34.4698 26.2766 35.1097 26.9975 35.516 27.851C33.151 30.972 29.322 33 25 33C22.21 33 19.85 32.397 17.94 31.342C17.87 31.535 17.7422 31.7018 17.574 31.8196C17.4058 31.9373 17.2053 32.0003 17 32H14C13.7348 32 13.4804 31.8946 13.2929 31.7071C13.1054 31.5195 13 31.2652 13 31V22C13 21.7347 13.1054 21.4804 13.2929 21.2928C13.4804 21.1053 13.7348 21 14 21H17ZM18.001 24L18 29.021L18.045 29.054C19.84 30.314 22.178 31 25 31C28.004 31 30.799 29.844 32.835 27.87L32.968 27.737L32.848 27.637C32.3758 27.2671 31.8034 27.0476 31.205 27.007L31 27L28.888 26.999C28.961 27.321 29 27.656 29 28V29H20V27L26.79 26.999L26.756 26.921C26.5644 26.5205 26.2696 26.1783 25.9019 25.9294C25.5343 25.6806 25.107 25.5341 24.664 25.505L24.5 25.5H21.57C21.1053 25.0247 20.5503 24.6471 19.9375 24.3895C19.3248 24.1319 18.6667 23.9995 18.002 24H18.001ZM16 23H15V30H16V23ZM25.646 15.575L26 15.93L26.354 15.576C26.5858 15.3422 26.8615 15.1565 27.1653 15.0295C27.469 14.9026 27.7949 14.8369 28.1241 14.8362C28.4533 14.8356 28.7795 14.8999 29.0837 15.0256C29.388 15.1513 29.6645 15.3359 29.8973 15.5687C30.13 15.8015 30.3145 16.078 30.4401 16.3824C30.5657 16.6867 30.63 17.0128 30.6292 17.342C30.6285 17.6713 30.5627 17.9971 30.4356 18.3008C30.3086 18.6046 30.1228 18.8802 29.889 19.112L26 23L22.11 19.11C21.8762 18.8781 21.6905 18.6024 21.5636 18.2987C21.4366 17.9949 21.3709 17.6691 21.3703 17.3398C21.3696 17.0106 21.434 16.6845 21.5597 16.3802C21.6854 16.0759 21.8699 15.7995 22.1027 15.5667C22.3356 15.3339 22.6121 15.1495 22.9164 15.0238C23.2207 14.8982 23.5469 14.834 23.8761 14.8347C24.2053 14.8355 24.5311 14.9013 24.8349 15.0283C25.1386 15.1553 25.4143 15.3411 25.646 15.575V15.575ZM23.526 16.99C23.4431 17.0724 23.3917 17.1812 23.3808 17.2976C23.3698 17.414 23.4 17.5305 23.466 17.627L23.524 17.696L26 20.17L28.476 17.696C28.5588 17.6132 28.61 17.5041 28.6206 17.3875C28.6312 17.2709 28.6006 17.1543 28.534 17.058L28.476 16.988C28.3931 16.9053 28.2839 16.8543 28.1673 16.8439C28.0507 16.8335 27.9342 16.8643 27.838 16.931L27.768 16.989L25.999 18.757L24.232 16.987L24.164 16.931C24.0677 16.8644 23.9511 16.8338 23.8345 16.8444C23.7179 16.855 23.6087 16.9061 23.526 16.989V16.99Z"
                fill="white" />
            </g>
            <defs>
              <clipPath id="clip0_3_747">
                <rect width="24" height="24" fill="white" transform="translate(12 12)" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="media-body bd-pink">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
            Total Reward
          </h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            {{OverviewData.RewardAmount| number: "1.2-2"}}
          </h4>
        </div>
      </div>
      <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="48" height="48" rx="4" fill="#8692A3" />
            <!-- <g clip-path="url(#clip0_3_758)">
              <path
                d="M17 21C17.2652 21 17.5196 21.1053 17.7071 21.2928C17.8946 21.4804 18 21.7347 18 22C19.5711 21.9976 21.097 22.5262 22.33 23.5H24.5C25.832 23.5 27.03 24.079 27.853 24.999L31 25C31.9453 24.9997 32.8712 25.2674 33.6705 25.772C34.4698 26.2766 35.1097 26.9975 35.516 27.851C33.151 30.972 29.322 33 25 33C22.21 33 19.85 32.397 17.94 31.342C17.87 31.535 17.7422 31.7018 17.574 31.8196C17.4058 31.9373 17.2053 32.0003 17 32H14C13.7348 32 13.4804 31.8946 13.2929 31.7071C13.1054 31.5195 13 31.2652 13 31V22C13 21.7347 13.1054 21.4804 13.2929 21.2928C13.4804 21.1053 13.7348 21 14 21H17ZM18.001 24L18 29.021L18.045 29.054C19.84 30.314 22.178 31 25 31C28.004 31 30.799 29.844 32.835 27.87L32.968 27.737L32.848 27.637C32.3758 27.2671 31.8034 27.0476 31.205 27.007L31 27L28.888 26.999C28.961 27.321 29 27.656 29 28V29H20V27L26.79 26.999L26.756 26.921C26.5644 26.5205 26.2696 26.1783 25.9019 25.9294C25.5343 25.6806 25.107 25.5341 24.664 25.505L24.5 25.5H21.57C21.1053 25.0247 20.5503 24.6471 19.9375 24.3895C19.3248 24.1319 18.6667 23.9995 18.002 24H18.001ZM16 23H15V30H16V23ZM25.646 15.575L26 15.93L26.354 15.576C26.5858 15.3422 26.8615 15.1565 27.1653 15.0295C27.469 14.9026 27.7949 14.8369 28.1241 14.8362C28.4533 14.8356 28.7795 14.8999 29.0837 15.0256C29.388 15.1513 29.6645 15.3359 29.8973 15.5687C30.13 15.8015 30.3145 16.078 30.4401 16.3824C30.5657 16.6867 30.63 17.0128 30.6292 17.342C30.6285 17.6713 30.5627 17.9971 30.4356 18.3008C30.3086 18.6046 30.1228 18.8802 29.889 19.112L26 23L22.11 19.11C21.8762 18.8781 21.6905 18.6024 21.5636 18.2987C21.4366 17.9949 21.3709 17.6691 21.3703 17.3398C21.3696 17.0106 21.434 16.6845 21.5597 16.3802C21.6854 16.0759 21.8699 15.7995 22.1027 15.5667C22.3356 15.3339 22.6121 15.1495 22.9164 15.0238C23.2207 14.8982 23.5469 14.834 23.8761 14.8347C24.2053 14.8355 24.5311 14.9013 24.8349 15.0283C25.1386 15.1553 25.4143 15.3411 25.646 15.575V15.575ZM23.526 16.99C23.4431 17.0724 23.3917 17.1812 23.3808 17.2976C23.3698 17.414 23.4 17.5305 23.466 17.627L23.524 17.696L26 20.17L28.476 17.696C28.5588 17.6132 28.61 17.5041 28.6206 17.3875C28.6312 17.2709 28.6006 17.1543 28.534 17.058L28.476 16.988C28.3931 16.9053 28.2839 16.8543 28.1673 16.8439C28.0507 16.8335 27.9342 16.8643 27.838 16.931L27.768 16.989L25.999 18.757L24.232 16.987L24.164 16.931C24.0677 16.8644 23.9511 16.8338 23.8345 16.8444C23.7179 16.855 23.6087 16.9061 23.526 16.989V16.99Z"
                fill="white" />
            </g> -->

            <g clip-path="url(#clip0_3_782)">
              <path
                d="M27 14C27.7023 13.9999 28.3922 14.1847 29.0004 14.5359C29.6086 14.887 30.1137 15.3921 30.4647 16.0003C30.8158 16.6085 31.0006 17.2985 31.0005 18.0008C31.0003 18.703 30.8153 19.3929 30.464 20.001L35 20V22H33V32C33 32.2652 32.8946 32.5196 32.7071 32.7071C32.5196 32.8946 32.2652 33 32 33H16C15.7348 33 15.4804 32.8946 15.2929 32.7071C15.1054 32.5196 15 32.2652 15 32V22H13V20L17.536 20.001C17.0399 19.1419 16.8807 18.1291 17.0894 17.1592C17.2981 16.1893 17.8597 15.3316 18.6653 14.7526C19.4709 14.1735 20.4629 13.9146 21.4487 14.0259C22.4346 14.1372 23.3438 14.6109 24 15.355C24.3746 14.9284 24.8361 14.5868 25.3535 14.3531C25.8709 14.1194 26.4323 13.999 27 14ZM23 22H17V31H23V22ZM31 22H25V31H31V22ZM21 16C20.481 15.9977 19.9815 16.1972 19.6068 16.5564C19.2322 16.9156 19.0119 17.4063 18.9925 17.9249C18.973 18.4436 19.1559 18.9495 19.5025 19.3357C19.8491 19.722 20.3323 19.9584 20.85 19.995L21 20H23V18C23 17.5221 22.8289 17.0599 22.5176 16.6973C22.2063 16.3346 21.7754 16.0954 21.303 16.023L21.149 16.005L21 16ZM27 16C26.4954 15.9998 26.0094 16.1904 25.6395 16.5335C25.2695 16.8766 25.0428 17.3469 25.005 17.85L25 18V20H27C27.5046 20.0002 27.9906 19.8096 28.3605 19.4665C28.7305 19.1234 28.9572 18.6532 28.995 18.15L29 18C29 17.4696 28.7893 16.9609 28.4142 16.5858C28.0391 16.2107 27.5304 16 27 16Z"
                fill="white" />
            </g>
            <defs>
              <clipPath id="clip0_3_758">
                <rect width="24" height="24" fill="white" transform="translate(12 12)" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="media-body">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
            Total Redeem
          </h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            {{OverviewData.RedeemAmount | number:"1.2-2" }}
          </h4>
        </div>
      </div>

      <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <!-- <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="48" height="48" rx="4" fill="#51B463" />
            <g clip-path="url(#clip0_3_769)">
              <path
                d="M32 34H16C15.7348 34 15.4804 33.8946 15.2929 33.7071C15.1054 33.5196 15 33.2652 15 33V15C15 14.7348 15.1054 14.4804 15.2929 14.2929C15.4804 14.1054 15.7348 14 16 14H32C32.2652 14 32.5196 14.1054 32.7071 14.2929C32.8946 14.4804 33 14.7348 33 15V33C33 33.2652 32.8946 33.5196 32.7071 33.7071C32.5196 33.8946 32.2652 34 32 34ZM31 32V16H17V32H31ZM21 18V20C21 20.7956 21.3161 21.5587 21.8787 22.1213C22.4413 22.6839 23.2044 23 24 23C24.7956 23 25.5587 22.6839 26.1213 22.1213C26.6839 21.5587 27 20.7956 27 20V18H29V20C29 21.3261 28.4732 22.5979 27.5355 23.5355C26.5979 24.4732 25.3261 25 24 25C22.6739 25 21.4021 24.4732 20.4645 23.5355C19.5268 22.5979 19 21.3261 19 20V18H21Z"
                fill="white" />
            </g>
            <defs>
              <clipPath id="clip0_3_782">
                <rect width="24" height="24" fill="white" transform="translate(12 12)" />
              </clipPath>
            </defs>
          </svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
            <rect width="48" height="48" rx="4" fill="#51B463"/>
            <g clip-path="url(#clip0_2_2077)">
            <path d="M24 34C18.477 34 14 29.523 14 24C14 18.477 18.477 14 24 14C29.523 14 34 18.477 34 24C34 29.523 29.523 34 24 34ZM24 32C26.1217 32 28.1566 31.1571 29.6569 29.6569C31.1571 28.1566 32 26.1217 32 24C32 21.8783 31.1571 19.8434 29.6569 18.3431C28.1566 16.8429 26.1217 16 24 16C21.8783 16 19.8434 16.8429 18.3431 18.3431C16.8429 19.8434 16 21.8783 16 24C16 26.1217 16.8429 28.1566 18.3431 29.6569C19.8434 31.1571 21.8783 32 24 32ZM20.5 26H26C26.1326 26 26.2598 25.9473 26.3536 25.8536C26.4473 25.7598 26.5 25.6326 26.5 25.5C26.5 25.3674 26.4473 25.2402 26.3536 25.1464C26.2598 25.0527 26.1326 25 26 25H22C21.337 25 20.7011 24.7366 20.2322 24.2678C19.7634 23.7989 19.5 23.163 19.5 22.5C19.5 21.837 19.7634 21.2011 20.2322 20.7322C20.7011 20.2634 21.337 20 22 20H23V18H25V20H27.5V22H22C21.8674 22 21.7402 22.0527 21.6464 22.1464C21.5527 22.2402 21.5 22.3674 21.5 22.5C21.5 22.6326 21.5527 22.7598 21.6464 22.8536C21.7402 22.9473 21.8674 23 22 23H26C26.663 23 27.2989 23.2634 27.7678 23.7322C28.2366 24.2011 28.5 24.837 28.5 25.5C28.5 26.163 28.2366 26.7989 27.7678 27.2678C27.2989 27.7366 26.663 28 26 28H25V30H23V28H20.5V26Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_2_2077">
            <rect width="24" height="24" fill="white" transform="translate(12 12)"/>
            </clipPath>
            </defs>
            </svg>
        </div>
        <div class="media-body">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
            Total Cashout
          </h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            {{OverviewData.Cashouts | number: "1.2-2"}}
          </h4>
        </div>
      </div>

      <!-- <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="48" height="48" rx="4" fill="#51B463" />
            <g clip-path="url(#clip0_3_769)">
              <path
                d="M32 34H16C15.7348 34 15.4804 33.8946 15.2929 33.7071C15.1054 33.5196 15 33.2652 15 33V15C15 14.7348 15.1054 14.4804 15.2929 14.2929C15.4804 14.1054 15.7348 14 16 14H32C32.2652 14 32.5196 14.1054 32.7071 14.2929C32.8946 14.4804 33 14.7348 33 15V33C33 33.2652 32.8946 33.5196 32.7071 33.7071C32.5196 33.8946 32.2652 34 32 34ZM31 32V16H17V32H31ZM21 18V20C21 20.7956 21.3161 21.5587 21.8787 22.1213C22.4413 22.6839 23.2044 23 24 23C24.7956 23 25.5587 22.6839 26.1213 22.1213C26.6839 21.5587 27 20.7956 27 20V18H29V20C29 21.3261 28.4732 22.5979 27.5355 23.5355C26.5979 24.4732 25.3261 25 24 25C22.6739 25 21.4021 24.4732 20.4645 23.5355C19.5268 22.5979 19 21.3261 19 20V18H21Z"
                fill="white" />
            </g>
            <defs>
              <clipPath id="clip0_3_769">
                <rect width="24" height="24" fill="white" transform="translate(12 12)" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="media-body">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
            Total Purchase
          </h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            <span class=" text-sm p-0" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
            {{OverviewData.InvoiceAmount }}
          </h4>
        </div>
      </div> -->

    </div>
  </div>
  <div class="box-header px-3 pd-t-15 pd-b-8 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TUTr_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">
            <i data-feather="search"></i>
          </button>
        </div>
      </div>


    </div>

    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()">
        <i data-feather="plus-circle"></i> </button>

    </div>
    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i>
        </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
              Sort
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>
            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
              (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>
            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset
            </button>
            <button type="button" class="btn btn-primary btn-sm mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">
              Apply
            </button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
        </a>
        <div class="dropdown-menu pd-0 tx-13">
          <form class="wd-400 ">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
              Filters
            </h6>
            <div class="pd-25" style="overflow: auto; height: 80vh;">
              <div>
                <div class="form-group">
                  <label>Create Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptionsAll" (click)="openDatepicker($event)"
                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>
              </div>
              <!-- <div>
                <div class="form-group" *ngIf="ResetFilterControls">
                  <label>Status</label>

                  <select2 class="wd-100p" [value]="_DataHelperService.statusValue"
                  [data]="_DataHelperService.TUTr_Filter_StatusOptions"
                  (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)"
                  [options]="_DataHelperService.Status_Option">
                </select2>
                </div>
              </div> -->

              <div class="mg-b-70" *ngIf="ResetFilterControls">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="InvoiceRangeMaxAmount">Min Sale Amount</label>
                        <input type="number" name="InvoiceRangeMinAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                          (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="InvoiceRangeMaxAmount">Max Sale Amount</label>
                        <input type="number" name="InvoiceRangeMaxAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                          (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
              style="position: fixed; bottom:0%; margin-top: -2.5em ;">
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
            </div>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>

      <!-- <a class="nav-link ml-2 RefreshColor cursor-pointer"
          (click)="TUTr_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
            data-feather="download"></i> </a> -->
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-15 pb-0">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='StartDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort2')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
        <i class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
        <i class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:TItem.data[0].Name}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
        <i class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">
      {{TItem.Title}}
    </span>
  </div>

  <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
      Sales Range
      [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" + _HelperService.FilterSnap.SalesRange.SalesMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i>
      </span>
    </div>
  </div>

  <div class="card-body mt-n2">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}  ">
      <thead>
        <tr>
          <th class="">Date</th>
          <th class="">Reference</th>

          <th>Transaction Type</th>
          <th>Amount</th>
          <th class="text-right">Balance</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
               let TItem of (TUTr_Config.Data
                 | paginate
                   : {
                       id: 'TUTr_Paginator',
                       itemsPerPage: TUTr_Config.PageRecordLimit,
                       currentPage: TUTr_Config.ActivePage,
                       totalItems: TUTr_Config.TotalRecords
                     })
             ">
          <td class="">
            <div> {{ TItem.TransactionDateD || "--" }}</div>
            <div class="tx-12 text-secondary"> {{ TItem.TransactionDateT || "--" }} </div>
          </td>

          <td class="">
            <div>
              <span class="">{{ TItem.ReferenceNumber || "--" }}</span>
            </div>
          </td>

          <td>
            <div>
              <span class="cursor-pointer route-hover"> {{ TItem.TypeCategory || "--" }}</span>
              <div class="tx-12 text-secondary">{{ TItem.TypeName || "--" }}</div>
            </div>
          </td>

          <td>
            <div class="">
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{ TItem.Amount || "0" |
              number:"1.2-2"}}
              <div class="tx-12 text-secondary">{{ TItem.ModeName || "--" }}</div>
            </div>
          </td>

          <td class="text-right">
            <div>
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{ TItem.Charge || "0" |number:"1.2-2" }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TUTr_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
        (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
        (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<!-- just added space for checking reopend issuse start -->



<!-- just added space for checking reopend issuse end -->