<div class="card-body">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show  bd-0  active" role="tabpanel" id="tab-1">
      <!-- <div class="card"> -->
        <!-- <div class="card-header">
          Deals Status
        </div> -->

        <div class="row row-xs mg-y-10 mg-l-10">
          <div class="col-sm-6 col-lg-5">
            <div class="card card-body shadow-none ht-100p" id="SaleAmount">
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">Code Used</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
               
                <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
                  <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                  {{_GetoverviewSummary.Used || "00"}}
                </h3>
                
              </div>
              <p class="tx-12 text-secondary mg-b-0 text-capitalize"> Total code used amoung {{_UserAccount.MaximumLimit}}</p>
            </div>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-5 mg-t-15  mg-sm-t-0">
            <div class="card card-body shadow-none ht-100p" id="Transactions">
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">BUDGET CLAIMED</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                

                  <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
                    <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{(_GetoverviewSummary.UsedAmount | number: "1.0-1" )|| "--"}}</h3>
               
              </div>
              <p class="tx-12 text-secondary mg-b-0 text-capitalize">Total budget claimed under promotions</p>
      
      
            </div>
          </div><!-- col -->
        
        </div>



        <div class="card-body">
          <div class="card pd-10">
             <div class="card-header">
          Deals Status
        </div>
          <canvas  height="100" baseChart [colors]="_HelperService.ChartConfig.SalesTypeColors"
            [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
            [options]="_HelperService.ChartConfig.DoughnetChart.HalfDoughnetOptions"
            [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false" [data]="Piedata"
            [labels]="Piechartlable"></canvas>




          <div class="d-flex justify-content-between mg-t-30">
            <div class="">
              <h4 class="d-flex tx-12"><span class="d-block wd-15 ht-15 bg-secondary rounded mg-r-5"></span>
                UNUSED CODES</h4>

              <div class="tx-24 tx-bold"> {{_UserAccount.MaximumLimit - _GetoverviewSummary.Used }}
              </div>

            </div>
            <div class="">
              <h4 class="d-flex tx-12"><span class="d-block wd-15 ht-15 bg-teal rounded mg-r-5"></span>
                USED CODES</h4>

              <div class="tx-24 tx-bold">
                {{_GetoverviewSummary.Used || "0" }} </div>


            </div>
            <div class="">
              <h4 class="d-flex tx-12"><span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5"></span>
                TOTAL CODE QTY</h4>
              <div class="tx-24 tx-bold"> {{_UserAccount.MaximumLimit || "0" }}
              </div>
            </div>

          </div>

        </div>
      </div>




    </div>
  </div>
</div>