<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class=" ">
        <div class="row">
            <div class="col-md-4 pd-r-0">
                <div class="card  ht-100p">
                    <div class="card-header"
                        *ngIf="_UserAccount.StatusCode == 'deal.published' || _UserAccount.StatusCode == 'deal.paused'">
                        <!-- <button data-permission="dealupdate" class="btn btn-outline-primary mg-l-10 float-right"
                            (click)="RouteEditDealDetails()">
                            Edit </button> -->
                        <div class="d-flex justify-content-start float-right">
                            <div data-permission="dealupdatestatus">
                                <button type="button" class="btn btn-outline-light float-right"
                                    (click)="StatusUpdate(_UserAccount,4)"
                                    *ngIf="_UserAccount.StatusCode == 'deal.published'">Pause Deal</button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary float-right"
                                    (click)="StatusUpdate(_UserAccount,3)"
                                    *ngIf="_UserAccount.StatusCode == 'deal.paused'">Resume
                                    Deal</button>

                            </div>


                        </div>


                    </div>

                    <div class="card-header" *ngIf="_UserAccount.StatusCode == 'deal.approvalpending'">
                        <!-- <button data-permission="dealupdate" class="btn btn-outline-primary mg-l-10 float-right"
                            (click)="RouteEditDealDetails()">
                            Edit </button> -->
                        <div class="d-flex justify-content-start float-right">
                            <div data-permission="dealupdatestatus">
                                <button *ngIf="_UserAccount.StatusCode == 'deal.approvalpending'"
                                    data-permission="dealupdate" class="btn btn-outline-primary mg-l-10 float-right"
                                    (click)="Deal_Approve_popup()">
                                    Approve </button>
                                <button *ngIf="_UserAccount.StatusCode == 'deal.approvalpending'"
                                    data-permission="dealupdate" class="btn btn-outline-danger mg-l-10 float-right"
                                    (click)="Deal_deny()">
                                    Deny </button>
                            </div>


                        </div>


                    </div>


                    <div class="card-body">
                        <div>
                            <h5> {{_UserAccount.Title || "--"}}</h5>
                        </div>


                        <div> <span class="{{_UserAccount.StatusB}}"> {{_UserAccount.StatusName || "--"}} </span>
                            <span *ngIf="isTimeLessThanDay" class="tx-bold text-secondary float-right">
                                Deal Expires In
                                <span class="badge badge-danger">
                                    <countdown [config]="timerConfig">$!h!:$!m!:$!s!
                                    </countdown>
                                </span>
                            </span>
                            <span *ngIf="!isTimeLessThanDay && timeRemaining!='Deal No Longer Available'"
                                class="text-danger tx-bold text-secondary float-right">
                                <span>{{timeRemaining}}</span>
                            </span>
                            <span *ngIf="timeRemaining=='Deal No Longer Available'">
                                <button type="button" *ngIf="_UserAccount.StatusCode=='deal.expired'"
                                    class="btn btn-primary btn-sm float-right pd-x-6 pd-y-2" data-dismiss="modal"
                                    (click)="DuplicateDeal()"><i class="fa fa-clone" aria-hidden="true"></i>
                                    Duplicate</button>
                            </span>
                        </div>

                        <div class="mt-3">
                            <div class="tx-14 wd-200" style="text-overflow: ellipsis;margin-top:22px">
                                <Span class="text-secondary"><i class="far fa-eye"></i> Viewed By
                                </Span><b>{{_UserAccount.CustomerView || "0"}} Customers</b>
                            </div>
                        </div>

                        <div class="mt-3" *ngIf="_UserAccount.StatusCode=='deal.rejected'">
                            <div class="d-flex justify-content-between">
                                <div class="tx-10  tx-uppercase tx-semibold text-danger">Why this deal is rejected?
                                </div>
                                <div>
                                    <!-- <button  type="button" (click)="VarAccordionF()" class="tx-12 btn-icon" data-toggle="collapse" href="#multiCollapseExample1"
                                        role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                                        <span *ngIf="!VarAccordion"> <i class="fas fa-minus-circle"></i> </span>
                                        <span *ngIf="VarAccordion"> <i class="fas fa-plus-circle"></i> </span>
    
                                        
                                </button> -->

                                    <button *ngIf="!VarAccordion" (click)="VarAccordionF()" type="button"
                                        class="btn btn-transparent btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0"
                                        data-toggle="collapse" href="#multiCollapseExample11" role="button"
                                        aria-expanded="false" aria-controls="multiCollapseExample11">
                                        <i class="fas fa-chevron-up"></i>
                                    </button>

                                    <button *ngIf="VarAccordion" (click)="VarAccordionF()" type="button"
                                        class="btn btn-transparent btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0"
                                        data-toggle="collapse" href="#multiCollapseExample11" role="button"
                                        aria-expanded="false" aria-controls="multiCollapseExample11">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>


                                </div>

                            </div>
                            <!-- <div class="d-flex mt-3"> -->
                            <div class="collapse multi-collapse show" id="multiCollapseExample11">
                                <div class="row mt-1">
                                    <div class="col">
                                        <div class="profile-skillset flex-fill">

                                            <div class="text-secondary"> {{_UserAccount.ApproverComment || "--"}} </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- </div> -->

                            </div>





                        </div>

                        <div class="d-flex  mt-3">
                            <div class="">
                                <img class="full-width" (error)="_HelperService.defaultBannerImage($event)"
                                    src="{{_UserAccount.ImageUrl}}" alt="">
                            </div>


                        </div>




                        <div class="mt-3">
                            <div class="tx-10 tx-uppercase text-secondary"> Deal By </div>
                            <div> {{_UserAccount.AccountDisplayName || "--"}} </div>

                            <div class="mt-3">
                                <div class="d-flex justify-content-between">
                                    <div class="tx-10 tx-uppercase tx-semibold"> Value Details </div>
                                    <div>
                                        <!-- <button  type="button" (click)="VarAccordionF()" class="tx-12 btn-icon" data-toggle="collapse" href="#multiCollapseExample1"
                                        role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                                        <span *ngIf="!VarAccordion"> <i class="fas fa-minus-circle"></i> </span>
                                        <span *ngIf="VarAccordion"> <i class="fas fa-plus-circle"></i> </span>

                                        
                                </button> -->

                                        <button *ngIf="!VarAccordion" (click)="VarAccordionF()" type="button"
                                            class="btn btn-transparent btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0"
                                            data-toggle="collapse" href="#multiCollapseExample1" role="button"
                                            aria-expanded="false" aria-controls="multiCollapseExample1">
                                            <i class="fas fa-chevron-up"></i>
                                        </button>

                                        <button *ngIf="VarAccordion" (click)="VarAccordionF()" type="button"
                                            class="btn btn-transparent btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0"
                                            data-toggle="collapse" href="#multiCollapseExample1" role="button"
                                            aria-expanded="false" aria-controls="multiCollapseExample1">
                                            <i class="fas fa-chevron-down"></i>
                                        </button>


                                    </div>

                                </div>
                                <!-- <div class="d-flex mt-3"> -->
                                <div class="collapse multi-collapse show" id="multiCollapseExample1">
                                    <div class="row mt-1">
                                        <div class="col">
                                            <div class="profile-skillset flex-fill">
                                                <h4><a class="link-01"> <span class=" text-sm mg-r-2"
                                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                                        {{_UserAccount.ActualPrice || "--"}}</a></h4>
                                                <label>Deal Value</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="profile-skillset flex-fill">
                                                <h4><a class="link-01"> <span class=" text-sm mg-r-2"
                                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                                        {{_UserAccount.DiscountAmount || "--"}}
                                                        <span class="tx-12">({{_UserAccount.DiscountPercentage|
                                                            number:'1.0-0' || "--"}}
                                                            %)</span></a>
                                                </h4>
                                                <label>Customer Discount</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- </div> -->

                                    <div class="row mt-3">
                                        <div class="col">
                                            <div class="profile-skillset flex-fill">
                                                <h4><a class="link-01"> <span class=" text-sm mg-r-2"
                                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                                        {{_UserAccount.CommissionAmount| number:'1.0-0' || "--"}}
                                                        <span class="tx-14"
                                                            *ngIf="_UserAccount.CommissionAmount && _UserAccount.Amount && _UserAccount.Amount !=0">
                                                            ({{ (_UserAccount.CommissionAmount/_UserAccount.Amount)*100|
                                                            number:'1.0-0' || "--"}}
                                                            %)</span>
                                                    </a>
                                                </h4>
                                                <label>Commission</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="profile-skillset flex-fill">
                                                <h4><a class="link-01"> <span class=" text-sm mg-r-2"
                                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                                        {{_UserAccount.SellingPrice || "--"}}</a></h4>
                                                <label>Customer Pays</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <div class="profile-skillset flex-fill">
                                                <h4><a class="link-01"> <span class=" text-sm mg-r-2"
                                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                                        {{_UserAccount.MerchantAmount || "--"}}</a></h4>
                                                <label>Payable To Merchant</label>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="tx-10 tx-uppercase tx-semibold  mt-3"> Coupon Details </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <div class="profile-skillset flex-fill">
                                                <h4><a class="link-01">{{_UserAccount.MaximumUnitSalePerPerson ||
                                                        "--"}}</a>
                                                </h4>
                                                <label>Max Coupon/Person</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="profile-skillset flex-fill">
                                                <h4><a class="link-01">{{_UserAccount.MaximumUnitSalePerDay ||
                                                        "--"}}</a>
                                                </h4>
                                                <label>Max Coupon/Days</label>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="d-flex  mt-3">
                                        <div class="profile-skillset flex-fill">
                                            <h4><a class="link-01">{{_UserAccount.MaximumUnitSale -
                                                    _UserAccount.TotalPurchase }}
                                                </a></h4>
                                            <label>Available Coupons
                                                <!-- <a class="tx-bold tx-12 text-primary cursor-pointer mg-l-4"
                                                    [hidden]="!(_UserAccount.StatusCode =='deal.published')">
                                                    <span (click)="GetAccountDetailsNew(_UserAccount,'coupons')">
                                                        <i class="fas fa-plus-circle mg-r-5">

                                                        </i>
                                                        Add More
                                                    </span>
                                                </a> -->
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tx-10 tx-uppercase tx-semibold mt-3"> Available At </div>
                            <div class="d-flex  mt-3" *ngIf="_UserAccount.Locations && _UserAccount.Locations.length>0">
                                <div class="profile-skillset flex-fill">
                                    <h6><a class="link-01">{{_UserAccount.Locations[0].DisplayName || "--"}}</a></h6>
                                    <label>{{_UserAccount.Locations[0].Address || "--"}}</label>
                                </div>
                            </div>

                            <label *ngIf="_UserAccount.Locations && _UserAccount.Locations.length>0"
                                class="text-primary cursor-pointer" (click)="ShowAllLocations()">+
                                {{_UserAccount.Locations.length-1}} More
                                Stores</label>

                            <!-- <div class="d-flex  mt-3" *ngFor="let TItem of _UserAccount.Locations">
                            <div class="profile-skillset flex-fill">
                                <h6><a class="link-01">{{TItem.DisplayName || "--"}}</a></h6>
                                <label>{{TItem.Address || "--"}}</label>
                            </div>
                        </div> -->

                            <div class="d-flex" *ngIf="_UserAccount.Locations && _UserAccount.Locations.length==0">
                                <div class="">
                                    All stores
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <div class="tx-10 tx-uppercase tx-semibold"> Description </div>
                            <!-- <div> {{_UserAccount.Description || "--"}} </div> -->
                            <div [innerHtml]="_UserAccount.Description">
                            </div>
                            <!-- <p *ngIf="!showMore">
                                {{_UserAccount.Description| slice:0:200}}
                                <a  class="text-primary" (click)="showMore=true">,Read More...</a>
                                </p>

                                <p *ngIf="showMore">
                                    {{_UserAccount.Description || "--"}} 
                                    <a   class="text-primary" (click)="showMore=false">,Read less...</a>
                                    </p> -->
                        </div>

                        <div class="mt-3">

                            <div class="d-flex justify-content-between">
                                <div class="tx-10 tx-uppercase tx-semibold  mt-2"> Schedule Details </div>

                                <div>
                                    <!-- <a  (click)="VarAccordion1F()" class="" data-toggle="collapse" href="#Schedule" role="button" aria-expanded="false"
                                    aria-controls="Schedule"> 
                                    <span *ngIf="!VarAccordion1"> <i class="fas fa-minus-circle"></i> </span>
                                    <span *ngIf="VarAccordion1VarAccordion1"> <i class="fas fa-plus-circle"></i> </span>
                                </a> -->

                                    <button style="outline: none;" *ngIf="!VarAccordion1" (click)="VarAccordion1F()"
                                        type="button"
                                        class="btn btn-transparent  btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0"
                                        data-toggle="collapse" href="#Schedule" role="button" aria-expanded="false"
                                        aria-controls="Schedule">
                                        <i class="fas fa-chevron-up"></i>
                                    </button>

                                    <button *ngIf="VarAccordion1" (click)="VarAccordion1F()" type="button"
                                        class="btn btn-transparent btn-icon text-secondary tx-20 pt-0 mt-0 mb-0 pb-0"
                                        data-toggle="collapse" href="#Schedule" role="button" aria-expanded="false"
                                        aria-controls="Schedule">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>

                                </div>

                            </div>


                            <div class="collapse multi-collapse show" id="Schedule">
                                <div class="row mt-3">
                                    <div class="col">
                                        <div class="profile-skillset flex-fill">
                                            <label>Start Date</label>

                                            <h4 class="tx-medium tx-14"><a class="link-01 tx-medium tx-14"> <span
                                                        class="text-secondary mg-r-5"> <i
                                                            style="height: 18 !important; width: 18 !important;"
                                                            data-feather="calendar"> </i> </span>
                                                    {{_UserAccount.StartDateS ||
                                                    "--"}}</a>
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="profile-skillset flex-fill">
                                            <label>Time</label>

                                            <div class="d-flex align-items-center">
                                                <span class="text-secondary mg-r-5"> <i
                                                        style="height: 18 !important; width: 18 !important;"
                                                        data-feather="clock"> </i> </span>
                                                <h4 class="tx-medium tx-14"
                                                    *ngIf="_UserAccount.Shedule && _UserAccount.Shedule.length ==0"><a
                                                        class="link-01 tx-medium tx-14"> Deal Runs for 24 Hrs</a></h4>
                                                <h4 class="tx-medium tx-14"
                                                    *ngIf="_UserAccount.Shedule && _UserAccount.Shedule.length !=0"><a
                                                        class="link-01 tx-medium tx-14">
                                                        {{_UserAccount.Shedule[0].StartHour
                                                        || "--"}}
                                                        to
                                                        {{_UserAccount.Shedule[0].EndHour|| "--"}}</a></h4>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="profile-skillset flex-fill">
                                            <label>End Date
                                                <!-- <a class="tx-bold tx-12 text-primary cursor-pointer mg-l-4"
                                                    [hidden]="!(_UserAccount.StatusCode =='deal.published')">
                                                    <span class="mg-l-2"
                                                        (click)="GetAccountDetailsNew(_UserAccount,'schedule')">
                                                        <i class="fas fa-plus-circle mg-r-5"></i>Update Schedule
                                                    </span>
                                                </a> -->
                                            </label>

                                            <h4 class="tx-medium tx-14"><a class="link-01 tx-medium tx-14"> <span
                                                        class="text-secondary mg-r-5"> <i
                                                            style="height: 18 !important; width: 18 !important;"
                                                            data-feather="calendar"> </i> </span>
                                                    {{_UserAccount.EndDateS ||
                                                    "--"}}</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="d-flex  mt-3">
                            <div class="profile-skillset flex-fill">
                                <label>Deals Run</label>

                                <h4><a class="link-01">{{_UserAccount.MaximumUnitSale || "--"}}</a></h4>
                            </div>


                        </div> -->

                                <div class="tx-10 tx-uppercase tx-semibold  mt-3"> Usage Policies </div>

                                <div class="row mt-3" *ngIf="_UserAccount.UsageTypeCode == 'date'">
                                    <div class="col">
                                        <div class="profile-skillset flex-fill">
                                            <label>Validity Start Date</label>

                                            <h4 class="tx-medium tx-14"><a class="link-01 tx-medium tx-14"> <span
                                                        class="text-secondary mg-r-5"> <i
                                                            style="height: 18 !important; width: 18 !important;"
                                                            data-feather="calendar"> </i> </span>
                                                    {{_UserAccount.CodeValidityStartDate || "--"}}</a>
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="profile-skillset flex-fill">
                                            <label>Validity End Date</label>
                                            <h4 class="tx-medium tx-14"><a class="link-01 tx-medium tx-14"> <span
                                                        class="text-secondary mg-r-5"> <i
                                                            style="height: 18 !important; width: 18 !important;"
                                                            data-feather="calendar"> </i> </span>
                                                    {{_UserAccount.CodeValidityEndDate || "--"}}</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3" *ngIf="_UserAccount.UsageTypeCode == 'hour'">
                                    <div class="col">
                                        <div class="profile-skillset flex-fill">
                                            <label>Expiry Duration</label>
                                            <h4 class="tx-medium tx-14"><a class="link-01 tx-medium tx-14">
                                                    Expires After {{_UserAccount.CodeValidityDays || "--"}} hours Of
                                                    Purchase
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <div>
                                    <label class="tx-12 tx-uppercase tx-semibold  mt-3"> Banner </label>
                                        <div class="" *ngFor="let imgg of _UserAccount.Images">
                                            <img style="border: 1px solid #C0CCDA;margin-right: 8px;
                                            margin-top: 5px; width: 110px;" class="img  ht-80 float-right bd-2"
                                                (error)="_HelperService.defaultImage($event)" src="{{imgg.ImageUrl}}"
                                                alt="">
                                        </div>   
                                </div>
                            </div>
                            </div>
                            <div>

                            </div>

                            <div class="mt-3">
                                <div class="tx-10  tx-uppercase tx-semibold"> Term & Conditions </div>
                                <div> {{_UserAccount.Terms || "--"}} </div>
                            </div>

                        </div>

                        <div class="card-footer mt-3 pd-b-0 pd-r-0">
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="profile-skillset flex-fill">
                                    <label>Created At</label>

                                    <h4 class="tx-medium tx-14"><a class="link-01 tx-medium tx-14"> <span
                                                class="text-secondary mg-r-5">
                                                <i style="height: 18 !important; width: 18 !important;"
                                                    data-feather="calendar"> </i> </span>
                                            <!-- {{_UserAccount.CreateDateS ||"--"} -->
                                            {{_UserAccount.CreateDateS | date :["dd-MM-yyyy"] || "--"}}
                                        </a>
                                    </h4>
                                </div>
                            </div>

                            <div class="col">
                                <div class="profile-skillset flex-fill">
                                    <label>Created By</label>
                                    <h4 class="tx-medium tx-14"><a class="link-01 tx-medium tx-14"> <span
                                                class="text-secondary mg-r-5"> <i
                                                    style="height: 18 !important; width: 18 !important;"
                                                    data-feather="user"> </i> </span>
                                            {{_UserAccount.CreatedByDisplayName ||
                                            "--"}}</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="profile-skillset flex-fill">
                                    <label>Last Updated At</label>

                                    <h4 class="tx-medium tx-14"><a class="link-01 tx-medium tx-14"> <span
                                                class="text-secondary mg-r-5">
                                                <i style="height: 18 !important; width: 18 !important;"
                                                    data-feather="calendar"> </i>
                                            </span>
                                            {{_UserAccount.ModifyDateS | date :["dd-MM-yyyy"] || "--"}}
                                        </a>
                                    </h4>
                                </div>
                            </div>

                            <div class="col">
                                <div class="profile-skillset flex-fill">
                                    <label>Updated By</label>
                                    <h4 class="tx-medium tx-14"><a class="link-01 tx-medium tx-14"> <span
                                                class="text-secondary mg-r-5"> <i
                                                    style="height: 18 !important; width: 18 !important;"
                                                    data-feather="user"> </i> </span> {{_UserAccount.ModifyByDisplayName
                                            ||
                                            "--"}}</a>
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="card-footer">
                    
                    </div> -->

                </div><!-- profile-sidebar -->
            </div>

            <div class="col-md-8">
                <div class="card">
                    <ul class="nav nav-line  mg-x-15 pd-t-10" id="myTab" role="tablist">

                        <li class="nav-item pt-1 "><a class="nav-link active" href="#" data-toggle="tab"
                                data-target="#tab-1" (click)="tabSwitched('usage')">Analytics</a></li>
                        <li class="nav-item pt-1 "><a class="nav-link" href="#" data-toggle="tab" data-target="#tab-2"
                                (click)="tabSwitched('version')">Sold History</a>
                        </li>

                    </ul>

                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show  bd-0  active" role="tabpanel" id="tab-1">

                                <div class="row row-xs mg-b-10">
                                    <div class="col-sm-6 col-lg-5">
                                        <div class="card card-body shadow-none ht-100p" id="SaleAmount">
                                            <h6
                                                class="tx-10  tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">
                                                Amount by sold deals</h6>
                                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                                <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
                                                    <span class="text-sm"
                                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                                    {{(_GetPurchaseoverviewSummary.InvoiceAmount | number: "1.2-2" ||
                                                    "00")}}
                                                </h3>
                                                <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                                                class="icon ion-md-arrow-down"></i></span></p> -->
                                            </div>
                                            <p class="tx-12 text-secondary mg-b-0 text-capitalize"> Amount earned by
                                                sold deals</p>
                                        </div>
                                    </div><!-- col -->
                                    <div class="col-sm-6 col-lg-5 mg-t-15  mg-sm-t-0">
                                        <div class="card card-body shadow-none ht-100p" id="Transactions">
                                            <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">
                                                Amount by Redeemed deals</h6>
                                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                                <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
                                                    <span class="text-sm"
                                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                                    {{_GetPurchaseoverviewSummary.Transactions | number: "1.0-1" ||
                                                    "--"}}
                                                </h3>
                                                <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                                                class="icon ion-md-arrow-down"></i></span></p> -->
                                            </div>
                                            <p class="tx-12 text-secondary mg-b-0 text-capitalize">Amount earned by
                                                redeemed deals</p>


                                        </div>
                                    </div><!-- col -->

                                </div>

                                <div class="card mg-b-15">
                                    <div class="card-header">
                                        Deals Status
                                    </div>



                                    <div class="card-body">
                                        <canvas *ngIf="showDailyChart" height="100" baseChart
                                            [colors]="_HelperService.ChartConfig.SalesTypeColors"
                                            [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
                                            [options]="_HelperService.ChartConfig.HalfDoughnetOptions"
                                            [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false"
                                            [data]="Piedata" [labels]="Piechartlable"></canvas>



                                        <div class="d-flex justify-content-between mg-t-30">
                                            <div class="">
                                                <h4 class="d-flex tx-14"><span
                                                        class="d-block wd-15 ht-15 bg-secondary rounded mg-r-5"></span>
                                                    Available deals</h4>

                                                <div class="tx-24 tx-bold"> {{_GetPurchaseoverviewSummary.MaxLimit -
                                                    _GetPurchaseoverviewSummary.Total }}
                                                </div>

                                            </div>
                                            <div class="">
                                                <h4 class="d-flex tx-14"><span
                                                        class="d-block wd-15 ht-15 bg-teal rounded mg-r-5"></span>
                                                    Sold deals</h4>

                                                <div class="tx-24 tx-bold">
                                                    {{_GetPurchaseoverviewSummary.Total || "0" }} </div>


                                            </div>
                                            <div class="">
                                                <h4 class="d-flex tx-14"><span
                                                        class="d-block wd-15 ht-15 bg-primary rounded mg-r-5"></span>
                                                    Redeemed deals</h4>
                                                <div class="tx-24 tx-bold"> {{_GetPurchaseoverviewSummary.Used || "0" }}
                                                </div>
                                            </div>

                                        </div>

                                    </div>



                                </div>

                                <div class="card">

                                    <div class="card-header">
                                        Customer Feedback
                                    </div>

                                    <div
                                        class="box-header px-3 pd-t-15 pd-b-10 bd-b d-flex align-items-center justify-content-between">
                                        <div class="form-inline ">
                                            <div class="input-group input-group-sm mr-3">
                                                <input type="text" class="form-control"
                                                    [value]="ReviewHistory_Config.SearchParameter" maxlength="100"
                                                    class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                                                    (keyup)="ReviewHistory_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-light" type="button"
                                                        (click)="ReviewHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                                                            data-feather="search"></i> </button>
                                                </div>
                                            </div>


                                        </div>
                                        <!-- <div class="d-flex ml-auto">
                                          <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
                                            class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
                                            <i data-feather="minus-circle"></i>
                                          </button>
                                    
                                          <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                                            <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                                              [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                                              (valueChanged)="Active_FilterValueChanged( $event )">
                                            </select2>
                                          </div>
                                          <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
                                          _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
                                            class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
                                              data-feather="plus-circle"></i> </button>
                                    
                                        </div> -->

                                        <nav class="nav nav-with-icon tx-20">
                                            <div class="dropdown dropleft"
                                                *ngIf="ReviewHistory_Config.TotalRecords != 0 ">
                                                <a href="" class="nav-link mr-2" id="DealsList_sdropdown"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    (click)="this._HelperService.StopClickPropogation()"> <i
                                                        data-feather="align-left" class="tx-20"></i> </a>
                                                <div class="dropdown-menu tx-13">
                                                    <form class="wd-250 pd-15">


                                                        <h6
                                                            class="dropdown-header tx-uppercase tx-10 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                                                            Sort
                                                            <div class="float-right tx-20"
                                                                *ngIf="ReviewHistory_Config.Sort.SortOrder == 'desc'"
                                                                (click)="ReviewHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                                                <i class="fas fa-sort-alpha-down-alt"></i>
                                                            </div>
                                                            <div class="float-right tx-20"
                                                                *ngIf="ReviewHistory_Config.Sort.SortOrder == 'asc'"
                                                                (click)="ReviewHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                                                <i class="fas fa-sort-alpha-up-alt"></i>
                                                            </div>
                                                        </h6>

                                                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                                                            *ngFor="let TItem of ReviewHistory_Config.Sort.SortOptions"
                                                            (click)="ReviewHistory_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                                                            {{TItem.Name}}
                                                        </a>

                                                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                                                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                                            Reset</button>
                                                        <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                                                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                                                    </form>
                                                </div>
                                            </div>

                                            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
                                                (click)="ReviewHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                                                <i data-feather="refresh-cw"></i> </a>
                                        </nav>
                                    </div>

                                    <div class="card-body">
                                        <div>
                                            <h3 class="tx-14 text-secondary"> Total
                                                {{ReviewHistory_Config.TotalRecords || '0'}} Comments </h3>
                                        </div>

                                        <div
                                            *ngFor="let TItem of ReviewHistory_Config.Data  | paginate: { id: 'DealsList_Paginator',itemsPerPage: ReviewHistory_Config.PageRecordLimit, currentPage: ReviewHistory_Config.ActivePage,  totalItems: ReviewHistory_Config.TotalRecords }; let i = index">
                                            <p> {{TItem.Review || "--"}} </p>
                                            <div> <span class="text-secondary mg-r-15"> <i
                                                        class="fas fa-user text-secondary mr-2"></i>
                                                    {{TItem.AccountDisplayName || "--"}} </span> <span> <i
                                                        class="fas fa-thumbs-up text-success mr-2"></i> <span
                                                        class="text-secondary"> Liked</span></span> </div>

                                        </div>
                                    </div>

                                    <div class="card-footer pd-20">
                                        <span class="mr-3">
                                            {{ 'Common.Showing' | translate }}
                                            <span class="bold">{{ReviewHistory_Config.ShowingStart}}
                                                {{ 'Common.To' | translate }}
                                                {{ReviewHistory_Config.ShowingEnd}}
                                            </span> {{ 'Common.Of' | translate }} {{ReviewHistory_Config.TotalRecords}}
                                        </span>
                                        <span>
                                            {{ 'Common.Show' | translate }}
                                            <select class="wd-50 " [(ngModel)]="ReviewHistory_Config.PageRecordLimit"
                                                (ngModelChange)="ReviewHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                                                <option [ngValue]="TItem"
                                                    *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                                                    {{TItem}}
                                                </option>
                                            </select>
                                        </span>
                                        <span class="float-right">
                                            <pagination-controls id="DealsList_Paginator"
                                                class="pagination pagination-space"
                                                (pageChange)="ReviewHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                                                nextLabel="{{ 'Common.Next' | translate }}"
                                                previousLabel="{{ 'Common.Previous' | translate }}">
                                            </pagination-controls>
                                        </span>
                                    </div>
                                </div>


                            </div>
                            <div class="tab-pane fade show  bd-0" role="tabpanel" id="tab-2">
                                <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}} bd">
                                    <thead>
                                        <tr>

                                            <th>
                                                Status
                                            </th>
                                            <th class="">
                                                Customer
                                            </th>
                                            <th class="">
                                                Purchase On
                                            </th>
                                            <th class="">
                                                Valid till
                                            </th>
                                            <th class="">
                                                Redeem detail
                                            </th>


                                            <th class="d-flex">
                                                <span class="btn cursor-pointer text-primary p-0"
                                                    style="position: absolute; z-index: 3;right: -10px;"
                                                    data-toggle="tooltip" title="Edit Your Column"
                                                    (click)="OpenEditColModal()">
                                                    <!-- <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i> -->
                                                </span>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="" (click)="PurchaseHistory_RowSelected(TItem)"
                                            *ngFor="let TItem of PurchaseHistory_Config.Data  | paginate: { id: 'PurchaseHistory_Paginator',itemsPerPage: PurchaseHistory_Config.PageRecordLimit, currentPage: PurchaseHistory_Config.ActivePage,  totalItems: PurchaseHistory_Config.TotalRecords }">
                                            <td class="">
                                                <!-- <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span> -->
                                                <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{
                                                    TItem.StatusName || "--" }}</span>

                                            </td>
                                            <td>
                                                <div class="tx-14 tx-semibold ">{{TItem.AccountDisplayName || "--"}}
                                                </div>

                                                <div class="text-secondary tx-12">

                                                    {{TItem.AccountMobileNumber || "--"}}

                                                </div>

                                            </td>
                                            <td class="">
                                                {{TItem.CreateDateD || "--"}}
                                                <div>
                                                    {{TItem.CreateDateT || "--"}}

                                                </div>
                                            </td>
                                            <td class="">
                                                {{_HelperService.GetDateS(TItem.EndDate) || "--"}}
                                                {{_HelperService.GetTimeS(TItem.EndDate) || "--"}}

                                                <!-- <div class="tx-14">{{TItem.EndDate  || "--"}}
                                                </div> -->


                                            </td>
                                            <td class="">
                                                {{TItem.LastUseLocationDisplayName || "--"}}
                                            </td>

                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div><!-- media-body -->

            </div>

        </div>

    </div><!-- media -->
</div>

<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageChangedEvent]="_HelperService._Icon_Cropper_ChangedEvent"
                                [aspectRatio]="1/1" format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCropped)="_HelperService.Icon_Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Change Picture
                            </div>
                            <div class="mb-3">
                                <input type="file" (change)="_HelperService.Icon_Change($event)" />
                            </div>
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>

                                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AllLocation" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Redeem Locations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ht-500 pd-x-20 pd-t-0 mg-t-0" style="overflow-y: auto !important;">
                <div class="bd-b pd-y-15" *ngFor="let TItem of _UserAccount.Locations">
                    <div class="tx-14 tx-dark tx-semibold"> {{ TItem.DisplayName || "--"}} </div>
                    <div class="tx-14 text-secondary"> {{ TItem.Address || "--" }} </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Deal_deny" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="height: 360px;">
            <div class="modal-header">
                <h5 class="modal-title">Do you really want to deny this request?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body  ht-460">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Write comment<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <textarea type="text"
                                    placeholder="Please write reasons to deny this request ,It will help the merchant to create appropriate deal"
                                    name="comment" minlength="4" maxlength="500" class="form-control"
                                    [formControl]="Form_AddUser.controls['comment']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['comment'].valid && Form_AddUser.controls['comment'].touched}"></textarea>
                            </div>
                            <label class="text-danger" for="comment"
                                *ngIf="Form_AddUser.controls['comment'].hasError('required') && Form_AddUser.controls['comment'].touched">
                                Enter Comment
                            </label>
                            <label class="text-danger" for="comment"
                                *ngIf="Form_AddUser.controls['comment'].hasError('minlength') || Form_AddUser.controls['comment'].hasError('maxlength')">
                                Comment must be between 4 to 500 characters
                            </label>
                        </div>
                    </div>
                    <!-- <div class="col-md-12"></div> -->
                </div>
            </div>
            <span class="tx-12 mg-b-20" style="margin-left:15px;"><i class="text-danger" style="height:17px"
                    data-feather="alert-triangle"></i>&nbsp; If you deny this deal request , merchant will failed to
                publish this deal</span>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" [disabled]="!Form_AddUser.valid"
                    (click)="deal_deny_confirm()">
                    Deny deal</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Deal_approve1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="height: 260px;">
            <div class="modal-header">
                <h5 class="modal-title">Do you want to approve this deal request?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body  ht-460">
                <div class="row ">
                    <div class="col-md-12 mg-t-10">

                        <label>If you approve this request, merchant will able to publish this deal on scheduled date
                            and time </label>

                    </div>
                    <!-- <div class="col-md-12"></div> -->
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="Deal_Approve()">
                    Approve deal</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>