<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="active "
            [routerLinkActive]="['active']">Your Profile
        </a></li>
</ol>


<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class=" ">
        <div class="row">
            <div class="col-md-4 ">
                <div class="card pd-25 ht-100p">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="avatar avatar-xxl">
                                <img src="{{_AdminDetails.IconUrl}}" class="rounded-50" alt="">
                            </div>
                        </div><!-- col -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-20 mg-sm-t-0 mg-lg-t-25">
                            <h5 class="mg-b-2 tx-spacing--1">{{_AdminDetails.DisplayName || '--'}}</h5>
                            <p class="tx-color-03 mg-b-5">{{_AdminDetails.MobileNumber || '--'}}</p>
                            <span class="badge badge-primary tx-uppercase"> {{_AdminDetails.RoleName || '--'}} </span>
                        </div><!-- col -->

                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-20">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Email Id
                            </label>
                            <ul class="list-unstyled profile-info-list">

                                <li> <i data-feather="mail"></i> <a>{{_AdminDetails.EmailAddress || "--"}}</a>
                                </li>



                            </ul>
                        </div><!-- col -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Gender
                            </label>
                            <ul class="list-unstyled profile-info-list">
                                <li>

                                    <span *ngIf="_AdminDetails.GenderName == 'Female'" class="mg-r-15 text-secondary">
                                        <i class="fas fa-venus tx-20 mg-r-2"></i></span>
                                    <span *ngIf="_AdminDetails.GenderName == 'Male'" class="mg-r-15 text-secondary"> <i
                                            class="fas fa-mars tx-20 mg-r-2"></i></span>
                                    <a>{{_AdminDetails.GenderName || '--'}}</a>
                                </li>



                            </ul>
                        </div><!-- col -->

                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Date of
                                Birth
                            </label>
                            <ul class="list-unstyled profile-info-list">

                                <li>
                                    <i data-feather="calendar"></i>
                                    <!-- <a >{{_AdminDetails.DateOfBirth || "--"}}</a> -->
                                    <!-- <a class="text-lowercase"> -->
                                        {{_AdminDetails.DateOfBirth || "--"}}
                                        <!-- <a>{{_AdminDetails.DateOfBirth || "--"}}</a> -->

                                    <!-- </a> -->
                                </li>



                            </ul>
                        </div><!-- col -->

                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Reporting
                                to
                            </label>
                            <ul class="list-unstyled profile-info-list">

                                <li> <i data-feather="user"></i> <a>{{_AdminDetails.OwnerDisplayName || "--"}}</a>
                                </li>



                            </ul>
                        </div><!-- col -->

                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Address
                            </label>
                            <ul class="list-unstyled profile-info-list">

                                <li> <i data-feather="map-pin"></i> <a>{{_AdminDetails.Address || "--"}}</a>
                                </li>



                            </ul>
                        </div><!-- col -->

                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label
                                class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Registered
                                On
                            </label>
                            <ul class="list-unstyled profile-info-list">
                                <li>
                                    <i data-feather="calendar"></i>
                                    <!-- <a>{{_AdminDetails.CreateDateS || '--'}}</a> -->
                                    <a class="text-lowercase">
                                        {{_AdminDetails.CreateDateS || "--"}}
                                    </a>
                                </li>
                                <li> <i data-feather="user"></i>
                                    <a>{{_AdminDetails.CreatedByDisplayName || '--'}}</a>
                                </li>

                            </ul>
                        </div><!-- col -->
                        <!-- <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Added
                                by
                            </label>
                            <ul class="list-unstyled profile-info-list">
                                <li> <i data-feather="calendar"></i>
                                    <a>{{_AdminDetails.CreatedByDisplayName || '--'}}</a>
                                </li>

                            </ul>
                        </div> -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Updated
                                On
                            </label>
                            <ul class="list-unstyled profile-info-list">
                                <li>
                                    <i data-feather="calendar"></i>
                                    <!-- <a>{{_AdminDetails.ModifyDateS || '--'}}</a> -->
                                    <a class="text-lowercase">{{_AdminDetails.ModifyDateS
                                        || "--"}}</a>
                                </li>
                                <li> <i data-feather="user"></i>
                                    <a>{{_AdminDetails.ModifyByDisplayName || '--'}}</a>
                                </li>

                            </ul>
                        </div><!-- col -->
                        <!-- <div class="col-sm-12 col-md-12 col-lg-12 mg-t-10">
                            <label class="tx-sans tx-10 tx-bold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Updated
                                By
                            </label>
                            <ul class="list-unstyled profile-info-list">
                               

                            </ul>
                        </div> -->
                    </div><!-- row -->

                </div><!-- profile-sidebar -->
            </div>

            <div class="col-md-8">
                <div class="card ">
                    <ul class="nav nav-line  mg-x-15 pd-t-10" id="myTab" role="tablist">

                        <li data-permission="updateprofile" class="nav-item cursor-pointer pnvalid">
                            <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.UserProfileDetail.EditProfile}}"
                                role="tab" aria-controls="home" aria-selected="true">Edit Profile</a>
                        </li>
                        <!-- <li class="nav-item cursor-pointer">
                            <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.UserProfileDetail.Loginhistory}}"
                                role="tab" aria-controls="home" aria-selected="true">Login History</a>
                        </li> -->
                        <li class="nav-item cursor-pointer pnvalid" data-permission="updateprofilepassword"
                            [routerLinkActive]="['active']">
                            <a class="nav-link" id="Cashier-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                                routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Credentials}}"
                                role="tab" aria-controls="home" aria-selected="true">Password & Security</a>
                        </li>

                    </ul>

                    <router-outlet></router-outlet>

                </div><!-- media-body -->

            </div>

        </div>





    </div><!-- media -->
</div>


<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageChangedEvent]="_HelperService._Icon_Cropper_ChangedEvent"
                                [aspectRatio]="1/1" format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCropped)="_HelperService.Icon_Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                               >
                            </image-cropper>
                            <!-- (loadImageFailed)="_HelperService.Icon_Crop_Failed()" -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Change Picture
                            </div>
                            <div class="mb-3">
                                <input type="file" (change)="_HelperService.Icon_Change($event)" />
                            </div>
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>

                                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>