<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
            Merchants</a></li>
</ol>
<div class="row" id="firstPage">
    <div class="col-sm-8">

        <div class="specier"></div>
        <div class="card" role="document">
            <div class="card-header">
                <!-- <h5 class="modal-title fx-700 tx-14 line-16" id="exampleModalLongTitle">
                    <a (click)="NavigateHome()">
                        <i data-feather="arrow-left" class="cursor-pointer" style="height: 18px;"></i>
                    </a>
                    Upload Business Details
                </h5> -->
                <div class="d-flex">
                    <span (click)="NavigateHome()" class="ml-1">
                        <i class="fa fa-arrow-left cursor-pointer" aria-hidden="true" style="height: 18px;"></i>
                    </span>
                    <h5 class="modal-title fw-700 tx-14 line-16 ml-2" id="exampleModalLongTitle"> Upload Business
                        Details</h5>
                </div>

            </div>
            <div class="card-body p-4">
                <h4 class="busstitle fw-700 tx-14 line-16">
                    <label for="busstitle"> Business Information
                        <span class="text-danger">*</span>
                    </label>
                </h4>

                <form [formGroup]="documentForm">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- bussiness name -->
                            <div class="form-group">
                                <div class="controls">
                                    <label for="" class="form-label formlabels fw-500 tx-14 line-16">Business
                                        Name</label>
                                    <input type="text" name="businessName" id="businessName" class="form-control"
                                        [formControl]="documentForm.controls['businessName']" placeholder="Enter Business Name" />
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="businessName"
                                        *ngIf="documentForm.controls['businessName'].hasError('required') && documentForm.controls['businessName'].touched">
                                        Enter business name
                                    </label>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="businessName"
                                        *ngIf="documentForm.controls['businessName'].hasError('minlength') || documentForm.controls['businessName'].hasError('maxlength')">
                                        Business name must be between 4 - 30 characters</label>
                                    <!-- <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="businessName"
                                        *ngIf="documentForm.controls['businessName'].hasError('pattern')">
                                        Please enter valid name only characters are allowed</label> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- bussiness email -->
                            <div class="form-group">
                                <div class="controls">
                                    <label for="" class="form-label formlabels fw-500 tx-14 line-16">Business
                                        Email</label>
                                    <input type="email" name="bussinessEmail" id="" class="form-control"
                                        [formControl]="documentForm.controls['bussinessEmail']" placeholder="Enter Business Email"
                                        (change)="_ToggleContactInfo()" />
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="bussinessEmail"
                                        *ngIf="documentForm.controls['bussinessEmail'].hasError('required') && documentForm.controls['bussinessEmail'].touched">
                                        Enter Business email address
                                    </label>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="bussinessEmail"
                                        *ngIf="documentForm.controls['bussinessEmail'].hasError('minlength') || documentForm.controls['bussinessEmail'].hasError('pattern')">
                                        Please enter valid email address</label>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <!-- account no -->
                            <div class="form-group">
                                <div class="controls">
                                    <label for="" class="form-label formlabels fw-500 tx-14 line-16">
                                        Bank Account Number
                                    </label> &nbsp;
                                    <span class="click-to-top">
                                        <img src="../../../../assets/img/selectPercentage.png" height="13px"
                                            class="textImg" />
                                        <span class="toolTip tx-14">
                                            <p class="ml-2 mt-2">This is the account your money wiil be paid into</p>
                                        </span>
                                    </span>
                                    <input type="text" name="accountNumber" id="" class="form-control"
                                        (keypress)="this._HelperService.PreventSpecialCharacter($event)"
                                        [formControl]="documentForm.controls['accountNumber']" placeholder="Enter Bank Account Number"
                                        onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true :  event.code!=='Space'" />
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="accountNumber"
                                        *ngIf="documentForm.controls['accountNumber'].hasError('required') && documentForm.controls['accountNumber'].touched">
                                        Enter Bank Account Number
                                    </label>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="accountNumber"
                                        *ngIf="documentForm.controls['accountNumber'].hasError('minlength') || documentForm.controls['accountNumber'].hasError('maxlength')">
                                        Account number should be 10 to 14 digit</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" *ngIf="!ShowBanks">
                             <label for="" class="form-label formlabels fw-500 tx-14 line-16">Select Your
                                Bank</label>
                             <div class="controls">
                               <span class="input-group-text" >Select Bank</span>
                             </div>
                           </div>
                           <div class="form-group" *ngIf="ShowBanks">
                             <div class="controls">
                               <label for="" class="form-label formlabels fw-500 tx-14 line-16">Select Your Bank</label>
                               <select2 name="S2BankData" class="full-width" [value]="BankValue" [data]="TUTr_Filter_Bank_Option"
                               (valueChanged)="TUTr_Filter_Banks_Change($event)" [options]="Banks_Option"></select2>
                               <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="bank"
                                    *ngIf="documentForm.controls['bank'].touched && documentForm.controls['bank']==null">
                                    Select Your Bank
                                </label>
                             </div>
                           </div>
                         </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <!-- account name -->
                            <div class="form-group">
                                <div class="controls">
                                    <label for="" class="form-label formlabels fw-500 tx-14 line-16">
                                        Account Name
                                    </label>
                                    <input type="text" name="accountName" id="" class="form-control"
                                        [formControl]="documentForm.controls['accountName']" placeholder="Enter Account Name" />
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="accountName"
                                        *ngIf="documentForm.controls['accountName'].hasError('required') && documentForm.controls['accountName'].touched">
                                        Enter Account Name
                                    </label>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="businessName"
                                        *ngIf="documentForm.controls['accountName'].hasError('pattern')">
                                        Please enter valid name only characters are allowed</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" *ngIf="!ShowCategory">
                             <label for="" class="form-label formlabels fw-500 tx-14 line-16">Business Category</label>
                             <div class="controls">
                               <span class="input-group-text" >Select Category</span>
                             </div>
                           </div>
                           <div class="form-group" *ngIf="ShowCategory">
                             <div class="controls">
                               <label for="" class="form-label formlabels fw-500 tx-14 line-16">Business Category</label>
                               <select2 name="S2BusinessCategory" class="full-width" [value]="categoryValue" [data]="_S2Categories_Data"
                                 (valueChanged)="GetBusinessCategories_Selected($event)" [options]="BCategory_Option"></select2>
                               <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="selectCategory"
                                 *ngIf="documentForm.controls['selectCategory'].hasError('required') && documentForm.controls['selectCategory'].touched">
                                 Select Business Category
                               </label>
                             </div>
                           </div>
                         </div>
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <label for="" class="form-label formlabels fw-500 tx-14 line-16">Business
                                        Category</label>
                                    <select2 class="full-width" [data]="_S2Categories_Data"
                                        (valueChanged)="GetBusinessCategories_Selected($event)"></select2>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="selectCategory"
                                        *ngIf="documentForm.controls['selectCategory'].hasError('required') && documentForm.controls['selectCategory'].touched">
                                        Select Business Category
                                    </label>
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <div class="row">
                        <div class="col-md-6">


                            <!-- <div class="form-group">
                                <div class="controls">
                                    <label for="" class="form-label formlabels fw-500 tx-14 line-16">
                                        Phone Number
                                    </label>
                                    <input type="text" class="form-control"
                                    placeholder="Enter Phone number"
                                    [formControl]="documentForm.controls['MobileNumber']"
                                    [ngClass]="{'is-invalid':!documentForm.controls['MobileNumber'].valid && documentForm.controls['MobileNumber'].touched}">
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="MobileNumber"
                                        *ngIf="documentForm.controls['MobileNumber'].hasError('required') && documentForm.controls['MobileNumber'].touched">
                                        Enter mobile number
                                    </label>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="businessName" *ngIf="documentForm.controls['MobileNumber'].hasError('minlength') || documentForm.controls['MobileNumber'].hasError('maxlength')
                                        ||documentForm.controls['MobileNumber'].hasError('pattern')">
                                        Mobile number must be between 10 - 14 digits</label>
                                </div>
                            </div> -->

                            <div class="form-group">
                                <label class="d-block">Phone Number</label>
                                <!-- <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"> <img class="dropdown-item-auth-selected"
                                                [src]="SelectedCountry.IconUrl"></button>
                                        <div class="dropdown-menu tx-13">
                                            <a class="dropdown-item dropdown-item-auth " (click)="CountryClick(item)"
                                                *ngFor="let item of Countries">
                                                <img [src]="item.IconUrl">
                                                <span>{{item.Name}}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" aria-label="We will send a verification code to this number"
                                        placeholder="We will send a verification code to this number"
                                        [formControl]="documentForm.controls['MobileNumber']"
                                        [ngClass]="{'is-invalid':!documentForm.controls['MobileNumber'].valid && documentForm.controls['MobileNumber'].touched}">
                                </div> -->

                                <div class="controls input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                    </div>
                                    <input type="text" class="form-control"
                                        aria-label="We will send a verification code to this number"
                                        placeholder="Enter mobile number"
                                        [formControl]="documentForm.controls['MobileNumber']"
                                        (change)="_ToggleContactInfo()"
                                        onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
                                        [ngClass]="{'is-invalid':!documentForm.controls['MobileNumber'].valid && documentForm.controls['MobileNumber'].touched}">
                                </div>


                                <div>
                                    <div class="text-danger tx-12  _600" for="MobileNumber"
                                        *ngIf="documentForm.controls['MobileNumber'].hasError('required') && documentForm.controls['MobileNumber'].touched">
                                        Enter phone number </div>
                                    <div class="text-danger tx-12 _600" for="MobileNumber" *ngIf="documentForm.controls['MobileNumber'].hasError('minlength') || documentForm.controls['MobileNumber'].hasError('maxlength')">
                                        Phone number must be between 8-14 digits</div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                        </div>
                    </div>

                    <h4 class="busstitle fw-700 tx-14 line-16 mt-3">
                        <label for="busstitle"> Contact Person Information
                            <span class="text-danger">*</span>
                        </label>
                    </h4>
                    <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" type="checkbox" [checked]="_ContactInfo"
                            (change)="_ToggleContactInfo($event.target.checked)" name="browser[]" value="1"
                            data-parsley-mincheck="2" data-parsley-class-handler="#cbWrapper"
                            data-parsley-errors-container="#cbErrorContainer" required=""
                            data-parsley-multiple="browser" id="b2">
                        <label class="custom-control-label  text-muted tx-14" for="b2">Contact
                            Information same as
                            Business Contact Information</label> <br>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <label for="" class="form-label formlabels fw-500 tx-14 line-16">First Name</label>
                                    <input type="text" name="cpFirstName" id="cpFirstName" class="form-control"
                                        [formControl]="documentForm.controls['cpFirstName']" placeholder="Enter First Name"/>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="cpFirstName"
                                        *ngIf="documentForm.controls['cpFirstName'].hasError('required') && documentForm.controls['cpFirstName'].touched">
                                        Enter First name
                                    </label>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="cpFirstName"
                                        *ngIf="documentForm.controls['cpFirstName'].hasError('minlength') || documentForm.controls['cpFirstName'].hasError('maxlength')">
                                        First name must be between 2-128 characters</label>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="cpFirstName"
                                        *ngIf="documentForm.controls['cpFirstName'].hasError('pattern')">
                                        Please enter valid name only characters are allowed</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <label for="" class="form-label formlabels fw-500 tx-14 line-16">Last Name</label>
                                    <input type="text" name="cpLastName" id="cpLastName" class="form-control"
                                        [formControl]="documentForm.controls['cpLastName']"  placeholder="Enter Last Name"/>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="cpLastName"
                                        *ngIf="documentForm.controls['cpLastName'].hasError('required') && documentForm.controls['cpLastName'].touched">
                                        Enter Last name
                                    </label>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="cpLastName"
                                        *ngIf="documentForm.controls['cpLastName'].hasError('minlength') || documentForm.controls['cpLastName'].hasError('maxlength')">
                                        Last name must be between 2-128 characters</label>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="cpLastName"
                                        *ngIf="documentForm.controls['cpLastName'].hasError('pattern')">
                                        Please enter valid name only characters are allowed</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> Mobile Number<span class="text-danger"></span>
                                </label>
                                <div class="controls input-group" style="height: 37px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{_HelperService.CountryCode}}</span>
                                    </div>
                                    <input type="text" class="form-control"  id="ymobileFormSelector"
                                        [formControl]="documentForm.controls['cpMobileNumber']"
                                        (keypress)="this._HelperService.PreventText($event)" placeholder="Enter Mobile Number"
                                        onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
                                        [ngClass]="{'is-invalid':!documentForm.controls['cpMobileNumber'].valid && documentForm.controls['cpMobileNumber'].touched}">
                                </div>
                                <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                    for="cpMobileNumber"
                                    *ngIf="documentForm.controls['cpMobileNumber'].hasError('required') && documentForm.controls['cpMobileNumber'].touched">
                                    Enter mobile number
                                </label>
                                <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                    for="cpMobileNumber" *ngIf="documentForm.controls['cpMobileNumber'].hasError('minlength') || documentForm.controls['cpMobileNumber'].hasError('maxlength')">
                                    Mobile number must be between 8-14 digits
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <label for="" class="form-label formlabels fw-500 tx-14 line-16">Email
                                        Address</label>
                                    <input type="email" name="cpEmailAddress" id="yemailFormSelector" class="form-control"
                                        [formControl]="documentForm.controls['cpEmailAddress']" placeholder="Enter Email Address"/>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="cpEmailAddress"
                                        *ngIf="documentForm.controls['cpEmailAddress'].hasError('required') && documentForm.controls['cpEmailAddress'].touched">
                                        Enter email address
                                    </label>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="cpEmailAddress"
                                        *ngIf="documentForm.controls['cpEmailAddress'].hasError('minlength') || documentForm.controls['cpEmailAddress'].hasError('pattern')">
                                        Please enter valid email address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="agm">
                        <div class="hcx-locator">
                            <input type="text" name="GAddress" maxlength="256" class="form-control hcx-locator-input"
                                ngx-google-places-autocomplete [ngModel]="data.MapAddress"
                                placeholder="Enter location and pin your location on map"
                                (onAddressChange)="HCXLocManager_AddressChange($event)"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <agm-map style="height:260px;" [zoom]="12" [latitude]="data.Latitude"
                            [longitude]="data.Longitude" [streetViewControl]="false">
                            <agm-marker [latitude]="data.Latitude" [longitude]="data.Longitude"
                                [markerDraggable]="data.draggable" (dragEnd)="markerDragEnd($event)">
                            </agm-marker>
                        </agm-map>
                    </div>

                    <div class="addressdetails mt-4 mb-2">
                        <!-- <h4 class="busstitle fw-700 tx-14 line-16">
                            <label for="busstitle"> Detailed Address
                                <span>*</span>
                            </label>
                        </h4> -->
                        <div class="row">

                            <div class="col-md-6">
                                <!-- street address -->
                                <div class="form-group">
                                    <label class="form-label formlabels fw-500 tx-14 line-16">
                                        Detailed Address
                                    </label>
                                    <div class="controls input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <img src="../../../../assets/img/map-pin.png" id="fileImg"
                                                    height="20" />
                                            </span>
                                        </div>
                                        <input type="text" name="streetAddress" maxlength="256" class="form-control"
                                            [formControl]="documentForm.controls['streetAddress']" placeholder="Enter Detailed Address">

                                    </div>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="streetAddress"
                                        *ngIf="documentForm.controls['streetAddress'].hasError('required') && documentForm.controls['streetAddress'].touched">
                                        Enter Street Address
                                    </label>
                                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                        for="streetAddress"
                                        *ngIf="documentForm.controls['streetAddress'].hasError('minlength') || documentForm.controls['streetAddress'].hasError('maxlength')">
                                        Enter Valid Street Address </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- select state -->
                                <div class="form-group" *ngIf="ShowState">
                                    <!-- <div class="controls"> -->
                                    <label for="" class="form-label formlabels fw-500 tx-14 line-16">State</label>
                                    <select2 class="full-width" [value]="data.StateId"
                                        [data]="HCXLocManager_S2States_Data"
                                        (valueChanged)="HCXLoc_Manager_StateSelected($event)"
                                        [options]="HCXLocManager_S2States_Option">
                                    </select2>
                                </div>
                            </div>


                        </div>

                        <!-- <div class="row" [hidden]="!displayMap"> -->
                        <!-- <div class="agm pb-3" [hidden]="!displayMap">
                            <agm-map style="height:250px;" [zoom]="12" [latitude]="data.Latitude"
                                [longitude]="data.Longitude" [streetViewControl]="false">
                                <agm-marker [latitude]="data.Latitude" [longitude]="data.Longitude"
                                    [markerDraggable]="data.draggable" (dragEnd)="markerDragEnd($event)">
                                </agm-marker>
                            </agm-map>
                        </div> -->
                        <!-- </div> -->
                        <div class="row">


                            <div class="col-md-6">
                                <!-- select city -->
                                <div class="form-group" *ngIf="ShowCity">
                                    <!-- <div class="controls"> -->
                                    <label for="" class="form-label formlabels fw-500 tx-14 line-16">City</label>
                                    <select2 class="full-width" [value]="data.CityId"
                                        [options]="HCXLoc_Manager_City_Option"
                                        (valueChanged)="HCXLoc_Manager_City_Change($event)">
                                    </select2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- app/building/floor number -->
                                <div class="form-group">
                                    <div class="controls">
                                        <label for="" class="form-label formlabels fw-500 tx-14 line-16">
                                            Apt / Building / Floor Number
                                        </label>
                                        <input type="text" name="detailAddress" id="" class="form-control"
                                            [formControl]="documentForm.controls['detailAddress']" placeholder="Enter Apt / Building / Floor Number" />
                                        <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                            for="detailAddress"
                                            *ngIf="documentForm.controls['detailAddress'].hasError('required') && documentForm.controls['detailAddress'].touched">
                                            Enter Apt / Building / Floor Number
                                        </label>
                                        <label class="text-danger form-label formlabels fw-500 tx-10 line-16"
                                            for="detailAddress"
                                            *ngIf="documentForm.controls['detailAddress'].hasError('minlength') || documentForm.controls['detailAddress'].hasError('maxlength')">
                                            Enter Valid Apt / Building / Floor Number </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="imagearea mt-4 mb-4">
                        <h4 class="busstitle fw-700 tx-14 line-16">
                            <label for="busstitle"> Means of Identification<span class="text-danger"> *</span> </label>
                        </h4>
                        <h5 class="imgdoc fw-500 tx-14 line-16">Please upload any valid means of identification </h5>
                        <div class="row mt-4 mb-4 ml-1 mr-1 mrcursor-pointer text-center">
                            <div class="col text-center" style="border: #C0CCDA  dashed; cursor: pointer;"
                                (click)="docModalOpen()">
                                <div class="px-1  mt-3" (click)="docModalOpen()">
                                    <!-- <img src="../../../../assets/img/fileAdd.png" id="fileImg" height="40" style="color:   #C0CCDA;"
                                        (click)="docModalOpen()"/> -->
                                    <span><i data-feather="file-plus" id="fileiconaassdd"></i></span>
                                    <!-- <i data-feather="file-plus" class="fileicon" style="color:  #C0CCDA;" (click)="docModalOpen()"></i> -->
                                </div>
                                <div class="iconlabel  fw-400 tx-10 line-12 text-center">
                                    <p *ngIf="!docName">Upload any valid means of identification</p>
                                    <p *ngIf="docName">{{docName}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer mt-4">
                        <button type="button" class="btn btn-secondary  tx-14" data-dismiss="modal"
                            (click)="NavigateHome()">Cancel</button>
                        <button type="button" class="btn btn-primary  tx-14 darkBlueBtn"
                            [disabled]="!documentForm.valid"
                            (click)="HCXLoc_Manager_Validator()">Done</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>




<!-- Doument upload card -->

<div class="row" id="secondPage">
    <div class="col-sm-8">

        <div class="specier"></div>
        <div class="card" role="document">
            <div class="card-header">
                <h5 class="modal-title text-uppercase fw-600 tx-14 line-16" id="meansofidentificationLabel">
                    upload valid means of identification
                </h5>
            </div>
            <div class="card-body mt-4 mb-4">
                <form action="">
                    <div class="form-group row">
                        <label for="doctype"
                            class="col-4 col-form-label formlabels fw-500 tx-14 line-16 text-right">Document Type
                            <span class="text-danger">*</span></label>
                        <div class="col-8">
                            <select2 name="S2DocType" class="full-width" [data]="_S2DocumentType_Data" [value]="DocValue"
                                (valueChanged)="GetDocType_Selected($event)" [options]="_S2DocumentType_Option"></select2>
                            <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="docType"
                                *ngIf="documentationForm.controls['docType'].hasError('required') && documentationForm.controls['docType'].touched">
                                Please Select Document Type
                            </label>
                        </div>

                    </div>
                    <div class="form-group row"
                        [ngClass]="{'text-danger':!documentationForm.controls['docFile'].valid && documentationForm.controls['docFile'].touched}">
                        <label for="document"
                            class="col-4 col-form-label formlabels fw-500 tx-14 line-16 text-right">Document <span
                                class="text-danger">*</span></label>
                        <div class="col-8">
                            <label for="document" class=" btn-block btn-outlined" class="form-control" ><span class="border px-2 choose-filebtn">Upload Document</span> <span class="ml-2">{{modifiedName}}</span></label>

                            <input class="form-control docs mt-n5" type="file" id="document"
                                placeholder="Upload Document" (change)="onFileChanged($event)"
                                accept="image/jpg, image/jpeg, application/pdf"
                                [formControl]="documentationForm.controls['docFile']" style="opacity: 0;" (click)="clearName()" />
                                <div class="iconlabel  fw-400 tx-12 line-12 ml-3">
                                   
                                    <p *ngIf="docName">{{docName}}</p>
                                </div>
                            <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="docFile"
                                *ngIf="documentationForm.controls['docFile'].hasError('required') && documentationForm.controls['docFile'].touched && !sizeRestriction">
                                Please upload document in pdf/jpeg/jpg format</label>

                            <label class="text-danger form-label formlabels fw-500 tx-12 line-16" for="docFile"
                                *ngIf="sizeRestriction">
                                Document size must be less than 1MB</label>
                        </div>

                    </div>
                </form>


                <div class="text-center mt-4">
                    <button type="button" class="btn btn-secondary mx-2  tx-14" data-dismiss="modal"
                        (click)="docModalClose()">Cancel</button>
                    <button type="button" class="btn btn-primary mx-2  tx-14 darkBlueBtn"
                        (click)="uploadDoc()" [disabled]="sizeRestriction || !documentationForm.valid">Done</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>


<!--Start Upload image  popup-->

<!-- <div class="modal fade" id="exampleModalCenter" data-target="#myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-uppercase fw-600 tx-14 line-16" id="meansofidentificationLabel">
                upload valid means of identification
            </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="">
                <div class="form-group row">
                    <label for="doctype"
                        class="col-4 col-form-label formlabels fw-500 tx-14 line-16 text-right">Document Type
                        <span class="text-danger">*</span></label>
                    <div class="col-8">
                        <select2 name="S2DocType" class="full-width" [data]="_S2DocumentType_Data"
                            (valueChanged)="GetDocType_Selected($event)"></select2>
                        <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="docType"
                            *ngIf="documentationForm.controls['docType'].hasError('required') && documentationForm.controls['docType'].touched">
                            Please Select Document Type
                        </label>
                    </div>

                </div>
                <div class="form-group row"
                    [ngClass]="{'text-danger':!documentationForm.controls['docFile'].valid && documentationForm.controls['docFile'].touched}">
                    <label for="document"
                        class="col-4 col-form-label formlabels fw-500 tx-14 line-16 text-right">Document <span
                            class="text-danger">*</span></label>
                    <div class="col-8">
                        <input class="form-control docs" type="file" id="document" placeholder="Upload Document"
                            (change)="onFileChanged($event)" accept="image/jpg, image/jpeg, application/pdf"
                            [formControl]="documentationForm.controls['docFile']" />
                        <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="docFile"
                            *ngIf="documentationForm.controls['docFile'].hasError('required') && documentationForm.controls['docFile'].touched">
                            Please upload document in pdf/jpeg/jpg format</label>
                    </div>

                </div>
            </form>
        </div>
        <div class="modal-footer">
   
          <button type="button" class="btn btn-secondary mx-2  tx-14" data-dismiss="modal"
          (click)="docModalClose()">Cancel</button>
      <button type="button" class="btn btn-primary mx-2  tx-14 darkBlueBtn"
          (click)="uploadDoc()">Done</button>
        </div>
      </div>
    </div>
  </div> -->
<!--End Upload Image popup-->