<div style="padding-left: 10px ; padding-right  : 10px;">
  
  <div class="row   mt-2">
    <div class="col-12">
      <h4 class="text-dark _300 pb-2">Sales Analytics
        <span class="float-right">
          <button class="btn  btn-xs mb-1" type="button" [ngClass]="Type === 3 ? 'warn' : 'grey'"
            (click)="UserAnalytics_DateChange(3)">
            This Week
          </button>
          <button class="btn  btn-xs mb-1" type="button" [ngClass]="Type === 4 ? 'warn' : 'grey'"
            (click)="UserAnalytics_DateChange(4)">
            Last Week
          </button>
          <button class="btn  btn-xs mb-1" type="button" [ngClass]="Type === 5 ? 'warn' : 'grey'"
            (click)="UserAnalytics_DateChange(5)">
            This Month
          </button>
          <button class="btn  btn-xs mb-1" type="button" [ngClass]="Type === 6 ? 'warn' : 'grey'"
            (click)="UserAnalytics_DateChange(6)">
            Last Month
          </button>
        </span>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12 px-2">
      <div class="box p-3 mb-3 r-1x  shadow">
        <div class="db-title color-sales">
          <i class="fa fa-coins db-title-icon"></i> Transactions Summary
        </div>
        <div class=" db-title-sub">For selected period <strong>{{StartTimeS}} - {{EndTimeS}}</strong>
        </div>
        <div class="row pt-2">
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 px-3">
            <div class="py-2  text-lg text-success">
              <span class=" text-sm _700" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{ _HelperService._SalesSummary.TotalSuccessfulTransactionInvoiceAmount| number: "1.2-2" || "--" }}
            </div>
            <div> Total Sale </div>
            <div class="text-sm text-muted mb-3">Total sale done by terminals by card or cash mode at store </div>
            <div class="text-left">
              <div class="d-flex mb-2">
                <span class="flex text-muted">Total Customers</span>
                <span>{{ _HelperService._SalesSummary.TotalSuccessfulTransactionCustomer | number: "1.0-1" || "--"}}</span>
              </div>
              <div class="d-flex">
                <span class="flex text-muted">Total Transactions </span>
                <span>{{ _HelperService._SalesSummary.TotalSuccessfulTransaction | number: "1.0-1" || "--"}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 px-3">
            <div class="py-2  text-lg ">
              <span class=" text-sm _700" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{ _HelperService._SalesSummary.TotalCardTransactionInvoiceAmount| number: "1.2-2" || "--" }}
            </div>
            <div> Card payments </div>
            <div class="text-sm text-muted mb-3">Payment made through credit or debit card at store location</div>
            <div class="text-left">
              <div class="d-flex mb-2">
                <span class="flex text-muted">Total Customers</span>
                <span>{{ _HelperService._SalesSummary.TotalCardTransactionCustomer | number: "1.0-1" || "--"}}</span>
              </div>
              <div class="d-flex">
                <span class="flex text-muted">Total Transactions </span>
                <span>{{ _HelperService._SalesSummary.TotalCardTransaction | number: "1.0-1" || "--"}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 px-3">
            <div class="py-2  text-lg ">
              <span class=" text-sm _700" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{ _HelperService._SalesSummary.TotalCashTransactionInvoiceAmount| number: "1.2-2" || "--" }}
            </div>
            <div> Cash payments </div>
            <div class="text-sm text-muted mb-3">Cash payment done at store location by customers</div>
            <div class="text-left">
              <div class="d-flex mb-2">
                <span class="flex text-muted">Total Customers</span>
                <span>{{ _HelperService._SalesSummary.TotalCashTransactionCustomer | number: "1.0-1" || "--"}}</span>
              </div>
              <div class="d-flex">
                <span class="flex text-muted">Total Transactions </span>
                <span>{{ _HelperService._SalesSummary.TotalCashTransaction | number: "1.0-1" || "--"}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 px-3">
            <!-- <div class="box p-2 shadow  b-a b-success r-1x mb-3">
              Last Transaction
              <span class="float-right text-xxs">
                {{ _HelperService._SalesSummary.LastTransactionDateD || "--"}} ago
              </span>
              <div class=" text-sm  _600">
                {{ _HelperService._SalesSummary.LastTransactionDate || "--"}}
              </div>
            </div> -->
            <div class="box p-2 shadow  b-a b-danger r-1x mb-0">
              <div class="py-2  text-lg ">
                <span class=" text-sm _700" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                {{ _HelperService._SalesSummary.TotalFailedTransactionInvoiceAmount| number: "1.2-2" || "--" }}
              </div>
              <div class="text-danger">Failed Transactions </div>
              <div class="text-sm text-muted mb-3">Total failed transaction amount</div>
              <div class="text-left">
                <div class="d-flex mb-2">
                  <span class="flex text-muted">Total Customers</span>
                  <span>{{ _HelperService._SalesSummary.TotalFailedTransactionCustomer | number: "1.0-1" || "--"}}</span>
                </div>
                <div class="d-flex">
                  <span class="flex text-muted">Total Transactions </span>
                  <span>{{ _HelperService._SalesSummary.TotalFailedTransaction | number: "1.0-1" || "--"}}</span>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
   
    <div class="col-md-4  px-2">
      <div class="box p-3 mb-3 r-1x  shadow">
        <div class="db-title ">
          <i class="db-title-icon   far fa-check-circle"></i>
          Transaction Status
        </div>
        <div class=" db-title-sub pb-3">Successful and failed ratio
        </div>
        <div *ngIf="_HelperService._SalesSummary.TransactionStatusData.length > 0">
          <canvas height="160" baseChart [colors]="_HelperService.ChartConfig.TransactionStatusColors"
            [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
            [options]="_HelperService.ChartConfig.DoughnetChart.Options" [plugins]="_HelperService.ChartConfig.Plugins"
            [legend]="true" [data]="_HelperService._SalesSummary.TransactionStatusData"
            [labels]="_HelperService._SalesSummary.TransactionStatusLabels"></canvas>
        </div>

      </div>
    </div>
    <div class="col-md-4  px-2">
      <div class="box p-3 mb-3 r-1x  shadow">
        <div class="db-title ">
          <i class="fa fa-coins db-title-icon"></i>
          Sales Distribution
        </div>
        <div class=" db-title-sub pb-3">Distribution by card & cash
        </div>
        <div *ngIf="_HelperService._SalesSummary.TransactionTypeSalesData.length > 0">
          <canvas height="160" baseChart [colors]="_HelperService.ChartConfig.SalesTypeColors"
            [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
            [options]="_HelperService.ChartConfig.DoughnetChart.Options" [plugins]="_HelperService.ChartConfig.Plugins"
            [legend]="true" [data]="_HelperService._SalesSummary.TransactionTypeSalesData"
            [labels]="_HelperService._SalesSummary.TransactionTypeSalesLabels"></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-4  px-2">
      <div class="box p-3 mb-3 r-1x  shadow">
        <div class="db-title ">
          <i class="db-title-icon fab  far fa-user"></i>
          Customers Distribution
        </div>
        <div class=" db-title-sub pb-3">Distribution by card & cash
        </div>
        <div *ngIf="_HelperService._SalesSummary.TransactionTypeUsersData.length > 0">
          <canvas height="160" baseChart [colors]="_HelperService.ChartConfig.SalesTypeCustomersColors"
            [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
            [options]="_HelperService.ChartConfig.DoughnetChart.Options" [plugins]="_HelperService.ChartConfig.Plugins"
            [legend]="true" [data]="_HelperService._SalesSummary.TransactionTypeUsersData"
            [labels]="_HelperService._SalesSummary.TransactionTypeUsersLabels"></canvas>
        </div>
      </div>
    </div>


  </div>
 
  <div class="row">
    <div class="col-12 px-2" *ngIf="_HelperService._OSalesHistory.SaleDataSet.length > 0">
      <div class="box p-3 mb-3 r-1x  shadow">
        <div class="db-title ">
          <i class="db-title-icon   far fa-chart-bar"></i>
          Sales
        </div>
        <div class=" db-title-sub pb-3">Shows total sale between period
          <strong>{{StartTimeS}} - {{EndTimeS}}</strong>
        </div>
        <div>
          <canvas height="90" baseChart #DataPlot="base-chart" [chartType]="_HelperService.ChartConfig.LineChart.Type"
            [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="_HelperService._OSalesHistory.SaleColors"
            [labels]="_HelperService._OSalesHistory.Labels" [legend]="false"
            [datasets]="_HelperService._OSalesHistory.SaleDataSet"></canvas>
        </div>
      </div>
    </div>
    <div class="col-12 px-2" *ngIf="_HelperService._OSalesHistory.SaleCustomersDataSet.length > 0">
      <div class="box p-3 mb-3 r-1x  shadow">
        <div class="db-title ">
          <i class="db-title-icon   far fa-chart-bar"></i>
          Customers
        </div>
        <div class=" db-title-sub pb-3">Shows total customer visits between period
          <strong>{{StartTimeS}} - {{EndTimeS}}</strong>
        </div>
        <div>
          <canvas height="90" baseChart #DataPlot="base-chart" [chartType]="_HelperService.ChartConfig.LineChart.Type"
            [options]="_HelperService.ChartConfig.LineChart.Options" [legend]="false"
            [colors]="_HelperService._OSalesHistory.SaleCustomersColors" [labels]="_HelperService._OSalesHistory.Labels"
            [datasets]="_HelperService._OSalesHistory.SaleCustomersDataSet"></canvas>
        </div>
      </div>
    </div>
    <div class="col-12 px-2" *ngIf="_HelperService._OSalesHistory.TransactionTypeDataSet.length > 0">
      <div class="box p-3 mb-3 r-1x  shadow">
        <div class="db-title ">
          <i class="db-title-icon   far fa-chart-bar"></i>
          Transaction Type
        </div>
        <div class=" db-title-sub pb-3">Shows card & cash transactions amounts between period
          <strong>{{StartTimeS}} - {{EndTimeS}}</strong>
        </div>
        <div>
          <canvas height="90" baseChart #DataPlot="base-chart" [chartType]="_HelperService.ChartConfig.BarChart.Type"
            [options]="_HelperService.ChartConfig.BarChart.Options"
            [colors]="_HelperService._OSalesHistory.TransactionTypeDataSetColors"
            [labels]="_HelperService._OSalesHistory.Labels"
            [datasets]="_HelperService._OSalesHistory.TransactionTypeDataSet"></canvas>
        </div>
      </div>
    </div>
    <div class="col-12 px-2" *ngIf="_HelperService._OSalesHistory.TransactionTypeCustomersDataSet.length > 0">
      <div class="box p-3 mb-3 r-1x  shadow">
        <div class="db-title ">
          <i class="db-title-icon   far fa-chart-bar"></i>
          Transaction Type Customers
        </div>
        <div class=" db-title-sub pb-3">Shows card & cash transactions customers between period
          <strong>{{StartTimeS}} - {{EndTimeS}}</strong>
        </div>
        <div>
          <canvas height="90" baseChart #DataPlot="base-chart" [chartType]="_HelperService.ChartConfig.BarChart.Type"
            [options]="_HelperService.ChartConfig.BarChart.Options"
            [colors]="_HelperService._OSalesHistory.TransactionTypeCustomersDataSetColors"
            [labels]="_HelperService._OSalesHistory.Labels"
            [datasets]="_HelperService._OSalesHistory.TransactionTypeCustomersDataSet"></canvas>
        </div>
      </div>
    </div>
    <div class="col-12 px-2" *ngIf="_HelperService._OSalesHistory.TransactionStatusDataSet.length > 0">
      <div class="box p-3 mb-3 r-1x  shadow">
        <div class="db-title ">
          <i class="db-title-icon   far fa-chart-bar"></i>
          Transaction status
        </div>
        <div class=" db-title-sub pb-3">Shows successful and failed transactions count between period
          <strong>{{StartTimeS}} - {{EndTimeS}}</strong>
        </div>
        <div>
          <canvas height="90" baseChart #DataPlot="base-chart" [chartType]="_HelperService.ChartConfig.BarChart.Type"
            [options]="_HelperService.ChartConfig.BarChart.Options"
            [colors]="_HelperService._OSalesHistory.TransactionStatusDataSetColors"
            [labels]="_HelperService._OSalesHistory.Labels"
            [datasets]="_HelperService._OSalesHistory.TransactionStatusDataSet"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>