<!-- acquirer--merchant--addnew -->

<form [formGroup]="Form_AddUser" class="body-font" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
    <div class="tx-13 card mg-b-25">
        <div id="wizard1">
            <h3>Business Information</h3>
            <section>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'System.Users.BusinessName' | translate }}<span
                                    class="text-danger">*</span></label>
                            <div class="controls">

                                <input type="text" placeholder="{{'System.Users.Name' | translate }}" name="Name"
                                    maxlength="128" class="form-control" [formControl]="Form_AddUser.controls['Name']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                            </div>
                            <div class="text-xs text-muted _500"> </div>
                            <label class="text-danger" for="Name"
                                *ngIf="Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">
                                Enter business name
                            </label>
                            <label class="text-danger" for="Name"
                                *ngIf="Form_AddUser.controls['Name'].hasError('minlength') || Form_AddUser.controls['Name'].hasError('maxlength')">
                                Business name must be between 4 - 256 characters</label>
                            <label class="text-danger" for="Name"
                                *ngIf="Form_AddUser.controls['Name'].hasError('pattern') && Form_AddUser.controls['Name'].touched">
                                {{'Only character are Allowed' | translate }} </label>

                        </div>
                        <div class="form-group">
                            <label>Business Display Name<span class="text-danger">*</span> </label>
                            <div class="controls">
                                <input type="text" placeholder="Display Name" name="DisplayName" maxlength="25"
                                    class="form-control" [formControl]="Form_AddUser.controls['DisplayName']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['DisplayName'].valid && Form_AddUser.controls['DisplayName'].touched}">
                            </div>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['DisplayName'].hasError('required') && Form_AddUser.controls['DisplayName'].touched">
                                Enter business display name
                            </label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['DisplayName'].hasError('minlength') || Form_AddUser.controls['DisplayName'].hasError('maxlength')">
                                Business display name must be between 2-25 characters</label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['DisplayName'].hasError('pattern') && Form_AddUser.controls['DisplayName'].touched">
                                {{'Only character are Allowed' | translate }} </label>

                        </div>
                        <div class="form-group">
                            <label>Business Contact Number<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="height: 37px;">
                                        <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                    </div>
                                    <input type="text" placeholder="Contact Number" name="ContactNumber" minlength="8"
                                        maxlength="14" class="form-control contact-textbox-height"
                                        (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddUser.controls['ContactNumber']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['ContactNumber'].valid && Form_AddUser.controls['ContactNumber'].touched}">
                                </div>
                            </div>
                            <label class="text-danger" for="ContactNumber"
                                *ngIf="Form_AddUser.controls['ContactNumber'].hasError('required') && Form_AddUser.controls['ContactNumber'].touched">Enter
                                Business contact number</label>
                            <label class="text-danger" for="ContactNumber"
                                *ngIf="Form_AddUser.controls['ContactNumber'].hasError('minlength') || Form_AddUser.controls['ContactNumber'].hasError('maxlength')">
                                Business contact number must be between 8 to 14 numbers
                            </label>

                        </div>
                        <div class="form-group">
                            <label>Business Email Address<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Email" name="EmailAddress" maxlength="256"
                                    class="form-control" [formControl]="Form_AddUser.controls['EmailAddress']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                            </div>
                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">
                                Enter business email address
                            </label>
                            <!-- 
                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">
                                Enter valid business email address
                            </label>  -->

                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('pattern') && Form_AddUser.controls['EmailAddress'].touched">
                                Enter valid business email address
                            </label>



                        </div>
                        <div class="form-group">
                            <label>{{'System.Users.BusinessOwnerName' | translate }} <span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Business Owner Name" name="BusinessOwnerName"
                                    maxlength="256" class="form-control"
                                    [formControl]="Form_AddUser.controls['BusinessOwnerName']">
                            </div>
                            <label class="text-danger" for="BusinessOwnerName"
                                *ngIf="Form_AddUser.controls['BusinessOwnerName'].hasError('required') && Form_AddUser.controls['BusinessOwnerName'].touched">
                                Enter Business Owner Name
                            </label>

                            <label class="text-danger" for="BusinessOwnerName"
                                *ngIf="Form_AddUser.controls['BusinessOwnerName'].hasError('minlength') || Form_AddUser.controls['BusinessOwnerName'].hasError('maxlength')">
                                Business Owner name must be between 4 - 256 characters
                            </label>
                            <label class="text-danger" for="BusinessOwnerName"
                                *ngIf="Form_AddUser.controls['BusinessOwnerName'].hasError('pattern') && Form_AddUser.controls['BusinessOwnerName'].touched">
                                {{'Only character are Allowed' | translate }}
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Business Categories
                            </label>
                            <select2 class="full-width" *ngIf="ShowCategorySelector"
                                [options]="_HelperService.Select2Options_Multiple" [value]="SelectedBusinessCategories"
                                [data]="S2BusinessCategories" (valueChanged)="CategoriesSelected($event)">
                            </select2>

                            <!-- <div class="col-lg-12 Hm-media768">
                                <div class="d-inline justify-content-between"
                                    *ngFor="let catagory of _MerchantDetails.Categories; let i = index">
                                    <button type="button" class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left mg-t-5"
                                        (click)="removeCategory(i)">{{catagory.ReferenceId}}</button>
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="tx-medium tx-14">Business Location</h3>
                                <hcx-addressmanager [Address_Data]="_Address" [type]="1"
                                    (Address_)="onAddresschange($event)" (StoreAddress_)="onStoreAddresschange($event)">
                                </hcx-addressmanager>
                            </div>
                        </div>
                        <div class="">
                            <h3 class="tx-medium tx-18">Contact Person Information</h3>
                            <p class="tx-14 text-muted">Please enter details of contact person
                            </p>
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input class="custom-control-input" type="checkbox"
                                                [checked]="!_ContactInfo" (change)="_ToogleContactInfo()"
                                                name="browser[]" value="1" data-parsley-mincheck="2"
                                                data-parsley-class-handler="#cbWrapper"
                                                data-parsley-errors-container="#cbErrorContainer" required=""
                                                data-parsley-multiple="browser" id="b2">
                                            <label class="custom-control-label  text-muted tx-14" for="b2">Contact
                                                Information same as
                                                Business Contact Information</label> <br>
                                        </div>

                                        <label>Contact Person First Name<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" placeholder="First Name" name="FirstName" minlength="2"
                                                maxlength="128" class="form-control"
                                                [formControl]="Form_AddUser.controls['FirstName']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['FirstName'].valid && Form_AddUser.controls['FirstName'].touched}">
                                        </div>
                                        <label class="text-danger" for="FirstName"
                                            *ngIf="Form_AddUser.controls['FirstName'].hasError('required') && Form_AddUser.controls['FirstName'].touched">
                                            Enter first name
                                        </label>
                                        <label class="text-danger" for="FirstName"
                                            *ngIf="Form_AddUser.controls['FirstName'].hasError('minlength') || Form_AddUser.controls['FirstName'].hasError('maxlength')">
                                            First Name must be between 2 to 128 characters
                                        </label>

                                        <div class="form-group">

                                            <label class="mg-t-15">Contact Person Last Name<span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" placeholder="Last Name" name="LastName" minlength="2"
                                                    maxlength="128" class="form-control"
                                                    [formControl]="Form_AddUser.controls['LastName']"
                                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['LastName'].valid && Form_AddUser.controls['LastName'].touched}">
                                            </div>
                                            <label class="text-danger" for="LastName"
                                                *ngIf="Form_AddUser.controls['LastName'].hasError('required') && Form_AddUser.controls['LastName'].touched">
                                                Enter last name
                                            </label>
                                            <label class="text-danger" for="LastName"
                                                *ngIf="Form_AddUser.controls['LastName'].hasError('minlength') || Form_AddUser.controls['LastName'].hasError('maxlength')">
                                                Last Name must be between 2 to 128 characters
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-12"></div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label> Mobile Number<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls input-group" style="height: 37px;">
                                            <div class="input-group-prepend">
                                                <span
                                                    class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                            </div>
                                            <input type="text" placeholder="Mobile Number" name="MobileNumber"
                                                minlength="8" maxlength="14" class="form-control"
                                                (keypress)="_HelperService.PreventText($event)"
                                                [formControl]="Form_AddUser.controls['MobileNumber']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                        </div>
                                        <label class="text-danger" for="MobileNumber"
                                            *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">
                                            Enter mobile number
                                        </label>
                                        <label class="text-danger" for="MobileNumber"
                                            *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')">
                                            Mobile number must be between 8 to 14 numbers
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="col-md-6"></div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group ">
                                        <label>Email Address<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" placeholder="Email Id" name="EmailAddressContact"
                                                maxlength="256" class="form-control"
                                                [formControl]="Form_AddUser.controls['EmailAddressContact']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddressContact'].valid && Form_AddUser.controls['EmailAddressContact'].touched}">
                                        </div>
                                        <label class="text-danger" for="EmailAddressContact"
                                            *ngIf="Form_AddUser.controls['EmailAddressContact'].hasError('required') && Form_AddUser.controls['EmailAddressContact'].touched">
                                            Enter business email address
                                        </label>

                                        <!-- <label class="text-danger" for="EmailAddressContact"
                                            *ngIf="Form_AddUser.controls['EmailAddressContact'].hasError('email') && Form_AddUser.controls['EmailAddressContact'].touched">
                                            Enter valid business email address
                                        </label> -->
                                        <label class="text-danger" for="EmailAddressContact"
                                            *ngIf="Form_AddUser.controls['EmailAddressContact'].hasError('pattern') && Form_AddUser.controls['EmailAddressContact'].touched">
                                            Enter valid business email address
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="col-md-6"></div> -->
                            </div>
                        </div>

                        <h3 class="tx-medium tx-18">Reward Details</h3>
                        <p class="tx-14 text-muted">The reward percent amount will be set as a reward(on each purchase)
                            to your customer.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Reward Percentage<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" placeholder="Reward Percentage" name="RewardPercentage"
                                            minlength="1" maxlength="100" class="form-control"
                                            [formControl]="Form_AddUser.controls['RewardPercentage']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['RewardPercentage'].valid && Form_AddUser.controls['RewardPercentage'].touched}">
                                    </div>
                                    <label class="text-danger" for="RewardPercentage"
                                        *ngIf="Form_AddUser.controls['RewardPercentage'].hasError('required') && Form_AddUser.controls['RewardPercentage'].touched">
                                        Enter reward percentage
                                    </label>
                                    <label class="text-danger" for="RewardPercentage"
                                        *ngIf="Form_AddUser.controls['RewardPercentage'].hasError('min') || Form_AddUser.controls['RewardPercentage'].hasError('max')">
                                        Reward percentage must be between 0 to 100
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label>Referral Code
                                    </label>
                                    <div class="controls">
                                        <input type="text" placeholder="Referral Code" name="ReferralCode" minlength="1"
                                            maxlength="32" class="form-control"
                                            [formControl]="Form_AddUser.controls['ReferralCode']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['ReferralCode'].valid && Form_AddUser.controls['ReferralCode'].touched}">
                                    </div>
                                    <!-- <label class="text-danger" for="ReferralCode"
                                        *ngIf="Form_AddUser.controls['ReferralCode'].hasError('required') && Form_AddUser.controls['ReferralCode'].touched">
                                        Enter referral code
                                    </label>
                                    <label class="text-danger" for="ReferralCode"
                                        *ngIf="Form_AddUser.controls['ReferralCode'].hasError('min') || Form_AddUser.controls['ReferralCode'].hasError('max')">
                                        Referral code must be between 0 to 32
                                    </label> -->
                                </div>
                            </div>
                        </div>

                        <!-- <h3 class="tx-medium tx-18">Branch and RM</h3>
                        <p class="tx-14 text-muted">Please assign Branch and RM to this merchant</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                    <label>Assign Branch<span class="text-danger">*</span>
                                    </label>
                                    <select2 name="S2GetBranches" class="full-width" [options]="GetBranches_Option"
                                        (valueChanged)="GetBranches_ListChange($event)"></select2>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                    <label>Assign Rm<span class="text-danger">*</span>
                                    </label>
                                    <select2 name="S2GetManagers" class="full-width" [options]="GetMangers_Option"
                                        (valueChanged)="GetMangers_ListChange($event)"></select2>
                                    
                                </div>
                            </div>
                        </div> -->

                        <!-- <h3 class="tx-medium tx-18">Rewards Wallet Type</h3>
                        <div class="tx-14 text-muted mg-b-25">Merchant reward deduction from account.
                            <div class="form-group mg-y-15">
                                <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="radio" name="rewardwallettype"
                                            value="rewarddeductiontype.prepay" [value]="'rewarddeductiontype.prepay'"
                                            [formControl]="Form_AddUser.controls['RewardDeductionTypeCode']">
                                        <i class="dark-white"></i> Prepay</label>
                                </div>
                                <div class="radio  float-left mr-3"><label class="ui-check"><input type="radio"
                                            name="rewardwallettype" value="rewarddeductiontype.postpay"
                                            [formControl]="Form_AddUser.controls['RewardDeductionTypeCode']"
                                            [value]="'rewarddeductiontype.postpay'">
                                        <i class="dark-white"></i> Post Pay</label></div>
                            </div>
                        </div> -->
                        <br>
                        <h3 class="tx-medium tx-18">Merchant Type</h3>
                        <div class="tx-14 text-muted mg-b-25">Enable this option only when Merchant is selling only
                            deals on ThankUCash platform.
                            <!-- <span class=" text-warning mb-2 text-xs">Default options is prepay</span> -->
                            <div class="form-group mg-y-15">
                                <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="radio" name="dealtype" value="true"
                                            [value]="true" [formControl]="Form_AddUser.controls['DealTypeCode']">
                                        <i class="dark-white"></i> Yes</label>
                                </div>
                                <div class="radio  float-left mr-3"><label class="ui-check"><input type="radio"
                                            name="dealtype" value="false"
                                            [formControl]="Form_AddUser.controls['DealTypeCode']" [value]="'false'"
                                            checked>
                                        <i class="dark-white"></i> No</label></div>

                            </div>
                        </div>
                        <br>

                        <!-- <div class="form-group mg-t-6">
                            <div class="col-md-10 col-sm-10 col-xs-12 p-0">
                                    <div class="radio float-left mr-3 mg-b-6">
                                        <label class="ui-check"><input type="radio" name="rewardwallettype"
                                                value="rewarddeductiontype.prepay"
                                                [value]="'rewarddeductiontype.prepay'" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="Form_AddUser.controls['RewardDeductionTypeCode'].value"
                                                >
                                            <i class="dark-white"></i> Prepay</label>
                                    </div>
                                    <div class="radio  float-left mr-3"><label class="ui-check"><input type="radio"
                                                name="rewardwallettype" value="rewarddeductiontype.postpay"
                                                [value]="'rewarddeductiontype.postpay'" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="Form_AddUser.controls['RewardDeductionTypeCode'].value">
                                            <i class="dark-white"></i> Post Pay</label></div>
                                    <div class="radio float-left mr-3"><label class="ui-check"><input type="radio"
                                                name="rewardwallettype" value="rewarddeductiontype.prepayandpostpay"
                                                [value]="'rewarddeductiontype.prepayandpostpay'" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="Form_AddUser.controls['RewardDeductionTypeCode'].value">
                                            <i class="dark-white"></i>
                                            Prepay + Postpay</label></div>
                                    <div class="radio float-left mr-3"><label class="ui-check"><input type="radio"
                                                name="rewardwallettype" value="rewarddeductiontype.directdebit"
                                                [value]="'rewarddeductiontype.directdebit'" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="Form_AddUser.controls['RewardDeductionTypeCode'].value">
                                            <i class="dark-white"></i>
                                            Direct Debit </label></div>
                                </div>
                        </div> -->

                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary float-right" (click)="_ShowGeneralPreview()"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        Next
                    </button>
                </div>
            </section>
            <h3>Store Details</h3>
            <section>
                <div *ngIf="F_AddStore">
                    <p class="tx-14 text-muted">Please enter store initial information to create first store</p>
                    <div class="custom-control custom-checkbox mt-3 mb-3">
                        <input class="custom-control-input" type="checkbox" name="browser[]" value="1"
                            [checked]="_StoreInfoCopy" (change)="_ToogleStoreCopy()" data-parsley-mincheck="2"
                            data-parsley-class-handler="#cbWrapper" data-parsley-errors-container="#cbErrorContainer"
                            required="" data-parsley-multiple="browser" id="b3">
                        <label class="custom-control-label  text-muted tx-14" for="b3">Store details are same as
                            business
                            details</label> <br>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Store Name<span class="text-danger">*</span> </label>
                                <div class="controls">
                                    <input [attr.disabled]="_StoreInfoCopy ? '' : null" type="text"
                                        placeholder="Store Name" name="DisplayName" maxlength="256" class="form-control"
                                        [formControl]="F_AddStore.controls['DisplayName']"
                                        [ngClass]="{'is-invalid':!F_AddStore.controls['DisplayName'].valid && F_AddStore.controls['DisplayName'].touched}">
                                </div>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="F_AddStore.controls['DisplayName'].hasError('required') && F_AddStore.controls['DisplayName'].touched">
                                    enter Store Name
                                </label>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="F_AddStore.controls['DisplayName'].hasError('minlength') || F_AddStore.controls['DisplayName'].hasError('maxlength')">parent
                                    Store Name must be between 4 - 256 characters
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Phone Number <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                        </div>
                                        <input [attr.disabled]="_StoreInfoCopy ? '' : null" type="text"
                                            placeholder="Phone Number" name="ContactNumber" minlength="8"
                                            maxlength="14" class="form-control contact-textbox-height"
                                            (keypress)="_HelperService.PreventText($event)"
                                            [formControl]="F_AddStore.controls['ContactNumber']"
                                            [ngClass]="{'is-invalid':!F_AddStore.controls['ContactNumber'].valid && F_AddStore.controls['ContactNumber'].touched}">
                                    </div>
                                </div>
                                <label class="text-danger" for="ContactNumber"
                                    *ngIf="F_AddStore.controls['ContactNumber'].hasError('required') && F_AddStore.controls['ContactNumber'].touched">enter
                                    enter phone number</label>
                                <label class="text-danger" for="ContactNumber"
                                    *ngIf="F_AddStore.controls['ContactNumber'].hasError('minlength') || F_AddStore.controls['ContactNumber'].hasError('maxlength')">
                                    Phone number must be between 8 to 14 numbers
                                </label>

                            </div>
                            <div class="form-group">
                                <label>Email ID<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input [attr.disabled]="_StoreInfoCopy ? '' : null" type="text"
                                        placeholder="Email Id" name="EmailAddress" maxlength="256" class="form-control"
                                        [formControl]="F_AddStore.controls['EmailAddress']"
                                        [ngClass]="{'is-invalid':!F_AddStore.controls['EmailAddress'].valid && F_AddStore.controls['EmailAddress'].touched}">
                                </div>
                                <label class="text-danger" for="EmailAddress"
                                    *ngIf="F_AddStore.controls['EmailAddress'].hasError('required') && F_AddStore.controls['EmailAddress'].touched">
                                    enter Email ID
                                </label>

                                <!-- <label class="text-danger" for="EmailAddress"
                                    *ngIf="F_AddStore.controls['EmailAddress'].hasError('email') && F_AddStore.controls['EmailAddress'].touched">
                                    enter valid Email ID
                                </label> -->
                                <label class="text-danger" for="EmailAddress"
                                    *ngIf="F_AddStore.controls['EmailAddress'].hasError('pattern') && F_AddStore.controls['EmailAddress'].touched">
                                    enter valid Email ID
                                </label>

                            </div>

                            <div class="">
                                <h3 class="tx-medium tx-18">Contact Person Information</h3>
                                <p class="tx-14 text-muted">Enter Contact Person Details
                                </p>
                                <div class="row ">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Contact Person First Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input [attr.disabled]="_StoreInfoCopy ? '' : null" type="text"
                                                    placeholder="First Name" name="FirstName" minlength="2"
                                                    maxlength="128" class="form-control"
                                                    [formControl]="F_AddStore.controls['FirstName']"
                                                    [ngClass]="{'is-invalid':!F_AddStore.controls['FirstName'].valid && F_AddStore.controls['FirstName'].touched}">
                                            </div>
                                            <label class="text-danger" for="FirstName"
                                                *ngIf="F_AddStore.controls['FirstName'].hasError('required') && F_AddStore.controls['FirstName'].touched">
                                                Enter name
                                            </label>
                                            <label class="text-danger" for="FirstName"
                                                *ngIf="F_AddStore.controls['FirstName'].hasError('minlength') || F_AddStore.controls['FirstName'].hasError('maxlength')">
                                                Name must be between 2 to 128 characters
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>Contact Person Last Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input [attr.disabled]="_StoreInfoCopy ? '' : null" type="text"
                                                    placeholder="Last Name" name="LastName" minlength="2"
                                                    maxlength="128" class="form-control"
                                                    [formControl]="F_AddStore.controls['LastName']"
                                                    [ngClass]="{'is-invalid':!F_AddStore.controls['LastName'].valid && F_AddStore.controls['LastName'].touched}">
                                            </div>
                                            <label class="text-danger" for="LastName"
                                                *ngIf="F_AddStore.controls['LastName'].hasError('required') && F_AddStore.controls['LastName'].touched">
                                                Enter name
                                            </label>
                                            <label class="text-danger" for="LastName"
                                                *ngIf="F_AddStore.controls['LastName'].hasError('minlength') || F_AddStore.controls['LastName'].hasError('maxlength')">
                                                Name must be between 2 to 128 characters
                                            </label>
                                        </div>

                                    </div>
                                    <!-- <div class="col-md-12"></div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label> Mobile Number<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls input-group">
                                                <div class="input-group-prepend">
                                                    <span
                                                        class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                                </div>
                                                <input [attr.disabled]="_StoreInfoCopy ? '' : null" type="text"
                                                    placeholder="ContactMobileNumber" name="ContactMobileNumber"
                                                    minlength="8" maxlength="14" class="form-control"
                                                    (keypress)="_HelperService.PreventText($event)"
                                                    [formControl]="F_AddStore.controls['ContactMobileNumber']"
                                                    [ngClass]="{'is-invalid':!F_AddStore.controls['ContactMobileNumber'].valid && F_AddStore.controls['ContactMobileNumber'].touched}">
                                            </div>
                                            <label class="text-danger" for="ContactMobileNumber"
                                                *ngIf="F_AddStore.controls['ContactMobileNumber'].hasError('required') && F_AddStore.controls['ContactMobileNumber'].touched">
                                                Enter mobile number
                                            </label>
                                            <label class="text-danger" for="ContactMobileNumber"
                                                *ngIf="F_AddStore.controls['ContactMobileNumber'].hasError('minlength') || F_AddStore.controls['ContactMobileNumber'].hasError('maxlength')">
                                                Mobile number must be between 8 to 14 numbers
                                            </label>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6"></div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <label>Email Address<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input [attr.disabled]="_StoreInfoCopy ? '' : null" type="text"
                                                    placeholder="Email Id" name="ContactEmailId" maxlength="256"
                                                    class="form-control"
                                                    [formControl]="F_AddStore.controls['ContactEmailId']"
                                                    [ngClass]="{'is-invalid':!F_AddStore.controls['ContactEmailId'].valid && F_AddStore.controls['ContactEmailId'].touched}">
                                            </div>
                                            <label class="text-danger" for="ContactEmailId"
                                                *ngIf="F_AddStore.controls['ContactEmailId'].hasError('required') && F_AddStore.controls['ContactEmailId'].touched">
                                                Enter business email address
                                            </label>

                                            <!-- <label class="text-danger" for="ContactEmailId"
                                                *ngIf="F_AddStore.controls['ContactEmailId'].hasError('email') && F_AddStore.controls['ContactEmailId'].touched">
                                                Enter valid business email address
                                            </label> -->
                                            <label class="text-danger" for="ContactEmailId"
                                                *ngIf="F_AddStore.controls['ContactEmailId'].hasError('pattern') && F_AddStore.controls['ContactEmailId'].touched">
                                                Enter valid business email address
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" *ngIf="ShowStoreAddressLocator">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="tx-medium tx-14">Business Location</h3>
                                    <hcx-addressmanager [type]="2" [St_Data]="_AddressStore"
                                        (StoreAddress_)="onStoreAddresschange($event)"></hcx-addressmanager>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary float-right" (click)="_ShowStorePreview()"
                        [disabled]="!F_AddStore.valid || _HelperService.IsFormProcessing">
                        Next
                    </button>
                </div>
            </section>
            <h3>POS Terminal</h3>
            <section>
                <div class="col-md-12 pd-0">
                    <div class="tx-14 text-muted"> ....Please add pos detail of merchant. Please select proper PTSP for
                        terminal
                        and confirm before finish</div>
                    <div class="row mg-t-25">
                        <div class="form-group col-md-3 pb-0 mb-0">
                            <label class="tx-13 text-muted">Bank Name</label> <br>
                            <select2 class="full-width" [options]="TUTr_Filter_Bank_Option"
                                (valueChanged)="TUTr_Filter_Banks_Change($event)">
                            </select2>
                        </div>
                        <div class="form-group col-md-3 pb-0 mb-0">
                            <label class="tx-13 text-muted">Provider Name</label> <br>
                            <select2 class="full-width" [options]="TerminalsList_Filter_Provider_Option"
                                (valueChanged)="TerminalsList_Filter_Providers_Change($event)">
                            </select2>
                        </div>
                        <div class="form-group col-md-3 pb-0 mb-0">
                            <label class="tx-13 text-muted">{{ "System.Users.TerminalId" | translate
                                }}
                            </label>
                            <div class="controls">
                                <input type="text" name="TerminalId" maxlength="128" class="form-control"
                                    [formControl]="Form_AddTerminal.controls['TerminalId']" />
                            </div>
                            <label class="text-danger" for="TerminalId" *ngIf="
                            Form_AddTerminal.controls['TerminalId'].hasError('required') &&
                            Form_AddTerminal.controls['TerminalId'].touched
                          ">{{
                                "System.Users.Terminal_ER_Required" | translate
                                }}</label>
                            <label class="text-danger" for="TerminalId" *ngIf="
                                Form_AddTerminal.controls['TerminalId'].hasError(
                              'minlength'
                            ) ||
                            Form_AddTerminal.controls['TerminalId'].hasError('maxlength')
                          ">{{ "System.Users.Terminal_ER_Length" | translate }}</label>
                        </div>

                        <div class="col-md-2 pd-t-25">
                            <button type="button" class="btn btn-primary" (click)="AddTerminal()">
                                Add POS
                            </button>
                        </div>

                    </div>
                    <div>

                    </div>

                    <table class="table my-3 bd">
                        <thead>
                            <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Bank Name</th>
                                <th scope="col">Terminal Id</th>
                                <th scope="col">PTSP</th>
                                <th scope="col">Store</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let TItem of _TerminalList1;let i = index">
                                <th scope="row">
                                    {{i+1}}
                                </th>
                                <td>{{TItem.BankName}}</td>
                                <!-- <td>{{bankname}}</td> -->
                                <td>{{TItem.TerminalId}}</td>
                                <!-- <td>{{TItem.TerminalId}}</td> -->
                                <!-- <td>{{TItem.ProviderId}}</td> -->
                                <td>{{TItem.ProviderName}}</td>
                                <td>{{StoreName}}</td>
                                <td>
                                    <span>
                                        <a (click)="RemoveTerminal(TItem.ReferenceId)">
                                            <span class="fa fa-trash cursor-pointer text-danger text-md">
                                            </span>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <button type="button" class="btn btn-primary float-right" (click)="AddTerminal_Process()">
                        Save
                    </button>
                    <button type="button" class="btn btn-outline-primary float-right mg-r-5"
                        (click)="AddTerminal_Process()">
                        Skip
                    </button>
                </div>

                <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Terms & Condition</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">receive our newsletters</label>
                  </div> -->
            </section>
        </div>
    </div>
</form>
<div id="_PreviewGeneral" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ml-4">Create New Merchant</h5>
            </div>
            <div class="modal-body  p-y-20 pd-x-40">
                <span class="tx-14 text-muted"> Please confirm , You want to add. <span class="tx-semibold tx-black"> "
                    </span> <span
                        class="tx-semibold tx-black">{{Form_AddUser.controls['DisplayName'].value}}</span><span
                        class="tx-semibold tx-black"> " </span> As merchant with <span class="tx-semibold text-success">
                        {{Form_AddUser.controls['RewardPercentage'].value}} %</span> rewards on all products?</span>
                <div class="row mt-3">
                    <div class="col-md-3">Business </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted">{{Form_AddUser.controls['DisplayName'].value}}</div>
                    <div class="col-md-3">Address </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted"> {{_Address.Address}}</div>
                    <div class="col-md-3">Phone No. </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted">{{Form_AddUser.controls['ContactNumber'].value}}</div>
                    <div class="col-md-3">Email Address </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted"> {{Form_AddUser.controls['EmailAddress'].value}}</div>
                    <div class="col-md-3">Reward Percentage </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted"> {{Form_AddUser.controls['RewardPercentage'].value}}</div>
                </div>
                <div class="row pd-y-20">
                    <div class="col-md-3">User Name </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-danger">{{Form_AddUser.controls['EmailAddress'].value}}</div>
                </div>
                <p class="text-muted mt-3">
                    Just select <span class="text-primary"> Save </span> button to create account.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ "Common.Close" | translate }}
                </button>
                <button type="button" class="btn btn-outline-primary mr-2" (click)="Form_AddUser_Process()">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        {{ "Common.Save" | translate }}
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                        {{ "Common.PleaseWait" | translate }}...
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="_PreviewStore" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown " *ngIf="F_AddStore">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ml-4">Add Store to <span>{{Form_AddUser.controls['DisplayName'].value}}</span>
                </h5>
            </div>
            <div class="modal-body  p-y-20 pd-x-40">
                <span class="tx-14 text-muted"> Please confirm , You want to add. first store <span
                        class="tx-semibold tx-black"> " </span> <span
                        class="tx-semibold tx-black">{{F_AddStore.controls['DisplayName'].value}}</span><span
                        class="tx-semibold tx-black"> " </span> for
                    <span>{{Form_AddUser.controls['DisplayName'].value}}</span></span>
                <div class="row mt-3">
                    <div class="col-md-3">Store </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted">{{F_AddStore.controls['DisplayName'].value}}</div>
                    <div class="col-md-3">Address </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted"> {{_AddressStore.Address}}</div>
                    <div class="col-md-3">Phone. </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted">{{F_AddStore.controls['ContactNumber'].value}}</div>
                    <div class="col-md-3">Email </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted"> {{F_AddStore.controls['EmailAddress'].value}}</div>

                    <p class="text-muted mt-3 ml-3">
                        Select <span class="text-primary"> Save & invite </span> button to send account details and
                        password to merchant on <span class="tx-black"> {{Form_AddUser.controls['EmailAddress'].value}}
                        </span> or Just select <span class="text-success"> Save </span> button to create account.
                    </p>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between" style="margin-left: 20px;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ "Common.Close" | translate }}
                </button>


                <div>
                    <button type="button" class="btn btn-primary mg-r-10" data-dismiss="modal"
                        (click)="F_AddStore_Process()">
                        {{ "Common.Save&Invite" | translate }}
                    </button>

                    <button type="button" class="btn btn-outline-primary warn mr-2" (click)="F_AddStore_Process()">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>

<div id="_PreviewTerminal" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> All Done </h5>
            </div>
            <div class="modal-body  p-lg">
                <div class="row">
                    <div class="col-md-2">
                        <span class="text-success"> <i style="height: 60px; width: 60px;" data-feather="thumbs-up"></i>
                        </span>
                    </div>
                    <div class="col-md-10">
                        <span class="tx-14"> Well done! You have successfully added merchant , store and POS. </span>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="terminal_Close()">
                    {{ "Common.Close" | translate }}
                </button>
                <!-- <button type="button" class="btn btn-primary warn mr-2" (click)="Form_AddUser_Process()"
                    [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        {{ "Common.Save" | translate }}
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                        {{ "Common.PleaseWait" | translate }}...
                    </span>
                </button> -->
            </div>
        </div>
    </div>
</div>