<div class="editor" #tuiRef >
</div>

<div id="footer">
  <button mat-raised-button class="savebtn" (click)="save()">Save</button>
  <button mat-raised-button [mat-dialog-close]="false" class="closebtn">Close</button>
</div>
