.tui-image-editor-container {
  height: 700px !important
}


#footer {
  text-align: end;
}

img {
  z-index: 1000;
  position: absolute;
  top: 45%;
  right: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 400px;
}