<div class="renameDialog">
  <h1 mat-dialog-title>Rename Image</h1>
  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Rename image" [(ngModel)]="fileName">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button class="savebtn" (click)="renameFile()">OK</button>
    <button mat-raised-button class="closebtn" [mat-dialog-close]="false">Cancel</button>
  </mat-dialog-actions>
</div>