<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0" id="headingOne">

            <div class="row ">

                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl "><img [style.border-color]="_SubAccountDetails.StatusC"
                                src="{{ _SubAccountDetails.IconUrl }}" class="rounded-circle bd bd-2" alt=""> </div>
                    </div><!-- media -->
                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter mg-t-15  mg-lg-t-0">
                    <div class="media  Hm-textCenterMd">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-bold text-capitalize tx-spacing-1 mg-b-2">
                                {{_SubAccountDetails.Name}}</h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal lh-2 mg-b-0">
                                    <span class="text-secondary mg-r-5"> <i style="height: 18px; width: 18px;;"
                                            data-feather="users"></i> </span> <span> Admin</span>
                                </h2>
                            </div>

                        </div><!-- media-body -->
                    </div><!-- media -->
                </div>
                <div class="col-lg-6 mg-t-15  mg-lg-t-0 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <div class="col-sm-6 col-md-6 col-lg-6">


                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">


                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex mg-t-15  mg-lg-t-0 justify-content-end">
                            <div class="row">
                                <div class="manageButton mg-t-0 pd-t-0">
                                    <button (click)="EditBranch()" type="button" data-permission="acqsubaccountupdate"
                                        class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill pnvalid">Manage
                                        Account</button>
                                </div>

                                <div class="collapseButton">
                                    <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                        (click)="changeSlide() ; myFunction()" class="btn  btn-link"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                                [class.clicked]="slideOpen"></i>
                                        </div>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-11">
                        <div class="row">



                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6 mg-t-15  mg-lg-t-15">
                                        <label
                                            class="tx-14 tx-bold text-capitalize Hm-HeaderColor tx-spacing-1 mg-b-15">
                                            Contact information
                                        </label>
                                        <ul class="list-unstyled profile-info-list">

                                            <li class="tx-color-03">
                                                <i data-feather="user"></i>
                                                <span class="tx-color-03">{{_SubAccountDetails.Name || "--"}}</span>
                                            </li>
                                            <li class="tx-color-03">
                                                <i data-feather="smartphone"></i>
                                                <a>{{_SubAccountDetails.MobileNumber}}</a>
                                            </li>
                                            <li class="tx-color-03">
                                                <i data-feather="mail"></i>
                                                <a>{{_SubAccountDetails.EmailAddress}}</a>
                                            </li>
                                        </ul>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mg-t-15  mg-lg-t-0 d-block d-sm-none">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row flex-nowrap">

                            <div class="col-sm-6 col-md-6 col-lg-6">


                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">


                            </div>


                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex mg-t-15  mg-lg-t-0 justify-content-end">
                        <div class="row">
                            <div class="manageButton mg-t-0 pd-t-0">
                                <button (click)="EditBranch()" type="button"
                                    class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                    Account</button>
                            </div>

                            <div class="collapseButton">
                                <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                    (click)="changeSlide() ; DisplayDiv()" class="btn  btn-link" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                            [class.clicked]="slideOpen"></i>
                                    </div>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>


</div>


<div id="Form_EditUser_Content" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title ml-3">Update Subaccount</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.Name" | translate
                                        }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="Name" maxlength="128" class="form-control"
                                            [formControl]="Form_EditUser.controls['Name']"
                                            [(ngModel)]="_SubAccountDetails.Name" [ngClass]="{
                              'is-invalid':
                                !Form_EditUser.controls['Name'].valid &&
                                Form_EditUser.controls['Name'].touched
                            }" />
                                    </div>
                                    <label class="text-danger" for="Name" *ngIf="
                            Form_EditUser.controls['Name'].hasError('required') &&
                            Form_EditUser.controls['Name'].touched
                          ">{{
                                        "System.Users.Name_ER_Required" | translate
                                        }}</label>
                                    <label class="text-danger" for="Name" *ngIf="
                            Form_EditUser.controls['Name'].hasError(
                              'minlength'
                            ) ||
                            Form_EditUser.controls['Name'].hasError('maxlength')
                          ">{{ "System.Users.Name_ER_Length" | translate }}</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.MobileNumber" | translate
                                        }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                        </div>
                                        <input type="text" name="MobileNumber" minlength="8" maxlength="10"
                                            class="form-control" (keypress)="_HelperService.PreventText($event)"
                                            [formControl]="Form_EditUser.controls['MobileNumber']"
                                            [(ngModel)]="_SubAccountDetails.MobileNumber" [ngClass]="{
                              'is-invalid':
                                !Form_EditUser.controls['MobileNumber'].valid &&
                                Form_EditUser.controls['MobileNumber'].touched
                            }" />
                                    </div>
                                    <label class="text-danger" for="MobileNumber" *ngIf="
                            Form_EditUser.controls['MobileNumber'].hasError(
                              'required'
                            ) && Form_EditUser.controls['MobileNumber'].touched
                          ">{{
                                        "System.Users.MobileNumber_ER_Required" | translate
                                        }}</label>
                                    <label class="text-danger" for="MobileNumber" *ngIf="
                            Form_EditUser.controls['MobileNumber'].hasError(
                              'minlength'
                            ) ||
                            Form_EditUser.controls['MobileNumber'].hasError(
                              'maxlength'
                            )
                          ">Mobile number must be between 8-14 digits</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.EmailAddress" | translate
                                        }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                                            [formControl]="Form_EditUser.controls['EmailAddress']"
                                            [(ngModel)]="_SubAccountDetails.EmailAddress" [ngClass]="{
                              'is-invalid':
                                !Form_EditUser.controls['EmailAddress'].valid &&
                                Form_EditUser.controls['EmailAddress'].touched
                            }" />
                                    </div>
                                    <label class="text-danger" for="EmailAddress" *ngIf="
                            Form_EditUser.controls['EmailAddress'].hasError(
                              'required'
                            ) && Form_EditUser.controls['EmailAddress'].touched
                          ">{{
                                        "System.Users.EmailAddress_ER_Required" | translate
                                        }}</label>

                                    <label class="text-danger" for="EmailAddress" *ngIf="
                            Form_EditUser.controls['EmailAddress'].hasError('email') &&
                            Form_EditUser.controls['EmailAddress'].touched
                          ">{{
                                        "System.Users.EmailAddress_ER_Invalid" | translate
                                        }}</label>
                                </div>
                                <div class="form-group">
                                    <div class="radio float-left mr-3">
                                        <label class="ui-check"><input type="radio"
                                                [(ngModel)]="_SubAccountDetails.StatusCode" name="statusoptions"
                                                [value]="'default.active'"
                                                [formControl]="Form_EditUser.controls['StatusCode']">
                                            <i class="dark-white"></i>
                                            {{ 'Common.Active' | translate }}</label>
                                    </div>
                                    <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                                                [(ngModel)]="_SubAccountDetails.StatusCode" name="statusoptions"
                                                [value]="'default.inactive'"
                                                [formControl]="Form_EditUser.controls['StatusCode']">
                                            <i class="dark-white"></i>
                                            {{ 'Common.Inactive' | translate }}</label></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" >

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Profile Image <span class="text-danger">*</span></label>


                                    <input-file fileAccept="image/*" sizeLimit="400" fileLimit="1"
                                        [formControl]="Form_EditUser.controls['ImageContent']"
                                        (deletedFile)="removeImage()" (acceptedFile)="onImageAccept1($event)">
                                    </input-file>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div style="margin-top: 10%;" *ngIf="_imageConfig.profileImages.length < 1">
                                    <img [src]="_SubAccountDetails.IconUrl" height="150" width="150">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_EditUser_Close()">
                        {{ "Common.Cancel" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="Form_EditUser.value.OperationType = 'new'"
                        [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>


                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3"
                            *ngIf="_ImageManager.ActiveImage != undefined && _ImageManager.ActiveImage != null">
                            <image-cropper [imageFileChanged]="_ImageManager.ActiveImage.file" [aspectRatio]="2 / 1"
                                [format]="jpeg" [maintainAspectRatio]="_ImageManager.Option.MaintainAspectRatio"
                                [cropperMinWidth]="_ImageManager.Option.MinimumWidth"
                                [cropperMinHeight]="_ImageManager.Option.MinimumHeight"
                                [resizeToWidth]="_ImageManager.Option.ResizeToWidth"
                                (imageCroppedBase64)="Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " (click)="Icon_B64CroppedDone()"
                                    data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button> &nbsp;
                                <button type="button" class="btn btn-warning " (click)="Icon_Crop_Clear()">{{
                                    'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>