/* home custom css for font size and font family start */
#exampleModalLongTitle {
    color: #303F9F;
}

.modal-label-one {
    color: #3B4863;
}

.label-two-color {
    color: #221113;
    font-weight: bold;
}

.clabel {
    color: #303F9F;
}

.cbody {
    background: #FFFFFF;
    border-radius: 0.7rem;
    box-shadow: 0px 10px 32px -4px rgba(15, 29, 63, 0.1), 0px -2px 14px -6px rgba(15, 29, 63, 0.12);
    border-collapse: collapse;
}

.primary {
    color: #303F9F;
}

.selectedCard {
    background-color: #303F9F;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
    ;
}

.cardHover :hover {
    background-color: #1D265F;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
    ;
}

.cardHover :hover .clabel {
    color: #FFFFFF;
}

.cardHover:hover #myImg {
    content: url("../../../../assets/img/fileWhite.png");
    background-repeat: no-repeat;
}

.selectedCard #myImg {
    content: url("../../../../assets/img/fileWhite.png");
    background-repeat: no-repeat;
}

.selectedCard #my-img {
    content: url("../../../../assets/img/userWhite.png");
    background-repeat: no-repeat;
}

.selectedCard .clabel {
    color: #FFFFFF;
}

.cardHover:hover #my-img {
    content: url("../../../../assets/img/userWhite.png");
    background-repeat: no-repeat;
}

.cardHover :hover .primary {
    color: #FFFFFF;
}

.ccard {
    border: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.ccard .cbody .clabel {
    cursor: pointer;
}

.verificationModal {
    border-radius: 10px;

}

.modal-dialog {
    height: 90vh !important;
    display: flex;
}

.modal-content {
    margin: auto !important;
    height: fit-content !important;
}

.Info {
    padding-left: 300px;
    padding-top: 70px;
}

.dashboardBtn{
    color: #FFFFFF;
    border-radius: 4px;
    width: 126px;
}

.dashboardBtn :hover .dashboardBtn span :hover{
    background-color: #1D265F;
}
.darkBlueBtn{
    background-color: #303F9F;
    color: #FFFFFF;
}





/* select account type card */

.pricingBtn {
    color: #FFFFFF;
    border-radius: 4px;
    width: 126px;
}


.checkBox {
    border: 2px solid #303F9F;
    position: absolute;
    left: 80%;
    right: 0%;
    top: 8%;
    bottom: 76%;
    height: 16px;
    width: 16px;
}

input[type=checkbox] {
    accent-color: #FFFFFF;
  }
.detailTitle {
    position: absolute;
    color: #1B2E4B;
    left: 25px;
}

.detailPoints {
    position: absolute;
    color: #001737;
}

.detailPointsList {
    color: #001737;
}

.dashboardBtn{
    color: #FFFFFF;
    border-radius: 4px;
    width: 126px;
}

.dashboardBtn :hover .dashboardBtn span :hover{
    background-color: #1D265F;
}
.loyaltyCard{
    background-color:  #1D265F; /*#303F9F; */
    color: #FFFFFF;
}
.loyaltyCard #myImg {
    content: url("../../../../assets/img/loyaltyWhite.png");
     background-repeat: no-repeat;
 }

 .loyaltyCard .card-labels{
     color: #FFFFFF;
 }


 .dealsCard{
    background-color: #1D265F;
    color: #FFFFFF;
}
.dealsCard #my-img {
    content: url("../../../../assets/img/dealsWhite.png");
     background-repeat: no-repeat;
 }

 .dealsCard .card-labels{
     color: #FFFFFF;
 }

.click-to-top .toolTip {
    display: none;
    max-width: 40%;
    max-height: 10%;
    border-radius: 0.3rem;
  }
  
  .click-to-top img{
      position: relative;
  }
  .toolTip{
    background: #303F9F;
    color: #FFFFFF;
    left: 30%;
  }

 .click-to-top:hover .toolTip {
    display: block;
    position: absolute;
    z-index: 1710;
  }


/* new  modal start*/

  .cardtwo {
    background: #FFFFFF;
    box-shadow: 0px 10px 32px -4px rgba(15, 29, 63, 0.1), 
    0px -2px 14px -6px rgba(15, 29, 63, 0.12);
    border-radius: 10px;
}

.cardheading {
    color: #303F9F;
}
.cardpara {
    color: #303F9F;
}

#accountLabel {
    color: #3B4863;
}

.mainhead {
    color: #3B4863;
}


/* new  modal end*/


.accountCards .cardToolTip {
    display: none;

    width: 260px;
    height : 80px;
    border-radius: 10px;
    box-shadow: 0px 10px 32px -4px rgba(15, 29, 63, 0.1), 
    0px -2px 14px -6px rgba(15, 29, 63, 0.12);
    border: 0.5px solid lightslategray;
  }
  
  .cardToolTip{
    background:#FFFFFF;
    color: #303F9F;
    margin-top: -10%;
    margin-left: -10%;
  }

  .accountCards:hover .cardToolTip {
    display: block;
    position: absolute;
    z-index: 1710;
  }

  .dealCards .dealToolTip {
    display: none;

    width: 260px;
    height : 80px;
    border-radius: 10px;
    box-shadow: 0px 10px 32px -4px rgba(15, 29, 63, 0.1), 
    0px -2px 14px -6px rgba(15, 29, 63, 0.12);
    border: 0.5px solid lightslategray;
  }
  
  .dealToolTip{
    background:#FFFFFF;
    color: #303F9F;
    margin-top: -10%;
    margin-left: -10%;
  }

  .dealCards:hover .dealToolTip {
    display: block;
    position: absolute;
    z-index: 1710;
  }

  .darkBlueBtn{
    background-color: #303F9F;
    color: #FFFFFF;
}


.darkBlueBtn:hover {
    background-color: #1D265F;
}