<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">
            Merchants</a></li>
</ol>

<div class="row" id="isMainCardShow">
    <div class="col-sm-7">

        <div class="specier"></div>
        <div class="card" role="document">

            <div class="card-header">
                <div class="row">
                    <!-- <div class="col-sm-1">
                        <a (click)="backBusinessDetailPage()">
                            <i class="fa fa-arrow-left cursor-pointer" aria-hidden="true" style="height: 18px;"></i>
                        </a>
                    </div>
                    <div class="col-sm-11">
                        <h5 class="modal-title fw-700 tx-14 line-16 text-uppercase" id="exampleModalLongTitle">Congratulations</h5>
                    </div> -->
                    <div class="d-flex">
                        <span (click)="accountType()" class="ml-3">
                            <i class="fa fa-arrow-left cursor-pointer" aria-hidden="true" style="height: 18px;"></i>
                        </span>
                        <h5 class="modal-title fw-700 tx-14 line-16 ml-2">Select Account Type</h5>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="modal-part-one">
                    <div class="modal-labels">
                        <p class="modal-label-one fw-700 tx-14 line-16">
                            Your verification was successful!
                        </p>
                        <p class="modal-label-two Fw-400 tx-14 line-16">
                            Hi
                            <span class="label-two-color">
                                {{businessName}},
                            </span>
                            complete your account set up with these steps
                        </p>
                    </div>

                </div>

                <div class="modal-part-two mb-5">
                    <div class="container mb-4 mt-4">
                        <div class="row text-center g-1">
                            <div class="col-md-6 p-1">
                                <div class="card ccard " *ngIf="_HelperService.isDocComplete">
                                    <div class="card-body cbody" id="uploadDetails">
                                        <h5 class="card-title mt-2 mb-3">
                                            <img src="../../../../assets/img/file.png" id="myImg" height="60" />
                                        </h5>
                                        <i class="fa fa-check" aria-hidden="true" style="color: #10B759;"
                                            height="20px"></i>&nbsp;
                                        <label class="card-labels clabel f-400 tx-12 line-14 text-center">Business
                                            Details Uploaded</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-1">
                                <div class="card cardHover ccard" *ngIf="!_HelperService.isAccTypeComplete"
                                    (click)="accountType()">
                                    <div class="card-body cbody ml-1 mr-1"
                                        [ngClass]="{selectedCard: _HelperService.isDocComplete}" id="accountType">
                                        <h5 class="card-title mt-2 mb-3">
                                            <img src="../../../../assets/img/user.png" id="my-img" height="60" />
                                        </h5>
                                        <label
                                            class="card-labels clabel mr-2 ml-2 mb-2 f-500 tx-12 line-14 text-center">2. Select
                                            Account
                                            Type</label>
                                    </div>
                                </div>
                                <div class="card ccard " *ngIf="_HelperService.isAccTypeComplete">
                                    <div class="row">
                                        <div class="card-body cbody" id="uploadDetails">
                                            <h5 class="card-title mt-2 mb-3">
                                                <img src="../../../../assets/img/user.png" id="myImg" height="60" />
                                            </h5>
                                            &nbsp;<i class="fa fa-check" aria-hidden="true" style="color: #10B759;"
                                                height="20px"></i>&nbsp;
                                            <label class="card-labels clabel f-400 tx-12 line-14 text-center">Account
                                                Type Selected</label>&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div *ngIf="_HelperService.isAccTypeComplete && _HelperService.isDocComplete">
                    <button class="btn dashboardBtn darkBlueBtn mr-3" (click)="home()">
                        <span class="fw-400 tx-12 line-14">Done </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5"></div>
</div>

<div class="row" id="isAccountTypeSelect">
    <div class="col-sm-7">
        <div class="specier"></div>

        <div class="card">
            <div class="card-header">
                <div class="d-flex">
                    <span (click)="back()" class="ml-1">
                        <i class="fa fa-arrow-left cursor-pointer" aria-hidden="true" style="height: 18px;"></i>
                    </span> 
                    <h5 class="modal-title fw-700 tx-14 line-16 ml-2">Select Account Type</h5>
                </div>
              
                <!-- <div class="row">
                    <div class="col-sm-1 ml-0">
                        <span (click)="back()">
                            <i class="fa fa-arrow-left cursor-pointer" aria-hidden="true" style="height: 18px;"></i>
                        </span>
                    </div>
                    <div class="col-sm-11">
                        <h5 class="modal-title fw-700 tx-14 line-16">Select Account Type</h5>
                    </div>
                </div> -->
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center"><span class="heading fw-700 tx-14 line-16 text-center">
                        Select one or multiple business solution(s)</span></div>
                <div class="modal-part-two">
                    <div class="container mb-4 mt-4">
                        <div class="row text-center justify-content-center align-items-center">
                            <div class="col-md-5 pt-3 accountCards">
                                <div class="card card-body " id="loyaltyCard"
                                    (click)="selectSolution($event,'tuLoyalty')">
                                    <input type="checkbox" class="checkBox" [checked]="loyalty == true"
                                        (keyup)="selectSolution($event,'tuLoyalty')" />
                                    <h5 class="card-title mt-2 mb-2">
                                        <img src="../../../../assets/img/loyalty.png" id="myImg" height="50" />
                                    </h5>
                                    <label class="card-labels fw-500 tx-12 line-14 text-center">ThankUCash
                                        Loyalty</label>

                                </div>
                                <span class="cardToolTip tx-10 line-16">
                                    <p class="ml-3 mt-3"> Give your customers a reason to stay loyal and become your
                                        brand ambassandors while growing your business using our reward system.</p>
                                </span>
                            </div>
                            <!-- <div class="col-md-1 pt-3"></div> -->
                            <div class="col-md-5 pt-3 dealCards">
                                <div class="card card-body" id="dealsCard" (click)="selectSolution($event,'tuDeals')">
                                    <input type="checkbox" class="checkBox" [checked]="deals == true"
                                        (keyup)="selectSolution($event,'tuDeals')" />
                                    <h5 class="card-title mt-2 mb-3">
                                        <img src="../../../../assets/img/deals.png" id="my-img" height="40" />
                                    </h5>
                                    <label class="card-labels fw-500 tx-12 line-14 text-center">ThankUCash Deals</label>
                                </div>
                                <span class="dealToolTip tx-10 line-16">
                                    <p class="ml-3 mt-3"> Display your unique service or product to a wide variety of
                                        new customers and build loyalty to your brand.</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="loyalty">
                    <span class="detailTitle tx-14 line-16" class="mb-3">Please select a reward model</span>
                    <div class="mt-3 mr-5">
                        <div><input type="radio" id="tuLoyaltyRadio1" name="tuLoyaltyRadio" class="radio ml-4"
                                (click)="rewardSelect($event)" /> <b class="detailPoints tx-14 ml-3">Open
                                Loyalty Model</b> </div>
                        <div>
                            <p class="detailPointsList tx-14 line-22" style="padding-left: 11%;">Open reward loyalty
                                lets your customers spend their
                                rewards at any
                                ThankUCash merchant location</p>
                        </div>
                        <div *ngIf="rewards" class="mb-4">
                            <span class="detailPointsList tx-14 line-22 mb-3" style="padding-left: 11%;">Set loyalty
                                percentage</span> &nbsp;
                            <span class="click-to-top">
                                <img src="../../../../assets/img/selectPercentage.png" height="13px" class="textImg" />
                                <span class="toolTip tx-10">
                                    <p class="ml-2 mt-2"> This is the percentage your customer gets as a reward on
                                        purchase</p>
                                </span>
                            </span>
                            <div class="input-group input-group-sm w-75" style="padding-left: 11%;">
                                <input type="number" min="0" max="256" [(ngModel)]="loyaltyPercentage"
                                    (keyup)="percentage(loyaltyPercentage)" name="openRewardPercentage"
                                    id="openRewardPercentage" class="form-control radioColor" />
                            </div>
                            <label class="text-danger form-label formlabels fw-500 tx-12 line-16"
                            for="accountNumber"
                            *ngIf="isValidPercentage" style="padding-left: 11%;">
                            Percentage value must be between 0-100</label>
                        </div>
                    </div>
                    <div class="mr-5">
                        <div><input type="radio" id="tuLoyaltyRadio2" name="tuLoyaltyRadio" class="radio ml-4"
                                (click)="rewardSelect($event)" /> <b class="detailPoints tx-14 ml-3 ">Closed Loyalty
                                Model</b></div>
                        <div>
                            <p class="detailPointsList tx-14 line-22" style="padding-left: 11%;">Closed reward loyalty
                                lets your customers spend
                                their rewards only at your merchant location</p>
                        </div>
                        <div *ngIf="rewards ==false" class="mb-4">
                            <span class="detailPointsList tx-14 line-22 mb-3" style="padding-left: 11%;">Set loyalty
                                percentage</span> &nbsp;
                            <span class="click-to-top">
                                <img src="../../../../assets/img/selectPercentage.png" height="13px" class="textImg" />
                                <span class="toolTip tx-10">
                                    <p class="ml-2 mt-2"> This is the percentage your customer gets as a reward on
                                        purchase</p>
                                </span>
                            </span>
                            <div class="input-group input-group-sm w-75" style="padding-left: 11%;">
                                <input type="number" min="0" max="256" [(ngModel)]="loyaltyPercentage"
                                    (keyup)="percentage(loyaltyPercentage)" name="closeRewardPercentage"
                                    id="closeRewardPercentage" class="form-control" />
                            </div>
                            <label class="text-danger form-label formlabels fw-500 tx-12 line-16"
                            for="accountNumber"
                            *ngIf="isValidPercentage" style="padding-left: 11%;">
                            Percentage value must be between 0-100</label>
                        </div>
                    </div>
                </div>
                <div *ngIf="deals">
                    <span class="detailTitle" class="mb-3">Please select a preferred category</span>
                    <div class="mt-3">
                        <div><input type="radio" id="tuDealsRadio1" (change)="dealsChange($event)" class="radio ml-4"
                                name="tuDealsRadio" /> <b class="detailPoints tx-14 ml-3">Products</b>
                        </div>
                        <div>
                            <p class="detailPointsList tx-14 line-22" style="padding-left: 11%;">Sell physical products
                                to your customers on the
                                ThankUCash Deals platform</p>
                        </div>
                    </div>
                    <div class="">
                        <div><input type="radio" id="tuDealsRadio2" (change)="dealsChange($event)" name="tuDealsRadio"
                                class="radio ml-4" /> <b class="detailPoints tx-14 ml-3 ">Services</b></div>
                        <div>
                            <p class="detailPointsList tx-14 line-22" style="padding-left: 11%;">Provide services to
                                your customers on the
                                ThankUCash Deals platform</p>
                        </div>
                    </div>
                    <div class="">
                        <div><input type="radio" id="tuDealsRadio3" (change)="dealsChange($event)" name="tuDealsRadio"
                                class="radio ml-4" /> <b class="detailPoints tx-14 ml-3 ">Both</b>
                        </div>
                        <div>
                            <p class="detailPointsList tx-14 line-22" style="padding-left: 11%;">Provide both products
                                and services to your
                                customers on the ThankUCash Deals platform</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <button class="btn  pricingBtn mr-2" style="background-color: #7987A1;" (click)="viewPricing()">
                        <span class="fw-400 tx-12 line-14">View Our Pricing </span>
                    </button> &nbsp;
                    <button class="btn pricingBtn darkBlueBtn mr-3" *ngIf="loyalty == true || deals == true" type="button"
                        (click)="onClick()"
                      
                        [disabled]="(deals == true && dealsRadio== false ) || (loyalty == true && rewards == undefined) || (loyalty && !percentVal) || (loyalty && isValidPercentage)">
                        <span class="fw-400 tx-12 line-14 ">Done </span>
                        <!-- [disabled]="(deals == true && dealsRadio== false ) || (loyalty == true && rewards == undefined) || isValidPercentage == true   " -->
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-5"></div>
</div>

<div id="isViewPricing">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <!-- <div class="col-sm-1">
                    <span (click)="accountType()">
                        <i class="fa fa-arrow-left cursor-pointer" aria-hidden="true" style="height: 18px;"></i>
                    </span>
                </div>
                <div class="col-sm-11">
                    <h5 class="modal-title fw-700 tx-14 line-16">Select Account Type</h5>
                </div> -->
                <div class="d-flex">
                    <span (click)="accountType()" class="ml-3">
                        <i class="fa fa-arrow-left cursor-pointer" aria-hidden="true" style="height: 18px;"></i>
                    </span>
                    <h5 class="modal-title fw-700 tx-14 line-16 ml-2">Select Account Type</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h4 class="text-center mainhead mt-4 fw-700 tx-14 line-16">Our Pricing</h4>

            <div class="container mb-4 mt-4">
                <div class="row text-center d-flex justify-content-center p-2 mb-4 ">
                    <div class="col-md-4 p-1 mr-4">
                        <div class="cardtwo card">
                            <div class="card-body">
                                <h5 class="card-title mt-2 mb-2">
                                    <img src="../../../../assets/img/lock1.png" height="60" />
                                </h5>
                                <label for="" class="cardheading fw-600 tx-14 line-16 text-center tx-bold">Open Loyalty
                                    Model</label>
                                <p class="cardpara fw-400  text-center d-flex flex-column">
                                    For the open loyalty model, we charge a transaction fee of 1.5% Capped at 
                                    <span>
                                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        2000
                                    </span>
                                </p>
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 p-1 ml-4">
                        <div class="cardtwo card">
                            <div class="card-body">
                                <h5 class="card-title mt-2 mb-2">
                                    <img src="../../../../assets/img/lock2.png" height="60" />
                                </h5>
                                <label for="" class="cardheading fw-600 tx-14 line-16 text-center tx-bold">Closed Loyalty
                                    Model</label>
                                <p class="cardpara fw-400  text-center d-flex flex-column" *ngIf="_HelperService.CountryCode != '+254'">
                                    For the closed loyalty model, we charge a SaaS monthly fee of 
                                    <span>
                                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 
                                        10,000                                       
                                    </span>
                                     
                                </p>
                                <p class="cardpara fw-400  text-center d-flex flex-column" *ngIf="_HelperService.CountryCode == '+254'">
                                    For the closed loyalty model, we charge a SaaS monthly fee of 
                                    <span>
                                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 
                                        1000                                       
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row text-center d-flex justify-content-center mt-4">
                    <div class="col-md-4 p-1">
                        <div class="cardtwo card">
                            <div class="card-body">
                                <h5 class="card-title mt-2 mb-2">
                                    <img src="../../../../assets/img/dealRound.png" height="60" />
                                </h5>
                                <label for="" class="cardheading fw-600 tx-14 line-16 text-center tx-bold">Deals</label>
                                <p class="cardpara fw-400  text-center d-flex flex-column">
                                    For deals, we charge a fee 0f 5-10% depending on your selected category
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="card-footer">
            <div class="text-right">
                <button type="button" class="btn pricingBtn darkBlueBtn tx-14" (click)="accountType()">Back</button>
            </div>
        </div>

    </div>
</div>