.tx-title{
    font-size: 18px;
}

.tx-mobile{
    font-weight: 400;
    color: #7987a1 !important;
    font-size: 14px;   
}

.feather-phone{
    width: 15px;
}

.table-bordered{
    margin-bottom: 3rem !important;
}