<!-- acquirer--merchants--list -->

<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
    <li class="breadcrumb-item active cursor-pointer" [routerLinkActive]="['active']"><a class="text-primary" (click)="_HelperService.NavigateBack()">
      Administration</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Root Categories</a></li>
</ol>
<div class="card ">
    <div class="card-header">
        <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between align-items-center ">
                <span class="tx-semibold mg-t-10">{{MerchnatCategories_Config.Title}}<span class="text-muted tx-normal">
            ({{MerchnatCategories_Config.TotalRecords}})</span>


                </span>
                <button class="btn btn-xs  btn-primary pnvalid" (click)="Form_Add_Show()" data-permission="businesscategoryadd">
          Add New Root Category</button>
            </div>
        </div>
    </div>


    <!-- <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> {{MerchnatCategories_Config.Title}} </div>
  </div> -->
    <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="MerchnatCategories_Config.SearchParameter" maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}" (keyup)="MerchnatCategories_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" (click)="MerchnatCategories_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
                </div>
            </div>


        </div>
        <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2" [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]" (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

        </div>

        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="MerchnatCategories_sdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">


                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="MerchnatCategories_Config.Sort.SortOrder == 'desc' && MerchnatCategories_Config.Sort.SortDefaultColumn == 'CreateDate'" (click)="MerchnatCategories_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>


                            <div class="float-right tx-20" *ngIf="MerchnatCategories_Config.Sort.SortOrder == 'asc'" (click)="MerchnatCategories_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>
                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of MerchnatCategories_Config.Sort.SortOptions" (click)="MerchnatCategories_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
                        <button type="button" class="btn btn-primary btn-sm  mg-t-20" (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="MerchnatCategories_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <div class="form-group position-relative" id="adminrootcategory">
                                <label>Added On</label>
                                <input type="text" class="form-control  form-daterangepicker"
                                 name="daterangeInput" daterangepicker 
                                 [options]="_HelperService.AppConfig.DateRangeOptionsFn('#adminrootcategory')" 
                                 (selected)="MerchnatCategories_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)"
                                />
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p" [data]="MerchnatCategories_Config.StatusOptions" (valueChanged)="MerchnatCategories_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2>
                            </div>
                        </div>
                        <!-- <div>
              <div class="form-group">
                <label>Store</label>
                <select2 [options]="MerchnatCategories_Filter_Stores_Option" class="wd-100p"
                  (valueChanged)="MerchnatCategories_Filter_Stores_Change($event)">
                </select2>
              </div>
            </div> -->
                        <button type="button" class="btn btn-light btn-sm mr-2" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
                        <button type="button" class="btn btn-primary btn-sm " (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer" (click)="MerchnatCategories_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i data-feather="refresh-cw"></i> </a>
        </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-15">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
            {{_HelperService.FilterSnap.StatusName}}
            <span (click)="RemoveFilterComponent('Status')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span (click)="RemoveFilterComponent('Sort')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>

        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.StartTime">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].DisplayName}}
            <span (click)="RemoveFilterComponent('Other',i)" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary" *ngFor="let TItem of MerchnatCategories_Config.Filters">{{TItem.Title}}</span>

    </div>

    <div class="card-body p-0 table-responsive">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <!-- <th class="text-center" *ngIf="ColumnConfig[0].Value">
          </th> -->
                    <th class="text-center">
                    </th>
                    <th class="tx-normal">
                        Name
                    </th>
                    <th class="">
                        Added on
                    </th>
                    <th class="">
                        Updated on
                    </th>
                    <th class="r">
                        Status
                    </th>
                    <!-- <th class="">
            Commission (%)
          </th> -->
                    <th class="td-date">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let TItem of MerchnatCategories_Config.Data  | paginate: { id: 'MerchnatCategories_Paginator',itemsPerPage: MerchnatCategories_Config.PageRecordLimit, currentPage: MerchnatCategories_Config.ActivePage,  totalItems: MerchnatCategories_Config.TotalRecords }">
                    <td class="text-center">
                        <!-- <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span> -->
                        <img class="br pd-2" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}" class="img wd-40 ht-40 rounded-2 bd bd-2" [style.border-color]="TItem.StatusC">
                    </td>
                    <td>
                        <div class="tx-14 tx-semibold cursor-pointer route-hover" (click)="RequestHistory_RowSelected(TItem)">{{TItem.Name || "--"}}</div>

                    </td>
            
          

          <td class="">
            <div>{{TItem.CreateDateD || "--"}} </div>
           <div> {{TItem.CreateDateT || "--"}} </div>
          </td>
          <td class="">
            <div>{{TItem.ModifyDate_D  || "--"}}</div>
            <div>{{TItem.ModifyDate_T  || "--"}}</div>
          </td>        <td class="">
                        <span class=" full-width">
              <span class="badge badge-success" style="font-size: 12px;" *ngIf="TItem.StatusName =='Active'"> {{TItem.StatusName || "--"}} </span>
                        <span class="badge badge-danger" style="font-size: 12px;" *ngIf="TItem.StatusName != 'Active'"> {{TItem.StatusName || "--"}} </span>
                        </span>
                    </td>
                    <!-- <td class="">
            <span class=" ">{{TItem.Commission || "--"}} </span>
          </td> -->
                    <td class="">
                        <div>
                            <!-- <span class="text-primary route-hover cursor-pointer" data-permission="businesscategoryedit" 
              (click)="Form_Edit_Show(TItem)"><i
                  class="fas fa-edit"></i>Edit</span> -->

                            <span class="text-primary route-hover cursor-pointer " data-permission="businesscategoryedit" (click)="Edit_category(TItem)"><i class="fas fa-edit"></i>Edit</span>
                        </div>
                        <div class="text-secondary wd-100">
                            <span class="text-danger cursor-pointer" (click)="UnMarkAscategory(TItem)"><i class="fas fa-trash-alt"></i>
                Delete</span>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{MerchnatCategories_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{MerchnatCategories_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{MerchnatCategories_Config.TotalRecords}}
        </span>
        <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="MerchnatCategories_Config.PageRecordLimit"
        (ngModelChange)="MerchnatCategories_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
        <span class="float-right">
      <pagination-controls id="MerchnatCategories_Paginator" class="pagination pagination-space"
        (pageChange)="MerchnatCategories_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
    </div>
</div>
<div class="modal" id="EditCol" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Column</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="form-group" *ngFor="let Col of TempColumnConfig">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
                        <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas style="width: 480px !important; overflow-y:auto !important ;">
    <div class="off-canvas-content">
        <div class="card">
            <form [formGroup]="Form_Edit" (ngSubmit)="Form_Edit_Process(Form_Edit.value)" role="form">
                <div class="card-header">
                    <h3 class="pb-0 mb-0 tx-20"> <i class="pr-1 {{_HelperService._CoreCommon.StatusI}}"></i> Root Categories

                    </h3>
                </div>
                <div class="card-body">

                    <div class="p-3 b-b">
                        <div class="form-group">
                            <label>{{'System.Helpers.Name' | translate }}


                <span class="text-danger" *ngIf="Form_Edit.controls['Name'].hasError('required')">*</span>

              </label>
                            <div class="controls">
                                <input type="text" name="Name" maxlength="256" class="form-control" [(ngModel)]="_HelperService._CoreCommon.Name" [formControl]="Form_Edit.controls['Name']" [ngClass]="{'is-invalid':!Form_Edit.controls['Name'].valid && Form_Edit.controls['Name'].touched}">
                            </div>
                            <label class="text-danger" for="Name" *ngIf="Form_Edit.controls['Name'].hasError('required') && Form_Edit.controls['Name'].touched">{{
                'System.Helpers.Name_ER_Required' | translate }}</label>
                        </div>
                        <div class="mb-4">
                            <label for=""> Image
                ({{_HelperService._Icon_Cropper_Data.Width}}x{{_HelperService._Icon_Cropper_Data.Height}}) </label>



                            <div class="mb-3">
                                <input-file *ngIf="ShowImagePicker" iconLink="https://storage.googleapis.com/cdn.thankucash.com/2020/12/fc549331ae8045c1bdbadc33333514d2.png" class="d-flex wd-20p rounded-50" #inputfile inputId="input-file">
                                </input-file>
                            </div>

                        </div>
                        <label for=""> Status </label>
                        <div class="form-group">
                            <div class="radio float-left mr-3">
                                <label class="ui-check"><input type="radio" name="statusoptions"
                    [(ngModel)]="_HelperService._CoreCommon.StatusCode" [value]="'default.active'"
                    [formControl]="Form_Edit.controls['StatusCode']">
                  <i class="dark-white"></i>
                  {{ 'Common.Active' | translate }}</label>
                            </div>
                            <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                    [(ngModel)]="_HelperService._CoreCommon.StatusCode" name="statusoptions"
                    [value]="'default.inactive'" [formControl]="Form_Edit.controls['StatusCode']">
                  <i class="dark-white"></i>
                  {{ 'Common.Inactive' | translate }}</label></div>
                        </div>
                    </div>



                </div>
                <div class="card-footer d-flex justify-content-between full-width" style="position: fixed; bottom:0%; margin-top: -2.5em ;">
                    <button type="button" class="btn btn-danger pnvalid" (click)="Delete_Confirm()" data-permission="businesscategorydelete">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ 'Common.Delete' | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
              translate
              }}...
            </span>
          </button>
                    <div class="d-flex justify-content-start">
                        <button type="submit" class="btn btn-primary mr-2 pnvalid" data-permission="businesscategoryupdate" (click)="Form_Edit.value.OperationType='new'" [disabled]="!Form_Edit.valid || _HelperService.IsFormProcessing">
              <span *ngIf="!_HelperService.IsFormProcessing">
                {{ 'Common.Update' | translate }}
              </span>
              <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                translate
                }}...
              </span>
            </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_Edit_Close()">{{
              'Common.Close' | translate }}</button>
                    </div>
                </div>

            </form>
        </div>


    </div>
</div>




<div class="modal fade" id="Form_Add_Content" role="dialog" tabindex="-1" data-backdrop="true" style="overflow-y: scroll !important;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 122%;">
            <div class="modal-header">
                <h5 class="modal-title">Add New Root Category</h5>
            </div>

            <div class="modal-body b-b">
                <!-- <h4>Add Categeory</h4> -->
                <section>
                    <div class="form-group">
                        <label>{{'System.Helpers.Name' | translate }}
                <span class="text-danger" *ngIf="Form_Add.controls['Name'].hasError('required')">*</span>
              </label>
                        <input type="text" name="Name" maxlength="256" class="form-control" [formControl]="Form_Add.controls['Name']" [ngClass]="{'is-invalid':!Form_Add.controls['Name'].valid && Form_Add.controls['Name'].touched}" (keyup)="KeyUP1()">
                        <label class="text-danger" for="Name" *ngIf="Form_Add.controls['Name'].hasError('required') && Form_Add.controls['Name'].touched">{{
                'System.Helpers.Name_ER_Required' | translate }}</label>
                    </div>

                    <div class="mb-4">
                        <label for=""> Image
                ({{_HelperService._Icon_Cropper_Data.Width}}x{{_HelperService._Icon_Cropper_Data.Height}}) </label>
                        <div class="mb-3">
                            <input type="file" (change)="fileChangeEvent($event)" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="statusoptions" [value]="'default.active'"
                    [formControl]="Form_Add.controls['StatusCode']">
                  <i class="dark-white"></i>
                  {{ 'Common.Active' | translate }}</label>
                        </div>
                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
                    [value]="'default.inactive'" [formControl]="Form_Add.controls['StatusCode']">
                  <i class="dark-white"></i>
                  {{ 'Common.Inactive' | translate }}</label></div>
                    </div>
                    <!-- <div class="col-md" [formGroup]="addForm">
            <h5>Do you want to add a Subcategory for this Root Category?</h5>
            <label class="switch">
              <input type="checkbox" class="form-control" formControlName="items">
              <span class="slider round">
                <span class="on">
                  {{addForm.value.items_value}}
                </span> 
                <span class="off">
                  {{addForm.value.items_value}}
                </span>
              </span>
              </label>
              <div *ngIf="addForm.get('rows')">
                <h4>Add Subcategeroies</h4> -->

                    <!-- <div class="form-group">
                  <label for=""> Sub-Categeory <span class="text-danger">*</span> </label>
                  <div class="input-group text-warn">
                    <div class="input-group text-warn">
                      <input type="text" name="Subcategories" class="form-control" (keyup)="KeyUP()"
                        [formControl]="Form_Addsubcat.controls['Subcategories']" />
    
                    </div>
    
                  </div>
                </div> -->
                    <!--     
                <table>
                  <thead>
                    <button (click)="onAddRow()" >Add Sub Category</button>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of addForm.controls['row'];let index = index;">
                      <td>
                        name : <input [formControl]="row.controls('Name')">
                      </td>
                      <td>
                        description : <input [formControl]="row.controls('Descritpion')">
                      </td>
                      <td>
                        qty : <input [formControl]="row.controls('IconContent')">
                      </td>
                      <td>
                        <button (click)="onRemoveRow(index)">Remove</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

          </div> -->
                    <div class="modal-footer p-3 text-right b-b">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_Add_Close()">{{
                'Common.Close'
                | translate }}</button>

                        <button type="button" class="btn btn-primary float-right" (click)="Form_Add_Process(Form_Add.value)" [disabled]="!Form_Add.valid || _HelperService.IsFormProcessing">
                Save
              </button>

                    </div>

                </section>
            </div>



        </div>

    </div>
</div>




<div class="modal fade" id="Form_Edit_Root_Content" role="dialog" tabindex="-1" data-backdrop="true" *ngIf="isEditForm" style="overflow-y: scroll !important;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Root Category</h5>
            </div>
            <form [formGroup]="Form_Edit" (ngSubmit)="Form_Edit_Root_Process(Form_Edit.value)" role="form">
                <div class="modal-body b-b">
                    <div class="form-group">
                        <label> Name
              <span class="text-danger">*</span>
            </label>
                        <input type="text" name="Name" maxlength="256" class="form-control" [formControl]="Form_Edit.controls['Name']" [(ngModel)]="_userAccount.Name">
                        <label class="text-danger" for="Name" *ngIf="Form_Edit.controls['Name'].hasError('required') && Form_Edit.controls['Name'].touched">Enter
              Category Name</label>
                    </div>
                    <div class="form-group">
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="statusoptions" [value]="'default.active'"
                  [formControl]="Form_Edit.controls['StatusCode']" [(ngModel)]="_userAccount.StatusCode">
                <i class="dark-white"></i>
                {{ 'Common.Active' | translate }}</label>
                        </div>
                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
                  [value]="'default.inactive'" [formControl]="Form_Edit.controls['StatusCode']"
                  [(ngModel)]="_userAccount.StatusCode">
                <i class="dark-white"></i>
                {{ 'Common.Inactive' | translate }}</label></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label for=""> Image
                  ({{_HelperService._Icon_Cropper_Data.Width}}x{{_HelperService._Icon_Cropper_Data.Height}}) </label>
                                <div class="mb-3">
                                    <input type="file" (change)="fileChangeEvent($event)" />
                                </div>
                            </div>

                            <div class="mb-3" *ngIf="SavedDealImages">
                                <div class="card card-file">

                                    <img [src]="SavedDealImages" class="img-fluid">

                                </div>
                            </div>
                        </div>

                    </div>


                    <!-- <div class="mb-4">
            <label for=""> Image
              ({{_HelperService._Icon_Cropper_Data.Width}}x{{_HelperService._Icon_Cropper_Data.Height}}) </label>
            <div class="mb-3">
              <input type="file" (change)="_HelperService.Icon_Change($event)" />
            </div>
          </div> -->
                </div>
                <div class="modal-footer p-3 text-right b-b">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_Edit_Root_Close()">{{
            'Common.Close'
            | translate }}</button>
                    <button type="submit" class="btn btn-primary" (click)="Form_Edit_Root.value.OperationType='close'" [disabled]="!Form_Edit.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ 'Common.Save' | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
              }}...
            </span>
          </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <!-- <image-cropper [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                [aspectRatio]="9 / 9" [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                (imageCropped)="imageCropped($event)" (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                (cropperReady)="cropperReady()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
              </image-cropper> -->


                            <image-cropper [imageChangedEvent]="imageChangedEvent" [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9" format="_HelperService.AppConfig.Icon_Cropper_Options.Format" [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth" [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight" [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)" (imageLoaded)="_HelperService.Icon_Crop_Loaded()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                              <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal" (click)="setImage()">{{ 'Common.PictureDone' |
                  translate }}</button>
                                <button type="button" class="btn btn-warning " (click)="_HelperService.Icon_Crop_Clear()">{{
                  'Common.PictureClearAndClose' |
                  translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>