<!-- <div class="row row-xs mg-b-20">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
        <div>
          <h6 class="mg-b-5 "> Revenue Report</h6>

         
          <span class="tx-sans  tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap">{{_Sale.ActualEndDate | date
            :["LLL"]}}</span>
          <span class="tx-sans  tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap"> Compared to</span>
          <span class="tx-primary"> {{_Sale.CompareStartDate | date :["LLL"] }}</span>
        </div>

        <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
          <li class="list-inline-item d-flex align-items-center">
            <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
            <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
              {{_Sale.ActualStartDate | date :["LLL"]}}</span>
          </li>
          <li class="list-inline-item d-flex align-items-center mg-l-5">
            <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
            <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Sale.CompareStartDate | date
              :["LLL"]}}</span>
          </li>

        </ul>
      </div>
      

      <div class="card-body pd-lg-25">
        <div class="row ">
          <div style="
            display: block; position: fixed;z-index: 1031; /* High z-index so it is on top of the page */
            top: 50%;right: 50%; /* or: left: 50%; */" *ngIf="LoadingChart" class="text-center m-auto text-muted"
            style="top: 50% !important; left: 50% !important;">
            <div class="spinner-border"></div>
          </div>
          <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.SalelineChartData[0].data.length != 0">
            <canvas *ngIf="showSaleChart" baseChart #DataPlot="base-chart" [datasets]="SalelineChartData"
              [labels]="SalelineChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options"
              [colors]="SalelineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>
          </div>

          <div *ngIf="!LoadingChart">
            <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.SalelineChartData[0].data.length == 0">
              <div style="height:200px" class="text-center m-auto  ">
                <div class="text-muted">
                  <div>
                    <div
                      class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                      <img src="../../../../../assets/images/walk.svg" alt="">
                    </div>
                    <div class="pt-3">
                      <span class="text-dark tx-bold tx-14 "> No Revenue generated in this timeframe </span><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0">
            <div class="row mg-b-10">

              <div class="col-sm-6 col-lg-12 ">
                <div class="media">
                  <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    <div class="text-center">
                      <div>
                        {{_Sale.ActualStartDate | date :["LLL"]}}</div>
                    </div>


                  </div>
                  <div class="media-body">
                    <h6
                      class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                      Revenue Achieved <span class="tx-dark  tx-uppercase"> ({{_Sale.ActualStartDate | date :["LLL"]}})
                      </span> </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      {{_Sale.ActualCommissionAmount | number: "1.2-2" ||"--"}}</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-30 mg-lg-t-65">
                <div class="media">
                  <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    <div class="text-center">
                      <div>
                        {{_Sale.CompareStartDate | date :["LLL"]}}</div>
                    </div>

                  </div>
                  <div class="media-body">
                    <h6
                      class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                      Revenue Achieved <span class="tx-dark  tx-uppercase"> ({{_Sale.CompareStartDate | date :["LLL"]}})
                      </span> </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      {{_Sale.CompareCommissionAmount | number: "1.2-2" ||"--"}}</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-0 mg-lg-t-65">
                <div class="media">
                  <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 {{((_Sale.ActualCommissionAmount  - _Sale.CompareCommissionAmount)<0)?'bg-success':'bg-danger'}} tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    {{computeCPerc(_Sale)}}
                  </div>
                  <div class="media-body">
                    <h6
                      class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                      Total Difference <span *ngIf="computeCFlag(_Sale)==-1"> <i
                          class="fas fa-arrow-circle-down tx-16 tx-danger mg-l-5"></i></span>

                      <span *ngIf="computeCFlag(_Sale)==1"> <i
                          class="fas fa-arrow-circle-up tx-16 tx-success mg-l-5"></i></span>
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      {{_HelperService.getAbsolute(_Sale.ActualCommissionAmount - _Sale.CompareCommissionAmount) |
                      number: "1.2-2" ||"--"}}
                    </h4>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->




<!-- new  created page -->

<div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
    <div class="card">


      <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
        <div>
          <h6 class="mg-b-5 "> Revenue Report</h6>
          <!-- TODO Insert Actual Date Picker -->
          <span class="tx-sans  tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap">{{_Sale.ActualEndDate | date
            :["LLL"]}}</span>
           
          <span class="tx-sans  tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap"> Compared to</span>
          <!-- <span class="tx-primary"> {{_Sale.CompareStartDate | date :["LLL"] }}</span> -->

          <span class="tx-dark tx-bold">
            <span class="tx-12">
              <a href="" class="" id="MonthSalesTrend_dropdown" data-toggle="dropdown" aria-haspopup="true"
                (click)="_HelperService.StopClickPropogation()" aria-expanded="false">{{lastmonthtext}}
                <i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i>
              </a>
              <div class="dropdown-menu tx-13">
                <form class="wd-250  pd-15">
                  <a class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} "
                    (click)="CloseRowModal(2)">
                    <span class="pd-r-10"></span>Same month, Last Year
                  </a>
                  <a (click)="ShowHideCalendar(_HelperService.AppConfig.DatePickerTypes.month)"
                    class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} ">
                    <span class="pd-r-10"></span> Choose any Month
                  </a>
                  <div class="form-group">
                    <div [hidden]='hideMonthlyPicker' id="monthlydate"></div>
                  </div>
                </form>
              </div>
            </span>
          </span>
        </div>

        <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
          <li class="list-inline-item d-flex align-items-center">
            <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
            <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
              {{_Sale.ActualStartDate | date :["LLL"]}}</span>
          </li>
          <li class="list-inline-item d-flex align-items-center mg-l-5">
            <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
            <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Monthly.CompareStartDate | date
              :["LLL"]}}</span>
          </li>

        </ul>
      </div>
      <div class="card-body pd-lg-25">
        <div class="row">
          <div class="col-md-8 " *ngIf="SalelineChartData[0].data.length == 0">
            <div style="
          display: block; position: fixed;z-index: 1031; /* High z-index so it is on top of the page */
          top: 50%;right: 50%; /* or: left: 50%; */" *ngIf="LoadingChart" class="text-center m-auto text-muted"
              style="top: 50% !important; left: 50% !important;">
              <div class="spinner-border"></div>
            </div>
          </div>
          <div class="col-md-8  ht-100p" *ngIf="SalelineChartData[0].data.length != 0">

            <canvas *ngIf="showSaleChart" baseChart #DataPlot="base-chart" [datasets]="SalelineChartData"
              [labels]="SalelineChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options"
              [colors]="SalelineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>

          </div>
          <!-- <div class="col-md-8 " *ngIf="!LoadingChart">

            <div>
              <div class=" ht-100p" *ngIf="this.SalelineChartData[0].data.length == 0">
                <div style="height:200px" class="text-center m-auto  ">
                  <div class="text-muted">
                    <div>
                      <div
                        class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                        <img src="../../../../../assets/images/walk.svg" alt="">
                      </div>
                      <div class="pt-3">
                        <span class="text-dark tx-bold tx-14 "> No Revenue generated in this timeframe </span><br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-md-4 ht-100p mg-t-30 mg-lg-t-0">
            <div class="row mg-b-10">
              <div class="col">
                <div class="media">
                  <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    <div class="text-center">
                      <div>
                        {{_Sale.ActualStartDate | date :["LLL"]}}</div>
                    </div>


                  </div>
                  <div class="media-body">
                    <h6
                      class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                      Revenue Achieved <span class="tx-dark  tx-uppercase"> ({{_Sale.ActualStartDate | date :["LLL"]}})
                      </span> </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      {{_Sale.ActualCommissionAmount | number: "1.2-2" ||"--"}}</h4>
                  </div>
                </div>
              </div>
              <div class="col mg-t-65 mg-sm-t-30 mg-lg-t-65">
                <div class="media">
                  <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    <div class="text-center">
                      <div>
                        {{_Monthly.CompareStartDate | date :["LLL"]}}</div>
                    </div>

                  </div>
                  <div class="media-body">
                    <h6
                      class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                      Revenue Achieved <span class="tx-dark  tx-uppercase"> ({{_Monthly.CompareStartDate | date :["LLL"]}})
                      </span> </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      {{_Sale.CompareCommissionAmount | number: "1.2-2" ||"--"}}</h4>
                  </div>
                </div>
              </div>
              <div class="col mg-t-65 mg-sm-t-30 mg-lg-t-65">
                <div class="media">
                  <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 {{((_Sale.ActualCommissionAmount  - _Sale.CompareCommissionAmount)<0)?'bg-success':'bg-danger'}} tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    {{computeCPerc(_Sale)}}
                  </div>
                  <div class="media-body">
                    <h6
                      class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                      Total Difference <span *ngIf="computeCFlag(_Sale)==-1"> <i
                          class="fas fa-arrow-circle-down tx-16 tx-danger mg-l-5"></i></span>

                      <span *ngIf="computeCFlag(_Sale)==1"> <i
                          class="fas fa-arrow-circle-up tx-16 tx-success mg-l-5"></i></span>
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      {{_HelperService.getAbsolute(_Sale.ActualCommissionAmount - _Sale.CompareCommissionAmount) |
                      number: "1.2-2" ||"--"}}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>