<!-- acquirer--stores--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li>
    <li class="breadcrumb-item cursor-pointer" [routerLinkActive]="['active']"><a class="text-primary"
        (click)="_HelperService.NavigateBack()"
            [routerLinkActive]="['active']">Product</a></li>
            <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="">Product Details</a></li>
   
</ol>
<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header pb-0 bd-b-0" id="headingOne">

            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl"><img
                                [style.border-color]="_ProductDetail.StatusC"
                                (error)="_HelperService.defaultImage($event)" src="{{_ProductDetail.IconUrl }}"
                                class="grid-icon bd bd-2" alt=""> </div>
                    </div>
                </div>

                <div class="col-sm-12 bd-b bd-2 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media  Hm-textCenterMd">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-spacing--1 tx-medium text-capitalize  mg-b-2">
                                {{ _ProductDetail.Name || "--"}}

                                <span class="{{_ProductDetail.StatusB}} mg-l-5 tx-14">
                                    {{_ProductDetail.StatusName || "--"}} </span>
                            </h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline  mg-b-5">
                                <h2 class="tx-14 tx-lg-14 tx-dark tx-normal lh-2 mg-b-0">
                                    <span class="mg-r-5 text-secondary"> Category  :</span>
                                    <span
                                        class="cursor-pointer link-02">{{_ProductDetail.CategoryName || "--"}}</span>
                                </h2>
                            </div>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div>
                <div class="col-lg-6   bd-b bd-2 Hm-media768 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <!-- <div class="col-sm-6 col-md-6 col-lg-6">

                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class="tx-normal tx-24  tx-rubik  mg-b-5 mg-r-5 lh-1">
                                                {{_ProductDetail.CashierId || "--"}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0 "> Cashier ID</p>
                                    </div>
                                </div> -->

                                <!-- <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class="tx-normal tx-24 tx-rubik  mg-b-5 mg-r-5 lh-1 ">
                                                {{_ProductDetail.EmployeeId || "--"}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0"> Employee ID</p>

                                    </div>

                                </div> -->


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <div class="manageButton mg-t-0 pd-t-0 pd-r-2">
                                    <button type="button" 
                                        class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill" (click)="OpenUpdateProduct()">Edit
                                        </button>

                                      
                                </div>

                             

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-0 pb-0">
                <div class="row">

                    <div class="col-lg-1 d-flex justify-content-center">
                       

                    </div>
                    <div class="col-lg-11 col-lg-11 pd-y-10">
                        <div class="row">


                            <div class="col-sm-12 col-md-4 col-lg-4 bd-r">
                                <ul class="list-unstyled profile-info-list">
                                    <li class="tx-color-03"><i data-feather="clock"></i> <span class="tx-color-03">
                                         Sku Id    <span class="text-primary">
                                                {{_ProductDetail.Sku || "--"}} </span></span></li>
                                    <li class="tx-color-03"><i data-feather="aperture"></i> <a class="tx-color-03"> TotalStock <span
                                                class="text-primary">
                                                {{_ProductDetail.TotalStock || "--"}} </span></a></li>

                                </ul>

                            </div>

                            <div class="col-sm-12 col-md-4 col-lg-4 Hm-media768 bd-r">

                                <ul class="list-unstyled profile-info-list">

                                    <li class="tx-color-03"><i data-feather="calendar"></i> <a> <span
                                                class="text-secondary mr-2"> Retail Price </span>
                                            <span class="tx-verve"> {{_ProductDetail.ActualPrice || "--"}} </span>
                                        </a>
                                    </li>
                                    <li class="tx-color-03"><i data-feather="calendar"></i> <a class="tx-color-03">
                                            <span class="text-secondary mr-2"> Sale Price </span> <span class="tx-verve">
                                                {{_ProductDetail.SellingPrice || "--"}}
                                            </span> </a></li>

                                </ul>

                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 Hm-media768">

                                <ul class="list-unstyled profile-info-list">
                                    <li class="tx-color-03"> <i data-feather="calendar"></i> <span class="text-secondary"><span class="mr-2">Last
                                                Added On</span>
                                            <span class="tx-verve">
                                                {{_ProductDetail.CreateDate || "--"}}</span></span></li>
                                    <li class="tx-color-03"> <i data-feather="calendar"></i> <a class="text-secondary"> <span class="mr-2">  Variants
                                            </span>
                                            <span class="tx-verve">
                                                {{_ProductDetail.vaiants || "--"}}</span></a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

              


            </div>
        </div>
    </div>


</div>
<div class="card bd-b-0 pd-x-20 pd-b-20 pd-t-10 mt-3 RouteCard" style="border-bottom: 0px !important;">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist">
        <div class="d-flex flex-wrap">

        
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Product.Variants}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Variants</a>
            </li>
        
        </div>
 
      

    </ul>
</div>

<router-outlet></router-outlet>

<div class="modal fade" id="ModalUpdateProduct" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog  white" style="width: 650px;">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="text-warn">Update Product Information </h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label> Name<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" name="Sku" class="form-control" [(ngModel)]="_ProductDetail.Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description
                                <span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <textarea type="text" name="Description" maxlength="1000" rows="4" class="form-control"
                                    [(ngModel)]="_ProductDetail.Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Category
                            </label>
                            <select2 name="CategoryKey" class="full-width" [options]="GetProductCategories_Option"
                                (valueChanged)="GetProductCategories_ListChange($event)"></select2>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="d-block mb-0"> Product Image
                        </label>
                        <input-file inputId="input-file" placeholder="">
                        </input-file>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mr-2" (click)="UpdateProduct()"
                    [disabled]="_HelperService.IsFormProcessing">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        Update Details
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                    }}...
                    </span>
                </button>
                <button type="button" data-dismiss="modal"
                    class="btn btn-secondary b-warn text-warn btn float-right mr-2">
                    <span>
                        Close
                    </span>
                </button>
            </div>
        </div>

    </div>
</div>
<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                            translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

