/* .gredientBorder:after {
   background: linear-gradient(to right, #bcbcbc 25%,#ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75%);
  position: absolute;
  content: '';
  height: 4px;
  right: 0;
  left: 0;
  bottom: 0;
} */


/* .LiveTerminalCard:hover{
background-color: #FF7E7E !important;
transition: 300ms ease-in-out;
color: white!important;
cursor: pointer;
} */


/* .tx-purple{
  color: #5B47FB !important;
} */


/* .CustomFeature{

} */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/css/dashforge.css';
@import './assets/css/dashforge.filemgr.css';
.mat-dialog-container {
    padding: 0px !important;
    overflow: hidden !important;
}

.mat-tab-body-content {
    overflow: hidden !important;
}

.image-wrap1 {
    padding: 10px;
    border: solid 1px #e0e0e0;
    display: inline-block;
}

.img-space1 {
    border: dashed 1px #d3d3d3;
    border-radius: 8px;
    background-color: #f2f2f2;
    height: auto;
    width: 60%;
    padding: 10px;
    /* min-height:175px; */
}

.img-space1 img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.fileInputProfile1 {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
}

.fileInputProfile1[disabled]+.img-space {
    pointer-events: none;
    cursor: not-allowed !important;
}

.tabbable .nav-item {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.tabbable .nav-item .nav-link {
    white-space: nowrap;
}

.FilterForm {
    max-height: 65vh !important;
    min-height: 300px !important;
}

.swalText {
    -webkit-text-security: disc !important;
}

.Showbutton {
    position: absolute;
    z-index: 999999;
    width: 90%;
    margin: 1%;
    margin-left: -60px;
}

.hide {
    display: none !important;
}

.pnvalid {
    display: none !important;
    /* display: block; */
}

.pvalid {
    display: block !important;
}

.hiddenRow {
    padding: 0 !important;
}

.btn.white {
    border-color: rgba(120, 130, 140, .2) !important;
}

.list-group-item:hover {
    background-color: #f5f6fa !important;
}

.list-group-item-analitics:hover {
    background: #EFF5FF 0% 0% no-repeat padding-box;
}

.PosAlert {
    overflow-y: scroll !important;
    height: 350px !important;
}


/* new added start  */

.RefreshColorOne:hover {
    color: #0168FA !important;
}


/* new added end  */

.RefreshColor {
    color: #596882 !important;
}


/* Let's get this party started */

.customScroll::-webkit-scrollbar {
    width: 2px;
}

.PosAlert::-webkit-scrollbar {
    width: 2px;
}

.CdragDrop {
    min-width: 200px;
    min-height: 50px;
    width: 100% !important;
    border: 2px dashed #cfd2d6;
    padding: 100px !important;
    background-color: #f4f5f8 !important;
}


/* Handle */

.PosAlert::-webkit-scrollbar-thumb {
    background: #442563;
}


/* Track */

.PosAlert::-webkit-scrollbar-thumb:window-inactive {
    background: #442563;
}

.appdivheight {
    overflow-y: auto !important;
    height: 65vh !important;
}


/* Let's get this party started */

.appdivheight::-webkit-scrollbar {
    width: 2px;
}


/* Handle */

.appdivheight::-webkit-scrollbar-thumb {
    background: #5b47fb;
}


/* Track */

.appdivheight::-webkit-scrollbar-thumb:window-inactive {
    background: #5b47fb;
}

.centerabsolute {
    height: 100% !important;
    /* left: 40% !important; */
    position: absolute !important;
    top: 35% !important;
}

.text-ellipsis {
    display: block !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.chart-six {
    margin-left: -5px !important;
    height: 500px !important;
}

@media (min-width: 576px) {
    .chart-six {
        height: 200px !important;
    }
}

@media (min-width: 768px) {
    .chart-six {
        height: 250px !important;
    }
}

@media (min-width: 992px) {
    .chart-six {
        height: 300px !important;
    }
}

.cursor-pointer {
    cursor: pointer !important;
}

.LiveTerminalCardDanger:hover {
    background-color: #FF7E7E !important;
    transition: 300ms ease-in-out;
    color: white !important;
    cursor: pointer;
}

.LiveTerminalCardIdle {
    background-color: #FFC20A !important;
    transition: 300ms ease-in-out;
    color: white !important;
    cursor: pointer;
}

.LiveTerminalCardSuccess:hover {
    background-color: #10B759 !important;
    transition: 300ms ease-in-out;
    color: white !important;
    cursor: pointer;
}


/* .gredientBorder{

    background:
      linear-gradient(
        to right, 
        #F10875  25%,
        #00cccc 25%,
        #00cccc 50%,

        #FFC20A 50%,
        #FFC20A 75%,

        #0168fa 75%
      )
      right 
      bottom
      no-repeat; 
    background-size:100% 5px ;
}  */


/* .gredientBorder {
  text-align: center;
  position: relative;
  line-height: 100px;
  background: #fff;
  height: 100px;
  width: 300px;
} */

.gredientBorder:after {
    background: linear-gradient(to right, #F10875 25%, #00cccc 25%, #00cccc 50%, #FFC20A 50%, #FFC20A 75%, #0168fa 75%) right bottom no-repeat;
    /* position: absolute; */
    content: '';
    height: 4px;
    right: 0;
    left: 0;
    top: 0;
}

.fas {
    transition: all .5s linear;
}

.clicked {
    transform: rotate(180deg);
}

.Hm-HeaderColor {
    color: #707070 !important;
}


/* ::placeholder {
  font-size: 11px !important;
  color: #8E9CAD !important ;
} */

.pnx-msg-icon fa-cash-registering {
    width: 48px !important;
    height: 48px !important;
}


/* .card-body{
  border-radius: 0px !important;
} */

.md-form-group {
    padding: 18px 0 24px 0;
    position: relative
}

.w-xmd {
    width: 170px !important
}

.tx-MasterCard {
    color: #FFC20A !important;
}

.bg-MasterCard {
    background-color: #FFC20A !important;
}

.tx-verve {
    color: #F10875 !important;
}

.bg-verve {
    background-color: #F10875 !important;
}

.tx-alertpos {
    color: #FF0000 !important;
}

.bg-deadpos {
    background-color: #DC3545 !important;
}

.dragDrop {
    min-width: 200px;
    min-height: 50px;
    border: 2px dashed #333;
    padding: 100px !important;
}

.iconColor {
    color: #8392a5 !important;
}

@media only screen and (max-width: 992px) {
    .Hm-AlignCenter {
        display: flex !important;
        justify-content: center !important;
    }
    .Hm-textCenterMd {
        text-align: center !important;
    }
}

@media only screen and (max-width: 768px) {
    .Hm-media768 {
        margin-top: 16px !important;
    }
    .Hm-HideDiv {
        display: none !important;
    }
    .Hm-DisplayDiv {
        display: block !important;
    }
    .Hm-mg-y {
        margin: 5px 0px 5px 0px !important;
    }
    .Hm-AlignCenter {
        text-align: center !important;
    }
    .Hm-mg-l {
        padding-left: 1.25rem !important;
    }
    .Hm-height {
        height: 200px !important;
    }
}

.textPagination {
    color: grey !important;
    font-size: 12px !important;
}

.themeBorderColor {
    border: 1px solid #e5e5e5 !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    ;
    border-right: none !important;
    width: 201px !important;
}

.themeBtnBorderColor {
    border: 1px solid #e5e5e5 !important;
    border-left: none !important;
}

.boxPagination {
    border-radius: 5px !important;
    color: gray ! important;
    outline: none !important;
    font-size: 12px !important;
}

.form-daterangepicker {
    color: #7b7b7b !important;
    border: 1px solid #e5e5e5 !important;
}

.grid-icon {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 2px solid #e4e6e8;
}

.rowvertical {
    vertical-align: middle !important;
}

th:last-child {
    /* padding-left:20px; */
    padding-right: 30px !important;
}


/* td:last-child { */


/* padding-left:20px; */


/* padding-right:30px !important; */


/* } */

th:first-child {
    padding-left: 10px !important;
    /* padding-right:30px !important; */
}

td:first-child {
    padding-left: 10px !important;
    /* padding-right:30px !important; */
}

.infotag-color {
    color: #0168fa !important;
}

.a-color {
    color: black !important;
}

.merchantlist-details {
    display: flex !important;
    align-items: none !important;
}

.ng5-slider .ng5-slider-pointer {
    width: 16px !important;
    height: 16px !important;
    top: -6px !important;
    background-color: #0168fa !important;
}

.ng5-slider .ng5-slider-pointer:after {
    width: 8px !important;
    height: 8px !important;
    top: 4px !important;
    left: 4px !important;
    border-radius: 4px;
}

.b-2x {
    border-width: 2px !important;
}

.ng5-slider .ng5-slider-selection {
    background: #0168fa !important;
}

.ng5-slider .ng5-slider-bubble {
    color: inherit !important;
    font-size: 11px !important;
    font-weight: 500;
    text-transform: uppercase;
}


/* .skin{
background-color: white !important;
}

body{
  background-color: white!important;
} */

@media (min-width: 992px) {
    .content-fixed {
        padding-top: 60px;
    }
}

.crypto-icon {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

.content-auth {
    min-height: calc(100vh - 106px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-auth>.container {
    padding: 0;
}

@media (max-width: 1139px) {
    .content-auth>.container {
        max-width: none;
        padding: 0 20px;
    }
}

.content-auth>.container:first-child {
    flex: 1;
}

.content-auth-alt {
    min-height: calc(100vh - 106px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-auth-alt .container {
    padding: 0;
}

@media (max-width: 1139px) {
    .content-auth-alt .container {
        max-width: none;
    }
}

.sign-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
}

@media (min-width: 1200px) {
    .sign-wrapper {
        width: 340px;
    }
}

.sign-wrapper .form-group label {
    display: block;
    margin-bottom: 5px;
}

.ngx-pagination a,
.ngx-pagination button {
    display: block;
    min-width: 34px;
    padding: 6px 6px !important;
    border-width: 0;
    /* background-color: #b4bdce; */
    color: #596882;
    border-radius: 0.25rem !important;
    text-align: center;
}

.ngx-pagination .current {
    color: #fefefe;
    cursor: default;
    background: #0168fa !important;
    min-width: 34px;
    padding: 6px 6px !important;
    border-width: 0;
    border-radius: 0.25rem !important;
    text-align: center;
}

.select2-container {
    width: auto !important;
    min-width: 180px !important
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 180px
}

.full-width .select2-container {
    width: 100% !important
}

.select2-container--default .select2-selection--single {
    border: 1px solid #e5e5e5 !important;
    border-radius: 2px !important
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important
}

.select2-dropdown {
    border: 1px solid #e5e5e5 !important;
    border-radius: 2px !important
}

.select2-container .select2-selection--single {
    height: 38px !important
}

.select2-container {
    width: auto !important;
    min-width: 160px !important
}

.form-control,
.select2-container--default .select2-selection--multiple {
    border-radius: 2px
}

.select2-selection--multiple .select2-selection__rendered {
    height: 30px
}

.select2-container--default.select2-container--focus .select2-selection--multiple .select2-container--default .select2-selection--multiple {
    border: 1px solid #e5e9ec
}

.select2-container--default .select2-selection--multiple {
    border-radius: 2px
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #e5e9ec
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0168FA;
    border: 1px solid #e6e9ec;
    border-radius: 2px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 1px 5px 1px 3
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0
}

.select2-search {
    padding-top: 0
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #e6e9ec
}

.select2-search input {
    padding: 6px 0px 6px 6px !important
}

.full-width,
.full-width .select2-container {
    width: 100% !important
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #7b7b7b;
    font-size: 14px;
    text-transform: capitalize
}

.select2-container .select2-selection--single {
    height: 38px !important
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px !important
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #ffff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold !important;
    margin-right: 2px !important;
    opacity: 1 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.wd-100p .select2-container {
    width: 100% !important;
}

.dropdown-menu {
    z-index: 200;
}

.ng5-slider .ng5-slider-pointer {
    width: 16px !important;
    height: 16px !important;
    top: -6px !important;
    background-color: #0168fa !important;
}

.table-hover tbody tr:hover {
    color: #001737;
    background-color: rgba(0, 0, 0, 0.075);
}

.ng2-file-input .ng2-file-input-drop-container {
    min-width: 200px;
    min-height: 50px;
    border: 2px dashed #333;
    padding: 100px;
}

.ng2-file-input .ng2-file-input-drop-container button {
    margin-left: 25px;
}

.ng2-file-input .ng2-file-input-drop-container.file-is-over {
    border: 2px solid #007e40;
    color: #007e40;
}

.ng2-file-input input {
    display: none;
}

.ng2-file-input .ng2-file-input-files {
    margin-top: 8px;
}

.ng2-file-input .ng2-file-input-files .ng2-file-input-file {
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.ng2-file-input .ng2-file-input-files .ng2-file-input-file .ng2-file-input-file-text {
    /* max-width: 110px; */
    line-height: 16px;
    display: block;
    padding: 2px;
    width: auto;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 12px;
}

.ng2-file-input .ng2-file-input-files .ng2-file-input-file img {
    width: 120px;
    height: 120px;
}

.ng2-file-input .ng2-file-input-files .ng2-file-input-file.image {
    width: 120px;
    height: 120px;
}

.ng2-file-input .ng2-file-input-files .ng2-file-input-file.image .ng2-file-input-file-text {
    position: absolute;
    top: 5px;
    left: 5px;
    line-height: 14px;
    font-size: 11px;
    background: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
    z-index: 5;
    text-overflow: ellipsis;
}

.ng2-file-input .ng2-file-input-files .ng2-file-input-file.image .ng2-file-input-file-text:hover {
    overflow: auto;
    white-space: pre-wrap;
    text-overflow: initial;
}

.ng2-file-input .ng2-file-input-files .ng2-file-input-file.image .ng2-file-input-file-text.remove,
.ng2-file-input .ng2-file-input-files .ng2-file-input-file-text.remove {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 3;
    vertical-align: bottom;
    max-width: 120px;
    font-size: 14px;
    line-height: 20px;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    padding: 0;
}

.ng2-file-input .ng2-file-input-files .ng2-file-input-file.image .ng2-file-input-file-text.remove p,
.ng2-file-input .ng2-file-input-files .ng2-file-input-file-text.remove p {
    position: absolute;
    bottom: 5px;
    width: 100%;
    color: #fff;
}

.ng2-file-input .ng2-file-input-files .ng2-file-input-file.image .ng2-file-input-file-text.remove:hover,
.ng2-file-input .ng2-file-input-files .ng2-file-input-file-text.remove:hover {
    opacity: 1;
    cursor: pointer;
    background: rgba(169, 68, 66, 0.85);
}

.ranges li {
    color: #0168fa !important;
    background: none !important;
    border: 1px solid #0168fa !important;
}

.ranges li.active,
.ranges li:hover {
    background: #0168fa !important;
    border: 1px solid #0168fa !important;
    color: #fff !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #907bef !important;
}

.daterangepicker td.in-range {
    background-color: #f4f2ff !important;
}

.daterangepicker .daterangepicker_input i {
    color: #0168fa;
}

.daterangepicker .input-mini.active {
    border: 1px solid #0168fa !important;
}


.r-1x {
    border-radius: 4px !important;
}

.swal2-popup .swal2-styled {
    padding: 7px 13px !important;
    font-weight: normal !important;
    box-shadow: none !important;
    font-size: 12px !important;
}


/* .swal2-popup .swal2-styled.swal2-confirm
{
  font-size: 12px  !important;
}
.swal2-popup .swal2-styled.swal2-cancel
{
  font-size: 13px  !important;
} */

.swal2-popup .swal2-styled.swal2-cancel {
    background-color: rgb(152, 156, 158) !important;
}

.swal2-popup {
    border-radius: 4px !important;
    width: 22em !important;
    padding: 1.5em 1.25em !important;
}

.swal2-popup .swal2-title {
    /* font-weight: 300 !important;
  color: #000 !important;
  font-size: 1.6em  !important; */
    font-weight: 500 !important;
    color: #000 !important;
    font-size: 16px !important;
}

.swal2-popup .swal2-content {
    font-size: 12px !important;
    font-weight: normal !important;
    color: #736a6a !important;
}

.notie-alert {
    z-index: 1200 !important;
}

.notie-container {
    font-size: 0.8rem;
    height: auto;
    /* left: 0; */
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 900px) {
    .notie-container {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 750px) {
    .notie-container {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 400px) {
    .notie-container {
        font-size: 0.8rem;
    }
}

.notie-background-success {
    background-color: #20ab68;
}

.notie-background-warning {
    background-color: #fda61c;
}

.notie-background-error {
    background-color: #e9223f;
}

.notie-background-info {
    background-color: #8673ea;
}

.notie-background-neutral {
    background-color: #a0a0a0;
}

.notie-background-overlay {
    background-color: #fff;
}

.notie-textbox {
    color: #fff;
    padding: 10px 20px;
}

.notie-textbox-inner {
    margin: 0 auto;
    max-width: 900px;
}

.notie-overlay {
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.notie-button {
    cursor: pointer;
}

.notie-button,
.notie-element {
    color: #fff;
    padding: 10px;
}

.notie-element-half {
    width: 50%;
}

.notie-element-half,
.notie-element-third {
    display: inline-block;
    box-sizing: border-box;
}

.notie-element-third {
    width: 33.3333%;
}

.notie-alert {
    cursor: pointer;
}

.notie-input-field {
    background-color: #fff;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    outline: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.notie-select-choice-repeated {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    box-sizing: border-box;
}

.notie-date-selector-inner {
    margin: 0 auto;
    max-width: 900px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.notie-date-selector-inner [contenteditable],
.notie-date-selector-inner [contenteditable]:focus {
    outline: 0 solid transparent;
}

.notie-date-selector-up {
    transform: rotate(180deg);
}

.modal {
    z-index: 101 !important;
}

.modal-backdrop {
    z-index: 100 !important;
}

.backdrop {
    z-index: 100 !important;
}

.aside-fixed {
    /* z-index: 1000 !important;  */
    z-index: 99 !important;
}

@media only screen and (max-width: 600px) {
    .aside-fixed {
        z-index: 1000 !important;
        /* z-index: 99 !important;  */
    }
}

.df-settings {
    z-index: 1200 !important;
}

.off-canvas {
    z-index: 101 !important;
}

.flex-display {
    margin: auto;
    padding-top: auto;
}

.SystemActive {
    background-color: #e3e7eD !important;
    color: black !important;
}

.slow-animation {
    animation: swal2-show 3s !important;
}


/* stepper css start */

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    /* z-order: 0; */
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 600px;
    margin: 20px auto 26px;
    border: none;
    z-index: 0;
}

.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    margin: 0 auto;
    position: absolute;
    right: 55px;
    top: 22px;
    width: 80%;
    z-index: -1;
}

.process-model li.visited::after {
    background: #0168fa;
}

.process-model li:last-child::after {
    width: 0;
}

.process-model li {
    display: inline-block;
    width: 25%;
    text-align: center;
    float: none;
}

.process-model .Custom {
    display: inline-block;
    width: 33.33% !important;
    text-align: center;
    float: none;
}

.nav-tabs.process-model>li.active>a,
.nav-tabs.process-model>li.active>a:hover,
.nav-tabs.process-model>li.active>a:focus,
.process-model li a:hover,
.process-model li a:focus {
    border: none;
    background: transparent;
}

.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}

.process-model li.active,
.process-model li.visited {
    color: #0168fa;
}

.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #0168fa;
}

.process-model li.active p,
.process-model li.visited p {
    font-weight: 600;
    color: #0168fa;
}

.process-model li i {
    display: block;
    height: 42px;
    width: 42px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    line-height: 42px;
    font-size: 20px;
    border-radius: 50%;
}

.process-model li.active i,
.process-model li.visited i {
    background: #fff;
    border-color: #0168fa;
}

.process-model li p {
    font-size: 12px;
    margin-top: 11px;
}

.process-model.contact-us-tab li.visited a,
.process-model.contact-us-tab li.visited p {
    color: #606060 !important;
    font-weight: normal
}

.process-model.contact-us-tab li::after {
    display: none;
}

.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5;
}

@media screen and (max-width: 560px) {
    .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}

@media screen and (max-width: 380px) {
    .process-model.more-icon-preocess li {
        width: 16%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 18px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }
}

.map-searchbox {
    position: absolute;
    z-index: 999999;
    width: 90%;
    margin: 1%;
    margin-top: 30px;
}

.r-5x {
    border-radius: 25px;
}

.hue-purple {
    background-image: linear-gradient(135deg, #FD6585 10%, #0D25B9 100%);
}


/* stepper css end */

.select2-container--default .select2-selection--multiple:before {
    content: ' ';
    display: block;
    position: absolute;
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 6px;
    margin-left: -4px;
    margin-top: -2px;
    top: 50%;
    width: 0;
    cursor: pointer
}

.select2-container--open .select2-selection--multiple:before {
    content: ' ';
    display: block;
    position: absolute;
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
    height: 0;
    right: 6px;
    margin-left: -4px;
    margin-top: -2px;
    top: 50%;
    width: 0;
    cursor: pointer
}


/* gauge */

#linear-gauge {
    width: 100%;
    height: 100%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 30%;
    /* aspect ratio */
    vertical-align: bottom;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    margin-top: 30px;
    left: 0;
}

svg text {
    font-size: 1.2em;
    font-family: sans-serif;
}

#linear-gauge svg {
    height: 70px !important;
}

.Word-break {
    word-break: break-all !important;
}

#loading-bar-spinner {
    top: 6px !important;
    left: 97% !important;
    color: #00cccc !important;
}


/* navigation sub menu */

.navbar-nav>li:hover>.dropdown-menu {
    display: block !important;
}

.dropdown-submenu {
    position: relative !important;
}

.dropdown-submenu>.dropdown-menu {
    top: 0 !important;
    left: 100% !important;
    margin-top: -6px !important;
    margin-left: -1px !important;
    -webkit-border-radius: 0 6px 6px 6px !important;
    -moz-border-radius: 0 6px 6px !important;
    border-radius: 0 6px 6px 6px !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block !important;
}

.dropdown-submenu>a:after {
    display: block !important;
    content: " " !important;
    float: right !important;
    width: 0 !important;
    height: 0 !important;
    border-color: transparent !important;
    border-style: solid !important;
    border-width: 5px 0 5px 5px !important;
    border-left-color: #ccc !important;
    margin-top: 5px !important;
    margin-right: -10px !important;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff !important;
}

.dropdown-submenu.pull-left {
    float: none !important;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100% !important;
    margin-left: 10px !important;
    -webkit-border-radius: 6px 0 6px 6px !important;
    -moz-border-radius: 6px 0 6px 6px !important;
    border-radius: 6px 0 6px 6px !important;
}

.mat-button {
    opacity: 0.4 !important;
    /* border-radius: 100% !important; */
}


/* navigation sub menu */

.funnel rect {
    display: none !important;
}

.route-hover:hover {
    color: #0168fa !important;
}

.cancelBtn {
    border: 1px !important;
    background-color: #a3aec2 !important;
}

.redeem-code {
    /* border-top: 2px dotted grey !important;
  border-bottom: 2px dotted grey !important;
  border-right: 2px dotted grey !important;
  border-left: 2px dotted grey !important;
  background: rgba(0,0,0,.048); */
    background: #F5F6FA 0% 0% no-repeat padding-box;
    border: 0.5px dashed #9FA5AE;
    width: 140px;
}

.redeem-code1 {
    /* border-top: 2px dotted grey !important;
  border-bottom: 2px dotted grey !important;
  border-right: 2px dotted grey !important;
  border-left: 2px dotted grey !important;
  background: rgba(0,0,0,.048); */
    width: 200px;
    height: 47px;
    color: #0168FA;
    background: #CCE1FE;
    border: 0.5px dashed #0168FA;
}

.redeem-code2 {
    width: 100%;
    height: 65px;
    color: #0168FA;
    background: #CCE1FE;
    border-radius: 4px;
    border: 2.5px dashed #0168FA;
}

div.textover {
    /* white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all; */
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
    display: inline-block;
}


/* div.textover:hover {
  overflow: visible;
} */

.dot {
    height: 12px;
    width: 12px;
    background-color: #10B759;
    border-radius: 50%;
    display: inline-block;
}

.dot1 {
    height: 12px;
    width: 12px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.deal-details {
    background: #E5E9F2;
    border-radius: 4px;
    height: 38px;
    width: 42px;
}

.dealfeather {
    align-items: center;
    margin-left: 11px;
    margin-top: 7px;
    font-size: 24px;
}

.iconclass {
    width: 16px;
    height: 16px;
    stroke-width: 2.3px;
    color: rgba(27, 46, 75, 0.65);
    fill: rgba(27, 46, 75, 0.06);
}

.daterangepicker select.ampmselect,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect {
    border: 1px solid #c0ccda !important;
    border-radius: 2px !important;
    padding: 6px 0px !important;
    color: #1b2e4b !important;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
    border: 1px solid #c0ccda !important;
    border-radius: 2px !important;
    padding: 6px 4px !important;
    color: #1b2e4b !important;
}

.spanhelper {
    display: flex;
    min-width: 50px;
    font-size: 11px;
    text-transform: uppercase;
    color: #7987a1 !important;
}

.tx-semibold {
    font-weight: 500;
}

.agm-map-container-inner {
    border-radius: 4px;
}

.banner {
    height: 100%;
    background: #F5F6FA;
    cursor: pointer;
}

.default-banner {
    height: 200px;
    background: #F5F6FA;
    cursor: pointer;
}

.icon-container {
    height: 90% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    ;
}

.add-icon {
    font-size: calc(10rem / 4);
    color: #aeaeae;
}

.size-lbl {
    color: #aeaeae;
    display: flex !important;
    ;
    justify-content: center !important;
    ;
}

.tui-image-editor-menu {
    background: #ececec;
}

.closebtn {
    margin: 10px !important;
    height: 35px;
    background-color: #7987a1;
    color: white;
}

.savebtn {
    height: 35px;
    background-color: #0168fa;
    color: white;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drop-list-dragging>.cdk-drag-placeholder {
    background: rgba(0, 0, 0, 0.12);
}

.cdk-drop-list-dragging>*:not(.cdk-drag-placeholder) {
    display: none;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    border-radius: 4px;
}

.ck-editor__editable {
    min-height: 200px !important;
}

.card {
    border-radius: 0.4rem;
}


/* _kishor....css */

.creditlabel {
    color: var(--tx-header);
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #001737;
    opacity: 1;
}

.cccard {
    box-shadow: none;
}

.cccard h6 {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 10px !important;
    letter-spacing: 0.5px;
}

.cccard h3 {
    font-size: 26px;
    margin-bottom: 4px !important;
    line-height: 1.1;
    font-family: 'Rubik', sans-serif;
}

.cccard h3 span {
    font-size: 14px;
    padding-right: 2px;
}

.cccard .text-secondary {
    font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 0px;
    border-radius: 4px;
}


/* _kishor....css */

.creditlabel {
    color: var(--tx-header);
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #001737;
    opacity: 1;
}

.tablerowfield th {
    text-align: left;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0px;
    color: #7987A1;
    text-transform: uppercase;
    opacity: 1;
}

.col-3-diff {
    margin-top: 20px;
    /* padding: 10px 0px; */
}

.cccard-purple {
    background: rgb(128 0 128 / 6%);
    border: 1px solid rgb(128 0 128 / 6%);
    color: purple;
}

.cccard-purple h6 {
    color: purple !important;
}

.cccard-purple h3 {
    color: purple !important;
}

.cccard-purple .text-secondary {
    color: rgb(128 0 128 / 70%) !important;
}

.cccard-green {
    background: rgb(16 183 89 / 6%) !important;
    border: 1px solid rgb(16 183 89 / 12%) !important;
    color: #10b759;
}

.cccard-green h6 {
    color: #10b759 !important;
}

.cccard-green h3 {
    color: #10b759 !important;
}

.cccard-green .text-secondary {
    color: rgb(16 183 89 / 70%) !important;
}

.cccard-red {
    background: rgb(220 53 69 / 6%) !important;
    border: 1px solid rgb(220 53 69 / 6%) !important;
    color: #dc3545;
}

.cccard-red h6 {
    color: #dc3545 !important;
}

.cccard-red h3 {
    color: #dc3545 !important;
}

.cccard-red .text-secondary {
    color: rgb(220 53 69 / 70%) !important;
    /*  */
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}


/*  */

.theme-green .bs-datepicker-head {
    background-color: #C0CCDA !important;
}

.nav-line .default-loan .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: red !important;
}

.timeline-item+.timeline-item::before {
    height: 0px !important;
}

.tx-18 {
    font-size: 18px !important;
}

.neworder.table {
    color: #5F6D88 !important;
    font-size: 12px !important;
}

.neworder.table th,
.table td {
    border-top: none !important;
}


/* .delivery .select2-container .select2-selection--single {
  height: 22px !important;
}

.delivery .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 21px !important;
}

.delivery .select2-container {
  width: auto !important;
  min-width: 130px !important;
} */

@media (width: 1024px) {
    .nodata {
        padding-top: 10px !important;
        padding-bottom: 0px !important;
    }
}

@media (width: 1440px) {
    .nodata {
        padding-top: 40px !important;
        padding-bottom: 18px s !important;
    }
}

@media (width: 2560px) {
    .nodata {
        padding-top: 48px !important;
        padding-bottom: 20px !important;
    }
}

@media (width: 1920px) {
    .nodata {
        padding-top: 40px !important;
        padding-bottom: 28px !important;
    }
}

@media only screen and (width: 1205px) {
    .nodata {
        padding-top: 10px !important;
        padding-bottom: 0px !important;
    }
}

@media only screen and (width: 1446px) {
    .nodata {
        padding-top: 32px !important;
        padding-bottom: 28px !important;
    }
}

.viewBtn {
    width: 70px;
    height: 30px;
    padding: 5px;
    border-radius: 2px;
    font-size: 13px;
}

.mb-6 {
    margin-bottom: 4rem !important;
}

.notification-badge {
    font-size: 10px;
    padding-left: 4px;
    padding-right: 4px;
}


/* added by vishal for the font icon start */

#fileiconaassdd {
    height: 70px;
    width: 40px;
    color: #C0CCDA;
}


/* added by vishal for the font icon end*/

.cursss {
    cursor: pointer;
}


/* added by vishal for the font icon end*/


/* 
.fixed-picker{
  top: 140px !important;
  right: auto !important;
} */

.mt-09r{
    margin-top: 0.9rem !important;
}

#_Icon_Cropper_Modal
{
z-index: 104 !important;
}

.width100{
   width: 100% !important;
}

.LogoDragArea{
    width: 440px;
    height: 240px;
    border: 2px dashed #CBD5E0;
}