<!-- --merchant-Loyality--overview -->
<h4 class="mg-b-12 tx-spacing--1"> Loyalty Overview </h4>
<!-- <ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a>Loyality
    </a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary">Overview
    </a></li>
</ol> -->


<div class="d-sm-flex align-items-center justify-content-between mb-2">
  <div class="d-flex justify-content-between ">
    <div class="form-group  mb-0 pb-0 wd-200">
      <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
        [options]="_HelperService.AppConfig.DateRangeOptionsCustom"
        (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    </div>

    <!-- <div class="mg-l-5">
      <select2 class="full-width" [options]="_DataHelperService.S2_Status_Option"
        [data]="this._HelperService.AppConfig.StatusList.DateRange" (valueChanged)="DateTypeSelected($event)">
      </select2>
    </div> -->

    <div class="mg-l-5 wd-200">
      <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
        (valueChanged)="TUTr_Filter_Stores_Change($event)">
      </select2>
    </div>

  </div>
  <div class="d-flex justify-content-between mg-t-10  mg-md-t-0">
    <!-- <button
      class="btn btn-sm pd-x-15  btn-uppercase {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
        data-feather="mail" class="wd-10 mg-r-5"></i>
      Email</button>
    <button
      class="btn btn-sm pd-x-15  btn-uppercase mg-l-5 {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
        data-feather="upload" class="wd-10 mg-r-5"></i>
      Export</button> -->
    <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
      <li class="list-inline-item d-flex align-items-center">
        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
          {{_Monthly.ActualStartDate | date :["dd LLL"]}}</span>
      </li>
      <li class="list-inline-item d-flex align-items-center mg-l-5">
        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
        <span
          class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Monthly.ActualEndDate| date :["dd LLL"]}}</span>
      </li>

      <li title="{{ 'Common.RefreshT' | translate }}" class="list-inline-item d-flex align-items-center mg-l-5">
        <a class="cursor-pointer" (click)="RefreshData()"><i class="{{ 'Common.RefreshI' | translate }}"></i></a></li>
    </ul>
  </div>
</div>

<div class="row row-xs mg-b-10">
  <div class="col-sm-6 col-lg-3 ">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Visits by Loyal Customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.VisitsByRepeatingCustomers | number: "1.0-1" || "--"}}</h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-secondary  mg-b-0"> Visits gives earning of <b class="tx-dark"><span
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountOverview.RepeatingCustomerInvoiceAmount | number: "1.0-1" || "0"}}
        </b> sale</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Visits by new customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.NewCustomers | number: "1.0-1" || "--"}}</h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-secondary mg-b-0 "> New sign ups in this time span</p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Redeemed amount</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          <span class="text-sm"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountOverview.RedeemAmount || "0" | number: "1.2-2" }}
        </h3>

      </div>
      <p class="tx-12 text-secondary mg-b-0 ">Amount redeemed by customers</p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Rewarded amount</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          <span class="text-sm"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountOverview.RewardAmount || "0" | number: "1.2-2"  }}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0 "> Amount rewarded to customers</p>
    </div>
  </div><!-- col -->
</div>

<div class="row row-xs mg-b-10">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div
        class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
        <div>
          <h6 class="mg-b-0">Visits metrics</h6>
          <p class="tx-11 text-secondary mg-b-0">Visits by New Customers vs Loyal Customers
          </p>
        </div>
        <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0 mg-10">
          <li class="list-inline-item d-flex align-items-center text-center">
            <div class="tx-teal cursor-pointer" (click)="Toogle_Dataset_Visibility('Returning Visits')">
              <span class="{{VisitsChartData[0].hidden?'text-secondary':''}}">
                <i data-feather="git-commit"></i>
              </span>
              <br>
              <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">VISITS BY Loyal</div>
            </div>

          </li>
          <li class="list-inline-item d-flex align-items-center text-center">
            <div class="tx-verve cursor-pointer" (click)="Toogle_Dataset_Visibility('New Visits')">
              <span class="{{VisitsChartData[1].hidden?'text-secondary':''}}">
                <i data-feather="git-commit"></i>
              </span>
              <br>
              <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">VISITS BY NEW</div>
            </div>

          </li>
        </ul>
        <!-- btn-group -->
      </div><!-- card-header -->
      <div class="card-body pd-lg-25" *ngIf="this.VisitsChartData[0].data.length != 0">
        <div class="row ">
          <div class="col-lg-9 col-xl-9">

            <canvas *ngIf="showVisitsLoalityChart" baseChart #DataPlot="base-chart" [datasets]="VisitsChartData"
              [labels]="MonthlybarChartLabels" [options]="_HelperService.ChartConfig.BarChart.Options"
              [colors]="lineVisitsChartColors" [plugins]="_HelperService.ChartConfig.BarChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.BarChart.Type">
            </canvas>

          </div>

          <div class="col-lg-3 col-xl-3  mg-t-30 mg-lg-t-0">
            <div class="row mg-b-15">
              <div class="col-sm-6 col-lg-12">
                <div class="text-primary tx-18">
                  {{(_AccountOverview.VisitsByRepeatingCustomers+_AccountOverview.NewCustomers)| number:'1.0-0'}}
                  <small class="tx-11">
                    Visits </small>
                </div>
                <div class="text-secondary tx-uppercase tx-10"> Total visits </div>

              </div>
              <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
                <div class=" mg-b-5">
                  <div class="tx-teal tx-18">
                    {{_AccountOverview.VisitsByRepeatingCustomers | number:'1.0-0'}} Visits
                  </div>
                  <div class="text-secondary tx-uppercase tx-10"> Visits by Loyal CUSTOMERS </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-12 mg-t-30">
                <div class="mg-b-5">
                  <div class="tx-verve tx-18"> {{_AccountOverview.NewCustomers| number:'1.0-0'}} Visits
                  </div>
                  <div class="text-secondary tx-uppercase tx-10"> visits BY NEW customers </div>
                </div>

              </div>
            </div><!-- row -->

          </div>
        </div>
      </div><!-- card-body -->
      <div class="card-body pd-lg-25" *ngIf="this.VisitsChartData[0].data.length == 0">
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-file tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- card -->
  </div>
</div>

<div class="row row-xs mg-b-10">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div
        class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
        <div>
          <h6 class="mg-b-0">Sales metrics</h6>
          <p class="tx-11 text-secondary mg-b-0">Sales by New Customers vs Loyal Customers
          </p>
        </div>
        <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0 mg-10">
          <li class="list-inline-item d-flex align-items-center text-center">
            <div class="text-success cursor-pointer" (click)="Toogle_Dataset_Visibility('Returning Sales')">
              <span class="{{SalesChartData[0].hidden?'text-secondary':''}}">
                <i data-feather="git-commit"></i>
              </span>
              <br>
              <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">SALE BY Loyal</div>
            </div>
          </li>
          <li class="list-inline-item d-flex align-items-center text-center">
            <div class="tx-MasterCard cursor-pointer" (click)="Toogle_Dataset_Visibility('New Sales')">
              <span class="{{SalesChartData[1].hidden?'text-secondary':''}}">
                <i data-feather="git-commit"></i>
              </span>
              <br>
              <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">SALE BY NEW</div>
            </div>
          </li>
        </ul>
        <!-- btn-group -->
      </div><!-- card-header -->
      <div class="card-body pd-lg-25" *ngIf="this.SalesChartData[0].data.length != 0">
        <div class="row ">
          <div class="col-lg-9 col-xl-9">

            <canvas *ngIf="showSalesLoalityChart" baseChart #DataPlot="base-chart" [datasets]="SalesChartData"
              [labels]="MonthlybarChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options"
              [colors]="lineSalesChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>

          </div>

          <div class="col-lg-3 col-xl-3  mg-t-30 mg-lg-t-0">
            <div class="row mg-b-15">
              <div class="col-sm-6 col-lg-12">
                <div class="text-primary tx-18"> <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                  {{(_AccountOverview.NewCustomerInvoiceAmount+_AccountOverview.RepeatingCustomerInvoiceAmount) | number:'1.0-0'}}

                </div>
                <div class="text-secondary tx-uppercase tx-10"> Total SALE amount </div>


              </div>
              <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
                <div class=" mg-b-5">
                  <div class="text-success tx-18"> <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{_AccountOverview.RepeatingCustomerInvoiceAmount| number:'1.0-0'}} </div>
                  <div class="text-secondary tx-uppercase tx-10"> SaLE by Loyal CUSTOMERS </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-12 mg-t-30">
                <div class="mg-b-5">
                  <div class="tx-MasterCard tx-18"> <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_AccountOverview.NewCustomerInvoiceAmount| number:'1.0-0'}}
                  </div>
                  <div class="text-secondary tx-uppercase tx-10"> SALE BY NEW customers </div>
                </div>

              </div>
            </div><!-- row -->

          </div>
        </div>
      </div><!-- card-body -->
      <div class="card-body pd-lg-25" *ngIf="this.SalesChartData[0].data.length == 0">
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-file tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- card -->
  </div>
</div>


<div class="row row-xs mg-b-10" *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">

    <div class="row">
      <div class="col-md-6">

        <div class="card">
          <div
            class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
            <div>
              <h6 class="mg-b-0">Reward Distribution</h6>
            </div>
          </div>
          <ul class="list-group list-group-flush tx-14">
            <li class="list-group-item  disabled d-flex pd-sm-x-20 pd-y-20">
              <div class="pd-l-10">
                <p class="tx-dark mg-b-0">Convenience Charge
                </p>
              </div>
              <div class="mg-l-auto d-flex align-self-center">
                <nav class="nav nav-icon-only">
                  <p class="tx-medium tx-dark mg-b-0 tx-rubik"><span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{(_AccountOverview.TucPlusRewardCommissionAmount | number: "1.0-1")|| "0" }}
                  </p>

                </nav>
              </div>
            </li>
            <li class="list-group-item disabled d-flex pd-x-20 pd-y-20">
              <div class="pd-l-10">
                <p class="tx-dark mg-b-0">Claimed Reward</p>
              </div>
              <div class="mg-l-auto d-flex align-self-center">
                <nav class="nav nav-icon-only">
                  <p class="tx-medium tx-dark mg-b-0 tx-rubik"><span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{(_AccountOverview.TucPlusRewardClaimAmount | number: "1.0-1") || "0"}}
                  </p>

                </nav>
              </div>
            </li>
            <li class="list-group-item disabled d-flex pd-x-20 pd-y-20">
              <div class="pd-l-10">
                <p class="tx-dark mg-b-0">UnClaimed Rewards</p>
              </div>
              <div class="mg-l-auto d-flex align-self-center">
                <nav class="nav nav-icon-only">
                  <p class="tx-medium tx-dark mg-b-0 tx-rubik"><span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{  (_AccountOverview.TucPlusRewardAmount - _AccountOverview.TucPlusRewardCommissionAmount) || "0" | number: "1.0-1"}}
                  </p>


                </nav>
              </div>
            </li>
            <li class="list-group-item  disabled d-flex pd-x-20 pd-y-20">
              <div class="pd-l-10">
                <p class="tx-dark mg-b-0">Total Record</p>
              </div>
              <div class="mg-l-auto d-flex align-self-center">
                <nav class="nav nav-icon-only">
                  <p class="tx-semibold tx-dark mg-b-0 tx-rubik">
                    {{_AccountOverview.TucPlusRewardTransaction || "0" | number: "1.0-1"}}
                  </p>
                </nav>
              </div>
            </li>

          </ul>



        </div>
      </div>
    </div>

  </div>
</div>


<!-- <div class="row row-xs">
  <div class="col-lg-7 col-xl-7 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0 ">
    <div class="card ht-100p">
      <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">

        <h6 class="mg-b-5">Highlights of last 30 days</h6>
      </div>
      <ul class="list-group list-group-flush tx-14">
        <li class="list-group-item d-flex pd-sm-x-20 pd-y-20 cursor-pointer">
          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Total Customers</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <p class="tx-medium tx-dark mg-b-0 tx-rubik">7672772</p>

              <a href="" class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>
            </nav>
          </div>
        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer">
          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">New Customers</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <p class="tx-medium tx-dark mg-b-0 tx-rubik">92828</p>

              <a href="" class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>
            </nav>
          </div>
        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer">
          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Loyal Customers</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <p class="tx-medium tx-dark mg-b-0 tx-rubik">89999</p>

              <a href="" class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>

            </nav>
          </div>
        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer">
          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Avg. Spending / Visit</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <p class="tx-medium tx-dark mg-b-0 tx-rubik"> <span
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>282782</p>

              <a href="" class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>

            </nav>
          </div>
        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer">
          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Avg. Visits / Customer</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <p class="tx-medium tx-dark mg-b-0 tx-rubik">787</p>

              <a href="" class="nav-link d-none d-sm-block"> <i data-feather="chevron-right"></i> </a>

            </nav>
          </div>
        </li>

      </ul>

    </div>
  </div>
  <div class="col-lg-5 col-xl-5 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0 ">
    <div class="card ht-100p">
      <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
        <h6 class="mg-b-5">Top 5 Spenders <br>
          <p class="tx-12 tx-medium tx-dark mb-0 pb-0 pt-1"> CURRENT WEEK</p>
        </h6>
      </div>
      <ul class="list-group list-group-flush tx-14">
        <li class="list-group-item d-flex pd-sm-x-20 pd-y-20 cursor-pointer  align-items-center">
          <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">A</span></div>
          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Total Customers</p>
          </div>

        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer  align-items-center">
          <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">B</span></div>

          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">New Customers</p>
          </div>

        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer  align-items-center">
          <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">C</span></div>

          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Loyal Customers</p>
          </div>

        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer  align-items-center">
          <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">D</span></div>

          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Avg. Spending / Visit</p>
          </div>

        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer  align-items-center">
          <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">E</span></div>

          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Avg. Visits / Customer</p>
          </div>

        </li>

      </ul>

    </div>
  </div>
</div> -->