<div class="card">

  <div class="card-body mg-t-15">
    <form [formGroup]="Form_EditPassword" (ngSubmit)="Form_EditPassword_Process(Form_EditPassword.value)" role="form">
      <div class="card-header pl-0">
        <div class="tx-16"> Password & Security </div>
        <div class="tx-14 text-secondary tx-normal"> A strong password contains a mix of numbers, letters and Symbols.To
          enhance privacy choose strong password.
        </div>
      </div>
      <label class="tx-13 mg-t-25">Enter old password</label>
      <div class="row ">
        <div class="col-md-8">

          <input type="text" *ngIf="!OShowPassword" placeholder="Old Password" name="OldPassword" minlength="1"
            maxlength="100" class="form-control" [formControl]="Form_EditPassword.controls['OldPassword']">

          <input type="password" *ngIf="OShowPassword" placeholder="Old Password" name="OldPassword" minlength="1"
            maxlength="100" class="form-control" [formControl]="Form_EditPassword.controls['OldPassword']">


        </div>
        <div class="px-0 input-group-append">
          <a *ngIf="OShowPassword" (click)="OToogleShowHidePassword()"
            class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0">
            <i class="fa fa-eye-slash fa-1x" aria-hidden="true"></i></a>

          <a *ngIf="!OShowPassword" (click)="OToogleShowHidePassword()"
            class="btn  d-flex align-items-center cursor-pointer Showbutton bd-0">
            <i class="fa fa-eye fa-1x" aria-hidden="true"></i></a>
        </div>
      </div>
      <div>
        <label class="text-danger" for="OldPassword"
          *ngIf="Form_EditPassword.controls['OldPassword'].hasError('required') && Form_EditPassword.controls['OldPassword'].touched">
          Enter Old Password
        </label>

        <label class="text-danger" for="OldPassword"
          *ngIf="Form_EditPassword.controls['OldPassword'].hasError('pattern') ||Form_EditPassword.controls['OldPassword'].hasError('minlength') || Form_EditPassword.controls['OldPassword'].hasError('maxlength')">
          Enter valid old password
        </label>
      </div>
      <div class="controls mg-t-25">
        <label class="tx-13 ">Create New password</label>
        <div class="row ">
          <div class="col-md-8">
            <input type="text" *ngIf="!NShowPassword" placeholder="New Password " name="Password" minlength="1"
              maxlength="100" class="form-control" [formControl]="Form_EditPassword.controls['NewPassword']">

            <input type="password" *ngIf="NShowPassword" placeholder="New Password " name="Password" minlength="1"
              maxlength="100" class="form-control" [formControl]="Form_EditPassword.controls['NewPassword']">




          </div>
          <div class="px-0 input-group-append">
            <a *ngIf="NShowPassword" (click)="NToogleShowHidePassword()"
              class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0">
              <i class="fa fa-eye-slash fa-1x " aria-hidden="true"></i></a>

            <a *ngIf="!NShowPassword" (click)="NToogleShowHidePassword()"
              class="btn  d-flex align-items-center cursor-pointer Showbutton ">
              <i class="fa fa-eye fa-1x bd-0 " aria-hidden="true"></i></a>

          </div>


        </div>
        <div>
          <label class="text-danger" for="Password"
            *ngIf="Form_EditPassword.controls['NewPassword'].hasError('required') && Form_EditPassword.controls['NewPassword'].touched">
            Enter new Password
          </label>

          <label class="text-danger" for="Password"
            *ngIf="Form_EditPassword.controls['NewPassword'].hasError('pattern') ||Form_EditPassword.controls['NewPassword'].hasError('minlength') || Form_EditPassword.controls['NewPassword'].hasError('maxlength')">
            Password must be 8 characters long. it should contains number,
            uppercase , lowercase character and symbol
          </label>
        </div>
      </div>

      <div class="card-footer bd-0 ml-0 pl-0 ">
        <button type="submit" class="btn btn-primary" [disabled]="!Form_EditPassword.valid || _Form_Login_Processing">
          <span *ngIf="!_Form_Login_Processing">
            Update
          </span>
          <span *ngIf="_Form_Login_Processing">
            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
            {{ 'Common.PleaseWait' | translate }}...
          </span>
        </button>

      </div>

    </form>

    <form [formGroup]="Form_EditUserName" (ngSubmit)="Form_EditUserName_Process(Form_EditUserName.value)" role="form">
      <div class="card-header pl-0">

        <div class="tx-16"> Username </div>
        <div class="tx-14 text-secondary tx-normal"> Update Username.
        </div>
      </div>

      <div class="row mg-t-10">
        <div class="col-md-6">
          <label class="tx-13 ">Username</label>
          <div class="controls">
            <input type="text" placeholder="User Name" name="UserName" minlength="2" maxlength="128"
              class="form-control" [formControl]="Form_EditUserName.controls['UserName']"
              [(ngModel)]="_AdminDetails.UserName"
              [ngClass]="{'is-invalid':!Form_EditUserName.controls['UserName'].valid && Form_EditUserName.controls['UserName'].touched}">
          </div>

          <label class="text-danger" for="Password"
            *ngIf="Form_EditUserName.controls['UserName'].hasError('required') && Form_EditUserName.controls['UserName'].touched">
            Enter User Name
          </label>

          <label class="text-danger" for="Password"
            *ngIf="Form_EditUserName.controls['UserName'].hasError('pattern') ||Form_EditUserName.controls['UserName'].hasError('minlength') || Form_EditUserName.controls['UserName'].hasError('maxlength')">
            Enter valid User Name
          </label>
        </div>
      </div>


      <div class="card-footer bd-0 ml-0 pl-0 ">
        <button type="submit" class="btn btn-primary" [disabled]="!Form_EditUserName.valid || _Form_Login_Processing">
          <span *ngIf="!_Form_Login_Processing">
            Update
          </span>
          <span *ngIf="_Form_Login_Processing">
            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
            {{ 'Common.PleaseWait' | translate }}...
          </span>
        </button>

      </div>
    </form>


    <form [formGroup]="Form_EditPin" (ngSubmit)="Form_EditPin_Process(Form_EditPin.value)" role="form">
      <div class="card-header pl-0">
        <div class="tx-16"> Pin Update </div>
        <div class="tx-14 text-secondary tx-normal"> Pin Update.
        </div>
      </div>
      <div class="row mg-t-25">
        <div class="col-md-6">
          <label class="tx-13 ">Enter old pin</label>
          <div class="controls">
            <input type="text" placeholder="Old Pin" name="OldPin" minlength="4" maxlength="4" class="form-control"
              [formControl]="Form_EditPin.controls['OldPin']"
              [ngClass]="{'is-invalid':!Form_EditPin.controls['OldPin'].valid && Form_EditPin.controls['OldPin'].touched}">
          </div>

          <label class="text-danger" for="OldPin"
            *ngIf="Form_EditPin.controls['OldPin'].hasError('required') && Form_EditPin.controls['OldPin'].touched">
            Enter Old Pin
          </label>

          <label class="text-danger" for="OldPin"
            *ngIf="Form_EditPin.controls['OldPin'].hasError('pattern') ||Form_EditPin.controls['OldPin'].hasError('minlength') || Form_EditPin.controls['OldPin'].hasError('maxlength')">
            Enter valid old Pin
          </label>
        </div>
      </div>
      <div class="row mg-t-10">
        <div class="col-md-6">
          <label class="tx-13 ">Create New pin</label>
          <div class="controls">
            <input type="number" placeholder="New pin" name="NewPin" minlength="4" maxlength="4" class="form-control"
              [formControl]="Form_EditPin.controls['NewPin']"
              [ngClass]="{'is-invalid':!Form_EditPin.controls['NewPin'].valid && Form_EditPin.controls['NewPin'].touched}">
          </div>

          <label class="text-danger" for="NewPin"
            *ngIf="Form_EditPin.controls['NewPin'].hasError('required') && Form_EditPin.controls['NewPin'].touched">
            Enter new Pin
          </label>

          <label class="text-danger" for="NewPin"
            *ngIf="Form_EditPin.controls['NewPin'].hasError('pattern') ||Form_EditPin.controls['NewPin'].hasError('minlength') || Form_EditPin.controls['NewPin'].hasError('maxlength')">
            Enter valid new Pin
          </label>
        </div>
      </div>

      <div class="card-footer bd-0 ml-0 pl-0 ">
        <button type="submit" class="btn btn-primary" [disabled]="!Form_EditPin.valid || _Form_Login_Processing">
          <span *ngIf="!_Form_Login_Processing">
            Update
          </span>
          <span *ngIf="_Form_Login_Processing">
            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
            {{ 'Common.PleaseWait' | translate }}...
          </span>
        </button>

      </div>

    </form>





  </div>


</div>