<div class="card row" style="background-color: #F5F5FA !important;">
    <div class="card-header col-lg-12 col-sm-12 col-md-12 col-xs-12 bg-white pd-y-25">
        <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'"><img
                src="../../../assets/img/interswitch.png" class="w-xmd">
        </div>
        <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'"><img
                src="../../../assets/img/logoinverse.png" class="w-xmd">
        </div>
    </div>
    <div class="col-lg-12">
        <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
            <li role="presentation" class="active"><a aria-controls="discover" role="tab" data-toggle="tab"><i
                        class="fa fa-check" aria-hidden="true"></i>
                    <p>About Business</p>
                </a></li>
            <li role="presentation"><a aria-controls="strategy" role="tab" data-toggle="tab"><i
                        class="fa fa-check" aria-hidden="true"></i>
                    <p>Business Location</p>
                </a></li>
            <li role="presentation"><a aria-controls="optimization" role="tab" data-toggle="tab"><i
                        class="fa fa-check" aria-hidden="true"></i>
                    <p>Verify Number</p>
                </a></li>
         
            <li role="presentation"><a aria-controls="reporting" role="tab" data-toggle="tab"><i
                        class="fa fa-check" aria-hidden="true"></i>
                    <p>All Set</p>
                </a></li>
        </ul>
    </div>

 
<div class=" " style="display: block; 
position: relative;
overflow: hidden;">
    <!-- <div class="auroral-agrabah"></div>
    <div class="auroral-stars"></div> -->
    <div class="mx-auto w-xl w-auto-xs animate fadeIn pb-5" style="width: 70%;">
        <div class="card row" style="border-radius: 4px !important;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 b-a r-2x pb-3">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center mt-4 ">
                        <h4 class="_400">Let's add your Business Location</h4>
                        <div class="text-muted">
                            You can add and manage locations from account panel
                        </div>
                      
                    </div>
                    <div class="col-12">
                        <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)"
                            role="form">
                            <div class="m-4">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group"
                                            [ngClass]="{'has-error':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                                            <label class="text-muted text-sm">Enter business name</label>
                                            <input type="text" required name="Name" maxlength="256" class="form-control"
                                                [formControl]="Form_AddUser.controls['Name']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                                            <div>
                                                <label class="text-danger text-xs _600" for="Name"
                                                    *ngIf="Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">Enter
                                                    your business name</label>
                                                <label class="text-danger text-xs _600" for="DisplayName"
                                                    *ngIf="Form_AddUser.controls['Name'].hasError('minlength') || Form_AddUser.controls['Name'].hasError('maxlength')">Enter
                                                    your valid business name</label>
                                            </div>
                                        </div>
                                       
                                        
                                        
                                        <div class="form-group">
                                            <label class="text-muted text-sm">Website link of your business</label>
                                            <input type="text" name="WebsiteUrl" maxlength="1024" class="form-control"
                                                placeholder="(optional)"
                                                [formControl]="Form_AddUser.controls['WebsiteUrl']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['WebsiteUrl'].valid && Form_AddUser.controls['WebsiteUrl'].touched}">
                                            <div>
                                                <label class="text-danger" for="WebsiteUrl"
                                                    *ngIf="Form_AddUser.controls['WebsiteUrl'].hasError('required') && Form_AddUser.controls['WebsiteUrl'].touched">{{ 'System.AddMerchant.WebsiteUrl_ER_Required' | translate }}</label>
                                                <label class="text-danger" for="WebsiteUrl"
                                                    *ngIf="Form_AddUser.controls['WebsiteUrl'].hasError('pattern') && Form_AddUser.controls['WebsiteUrl'].touched">{{ 'System.AddMerchant.WebsiteUrl_ER_Invalid' | translate }}</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="text-sm text-muted">Business categories
                                            </label>
                                            <div class="controls">
                                                <select class="form-control"
                                                    (change)="SaveMerchantBusinessCategory($event.target.value)">
                                                    <option [value]="0">Select</option>
                                                    <option *ngFor="let TItem of BusinessCategories"
                                                        [value]="TItem.ReferenceKey">
                                                        {{TItem.Name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                       
            
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div> <label class="text-muted text-sm"> Your business type is
                                                </label>
                                            </div>
                                            <div class="radio float-left mr-3">
                                                <label class="ui-check"><input type="radio"
                                                        name="accountoperationtypecode"
                                                        [value]="_HelperService.AppConfig.AccountOperationType.Offline"
                                                        [formControl]="Form_AddUser.controls['AccountOperationTypeCode']">
                                                    <i class="dark-white"></i>
                                                    Offline (store)</label>
                                            </div>
                                            <div class="radio  float-left  mr-3"><label class="ui-check"><input
                                                        type="radio" name="accountoperationtypecode"
                                                        [value]="_HelperService.AppConfig.AccountOperationType.Online"
                                                        [formControl]="Form_AddUser.controls['AccountOperationTypeCode']">
                                                    <i class="dark-white"></i>
                                                    Online (Website , Portal) </label></div>

                                            <div class="radio    mr-3"><label class="ui-check"><input type="radio"
                                                        name="accountoperationtypecode"
                                                        [value]="_HelperService.AppConfig.AccountOperationType.OnlineAndOffline"
                                                        [formControl]="Form_AddUser.controls['AccountOperationTypeCode']">
                                                    <i class="dark-white"></i>
                                                    Both</label></div>
                                        </div>


                                        <div class="form-group map-searchbox">
                                            <!-- <label class="text-muted text-sm">Locate business address</label> -->
                                            <input type="text" name="GAddress" maxlength="256" class="form-control"
                                                ngx-google-places-autocomplete #places="ngx-places"
                                                (onAddressChange)="Form_AddUser_AddressChange($event)">
                                        </div>
                                        <div class="mg-b-20">
                                            <label class="text-sm text-muted">Enter address of your
                                                business</label>
                                            <agm-map style="height:220px;" [zoom]="12"
                                                [latitude]="Form_AddUser_Latitude" [longitude]="Form_AddUser_Longitude"
                                                (mapClick)="Form_AddUser_PlaceMarkerClick($event)">
                                                <agm-marker [latitude]="Form_AddUser_Latitude"
                                                    [longitude]="Form_AddUser_Longitude">
                                                </agm-marker>
                                            </agm-map>
                                        </div>
                                        <div class="form-group"
                                            [ngClass]="{'has-error':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}">
                                            <label class="text-muted text-xs">Street / Shop no / Landmark</label>
                                            <input type="text" required name="Address" maxlength="256"
                                                class="form-control" [formControl]="Form_AddUser.controls['Address']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}">
                                            <!-- <textarea required name="Address" maxlength="256" class="form-control"
                                                                                        [formControl]="Form_AddUser.controls['Address']" rows="2"
                                                                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}"></textarea> -->
                                            <div>
                                                <label class="text-danger text-xs _600" for="Address"
                                                    *ngIf="Form_AddUser.controls['Address'].hasError('required') && Form_AddUser.controls['Address'].touched">Enter
                                                    Street / Shop no / Landmark</label>
                                                <label class="text-danger text-xs _600" for="Address"
                                                    *ngIf="Form_AddUser.controls['Address'].hasError('minlength') || Form_AddUser.controls['Address'].hasError('maxlength')">Enter
                                                    valid Street / Shop no / Landmark</label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary full-width"
                                                [disabled]="!Form_AddUser.valid || Form_AddUser_Processing">
                                                <span *ngIf="!Form_AddUser_Processing">
                                                    Add Details
                                                </span>
                                                <span *ngIf="Form_AddUser_Processing">
                                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                    {{ 'Common.PleaseWait' | translate }}...
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</div>