<aside class="aside aside-fixed">
    <div class="aside-header">
        <div *ngIf="(_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com' && _HelperService.AppConfig.Host != 'sterling.thankucash.com')">

            <a *ngIf=" _HelperService.CheckMode == 'light'" routerLink="{{
      _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant
    }}" [routerLinkActive]="['active']" class="aside-logo nav-link pd-l-10"><img src="../../assets/img/thankucashimg.svg" height="20px" width="128px" alt="." /></a>

            <a *ngIf="_HelperService.CheckMode =='dark'" routerLink="{{
          _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant
        }}" [routerLinkActive]="['active']" class="aside-logo nav-link pd-l-10"><img src="../../assets/img/thankucash_white.svg" height="20px" width="128px" alt="." /></a>
        </div>

        <a href="" class="aside-menu-link cursor-pointer">
            <i data-feather="menu"></i>
            <i data-feather="x"></i>
        </a>
    </div>

    <div class="aside-body">
        <div class="aside-loggedin mg-b-10">
            <div class="d-flex align-items-center justify-content-start">

                <!-- <a class="avatar"><img (error)="_HelperService.defaultImage($event)" src="{{imagecontent}}"
            class="rounded-circle" alt=""></a> -->
                <a class="avatar"><img (error)="_HelperService.defaultImage($event)" src="{{ _HelperService.profileImage ? _HelperService.profileImage : imagecontent}}" class="rounded-circle" alt=""></a>

                <div class="aside-alert-link">
                    <a class="" data-toggle="tooltip" title="You have 0  unread messages"><i
              data-feather="message-square"></i></a>
                    <a class="" data-toggle="tooltip" title="You have 0 new notifications"><i data-feather="bell"></i></a>
                    <a class="cursor-pointer" (click)="ProcessLogout()" data-toggle="tooltip" title="Sign out"><i
              data-feather="log-out"></i></a>
                </div>
            </div>
            <div class="aside-loggedin-user">
                <a href="#loggedinMenu" class="d-flex align-items-center justify-content-between mg-b-2" data-toggle="collapse">
                    <h6 class="tx-semibold mg-b-0">{{ _HelperService.UserAccount.DisplayName }}
                    </h6>
                    <i data-feather="chevron-down"></i>
                </a>
                <p class="tx-color-03 tx-12 mg-b-0">Administrator</p>
            </div>

            <div class="collapse" id="loggedinMenu">
                <ul class="nav nav-aside mg-b-0">
                    <!-- <li class="nav-item pnvalid" data-permission="viewprofile" [routerLinkActive]="['active']">
            <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.UserProfileDetail.EditProfile}}"
              [routerLinkActive]="['active']" class="nav-link"><i data-feather="user"></i> <span>Your Profile</span></a>
          </li> -->

                    <li class="nav-item " [routerLinkActive]="['active']">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.UserProfileDetail.EditProfile}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="user"></i> <span>Your Profile</span></a>
                    </li>


                    <li class="nav-item cursor-pointer"><a (click)="ProcessLogout()" class="nav-link"><i
                data-feather="log-out"></i> <span>Sign
                Out</span></a>
                    </li>
                </ul>
            </div>

        </div>

        <ul class="nav nav-aside mg-b-0">
            <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{
    _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant
    }}" [routerLinkActive]="['active']" class="nav-link" (click)="_HelperService.CloseAllModal()"><i
            data-feather="home"></i>
          <span>{{"System.Menu.Dashboard" | translate}}</span></a></li>
        </ul>
        <ul class="nav nav-aside mg-b-50">

            <span class="pnvalid" data-permission="accounts">
        <li class="nav-label mg-t-20">Accounts</li>
      </span>

            <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="viewaccountsubscriptions"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.MerchantPlans}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="credit-card"></i>
          <span>Subscriptions</span></a></li>

            <li class="nav-item pnvalid" [ngClass]="{'active': isAllMerchants}" (click)="clicked('allMerchants')" data-permission="accountmerchants"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.Merchants}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="shopping-cart"></i>
          <span>All Merchants</span></a></li>

            <li class="nav-item with-sub pnvalid" [routerLinkActive]="['active']" data-permission="cashoutsmanager">
                <a href="" class="nav-link  "><i data-feather="clipboard"></i> <span>Cashouts</span>
          <span *ngIf="_HelperService.pendingReqCount > 0"
            class="bg-primary border border-light mt-n1 mx-1 text-light rounded-circle notification-badge">
            {{_HelperService.pendingReqCount}} </span></a>
                <ul>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="viewcustomercashouts">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Cashouts.SaleHistory}}" [routerLinkActive]="['active']">
                            <span>Customer Cashouts</span></a>
                    </li>

                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="viewmerchantcashouts">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Cashouts.MerchantCashout}}" [routerLinkActive]="['active']">
                            <span>Merchant Cashouts</span></a>
                    </li>
                </ul>
            </li>

            <li class="nav-item with-sub pnvalid " [routerLinkActive]="['active']" data-permission="walletpaymentsmanager">
                <a href="" class="nav-link  "><i data-feather="folder"></i> <span>Wallet Payments</span></a>
                <ul>
                    <li class="pnvalid" data-permission="viewcustomerwalletpayments" [routerLinkActive]="['active']">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.CustomerWallets}}" [routerLinkActive]="['active']">
                            <span>Customer Wallets</span></a>
                    </li>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="viewmerchantwalletpayments">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.MerchantWallets}}" [routerLinkActive]="['active']">
                            <span>Merchant Wallets</span></a>
                    </li>
                </ul>
            </li>


            <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="viewinvoices">
                <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.Invoices}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="file-text"></i>
          <span>Invoices</span></a>
            </li>


            <li class="nav-item with-sub pnvalid" [routerLinkActive]="['active']" data-permission="vasmanager">
                <a href="" class="nav-link  "><i data-feather="clipboard"></i> <span>VAS Services</span></a>
                <ul>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="viewvasanalytics">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Payments.VasAnalytics}}" [routerLinkActive]="['active']">
                            <span>Analytics</span></a>
                    </li>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="viewvaspayments">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.Payments}}" [routerLinkActive]="['active']">
                            <span>Transactions</span></a>
                    </li>

                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="viewvassettings">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Payments.Airtime}}" [routerLinkActive]="['active']">
                            <span>All Services & Settings</span></a>
                    </li>

                </ul>
            </li>

            <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="viewsupercashrequests"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.UniversalPoints}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="credit-card"></i>
          <span>TUC SuperCash</span></a></li>

            <li class="nav-item" [routerLinkActive]="['active']" data-permission="viewrefundrequests">
                <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.Refunds}}" [routerLinkActive]="['active']" class="nav-link">
                    <i data-feather="rotate-cw"></i>
                    <span>Refunds</span>
                </a>
            </li>
            <!-- data-permission="viewrefbonusrequests" -->
            <li class="nav-item" [routerLinkActive]="['active']" >
                <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.Referralb}}" [routerLinkActive]="['active']" class="nav-link">
                    <i data-feather="rotate-cw"></i>
                    <span>Referral Bonus</span>
                </a>
            </li>

            <li data-permission="viewdownloads" class="nav-item pnvalid" [routerLinkActive]="['active']"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.DownloadList}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="download"></i>
          <span>Downloads</span></a></li>

            <li class="nav-label mg-t-20 pnvalid " data-permission="dealsmanager">Deals </li>

            <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="dealoverviewview">
                <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.DealsOverview}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="grid"></i>
          <span>Overview</span></a>
            </li>
            <li class="nav-item with-sub pnvalid" data-permission="promotions" [routerLinkActive]="['active']">
                <a href="" class="nav-link  "><i data-feather="tag"></i> <span>Promotions</span></a>
                <ul>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="dealsexternalurlview">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.ExternalUrl}}" [routerLinkActive]="['active']">
                            <span>Deal Promotions</span></a>
                    </li>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="apppromotionview">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.AppPromotion}}" [routerLinkActive]="['active']">
                            <span> App Promotions</span></a>
                    </li>
                </ul>
            </li>

            <li class="nav-item with-sub pnvalid" data-permission="dealsview" [routerLinkActive]="['active']">
                <a href="" class="nav-link  "><i data-feather="tag"></i> <span>Deals</span></a>
                <ul>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="dealsview">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.Deals}}" [routerLinkActive]="['active']">
                            <span>All Deals</span></a>
                    </li>

                    <li [routerLinkActive]="['active']">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.FlashDeals}}" [routerLinkActive]="['active']">
                            <span>Flash Deals</span></a>
                    </li>
                    <!-- <li class="pnvalid" [routerLinkActive]="['active']" data-permission="dealoverviewview">
                <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.DealsOverview}}"
                  [routerLinkActive]="['active']">
                  <span>Overview</span></a>
              </li> -->
                    <li [routerLinkActive]="['active']">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.DealCategories}}" [routerLinkActive]="['active']">
                            <span> Deal Category</span></a>
                    </li>
                </ul>
            </li>

            <li class="nav-item with-sub pnvalid" data-permission="delivery" [routerLinkActive]="['active']">
                <a href="" class="nav-link  "><i data-feather="tag"></i> <span>Delivery</span></a>
                <ul>
                    <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="delivery">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.DeliveryOverview}}" [routerLinkActive]="['active']" >
                            <span>Overview</span>
                        </a>
                    </li>
                    <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="allpickups">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.AllPickups.PendingPickup}}" [routerLinkActive]="['active']">
                            <!-- <i data-feather="truck"></i> -->
                            <span>All Pickups</span>
                        </a>
                    </li>

                    <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="ongoingorders">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.OngoingOrders.NewOrders}}" [routerLinkActive]="['active']">
                            <!-- <i data-feather="grid"></i> -->
                            <span>Ongoing Orders</span>
                        </a>
                    </li>
                    <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="orderhistory">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.OrderHistory}}" [routerLinkActive]="['active']">
                            <!--class="nav-link"><i data-feather="smartphone"></i></a>  -->
                            <span>Order History</span>
                        </a>
                    </li>

                    <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="redeemedorders">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.RedeemedOrders}}" [routerLinkActive]="['active']">
                            <!-- <i data-feather="check-square"></i> -->
                            <span>Redeemed Orders</span>
                        </a>
                    </li>

                    <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="cancelledorders">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.CancelledOrders}}" [routerLinkActive]="['active']">
                            <!-- <i data-feather="x-square"></i> -->
                            <span>Cancelled Orders</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li [routerLinkActive]="['active']" class="pnvalid" data-permission="dealsmerchant">
                <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.DealsMerchant}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="users"></i>
          <span> Merchants</span>
        </a>
            </li>

            <li [routerLinkActive]="['active']" class="pnvalid" data-permission="dealscustomer">
                <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.DealsCustomer}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="users"></i>
          <span> Customers</span>
        </a>
            </li>


            <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="dealssoldhistoryview">
                <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.SoldHistory}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="tag"></i>
          <span>Sold History</span></a>
            </li>

            <li [routerLinkActive]="['active']">
                <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.RedeemHistory}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="tag"></i>
          <span>Redeem History</span></a>
            </li>

            <li class="nav-label mg-t-20 pnvalid" data-permission="loyaltymanager">Loyalty </li>

            <li class="nav-item with-sub pnvalid" [routerLinkActive]="['active']" data-permission="sales">
                <a href="" class="nav-link  "><i data-feather="menu"></i> <span>Sales</span></a>
                <ul>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="salestransactionsview">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.SalesHistory}}" [routerLinkActive]="['active']">
                            <span>Sales Transactions</span></a>
                    </li>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="susptransactionsview">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PendingSalesHistory}}" [routerLinkActive]="['active']">
                            <span>Suspicious Transactions</span></a>
                    </li>
                </ul>
            </li>

            <li class="nav-item with-sub pnvalid" [routerLinkActive]="['active']" data-permission="rewards">
                <a href="" class="nav-link  "><i data-feather="menu"></i> <span>Rewards</span></a>
                <ul>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="rewards">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.RewardHistory}}" [routerLinkActive]="['active']">
                            <span>Rewards</span></a>
                    </li>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="redeemtransactionsview">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.RedeemHistory}}" [routerLinkActive]="['active']">
                            <span>Redeem</span></a>
                    </li>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="pendingrewardtransactionsview">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.PendingRewardHistory}}" [routerLinkActive]="['active']">
                            <span>Pending Rewards</span></a>
                    </li>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="rewardclaimtransactionsview">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.ClaimHistory}}" [routerLinkActive]="['active']">
                            <span>Reward claims</span></a>
                    </li>
                </ul>
            </li>

            <li class="nav-item with-sub" [routerLinkActive]="['active']" data-permission="giftcards">
                <a href="" class="nav-link  "><i data-feather="gift"></i> <span>Gift Card</span></a>
                <ul>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="giftcardshome">
                        <a routerLink="{{
              _HelperService.AppConfig.Pages.ThankUCash.PanelGiftCard.Overview
          }}" [routerLinkActive]="['active']">
                            <span>Overview</span></a>
                    </li>

                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="giftcardstransaction">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelGiftCard.Transactions.Transactions}}" [routerLinkActive]="['active']">
                            <span>Transactions</span></a>
                    </li>
                </ul>
            </li>

            <li class="nav-item with-sub pnvalid" [routerLinkActive]="['active']" data-permission="marketingtools">
                <a href="" class="nav-link  "><i data-feather="message-square"></i> <span>Marketing Tools</span></a>
                <ul>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="smsoverview">
                        <a routerLink="{{
              _HelperService.AppConfig.Pages.ThankUCash.PanelSMS.SmsOverview
          }}" [routerLinkActive]="['active']">
                            <span>Overview</span></a>
                    </li>

                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="campaignsview">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelSMS.AllSmsCampaign}}" [routerLinkActive]="['active']">
                            <span>All Campaigns</span></a>
                    </li>

                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="smsmerchant">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelSMS.Merchant}}" [routerLinkActive]="['active']">
                            <span>Merchants</span></a>
                    </li>

                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="smscredithistory">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelSMS.CreditH}}" [routerLinkActive]="['active']">
                            <span>Credit History</span></a>
                    </li>

                </ul>
            </li>

            <li class="nav-item with-sub pnvalid" [ngClass]="{'active': isMerchantManagementRoute}" data-permission="merchantmanagerloyalty">
                <a href="" class="nav-link  "><i data-feather="message-square"></i> <span>Merchant management</span></a>
                <ul>
                    <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="terminalsview"> <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.Terminals}}" [routerLinkActive]="['active']"><i data-feather="smartphone"></i>
              <span>POS Terminals</span></a></li>

                    <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="storesview"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.Stores}}" [routerLinkActive]="['active']"><i data-feather="map-pin"></i>
              <span>Stores</span></a></li>

                    <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="viewcashiers"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.Cashiers}}" [routerLinkActive]="['active']"><i data-feather="user"></i>
              <span>Cashiers</span></a></li>

                    <li class="nav-item pnvalid" [ngClass]="{'active': isLoyaltyMerchants}" (click)="clicked('loyaltyMerchants')" data-permission="loyaltymerchant"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.Merchants}}" [routerLinkActive]="['active']"><i data-feather="users"></i>
              <span>Merchants</span></a></li>
                </ul>
            </li>


            <li class="nav-item with-sub pnvalid" [routerLinkActive]="['active']" data-permission="analytics">
                <a href="" class="nav-link  "><i data-feather="credit-card"></i> <span>Analytics</span></a>
                <ul>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="analyticsoverview">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Analytics.Overview}}" [routerLinkActive]="['active']">
                            <span>Overview</span></a>
                    </li>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="viewgrowthanalytics">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Analytics.GrowthRevenue}}" [routerLinkActive]="['active']">
                            <span>Growth and Revenue</span>
                        </a>
                    </li>
                    <li class="pnvalid" [routerLinkActive]="['active']" data-permission="viewmerchantanalytics">
                        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Analytics.MerchantAnalytics}}" [routerLinkActive]="['active']">
                            <span>Merchant Analytics</span></a>
                    </li>
                    <li>

                        <li class="pnvalid" [routerLinkActive]="['active']" data-permission="viewcustomeranalytics">
                            <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Analytics.CustomerAnalytics}}" [routerLinkActive]="['active']">
                                <span>Customer Analytics</span></a>
                        </li>
                </ul>
                </li>

                <li class="nav-label mg-t-20 pnvalid" data-permission="usermanagement">User Management </li>

                <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="viewcustomers"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.CustomerPanel.AllCustomers}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="users"></i>
          <span>Customers</span></a></li>

                <li class="nav-item pnvalid" [ngClass]="{'active': isViewMerchants}" (click)="clicked('viewMerchant')" data-permission="viewmerchants"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.Merchants}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="users"></i>
          <span>Merchants</span></a></li>

                <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="viewacquirers">
                    <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.Acquirer}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="grid"></i>
          <span>Banks</span></a>
                </li>
                <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="viewptsps">
                    <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.PTSP}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="smartphone"></i>
          <span>PTSP</span></a>
                </li>
                <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="viewpssps">
                    <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.PSSP}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="credit-card"></i>
          <span>PSSP</span></a>
                </li>
                <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="viewpartners">
                    <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AccountSettings.Partner}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="shield"></i>
          <span>Partner</span></a>
                </li>

                <li class="nav-label mg-t-20 pnvalid" data-permission="platform">Platform </li>

                <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="systemadministration"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AdministrationHome}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="cpu"></i>
          <span>System Administration</span></a></li>
                <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="generalsettings"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.GeneralHome}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="settings"></i>
          <span>Platform Settings</span></a></li>

                <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="teamsroles"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AdminUsers}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="user"></i>
          <span>Team & Roles</span></a></li>



                <!-- <li class="nav-label mg-t-20 pnvalid" data-permission="others">Others </li> -->

                <!--
      <li class="nav-item with-sub" [routerLinkActive]="['active']">
        <a href="" class="nav-link  "><i data-feather="message-square"></i> <span>Ambassador</span></a>
        <ul>
          <li class="" [routerLinkActive]="['active']">
            <a routerLink="{{
            _HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Product.AddAmbassador
          }}" [routerLinkActive]="['active']">
              <span>Add New Ambassador</span>
            </a>
          </li>

          <li class="" [routerLinkActive]="['active']">
            <a routerLink="{{this._HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Product.Ambassadors}}"
              [routerLinkActive]="['active']">
              <span>All Ambassadors</span>
            </a>
          </li>


        </ul>
      </li> -->

                <li class="nav-label mg-t-20 pnvalid" data-permission="bnpl">Buy now, Pay later</li>

                <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="overview">
                    <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.BNPL.Overview}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="codesandbox"></i>
          <span>Overview</span></a>
                </li>

                <li class="nav-item with-sub pnvalid" [routerLinkActive]="['active']" data-permission="allloansrepayment">
                    <a href="" class="nav-link  "><i data-feather="credit-card"></i> <span>All Loans & Repayments</span></a>
                    <ul>

                        <li class="pnvalid" [routerLinkActive]="['active']" data-permission="loanrequest">
                            <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loans.LoanRequests}}" [routerLinkActive]="['active']">
                                <span>Loan Requests</span></a>
                        </li>

                        <li class="pnvalid" [routerLinkActive]="['active']" data-permission="allloans">
                            <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loans.LoanActive}}" [routerLinkActive]="['active']">
                                <span>All Loans</span></a>
                        </li>
                        <li class="pnvalid" [routerLinkActive]="['active']" data-permission="repayments">
                            <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loans.OverdueLoans}}" [routerLinkActive]="['active']">
                                <span>Repayments</span></a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="eligiblecustomers">
                    <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.BNPL.EligibleCustomers}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="users"></i>
          <span>Eligible Customers</span></a>
                </li>

                <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="merchantsettlement">
                    <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.BNPL.Transaction}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="refresh-cw"></i>
          <span>Merchant Settlements</span></a>
                </li>

                <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="bnplmerchant">
                    <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.BNPL.Merchants}}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="users"></i>
          <span>Merchants</span></a>
                </li>

        </ul>
    </div>

    <span class="aside-header d-flex justify-content-center bd-t w-100 text-center" style="position: fixed; bottom:0%; margin-top: -2.5em ;">
    <div class="mg-r-20 pd-b-10">


      <a class="aside-logo tx-10 tx-spacing-3 p-0 m-0" target="_blank" href="http://connectedanalytics.xyz/"> <span
          class="tx-10 tx-color-03 text-uppercase" style="font-size: 10px !important;"> Powered by </span> <br> <span class="tx-18 pd-b-20"> <img src="../../assets/images/connected-analytics.svg" height="25" width="135" alt="">
        </span>
    </a>

    </div>
    </span>

</aside>

<div class="content ht-100v pd-0">
    <div class="content-header justify-content-start">
        <a class="cursor-pointer" (click)="_HelperService.NavigateBack()">
            <i data-feather="arrow-left-circle"></i>
        </a>
        <span class="text-uppercase ml-3">
      {{ _HelperService.AppConfig.ActivePageName }}</span>
    </div>
    <div [className]="_HelperService.FullContainer ? '' : 'content-body skin'">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="df-settings">
    <a id="dfSettingsShow" href="" class="df-settings-link"><i data-feather="settings"></i></a>
    <div class="df-settings-body">
        <div class="pd-y-20">
            <h3 class="tx-bold tx-spacing--2 tx-brand-02 mg-b-0"><img src="../../assets/img/thankucash.svg" alt=""></h3>
            <span class="tx-sans tx-9 tx-uppercase tx-semibold tx-spacing-1 tx-color-03"> Skin Customizer</span>
            <div class="tx-sans tx-9 tx-uppercase tx-semibold tx-spacing-1 tx-color-03"> 0.0.7.0</div>
        </div>
        <div class="pd-y-20 bd-t">
            <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Skin Mode</label>
            <div class="row row-xs">
                <div class="col-4">
                    <a href="" class="df-mode df-mode-default active" data-title="classic"></a>
                    <span class="df-skin-name">Classic</span>
                </div>
                <div class="col-4">
                    <a href="" class="df-mode df-mode-light" data-title="light">
                        <span class="bg-ui-01"></span>
                        <span class="bg-ui-02"></span>
                    </a>
                    <span class="df-skin-name">Light</span>
                </div>
                <div class="col-4">
                    <a href="" class="df-mode df-mode-cold" data-title="cool">
                        <span class="bg-primary op-1"></span>
                        <span class="bg-primary op-2"></span>
                    </a>
                    <span class="df-skin-name">Cool</span>
                </div>
                <div class="col-4 mg-t-15">
                    <a href="" class="df-mode df-mode-dark" data-title="dark">
                        <span class="bg-gray-700"></span>
                        <span class="bg-gray-900"></span>
                    </a>
                    <span class="df-skin-name tx-nowrap">Dark</span>
                </div>
            </div>
            <!-- row -->
        </div>

        <div class="pd-y-20 bd-t">
            <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Navigation Skin</label>
            <div class="row row-xs">
                <div class="col-4">
                    <a href="" class="df-skin df-skin-default active" data-title="default"></a>
                    <span class="df-skin-name">Default</span>
                </div>
                <div class="col-4">
                    <a href="" class="df-skin df-skin-deepblue" data-title="deepblue">
                        <span></span>
                        <span></span>
                    </a>
                    <span class="df-skin-name">Deep Blue</span>
                </div>
                <div class="col-4">
                    <a href="" class="df-skin df-skin-charcoal" data-title="charcoal">
                        <span></span>
                        <span></span>
                    </a>
                    <span class="df-skin-name">Charcoal</span>
                </div>
                <div class="col-4 mg-t-15">
                    <a href="" class="df-skin df-skin-gradient1" data-title="gradient1">
                        <span></span>
                        <span></span>
                    </a>
                    <span class="df-skin-name">Gradient 1</span>
                </div>
            </div>
            <!-- row -->
        </div>

        <div class="pd-y-20 bd-t">
            <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Font Family Base</label>
            <div class="row row-xs">
                <div class="col-7">
                    <a href="" id="setFontBase" class="btn btn-xs btn-outline-secondary ">IBM Plex Sans</a>
                </div>
                <!-- col -->
                <div class="col-5">
                    <a href="" id="setFontRoboto" class="btn btn-xs btn-outline-secondary">Roboto</a>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </div>
    <!-- df-settings-body -->
</div>
<!-- df-settings -->
