<!-- acquirer--merchants--list -->

<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
    <li class="breadcrumb-item active cursor-pointer" [routerLinkActive]="['active']"><a class="text-primary" (click)="_HelperService.NavigateBack()">
      Administration</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Request History</a></li>
</ol>

<div class="card ">
    <div class="card-header">
        <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between">
                <span class="tx-semibold mg-t-10">Request History<span class="text-muted tx-normal">
            ({{RequestHistory_Config.TotalRecords}})</span>
                <div class="tx-12 tx-normal text-secondary"> Server incoming request received from pos terminals and other sources
                </div>

                </span>
            </div>
        </div>
    </div>


    <!-- <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> {{RequestHistory_Config.Title}} </div>
  </div> -->
    <div class="box-header px-3 pd-t-15 pd-b-7  d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="RequestHistory_Config.SearchParameter" maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}" (keyup)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
                </div>
            </div>


        </div>
        <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2" [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]" (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

        </div>

        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="RequestHistory_sdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">


                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="RequestHistory_Config.Sort.SortOrder == 'desc' && RequestHistory_Config.Sort.SortDefaultColumn == 'RequestTime'" (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>


                            <div class="float-right tx-20" *ngIf="RequestHistory_Config.Sort.SortOrder == 'asc'" (click)="RequestHistory_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>
                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of RequestHistory_Config.Sort.SortOptions" (click)="RequestHistory_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="RequestHistory_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                    daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                                    (selected)="RequestHistory_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                    [data]="RequestHistory_Config.StatusOptions"
                                    (valueChanged)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2>
                                <!--  
               
                -->
                            </div>
                        </div>

                        <button type="button" class="btn btn-light btn-sm mr-2"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm "
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
                (click)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                    data-feather="refresh-cw"></i> </a>
        </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-8">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
            {{_HelperService.FilterSnap.StatusName}}
            <span (click)="RemoveFilterComponent('Status')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='RequestTime' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span (click)="RemoveFilterComponent('Sort1')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>

        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.StartTime">
            {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
            _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')"
                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].DisplayName}}
            <span (click)="RemoveFilterComponent('Other',i)" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary" *ngFor="let TItem of RequestHistory_Config.Filters">{{TItem.Title}}</span>

    </div>

    <div class="card-body p-0 table-responsive">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <!-- <th class="text-center" *ngIf="ColumnConfig[0].Value">
          </th> -->
                    <th class="text-center">
                    </th>
                    <!-- <th class="tx-normal">
            Serial No.
          </th> -->
                    <!-- <th class="">
                        API
                    </th>
                    <th class="text-center">
                        App
                    </th>
                    <th class="text-center">
                        Version
                    </th>
                    <th class="text-center">
                        User
                    </th> -->
                    <th class="">
                        Ip Address
                    </th>
                    <th class="">
                        Request Time
                    </th>
                    <th class="">
                        Response Time
                    </th>
                    <th class="">
                        Response In
                    </th>
                    <th class="">
                        Response Status
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" (click)="RequestHistory_RowSelected(TItem)"
                    *ngFor="let TItem of RequestHistory_Config.Data  | paginate: { id: 'RequestHistory_Paginator',itemsPerPage: RequestHistory_Config.PageRecordLimit, currentPage: RequestHistory_Config.ActivePage,  totalItems: RequestHistory_Config.TotalRecords }">
                    <td class="text-center">
                        <span class="d-block wd-15 ht-15 rounded-circle ml-auto"
                            [style.background-color]="TItem.StatusC"></span>

                    </td>
                    <!-- <td>
            <div class="tx-14 tx-semibold ">{{TItem.SessionId  || "--"}}</div>

          </td> -->
                    <!-- <td class="">
                        <div class="tx-14">{{TItem.ApiName || "--"}}
                        </div>
                        <div class="tx-12">{{TItem.AppOwnerName || "--"}}
                        </div>

                    </td>
                    <td class="text-center">
                        {{TItem.AppName || "--"}}
                    </td>
                    <td class="">
                        {{TItem.AppVersionName || "--" }}
                    </td>
                    <td class="">
                        {{TItem.UserAccountDisplayName || "--"}}
                    </td> -->
                    <td class="">
                        <span class=" full-width text-lowercase">{{TItem.IpAddress || "--"}}</span>
                    </td>
                    <td class="">
                        <span class=" full-width text-lowercase">{{TItem.RequestTime || "--"}}</span>
                        <!-- <div>
                            <span class=" full-width text-lowercase">{{TItem.RequestTimeT  || "--"}}</span>
                        </div> -->
                    </td>

                    <td class="">
                        <span class=" full-width text-lowercase">{{TItem.ResponseTime || "--"}}</span>
                        <!-- <div>
                            <span class=" full-width text-lowercase">{{TItem.ResponseTimeT  || "--"}}</span>
                        </div> -->
                    </td>

                    <td class="">
                        <span class=" full-width">{{TItem.ProcessingTime || "--"}}</span>
                    </td>
                    <td class="">
                        <span *ngIf="TItem.StatusId === 2" class=" full-width"><span [class]="TItem.StatusBadge">
                                Success </span></span>
                        <span *ngIf="TItem.StatusId === 3" class=" full-width"><span [class]="TItem.StatusBadge">
                                Blocked </span></span>
                        <span *ngIf="TItem.StatusId === 1" class=" full-width"><span [class]="TItem.StatusBadge">
                                Inactive </span></span>
                        <span *ngIf="TItem.StatusId === 4" class=" full-width"><span [class]="TItem.StatusBadge">
                                Suspended </span></span>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{RequestHistory_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{RequestHistory_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{RequestHistory_Config.TotalRecords}}
        </span>
        <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="RequestHistory_Config.PageRecordLimit"
        (ngModelChange)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
        <span class="float-right">
            <pagination-controls id="RequestHistory_Paginator" class="pagination pagination-space"
                (pageChange)="RequestHistory_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Column</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" *ngFor="let Col of TempColumnConfig">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
                        <label class="form-check-label" for="">
                            {{Col.Name}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas
    style="width: 480px !important; overflow-y:auto !important ;">
    <div class="off-canvas-content">
        <div class="card">
            <div class="card-header">
                <h3 class="pb-0 mb-0 tx-20">#{{_CoreUsage.ReferenceId || "--" }} - {{_CoreUsage.AppName || "--" }} -
                    {{_CoreUsage.AppVersionName || "--"}} </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-secondary">App Owner</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7">{{_CoreUsage.AppOwnerName || "--" }}</div>

                </div>
                <div class="row mg-t-15">
                    <div class="col-md-4 text-secondary">Status</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7">{{_CoreUsage.StatusId || "--" }}</div>

                </div>
                <div class="row mg-t-15">
                    <div class="col-md-4 text-secondary">User</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7">{{_CoreUsage.UserAccountDisplayName || "--" }}</div>

                </div>
                <div class="row mg-t-15">
                    <div class="col-md-4 text-secondary">Co-ordinates</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7">{{_CoreUsage.Coordinates || "0,0" }}</div>

                </div>
                <div class="row mg-t-15">
                    <div class="col-md-4 text-secondary">IP address</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7">{{_CoreUsage.IpAddress || "--" }}</div>

                </div>
                <div class="row mg-t-15">
                    <div class="col-md-4 text-secondary">Processing Time</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7">{{_CoreUsage.ProcessingTime || "--" }}</div>

                </div>
                <div class="row mg-t-15">
                    <div class="col-md-4 text-secondary">Request Time</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-7 text-lowercase">{{_CoreUsage.RequestTime || "--" }}</div>

                </div>
                <div class="row mg-t-15">
                    <div class="col-md-4 text-secondary">Response Time</div>
                    <div class="col-md-1">:</div>
                    <!-- <div class="col-md-7">{{_CoreUsage.ResponseTime || "--" }}</div> -->
                    <div class="col-md-7 text-lowercase">{{_CoreUsage.ResponseTime || "--" }}</div>

                </div>

                <div class=" pd-t-25">
                    <div class="tx-14 text-secondary"> Request </div>
                    <div class="bd text-secondary pd-5">
                        {{_CoreUsage.Request || "--" }}
                    </div>

                    <div class="tx-14 text-secondary pd-t-25"> Response </div>
                    <div class="bd  text-secondary pd-5">
                        {{_CoreUsage.Response || "--" }}
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>

            </div>
        </div>


    </div>
</div>