<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active cursor-pointer" [routerLinkActive]="['active']"><a class="text-primary"
            (click)="_HelperService.NavigateBack()">
            Administration</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
            Logo Management</a></li>
</ol>
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="d-sm-flex justify-content-between">
            <span class="tx-semibold mg-t-10">LOGO</span>
        </div>
        <div>
            <button class="btn btn-primary" (click)="Form_AddLogo_Show()">Add Logo</button>
        </div>
    </div>

    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Added On</th>
                    <th>Added By</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="{{LogoImageDetails.ImageUrl}}" class="br" alt="logoImage" (error)="_HelperService.defaultImage($event)"
                        class="img wd-140 ht-60  bd bd-2" />
                    </td>
                    <td>{{_HelperService.GetDateS(LogoImageDetails.UploadDate) || "--"}}
                        <div>
                            {{_HelperService.GetTimeS(LogoImageDetails.UploadDate) || "--"}}
                        </div>
                    </td>
                    <td>{{LogoImageDetails.UploadedBy || "--"}}</td>
                    <td class="text-center cursor-pointer">
                        <span class="text-primary" (click)="Edit_Confirm()">Edit</span>
                      </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
    </div>
</div>

<div class="modal fade" id="Form_Add_Content" role="dialog" tabindex="-1" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content d-flex justify-content-center align-items-center">
            <form [formGroup]="Form_Add" role="form">
                <div class="modal-body b-b ">
                    <div class="mb-4">
                        <div class=" drop-zone mb-3 d-flex  flex-column align-items-center justify-content-center cursor-pointer LogoDragArea"
                            (drop)="onDrop($event)" (dragover)="onDragOver($event)" (click)="fileinput.click()">
                            <div style="position: relative; display: inline-block;">
                        <i class="fas fa-file-lines" style="font-size: 50px; color: gray;"></i>
                        <span class="fa-stack" style="position: absolute; top:30px; left: 18px;">
                          <i class="fas fa-circle fa-stack-2x" style="color: blue;"></i>
                          <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                    <h6 class="tx-bold mt-3">Select a file to upload</h6>
                    <span class="text-secondary"> or drag and drop it here</span> 
                    <input type="file" accept=".jpg,.jpeg,.png,.svg" #fileinput (change)="onFileSelected($event)" hidden>
                    <span style="color: #1C6CF1;font-family: 'DM Sans';font-weight: 400;font-size: 14px;
                    line-height: 160%;">Recommended file size is 112px X 42px</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="modal" id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="m-3">
              <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/3"
                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                [cropperMinHeight]="LogoImageCropped.MinimumHeight"
                [resizeToWidth]="LogoImageCropped.ResizeToWidth"
                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                (imageLoaded)="_HelperService.Icon_Crop_Loaded()">
              </image-cropper>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
            <div class="p-3">
              <div class="mb-2">
                Image Preview
              </div>
              <div class="mb-2">
                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
              </div>
              <div>
                <button type="button" class="btn btn-success mr-2 " data-dismiss="modal" (click)=Form_Add_Process(Form_Add.value)>{{ 'Common.PictureDone' |
                  translate }}</button>
                <button type="button" class="btn btn-warning " (click)="resetImage()">{{
                  'Common.PictureClearAndClose' |
                  translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>