.parenttd{
    width:235px;
    border-top: 1px solid rgba(72, 94, 144, 0.16);
}
.subparenttd{
    width:210px;
}
.childtd{
    width:210px;
}
.ichildtd{
    width:230px;
}
.customcustomerchild{
    padding-left: 1.2rem;
}
.custominnercustomerchild{
    padding-left: 3rem;
}