<div class="card">

  <div class="pd-20">
    <h6 class="tx-16"> Top-Up</h6>

    <div class="text-secondary ">
      You can purchase Top-up amount now to give rewards to your customers from it
    </div>
    <div>
      <div class=" mg-t-5"> Available Balance </div>
      <h5 class="tx-20 mg-t-5"> <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
        {{_AccountBalance.Balance | number: "1.2-2" || "--" }} </h5>
    </div>

    <div class="mg-t-15">
      <button class="btn btn-outline-primary mg-r-10" (click)="OpenPaymentOptions()"> Add Top-Up </button>
      <button class="btn btn-outline-secondary" (click)="OpenTopUpHistory()"> Top-Up History </button>
    </div>

  </div>
</div>

<div id="Form_AddUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Top-Up</h5>
      </div>
      <div class="modal-body  p-lg">
        <div class="mb-3 b-b pb-3">
          <h6 class="mg-b-5">Available Balance</h6>
          <h5 *ngIf="TopUpHistoryList_Config.Data[0]"> <span class="text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_AccountBalance.Balance}} </h5>

          <div class="mb-2">
            Enter Amount
          </div>
          <div class="input-group text-warn mb-3">
            <span class="input-group-prepend ">
              <span class="input-group-text text-warn"><span
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> </span>
            </span>
            <input type="text" maxlength="7" class="form-control text-warn" placeholder="Amount to credit"
              (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_AccountBalanceCreditAmount">

            <div class="text-secondary mg-t-5">This amount will be credited in your wallet, you can further use it to
              give rewards to your customers.</div>
          </div>

        </div>
        <!-- <div>
                  <div class="text-center mb-2 text-uppercase text-xs _500">Direct Bank Transfer</div>
                  <div class="mb-2">After transfering amount email us at <span
                          class="text-primary">hello@thankucash.com</span> or <br>
                      call us on <span class="text-primary">+ 234 809 042 6105</span> with the payment reference
                      number</div>
                  <div class="mb-2">ACC Name : <span class="text-black">Connected Analytics Limited</span> </div>
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2019/5/c9fdcacd17ca410ab1986a3637c653a1.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">GT Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 0413463556</span> </div>
                              </div>
                          </div>
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2020/1/696e1639b2dd4db5bfd6b03b565331c5.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">Zenith Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 1015752687</span> </div>
                              </div>
                          </div>

                      
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2019/7/c26886ade0fd4596a8d9feae22c924f0.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">Sterling Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 0069091710</span> </div>
                              </div>
                          </div>
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2019/3/fceab7c366ec43cdbc085e4d1ab0516d.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">Providus Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 1300213860</span> </div>
                              </div>
                          </div>
                    
                      </div>
                  </div>



              </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ "Common.Close" | translate }}
        </button>
        <button
          *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000 || _AccountBalanceCreditAmount > 1000000)"
          class="btn btn-primary " disabled>Confirm</button>
        <button *ngIf="_AccountBalanceCreditAmount >= 1000 && _AccountBalanceCreditAmount <= 1000000"
          class="btn btn-success" angular4-paystack [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" [amount]="_AccountBalanceCreditAmount * 100"
          [class]="'btn btn-primary'" [ref]="_TransactionReference" (close)="paymentCancel()"
          (callback)="paymentDone($event)" data-dismiss="modal">Confirm</button>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="TopupHistory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Top Up History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=" ">
          <div class="box-header px-3  pd-b-15  d-flex align-items-center justify-content-between">
            <div class="form-inline ">
              <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="TopUpHistoryList_Config.SearchParameter"
                  maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                  (keyup)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button"
                    (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                      data-feather="search"></i> </button>
                </div>
              </div>
            </div>
            <nav class="nav nav-with-icon tx-20">
              <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="TopUpHistoryList_sdropdown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250 pd-15">


                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                      <div class="float-right tx-20" *ngIf="TopUpHistoryList_Config.Sort.SortOrder == 'desc'"
                        (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                        <i class="fas fa-sort-alpha-down-alt"></i>
                      </div>
                      <div class="float-right tx-20" *ngIf="TopUpHistoryList_Config.Sort.SortOrder == 'asc'"
                        (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                      </div>
                    </h6>

                    <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      *ngFor="let TItem of TopUpHistoryList_Config.Sort.SortOptions"
                      (click)="TopUpHistoryList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                      {{TItem.Name}}
                    </a>

                    <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                      (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                      Reset</button>
                    <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                      (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                  </form>
                </div>
              </div>
              <div class="dropdown dropleft">
                <a href="" class="nav-link" id="TopUpHistoryList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                    </h6>
                    <div>
                      <div class="form-group">
                        <label>Date</label>
                        <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                          daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                          (selected)="TopUpHistoryList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                      </div>
                    </div>
                    <!-- <div>
                            <div class="form-group">
                              <label>Status</label>
                              <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                [data]="TopUpHistoryList_Config.StatusOptions"
                                (valueChanged)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                              </select2>
                            </div>
                          </div> -->

                    <button type="button" class="btn btn-light btn-sm mr-2"
                      (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                      Reset</button>
                    <button type="button" class="btn btn-primary btn-sm "
                      (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                  </form>
                </div>
              </div>
              <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
                (click)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                  data-feather="refresh-cw"></i> </a>
              <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
                (click)="TopUpHistoryList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
                  data-feather="download"></i> </a>
            </nav>

          </div>


          <div class="card-body p-0">
            <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
              <thead>
                <tr>
                  <th class="">
                    Date
                  </th>
                  <th>
                    Amount(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
                  </th>
                  <th class="">
                    Reference Number
                  </th>


                </tr>
              </thead>
              <tbody>
                <tr disabled (click)="TopUpHistoryList_RowSelected(TItem)"
                  *ngFor="let TItem of TopUpHistoryList_Config.Data  | paginate: { id: 'TopUpHistoryList_Paginator',itemsPerPage: TopUpHistoryList_Config.PageRecordLimit, currentPage: TopUpHistoryList_Config.ActivePage,  totalItems: TopUpHistoryList_Config.TotalRecords }">
                  <td>
                    <div class="tx-14">{{TItem.TransactionDate || "--"}}</div>
                  </td>
                  <td class="">
                    <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                    {{TItem.Amount || "--"}}
                  </td>
                  <td class="text-muted">
                    {{TItem.PaymentReference || "--"}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer pd-20">
            <span class="mr-3">
              {{ 'Common.Showing' | translate }}
              <span class="bold">{{TopUpHistoryList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{TopUpHistoryList_Config.ShowingEnd}}
              </span> {{ 'Common.Of' | translate }} {{TopUpHistoryList_Config.TotalRecords}}
            </span>
            <span>
              {{ 'Common.Show' | translate }}
              <select class="wd-40 " [(ngModel)]="TopUpHistoryList_Config.PageRecordLimit"
                (ngModelChange)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                  {{TItem}}
                </option>
              </select>
            </span>
            <span class="float-right">
              <pagination-controls id="TopUpHistoryList_Paginator" class="pagination pagination-space"
                (pageChange)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
              </pagination-controls>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>