<ol class="breadcrumb df-breadcrumbs mg-b-20" *ngIf="!isMerchantGC">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelGiftCard.Overview}}"
      [routerLinkActive]="['active']">
      Gift Card</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Transactions - Gift Card History</a></li>
</ol>


<!-- acquirer--merchant--sales -->
<h4 class="mg-b-12 tx-spacing--1">Transactions</h4>
<div class="card  pd-x-20 pd-b-20 pd-t-10 mt-3 RouteCard" style="border-bottom: 0px !important;" *ngIf="isMerchantGC">
  <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist">
    <div class="d-flex flex-wrap">
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.GiftCard.Reward}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
          role="tab" aria-controls="home" aria-selected="true">Reward History</a>
      </li>
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.GiftCard.Redeem}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
          role="tab" aria-controls="home" aria-selected="true">Redeemed Transactions</a>
      </li>
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.GiftCard.History}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
          role="tab" aria-controls="home" aria-selected="true">Balance History</a>
      </li>
    </div>
  </ul>
</div>


<div class="card  pd-x-20 pd-b-20 pd-t-10 mt-3 RouteCard" style="border-bottom: 0px !important;" *ngIf="!isMerchantGC">
  <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist">
    <div class="d-flex flex-wrap">
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelGiftCard.Transactions.SenderHistory}}" role="tab"
          aria-controls="home" aria-selected="true">Transactions</a>
      </li>
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelGiftCard.Transactions.GiftCards}}" role="tab"
          aria-controls="home" aria-selected="true">Issued Gift Cards</a>
      </li>
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelGiftCard.Transactions.Redeem}}" role="tab"
          aria-controls="home" aria-selected="true">Redeemed History</a>
      </li>
    </div>
  </ul>
</div>


<div class="card">
  <div class="card-header">
    <div class=" d-sm-flex">
      <div class=" media">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
          <i data-feather="shopping-cart"></i>
        </div>
        <div class="media-body bd-pink">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
            Total Transactions</h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">{{OverviewData.Total| number: "1.0-0"}}
          </h4>
        </div>
      </div>
      <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <span class="tx-20"> <i class="fas fa-money-bill-alt"></i></span>
        </div>
        <div class="media-body">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Total Amount
          </h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{OverviewData.Amount |
            number:
            "1.2-2" }}
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="box-header px-3 pd-t-15 pd-b-7 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>

    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>
            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
              (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>


            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu pd-0 tx-13">
          <form class="wd-400 ">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
              Filters
            </h6>
            <div class="pd-25" style="overflow: auto; height: 50vh;" *ngIf="ResetFilterControls">
              <div>
                <div class="form-group position-relative" id="issued_gift_date">
                  <label>Issued Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptionsFn('#issued_gift_date')"
                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Status</label>
                  <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                    [data]="TUTr_Config.StatusOptions"
                    (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                  </select2>
                </div>
              </div>
              
            


              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="controls">
                      <label for="RewardRangeMinAmount">Min Amount</label>
                      <input type="number" name="RewardRangeMinAmount" maxlength="256" class="form-control"
                        [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                        (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="controls">
                      <label for="RewardRangeMaxAmount">Max Amount</label>
                      <input type="number" name="RewardRangeMaxAmount" maxlength="256" class="form-control"
                        [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                        (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                    </div>
                  </div>
                </div>
              </div>




            </div>

            <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
              style="position: fixed; bottom:0%; margin-top: -2.5em ;">
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
            </div>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor  RefreshColorOne cursor-pointer"
        (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="TUTr_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
          data-feather="download"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='TransactionDate' && _HelperService.FilterSnap.Sort.SortOrder=='desc')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      <!-- {{_HelperService.GetDateTimeS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateTimeS(_HelperService.FilterSnap.EndTime)}} -->
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      <!-- {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:TItem.data[0].Name}} -->
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
  !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
      Amount Range [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" +
      _HelperService.FilterSnap.SalesRange.SalesMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <!-- badge reward -->
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RewardMin==0 && _HelperService.FilterSnap.SalesRange.RewardMax==10000000)" (click)="RemoveFilterComponent('RewardRange')">
      Reward
      Range [{{_HelperService.FilterSnap.SalesRange.RewardMin + "--" + _HelperService.FilterSnap.SalesRange.RewardMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <!-- end -->
    <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
  </div>

  <div class="card-body p-0">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
      <thead>
        <tr>
          <th class="">Status</th>
          <th class="">Issued Date</th>
          <th>Expiry Date</th>
          <th>Gift Card No</th>
          <th>Sender</th>
          <th>Receiver</th>
          <th class="text-right">Amount</th>
          <th class="text-right">Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
               let TItem of (TUTr_Config.Data
                 | paginate
                   : {
                       id: 'TUTr_Paginator',
                       itemsPerPage: TUTr_Config.PageRecordLimit,
                       currentPage: TUTr_Config.ActivePage,
                       totalItems: TUTr_Config.TotalRecords
                     })
             " (click)="TUTr_RowSelected(TItem)">
          <td>
            <div class="">
              <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName =='Success' ? 'Active' :
                TItem.StatusName || "--" }}</span>
            </div>
          </td>

          <td class="td-date">
            <div>{{ TItem.IssueDateD || "--" }}
            </div>
            <div>{{ TItem.IssueDateT || "--" }}</div>
          </td>

          <td class="td-date">
            <div>{{ TItem.ExpiryDateD || "--" }}
              <!-- <span class="">{{ TItem.TransactionDateT || "--" }}</span> -->
            </div>
            <div>{{ TItem.ExpiryDateT || "--" }}</div>
          </td>

          <td>
            <div> {{ TItem.CardNo || "--" }}</div>
          </td>

          <td>
            <div> {{ TItem.SenderName || "--" }}</div>
            <span class="tx-12 text-secondary">{{ TItem.SenderMobileNo || "--" }}</span>
          </td>

          <td>
            <div> {{ TItem.ReceiverName || "--" }}</div>
            <span class="tx-12 text-secondary">{{ TItem.ReceiverMobileNo || "--" }}</span>
          </td>


          <td class="text-right">
            <div>
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{ TItem.Amount | number: "1.2-2" || "0" }}
            </div>
          </td>
          <td class="text-right">
            <div>
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{ TItem.Balance | number: "1.2-2" || "0" }}
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TUTr_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
        (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
        (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>



<!-- just added space for checking reopend issuse start -->

<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas style="width: 480px !important;">
  <div class="off-canvas-content">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div>
          <h3 class="pb-0 mb-0 tx-20">Gift Card Detail</h3>
        </div>
        <div>
          <span class="text-lowercase" [ngClass]="GiftCardDetails?.StatusBadge">{{ GiftCardDetails?.StatusName || "--"
            }}</span>
        </div>
      </div>
      <div class="card-body" style="overflow: auto; height: 88vh;">
        <div class="row">
          <div class="col-md-3 float-left text-secondary">Gift Card No</div>
          <div class="col-md-1">:</div>
          <div class="col-md-8">
            <div class="tx-medium cardno">{{GiftCardDetails?.CardNo}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 float-left text-secondary">Expiry</div>
          <div class="col-md-1">:</div>
          <div class="col-md-8">
            <div class="tx-medium"> {{GiftCardDetails?.ExpiryDate || "--"}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 float-left text-secondary">Sender</div>
          <div class="col-md-1">:</div>
          <div class="col-md-8">
            <div class=""> {{GiftCardDetails?.SenderName}} / {{GiftCardDetails?.SenderMobileNo}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 float-left text-secondary">Receiver</div>
          <div class="col-md-1">:</div>
          <div class="col-md-8">
            <div class=""> {{GiftCardDetails?.ReceiverName}} / {{GiftCardDetails?.ReceiverMobileNo}} </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 float-left text-secondary">Received At</div>
          <div class="col-md-1">:</div>
          <div class="col-md-8">
            <div class=""> {{GiftCardDetails?.IssueDate || "--"}}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 float-left text-secondary">Balance</div>
          <div class="col-md-1">:</div>
          <div class="col-md-8">
            <div class="">
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{ GiftCardDetails?.Balance | number: "1.2-2" || "0" }}
            </div>
          </div>
        </div>

        <hr>
        <div class="mg-t-15 tx-medium mg-b-10">Transactions</div>

        <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }} table-bordered">
          <thead class="thead-dark">
            <th>Date</th>
            <th>Merchant</th>
            <th>Amount</th>
            <th>Balance</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of GiftCardDetails?.GiftCardTransDetails">
              <td>
                <div class="tx-medium">{{getTransformDate(item?.IssueDate) || "--"}}</div>
                <div class="tx-medium tx-lowercase">{{getTransformDateTime(item?.IssueDate) || "--"}}</div>
                <!-- <div class="tx-medium">{{item?.IssueDate | date :["dd-MM-yyyy"] || "--"}}</div>
                <div class="tx-medium tx-lowercase">{{item?.IssueDate | date :["hh:mm a"] || "--"}}</div> -->
              </td>
              <td>
                <div class="tx-medium">{{item?.MerchantName || "--"}}</div>
                <div class="tx-medium">{{item?.StoreName || "--"}}</div>
              </td>
              <td>
                <div class="tx-medium">
                  <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                  {{ item?.Amount | number: "1.2-2" || "0" }}
                </div>
              </td>
              <td>
                <div class="tx-medium">
                  <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                  {{ item?.Balance | number: "1.2-2" || "0" }}
                </div>
              </td>
            </tr>
            <tr *ngIf="GiftCardDetails?.GiftCardTransDetails?.length == 0">
              <td class="text-danger text-center" colspan="4"> No Data Available</td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="card-footer  bg-white d-flex justify-content-between full-width"
        style="position: fixed !important; bottom:0%; margin-top: -2.5em ;">

        <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>

      </div>

    </div>

  </div>
</div>

<!-- just added space for checking reopend issuse end -->