<div class="row">

  
    <div class="col-md-6 mg-t-15">
        <div class="card pd-20 ht-100p">
            <p class="tx-12 pb-0 mg-b-10 text-secondary"> API MANAGEMENT </p>

            <div class="pd-b-10 bd-b pnvalid" data-permission="apirequestmanagerview">
                <div class="text-primary cursor-pointer"> <a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.RequestHistory}}">
                        API Request History</a> <span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">Server incoming request received from pos terminals and other sources
                </div>
            </div>


            <div class="pd-t-10 pnvalid" data-permission="appandkeymanagerview">
                <div class="text-primary cursor-pointer"><a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.Apps}}">Apps
                        & Keys </a> <span class="tx-12"> <i style="height:16px!important; width: 16px !important;"
                            data-feather="chevron-right"></i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">Manage user and system apps and keys for server requests
                </div>
            </div>
            <hr class="mb-0">
            <!-- V2config -->
            <!--  data-permission="appandkeymanagerconfigs -->
            <div class="pd-t-10 pnvalid" data-permission="appandkeymanagerconfigs">
                <div class="text-primary cursor-pointer">
                    <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.Vconfig}}">V2
                        Config Api</a>
                    <span class="tx-12">
                        <i style="height:16px!important; width: 16px !important;" data-feather="chevron-right">
                        </i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">New App manager Functionalities</div>
            </div>



        </div>
    </div>


    <div class="col-md-6 mg-t-15">
        <div class="card pd-20 ht-100p">
            <p class="tx-12 pb-0 mg-b-10 text-secondary"> CONFIGURATIONS & FEATURES </p>

            <div class="pd-b-10 bd-b pnvalid" data-permission="configurationmanagerview">
                <div class="text-primary cursor-pointer"><a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.Configurations}}">
                        Configurations </a><span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">Systems level configurations for app and all panel
                </div>
            </div>


            <!-- <div class="pd-t-10 bd-b pd-b-10" data-permission="adminnfeatures">
                <div class="text-primary cursor-pointer"> <a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.Features}}">
                        Admin Features </a><span class="tx-12"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">Manage admin panel features assigned to system roles
                </div>
            </div> -->

            <!-- change log feature -->
            <div class="pd-t-10 pd-b-10 pnvalid" data-permission="changelogfeature">
                <div class="text-primary cursor-pointer"> <a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.LogFeature}}">
                        Change Log feature
                    </a>
                    <span class="tx-12">
                        <i style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">Change Log Feature Description...
                </div>
            </div>

        </div>
    </div>


   



    <div class="col-md-6 mg-t-15">
        <div class="card pd-20 ht-100p">
            <p class="tx-12 pb-0 mg-b-10 text-secondary"> SYSTEM RESPONSES AND LOGS </p>

            <div class="pd-b-10 bd-b pnvalid" data-permission="systemresponsemessageview">
                <div class="text-primary cursor-pointer"> <a href=""
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.ResponseCode}}">
                        System Response Messages</a> <span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">Response messages sent to end users in all panels
                </div>
            </div>


            <div class="pd-t-10 pd-b-10 pnvalid" data-permission="systemlogmanager">
                <div class="text-primary cursor-pointer"> <a class="cursor-pointer"
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.SystemLog}}">
                        System Log </a> <span class="tx-12"> <i style="height:16px!important; width: 16px !important;"
                            data-feather="chevron-right"></i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">Server and app exceptions and manual notification logging requests
                    history
                </div>
            </div>


        </div>
    </div>


    <div class="col-md-6 mg-t-15">
        <div class="card pd-20 ht-100p">
            <p class="tx-12 pb-0 mg-b-10 text-secondary tx-uppercase"> notifications </p>
            <div class="pd-b-10 bd-b pnvalid" data-permission="customerapppushnotification">
                <div class="text-primary cursor-pointer"> <a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.pushnotification}}">
                        Push Notification </a> <span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">Push Notification
                </div>
            </div>

            <div class="pd-t-10 pd-b-10 pnvalid" data-permission="smsnotificationlog">
                <div class="text-primary cursor-pointer"> <a
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.SmsNotification}}">
                        Sms Notification </a> <span class="tx-14"> <i
                            style="height:16px!important; width: 16px !important;" data-feather="chevron-right"></i>
                    </span>
                </div>
                <div class="tx-12 text-secondary">Sms Notification
                </div>
            </div>


        </div>
    </div>


</div>