<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" routerLink=""
      [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']" class="tx-bold">
      BNPL Merchants</a></li>
</ol>

<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <span class="tx-bold">
          BNPL Merchants
        </span>

      </div>
    </div>
  </div>
  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <div class=" media cursor-pointer">
          <div type="button"
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="shopping-cart"></i>
          </div>
          <div class="media-body bd-pink ">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              Total Merchants</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{merchantOverviewData?.TotalMerchants || "0"}}</h4>
          </div>
        </div>
        <div type="" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40 cursor-pointer">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <img src="../../../assets/img/tax.svg">
          </div>
          <div class="media-body ">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Active Loans</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{merchantOverviewData?.ActiveLoans || "0"}}</h4>
          </div>
        </div>
        <div type="" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40 cursor-pointer">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <img src="../../../assets/img/tax.svg">
          </div>
          <div class="media-body ">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Closed Loans</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{merchantOverviewData?.ClosedLoans || "0"}}</h4>
          </div>
        </div>
        <div type="" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40 cursor-pointer">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <span style="font-size: 25px;" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
          </div>
          <div class="media-body ">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              TUC Fees</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              <span
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{merchantOverviewData?.TUCFees ||
              "0"}}
            </h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        </div>
      </div>
    </div>
  </div>
  <div class="box-header px-3 pd-t-15 pd-b-8 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="MerchantsList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="MerchantsList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>
    </div>

    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
        _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()">
        <i data-feather="plus-circle"></i> </button>

    </div>
    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="MerchantsList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'desc'"
                (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'asc'"
                (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of MerchantsList_Config.Sort.SortOptions"
              (click)="MerchantsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="MerchantsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div class="row">
              <div class="col-md-6">
                <label for="ActiveLoan" class="tx-semibold">Active Loan</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="ActiveLoanMin">Min</label>
                    <input type="number" name="ActiveLoanMin" class="form-control" [(ngModel)]="ActiveLoanMin"
                      (keyup)="MerchantsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="ActiveLoanMaxAmount">Max</label>
                    <input type="number" name="ActiveLoanMax" class="form-control" [(ngModel)]="ActiveLoanMax"
                      (keyup)="MerchantsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="ClosedLoan" class="tx-semibold">Closed Loan</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="ClosedLoanMin">Min</label>
                    <input type="number" name="ClosedLoanMin" class="form-control" [(ngModel)]="ClosedLoanMin"
                      (keyup)="MerchantsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="ClosedLoanMax">Max</label>
                    <input type="number" name="ClosedLoanMax" class="form-control" [(ngModel)]="ClosedLoanMax"
                      (keyup)="MerchantsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="fees" class="tx-semibold">TUC Fees</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="TUCFeesMin">Min</label>
                    <input type="number" name="TUCFeesMin" class="form-control" [(ngModel)]="TUCFeesMin"
                      (keyup)="MerchantsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="TUCFeesMax">Max</label>
                    <input type="number" name="TUCFeesMax" class="form-control" [(ngModel)]="TUCFeesMax"
                      (keyup)="MerchantsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="MerchantsList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
          data-feather="download"></i> </a>
    </nav>
  </div>

  <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='MerchantName' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div> -->
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <!--  -->
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
  !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.ActiveLoanMin==0 && _HelperService.FilterSnap.SalesRange.ActiveLoanMax==10000)" (click)="RemoveFilterComponent('ActiveLoanRange')">
      Active Loan
      [{{_HelperService.FilterSnap.SalesRange.ActiveLoanMin + "--" +
      _HelperService.FilterSnap.SalesRange.ActiveLoanMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
  !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.ClosedLoanMin==0 && _HelperService.FilterSnap.SalesRange.ClosedLoanMax==10000)" (click)="RemoveFilterComponent('ClosedLoanRange')">
      Closed Loan
      [{{_HelperService.FilterSnap.SalesRange.ClosedLoanMin + "--" +
      _HelperService.FilterSnap.SalesRange.ClosedLoanMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
  !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.TUCFeesMin==0 && _HelperService.FilterSnap.SalesRange.TUCFeesMax==10000000)" (click)="RemoveFilterComponent('TUCFeesRange')">
      TUC Fees
      [{{_HelperService.FilterSnap.SalesRange.TUCFeesMin + "--" +
      _HelperService.FilterSnap.SalesRange.TUCFeesMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of MerchantsList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body  pd-b-0 mt-n2 table-responsive">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th>Merchant</th>
          <th class="text-right">Active Loans </th>
          <th class="text-right">Closed Loans </th>
          <!-- <th class="text-right">Intrest Gain(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>)</th> -->
          <th class="text-right">Interest Gain(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>)</th>
          <th class="text-right">TUC Fees(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>)</th>
          <th class="text-right">Merchant Settle(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>)
          </th>
          <!-- <th class="text-center">Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="MerchantsList_RowSelected(TItem)" *ngFor="let TItem of merchantData.Data  | paginate:{ id: 'MerchantsList_Paginator',itemsPerPage: MerchantsList_Config.PageRecordLimit, 
          currentPage: MerchantsList_Config.ActivePage,  totalItems: MerchantsList_Config.TotalRecords }">
          <td class="d-flex">
            <img class="br" [src]="TItem.MerchantLogoURL" class="img wd-40 ht-40 bd bd-2">
            <div style="padding-left: 10px;">
              <div class="tx-14 tx-semibold">{{TItem.MerchantName}}
              </div>
              <div class="text-muted tx-12">
                {{TItem.MerchantAddress | slice:0:15}}...
              </div>
            </div>
          </td>
          <td class="text-right">
            <div class="tx-14 tx-semibold ">{{TItem.ActiveLoans || "--"}}</div>
            <div class="text-muted ">
              <span *ngIf="TItem.TotalActiveAmount"><span
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span> {{TItem.TotalActiveAmount ||
              "--"}}
            </div>
          </td>
          <td class="text-right">
            <div class="tx-14 tx-semibold ">{{TItem.ClosedLoans || "--"}}</div>
            <div class="text-muted ">
              <span *ngIf="TItem.TotalClosedAmount"><span
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span> {{TItem.TotalClosedAmount ||
              "--"}}
            </div>
          </td>
          <td class="text-right tx-semibold tx-14">
            {{TItem.TotalInterest | number: "1.2-2" || "--"}}
          </td>
          <td class="text-right tx-semibold">
            {{TItem.TUCFees  | number: "1.2-2" || "--"}}
          </td>
          <td class="text-right tx-semibold" style="padding-right: 30px;">
            <div>
              {{TItem.MerchantSettlement | number: "1.2-2" || "--"}}
            </div>
            <div class="tx-12 tx-semibold"> <span></span>
              <span class="text-success"
                *ngIf="TItem.MerchantSettleStatus && TItem.MerchantSettleStatus=='Successful' "><i
                  class="fa-solid fa-circle-check pd-r-3"></i>PAID</span>
              <!-- <span class="text-warning" *ngIf="TItem.MerchantSettlementStatusId == 746"><i class="fa-solid fa-circle-check pd-r-3"></i>Processing</span>
              <span class="text-danger" *ngIf=" TItem.MerchantSettlementStatusId && (TItem.MerchantSettlementStatusId != 747 && TItem.MerchantSettlementStatusId != 746)">
                <i class="fa-solid fa-circle-check pd-r-3"></i>Pending</span> -->
            </div>
          </td>
          <!-- <td class="text-primary text-center">
            <span><img src="../../../assets/img/Icon metro-chart-dots.svg"></span>
            Analytics
          </td> -->
        </tr>
      </tbody>
    </table>
    <div class="card-footer pd-20">
      <span class="mr-3">
        {{ 'Common.Showing' | translate }}
        <span class="bold">{{MerchantsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
          {{MerchantsList_Config.ShowingEnd}}
        </span> {{ 'Common.Of' | translate }} {{MerchantsList_Config.TotalRecords}}
      </span>
      <span>
        {{ 'Common.Show' | translate }}
        <select class="wd-50 " [(ngModel)]="MerchantsList_Config.PageRecordLimit"
          (ngModelChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
          <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
            {{TItem}}
          </option>
        </select>
      </span>
      <span class="float-right">
        <pagination-controls id="MerchantsList_Paginator" class="pagination pagination-space"
          (pageChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
          nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
        </pagination-controls>
      </span>
    </div>
  </div>
</div>