<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
            <div class="card">
                <div class="card-header">
                    <h3 class="tx-dark pb-0 mb-0 tx-14">Create Promotional Code Campaign</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8" style="padding: 0px;">
                            <div class="col-md-12">
                                <div> <label>Basic Details </label>
                                    <p class="text-secondary">Please add basic details of campaign here</p>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div> <label>I am creating campaign for
                                        </label>
                                    </div>

                                      
                                    <div class="radio float-left mr-3"><label class="ui-check"><input type="radio"
                                        name="AccountTypeId" [value]="109"
                                        [formControl]="Form_AddUser.controls['AccountTypeId']">
                                    <i class="dark-white"></i>
                                    Customer</label></div>


                                    <div class="radio  mr-3">
                                        <label class="ui-check"><input type="radio" name="AccountTypeId" [value]="108"
                                                [formControl]="Form_AddUser.controls['AccountTypeId']">
                                            <i class="dark-white"></i>
                                            Merchant</label>
                                    </div>

                                  
                                   
                                 
                                </div>
                            </div>

                            <!-- <div class="col-md-12">
                                <div class="form-group">
                                    <div> <label>This campaign type is <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="radio float-left mr-3">
                                        <label class="ui-check"><input type="radio" name="TypeId" [value]="1"
                                                [formControl]="Form_AddUser.controls['TypeId']">
                                            <i class="dark-white"></i>
                                            Referral</label>
                                    </div>
                                    <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="TypeId"
                                                [value]="2" [formControl]="Form_AddUser.controls['TypeId']">
                                            <i class="dark-white"></i>
                                            Promotional</label></div>
                                </div>
                            </div> -->
<!-- 
                            <div class="col-md-12">
                                <label>What is Referral code campaign?</label>
                                <p class="text-secondary">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                    diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                                    diam.</p>
                            </div>-->

                            <!-- <div class="col-md-12">
                                <label>What is Promotional code campaign?</label>
                                <p class="text-secondary">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                    diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                                    diam.</p>
                            </div>  -->

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Select Target Audience for this campaign
                                    </label>
                                    <!-- <select2 class="full-width" 
                                [options]="_HelperService.Select2Options_app"   [value]="SelectedStateCategories"
                                    [data]="_AppPage" (valueChanged)="GetApp_ListChange($event)">
                                </select2> -->

                                    <!-- <select2 name="S2GetApps" class="full-width" [data]="S2ConditionCategories"
                                        [options]="GetCondition_Option" (valueChanged)="GetApp_ListChange($event)">
                                    </select2> -->

                                    <select2 name="S2GetApps" class="full-width"
                                    [options]="GetMerchants_Option"
                                    (valueChanged)="GetApp_ListChange($event)"></select2>

                                    
                                    <label class="tx-12 text-secondary">For which user category do you want to run this
                                        campaign</label>
                                </div>
                            </div>
                            <hr>


                        </div>
                        <div class="col-md-4">
                            <div class="bd bg-gray-50 pd-y-15 pd-x-15 pd-sm-x-20">
                                <h6 class="tx-14 mb-2 text-secondary">Preview</h6>
                              <div class="border-bottom">  
                                  <div *ngIf="Form_AddUser.controls['AccountTypeId'].value=='108'">
                                    <label class="tx-12">Referral Code Campaign - Merchant</label>
                                  </div>
                                  <div *ngIf="Form_AddUser.controls['AccountTypeId'].value=='109'">
                                    <label class="tx-12">Referral Code Campaign - Customers</label>
                                  </div>
                                 
                                <label class="tx-12 text-secondary ">{{TargetData}}</label>
                               </div>
                                <div class="pd-7 mg-b-10">
                                    {{Form_AddUser.controls['Title'].value ||"--"}}
                                </div>
                                <!-- <h6>{{Form_AddUser.controls['Title']}}</h6> -->
                                <div
                                    class="tx-muted tx-14 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                                    <p class="text-center fs-4 py-2 mb-0 redeem-code1">{{Form_AddUser.controls['PromoCode'].value ||"--"}}</p>
                                </div>
                                <label class="tx-12 mg-b-10">* One time use/ Customer</label>
                                <ul class="list-unstyled mb-0 border-bottom">
                                   
                                    <li class="d-flex justify-content-between mb-2">
                                        <span class="tx-13 tx-color-03"> <i data-feather="calendar"
                                            style="height: 16px;"></i>Starts On
                                        </span>
                                        <span>
                                            {{Form_AddUser.controls['StartDate'].value}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between mb-2">
                                        <span class="tx-13 tx-color-03"><i data-feather="calendar"
                                                style="height: 16px;"></i>Ends On
                                        </span>
                                        <span>
                                            {{Form_AddUser.controls['EndDate'].value}}</span>
                                    </li>

                                </ul>
                                <ul class="list-unstyled mb-0">
                                    <!-- <li class="d-flex justify-content-between mb-2">
                                    <span class="tx-13 tx-color-03">Selling Price
                                    </span>
                                    <span> <span class="tx-10 tx-color-03"
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        {{_AmountDistribution.SellingPrice | number: "1.2-2" || "--"}}</span>

                                </li> -->
                                    <li class="d-flex justify-content-between mb-2  py-2">
                                        <span class="tx-13 tx-color-03">Benefit amount
                                        </span>
                                        <span><span class="tx-10 tx-color-03"
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                            {{Form_AddUser.controls['PromoCodeValue'].value || "--"}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between mb-2  pb-3">
                                        <span class="tx-13 tx-color-03">Max codes available
                                           
                                        </span>
                                        <span>
                                            {{Form_AddUser.controls['MaximumLimit'].value ||"--"}}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <span class="tx-13 tx-color-03">Total Budget will be
                                            <!-- ({{_AmountDistribution.MerchantPercentage | number: "1.2-2" || "--"}}%) -->
                                        </span>
                                        <span><span class="tx-10 tx-color-03"
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        {{budgetAmount}}</span>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>


                <div class="card-header" style="border: none;margin-top: -154px">
                    <h3 class="tx-dark pb-0 mb-0 tx-14">Campaign Setup and Schedule</h3>
                    <label class="tx-12 text-secondary">Set up your campaign here</label>
                </div>
                <div class="card-body" style="margin-top: -26px;">
                    <div class="row">
                        <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Campaign Title <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="Title" maxlength="128" class="form-control" (click)="ProcessAmounts()"
                                        placeholder="Enter Title Here" [formControl]="Form_AddUser.controls['Title']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Title'].valid && Form_AddUser.controls['Title'].touched}">
                                </div>
                                <label class="text-danger" for="Title"
                                    *ngIf="Form_AddUser.controls['Title'].hasError('required') && Form_AddUser.controls['Title'].touched">Enter
                                    Title</label>
                                <label class="text-danger" for="Title"
                                    *ngIf="Form_AddUser.controls['Title'].hasError('minlength') || Form_AddUser.controls['Title'].hasError('maxlength')">Title
                                    must be between 2 - 128 characters</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Start Date<span class="text-danger">*</span>
                                </label>
                                <div class="controls input-group">
                                    <input type="text" class="form-control " name="daterangeInput" daterangepicker
                                        [options]="_DealConfig.StartDateConfig"
                                        [formControl]="Form_AddUser.controls['StartDate']"
                                        (selected)="ScheduleStartDateRangeChange($event)" />
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>End Date<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" class="form-control " name="daterangeInput" daterangepicker
                                        [options]="_DealConfig.EndDateConfig" [disabled]="_DealConfig.EndDate == null"
                                        [formControl]="Form_AddUser.controls['EndDate']"
                                        (selected)="ScheduleEndDateRangeChange($event)" />
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Campaign Description <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <textarea type="text" name="Description" maxlength="256" class="form-control"
                                        placeholder="Description" [formControl]="Form_AddUser.controls['Description']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Description'].valid && Form_AddUser.controls['Description'].touched}"></textarea>
                                </div>
                                <label class="text-danger" for="Description"
                                    *ngIf="Form_AddUser.controls['Description'].hasError('required') && Form_AddUser.controls['Description'].touched">Enter
                                    Description</label>
                                <label class="text-danger" for="Description"
                                    *ngIf="Form_AddUser.controls['Description'].hasError('minlength') || Form_AddUser.controls['Description'].hasError('maxlength')">Description
                                    must be between 2 - 256 characters</label>
                            </div>
                        </div>

                    </div>
                    <hr>
                </div></div>
                </div>


                <div class="card-header" style="border: none;margin-top: -26px;">
                    <h3 class="tx-dark pb-0 mb-0 tx-14">Campaign Code settings and conditions</h3>
                    <label class="text-secondary tx-12">Set up your code and conditions for code - This code will be used by customers/Merchants</label>
                </div>
                <div class="card-body" style="margin-top: -26px;">
                    <div class="row">
                        <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Set Promo code<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="PromoCode" maxlength="12" class="form-control"
                                        placeholder="Ex- Happyhours" [formControl]="Form_AddUser.controls['PromoCode']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['PromoCode'].valid && Form_AddUser.controls['PromoCode'].touched}">
                                </div>
                                <label class="text-danger" for="PromoCode"
                                    *ngIf="Form_AddUser.controls['PromoCode'].hasError('required') && Form_AddUser.controls['PromoCode'].touched">Enter
                                    Promo code</label>
                                <label class="text-danger" for="PromoCode"
                                    *ngIf="Form_AddUser.controls['PromoCode'].hasError('minlength') || Form_AddUser.controls['PromoCode'].hasError('maxlength')">Code
                                    must be between 4 - 12 characters</label>
                            </div>
                        </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Set Benefit Amount on this code <span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <span class="ml-2 mr-2"
                                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                                </span>
                                            </div>
                                            <input type="text" name="PromoCodeValue" maxlength="12" class="form-control" (keyup)="ProcessAmounts()"
                                                (keypress)="_HelperService.PreventText($event)" placeholder="Ex-N 100"
                                                [formControl]="Form_AddUser.controls['PromoCodeValue']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['PromoCodeValue'].valid && Form_AddUser.controls['PromoCodeValue'].touched}">
                                        </div>
                                    </div>
                                    <label class="text-danger" for="PromoCodeValue"
                                        *ngIf="Form_AddUser.controls['PromoCodeValue'].hasError('required') && Form_AddUser.controls['PromoCodeValue'].touched">
                                        Amount required</label>
                                    <label class="text-danger" for="PromoCodeValue"
                                        *ngIf="Form_AddUser.controls['PromoCodeValue'].hasError('min')">Amount
                                        must be greater than 0</label>
                                </div>
    
                            </div>
                            </div>

                        <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" style="margin-bottom: 2px;">
                                <label>Code Qty available for this campaign  <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <div class="input-group">
                                        <!-- <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <span class="ml-2 mr-2"
                                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                            </span>
                                        </div> -->
                                        <input type="text" name="MaximumLimit" maxlength="12" class="form-control"
                                            (keypress)="_HelperService.PreventText($event)" placeholder="100 Codes" (keyup)="ProcessAmounts()"
                                            [formControl]="Form_AddUser.controls['MaximumLimit']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['MaximumLimit'].valid && Form_AddUser.controls['MaximumLimit'].touched}">
                                 
                                    
                                        </div>
                                </div>
                                <label class="text-danger" for="MaximumLimit"
                                    *ngIf="Form_AddUser.controls['MaximumLimit'].hasError('required') && Form_AddUser.controls['MaximumLimit'].touched">
                                    Enter Code Limit</label>
                                <label class="text-danger" for="MaximumLimit"
                                    *ngIf="Form_AddUser.controls['MaximumLimit'].hasError('min')">Limit must br greater than 0</label>
                            </div>
                            <label class="text-secondary tx-12">After reaching this limit of code usage campaign will stop</label>
                        </div>
                       
                        </div>


                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="tx-14" style="color: #008194; background: #00CCCC27;border-radius: 2px">Your Total Budget for this campaign will be  <span class="ml-2 mr-2"
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{budgetAmount}}
                                    </label>
                                  
                                </div>
    
                            </div>
                            </div>

                    

                </div></div>
                </div>


                <div class="card-header" style="margin-top: -26px; border:none">
                    <h3 class="tx-dark pb-0 mb-0 tx-14">This code usage type is (Code use per person)</h3>
                </div>
                <div class="card-body" style="margin-top: -26px;border: none;">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="col-md-12">
                        <div class="form-group" style="margin-bottom: 0px;">

                            <div class="radio float-left mr-3">
                                <label class="ui-check"><input type="radio" name="CodeUsageValidity"
                                        (click)="CodeUsage(1)" [value]=1
                                        [formControl]="Form_AddUser.controls['CodeUsageValidity']">
                                    <i class="dark-white"></i>
                                    One time use/ Customer</label>
                            </div>
                            <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                                        name="CodeUsageValidity" [value]=2 (click)="CodeUsage(2)"
                                        [formControl]="Form_AddUser.controls['CodeUsageValidity']">
                                    <i class="dark-white"></i>
                                    Multiple time use/ Customer</label></div>
                        </div>
                        <label class="tx-12 text-secondary mg-b-20">As this campaign is referral campaign, so its one time use code only</label>
                    </div>

                        <div class="col-md-6" *ngIf="validity">
                            <div class="form-group">
                              
                                <div class="controls">
                                    <div class="input-group">
                                       
                                        <input type="text" name="MaximumLimitPerUser" maxlength="12" class="form-control"
                                            (keypress)="_HelperService.PreventText($event)" placeholder="2 code/Customer"
                                            [formControl]="Form_AddUser.controls['MaximumLimitPerUser']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['MaximumLimitPerUser'].valid && Form_AddUser.controls['MaximumLimitPerUser'].touched}">
                                    </div>
                                </div>


                                <label class="text-danger" for="MaximumLimitPerUser"
                                    *ngIf="Form_AddUser.controls['MaximumLimitPerUser'].hasError('required') && Form_AddUser.controls['MaximumLimitPerUser'].touched">Enter
                                    Promo code limit/customer</label>
                                <label class="text-danger" for="MaximumLimitPerUser"
                                    *ngIf="Form_AddUser.controls['MaximumLimitPerUser'].hasError('minlength') || Form_AddUser.controls['MaximumLimitPerUser'].hasError('maxlength')">Limit
                                    must be greater than 0</label>
                            </div>
                        </div>

                    </div>



                </div>
                




                <div class="light p-3 text-right bd-t">

                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_AddUser_Close()">{{
                        'Common.Close'
                        | translate }}</button>

                    <button type="submit" class="btn btn-primary" (click)="Form_AddUser.value.OperationType='new'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                           Save
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                            }}...
                        </span>
                    </button>

                </div>
            </div>
            </div>
        </form>

    </div>
</div>
  
