<div class="d-flex justify-content-center align-items-center text-center" style="height: 100vh !important; overflow: auto !important;">
  <div>

         <img height="360" width="470"   src="./../../../../assets//images/401 _svg.svg" alt="">
      <div class=" mg-t-60"> <span class="tx-24 tx-medium"> UnAuthorized </span>  </div>
      <div class="  full-width">
          <button (click)="HomePage()" class="btn btn-brand-02 mg-t-35 wd-300"> <i data-feather ="chevron-left" > </i> Back </button>
      </div>

  </div>

</div>