<div class="row">
    <div class="col-6 col-lg-3">
        <div class="box p-3 r-1x  text-center shadow">
            <div class="text-normal">
                Merchants
            </div>
            <div class="py-2 text-xl">
                {{_HelperService._AccountOverview.Merchants | number: "1.0-1" || "--"}}
            </div>
            <div class="text-muted">
                Total number of merchants
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3">
        <div class="box p-3 r-1x  text-center shadow">
            <div class="text-normal">
                Merchant Locations
            </div>
            <div class="py-2 text-xl">
                {{ _HelperService._AccountOverview.Stores | number: "1.0-1" || "--" }}
            </div>
            <div class="text-muted">
                Total store locations
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3">
        <div class="box p-3 r-1x  text-center shadow">
            <div class="text-normal">
                Terminals
            </div>
            <div class="py-2 text-xl">
                {{ _HelperService._AccountOverview.Terminals | number: "1.0-1" || "--" }}
            </div>
            <div class="text-muted">
                Total pos terminals
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3">
        <div class="box p-3 r-1x  text-center shadow">
            <div class="text-normal">
                Terminal Providers
            </div>
            <div class="py-2 text-xl">
                {{_HelperService._AccountOverview.Ptsp | number: "1.0-1" || "--"}}
            </div>
            <div class="text-white text-muted">
                Total pos providers
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4" *ngFor="let TItem of _HelperService._RewardTypeOverview.AppUsersCardType">
        <div class="box shadow  r-1x shadow-lg"
            [ngClass]="{'bg-mastercard': TItem.Name  == 'Mastercard',  'bg-visa-card': TItem.Name  == 'VISA',  'bg-verve-card': TItem.Name  == 'Verve'}">
            <div class="box-body text-white ">
                <span class="_500 text-xxs text-center float-left" style="position: absolute;">
                    {{ TItem.Name || "--" }}
                </span>
                <div class="text-3x text-center">
                    <i class="fab "
                        [ngClass]="{'fa-cc-mastercard': TItem.Name  == 'Mastercard',  'fa-cc-visa': TItem.Name  == 'VISA',  'far fa-credit-card': TItem.Name  == 'Verve'}"></i>
                </div>

                <div class="text-center _500">
                    <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                    <span class="text-md">{{TItem.Purchase | number: "1.2-2" || "--"}}</span>
                </div>
                <div class="text-center  _500 text-uppercase mb-2">Total Sale</div>
                <div class="text-uppercase _500  mb-2">
                    Users <span class="float-right">{{ TItem.Users || "--" }}</span>
                </div>
                <div class="text-uppercase _500 ">
                    Transactions <span class="float-right">{{ TItem.Transactions || "--" }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="box  r-1x   shadow ">
            <div class="box-header">
                <h3 class="text-warn">Terminals Activity Overview</h3>
            </div>
            <div class="row no-gutters pb-3 pl-3 pr-3">
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-2">
                    <div class="py-2  text-lg text-success ">
                        {{ LiveTerminalCount  | number: "1.0-1" || "--" }}
                    </div>
                    <div>
                        Active Terminals
                    </div>
                    <div class="text-xs text-muted ">
                        Terminals used within 24 hours
                    </div>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-2">
                    <div class="py-2  text-lg text-warning ">
                        {{IdleTerminalCount | number: "1.0-1" || "--" }}
                    </div>
                    <div>
                        Idle Terminals
                    </div>
                    <div class="text-xs text-muted ">
                        Terminals used within last 7 days
                    </div>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-2">
                    <div class="py-2  text-lg text-danger ">
                        {{
                            DeadTerminalCount
                                      | number: "1.0-1" || "--"
                                  }}
                    </div>
                    <div>
                        Dead Terminals
                    </div>
                    <div class="text-xs text-muted">
                        Terminals used more than 7 days
                    </div>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-2">
                    <div class="py-2  text-lg text-muted ">
                        {{_HelperService._AccountOverview.UnusedTerminals  | number: "1.0-1" || "--"}}
                    </div>
                    <div>
                        Unused Terminals
                    </div>
                    <div class="text-xs text-muted ">
                        Terminals never used
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-3">
        <div class="box " *ngFor="let TItem of _HelperService._AccountOverview.PosOverview">
            <div class="box-header">
                <h3 class="text-warn">
                    <img style="    width: 20px;
                  float: left;
                  margin-right: 5px;
                  border: 1px solid #ccc;
                  border-radius: 3px;" src="{{TItem.IconUrl}}">
                    {{TItem.DisplayName}} - Terminals
                    <span class="float-right">
                        {{ TItem.Terminals}}
                    </span>
                </h3>
            </div>
            <div class="row row-col no-gutters pb-3 rounded-bottom text-center">
                <div class="col-4 b-r">
                    <a class="py-1 d-block">
                        <span class="d-block  text-md   text-success">{{ TItem.ActiveTerminals}}</span>
                        <span class="d-block text-uppercase text-xxs _600 text-muted">Active</span>
                    </a>
                </div>
                <div class="col-4 b-r"><a class="py-1 d-block"><span
                            class="d-block  text-md text-deep-orange">{{ TItem.IdleTerminals}}</span><span
                            class="d-block text-uppercase text-xxs _600  text-muted">Idle</span></a></div>
                <div class="col-4"><a class="py-1 d-block">
                        <span class="d-block  text-md text-danger">{{ TItem.DeadTerminals}}</span>
                        <span class="d-block text-uppercase text-xxs _600  text-muted">Dead</span>
                    </a></div>
            </div>
        </div>
    </div> -->
</div>
<div class="row">
    <div class="col-4">
        <div class="box">
            <div class="box-header">
                <h3>Active Terminals</h3>
            </div>
            <div class="box-body" style="height: 300px;overflow:auto;">
                <div *ngFor="let TItem of ActiveTerminals" style="padding: 10px;
                        background-color: #f2f2f2;
                        margin-bottom: 10px;
                        background-color: rgba(40, 167, 69, 0.08);
                        border-radius: 4px;">
                    <img src="{{TItem.ProviderIconUrl}}" style="    width: 20px;
                                float: right;
                                border: 1px solid #ccc;
                                border-radius: 3px;">

                    <img src="{{TItem.MerchantIconUrl}}" style="  width: 32px;
        float: left;
        margin-right: 5px;
        border: 1px solid #28a745;
        border-radius: 3px;
        margin-top: 4px;">
                    <div>
                        <div class="text-success _600"> {{TItem.DisplayName}}</div>
                        <div class="_500 pb-1"> {{TItem.MerchantDisplayName}}</div>
                        <div class="text-xs"> {{TItem.StoreDisplayName}}</div>
                        <div class="text-xs">
                            {{TItem.LastTransactionDate}}
                            <span class="float-right">{{TItem.LastTransactionDateDiffS}} ago</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="box">
            <div class="box-header">
                <h3>Idle Terminals</h3>
            </div>
            <div class="box-body" style="height: 300px;overflow:auto;">
                <div *ngFor="let TItem of IdleTerminals" style="padding: 10px;
                    background-color: #f2f2f2;
                    margin-bottom: 10px;
                    background-color: rgba(255, 64, 4, 0.08);
                    border-radius: 4px;">
                    <img src="{{TItem.ProviderIconUrl}}" style="    width: 20px;
                            float: right;
                            border: 1px solid #ccc;
                            border-radius: 3px;">

                    <img src="{{TItem.MerchantIconUrl}}" style="  width: 32px;
    float: left;
    margin-right: 5px;
    border: 1px solid #ff5722;
    border-radius: 3px;
    margin-top: 4px;">
                    <div>
                        <div class="text-deep-orange _600"> {{TItem.DisplayName}}</div>
                        <div class="_500 pb-1"> {{TItem.MerchantDisplayName}}</div>
                        <div class="text-xs"> {{TItem.StoreDisplayName}}</div>
                        <div class="text-xs">
                            {{TItem.LastTransactionDate}}
                            <span class="float-right">{{TItem.LastTransactionDateDiffS}} ago</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="box">
            <div class="box-header">
                <h3>Dead Terminals</h3>
            </div>
            <div class="box-body" style="height: 300px;overflow:auto;">
                <div *ngFor="let TItem of DeadTerminals" style="padding: 10px;
                background-color: #f2f2f2;
                margin-bottom: 10px;
                background-color: rgba(255, 0, 0, 0.08);
                border-radius: 4px;">
                    <img src="{{TItem.ProviderIconUrl}}" style="    width: 20px;
                        float: right;
                        border: 1px solid #ccc;
                        border-radius: 3px;">

                    <img src="{{TItem.MerchantIconUrl}}" style="  width: 32px;
float: left;
margin-right: 5px;
border: 1px solid red;
border-radius: 3px;
margin-top: 4px;">
                    <div>
                        <div class="text-danger _600"> {{TItem.DisplayName}}</div>
                        <div class="_500 pb-1"> {{TItem.MerchantDisplayName}}</div>
                        <div class="text-xs"> {{TItem.StoreDisplayName}}</div>
                        <div class="text-xs">
                            {{TItem.LastTransactionDate}}
                            <span class="float-right">{{TItem.LastTransactionDateDiffS}} ago</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-4" *ngFor="let TItem of _HelperService._AccountOverview.PosOverview">
        <div class="box ">
            <div class="box-header">
                <h3 class="text-warn">
                    <img style="    width: 20px;
      float: left;
      margin-right: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;" src="{{TItem.IconUrl}}">
                    {{TItem.DisplayName}} - Terminals
                    <span class="float-right">
                        {{ TItem.Terminals}}
                    </span>
                </h3>
            </div>
            <div class="row row-col no-gutters pb-3 rounded-bottom text-center">
                <div class="col-4 b-r">
                    <a class="py-1 d-block">
                        <span class="d-block  text-md   text-success">{{ TItem.ActiveTerminals}}</span>
                        <span class="d-block text-uppercase text-xxs _600 text-muted">Active</span>
                    </a>
                </div>
                <div class="col-4 b-r"><a class="py-1 d-block"><span
                            class="d-block  text-md text-deep-orange">{{ TItem.IdleTerminals}}</span><span
                            class="d-block text-uppercase text-xxs _600  text-muted">Idle</span></a></div>
                <div class="col-4"><a class="py-1 d-block">
                        <span class="d-block  text-md text-danger">{{ TItem.DeadTerminals}}</span>
                        <span class="d-block text-uppercase text-xxs _600  text-muted">Dead</span>
                    </a></div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="box r-1x  shadow">
        <div class="box-header">
            <h3 class="text-warn">
                Transaction Status
            </h3>
        </div>
        <div class="row row-col no-gutters pb-3 rounded-bottom text-center">
            <div class="col-6 b-r">
                <a class="py-1 d-block">
                    <span
                        class="d-block  text-md   text-success">{{_HelperService._AccountOverview.TransactionSuccess | number: "1.0-1" || "--"    }}</span>
                    <span class="d-block text-uppercase text-xxs _600 text-muted">Success</span>
                </a>
            </div>
            <div class="col-6 b-r"><a class="py-1 d-block"><span
                        class="d-block  text-md text-deep-orange">{{_HelperService._AccountOverview.TransactionFailed | number: "1.0-1" || "--" }}</span><span
                        class="d-block text-uppercase text-xxs _600  text-muted">Failed</span></a></div>
        </div>
    </div> -->