

<div class="card mb-0">
        <div class="card-header  b-b">
                <h6>Bank Reconciliations</h6>
        </div>
        <div class="card-body  light">
                <div class="form-inline ">
                        <div class="input-group mr-2">
                                <input type="text" class="form-control" daterangepicker
                                        [options]="_HelperService.AppConfig.DatePickerOptions"
                                        (selected)="StoreSalesListDate_ToggleOption($event)" />
                                <div class="input-group-append"><button class="btn btn-sm btn-primary" type="button"
                                                (click)="GetOverview()">Refresh</button></div>
                        </div>


                       

                </div>

        </div>

        <div class="card-body p-0">
                <table class="table ">
                        <tr>
                                <td class="tx-bold" rowspan="2">Store</td>
                                <td colspan="6" scope="colgroup" class="p-0">
                                        <table class="table no-border no-hover mb-0 p-0">
                                                <tr>
                                                        <th scope="col" class="  " style="width:150px;">Bank Name</th>
                                                        <th scope="col" class=" text-right" style="width:100px;">Store
                                                                Terminals</th>
                                                        <th scope="col" class=" text-right" style="width:100px;">Invoice
                                                                Amount</th>
                                                        <th scope="col" class=" text-right" style="width:100px;">
                                                                Bank Com. Amount</th>
                                                        <th scope="col" class=" text-right" style="width:100px;">
                                                                Expected Amount</th>
                                                        <th scope="col" class=" text-right" style="width:100px;">
                                                                Received Amount</th>
                                                        <th scope="col" class=" text-right" style="width:100px;">
                                                                Difference</th>
                                                </tr>
                                        </table>
                                </td>
                        </tr>
                        <tbody *ngIf="BankCollectionData != undefined && BankCollectionData.Stores.length > 0">
                                <tr *ngFor="let TItem of BankCollectionData.Stores">
                                        <td style="vertical-align:top;">
                                                {{TItem.StoreName || "--"}}
                                        </td>
                                        <td class="p-0" style="padding-right: 0px !important;">
                                                <table class="table no-border no-hover  mb-0">

                                                        <tbody>

                                                                <tr (click)="Acquirer_Click(TSItem)"
                                                                        class="cursor-pointer"
                                                                        *ngFor="let TSItem of TItem.AmountDistribution">
                                                                        <td style="width:150px;">

                                                                                <img class="br mr-2"
                                                                                        src="{{TSItem.IconUrl}}" style="    width: 32px;
                                                  height: 32px;
                                                  border-radius: 4px;
                                                  border: 1px solid #e4e6e8;">
                                                                                {{TSItem.DisplayName || "--"}}</td>
                                                                        <td class=" text-right" style="width:100px;">
                                                                                {{TSItem.Terminals || "--"}}</td>
                                                                        <td class="text-right text-success "
                                                                                style="width:100px;">
                                                                                {{TSItem.InvoiceAmount  | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                        <td class="text-right" style="width:100px;">
                                                                                {{TSItem.NibsAmount  | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                        <td class="text-right" style="width:100px;">
                                                                                {{TSItem.ExpectedAmount | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                        <td class="text-right" style="width:100px;">
                                                                                {{TSItem.ReceivedAmount | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                        <td *ngIf="TSItem.AmountDifference > 0"
                                                                                class="text-success  text-right"
                                                                                style="width:100px;">
                                                                                {{TSItem.AmountDifference | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                        <td *ngIf="TSItem.AmountDifference == 0"
                                                                                class=" text-warning text-right"
                                                                                style="width:100px;">
                                                                                {{TSItem.AmountDifference | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                        <td *ngIf="TSItem.AmountDifference < 0 "
                                                                                class="text-danger text-right"
                                                                                style="width:100px;">
                                                                                {{TSItem.AmountDifference | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                </tr>
                                                                <tr>
                                                                        <td class="no-border bg-gray-100 text-uppercase text-right tx-semibold"
                                                                                style="width:150px;">
                                                                                Total
                                                                                <!-- {{TItem.Acquirers || "--"}} -->
                                                                        </td>
                                                                        <td class="no-border bg-gray-100 text-right _600"
                                                                                style="width:100px;">
                                                                                {{TItem.Terminals || "--"}}
                                                                        </td>
                                                                        <td class="no-border bg-gray-100 text-right text-success _700"
                                                                                style="width:100px;">
                                                                                {{TItem.InvoiceAmount | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                        <td class="no-border bg-gray-100  text-right _600"
                                                                                style="width:100px;">
                                                                                {{TItem.NibsAmount | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                        <td class="no-border bg-gray-100 text-right _600"
                                                                                style="width:100px;">
                                                                                {{TItem.ExpectedAmount | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                        <td class="no-border bg-gray-100  text-right _600"
                                                                                style="width:100px;">
                                                                                {{TItem.ReceivedAmount | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                        <td *ngIf="TItem.AmountDifference > 0"
                                                                                class="no-border bg-gray-100  text-success text-right _600"
                                                                                style="width:100px;">
                                                                                {{TItem.AmountDifference | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                        <td *ngIf="TItem.AmountDifference < 0 "
                                                                                class="no-border pd-r-0 mg-r-0 bg-gray-100  text-danger text-right _600"
                                                                                style="width:100px;">
                                                                                {{TItem.AmountDifference | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                        <td *ngIf="TItem.AmountDifference == 0 "
                                                                                class="no-border bg-gray-100 pd-r-0 mg-r-0  text-right _600"
                                                                                style="width:100px;">
                                                                                {{TItem.AmountDifference | number:'1.2-2' || "--"}}
                                                                        </td>
                                                                </tr>
                                                        </tbody>
                                                </table>
                                        </td>

                                </tr>
                        </tbody>
                        <tr>
                                <td rowspan="2"></td>
                                <td colspan="6" scope="colgroup" class="p-0">
                                        <table class="table no-border no-hover mb-0 p-0">
                                                <tr>
                                                        <th scope="col"
                                                                class=" no-border text-right warn _600 text-white  text-uppercase  _600"
                                                                style="width:150px;">ALL STORE Totals </th>
                                                        <th scope="col"
                                                                class="  no-border text-right warn _600 text-white"
                                                                style="width:100px;">
                                                                {{BankCollectionData.Terminals  || "--"}}</th>
                                                        <th scope="col"
                                                                class=" no-border text-right warn _600 text-white"
                                                                style="width:100px;">
                                                                {{BankCollectionData.InvoiceAmount  | number:'1.2-2' || "--"}}
                                                        </th>
                                                        <th scope="col"
                                                                class="  no-border text-right warn _600 text-white"
                                                                style="width:100px;">
                                                                {{BankCollectionData.NibsAmount  | number:'1.2-2' || "--"}}
                                                        </th>
                                                        <th scope="col"
                                                                class="  no-border text-right warn _600 text-white"
                                                                style="width:100px;">
                                                                {{BankCollectionData.ExpectedAmount  | number:'1.2-2' || "--"}}
                                                        </th>
                                                        <th scope="col"
                                                                class="  no-border text-right warn _600 text-white"
                                                                style="width:100px;">
                                                                {{BankCollectionData.ReceivedAmount  | number:'1.2-2' || "--"}}
                                                        </th>
                                                        <th scope="col"
                                                                class="  no-border text-right warn _600 text-white"
                                                                style="width:100px;">
                                                                {{BankCollectionData.AmountDifference  | number:'1.2-2' || "--"}}
                                                        </th>
                                                </tr>
                                        </table>
                                </td>
                        </tr>
                </table>

        </div>
</div>




<div class="modal " id="ModalUpdateReceivedAmount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title">Update Received Amount</h5>
                        </div>
                        <div class="modal-body " id="parentdiv">
                                <div>
                                        <div class="form-group">
                                                <label>Enter amount received<span class="text-danger">*</span>
                                                </label>
                                                <div class="controls">
                                                        <input type="text" name="UserName" maxlength="10"
                                                                class="form-control" [(ngModel)]="AmountReceived">
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="UpdateAmount()"
                                        [disabled]="_HelperService.IsFormProcessing">

                                        <span *ngIf="!_HelperService.IsFormProcessing">
                                                {{ 'Common.Update' | translate }}
                                        </span>
                                        <span *ngIf="_HelperService.IsFormProcessing">
                                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                              translate
                              }}...
                                        </span>

                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Common.Close' |
              translate }}</button>
                        </div>
                </div>

        </div>

</div>