<!-- acquirer--merchants--list -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
      Stores</a></li>
</ol>
<div class="card ">
  <div class="card-header d-flex justify-content-between">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <span class="tx-semibold mg-t-10">All Stores<span class="text-muted tx-normal">
            ({{StoresList_Config.TotalRecords}})</span></span>
      </div>
    </div>
    <div class="pnvalid" data-permission="storeadd"> <button class="btn btn-primary btn-xs" (click)="Form_AddStore_Show()"> Add Store </button> </div>
  </div>

  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <div class=" media">
          <div type="button" (click)="StoreList_ListTypeChange(1)"
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="map-pin"></i>
          </div>
          <div class="media-body bd-pink">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              Active</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Active || "--"}}
            </h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40" (click)="StoreList_ListTypeChange(2)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-MasterCard tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <i data-feather="map-pin"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Suspended</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Suspended || "0"}}
            </h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40" (click)="StoreList_ListTypeChange(3)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="map-pin"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Blocked</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Blocked || "--"}}
            </h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40" (click)="StoreList_ListTypeChange(5)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="map-pin"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              All</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Total || "--"}}
            </h4>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="box-header px-3 pd-t-15 pd-b-5  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="StoresList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="StoresList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
        class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
        class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="StoresList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'desc'"
                (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'asc'"
                (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of StoresList_Config.Sort.SortOptions"
              (click)="StoresList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="StoresList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Added On</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"  (click)="openDatepicker($event)" 
                  (selected)="StoresList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                  
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <!-- <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="StoresList_Config.StatusOptions"
                  (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2> -->

                <select2 class="wd-100p" [value]="_DataHelperService.statusValue"
                  [data]="_DataHelperService.TUTr_Filter_StatusOptions"
                  (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)"
                  [options]="_DataHelperService.Status_Option">
                </select2>
              </div>

              <div class="form-group">
                <label>Owner</label>
                <select2 [options]="StoresList_Filter_Owners_Option" class="wd-100p"
                  (valueChanged)="StoresList_Filter_Owners_Change($event)">
                </select2>
              </div>
            </div>



            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="StoresList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
          data-feather="download"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-10">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div> -->
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary" *ngFor="let TItem of StoresList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th class="text-center" *ngIf="ColumnConfig[0].Value">
          </th>
          <th>
            Store Name
          </th>
          <th class="" *ngIf="ColumnConfig[1].Value">
            Contact
          </th>
          <th class="text-center" *ngIf="ColumnConfig[2].Value">
            Reward%
          </th>
          <th class="text-center" *ngIf="ColumnConfig[5].Value">
            Cashiers
          </th>
          <th class="text-center" *ngIf="ColumnConfig[5].Value">
            POS
          </th>
          <th class="text-center" *ngIf="ColumnConfig[3].Value">
            RM
          </th>
          <th class="" *ngIf="ColumnConfig[4].Value">
            Last Tr
          </th>

          <th *ngIf="ColumnConfig[6].Value">
            Added On
          </th>

          <th class="d-flex">
            <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;"
              data-toggle="tooltip" title="Edit Your Column" (click)="OpenEditColModal()">
              <!-- <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i> -->
            </span>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="StoresList_RowSelected(TItem)"
          *ngFor="let TItem of StoresList_Config.Data  | paginate: { id: 'StoresList_Paginator',itemsPerPage: StoresList_Config.PageRecordLimit, currentPage: StoresList_Config.ActivePage,  totalItems: StoresList_Config.TotalRecords }">
          <td class="text-center" *ngIf="ColumnConfig[0].Value">
            <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
              class="img wd-40 ht-40 rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
          </td>
          <td>
            <div class="tx-14 tx-semibold ">{{TItem.DisplayName || "--"}}</div>
            <small class="tx-12 text-muted">
              {{ TItem.Address | slice:0:15 }}...
            </small>
          </td>

          <td class="" *ngIf="ColumnConfig[2].Value">
            <div class="tx-14 tx-verve">{{TItem.ContactNumber || "--"}}
            </div>
            <small class="text-muted tx-12 Word-break">
              {{TItem.EmailAddress || "--"}}
            </small>

          </td>
          <td class="text-center" *ngIf="ColumnConfig[5].Value">
            {{TItem.MerchantRewardPecentage || "--"}}%
          </td>
          <td class="text-center" *ngIf="ColumnConfig[5].Value">
            {{TItem.Cashiers || "--"}}
          </td>

          <td class="text-center" *ngIf="ColumnConfig[3].Value">
            <span class="text-success"> {{TItem.ActiveTerminals}}</span>/
            <span> {{TItem.TotalTerminals}}</span>
          </td>

          <td class="text-center" *ngIf="ColumnConfig[4].Value">
            {{TItem.RmDisplayName}}
          </td>

          <td class="text-muted" *ngIf="ColumnConfig[6].Value">
            {{_HelperService.GetDateS(TItem.LastActivityDate) || "--"}}
            <div class="tx-12 text-secondary"> {{_HelperService.GetTimeS(TItem.LastActivityDate )|| "--"}} </div>
          </td>
          <td class="text-muted" *ngIf="ColumnConfig[6].Value">
            {{TItem.CreateDateD || "--"}}
            <div class="tx-12 text-secondary"> {{TItem.CreateDateT || "--"}} </div>
          </td>
          <td></td>
        </tr>
      </tbody>


    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{StoresList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{StoresList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{StoresList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="StoresList_Config.PageRecordLimit"
        (ngModelChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="StoresList_Paginator" class="pagination pagination-space"
        (pageChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>


<div id="Form_AddStore_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
  style="overflow: auto !important;">
  <div class="modal-dialog  modal-lg modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="Form_AddStore" (ngSubmit)="Form_AddStore_Process(Form_AddStore.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Add New Store / Location</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group pd-b-0">
                <label for=""> Select Merchant <span class="text-danger"> * </span> </label>
                <select2 class="full-width" *ngIf="ShowMerchantSelection" [options]="TUTr_Filter_Merchant_Option" id="ddloptions"
                  (valueChanged)="TUTr_Filter_Merchant_Change($event)">
                </select2>
              </div>

              <div class="form-group">
                <label>{{ "System.Menu.StoreName" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="Name" maxlength="128" class="form-control"
                    placeholder="{{'System.Users.Name' | translate }}" [formControl]="Form_AddStore.controls['Name']"
                    [ngClass]="{
                                    'is-invalid':
                                      !Form_AddStore.controls['Name'].valid &&
                                      Form_AddStore.controls['Name'].touched
                                  }" />
                </div>
                <label class="text-danger" for="Name" *ngIf="
                                  Form_AddStore.controls['Name'].hasError('required') &&
                                  Form_AddStore.controls['Name'].touched
                                ">{{
                  "System.Users.Name_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="Name" *ngIf="
                                  Form_AddStore.controls['Name'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_AddStore.controls['Name'].hasError('maxlength')
                                ">Store name must be between 4 - 256 characters</label>
              </div>
              <div class="form-group">
                <label>{{ "System.Menu.StoreNickName" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="DisplayName" maxlength="256" class="form-control"
                    placeholder="Enter Nick Name" [formControl]="Form_AddStore.controls['DisplayName']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['DisplayName'].valid &&
                                    Form_AddStore.controls['DisplayName'].touched
                                }" />
                </div>
                <label class="text-danger" for="DisplayName" *ngIf="
                                Form_AddStore.controls['DisplayName'].hasError('required') &&
                                Form_AddStore.controls['DisplayName'].touched
                              ">Enter store nick name</label>
                <label class="text-danger" for="DisplayName" *ngIf="
                                Form_AddStore.controls['DisplayName'].hasError(
                                  'minlength'
                                ) ||
                                Form_AddStore.controls['DisplayName'].hasError('maxlength')
                              ">Store nick name must be between 4 - 256 characters</label>
              </div>
              <div class="form-group">
                <label>{{ "System.Users.EmailAddress" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="EmailAddress" maxlength="128" class="form-control" placeholder="Email"
                    [formControl]="Form_AddStore.controls['EmailAddress']" [ngClass]="{
                                'is-invalid':
                                  !Form_AddStore.controls['EmailAddress'].valid &&
                                  Form_AddStore.controls['EmailAddress'].touched
                              }" />
                </div>
                <label class="text-danger" for="EmailAddress" *ngIf="
                              Form_AddStore.controls['EmailAddress'].hasError('required') &&
                              Form_AddStore.controls['EmailAddress'].touched
                            ">{{
                  "System.Users.EmailAddress_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="EmailAddress" *ngIf="
                              Form_AddStore.controls['EmailAddress'].touched &&
                              !Form_AddStore.controls['EmailAddress'].valid && 
                              !Form_AddStore.controls['EmailAddress'].hasError('required')
                            ">Enter valid email Address</label>
              </div>
              <div class="form-group">
                <label>{{ "System.Users.ContactNumber" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                  </div>
                  <input type="text" name="ContactNumber" maxlength="14" class="form-control"
                    placeholder="Contact Number" (keypress)="_HelperService.PreventText($event)"
                    [formControl]="Form_AddStore.controls['ContactNumber']" [ngClass]="{
                              'is-invalid':
                                !Form_AddStore.controls['ContactNumber'].valid &&
                                Form_AddStore.controls['ContactNumber'].touched
                            }" />
                </div>
                <label class="text-danger" for="ContactNumber" *ngIf="
                            Form_AddStore.controls['ContactNumber'].hasError('required') &&
                            Form_AddStore.controls['ContactNumber'].touched
                          ">{{
                  "System.Users.ContactNumber_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="ContactNumber" *ngIf="
                            Form_AddStore.controls['ContactNumber'].hasError(
                              'minlength'
                            ) ||
                            Form_AddStore.controls['ContactNumber'].hasError('maxlength')
                          ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
              </div>
              <!-- <div class="form-group">
                <label> Store Manager First Name<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="FirstName" maxlength="128" class="form-control" placeholder="First Name"
                    [formControl]="Form_AddStore.controls['FirstName']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['FirstName'].valid &&
                                    Form_AddStore.controls['FirstName'].touched
                                }" />
                </div>
                <label class="text-danger" for="FirstName" *ngIf="
                                Form_AddStore.controls['FirstName'].hasError('required') &&
                                Form_AddStore.controls['FirstName'].touched
                              ">Enter first name</label>
                <label class="text-danger" for="FirstName" *ngIf="
                                Form_AddStore.controls['FirstName'].hasError(
                                  'minlength'
                                ) ||
                                Form_AddStore.controls['FirstName'].hasError('maxlength')
                              ">First name must be between 2 - 128 characters</label>
              <label class="text-danger" for="FirstName" *ngIf="
                                Form_AddStore.controls['FirstName'].hasError('pattern') 
                                && !Form_AddStore.controls['FirstName'].hasError('minlength')">Only characters are allowed</label>
              </div>
              <div class="form-group">
                <label>Store Manager Last Name<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="LastName" maxlength="128" class="form-control" placeholder="Last Name"
                    [formControl]="Form_AddStore.controls['LastName']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['LastName'].valid &&
                                    Form_AddStore.controls['LastName'].touched
                                }" />
                </div>
                <label class="text-danger" for="LastName" *ngIf="
                                Form_AddStore.controls['LastName'].hasError('required') &&
                                Form_AddStore.controls['LastName'].touched
                              ">Enter Last name</label>
                <label class="text-danger" for="LastName" *ngIf="
                                Form_AddStore.controls['LastName'].hasError(
                                  'minlength'
                                ) ||
                                Form_AddStore.controls['LastName'].hasError('maxlength')
                              ">Last name must be between 2 - 128 characters</label>
                <label class="text-danger" for="LastName" *ngIf="
                              Form_AddStore.controls['LastName'].hasError('pattern') 
                              && !Form_AddStore.controls['LastName'].hasError('minlength')">Only characters are allowed</label>
              </div> -->
              <div class="form-group" *ngIf="!ShowManager">
                <label>Store Manager<span class="text-danger"></span>
                </label>
                <div class="controls">
                    <span class="input-group-text">Select Store Manager</span>
                </div>
            </div>
            <div class="form-group" *ngIf="ShowManager">
                <label>Store Manager<span class="text-danger"></span>
                </label>
                <select2 class="full-width" [value]="SelectedStoreManager"
                    [data]="StoreManager_Data" [options]="S2StoreManager_Option"
                    (valueChanged)="StoreManagerSelected($event)">
                </select2>
            </div>
              <div class="form-group">
                <label>Store Manager's Email Id<span class="text-danger"></span>
                </label>
                <div class="controls">
                  <input type="text" name="MEmailAddress" maxlength="128" class="form-control" placeholder="Email"
                    [formControl]="Form_AddStore.controls['MEmailAddress']" [ngClass]="{
                                'is-invalid':
                                  !Form_AddStore.controls['MEmailAddress'].valid &&
                                  Form_AddStore.controls['MEmailAddress'].touched
                              }"  disabled/>
                </div>
                <label class="text-danger" for="MEmailAddress" *ngIf="
                              Form_AddStore.controls['MEmailAddress'].hasError('required') &&
                              Form_AddStore.controls['MEmailAddress'].touched
                            ">{{
                  "System.Users.EmailAddress_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="MEmailAddress" *ngIf="
                              Form_AddStore.controls['MEmailAddress'].touched &&
                              !Form_AddStore.controls['MEmailAddress'].valid && 
                              !Form_AddStore.controls['MEmailAddress'].hasError('required')
                            ">Enter valid email Address</label>
              </div>
              <div class="form-group">
                <label> Store Manager's Phone Number <span class="text-danger"></span>
                </label>
                <div class="controls input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                  </div>
                  <input type="text" name="MobileNumber" maxlength="14" class="form-control" placeholder="Phone Number"
                    (keypress)="_HelperService.PreventText($event)" disabled
                    [formControl]="Form_AddStore.controls['MobileNumber']" [ngClass]="{
                            'is-invalid':
                              !Form_AddStore.controls['MobileNumber'].valid &&
                              Form_AddStore.controls['MobileNumber'].touched
                          }" />
                </div>
                <label class="text-danger" for="MobileNumber" *ngIf="
                          Form_AddStore.controls['MobileNumber'].hasError('required') &&
                          Form_AddStore.controls['MobileNumber'].touched
                        ">{{
                  "System.Users.MobileNumber_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="MobileNumber" *ngIf="
                          Form_AddStore.controls['MobileNumber'].hasError(
                            'minlength'
                          ) ||
                          Form_AddStore.controls['MobileNumber'].hasError('maxlength')
                        ">{{ "System.Users.MobileNumber_ER_Length" | translate }}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Business Categories<span class="text-danger">*</span>
                </label>
                <select2 class="full-width" *ngIf="ShowCategorySelector"
                  [options]="_HelperService.Select2Options_Multiple" [value]="SelectedBusinessCategories"
                  [data]="S2BusinessCategories" (valueChanged)="CategoriesSelected($event)">
                </select2>

              </div>
              <!-- locm start address / city -->
              <!-- <h3 class="tx-medium tx-14">Business Location</h3> -->
              <hcx-addressmanager [cutomHeight]="mapheight" [data]="_Address" [config]="_AddressConfig" *ngIf="isData" (OnAddressSet)="AddressChange($event)">
              </hcx-addressmanager>
              <!-- locm end address / city -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddStore_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="button" id="btnReset" class="btn btn-primary float-right" (click)="_ShowGeneralPreview()"
            [disabled]="!Form_AddStore.valid || _HelperService.IsFormProcessing">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="_PreviewStore" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content" *ngIf="Form_AddStore">
      <div class="modal-header">
        <h5 class="modal-title mg-l-5">Please verify and add store </h5>
      </div>
      <div class="modal-body  p-y-20 pd-x-30">
        <div class="media bd-b pd-b-15" style="border-width: thin !important;">
          <!-- <div class="mg-r-10 mg-md-r-10">
            <img [src]="_HelperService._Icon_Cropper_Image" class="wd-40 wd-md-50 ht-40 ht-md-50 rounded-5" />
          </div> -->
          <div class="media-body">
            <h6 class="tx-16 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">{{Form_AddStore.controls['Name'].value}}
            </h6>
            <h4 class="tx-14 text-secondary mg-b-0">{{Form_AddStore.controls['MerchantName'].value}}</h4>
          </div>
        </div>
        <div class="row mg-t-30">
          <div class="col-md-4 text-secondary">Name</div>
          <div class="col-md-1 text-secondary">:</div>
          <div class="col-md-7">{{Form_AddStore.controls['Name'].value}}
          </div>
          <div class="col-md-4 text-secondary">Merchant</div>
          <div class="col-md-1 text-secondary">:</div>
          <div class="col-md-7">
            <div> {{Form_AddStore.controls['MerchantName'].value || "--"}}</div>

          </div>

          <div class="col-md-4 text-secondary">Email</div>
          <div class="col-md-1 text-secondary">:</div>
          <div class="col-md-7">
            <div> {{Form_AddStore.controls['EmailAddress'].value || "--"}}</div>

          </div>


          <div class="col-md-4 text-secondary">Contact Number</div>
          <div class="col-md-1 text-secondary">:</div>
          <div class="col-md-7">
            <div> {{Form_AddStore.controls['ContactNumber'].value || "--"}}</div>

          </div>

        </div>

        <!-- <div class="media text-danger mg-t-30">
          <div
            class="wd-40  ht-40  text-danger mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded"
            style="background-color: #F6CBCF !important;">
            <i data-feather="alert-triangle"></i>
          </div>
          <div class="media-body">
            <h6 class="text-danger tx-13 pd-t-5">Remember, once you add this store, you can't undo action or edit
              details, please make sure all details are appropriate.</h6>
          </div>
        </div> -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ "Common.Close" | translate }}
        </button>
        <button type="button" class="btn btn-primary mr-2" (click)="Form_AddStore_Process()">
          <span *ngIf="!_HelperService.IsFormProcessing">
            {{ "Common.Save" | translate }}
          </span>
          <span *ngIf="_HelperService.IsFormProcessing">
            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
            {{ "Common.PleaseWait" | translate }}...
          </span>
        </button>
      </div>
    </div>
  </div>
</div>



<!-- <div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div> -->




<!-- LOC M - Start -->
<!-- <div class="modal fade" id="ModalLocationManager" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width: 45%;height: 30%;">
    <div class="modal-content tx-14">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel4">Location Manager</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label>Locate Address<span class="text-danger">*</span>
              </label>
              <div class="controls">
                <input type="text" name="GAddress" maxlength="256" class="form-control" ngx-google-places-autocomplete
                  #places="ngx-places" [ngModel]="_DataHelperService._LocManager.MapAddress"
                  (onAddressChange)="_DataHelperService.LocManager_AddressChange($event)">
              </div>
            </div>
            <div class="agm">
              <agm-map style="height:320px;" [zoom]="12" [latitude]="_DataHelperService._LocManager.Latitude"
                [longitude]="_DataHelperService._LocManager.Longitude" [streetViewControl]="false">
                <agm-marker [latitude]="_DataHelperService._LocManager.Latitude"
                  [longitude]="_DataHelperService._LocManager.Longitude">
                </agm-marker>
              </agm-map>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group mt-3">
              <label>Detailed Address<span class="text-danger">*</span>
              </label>
              <div class="controls">
                <textarea name="Address" maxlength="256" placeholder="Address" class="form-control"
                  [(ngModel)]="_DataHelperService._LocManager.Address" rows="3"></textarea>
              </div>
            </div>
            <div class="form-group mt-3">
              <label>Country</label>
              <div class="controls">
                <span class="input-group-text">{{_HelperService.UserCountrycode}}</span>
              </div>
            </div>
            <div class="form-group" *ngIf="_DataHelperService._LocManager.ShowState">
              <label>State<span class="text-danger">*</span>
              </label>
              <select2 class="full-width" name="loc_manager_state" [value]="_DataHelperService._LocManager.StateId"
                [data]="_DataHelperService._LocManager_S2States_Data"
                (valueChanged)="_DataHelperService.Loc_Manager_StateSelected($event)">
              </select2>
            </div>
            <div class="form-group" *ngIf="_DataHelperService._LocManager.ShowCity">
              <label>City<span class="text-danger">*</span>
              </label>
              <select2 name="loc_manager_city" class="full-width" [value]="_DataHelperService._LocManager.CityId"
                [options]="_DataHelperService.Loc_Manager_City_Option"
                (valueChanged)="_DataHelperService.Loc_Manager_City_Change($event)">
              </select2>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary tx-13"
          (click)="_DataHelperService.Loc_Manager_SetAddress_Cancel()">Cancel</button>
        <button type="button" class="btn btn-primary tx-13" (click)="_DataHelperService.Loc_Manager_SetAddress()">Set
          Address</button>
      </div>
    </div>
  </div>
</div> -->
<!-- LOC M - END -->