<!-- acquirer--overview -->

<div class="shadow-none">

  <div class="row mg-b-20 mg-lg-b-12">
    <div class="col-9">

      <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-14">
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav> -->

      <h4 class="mg-b-0 tx-spacing--1"> Today's Overview - <span> {{TodayDate | date }} </span></h4>

    </div>

    <div class="col-3 d-flex align-items-center vertical-align-bottom">
      <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
        (valueChanged)="TUTr_Filter_Stores_Change($event)">
      </select2>
    </div>
  </div>
  <div class="card p-0 mg-b-10"
    *ngIf="(!_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled) && _AccountBalance.IsLoaded">
    <div class="row row-xs mg-b-10">
      <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12 ">
        <div class=" text-center">
          <div *ngIf="_ShowGauge"
            class="bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-r-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between"
            id="linear-gauge">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-sm-12 col-md-12 d-flex align-items-center">
        <div>
          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1"><span class=" text-sm "
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountBalance.Balance| number:
            "1.2-2" || '0.0'}}
          </h3>

          <div>
            Available Balance
          </div>
        </div>

      </div>
      <div class="col-lg-2 col-xl-2 col-sm-12 col-md-12 d-flex align-items-center">
        <button class="btn btn-primary" (click)="OpenPaymentOptions()"> Top-Up Account </button>
      </div>
    </div>
  </div>
  <div class="row row-xs mg-b-10">
    <div class="col-sm-6 col-lg-3 ">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">Sale amount</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
            <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            {{' '+(_AccountOverview.InvoiceAmount | number: "1.2-2" || "00")}}
          </h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->
        </div>
        <p class="tx-12 text-secondary mg-b-0 text-capitalize"> Total sale amount</p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">Transactions</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
            {{_AccountOverview.Transactions | number: "1.0-1" || "--"}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->
        </div>
        <p class="tx-12 text-secondary mg-b-0 text-capitalize"> Total number of transactions</p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">Customer visits</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1">
            {{_AccountOverview.Customers | number: "1.0-1" || "--"}} </h3>
        </div>
        <p class="tx-12 text-secondary mg-b-0 text-capitalize">Total number of all customers visits</p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">My Reward percentage</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1" *ngIf="RewardPerc != null">
            {{RewardPerc || "--" | number: "1.2-2"}}% </h3>
          <h3 class=" tx-danger tx-rubik  mg-b-8 mg-r-5 lh-1" *ngIf="RewardPerc == null">
            NA </h3>
        </div>
        <p class="tx-12 text-secondary mg-b-0"> Tap here to <a class="" (click)="Form_AddUser_Show()"
            class="text-primary cursor-pointer "> Change Reward Percentage</a></p>
      </div>
    </div><!-- col -->
  </div>

  <div class="row row-xs mg-b-10">
    <div class="col-lg-7 col-xl-7 col-sm-12 col-md-12">
      <div class="card" *ngIf="_Visits.HeigestSales.Hour != null">
        <div
          class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
          <div>
            <h6 class="mg-b-5 tx-14">Today’s Customers Hourly Visits</h6>
          </div>
          <!-- <div class="btn-group mg-t-20 mg-sm-t-0">
            <button class="btn btn-xs btn-white btn-uppercase">Day</button>
            <button class="btn btn-xs btn-white btn-uppercase">Week</button>
            <button class="btn btn-xs btn-white btn-uppercase active">Month</button>
          </div> -->
          <!-- btn-group -->
        </div><!-- card-header -->

        <div class="card-body pd-x-25 pd-t-0">
          <div class="row pd-b-15">
            <div class="col-sm-6">
              <h3 *ngIf='_Visits.HeigestSales' class="tx-normal tx-rubik tx-spacing--2 mg-b-5">
                {{_Visits.HeigestSales.HourAmPm}} -
                {{_Visits.HeigestSales.HourAmPmNext}}
              </h3>
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-5 text-success">Heavy Traffic
                hour</h6>
              <p class="mg-b-0 tx-12 tx-color-03">Rush hour of the day, <b class="tx-dark">
                  {{_Visits.HeigestSales.TotalCustomer||'0'}} </b> customer visited
              </p>
            </div><!-- col -->
            <div class="col-sm-6 mg-t-20 mg-sm-t-0">
              <h3 *ngIf='_Visits.LowestSales' class="tx-normal tx-rubik tx-spacing--2 mg-b-5">
                {{_Visits.LowestSales.HourAmPm}} -
                {{_Visits.LowestSales.HourAmPmNext}}
              </h3>
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-5 text-danger">Low Traffic Hour
              </h6>
              <p class="mg-b-0 tx-12 tx-color-03">Minimum rush time of the day, <b
                  class="tx-dark">{{_Visits.LowestSales.TotalCustomer||'0'}} </b>customers visited</p>
            </div><!-- col -->
          </div>
          <div class="row align-items-sm-end">
            <div class="col-lg-12 col-xl-12 ht-100p">
              <canvas *ngIf="showVisitsChart" class="chart-six" baseChart #DataPlot="base-chart"
                [datasets]="VisitslineChartData" [labels]="VisitslineChartLabels"
                [options]="_HelperService.ChartConfig.BarChart.Options" [colors]="lineChartColors"
                [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                [chartType]="_HelperService.ChartConfig.BarChart.Type">
              </canvas>
            </div>

          </div>
        </div><!-- card-body -->
      </div><!-- card -->
      <div class="card text-center  ht-100p" *ngIf="_Visits.HeigestSales.Hour == null">
        <div
          class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
          <h6 class="mg-b-5  tx-14">Today’s Customers Hourly Visits</h6>
        </div>
        <!-- <div class="card-body pd-x-25 pd-t-0 ">
          <img src="../../../../../assets/img/data_not_available.png" alt="">
          <h4 class="pd-t-10">No Transactions in this time frame.</h4>
          <div class="error-details ">No transactions took place during the time frame you selected !
          </div>
        </div> -->
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-calculator tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-secondary tx-regular tx-12 "> Seems Like you have </span><br>
                <span class="text-secondary tx-medium tx-14 ">No Customer visits today</span>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>

    <div class="col-lg-5 col-xl-5 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0 ">
      <div class="card ht-100p">
        <div
          class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
          <h5 class="mg-b-5 tx-14 ">Highlights of last 30 days <br>
          </h5>
        </div>
        <ul class="list-group list-group-flush tx-14">
          <li
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Customers}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
            class="list-group-item d-flex pd-sm-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <p class="mg-b-0">Total Customers</p>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1"> {{_AccountCustomerOverview.Total | number: "1.0-1" || "--"}}
                </h5>

                <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>
              </nav>
            </div>
          </li>
          <li
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Visits}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}} "
            class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <p class=" mg-b-0">Visit By New Customers</p>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0  lh-1">{{_AccountCustomerOverview.New | number: "1.0-1" || "--"}}
                </h5>

                <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>
              </nav>
            </div>
          </li>
          <li
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Visits}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
            class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <p class="mg-b-0">Visit By Loyal Customers</p>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1">{{_AccountCustomerOverview.Repeat | number: "1.0-1" || "--"}}
                </h5>

                <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>

              </nav>
            </div>
          </li>
          <li
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Visits}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
            class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <p class=" mg-b-0">Avg. Spending / Visit</p>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1"> <span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountCustomerOverview.AverageInvoiceAmount
                  || "0" | number: "1.0-1" }}
                </h5>

                <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>

              </nav>
            </div>
          </li>
          <li
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loyality.Visits}}/{{this._HelperService.AppConfig.ActiveMerchantReferenceKey}}/{{ this._HelperService.AppConfig.ActiveMerchantReferenceId}}"
            class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <p class=" mg-b-0">Avg. Visits / Customer</p>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <!-- <h6 class="mg-b-0 tx-rubik tx-normal  ">
                  {{_AccountCustomerOverview.AverageVisit || "0" | number: "1.0-1" }}</h6> -->
                <h5 class="tx-normal tx-rubik mg-b-0  lh-1">
                  {{_AccountCustomerOverview.AverageVisit || "0" | number: "1.0-1" }}</h5>

                <a class="nav-link d-none d-sm-block"> <i data-feather="chevron-right"></i> </a>

              </nav>
            </div>
          </li>

        </ul>

      </div><!-- card -->
    </div>
  </div>

  <div class="row row-xs d-flex justify-content-between mg-t-25">
    <h4 class="mg-b-0 pd-l-5 tx-spacing--1 d-flex align-items-center"> Recent Sales Performances</h4>
    <div> <button (click)="ViewMore()" class="btn btn-sm btn-outline-primary btn-uppercase pd-x-20"> View More </button>
    </div>
  </div>

  <div class="row row-xs mg-t-10">
    <div class="col-sm-12 col-lg-4">
      <div class="card">
        <div class="card-header text-center">
          <h4 class="tx-14 tx-uppercase tx-dark pb-0 mg-b-4"> Today </h4>
          <div class="tx-12 text-secondary"> Today’s sales trend compared with<br>

            <span class="tx-dark tx-bold">
              <a href="" class="" id="TodaySalesTrend_dropdown" data-toggle="dropdown" aria-haspopup="true"
                (click)="_HelperService.StopClickPropogation()" aria-expanded="false">{{lastdaytext}}
                <i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i>
              </a>

              <div class="dropdown-menu tx-13">
                <form class="wd-250  pd-15">
                  <!-- <a class="pd-x-0 dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                    (click)="CloseRowModal(0)"> -->
                  <a class="pd-x-15 dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} "
                    (click)="CloseRowModal(0)">
                    <span class=""> Same day, Last Week</span>
                  </a>
                  <!-- <a class="pd-x-0 dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                    (click)="CloseRowModal(1);ChooseDateModal('A')">
                    <span></span> Choose any Date
                  </a> -->
                  <a (click)="ShowHideCalendar(_HelperService.AppConfig.DatePickerTypes.hour)"
                    class="pd-x-15 dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} ">
                    <span class=""> Choose any Date</span>
                  </a>
                  <div class="form-group">
                    <div [hidden]='hideDailyPicker' id="dailydate"></div>
                  </div>
                </form>
              </div>
            </span>

          </div>
        </div>
        <div class="text-center mg-t-20">
          <div class="pb-0 mb-0 ">
            <h3 *ngIf="computeFlag(_Daily)==-1" class="tx-normal tx-rubik tx-spacing--2  text-danger mg-b-5">
              {{computePerc(_Daily)}}</h3>

            <h3 *ngIf="computeFlag(_Daily)==0" class="tx-normal tx-rubik tx-spacing--2  text-secondary mg-b-5">
              {{computePerc(_Daily)}}</h3>

            <h3 *ngIf="computeFlag(_Daily)==1" class="tx-normal tx-rubik tx-spacing--2  text-success mg-b-5">
              {{computePerc(_Daily)}}</h3>
            <h6 *ngIf="computeFlag(_Daily)==1" class="tx-14 tx-normal text-secondary    mg-b-0"><i
                class="fas fa-arrow-circle-up tx-16 tx-success mg-r-5"></i> Leading Compared To
              <span class="tx-14 tx-medium  tx-dark"> {{lastdaytext}} </span>
            </h6>
            <h6 *ngIf="computeFlag(_Daily)==0" class=" tx-14 tx-normal text-secondary    mg-b-0"><i
                style="height:18px!important; width: 18px !important;" data-feather="pause-circle"></i> Same As
              <span class="tx-14 tx-medium  tx-dark"> {{lastdaytext}}</span>
            </h6>
            <h6 *ngIf="computeFlag(_Daily)==-1" class="tx-14 tx-normal text-secondary   mg-b-0"><i
                class="fas fa-arrow-circle-down tx-16 tx-danger mg-r-5"></i>Lagging Compared To
              <span class="tx-14 tx-medium  tx-dark"> {{lastdaytext}} </span>
            </h6>
          </div>
        </div>
        <div class="d-flex justify-content-around mg-t-20">
          <div class="text-center">
            <span class="text-secondary tx-12 tx-uppercase pd-b-5"> Today </span>
            <div class="tx-rubik tx-dark tx-18"> <span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_Daily.ActualSalesAmount| number: "1.2-2" ||'0'}} </div>

          </div>
          <div class="text-center">
            <span class="text-secondary tx-12 tx-uppercase pd-b-5"> {{lastdaytext}} </span>
            <div class="tx-rubik tx-dark tx-18"> <span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_Daily.CompareSalesAmount | number: "1.2-2"||'0'}} </div>
          </div>


        </div>
        <div class="card-body pd-t-10">
          <canvas *ngIf="showDailyChart" class="" height="80px" baseChart #DataPlot="base-chart"
            [datasets]="DailylineChartData" [labels]="DailylineChartLabels"
            [options]="_HelperService.ChartConfig.LineChart.OptionsCompare"
            [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
            [chartType]="_HelperService.ChartConfig.LineChart.Type">
          </canvas>
        </div>
      </div>
    </div>


    <div class="col-sm-12 col-lg-4 mg-t-15  mg-lg-t-0">
      <div class="card">
        <div class="card-header text-center">
          <h4 class="tx-14 tx-uppercase tx-dark pb-0 mg-b-4"> Current week </h4>
          <div class="tx-12 text-secondary"> Current week sales trend compared with <br><span class="tx-dark tx-bold">
              <span class="tx-12">
                
                <!-- <a href="" class="" id="WeekSalesTrend_dropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false">{{lastweekCustom}}
                  <i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i>
                </a> -->

                <a href="" class="" id="WeekSalesTrend_dropdown" data-toggle="dropdown" aria-haspopup="true"
                (click)="_HelperService.StopClickPropogation()" aria-expanded="false">{{lastweektext}}
                <i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i>
              </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15">

                    <a class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} "
                      (click)="CloseRowModal(1)">
                      <span class="pd-r-10 "></span>Same week, Last Month
                    </a>
                    <a (click)="ShowHideCalendar(this._HelperService.AppConfig.DatePickerTypes.week)"
                      class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} ">
                      <span class="pd-r-10"></span> Choose any Week
                    </a>
                    <div class="form-group">
                      <div [hidden]="hideWeeklyPicker" id="weeklydate"></div>
                    </div>
                  </form>
                </div>
                <!-- <i style="height:18px!important; width: 18px !important;"
                  data-feather="chevron-down"></i>  -->
              </span>
            </span></div>
        </div>
        <div class="text-center mg-t-20">
          <div class="pb-0 mb-0 ">
            <h3 *ngIf="computeFlag(_Weekly)==1" class="tx-normal tx-rubik tx-spacing--2  text-success mg-b-5">
              {{computePerc(_Weekly)}}</h3>
            <h3 *ngIf="computeFlag(_Weekly)==0" class="tx-normal tx-rubik tx-spacing--2  text-secondary mg-b-5">
              {{computePerc(_Weekly)}}</h3>
            <h3 *ngIf="computeFlag(_Weekly)==-1" class="tx-normal tx-rubik tx-spacing--2  text-danger mg-b-5">
              {{computePerc(_Weekly)}}</h3>
            <h6 *ngIf="computeFlag(_Weekly)==1" class="tx-14 tx-normal text-secondary   mg-b-0"><i
                class="fas fa-arrow-circle-up tx-16 tx-success mg-r-5"></i>Leading Compared
              To <span class="tx-14 tx-medium  tx-dark">{{lastweektext}}</span> </h6>

            <h6 *ngIf="computeFlag(_Weekly)==0" class="tx-14 tx-normal text-secondary    mg-b-0"><i
                style="height:18px!important; width: 18px !important;" data-feather="pause-circle"></i> Same As
              <span class="tx-14 tx-medium  tx-dark">{{lastweektext}}</span>
            </h6>

            <h6 *ngIf="computeFlag(_Weekly)==-1" class="tx-14 tx-normal text-secondary    mg-b-0"><i
                class="fas fa-arrow-circle-down tx-16 tx-danger mg-r-5"></i>Lagging Compared
              To <span class="tx-14 tx-medium  tx-dark">{{lastweektext}} </span> </h6>
          </div>
        </div>
        <div class="d-flex justify-content-around mg-t-20">
          <div class="text-center">
            <span class="text-secondary tx-12 tx-uppercase pd-b-5"> Current Week </span>
            <div class="tx-rubik tx-dark tx-18"> <span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_Weekly.ActualSalesAmount | number: "1.2-2" ||'0'}} </div>

          </div>
          <div class="text-center">
            <span class="text-secondary tx-12 tx-uppercase pd-b-5"> {{lastweektext}} </span>
            <div class="tx-rubik tx-dark tx-18"> <span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_Weekly.CompareSalesAmount | number: "1.2-2"||'0'}} </div>
          </div>
        </div>
        <div class="card-body pd-t-10">
          <canvas *ngIf="showWeeklyChart" class="" height="80px" baseChart #DataPlot="base-chart"
            [datasets]="WeeklylineChartData" [labels]="WeeklylineChartLabels"
            [options]="_HelperService.ChartConfig.LineChart.OptionsCompare"
            [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
            [chartType]="_HelperService.ChartConfig.LineChart.Type">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 mg-t-15  mg-lg-t-0">
      <div class="card">
        <div class="card-header text-center">
          <h4 class="tx-14 tx-uppercase tx-dark pb-0 mg-b-4"> Current month</h4>
          <div class="tx-12 text-secondary"> Current month sales trend compared with <br> 
            <span class="tx-dark tx-bold">
              <span class="tx-12">
                <a href="" class="" id="MonthSalesTrend_dropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false">{{lastmonthtext}}
                  <i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i>
                </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15">
                    <a class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} "
                      (click)="CloseRowModal(2)">
                      <span class="pd-r-10"></span>Same month, Last Year
                    </a>
                    <a (click)="ShowHideCalendar(_HelperService.AppConfig.DatePickerTypes.month)"
                      class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} ">
                      <span class="pd-r-10"></span> Choose any Month
                    </a>
                    <div class="form-group">
                      <div [hidden]='hideMonthlyPicker' id="monthlydate"></div>
                    </div>
                  </form>
                </div>
              </span>
            </span>
          </div>
        </div>
        <div class="text-center mg-t-20">
          <div class="pb-0 mb-0 ">
            <h3 *ngIf="computeFlag(_Monthly)==1" class="tx-normal tx-rubik tx-spacing--2  text-success mg-b-5">
              {{computePerc(_Monthly)}}</h3>

            <h3 *ngIf="computeFlag(_Monthly)==0" class="tx-normal tx-rubik tx-spacing--2  text-secondary mg-b-5">
              {{computePerc(_Monthly)}}</h3>

            <h3 *ngIf="computeFlag(_Monthly)==-1" class="tx-normal tx-rubik tx-spacing--2  text-danger mg-b-5">
              {{computePerc(_Monthly)}}</h3>

            <h6 *ngIf="computeFlag(_Monthly)==1" class="tx-14 tx-normal text-secondary   mg-b-0"><i
                class="fas fa-arrow-circle-up tx-16 tx-success mg-r-5"></i> Leading Compared
              To <span class="tx-14 tx-medium  tx-dark"> {{lastmonthtext}} </span></h6>

            <h6 *ngIf="computeFlag(_Monthly)==0" class="tx-14 tx-normal text-secondary   mg-b-0"><i
                style="height:18px!important; width: 18px !important;" data-feather="pause-circle"></i> Same As
              <span class="tx-14 tx-medium  tx-dark"> {{lastmonthtext}} </span>
            </h6>

            <h6 *ngIf="computeFlag(_Monthly)==-1" class="tx-14 tx-normal text-secondary   mg-b-0"><i
                class="fas fa-arrow-circle-down tx-16 tx-danger mg-r-5"></i> Lagging Compared
              To <span class="tx-14 tx-medium  tx-dark"> {{lastmonthtext}} </span></h6>
          </div>
        </div>
        <div class="d-flex justify-content-around mg-t-20">
          <div class="text-center">
            <span class="text-secondary tx-12 tx-uppercase pd-b-5"> Current Month </span>
            <div class="tx-rubik tx-dark tx-18"> <span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_Monthly.ActualSalesAmount | number: "1.2-2"||'0'}} </div>

          </div>
          <div class="text-center">
            <span class="text-secondary tx-12 tx-uppercase pd-b-5"> {{lastmonthtext}} </span>
            <div class="tx-rubik tx-dark tx-18"> <span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_Monthly.CompareSalesAmount | number: "1.2-2"||'0'}} </div>
          </div>

        </div>
        <div class="card-body pd-t-10">
          <canvas *ngIf="showMonthlyChart" class="" height="80px" baseChart #DataPlot="base-chart"
            [datasets]="MonthlylineChartData" [labels]="MonthlybarChartLabels"
            [options]="_HelperService.ChartConfig.LineChart.OptionsCompare"
            [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
            [chartType]="_HelperService.ChartConfig.LineChart.Type">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div id="Form_Reward_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
      <div class="modal-content">
        <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
          <div class="modal-header">
            <h5 class="modal-title mg-l-15">Reward Percentage</h5>
          </div>
          <div class="modal-body  p-lg">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <span class="tx-14"> My Reward Percentage </span> <br>
                  <div class="tx-20  pd-y-10">
                    <h3 class=" tx-dark tx-rubik p-0 m-0  lh-1" *ngIf="RewardPerc != null">
                      {{RewardPerc || "--" | number: "1.2-2"}}% </h3>
                    <h3 class=" tx-danger tx-rubik  p-0 m-0 lh-1" *ngIf="RewardPerc == null">
                      NA </h3>
                  </div>
                  <div class="form-group">
                    <label class="tx-13 ">Change Reward Percentage<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                      <input type="text" placeholder="Reward Percentage" name="RewardPercentage" minlength="1"
                        maxlength="100" class="form-control"
                        [formControl]="Form_AddUser.controls['Value']"
                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Value'].valid && Form_AddUser.controls['Value'].touched}">
                    </div>
                    <label class="text-danger" for="RewardPercentage"
                      *ngIf="Form_AddUser.controls['Value'].hasError('required') && Form_AddUser.controls['Value'].touched">
                      Enter reward percentage
                    </label>
                    <label class="text-danger" for="RewardPercentage"
                      *ngIf="Form_AddUser.controls['Value'].hasError('min') || Form_AddUser.controls['Value'].hasError('max')">
                      Reward percentage must be between 0 to 100
                    </label>
                    <div class="tx-12 text-secondary mg-t-5">
                      This reward percentage amount will be set as rewards (on each purchase) to your customers
                    </div>
                  </div>
                  <div class="form-group">

                    <label class="tx-13 ">Comment<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                      <textarea name="Comment" minlength="2" maxlength="256"
                        placeholder="You can write reasons to change reward percentage,It will help you to maintain history"
                        class="form-control" rows="3" [formControl]="Form_AddUser.controls['Comment']"
                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Comment'].valid && Form_AddUser.controls['Comment'].touched}"></textarea>
                    </div>
                    <label class="text-danger" for="Comment"
                      *ngIf="Form_AddUser.controls['Comment'].hasError('required') && Form_AddUser.controls['Comment'].touched">
                      Enter comment
                    </label>

                  </div>
                </div>
              </div>


            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
              {{ "Common.Close" | translate }}
            </button>
            <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddUser.value.OperationType = 'new'"
              [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
              <span *ngIf="!_HelperService.IsFormProcessing">
                {{ "Common.Update" | translate }}
              </span>
              <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                {{ "Common.PleaseWait" | translate }}...
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="Form_DatePicker_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
      <div class="modal-content">
        <form action="" class="">
          <div class="modal-body  p-lg">
            <div class="form-group">
              <div class="form-group">
                <label>Date</label>

                <input *ngIf="DateTypeModal == 'A'" type="text" class="form-control  form-daterangepicker"
                  name="daterangeInput" daterangepicker [options]="DatePickerOptions"
                  (selected)="DailyDateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />

                <input *ngIf="DateTypeModal == 'B'" type="text" class="form-control  form-daterangepicker"
                  name="daterangeInput" daterangepicker [options]="DatePickerOptions"
                  (selected)="WeelyDateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />


                <input *ngIf="DateTypeModal == 'C'" type="text" class="form-control  form-daterangepicker"
                  name="daterangeInput" daterangepicker [options]="DatePickerOptions"
                  (selected)="MonthlyDateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div id="Form_TopUp_Content" class="modal fade" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Top-Up</h5>
        </div>
        <div class="modal-body  p-lg">

          <div class="mb-3 b-b pb-3">
            <!-- <h6 class="mg-b-5">Available Balance</h6>  -->
            <!-- <h5  *ngIf="TopUpHistoryList_Config.Data[0]"> <span class="text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>  {{_AccountBalance.Balnace}}  </h5>  -->

            <div class="mb-2">
              Enter Amount
            </div>
            <div class="input-group text-warn mb-3">
              <span class="input-group-prepend ">
                <span class="input-group-text text-warn"><span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> </span>
              </span>
              <input type="text" maxlength="7" class="form-control text-warn" placeholder="Amount to credit"
                (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_AccountBalanceCreditAmount">

              <div class="text-secondary mg-t-5">This amount will be credited in your wallet, you can further use it to
                give rewards to your customers.</div>
            </div>

            <div class="mb-2">
              Payment reference
            </div>
            <input type="text" maxlength="25" class="form-control text-warn" placeholder="Payment Reference"
              [(ngModel)]="PaymentReference">

          </div>
          <!-- <div>
                    <div class="text-center mb-2 text-uppercase text-xs _500">Direct Bank Transfer</div>
                    <div class="mb-2">After transfering amount email us at <span
                            class="text-primary">hello@thankucash.com</span> or <br>
                        call us on <span class="text-primary">+ 234 809 042 6105</span> with the payment reference
                        number</div>
                    <div class="mb-2">ACC Name : <span class="text-black">Connected Analytics Limited</span> </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="p-2 light r-1x b-a mb-2">
                                <div class="float-left pr-2">
                                    <img src="http://cdn.thankucash.com/2019/5/c9fdcacd17ca410ab1986a3637c653a1.png"
                                        width="36" height="36">
                                </div>
                                <div>
                                    <div class="text-xs">GT Bank</div>
                                    <div class="text-xs ">Acc. No. :<span class="text-black"> 0413463556</span> </div>
                                </div>
                            </div>
                            <div class="p-2 light r-1x b-a mb-2">
                                <div class="float-left pr-2">
                                    <img src="http://cdn.thankucash.com/2020/1/696e1639b2dd4db5bfd6b03b565331c5.png"
                                        width="36" height="36">
                                </div>
                                <div>
                                    <div class="text-xs">Zenith Bank</div>
                                    <div class="text-xs ">Acc. No. :<span class="text-black"> 1015752687</span> </div>
                                </div>
                            </div>
  
                        
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="p-2 light r-1x b-a mb-2">
                                <div class="float-left pr-2">
                                    <img src="http://cdn.thankucash.com/2019/7/c26886ade0fd4596a8d9feae22c924f0.png"
                                        width="36" height="36">
                                </div>
                                <div>
                                    <div class="text-xs">Sterling Bank</div>
                                    <div class="text-xs ">Acc. No. :<span class="text-black"> 0069091710</span> </div>
                                </div>
                            </div>
                            <div class="p-2 light r-1x b-a mb-2">
                                <div class="float-left pr-2">
                                    <img src="http://cdn.thankucash.com/2019/3/fceab7c366ec43cdbc085e4d1ab0516d.png"
                                        width="36" height="36">
                                </div>
                                <div>
                                    <div class="text-xs">Providus Bank</div>
                                    <div class="text-xs ">Acc. No. :<span class="text-black"> 1300213860</span> </div>
                                </div>
                            </div>
                      
                        </div>
                    </div>
  
  
  
                </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ "Common.Close" | translate }}
          </button>

          <button class="btn btn-success" (click)="CreditAmount()">Confirm</button>

        </div>


      </div>
    </div>
  </div>