<!-- acquirer--overview -->

<div class="card ">
  <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
   <div class="tx-medium">   All Downloads </div>
   


    <nav class="nav nav-with-icon tx-20 float-right">
      
      <a class="nav-link ml-2 RefreshColor cursor-pointer RefreshColorOne"
        (click)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>

    </nav>
  </div>
 
  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th class="" *ngIf="ColumnConfig[5].Value">
            Status
          </th>
          <th>
             Name
          </th>
          <th class="" *ngIf="ColumnConfig[1].Value">
            Request On
          </th>
          <th class="" *ngIf="ColumnConfig[2].Value">
            Available On
          </th>
        
          <th class="" *ngIf="ColumnConfig[3].Value">
            Download
          </th>
        
          <th class="d-flex">
            <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;"
              data-toggle="tooltip" title="Edit Your Column" (click)="OpenEditColModal()">
              <!-- <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i> -->
            </span>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="StoresList_RowSelected(TItem)"
          *ngFor="let TItem of StoresList_Config.Data  | paginate: { id: 'StoresList_Paginator',itemsPerPage: StoresList_Config.PageRecordLimit, currentPage: StoresList_Config.ActivePage,  totalItems: StoresList_Config.TotalRecords }">
          <!-- <td class="text-center" *ngIf="ColumnConfig[0].Value">
            <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span>
          </td> -->
          <td class="p-1 text-success" *ngIf="TItem.IconUrl != undefined">
            <i class="{{TItem.StatusI || ''}}"></i> Available
        </td>
        <td class="p-1 text-warning" *ngIf="TItem.IconUrl == undefined">
            <i class="{{TItem.StatusI || ''}}"></i> Preparing
        </td>
          <td>
            <div class="tx-14 tx-semibold ">{{TItem.Name  || "--"}}</div>

          </td>
          <td class="" *ngIf="ColumnConfig[1].Value">
            {{TItem.CreateDate | date:'dd-MM-yyyy' || "--"}}
          </td>
          <td class="" *ngIf="ColumnConfig[2].Value">
            <div class="tx-14 tx-verve">{{TItem.ModifyDate | date:'dd-MM-yyyy'  || "--"}}
            </div>
          

          </td>
       
        <td class="p-1" *ngIf="TItem.IconUrl != undefined">
            <a class="btn btn-outline b-warn text-warn btn-xs p-0"
                href="{{TItem.IconUrl}}" target="_blank">
                <i class="fas fa-download "></i> download
            </a>

        </td>
        <td class="p-1" *ngIf="TItem.IconUrl == undefined">
            <a class="btn btn-outline b-warn text-warn btn-xs p-0" readonly>
                <i class="fas fa-download "></i> download
            </a>
        </td>

    
        
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{StoresList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{StoresList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{StoresList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="StoresList_Config.PageRecordLimit"
        (ngModelChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="StoresList_Paginator" class="pagination pagination-space"
        (pageChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>
 