<!-- Customer--Deal--details -->


<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li>
    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
            Loans & repayments - All Repayments</a></li>
</ol>

<div class="card bd-b-0 pd-20 mt-3" style="padding-bottom: 2px;">
    <div class="row d-flex">
        <div class="col-md-9">
            <ul class="nav nav-line" id="myTab5" role="tablist" style="border-bottom: 0px !important;">
                <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                    <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loans.OverdueLoans}}"
                        aria-controls="Stores" aria-selected="false">
                        <!-- Overvdue -->
                        Overdue
                    </a>
                </li>
                <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                    <a class="nav-link" id="Terminal-tab5" [routerLinkActive]="['active']" data-toggle="tab" role="tab"
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Loans.PaidLoan}}"
                        aria-controls="Terminal" aria-selected="false">Paid</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <div [className]="_HelperService._Assets.Box.headerTitleRight"
                style="margin-left: auto; float: right; margin-top: -6px;">
                <button class="btn tx-12 btn-primary download-button" (click)=downloadReport()> <i
                        data-feather="file-text"></i> Download
                    Report</button>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>