<!-- <div class="card"> -->




  
<div class="row row-xs mg-b-10">
  <div class="col-lg-7 col-xl-7 col-sm-12 col-md-12">
    <div class="card ht-100p">
      <div
        class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
        <div>
          <h6 class="mg-b-5 tx-14">Weekly Customer Visits</h6>
        </div>

      </div>

      <div class="card-body pd-x-25 pd-t-0">
        <div class="row pd-b-15" >
          <div class="col-sm-6">
            <h3 *ngIf='_Visits.HeigestSales' class="tx-normal tx-rubik tx-spacing--2 mg-b-5">
              {{HeighestDay}}
            </h3>
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-5 text-success">Heavy Traffic
              Day</h6>
            <p class="mg-b-0 tx-12 tx-color-03">Rush day of the week, <b class="tx-dark">
                {{HeighestDayCustomer}} </b> customer visited
            </p>
          </div>
          <div class="col-sm-6 mg-t-20 mg-sm-t-0">
            <h3 *ngIf='_Visits.LowestSales' class="tx-normal tx-rubik tx-spacing--2 mg-b-5">
              {{LowestDay}}
            </h3>
            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-5 text-danger">Low Traffic Day
            </h6>
            <p class="mg-b-0 tx-12 tx-color-03">Minimum rush day of the week, <b class="tx-dark">{{LowestDayCustomer}}
              </b>customers visited</p>
          </div>
        </div>
        <div class="row ">
          <div style="
          display: block;
position: fixed;
z-index: 1031; /* High z-index so it is on top of the page */
top: 50%;
right: 50%; /* or: left: 50%; */
" *ngIf="LoadingChart" class="text-center m-auto text-muted" style="top: 50% !important; left: 50% !important;">
            <div class="spinner-border"></div>
          </div>
          <div class="col-lg-12 col-xl-12 ht-100p" *ngIf="this.VisitslineChartData[0].data.length != 0">

            <canvas *ngIf="showVisitsChart" baseChart #DataPlot="base-chart" [datasets]="VisitslineChartData"
              [labels]="WeeklylineChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options"
              [colors]="lineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>
          </div>

          <div class="col-lg-12 col-xl-12" *ngIf="!LoadingChart">
            <div class="col-lg-12 col-xl-12 ht-100p" *ngIf="this.VisitslineChartData[0].data.length == 0">
              <div style="height:200px" class="text-center m-auto  text-muted">
                <div>
                  <div>
                    <div
                      class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                      <img src="../../../../../assets/images/walk.svg" alt="">
                    </div>
                    <div class="pt-3">
                      <span class="text-dark tx-bold tx-14 "> No customer visited given in this timeframe </span><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-5 col-xl-5 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0 ">
    <div class="card ht-100p">
      <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
        <h5 class="mg-b-5 tx-14 ">Highlights of last 30 days <br>
        </h5>
      </div>
      <ul class="list-group list-group-flush tx-14">
        <li class="list-group-item d-flex pd-sm-x-20 pd-y-20 cursor-pointer tx-dark">
          <div class="pd-l-10">
            <p class="mg-b-0">Average Revenue / Customer</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <h5 class="tx-normal tx-rubik mg-b-0 lh-1"><span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{SalesOverview.AverageRevenue || "0"}}
              </h5>

              <!-- <a class="nav-link d-none d-sm-block text-secondary"><i data-feather="chevron-right"></i> </a> -->
            </nav>
          </div>
        </li>
        <li (click)="WalletCustomerRoute()" class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
          <div class="pd-l-10">
            <p class=" mg-b-0">Average Wallet Balance</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <h5 class="tx-normal tx-rubik mg-b-0  lh-1"><span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{SalesOverview.AverageWalletBalance ||
                "0"}}
              </h5>

              <a class="nav-link d-none d-sm-block text-secondary"><i data-feather="chevron-right"></i> </a>
            </nav>
          </div>
        </li>
        <li  (click)="CustomerRoute()" class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
          <div class="pd-l-10">
            <p class="mg-b-0">New Customers</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <h5 class="tx-normal tx-rubik mg-b-0 lh-1 text-primary">{{LoyalityOverview.ThisMonthNewCustomers || "0"}}
              </h5>

              <a class="nav-link d-none d-sm-block text-secondary"><i data-feather="chevron-right"></i> </a>

            </nav>
          </div>
        </li>
        <li  (click)="CustomerRoute()" class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
          <div class="pd-l-10">
            <p class=" mg-b-0">Lost Customers</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <h5 class="tx-normal tx-rubik mg-b-0 lh-1 text-danger"> {{LoyalityOverview.ThisMonthLostCustomers || "0"}}
              </h5>

              <a class="nav-link d-none d-sm-block text-secondary"><i data-feather="chevron-right"></i> </a>

            </nav>
          </div>
        </li>
        <li  (click)="CustomerRoute()" class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
          <div class="pd-l-10">
            <p class=" mg-b-0">Idle Customers</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">

              <h5 class="tx-normal tx-rubik mg-b-0  lh-1 tx-MasterCard">
                {{LoyalityOverview.ThisMonthIdleCustomers || "0"}}</h5>

              <a class="nav-link d-none d-sm-block text-secondary"> <i data-feather="chevron-right"></i> </a>

            </nav>
          </div>
        </li>

      </ul>

    </div>
  </div>
</div>